{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Application Withdraw-spec",
    "description": "The Loan Application Withdrawal API allows users to formally withdraw their loan applications. This endpoint serves financial institutions and borrowers who need to cancel or retract their loan requests for various reasons. By providing the necessary application ID, users can ensure that their application is removed from consideration efficiently. This API is essential for maintaining updated application statuses and can be integrated into client applications for seamless user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/withdraw": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Withdraw a loan application.",
        "description": "This endpoint allows users to withdraw a specific loan application identified by its unique reference number. Upon successful withdrawal, the application will be marked as withdrawn in the system, and any related processes will be halted.",
        "operationId": "createLoanApplicationWithdraw",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to withdraw a loan application identified by the unique application ID 'RES-100045'. The payload must contain the necessary information to process the withdrawal request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationWithdrawRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan application was successfully withdrawn.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationWithdrawResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationWithdrawRequest": {
        "title": "Loan Application Withdrawal Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "A code that describes the reason for the withdrawal.",
            "example": "CODE-456"
          },
          "reasonDescription": {
            "type": "string",
            "description": "A descriptive message explaining the reason for the withdrawal.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to withdraw a loan application.",
        "example": {
          "reasonCode": "CODE-456",
          "reasonDescription": "STANDARD",
          "requestContext": {
            "requestId": "0a53b6b6-a6ff-5636-8025-9dcd71b751b7",
            "correlationId": "82236302-23f6-5ab8-b720-dcc3d5d6af62",
            "idempotencyKey": "b70dbb5e-a0ba-5bc6-8e10-b52612f08ace",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-330330"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency_key_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "AppX"
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_123"
          }
        },
        "description": "Schema representing the details of the communication channel used."
      },
      "CreateLoanApplicationWithdrawResponse_200": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier of the loan product being applied for.",
            "example": "PROD-806014"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier related to the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application was submitted (e.g., online, in-branch).",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application (e.g., home improvement, debt consolidation).",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan's purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The amount of principal requested by the borrower.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested loan term in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer applying for the loan.",
            "example": "CUST-985183"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the application was submitted or is being processed.",
            "example": "CODE-141"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The marketing campaign code associated with this loan application.",
            "example": "CODE-398"
          },
          "customerConsent": {
            "description": "The customer's consent details for credit bureau, data processing, and marketing.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the loan application.",
            "example": "42259a43-e71d-0a34-f407-89f830d0a966"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned to the loan application.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application (e.g., pending, approved, withdrawn).",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier of the booked loan, if applicable.",
            "example": "LOAN-766153"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage of the application that has been completed.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements related to the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Requirement"
            }
          },
          "audit": {
            "description": "Audit information related to the loan application.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents a loan application response containing various details about the application.",
        "example": {
          "productId": "PROD-806014",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-985183",
          "branchCode": "CODE-141",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-398",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "42259a43-e71d-0a34-f407-89f830d0a966",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-766153",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c8f454c5-4486-5264-8514-39f83e4db173",
            "correlationId": "82236302-23f6-5ab8-b720-dcc3d5d6af62",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested loan amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money being requested as a loan.",
            "example": "10000"
          }
        },
        "description": "Represents the requested loan amount including currency and amount value."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to a credit bureau check.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to their data being processed.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to receive marketing communications.",
            "example": true
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when the customer provided their consent.",
            "example": "2023-10-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference identifier for the customer consent record.",
            "example": "consent001"
          }
        },
        "description": "Details regarding the customer's consent related to the loan application."
      },
      "Requirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the outstanding requirement.",
            "example": "req001"
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement.",
            "example": "Additional income documentation required."
          },
          "status": {
            "type": "string",
            "description": "The current status of the requirement (e.g., pending, fulfilled).",
            "example": "pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for fulfilling the outstanding requirement.",
            "example": "2023-10-10"
          }
        },
        "description": "Represents an outstanding requirement for the loan application."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan application was created.",
            "example": "2023-10-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the loan application.",
            "example": "user@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the loan application was last updated.",
            "example": "2023-10-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the loan application.",
            "example": "user@example.com"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan application.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information related to the audit trail of the loan application."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier of the response generated for the loan application.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking the processing of the loan application.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing of the loan application took place.",
            "example": "us-east"
          }
        },
        "description": "Metadata associated with the loan application response, including processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called to process the loan application withdrawal.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-withdraw-loan-application"
        },
        "example": "banking-loans-openapi-withdraw-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request for the loan application withdrawal.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication via a Bearer token using JSON Web Tokens (JWT). Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}