{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Open Banking By Param1-spec",
    "description": "The Open Banking Event Subscription Management API enables businesses to seamlessly update event subscription configurations in the Open Banking framework. By utilizing this API, users can modify existing subscriptions based on unique identifiers, streamlining their integration with third-party services. This is particularly useful for financial institutions and service providers that need to maintain compliance and adapt to changing regulatory requirements. Developers can use this API to ensure timely updates and manage notifications efficiently, enhancing the overall user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions/{param1}": {
      "put": {
        "tags": [
          "Event Subscription Management"
        ],
        "summary": "Update an event subscription.",
        "description": "This endpoint allows you to update the details of a specific event subscription identified by its unique resource ID. Ensure that you provide the necessary information in the request body to modify the subscription effectively.",
        "operationId": "replaceOpenBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the event subscription with the specified identifier. It requires a JSON payload that contains the properties needed to modify the subscription's settings or details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceOpenBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceOpenBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceOpenBankingByParam1Request": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains detailed information about the event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Holds the pagination links for navigating through the event subscriptions.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Metadata including pagination information.",
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating event subscriptions.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "a82cba23-88fd-5d44-9ee3-1359d61949ab",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "idempotencyKey": "8e43305a-d705-5228-a566-c8a65cf93228",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-837345"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "Unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL to which events will be sent.",
            "example": "string"
          },
          "Version": {
            "type": "string",
            "description": "Version of the event subscription configuration.",
            "example": "string"
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types the subscription is interested in.",
            "items": {
              "type": "string",
              "description": "An individual event type.",
              "example": "string"
            }
          }
        },
        "description": "Details of the event subscription."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page of results.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "string"
          }
        },
        "description": "Links for pagination."
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for event subscriptions.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for event subscriptions.",
            "example": "string"
          }
        },
        "description": "Metadata related to pagination."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique ID for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Details relating to the request context."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Webhook).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel from which the request originated."
      },
      "ReplaceOpenBankingByParam1Response_200": {
        "title": "Event Subscription Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscriptionId": {
                "type": "string",
                "description": "Unique identifier for the event subscription.",
                "example": "string"
              },
              "CallbackUrl": {
                "type": "string",
                "description": "The URL to which the events will be sent.",
                "example": "string"
              },
              "Version": {
                "type": "string",
                "description": "Version of the event subscription.",
                "example": "string"
              },
              "EventTypes": {
                "type": "array",
                "description": "List of event types that are subscribed to.",
                "example": [
                  "string"
                ],
                "items": {
                  "type": "string",
                  "description": "Type of event."
                }
              }
            },
            "description": "Details about the event subscription.",
            "example": {
              "EventSubscriptionId": "STANDARD",
              "CallbackUrl": "https://banking.northstar.example/callbacks/status",
              "Version": "STANDARD",
              "EventTypes": [
                "STANDARD"
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "URL to retrieve this specific resource.",
                "example": "string"
              },
              "First": {
                "type": "string",
                "description": "URL to the first page of results.",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "description": "URL to the previous page of results.",
                "example": "string"
              },
              "Next": {
                "type": "string",
                "description": "URL to the next page of results.",
                "example": "string"
              },
              "Last": {
                "type": "string",
                "description": "URL to the last page of results.",
                "example": "string"
              }
            },
            "description": "Links related to the event subscription response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available for the results.",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "First available date and time for subscriptions.",
                "example": "string"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Last available date and time for subscriptions.",
                "example": "string"
              }
            },
            "description": "Metadata regarding the response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to track the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata about the response.",
            "example": {
              "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
              "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response model for the event subscription operation.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-change-event-subscriptions-event-subscription-id"
        },
        "example": "events-api-change-event-subscriptions-event-subscription-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where a JSON Web Token (JWT) is transmitted in the authorization header to provide secure access to the API. Clients must include the JWT obtained from the authentication server in the 'Authorization' header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}