{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aisp Account Access Consent-spec",
    "description": "The AISP Account Access Consent API facilitates the creation of access consents for Account Information Service Providers (AISP). This endpoint allows for the initiation of consent requests, enabling consumers to grant third-party services access to their financial account information. Typical users of this API include financial institutions and third-party developers looking to enhance their applications with secure account aggregation features. By managing access consents, businesses can ensure compliance and enhance customer trust in data sharing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/account-access-consents": {
      "post": {
        "tags": [
          "Account Access Management"
        ],
        "summary": "Create a new account access consent.",
        "description": "This endpoint allows the creation of a new account access consent for the user. It includes all necessary parameters to ensure compliance with data protection regulations and proper user consent management.",
        "operationId": "createAispAccountAccessConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create account access consents. It must contain the necessary details required to grant access to account information in a secure manner.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAispAccountAccessConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successfully processed and a new resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAispAccountAccessConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAispAccountAccessConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/AccountAccessConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for account access consents operations.",
        "example": {
          "Data": {
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "e7dd2e7d-e079-5a83-b054-dbd81ef98a12",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "idempotencyKey": "13909b8c-d655-5afa-a942-c0c13004f861",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-638482"
            }
          }
        }
      },
      "AccountAccessConsentData": {
        "type": "object",
        "properties": {
          "Permissions": {
            "type": "array",
            "description": "A list of permissions requested for account access.",
            "items": {
              "type": "string",
              "example": "READ_ACCOUNTS"
            }
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The date and time when the consent expires in ISO 8601 format.",
            "example": "2023-10-01T00:00:00Z"
          },
          "TransactionFromDateTime": {
            "type": "string",
            "description": "The start date and time for the transaction history in ISO 8601 format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "TransactionToDateTime": {
            "type": "string",
            "description": "The end date and time for the transaction history in ISO 8601 format.",
            "example": "2023-12-31T23:59:59Z"
          }
        },
        "description": "Contains details about the account access consent data."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent requests.",
            "example": "ido-456789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "FrontendSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system that made the request.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request, including IDs and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAispAccountAccessConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/ConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the account access consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "7b2e0f14-10a5-520a-87c8-cf415d6bca9a",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of consent.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "string"
          },
          "Permissions": {
            "type": "array",
            "description": "List of permissions granted by the consent.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the consent expires.",
            "example": "string"
          },
          "TransactionFromDateTime": {
            "type": "string",
            "description": "Start date and time for the transactions covered by the consent.",
            "example": "string"
          },
          "TransactionToDateTime": {
            "type": "string",
            "description": "End date and time for the transactions covered by the consent.",
            "example": "string"
          }
        },
        "description": "Contains information about the consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code that represents the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason for the status.",
            "example": "string"
          }
        },
        "description": "Details of the status reason for the consent."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page.",
            "example": "string"
          }
        },
        "description": "Links for pagination of results."
      },
      "MetaData": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the first data became available.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the last data became available.",
            "example": "string"
          }
        },
        "description": "Metadata about the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata specific to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-create-account-access-consents"
        },
        "example": "accounts-api-create-account-access-consents"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that initiated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses Bearer tokens for authentication, specifically employing JSON Web Tokens (JWT). Clients must include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}