{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Param1-spec",
    "description": "This API provides access to trade banking information, specifically for retrieving details associated with a letter of credit. It allows users to obtain relevant data by specifying a unique parameter. Typical consumers include financial institutions and business clients involved in international trade, seeking to streamline transactions and manage trade finance effectively. Leveraging this API enhances the visibility of trade banking operations, enabling users to make informed decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/letter-of-credit/{param1}": {
      "get": {
        "tags": [
          "Trade Finance"
        ],
        "summary": "Retrieve a specific letter of credit.",
        "description": "This endpoint allows users to access detailed information about a specific letter of credit identified by its ID, enabling efficient handling and management of trade finance instruments.",
        "operationId": "getTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details of the letter of credit identified by RES-100045. This request is expected to contain necessary parameters to ensure accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested letter of credit details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to letter of credit in the trade banking context.",
        "example": "{}"
      },
      "GetTradeBankingByParam1Response_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-345465"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty in the transaction.",
            "example": "PARTY-963679"
          },
          "amount": {
            "description": "The monetary amount related to the letter of credit.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the letter of credit matures.",
            "example": "2026-09-15"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant requesting the letter of credit.",
            "example": "STANDARD"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Unique identifier for the beneficiary of the letter of credit.",
            "example": "STANDARD"
          },
          "expiryDate": {
            "type": "string",
            "description": "The date when the letter of credit expires.",
            "example": "2026-09-15"
          },
          "incoterm": {
            "type": "string",
            "description": "The incoterm associated with the letter of credit.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the letter of credit record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the letter of credit record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the letter of credit record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for querying a letter of credit operation.",
        "example": {
          "corporateCustomerId": "CUST-345465",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-963679",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "applicantId": "STANDARD",
          "beneficiaryId": "STANDARD",
          "expiryDate": "2026-09-15",
          "incoterm": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "455333b5-5f57-5d55-91d6-b06e80ee14c6",
            "correlationId": "3c5c9ffc-d62d-5ed6-ad8e-72c968f96c69",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency associated with a financial transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request/response correlation.",
            "example": "CORR-789456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request was handled.",
            "example": "US"
          }
        },
        "description": "Holds additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header specifies the unique identifier for the API endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "letter-of-credit-get-letter-of-credit"
        },
        "example": "letter-of-credit-get-letter-of-credit"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application runtime environment where the request was processed, providing context for diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients are required to include a token in the Authorization header when making requests to endpoints that are secured by this scheme.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}