{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Regulatory Compliance Status-spec",
    "description": "The Regulatory Compliance Status API allows organizations to assess their compliance with regulatory standards in the banking sector. By querying this API, users can retrieve the current compliance status and details regarding regulatory obligations. This API supports financial institutions, compliance officers, and auditors in monitoring and reporting compliance health. It is ideal for use in risk management, compliance audits, and regulatory reporting processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-compliance/status": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve regulatory compliance status.",
        "description": "This endpoint allows you to obtain the current status of regulatory compliance. It provides insights into the compliance standing and any necessary updates required to meet regulatory standards.",
        "operationId": "listRegulatoryComplianceStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the current status of regulatory compliance. It should contain appropriate parameters to filter the data based on specific compliance requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRegulatoryComplianceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning current regulatory compliance status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegulatoryComplianceStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListRegulatoryComplianceStatusRequest": {
        "type": "string",
        "description": "This schema represents the status of the regulatory compliance. It is expected to be a string value representing the current compliance status.",
        "example": "{}"
      },
      "ListRegulatoryComplianceStatusResponse_200": {
        "title": "Regulatory Compliance Status Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the compliance status is reported.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the compliance status.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The specific regulation that the compliance status pertains to.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for submission of compliance-related documents.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the compliance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the compliance status.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the compliance status was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-54321"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking the request.",
                "example": "corr-98765"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp for when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the request occurred.",
                "example": "US-West"
              }
            },
            "description": "Metadata associated with the compliance status response.",
            "example": {
              "responseId": "7371505d-482c-50e6-ab30-d5afe44d8fe8",
              "correlationId": "3a937add-20b4-59a5-ac40-dec4d44e7ca1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for the regulatory compliance status operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7371505d-482c-50e6-ab30-d5afe44d8fe8",
            "correlationId": "3a937add-20b4-59a5-ac40-dec4d44e7ca1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-compliance-get-regulatory-compliance"
        },
        "example": "regulatory-compliance-get-regulatory-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method to validate the user's identity through a JSON Web Token (JWT). The client must include the JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}