{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Trust Services Management API",
    "description": "The Corporate Trust Services Management API allows users to update and manage corporate trust account details effectively. This API facilitates operations such as modifying existing trust agreements, adjusting account parameters, and handling service requests. It is tailored for financial institutions and corporate entities that require robust trust service management capabilities. With this API, users can ensure compliance and maintain accurate records while streamlining their corporate trust operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/corporate-trust-services/{param1}": {
      "patch": {
        "tags": [
          "Corporate Trust Services"
        ],
        "summary": "Update Corporate Trust Service",
        "description": "This operation allows clients to update the details of a specific Corporate Trust Service identified by its resource ID. Make sure to provide the necessary fields in the request body to successfully update the service.",
        "operationId": "updateCorporateTrustServiceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating corporate trust services with the specified ID. It should contain the necessary fields to modify the existing resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateTrustServiceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateTrustServiceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateTrustServiceRes100045Request": {
        "title": "Corporate Trust Services PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing details about the changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The name or identifier of the individual requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object providing context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure for the PATCH request body specific to corporate trust service updates. It includes details about the changes being made, the reason for the changes, and the request context.",
        "example": {
          "changes": {
            "customerId": "CUST-983205",
            "serviceRequestId": "5fe3bdec-e795-5305-814b-61a78049f29c",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5140389d-e86a-5252-bdee-fd7bed5a3ce4",
            "correlationId": "2150ac47-aedb-50e9-8bea-950885d920b4",
            "idempotencyKey": "ed9c62b7-2c31-5976-a0bb-7cf8e6b51087",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-858803"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the changes.",
            "example": "CUST123456"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "REQ789012"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the requested changes.",
            "example": "PROD456"
          }
        },
        "description": "An object representing the details of the changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQID101112"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests across systems.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "IDEMP7891011"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that was used to make the request.",
            "example": "App B"
          },
          "channel": {
            "description": "An object representing the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object that includes metadata and relevant context for the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "CHNL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel used (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device from which the request was made.",
            "example": "DEV456"
          }
        },
        "description": "An object representing the details of the communication channel used in the request."
      },
      "UpdateCorporateTrustServiceRes100045Response_200": {
        "title": "Corporate Trust Services Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Corporate Trust Services operations, specifically for a successful PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c5e5bfe5-1f5a-5858-bc43-961b7f098003",
            "correlationId": "2150ac47-aedb-50e9-8bea-950885d920b4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request across different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context and tracking information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-trust-services-update-corporate-trust-services"
        },
        "example": "corporate-trust-services-update-corporate-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, aiding in identifying the service involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, allowing clients to authenticate by including a JSON Web Token (JWT) in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}