{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management It Systems Directions-v5-spec",
    "description": "The Banking IT Management Systems Direction API provides access to the systems direction information crucial for managing IT infrastructures within banking services. This API allows developers to retrieve comprehensive details about various IT management systems, including their specifications and operational guidelines. Typical consumers of this API include IT operations teams and system architects in financial institutions who need to ensure compliance and efficiency in their IT systems. By leveraging this API, organizations can enhance decision-making around IT investments and strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT Systems Direction",
        "description": "Fetches the strategic direction for IT systems, providing insights into current and future technologies and methodologies adopted by the organization.",
        "operationId": "listBankingItManagementItSystemsDirections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving IT systems direction details. It should conform to the specified JSON schema to ensure valid data is sent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementItSystemsDirectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the IT systems direction.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementItSystemsDirectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementItSystemsDirectionsRequest": {
        "type": "string",
        "description": "Represents the request body for the IT operations GET request in JSON format.",
        "example": "{}"
      },
      "ListBankingItManagementItSystemsDirectionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of policy objects.",
            "example": [
              {
                "policyId": "STANDARD",
                "title": "Banking operation completed",
                "ownerTeam": "STANDARD",
                "effectiveDate": "2026-09-15",
                "reviewDate": "2026-09-15",
                "applicability": [
                  "STANDARD"
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Policy"
            }
          },
          "pagination": {
            "description": "Pagination information for the result set.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the API response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the IT Systems Direction Operations GET request, containing a list of policies and pagination information.",
        "example": {
          "items": [
            {
              "policyId": "STANDARD",
              "title": "Banking operation completed",
              "ownerTeam": "STANDARD",
              "effectiveDate": "2026-09-15",
              "reviewDate": "2026-09-15",
              "applicability": [
                "STANDARD"
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5891ae38-5563-59ee-a8f4-600334978e42",
            "correlationId": "cfc72a3c-10b9-5079-be87-a53e516f16c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Policy": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Unique identifier for the policy."
          },
          "title": {
            "type": "string",
            "description": "Title of the policy."
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the policy."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the policy becomes effective."
          },
          "reviewDate": {
            "type": "string",
            "description": "Date when the policy is scheduled for review."
          },
          "applicability": {
            "type": "array",
            "description": "List of user roles to which the policy is applicable.",
            "items": {
              "type": "string",
              "description": "A user role that the policy applies to."
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the policy record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the policy."
          }
        },
        "description": "Schema representing a policy with its details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for a result set."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred."
          }
        },
        "description": "Schema containing metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-search-it-systems-direction"
        },
        "example": "it-systems-direction-search-it-systems-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication method. A valid JSON Web Token (JWT) must be provided in the Authorization header to authenticate with the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}