{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management It Systems Directions-spec",
    "description": "The IT Systems Direction Listing API provides access to a comprehensive list of IT systems directions used for effective IT management. This endpoint serves as a resource for stakeholders who require insights into the architectural direction of IT systems. Typical consumers include IT managers, system architects, and business analysts who utilize this information for decision-making and compliance purposes. By employing this API, users can efficiently retrieve detailed information on IT systems and their strategic directions within the organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT Systems Direction",
        "description": "This endpoint allows clients to retrieve the current direction and strategy of IT systems within the organization, providing insights into system performance, upgrades, and future planning.",
        "operationId": "listItManagementItSystemsDirections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving IT systems direction. Ensure that the JSON object complies with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementItSystemsDirectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the desired data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementItSystemsDirectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementItSystemsDirectionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the IT systems direction operations GET request.",
        "example": "{}"
      },
      "ListItManagementItSystemsDirectionsResponse_200": {
        "title": "IT Systems Direction Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of policy items.",
            "example": [
              {
                "policyId": "STANDARD",
                "title": "Banking operation completed",
                "ownerTeam": "STANDARD",
                "effectiveDate": "2026-09-15",
                "reviewDate": "2026-09-15",
                "applicability": [
                  "STANDARD"
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PolicyItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for IT systems direction operations.",
        "example": {
          "items": [
            {
              "policyId": "STANDARD",
              "title": "Banking operation completed",
              "ownerTeam": "STANDARD",
              "effectiveDate": "2026-09-15",
              "reviewDate": "2026-09-15",
              "applicability": [
                "STANDARD"
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5891ae38-5563-59ee-a8f4-600334978e42",
            "correlationId": "cfc72a3c-10b9-5079-be87-a53e516f16c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PolicyItem": {
        "title": "Policy Item",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Unique identifier for the policy.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the policy.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date the policy becomes effective.",
            "example": "string"
          },
          "reviewDate": {
            "type": "string",
            "description": "Date the policy is scheduled for review.",
            "example": "string"
          },
          "applicability": {
            "type": "array",
            "description": "List of applicable entities for the policy.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the policy record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the policy.",
            "example": "string"
          }
        },
        "description": "Represents a single policy item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Meta information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-search-it-systems-direction"
        },
        "example": "it-systems-direction-search-it-systems-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method where a JSON Web Token (JWT) is provided as a token to authenticate requests. Ensure the token is included in the 'Authorization' header as 'Bearer <token>'. This method allows secure transmission of user identity and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}