{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Financing Inquiry API",
    "description": "The Securities Financing Inquiry API allows users to retrieve detailed information regarding various securities financing transactions. This API is designed for financial institutions and investment firms looking to access real-time data on securities lending and borrowing. Users can query specific securities, view transaction histories, and obtain relevant metrics to inform their trading strategies. This API streamlines the monitoring process, enhancing decision-making and operational efficiency in treasury operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/securities-financing": {
      "get": {
        "tags": [
          "Securities Financing"
        ],
        "summary": "Retrieve securities financing information.",
        "description": "This endpoint provides detailed information regarding securities financing activities within the treasury. Users can query for specific data related to the securities financing segment, allowing for comprehensive analysis and reporting.",
        "operationId": "getSecuritiesFinancing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding treasury securities financing operations. It should contain the necessary parameters to properly filter and fetch relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecuritiesFinancingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the securities financing data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecuritiesFinancingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecuritiesFinancingRequest": {
        "type": "string",
        "description": "This schema represents the expected request body of the GET operation for the Securities Financing operations in the Treasury API.",
        "example": "{}"
      },
      "GetSecuritiesFinancingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial portfolio items.",
            "example": [
              {
                "portfolioId": "PORT-305002",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-749433",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialPortfolioItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on securities financing, containing an array of items related to financial portfolios.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-305002",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-749433",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5ab8464d-0db1-5843-beee-833f886a4538",
            "correlationId": "1a94c4e5-a955-5168-ab74-d302e0fed574",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialPortfolioItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio."
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved."
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial instrument."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update for the item."
          }
        },
        "description": "Represents an individual financial portfolio item."
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The notional amount value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the notional amount."
          }
        },
        "description": "Represents the notional amount of the financial instrument."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about pagination for the results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Metadata about the response received."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "stock-lending-and-repos-search-stock-lending-and-repos"
        },
        "example": "stock-lending-and-repos-search-stock-lending-and-repos"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime environment processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which involves using a bearer token typically encoded in JSON Web Token (JWT) format for authentication purposes. The client must include this token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}