{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Operations Status API",
    "description": "The Advanced Voice Services Operations Status API provides real-time insights into the status of various banking-related voice services. This endpoint allows consumers to monitor and assess the operational health and performance of advanced voice solutions. Typical use cases include financial institutions and services providers that need to ensure seamless service delivery and enhance customer experience. Developers can leverage this API to build applications that proactively respond to service availability and performance metrics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-operations/status": {
      "get": {
        "tags": [
          "Voice Services"
        ],
        "summary": "Retrieve the status of advanced voice services operations.",
        "description": "This endpoint allows you to get the current status of the advanced voice services operations specific to the channel. It provides insights into the operational state, helping you quickly assess the health and availability of the services.",
        "operationId": "getChannelSpecificAdvancedVoiceServicesOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of advanced voice services operations specific to a channel. Ensure that the JSON payload conforms to the defined schema for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificAdvancedVoiceServicesOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status of the advanced voice services operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificAdvancedVoiceServicesOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificAdvancedVoiceServicesOperationsStatusRequest": {
        "type": "string",
        "description": "A string representation of the advanced voice services operations status in a GET request body.",
        "example": "{}"
      },
      "GetChannelSpecificAdvancedVoiceServicesOperationsStatusResponse_200": {
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Identifier for the IVR flow associated with the voice service.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A supported language code.",
              "example": "en-US"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "Maximum number of concurrent calls that can be handled by the voice platform.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "The region code where the voice platform is deployed.",
            "example": "US-EAST-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current recording status of the voice service.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the voice platform software.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the status was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the status response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the status response for the advanced voice services operations.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62ea8ac4-5d76-5c6a-998c-0c5d09706914",
            "correlationId": "f1f959d4-600d-5a65-a7cf-25b0b2290972",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through the system.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata details for the status response.",
        "example": {
          "responseId": "response123",
          "correlationId": "correlation123",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "US"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
        },
        "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens. The token must be a valid JSON Web Token (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}