{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cancellation Management API",
    "description": "The Cancellation Management API facilitates the cancellation of pending QR payment requests within the microservice environment. This endpoint is designed for payment processing systems and financial applications that require dynamic control over transaction life cycles. Users can quickly cancel specific payment initiatives by providing the necessary identifiers. Typical consumers include developers integrating payment solutions in digital wallets and e-commerce platforms seeking efficient transaction management workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}/cancel": {
      "post": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Cancel a QR payment request.",
        "description": "This endpoint allows you to cancel a specific QR payment request identified by its unique ID. Make sure the payment request is in a cancellable state before making this request.",
        "operationId": "cancelQrPaymentRequestPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to cancel a QR payment request identified by the specified PAY-300045 identifier. It requires the appropriate data structure as defined in the schema to successfully process the cancellation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelQrPaymentRequestPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment request was successfully canceled.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelQrPaymentRequestPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelQrPaymentRequestPay300045Request": {
        "title": "Cancel Payment Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for cancellation.",
            "example": "CODE-564"
          },
          "reason": {
            "type": "string",
            "description": "Detailed reason for cancelling the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for cancelling a payment.",
        "example": {
          "reasonCode": "CODE-564",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "2cc02fb4-d93e-5510-94ab-6e60a26c5644",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "idempotencyKey": "adb89a37-6665-5f35-87c7-91b8eed3fd34",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-619282"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "idemp-key-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-456"
          }
        },
        "description": "Schema representing a channel through which the request was made."
      },
      "CancelQrPaymentRequestPay300045Response_200": {
        "title": "QR Payment Request Response",
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "275b7793-c03f-5fb9-8092-517e859703d4"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-269919"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Operational mode of the QR payment request.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Standard type for the payment request.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount for the QR payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order ID assigned by the merchant.",
            "example": "ORD-972187"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "The options available for tips during the payment.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload for the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL to the QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the QR payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the QR payment request is single-use.",
            "example": true
          },
          "paidAmount": {
            "description": "Amount that has been paid for the QR payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-539959"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration time of the QR payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the QR payment request.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the QR payment request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a QR payment request cancel operation.",
        "example": {
          "qrPaymentRequestId": "275b7793-c03f-5fb9-8092-517e859703d4",
          "merchantId": "MER-269919",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-972187",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-539959",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "ee34b2b9-9e5b-5297-8f06-b2208afa2dba",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency and value."
      },
      "TipOptions": {
        "title": "Tip Options",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Determines the mode of the tip options.",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed tip amounts available.",
            "example": [
              {
                "currency": "USD",
                "value": "5.00"
              },
              {
                "currency": "USD",
                "value": "10.00"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage tips available.",
            "example": [
              "10",
              "15",
              "20"
            ],
            "items": {
              "type": "string"
            }
          },
          "maximumTip": {
            "description": "Maximum allowed tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema that defines options available for tips."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the QR payment request was created.",
            "example": "2024-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the QR payment request.",
            "example": "user_1"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the QR payment request was last updated.",
            "example": "2024-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the QR payment request.",
            "example": "user_2"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the QR payment request.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information for the payment request."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the request and response.",
            "example": "correlation_789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2024-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata for the QR payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier of the endpoint processing the payment cancellation request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-qr-payment-request"
        },
        "example": "banking-p2m-openapi-cancel-qr-payment-request"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the payment cancellation operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, compliant with the JSON Web Token (JWT) standard. This format allows secure transmission of information between parties as a JSON object, which can be verified and trusted because it is digitally signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}