{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution Branding Retrieval API",
    "description": "The Institution Branding Retrieval API enables developers to access and retrieve branding information associated with specific institutions. This API is designed for integrating branding assets such as logos, color schemes, and theme settings into various applications. Typical consumers include web and mobile app developers looking to enhance their user interfaces by showcasing institution-specific branding. This API provides a streamlined way to obtain vital branding details for a given institution using its unique identifier.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/{institutionId}/branding": {
      "get": {
        "tags": [
          "Institution Branding"
        ],
        "summary": "Retrieve branding information for a specific institution.",
        "description": "This endpoint allows you to fetch the branding details associated with the institution identified by the given ID. It includes various branding assets like logos, color schemes, and promotional material.",
        "operationId": "getInstitutionBranding",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "Retrieve branding details for the specified institution. This request body contains the necessary parameters to fetch the branding information associated with institution RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionBrandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The branding information was retrieved successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionBrandingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionBrandingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the branding operation of an institution in the context of a GET request. It is expected to contain a JSON string payload.",
        "example": "{}"
      },
      "GetInstitutionBrandingResponse_200": {
        "type": "object",
        "properties": {
          "branding": {
            "description": "Information related to the branding of the institution.",
            "$ref": "#/components/schemas/Branding"
          },
          "metadata": {
            "description": "Metadata related to the response including identification and generation information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for branding operations, including branding information and metadata.",
        "example": {
          "branding": {
            "logo": "STANDARD",
            "alternateLogo": "STANDARD",
            "icon": "STANDARD",
            "primaryColor": "STANDARD",
            "tile": "STANDARD"
          },
          "metadata": {
            "responseId": "c866aec5-c041-521d-a095-f46660713755",
            "correlationId": "4da49586-1226-562b-ad6f-58673020cbb0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Branding": {
        "type": "object",
        "properties": {
          "logo": {
            "type": "string",
            "description": "URL or path to the branding logo.",
            "example": "https://example.com/logo.png"
          },
          "alternateLogo": {
            "type": "string",
            "description": "URL or path to an alternate branding logo.",
            "example": "https://example.com/alternate-logo.png"
          },
          "icon": {
            "type": "string",
            "description": "URL or path to the branding icon.",
            "example": "https://example.com/icon.png"
          },
          "primaryColor": {
            "type": "string",
            "description": "Primary color used in the branding represented as a hex code.",
            "example": "#FFFFFF"
          },
          "tile": {
            "type": "string",
            "description": "URL or path to the branding tile image.",
            "example": "https://example.com/tile.png"
          }
        },
        "description": "Schema representing the branding information of an institution."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests through the system.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institution-branding"
        },
        "example": "open-finance-api-get-institution-branding"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing the use of a JSON Web Token (JWT) to authenticate requests. Clients must include a valid JWT in the `Authorization` header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}