{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Development Initiatives API",
    "description": "The Business Development Initiatives API facilitates the creation and management of marketing initiatives within the banking sector. This API allows users to submit new initiatives that drive business growth and enhance customer engagement. Typical consumers include marketing teams and business development professionals aiming to streamline their project workflows. With robust support for managing initiative details, this API is essential for organizations looking to innovate their marketing strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/business-development/initiatives": {
      "post": {
        "tags": [
          "Marketing"
        ],
        "summary": "Create a new marketing business development initiative.",
        "description": "This endpoint allows users to create a new initiative aimed at enhancing business development strategies within the marketing department. It provides the necessary resources to define, launch, and track marketing initiatives effectively.",
        "operationId": "createMarketingBusinessDevelopmentInitiative",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new business development initiative within the marketing sector. Ensure that all required fields are filled out to successfully create the initiative.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketingBusinessDevelopmentInitiativeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new business development initiative.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketingBusinessDevelopmentInitiativeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketingBusinessDevelopmentInitiativeRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target audience segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels to be used for the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Identifier or name of a marketing channel.",
              "example": "social_media"
            }
          },
          "budget": {
            "description": "Budget details for the marketing campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date for the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date for the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "fd4111d4-e93c-550d-bd8b-b8ade1d18582",
            "correlationId": "c990f291-ee55-51f4-8c3e-14f3870eb0ed",
            "idempotencyKey": "f76124f2-a2d5-523a-82ad-d5978b4547a5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-184707"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount allocated for the campaign.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget is specified.",
            "example": "USD"
          }
        },
        "description": "Represents the budget allocated for a marketing campaign."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests across different systems.",
            "example": "corr_1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency for this request.",
            "example": "idempotency_key_5678"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated in ISO 8601 format.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "MarketingApp"
          },
          "channel": {
            "description": "Details about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The contextual information associated with the marketing request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for a communication channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., email, social media).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication channel.",
            "example": "device_123"
          }
        },
        "description": "Represents the details of a communication channel in the request context."
      },
      "CreateMarketingBusinessDevelopmentInitiativeResponse_201": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Unique identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-868739"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-abc"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "correlation-xyz"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing was executed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "f7e22392-13f0-5df4-b5e6-170277353bd0",
              "correlationId": "c990f291-ee55-51f4-8c3e-14f3870eb0ed",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of business development initiatives in the marketing operations.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-868739",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f7e22392-13f0-5df4-b5e6-170277353bd0",
            "correlationId": "c990f291-ee55-51f4-8c3e-14f3870eb0ed",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-development-develop-business-development"
        },
        "example": "business-development-develop-business-development"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. The client must include a valid JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}