{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Travel Expenses Management API",
    "description": "The Travel Expenses Management API provides access to detailed records of travel-related expenses submitted by employees. This API enables organizations to efficiently track and manage expenditures related to business travel, facilitating budget oversight and reporting. Common consumers include finance teams and HR departments seeking to streamline their expense reconciliation processes. With this API, users can retrieve data about employee travel expenses, helping to ensure compliance and accurate financial forecasting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses": {
      "get": {
        "tags": [
          "Travel Management"
        ],
        "summary": "Retrieve travel expenses",
        "description": "This operation allows users to fetch the travel expenses recorded in the human resource management system, enabling better financial oversight and management of employee travel costs.",
        "operationId": "getTravelExpenses",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve travel expenses for the Human Resource Management system. It should contain the necessary parameters to filter and fetch the desired travel expense data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTravelExpensesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of travel expenses data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTravelExpensesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTravelExpensesRequest": {
        "title": "Travel Expenses Request Body",
        "type": "string",
        "description": "This schema represents the JSON string format for the Travel Expenses request body in a GET operation within the Human Resource Management system.",
        "example": "{}"
      },
      "GetTravelExpensesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of travel expense records.",
            "example": [
              {
                "expenseReportId": "STANDARD",
                "employeeId": "EMP-445603",
                "tripPurpose": "STANDARD",
                "expensePeriod": {
                  "from": "2026-08-11",
                  "to": "2026-08-11"
                },
                "claimedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "costCenter": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TravelExpense"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving travel expenses.",
        "example": {
          "items": [
            {
              "expenseReportId": "STANDARD",
              "employeeId": "EMP-445603",
              "tripPurpose": "STANDARD",
              "expensePeriod": {
                "from": "2026-08-11",
                "to": "2026-08-11"
              },
              "claimedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "costCenter": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4f1fae06-d10f-5170-a29a-d5dbdc0901ea",
            "correlationId": "60f173e3-8bb1-59a4-8bb8-693f4887e935",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TravelExpense": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "EXP-12345"
          },
          "employeeId": {
            "type": "string",
            "description": "Identifier of the employee who claimed the expense.",
            "example": "EMP-67890"
          },
          "tripPurpose": {
            "type": "string",
            "description": "Purpose of the trip for which the expense was claimed.",
            "example": "Business meeting"
          },
          "expensePeriod": {
            "description": "The time period during which the expense was incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "The total amount claimed for the expense.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the expense.",
            "example": "Sales"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the expense record.",
            "example": "Approved"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a travel expense record."
      },
      "ExpensePeriod": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Start date of the expense period.",
            "example": "2023-09-01"
          },
          "to": {
            "type": "string",
            "description": "End date of the expense period.",
            "example": "2023-09-10"
          }
        },
        "description": "Schema representing the expense period."
      },
      "ClaimedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount claimed.",
            "example": 150.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the claimed amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount claimed for the expense."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "CORR-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-search-travel-and-expenses"
        },
        "example": "travel-and-expenses-search-travel-and-expenses"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}