{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Mortgage Application-spec",
    "description": "This API enables users to submit mortgage applications for customers, facilitating the loan approval process. The primary resource is the mortgage application, which includes necessary details about the customer and the property. This endpoint is typically utilized by banking applications and financial institutions that aim to streamline mortgage processing. By integrating this API, developers can enhance their systems to efficiently handle customer mortgage requests and improve user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/mortgage-applications": {
      "post": {
        "tags": [
          "Mortgage Applications"
        ],
        "summary": "Create a new mortgage application for a specific customer.",
        "description": "This endpoint allows you to initiate a new mortgage application for the customer identified by CUST-100045. Providing the necessary information in the request body will create a mortgage application associated with the customer's account.",
        "operationId": "createCustomerMortgageApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new mortgage application for the specified customer identified by CUST-100045. The application should include all necessary information to initiate the mortgage processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerMortgageApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A new mortgage application has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerMortgageApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerMortgageApplicationRequest": {
        "title": "Mortgage Application Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-581410"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the application.",
            "example": "ACC-742243"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the mortgage product being applied for.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the mortgage.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the mortgage term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of the repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "propertyId": {
            "type": "string",
            "description": "Unique identifier for the property being mortgaged.",
            "example": "STANDARD"
          },
          "propertyValue": {
            "description": "The current value of the property being mortgaged.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "The loan-to-value ratio expressed as a percentage.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a mortgage application.",
        "example": {
          "customerId": "CUST-581410",
          "accountId": "ACC-742243",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "propertyId": "STANDARD",
          "propertyValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "loanToValuePercent": 100.0,
          "requestContext": {
            "requestId": "32d132ad-b724-51e5-8874-a9a2760f30d5",
            "correlationId": "7976e004-e6fc-5f6f-841b-8bb7deb6bbbc",
            "idempotencyKey": "06b42056-812c-5167-a0e1-a53377b4d8fc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-702874"
            }
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the financial amount.",
            "example": 250000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing a financial amount with currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "CORR-987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is idempotent.",
            "example": "IDEMP-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MortgageApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., online, mobile).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "DEVICE-67890"
          }
        },
        "description": "Schema representing the channel from which the request originated."
      },
      "CreateCustomerMortgageApplicationResponse_201": {
        "title": "Mortgage Application Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-130819"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the mortgage application.",
            "example": "ACC-577388"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the mortgage product.",
            "example": "CHK-PREMIUM-US"
          },
          "propertyId": {
            "type": "string",
            "description": "Unique identifier for the property involved in the mortgage application.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to this application.",
            "example": "RES-359936"
          },
          "status": {
            "type": "string",
            "description": "Current status of the mortgage application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp representing when the application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-20231005-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracking the request across systems.",
                "example": "CORR-555888"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp representing when the metadata was generated.",
                "example": "2023-10-05T14:50:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the application was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the application.",
            "example": {
              "responseId": "dd54ccc9-41ab-573a-824c-035e64c5c5ed",
              "correlationId": "7976e004-e6fc-5f6f-841b-8bb7deb6bbbc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for a mortgage application request.",
        "example": {
          "customerId": "CUST-130819",
          "accountId": "ACC-577388",
          "productCode": "CHK-PREMIUM-US",
          "propertyId": "STANDARD",
          "resourceId": "RES-359936",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "dd54ccc9-41ab-573a-824c-035e64c5c5ed",
            "correlationId": "7976e004-e6fc-5f6f-841b-8bb7deb6bbbc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-034"
        },
        "example": "WF-034"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c680f8c4-2c55-4cb9-a528-7f77d7896aea"
        },
        "example": "c680f8c4-2c55-4cb9-a528-7f77d7896aea"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0b56dab5-c236-4868-bf9d-ebaa95c34038"
        },
        "example": "0b56dab5-c236-4868-bf9d-ebaa95c34038"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was invoked during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-create-mortgage-loan"
        },
        "example": "mortgage-loan-create-mortgage-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that was executed for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-034"
        },
        "example": "WF-034"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is currently being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Loan Underwriting and Drawdown"
        },
        "example": "Corporate Loan Underwriting and Drawdown"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for tracking the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0b56dab5-c236-4868-bf9d-ebaa95c34038"
        },
        "example": "0b56dab5-c236-4868-bf9d-ebaa95c34038"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, where a JSON Web Token (JWT) is provided in the Authorization header of the request. The token should be included as 'Bearer {token}' in the header for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}