{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Interbank Relationship Management API",
    "description": "The Interbank Relationship Management API facilitates the management of interbank relationships, enabling seamless communication and transaction execution between financial institutions. This API allows users to create and manage external agency relationships, ensuring compliance and effective collaboration. Typically utilized by banks and financial service providers, it streamlines processes for onboarding and maintaining partnerships with external agencies. This enhances operational efficiency and supports the establishment of strategic alliances within the banking ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/interbank-relationship-management": {
      "post": {
        "tags": [
          "Interbank Relationship Management"
        ],
        "summary": "Create a new interbank relationship.",
        "description": "This endpoint allows you to establish a new interbank relationship for external agencies. It involves sending the necessary details to create and manage relationships effectively. Ensure all required information is included in your request.",
        "operationId": "createInterbankRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update interbank relationships through the external agency interface. It contains all necessary details required for the operation, including identification, parameters, and any relevant metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInterbankRelationshipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInterbankRelationshipResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInterbankRelationshipRequest": {
        "title": "Interbank Relationship Management Request Body",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement associated with the institution.",
            "example": "AGR-634009"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country of the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for managing interbank relationships operations.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-634009",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "8e0af0bc-a2d6-5fb4-b8ce-38c7a93f01ba",
            "correlationId": "21059cc5-452f-5a05-afac-92eb756bcbfc",
            "idempotencyKey": "952ea049-296d-53b2-bb6b-d574b67d62ba",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-826694"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, App, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used, if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateInterbankRelationshipResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement associated with the interbank relationship.",
            "example": "AGR-202890"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code of the institution.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with this operation.",
            "example": "RES-586456"
          },
          "status": {
            "type": "string",
            "description": "Current status of the relationship management operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the relationship was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object representing the details of an interbank relationship management operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-202890",
          "countryCode": "US",
          "resourceId": "RES-586456",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fa08d5ea-2556-593e-86bc-e9c1ccf49935",
            "correlationId": "21059cc5-452f-5a05-afac-92eb756bcbfc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "NA"
          }
        },
        "description": "Metadata object containing additional information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interbank-relationship-management-create-interbank-relationship-management"
        },
        "example": "interbank-relationship-management-create-interbank-relationship-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request, enabling tracking and management of processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-070"
        },
        "example": "WF-070"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Interbank Settlement and Reconciliation"
        },
        "example": "Interbank Settlement and Reconciliation"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "47df974d-ee82-4185-ba37-76a66d3d13d7"
        },
        "example": "47df974d-ee82-4185-ba37-76a66d3d13d7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) that allows secure access to resources. The client must include the JWT in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}