{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Internal Network Operations-spec",
    "description": "The Internal Network Operations API provides access to vital functionalities for managing and monitoring internal network operations within the banking sector. It allows users to retrieve comprehensive lists of ongoing and completed network operations, ensuring efficient oversight and control. This API is beneficial for IT management teams and network administrators who require detailed insights to maintain operational integrity and performance. Through efficient data access, the API supports the overall enhancement of internal IT services and infrastructure management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/internal-network-operation": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve internal network operation details.",
        "description": "This endpoint allows you to fetch detailed information regarding internal network operations within the IT management system. Utilize this endpoint to monitor, analyze, and manage your internal network processes efficiently.",
        "operationId": "listItManagementInternalNetworkOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body requires a JSON object that specifies parameters for the internal network operation. Ensure that the provided parameters comply with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementInternalNetworkOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementInternalNetworkOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementInternalNetworkOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the internal network operations.",
        "example": "{}"
      },
      "ListItManagementInternalNetworkOperationsResponse_200": {
        "title": "Internal Network Operation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of internal network operation items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InternalNetworkOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving internal network operations.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "06ef2692-2127-52d0-b8bd-eea7377920e4",
            "correlationId": "fb3a753b-cc2c-5798-8cb5-18db199fc2f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InternalNetworkOperationItem": {
        "title": "Internal Network Operation Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system involved in the operation."
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation is taking place (e.g., production, staging)."
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the operation."
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the operation."
          },
          "plannedAt": {
            "type": "string",
            "description": "Datetime when the operation is planned to occur."
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier associated with the operation."
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target percentage for service availability."
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the operation."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Datetime when the operation record was last updated."
          }
        },
        "description": "Detailed schema representing an individual internal network operation."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Datetime when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-network-operation-search-internal-network-operation"
        },
        "example": "internal-network-operation-search-internal-network-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate using a JSON Web Token (JWT). The token must be included in the Authorization header of the HTTP request to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}