{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Aggregation By Customer Id-spec",
    "description": "The Customer Aggregation Data API provides insights into customer-specific data aggregations. By utilizing this endpoint, users can retrieve detailed aggregation metrics associated with a particular customer identified by their unique ID. This functionality is essential for businesses to analyze customer behavior, streamline reporting, and enhance decision-making. Typical users include analysts, data scientists, and business intelligence professionals who require accurate and timely customer insights for their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer details by ID",
        "description": "This endpoint allows you to fetch the details of a specific customer using their unique customer ID. Make sure to provide a valid customer ID to receive the correct information.",
        "operationId": "getAggregationByCustomerId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to retrieve specific information about the customer identified by ID 'CUST-100045'. It allows users to request detailed data related to this customer, including any associated metadata or attributes relevant to the user's needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAggregationByCustomerIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully fetched the customer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAggregationByCustomerIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAggregationByCustomerIdRequest": {
        "type": "string",
        "description": "A request body that represents the operations to be performed on the customer with ID 'CUST-100045'. This string can be used for any relevant operation in the context of customer management.",
        "example": "{}"
      },
      "GetAggregationByCustomerIdResponse_200": {
        "title": "Customer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "Type of the customer account.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the customer account was created.",
            "example": "2026-09-15"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "Date when the customer account was last modified.",
            "example": "2026-09-15"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier for the application associated with the customer.",
            "example": "APP-413346"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-7890"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking.",
                "example": "CORR-4567"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-09-15T12:34:56Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the customer response.",
            "example": {
              "responseId": "e0e2cc4d-30c1-5dc9-abba-6455f146d223",
              "correlationId": "336e6c8e-e725-50b7-a984-c169d55bd47d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the details of a customer in the response of the GET operation.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "createdDate": "2026-09-15",
          "lastModifiedDate": "2026-09-15",
          "applicationId": "APP-413346",
          "metadata": {
            "responseId": "e0e2cc4d-30c1-5dc9-abba-6455f146d223",
            "correlationId": "336e6c8e-e725-50b7-a984-c169d55bd47d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer"
        },
        "example": "open-finance-api-get-customer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token should be provided in the 'Authorization' header in the format 'Bearer <token>'. The token type utilized is JSON Web Token (JWT), which allows for secure transmission of information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}