{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Internal Audits-spec",
    "description": "The Enterprise Service Internal Audit Retrieval API provides access to the historical records of internal audits conducted within the enterprise services. This API allows users to efficiently retrieve detailed information about specific audits, including findings and compliance status. Typical consumers include compliance officers and internal auditors who need to evaluate service performance and regulatory adherence. By leveraging this API, organizations can enhance transparency and accountability in their auditing processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/internal-audit": {
      "get": {
        "tags": [
          "Audit Management"
        ],
        "summary": "Retrieve Internal Audit Data",
        "description": "This endpoint allows users to fetch the details related to internal audits within the enterprise services framework. It provides comprehensive information necessary for auditing processes, ensuring compliance, and enhancing the overall understanding of audit outcomes.",
        "operationId": "listEnterpriseServiceInternalAudits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the internal audit details for enterprise services. It should include all necessary filters and parameters required for the audit data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceInternalAuditsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the audit data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceInternalAuditsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceInternalAuditsRequest": {
        "title": "Internal Audit Operations Request Body",
        "type": "string",
        "description": "Schema representing the request body for the Internal Audit Operations GET request in JSON format.",
        "example": "{}"
      },
      "ListEnterpriseServiceInternalAuditsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of audit engagement records.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AuditEngagement"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the internal audit operations GET request.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3ed5908e-38ad-5954-a905-f2c0a5701289",
            "correlationId": "0e1eaf36-136a-599f-82ae-94cbd221a6e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditEngagement": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the audit engagement."
          },
          "scope": {
            "type": "string",
            "description": "Scope of the audit engagement."
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the audit is conducted."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date for the engagement."
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the engagement."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the audit record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the engagement record."
          }
        },
        "description": "Schema representing an audit engagement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page (number of items per page).",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request-response flow."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-search-internal-audit"
        },
        "example": "internal-audit-search-internal-audit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization mechanism that uses a bearer token for authentication, adhering to JSON Web Token (JWT) standards. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}