{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Human Resource Management By Recruitment Id-spec",
    "description": "This API facilitates the retrieval of human resource management information associated with a specific recruitment ID. Users can access detailed insights regarding hiring processes, candidate evaluations, and staffing needs. It serves as a vital tool for HR professionals and recruitment teams to track and manage recruitment workflows efficiently. Typical use cases include querying recruitment data for reports or analysis, ensuring informed decision-making, and streamlining talent acquisition processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment/{recruitmentId}": {
      "get": {
        "tags": [
          "Recruitment"
        ],
        "summary": "Retrieve specific recruitment resource details.",
        "description": "This endpoint allows users to fetch detailed information about a specific recruitment resource using its unique identifier. It provides essential data relevant for managing recruitment processes and decision-making.",
        "operationId": "getHumanResourceManagementByRecruitmentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/recruitmentId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving recruitment details for a specific human resource management operation, identified by the unique RES-100045 reference. This body should conform to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHumanResourceManagementByRecruitmentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHumanResourceManagementByRecruitmentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHumanResourceManagementByRecruitmentIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request in the Human Resource Management Recruitment module.",
        "example": "{}"
      },
      "GetHumanResourceManagementByRecruitmentIdResponse_200": {
        "title": "Recruitment Response Schema",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the job requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "The title of the position being recruited for.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the requisition.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment for the position (e.g., Full-time, Part-time).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "The geographical location where the position is based.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "The anticipated start date for the position.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the requisition record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RES-98765"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier for tracking the request.",
                "example": "COR-45678"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-09-28T12:34:56Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "13fb5b8b-1cb5-5772-a28f-ee81433d3dd8",
              "correlationId": "bf030d22-9069-57fe-bfd2-6d714a568453",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for recruitment operations.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "13fb5b8b-1cb5-5772-a28f-ee81433d3dd8",
            "correlationId": "bf030d22-9069-57fe-bfd2-6d714a568453",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "recruitmentId": {
        "name": "recruitmentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This can be useful for tracking and logging the specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-get-recruitment"
        },
        "example": "recruitment-get-recruitment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This helps identify the source of the operation in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header. Clients must include a valid JWT token to authenticate requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}