{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Asset Directory API",
    "description": "The Party Asset Directory API provides access to a comprehensive catalog of assets associated with parties in the banking domain. This endpoint allows users to retrieve detailed information about specific assets by party identification. Typically utilized by financial institutions and asset managers, this API facilitates efficient asset management and auditing processes. By integrating this API, developers can streamline workflows involving asset tracking and reporting, enhancing transparency and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{param1}": {
      "get": {
        "tags": [
          "Collateral Administration"
        ],
        "summary": "Retrieve the asset directory for a specific party.",
        "description": "This endpoint allows you to fetch the asset directory associated with a specified party ID. It provides detailed information about the assets under that party, helping users understand their asset holdings and management.",
        "operationId": "getPartyAssetDirectoryByPartyId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the asset directory of the specified party. This includes necessary parameters and settings required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyAssetDirectoryByPartyIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the asset directory for the specified party.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyAssetDirectoryByPartyIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyAssetDirectoryByPartyIdRequest": {
        "type": "string",
        "description": "The request body for the party asset directory operations, which is expected to be a string containing relevant information.",
        "example": "{}"
      },
      "GetPartyAssetDirectoryByPartyIdResponse_200": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral item.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the asset.",
            "example": "PARTY-615232"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date of the asset valuation.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the asset.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the asset.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a specific collateral party asset directory operation.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-615232",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8736bb46-d010-5184-a49e-f85a544841bc",
            "correlationId": "504dc321-56ce-5a41-bde6-a3d99da770e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the asset in the specified currency.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the market value is expressed.",
            "example": "string"
          }
        },
        "description": "Schema for representing the market value of an asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema for additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-get-party-asset-directory"
        },
        "example": "party-asset-directory-get-party-asset-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT) to verify the identity of users. Clients should include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}