{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Customer Account Loandetails-v5-spec",
    "description": "MICROSERVICE-PROD-List Aggregation Customer Account Loandetails-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/loandetails": {
      "get": {
        "operationId": "listAggregationCustomerAccountLoandetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationCustomerAccountLoandetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationCustomerAccountLoandetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationCustomerAccountLoandetailsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListAggregationCustomerAccountLoandetailsResponse_200": {
        "type": "object",
        "properties": {
          "loanNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "loanPaymentNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "loanPaymentAddress": {
            "type": "string",
            "example": "STANDARD"
          },
          "accountDetail": {
            "type": "object",
            "properties": {
              "accountId": {
                "type": "string",
                "example": "string"
              },
              "accountNumber": {
                "type": "string",
                "example": "string"
              },
              "accountPaymentNumber": {
                "type": "string",
                "example": "string"
              },
              "accountPaymentAddress": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "accountFuturePayoffDate": {
                "type": "string",
                "example": "string"
              },
              "groupDetail": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string",
                      "example": "string"
                    },
                    "groupNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "groupPaymentNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "groupPaymentAddress": {
                      "type": "string",
                      "example": "string"
                    },
                    "groupFuturePayoffAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "groupFuturePayoffDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "groupLoanDetail": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string",
                            "example": "string"
                          },
                          "loanNumber": {
                            "type": "string",
                            "example": "string"
                          },
                          "loanPaymentNumber": {
                            "type": "string",
                            "example": "string"
                          },
                          "loanPaymentAddress": {
                            "type": "string",
                            "example": "string"
                          },
                          "loanFuturePayoffAmount": {
                            "type": "number",
                            "example": 0.0
                          },
                          "loanFuturePayoffDate": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    }
                  },
                  "example": "string"
                }
              },
              "loanDetail": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string",
                      "example": "string"
                    },
                    "loanNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "loanPaymentNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "loanPaymentAddress": {
                      "type": "string",
                      "example": "string"
                    },
                    "loanFuturePayoffAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "loanFuturePayoffDate": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "accountId": "ACC-103246",
              "accountNumber": "STANDARD",
              "accountPaymentNumber": "STANDARD",
              "accountPaymentAddress": "STANDARD",
              "amount": 100.0,
              "accountFuturePayoffDate": "2026-09-15",
              "groupDetail": [
                {
                  "accountId": "ACC-611579",
                  "groupNumber": "STANDARD",
                  "groupPaymentNumber": "STANDARD",
                  "groupPaymentAddress": "STANDARD",
                  "groupFuturePayoffAmount": 100.0,
                  "groupFuturePayoffDate": "2026-09-15",
                  "groupLoanDetail": [
                    {
                      "accountId": "ACC-579816",
                      "loanNumber": "STANDARD",
                      "loanPaymentNumber": "STANDARD",
                      "loanPaymentAddress": "STANDARD",
                      "loanFuturePayoffAmount": 100.0,
                      "loanFuturePayoffDate": "2026-09-15"
                    }
                  ]
                }
              ],
              "loanDetail": [
                {
                  "accountId": "ACC-157612",
                  "loanNumber": "STANDARD",
                  "loanPaymentNumber": "STANDARD",
                  "loanPaymentAddress": "STANDARD",
                  "loanFuturePayoffAmount": 100.0,
                  "loanFuturePayoffDate": "2026-09-15"
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "a4ca79c6-361f-54d3-be6c-62cb22e32e92",
              "correlationId": "55eb9240-0ff9-5fa7-9f30-da4bb5801ca3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "loanNumber": "STANDARD",
          "loanPaymentNumber": "STANDARD",
          "loanPaymentAddress": "STANDARD",
          "accountDetail": {
            "accountId": "ACC-103246",
            "accountNumber": "STANDARD",
            "accountPaymentNumber": "STANDARD",
            "accountPaymentAddress": "STANDARD",
            "amount": 100.0,
            "accountFuturePayoffDate": "2026-09-15",
            "groupDetail": [
              {
                "accountId": "ACC-611579",
                "groupNumber": "STANDARD",
                "groupPaymentNumber": "STANDARD",
                "groupPaymentAddress": "STANDARD",
                "groupFuturePayoffAmount": 100.0,
                "groupFuturePayoffDate": "2026-09-15",
                "groupLoanDetail": [
                  {
                    "accountId": "ACC-579816",
                    "loanNumber": "STANDARD",
                    "loanPaymentNumber": "STANDARD",
                    "loanPaymentAddress": "STANDARD",
                    "loanFuturePayoffAmount": 100.0,
                    "loanFuturePayoffDate": "2026-09-15"
                  }
                ]
              }
            ],
            "loanDetail": [
              {
                "accountId": "ACC-157612",
                "loanNumber": "STANDARD",
                "loanPaymentNumber": "STANDARD",
                "loanPaymentAddress": "STANDARD",
                "loanFuturePayoffAmount": 100.0,
                "loanFuturePayoffDate": "2026-09-15"
              }
            ]
          },
          "metadata": {
            "responseId": "a4ca79c6-361f-54d3-be6c-62cb22e32e92",
            "correlationId": "55eb9240-0ff9-5fa7-9f30-da4bb5801ca3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-loan-payment-details"
        },
        "example": "open-finance-api-get-loan-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}