{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Customer Behavior Models-spec",
    "description": "The Customer Behavior Models Retrieval API enables users to access a comprehensive list of customer behavior models utilized by the banking service. This operation allows developers to query and retrieve data that helps in understanding customer interactions and preferences. It is particularly useful for analytics and marketing teams who need insights into customer behavior for targeted campaigns. By leveraging this API, organizations can enhance their customer engagement strategies and improve decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/customer-behavior-models": {
      "get": {
        "tags": [
          "Customer Insights"
        ],
        "summary": "Retrieve a list of customer behavior models.",
        "description": "This endpoint allows you to fetch all available customer behavior models. It provides insights into customer patterns and preferences, helping businesses enhance their marketing strategies and improve customer engagement.",
        "operationId": "listModelCustomerBehaviorModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer behavior models in JSON format. It allows the client to specify criteria or parameters for the request, ensuring that the correct data is fetched according to the user's needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelCustomerBehaviorModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer behavior models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelCustomerBehaviorModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelCustomerBehaviorModelsRequest": {
        "type": "string",
        "description": "The request body for the customer behavior models GET operation in JSON format.",
        "example": "{}"
      },
      "ListModelCustomerBehaviorModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer behavior models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-873194",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerBehaviorModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the retrieved models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving customer behavior models.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-873194",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "043fbbac-0de5-5434-b43d-4369ac0e4441",
            "correlationId": "0d33ca26-0f68-5aba-9c05-31def2dbb823",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerBehaviorModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "model123"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "v1.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio the model belongs to.",
            "example": "portfolio456"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date the model is based upon.",
            "example": "2023-10-01"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario for which the model is relevant.",
            "example": "best case"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model's predictions.",
            "example": 0.95
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the model record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a customer behavior model."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "correlation012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Unique identifier for the endpoint being called.",
          "example": "customer-behavior-models-search-customer-behavior-models"
        },
        "example": "customer-behavior-models-search-customer-behavior-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Name of the application that processed the request.",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method where a JSON Web Token (JWT) is used to secure API access. Clients must include the token in the Authorization header for every request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}