{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Disbursement By Disbursement Id-v5-spec",
    "description": "This API enables users to retrieve detailed information regarding specific disbursements within the banking operational services framework. By providing a unique disbursement ID, consumers can access vital data related to funds disbursed, transaction timestamps, and associated account details. Typical users include financial institutions, developers integrating banking services, and business analysts seeking insights into disbursement history. This endpoint is fundamental for ensuring transparency and accountability in financial transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement/{disbursementId}": {
      "get": {
        "tags": [
          "Disbursement Management"
        ],
        "summary": "Retrieve disbursement details",
        "description": "Fetch the details for the disbursement identified by RES-100045. This endpoint provides all relevant information associated with the specified disbursement, allowing users to view its status, amount, and any related metadata.",
        "operationId": "getBankingOperationalServicesDisbursementByDisbursementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "description": "This request body is structured for the disbursement operation for resource ID RES-100045. It must contain the specific parameters expected for looking up or processing the disbursement details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesDisbursementByDisbursementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, returning the requested disbursement details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesDisbursementByDisbursementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesDisbursementByDisbursementIdRequest": {
        "title": "Disbursement Operations GET Request Body",
        "type": "string",
        "description": "This schema represents the request body structure for the Disbursement Operations GET API. It is a string type, typically representing JSON data required by the operation.",
        "example": "{}"
      },
      "GetBankingOperationalServicesDisbursementByDisbursementIdResponse_200": {
        "title": "Disbursement Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer related to the operation.",
            "example": "CUST-499222"
          },
          "accountId": {
            "type": "string",
            "description": "The identifier for the account linked to the operation.",
            "example": "ACC-790183"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level assigned to the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving operational disbursement details.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-499222",
          "accountId": "ACC-790183",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5016c934-dc5b-5853-abd9-ed81c07cc958",
            "correlationId": "b05b2806-1230-567a-9723-710915bcd2a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request through systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "This schema represents additional metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-get-disbursement"
        },
        "example": "disbursement-get-disbursement"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must provide a JSON Web Token (JWT) in the `Authorization` header to authenticate their requests. Ensure that the token is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}