{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loans Loan Repayment Schedules-v5-spec",
    "description": "MICROSERVICE-PROD-List Loans Loan Repayment Schedules-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules": {
      "get": {
        "operationId": "listLoansLoanRepaymentSchedules",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoansLoanRepaymentSchedulesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoansLoanRepaymentSchedulesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoansLoanRepaymentSchedulesRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListLoansLoanRepaymentSchedulesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "effectiveDate": "2026-09-15",
                "calculationMethod": "STANDARD",
                "reason": "STANDARD",
                "installments": [
                  {
                    "installmentNumber": 1,
                    "dueDate": "2026-09-15",
                    "openingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "principalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "interestDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "feesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "penaltiesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "totalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "amountPaid": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "closingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "status": "ACTIVE",
                    "paidAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "id": "87e26794-e939-162d-a387-ea6612b9408b",
                "status": "ACTIVE",
                "generatedAt": "2026-09-15T14:30:00Z",
                "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "effectiveDate": {
                  "type": "string",
                  "example": "string"
                },
                "calculationMethod": {
                  "type": "string",
                  "example": "string"
                },
                "reason": {
                  "type": "string",
                  "example": "string"
                },
                "installments": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "installmentNumber": {
                        "type": "integer",
                        "format": "int32",
                        "example": 0
                      },
                      "dueDate": {
                        "type": "string",
                        "example": "string"
                      },
                      "openingPrincipal": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "principalDue": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "interestDue": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "feesDue": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "penaltiesDue": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "totalDue": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "amountPaid": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "closingPrincipal": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "status": {
                        "type": "string",
                        "example": "string"
                      },
                      "paidAt": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "generatedAt": {
                  "type": "string",
                  "example": "string"
                },
                "supersedesScheduleId": {
                  "type": "string",
                  "example": "string"
                },
                "audit": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "createdBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b83e3432-e9fa-51f9-89d7-9d3f103b042d",
              "correlationId": "d688559a-c2d3-54ed-ae4c-f3c5990c7705",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "effectiveDate": "2026-09-15",
              "calculationMethod": "STANDARD",
              "reason": "STANDARD",
              "installments": [
                {
                  "installmentNumber": 1,
                  "dueDate": "2026-09-15",
                  "openingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "principalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interestDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "amountPaid": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "closingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "status": "ACTIVE",
                  "paidAt": "2026-08-11T12:00:00Z"
                }
              ],
              "id": "87e26794-e939-162d-a387-ea6612b9408b",
              "status": "ACTIVE",
              "generatedAt": "2026-09-15T14:30:00Z",
              "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b83e3432-e9fa-51f9-89d7-9d3f103b042d",
            "correlationId": "d688559a-c2d3-54ed-ae4c-f3c5990c7705",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-repayment-schedules"
        },
        "example": "banking-loans-openapi-list-repayment-schedules"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}