{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Facility Details API",
    "description": "The Credit Facility Details API allows users to access specific information about credit facilities associated with their banking services. This API enables financial institutions and consumers to retrieve detailed data regarding a particular credit facility, enhancing transparency and decision-making. Typical consumers include banking professionals, financial analysts, and customers seeking insights into their credit options. By providing structured information, this API supports informed financial planning and management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-facility/{param1}": {
      "get": {
        "tags": [
          "Credit Facility"
        ],
        "summary": "Retrieve details of a specific credit facility.",
        "description": "This endpoint allows you to fetch the detailed information regarding a specific credit facility identified by its unique resource identifier. You can use this to monitor and understand the terms and status of the credit facility.",
        "operationId": "getCreditFacilityDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about a specific credit facility. This should include all necessary parameters to identify the credit facility and to tailor the response based on the user's request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditFacilityDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the credit facility details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditFacilityDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditFacilityDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to credit facilities in trade banking.",
        "example": "{}"
      },
      "GetCreditFacilityDetailsResponse_200": {
        "title": "Credit Facility Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The identifier for the corporate customer.",
            "example": "CUST-936065"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the credit facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier for the counterparty involved in the credit facility.",
            "example": "PARTY-990010"
          },
          "amount": {
            "$ref": "#/components/schemas/CreditFacilityAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the credit facility in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the credit facility record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the credit facility record was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CreditFacilityMetadata"
          }
        },
        "description": "Response schema for a credit facility operation, containing details about the facility and associated metadata.",
        "example": {
          "corporateCustomerId": "CUST-936065",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-990010",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bda951db-65b7-5db7-9d20-d356f7089e1c",
            "correlationId": "712343c4-63bc-52ef-8f0a-c0ccfec5ca0a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditFacilityAmount": {
        "title": "Credit Facility Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the credit facility amount.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code in which the credit facility amount is denominated (e.g., 'USD').",
            "example": "USD"
          }
        },
        "description": "Represents the monetary value and currency of the credit facility."
      },
      "CreditFacilityMetadata": {
        "title": "Credit Facility Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the credit facility response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-facility-get-credit-facility"
        },
        "example": "credit-facility-get-credit-facility"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, where the client must include a JSON Web Token (JWT) in the Authorization header of their requests. The token must be a valid JWT format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}