{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Transactions-spec",
    "description": "The Account Transactions Retrieval API allows users to access detailed transaction histories for specific accounts associated with a customer. By providing a customer ID and account ID, clients can retrieve a comprehensive list of transactions, including date, amount, and transaction type. This API is particularly useful for financial institutions and customer service applications that require insight into customer spending or transaction behaviors. Typical consumers include banking applications and financial analysts seeking to analyze account activity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/transactions": {
      "get": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Retrieve transactions for a specific customer account.",
        "description": "This endpoint allows you to fetch all transactions associated with a particular customer account identified by the customer ID and account ID. Useful for auditing and tracking financial activities.",
        "operationId": "listAccountTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve transaction details for a specific account belonging to a customer. The provided account and customer identifiers help the API identify the correct data set to return.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the transaction details for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountTransactionsRequest": {
        "type": "string",
        "description": "The request body for fetching operations related to the specified transaction. This is a placeholder for the actual JSON structure that defines filter or criteria for the data retrieval.",
        "example": "{}"
      },
      "ListAccountTransactionsResponse_200": {
        "title": "Transactions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Total number of transactions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "Number of transactions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "string",
            "description": "Indicates if more transactions are available.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "string",
            "description": "Start date for the transaction query.",
            "example": "2026-09-15"
          },
          "toDate": {
            "type": "string",
            "description": "End date for the transaction query.",
            "example": "2026-09-15"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for transactions.",
            "example": "STANDARD"
          },
          "transactions": {
            "type": "array",
            "description": "List of transactions for the account.",
            "example": [
              {
                "id": 1,
                "amount": 100.0,
                "uniqueTransactionId": "TXN-803786",
                "accountId": 1,
                "customerId": 1,
                "status": "ACTIVE",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "type": "STANDARD",
                "transactionDate": 1,
                "postedDate": 1,
                "createdDate": 1,
                "firstEffectiveDate": 1,
                "effectiveDate": 1,
                "optionExpireDate": 1,
                "checkNum": "STANDARD",
                "escrowAmount": 100.0,
                "feeAmount": 100.0,
                "suspenseAmount": 100.0,
                "interestAmount": 100.0,
                "principalAmount": 100.0,
                "optionStrikePrice": 100.0,
                "unitQuantity": 100.0,
                "unitPrice": 100.0,
                "categorization": {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "category": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Meta-information about the response.",
            "example": {
              "responseId": "ab65e5dd-d35b-5220-adb8-fb83b187f011",
              "correlationId": "958d1c76-8ca3-5ccc-ba04-f2b2e06c82d1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving transactions associated with a customer account.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": "STANDARD",
          "fromDate": "2026-09-15",
          "toDate": "2026-09-15",
          "sort": "STANDARD",
          "transactions": [
            {
              "id": 1,
              "amount": 100.0,
              "uniqueTransactionId": "TXN-803786",
              "accountId": 1,
              "customerId": 1,
              "status": "ACTIVE",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "type": "STANDARD",
              "transactionDate": 1,
              "postedDate": 1,
              "createdDate": 1,
              "firstEffectiveDate": 1,
              "effectiveDate": 1,
              "optionExpireDate": 1,
              "checkNum": "STANDARD",
              "escrowAmount": 100.0,
              "feeAmount": 100.0,
              "suspenseAmount": 100.0,
              "interestAmount": 100.0,
              "principalAmount": 100.0,
              "optionStrikePrice": 100.0,
              "unitQuantity": 100.0,
              "unitPrice": 100.0,
              "categorization": {
                "normalizedPayeeName": "Northstar Banking Service",
                "category": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "ab65e5dd-d35b-5220-adb8-fb83b187f011",
            "correlationId": "958d1c76-8ca3-5ccc-ba04-f2b2e06c82d1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "title": "Transaction",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the transaction.",
            "format": "int32",
            "example": 0
          },
          "amount": {
            "type": "number",
            "description": "Total amount of the transaction.",
            "example": 0.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "description": "A unique identifier for the transaction.",
            "example": "string"
          },
          "accountId": {
            "type": "integer",
            "description": "ID of the account associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "customerId": {
            "type": "integer",
            "description": "ID of the customer associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the transaction.",
            "example": "string"
          },
          "memo": {
            "type": "string",
            "description": "Optional memo for the transaction.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the transaction (e.g. credit, debit).",
            "example": "string"
          },
          "transactionDate": {
            "type": "integer",
            "description": "Date when the transaction occurred.",
            "format": "int32",
            "example": 0
          },
          "postedDate": {
            "type": "integer",
            "description": "Date when the transaction was posted.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the transaction was created.",
            "format": "int32",
            "example": 0
          },
          "firstEffectiveDate": {
            "type": "integer",
            "description": "First effective date for the transaction.",
            "format": "int32",
            "example": 0
          },
          "effectiveDate": {
            "type": "integer",
            "description": "Effective date of the transaction.",
            "format": "int32",
            "example": 0
          },
          "optionExpireDate": {
            "type": "integer",
            "description": "Expiration date for any options related to the transaction.",
            "format": "int32",
            "example": 0
          },
          "checkNum": {
            "type": "string",
            "description": "Check number for the transaction, if applicable.",
            "example": "string"
          },
          "escrowAmount": {
            "type": "number",
            "description": "Amount held in escrow for the transaction.",
            "example": 0.0
          },
          "feeAmount": {
            "type": "number",
            "description": "Fees associated with the transaction.",
            "example": 0.0
          },
          "suspenseAmount": {
            "type": "number",
            "description": "Suspense amount related to the transaction.",
            "example": 0.0
          },
          "interestAmount": {
            "type": "number",
            "description": "Interest amount applied to the transaction.",
            "example": 0.0
          },
          "principalAmount": {
            "type": "number",
            "description": "Principal amount associated with the transaction.",
            "example": 0.0
          },
          "optionStrikePrice": {
            "type": "number",
            "description": "Strike price for any options related to the transaction.",
            "example": 0.0
          },
          "unitQuantity": {
            "type": "number",
            "description": "Quantity of units involved in the transaction.",
            "example": 0.0
          },
          "unitPrice": {
            "type": "number",
            "description": "Price per unit for the transaction.",
            "example": 0.0
          },
          "categorization": {
            "$ref": "#/components/schemas/Categorization"
          }
        },
        "description": "Schema representing a single transaction record."
      },
      "Categorization": {
        "title": "Categorization",
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "Normalized name of the payee involved in the transaction.",
            "example": "string"
          },
          "category": {
            "type": "string",
            "description": "Category assigned to the transaction.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City related to the transaction.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State related to the transaction.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code related to the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the categorization details of a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account-transactions"
        },
        "example": "open-finance-api-get-customer-account-transactions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that requires a Bearer token in the request. This uses JSON Web Tokens (JWT) for secure access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}