{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Credit Facilitys-spec",
    "description": "This API retrieves information about Trade Banking Credit Facilities, allowing users to access essential financial data. It is designed for clients seeking insights into their credit options and associated terms. Typical consumers include financial analysts and banking representatives who require up-to-date facility details for decision-making and reporting purposes. By leveraging this API, organizations can enhance their banking services and streamline credit facility management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-facility": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve credit facility details.",
        "description": "This endpoint allows you to fetch the details of a specific credit facility within the trade banking domain. Use this to verify existing facilities and their statuses.",
        "operationId": "listTradeBankingCreditFacilitys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving credit facility details in the trade banking context.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingCreditFacilitysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the credit facility information is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingCreditFacilitysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingCreditFacilitysRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to credit facilities in trade banking. It is expected to provide necessary parameters as a string formatted to the required structure.",
        "example": "{}"
      },
      "ListTradeBankingCreditFacilitysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of credit facilities.",
            "example": [
              {
                "corporateCustomerId": "CUST-768151",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-999218",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditFacility"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the list of credit facilities.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operations related to credit facilities.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-768151",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-999218",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ead61278-f5bd-5b8f-9697-468485e7fe9a",
            "correlationId": "a5e4191a-47e4-58c6-a560-e62e3f06447c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditFacility": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer."
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the credit facility."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the credit facility."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Schema representing a credit facility."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount."
          }
        },
        "description": "Schema representing an amount with its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata related to pagination of results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request, useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-facility-search-credit-facility"
        },
        "example": "credit-facility-search-credit-facility"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, enabling tracking of application-specific performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication mechanism where the client must include a JSON Web Token (JWT) in the HTTP Authorization header to authenticate requests. The token should be generated and provided by a trusted source.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}