{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Unit Trust Administration Market Operations API provides access to market data specific to unit trust operations using the designated parameter. This endpoint enables users to retrieve essential market operation details based on a specific identifier, streamlining the process of accessing targeted financial information. It is designed for financial institutions, investment brokers, and analysts who require precise market insights to inform their decision-making. Users can efficiently utilize this API to enhance their services and improve operational workflows related to unit trusts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/unit-trust-administration/{param1}": {
      "get": {
        "tags": [
          "Unit Trust Administration"
        ],
        "summary": "Retrieve unit trust administration details.",
        "description": "This endpoint allows you to fetch detailed information about a specific unit trust administration record identified by its unique identifier. You can use this to review the administration specifics for operational insight and decision-making.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving unit trust administration operations related to the specified resource. Please ensure all required fields are included in your request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully completed, and the requested data has been returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "type": "string",
        "description": "Request body for the GET operation in unit trust administration for market operations.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "title": "Unit Trust Administration Response",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "The unique identifier for the share class.",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the valuation is performed.",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "description": "Details about the net asset value of the fund.",
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The total number of units outstanding for the fund.",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "description": "The unique identifier for the administrator managing the fund.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the record being returned.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the GET operation on unit trust administration.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "deef0e8d-a79d-5c51-8084-50a71a2bca0f",
            "correlationId": "e7e9ed8c-f402-5c99-98af-765e9c9b24c9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the net asset value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the net asset value is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the net asset value of the fund, including amount and currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking requests.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-02T15:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "unit-trust-administration-get-unit-trust-administration"
        },
        "example": "unit-trust-administration-get-unit-trust-administration"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that executed the request, indicating where the response originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a bearer token for user identification and access control. The token is expected to be in JSON Web Token (JWT) format, which allows for secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}