{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Offer Accept-spec",
    "description": "The Accept Offer API allows users to formally accept a loan offer associated with a specific loan application. By utilizing this endpoint, financial institutions and partners can facilitate the acceptance process, ensuring that the associated terms and conditions are acknowledged. This API is typically used by loan officers, applicants, and financial service applications to streamline the loan acceptance workflow. It effectively manages the state change of an offer from pending to accepted, aiding in efficient transaction processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}/accept": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Accept a loan offer.",
        "description": "This operation allows the user to accept a specific loan offer associated with a loan application. Upon successful acceptance, the loan application status will be updated accordingly.",
        "operationId": "createOfferAccept",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "requestBody": {
          "description": "Accepts an offer for a specific loan application. The request body must include the appropriate details in the specified schema format for processing the acceptance of the loan offer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferAcceptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully accepted the loan offer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOfferAcceptResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOfferAcceptRequest": {
        "type": "object",
        "properties": {
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier for the customer who accepted the offer.",
            "example": "CUST-787376"
          },
          "acceptanceMethod": {
            "type": "string",
            "description": "Method used by the customer to accept the offer.",
            "example": "STANDARD"
          },
          "termsAccepted": {
            "type": "boolean",
            "description": "Indicates whether the customer accepted the terms.",
            "example": true
          },
          "signatureReference": {
            "type": "string",
            "description": "Reference to the customer's signature for acceptance.",
            "example": "STANDARD"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for accepting loan offers.",
        "example": {
          "acceptedByCustomerId": "CUST-787376",
          "acceptanceMethod": "STANDARD",
          "termsAccepted": true,
          "signatureReference": "STANDARD",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "3b2cfa7b-9d29-58ab-919a-50b6bd67bd6f",
            "correlationId": "975b11c9-f134-5f45-9be3-b8408f6985d0",
            "idempotencyKey": "419515c7-af45-52bb-abe7-19c372f27dd3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-118103"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests.",
            "example": "correlation-xzy12"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-fgihj"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to access the channel.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateOfferAcceptResponse_200": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The amount of principal approved for the loan offer.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate (APR) for the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount that the borrower would pay.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "originationFee": {
            "description": "The origination fee for processing the loan application.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "insurancePremium": {
            "description": "The premium for any insurance associated with the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Any conditions associated with the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Loan insurance is optional."
            }
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the loan offer.",
            "example": "d0f06011-6ad8-de3a-708e-db6abc103a28"
          },
          "offerNumber": {
            "type": "string",
            "description": "The number associated with the loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The date when the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The date when the loan offer was accepted by the customer.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The identifier of the customer who accepted the loan offer.",
            "example": "CUST-639480"
          },
          "audit": {
            "description": "Audit information related to the loan offer.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the loan offer.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents a loan offer with various details including terms, conditions, and financial amounts.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "d0f06011-6ad8-de3a-708e-db6abc103a28",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-639480",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c05a7568-c634-5936-a9a7-5351914f2ecb",
            "correlationId": "975b11c9-f134-5f45-9be3-b8408f6985d0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MonetaryAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "10000"
          }
        },
        "description": "Represents a monetary amount with its currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the specific condition.",
            "example": "COND123"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the condition.",
            "example": "Must provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "The deadline by which the condition must be met.",
            "example": "2023-02-01"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition.",
            "example": "Required"
          }
        },
        "description": "Represents a condition that must be satisfied as part of the loan offer."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date when the loan offer was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the loan offer.",
            "example": "USER001"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date when the loan offer was last updated.",
            "example": "2023-01-10T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the loan offer.",
            "example": "USER002"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit information about the loan offer, including creation and update details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response related to the loan offer.",
            "example": "RESPONSE123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing requests.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Contains additional metadata information related to the loan offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "offerId": {
        "name": "offerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the loan application request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-accept-loan-offer"
        },
        "example": "banking-loans-openapi-accept-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating the service or microservice responsible for processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT) to verify the identity of the user. The client must send the token in the Authorization header using the 'Bearer' schema.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}