{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking By Param1-spec",
    "description": "The Audit Findings Update API allows organizations to make changes to existing banking audit findings using specific parameters. This endpoint is critical for maintaining accurate records and ensuring compliance with banking regulations. Typical consumers of this API include auditors and compliance officers who need to update findings for internal reviews or audits. The service supports operations to modify records identified by a unique parameter, contributing to streamlined audit processes and improved data integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/audit-findings/{param1}": {
      "put": {
        "tags": [
          "Audit Management"
        ],
        "summary": "Update Audit Finding",
        "description": "This operation allows you to update the details of an existing audit finding identified by its unique resource ID. Make sure to provide the necessary information in the request body to complete the update process.",
        "operationId": "replaceBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the audit finding identified by the specified ID (RES-100045). It contains the necessary data in JSON format that reflects the changes to be applied. Ensure that all required fields are populated according to the schema. ",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingByParam1Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingByParam1Request": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the audit.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "Framework used for the audit.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "ID of the owner responsible for the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date for the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the engagement.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context data related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating audit findings.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "requestContext": {
            "requestId": "d6375450-3f3f-5b8e-98e3-7c0fbe1205b1",
            "correlationId": "3e1425e1-d5b4-5ae2-aa2a-b736232b8f96",
            "idempotencyKey": "a7e35228-3165-5687-be02-29e45eb4b09d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-893198"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests.",
            "example": "correlation-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "audit-app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for the request context containing metadata about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "device-67890"
          }
        },
        "description": "Schema for channel information pertaining to the request."
      },
      "ReplaceBankingByParam1Response_202": {
        "title": "Audit Findings Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference to the processing operation for tracking purposes.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the engagement processing.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the engagement.",
            "$ref": "#/components/schemas/AuditMetadata"
          }
        },
        "description": "This schema represents the response structure for audit findings after a successful PUT operation.",
        "example": {
          "engagementId": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c177e737-88d5-595b-a3f5-2873688cba64",
            "correlationId": "3e1425e1-d5b4-5ae2-aa2a-b736232b8f96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditMetadata": {
        "title": "Audit Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this specific response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "correlation-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information for the audit findings processing."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "66e93cd6-722b-4e9d-8bb8-509ee4c5922e"
        },
        "example": "66e93cd6-722b-4e9d-8bb8-509ee4c5922e"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "async-finalization"
        },
        "example": "async-finalization"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
        },
        "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-perform-internal-audit"
        },
        "example": "internal-audit-perform-internal-audit"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the audit finding.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Enterprise Strategy Architecture and Business Unit Planning"
        },
        "example": "Enterprise Strategy Architecture and Business Unit Planning"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow (e.g., InProgress, Completed, Failed).",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "COMPLETED"
        },
        "example": "COMPLETED"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
        },
        "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, which requires a valid JSON Web Token (JWT) for access control. Clients must include the token in the Authorization header of HTTP requests in order to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}