{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Customer Management Account Recovery By Account Recovery Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update Banking Customer Management Account Recovery By Account Recovery Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/account-recovery/{accountRecoveryId}": {
      "patch": {
        "operationId": "updateBankingCustomerManagementAccountRecoveryByAccountRecoveryId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountRecoveryId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingCustomerManagementAccountRecoveryByAccountRecoveryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingCustomerManagementAccountRecoveryByAccountRecoveryIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingCustomerManagementAccountRecoveryByAccountRecoveryIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "customerId": {
                "type": "string",
                "example": "string"
              },
              "partyId": {
                "type": "string",
                "example": "string"
              },
              "productCode": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "customerId": "CUST-548174",
              "partyId": "PARTY-911864",
              "productCode": "CHK-PREMIUM-US"
            }
          },
          "changeReason": {
            "type": "string",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "de6e5101-9039-5fb1-9bea-0d37c5acee48",
              "correlationId": "82b1065d-9647-57f6-b37d-a56ab7533145",
              "idempotencyKey": "5967e6a1-e965-56da-ae3b-15934ad12ac4",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-157787"
              }
            }
          }
        },
        "example": {
          "changes": {
            "customerId": "CUST-548174",
            "partyId": "PARTY-911864",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "de6e5101-9039-5fb1-9bea-0d37c5acee48",
            "correlationId": "82b1065d-9647-57f6-b37d-a56ab7533145",
            "idempotencyKey": "5967e6a1-e965-56da-ae3b-15934ad12ac4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-157787"
            }
          }
        }
      },
      "UpdateBankingCustomerManagementAccountRecoveryByAccountRecoveryIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "938eb10b-4f18-511d-84e4-8919fa258784",
              "correlationId": "82b1065d-9647-57f6-b37d-a56ab7533145",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "938eb10b-4f18-511d-84e4-8919fa258784",
            "correlationId": "82b1065d-9647-57f6-b37d-a56ab7533145",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountRecoveryId": {
        "name": "accountRecoveryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-recovery-update-account-recovery"
        },
        "example": "account-recovery-update-account-recovery"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}