{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Human Resource Management Human Resources Direction-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Human Resource Management Human Resources Direction-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/human-resources-direction": {
      "post": {
        "operationId": "createBankingHumanResourceManagementHumanResourcesDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingHumanResourceManagementHumanResourcesDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingHumanResourceManagementHumanResourcesDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingHumanResourceManagementHumanResourcesDirectionRequest": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "example": "EMP-423442"
          },
          "assignmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "12765e6b-ebaf-5f39-bbe0-bdbdc470733f",
              "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
              "idempotencyKey": "d0b30a0e-b784-5534-9c39-973040e064f2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-875461"
              }
            }
          }
        },
        "example": {
          "employeeId": "EMP-423442",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "requestContext": {
            "requestId": "12765e6b-ebaf-5f39-bbe0-bdbdc470733f",
            "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
            "idempotencyKey": "d0b30a0e-b784-5534-9c39-973040e064f2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-875461"
            }
          }
        }
      },
      "CreateBankingHumanResourceManagementHumanResourcesDirectionResponse_201": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "example": "EMP-899238"
          },
          "assignmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-736433"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "1e05f22b-6c49-51e6-afb8-090684c0d5ee",
              "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "employeeId": "EMP-899238",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-736433",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1e05f22b-6c49-51e6-afb8-090684c0d5ee",
            "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "human-resources-direction-create-human-resources-direction"
        },
        "example": "human-resources-direction-create-human-resources-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}