{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Terminal Operation API",
    "description": "The Card Terminal Operation API facilitates the management of card terminal operations in various banking channels. This endpoint allows users to retrieve information about specific card terminal functionalities, enabling seamless integration with point-of-sale systems. Common consumers include banking institutions, payment processors, and merchants seeking to enhance their transaction capabilities. By leveraging this API, developers can ensure efficiency and reliability in card processing operations across different environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-operation": {
      "get": {
        "tags": [
          "Card Terminal Operations"
        ],
        "summary": "Retrieve the card terminal operation details for a specific channel.",
        "description": "This endpoint allows developers to fetch detailed information about card terminal operations associated with a specific channel. It is useful for monitoring and managing terminal operations efficiently.",
        "operationId": "getCardTerminalOperation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific operations related to a card terminal within a specified channel. It is structured in JSON format and contains all necessary parameters to successfully execute the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTerminalOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the desired card terminal operation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTerminalOperationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTerminalOperationRequest": {
        "type": "string",
        "description": "This schema represents the body of the request specific to card terminal operations, utilized in the GET method. The expected input is a string that may contain JSON data related to the operation.",
        "example": "{}"
      },
      "GetCardTerminalOperationResponse_200": {
        "title": "Channel-Specific Card Terminal Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card terminal operations.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "terminalId": "STANDARD",
                "merchantId": "MER-646441",
                "terminalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardTerminalOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations related to channel-specific card terminals.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "terminalId": "STANDARD",
              "merchantId": "MER-646441",
              "terminalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e026e85e-e143-56da-870c-9c9ff19c21a9",
            "correlationId": "9d72e24d-8129-57cb-b562-5beac806ed41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardTerminalOperation": {
        "title": "Card Terminal Operation",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel associated with the terminal."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of operation."
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of operations that can be handled daily.",
            "format": "int32"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal."
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the terminal."
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record for the terminal."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Details of a specific card terminal operation."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens."
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes."
          }
        },
        "description": "Operating hours of the card terminal service."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about pagination for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-operation-search-card-terminal-operation"
        },
        "example": "card-terminal-operation-search-card-terminal-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a bearer authentication method. Clients must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}