{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Competitor Analysi Analyse-spec",
    "description": "This API endpoint enables businesses to submit detailed competitor analyses, helping organizations understand market trends and competitive positioning. By leveraging this service, users can share insights and data on their competitors, facilitating strategic decision-making. Typical consumers include business analysts and strategists looking to enhance their market intelligence. The insights gathered through these analyses play a crucial role in shaping marketing strategies and improving overall business performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/competitor-analysis/analyses": {
      "post": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Create a new competitor analysis.",
        "description": "This endpoint allows users to create a new competitor analysis report by providing the necessary details and parameters. It is designed to facilitate strategic decision-making by offering insights into competitors in the market.",
        "operationId": "createCompetitorAnalysiAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary details for creating a new competitor analysis within the business analysis framework. The information must be provided in the specified JSON format to ensure proper processing and storage. Please refer to the schema for the required fields and their formats.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompetitorAnalysiAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning analysis results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCompetitorAnalysiAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCompetitorAnalysiAnalyseRequest": {
        "title": "Competitor Analysis Request Body",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as a base for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Descriptive scenario for the analysis.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a competitor analysis operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "requestContext": {
            "requestId": "2f690250-e076-5372-bdc6-26b8a9a07a9b",
            "correlationId": "e199302a-96c3-51f8-af95-bbaa329ad10f",
            "idempotencyKey": "c6bd3a42-fdc3-5675-858e-0f004d907d95",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-521944"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "cor-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "SalesApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., online, offline).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateCompetitorAnalysiAnalyseResponse_200": {
        "title": "Competitor Analysis Response",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "The unique identifier for the segment involved in the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "description": "Metadata related to the analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response of a competitor analysis request.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "f1f89ff0-6228-5787-ae79-b292f0254f4b",
            "correlationId": "e199302a-96c3-51f8-af95-bbaa329ad10f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "title": "Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric involved in the finding.",
            "example": "customer_satisfaction_score"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 85.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric value.",
            "example": "percentage"
          }
        },
        "description": "A schema representing a single finding from the analysis."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing requests.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the analysis was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "competitor-analysis-analyze-competitor-analysis"
        },
        "example": "competitor-analysis-analyze-competitor-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) as a bearer authentication method. Clients must include a valid JWT in the 'Authorization' header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}