{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Approved Supplier Directory Validation-spec",
    "description": "The Approved Supplier Directory Validation API facilitates the process of validating entries in the approved supplier directory. This API allows users to submit validation requests for suppliers based on specific parameters. Typical consumers include procurement teams and compliance officers who need to ensure that suppliers meet regulatory standards. The API enhances supplier management by providing real-time validation results to support informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Approved Supplier Directory"
        ],
        "summary": "Create a validation for approved supplier directory entry.",
        "description": "This operation allows users to create a validation entry for a specific approved supplier in the directory identified by 'RES-100045'. It is essential for maintaining the integrity and accuracy of supplier data within the system.",
        "operationId": "createApprovedSupplierDirectoryValidation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the information related to the specified supplier in the approved supplier directory. It should contain all necessary fields required for the validation process, ensuring the completeness and correctness of the data being submitted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovedSupplierDirectoryValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApprovedSupplierDirectoryValidationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateApprovedSupplierDirectoryValidationRequest": {
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "List of validation scopes applicable to the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "scope1"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is being requested in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the individual who requested the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for validating supplier directory operations.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9ea3556e-3efc-5368-b6d3-9c550f2d903e",
            "correlationId": "595d70a4-6789-54ed-b4a4-4c47e4d5fdaa",
            "idempotencyKey": "a82d6117-0f2d-5977-a6d6-7bbc39fce6d1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-960997"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests across systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency in request processing.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system that initiated the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "Supplier App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request, if applicable.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "CreateApprovedSupplierDirectoryValidationResponse_200": {
        "title": "Response Validation for Approved Supplier Directory",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response validation for operations in the approved supplier directory.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "90f909fd-5b3f-52f7-8c1c-1c883ce73b85",
            "correlationId": "595d70a4-6789-54ed-b4a4-4c47e4d5fdaa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-validate-approved-supplier-directory"
        },
        "example": "approved-supplier-directory-validate-approved-supplier-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses a bearer token, typically a JSON Web Token (JWT), to authenticate requests. The bearer token must be included in the 'Authorization' header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}