{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "The International Scheduled Payments Retrieval API enables users to access detailed information about specific international scheduled payments identified by a unique parameter. This API is essential for financial institutions and service providers involved in the processing of cross-border payment transactions. By utilizing this endpoint, users can query the payment status, transaction details, and associated metadata, facilitating efficient transaction tracking and reporting. Typical consumers include banking applications and financial management platforms that require insight into ongoing international payment activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve International Scheduled Payment Details",
        "description": "Fetches the details of an international scheduled payment identified by the specified payment ID. This endpoint allows users to access comprehensive information related to a specific scheduled payment, including its status, amount, and recipient details.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to initiate a GET request for the international scheduled payment with the identifier PAY-300045. Ensure that the request body adheres to the specified schema to retrieve the correct payment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the scheduled payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation of the international scheduled payments.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "title": "International Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "paymentId": {
                "type": "string",
                "description": "Unique identifier for the payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent related to the payment.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp when the payment was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons for the payment status.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for the execution of the payment.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for the settlement of the payment.",
                "example": "string"
              },
              "Refund": {
                "$ref": "#/components/schemas/Refund"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "$ref": "#/components/schemas/Initiation"
              }
            },
            "description": "Contains the details of the payment request and the associated metadata.",
            "example": {
              "paymentId": "PAY-446463",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD"
                }
              }
            }
          },
          "metadata": {
            "description": "Metadata about the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the International Scheduled Payments GET operation, containing payment details and metadata.",
        "example": {
          "Data": {
            "paymentId": "PAY-446463",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "ebf567e1-43f1-5d6c-8650-dd5f34da928e",
            "correlationId": "826e0159-4558-580e-ade3-e2ccb208d279",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the status reason.",
            "example": "string"
          }
        },
        "description": "Contains details about the reasons for a payment's status."
      },
      "Refund": {
        "title": "Refund Details",
        "type": "object",
        "properties": {
          "Account": {
            "description": "Account details related to the refund.",
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Schema representing the details of a refund related to the payment."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the account.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the account involved in the refund."
      },
      "Charge": {
        "title": "Charge Details",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who is responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "description": "The amount and currency of the charge.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing details of a charge associated with the payment."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount of money including its currency."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency used for the unit exchange rate.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate that was applied.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "The type of exchange rate (e.g., fixed, floating).",
            "example": "string"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the exchange rate contract.",
            "example": "string"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the exchange rate expires.",
            "example": "string"
          }
        },
        "description": "Schema providing information about the exchange rate applied to the payment."
      },
      "Initiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for tracking the entire payment process.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level of the instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment initiation.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who will bear the costs of the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Date and time requested for execution of payment.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency to be used for the transfer.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the payment destination.",
            "example": "string"
          },
          "InstructedAmount": {
            "description": "The amount and currency to be transferred.",
            "$ref": "#/components/schemas/Money"
          },
          "ExchangeRateInformation": {
            "description": "Information about the exchange rate applicable for the initiated payment.",
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Schema representing the initiation details of the payment."
      },
      "Metadata": {
        "title": "Metadata for Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the international scheduled payment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-scheduled-payment"
        },
        "example": "payment-initiation-openapi-get-international-scheduled-payment"
      },
      "X-Runtime-App": {
        "description": "The runtime application identifier that processed the request for this payment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which requires a token transmitted in the Authorization header in the format 'Bearer <token>'. The token is typically a JSON Web Token (JWT) that grants access to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}