{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Treasury Bank Portfolio Administration-spec",
    "description": "The Treasury Bank Portfolio Administration API allows users to efficiently manage and create portfolios for treasury banking operations. This API provides endpoints to establish new banking portfolios, facilitating financial institutions and treasury managers in configuring and maintaining their financial assets. Typical consumers include banking administrators and treasury analysts who require seamless integration for automated portfolio management workflows. With this tool, users can enhance operational efficiency and ensure accurate financial oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-administration": {
      "post": {
        "tags": [
          "Treasury Management"
        ],
        "summary": "Create a new bank portfolio in treasury.",
        "description": "This endpoint allows users to create a new bank portfolio by providing the necessary details. It processes the request and stores the portfolio under the user's treasury management framework, ensuring all relevant regulations and policies are met.",
        "operationId": "createTreasuryBankPortfolioAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit operations related to bank portfolio administration within the treasury context. It requires specific parameters defined in the schema to accurately process the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTreasuryBankPortfolioAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the bank portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTreasuryBankPortfolioAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTreasuryBankPortfolioAdministrationRequest": {
        "title": "Bank Portfolio Administration Request",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-928551"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument involved in the operation.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty in the operation.",
            "example": "PARTY-163973"
          },
          "notionalAmount": {
            "description": "The notional amount involved in the operation.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the instrument.",
            "format": "date",
            "example": 1789430400000
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating or updating bank portfolio administration operations.",
        "example": {
          "portfolioId": "PORT-928551",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-163973",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "2ab5bf1e-ebf7-59e4-8f02-c4c5b7554918",
            "correlationId": "d3da7bbb-7313-5c94-bc36-8f8db22446fc",
            "idempotencyKey": "c19a1137-35cc-53e4-9d85-82e90ea2a0c7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-591773"
            }
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the notional.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the notional amount.",
            "example": "USD"
          }
        },
        "description": "Represents the notional amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "correlation-xyz-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idempotency-key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "format": "date-time",
            "example": 1696161600.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information related to the request's context."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-987"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateTreasuryBankPortfolioAdministrationResponse_201": {
        "title": "Bank Portfolio Administration Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-768086"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument associated with the portfolio.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-980586"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the operation.",
            "example": "RES-513891"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating whether it was successful or encountered issues.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation, including identification and timing information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object for the POST operation related to bank portfolio administration.",
        "example": {
          "portfolioId": "PORT-768086",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-980586",
          "resourceId": "RES-513891",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4835d3fa-b7ba-585b-ae8f-554203167ee7",
            "correlationId": "d3da7bbb-7313-5c94-bc36-8f8db22446fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier that traces the request and response flow.",
            "example": "correlation-321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-administration-create-bank-portfolio-administration"
        },
        "example": "bank-portfolio-administration-create-bank-portfolio-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, formatted as a JSON Web Token (JWT). This scheme is typically used for securing API requests by including the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}