{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Certifiedinstitution Rssds-spec",
    "description": "The Certified Institutions Lookup API provides access to detailed information about certified financial institutions. This endpoint allows users to retrieve a list of institutions identified by their RSSD identifiers. Typical consumers include regulatory agencies, financial analysts, and developers building financial applications who need to access certified institution data for compliance and reporting purposes. By utilizing this API, users can ensure they have up-to-date information on certified institutions in their financial systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/certifiedinstitutions/rssd": {
      "get": {
        "tags": [
          "certifiedInstitutions"
        ],
        "summary": "Retrieve certified institutions by RSSD.",
        "description": "This endpoint allows users to fetch information about certified institutions based on their RSSD (Research, Statistics and Summaries Database) number. Utilize this to retrieve detailed information about institutions that have been certified.",
        "operationId": "listCertifiedinstitutionRssds",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving certified institutions identified by their RSSD number. This request is intended to allow clients to query data specifically related to certified institutions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCertifiedinstitutionRssdsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the certified institutions data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCertifiedinstitutionRssdsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCertifiedinstitutionRssdsRequest": {
        "type": "string",
        "description": "A request body for the GET operation on certified institutions by RSSD.",
        "example": "{}"
      },
      "ListCertifiedinstitutionRssdsResponse_200": {
        "title": "Certified Institutions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Total number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "Number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond those being displayed.",
            "example": true
          },
          "requestedDate": {
            "type": "integer",
            "description": "The date that the request was made, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "List of certified institutions.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "liabilityData": true,
                "billPayData": true,
                "oauthEnabled": true,
                "productionStatus": {
                  "overallStatus": "ACTIVE",
                  "transAgg": "STANDARD",
                  "stateAgg": "STANDARD",
                  "voa": "STANDARD",
                  "voi": "STANDARD",
                  "ach": "STANDARD",
                  "aha": "STANDARD"
                },
                "rssd": 1,
                "childInstitutions": [
                  {
                    "rssd": 1,
                    "parentRSSD": 1,
                    "name": "Northstar Banking Service",
                    "institutionId": 1
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving certified institutions details.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "requestedDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "liabilityData": true,
              "billPayData": true,
              "oauthEnabled": true,
              "productionStatus": {
                "overallStatus": "ACTIVE",
                "transAgg": "STANDARD",
                "stateAgg": "STANDARD",
                "voa": "STANDARD",
                "voi": "STANDARD",
                "ach": "STANDARD",
                "aha": "STANDARD"
              },
              "rssd": 1,
              "childInstitutions": [
                {
                  "rssd": 1,
                  "parentRSSD": 1,
                  "name": "Northstar Banking Service",
                  "institutionId": 1
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "5bb877be-f20a-527d-a2c0-4f9546044e1b",
            "correlationId": "529a5973-3236-505f-a080-e95a3eb0c768",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled for the institution.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH (Automated Clearing House) is available for the institution.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled for the institution.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if VOI (Verification of Income) is available for the institution.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if VOA (Verification of Assets) is available for the institution.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if AHA (Account Holder Access) is available for the institution.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance data is available for the institution.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account owner data is available for the institution.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available for the institution.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available for the institution.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available for the institution.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available for the institution.",
            "example": false
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "productionStatus": {
            "description": "The production status of the institution.",
            "$ref": "#/components/schemas/ProductionStatus"
          },
          "rssd": {
            "type": "integer",
            "description": "RSSD identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "childInstitutions": {
            "type": "array",
            "description": "List of child institutions associated with this institution.",
            "items": {
              "$ref": "#/components/schemas/ChildInstitution"
            }
          }
        },
        "description": "Detailed information about a certified institution."
      },
      "ProductionStatus": {
        "title": "Production Status",
        "type": "object",
        "properties": {
          "overallStatus": {
            "type": "string",
            "description": "Overall production status of the institution.",
            "example": "active"
          },
          "transAgg": {
            "type": "string",
            "description": "Transaction aggregation status of the institution.",
            "example": "active"
          },
          "stateAgg": {
            "type": "string",
            "description": "State aggregation status of the institution.",
            "example": "inactive"
          },
          "voa": {
            "type": "string",
            "description": "VOA status of the institution.",
            "example": "inactive"
          },
          "voi": {
            "type": "string",
            "description": "VOI status of the institution.",
            "example": "active"
          },
          "ach": {
            "type": "string",
            "description": "ACH status of the institution.",
            "example": "active"
          },
          "aha": {
            "type": "string",
            "description": "AHA status of the institution.",
            "example": "active"
          }
        },
        "description": "Status details related to the institution's production environment."
      },
      "ChildInstitution": {
        "title": "Child Institution",
        "type": "object",
        "properties": {
          "rssd": {
            "type": "integer",
            "description": "RSSD identifier of the child institution.",
            "format": "int32",
            "example": 0
          },
          "parentRSSD": {
            "type": "integer",
            "description": "RSSD identifier of the parent institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Name of the child institution.",
            "example": "string"
          },
          "institutionId": {
            "type": "integer",
            "description": "Unique identifier for the child institution.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details of a child institution associated with a parent institution."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-certified-institutions-with-rssd"
        },
        "example": "open-finance-api-get-certified-institutions-with-rssd"
      },
      "x-runtime-app": {
        "description": "The name of the application that is consuming the API and processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a JSON Web Token (JWT) is provided as a bearer token in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}