{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Consumer Loans-spec",
    "description": "The Consumer Loan Listing API provides access to a comprehensive catalog of deposit lending consumer loans. Utilizing this endpoint, financial institutions and developers can retrieve detailed information about available loans, including terms, rates, and eligibility criteria. This API is primarily used by banking apps, lending platforms, and financial service providers seeking to present loan options to their clients. It supports decision-making for potential borrowers by offering up-to-date and relevant loan data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/consumer-loan": {
      "get": {
        "tags": [
          "Lending"
        ],
        "summary": "Retrieve Consumer Loan Details",
        "description": "This endpoint allows developers to fetch detailed information about consumer loans within the deposit lending system, providing insights into loan terms, interest rates, and available amounts.",
        "operationId": "listDepositLendingConsumerLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve consumer loan information related to deposit lending. Ensure that all necessary parameters are included in the JSON object to obtain the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingConsumerLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request executed successfully, returning the consumer loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingConsumerLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingConsumerLoansRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to consumer loans under deposit lending. It is represented as a string.",
        "example": "{}"
      },
      "ListDepositLendingConsumerLoansResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of consumer loan items.",
            "example": [
              {
                "customerId": "CUST-889074",
                "accountId": "ACC-879109",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConsumerLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for consumer loan operations GET request.",
        "example": {
          "items": [
            {
              "customerId": "CUST-889074",
              "accountId": "ACC-879109",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "20dd286e-cead-5d38-b1bd-2c0192ff288a",
            "correlationId": "f1896d18-bb5c-56ef-8734-67f674f4a14d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConsumerLoanItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST12345"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC67890"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product.",
            "example": "LOAN-001"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan term in months.",
            "format": "int32",
            "example": 12
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, quarterly).",
            "example": "monthly"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the loan item was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a consumer loan item."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "USD"
          }
        },
        "description": "Principal amount of the loan."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the paginated response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "CORR987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-search-consumer-loan"
        },
        "example": "consumer-loan-search-consumer-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method that requires a JSON Web Token (JWT) to validate and authorize requests. The token must be included in the Authorization header using the Bearer scheme.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}