{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Card Cases-spec",
    "description": "The Servicing Card Cases Retrieval API enables users to access detailed information regarding servicing card cases within the banking sector. This endpoint allows financial institutions and their service representatives to efficiently list active card cases, facilitating quicker resolutions and enhanced customer support. Typical consumers include bank employees and external service providers who need to consult or manage card servicing issues. The API streamlines workflows by providing comprehensive data at their fingertips.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/card-case": {
      "get": {
        "tags": [
          "Card Case Management"
        ],
        "summary": "Retrieve a card case.",
        "description": "This endpoint allows you to fetch details of a specific card case from the servicing system. Use this to get the current status and information related to the card case.",
        "operationId": "listServicingCardCases",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching card case servicing operations. This body must contain the necessary parameters as defined in the schema to retrieve the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingCardCasesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returns the card case details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingCardCasesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingCardCasesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation for card case servicing.",
        "example": "{}"
      },
      "ListServicingCardCasesResponse_200": {
        "title": "Card Case Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of card case objects.",
            "example": [
              {
                "customerId": "CUST-825911",
                "caseId": "CASE-881118",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCase"
            }
          },
          "pagination": {
            "description": "Pagination information related to the card cases.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the card cases.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Card Case Operations GET request, containing a list of card cases along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-825911",
              "caseId": "CASE-881118",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fb8fe9a1-d50b-5e6e-aded-3ebb1b40337b",
            "correlationId": "8f35d4e8-e7cf-5a96-be86-0b13d6f579e7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCase": {
        "title": "Card Case",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the card case."
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case."
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request for this case."
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the case."
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel from which the case originated."
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case."
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The date and time by when the service level is due."
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preference for contact."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the case record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the case was last updated."
          }
        },
        "description": "Represents a case associated with a customer's card."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Contains the pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-case-search-card-case"
        },
        "example": "card-case-search-card-case"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application instance that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that employs Bearer authentication, utilizing JSON Web Tokens (JWT) for secure access. Clients must provide the token in the `Authorization` header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}