{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Contact Routing API",
    "description": "The Cross-Channel Contact Routing API facilitates the efficient handling and routing of customer inquiries across various channels in the banking sector. This API allows financial institutions to access routing patterns and define the most effective paths for customer communication. Typical consumers include customer service teams and contact center applications aiming to enhance customer experience by ensuring inquiries reach the right department quickly. This API is essential for optimizing service delivery and improving customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing": {
      "get": {
        "tags": [
          "Contact Management"
        ],
        "summary": "Retrieve contact routing information.",
        "description": "This endpoint allows developers to fetch the routing details for contacts across multiple channels. It provides insights on how contacts are managed and directed within the cross-channel communication framework.",
        "operationId": "getContactRoutingCrossChannel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving contact routing information through the cross-channel API. This body must conform to the specified JSON schema to ensure the request is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactRoutingCrossChannelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of contact routing data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactRoutingCrossChannelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContactRoutingCrossChannelRequest": {
        "type": "string",
        "description": "This schema represents the request body for the cross-channel contact routing operation in JSON format.",
        "example": "{}"
      },
      "GetContactRoutingCrossChannelResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of contact routing items, each containing details about the contact.",
            "example": [
              {
                "partyId": "PARTY-869249",
                "interactionId": "INT-565431",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactRoutingItem"
            }
          },
          "pagination": {
            "description": "Details about the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the results from the cross-channel contact routing operation.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-869249",
              "interactionId": "INT-565431",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2e05233b-2d33-5b08-ac9a-f72379e28935",
            "correlationId": "96711cdb-38b7-5861-8180-433849e0feb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactRoutingItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the contact.",
            "example": "string"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used (e.g., email, phone).",
            "example": "string"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the contact.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the contact record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the contact record was last updated.",
            "example": "string"
          }
        },
        "description": "Information about a single contact routing item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this response with the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-search-contact-routing"
        },
        "example": "contact-routing-search-contact-routing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer Token. This method requires clients to include a JSON Web Token (JWT) in the HTTP Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}