{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Compliance Financial Statement Assessments-spec",
    "description": "The Compliance Financial Statement Assessments API provides a comprehensive overview of financial statement assessments relevant to banking compliance. This endpoint allows users to retrieve a list of assessments that help institutions ensure adherence to regulatory standards. Typical consumers of this API include compliance officers, risk management teams, and regulatory reporting professionals seeking to analyze compliance data effectively. By utilizing this API, organizations can enhance their compliance frameworks and make informed decisions based on current assessment metrics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-statement-assessment": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve financial statement assessment.",
        "description": "This endpoint allows developers to obtain detailed information regarding the financial statement assessment within the compliance domain. It provides insights into the evaluation of financial statements to ensure they adhere to regulatory standards.",
        "operationId": "listComplianceFinancialStatementAssessments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial statement assessments for compliance purposes. It should contain the necessary parameters and data structures to specify the assessment criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListComplianceFinancialStatementAssessmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved financial statement assessment data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListComplianceFinancialStatementAssessmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListComplianceFinancialStatementAssessmentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for a financial statement assessment operation. The body is expected to be a string, typically containing a JSON-encoded representation of the assessment details.",
        "example": "{}"
      },
      "ListComplianceFinancialStatementAssessmentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial statement assessment items.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialStatementAssessmentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the financial statement assessment operation.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1f79cad6-391b-5a01-86a6-4d042bd545da",
            "correlationId": "c3fbd38d-9e34-5047-b2b7-46b77b45d4b7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialStatementAssessmentItem": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "string"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity associated with the assessment.",
            "example": "string"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the assessment is filed.",
            "example": "string"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the assessment.",
            "example": "string"
          },
          "regulation": {
            "type": "string",
            "description": "The regulatory framework the assessment adheres to.",
            "example": "string"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the assessment submission.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the assessment record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the assessment was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single financial statement assessment item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about the pagination of the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statement-assessment-search-financial-statement-assessment"
        },
        "example": "financial-statement-assessment-search-financial-statement-assessment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JWT (JSON Web Token) for securing API requests. Clients must include the token in the Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}