{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Microentry Customer Account By Account Id-v5-spec",
    "description": "The Customer Account Retrieval API enables users to access specific account information for a customer based on their unique identifiers. By utilizing the customer ID and account ID, developers can efficiently fetch detailed account details, facilitating seamless integration into client applications. This API is particularly useful for financial services and customer management systems where user-centric data retrieval is essential. Typical consumers include developers building dashboards, account management tools, and support systems that require real-time access to customer account data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve account details for a specific customer.",
        "description": "This endpoint allows you to fetch detailed information about a specific account associated with a customer. You can use this to view account status, balance, and other relevant data necessary for customer service and account management.",
        "operationId": "getMicroentryCustomerAccountByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving account information associated with a specific customer. This body contains the necessary parameters to specify the details of the account being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMicroentryCustomerAccountByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMicroentryCustomerAccountByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMicroentryCustomerAccountByAccountIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for fetching operation details associated with a specific customer and account.",
        "example": "{}"
      },
      "GetMicroentryCustomerAccountByAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Current status of the account operation.",
            "example": "ACTIVE"
          },
          "statusDescription": {
            "type": "string",
            "description": "Detailed description of the current status.",
            "example": "STANDARD"
          },
          "creationDate": {
            "type": "string",
            "description": "Date when the account was created.",
            "example": "2026-09-15"
          },
          "routingNumber": {
            "type": "string",
            "description": "Routing number for the account.",
            "example": "021000021"
          },
          "accountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the account number.",
            "example": "STANDARD"
          },
          "autoVerifiedAccount": {
            "type": "integer",
            "description": "Indicates if the account is auto-verified.",
            "format": "int32",
            "example": 1
          },
          "railType": {
            "type": "string",
            "description": "Type of payment rail associated with this account.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/AccountMetadata"
          }
        },
        "description": "Response schema for retrieving account information for a specific customer and account.",
        "example": {
          "status": "ACTIVE",
          "statusDescription": "STANDARD",
          "creationDate": "2026-09-15",
          "routingNumber": "021000021",
          "accountNumberLast4": "STANDARD",
          "autoVerifiedAccount": 1,
          "railType": "STANDARD",
          "metadata": {
            "responseId": "a4d3763d-f633-5a0c-8ef8-48ef2ed28555",
            "correlationId": "c61dd9a7-4a02-5a9e-8981-c3dbcd68e20d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate this request with other related requests.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of this request took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-micro-deposits-details"
        },
        "example": "open-finance-api-get-micro-deposits-details"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for authentication. Clients must include the token in the Authorization header as a 'Bearer' token to gain access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}