{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Payments Card Clearings-v5-spec",
    "description": "MICROSERVICE-PROD-List Banking Payments Card Clearings-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-clearing": {
      "get": {
        "operationId": "listBankingPaymentsCardClearings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingPaymentsCardClearingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingPaymentsCardClearingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingPaymentsCardClearingsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListBankingPaymentsCardClearingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "paymentId": "PAY-748245",
                "debtorAccountId": "ACC-878384",
                "creditorAccountId": "ACC-218292",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "paymentId": {
                  "type": "string",
                  "example": "string"
                },
                "debtorAccountId": {
                  "type": "string",
                  "example": "string"
                },
                "creditorAccountId": {
                  "type": "string",
                  "example": "string"
                },
                "instructedAmount": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "currency": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "requestedExecutionDate": {
                  "type": "string",
                  "example": "string"
                },
                "remittanceInformation": {
                  "type": "string",
                  "example": "string"
                },
                "recordStatus": {
                  "type": "string",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "pageSize": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "249a1222-2297-54a6-8bc8-fef404a6113e",
              "correlationId": "70549e1a-9e25-53fb-8437-f9f005856ac9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "paymentId": "PAY-748245",
              "debtorAccountId": "ACC-878384",
              "creditorAccountId": "ACC-218292",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "249a1222-2297-54a6-8bc8-fef404a6113e",
            "correlationId": "70549e1a-9e25-53fb-8437-f9f005856ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-clearing-search-card-clearing"
        },
        "example": "card-clearing-search-card-clearing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}