{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Deposit Switch API",
    "description": "The Deposit Switch API facilitates the seamless initiation of deposit transfers within a microservice environment. This endpoint allows businesses to generate and manage deposits efficiently, catering to scenarios involving bank transactions and other financial services. Typical consumers include financial institutions and payment processors looking to automate their deposit workflows. With this API, developers can integrate deposit switch functionalities into their applications, ensuring a streamlined user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/deposit-switch": {
      "post": {
        "tags": [
          "Deposit Transfer"
        ],
        "summary": "Initiates a deposit switch transfer.",
        "description": "This endpoint allows users to initiate a deposit switch transfer, facilitating the seamless transfer of funds from one account to another. Ensure to provide all necessary details in the request to complete the transfer successfully.",
        "operationId": "postGenerateTransferDepositSwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a deposit switch operation. It contains all necessary data for processing the deposit switch request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGenerateTransferDepositSwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostGenerateTransferDepositSwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostGenerateTransferDepositSwitchRequest": {
        "title": "Transfer Deposit Switch Request Body",
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "description": "Details of the service agreement related to the transfer.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "external": {
            "description": "External reference information for tracking the request.",
            "$ref": "#/components/schemas/ExternalReference"
          },
          "accounts": {
            "type": "array",
            "description": "List of accounts involved in the transfer.",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountDetails"
            }
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner initiating the transfer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer making the request.",
            "example": "CUST-866814"
          },
          "language": {
            "type": "string",
            "description": "Language preference for the transaction.",
            "example": "en"
          },
          "webhook": {
            "type": "string",
            "description": "URL for receiving webhook notifications related to the transfer.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type for the webhook notifications.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect the user after the operation.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "Identifier for the user experience format.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for initiating a transfer deposit switch operation.",
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "external": {
            "id": "STANDARD",
            "context": "STANDARD"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-866814",
          "language": "en",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "redirectUri": "STANDARD",
          "experience": "STANDARD",
          "requestContext": {
            "requestId": "ace02e15-99fd-51d2-9192-0087a5922d37",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "idempotencyKey": "c3f6ef80-ce4e-5873-8754-5f28bf353018",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809905"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the agreement is made.",
            "example": "en"
          },
          "acceptedDate": {
            "type": "string",
            "description": "Date when the service agreement was accepted.",
            "example": "2023-10-01"
          }
        },
        "description": "Schema representing the service agreement details."
      },
      "ExternalReference": {
        "title": "External Reference",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the external reference.",
            "example": "ext-123456"
          },
          "context": {
            "type": "string",
            "description": "Context surrounding the external reference.",
            "example": "context-info"
          }
        },
        "description": "Schema representing external reference details."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the account.",
            "example": "0123456789"
          },
          "bankIdentifier": {
            "type": "string",
            "description": "Identifier for the bank managing the account.",
            "example": "BANK123456"
          },
          "title": {
            "type": "string",
            "description": "A title or label for the account.",
            "example": "Main Checking Account"
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., savings, checking).",
            "example": "checking"
          }
        },
        "description": "Schema representing account-related information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-78910"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotent-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system initiating the request.",
            "example": "MobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "MyBankApp"
          },
          "channel": {
            "description": "Details of the channel from which the request is made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device-1234"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "PostGenerateTransferDepositSwitchResponse_200": {
        "title": "Deposit Transfer Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link related to the deposit transfer operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/TransferMetadata"
          }
        },
        "description": "Schema representing the response for a successful deposit transfer operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "c2c02187-d612-51ce-aa90-516bded2ae91",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransferMetadata": {
        "title": "Transfer Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Metadata associated with the deposit transfer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed this request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-deposit-switch-url"
        },
        "example": "open-finance-api-generate-transfer-deposit-switch-url"
      },
      "x-runtime-app": {
        "description": "The name and version of the runtime application handling this request, which aids in understanding the environment and versioning context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication, which requires a valid JSON Web Token (JWT) to be provided in the request headers. The token serves as proof of authentication and authorization for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}