{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Custody Administration Information Retrieval API",
    "description": "The Custody Administration Information Retrieval API provides users with access to critical custody-related data. This endpoint allows for the retrieval of detailed information regarding market operations and custody administration using a specified identifier. Financial institutions and asset managers typically utilize this API to enhance oversight of custody functions and ensure compliance with regulatory requirements. By integrating this API, developers can improve their applications' ability to manage and audit their custody processes efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration/{param1}": {
      "get": {
        "tags": [
          "Custody Administration"
        ],
        "summary": "Retrieve custody administration details for a specific resource.",
        "description": "This endpoint allows users to retrieve detailed custody administration information related to the specified resource identified by RES-100045. It is useful for understanding the status and management of custodial operations.",
        "operationId": "getCustodyAdministrationForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve custody administration information related to the specified operation. It contains necessary parameters to filter and specify the details of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustodyAdministrationForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested custody administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustodyAdministrationForResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustodyAdministrationForResource100045Request": {
        "type": "string",
        "description": "This schema represents the body of the request for the GET operation in the custody administration market operations.",
        "example": "{}"
      },
      "GetCustodyAdministrationForResource100045Response_200": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument associated with the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the trade will be settled.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units involved in the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for the trade.",
            "example": "STANDARD"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Identifier for the safekeeping account where the security is held.",
            "example": "ACC-630647"
          },
          "custodyLocation": {
            "type": "string",
            "description": "Location where the custody of the instrument is maintained.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of the position held after the trade.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "RESP789"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "CORR321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Metadata associated with the response, providing additional context.",
            "example": {
              "responseId": "b470ac5e-7d25-5849-8947-c64a129858a1",
              "correlationId": "a48f968c-aa4d-54e7-9556-ef65be540962",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for operations in custody administration, providing details about a specific trade operation.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "safekeepingAccountId": "ACC-630647",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b470ac5e-7d25-5849-8947-c64a129858a1",
            "correlationId": "a48f968c-aa4d-54e7-9556-ef65be540962",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracing and debugging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-get-custody-administration"
        },
        "example": "custody-administration-get-custody-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that generated the response, facilitating monitoring and logging of application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to access the protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}