{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Knowledge Exchange API",
    "description": "The Knowledge Exchange API serves as a platform for users to access and share valuable banking knowledge assets. This API enables developers to retrieve curated insights, best practices, and guidelines essential for navigating the banking landscape. Typical consumers include financial institutions, developers, and analysts seeking to enhance their decision-making processes with reliable information. Utilize the Knowledge Exchange API to drive innovation and improve customer engagement through informed knowledge sharing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange": {
      "get": {
        "tags": [
          "Knowledge Exchange"
        ],
        "summary": "Retrieve knowledge exchange resources.",
        "description": "This endpoint allows users to access a variety of knowledge assets available for exchange. It provides a comprehensive list of resources that can be utilized to enhance knowledge sharing between users.",
        "operationId": "getKnowledgeAssetsKnowledgeExchange",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving knowledge assets via the knowledge exchange API. This should include the necessary parameters to specify the details of the knowledge exchange operation, ensuring proper format and structure.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetKnowledgeAssetsKnowledgeExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of knowledge exchange assets.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKnowledgeAssetsKnowledgeExchangeResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetKnowledgeAssetsKnowledgeExchangeRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the knowledge exchange API, formatted as a JSON string.",
        "example": "{}"
      },
      "GetKnowledgeAssetsKnowledgeExchangeResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of knowledge items returned from the knowledge exchange.",
            "example": [
              {
                "knowledgeItemId": "STANDARD",
                "topic": "STANDARD",
                "authorId": "STANDARD",
                "audience": "STANDARD",
                "publishedAt": "2026-08-11T12:00:00Z",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/KnowledgeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving knowledge items in a knowledge exchange operation.",
        "example": {
          "items": [
            {
              "knowledgeItemId": "STANDARD",
              "topic": "STANDARD",
              "authorId": "STANDARD",
              "audience": "STANDARD",
              "publishedAt": "2026-08-11T12:00:00Z",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8c18df2d-992e-5213-901c-9f6c9ff73e78",
            "correlationId": "7b4fee2e-5451-5b2f-bd92-1ec96b509e6b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "KnowledgeItem": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item."
          },
          "topic": {
            "type": "string",
            "description": "The topic or subject of the knowledge item."
          },
          "authorId": {
            "type": "string",
            "description": "Identifier of the author who created the knowledge item."
          },
          "audience": {
            "type": "string",
            "description": "Target audience for the knowledge item."
          },
          "publishedAt": {
            "type": "string",
            "description": "The date and time when the knowledge item was published."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the knowledge item record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the knowledge item was last updated."
          }
        },
        "description": "Information related to a specific knowledge item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-search-knowledge-exchange"
        },
        "example": "knowledge-exchange-search-knowledge-exchange"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). Clients must include an authorization token in the 'Authorization' header to authenticate. The format is typically 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}