{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Unit Trust Administration Retrieval API",
    "description": "This API facilitates the retrieval of unit trust administration details, enabling clients to access specific information related to unit trusts quickly and efficiently. It serves as a vital resource for financial institutions, investment managers, and advisors who need to obtain comprehensive data regarding unit trust operations. Typical use cases include monitoring market performance and managing investor relations. By utilizing this endpoint, users can seamlessly integrate unit trust information into their applications for enhanced decision-making and client service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/unit-trust-administration/{param1}": {
      "get": {
        "tags": [
          "Unit Trust Administration"
        ],
        "summary": "Retrieve information for Unit Trust Administration RES-100045",
        "description": "This endpoint allows users to fetch detailed information regarding the Unit Trust Administration associated with RES-100045. Utilize this endpoint to access administrative data and related operations efficiently.",
        "operationId": "getUnitTrustAdminRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving unit trust administration operations. This payload includes necessary parameters to fetch the respective operations data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUnitTrustAdminRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnitTrustAdminRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetUnitTrustAdminRes100045Request": {
        "title": "Unit Trust Administration GET Request Body",
        "type": "string",
        "description": "Represents the request body for a GET operation related to unit trust administration in market operations.",
        "example": "{}"
      },
      "GetUnitTrustAdminRes100045Response_200": {
        "title": "Unit Trust Administration Response",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "The unique identifier for the share class within the fund.",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the valuation of the fund's assets was performed.",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The total number of units currently outstanding for the share class.",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "description": "The unique identifier for the administrator managing the fund.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Unit Trust Administration operations, detailing fund and share class information, valuation, and other important metadata.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "deef0e8d-a79d-5c51-8084-50a71a2bca0f",
            "correlationId": "e7e9ed8c-f402-5c99-98af-765e9c9b24c9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The net asset value amount.",
            "example": 1500000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the net asset value is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the net asset value of the fund, including the amount and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for this response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses in distributed systems.",
            "example": "correlation-xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response, providing additional context and tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "unit-trust-administration-get-unit-trust-administration"
        },
        "example": "unit-trust-administration-get-unit-trust-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header of the HTTP request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}