{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Wholesale Trading By Param1-spec",
    "description": "The Wholesale Trading Data Retrieval API provides essential insights into capital markets transactions based on specific parameters. This endpoint allows users to retrieve comprehensive trading information, enabling businesses to analyze market activities and make informed decisions. Typical consumers include financial analysts, traders, and investment managers seeking to access detailed wholesale trading data. By facilitating easy access to this information, the API supports enhanced operational efficiency and strategic planning in trading activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/capital-markets/{param1}": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve details for resource RES-100045 in Capital Markets.",
        "description": "This endpoint allows developers to fetch comprehensive details for the resource identified as RES-100045 within the Capital Markets of the wholesale trading system. Users can leverage this endpoint to access pertinent information and attributes related to this specific resource.",
        "operationId": "getWholesaleTradingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific information regarding the wholesale trading capital markets operation RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWholesaleTradingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWholesaleTradingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWholesaleTradingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the wholesale trading capital markets API.",
        "example": "{}"
      },
      "GetWholesaleTradingByParam1Response_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trading operation (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of instruments being traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the trading operation.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the trading operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Operations GET request in the capital markets trading system.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1bccfea1-2c39-5e9b-970c-2818a25076f0",
            "correlationId": "16189556-84e9-5b17-b65a-f7897370c0fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The price value of the limit.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details for a trading operation."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for a trading operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ecm-and-dcm-get-ecm-and-dcm"
        },
        "example": "ecm-and-dcm-get-ecm-and-dcm"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header when making requests. This ensures secure communication and validates user identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}