{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Customer Access Entitlements-spec",
    "description": "The Customer Access Entitlements Inquiry API enables users to retrieve detailed information about customer management access entitlements. This endpoint provides insights into the specific permissions and privileges associated with each customer, aiding in effective access governance. Typical consumers include compliance officers and account managers, who can utilize this information to ensure proper customer access and support operational integrity. By leveraging this API, organizations can streamline customer access audits and manage entitlement policies efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-access-entitlement": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Customer Access Entitlement",
        "description": "This operation allows you to fetch the details of customer access entitlements, providing insight into the permissions and entitlements associated with a specific customer.",
        "operationId": "listCustomerManagementCustomerAccessEntitlements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer access entitlement details. It must conform to the predefined schema, which outlines the required format and structure of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementCustomerAccessEntitlementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning customer access entitlement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementCustomerAccessEntitlementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementCustomerAccessEntitlementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to customer access entitlement management.",
        "example": "{}"
      },
      "ListCustomerManagementCustomerAccessEntitlementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer access entitlement items.",
            "example": [
              {
                "customerId": "CUST-126609",
                "partyId": "PARTY-154756",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerAccessEntitlement"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer access entitlements.",
        "example": {
          "items": [
            {
              "customerId": "CUST-126609",
              "partyId": "PARTY-154756",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5dc572d3-ce1a-54bc-8f26-7df33655a965",
            "correlationId": "abf4a078-8235-554b-aa30-d0a992996000",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerAccessEntitlement": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "98765"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the entitlement.",
            "example": "PRODUCT_CODE"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the entitlement becomes effective.",
            "example": "2023-10-25"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship (e.g., GOLD, SILVER, BRONZE).",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the entitlement record (e.g., ACTIVE, INACTIVE).",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the entitlement.",
            "example": "2023-10-25T12:00:00Z"
          }
        },
        "description": "Represents an individual customer access entitlement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "corr-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-25T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier representing the specific endpoint that processed the request. This value helps in tracing the request back to the relevant endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-access-entitlement-search-customer-access-entitlement"
        },
        "example": "customer-access-entitlement-search-customer-access-entitlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This header can assist in identifying which application version was responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token in the Authorization header. The 'bearer' scheme is commonly employed for passing JSON Web Tokens (JWT) which provides a secure authentication mechanism.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}