{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Connection Generation API",
    "description": "The Connection Generation API streamlines the process of creating and establishing connections in a production environment. This endpoint allows users to generate FIX connections, which are essential for facilitating communication and transactions between financial systems. Typically utilized by integration developers, trading platforms, and financial institutions, this API supports efficient connection management and ensures compliance with industry standards. By automating connection setup, users can enhance operational efficiency and reduce the time to market for new trading solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/fix": {
      "post": {
        "tags": [
          "Issue Management"
        ],
        "summary": "Generate a fix for a specific issue.",
        "description": "This endpoint allows developers to generate a fix for a particular problem. By submitting the required parameters, users can obtain a tailored solution that addresses their specific needs.",
        "operationId": "generateFix",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body providing the necessary information to generate a fix. The structure of the body is specified by the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateFixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with the expected result.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateFixResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GenerateFixRequest": {
        "title": "Request Body for POST Operations",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the request.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-301596"
          },
          "institutionLoginId": {
            "type": "string",
            "description": "The login ID for the institution.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect the user after the operation.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The webhook URL for receiving asynchronous notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the data sent to the webhook.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "The type of user experience intended for the request.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates whether the URL generated is a single-use URL.",
            "example": true
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "description": "Indicates if the request is from a hosted mobile application.",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "description": "Indicates if the request is coming from a web view.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for POST operations, including information about the user, the institution, and the request context.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-301596",
          "institutionLoginId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "singleUseUrl": true,
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "e0f784e6-c9f8-595c-95ab-89d6cd9ad72c",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "idempotencyKey": "ca83fb80-fa9c-5dad-a3d3-d093588167ce",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-427595"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID to link related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request.",
            "example": "idempotency-abc-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "mobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that triggered the request.",
            "example": "MyMobileApp"
          },
          "channel": {
            "description": "Details about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema defines the contextual information related to the request, including identifiers and timing."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request was made.",
            "example": "device-xyz"
          }
        },
        "description": "This schema captures information about the channel used for the request, including identifiers and types."
      },
      "GenerateFixResponse_200": {
        "title": "Generate Fix Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A string that represents the link associated with the generated fix.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response schema for generating a fix operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "02b18d61-26ea-536b-b2ae-7c87ed2bc39b",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the generated response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being called. This identifier can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-fix-connect-url"
        },
        "example": "open-finance-api-generate-fix-connect-url"
      },
      "x-runtime-app": {
        "description": "The name of the application or service that is processing the request. Useful for diagnosing issues related to specific applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format for authentication. The token is usually in JSON Web Token (JWT) format, providing a compact and self-contained way to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}