{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Webhook Statu-spec",
    "description": "The Webhook Status Update API allows users to modify the status of existing webhooks in the notification subscription system. This operation is essential for managing webhook delivery settings effectively, ensuring that the correct notifications are sent based on the desired status. Typical consumers include developers and system administrators who require the ability to enable or disable webhooks seamlessly as business needs evolve. Use cases involve updating webhook statuses to reflect operational changes or to pause notifications during maintenance periods.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/status": {
      "put": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update the status of a specific webhook.",
        "description": "This operation allows you to update the status of the webhook identified by RES-100045. Ensure you provide the necessary data to reflect the new status effectively.",
        "operationId": "replaceWebhookStatu",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "Update the status of the webhook with the given identifier. This request requires a JSON payload containing the new status information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceWebhookStatuRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource is updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceWebhookStatuResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceWebhookStatuRequest": {
        "title": "Webhook Status Update Request",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The new status to set for the webhook.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating the status of a webhook operation.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "1365e11a-a89b-5627-902b-16c572097ed7",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "idempotencyKey": "99eae8bc-8f8c-5c36-9617-17b76721fd01",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-791267"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating log entries.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel associated with the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual details about the API request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, email).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication channel.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used in the request."
      },
      "ReplaceWebhookStatuResponse_200": {
        "title": "Webhook Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the webhook operation.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Contains additional information about the webhook response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "This schema represents the response returned from a webhook status operation.",
        "example": {
          "status": "ACTIVE",
          "metadata": {
            "responseId": "8ded8b81-85d7-5004-893c-d41d0d0169a2",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the webhook response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to track related requests.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the webhook was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata for the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was triggered by the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-change-webhook-subscription-status"
        },
        "example": "open-finance-api-change-webhook-subscription-status"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, providing context for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT (JSON Web Token) bearer authentication scheme for secure API access. Use this scheme for authenticating requests by including a Bearer token in the 'Authorization' header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}