{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Update API",
    "description": "The Merchant Update API allows for efficient modifications to existing merchant information within the system. Intended for administrative users and integration partners, this API provides the ability to change various merchant attributes, ensuring that data remains current and accurate. Common use cases include updating contact details, configuration settings, and operational statuses. By using this API, businesses can maintain robust merchant profiles, enhancing overall service delivery and user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "patch": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Update Merchant Information",
        "description": "This endpoint allows you to update the information for a specific merchant identified by its unique ID. You can modify various attributes of the merchant's profile to keep the information current and accurate.",
        "operationId": "updateMerchantStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "Update the details of a specific merchant identified by MER-800045. This request allows you to modify various attributes of the merchant including name, address, and contact information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMerchantStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMerchantStatusRequest": {
        "title": "Merchant Update Request Body",
        "type": "object",
        "properties": {
          "tradingName": {
            "type": "string",
            "description": "The trading name of the merchant.",
            "example": "Northstar Banking Service"
          },
          "contact": {
            "$ref": "#/components/schemas/MerchantContact"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating merchant information.",
        "example": {
          "tradingName": "Northstar Banking Service",
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "minimumFee": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "57f6bde0-7453-54f2-bb64-abdaaf8dd301",
            "correlationId": "e903631c-2e68-5916-ae8b-a3562d79d160",
            "idempotencyKey": "1f34ee33-b746-516c-87b8-0559f36c1386",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-126637"
            }
          }
        }
      },
      "MerchantContact": {
        "title": "Merchant Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address of the merchant.",
            "example": "contact@merchant.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the merchant.",
            "example": "+123456789"
          },
          "website": {
            "type": "string",
            "description": "The website URL of the merchant.",
            "example": "http://www.merchant.com"
          }
        },
        "description": "Contact information for the merchant."
      },
      "MerchantCapabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Available payment channels for the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Accepted payment methods by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refund is supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum percentage for tips.",
            "example": "string"
          }
        },
        "description": "Capabilities of the merchant regarding payment processing."
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Entity responsible for the fees.",
            "example": "string"
          },
          "paymentFee": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of payment fee.",
                "example": "string"
              },
              "percentage": {
                "type": "string",
                "description": "Percentage applied as a fee.",
                "example": "string"
              },
              "fixedAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency of the fixed amount.",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "description": "Value of the fixed amount.",
                    "example": "string"
                  }
                },
                "description": "Fixed amount fee details."
              }
            },
            "description": "Details of payment fee structure."
          }
        },
        "description": "Commercial terms associated with the merchant."
      },
      "PaymentFee": {
        "title": "Payment Fee Structure",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of fee (e.g., flat, percentage).",
            "example": "percentage"
          },
          "percentage": {
            "type": "string",
            "description": "The percentage fee applied to transactions.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "$ref": "#/components/schemas/FixedAmount"
          },
          "minimumFee": {
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Details of the payment fees applicable to the merchant."
      },
      "FixedAmount": {
        "title": "Fixed Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the fixed amount is denominated.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the fixed amount.",
            "example": "1.00"
          }
        },
        "description": "A fixed fee amount that includes currency and value."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different requests.",
            "example": "corr_123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent_key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "App A"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual information related to the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device_456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateMerchantStatusResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-504004"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactDetails"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for PATCH operation on merchant details.",
        "example": {
          "merchantId": "MER-504004",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5504d5ca-3ca3-5b4d-bebe-63b6c1cad617",
            "correlationId": "e903631c-2e68-5916-ae8b-a3562d79d160",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessDetails": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Incorporation date of the business.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code for classification.",
            "example": "string"
          }
        },
        "description": "Details about the merchant's business."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "Registered address of the merchant."
      },
      "ContactDetails": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website of the merchant.",
            "example": "string"
          }
        },
        "description": "Contact details for the merchant."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed in this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-merchant"
        },
        "example": "banking-p2m-openapi-update-merchant"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the operation is executed, providing context for the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, where clients must provide a valid JSON Web Token (JWT) in the HTTP Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}