{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Joint Borrower Generation API",
    "description": "The Joint Borrower Generation API facilitates the process of onboarding multiple borrowers in financial applications. This API allows users to efficiently collect and manage borrower data, which is essential for assessments in lending scenarios. Typical consumers of this API include banks, credit unions, and mortgage lenders who need to streamline joint applications and enhance customer service. By providing relevant borrower information, the API supports improved decision-making and risk analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/jointborrower": {
      "post": {
        "tags": [
          "Borrower Management"
        ],
        "summary": "Generate a joint borrower profile.",
        "description": "This endpoint allows the creation of a joint borrower profile, enabling the aggregation of financial information and credit history for multiple borrowers applying together.",
        "operationId": "generateJointBorrower",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to generate information for a joint borrower. It includes necessary parameters and configurations needed for processing the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJointBorrowerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the joint borrower information has been generated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateJointBorrowerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GenerateJointBorrowerRequest": {
        "title": "Joint Borrower Request",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the request.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner making the request.",
            "example": "STANDARD"
          },
          "borrowers": {
            "type": "array",
            "description": "List of borrowers involved in the application.",
            "example": [
              {
                "customerId": "CUST-207734",
                "consumerId": "STANDARD",
                "type": "STANDARD",
                "optionalConsumerInfo": {
                  "ssn": "STANDARD",
                  "dob": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Borrower"
            }
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect the user after processing.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL to receive asynchronous notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type for the webhook notifications.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "Experience type indicating the context of the application.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "Timestamp representing the starting date for the application.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for reporting purposes associated with the borrowers.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicator whether the URL provided is a single-use URL.",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for generating joint borrower operations.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "borrowers": [
            {
              "customerId": "CUST-207734",
              "consumerId": "STANDARD",
              "type": "STANDARD",
              "optionalConsumerInfo": {
                "ssn": "STANDARD",
                "dob": 1
              }
            }
          ],
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "singleUseUrl": true,
          "requestContext": {
            "requestId": "b52f7898-faf5-556d-a1ab-ae731cb42e4f",
            "correlationId": "111688eb-3e94-5324-a78a-575f2868e749",
            "idempotencyKey": "b8b9d742-a51c-5210-b077-b2ce1be51950",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-968648"
            }
          }
        }
      },
      "Borrower": {
        "title": "Borrower",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust123"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "cons123"
          },
          "type": {
            "type": "string",
            "description": "Type of the borrower, e.g., primary or secondary.",
            "example": "primary"
          },
          "optionalConsumerInfo": {
            "type": "object",
            "description": "Additional optional consumer information.",
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          }
        },
        "description": "Schema representing a borrower in the joint borrower request."
      },
      "OptionalConsumerInfo": {
        "title": "Optional Consumer Info",
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "dob": {
            "type": "integer",
            "description": "Date of birth represented as a timestamp.",
            "format": "int32",
            "example": 631152000
          }
        },
        "description": "Schema for additional optional consumer information about the borrower."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "Occupation"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "Engineer"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown.",
            "example": true
          }
        },
        "description": "Schema representing a custom field associated with a borrower."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent requests.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2021-10-18T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application initiating the request.",
            "example": "LoanApp"
          },
          "channel": {
            "type": "object",
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "ID of the device used to access the application.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing channel information used in the request context."
      },
      "GenerateJointBorrowerResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Contains metadata information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the joint borrower operation POST request.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "290d0814-61fc-509b-8dbe-5577f437a2c3",
            "correlationId": "111688eb-3e94-5324-a78a-575f2868e749",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata details associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-joint-borrower-connect-url"
        },
        "example": "open-finance-api-generate-joint-borrower-connect-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses JSON Web Tokens (JWT) for securing API endpoints. Clients must provide a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}