{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get External Agency By Param1-spec",
    "description": "The External Agency Lookup API enables users to retrieve information about a specific external agency based on a provided parameter. This endpoint allows consumers to access essential data regarding banking agencies, supporting use cases such as verification and reporting. Typical users of this API include financial institutions, compliance teams, and reporting systems that require up-to-date agency information. By providing detailed insights based on parameterized queries, this API facilitates informed decision-making within financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-service-agency/{param1}": {
      "get": {
        "tags": [
          "Product Service Agency"
        ],
        "summary": "Retrieve a specific product service agency.",
        "description": "This endpoint allows you to fetch detailed information about a specific product service agency using its unique identifier. It provides a comprehensive overview of the agency's attributes and functionalities, empowering users to understand its offerings effectively.",
        "operationId": "getExternalAgencyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to the product service agency with the specified ID. It allows clients to request specific operations or details about the product identified by 'PROD-700045'. Ensure that the structure of the JSON matches the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencyByParam1Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation of the product service for external agencies.",
        "example": "{}"
      },
      "GetExternalAgencyByParam1Response_200": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "AGR-662118"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the agreement is effective, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the external agency product service for an operational GET request.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-662118",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c1702a27-d6e7-552a-b32b-66aa718cac9c",
            "correlationId": "c23758df-9437-56bc-8afd-3d7b3b493e16",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, in ISO 8601 format.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint being called in the external agency's product service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-service-agency-get-product-service-agency"
        },
        "example": "product-service-agency-get-product-service-agency"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application that processed the request, providing traceability for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, which must be provided in the authorization header as a JSON Web Token (JWT). This method allows secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}