{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Param1-spec",
    "description": "The Settlement Account Retrieval API allows users to fetch detailed information about a specific settlement account based on a unique parameter. This endpoint is primarily used by financial institutions or applications needing to track and manage settlement account data efficiently. By providing the necessary parameter, consumers can retrieve relevant details swiftly, enabling them to support data-driven decision-making and streamline their operations. Use cases include monitoring account statuses, verifying transactional records, and supporting regulatory compliance efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve a specific settlement account by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a settlement account identified by its unique account ID. Use this operation to obtain the account's current status, balance, and associated details.",
        "operationId": "getP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves the details of the settlement account identified by 'ACC-200045'. The expected input should conform to the defined schema to ensure all necessary parameters are included for a successful retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the settlement account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByParam1Request": {
        "title": "Settlement Account Request Body",
        "type": "string",
        "description": "This schema represents the request body format for operations related to settlement accounts.",
        "example": "{}"
      },
      "GetP2mByParam1Response_200": {
        "title": "Settlement Account Response",
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier of the settlement account.",
            "example": "ACC-960408"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant associated with the settlement account.",
            "example": "MER-134911"
          },
          "account": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleDetails"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this settlement account is the default account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "The status of verification of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "This schema represents the response structure for retrieving settlement account details.",
        "example": {
          "settlementAccountId": "ACC-960408",
          "merchantId": "MER-134911",
          "account": {
            "bankCode": "CODE-460",
            "branchCode": "CODE-504",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "a8b11566-783c-5b55-9820-4c05af678231",
            "correlationId": "fceb8a89-6b69-5fb7-9162-a8f62a3dc04f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The code of the bank where the account is held.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the account is held.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "The masked number of the account for security purposes.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the account (e.g., savings, checking).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account operates.",
            "example": "string"
          }
        },
        "description": "Details of the bank account associated with the settlement account."
      },
      "ScheduleDetails": {
        "title": "Schedule Details",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency of settlements (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for settlement transactions.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone in which the cutoff time is applicable.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days delay for the settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "The schedule information related to the settlement account."
      },
      "AuditDetails": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the settlement account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the settlement account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the settlement account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the settlement account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The current version number of the settlement account.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about the audit trail of the settlement account."
      },
      "MetadataDetails": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request/response corelation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata information related to the settlement account."
      },
      "MinimumPayoutAmount": {
        "title": "Minimum Payout Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the minimum payout is specified.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum payout amount value.",
            "example": "string"
          }
        },
        "description": "The minimum payout amount details for the settlement account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that generated the response. This ID can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-settlement-account"
        },
        "example": "banking-p2m-openapi-get-settlement-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request. This helps identify which application is responsible for handling the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must provide a valid JWT (JSON Web Token) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}