{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Actions Management API",
    "description": "The Operational Actions Management API enables businesses to effectively manage and automate various IT operations within their banking platforms. It provides essential services for initiating and controlling operational tasks, ensuring streamlined workflows and enhanced productivity. This API is primarily utilized by IT administrators and operation teams looking to perform actions like task scheduling, resource allocation, and incident management. Users can interact with the platform to optimize performance and maintain system integrity through well-defined operational actions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations/operational-actions": {
      "post": {
        "tags": [
          "Operational Actions"
        ],
        "summary": "Create a new operational action.",
        "description": "This endpoint allows users to create a new operational action within the IT management platform, facilitating better management and oversight of various operations.",
        "operationId": "createOperationalAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to perform operational actions within the IT management platform. It includes all necessary parameters to execute the operation successfully and may involve multiple configuration options based on the specific action being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for asynchronous processing.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalActionRequest": {
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action to be performed.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the request.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system that requested the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "The context in which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Defines the request body for initiating operational actions.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "b3621642-3996-5bbf-a95c-fb239a84d90f",
            "correlationId": "c2fdb6ef-f794-56a9-91a9-a20d4ba13353",
            "idempotencyKey": "efb9f180-ea01-557e-bd44-da1d848ff611",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-311329"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency for the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was established.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateOperationalActionResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference identifier for the action.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action being performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processed action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operational actions POST request in the platform operations API.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "a7dcb264-020d-5ce5-897e-1d8164924831",
            "correlationId": "c2fdb6ef-f794-56a9-91a9-a20d4ba13353",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "cor-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the operational actions."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-create-platform-operations-operational-action"
        },
        "example": "platform-operations-create-platform-operations-operational-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request is being processed, aiding in resource management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}