{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Risk Models API",
    "description": "The Credit Risk Models API provides access to a comprehensive suite of credit risk modeling tools designed for financial institutions. This endpoint allows users to retrieve detailed information about various credit risk models available within the system. Typical consumers of this API include risk management teams, financial analysts, and developers looking to integrate credit risk analytics into their applications. By leveraging this API, organizations can enhance their decision-making processes and improve their credit risk assessments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-risk-models": {
      "get": {
        "tags": [
          "Credit Risk Management"
        ],
        "summary": "Retrieve a list of credit risk models.",
        "description": "This endpoint allows users to retrieve all available credit risk models in the system. Users can fetch the latest models to help assess and manage credit risk effectively.",
        "operationId": "getCreditRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving credit risk models. The client must provide valid JSON formatted data to specify the request criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the credit risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditRiskModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for retrieving credit risk models.",
        "example": "{}"
      },
      "GetCreditRiskModelsResponse_200": {
        "title": "Credit Risk Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-896770",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the list of models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving credit risk models including details and pagination.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-896770",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1cd120d9-0423-5c97-bf47-e47ed28d19ad",
            "correlationId": "c95b7c1a-b375-5f04-acba-d2eb339bc5b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditRiskModel": {
        "title": "Credit Risk Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the credit risk model."
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the credit risk model."
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the associated portfolio."
          },
          "asOfDate": {
            "type": "string",
            "description": "Date the model evaluation is as of."
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model is evaluated."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model evaluation."
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validation."
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months used for backtesting the model.",
            "format": "int32"
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the credit risk model."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the model."
          }
        },
        "description": "Details of a credit risk model."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being accessed. This ID helps in tracking and monitoring API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-models-search-credit-risk-models"
        },
        "example": "credit-risk-models-search-credit-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing this operation. This header is useful for identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Token authentication. It requires a token to be provided in the 'Authorization' header of the request, formatted as 'Bearer <token>'. Typically, a JSON Web Token (JWT) is used as the bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}