{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Data Quant Models-spec",
    "description": "The Market Data Quant Models Retrieval API provides essential access to a list of quantitative models utilized in analyzing market data. This endpoint allows users, particularly financial analysts and data scientists, to seamlessly retrieve a collection of quant models tailored for market analysis. Typical use cases include fetching model specifications for evaluation, integration into analytics tools, or comparative analysis. With this API, developers can enhance their applications with robust market data insights, driving informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve quant model market data.",
        "description": "This endpoint allows users to fetch the latest market data related to quant models, providing essential insights for analysis and decision-making.",
        "operationId": "listMarketDataQuantModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve quant model data from the market data API. Ensure to include all necessary parameters to filter or specify the required quant model information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketDataQuantModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the quant model market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketDataQuantModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketDataQuantModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the market data quant model API. It is expected to receive a JSON string.",
        "example": "{}"
      },
      "ListMarketDataQuantModelsResponse_200": {
        "title": "Market Data Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-374",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for market data requests, including a list of items and pagination details.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-374",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f55eab25-9d11-5af7-97a9-735a0b504c55",
            "correlationId": "08178471-6bf0-544a-acca-afdf263cbd23",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "title": "Market Data Item",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument.",
            "example": "AAPL"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "US0378331005"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code representing the market where the instrument is traded.",
            "example": "XNAS"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time at which the data is relevant.",
            "example": "2023-10-01T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the data was obtained.",
            "example": "Exchange"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "This schema represents an individual market data item containing relevant details."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated list.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "This schema provides information about the pagination of the data response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "corr-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata related to the response for traceability and tracking purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-search-quant-model"
        },
        "example": "quant-model-search-quant-model"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which uses JSON Web Tokens (JWT) for secure authorization. Clients must include a valid JWT in the 'Authorization' header for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}