{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Employee Expense Claim By Expense Claim Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace Banking Employee Expense Claim By Expense Claim Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/employees/{employeeId}/expense-claims/{expenseClaimId}": {
      "put": {
        "operationId": "replaceBankingEmployeeExpenseClaimByExpenseClaimId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employeeId"
          },
          {
            "$ref": "#/components/parameters/expenseClaimId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdRequest": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "example": "EMP-397951"
          },
          "tripPurpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "example": "string"
              },
              "to": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "from": "2026-08-11",
              "to": "2026-08-11"
            }
          },
          "claimedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "costCenter": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "c75a83d3-9db3-5a9b-8508-0c152e91e212",
              "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
              "idempotencyKey": "e6b8d22d-c06a-5d70-8b23-d5f3d4dd9c1e",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-423278"
              }
            }
          }
        },
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-397951",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "c75a83d3-9db3-5a9b-8508-0c152e91e212",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "idempotencyKey": "e6b8d22d-c06a-5d70-8b23-d5f3d4dd9c1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-423278"
            }
          }
        }
      },
      "ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdResponse_201": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "example": "EMP-200976"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-557358"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
              "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-200976",
          "resourceId": "RES-557358",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "employeeId": {
        "name": "employeeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "expenseClaimId": {
        "name": "expenseClaimId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-create-travel-and-expenses"
        },
        "example": "travel-and-expenses-create-travel-and-expenses"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "803e0cc7-b200-4c52-8cbb-c1d4524b5b4b"
        },
        "example": "803e0cc7-b200-4c52-8cbb-c1d4524b5b4b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}