{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Human Resource Management Employee Data Managements-v5-spec",
    "description": "The Employee Data Management API provides access to comprehensive employee data within the Banking Human Resource Management system. It enables HR professionals and administrative users to retrieve essential employee information, including personal details, job roles, and organizational structure. This API is particularly useful for generating reports, auditing purposes, and maintaining up-to-date employee records. Organizations can leverage this endpoint to enhance their HR functionalities and comply with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-data-management": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve employee data.",
        "description": "This endpoint allows you to fetch detailed information about employees within the human resource management system. You can use this data for analysis or reporting purposes.",
        "operationId": "listBankingHumanResourceManagementEmployeeDataManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve employee data within the human resource management system. It specifies the necessary parameters to customize the data retrieval process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingHumanResourceManagementEmployeeDataManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning employee data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingHumanResourceManagementEmployeeDataManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingHumanResourceManagementEmployeeDataManagementsRequest": {
        "type": "string",
        "description": "A JSON string representation of the request body for retrieving employee data.",
        "example": "{}"
      },
      "ListBankingHumanResourceManagementEmployeeDataManagementsResponse_200": {
        "title": "Employee Data Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of employee records.",
            "example": [
              {
                "employeeId": "EMP-989182",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Employee"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Employee Data Management API GET operation, providing an array of employee records and pagination information.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-989182",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1fc89736-b7e8-5ce3-adea-40c8cc9c07e0",
            "correlationId": "5c359ccb-7138-56f7-9252-05bb11ff6e1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Employee": {
        "title": "Employee Record",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "E12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the employee's assignment.",
            "example": "A98765"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department where the employee is assigned.",
            "example": "D4321"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the employee's assignment becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code of the employee's work location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment, e.g., full-time, part-time.",
            "example": "full-time"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager.",
            "example": "M67890"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "Headquarters"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-05-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single employee record."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "R00123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "C00123456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-05-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema providing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and debugging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-data-management-search-employee-data-management"
        },
        "example": "employee-data-management-search-employee-data-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context about the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header to authenticate requests made to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}