{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Pay Statements Aggregation API",
    "description": "The Customer Pay Statements Aggregation API facilitates the submission of pay statement data for specific customers, identified by their unique customer IDs. This endpoint allows businesses to aggregate financial information efficiently, ensuring accurate reporting and compliance with financial regulations. Typical consumers include financial institutions and accounting software that require summarized pay statement data for analysis or processing. Use this API to enhance financial transparency and streamline data management processes for your organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/paystatements": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new pay statement for a specific customer.",
        "description": "This endpoint allows you to generate and submit a new pay statement for a customer identified by their unique ID. It is essential for managing customer records and ensuring accurate financial documentation.",
        "operationId": "createPayStatementForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new pay statement for the customer identified by CUST-100045. The request should include the necessary payment details and any associated metadata required for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayStatementForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the pay statement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePayStatementForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePayStatementForCustomerRequest": {
        "title": "Pay Statement Request Body",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "A label describing the pay statement.",
            "example": "STANDARD"
          },
          "statement": {
            "type": "string",
            "description": "The content of the pay statement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request including identifiers and source details.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This object represents the request body for posting pay statements. It includes a label, statement details, and contextual information about the request.",
        "example": {
          "label": "STANDARD",
          "statement": "STANDARD",
          "requestContext": {
            "requestId": "7d8ecb50-c2a7-5845-bb5d-2fc39e345642",
            "correlationId": "713afa3f-3935-504c-9598-ae4c047de718",
            "idempotencyKey": "dc2002e0-3b2e-54fa-a9e2-92419b216afb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-114574"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs and traces.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotent-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "format": "date-time",
            "example": 1696161600.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Employee Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Payroll Application"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This object encapsulates contextual information regarding the request. It includes identifiers for tracking and details about the source of the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "This object provides information about the channel through which the request was made. It includes identifiers for the channel type and device used."
      },
      "CreatePayStatementForCustomerResponse_200": {
        "title": "Pay Statements Response",
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the pay statements operation.",
        "example": {
          "assetId": "STANDARD",
          "metadata": {
            "responseId": "caefa511-085c-5a31-b9b8-276339f4eb5f",
            "correlationId": "713afa3f-3935-504c-9598-ae4c047de718",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs or events.",
            "example": "corr-78910"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-25T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-store-customer-pay-statement"
        },
        "example": "open-finance-api-store-customer-pay-statement"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method based on JSON Web Tokens (JWT). Clients must include a valid JWT in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}