{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Trade Confirmation Matching API facilitates the retrieval of market operations related to trade confirmations based on a specified parameter. It allows users to efficiently access detailed match results that align with their trading criteria. This API is particularly useful for financial institutions and trading platforms requiring compliance and accurate trade reports. By providing insights into trade confirmations, it helps users make informed decisions and enhances operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-confirmation-matching/{param1}": {
      "get": {
        "tags": [
          "Trade Confirmation"
        ],
        "summary": "Retrieve Trade Confirmation Matching Details",
        "description": "Fetches the details of the trade confirmation matching for the specified resource ID. This endpoint allows users to access relevant information and verify the matching process's status, making it essential for trade validation and operations.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve trade confirmation matching data. It requires specific details to be provided in JSON format to ensure accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved trade confirmation details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "title": "Trade Confirmation Matching Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Trade Confirmation Matching operation in the market operations API.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "title": "Trade Confirmation Matching Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "A unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the trade is to be settled.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the financial instrument being traded.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "A unique identifier for the custodian responsible for the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "A unique identifier for the clearing house handling the trade.",
            "example": "STANDARD"
          },
          "settlementMethod": {
            "type": "string",
            "description": "The method by which the trade will be settled.",
            "example": "STANDARD"
          },
          "matchingStatus": {
            "type": "string",
            "description": "The current status of the trade matching process.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the trade record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the trade record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the trade confirmation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for trade confirmation matching operations, containing trade details along with metadata.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "settlementMethod": "STANDARD",
          "matchingStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "302059f9-bcfd-5384-9f75-d79236018d26",
            "correlationId": "8f713c2a-eccd-5fa3-9aad-85c0ba741b92",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request through the system.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US"
          }
        },
        "description": "This schema defines the metadata properties associated with the trade confirmation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-confirmation-matching-get-trade-confirmation-matching"
        },
        "example": "trade-confirmation-matching-get-trade-confirmation-matching"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication. The client must include a bearer token in the Authorization header while making requests. The token should be in JWT (JSON Web Token) format to ensure secure transmission of user identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}