{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Relationship Management API",
    "description": "The Correspondent Bank Relationship Management API facilitates the retrieval of essential information related to the relationships with correspondent banks. This API allows users to access detailed insights about various agencies involved in banking collaborations, making it crucial for financial institutions managing international transfers. Typical consumers of this API include compliance officers, relationship managers, and financial analysts who require up-to-date data to support their operations. By leveraging this API, organizations can enhance their understanding of correspondent relationships, ensuring improved decision-making and risk management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-relationship-management/{param1}": {
      "get": {
        "tags": [
          "Correspondent Bank Management"
        ],
        "summary": "Retrieve Correspondent Bank Relationship Details",
        "description": "Fetches the details of a specific correspondent bank relationship based on the provided unique identifier. This endpoint allows users to access relevant information about the correspondent bank relationship for better management and oversight.",
        "operationId": "getCorrespondentBankRelationshipById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve details regarding the correspondent bank relationship management for the specified resource. It is essential to provide the necessary parameters to ensure accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondentBankRelationshipByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondentBankRelationshipByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondentBankRelationshipByIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the Correspondent Bank Relationship Management API.",
        "example": "{}"
      },
      "GetCorrespondentBankRelationshipByIdResponse_200": {
        "title": "Correspondent Bank Relationship Management Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement associated with the correspondent bank relationship.",
            "example": "AGR-692332"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code for the correspondent bank.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code representing the country of the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the relationship becomes effective.",
            "example": "2026-09-15"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account opened with the correspondent bank.",
            "example": "ACC-181027"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settling transactions with the correspondent bank.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the correspondent bank relationship.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the relationship record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the relationship record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for correspondent bank relationship management operations.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-692332",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "nostroAccountId": "ACC-181027",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "59158bd2-0e8a-5fbf-9b4d-836bec25b7d7",
            "correlationId": "c36d1596-8a8e-5f7d-90d2-cd11cae42657",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-relationship-management-get-correspondent-bank-relationship-management"
        },
        "example": "correspondent-bank-relationship-management-get-correspondent-bank-relationship-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically in JSON Web Token (JWT) format, allowing the client to make secure API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}