{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Analysis API",
    "description": "The Market Analysis API offers comprehensive insights into market trends and analytics for businesses. It enables users to access data regarding various market factors, helping them make informed decisions. Typical consumers include financial analysts, business strategists, and market researchers who utilize this data for analysis and reporting. The API supports the retrieval of detailed business analytics to bolster growth strategies and market positioning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-analysis": {
      "get": {
        "tags": [
          "Market Analysis"
        ],
        "summary": "Retrieve Market Analysis Data",
        "description": "Fetch comprehensive market analysis data to inform business strategies and decisions. This endpoint provides insights into market trends, competition, and consumer behavior.",
        "operationId": "getMarketAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters required to perform a market analysis operation in the business analysis context. It should be formatted as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully fetched market analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketAnalysisRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the market analysis operations in the business analysis context.",
        "example": "{}"
      },
      "GetMarketAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of market analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the market analysis items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for market analysis operation, containing a list of items related to analysis, pagination info, sort criteria, and metadata.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9d506a03-bfbd-50f8-b39d-72d611b10709",
            "correlationId": "58f66c76-fbaf-5db3-aa7f-7e893e58f673",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketAnalysisItem": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the market analysis."
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment related to the analysis."
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period."
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period."
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency for the analysis base."
          },
          "scenario": {
            "type": "string",
            "description": "Scenario type of the analysis."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the analysis record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the analysis was last updated."
          }
        },
        "description": "Schema representing an individual market analysis item."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the API response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called, useful for debugging and tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-analysis-search-market-analysis"
        },
        "example": "market-analysis-search-market-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the API request, providing context for the request's origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication to secure endpoints. The token should be a valid JSON Web Token (JWT) that is passed in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}