{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Disbursement Retrieval API",
    "description": "The Loan Disbursement Retrieval API facilitates the access and management of disbursement details related to specific loans. This endpoint allows users to retrieve comprehensive information about disbursements associated with a particular loan identified by its unique loan ID. Typical consumers include financial institutions, loan managers, and accounting teams interested in tracking disbursement histories and statuses. By utilizing this API, developers can enhance their applications with functionality that streamlines financial oversight and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve disbursement details for a specific loan.",
        "description": "This endpoint allows developers to access detailed information about disbursements made for a specified loan. It retrieves data related to the disbursement amounts, dates, and relevant transaction identifiers. Use this endpoint to understand how and when funds were disbursed for loan LOAN-500045.",
        "operationId": "getLoanDisbursements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving disbursement details related to a specific loan. This is used to fetch all relevant disbursement information for the loan identified by LOAN-500045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanDisbursementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of disbursement details for the specified loan.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanDisbursementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanDisbursementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving disbursement operations related to a specific loan.",
        "example": "{}"
      },
      "GetLoanDisbursementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of disbursement entries.",
            "example": [
              {
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "disbursementMethod": "STANDARD",
                "valueDate": "2026-09-15",
                "beneficiary": {
                  "name": "Northstar Banking Service",
                  "accountNumber": "STANDARD",
                  "bankCode": "CODE-912",
                  "bankName": "Northstar Banking Service",
                  "address": {
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "city": "New York",
                    "state": "STANDARD",
                    "postalCode": "10001",
                    "country": "STANDARD"
                  }
                },
                "deductions": [
                  {
                    "type": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "narrative": "STANDARD",
                "externalReference": "STANDARD",
                "id": "4707bc3e-7150-0a69-2443-2ae037c8d4c0",
                "disbursementNumber": "STANDARD",
                "status": "ACTIVE",
                "grossAmount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "netAmount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "transactionReference": "STANDARD",
                "processedAt": "2026-08-11T12:00:00Z",
                "failureCode": "CODE-327",
                "failureMessage": "STANDARD",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Disbursement"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for loan disbursements, including details of each disbursement and metadata.",
        "example": {
          "items": [
            {
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "disbursementMethod": "STANDARD",
              "valueDate": "2026-09-15",
              "beneficiary": {
                "name": "Northstar Banking Service",
                "accountNumber": "STANDARD",
                "bankCode": "CODE-912",
                "bankName": "Northstar Banking Service",
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                }
              },
              "deductions": [
                {
                  "type": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "narrative": "STANDARD",
              "externalReference": "STANDARD",
              "id": "4707bc3e-7150-0a69-2443-2ae037c8d4c0",
              "disbursementNumber": "STANDARD",
              "status": "ACTIVE",
              "grossAmount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "netAmount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "transactionReference": "STANDARD",
              "processedAt": "2026-08-11T12:00:00Z",
              "failureCode": "CODE-327",
              "failureMessage": "STANDARD",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "7d857383-22a0-577b-abdf-7035453f439b",
            "correlationId": "23024d69-f1eb-594e-9ddf-aa649e9a5b67",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Disbursement": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the disbursement amount."
              },
              "amount": {
                "type": "string",
                "description": "The amount of money being disbursed."
              }
            },
            "description": "The total amount of the disbursement."
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used for the disbursement (e.g., bank transfer, cash)."
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement is effective."
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the beneficiary."
              },
              "accountNumber": {
                "type": "string",
                "description": "The bank account number of the beneficiary."
              },
              "bankCode": {
                "type": "string",
                "description": "The code of the bank holding the beneficiary's account."
              },
              "bankName": {
                "type": "string",
                "description": "The name of the bank holding the beneficiary's account."
              },
              "address": {
                "type": "object",
                "properties": {
                  "line1": {
                    "type": "string",
                    "description": "The first line of the address."
                  },
                  "line2": {
                    "type": "string",
                    "description": "The second line of the address, if any."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city of the beneficiary's address."
                  },
                  "state": {
                    "type": "string",
                    "description": "The state of the beneficiary's address."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "The postal code of the beneficiary's address."
                  },
                  "country": {
                    "type": "string",
                    "description": "The country of the beneficiary's address."
                  }
                },
                "description": "The address of the beneficiary."
              }
            },
            "description": "Information about the beneficiary of the disbursement."
          },
          "deductions": {
            "type": "array",
            "description": "Any deductions applied to the disbursement.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of deduction (e.g., fees, taxes)."
                },
                "amount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "description": "The currency of the deduction amount."
                    },
                    "amount": {
                      "type": "string",
                      "description": "The amount being deducted."
                    }
                  },
                  "description": "The amount of the deduction."
                }
              }
            }
          },
          "narrative": {
            "type": "string",
            "description": "Additional information or comments about the disbursement."
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference ID for tracking purposes."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the disbursement."
          },
          "disbursementNumber": {
            "type": "string",
            "description": "A reference number for the disbursement."
          },
          "status": {
            "type": "string",
            "description": "The current status of the disbursement (e.g., completed, pending)."
          },
          "grossAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the gross amount."
              },
              "amount": {
                "type": "string",
                "description": "The gross amount of the disbursement."
              }
            },
            "description": "The total amount before deductions."
          },
          "netAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the net amount."
              },
              "amount": {
                "type": "string",
                "description": "The net amount of the disbursement."
              }
            },
            "description": "The total amount after deductions."
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference for tracking the transaction."
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp of when the transaction was processed."
          },
          "failureCode": {
            "type": "string",
            "description": "A code indicating a failure reason, if applicable."
          },
          "failureMessage": {
            "type": "string",
            "description": "A message describing the failure, if applicable."
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "Timestamp when the disbursement was created."
              },
              "createdBy": {
                "type": "string",
                "description": "Identifies who created the disbursement."
              },
              "updatedAt": {
                "type": "string",
                "description": "Timestamp when the disbursement was last updated."
              },
              "updatedBy": {
                "type": "string",
                "description": "Identifies who last updated the disbursement."
              },
              "version": {
                "type": "integer",
                "description": "The version number of the disbursement record.",
                "format": "int32"
              }
            },
            "description": "Information about the audit trail for the disbursement."
          }
        },
        "description": "Details about a specific loan disbursement."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Metadata for the API response, providing tracking and informational details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-disbursements"
        },
        "example": "banking-loans-openapi-list-disbursements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication, allowing secured access to the API. Tokens are typically issued as JSON Web Tokens (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}