{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Refund Submission API",
    "description": "The Refund Submission API enables businesses to submit refund requests for processing. It focuses on ensuring timely and accurate handling of refund transactions, thereby enhancing customer satisfaction. Organizations can utilize this API for managing refund workflows and integrating these processes into their financial systems. Typical consumers include e-commerce platforms and financial service providers who need a streamlined solution for refund management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}/submit": {
      "post": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Submit a refund for a specific reservation",
        "description": "This endpoint allows you to submit a refund request for the reservation identified by its unique ID. Ensure that all required parameters are provided and valid before submitting the request.",
        "operationId": "submitRefundForReservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a refund for the specified refund ID. The payload must include the necessary details to process the refund successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRefundForReservationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, refund submission confirmed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitRefundForReservationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SubmitRefundForReservationRequest": {
        "title": "Submit Refund Request",
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "The context of the request containing identification and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for submitting a refund operation.",
        "example": {
          "requestContext": {
            "requestId": "c1535f7a-f2be-5207-8b06-26ab8a788eff",
            "correlationId": "a6a8f47e-5aa0-51fb-b93e-e499f0a1e0f7",
            "idempotencyKey": "992362ba-696c-577f-bad2-4ba4cdafc683",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-712134"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating logs across different systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is processed only once.",
            "example": "key-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "A timestamp indicating when the request was made.",
            "example": "2023-10-05T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "paymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "mobileApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual data for the refund request, including IDs and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Details about the communication channel through which the request was made."
      },
      "SubmitRefundForReservationResponse_200": {
        "title": "Refund Response",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier of the associated payment.",
            "example": "PAY-577084"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the refund.",
            "example": "MER-134885"
          },
          "amount": {
            "description": "The amount to be refunded, including currency information.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-744"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Merchant's internal reference for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details regarding failure, if the refund could not be processed.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Information related to the payment processor's response.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information regarding the refund transaction.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the refund.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a refund submission operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-577084",
          "merchantId": "MER-134885",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-744",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-231",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-334523",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-234"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "3463a11d-76cc-5345-a718-9f0196bc4345",
            "correlationId": "a6a8f47e-5aa0-51fb-b93e-e499f0a1e0f7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the amount being refunded.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount details for a transaction."
      },
      "Failure": {
        "title": "Failure",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "PROCESSING_ERROR"
          },
          "code": {
            "type": "string",
            "description": "Specific error code for the failure.",
            "example": "ERR001"
          },
          "message": {
            "type": "string",
            "description": "Message providing details about the failure.",
            "example": "Insufficient funds."
          },
          "declineCode": {
            "type": "string",
            "description": "Code indicating the reason for the decline.",
            "example": "DECLINE"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Schema representing the failure details in the refund process."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Payment network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID assigned by the payment scheme.",
            "example": "txn_123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquiring bank.",
            "example": "123456789"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number provided by the issuing bank.",
            "example": "987654321"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for retrieval requests.",
            "example": "R123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code received from the processor.",
            "example": "APPROVED"
          }
        },
        "description": "Schema representing information related to the payment processor's response."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the refund was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the refund.",
            "example": "system_user_id"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the refund was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the refund.",
            "example": "system_user_id"
          },
          "version": {
            "type": "integer",
            "description": "Version number for the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information about the refund transaction."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "ID uniquely identifying the response.",
            "example": "response_id_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across systems.",
            "example": "correlation_id_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the transaction was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema containing additional metadata about the refund transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-submit-refund"
        },
        "example": "banking-p2m-openapi-submit-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authorization. It allows clients to authenticate by including a token in the Authorization header as a 'Bearer' token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}