{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan Application By Document Id-spec",
    "description": "This API endpoint allows for the modification of specific documents associated with a loan application identified by its Document ID. It enables users to update information within a loan application seamlessly, supporting efficient document management in financial services. Typical consumers include loan officers and application processors who need to keep loan documentation up to date for compliance and processing efficiency. This API facilitates the dynamic management of loan documents, contributing to improved workflow and operational effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update documents for a specific loan application.",
        "description": "This operation allows the user to update documents associated with a specific loan application identified by the RES-100045 reference. It is designed for managing and altering document entries effectively in the loan application system.",
        "operationId": "updateLoanApplicationByDocumentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/documentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the loan application documents associated with the specified loan application ID (RES-100045). The JSON payload should contain the necessary fields to modify the existing document details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationByDocumentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource is updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationByDocumentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationByDocumentIdRequest": {
        "title": "Loan Application Document Request Schema",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document being submitted.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file being submitted.",
            "example": "Northstar Banking Service"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the location where the document is stored.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document, if applicable.",
            "example": "2026-09-15"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current verification status of the document.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments regarding the verification status of the document.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating loan application documents.",
        "example": {
          "documentType": "STANDARD",
          "fileName": "Northstar Banking Service",
          "storageReference": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "requestContext": {
            "requestId": "42fa9206-de59-5127-9ba4-eb9ace9b964b",
            "correlationId": "3e8c9281-c70c-53b9-92e4-c326b40b79ee",
            "idempotencyKey": "afc5476d-717b-5fe9-a0b4-5b1e09829ecc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-385083"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "Loan Processing System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the context of the request including identifiers and timestamps."
      },
      "ChannelInfo": {
        "title": "Channel Information Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1234"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Mobile, Web, API).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device being used.",
            "example": "device-5678"
          }
        },
        "description": "Schema representing the details of the channel through which the request was made."
      },
      "UpdateLoanApplicationByDocumentIdResponse_200": {
        "title": "Loan Application Document",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document (e.g., identification, proof of income).",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier for the applicant.",
            "example": "a838a0ca-8c72-a4eb-692a-407b65260d9c"
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral associated with the loan.",
            "example": "44fa08b6-e608-0c00-7db9-f15aaf2361f6"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the uploaded file.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the uploaded file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the location where the document is stored.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA-256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "905a0511-65b8-e91e-4267-12e6ae8d3a64"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current status of the document verification.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments related to the document verification process.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "The date and time when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "The identifier of the user who performed the verification.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the document.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata about the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing a document associated with a loan application.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "a838a0ca-8c72-a4eb-692a-407b65260d9c",
          "collateralId": "44fa08b6-e608-0c00-7db9-f15aaf2361f6",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "905a0511-65b8-e91e-4267-12e6ae8d3a64",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1c257e32-7d7b-5208-a189-1712483b34a9",
            "correlationId": "3e8c9281-c70c-53b9-92e4-c326b40b79ee",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the document was created.",
            "example": "2023-01-01T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the document.",
            "example": "creator_001"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the document was last updated.",
            "example": "2023-02-01T09:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the document.",
            "example": "updater_001"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit details of the document."
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response associated with the document.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the document through the system.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-01-01T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document is processed.",
            "example": "region_001"
          }
        },
        "description": "Schema containing additional metadata related to the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "documentId": {
        "name": "documentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-application-document"
        },
        "example": "banking-loans-openapi-update-application-document"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token in the HTTP Authorization header, formatted as a JSON Web Token (JWT). This scheme is commonly used for securing APIs and ensuring that requests are made by authenticated users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}