{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Compliance Regulatory Compliances-spec",
    "description": "The Regulatory Compliance Listing API provides access to a comprehensive list of regulatory compliance requirements within the banking sector. This endpoint allows users to retrieve detailed information about various compliance regulations that financial institutions must adhere to. Typically utilized by compliance officers, legal teams, and auditors, this API supports informed decision-making and ensures adherence to legal standards. Use cases include regulatory assessment, compliance reporting, and audit preparation, making it an essential resource for maintaining compliance integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-compliance": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve Regulatory Compliance Information",
        "description": "This endpoint allows clients to retrieve information regarding compliance with regulatory standards relevant to our operations. It provides necessary details for understanding the current compliance status and any areas that may require attention.",
        "operationId": "listComplianceRegulatoryCompliances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the criteria and parameters required to retrieve regulatory compliance data. It should adhere to the specified schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListComplianceRegulatoryCompliancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved regulatory compliance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListComplianceRegulatoryCompliancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListComplianceRegulatoryCompliancesRequest": {
        "title": "Regulatory Compliance Request Body",
        "type": "string",
        "description": "A string representation of the regulatory compliance request body used in the GET operation.",
        "example": "{}"
      },
      "ListComplianceRegulatoryCompliancesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of compliance submissions.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ComplianceSubmission"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the compliance submissions.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the regulatory compliance operation, containing a list of compliance items and pagination metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "26e8fc55-c185-583d-80f8-258ad8f1d422",
            "correlationId": "0ce3d239-cc1c-55c4-88a8-a916f772dcb9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceSubmission": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the compliance submission.",
            "example": "submission-123"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "entity-456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction to which the compliance submission pertains.",
            "example": "California"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for which the compliance is relevant.",
            "example": "2023-01"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the compliance submission was made.",
            "example": "Regulation X"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the compliance submission.",
            "example": "2023-02-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the compliance submission.",
            "example": "Submitted"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update to the compliance submission.",
            "example": "2023-01-20T10:00:00Z"
          }
        },
        "description": "Schema representing an individual compliance submission."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the pagination.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of compliance submissions available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the compliance submission list."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request and response.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-20T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-compliance-search-regulatory-compliance"
        },
        "example": "regulatory-compliance-search-regulatory-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This security scheme employs JWT (JSON Web Tokens) for securely transmitting information between parties, allowing access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}