{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Data Enrichment Transaction-spec",
    "description": "The Data Enrichment Transaction Creation API facilitates the submission of data enrichment transactions for processing. This API allows businesses to enhance their existing data by initiating enrichment processes that improve data quality and insights. Common consumers of this API include data analysts and marketing teams seeking to enrich customer profiles or product information. By leveraging this API, organizations can ensure their data is comprehensive and relevant, leading to improved decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/data-enrichment/transactions": {
      "post": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Create a new transaction",
        "description": "This endpoint allows users to create a new transaction in the system. Users must provide necessary transaction details in the request body. Ensure that all required fields are correctly filled to avoid errors.",
        "operationId": "createDataEnrichmentTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new transaction. It should include all necessary transaction details as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataEnrichmentTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction processed successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDataEnrichmentTransactionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDataEnrichmentTransactionRequest": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "An array of transaction objects.",
            "example": [
              {
                "externalCustomerId": "CUST-166933",
                "externalAccountId": "ACC-669678",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-452018",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100.0,
                "transactionFee": 100.0,
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service",
                  "line1": "350 Fifth Avenue",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations related to transactions.",
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-166933",
              "externalAccountId": "ACC-669678",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-452018",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100.0,
              "transactionFee": 100.0,
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service",
                "line1": "350 Fifth Avenue",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "requestContext": {
            "requestId": "9bd38ff1-fa08-5882-bfaa-d3e1464fdb56",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "idempotencyKey": "1ab9f562-3a0f-508d-ab3a-f8350b55a8e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-758843"
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "externalCustomerId": {
            "type": "string",
            "description": "The unique identifier for the external customer."
          },
          "externalAccountId": {
            "type": "string",
            "description": "The unique identifier for the external account associated with this transaction."
          },
          "accountType": {
            "type": "string",
            "description": "The type of account associated with the transaction (e.g., savings, checking)."
          },
          "externalTransactionId": {
            "type": "string",
            "description": "The unique identifier for the external transaction."
          },
          "postedTimestamp": {
            "type": "string",
            "description": "The timestamp when the transaction was posted.",
            "format": "date-time"
          },
          "transactionTimestamp": {
            "type": "string",
            "description": "The timestamp when the transaction occurred.",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the transaction."
          },
          "memo": {
            "type": "string",
            "description": "Additional information or notes regarding the transaction."
          },
          "amount": {
            "type": "integer",
            "description": "The amount of money involved in the transaction.",
            "format": "int32"
          },
          "transactionFee": {
            "type": "integer",
            "description": "The fee associated with the transaction.",
            "format": "int32"
          },
          "transactionCategory": {
            "type": "string",
            "description": "The category of the transaction."
          },
          "transactionCategoryScore": {
            "type": "integer",
            "description": "A score representing the confidence in the transaction's category.",
            "format": "int32"
          },
          "transactionCategoryGroup": {
            "type": "string",
            "description": "The group that the transaction's category belongs to."
          },
          "type": {
            "type": "string",
            "description": "The type of transaction (e.g., debit, credit)."
          },
          "directionIndicator": {
            "type": "string",
            "description": "Indicates the direction of the transaction (e.g., inflow, outflow)."
          },
          "entities": {
            "type": "array",
            "description": "A list of entities associated with the transaction.",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "cardAcceptorId": {
            "type": "string",
            "description": "The ID of the card acceptor associated with the transaction."
          },
          "inputIsRecurringTransaction": {
            "type": "boolean",
            "description": "Indicates whether the transaction is a recurring transaction."
          },
          "inputMerchantInformation": {
            "$ref": "#/components/schemas/MerchantInformation"
          }
        },
        "description": "Represents a financial transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique ID for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "MerchantInformation": {
        "type": "object",
        "properties": {
          "merchantDescriptor": {
            "type": "string",
            "description": "Descriptor of the merchant as displayed on a transaction."
          },
          "name": {
            "type": "string",
            "description": "The name of the merchant."
          }
        },
        "description": "Represents information about the merchant involved in the transaction."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateDataEnrichmentTransactionResponse_200": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "A list of transactions processed in response to the request.",
            "example": [
              {
                "externalCustomerId": "CUST-434103",
                "externalAccountId": "ACC-314144",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-346225",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100,
                "transactionFee": 100,
                "transactionCategory": "STANDARD",
                "transactionCategoryScore": 100,
                "transactionCategoryGroup": "STANDARD",
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "entities": [
                  {
                    "id": "STANDARD",
                    "name": "Northstar Banking Service",
                    "group": "STANDARD",
                    "category": "STANDARD",
                    "website": "STANDARD",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "entityStandardizationConfidenceScore": 100
                  }
                ],
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD",
                  "latitude": 100,
                  "longitude": 100,
                  "phoneNumber": "+1-212-555-0147"
                },
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-434103",
              "externalAccountId": "ACC-314144",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-346225",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100,
              "transactionFee": 100,
              "transactionCategory": "STANDARD",
              "transactionCategoryScore": 100,
              "transactionCategoryGroup": "STANDARD",
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "entities": [
                {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "group": "STANDARD",
                  "category": "STANDARD",
                  "website": "STANDARD",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "entityStandardizationConfidenceScore": 100
                }
              ],
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD",
                "latitude": 100,
                "longitude": 100,
                "phoneNumber": "+1-212-555-0147"
              },
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service"
              }
            }
          ],
          "metadata": {
            "responseId": "e4c0a7be-1e91-5f0b-b61e-9435e42e4bcf",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the entity."
          },
          "name": {
            "type": "string",
            "description": "The name of the entity."
          },
          "group": {
            "type": "string",
            "description": "The group that the entity belongs to."
          },
          "category": {
            "type": "string",
            "description": "The category of the entity."
          },
          "website": {
            "type": "string",
            "description": "The website URL of the entity."
          },
          "logoUrl": {
            "type": "string",
            "description": "The URL of the entity's logo."
          },
          "entityStandardizationConfidenceScore": {
            "type": "integer",
            "description": "The confidence score for entity standardization.",
            "format": "int32"
          }
        },
        "description": "Represents an entity associated with a transaction."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address."
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address, if applicable."
          },
          "city": {
            "type": "string",
            "description": "The city of the address."
          },
          "state": {
            "type": "string",
            "description": "The state of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the address."
          },
          "country": {
            "type": "string",
            "description": "The country of the address."
          },
          "latitude": {
            "type": "integer",
            "description": "The latitude coordinate of the address.",
            "format": "int32"
          },
          "longitude": {
            "type": "integer",
            "description": "The longitude coordinate of the address.",
            "format": "int32"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number associated with the address."
          }
        },
        "description": "Represents the address associated with a transaction."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking a request correlating to its response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "format": "date-time"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Contains metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-enrich-transactions"
        },
        "example": "open-finance-api-enrich-transactions"
      },
      "x-runtime-app": {
        "description": "The name of the application that generated the response during runtime.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token. The token should be in JWT (JSON Web Token) format, which is used to authorize requests by validating the user's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}