{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_QR Payment Requests API",
    "description": "The QR Payment Requests API facilitates the retrieval of QR payment request information. This endpoint allows applications to access details of previous payment requests made using QR codes, making it ideal for developers looking to integrate payment tracking features into their systems. Typical consumers include merchant platforms and financial service providers that want to enhance customer transaction capabilities. By utilizing this API, businesses can streamline their payment processing and improve user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests": {
      "get": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Retrieve QR payment requests.",
        "description": "This endpoint allows developers to retrieve a list of QR payment requests made by users. It provides details about each request, such as the request ID, payment amount, and status, enabling further processing or tracking of payments.",
        "operationId": "getQrPaymentRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve QR payment requests. This body may contain filters or parameters that specify the desired payment requests to be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQrPaymentRequestsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of QR payment requests.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQrPaymentRequestsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetQrPaymentRequestsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for QR payment requests operations via the GET method.",
        "example": "{}"
      },
      "GetQrPaymentRequestsResponse_200": {
        "title": "QR Payment Requests Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of link objects for pagination.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of QR payment request items.",
            "example": [
              {
                "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
                "merchantId": "MER-581922",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "mode": "STANDARD",
                "standard": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "merchantOrderId": "ORD-539874",
                "description": "Customer banking request processed successfully",
                "tipOptions": {
                  "mode": "STANDARD",
                  "fixedAmounts": [
                    {
                      "currency": "USD",
                      "value": "STANDARD"
                    }
                  ],
                  "percentages": [
                    "STANDARD"
                  ],
                  "maximumTip": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "qrPayload": "STANDARD",
                "qrImageUrl": "https://example.com/resource",
                "status": "ACTIVE",
                "singleUse": true,
                "paidAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "paymentId": "PAY-773179",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/QrPaymentRequest"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to trace the request across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
              "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the QR Payment Requests GET operation. It contains pagination information, metadata, and a list of QR payment requests.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
              "merchantId": "MER-581922",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "mode": "STANDARD",
              "standard": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "merchantOrderId": "ORD-539874",
              "description": "Customer banking request processed successfully",
              "tipOptions": {
                "mode": "STANDARD",
                "fixedAmounts": [
                  {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                ],
                "percentages": [
                  "STANDARD"
                ],
                "maximumTip": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "qrPayload": "STANDARD",
              "qrImageUrl": "https://example.com/resource",
              "status": "ACTIVE",
              "singleUse": true,
              "paidAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "paymentId": "PAY-773179",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
            "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "URL of the linked resource.",
            "example": "https://api.example.com/next"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used for the link.",
            "example": "GET"
          }
        },
        "description": "Represents a link for pagination."
      },
      "QrPaymentRequest": {
        "title": "QR Payment Request",
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "string"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment request.",
            "example": "string"
          },
          "standard": {
            "type": "string",
            "description": "Standard used for the payment.",
            "example": "string"
          },
          "amount": {
            "description": "The amount of the payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "string"
          },
          "tipOptions": {
            "description": "Options for tip including fixed amounts and percentages.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "The payload for the QR code.",
            "example": "string"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL of the QR code image.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "string"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the payment request is single-use.",
            "example": false
          },
          "paidAmount": {
            "description": "The amount that has been paid.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp when the payment request expires.",
            "example": "string"
          },
          "audit": {
            "description": "Audit information for the payment request.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Represents a single QR payment request."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "10.00"
          }
        },
        "description": "Represents a monetary amount along with its currency."
      },
      "TipOptions": {
        "title": "Tip Options",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode of the tip options.",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed amount options for tips.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage options for tips.",
            "items": {
              "type": "string",
              "description": "Percentage value as a string.",
              "example": "10"
            }
          },
          "maximumTip": {
            "description": "The maximum tip amount allowed.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options available for tips, including fixed amounts and percentage options."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the payment request.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Audit information regarding the payment request creation and modifications."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-qr-payment-requests"
        },
        "example": "banking-p2m-openapi-list-qr-payment-requests"
      },
      "X-Runtime-App": {
        "description": "The identifier for the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, specifically formatted as a JSON Web Token (JWT), for secure access to the API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}