{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Consumer Data Retrieval API",
    "description": "The Customer Consumer Data Retrieval API allows users to access detailed consumer data associated with a specific customer. This API is essential for businesses looking to personalize their customer interactions and enhance service delivery. By retrieving consumer information, typical consumers such as marketing teams and customer service representatives can effectively tailor offerings and improve customer satisfaction. The operation focuses on facilitating data access through a simple GET request, ensuring seamless integration into various applications and workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/consumer": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve consumer details for a specific customer.",
        "description": "This endpoint allows users to retrieve detailed consumer information associated with a specified customer ID (CUST-100045). Use this to obtain relevant consumer data for analysis or integration into applications.",
        "operationId": "getConsumerDetailsForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving consumer details associated with a specific customer ID - CUST-100045. Ensure the correct customer ID is provided.",
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the consumer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerDetailsForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerDetailsForCustomerCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the consumer resource for the customer with ID CUST-100045.",
        "example": "string"
      },
      "GetConsumerDetailsForCustomerCUST100045Response_200": {
        "title": "Customer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the customer.",
            "example": "STANDARD"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "customerId": {
            "type": "integer",
            "description": "The customer ID associated with this customer.",
            "format": "int32",
            "example": 1
          },
          "address": {
            "type": "string",
            "description": "The street address of the customer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "The city where the customer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state where the customer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "The postal code for the customer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the customer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birthday of the customer, including year, month, and day.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "createdDate": {
            "type": "integer",
            "description": "The timestamp of when the customer record was created.",
            "format": "int32",
            "example": 1
          },
          "suffix": {
            "type": "string",
            "description": "The suffix of the customer's name (e.g., Jr., Sr., II).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Details about the end user associated with the customer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "metadata": {
            "description": "Metadata related to the customer response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing a customer response from the API with personal, address, and metadata details.",
        "example": {
          "id": "STANDARD",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "customerId": 1,
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "createdDate": 1,
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "metadata": {
            "responseId": "32c0bfb4-3460-540b-9330-d6dd75253037",
            "correlationId": "7656b00b-24ba-5c4b-872c-0b74789d4e08",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The month of birth (1-12).",
            "format": "int32",
            "example": 1
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of birth (1-31).",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the birthday details of a customer."
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "Jane Doe"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "TX"
          },
          "zip": {
            "type": "string",
            "description": "The postal code for the end user's address.",
            "example": "75001"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "+1-555-0456"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "janedoe@example.com"
          },
          "url": {
            "type": "string",
            "description": "The profile URL of the end user.",
            "example": "http://example.com/profile/janedoe"
          }
        },
        "description": "Schema representing the details of an end user related to the customer."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr-78910"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "2021-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata related to the customer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, useful for tracing and monitoring calls made to specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-consumer-for-customer"
        },
        "example": "open-finance-api-get-consumer-for-customer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that made the request, helpful for understanding the source of the traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure token-based authentication. This method allows clients to authenticate themselves by passing a valid token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}