{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Cross Channel By Param1-spec",
    "description": "This API facilitates the updating of transaction authorizations across multiple channels using a specified parameter. It allows businesses to ensure that authorization details are synchronized effectively, which is essential for seamless customer transactions. Typical consumers of this API include banking institutions and financial services platforms that require dynamic control over transaction processing. By leveraging this functionality, organizations can enhance their operational efficiency and improve the customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/transaction-authorization/{param1}": {
      "patch": {
        "tags": [
          "Transaction Authorization"
        ],
        "summary": "Update Transaction Authorization Details",
        "description": "This endpoint allows you to partially update the details of a specific transaction authorization identified by its reference ID. Ensure that you provide the necessary fields in the request body to apply the updates successfully.",
        "operationId": "updateCrossChannelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for the patch operation to authorize a cross-channel transaction. It should contain the necessary fields as defined in the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCrossChannelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction authorization was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCrossChannelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCrossChannelByParam1Request": {
        "title": "Transaction Authorization Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes to be made in the transaction authorization.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes made in the transaction authorization.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the entity requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for patching a transaction authorization operation.",
        "example": {
          "changes": {
            "partyId": "PARTY-839652",
            "interactionId": "INT-249872",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "93bc4b34-df47-5d59-ad4c-d56fd5d33bb8",
            "correlationId": "17b06df8-da3d-5691-9172-d7d7f8d0206b",
            "idempotencyKey": "f2133ec6-7649-57cb-8174-57de73a0288f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-965932"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The identifier for the party involved in the transaction.",
            "example": "string"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier for the interaction related to the transaction.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the transaction is being processed.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the detailed changes being made to the transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides additional context about the transaction request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, in-store, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device that is being used for the transaction.",
            "example": "string"
          }
        },
        "description": "This schema contains information regarding the channel used in the transaction."
      },
      "UpdateCrossChannelByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status indicating the outcome of the transaction authorization.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the transaction was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the transaction authorization response.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response schema for the transaction authorization operation, indicating the status and metadata of the request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "739f0390-4fda-5294-b444-03df02291c2d",
            "correlationId": "17b06df8-da3d-5691-9172-d7d7f8d0206b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the transaction took place.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the transaction authorization."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that handled the request. This ID is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-authorization-update-transaction-authorization"
        },
        "example": "transaction-authorization-update-transaction-authorization"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This helps in identifying the source of traffic and performance metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method through JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}