{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Data Market Data Switch Administration-spec",
    "description": "The Market Data Switch Administration API allows users to manage and configure market data switches within the banking platform. This endpoint facilitates the creation of new market data switches, enabling businesses to efficiently control data flow and enhance the accuracy of market information. Typical consumers of this API include financial analysts, data engineers, and operations teams who require streamlined access to market data management capabilities. By leveraging this API, organizations can enhance their market data governance and optimize trading strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://treasury-markets-app:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-administration": {
      "post": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Create a new market data switch administration entry.",
        "description": "This operation allows you to create a new entry for market data switch administration, facilitating the management and control of market data switches in the system.",
        "operationId": "createMarketDataMarketDataSwitchAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to configure or update the market data switch administration settings. It contains parameters necessary for the successful execution of the request, ensuring that desired configurations are applied appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketDataMarketDataSwitchAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketDataMarketDataSwitchAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketDataMarketDataSwitchAdministrationRequest": {
        "title": "Market Data Request",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "CODE-600"
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp indicating the point in time for which the market data is requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data is obtained.",
            "example": "STANDARD"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed being requested.",
            "example": "STANDARD"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol used for the data transmission.",
            "example": "STANDARD"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "The number of messages to be sent per second in the request.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the Market Data Request body, used to request specific market data operations.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-600",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "feedId": "STANDARD",
          "protocol": "STANDARD",
          "messagesPerSecond": 1,
          "requestContext": {
            "requestId": "176d8fe0-5d10-52e0-9854-27b5ab12a650",
            "correlationId": "8de19946-e5f1-5d41-b86d-e8f815edfad4",
            "idempotencyKey": "0933b541-5116-55e2-a7fc-c7688def2267",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-613285"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate request and response.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "MarketApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information for the market data request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request is made.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-202"
          }
        },
        "description": "Schema representing the channel details in the market data request."
      },
      "CreateMarketDataMarketDataSwitchAdministrationResponse_201": {
        "title": "Market Data Switch Administration Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier of the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code that uniquely identifies the market.",
            "example": "CODE-795"
          },
          "feedId": {
            "type": "string",
            "description": "The identifier for the specific data feed.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to this operation.",
            "example": "RES-411586"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "The metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Market Data Switch Administration operation when a POST request is successful.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-795",
          "feedId": "STANDARD",
          "resourceId": "RES-411586",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d4942a61-7da9-59d8-90dd-1d6ca4a33914",
            "correlationId": "8de19946-e5f1-5d41-b86d-e8f815edfad4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema represents the metadata information associated with the Market Data Switch Administration response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-056"
        },
        "example": "WF-056"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a4e605af-e631-4911-be8a-f8f2a356e23d"
        },
        "example": "a4e605af-e631-4911-be8a-f8f2a356e23d"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b5334070-1602-4c86-baa5-94d6aa087855"
        },
        "example": "b5334070-1602-4c86-baa5-94d6aa087855"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-administration-create-market-data-switch-administration"
        },
        "example": "market-data-switch-administration-create-market-data-switch-administration"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-056"
        },
        "example": "WF-056"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Custody Asset Servicing and Reconciliation"
        },
        "example": "Custody Asset Servicing and Reconciliation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow (e.g., 'in-progress', 'completed', 'failed').",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b5334070-1602-4c86-baa5-94d6aa087855"
        },
        "example": "b5334070-1602-4c86-baa5-94d6aa087855"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request in order to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}