{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Customer Management By Param1-spec",
    "description": "The Customer Management Update API facilitates the modification of customer agreements within the banking system. Through this API, authorized users can adjust various parameters related to sales product agreements by providing a unique identifier. Typical consumers of this API include banking staff and customer service representatives seeking to update customer records efficiently. This API streamlines customer management processes, enhancing the overall customer experience by ensuring accurate and up-to-date information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/sales-product-agreement/{param1}": {
      "patch": {
        "tags": [
          "Sales Product Agreement"
        ],
        "summary": "Update Sales Product Agreement Details",
        "description": "This endpoint allows you to update details of the specified sales product agreement. Ensure that you provide the necessary fields in the request body for a successful update.",
        "operationId": "updateCustomerManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows for the modification of the sales product agreement identified by PROD-700045. It should contain the fields that you wish to update, formatted in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerManagementByParam1Request": {
        "title": "Sales Product Agreement Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/SalesProductAgreementChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the change.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to update a sales product agreement, including changes, reasons for the change, and request context.",
        "example": {
          "changes": {
            "customerId": "CUST-966681",
            "partyId": "PARTY-151169",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c543da5e-3680-5566-a0a5-07f976320424",
            "correlationId": "b9b89f9b-2548-5fc0-997e-ec79b20c5688",
            "idempotencyKey": "4c794bc2-4df0-53cb-b9a4-fe086b060296",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-789129"
            }
          }
        }
      },
      "SalesProductAgreementChanges": {
        "title": "Sales Product Agreement Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust-001"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party related to the agreement.",
            "example": "party-001"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the agreement.",
            "example": "prod-001"
          }
        },
        "description": "Schema representing the changes to be made in a sales product agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests between systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed exactly once.",
            "example": "idempotent-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "SalesApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing the context of the request including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel information through which the request was made."
      },
      "UpdateCustomerManagementByParam1Response_200": {
        "title": "Sales Product Agreement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the sales product agreement.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the sales product agreement.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the sales product agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context and identifiers.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response returned after a PATCH request on a sales product agreement.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "93e1f447-4833-5cc4-9f83-25f1c98e3063",
            "correlationId": "b9b89f9b-2548-5fc0-997e-ec79b20c5688",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-009"
        },
        "example": "WF-009"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a5a7cb11-ad50-4728-9aa9-80531e4b7e2a"
        },
        "example": "a5a7cb11-ad50-4728-9aa9-80531e4b7e2a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2c9d29e5-d9b5-42ba-aa7a-8d8fec8d7318"
        },
        "example": "2c9d29e5-d9b5-42ba-aa7a-8d8fec8d7318"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-agreement-update-sales-product-agreement"
        },
        "example": "sales-product-agreement-update-sales-product-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow instance linked to this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-009"
        },
        "example": "WF-009"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Product Eligibility and Offer Fulfillment"
        },
        "example": "Customer Product Eligibility and Offer Fulfillment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2c9d29e5-d9b5-42ba-aa7a-8d8fec8d7318"
        },
        "example": "2c9d29e5-d9b5-42ba-aa7a-8d8fec8d7318"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme as specified in RFC 6750. A JSON Web Token (JWT) is provided as a bearer token to authenticate access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}