{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Payments Card E Commerce Gateway-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Payments Card E Commerce Gateway-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway": {
      "post": {
        "operationId": "createBankingPaymentsCardECommerceGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingPaymentsCardECommerceGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingPaymentsCardECommerceGatewayResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingPaymentsCardECommerceGatewayRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-535445"
          },
          "debtorAccountId": {
            "type": "string",
            "example": "ACC-277865"
          },
          "creditorAccountId": {
            "type": "string",
            "example": "ACC-886583"
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "requestedExecutionDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "124802d8-5430-5f4b-bdc2-55a7e0f0b7bb",
              "correlationId": "232a8ba6-968b-5bf8-bae3-5c4cbeae7cad",
              "idempotencyKey": "537c4427-fddb-5c3f-81cb-3417f89808c5",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-770764"
              }
            }
          }
        },
        "example": {
          "paymentId": "PAY-535445",
          "debtorAccountId": "ACC-277865",
          "creditorAccountId": "ACC-886583",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "124802d8-5430-5f4b-bdc2-55a7e0f0b7bb",
            "correlationId": "232a8ba6-968b-5bf8-bae3-5c4cbeae7cad",
            "idempotencyKey": "537c4427-fddb-5c3f-81cb-3417f89808c5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-770764"
            }
          }
        }
      },
      "CreateBankingPaymentsCardECommerceGatewayResponse_201": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-565280"
          },
          "debtorAccountId": {
            "type": "string",
            "example": "ACC-354743"
          },
          "creditorAccountId": {
            "type": "string",
            "example": "ACC-981119"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-777394"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ecc295fd-2966-5afa-8fa9-10c63a4b71b9",
              "correlationId": "232a8ba6-968b-5bf8-bae3-5c4cbeae7cad",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "paymentId": "PAY-565280",
          "debtorAccountId": "ACC-354743",
          "creditorAccountId": "ACC-981119",
          "resourceId": "RES-777394",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ecc295fd-2966-5afa-8fa9-10c63a4b71b9",
            "correlationId": "232a8ba6-968b-5bf8-bae3-5c4cbeae7cad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-create-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-create-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card-not-present eCommerce Payment"
        },
        "example": "Card-not-present eCommerce Payment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "913c94ec-138e-4984-bae2-7bbc86dfb2d2"
        },
        "example": "913c94ec-138e-4984-bae2-7bbc86dfb2d2"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}