{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Delinquent Account Management API",
    "description": "The Delinquent Account Management API facilitates the monitoring and retrieval of information related to delinquent accounts within banking operational services. This API provides crucial insights into overdue account statuses, enabling financial institutions to take appropriate actions for account recovery. Typical consumers include account managers, financial analysts, and customer service representatives who utilize this data to improve collection strategies and enhance customer engagement. This streamlined access empowers organizations to manage delinquent accounts more effectively and align their recovery processes with compliance requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/delinquent-account-handling": {
      "get": {
        "tags": [
          "Delinquent Account Management"
        ],
        "summary": "Retrieve delinquent account handling information.",
        "description": "This endpoint allows you to access detailed information regarding the handling of delinquent accounts within the operational services framework. Use this to manage and understand delinquent account processes effectively.",
        "operationId": "getDelinquentAccountHandling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to delinquent account handling operations. It may include parameters that specify the filtering criteria or additional options needed for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDelinquentAccountHandlingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of delinquent account data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDelinquentAccountHandlingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDelinquentAccountHandlingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the delinquent account handling operations via the GET method.",
        "example": "{}"
      },
      "GetDelinquentAccountHandlingResponse_200": {
        "title": "Delinquent Account Handling Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of delinquent account details.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-684225",
                "accountId": "ACC-334489",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountDetail"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata for the response, including identification and timing information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the delinquent account handling operations.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-684225",
              "accountId": "ACC-334489",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dc2ebc7b-eb89-54a5-853b-e0a26d650eaa",
            "correlationId": "b6d09cfe-686a-5667-b68a-9171d6fceb4f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "title": "Account Detail",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "12345"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust001"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "acc001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested.",
            "example": "2023-10-01T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details about an individual delinquent account."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information related to paging through a collection of items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating logs and requests.",
            "example": "corr12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Information about the characteristics of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific endpoint being accessed. This can be used for tracing and auditing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "delinquent-account-handling-search-delinquent-account-handling"
        },
        "example": "delinquent-account-handling-search-delinquent-account-handling"
      },
      "x-runtime-app": {
        "description": "The version of the application in which the request was processed. This helps in identifying the environment and version context of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where a valid JSON Web Token (JWT) must be provided in the authorization header for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}