{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Drafts Retrieval API",
    "description": "The Bank Drafts Retrieval API enables users to access detailed information about specific bank drafts. This endpoint allows developers to query for bank draft data, providing essential insights for consumers and financial institutions. Typical use cases include verifying draft authenticity or retrieving historical transaction details. By leveraging this API, businesses can enhance their banking services and consumer offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/bank-drafts/{param1}": {
      "get": {
        "tags": [
          "Bank Drafts"
        ],
        "summary": "Retrieve bank draft details by ID.",
        "description": "This endpoint allows you to fetch the details of a specific bank draft using its unique identifier. It provides comprehensive information related to the bank draft such as its status, associated amount, and other relevant metadata.",
        "operationId": "getBankDraftById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the bank draft information associated with the specified resource ID. This request allows the consumer to fetch details about bank drafts and their associated operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankDraftByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the bank draft details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankDraftByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankDraftByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to bank drafts operations in the consumer services. It is expected to be a string indicating specific details needed for the operation.",
        "example": "{}"
      },
      "GetBankDraftByIdResponse_200": {
        "title": "Bank Draft Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-718214"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "fd3c53cd-55ee-556d-afb3-4a2c2de06d3c"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the bank draft.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount of money associated with the bank draft.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the bank draft was requested.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g. Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the bank draft record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the bank draft response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a bank draft operation.",
        "example": {
          "customerId": "CUST-718214",
          "serviceRequestId": "fd3c53cd-55ee-556d-afb3-4a2c2de06d3c",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "74a4ffa4-563e-5c01-b5c5-575b546d353a",
            "correlationId": "beb11ee7-334b-50c9-af96-f464a601a3d9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g. USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount with value and currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-05T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata for tracing and processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint with which this request is associated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-drafts-get-bank-drafts"
        },
        "example": "bank-drafts-get-bank-drafts"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token. Clients must include a JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}