{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Systems Operations-spec",
    "description": "The IT Management Systems Operations API provides access to critical data regarding the management and operations of IT systems within the banking sector. Users can retrieve detailed information on various operations that impact system performance, security, and maintenance. This API is primarily used by IT managers, system administrators, and developers who need to monitor and optimize IT infrastructures. By consolidating operational insights, the API enhances decision-making and supports proactive management of IT resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-operations": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve systems operations information.",
        "description": "This endpoint allows you to fetch detailed information regarding the operations of systems within the IT management framework. You can gather insights on performance, status, and other critical operational metrics.",
        "operationId": "listItManagementSystemsOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended to retrieve information about system operations within IT management. It may include various parameters to specify the type of operations requested or constraints such as timeframes or statuses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementSystemsOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested system operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementSystemsOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementSystemsOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body content for the GET operation related to IT Management Systems Operations.",
        "example": "{}"
      },
      "ListItManagementSystemsOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of system operation items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving system operations.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e92777f3-aa8c-5463-907a-c0985ce6bfe5",
            "correlationId": "c4395317-2a55-5aaf-a4f3-5ae2e61ee25a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemOperationItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "system-123"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates.",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the associated change request.",
            "example": "change-456"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Name of the team responsible for the system.",
            "example": "DevOps"
          },
          "plannedAt": {
            "type": "string",
            "description": "Timestamp of when the operation is planned.",
            "example": "2023-10-10T10:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier level of the operation.",
            "example": "gold"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 99.9
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window.",
            "example": "2023-10-15T12:00:00Z/2023-10-15T14:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation record.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "Detailed information about a system operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This ID is used for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-operations-search-systems-operations"
        },
        "example": "systems-operations-search-systems-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This helps in identifying which app instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses Bearer Authentication to authorize API requests, transmitted via a JSON Web Token (JWT). This token must be included in the Authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}