{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Wholesale Trading By Param1-spec",
    "description": "The Wholesale Trading Market Making API allows clients to update market-making parameters for wholesale trading based on the provided identifier. This endpoint facilitates changes to specific market parameters, enabling agile responses to market conditions. Typical consumers include trading firms and financial institutions that require real-time adjustments to their trading strategies. By utilizing this API, users can optimize their trading performance and maintain competitive advantage in the fast-paced wholesale trading environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-making/{param1}": {
      "patch": {
        "tags": [
          "Market Making Management"
        ],
        "summary": "Update market making resource with ID RES-100045.",
        "description": "This endpoint allows you to update the details of the market making resource identified by RES-100045. Ensure all required fields are provided in the request body for successful updates.",
        "operationId": "updateWholesaleTradingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the market-making operation with the identifier RES-100045. It includes all the necessary fields to modify the existing market-making entity, ensuring that changes are applied correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWholesaleTradingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWholesaleTradingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWholesaleTradingByParam1Request": {
        "title": "Market Making Operation PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made to the market making operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the body of a PATCH request for modifying market making operations.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9d151f30-5d1e-5f73-84e9-1942b8f80cb9",
            "correlationId": "cc1df7c2-c151-532b-8b88-76834654c762",
            "idempotencyKey": "47a00dbd-627a-59ba-89ff-dc163ee47a80",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-982851"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier of the trading book associated with the change.",
            "example": "tradingBook123"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier of the instrument being modified.",
            "example": "instrument456"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, either 'buy' or 'sell'.",
            "example": "buy"
          }
        },
        "description": "Schema representing the specific changes to be applied in the market making operation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests in distributed systems.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idempKey456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp at which the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system where the request originated.",
            "example": "internalSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request was made.",
            "example": "appX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "deviceABC"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "UpdateWholesaleTradingByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status of the operation, providing information on success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation status was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the wholesale trading market making operation in a PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "57b28127-f5d9-5a26-97f1-b94e23c19250",
            "correlationId": "cc1df7c2-c151-532b-8b88-76834654c762",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abcd-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across different services.",
            "example": "efgh-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west"
          }
        },
        "description": "Metadata associated with the response, providing context and traceability."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, useful for tracing requests in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-making-update-market-making"
        },
        "example": "market-making-update-market-making"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request, helpful for debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically in JSON Web Token (JWT) format, which allows secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}