{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Transactions Retrieval API",
    "description": "The Account Transactions Retrieval API enables users to gather detailed transactional data associated with a specific account statement. By utilizing this endpoint, financial institutions and third-party developers can efficiently retrieve transaction histories linked to an account, which can be used for budgeting, auditing, or financial insights. This API is particularly useful for account holders seeking to analyze their spending patterns or for service providers offering financial management solutions. Users are typically banks, fintech companies, and developers working with Open Banking standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements/{statementId}/transactions": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve transactions for a specific account statement.",
        "description": "This endpoint allows you to fetch the transactions associated with a specific account statement identified by its unique resource ID. Use this feature to analyze and manage financial transactions linked to your accounts effectively.",
        "operationId": "getAispAccountStatementsTransactionsAcc200045Res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/statementId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the transactions associated with a specific account statement. It includes the necessary parameters to filter or specify the transaction details that should be returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountStatementsTransactionsAcc200045Res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of transaction list for the specified account and statement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountStatementsTransactionsAcc200045Res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountStatementsTransactionsAcc200045Res100045Request": {
        "title": "Transaction Request Body",
        "type": "string",
        "description": "This schema defines the structure of the request body for fetching account transaction data.",
        "example": "{}"
      },
      "GetAispAccountStatementsTransactionsAcc200045Res100045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "List of transactions associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "Container for transaction data.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-167234",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-310"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier correlating related requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the transaction response.",
            "example": {
              "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
              "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for account transactions.",
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-167234",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-310"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
            "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the transaction.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "string"
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the transaction.",
            "example": "string"
          },
          "StatementReference": {
            "type": "array",
            "description": "List of statement references linked to the transaction.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the transaction is a credit or debit.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "string"
          },
          "mutability": {
            "type": "string",
            "description": "Indicates if the transaction can be modified.",
            "example": "string"
          },
          "BookingDateTime": {
            "type": "string",
            "description": "Date and time when the transaction was booked.",
            "example": "string"
          },
          "ValueDateTime": {
            "type": "string",
            "description": "Date and time when the transaction value is effective.",
            "example": "string"
          },
          "information": {
            "type": "string",
            "description": "Additional information about the transaction.",
            "example": "string"
          },
          "AddressLine": {
            "type": "string",
            "description": "Address associated with the transaction, if applicable.",
            "example": "string"
          },
          "Amount": {
            "description": "Amount involved in the transaction.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "ChargeAmount": {
            "description": "Charge amount for the transaction, if any.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "CurrencyExchange": {
            "description": "Details about currency exchange for the transaction.",
            "$ref": "#/components/schemas/CurrencyExchange"
          },
          "BankTransactionCode": {
            "description": "Standard bank transaction codes related to the transaction.",
            "$ref": "#/components/schemas/BankTransactionCode"
          },
          "code": {
            "description": "Proprietary code information about the transaction.",
            "$ref": "#/components/schemas/ProprietaryCode"
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "Extended proprietary codes for additional transaction details.",
            "items": {
              "$ref": "#/components/schemas/ExtendedBankTransactionCode"
            }
          },
          "Balance": {
            "description": "Balance information associated with the transaction.",
            "$ref": "#/components/schemas/Balance"
          },
          "MerchantDetails": {
            "description": "Details about the merchant involved in the transaction.",
            "$ref": "#/components/schemas/MerchantDetails"
          }
        },
        "description": "Schema representing a single transaction."
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing a monetary amount."
      },
      "CurrencyExchange": {
        "type": "object",
        "properties": {
          "SourceCurrency": {
            "type": "string",
            "description": "The original currency being exchanged.",
            "example": "string"
          },
          "TargetCurrency": {
            "type": "string",
            "description": "The currency being exchanged to.",
            "example": "string"
          },
          "UnitCurrency": {
            "type": "string",
            "description": "The unit currency for the exchange.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The rate at which the exchange occurs.",
            "example": 0.0
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification for the exchange contract.",
            "example": "string"
          },
          "QuotationDate": {
            "type": "string",
            "description": "The date when the exchange rate was quoted.",
            "example": "string"
          },
          "InstructedAmount": {
            "description": "Amount being instructed for exchange.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Schema representing currency exchange details."
      },
      "BankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The primary code for the transaction.",
            "example": "string"
          },
          "SubCode": {
            "type": "string",
            "description": "Optional sub-code for more granularity.",
            "example": "string"
          }
        },
        "description": "Schema representing a bank transaction code."
      },
      "ProprietaryCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Proprietary transaction code.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Entity that issued the proprietary code.",
            "example": "string"
          }
        },
        "description": "Schema representing a proprietary transaction code."
      },
      "ExtendedBankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The extended code for the transaction.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Entity that issued the extended code.",
            "example": "string"
          },
          "Description": {
            "type": "string",
            "description": "Description of the extended code.",
            "example": "string"
          }
        },
        "description": "Schema representing extended proprietary bank transaction codes."
      },
      "Balance": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the balance is credit or debit.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the balance.",
            "example": "string"
          },
          "Amount": {
            "description": "The amount of balance.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Schema representing balance information."
      },
      "MerchantDetails": {
        "type": "object",
        "properties": {
          "MerchantName": {
            "type": "string",
            "description": "Name of the merchant.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the merchant."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "statementId": {
        "name": "statementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that handled the request. This ID can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
        },
        "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that executed the request. This can help in tracing the execution context of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Utilizes the Bearer authentication scheme based on JWT (JSON Web Tokens). This allows clients to authenticate using a token included in the Authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}