{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Billing Resellers-spec",
    "description": "The Billing Resellers Retrieval API provides businesses with the capability to access a list of billing resellers associated with a specific partner. This API endpoint is crucial for developers who need to integrate billing functionalities into their applications, enabling them to manage reseller relationships effectively. By using the partner ID, consumers can easily retrieve detailed information about the resellers they work with. Ideal for finance and operations teams, this API supports use cases such as billing management and reseller performance analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/partners/{partnerId}/billing/reseller": {
      "get": {
        "tags": [
          "Billing Management"
        ],
        "summary": "Retrieve billing information for a specific reseller.",
        "description": "This operation fetches detailed billing information associated with the specified reseller, allowing for efficient management and oversight of billing records.",
        "operationId": "listBillingResellers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/partnerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve billing information for a specific reseller associated with partner RES-100045. It contains necessary parameters formatted as JSON to specify the details required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBillingResellersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of billing information for the specified reseller.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBillingResellersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBillingResellersRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Reseller operations in the billing system. It is expected to be a string that contains JSON data.",
        "example": "{}"
      },
      "ListBillingResellersResponse_200": {
        "title": "Paginated Reseller Operations Response",
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available.",
            "format": "int32",
            "example": 1
          },
          "numberOfElements": {
            "type": "integer",
            "description": "The number of elements on the current page.",
            "format": "int32",
            "example": 1
          },
          "pageable": {
            "description": "Information about pagination.",
            "$ref": "#/components/schemas/Pageable"
          },
          "sort": {
            "description": "Sorting information for the current request.",
            "$ref": "#/components/schemas/Sort"
          },
          "number": {
            "type": "integer",
            "description": "The page number of the current request.",
            "format": "int32",
            "example": 1
          },
          "first": {
            "type": "boolean",
            "description": "Indicates if this is the first page.",
            "example": true
          },
          "last": {
            "type": "boolean",
            "description": "Indicates if this is the last page.",
            "example": true
          },
          "size": {
            "type": "integer",
            "description": "The size of each page.",
            "format": "int32",
            "example": 1
          },
          "content": {
            "type": "array",
            "description": "The list of reseller operations.",
            "example": [
              {
                "reseller": "STANDARD",
                "resellerProvider": "STANDARD",
                "platformProvider": "STANDARD",
                "customerId": 1,
                "consumerId": "STANDARD",
                "consumerSsn": "STANDARD",
                "consumerCustomId": "STANDARD",
                "firstName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "lastFourReportId": "STANDARD",
                "reportId": "STANDARD",
                "createdDate": 1,
                "reportType": "STANDARD",
                "status": "ACTIVE",
                "reportCustomFields": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD",
                    "shown": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ResellerOperation"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing a paginated list of reseller operations.",
        "example": {
          "totalPages": 1,
          "totalElements": 1,
          "numberOfElements": 1,
          "pageable": {
            "paged": true,
            "unpaged": true,
            "pageNumber": 1,
            "pageSize": 1,
            "sort": {
              "unsorted": true,
              "ed": true,
              "empty": true
            },
            "offset": 1
          },
          "sort": {
            "unsorted": true,
            "ed": true,
            "empty": true
          },
          "number": 1,
          "first": true,
          "last": true,
          "size": 1,
          "content": [
            {
              "reseller": "STANDARD",
              "resellerProvider": "STANDARD",
              "platformProvider": "STANDARD",
              "customerId": 1,
              "consumerId": "STANDARD",
              "consumerSsn": "STANDARD",
              "consumerCustomId": "STANDARD",
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "lastFourReportId": "STANDARD",
              "reportId": "STANDARD",
              "createdDate": 1,
              "reportType": "STANDARD",
              "status": "ACTIVE",
              "reportCustomFields": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD",
                  "shown": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "b0dfe86a-406f-5567-9ec6-239820396e58",
            "correlationId": "259e19e4-81ac-5d8e-8e37-4e252a60c549",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Pageable": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "paged": {
            "type": "boolean",
            "description": "Indicates if pagination is enabled.",
            "example": false
          },
          "unpaged": {
            "type": "boolean",
            "description": "Indicates if the results are unpaged.",
            "example": false
          },
          "pageNumber": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "sort": {
            "description": "Sorting information.",
            "$ref": "#/components/schemas/Sort"
          },
          "offset": {
            "type": "integer",
            "description": "The offset of the current page.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about the pagination of the result set."
      },
      "Sort": {
        "title": "Sorting Information",
        "type": "object",
        "properties": {
          "unsorted": {
            "type": "boolean",
            "description": "Indicates if sorting is unsorted.",
            "example": false
          },
          "ed": {
            "type": "boolean",
            "description": "Indicates if sorting has been applied.",
            "example": false
          },
          "empty": {
            "type": "boolean",
            "description": "Indicates if sort information is empty.",
            "example": false
          }
        },
        "description": "Information related to sort order of the results."
      },
      "ResellerOperation": {
        "title": "Reseller Operation",
        "type": "object",
        "properties": {
          "reseller": {
            "type": "string",
            "description": "The name of the reseller.",
            "example": "Example Reseller"
          },
          "resellerProvider": {
            "type": "string",
            "description": "The provider associated with the reseller.",
            "example": "Example Provider"
          },
          "platformProvider": {
            "type": "string",
            "description": "The platform provider associated with this operation.",
            "example": "Example Platform Provider"
          },
          "customerId": {
            "type": "integer",
            "description": "The ID of the customer.",
            "format": "int32",
            "example": 12345
          },
          "consumerId": {
            "type": "string",
            "description": "The ID of the consumer.",
            "example": "abc-123"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The SSN of the consumer.",
            "example": "123-45-6789"
          },
          "consumerCustomId": {
            "type": "string",
            "description": "A custom identifier for the consumer.",
            "example": "custom-id-456"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Doe"
          },
          "lastFourReportId": {
            "type": "string",
            "description": "The last four digits of the report ID.",
            "example": "5678"
          },
          "reportId": {
            "type": "string",
            "description": "The unique identifier for the report.",
            "example": "report-id-789"
          },
          "createdDate": {
            "type": "integer",
            "description": "The creation date of the report in epoch milliseconds.",
            "format": "int32",
            "example": 1609459200000
          },
          "reportType": {
            "type": "string",
            "description": "The type of report generated.",
            "example": "Monthly Report"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "Completed"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the report.",
            "example": [],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Details of a single reseller operation."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "The value for the custom field.",
            "example": "Custom Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field should be displayed.",
            "example": true
          }
        },
        "description": "A custom field in a report."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The ID of the response.",
            "example": "response-id-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking the request.",
            "example": "correlation-id-002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "partnerId": {
        "name": "partnerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint associated with the request. This value helps in associating the response with the specific endpoint invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-reseller-billing-report"
        },
        "example": "open-finance-api-get-reseller-billing-report"
      },
      "X-Runtime-App": {
        "description": "Specifies the application in which the request was processed. This information can be used for tracking and monitoring performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a JSON Web Token (JWT) to authorize requests, which allows clients to securely access resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}