{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Contact Center Managements-spec",
    "description": "This API enables users to efficiently retrieve information related to channel-specific management of contact centers within the banking domain. It provides access to detailed resources for monitoring and optimizing customer service operations across various channels. Typical consumers of this API include developers and analysts working in customer service and banking technology solutions. Use cases may involve data analysis, operational oversight, and enhancement of customer interaction strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-management": {
      "get": {
        "tags": [
          "Contact Center Management"
        ],
        "summary": "Retrieve contact center management details for a specific channel.",
        "description": "This endpoint allows you to fetch the management details of a contact center tailored for a specific channel. Utilize this to access configuration, performance metrics, and operational status relevant to the designated contact center.",
        "operationId": "listChannelSpecificContactCenterManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information specific to channel management within the contact center. It contains parameters to tailor the response to the needs of the user.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificContactCenterManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificContactCenterManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificContactCenterManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the contact center management channel, formatted as a JSON string.",
        "example": "{}"
      },
      "ListChannelSpecificContactCenterManagementsResponse_200": {
        "title": "Channel-Specific Contact Center Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of contact center management items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "queueId": "STANDARD",
                "skillGroup": "STANDARD",
                "targetAnswerSeconds": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactCenterManagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the request.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the GET operation on channel-specific contact center management.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "queueId": "STANDARD",
              "skillGroup": "STANDARD",
              "targetAnswerSeconds": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "083d1450-141f-5897-9227-6b5a5ed88a7d",
            "correlationId": "c6655a15-7e6f-57b7-93f4-158a7c33fcd3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactCenterManagementItem": {
        "title": "Contact Center Management Item",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region associated with the channel.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Daily capacity for this channel.",
            "format": "int32",
            "example": 0
          },
          "queueId": {
            "type": "string",
            "description": "Identifier for the queue.",
            "example": "string"
          },
          "skillGroup": {
            "type": "string",
            "description": "The skill group associated with the channel.",
            "example": "string"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "The target time in seconds to answer calls.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the item was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single contact center management item."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time the service opens, in ISO 8601 format.",
            "example": "09:00:00Z"
          },
          "closesAt": {
            "type": "string",
            "description": "Time the service closes, in ISO 8601 format.",
            "example": "17:00:00Z"
          }
        },
        "description": "Defines the operational hours of the service."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Defines pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing has taken place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, useful for tracing and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-management-search-contact-center-management"
        },
        "example": "contact-center-management-search-contact-center-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the operation is being executed, helping in monitoring and understanding application behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. A token is sent in the HTTP Authorization header as a Bearer token, allowing users to authenticate requests using JSON Web Tokens (JWT). Ensure the token is valid and has not expired for successful authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}