{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Market Order Execution API",
    "description": "The Wholesale Trading Market Order Execution API facilitates the processing and execution of market orders in the wholesale trading sector. By utilizing this API, users can submit market orders for execution, ensuring timely and efficient transaction handling. Financial institutions and trading platforms commonly integrate this API to streamline their order execution processes and improve client service. This API is essential for enabling real-time trading capabilities and managing trading activities seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution/executions": {
      "post": {
        "tags": [],
        "summary": "Create a new market order execution.",
        "description": "This endpoint allows users to initiate a market order execution, which processes the order and returns execution details. Ensure that all necessary parameters are included to successfully create the execution.",
        "operationId": "createMarketOrderExecution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to execute market orders in wholesale trading. It contains the necessary details to perform the execution of the order, ensuring that all required fields are properly populated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOrderExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be executed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOrderExecutionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOrderExecutionRequest": {
        "title": "Market Order Execution Request Body",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument being traded.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the order, typically 'buy' or 'sell'.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units being ordered.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the order, if applicable.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "The type of order being placed, such as 'market' or 'limit'.",
            "example": "STANDARD"
          },
          "timeInForce": {
            "type": "string",
            "description": "The duration for which the order remains active.",
            "example": "STANDARD"
          },
          "venue": {
            "type": "string",
            "description": "The trading venue for the order.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for executing market orders in wholesale trading.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "orderType": "STANDARD",
          "timeInForce": "STANDARD",
          "venue": "STANDARD",
          "requestContext": {
            "requestId": "b9edb445-b04e-5ebf-a3e2-6823d718537f",
            "correlationId": "ceb1c87d-1585-5cf1-887d-e1d988b4e88b",
            "idempotencyKey": "4e3b59ad-5e29-5f66-b08f-f51a7e14306d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-331599"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency associated with the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price of an order including value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate different requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application generating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was sent.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the communication.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used by the client.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information of a request."
      },
      "CreateMarketOrderExecutionResponse_202": {
        "title": "Market Order Execution Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference used for tracking the processing of the order.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the market order execution.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ExecutionMetadata"
          }
        },
        "description": "This schema represents the response for market order execution in the wholesale trading system.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "1075c390-72c8-53a3-b700-ab5bf732a640",
            "correlationId": "ceb1c87d-1585-5cf1-887d-e1d988b4e88b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExecutionMetadata": {
        "title": "Execution Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the execution.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate messages in a system.",
            "example": "CORR7891011"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the order took place.",
            "example": "EU"
          }
        },
        "description": "Metadata information related to the market order execution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-execute-market-order-execution"
        },
        "example": "market-order-execution-execute-market-order-execution"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that executed the order processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the execution of the market order.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-054"
        },
        "example": "WF-054"
      },
      "X-Workflow-Name": {
        "description": "Indicates the name of the workflow that is currently being executed, providing context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Market Order Execution and Position Update"
        },
        "example": "Market Order Execution and Position Update"
      },
      "X-Workflow-State": {
        "description": "Represents the current state of the workflow execution, allowing for tracking and management of the process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, which can be used for logging and tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9141bf82-ac0a-4083-a017-a4e766a906ad"
        },
        "example": "9141bf82-ac0a-4083-a017-a4e766a906ad"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where a JSON Web Token (JWT) must be included in the authorization header of requests. The token must be valid and not expired to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}