{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Bank Account Retrieval API",
    "description": "The Internal Bank Account Retrieval API enables clients to access detailed information about internal bank accounts within the financial system. This endpoint serves as a resource for retrieving account specifics, such as balances, transaction history, and account status, by providing a unique identifier for the account. Typical consumers of this API include financial institution staff, accounting departments, and automated reporting systems requiring account data for analysis and management. By seamlessly integrating this API, organizations can ensure efficient and accurate financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account/{param1}": {
      "get": {
        "tags": [
          "Internal Bank Account"
        ],
        "summary": "Retrieve Internal Bank Account Details",
        "description": "Fetches the detailed information of the specified internal bank account using its unique identifier. This operation allows users to obtain all relevant data for account management purposes.",
        "operationId": "getInternalBankAccountById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the operational services related to a specific bank account identified by the account number ACC-200045. Ensure that the request contains all necessary fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalBankAccountByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the internal bank account details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalBankAccountByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalBankAccountByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving internal bank account operations.",
        "example": "{}"
      },
      "GetInternalBankAccountByIdResponse_200": {
        "title": "Internal Bank Account Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer related to the operation.",
            "example": "CUST-483699"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the bank account involved in the operation.",
            "example": "ACC-381064"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record associated with the operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an operation related to an internal bank account.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-483699",
          "accountId": "ACC-381064",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "301d733f-71f4-58d5-b336-7b529bc465e2",
            "correlationId": "405263f8-e2d2-5301-a678-87c0edf3a307",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Operation Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request. This is useful for tracking requests and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-get-internal-bank-account"
        },
        "example": "internal-bank-account-get-internal-bank-account"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime that handled the request. This helps in identifying which application instance was involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically JSON Web Tokens (JWT). Clients must include this token in the Authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}