{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Branches-spec",
    "description": "The Open Banking Branches Retrieval API enables developers to access detailed information about bank branches that are part of the open banking network. This API serves as a vital resource for applications seeking to associate financial services with specific geographical locations. Typical consumers include fintech applications, banking platforms, and financial service providers looking to enhance their offerings with branch information. By leveraging this API, businesses can improve customer experiences by linking users to nearby bank branches seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/branches": {
      "get": {
        "tags": [
          "Open Banking"
        ],
        "summary": "Retrieve a list of branches.",
        "description": "This endpoint allows users to access a comprehensive list of branches available in the Open Banking ecosystem. It returns important details such as branch locations and contact information.",
        "operationId": "listOpenBankingBranches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to specify the parameters for retrieving branch information in the Open Banking API. Ensure to provide the necessary fields as defined in the schema to get accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingBranchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branches retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingBranchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingBranchesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the branches in an Open Banking context. It is expected to be a string.",
        "example": "{}"
      },
      "ListOpenBankingBranchesResponse_200": {
        "title": "Branches Response",
        "type": "object",
        "properties": {
          "meta": {
            "description": "Metadata about the response including last update information and usage agreements.",
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "description": "A list of branches returned in the response.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-667",
                    "TrademarkID": "STANDARD"
                  }
                },
                "BranchName": "Northstar Banking Service",
                "BranchIdentification": "STANDARD",
                "BranchType": "FULL_SERVICE",
                "Address": {
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumberOrName": "Northstar Banking Service",
                  "PostCode": "CODE-537",
                  "OptionalAddressField": "STANDARD",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD"
                },
                "BranchDescription": "STANDARD",
                "BranchPhoto": "https://example.com/resource",
                "TelephoneNumber": "+1-212-555-0147",
                "AlternatePhone": [
                  {
                    "AlternateTelephoneNumber": "+1-212-555-0147",
                    "description": "Customer banking request processed successfully"
                  }
                ],
                "FaxNumber": [
                  "STANDARD"
                ],
                "GeographicLocation": {
                  "Latitude": "STANDARD",
                  "Longitude": "STANDARD"
                },
                "DaysOfTheWeek": "STANDARD",
                "StopName": "Northstar Banking Service",
                "ArrivalTime": "STANDARD",
                "DepartureTime": "STANDARD",
                "ParkingLocation": "STANDARD",
                "OpeningTimes": [
                  {
                    "OpeningDay": "STANDARD",
                    "OpeningTime": "STANDARD"
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a GET request to fetch branch information in the Open Banking context.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-667",
                  "TrademarkID": "STANDARD"
                }
              },
              "BranchName": "Northstar Banking Service",
              "BranchIdentification": "STANDARD",
              "BranchType": "FULL_SERVICE",
              "Address": {
                "StreetName": "Northstar Banking Service",
                "BuildingNumberOrName": "Northstar Banking Service",
                "PostCode": "CODE-537",
                "OptionalAddressField": "STANDARD",
                "TownName": "Northstar Banking Service",
                "CountrySubDivision": "STANDARD",
                "Country": "STANDARD"
              },
              "BranchDescription": "STANDARD",
              "BranchPhoto": "https://example.com/resource",
              "TelephoneNumber": "+1-212-555-0147",
              "AlternatePhone": [
                {
                  "AlternateTelephoneNumber": "+1-212-555-0147",
                  "description": "Customer banking request processed successfully"
                }
              ],
              "FaxNumber": [
                "STANDARD"
              ],
              "GeographicLocation": {
                "Latitude": "STANDARD",
                "Longitude": "STANDARD"
              },
              "DaysOfTheWeek": "STANDARD",
              "StopName": "Northstar Banking Service",
              "ArrivalTime": "STANDARD",
              "DepartureTime": "STANDARD",
              "ParkingLocation": "STANDARD",
              "OpeningTimes": [
                {
                  "OpeningDay": "STANDARD",
                  "OpeningTime": "STANDARD"
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "9909b4d0-bbb4-56df-ab59-22f9f2ccb5b0",
            "correlationId": "9ecf7e21-9e87-5449-b846-8eb23769b490",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "title": "Meta Information",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The timestamp of the last update to the data.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned in the response.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement under which the data is provided.",
            "example": "Open Banking Agreement"
          },
          "License": {
            "type": "string",
            "description": "The license under which the data is shared.",
            "example": "Creative Commons Attribution 4.0"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "The terms of use for the data provided.",
            "example": "Terms and conditions apply."
          }
        },
        "description": "Contains metadata regarding the response including update timestamps and agreement details."
      },
      "Branch": {
        "title": "Branch Information",
        "type": "object",
        "properties": {
          "Organisation": {
            "description": "Information about the organisation that owns the branch.",
            "$ref": "#/components/schemas/Organisation"
          },
          "BranchName": {
            "type": "string",
            "description": "The name of the branch.",
            "example": "Main Branch"
          },
          "BranchIdentification": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "BR123"
          },
          "BranchType": {
            "type": "string",
            "description": "The type of the branch.",
            "example": "Retail"
          },
          "Address": {
            "description": "The physical address of the branch.",
            "$ref": "#/components/schemas/Address"
          },
          "BranchDescription": {
            "type": "string",
            "description": "Description of the branch.",
            "example": "Main branch located downtown."
          },
          "BranchPhoto": {
            "type": "string",
            "description": "URL to a photo of the branch.",
            "example": "http://example.com/photo.jpg"
          },
          "TelephoneNumber": {
            "type": "string",
            "description": "Main telephone number for the branch.",
            "example": "+123456789"
          },
          "AlternatePhone": {
            "type": "array",
            "description": "List of alternate phone numbers for the branch.",
            "items": {
              "$ref": "#/components/schemas/AlternatePhone"
            }
          },
          "FaxNumber": {
            "type": "array",
            "description": "List of fax numbers for the branch.",
            "items": {
              "type": "string",
              "example": "+123456789"
            }
          },
          "GeographicLocation": {
            "description": "Geographic coordinates of the branch.",
            "$ref": "#/components/schemas/GeographicLocation"
          },
          "DaysOfTheWeek": {
            "type": "string",
            "description": "Operating days of the week.",
            "example": "Monday to Friday"
          },
          "StopName": {
            "type": "string",
            "description": "Name of the nearest public transport stop.",
            "example": "Downtown Stop"
          },
          "ArrivalTime": {
            "type": "string",
            "description": "Time when public transport arrives at the nearest stop.",
            "example": "08:00"
          },
          "DepartureTime": {
            "type": "string",
            "description": "Time when public transport departs from the nearest stop.",
            "example": "18:00"
          },
          "ParkingLocation": {
            "type": "string",
            "description": "Description of available parking near the branch.",
            "example": "Parking structure on 5th street"
          },
          "OpeningTimes": {
            "type": "array",
            "description": "The opening times for the branch throughout the week.",
            "items": {
              "$ref": "#/components/schemas/OpeningTime"
            }
          }
        },
        "description": "Schema representing the detailed information of a branch."
      },
      "Organisation": {
        "title": "Organisation Information",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "description": "Information about the parent organisation of the current organisation.",
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "description": "Brand information of the organisation.",
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Schema representing information about an organisation."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation Information",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the parent organisation.",
            "example": "ABCDEFGHIJKLM"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code for the parent organisation.",
            "example": "BANKUS33"
          },
          "OrganisationName": {
            "description": "Name details of the organisation.",
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Details of the parent organisation."
      },
      "OrganisationName": {
        "title": "Organisation Name Information",
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organisation.",
            "example": "Example Bank LLC"
          }
        },
        "description": "Schema for the name of the organisation."
      },
      "Brand": {
        "title": "Brand Information",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "IPO code for the trademark of the brand.",
            "example": "TM12345"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark.",
            "example": "TMID0001"
          }
        },
        "description": "Schema representing brand details of an organisation."
      },
      "Address": {
        "title": "Address Information",
        "type": "object",
        "properties": {
          "StreetName": {
            "type": "string",
            "description": "Name of the street where the branch is located.",
            "example": "5th Avenue"
          },
          "BuildingNumberOrName": {
            "type": "string",
            "description": "Building number or name.",
            "example": "Building 42"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the branch location.",
            "example": "10001"
          },
          "OptionalAddressField": {
            "type": "string",
            "description": "An optional field for additional address information.",
            "example": "Near Central Park"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town where the branch is located.",
            "example": "New York"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state, province).",
            "example": "NY"
          },
          "Country": {
            "type": "string",
            "description": "Country where the branch is located.",
            "example": "United States"
          }
        },
        "description": "Schema for the physical address of a branch."
      },
      "AlternatePhone": {
        "title": "Alternate Phone Information",
        "type": "object",
        "properties": {
          "AlternateTelephoneNumber": {
            "type": "string",
            "description": "An alternative telephone number for the branch.",
            "example": "+123456788"
          },
          "description": {
            "type": "string",
            "description": "Description or purpose of the alternate telephone number.",
            "example": "Customer service"
          }
        },
        "description": "Schema for alternative telephone numbers associated with a branch."
      },
      "GeographicLocation": {
        "title": "Geographic Location Information",
        "type": "object",
        "properties": {
          "Latitude": {
            "type": "string",
            "description": "Latitude coordinate of the branch location.",
            "example": "40.7128"
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude coordinate of the branch location.",
            "example": "-74.0060"
          }
        },
        "description": "Schema representing geographic coordinates of a branch."
      },
      "OpeningTime": {
        "title": "Opening Time Information",
        "type": "object",
        "properties": {
          "OpeningDay": {
            "type": "string",
            "description": "The day of the week when the branch is open.",
            "example": "Monday"
          },
          "OpeningTime": {
            "type": "string",
            "description": "The time when the branch opens.",
            "example": "09:00"
          }
        },
        "description": "Schema for defining opening times for a branch."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-branches"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-branches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme that requires a JWT (JSON Web Token) to be sent in the Authorization header. The token validates the user and their permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}