{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Card By Param1-spec",
    "description": "The Card Network Participant Facility Retrieval API allows users to access detailed information about a specific card network participant's facilities using a unique identifier. This endpoint is essential for banking applications and services that require insights into network participant capabilities. Typical consumers include financial institutions and developers integrating card management functionalities into their platforms. By leveraging this API, businesses can enhance their systems with real-time data on card network participants, facilitating better decision-making and customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility/{param1}": {
      "get": {
        "tags": [
          "Card Network Facilities"
        ],
        "summary": "Retrieve a specific card network participant facility by its ID.",
        "description": "This endpoint allows you to fetch the details of a card network participant facility using its unique identifier, CARD-400045. You can expect a structured response that includes all relevant information about the facility.",
        "operationId": "getCardByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details of a specific card network participant facility identified by CARD-400045. This body contains the necessary parameters and structure as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the card network participant facility details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to card network participant facility.",
        "example": "{}"
      },
      "GetCardByParam1Response_200": {
        "title": "Card Network Participant Facility Response",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique token representing the card.",
            "example": "TOK-707884"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-915822"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code representing the merchant's type.",
            "example": "5411"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier associated with the transaction.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "integer",
            "description": "Target availability percentage for the service.",
            "format": "int32",
            "example": 100
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the service.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response object for the card network participant facility operations.",
        "example": {
          "cardToken": "TOK-707884",
          "cardholderId": "STANDARD",
          "merchantId": "MER-915822",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c29c17ef-f68f-541b-ad8a-1d8ccc3192e9",
            "correlationId": "7fe9fa65-c486-5cc6-8cc4-acaf0c4c2fe6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The monetary amount for the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the amount and currency of a transaction."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the specific endpoint that was called, useful for tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-get-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-get-card-network-participant-facility"
      },
      "x-runtime-app": {
        "description": "The name of the application that is generating the request, allowing identification of the source of the traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens, formatted as JSON Web Tokens (JWT), for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}