{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking It Management It Systems Direction-v5-spec",
    "description": "The IT Systems Direction Management API facilitates the configuration and management of information technology systems within a banking environment. This API allows users to create and update strategic directions for IT systems, ensuring they are aligned with organizational goals and regulatory requirements. Typical consumers include IT administrators and project managers who need to implement and modify system strategies efficiently. Use cases include defining new IT initiatives, updating existing system frameworks, and enhancing overall IT governance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new IT systems direction.",
        "description": "This endpoint allows the client to create a new IT systems direction within the IT management system. It expects the relevant data in the request body and will return a confirmation upon successful creation.",
        "operationId": "createBankingItManagementItSystemsDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating the IT systems direction within the IT management framework. This includes relevant operational details necessary for the request. Ensure that the required fields are correctly filled to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingItManagementItSystemsDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingItManagementItSystemsDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingItManagementItSystemsDirectionRequest": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "Banking operation completed"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team responsible for the policy.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the policy becomes effective.",
            "example": "2026-09-15"
          },
          "reviewDate": {
            "type": "string",
            "description": "The date when the policy is scheduled for review.",
            "example": "2026-09-15"
          },
          "applicability": {
            "type": "array",
            "description": "List of applicable systems or departments.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for a specific system or department.",
              "example": "HR Department"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlating related requests.",
                "example": "corr-789"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure the request is idempotent.",
                "example": "idempotent-key-xyz"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-09-20T15:30:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that initiated the request.",
                "example": "CRM System"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "User Management App"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the channel.",
                    "example": "channel-123"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the channel (e.g., API, Web, Mobile).",
                    "example": "API"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Unique identifier for the device used, if applicable.",
                    "example": "device-xyz"
                  }
                },
                "description": "Information about the channel through which the request was made.",
                "example": {
                  "channelId": "channel-123",
                  "channelType": "API",
                  "deviceId": "device-xyz"
                }
              }
            },
            "description": "Metadata related to the request context.",
            "example": {
              "requestId": "a8abb821-5688-5b68-9951-2393e68c436e",
              "correlationId": "3f19bc4c-8388-54a9-8029-cf34f8bdecf3",
              "idempotencyKey": "1f3ac31a-3afd-5440-934c-d9bf42f7933a",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-830588"
              }
            }
          }
        },
        "description": "Schema representing the request body for creating an IT System operation.",
        "example": {
          "policyId": "STANDARD",
          "title": "Banking operation completed",
          "ownerTeam": "STANDARD",
          "effectiveDate": "2026-09-15",
          "reviewDate": "2026-09-15",
          "applicability": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "a8abb821-5688-5b68-9951-2393e68c436e",
            "correlationId": "3f19bc4c-8388-54a9-8029-cf34f8bdecf3",
            "idempotencyKey": "1f3ac31a-3afd-5440-934c-d9bf42f7933a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-830588"
            }
          }
        }
      },
      "CreateBankingItManagementItSystemsDirectionResponse_201": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-235328"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "2e63beee-c5d1-521d-a109-3d7f37a9453e",
              "correlationId": "3f19bc4c-8388-54a9-8029-cf34f8bdecf3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "policyId": "STANDARD",
          "resourceId": "RES-235328",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2e63beee-c5d1-521d-a109-3d7f37a9453e",
            "correlationId": "3f19bc4c-8388-54a9-8029-cf34f8bdecf3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related operations.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional information about the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-create-it-systems-direction"
        },
        "example": "it-systems-direction-create-it-systems-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication, which requires a valid JSON Web Token (JWT). The token must be included in the `Authorization` header of the request to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}