{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Sale Sales Opportunities-spec",
    "description": "This API allows users to retrieve a comprehensive list of available sales opportunities within the banking sector. It serves as a crucial resource for sales teams and managers seeking to identify potential leads and optimize their sales strategies. By leveraging this endpoint, users can access and analyze detailed information about various sales opportunities, enhancing decision-making and resource allocation. Typical consumers include sales representatives and analytics teams focused on performance improvement and customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-opportunities": {
      "get": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Retrieve a list of sales opportunities.",
        "description": "This endpoint allows you to fetch all available sales opportunities, providing insights into potential business deals. Use this to analyze opportunities for maximizing sales performance and facilitating better decision-making.",
        "operationId": "listSaleSalesOpportunities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Retrieve a list of sales opportunities based on your query parameters. The request body should contain the filters or specifications needed to narrow down your search results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSaleSalesOpportunitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of sales opportunities.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSaleSalesOpportunitiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSaleSalesOpportunitiesRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving sales opportunities in the sales operations API. It indicates the expected data format, which is a plain string.",
        "example": "{}"
      },
      "ListSaleSalesOpportunitiesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of sales opportunity items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesOpportunity"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the sales opportunities.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for fetching sales opportunities.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9257db24-8dcc-5a91-a634-4ab1f17f496a",
            "correlationId": "aac9bd64-d918-5d49-8886-564f5301685e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesOpportunity": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product."
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is made."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Unique identifier of the relationship manager handling the opportunity."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the sales opportunity."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the sales opportunity."
          }
        },
        "description": "A sales opportunity item."
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount expected from the sale."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the expected amount."
          }
        },
        "description": "The expected value of a sales opportunity."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs in distributed systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lead-and-opportunity-management-search-lead-and-opportunity-management"
        },
        "example": "lead-and-opportunity-management-search-lead-and-opportunity-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens. This scheme expects a valid JSON Web Token (JWT) to be provided in the Authorization header of requests to grant access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}