{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Partys-spec",
    "description": "The AISP Party Listing API allows applications to retrieve a list of account servicing institutions (AISP) and their associated parties. This endpoint facilitates smooth interaction for users seeking to access, manage, or integrate financial services through multiple institutions. Typical consumers include financial service providers, fintech applications, and developers looking to enhance their offerings with AISP capabilities. By leveraging this API, businesses can ensure they provide comprehensive and updated information about available AISP parties to their users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/party": {
      "get": {
        "tags": [
          "AISP Operations"
        ],
        "summary": "Retrieve party information",
        "description": "Fetch details about a specific party in the AISP context, including relevant attributes and identifiers that are necessary for identification and further actions.",
        "operationId": "listAispPartys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching party information. Ensure that the required fields are populated to retrieve the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispPartysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of parties.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispPartysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispPartysRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the operations GET request in the AISP API. It is a string value that encapsulates the request payload.",
        "example": "{}"
      },
      "ListAispPartysResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "$ref": "#/components/schemas/Party"
              }
            },
            "description": "Contains the details of the party.",
            "example": {
              "Party": {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-654",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "The URL to access the party's resource.",
                "example": "https://api.example.com/party/123"
              },
              "First": {
                "type": "string",
                "description": "The URL to the first page of party resources.",
                "example": "https://api.example.com/party?page=1"
              },
              "Prev": {
                "type": "string",
                "description": "The URL to the previous page of party resources if available.",
                "example": "https://api.example.com/party?page=1"
              }
            },
            "description": "Contains links related to the party data.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracing the request.",
                "example": "trace123"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-21T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Contains metadata about the response.",
            "example": {
              "responseId": "265270bf-68e6-5a5c-b52f-4c1210d251c4",
              "correlationId": "daf32473-57e6-58e1-ad9e-6b0b7d3e523b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the successful response for retrieving party information.",
        "example": {
          "Data": {
            "Party": {
              "id": "STANDARD",
              "number": "STANDARD",
              "type": "STANDARD",
              "Name": "Northstar Banking Service",
              "FullLegalName": "Northstar Banking Service",
              "LegalStructure": "STANDARD",
              "LEI": "STANDARD",
              "BeneficialOwnership": true,
              "AccountRole": "DEBIT",
              "EmailAddress": "olivia.bennett@northstar.example",
              "Phone": "+1-212-555-0147",
              "Mobile": "STANDARD",
              "Relationships": {
                "Account": {
                  "Related": "https://example.com/resource",
                  "Id": "STANDARD"
                }
              },
              "Address": [
                {
                  "type": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service",
                  "CareOf": "STANDARD",
                  "PostCode": "CODE-654",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD",
                  "line": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "265270bf-68e6-5a5c-b52f-4c1210d251c4",
            "correlationId": "daf32473-57e6-58e1-ad9e-6b0b7d3e523b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "12345"
          },
          "number": {
            "type": "string",
            "description": "Party's number, if applicable.",
            "example": "PN-987654"
          },
          "type": {
            "type": "string",
            "description": "The type of the party.",
            "example": "Individual"
          },
          "Name": {
            "type": "string",
            "description": "The name of the party.",
            "example": "John Doe"
          },
          "FullLegalName": {
            "type": "string",
            "description": "The full legal name of the party.",
            "example": "Johnathan Doe III"
          },
          "LegalStructure": {
            "type": "string",
            "description": "The legal structure of the party.",
            "example": "LLC"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the party, if available.",
            "example": "5493001KJTIIGC8Y1R12"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates if the party has beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "Account role associated with the party.",
            "example": "Account Holder"
          },
          "EmailAddress": {
            "type": "string",
            "description": "Email address of the party.",
            "example": "john.doe@example.com"
          },
          "Phone": {
            "type": "string",
            "description": "Phone number of the party.",
            "example": "+123456789"
          },
          "Mobile": {
            "type": "string",
            "description": "Mobile phone number of the party.",
            "example": "+1987654321"
          },
          "Relationships": {
            "type": "object",
            "properties": {
              "Account": {
                "$ref": "#/components/schemas/AccountRelationship"
              }
            },
            "description": "Relationships of the party with other accounts."
          },
          "Address": {
            "type": "array",
            "description": "List of addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Schema representing the details of a party."
      },
      "AccountRelationship": {
        "type": "object",
        "properties": {
          "Related": {
            "type": "string",
            "description": "Identifier of the related account.",
            "example": "acc-1001"
          },
          "Id": {
            "type": "string",
            "description": "Identifier for the relationship.",
            "example": "rel-2002"
          }
        },
        "description": "Schema representing relationships related to accounts."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of address (e.g., residential, business).",
            "example": "Residential"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization, if applicable.",
            "example": "Sales"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization, if applicable.",
            "example": "Domestic Sales"
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address.",
            "example": "Main St."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number for the address.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building, if applicable.",
            "example": "Corporate HQ"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building, if applicable.",
            "example": "3"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building, if applicable.",
            "example": "302"
          },
          "Room": {
            "type": "string",
            "description": "Room number, if applicable.",
            "example": "A"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable.",
            "example": "12"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Location name of the town, if applicable.",
            "example": "Downtown"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "Central District"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name, if applicable.",
            "example": "c/o Jane Doe"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code for the address.",
            "example": "12345"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "Springfield"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state, province).",
            "example": "California"
          },
          "Country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "United States"
          },
          "line": {
            "type": "array",
            "description": "Lines of text for address details.",
            "items": {
              "type": "string",
              "description": "A line of the address.",
              "example": "Suite 100"
            }
          }
        },
        "description": "Schema representing an address associated with a party."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-party"
        },
        "example": "accounts-api-get-party"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, specifically designed for use with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}