{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get It Management By Param1-spec",
    "description": "The IT Management Retrieval API allows users to access specific operational data related to IT management by utilizing a parameterized approach. This endpoint is ideal for developers needing to query and retrieve detailed insights about IT operations, tailored by the specified 'param1'. Common use cases include performance monitoring, incident tracking, and resource management for IT professionals. This API enhances visibility into operational metrics, fostering informed decision-making across IT departments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/operational-gateway/{param1}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve operational gateway details",
        "description": "Fetches the details of the operational gateway with the specified resource ID. This endpoint provides access to essential information related to the operational gateway's functionality and status.",
        "operationId": "getItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operational information from the specified gateway, allowing users to specify parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItManagementByParam1Request": {
        "type": "string",
        "description": "A request body for operations related to the IT management operational gateway. This string should specify the required details for the GET request related to operations.",
        "example": "{}"
      },
      "GetItManagementByParam1Response_200": {
        "title": "Operational Gateway Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system operates, such as 'production' or 'staging'.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier associated with the change request.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team that owns the operational task.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation.",
            "example": "2026-08-11T12:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the operational record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, such as identifiers and timestamps.",
            "$ref": "#/components/schemas/OperationalMetadata"
          }
        },
        "description": "This schema represents the response structure for the Operational Gateway GET request, detailing the operations and their associated metadata.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c981dec6-ad49-5e09-a759-95eae26de2eb",
            "correlationId": "66e1fb2b-fd41-5b81-a228-9d3ea4c6b437",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationalMetadata": {
        "title": "Operational Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "This schema represents the metadata associated with an operational response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-gateway-get-operational-gateway"
        },
        "example": "operational-gateway-get-operational-gateway"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid token in the 'Authorization' header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}