{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Reverse-spec",
    "description": "The Payment Reversal API allows financial institutions to process payment reversals for specific loans. By targeting a loan and a corresponding payment through their unique identifiers, users can initiate a reversal transaction. This is particularly useful in scenarios involving erroneous payments or customer disputes, enabling swift resolution. Typical consumers of this API include loan servicing teams and financial application developers who need to maintain accurate payment records and enhance customer service workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}/reverse": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Reverse a specific payment for a loan.",
        "description": "This operation allows users to reverse a particular payment associated with a specific loan. It is essential for correcting payment errors or processing refunds. Ensure that the loan and payment identifiers are valid and that the payment is eligible for reversal.",
        "operationId": "createPaymentReverse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to reverse a specified payment for a loan. It should include the necessary details for processing the reversal.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentReverseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment reversal was successful and the resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentReverseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentReverseRequest": {
        "title": "Reverse Payment Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for the reversal.",
            "example": "CODE-574"
          },
          "reasonDescription": {
            "type": "string",
            "description": "A detailed description of the reason for the reversal.",
            "example": "STANDARD"
          },
          "reversalDate": {
            "type": "string",
            "description": "The date when the reversal is requested.",
            "example": "2026-09-15"
          },
          "restoreInstallmentStatus": {
            "type": "boolean",
            "description": "Indicates whether to restore the installment status after the reversal.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for reversing a payment operation.",
        "example": {
          "reasonCode": "CODE-574",
          "reasonDescription": "STANDARD",
          "reversalDate": "2026-09-15",
          "restoreInstallmentStatus": true,
          "requestContext": {
            "requestId": "4605c092-73f9-582f-92fc-04659dad37e9",
            "correlationId": "99816f93-5099-5949-bf8b-f31135746621",
            "idempotencyKey": "569290c8-4124-548a-a314-1e51a9f15b62",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-225548"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "abcde-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "unique-id-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "PaymentSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was generated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the communication channel of the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the details of the communication channel used."
      },
      "CreatePaymentReverseResponse_201": {
        "title": "Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount involved in the payment transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is credited to the account.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference number for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment across different components.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of target installment numbers that the payment will apply to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details regarding manual allocation of payment to various components.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or description related to the payment transaction.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "838c1239-f4a3-ce74-8c9c-d7445ebf3728"
          },
          "paymentNumber": {
            "type": "string",
            "description": "Number associated with the payment transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment (e.g., completed, pending).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details regarding how the payment is allocated across different components.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference number for tracking the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "Timestamp when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Contains metadata associated with the payment transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response details for a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "838c1239-f4a3-ce74-8c9c-d7445ebf3728",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cd2ff1d5-b409-5588-a57c-6ff256db66cc",
            "correlationId": "99816f93-5099-5949-bf8b-f31135746621",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary value in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the monetary amount details."
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocation amount for the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocation amount for the interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocation amount for any fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocation amount for penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Allocation amount for excess payment.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing manual allocation details of a payment."
      },
      "Allocation": {
        "title": "Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount for the principal component.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocated amount for the interest component.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocated amount for fees associated with the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocated amount for any penalties that apply.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Allocated amount for excess amounts beyond required payments.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing the payment allocation details."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request through its lifecycle.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with a payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint being called, assisting with tracing and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-reverse-loan-payment"
        },
        "example": "banking-loans-openapi-reverse-loan-payment"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is making the request, useful for monitoring and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to securely transmit information between parties. This method is commonly used for user authentication in APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}