{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer By Transaction Id-spec",
    "description": "The Customer Transaction Retrieval API allows users to access specific customer transaction details using a unique transaction ID associated with a customer. This functionality is beneficial for organizations aiming to enhance customer service, streamline audit processes, and facilitate financial analysis. By using this API, businesses can quickly respond to customer inquiries regarding their transactions or conduct internal reviews. Ideal users include customer support teams, financial analysts, and compliance officers seeking detailed transaction data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Retrieve a specific transaction for a customer.",
        "description": "This endpoint allows you to fetch detailed information about a specific transaction associated with a particular customer. You can use this to review transaction history or validate transaction details.",
        "operationId": "getCustomerByTransactionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/transactionId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the information needed to retrieve transactions for the specified customer. Ensure the appropriate customer ID and transaction ID are provided in the URL to get the transaction details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerByTransactionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of transactions for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerByTransactionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerByTransactionIdRequest": {
        "title": "Customer Transaction Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving operations related to customer transactions.",
        "example": "{}"
      },
      "GetCustomerByTransactionIdResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the transaction.",
            "format": "int32",
            "example": 1
          },
          "amount": {
            "type": "number",
            "description": "The total amount of the transaction.",
            "example": 100.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "description": "A unique string identifier for the transaction.",
            "example": "TXN-803890"
          },
          "accountId": {
            "type": "integer",
            "description": "Identifier of the account associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier of the customer associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "ACTIVE"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the transaction.",
            "example": "Customer banking request processed successfully"
          },
          "memo": {
            "type": "string",
            "description": "Additional notes regarding the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of transaction (e.g., debit, credit).",
            "example": "STANDARD"
          },
          "transactionDate": {
            "type": "integer",
            "description": "The date when the transaction occurred.",
            "format": "int32",
            "example": 1
          },
          "postedDate": {
            "type": "integer",
            "description": "The date when the transaction was posted.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the transaction record was created.",
            "format": "int32",
            "example": 1
          },
          "firstEffectiveDate": {
            "type": "integer",
            "description": "The first date the transaction became effective.",
            "format": "int32",
            "example": 1
          },
          "effectiveDate": {
            "type": "integer",
            "description": "The date that represents the effective date of the transaction.",
            "format": "int32",
            "example": 1
          },
          "optionExpireDate": {
            "type": "integer",
            "description": "The expiration date for any options associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "checkNum": {
            "type": "string",
            "description": "The check number associated with the transaction, if applicable.",
            "example": "STANDARD"
          },
          "escrowAmount": {
            "type": "number",
            "description": "The amount held in escrow for the transaction, if applicable.",
            "example": 100.0
          },
          "feeAmount": {
            "type": "number",
            "description": "Fees associated with the transaction.",
            "example": 100.0
          },
          "suspenseAmount": {
            "type": "number",
            "description": "Amount placed in suspense for the transaction.",
            "example": 100.0
          },
          "interestAmount": {
            "type": "number",
            "description": "Interest amount, if applicable to the transaction.",
            "example": 100.0
          },
          "principalAmount": {
            "type": "number",
            "description": "Principal amount associated with the transaction.",
            "example": 100.0
          },
          "optionStrikePrice": {
            "type": "number",
            "description": "Strike price for any options associated with the transaction.",
            "example": 100.0
          },
          "unitQuantity": {
            "type": "number",
            "description": "The quantity of units involved in the transaction.",
            "example": 100.0
          },
          "unitPrice": {
            "type": "number",
            "description": "The price per unit involved in the transaction.",
            "example": 100.0
          },
          "categorization": {
            "description": "Categorization details for the transaction.",
            "$ref": "#/components/schemas/TransactionCategorization"
          },
          "runningBalanceAmount": {
            "type": "number",
            "description": "The running balance after this transaction.",
            "example": 100.0
          },
          "subaccountSecurityType": {
            "type": "string",
            "description": "The type of security for the subaccount, if applicable.",
            "example": "STANDARD"
          },
          "commissionAmount": {
            "type": "integer",
            "description": "Commission fees associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol associated with the transaction, if applicable.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response schema for retrieving transaction details for a customer.",
        "example": {
          "id": 1,
          "amount": 100.0,
          "uniqueTransactionId": "TXN-803890",
          "accountId": 1,
          "customerId": 1,
          "status": "ACTIVE",
          "description": "Customer banking request processed successfully",
          "memo": "STANDARD",
          "type": "STANDARD",
          "transactionDate": 1,
          "postedDate": 1,
          "createdDate": 1,
          "firstEffectiveDate": 1,
          "effectiveDate": 1,
          "optionExpireDate": 1,
          "checkNum": "STANDARD",
          "escrowAmount": 100.0,
          "feeAmount": 100.0,
          "suspenseAmount": 100.0,
          "interestAmount": 100.0,
          "principalAmount": 100.0,
          "optionStrikePrice": 100.0,
          "unitQuantity": 100.0,
          "unitPrice": 100.0,
          "categorization": {
            "normalizedPayeeName": "Northstar Banking Service",
            "category": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD",
            "bestRepresentation": "STANDARD"
          },
          "runningBalanceAmount": 100.0,
          "subaccountSecurityType": "STANDARD",
          "commissionAmount": 1,
          "ticker": "STANDARD",
          "metadata": {
            "responseId": "f8ec0b61-bb56-5d0b-9962-6e4d71a361f7",
            "correlationId": "cb040eae-06c8-5821-8e6c-b5beaa3e639b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionCategorization": {
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "The normalized name of the payee.",
            "example": "Payee Name"
          },
          "category": {
            "type": "string",
            "description": "The category of the transaction.",
            "example": "Utilities"
          },
          "city": {
            "type": "string",
            "description": "City associated with the transaction.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State associated with the transaction.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code associated with the transaction.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country associated with the transaction.",
            "example": "USA"
          },
          "bestRepresentation": {
            "type": "string",
            "description": "Best representation of the transaction for categorization.",
            "example": "Electricity"
          }
        },
        "description": "Categorization details of a transaction."
      },
      "TransactionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the transaction.",
            "example": "res-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2021-06-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "transactionId": {
        "name": "transactionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that was called, allowing for better tracking and logging of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-transaction-by-unique-transaction-id"
        },
        "example": "open-finance-api-get-transaction-by-unique-transaction-id"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application that processed the request, providing context on the service handling the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication format, primarily utilizing JSON Web Tokens (JWT). The client must include the JWT token in the Authorization header, prefixed by the word 'Bearer'. This token is used to verify the identity of the client and to provide access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}