{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Execution API",
    "description": "The Payment Execution API allows clients to retrieve the status and details of specific payment executions within the banking system. By using the unique identifier, this endpoint provides insights into transactions, such as payment confirmation and processing stages. Typical consumers include financial institutions, online merchants, and banking applications that require up-to-date payment information. This ensures transparency and timely updates for users managing their payment operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-execution/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Payment Execution Details",
        "description": "This endpoint allows you to fetch the details of a specific payment execution using its unique identifier. You can use this information to track the status and other relevant data regarding the payment execution.",
        "operationId": "getPaymentExecutionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details pertaining to the execution of the payment with ID PAY-300045. It may include various parameters that specify the nature of the request and the information sought about the payment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentExecutionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment execution details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentExecutionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentExecutionByIdRequest": {
        "type": "string",
        "description": "A string representation of the payment execution request body for the GET operation.",
        "example": "{}"
      },
      "GetPaymentExecutionByIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-996520"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the account of the debtor.",
            "example": "ACC-728203"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the account of the creditor.",
            "example": "ACC-870702"
          },
          "instructedAmount": {
            "description": "The amount instructed for the payment execution.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information provided by the debtor regarding the payment.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "The payment rail associated with the transaction.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who will bear the charge for the transaction.",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code indicating the purpose of the payment.",
            "example": "CODE-515"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for payment execution.",
        "example": {
          "paymentId": "PAY-996520",
          "debtorAccountId": "ACC-728203",
          "creditorAccountId": "ACC-870702",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-515",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7367ad6a-57bd-5a4c-ae79-e992083bd8dd",
            "correlationId": "2166f798-b0a1-5948-b69c-0a3a346b14d3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the payment amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the payment amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed payment amount."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-execution-get-payment-execution"
        },
        "example": "payment-execution-get-payment-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically designed for JSON Web Tokens (JWT). The client must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}