{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking External Agency Supplier Agreement-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking External Agency Supplier Agreement-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/supplier-agreements": {
      "post": {
        "operationId": "createBankingExternalAgencySupplierAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingExternalAgencySupplierAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingExternalAgencySupplierAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingExternalAgencySupplierAgreementRequest": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "example": "AGR-501800"
          },
          "bic": {
            "type": "string",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "purchaseOrderId": {
            "type": "string",
            "example": "ORD-992418"
          },
          "categoryCode": {
            "type": "string",
            "example": "CODE-959"
          },
          "approvalLevel": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "2be9e7c8-c436-5956-b485-72e277c583d9",
              "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
              "idempotencyKey": "4b78e7b8-dae4-52b7-8834-4ca4223b0f92",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-263617"
              }
            }
          }
        },
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-501800",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "purchaseOrderId": "ORD-992418",
          "categoryCode": "CODE-959",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "2be9e7c8-c436-5956-b485-72e277c583d9",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "idempotencyKey": "4b78e7b8-dae4-52b7-8834-4ca4223b0f92",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-263617"
            }
          }
        }
      },
      "CreateBankingExternalAgencySupplierAgreementResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "example": "AGR-694888"
          },
          "countryCode": {
            "type": "string",
            "example": "US"
          },
          "purchaseOrderId": {
            "type": "string",
            "example": "ORD-809555"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-887652"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "594e65bd-002f-55c4-9c12-3640d94a8eb6",
              "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-694888",
          "countryCode": "US",
          "purchaseOrderId": "ORD-809555",
          "resourceId": "RES-887652",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "594e65bd-002f-55c4-9c12-3640d94a8eb6",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
        },
        "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}