{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicate Management API",
    "description": "The Syndicate Management API provides capabilities for updating the details of existing syndicates within the banking ecosystem. This endpoint allows financial institutions to modify syndicate configurations and associated parameters as necessary. Typical consumers of this API include bank administrators and finance managers who need to ensure that syndicate operations align with regulatory requirements and business objectives. By enabling precise updates, this API supports efficient management and governance of external agency collaborations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/syndicate-management/{param1}": {
      "patch": {
        "tags": [
          "Syndicate Management"
        ],
        "summary": "Update Syndicate Management Resource",
        "description": "This endpoint allows you to update the details of a specific syndicate management resource identified by its unique ID. Ensure that the payload contains the necessary fields that you wish to modify, and use appropriate error handling to manage any potential issues during the update process.",
        "operationId": "patchExternalAgencySyndicateManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the syndicate information for the specified external agency. It allows you to modify the existing details related to the syndicate based on the given request parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchExternalAgencySyndicateManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchExternalAgencySyndicateManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchExternalAgencySyndicateManagementRes100045Request": {
        "title": "Patch Request Body for Syndicate Management Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the specific changes requested for the syndicate management operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "A string explaining the reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "A string representing the date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for a PATCH operation in the syndicate management system, detailing the changes requested, reasons for the change, and the context of the request.",
        "example": {
          "changes": {
            "institutionId": "STANDARD",
            "agreementId": "AGR-277487",
            "bic": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ca811979-17af-5845-9ddf-40f151f29fc1",
            "correlationId": "cf11c76c-b3ef-5720-bd3d-b0b86f7731a7",
            "idempotencyKey": "ff59ad43-9acc-505d-8d3e-b1e9defe1e79",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-389930"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object for Syndicate Management",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The identifier of the institution related to the changes.",
            "example": "institution-5678"
          },
          "agreementId": {
            "type": "string",
            "description": "The identifier of the agreement associated with the changes.",
            "example": "agreement-91011"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) related to the institution.",
            "example": "DEUTDEDBFRA"
          }
        },
        "description": "This schema defines the specific changes to be made in the syndicate management operation."
      },
      "RequestContext": {
        "title": "Request Context for Syndicate Management Operation",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-121314"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate request/response pairs.",
            "example": "corr-151617"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the operation is idempotent.",
            "example": "key-181920"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-15T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system from which the request originated.",
            "example": "external-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "app-2"
          },
          "channel": {
            "description": "An object representing the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information about a request to the syndicate management system."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the communication channel.",
            "example": "channel-111213"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., 'API', 'Web', 'Mobile').",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request originated.",
            "example": "device-141516"
          }
        },
        "description": "This schema describes the channel through which the request was made."
      },
      "PatchExternalAgencySyndicateManagementRes100045Response_200": {
        "title": "Response for Syndicate Management Operations",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation in the Syndicate Management module.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3d6c3653-b8b4-56c1-a594-42fffa255277",
            "correlationId": "cf11c76c-b3ef-5720-bd3d-b0b86f7731a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains additional metadata related to the main response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, allowing tracking and logging of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicate-management-update-syndicate-management"
        },
        "example": "syndicate-management-update-syndicate-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the specific runtime application that processed the request, useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JWT (JSON Web Token) format for securing API endpoints. Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}