{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Asset Management API",
    "description": "The Party Asset Management API enables organizations to efficiently update and maintain records within the asset directory, focusing on collateral management. This API allows users to modify the details associated with various parties and their respective assets stored in the system. Common use cases include financial institutions managing collateral for loans, ensuring accurate records for compliance and reporting. Integrators and developers can leverage this API to streamline operations related to asset management and improve data accuracy across banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{param1}": {
      "put": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Update the asset directory for the specified party.",
        "description": "This operation allows for the updating of asset directory information associated with a specific party, identified by PARTY-600045. It is essential for maintaining accurate and up-to-date asset records.",
        "operationId": "updatePartyAssetDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the information for a specific party asset in the directory identified by PARTY-600045. It requires a JSON payload that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartyAssetDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePartyAssetDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePartyAssetDirectoryRequest": {
        "title": "Party Asset Directory Update Request",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-502792"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The current market value of the asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date of the asset's valuation.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the asset.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the asset's value.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Current lien status of the asset.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a party asset in the collateral administration system.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-502792",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "7adcfa2a-8609-56c4-af15-523e0ce7a6ca",
            "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
            "idempotencyKey": "7510b8bc-917a-5f46-adf4-08208929f4f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-595991"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the market value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the market value amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the market value of an asset, including amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application initiating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for requests."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which a request is made."
      },
      "UpdatePartyAssetDirectoryResponse_200": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party associated with the collateral.",
            "example": "PARTY-261983"
          },
          "securedExposureId": {
            "type": "string",
            "description": "The unique identifier for the secured exposure.",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the asset record.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the collateral was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the collateral administration party asset directory operation.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-261983",
          "securedExposureId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1776c8ba-22fe-5024-a1fa-0290c125177c",
            "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-upsert-party-asset-directory-record"
        },
        "example": "party-asset-directory-upsert-party-asset-directory-record"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token to authenticate requests. The token should be a valid JSON Web Token (JWT) that conveys identity and authorization claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}