{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Voice of the Customer History API",
    "description": "The Customer Voice of the Customer History API enables businesses to capture and submit customer feedback histories for analysis and decision-making. This endpoint allows for the input of historical feedback data related to a specific customer, identified by customerId. Typical consumers include customer service agents and analysts who utilize the feedback to enhance customer experience strategies. By leveraging this API, organizations can make informed decisions based on customer insights, ultimately driving improvements in service and product offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voahistory": {
      "post": {
        "tags": [
          "Customer Engagement"
        ],
        "summary": "Create VoA History for a Customer",
        "description": "This endpoint allows you to create a detailed VoA (Voice of the Audience) history record for a specified customer. It captures all relevant interactions, feedback, and observations, helping businesses improve customer engagement and service delivery.",
        "operationId": "createVoAHistoryForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to record or update the VoA (Voice of the Customer) history for the specified customer. Ensure that the provided data adheres to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoAHistoryForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoAHistoryForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoAHistoryForCustomerRequest": {
        "title": "Customer VOAHistory Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A list of account IDs associated with the request.",
            "example": "ACC-169722"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields to be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to show NSF (Non-Sufficient Funds) information.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report in epoch time.",
            "format": "int32",
            "example": 1
          },
          "incomeFromDate": {
            "type": "integer",
            "description": "The starting date for income data in epoch time.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "The minimum confidence level for income streams.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating multiple requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure that the same request can be sent multiple times without side effects.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-29T12:34:56Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The source system from which the request originates.",
                "example": "Web Application"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The name of the application that initiated the request.",
                "example": "Customer Portal"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "a318f918-b89f-51d9-a99d-de1d8d0b47aa",
              "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
              "idempotencyKey": "c9214b1e-c3c9-51b6-972d-03cd245c8363",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-938986"
              }
            }
          }
        },
        "description": "Schema representing the request body for the VOAHistory operation related to a specific customer.",
        "example": {
          "accountIds": "ACC-169722",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "incomeFromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "a318f918-b89f-51d9-a99d-de1d8d0b47aa",
            "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
            "idempotencyKey": "c9214b1e-c3c9-51b6-972d-03cd245c8363",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-938986"
            }
          }
        }
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label or name of the custom field.",
            "example": "Custom Field 1"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Value 1"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": true
          }
        },
        "description": "Represents a custom field with a label, value, and visibility status."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateVoAHistoryForCustomerResponse_202": {
        "title": "Customer Request History Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer request.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "0f88e1a0-f6d5-53ea-ac48-77aaa376a17c"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the request was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes related to the request.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for customer request history operations.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "0f88e1a0-f6d5-53ea-ac48-77aaa376a17c",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-976151"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "b348f2c8-ded4-57c9-9e01-a6353d6ca9f0",
            "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL related to the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing end user details."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing consumer information."
      },
      "Constraints": {
        "title": "Request Constraints",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers.",
            "items": {
              "type": "string",
              "description": "Identifier for an account related to the request.",
              "example": "string"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields related to the report.",
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Schema representing constraints applicable to the request."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown.",
            "example": false
          }
        },
        "description": "Schema representing a custom field in the report."
      },
      "Metadata": {
        "title": "Request Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked. This helps in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voa-with-income-report"
        },
        "example": "open-finance-api-generate-voa-with-income-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request. This is useful for identifying which application is processing the request in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with a JSON Web Token (JWT). Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}