{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List International Scheduled Payment Consent Funds Confirmations-spec",
    "description": "This API enables service providers to verify the availability of funds for international scheduled payments. It provides essential confirmation details related to consented payment requests, ensuring that users can proceed with their transactions with confidence. Typical consumers include banking applications and financial service platforms that require real-time payment validation. By utilizing this API, developers can enhance user experience and compliance in cross-border payment solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Retrieve funds confirmation for an international scheduled payment consent.",
        "description": "This endpoint allows you to check if there are sufficient funds available for a specific international scheduled payment. By providing the consent ID, users can verify if the payment can be processed successfully.",
        "operationId": "listInternationalScheduledPaymentConsentFundsConfirmations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for funds confirmation associated with the specified international scheduled payment consent. This payload must adhere to the defined schema to ensure all necessary information is provided for accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInternationalScheduledPaymentConsentFundsConfirmationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funds confirmation successful. The requested funds are available for the scheduled payment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInternationalScheduledPaymentConsentFundsConfirmationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInternationalScheduledPaymentConsentFundsConfirmationsRequest": {
        "type": "string",
        "description": "A string representation of the request body for confirming funds in an international scheduled payment consent.",
        "example": "{}"
      },
      "ListInternationalScheduledPaymentConsentFundsConfirmationsResponse_200": {
        "title": "Funds Confirmation Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FundsAvailableResult": {
                "$ref": "#/components/schemas/FundsAvailableResult"
              }
            },
            "description": "Container for the main data returned by the funds confirmation operation.",
            "example": {
              "FundsAvailableResult": {
                "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
                "FundsAvailable": true
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resources.",
                "example": "https://api.example.com/current"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "https://api.example.com/first"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "https://api.example.com/previous"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of results.",
                "example": "https://api.example.com/next"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of results.",
                "example": "https://api.example.com/last"
              }
            },
            "description": "Pagination links related to the funds confirmation response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages in the result set.",
                "format": "int32",
                "example": 5
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the first funds were available.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the last funds were available.",
                "example": "2023-12-31T23:59:59Z"
              }
            },
            "description": "Metadata about the response, including pagination details.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracing the request across systems.",
                "example": "xyz789"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "EU"
              }
            },
            "description": "Additional metadata related to the processing of the request.",
            "example": {
              "responseId": "e1c718da-034b-5d1a-9908-a9cb4efe59a8",
              "correlationId": "873304ac-0869-5e54-a92e-18d8e5998cf7",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for confirming available funds in international scheduled payments.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "e1c718da-034b-5d1a-9908-a9cb4efe59a8",
            "correlationId": "873304ac-0869-5e54-a92e-18d8e5998cf7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsAvailableResult": {
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the funds availability was checked.",
            "example": "2023-01-01T12:00:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether the funds are available.",
            "example": false
          }
        },
        "description": "Schema representing the result of checking available funds."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used to trace the request through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-international-scheduled-funds"
        },
        "example": "payment-initiation-openapi-confirm-international-scheduled-funds"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for understanding the context of the execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. Clients should include a valid JWT token in the Authorization header using the 'Bearer' scheme.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}