{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create External Agency Product Broker Agreement-spec",
    "description": "The External Agency Product Broker Agreement Management API facilitates the creation and management of broker agreements for external agencies within the banking domain. This API enables users to initiate agreements that define the terms and conditions between banking institutions and external agency partners. Typical consumers include banking administrators and compliance officers who need to streamline and standardize agreement processing. The API supports essential operations for overseeing the lifecycle of such agreements, ensuring effective collaboration and regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-broker-agreement": {
      "post": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Create a new Product Broker Agreement for an external agency.",
        "description": "This endpoint allows you to create a Product Broker Agreement associated with an external agency, enabling seamless collaboration and agreement management.",
        "operationId": "createExternalAgencyProductBrokerAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a product broker agreement with an external agency. Ensure that all required fields are filled out correctly to establish a valid agreement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencyProductBrokerAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencyProductBrokerAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencyProductBrokerAgreementRequest": {
        "title": "Product Broker Agreement Request Body",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution involved in the agreement.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the broker agreement.",
            "example": "AGR-101143"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) of the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code of the institution as per ISO 3166-1 alpha-2.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the agreement is effective, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a product broker agreement.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-101143",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "d20b9870-bd7e-5c23-931e-943e0106614a",
            "correlationId": "4ccfe940-e3b7-5459-8534-f45fe3bd4330",
            "idempotencyKey": "29b898af-93a6-564a-b96d-40941a58bd96",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-931861"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests.",
            "example": "correlation-321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the idempotency of the request.",
            "example": "idempotency-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system generating the request.",
            "example": "financial-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request is made.",
            "example": "broker-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including transaction identifiers and meta information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel details through which the request is made."
      },
      "CreateExternalAgencyProductBrokerAgreementResponse_201": {
        "title": "Broker Agreement Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution associated with the broker agreement.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the broker agreement.",
            "example": "AGR-307772"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the broker agreement is valid.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier linked to the broker agreement.",
            "example": "RES-177666"
          },
          "status": {
            "type": "string",
            "description": "The current status of the broker agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the broker agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/BrokerAgreementMetadata"
          }
        },
        "description": "This schema represents the response structure for a successful broker agreement operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-307772",
          "countryCode": "US",
          "resourceId": "RES-177666",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a2c91458-24db-55f3-b6a8-fdccd999e2fa",
            "correlationId": "4ccfe940-e3b7-5459-8534-f45fe3bd4330",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BrokerAgreementMetadata": {
        "title": "Broker Agreement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response to this broker agreement request.",
            "example": "response_101"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests and responses.",
            "example": "correlation_202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the broker agreement was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata related to the broker agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This helps in tracing requests in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-broker-agreement-create-product-broker-agreement"
        },
        "example": "product-broker-agreement-create-product-broker-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This aids in debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, typically a JSON Web Token (JWT), for authentication. The token must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}