{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Valuation Model Updates API",
    "description": "This API allows users to modify existing financial instrument valuation models, enabling enhanced accuracy and adaptability in financial assessments. Businesses can leverage this service to ensure that their models reflect the latest financial data and regulatory requirements. Suitable for financial analysts and institutional investors, this API facilitates continuous updates to valuation methodologies. Users can interact with specific models identified by unique parameters, thus streamlining the management process and improving data integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models/{param1}": {
      "patch": {
        "tags": [
          "Financial Instrument Models"
        ],
        "summary": "Update a Financial Instrument Valuation Model",
        "description": "Allows you to update the details of a specific financial instrument valuation model identified by its unique resource ID. Ensure that the request contains the necessary fields to be updated.",
        "operationId": "patchFinancialInstrumentValuationModel_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the financial instrument valuation model with the specified ID. It should contain the necessary attributes to modify the existing resource, ensuring that all required fields are included and any optional fields are adjusted as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchFinancialInstrumentValuationModel_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and changes have been applied.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchFinancialInstrumentValuationModel_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchFinancialInstrumentValuationModel_res100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Defines the changes to be applied to the financial instrument valuation model",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person requesting the change",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for patching financial instrument valuation models",
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-912332"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "8ef0f561-6a17-505a-ab0b-0f90fc84b5ae",
            "correlationId": "ae24791e-baf0-5ef4-a805-a69216c69708",
            "idempotencyKey": "e71062a3-514f-561a-99f8-e69bf4ba7523",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-132810"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Identifier for the financial model to modify",
            "example": "model-1"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model being altered",
            "example": "v1.2"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the model",
            "example": "portfolio-123"
          }
        },
        "description": "Defines the specific modifications applied to the model"
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across multiple systems",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated",
            "example": "appB"
          },
          "channel": {
            "description": "Information about the channel used for the request",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information surrounding the request"
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, Web)",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": " Identifier of the device from which the request was made",
            "example": "device-xyz"
          }
        },
        "description": "Details about the communication channel used for the request"
      },
      "PatchFinancialInstrumentValuationModel_res100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the value was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the financial instrument valuation models operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "19c8198f-1f18-585b-ad83-a4e35c2a452b",
            "correlationId": "ae24791e-baf0-5ef4-a805-a69216c69708",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-update-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-update-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "description": "The application runtime context under which the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing a Bearer Token in JWT format. This scheme allows secure access to the API by requiring the token to be included in the Authorization header of API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}