{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Paymentindicator Fcras-spec",
    "description": "The Payment Indicator Retrieval API provides access to payment indicators related to specific accounts and customers. This endpoint allows users to fetch detailed information about payment indicators for a given customer and account, facilitating real-time financial analysis and reporting. Typical consumers include financial analysts and business intelligence tools that require insights into payment patterns. By utilizing this API, developers can enhance their applications with payment tracking capabilities and improve decision-making processes regarding customer accounts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/payments/paymentindicator/fcra": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment indicator FCRA for a specific customer account.",
        "description": "This endpoint allows you to fetch the payment indicator FCRA for a given customer account and payment indicator type. It provides essential information related to the financial status and obligations of the account, enabling better insights into the account's standing.",
        "operationId": "listPaymentindicatorFcras",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment indicator for a specified customer account. It includes all necessary parameters to effectively execute the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentindicatorFcrasRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment indicator data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentindicatorFcrasResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentindicatorFcrasRequest": {
        "title": "FCRA Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the FCRA operations in the GET operation related to a payment indicator.",
        "example": "{}"
      },
      "ListPaymentindicatorFcrasResponse_200": {
        "title": "Payment Indicator Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code indicating the status of the request.",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "Message providing additional details about the request status.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-230271"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-838785"
          },
          "payReqId": {
            "type": "string",
            "description": "Payment request identifier.",
            "example": "STANDARD"
          },
          "settleByDate": {
            "type": "string",
            "description": "Date by which the payment should be settled.",
            "example": "2026-09-15"
          },
          "settlementAmount": {
            "type": "number",
            "description": "Amount to be settled.",
            "example": 100.0
          },
          "availableBalance": {
            "type": "number",
            "description": "The balance available in the account.",
            "example": 100.0
          },
          "indicatorsByDay": {
            "type": "array",
            "description": "List of indicators for each day associated with the payment.",
            "example": [
              {
                "potentialSettlementDate": "2026-09-15",
                "compositeScore": 1,
                "scoreIndicator": "STANDARD",
                "reasons": {
                  "recentBalance": 1,
                  "balanceHistory": 1,
                  "nsfHistory": 1,
                  "recentNsfHistory": 1,
                  "recurringNsf": 1,
                  "spendHistory": 1,
                  "depositHistory": 1,
                  "transactionAmount": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IndicatorByDay"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving payment indicators related to a specific customer and account.",
        "example": {
          "code": "SUCCESS",
          "message": "STANDARD",
          "customerId": "CUST-230271",
          "accountId": "ACC-838785",
          "payReqId": "STANDARD",
          "settleByDate": "2026-09-15",
          "settlementAmount": 100.0,
          "availableBalance": 100.0,
          "indicatorsByDay": [
            {
              "potentialSettlementDate": "2026-09-15",
              "compositeScore": 1,
              "scoreIndicator": "STANDARD",
              "reasons": {
                "recentBalance": 1,
                "balanceHistory": 1,
                "nsfHistory": 1,
                "recentNsfHistory": 1,
                "recurringNsf": 1,
                "spendHistory": 1,
                "depositHistory": 1,
                "transactionAmount": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b3661a1b-9cef-59d5-adc5-ccd40523936e",
            "correlationId": "a03dbbe5-e820-518e-b3a0-2e22d3896314",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IndicatorByDay": {
        "title": "Daily Payment Indicator",
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The potential date when the settlement could occur.",
            "example": "2023-12-31"
          },
          "compositeScore": {
            "type": "integer",
            "description": "A composite score representing the payment risk.",
            "format": "int32",
            "example": 75
          },
          "scoreIndicator": {
            "type": "string",
            "description": "Indicator representing the score level.",
            "example": "High"
          },
          "reasons": {
            "$ref": "#/components/schemas/ReasonsForScore"
          }
        },
        "description": "Information about payment indicators for a specific day."
      },
      "ReasonsForScore": {
        "title": "Reasons for Score",
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "Recent balance amount.",
            "format": "int32",
            "example": 300
          },
          "balanceHistory": {
            "type": "integer",
            "description": "Historical balance data.",
            "format": "int32",
            "example": 250
          },
          "nsfHistory": {
            "type": "integer",
            "description": "Number of Non-Sufficient Funds occurrences in history.",
            "format": "int32",
            "example": 2
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Recent occurrences of Non-Sufficient Funds.",
            "format": "int32",
            "example": 1
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Number of recurring Non-Sufficient Funds instances.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "Historical spending data.",
            "format": "int32",
            "example": 150
          },
          "depositHistory": {
            "type": "integer",
            "description": "Historical deposit data.",
            "format": "int32",
            "example": 200
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Amount of the most recent transaction.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Reasons that contribute to the composite score for the payment indicator."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "COR-45678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint being accessed, which helps in tracking API usage and performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-fcra-payment-success-indicator"
        },
        "example": "open-finance-api-get-fcra-payment-success-indicator"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is processing the request, providing context about the source of the data.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for bearer authentication, enabling secure token-based authorization in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}