{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Compliance By Param1-spec",
    "description": "This API allows for the updating of compliance status related to financial accounting by specific parameters. Users can modify compliance details for various financial accounts identified by the given parameter. Typical consumers include financial institutions and regulatory bodies needing to ensure accurate compliance reporting. By facilitating timely updates, the API supports better risk management and adherence to financial regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-accounting/{param1}": {
      "patch": {
        "tags": [
          "Compliance Management"
        ],
        "summary": "Update financial accounting details for compliance.",
        "description": "This endpoint allows you to update the financial accounting details associated with a specific compliance record. Ensure that you provide the necessary data in the request body to successfully patch the details of the financial account.",
        "operationId": "updateComplianceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the financial accounting details for the specified account. It contains the necessary fields to make changes to the account's information, ensuring compliance with the financial regulations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateComplianceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateComplianceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateComplianceByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "A timestamp indicating when the change will be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the individual or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation in the financial accounting system.",
        "example": {
          "changes": {
            "submissionId": "STANDARD",
            "legalEntityId": "STANDARD",
            "jurisdiction": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "d13672da-21a6-55cc-be71-168efa812eed",
            "correlationId": "8b1c4358-db06-5c3f-8d45-4a7a9bd52ea9",
            "idempotencyKey": "58e15d80-88d0-50c9-9325-8af4560d5123",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-437748"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The identifier of the submission related to the changes.",
            "example": "submission-456"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity involved.",
            "example": "legal-entity-789"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the legal entity operates.",
            "example": "US"
          }
        },
        "description": "Schema representing the changes to be made in the financial accounting record."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-101"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-102"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the operation is performed only once.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "financialSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is made.",
            "example": "accountingApp"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that captures contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateComplianceByParam1Response_200": {
        "title": "Financial Accounting Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a PATCH operation in financial accounting.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8c43baf8-82ba-5b28-838e-cbf930e6e6f7",
            "correlationId": "8b1c4358-db06-5c3f-8d45-4a7a9bd52ea9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request. This header can be used for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-accounting-update-financial-accounting"
        },
        "example": "financial-accounting-update-financial-accounting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This helps in identifying the runtime environment involved in the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a JSON Web Token (JWT) to be provided in the Authorization header of the request, formatted as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}