{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Details API",
    "description": "The Customer Account Details API provides access to specific account information for a given customer. With this endpoint, developers can retrieve detailed data about a customer's account using their unique identifiers. It is particularly useful for applications that require individualized account summaries or insights for customer engagement. Typical consumers include financial services applications, customer support platforms, and user account management systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve account details for a specific customer.",
        "description": "This endpoint allows you to fetch the account information associated with the customer identified by CUST-100045. It returns comprehensive details about the specified account, including account balances and transaction history.",
        "operationId": "getAccountsForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving account operations for a specific customer. This body must conform to the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountsForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the account details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountsForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountsForCustomerCUST100045Request": {
        "type": "string",
        "description": "A JSON representation of the request body for retrieving account information for a specific customer.",
        "example": "{}"
      },
      "GetAccountsForCustomerCUST100045Response_200": {
        "title": "Account Operation Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the account operation.",
            "example": "ACTIVE"
          },
          "statusDescription": {
            "type": "string",
            "description": "A description providing more details about the status.",
            "example": "STANDARD"
          },
          "creationDate": {
            "type": "string",
            "description": "The date when the account was created, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "routingNumber": {
            "type": "string",
            "description": "The routing number associated with the account.",
            "example": "021000021"
          },
          "accountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the account number.",
            "example": "STANDARD"
          },
          "autoVerifiedAccount": {
            "type": "integer",
            "description": "Indicates whether the account is auto-verified: 1 for yes, 0 for no.",
            "format": "int32",
            "example": 1
          },
          "railType": {
            "type": "string",
            "description": "The type of rail used for processing transactions.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the account operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for account operations.",
        "example": {
          "status": "ACTIVE",
          "statusDescription": "STANDARD",
          "creationDate": "2026-09-15",
          "routingNumber": "021000021",
          "accountNumberLast4": "STANDARD",
          "autoVerifiedAccount": 1,
          "railType": "STANDARD",
          "metadata": {
            "responseId": "a4d3763d-f633-5a0c-8ef8-48ef2ed28555",
            "correlationId": "c61dd9a7-4a02-5a9e-8981-c3dbcd68e20d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated, in ISO 8601 format.",
            "example": "2022-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata for account operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-micro-deposits-details"
        },
        "example": "open-finance-api-get-micro-deposits-details"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization using a Bearer token, typically in the format of a JSON Web Token (JWT). This token should be included in the Authorization header of your HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}