{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Product Management By Param1-spec",
    "description": "The Product Management Update API allows businesses to modify specific attributes of product management records using a unique identifier. This endpoint facilitates dynamic updates to product training data for improved operational efficiency. Typical consumers include product managers and developers who need to enhance product information or adjust configurations in response to market changes. By utilizing this API, organizations can ensure their product management strategies remain agile and aligned with current demands.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-training/{param1}": {
      "patch": {
        "tags": [
          "Product Management"
        ],
        "summary": "Update product training details",
        "description": "This operation allows you to update the details of the specific product training identified by PROD-700045. Make sure to provide the necessary fields in the request body that need to be updated.",
        "operationId": "updateProductManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the product training details for the specified product ID (PROD-700045). This body should contain the fields that need to be updated in the product training record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with updated product training details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateProductManagementByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the product changes being requested.",
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating product information.",
        "example": {
          "changes": {
            "productCode": "CHK-PREMIUM-US",
            "productName": "Northstar Banking Service",
            "customerSegment": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "075f240d-2d90-5755-8fb9-57b4c9b1558b",
            "correlationId": "4ebbafc5-05e0-5252-be77-b5ce486466c4",
            "idempotencyKey": "7d30026f-4ec7-5fd1-8676-178d6988690a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-927590"
            }
          }
        }
      },
      "ProductChanges": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "PROD-12345"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Example Product"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment targeted by the product.",
            "example": "Retail"
          }
        },
        "description": "Schema representing the changes to the product."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier that links related requests.",
            "example": "corr-xyz-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request can be retried safely.",
            "example": "idempotencyKey-112233"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-14T15:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Product Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Context information related to the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel used.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Channel information related to the request."
      },
      "UpdateProductManagementByParam1Response_200": {
        "title": "Product Management Training Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response, indicating the current state of the resource.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating whether it was successful or not.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on product training in the product management system.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c55575ed-0b40-5c03-8bb2-230019118eb2",
            "correlationId": "4ebbafc5-05e0-5252-be77-b5ce486466c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking requests across systems.",
            "example": "abcde-67890-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-10T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema defines the metadata structure for responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint related to the operation, provided as a string.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-training-update-product-training"
        },
        "example": "product-training-update-product-training"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request, provided as a string.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically JSON Web Tokens (JWT). This method allows for secure stateless authentication in web applications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}