{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Institutionlogin Accounts-spec",
    "description": "The Institution Login Accounts Retrieval API enables users to access account details associated with a specific institution login. By using the unique identifiers for both the customer and the institution login, consumers can retrieve relevant account information seamlessly. This API is beneficial for institutions and financial service providers looking to manage and review customer accounts effectively. Typical use cases include auditing account permissions, monitoring login activity, and integrating account data into user interfaces for enhanced visibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/paysuite/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve accounts associated with a specific customer and institution login.",
        "description": "This endpoint allows you to fetch the account details for a designated customer by their unique identifier and the associated institution login. It provides comprehensive information about the accounts linked to that particular institution and customer, enabling efficient financial management and access to account-specific data.",
        "operationId": "listInstitutionloginAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account information for the specified customer and institution login. Ensure that the request follows the outlined schema structure to obtain the correct data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInstitutionloginAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstitutionloginAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInstitutionloginAccountsRequest": {
        "type": "string",
        "description": "JSON string representation of the request body for retrieving account information via the GET operation in the Paysuite API.",
        "example": "{}"
      },
      "ListInstitutionloginAccountsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-584574"
          },
          "errorCount": {
            "type": "integer",
            "description": "Count of errors encountered during the request.",
            "format": "int32",
            "example": 1
          },
          "accountCount": {
            "type": "integer",
            "description": "Total number of accounts associated with the customer.",
            "format": "int32",
            "example": 1
          },
          "accountIdentitySuccessCount": {
            "type": "integer",
            "description": "Count of successful account identity verifications.",
            "format": "int32",
            "example": 1
          },
          "balanceDetailsSuccessCount": {
            "type": "integer",
            "description": "Count of successful balance details retrievals.",
            "format": "int32",
            "example": 1
          },
          "paymentInstructionSuccessCount": {
            "type": "integer",
            "description": "Count of successful payment instruction transactions.",
            "format": "int32",
            "example": 1
          },
          "accounts": {
            "type": "array",
            "description": "List of account objects associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "institutionId": "STANDARD",
                "institutionName": "Northstar Banking Service",
                "institutionLoginId": 1,
                "accountDetails": {
                  "id": "STANDARD",
                  "accountNumberDisplay": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "aggregationStatusCode": 1,
                  "status": "ACTIVE",
                  "aggregationSuccessDate": "2026-09-15",
                  "aggregationAttemptDate": "2026-09-15",
                  "createdDate": "2026-09-15",
                  "currency": "USD",
                  "displayPosition": 1,
                  "parentAccount": "STANDARD"
                },
                "balanceDetails": {
                  "id": 1,
                  "realAccountNumberLast4": "STANDARD",
                  "availableBalance": 100.0,
                  "availableBalanceDate": "2026-09-15",
                  "clearedBalance": 100.0,
                  "clearedBalanceDate": "2026-09-15",
                  "aggregationStatusCode": 1,
                  "currency": "USD"
                },
                "accountIdentity": {
                  "holders": [
                    {
                      "relationship": "STANDARD",
                      "ownerName": "Northstar Banking Service",
                      "firstName": "Northstar Banking Service",
                      "middleName": "Northstar Banking Service"
                    }
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving institution account details for a specific customer.",
        "example": {
          "customerId": "CUST-584574",
          "errorCount": 1,
          "accountCount": 1,
          "accountIdentitySuccessCount": 1,
          "balanceDetailsSuccessCount": 1,
          "paymentInstructionSuccessCount": 1,
          "accounts": [
            {
              "id": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "institutionId": "STANDARD",
              "institutionName": "Northstar Banking Service",
              "institutionLoginId": 1,
              "accountDetails": {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "aggregationSuccessDate": "2026-09-15",
                "aggregationAttemptDate": "2026-09-15",
                "createdDate": "2026-09-15",
                "currency": "USD",
                "displayPosition": 1,
                "parentAccount": "STANDARD"
              },
              "balanceDetails": {
                "id": 1,
                "realAccountNumberLast4": "STANDARD",
                "availableBalance": 100.0,
                "availableBalanceDate": "2026-09-15",
                "clearedBalance": 100.0,
                "clearedBalanceDate": "2026-09-15",
                "aggregationStatusCode": 1,
                "currency": "USD"
              },
              "accountIdentity": {
                "holders": [
                  {
                    "relationship": "STANDARD",
                    "ownerName": "Northstar Banking Service",
                    "firstName": "Northstar Banking Service",
                    "middleName": "Northstar Banking Service"
                  }
                ]
              }
            }
          ],
          "metadata": {
            "responseId": "a5e06809-43d1-564c-b6a2-7d51fa8f2f18",
            "correlationId": "ec1ad275-23bc-5891-addf-910d143b18e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-100001"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "1234"
          },
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "INST-1001"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the financial institution.",
            "example": "Bank of Example"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Unique identifier for the institution's login.",
            "format": "int32",
            "example": 1001
          },
          "accountDetails": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "balanceDetails": {
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "accountIdentity": {
            "$ref": "#/components/schemas/AccountIdentity"
          }
        },
        "description": "Details of a specific account associated with a customer."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account details.",
            "example": "AD-100001"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Account number displayed to the user.",
            "example": "############1234"
          },
          "name": {
            "type": "string",
            "description": "Name of the account.",
            "example": "Savings Account"
          },
          "type": {
            "type": "string",
            "description": "Type of account (e.g., savings, checking).",
            "example": "Savings"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code for account aggregation.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "Active"
          },
          "aggregationSuccessDate": {
            "type": "string",
            "description": "Date when account aggregation was successful.",
            "example": "2023-01-01T00:00:00Z"
          },
          "aggregationAttemptDate": {
            "type": "string",
            "description": "Date when aggregation was attempted.",
            "example": "2022-12-31T00:00:00Z"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the account was created.",
            "example": "2022-01-01T00:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account.",
            "example": "USD"
          },
          "displayPosition": {
            "type": "integer",
            "description": "Display order of the account in the user's interface.",
            "format": "int32",
            "example": 1
          },
          "parentAccount": {
            "type": "string",
            "description": "Identifier for the parent account if applicable.",
            "example": "PAC-100001"
          }
        },
        "description": "Detailed information about the account."
      },
      "BalanceDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the balance details.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "1234"
          },
          "availableBalance": {
            "type": "number",
            "description": "Current available balance in the account.",
            "example": 1000.0
          },
          "availableBalanceDate": {
            "type": "string",
            "description": "Date of the last available balance update.",
            "example": "2023-01-01"
          },
          "clearedBalance": {
            "type": "number",
            "description": "Balance available after all transactions have cleared.",
            "example": 950.0
          },
          "clearedBalanceDate": {
            "type": "string",
            "description": "Date of the last cleared balance update.",
            "example": "2023-01-01"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code for balance aggregation.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "Currency of the balance.",
            "example": "USD"
          }
        },
        "description": "Balance details associated with an account."
      },
      "AccountIdentity": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of account holders associated with the account.",
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          }
        },
        "description": "Identity information related to the account."
      },
      "AccountHolder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "Relationship of the holder to the account (e.g., owner, co-owner).",
            "example": "Owner"
          },
          "ownerName": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the account holder.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the account holder.",
            "example": "A"
          }
        },
        "description": "Details of an individual account holder."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-100001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking request/response flow.",
            "example": "CORR-100001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint from which the response originates.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-details-by-institution-login-id"
        },
        "example": "open-finance-api-get-account-details-by-institution-login-id"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the `Authorization` header of their requests to authenticate. The token should be formatted as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}