{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Generate Jointborrower-spec",
    "description": "This API facilitates the generation of joint borrower specifications, streamlining the process for entities requiring multi-party loan applications. It supports lenders and financial institutions in creating tailored borrower profiles that meet their specific needs. Users can submit detailed information about joint borrowers and receive structured outputs that can be easily integrated into their systems. Typical consumers include mortgage brokers and financial service providers looking to enhance their joint lending processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/jointborrower": {
      "post": {
        "tags": [
          "Borrower Management"
        ],
        "summary": "Create a joint borrower.",
        "description": "This endpoint allows you to create a joint borrower by providing the necessary details. It is useful for applications where multiple parties are involved in a loan or financial agreement.",
        "operationId": "createGenerateJointborrower",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to generate a joint borrower operation. It requires specific details relevant to the borrowers involved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenerateJointborrowerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated joint borrower details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGenerateJointborrowerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateGenerateJointborrowerRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the operation.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "borrowers": {
            "type": "array",
            "description": "List of borrowers involved in the operation.",
            "example": [
              {
                "customerId": "CUST-207734",
                "consumerId": "STANDARD",
                "type": "STANDARD",
                "optionalConsumerInfo": {
                  "ssn": "STANDARD",
                  "dob": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Borrower"
            }
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect after the operation.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The endpoint to receive webhook notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type of the webhook payload.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "User experience type for the operation.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the operation in epoch milliseconds.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields to include in reports.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is a single-use link.",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req_001"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking related requests.",
                "example": "corr_001"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key for ensuring idempotency of the operation.",
                "example": "idempotency-key-123"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2022-01-01T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Source system of the request.",
                "example": "system_a"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Source application of the request.",
                "example": "app_a"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Context information about the request.",
            "example": {
              "requestId": "b52f7898-faf5-556d-a1ab-ae731cb42e4f",
              "correlationId": "111688eb-3e94-5324-a78a-575f2868e749",
              "idempotencyKey": "b8b9d742-a51c-5210-b077-b2ce1be51950",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-968648"
              }
            }
          }
        },
        "description": "Request body for generating a joint borrower operation.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "borrowers": [
            {
              "customerId": "CUST-207734",
              "consumerId": "STANDARD",
              "type": "STANDARD",
              "optionalConsumerInfo": {
                "ssn": "STANDARD",
                "dob": 1
              }
            }
          ],
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "singleUseUrl": true,
          "requestContext": {
            "requestId": "b52f7898-faf5-556d-a1ab-ae731cb42e4f",
            "correlationId": "111688eb-3e94-5324-a78a-575f2868e749",
            "idempotencyKey": "b8b9d742-a51c-5210-b077-b2ce1be51950",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-968648"
            }
          }
        }
      },
      "Borrower": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_001"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "cons_001"
          },
          "type": {
            "type": "string",
            "description": "Type of borrower (e.g., individual, entity).",
            "example": "individual"
          },
          "optionalConsumerInfo": {
            "type": "object",
            "properties": {
              "ssn": {
                "type": "string",
                "description": "Social Security Number of the consumer.",
                "example": "123-45-6789"
              },
              "dob": {
                "type": "integer",
                "description": "Date of birth of the consumer in epoch milliseconds.",
                "format": "int32",
                "example": 946684800000
              }
            },
            "description": "Optional consumer information."
          }
        },
        "description": "Information about a borrower."
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label of the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "Value of the custom field.",
            "example": "Custom Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field should be shown.",
            "example": true
          }
        },
        "description": "Custom field information for reports."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device_001"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateGenerateJointborrowerResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL or link relevant to the operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation to generate a joint borrower. It includes a link relevant to the operation and accompanying metadata.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "290d0814-61fc-509b-8dbe-5577f437a2c3",
            "correlationId": "111688eb-3e94-5324-a78a-575f2868e749",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata about the response, useful for debugging and tracking."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-joint-borrower-connect-url"
        },
        "example": "open-finance-api-generate-joint-borrower-connect-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a bearer token, which is a cryptographic JWT (JSON Web Token). The token should be included in the Authorization header of your HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}