{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Human Resource Management Travel Expense By Travel Expense Id-v5-spec",
    "description": "The Manage Travel Expense API facilitates the updating of travel expense records within the Human Resource Management system. By targeting specific travel expenses through their unique identifiers, users can easily modify details such as amounts, categories, and statuses. This API is instrumental for finance and HR personnel who need to maintain accurate expense reports and streamline reimbursement processes. Typical consumers of this API include HR departments and finance teams handling employee travel expenditures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses/{travelExpenseId}": {
      "patch": {
        "tags": [
          "Travel Expense Management"
        ],
        "summary": "Update travel expense details.",
        "description": "This operation allows you to modify the details of a specific travel expense entry identified by its unique ID. You can update various attributes of the travel expense to ensure that the information is current and accurate.",
        "operationId": "updateBankingHumanResourceManagementTravelExpenseByTravelExpenseId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/travelExpenseId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the travel expense details for the specified resource. Please ensure all required fields are included when sending the patch request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementTravelExpenseByTravelExpenseIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementTravelExpenseByTravelExpenseIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingHumanResourceManagementTravelExpenseByTravelExpenseIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the travel expense.",
            "$ref": "#/components/schemas/TravelExpenseChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating travel expenses in the HR management system.",
        "example": {
          "changes": {
            "expenseReportId": "STANDARD",
            "employeeId": "EMP-923206",
            "tripPurpose": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9aa9afc2-256d-5630-a3c9-652de45f7a25",
            "correlationId": "0547f6e7-fead-5590-816c-f38f075fd75b",
            "idempotencyKey": "d66fa20a-98d5-5d73-8323-da05011ea9bb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-928868"
            }
          }
        }
      },
      "TravelExpenseChanges": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "The unique identifier for the expense report.",
            "example": "EXP-100045"
          },
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee related to the expense.",
            "example": "EMP-123456"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip for which expenses are being claimed.",
            "example": "Business Meeting"
          }
        },
        "description": "This schema defines the changes that can be made to a travel expense report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to track related requests.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the operation is idempotent.",
            "example": "IDEMPOT-76324"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to submit this request.",
            "example": "Expense Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides detailed information regarding the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "DEVICE-12345678"
          }
        },
        "description": "This schema describes the details of the channel used for the request."
      },
      "UpdateBankingHumanResourceManagementTravelExpenseByTravelExpenseIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a1414766-c2f6-5bd8-bb2f-c60780c08766",
            "correlationId": "0547f6e7-fead-5590-816c-f38f075fd75b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate multiple requests and responses.",
            "example": "corr-987654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "travelExpenseId": {
        "name": "travelExpenseId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that is being called. This helps in tracking the request in system logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-update-travel-and-expenses"
        },
        "example": "travel-and-expenses-update-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was initiated. It can be useful for debugging and monitoring the application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP authentication scheme that utilizes Bearer tokens. The token must be a JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties. The JWT is typically used in authorization headers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}