{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Bank Portfolio Analysi Review-spec",
    "description": "This API facilitates the submission of review requests for bank portfolio analyses, enabling financial institutions to gain insights into their portfolio's performance. Users can submit detailed evaluations and recommendations, contributing to enhanced decision-making and risk management. The endpoint focuses on creating structured reviews based on specific banking parameters, making it ideal for analysts and financial advisors responsible for portfolio optimization. Typical consumers include banking professionals looking to strengthen their portfolio strategies and compliance teams ensuring regulatory standards are met.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Bank Portfolio Analysis"
        ],
        "summary": "Submit a review for the specified bank portfolio analysis.",
        "description": "This operation allows users to submit a review for the bank portfolio analysis identified by RES-100045. Reviews can provide valuable feedback and insights, which contribute to the overall evaluation and enhancement of the portfolio analysis.",
        "operationId": "createBankPortfolioAnalysiReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the bank portfolio analysis identified by RES-100045. It requires the necessary data structured as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankPortfolioAnalysiReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankPortfolioAnalysiReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankPortfolioAnalysiReviewRequest": {
        "title": "Bank Portfolio Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, including specific areas to be assessed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An element representing a specific aspect of the review.",
              "example": "Financial analysis"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier for the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for completing the review in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "The context in which this request is made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the Operations review in the Bank Portfolio Analysis API.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "1a46c3b6-b961-5684-9bc1-9520c0b967bc",
            "correlationId": "c62d13e3-4fc3-5f1e-b97c-4d344a3ad0f5",
            "idempotencyKey": "5054fc44-568c-5b5a-be58-db517c6a7cb7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-415498"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "corr-91011"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which this request originated.",
            "example": "BankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that initiated the request.",
            "example": "PortfolioManager"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-4567"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateBankPortfolioAnalysiReviewResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A string reference associated with the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation review.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ReviewMetadata"
          }
        },
        "description": "Response schema for the Operations review process in the Treasury Bank Portfolio Analysis.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c9f1624a-48c2-52c0-9ae6-54e8fcdd2729",
            "correlationId": "c62d13e3-4fc3-5f1e-b97c-4d344a3ad0f5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReviewMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the review process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-analysis-review-bank-portfolio-analysis"
        },
        "example": "bank-portfolio-analysis-review-bank-portfolio-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method where a JSON Web Token (JWT) is provided to access certain protected resources. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}