{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Advisory Engagements API",
    "description": "The Legal Advisory Engagements API allows businesses to establish and manage legal advisory engagements efficiently. This endpoint facilitates the creation of new engagements between enterprises and legal advisors, ensuring that all necessary details are captured accurately. Typical consumers include legal departments and compliance teams looking to streamline the engagement process and enhance collaboration with external legal counsel. The API supports industry-specific requirements and documentation standards for legal advisory services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory/engagements": {
      "post": {
        "tags": [
          "Legal Advisory"
        ],
        "summary": "Initiates a legal advisory engagement.",
        "description": "This endpoint allows users to create a new legal advisory engagement, capturing relevant details and requirements necessary for legal assistance. Properly formatted inputs are required to ensure successful engagement creation.",
        "operationId": "createLegalAdvisoryEngagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new engagement with the legal advisory service. It requires specific details about the engagement, including relevant legal contexts and parties involved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLegalAdvisoryEngagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The engagement has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLegalAdvisoryEngagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLegalAdvisoryEngagementRequest": {
        "title": "Legal Advisory Engagement Request Body",
        "required": [
          "engagementId",
          "engagementOwnerId",
          "framework",
          "plannedStartDate",
          "requestContext",
          "scope",
          "targetCompletionDate"
        ],
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the engagement, detailing the work to be performed.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework under which the engagement is structured.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier of the owner responsible for the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a legal advisory engagement. It contains details about the engagement including identification, scope, framework, owner, dates, and context of the request.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "requestContext": {
            "requestId": "ad0fad32-3fb6-5788-a25c-f87f3491aeac",
            "correlationId": "c0f9e887-77d8-5f45-bf8e-588f80684ce1",
            "idempotencyKey": "90264360-2b90-5ad5-9781-0895b775f342",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-454847"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the correlation of related requests.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent requests.",
            "example": "key789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made in ISO 8601 format.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LegalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "LegalApp"
          },
          "channel": {
            "description": "The communication channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema captures the contextual information for the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the communication channel.",
            "example": "channel321"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel, e.g., 'web', 'mobile'.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the details of the communication channel used for the request."
      },
      "CreateLegalAdvisoryEngagementResponse_201": {
        "title": "Engagement Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-866388"
          },
          "status": {
            "type": "string",
            "description": "Current status of the engagement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the engagement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/EngagementMetadata"
          }
        },
        "description": "Response schema for engagement operations in the legal advisory service.",
        "example": {
          "engagementId": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "resourceId": "RES-866388",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "feab8a70-bd61-529b-8437-d44c0360feba",
            "correlationId": "c0f9e887-77d8-5f45-bf8e-588f80684ce1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementMetadata": {
        "title": "Engagement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the request.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata associated with the engagement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-create-legal-advisory-engagement"
        },
        "example": "legal-advisory-create-legal-advisory-engagement"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme supports Bearer Authentication using JSON Web Tokens (JWT). The client must include the JWT in the 'Authorization' header of the request, prefixed with 'Bearer '. This allows the server to verify the token and authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}