{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Project Finances-spec",
    "description": "The Trade Banking Project Finances API provides access to a comprehensive listing of financial data related to trade banking projects. This endpoint allows users to query vital financial information, enabling stakeholders to assess project viability and manage financial resources effectively. Typical consumers of this API include financial analysts, project managers, and business strategists who require up-to-date information to inform decision-making processes. Users can utilize this data to identify trends, allocate funds, and monitor financial performance across various trade banking initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/project-finance": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve project finance details",
        "description": "This endpoint allows users to fetch detailed information regarding project finance within the trade banking domain. It provides essential insights into financing options, terms, and conditions that can be leveraged for various projects.",
        "operationId": "listTradeBankingProjectFinances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a project finance operation within trade banking. This should contain the necessary parameters in JSON format for fetching relevant project financing details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingProjectFinancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning project finance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingProjectFinancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingProjectFinancesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the project finance domain of trade banking.",
        "example": "{}"
      },
      "ListTradeBankingProjectFinancesResponse_200": {
        "title": "Project Finance Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of project finance items.",
            "example": [
              {
                "corporateCustomerId": "CUST-369751",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-916073",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProjectFinanceItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the retrieved items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations on Project Finance, including a list of items, pagination details, sorting options, and metadata.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-369751",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-916073",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7cba56ad-dc38-5f9d-91f3-e52edd8137e7",
            "correlationId": "81539140-8afe-5e29-97ea-dd33098de7fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProjectFinanceItem": {
        "title": "Project Finance Item",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The ID of the corporate customer associated with the item."
          },
          "facilityId": {
            "type": "string",
            "description": "The ID of the facility linked to the project finance item."
          },
          "counterpartyId": {
            "type": "string",
            "description": "The ID of the counterparty involved in the transaction."
          },
          "amount": {
            "description": "The financial amount related to the project finance item.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the finance item."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the item was last updated."
          }
        },
        "description": "Details of a single project finance item."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the financial amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated."
          }
        },
        "description": "Details of the financial amount including its value and currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Details about pagination for the list of items."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking the request across different services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Metadata related to the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "project-finance-search-project-finance"
        },
        "example": "project-finance-search-project-finance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically formatted as JSON Web Tokens (JWT). This approach allows clients to securely transmit authentication information in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}