{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Access Entitlement API",
    "description": "The Customer Access Entitlement API provides a means for businesses to retrieve the access entitlements associated with a specific customer. By utilizing this API, developers can seamlessly integrate customer entitlement management into their banking applications, ensuring that users can obtain the necessary information about access rights. Typical consumers include customer service representatives and backend systems that require entitlement details to optimize customer interactions and service delivery. The API enhances operational efficiency by facilitating quick and accurate retrieval of entitlement data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-access-entitlement/{param1}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Customer Access Entitlement",
        "description": "Fetches the access entitlement information for a specified customer identified by their unique identifier. This operation allows you to view the entitlements available to the customer, which can assist in managing access rights and permissions effectively.",
        "operationId": "getCustomerAccessEntitlementCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the access entitlement details for a specific customer identified by CUST-100045. It provides the necessary parameters and structure to ensure accurate and efficient data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccessEntitlementCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer access entitlement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccessEntitlementCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccessEntitlementCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for retrieving customer access entitlement details.",
        "example": "{}"
      },
      "GetCustomerAccessEntitlementCUST100045Response_200": {
        "title": "Customer Access Entitlement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-441181"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-523731"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the access entitlement becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the relationship with the customer.",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the entitlement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving customer access entitlement details, including identification and metadata.",
        "example": {
          "customerId": "CUST-441181",
          "partyId": "PARTY-523731",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d9bd1215-4088-5bcb-889d-bec376dcc364",
            "correlationId": "2fbc8d33-2b7b-5c9b-9e77-cff71e3e533f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used to trace the request through the system.",
            "example": "CORR-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-access-entitlement-get-customer-access-entitlement"
        },
        "example": "customer-access-entitlement-get-customer-access-entitlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes bearer tokens, specifically JSON Web Tokens (JWT), to securely transmit user identity information and authentication credentials.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}