{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Case Management API",
    "description": "The Customer Case Management API enables businesses to create and manage customer cases effectively. This endpoint allows for the submission of new customer cases, facilitating streamlined customer service operations. Typical consumers of this API include customer support teams and service management platforms. With this API, organizations can enhance their customer support and track the resolution of individual cases to ensure high-quality service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case": {
      "post": {
        "tags": [
          "Customer Service"
        ],
        "summary": "Create a new customer case.",
        "description": "This endpoint allows users to create a new customer case in the servicing system. Ensure all required fields are filled in the request body to successfully create the case.",
        "operationId": "createCustomerCase",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a customer case. It should contain the necessary details required for processing the customer case efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new customer case.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCaseRequest": {
        "title": "Customer Case Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-814153"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier for the customer case.",
            "example": "CASE-580751"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The due date for service level agreement.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The preferred method of contact for the customer.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a customer case.",
        "example": {
          "customerId": "CUST-814153",
          "caseId": "CASE-580751",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "5c125277-94fa-5491-b85d-29d2eda8ce1d",
            "correlationId": "21cd6614-1464-5ec0-9b2b-c2302d287735",
            "idempotencyKey": "3fa90324-7f68-5094-915f-6dd73c175f0d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-744766"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of requests.",
            "example": "key-xyz789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-25T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information of a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-112233"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the interaction.",
            "example": "device-445566"
          }
        },
        "description": "Schema representing the channel information used for a request."
      },
      "CreateCustomerCaseResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-659433"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the customer case.",
            "example": "CASE-931777"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the case.",
            "example": "RES-989009"
          },
          "status": {
            "type": "string",
            "description": "The current status of the case.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the case was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the case creation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a new customer case operation.",
        "example": {
          "customerId": "CUST-659433",
          "caseId": "CASE-931777",
          "resourceId": "RES-989009",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "054f1e64-2179-5a9d-a25c-620685048d68",
            "correlationId": "21cd6614-1464-5ec0-9b2b-c2302d287735",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for the request correlation.",
            "example": "corr-xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2021-01-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information about the case."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, allowing for tracking and auditing of the request flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-create-customer-case"
        },
        "example": "customer-case-create-customer-case"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application which handled the request, useful for identifying the application context in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authentication scheme uses a JSON Web Token (JWT) for securely transmitting information between parties. This token must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}