{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Beneficiary-spec",
    "description": "The Customer Beneficiary Management API allows businesses to effectively manage beneficiary details for their customers. By enabling the addition of new beneficiaries, this API streamlines the process for financial institutions, enabling them to enrich customer accounts and facilitate smoother transactions. Typical consumers include banking applications and financial service providers looking to enhance their service offerings. The API supports operations that ensure compliance and improve customer experience in fund transfers and related activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/beneficiaries": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new beneficiary for a specific customer.",
        "description": "This endpoint allows you to add a new beneficiary to the account of a customer identified by their unique ID. It requires the customer's ID and the beneficiary details to successfully create the record.",
        "operationId": "createCustomerBeneficiary",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body contains the information needed to create a new beneficiary for the specified customer. Ensure that all required fields are populated to successfully create a beneficiary.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerBeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerBeneficiaryResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerBeneficiaryRequest": {
        "title": "Beneficiary Payment Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-388716"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-569458"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-875258"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Optional information regarding the remittance.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "Specifies the payment processing rail.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who will bear the charges of the payment.",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code specifying the purpose of the payment.",
            "example": "CODE-328"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting a beneficiary payment.",
        "example": {
          "paymentId": "PAY-388716",
          "debtorAccountId": "ACC-569458",
          "creditorAccountId": "ACC-875258",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-328",
          "requestContext": {
            "requestId": "fc976c72-1d52-5f97-a359-80af0aebd5da",
            "correlationId": "283bc793-c662-53ce-9430-874a356c1af4",
            "idempotencyKey": "1e6e0ac1-9a45-57c1-a00b-738f75a24066",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177353"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the amount to be paid.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the instructed amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount parameters for the payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests across systems.",
            "example": "CORR-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEMPOTENT-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "AppA"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request is made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEVICE-789"
          }
        },
        "description": "Schema representing the channel of the request."
      },
      "CreateCustomerBeneficiaryResponse_202": {
        "title": "Payment Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-412137"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Unique identifier for the debtor's account.",
            "example": "ACC-821374"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Unique identifier for the creditor's account.",
            "example": "ACC-129547"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code indicating the purpose of the payment.",
            "example": "CODE-168"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for tracking the processing of the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment, including response IDs and timestamps.",
            "$ref": "#/components/schemas/PaymentMetadata"
          }
        },
        "description": "This schema represents the response structure for a payment operation, detailing the payment's id, account details, purpose, processing status, and metadata.",
        "example": {
          "paymentId": "PAY-412137",
          "debtorAccountId": "ACC-821374",
          "creditorAccountId": "ACC-129547",
          "purposeCode": "CODE-168",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "10c62ad9-adc8-50ef-9ae0-92325609a4db",
            "correlationId": "283bc793-c662-53ce-9430-874a356c1af4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMetadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the payment processing took place.",
            "example": "string"
          }
        },
        "description": "This schema captures metadata related to the payment such as response IDs, correlation IDs, generation time, and the region where processing occurred."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-process-payment-order"
        },
        "example": "payment-order-process-payment-order"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application version that is making the request. This helps in debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the operation, facilitating better tracking of processes during execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-011"
        },
        "example": "WF-011"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Beneficiary Registration and Verification"
        },
        "example": "Beneficiary Registration and Verification"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "acb071ff-6bac-48bd-9945-0b48fce2386d"
        },
        "example": "acb071ff-6bac-48bd-9945-0b48fce2386d"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, where a token is transmitted via the HTTP Authorization header, formatted as a JSON Web Token (JWT). It allows secure access to protected resources by verifying the validity of the token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}