{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Directory Retrieval API",
    "description": "The Document Directory Retrieval API enables users to access and retrieve a specific document from the banking document directory using a unique identifier. This API serves financial institutions and developers working on banking applications that require document management functionality. By leveraging this API, consumers can seamlessly fetch necessary documentation, facilitating improved customer service and operational efficiency. Typical use cases include retrieving loan documents, account statements, and other critical banking documents for review or processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-directory/{param1}": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve a specific document directory by its ID.",
        "description": "This endpoint allows users to retrieve detailed information about a specific document directory identified by its unique ID. The response will include all relevant data related to the document directory, which can be used for further processing or display in a user interface.",
        "operationId": "getDocumentDirectoryById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the document with the specified ID from the document directory. Ensure that the request is properly formatted to receive the desired document details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentDirectoryByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested document details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentDirectoryByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentDirectoryByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for a GET operation in the document directory API.",
        "example": "{}"
      },
      "GetDocumentDirectoryByIdResponse_200": {
        "title": "Document Directory Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "DOC-402566"
          },
          "documentType": {
            "type": "string",
            "description": "The type or category of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "The classification level assigned to the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention class indicating how long the document should be retained.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "The SHA-256 checksum for verifying the integrity of the document.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the document record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the document was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "This schema represents the response structure for retrieving a document directory entry.",
        "example": {
          "documentId": "DOC-402566",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0b4f8ad3-3090-5681-b4f2-0c681954c5bb",
            "correlationId": "a9c1bebe-90c3-5293-a582-6d1385d2e53a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response related to this document.",
            "example": "response-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests and responses.",
            "example": "correlation-abc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema represents additional metadata associated with the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-directory-get-document-directory"
        },
        "example": "document-directory-get-document-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a bearer token, specifically structured in JSON Web Token (JWT) format, to validate the identity of the user or application making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}