{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Orders Payment Details API",
    "description": "The International Standing Orders Payment Details API provides access to the payment details associated with a specific international standing order. This API allows financial institutions and payment service providers to retrieve essential information regarding standing order transactions, including amounts, dates, and recipient details. Typical consumers include banks, payment processors, and financial service applications seeking to enhance user experience by presenting detailed transaction insights. Utilize this API to facilitate transparency and improve transaction tracking for end-users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Standing Orders"
        ],
        "summary": "Retrieve payment details for a specific international standing order.",
        "description": "This endpoint allows users to fetch detailed information regarding a specified international standing order by its unique identifier. The response includes all relevant payment details, ensuring users have the necessary information for their financial transactions.",
        "operationId": "getPaymentDetailsForInternationalStandingOrderPAY300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve payment details for the specified international standing order. The request should contain the unique identifier for the standing order within the payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForInternationalStandingOrderPAY300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForInternationalStandingOrderPAY300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForInternationalStandingOrderPAY300045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to payment details of international standing orders.",
        "example": "{}"
      },
      "GetPaymentDetailsForInternationalStandingOrderPAY300045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "An array of payment status objects.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource.",
                    "example": "https://api.example.com/payments/self"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results.",
                    "example": "https://api.example.com/payments?page=1"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results.",
                    "example": "https://api.example.com/payments?page=2"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results.",
                    "example": "https://api.example.com/payments?page=4"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results.",
                    "example": "https://api.example.com/payments?page=10"
                  }
                },
                "description": "Navigation links related to the payment details."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "First available date and time for payment processing.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Last available date and time for payment processing.",
                    "example": "2023-12-31T23:59:59Z"
                  }
                },
                "description": "Metadata about the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "response-12345"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier for correlating requests and responses.",
                    "example": "correlation-abcde"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "2023-10-01T12:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing took place.",
                    "example": "EU"
                  }
                },
                "description": "Additional metadata related to the response."
              }
            },
            "description": "Main data container for payment details.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-475356",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the GET operation on international standing orders payment details.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-475356",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "61e20884-ae7b-5c88-906e-c0d81abe55f9",
            "correlationId": "31c49fee-df6c-56cb-abb3-619b5c8bf911",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "txn-123456789"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "Completed"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "The local instrument used for the payment.",
                "example": "SEPA"
              },
              "Status": {
                "type": "string",
                "description": "Status of the payment (detailed).",
                "example": "Processed"
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason for the current status.",
                "example": "All checks passed"
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Human-readable description of the status reason.",
                "example": "The payment was successfully processed without any issues."
              }
            },
            "description": "Detailed information regarding the status."
          }
        },
        "description": "Detailed information about a payment status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-standing-order-details"
        },
        "example": "payment-initiation-openapi-get-international-standing-order-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, which is a standard method for using bearer tokens (in this case, JSON Web Tokens - JWT) to verify the identity of users accessing the API. Ensure that the bearer token is provided in the `Authorization` header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}