{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Owner Verification Matchings Customer Account By Account Id-v5-spec",
    "description": "This API facilitates the creation of account owner verification matchings for customer accounts. By providing the customer ID and account ID, users can initiate a verification process that confirms ownership of the specified account. This is particularly useful for financial institutions and service providers that need to ensure accurate account ownership, enhance security, and mitigate fraud risks. Typical consumers include customer service teams and compliance officers who require a streamlined method to verify account ownership during customer interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/account-owner-verification-matchings/customers/{customerId}/accounts/{accountId}": {
      "post": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Create a new account for a specific customer.",
        "description": "This endpoint allows you to create a new account associated with the customer identified by CUST-100045. Provide the necessary details in the request body to successfully create the account.",
        "operationId": "createAccountOwnerVerificationMatchingsCustomerAccountByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an account associated with the specified customer. It requires a JSON object that includes the necessary details for the account operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was completed successfully and the response contains the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdRequest": {
        "type": "object",
        "properties": {
          "ownerName": {
            "type": "string",
            "description": "The name of the owner of the account.",
            "example": "Northstar Banking Service"
          },
          "name": {
            "description": "The full name of the account owner.",
            "$ref": "#/components/schemas/Name"
          },
          "address": {
            "description": "The physical address of the account owner.",
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the account owner.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the account owner.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a new account operation.",
        "example": {
          "ownerName": "Northstar Banking Service",
          "name": {
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "suffix": "STANDARD"
          },
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "line3": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001",
            "type": "STANDARD"
          },
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "757ab06a-e79d-504c-8b5c-86559548a810",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "idempotencyKey": "7506908b-a065-5b90-b0d9-048d56db3197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-802972"
            }
          }
        }
      },
      "Name": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the individual.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the individual.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the individual.",
            "example": "Doe"
          },
          "suffix": {
            "type": "string",
            "description": "Any suffix associated with the name, such as Jr., Sr., III, etc.",
            "example": "Jr."
          }
        },
        "description": "Schema representing the name of an individual."
      },
      "Address": {
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "string",
            "description": "Address of the owner."
          },
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address."
          },
          "line3": {
            "type": "string",
            "description": "Third line of the address."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "type": {
            "type": "string",
            "description": "Type of address (e.g., home, work)."
          },
          "addressScores": {
            "type": "object",
            "properties": {
              "ownerAddress": {
                "type": "integer",
                "description": "Score for the owner's address.",
                "format": "int32"
              },
              "type": {
                "type": "integer",
                "description": "Score for the address type.",
                "format": "int32"
              },
              "line1": {
                "type": "integer",
                "description": "Score for line 1 of the address.",
                "format": "int32"
              },
              "line2": {
                "type": "integer",
                "description": "Score for line 2 of the address.",
                "format": "int32"
              },
              "line3": {
                "type": "integer",
                "description": "Score for line 3 of the address.",
                "format": "int32"
              },
              "city": {
                "type": "integer",
                "description": "Score for the city.",
                "format": "int32"
              },
              "country": {
                "type": "integer",
                "description": "Score for the country.",
                "format": "int32"
              },
              "postalCode": {
                "type": "integer",
                "description": "Score for the postal code.",
                "format": "int32"
              },
              "state": {
                "type": "integer",
                "description": "Score for the state.",
                "format": "int32"
              }
            },
            "description": "Scores associated with different parts of the address."
          }
        },
        "description": "Details of an address associated with the account holder."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing the request through various systems.",
            "example": "corr_12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "idemp_12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T14:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Customer Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel used.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for making the request.",
            "example": "device_123"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "CreateAccountOwnerVerificationMatchingsCustomerAccountByAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of holders associated with the account.",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameScores": {
                  "ownerName": 1,
                  "firstName": 1,
                  "middleName": 1,
                  "lastName": 1,
                  "suffix": 1
                },
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "country": "STANDARD",
                    "postalCode": "10001",
                    "type": "STANDARD",
                    "addressScores": {
                      "ownerAddress": 1,
                      "type": 1,
                      "line1": 1,
                      "line2": 1,
                      "line3": 1,
                      "city": 1,
                      "country": 1,
                      "postalCode": 1,
                      "state": 1
                    }
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example",
                    "cores": {
                      "email": 1
                    }
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holder"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating accounts, which includes the details of holders and metadata related to the operation.",
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameScores": {
                "ownerName": 1,
                "firstName": 1,
                "middleName": 1,
                "lastName": 1,
                "suffix": 1
              },
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001",
                  "type": "STANDARD",
                  "addressScores": {
                    "ownerAddress": 1,
                    "type": 1,
                    "line1": 1,
                    "line2": 1,
                    "line3": 1,
                    "city": 1,
                    "country": 1,
                    "postalCode": 1,
                    "state": 1
                  }
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example",
                  "cores": {
                    "email": 1
                  }
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "d5cbf397-f8e1-5f08-9209-ee4f9df3f8ea",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Holder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account."
          },
          "ownerName": {
            "type": "string",
            "description": "Full name of the account owner."
          },
          "firstName": {
            "type": "string",
            "description": "First name of the account owner."
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the account owner."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the account owner."
          },
          "suffix": {
            "type": "string",
            "description": "Suffix of the name, such as Jr., Sr., etc."
          },
          "nameScores": {
            "type": "object",
            "properties": {
              "ownerName": {
                "type": "integer",
                "description": "Score for the owner's name.",
                "format": "int32"
              },
              "firstName": {
                "type": "integer",
                "description": "Score for the first name.",
                "format": "int32"
              },
              "middleName": {
                "type": "integer",
                "description": "Score for the middle name.",
                "format": "int32"
              },
              "lastName": {
                "type": "integer",
                "description": "Score for the last name.",
                "format": "int32"
              },
              "suffix": {
                "type": "integer",
                "description": "Score for the suffix.",
                "format": "int32"
              }
            },
            "description": "Scores associated with different parts of the holder's name."
          },
          "nameClassification": {
            "type": "string",
            "description": "Classification of the name."
          },
          "nameClassificationconfidencescore": {
            "type": "integer",
            "description": "Confidence score associated with the name classification.",
            "format": "int32"
          },
          "addresses": {
            "type": "array",
            "description": "List of addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "emails": {
            "type": "array",
            "description": "List of emails associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          }
        },
        "description": "Details of an account holder."
      },
      "Email": {
        "type": "object",
        "properties": {
          "isPrimary": {
            "type": "boolean",
            "description": "Indicates if this is the primary email address."
          },
          "email": {
            "type": "string",
            "description": "Email address."
          },
          "emailType": {
            "type": "string",
            "description": "Type of the email (e.g., personal, work)."
          },
          "cores": {
            "type": "object",
            "properties": {
              "email": {
                "type": "integer",
                "description": "Score associated with the email address.",
                "format": "int32"
              }
            },
            "description": "Cores scoring related to the email."
          }
        },
        "description": "Details of an email associated with the account holder."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-account-matching-score-details"
        },
        "example": "open-finance-api-account-matching-score-details"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token to authenticate API requests. This token is typically a JSON Web Token (JWT) which allows the user to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}