{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Management API",
    "description": "The Loan Management API enables users to retrieve comprehensive information about loans within the system. By utilizing this endpoint, consumers can access detailed loan data, including status, amount, and borrower information. This is particularly useful for financial institutions, loan officers, and customer service representatives who need to manage, assess, and provide insights on loan portfolios. Whether analyzing performance or addressing customer inquiries, this endpoint delivers critical loan insights to enhance decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "get": {
        "tags": [
          "Loans"
        ],
        "summary": "Retrieve a list of loans.",
        "description": "This endpoint allows you to fetch all available loans in the system. You can use this to view current loan offerings and gather information about their terms.",
        "operationId": "retrieveLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving loan information. It is expected to provide relevant filters or parameters in JSON format to specify the details of the loans being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of loan data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "RetrieveLoansRequest": {
        "type": "string",
        "description": "This schema represents the body of a GET request related to loan operations in JSON format.",
        "example": "{}"
      },
      "RetrieveLoansResponse_200": {
        "title": "Loan Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of loan item objects.",
            "example": [
              {
                "sourceApplicationId": "APP-926194",
                "productId": "PROD-206878",
                "primaryCustomerId": "CUST-203196",
                "borrowerCustomerIds": [
                  "CUST-854121"
                ],
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "termMonths": 1,
                "annualInterestRatePercent": "STANDARD",
                "interestRateType": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "bookingDate": "2026-09-15",
                "firstPaymentDate": "2026-09-15",
                "maturityDate": "2026-09-15",
                "repaymentAccountNumber": "STANDARD",
                "servicingBranchCode": "CODE-906",
                "relationshipManagerId": "STANDARD",
                "purpose": "STANDARD",
                "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
                "accountNumber": "STANDARD",
                "status": "ACTIVE",
                "balance": {
                  "principalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "accruedInterest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "availableToDraw": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "totalDisbursed": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalRepaid": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for the Loan Operations GET request, containing a list of loan items and associated metadata.",
        "example": {
          "items": [
            {
              "sourceApplicationId": "APP-926194",
              "productId": "PROD-206878",
              "primaryCustomerId": "CUST-203196",
              "borrowerCustomerIds": [
                "CUST-854121"
              ],
              "principal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "termMonths": 1,
              "annualInterestRatePercent": "STANDARD",
              "interestRateType": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "bookingDate": "2026-09-15",
              "firstPaymentDate": "2026-09-15",
              "maturityDate": "2026-09-15",
              "repaymentAccountNumber": "STANDARD",
              "servicingBranchCode": "CODE-906",
              "relationshipManagerId": "STANDARD",
              "purpose": "STANDARD",
              "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
              "accountNumber": "STANDARD",
              "status": "ACTIVE",
              "balance": {
                "principalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "accruedInterest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "availableToDraw": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "totalDisbursed": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalRepaid": {
                "currency": "USD"
              }
            }
          ],
          "metadata": {
            "responseId": "7cbf7ea1-597a-5310-bf13-b6bacffc521c",
            "correlationId": "bcb866cd-0a87-53e8-a7f1-80e0989f5c4a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanItem": {
        "title": "Loan Item",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The ID of the source application that processed the loan."
          },
          "productId": {
            "type": "string",
            "description": "The product ID associated with the loan."
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The primary customer's ID linked to the loan."
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "A list of borrower customer IDs associated with the loan.",
            "items": {
              "type": "string",
              "description": "A borrower customer ID."
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term duration of the loan in months.",
            "format": "int32"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage."
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applied to the loan (e.g., fixed, variable)."
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, bi-weekly)."
          },
          "bookingDate": {
            "type": "string",
            "description": "The date when the loan was booked."
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date for the first loan repayment."
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures."
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number used for loan repayments."
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch servicing the loan."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager associated with the loan."
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the loan."
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the loan."
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan."
          },
          "balance": {
            "description": "The current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount disbursed for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalRepaid": {
            "description": "The total amount repaid by the borrower.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "This schema represents an individual loan item with its details."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed."
          }
        },
        "description": "This schema contains metadata information about the API response."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency type (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "The amount of money."
          }
        },
        "description": "This schema represents an amount of money along with its currency."
      },
      "LoanBalance": {
        "title": "Loan Balance",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "The outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "accruedInterest": {
            "description": "The accrued interest amount on the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "feesOutstanding": {
            "description": "The outstanding fees related to the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesOutstanding": {
            "description": "Any outstanding penalties related to the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalOutstanding": {
            "description": "The total outstanding amount for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "availableToDraw": {
            "description": "The amount available to draw from the loan.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "This schema represents the balance details of a loan."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loans"
        },
        "example": "banking-loans-openapi-list-loans"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, which requires a token (typically in the form of a JSON Web Token) to be passed in the `Authorization` header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}