{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get It Management By Param1-spec",
    "description": "The IT Management Retrieval API enables users to access detailed information about various systems within the help desk framework based on specific parameters. This endpoint allows consumers to query IT management systems and obtain relevant data points essential for decision-making and service optimization. Typically utilized by IT administrators and support teams, it supports real-time troubleshooting and management tasks. By leveraging this API, organizations can enhance their operational efficiency and improve user support.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk/{param1}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve help desk system details.",
        "description": "This operation allows you to fetch detailed information about a specific help desk system identified by its unique ID. It includes various attributes and status to assist in managing IT resources effectively.",
        "operationId": "getItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the input data required to perform the GET operation for the specified Help Desk system. Ensure that all necessary parameters are included in the JSON object to receive the expected response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItManagementByParam1Request": {
        "title": "Help Desk Request Body",
        "type": "string",
        "description": "This schema represents the request body for a GET operation related to the help desk system.",
        "example": "{}"
      },
      "GetItManagementByParam1Response_200": {
        "title": "Incident Response",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "Unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "Identifier for the system affected by the incident.",
            "example": "STANDARD"
          },
          "impact": {
            "type": "string",
            "description": "Describes the impact level of the incident.",
            "example": "STANDARD"
          },
          "urgency": {
            "type": "string",
            "description": "The urgency level of the incident.",
            "example": "STANDARD"
          },
          "summary": {
            "type": "string",
            "description": "A brief summary of the incident.",
            "example": "STANDARD"
          },
          "reportedBy": {
            "type": "string",
            "description": "The individual who reported the incident.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the incident record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the incident record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the incident was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/IncidentMetadata"
          }
        },
        "description": "Schema representing the details of an incident response in the help desk system.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "impact": "STANDARD",
          "urgency": "STANDARD",
          "summary": "STANDARD",
          "reportedBy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "918b6208-35cb-5386-9e8a-26f98d9747a3",
            "correlationId": "d5fa353e-feee-5fc4-b32a-b60e60c02541",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IncidentMetadata": {
        "title": "Incident Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "CORR-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-01-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the incident processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata for the incident response providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the endpoint that is relevant for this response. It helps in tracking the specific functionality being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-get-systems-help-desk"
        },
        "example": "systems-help-desk-get-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application name that is currently processing the request. It can be useful for understanding which component of the system generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme along with JSON Web Tokens (JWT). To access secure endpoints, clients must provide a valid JWT in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}