{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan By Param1-spec",
    "description": "The Loan Products Retrieval API allows users to fetch detailed information about specific loan products based on a unique parameter. This endpoint is designed for developers seeking to access loan product data for applications in financial services or personal finance management. Typical consumers include banking applications, loan comparison tools, and customer support systems. By using this API, developers can enhance their applications with accurate loan information tailored to user needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products/{param1}": {
      "get": {
        "tags": [
          "Loan Products"
        ],
        "summary": "Retrieve loan product details by ID.",
        "description": "Fetches the details of a specific loan product identified by its unique ID. This endpoint returns all relevant information related to the loan product, including criteria, terms, and conditions, which can help users make informed decisions.",
        "operationId": "getLoanByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching specific loan product details based on the provided loan product ID. This endpoint retrieves information such as interest rates, terms, and conditions related to the specified loan product.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan product details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on loan products, specifically identified by LOAN-500045. It is expected to contain a JSON string payload.",
        "example": "{}"
      },
      "GetLoanByParam1Response_200": {
        "title": "Loan Product Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code representing the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type/category of the loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan product is denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for this loan product.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for this loan product.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term length in months for which the loan can be taken.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term length in months for which the loan can be taken.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "A code representing the base interest rate used for the loan.",
            "example": "CODE-984"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percentage that is added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured against an asset.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "The eligibility criteria for applying for this loan product.",
            "$ref": "#/components/schemas/LoanEligibility"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanFee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the loan product.",
            "example": "412a3880-40f4-800d-c768-aebe387bba96"
          },
          "audit": {
            "description": "Audit information about the loan product.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the loan product response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response details of a loan product operation.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-984",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "412a3880-40f4-800d-c768-aebe387bba96",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "29551bd1-7ada-5ba5-845d-8a69472de36c",
            "correlationId": "9cd69c8d-eb8c-55bd-ac36-d57f00819829",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the loan principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The principal amount of the loan.",
            "example": "10000"
          }
        },
        "description": "Defines the principal amount details for a loan including currency and amount."
      },
      "LoanEligibility": {
        "title": "Loan Eligibility",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at the loan's maturity.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income required to qualify for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "List of employment types allowed for applicants.",
            "items": {
              "type": "string",
              "description": "Type of employment allowed.",
              "example": "Full-time"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "List of residency countries eligible for this loan.",
            "items": {
              "type": "string",
              "description": "Residency country.",
              "example": "USA"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required for eligibility.",
            "format": "int32",
            "example": 650
          }
        },
        "description": "Criteria that must be satisfied for a loan application."
      },
      "LoanFee": {
        "title": "Loan Fee",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code identifying the fee.",
            "example": "FEE-001"
          },
          "name": {
            "type": "string",
            "description": "The name/description of the fee.",
            "example": "Processing Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the fee.",
            "example": "Flat"
          },
          "amount": {
            "description": "The amount of the fee including currency.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "percent": {
            "type": "string",
            "description": "The percentage if the fee is calculated based on a percentage.",
            "example": "5"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates if the fee is capitalized in the loan amount.",
            "example": false
          }
        },
        "description": "Details of a fee associated with a loan product."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan product was created.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Information regarding the auditing of the loan product."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-product"
        },
        "example": "banking-loans-openapi-get-loan-product"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that executed the request, allowing for tracking and auditing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses a bearer token, typically a JSON Web Token (JWT), to authorize API requests. The token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}