{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Sale By Param1-spec",
    "description": "The Sales Opportunity Retrieval API allows users to access detailed information about specific sales opportunities based on provided parameters. By querying with a unique identifier (param1), consumers can obtain pertinent data that aids in sales strategy and decision-making. This API is particularly useful for sales teams and business analysts looking to analyze sales opportunities or track potential leads. The data retrieved can enhance reporting capabilities and support more informed sales initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-opportunities/{param1}": {
      "get": {
        "tags": [
          "Sales Opportunities"
        ],
        "summary": "Retrieve details for a specific sales opportunity.",
        "description": "This endpoint allows you to fetch the full details of a specific sales opportunity identified by its unique ID (RES-100045). It provides important information regarding the opportunity's status, value, and related entities, enabling you to make informed decisions based on its data.",
        "operationId": "getSaleByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is required to retrieve the sales opportunity details for the specified resource. It should include the necessary information to uniquely identify the sales opportunity being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSaleByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the sales opportunity details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSaleByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSaleByParam1Request": {
        "title": "Sales Opportunities Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving sales opportunities operations.",
        "example": "{}"
      },
      "GetSaleByParam1Response_200": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value related to the sales opportunity.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the sales record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the sales opportunity record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the sales opportunity.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving sales opportunities.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "76d4aedb-d286-54c3-8d74-d7d2233ec9c1",
            "correlationId": "0edc4252-07e4-5d1d-8bc2-bcf59acd8422",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount expected from the sales opportunity.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the expected amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the expected value of a sales opportunity."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the sales opportunity response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked. This helps in tracking the specific endpoint being used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lead-and-opportunity-management-get-lead-and-opportunity-management"
        },
        "example": "lead-and-opportunity-management-get-lead-and-opportunity-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request. Useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to authenticate using a JSON Web Token (JWT). Clients should include the token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}