{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Liquidity Risk Models API",
    "description": "The Liquidity Risk Models API provides essential access to the models used for evaluating and managing liquidity risk within financial institutions. It enables users to retrieve detailed information about various liquidity risk models that are instrumental in risk assessment and decision-making processes. Typical consumers of this API include risk analysts, financial managers, and compliance officers who require up-to-date model data to inform their strategies and regulatory reporting. This API supports financial entities in maintaining robust liquidity management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/liquidity-risk-models": {
      "get": {
        "tags": [
          "Liquidity Risk Management"
        ],
        "summary": "Retrieve Liquidity Risk Models",
        "description": "This endpoint allows users to access a list of liquidity risk models available in the system, providing important insights for financial risk management.",
        "operationId": "getLiquidityRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of liquidity risk models. Ensure that the request follows the specified schema for successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLiquidityRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of liquidity risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLiquidityRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLiquidityRiskModelsRequest": {
        "title": "Liquidity Risk Models Request Body",
        "type": "string",
        "description": "This schema represents the request body format for retrieving liquidity risk models.",
        "example": "{}"
      },
      "GetLiquidityRiskModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of liquidity risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-794341",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LiquidityRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Liquidity Risk Models GET operation.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-794341",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9d893e8c-af6c-5e1d-b058-39312d9dcce8",
            "correlationId": "a9f3b457-fb4e-5977-bfa3-0b94ab435f1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LiquidityRiskModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the liquidity risk model."
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the liquidity risk model."
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio associated with the model."
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applicable."
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model is evaluated."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level associated with the model results."
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The identifier of the dataset used for validation."
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months used for backtesting the model.",
            "format": "int32"
          },
          "approvalStatus": {
            "type": "string",
            "description": "The approval status of the model."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current record status of the model."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the model was last updated."
          }
        },
        "description": "Schema representing a liquidity risk model."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for tracking the request across different services."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed. This value helps track and log requests for monitoring or debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "liquidity-risk-models-search-liquidity-risk-models"
        },
        "example": "liquidity-risk-models-search-liquidity-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request is being processed. This can be useful for identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication. A valid JWT (JSON Web Token) must be included in the authorization header of requests to authenticate users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}