{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Enterprise Services Internal Audit By Internal Audit Id-v5-spec",
    "description": "The Internal Audit Detail Retrieval API allows users to access comprehensive information about specific internal audits within the banking enterprise services. By using the internal audit ID as a parameter, consumers can retrieve detailed data regarding audit findings, recommendations, and associated documentation. This endpoint is particularly useful for compliance officers, auditors, and risk management teams who require insights into audit activities for analysis and reporting purposes. It enables efficient tracking and management of internal audit processes within the financial institution.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/internal-audit/{internalAuditId}": {
      "get": {
        "tags": [
          "Internal Audit"
        ],
        "summary": "Retrieve details of a specific internal audit resource.",
        "description": "This endpoint allows users to fetch detailed information about a particular internal audit resource identified by the given resource ID. Ideal for viewing audit specifics and compliance data.",
        "operationId": "getBankingEnterpriseServicesInternalAuditByInternalAuditId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/internalAuditId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the internal audit information for the specified resource. The client should ensure that the required fields are included to obtain the correct data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingEnterpriseServicesInternalAuditByInternalAuditIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingEnterpriseServicesInternalAuditByInternalAuditIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingEnterpriseServicesInternalAuditByInternalAuditIdRequest": {
        "title": "Internal Audit Operations Request Body",
        "type": "string",
        "description": "A JSON string representing the request body for the Internal Audit Operations endpoint.",
        "example": "{}"
      },
      "GetBankingEnterpriseServicesInternalAuditByInternalAuditIdResponse_200": {
        "title": "Internal Audit Response Schema",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the audit engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework applied during the audit.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, completed, pending).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the engagement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the audit response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the internal audit operation.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "df091f9e-bc46-5e03-9d4f-aa37e7243384",
            "correlationId": "3eb8a94d-2a18-5dde-acab-f80c922bc5ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-16T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing additional metadata for an audit response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "internalAuditId": {
        "name": "internalAuditId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-get-internal-audit"
        },
        "example": "internal-audit-get-internal-audit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where the client sends a JSON Web Token (JWT) as a bearer token in the Authorization header. Ensure to obtain a valid JWT token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}