{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Partner Authentication-spec",
    "description": "The Partner Authentication API facilitates secure and seamless authentication for partnering applications. By integrating with this API, businesses can manage authentication tokens for their partners, ensuring secure transactions and data exchanges. This API supports scenarios where third-party partners need to authenticate to access resources. Typical consumers include partner businesses integrating their systems with yours for access to shared services or data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/authentication": {
      "post": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Authenticate a partner user.",
        "description": "This endpoint allows partner users to authenticate by providing their credentials. Upon successful authentication, a token will be generated for further API usage.",
        "operationId": "createPartnerAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for authenticating a partner. It must contain valid credentials for the authentication process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnerAuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful, user data returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartnerAuthenticationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartnerAuthenticationRequest": {
        "title": "Authentication Request Body",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "partnerSecret": {
            "type": "string",
            "description": "The secret key assigned to the partner for authentication.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the authentication operation.",
        "example": {
          "partnerId": "STANDARD",
          "partnerSecret": "STANDARD",
          "requestContext": {
            "requestId": "710c7bd4-d37d-5c53-a219-d949e45699d7",
            "correlationId": "384ad47a-3cf7-5d7a-9f0b-a2f5531a328f",
            "idempotencyKey": "2c43429a-6122-570f-b368-68ef48095649",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-132890"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for tracking the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating related requests and responses.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate processing of the same request.",
            "example": "idempotentKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppX"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the channel.",
            "example": "deviceXYZ"
          }
        },
        "description": "Schema representing information about the channel from which the request was made."
      },
      "CreatePartnerAuthenticationResponse_200": {
        "title": "Authentication Response",
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The authentication token issued upon successful authentication.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the authentication response.",
            "$ref": "#/components/schemas/AuthenticationMetadata"
          }
        },
        "description": "Response schema for successful authentication operation.",
        "example": {
          "token": "STANDARD",
          "metadata": {
            "responseId": "a443a872-9517-5487-bb14-4bf651c48447",
            "correlationId": "384ad47a-3cf7-5d7a-9f0b-a2f5531a328f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuthenticationMetadata": {
        "title": "Authentication Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the token was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the authentication processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata about the authentication response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-token"
        },
        "example": "open-finance-api-create-token"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a Bearer Token as part of the HTTP Authorization header. It follows the JWT (JSON Web Token) format for encoding the credentials.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}