{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Refund Submit-spec",
    "description": "The Refund Submission API facilitates the submission of refund requests for processed transactions. It allows financial service providers to efficiently handle refund submissions by supplying a unique refundId. This API is designed for use by payment processors, customer support teams, and accounting systems needing to manage refunds seamlessly. By automating the refund submission process, organizations can enhance operational efficiency and improve customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}/submit": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Submit a refund request for a specific reservation.",
        "description": "This endpoint allows you to submit a refund request for the reservation identified by the provided reservation ID. Make sure to provide all necessary details required for processing the refund.",
        "operationId": "createRefundSubmit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "Submit a request for refund for the specified resource (RES-100045). This request should include the necessary details as per the schema defined for refunds.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The refund request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRefundSubmitResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRefundSubmitRequest": {
        "title": "Refund Submission Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for submitting a refund operation.",
        "example": {
          "requestContext": {
            "requestId": "c1535f7a-f2be-5207-8b06-26ab8a788eff",
            "correlationId": "a6a8f47e-5aa0-51fb-b93e-e499f0a1e0f7",
            "idempotencyKey": "992362ba-696c-577f-bad2-4ba4cdafc683",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-712134"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "def456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "ghi789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates the context of the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "This schema provides details about the channel through which the request was made."
      },
      "CreateRefundSubmitResponse_200": {
        "title": "Refund Response",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "A unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "The identifier for the payment that is being refunded.",
            "example": "PAY-577084"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant processing the refund.",
            "example": "MER-134885"
          },
          "amount": {
            "description": "The amount related to the refund, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for the refund.",
            "example": "CODE-744"
          },
          "reason": {
            "type": "string",
            "description": "A textual explanation of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "The merchant's reference number for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details of any failure encountered during the refund process.",
            "$ref": "#/components/schemas/FailureDetails"
          },
          "processorReference": {
            "description": "Reference details provided by the payment processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit details concerning the creation and updating of the refund record.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a refund operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-577084",
          "merchantId": "MER-134885",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-744",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-231",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-334523",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-234"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "3463a11d-76cc-5345-a718-9f0196bc4345",
            "correlationId": "a6a8f47e-5aa0-51fb-b93e-e499f0a1e0f7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The actual value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents the monetary amount with currency."
      },
      "FailureDetails": {
        "title": "Failure Details",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "The category of failure.",
            "example": "PROCESSING_ERROR"
          },
          "code": {
            "type": "string",
            "description": "A specific error code.",
            "example": "ERR-001"
          },
          "message": {
            "type": "string",
            "description": "A message describing the failure.",
            "example": "The refund could not be processed."
          },
          "declineCode": {
            "type": "string",
            "description": "A decline code from the payment processor if applicable.",
            "example": "DECLINE_CODE"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Contains details about any failure during the refund process."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "The card network associated with the transaction.",
            "example": "VISA"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "The transaction ID assigned by the payment scheme.",
            "example": "TX123456789"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number assigned by the acquirer.",
            "example": "ACQ-123456"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number assigned by the issuer.",
            "example": "ISS-123456"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for retrieval requests.",
            "example": "RRN-123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code returned by the processor.",
            "example": "APPROVED"
          }
        },
        "description": "Reference information provided by the payment processor."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the refund was created.",
            "example": "2023-10-15T09:30:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user or system that created the refund.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the refund was last updated.",
            "example": "2023-10-15T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user or system that last updated the refund.",
            "example": "system"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit information regarding the refund operation."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RSP-00123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR-00123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-15T10:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata regarding the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-submit-refund"
        },
        "example": "banking-p2m-openapi-submit-refund"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request runtime.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication format, which involves supplying a JSON Web Token (JWT) in the `Authorization` header for secure access to the API. The token must be included with any request that requires authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}