{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Clearing Management API",
    "description": "The Trade Clearing Management API facilitates the retrieval of trade clearing information, enabling users to monitor and manage clearing operations efficiently. Designed for financial institutions and trading partners, it provides access to the latest trade clearing statuses, ensuring transparency and compliance. This API allows consumers to query specific clearing data based on parameters, enhancing decision-making in trading operations. Typical use cases include viewing trade settlement statuses and tracking the lifecycle of trades.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-clearing/{param1}": {
      "get": {
        "tags": [
          "Trade Clearing"
        ],
        "summary": "Retrieve Trade Clearing Information",
        "description": "This endpoint allows you to retrieve detailed information about a specific trade clearing operation identified by its unique ID. Use this to access data such as transaction details, statuses, and timestamps for monitoring or reporting purposes.",
        "operationId": "getTradeClearingById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve trade clearing information based on the specified operation. The data format expected is JSON, which should follow the schema defined for this endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeClearingByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the trade clearing details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeClearingByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeClearingByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operation related to trade clearing in the market operations context.",
        "example": "{}"
      },
      "GetTradeClearingByIdResponse_200": {
        "title": "Trade Clearing Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument associated with the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the settlement is scheduled to occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units for the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for managing the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house processing the trade.",
            "example": "STANDARD"
          },
          "settlementMethod": {
            "type": "string",
            "description": "The method to be used for settling the trade.",
            "example": "STANDARD"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Current matching status of the trade.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the trade record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the trade record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last time the record was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracing requests.",
                "example": "CORR123"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-09-30T15:30:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "US East"
              }
            },
            "description": "Additional metadata regarding the trade.",
            "example": {
              "responseId": "a12cb8c3-ea7f-5dcb-aed8-417be828a55e",
              "correlationId": "164c481a-c9a1-5471-9d98-9ca1ec111889",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving trade clearing information.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "settlementMethod": "STANDARD",
          "matchingStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a12cb8c3-ea7f-5dcb-aed8-417be828a55e",
            "correlationId": "164c481a-c9a1-5471-9d98-9ca1ec111889",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The unique identifier for the endpoint that processes the request.",
          "example": "trade-clearing-get-trade-clearing"
        },
        "example": "trade-clearing-get-trade-clearing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that executed the response operation.",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) to validate user identity and authorize access to secure endpoints. Clients must include the token in the Authorization header using the format: 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}