{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Customer Account Transactions-v5-spec",
    "description": "MICROSERVICE-PROD-List Aggregation Customer Account Transactions-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/transactions": {
      "get": {
        "operationId": "listAggregationCustomerAccountTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationCustomerAccountTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationCustomerAccountTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationCustomerAccountTransactionsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListAggregationCustomerAccountTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "string",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "toDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "sort": {
            "type": "string",
            "example": "STANDARD"
          },
          "transactions": {
            "type": "array",
            "example": [
              {
                "id": 1,
                "amount": 100.0,
                "uniqueTransactionId": "TXN-803786",
                "accountId": 1,
                "customerId": 1,
                "status": "ACTIVE",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "type": "STANDARD",
                "transactionDate": 1,
                "postedDate": 1,
                "createdDate": 1,
                "firstEffectiveDate": 1,
                "effectiveDate": 1,
                "optionExpireDate": 1,
                "checkNum": "STANDARD",
                "escrowAmount": 100.0,
                "feeAmount": 100.0,
                "suspenseAmount": 100.0,
                "interestAmount": 100.0,
                "principalAmount": 100.0,
                "optionStrikePrice": 100.0,
                "unitQuantity": 100.0,
                "unitPrice": 100.0,
                "categorization": {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "category": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "amount": {
                  "type": "number",
                  "example": 0.0
                },
                "uniqueTransactionId": {
                  "type": "string",
                  "example": "string"
                },
                "accountId": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "customerId": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "memo": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "transactionDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "postedDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "createdDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "firstEffectiveDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "effectiveDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "optionExpireDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "checkNum": {
                  "type": "string",
                  "example": "string"
                },
                "escrowAmount": {
                  "type": "number",
                  "example": 0.0
                },
                "feeAmount": {
                  "type": "number",
                  "example": 0.0
                },
                "suspenseAmount": {
                  "type": "number",
                  "example": 0.0
                },
                "interestAmount": {
                  "type": "number",
                  "example": 0.0
                },
                "principalAmount": {
                  "type": "number",
                  "example": 0.0
                },
                "optionStrikePrice": {
                  "type": "number",
                  "example": 0.0
                },
                "unitQuantity": {
                  "type": "number",
                  "example": 0.0
                },
                "unitPrice": {
                  "type": "number",
                  "example": 0.0
                },
                "categorization": {
                  "type": "object",
                  "properties": {
                    "normalizedPayeeName": {
                      "type": "string",
                      "example": "string"
                    },
                    "category": {
                      "type": "string",
                      "example": "string"
                    },
                    "city": {
                      "type": "string",
                      "example": "string"
                    },
                    "state": {
                      "type": "string",
                      "example": "string"
                    },
                    "postalCode": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ab65e5dd-d35b-5220-adb8-fb83b187f011",
              "correlationId": "958d1c76-8ca3-5ccc-ba04-f2b2e06c82d1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": "STANDARD",
          "fromDate": "2026-09-15",
          "toDate": "2026-09-15",
          "sort": "STANDARD",
          "transactions": [
            {
              "id": 1,
              "amount": 100.0,
              "uniqueTransactionId": "TXN-803786",
              "accountId": 1,
              "customerId": 1,
              "status": "ACTIVE",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "type": "STANDARD",
              "transactionDate": 1,
              "postedDate": 1,
              "createdDate": 1,
              "firstEffectiveDate": 1,
              "effectiveDate": 1,
              "optionExpireDate": 1,
              "checkNum": "STANDARD",
              "escrowAmount": 100.0,
              "feeAmount": 100.0,
              "suspenseAmount": 100.0,
              "interestAmount": 100.0,
              "principalAmount": 100.0,
              "optionStrikePrice": 100.0,
              "unitQuantity": 100.0,
              "unitPrice": 100.0,
              "categorization": {
                "normalizedPayeeName": "Northstar Banking Service",
                "category": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "ab65e5dd-d35b-5220-adb8-fb83b187f011",
            "correlationId": "958d1c76-8ca3-5ccc-ba04-f2b2e06c82d1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account-transactions"
        },
        "example": "open-finance-api-get-customer-account-transactions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}