{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Party Reference Data API",
    "description": "The Update Party Reference Data API allows businesses to manage and modify critical reference data related to parties within their customer management systems. Through this API, users can update existing party records, ensuring that data remains accurate and relevant. Typical consumers include banking and financial institutions that rely on accurate customer information for compliance and operational efficiency. This service aids in maintaining consistency across customer interactions by providing updated reference data for various applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/party-reference-data-directory": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update party reference data directory.",
        "description": "This operation allows you to update the party reference data in the directory, ensuring that the information is accurate and up-to-date. This is crucial for maintaining effective customer management and ensuring that party-related operations function smoothly.",
        "operationId": "updatePartyReferenceDataDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the party reference data directory in the customer management system. It contains all necessary fields needed to perform the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartyReferenceDataDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePartyReferenceDataDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePartyReferenceDataDirectoryRequest": {
        "title": "Customer Management Party Reference Data Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-254819"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party related to the customer.",
            "example": "PARTY-512819"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the customer.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the relationship is effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship specified for the customer.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the PUT operation in the Customer Management Party Reference Data API. It contains information about the customer and their relationship with a party.",
        "example": {
          "customerId": "CUST-254819",
          "partyId": "PARTY-512819",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "27f10b8d-4dc5-57fc-b187-c9bb373d599c",
            "correlationId": "86446519-0ec9-5b1f-aaa9-abd566a42bb8",
            "idempotencyKey": "d240936a-e756-5994-9390-dc0675d26c5b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-160200"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the requests.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-02T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel used.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "This schema contains information about the channel from which the request was made."
      },
      "UpdatePartyReferenceDataDirectoryResponse_200": {
        "title": "Party Reference Data Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-999452"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-532676"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the party.",
            "example": "CHK-PREMIUM-US"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the party reference data.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the party reference data.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the party reference data.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Party Reference Data API after a successful update operation.",
        "example": {
          "customerId": "CUST-999452",
          "partyId": "PARTY-532676",
          "productCode": "CHK-PREMIUM-US",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7ac783c1-5a69-5a97-a728-741034a55fe8",
            "correlationId": "86446519-0ec9-5b1f-aaa9-abd566a42bb8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related operations.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-reference-data-directory-upsert-party-reference-data-directory"
        },
        "example": "party-reference-data-directory-upsert-party-reference-data-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which requires a bearer token (in JWT format) to be included in the Authorization header of the request. This token is typically used to authenticate users and grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}