{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Details Retrieval API",
    "description": "The Payment Details Retrieval API allows users to access detailed information about scheduled international payments. It provides essential insights into payment statuses, amounts, and any associated transaction details necessary for financial tracking and compliance. This API is primarily utilized by financial institutions and payment service providers to enhance customer service and reporting capabilities. By integrating this API, developers can enable users to monitor and manage their international payment activities effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve payment details for a scheduled international payment.",
        "description": "This endpoint allows users to fetch the detailed information about a specific scheduled international payment. It includes all relevant data pertaining to the transaction, such as amounts, dates, statuses, and payer information.",
        "operationId": "getPaymentDetailsForInternationalScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for a specific international scheduled payment identified by PAY-300045. It should contain any necessary information required for processing the request, ensuring that all required attributes conform to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForInternationalScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the details of the requested payment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForInternationalScheduledPaymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForInternationalScheduledPaymentRequest": {
        "title": "Payment Details Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving payment details related to international scheduled payments.",
        "example": "{}"
      },
      "GetPaymentDetailsForInternationalScheduledPaymentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "An array of payment status objects.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "URL to the current resource."
                  },
                  "First": {
                    "type": "string",
                    "description": "URL to the first page of resources."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "URL to the previous page of resources."
                  },
                  "Next": {
                    "type": "string",
                    "description": "URL to the next page of resources."
                  },
                  "Last": {
                    "type": "string",
                    "description": "URL to the last page of resources."
                  }
                },
                "description": "Links for pagination and navigation."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages in the response.",
                    "format": "int32"
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time when the first payment became available."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time when the last payment became available."
                  }
                },
                "description": "Metadata about the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier to correlate requests and responses."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp of when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing took place."
                  }
                },
                "description": "Additional metadata for tracking and processing."
              }
            },
            "description": "Contains payment details data.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-109323",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the GET operation of payment details in the international scheduled payments API.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-109323",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "a896835f-cb3a-570b-b105-5bdeacb1de65",
            "correlationId": "cb21e727-e413-568b-b25a-2ca875f2b9b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp of when the payment status was last updated."
          },
          "StatusDetail": {
            "description": "Detailed information about the payment status.",
            "$ref": "#/components/schemas/StatusDetail"
          }
        },
        "description": "Schema representing the status of a payment transaction."
      },
      "StatusDetail": {
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "Indicates the local instrument used for the payment."
          },
          "Status": {
            "type": "string",
            "description": "Status indicating the result of the payment processing."
          },
          "StatusReason": {
            "type": "string",
            "description": "Reason code for the current status."
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "A descriptive text explaining the status reason."
          }
        },
        "description": "Detailed schema for the status of a payment, including reasons and descriptions."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed in the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-scheduled-payment-details"
        },
        "example": "payment-initiation-openapi-get-international-scheduled-payment-details"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that executed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for bearer authentication. Clients must include a valid JWT token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}