{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Business Control Business Unit Management-spec",
    "description": "The Business Unit Management API facilitates the creation and management of business units within the financial services sector. This API enables organizations to define various business units, allowing for better control and organization of operations. Typical consumers include financial institutions and business administrators who need to streamline their business structures. By offering efficient management tools, this API supports improved alignment of business strategies with operational capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-management": {
      "post": {
        "tags": [
          "Business Management"
        ],
        "summary": "Create a new business unit.",
        "description": "This endpoint allows users to create a new business unit within the business control system. It accepts the necessary data in the request body to define the business unit's attributes and configurations.",
        "operationId": "createBusinessControlBusinessUnitManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a business unit within the business control management system. The data must comply with the defined schema to ensure proper processing and validation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessControlBusinessUnitManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessControlBusinessUnitManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessControlBusinessUnitManagementRequest": {
        "title": "Business Unit Management Request",
        "required": [
          "budget",
          "businessUnitId",
          "costCenter",
          "forecastVersion",
          "planningPeriod",
          "requestContext"
        ],
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the business unit.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The period for which the planning is being done, usually in YYYY-MM format.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "Details about the budget for the business unit.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast being submitted.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for managing business unit operations including budget, planning period, and request context.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "requestContext": {
            "requestId": "36ccd649-34fe-5f87-b3b4-0f68f51950f3",
            "correlationId": "b9664f21-0982-52b3-bf20-f5b975743180",
            "idempotencyKey": "149ddc63-3cf8-5bd2-8728-10b621283dfd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-332902"
            }
          }
        }
      },
      "Budget": {
        "title": "Budget Information",
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount allocated for the budget.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details including amount and currency."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across different systems.",
            "example": "CORR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to uniquely identify the request to ensure idempotency.",
            "example": "IDEMPOTENCY456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "ExternalSystem1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "ApplicationA"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing the context of the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "CHN789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device making the request, applicable for mobile or web channels.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema for representing the details of the communication channel used for the request."
      },
      "CreateBusinessControlBusinessUnitManagementResponse_201": {
        "title": "Business Unit Management Response",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier of the business unit.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource related to the business unit operation.",
            "example": "RES-648412"
          },
          "status": {
            "type": "string",
            "description": "The current status of the business unit operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the business unit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the business unit operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for creating or managing a business unit operation.",
        "example": {
          "businessUnitId": "STANDARD",
          "resourceId": "RES-648412",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "649cc0f1-d2f9-5607-a2f4-4d04455dc8f7",
            "correlationId": "b9664f21-0982-52b3-bf20-f5b975743180",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to trace the related requests.",
            "example": "CORR-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the business unit operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema captures the metadata details for the business unit operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-management-create-business-unit-management"
        },
        "example": "business-unit-management-create-business-unit-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a 'Bearer' authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}