{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp International Scheduled Payment Consent-spec",
    "description": "The International Scheduled Payment Consent API allows businesses to initiate consents for international scheduled payments securely and efficiently. This endpoint is designed to facilitate financial institutions and payment service providers in obtaining the necessary approvals from users before processing scheduled payments across borders. Common use cases include automating international remittances and managing ongoing subscription payments that require cross-border transactions. It empowers typical consumers such as banks and fintech applications to enhance their payment offerings while ensuring compliance and security.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payment-consents": {
      "post": {
        "tags": [],
        "summary": "Create an international scheduled payment consent",
        "description": "Initiates the consent process for an international scheduled payment, allowing the user to authorize a payment that will be executed at a specified future date. This process is essential for managing future cross-border transactions efficiently.",
        "operationId": "createPispInternationalScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new international scheduled payment consent. It contains all necessary details required for the consent process, including payment instructions and beneficiary information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispInternationalScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Consent for international scheduled payment successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispInternationalScheduledPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispInternationalScheduledPaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the international scheduled payment consent operation.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service"
              }
            }
          },
          "requestContext": {
            "requestId": "612fd2f4-5937-532b-894b-68fb660a31a4",
            "correlationId": "3c59ea0b-8223-539b-a305-0c60ae6c6a74",
            "idempotencyKey": "6e8b4878-3289-528d-8718-77b1cb06e02b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-925058"
            }
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "Permission": {
            "type": "string",
            "description": "The permission type for the payment.",
            "example": "string"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates if refund account can be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Contains data related to the payment consent including permissions and initiation details."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identification for tracking the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level of the payment instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested execution date and time for the payment.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer will be made.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the payment destination.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInfo"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "MoneyAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Represents an amount of money and its currency."
      },
      "ExchangeRateInfo": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency used as the base for the exchange rate.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate value.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "The type of exchange rate (e.g., fixed, floating).",
            "example": "string"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification for the exchange rate contract.",
            "example": "string"
          }
        },
        "description": "Information regarding the exchange rate for the payment."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identifier for the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name of the debtor.",
            "example": "string"
          }
        },
        "description": "Represents the debtor's account information."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for identifying idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreatePispInternationalScheduledPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the payment consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp when the consent was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons associated with the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetails"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "2023-10-02T12:00:00Z"
              },
              "Permission": {
                "type": "string",
                "description": "Permissions granted for the payment.",
                "example": "GRANTED"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account can be read.",
                "example": "NO"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cut-off time for the payment execution.",
                "example": "2023-10-01T12:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected datetime for the execution of the payment.",
                "example": "2023-10-01T14:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected datetime for the settlement of the payment.",
                "example": "2023-10-01T16:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "$ref": "#/components/schemas/ExchangeRateInformationDetails"
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/PaymentInitiationDetails"
              },
              "metadata": {
                "type": "object",
                "$ref": "#/components/schemas/ResponseMetadata"
              }
            },
            "description": "Data related to the scheduled payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD"
                }
              }
            }
          }
        },
        "description": "Response schema for the international scheduled payment consent operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5958b66f-59a5-59d0-9f03-dcff9dc7eeca",
            "correlationId": "3c59ea0b-8223-539b-a305-0c60ae6c6a74",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetails": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "Payment is active."
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the status reason.",
            "example": "/path/to/resource"
          }
        },
        "description": "Details about the status reason for the consent."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the transaction.",
            "example": "SHARED"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "TRANSACTION_FEE"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the charge.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the charge is specified.",
                "example": "USD"
              }
            },
            "description": "Amount information of the charge."
          }
        },
        "description": "Details of a charge associated with the payment."
      },
      "ExchangeRateInformationDetails": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency unit for the exchange rate.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "Exchange rate applied to the payment.",
            "example": 1.2
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate.",
            "example": "FIXED"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier of the exchange rate contract.",
            "example": "CONTRACT123"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Expiration datetime for the exchange rate.",
            "example": "2023-10-31T12:00:00Z"
          }
        },
        "description": "Exchange rate information associated with the payment."
      },
      "PaymentInitiationDetails": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identification for the payment instruction.",
            "example": "INSTRUCTION123"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification for the payment end-to-end processing.",
            "example": "E2E123"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument associated with the payment.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority assigned to the payment instruction.",
            "example": "HIGH"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose for the payment.",
            "example": "Invoice payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge for the transaction.",
            "example": "SHARED"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested execution date and time for the payment.",
            "example": "2023-10-01T14:00:00Z"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer should be made.",
            "example": "USD"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Destination country code for the payment.",
            "example": "US"
          },
          "InstructedAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount to be instructed.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the instructed amount.",
                "example": "USD"
              }
            },
            "description": "Amount details for the instructed payment."
          },
          "ExchangeRateInformation": {
            "type": "object",
            "description": "Exchange rate information for this payment initiation.",
            "$ref": "#/components/schemas/ExchangeRateInformationDetails"
          }
        },
        "description": "Details related to the payment initiation."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purpose.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-international-scheduled-consent"
        },
        "example": "payment-initiation-openapi-create-international-scheduled-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs Bearer authentication, where the client must include a valid JWT (JSON Web Token) in the Authorization header of the request to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}