{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Reward Points Accounts-spec",
    "description": "The Reward Points Account Management API enables users to efficiently access and manage their reward points accounts. Through this endpoint, clients can retrieve detailed information about various reward points accounts linked to their banking profiles. This functionality is essential for consumers looking to monitor their reward points accumulation and redeem options. Typical users include banking customers and financial applications that integrate reward points information for enhanced user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/reward-points-account": {
      "get": {
        "tags": [
          "Reward Points Management"
        ],
        "summary": "Retrieve reward points account information",
        "description": "This endpoint allows you to fetch detailed information about a specific reward points account, including points balance and transaction history. Use this to check the status and details of reward points associated with an account.",
        "operationId": "listAccountManagementRewardPointsAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the reward points account associated with a specific account. Please ensure to adhere to the required schema as outlined in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementRewardPointsAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the reward points account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementRewardPointsAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementRewardPointsAccountsRequest": {
        "title": "Reward Points Account Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving reward points account details. It is expected to contain a string value that specifies the account information requested.",
        "example": "{}"
      },
      "ListAccountManagementRewardPointsAccountsResponse_200": {
        "title": "Reward Points Account Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of reward points account items.",
            "example": [
              {
                "loyaltyAccountId": "ACC-701056",
                "customerId": "CUST-141953",
                "activityType": "STANDARD",
                "points": 1,
                "partnerCode": "CODE-161",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RewardPointsAccountItem"
            }
          },
          "pagination": {
            "description": "Information regarding pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for retrieving reward points account information, which includes a list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "loyaltyAccountId": "ACC-701056",
              "customerId": "CUST-141953",
              "activityType": "STANDARD",
              "points": 1,
              "partnerCode": "CODE-161",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1400ad62-8f23-57e3-858b-84ad210412e0",
            "correlationId": "8c3d1002-163f-5f71-8b6c-823faeae2fa2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RewardPointsAccountItem": {
        "title": "Reward Points Account Item",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The unique identifier for the loyalty account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the loyalty account.",
            "example": "string"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity that generated the reward points.",
            "example": "string"
          },
          "points": {
            "type": "integer",
            "description": "The number of reward points associated with the account activity.",
            "format": "int32",
            "example": 0
          },
          "partnerCode": {
            "type": "string",
            "description": "The code of the partner associated with the loyalty program.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single reward points account item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number being retrieved.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details regarding the pagination of the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that handles the reward points account operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-account-search-reward-points-account"
        },
        "example": "reward-points-account-search-reward-points-account"
      },
      "X-Runtime-App": {
        "description": "The version identifier of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients are required to include a valid bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}