{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Order Execution Cancellation-spec",
    "description": "The Market Order Execution Cancellation API allows users to initiate the cancellation of market order executions in a wholesale trading environment. This endpoint is particularly useful for traders who need to quickly manage their active orders in response to changing market conditions. By providing the necessary parameters, users can effectively retract their order executions, minimizing potential losses. The primary consumers of this API are traders and financial institutions participating in wholesale trading activities, ensuring they maintain control over their trading strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution/{param1}/cancellations": {
      "post": {
        "tags": [
          "Market Order Management"
        ],
        "summary": "Cancel a market order execution.",
        "description": "This endpoint allows users to cancel a specific market order execution based on the provided resource identifier. It ensures that transactions are effectively halted to prevent further processing, allowing for better management of orders in the wholesale trading environment.",
        "operationId": "createMarketOrderExecutionCancellation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a cancellation for a market order execution identified by RES-100045. It should include the necessary details to process the cancellation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOrderExecutionCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOrderExecutionCancellationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOrderExecutionCancellationRequest": {
        "type": "object",
        "properties": {
          "cancellationReason": {
            "type": "string",
            "description": "The reason for the cancellation of the order.",
            "example": "STANDARD"
          },
          "instructionReference": {
            "type": "string",
            "description": "A reference identifier for the cancellation instruction.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the cancellation.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the cancellation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the cancellation operation of a market order execution.",
        "example": {
          "cancellationReason": "STANDARD",
          "instructionReference": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0ef2899d-8b32-5766-be6e-7f59ae59dd2a",
            "correlationId": "d29714c9-d1c3-541f-aa9c-15a71bf21379",
            "idempotencyKey": "77cec057-83a8-5df6-9d56-45bfba8fd868",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-168212"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request.",
            "example": "idemp-10001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request context was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TradingPlatform"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "OrderManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used (e.g., Web, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-12345"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateMarketOrderExecutionCancellationResponse_202": {
        "title": "Market Order Cancellation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed, useful for tracking.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed, such as 'CANCEL' for cancellation actions.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the cancellation request, indicating whether it was successful or failed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the cancellation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the cancellation request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the successful cancellation of a market order, providing status and metadata related to the request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "893ef8de-4201-55bb-8c3b-9c2ea388c85a",
            "correlationId": "d29714c9-d1c3-541f-aa9c-15a71bf21379",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Cancellation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response, useful for tracking.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the cancellation took place.",
            "example": "string"
          }
        },
        "description": "Metadata details related to the market order cancellation request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-cancel-market-order-execution"
        },
        "example": "market-order-execution-cancel-market-order-execution"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, providing insight into the backend services involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method based on JSON Web Tokens (JWT). It is recommended for securely transmitting information as a JSON object, which can be verified and trusted due to its digital signature.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}