{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Risk Models API",
    "description": "The Operational Risk Models API provides access to systematized models designed to assess and manage operational risks within banking operations. This API enables users to retrieve comprehensive data on existing operational risk models, including their specifications and performance metrics. It is aimed at financial institutions and risk management professionals looking to enhance their risk assessment frameworks. By leveraging this API, users can efficiently analyze operational risks and make informed decisions to mitigate them.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/operational-risk-models": {
      "get": {
        "tags": [
          "Operational Risk"
        ],
        "summary": "Retrieve Operational Risk Models",
        "description": "This endpoint allows users to retrieve a list of operational risk models available in the system. It provides information about various models that can be utilized for assessing operational risks.",
        "operationId": "getOperationalRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving operational risk models. This request allows clients to specify parameters for filtering or customizing the response based on their needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the operational risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalRiskModelsRequest": {
        "title": "Operational Risk Models Request Body",
        "type": "string",
        "description": "A representation of the operational risk models in JSON format. This schema is accepted as the request body for the corresponding API endpoint.",
        "example": "{}"
      },
      "GetOperationalRiskModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of operational risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-640951",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationalRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving operational risk models.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-640951",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "15610ed9-f8aa-53e9-acbe-8ab41996e739",
            "correlationId": "9fba91bc-755a-521e-bc78-8a232fea2185",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationalRiskModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the operational risk model."
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the operational risk model."
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the associated portfolio."
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applicable."
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario used in the model."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model results."
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the validation dataset used."
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months considered for backtesting.",
            "format": "int32"
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the model."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the model."
          }
        },
        "description": "Schema representing an operational risk model."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Schema for additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-risk-models-search-operational-risk-models"
        },
        "example": "operational-risk-models-search-operational-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format, specifically designed for JSON Web Tokens (JWT). The token must be included in the Authorization header of requests to authenticate and authorize access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}