{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List External Deposit Switches-spec",
    "description": "The External Deposit Switches Retrieval API allows developers to access the status and details of external deposit switches associated with a specific external ID. This API is crucial for applications managing cross-border or third-party transfers, providing insights into deposit switch availability and configurations. Typical consumers include financial institutions and fintech platforms that need to ensure seamless transaction processing. By retrieving detailed information about deposit switches, users can enhance their services and optimize payment experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/externals/{externalId}/deposit-switches": {
      "get": {
        "tags": [
          "External Resource Management"
        ],
        "summary": "Retrieve deposit switches for the specified external resource.",
        "description": "This endpoint allows retrieval of deposit switches associated with a specific external resource identified by its unique ID. The response provides detailed information about the deposit switches that control deposit preferences or configurations for the external resource.",
        "operationId": "listExternalDepositSwitches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/externalId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving deposit switches associated with the external resource identified by RES-100045. This request allows clients to specify criteria for the information they wish to retrieve within the context of deposit switches.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListExternalDepositSwitchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved deposit switch details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExternalDepositSwitchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListExternalDepositSwitchesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to deposit switches.",
        "example": "{}"
      },
      "ListExternalDepositSwitchesResponse_200": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string",
            "description": "A unique identifier for the external entity.",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "A list of switch objects containing details about each switch.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "description": "Metadata providing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the deposit switches operation.",
        "example": {
          "externalId": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "4020c73c-f1b6-5edb-96aa-48cc368246ee",
            "correlationId": "e16769ac-57da-5f17-bcee-b2dc6a8f2ed9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the switch.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the switch.",
            "example": "string"
          },
          "failureReason": {
            "type": "string",
            "description": "The reason for any failures related to the switch, if applicable.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The timestamp when the switch was created.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual switch object."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "externalId": {
        "name": "externalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-external-deposit-switches"
        },
        "example": "open-finance-api-get-all-external-deposit-switches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as a means of securing API requests. Clients must include a valid bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}