{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Cheque Processings-spec",
    "description": "The Cheque Processing Management API enables users to retrieve information about payment cheque processing activities. This endpoint provides access to details regarding cheque transactions, allowing businesses to manage their payment processes effectively. Typical users include financial institutions and payment processing systems that require visibility into cheque activity for operational oversight and reporting. By utilizing this API, developers can integrate cheque processing data into their applications, enhancing payment workflows and financial tracking.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/cheque-processing": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the status of cheque processing payments.",
        "description": "This endpoint allows you to retrieve the current status and details of cheque processing payments. Use this endpoint to check the progress, confirm payments, and fetch any relevant information regarding cheque transactions.",
        "operationId": "listPaymentChequeProcessings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide the necessary parameters for processing cheque payments. Ensure that all required fields are included and properly formatted to facilitate successful cheque processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentChequeProcessingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested cheque processing details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentChequeProcessingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentChequeProcessingsRequest": {
        "type": "string",
        "description": "This schema defines the request body for cheque processing operations in the GET API related to payment services.",
        "example": "{}"
      },
      "ListPaymentChequeProcessingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of cheque processing items.",
            "example": [
              {
                "chequeBatchId": "STANDARD",
                "depositAccountId": "ACC-948405",
                "chequeCount": 1,
                "batchAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "clearingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChequeProcessingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the cheque processing GET operation.",
        "example": {
          "items": [
            {
              "chequeBatchId": "STANDARD",
              "depositAccountId": "ACC-948405",
              "chequeCount": 1,
              "batchAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "clearingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6343b71b-379c-529d-9e7e-17b47c31334d",
            "correlationId": "00a25933-95e0-5317-8d71-f1a3f99182bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChequeProcessingItem": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch.",
            "example": "string"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the deposit account related to the cheque batch.",
            "example": "string"
          },
          "chequeCount": {
            "type": "integer",
            "description": "Total number of cheques in the batch.",
            "format": "int32",
            "example": 0
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "Date when the cheque is cleared.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the cheque processing record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the cheque processing record.",
            "example": "string"
          }
        },
        "description": "Schema for each cheque processing item."
      },
      "BatchAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount of the cheque batch.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the cheque batch amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the total amount for a cheque batch, including currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-processing-search-cheque-processing"
        },
        "example": "cheque-processing-search-cheque-processing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients authenticate by including a token in the `Authorization` header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}