{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Refund Id-spec",
    "description": "This API facilitates the retrieval of payment to merchant (P2M) details associated with a specific refund ID. By supplying the refund ID as a parameter, users can access transaction insights, status updates, and relevant financial data. This service is essential for financial reconciliation and is primarily used by accounting teams and payment processors to resolve issues related to refunds. Typical consumer scenarios include verifying refund transactions and tracking payment statuses right through the system.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "get": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Retrieve refund details by ID.",
        "description": "This operation allows you to fetch detailed information about a specific refund using its unique identifier. You can use this to check the status, amount, and other relevant details of the refund request.",
        "operationId": "getP2mByRefundId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the refund details of a specific refund identified by the resource ID 'RES-100045'. Ensure that the request is formatted correctly to fetch the pertinent information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByRefundIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the refund details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByRefundIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByRefundIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to refunds.",
        "example": "{}"
      },
      "GetP2mByRefundIdResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the associated payment.",
            "example": "PAY-323259"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the refund.",
            "example": "MER-982001"
          },
          "amount": {
            "$ref": "#/components/schemas/RefundAmount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-616"
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation of the refund reason.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "$ref": "#/components/schemas/RefundFailure"
          },
          "processorReference": {
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing a response containing details about a refund.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-323259",
          "merchantId": "MER-982001",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-616",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-497",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-654136",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-335"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2e470a0a-eedb-531a-babe-f4ecd0c53e08",
            "correlationId": "73c13a4c-304c-57d5-a714-a76a0452c5ef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RefundAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Three-letter currency code (ISO 4217).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Amount being refunded, represented as a string.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount associated with the refund."
      },
      "RefundFailure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "PROCESSING"
          },
          "code": {
            "type": "string",
            "description": "Specific code for the failure.",
            "example": "ERR001"
          },
          "message": {
            "type": "string",
            "description": "Message describing the failure.",
            "example": "Insufficient funds"
          },
          "declineCode": {
            "type": "string",
            "description": "Code provided for declined transactions.",
            "example": "DECL001"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Schema representing failure details related to the refund."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Network through which the transaction was processed.",
            "example": "VISA"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID used by the scheme.",
            "example": "1234567890"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "ABC123456"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference used by the issuer.",
            "example": "ISSUER123456"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Retrieval reference number associated with the transaction.",
            "example": "RET123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Schema representing information about the processor's reference."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the refund was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the refund.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the refund was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the refund.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information related to the refund."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing transactions.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata for the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-refund"
        },
        "example": "banking-p2m-openapi-get-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically a JSON Web Token (JWT). The client must include this token in the Authorization header when making API requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}