{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Data Enrichment Transaction-v5-spec",
    "description": "MICROSERVICE-PROD-Create Data Enrichment Transaction-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/data-enrichment/transactions": {
      "post": {
        "operationId": "createDataEnrichmentTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataEnrichmentTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDataEnrichmentTransactionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDataEnrichmentTransactionRequest": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "example": [
              {
                "externalCustomerId": "CUST-166933",
                "externalAccountId": "ACC-669678",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-452018",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100.0,
                "transactionFee": 100.0,
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service",
                  "line1": "350 Fifth Avenue",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "externalCustomerId": {
                  "type": "string",
                  "example": "string"
                },
                "externalAccountId": {
                  "type": "string",
                  "example": "string"
                },
                "accountType": {
                  "type": "string",
                  "example": "string"
                },
                "externalTransactionId": {
                  "type": "string",
                  "example": "string"
                },
                "postedTimestamp": {
                  "type": "string",
                  "example": "string"
                },
                "transactionTimestamp": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "memo": {
                  "type": "string",
                  "example": "string"
                },
                "amount": {
                  "type": "number",
                  "example": 0.0
                },
                "transactionFee": {
                  "type": "number",
                  "example": 0.0
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "directionIndicator": {
                  "type": "string",
                  "example": "string"
                },
                "cardAcceptorId": {
                  "type": "string",
                  "example": "string"
                },
                "inputIsRecurringTransaction": {
                  "type": "boolean",
                  "example": false
                },
                "inputMerchantInformation": {
                  "type": "object",
                  "properties": {
                    "merchantDescriptor": {
                      "type": "string",
                      "example": "string"
                    },
                    "name": {
                      "type": "string",
                      "example": "string"
                    },
                    "line1": {
                      "type": "string",
                      "example": "string"
                    },
                    "city": {
                      "type": "string",
                      "example": "string"
                    },
                    "state": {
                      "type": "string",
                      "example": "string"
                    },
                    "postalCode": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "9bd38ff1-fa08-5882-bfaa-d3e1464fdb56",
              "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
              "idempotencyKey": "1ab9f562-3a0f-508d-ab3a-f8350b55a8e8",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-758843"
              }
            }
          }
        },
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-166933",
              "externalAccountId": "ACC-669678",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-452018",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100.0,
              "transactionFee": 100.0,
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service",
                "line1": "350 Fifth Avenue",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "requestContext": {
            "requestId": "9bd38ff1-fa08-5882-bfaa-d3e1464fdb56",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "idempotencyKey": "1ab9f562-3a0f-508d-ab3a-f8350b55a8e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-758843"
            }
          }
        }
      },
      "CreateDataEnrichmentTransactionResponse_200": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "example": [
              {
                "externalCustomerId": "CUST-434103",
                "externalAccountId": "ACC-314144",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-346225",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100,
                "transactionFee": 100,
                "transactionCategory": "STANDARD",
                "transactionCategoryScore": 100,
                "transactionCategoryGroup": "STANDARD",
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "entities": [
                  {
                    "id": "STANDARD",
                    "name": "Northstar Banking Service",
                    "group": "STANDARD",
                    "category": "STANDARD",
                    "website": "STANDARD",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "entityStandardizationConfidenceScore": 100
                  }
                ],
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD",
                  "latitude": 100,
                  "longitude": 100,
                  "phoneNumber": "+1-212-555-0147"
                },
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "externalCustomerId": {
                  "type": "string",
                  "example": "string"
                },
                "externalAccountId": {
                  "type": "string",
                  "example": "string"
                },
                "accountType": {
                  "type": "string",
                  "example": "string"
                },
                "externalTransactionId": {
                  "type": "string",
                  "example": "string"
                },
                "postedTimestamp": {
                  "type": "string",
                  "example": "string"
                },
                "transactionTimestamp": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "memo": {
                  "type": "string",
                  "example": "string"
                },
                "amount": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "transactionFee": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "transactionCategory": {
                  "type": "string",
                  "example": "string"
                },
                "transactionCategoryScore": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "transactionCategoryGroup": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "directionIndicator": {
                  "type": "string",
                  "example": "string"
                },
                "entities": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "string"
                      },
                      "name": {
                        "type": "string",
                        "example": "string"
                      },
                      "group": {
                        "type": "string",
                        "example": "string"
                      },
                      "category": {
                        "type": "string",
                        "example": "string"
                      },
                      "website": {
                        "type": "string",
                        "example": "string"
                      },
                      "logoUrl": {
                        "type": "string",
                        "example": "string"
                      },
                      "entityStandardizationConfidenceScore": {
                        "type": "integer",
                        "format": "int32",
                        "example": 0
                      }
                    },
                    "example": "string"
                  }
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "line1": {
                      "type": "string",
                      "example": "string"
                    },
                    "line2": {
                      "type": "string",
                      "example": "string"
                    },
                    "city": {
                      "type": "string",
                      "example": "string"
                    },
                    "state": {
                      "type": "string",
                      "example": "string"
                    },
                    "postalCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "country": {
                      "type": "string",
                      "example": "string"
                    },
                    "latitude": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "longitude": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "phoneNumber": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "cardAcceptorId": {
                  "type": "string",
                  "example": "string"
                },
                "inputIsRecurringTransaction": {
                  "type": "boolean",
                  "example": false
                },
                "inputMerchantInformation": {
                  "type": "object",
                  "properties": {
                    "merchantDescriptor": {
                      "type": "string",
                      "example": "string"
                    },
                    "name": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "e4c0a7be-1e91-5f0b-b61e-9435e42e4bcf",
              "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-434103",
              "externalAccountId": "ACC-314144",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-346225",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100,
              "transactionFee": 100,
              "transactionCategory": "STANDARD",
              "transactionCategoryScore": 100,
              "transactionCategoryGroup": "STANDARD",
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "entities": [
                {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "group": "STANDARD",
                  "category": "STANDARD",
                  "website": "STANDARD",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "entityStandardizationConfidenceScore": 100
                }
              ],
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD",
                "latitude": 100,
                "longitude": 100,
                "phoneNumber": "+1-212-555-0147"
              },
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service"
              }
            }
          ],
          "metadata": {
            "responseId": "e4c0a7be-1e91-5f0b-b61e-9435e42e4bcf",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-enrich-transactions"
        },
        "example": "open-finance-api-enrich-transactions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}