{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Facilities Equipment Maintenance By Equipment Maintenance Id-v5-spec",
    "description": "The Banking Facilities Equipment Maintenance Retrieval API provides access to detailed information about specific equipment maintenance activities by their unique ID. This endpoint allows users to obtain essential data regarding maintenance status, schedules, and history for banking equipment. Typical consumers of this API include maintenance teams, equipment managers, and facility administrators who require real-time updates on maintenance operations. By leveraging this API, organizations can enhance their equipment management strategies and ensure optimal operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{equipmentMaintenanceId}": {
      "get": {
        "tags": [
          "Equipment Maintenance"
        ],
        "summary": "Retrieve equipment maintenance details",
        "description": "Fetches detailed information about the maintenance of the specified equipment using its resource ID. This operation allows users to access key data regarding maintenance schedules, service history, and any notable issues associated with the equipment.",
        "operationId": "getBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/equipmentMaintenanceId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to equipment maintenance for the specified resource. Ensure that you provide any necessary parameters or identifiers to obtain the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested equipment maintenance details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on equipment maintenance facilities. The content is expected to be a string format representing the request data.",
        "example": "{}"
      },
      "GetBankingFacilitiesEquipmentMaintenanceByEquipmentMaintenanceIdResponse_200": {
        "title": "Maintenance Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset being maintained.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order associated with the maintenance.",
            "example": "ORD-222632"
          },
          "scheduledDate": {
            "type": "string",
            "description": "Scheduled date for the maintenance operation.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance is to take place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the maintenance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the maintenance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the maintenance record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the maintenance request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving maintenance equipment information.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-222632",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "49447f4a-9672-58ca-881e-01276fcd37f5",
            "correlationId": "85a0ea70-ab36-5f2f-95ce-94af92c7d994",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "us-east"
          }
        },
        "description": "Metadata related to the maintenance request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "equipmentMaintenanceId": {
        "name": "equipmentMaintenanceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used to track requests and responses across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-get-equipment-maintenance"
        },
        "example": "equipment-maintenance-get-equipment-maintenance"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is processing the request, helpful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens, specifically in the JWT (JSON Web Token) format. This scheme is commonly used for securing APIs and enables the server to validate the client\u2019s identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}