{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debit Management API",
    "description": "The Direct Debit Management API provides a streamlined approach to retrieving information about direct debit transactions within the trade banking domain. This API allows users to access detailed data related to specific direct debit operations by utilizing a unique identifier. Typical consumers include financial institutions and software developers looking to integrate direct debit functionalities into their applications. Use cases include auditing transactions, confirming payment statuses, and enhancing customer service capabilities by providing real-time information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit/{param1}": {
      "get": {
        "tags": [
          "Direct Debit Management"
        ],
        "summary": "Retrieve Direct Debit Resource",
        "description": "This endpoint allows you to retrieve the details of a specific Direct Debit resource identified by its unique resource ID. Ensure you have the necessary permissions to access the resource.",
        "operationId": "getTradeBankingDirectDebitRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters required to retrieve the details of a specific direct debit operation in the trade banking context. Ensure all fields are properly populated for an accurate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingDirectDebitRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingDirectDebitRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingDirectDebitRes100045Request": {
        "type": "string",
        "description": "Request body for the Direct Debit operations in the Trade Banking service. This represents the payload expected for the GET operation.",
        "example": "{}"
      },
      "GetTradeBankingDirectDebitRes100045Response_200": {
        "title": "Direct Debit Operation Response",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "The unique identifier for the mandate associated with the direct debit.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier of the account from which the funds will be debited.",
            "example": "ACC-694084"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The identifier of the creditor's scheme for the direct debit.",
            "example": "STANDARD"
          },
          "collectionAmount": {
            "description": "The amount to be collected for the direct debit.",
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "The date on which the collection will occur.",
            "example": "2026-09-15"
          },
          "frequency": {
            "type": "string",
            "description": "The frequency of the direct debit (e.g., monthly, weekly).",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the direct debit record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the direct debit record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the direct debit record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata concerning the response, including various identifiers.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for direct debit operations containing details of the mandate and collection.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-694084",
          "creditorSchemeId": "STANDARD",
          "collectionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionDate": "2026-09-15",
          "frequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e8c38e5e-6b39-5a3d-9ec3-0865025ec15e",
            "correlationId": "947245f3-8e35-5e88-b5eb-47bb4c24f213",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollectionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be collected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount to be collected.",
            "example": "string"
          }
        },
        "description": "Schema representing the collection amount to be debited."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request in the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the direct debit took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-get-direct-debit"
        },
        "example": "direct-debit-get-direct-debit"
      },
      "X-Runtime-App": {
        "description": "The runtime application name responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include the JWT token in the Authorization header when making API requests to ensure they have the necessary permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}