{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Analysis API",
    "description": "The Investment Portfolio Analysis API provides detailed insights and analysis tools for managing investment portfolios effectively. It enables users to assess portfolio performance, risk levels, and asset allocation strategies based on real-time data. Financial analysts and investment managers use this API to drive informed decision-making, optimize investment returns, and align portfolios with market trends. This API serves as a valuable resource for investment firms and financial institutions looking to enhance their investment management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-analysis": {
      "get": {
        "tags": [
          "InvestmentManagement"
        ],
        "summary": "Retrieve investment portfolio analysis.",
        "description": "This endpoint allows users to obtain a detailed analysis of their investment portfolio, providing insights into asset allocation, performance metrics, and other key financial indicators.",
        "operationId": "getInvestmentPortfolioAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit parameters for analyzing investment portfolios. The information provided will be processed to generate insights related to the specified investment portfolio.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentPortfolioAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment portfolio analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentPortfolioAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentPortfolioAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the investment portfolio analysis endpoint. It is expected to be a string that contains relevant information for the request.",
        "example": "{}"
      },
      "GetInvestmentPortfolioAnalysisResponse_200": {
        "title": "Investment Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of investment portfolios.",
            "example": [
              {
                "portfolioId": "PORT-752968",
                "investmentAccountId": "ACC-409026",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolio"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the portfolio items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Investment Portfolio Analysis API, providing a list of investment portfolios along with pagination and metadata.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-752968",
              "investmentAccountId": "ACC-409026",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b0647cc9-fc0f-534a-8460-2ef3f7425239",
            "correlationId": "ae7dd17f-92c5-5b18-91eb-64319a5e6f05",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolio": {
        "title": "Investment Portfolio",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "string"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier for the investment account associated with the portfolio.",
            "example": "string"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective for the portfolio.",
            "example": "string"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the portfolio.",
            "example": "string"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the portfolio.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the portfolio record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the portfolio was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an investment portfolio."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-analysis-search-investment-portfolio-analysis"
        },
        "example": "investment-portfolio-analysis-search-investment-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Utilizes a Bearer authentication scheme with JSON Web Tokens (JWT) for secure access to the API. The JWT provides a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}