{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Services Businesse By Business Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Business Services Businesse By Business Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "get": {
        "operationId": "getBusinessServicesBusinesseByBusinessId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessServicesBusinesseByBusinessIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessServicesBusinesseByBusinessIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessServicesBusinesseByBusinessIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetBusinessServicesBusinesseByBusinessIdResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "personallyLiable": {
                  "type": "boolean",
                  "example": false
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "line1": {
                      "type": "string",
                      "example": "string"
                    },
                    "line2": {
                      "type": "string",
                      "example": "string"
                    },
                    "city": {
                      "type": "string",
                      "example": "string"
                    },
                    "state": {
                      "type": "string",
                      "example": "string"
                    },
                    "country": {
                      "type": "string",
                      "example": "string"
                    },
                    "postalCode": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "phoneNumber": {
                  "type": "object",
                  "properties": {
                    "countryCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "phoneNo": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "url": {
                  "type": "string",
                  "example": "string"
                },
                "email": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "taxId": {
                  "type": "string",
                  "example": "string"
                },
                "businessId": {
                  "type": "string",
                  "example": "string"
                },
                "createdDate": {
                  "type": "string",
                  "example": "string"
                },
                "modifiedDate": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "777788b9-0ac3-533c-8ce5-8a8e265dbec2",
              "correlationId": "015432fb-d821-598c-9e39-614b36219b65",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "777788b9-0ac3-533c-8ce5-8a8e265dbec2",
            "correlationId": "015432fb-d821-598c-9e39-614b36219b65",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "businessId": {
        "name": "businessId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-id"
        },
        "example": "open-finance-api-get-business-by-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}