{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Model Retrieval API",
    "description": "The Fraud Model Retrieval API allows users to access detailed information regarding various fraud detection models within the banking system. This endpoint is essential for financial institutions aiming to enhance their risk management strategies by evaluating the performance and attributes of specific fraud models. Developers, data analysts, and compliance officers typically utilize this API to retrieve model insights that inform decision-making and regulatory compliance. With this endpoint, users can ensure they are leveraging the most up-to-date fraud prevention technologies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/fraud-model/{param1}": {
      "get": {
        "tags": [
          "Fraud Model"
        ],
        "summary": "Retrieve a specific fraud model by its identifier.",
        "description": "This endpoint allows users to fetch detailed information about a specific fraud model identified by 'RES-100045'. Use this to gain insights into the model's parameters and performance metrics.",
        "operationId": "getFraudModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the specified fraud model information based on the provided resource identifier. It includes parameters that may influence the response, ensuring that clients receive the relevant data they require.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fraud model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudModelByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the fraud model.",
        "example": "{}"
      },
      "GetFraudModelByIdResponse_200": {
        "title": "Fraud Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the fraud model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version number of the fraud model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio to which the model belongs.",
            "example": "PORT-722554"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model output is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario being evaluated by the model.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the fraud prediction, ranging from 0 (low confidence) to 1 (high confidence).",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction being assessed.",
            "example": "TXN-656809"
          },
          "riskScore": {
            "type": "number",
            "description": "Score indicating the risk associated with the transaction, typically on a standard scale.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "Threshold score to determine if a transaction should be flagged as fraudulent.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device used for the transaction, indicating the confidence in the device's authenticity.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record, indicating if it's active, archived, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the fraud model response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update time for the model response.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudModelMetadata"
          }
        },
        "description": "Schema representing the response of a fraud model operation, containing various attributes related to the fraud detection model.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-722554",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "transactionId": "TXN-656809",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a7b5a011-ee29-580b-af47-dfa1ab191a42",
            "correlationId": "94230373-b938-50ec-a970-b9d32a976f48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudModelMetadata": {
        "title": "Fraud Model Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to link multiple responses or transactions together.",
            "example": "correlation_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata related to the fraud model response, providing context about the response's processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-model-get-fraud-model"
        },
        "example": "fraud-model-get-fraud-model"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Users must provide a valid JWT token in the `Authorization` header when making requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}