{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Investment Management By Param1-spec",
    "description": "The Investment Portfolio Planning API enables users to access detailed information about investment management plans tailored to specific parameters. By leveraging this endpoint, financial professionals can retrieve data regarding investment portfolios based on dynamic criteria, enhancing decision-making and strategy development. This API is designed for portfolio managers, financial analysts, and investment consultants seeking real-time insights into portfolio configurations. Use this resource to optimize your investment strategies and align them with client goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-planning/{param1}": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve investment portfolio planning details.",
        "description": "This endpoint allows users to fetch specific investment portfolio planning information based on the provided resource identifier. Use this to obtain insights and details about your investment strategies and allocations.",
        "operationId": "getInvestmentManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the investment portfolio planning details for a specific resource based on the provided parameters. Ensure that all required fields are included as per the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment portfolio details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentManagementByParam1Request": {
        "type": "string",
        "description": "A request body representation for the investment portfolio planning API operation.",
        "example": "{}"
      },
      "GetInvestmentManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the investment portfolio.",
            "example": "PORT-115321"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier for the investment account associated with the portfolio.",
            "example": "ACC-692471"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The objective of the investment portfolio, such as growth or income.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the portfolio, indicating the level of risk tolerance.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency in which the portfolio is denominated.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the portfolio record, e.g., active, inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the portfolio record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the portfolio was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of this request occurred.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "b79b9e5f-197c-579a-b4b7-5070c337d66f",
              "correlationId": "3bc91311-639c-5feb-8d8c-746711126df8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for retrieving investment portfolio details.",
        "example": {
          "portfolioId": "PORT-115321",
          "investmentAccountId": "ACC-692471",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b79b9e5f-197c-579a-b4b7-5070c337d66f",
            "correlationId": "3bc91311-639c-5feb-8d8c-746711126df8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-get-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-get-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. Clients must include a Bearer token in the Authorization header when making requests. The token must be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}