{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Webhook By Event Id-spec",
    "description": "The Webhook Replacement API allows users to associate a specific event with a webhook by its unique identifiers. This operation enables clients to update their webhook configurations seamlessly based on evolving application requirements. Typical consumers of this API include developers and system integrators who need to ensure that event notifications are routed appropriately. By maintaining up-to-date webhook-event relationships, users can enhance their application's responsiveness to key events.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/events/{eventId}": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a specific webhook event.",
        "description": "This endpoint allows you to update the details of a specific webhook event associated with the resource ID RES-100045. Ensure you provide all the necessary information in the request body to successfully update the event.",
        "operationId": "replaceWebhookByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the event data for the specified webhook. Ensure that all required fields are provided in the JSON payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceWebhookByEventIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the update request.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceWebhookByEventIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceWebhookByEventIdRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the webhook.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook will send requests.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "The conditions under which the webhook will be triggered.",
            "$ref": "#/components/schemas/WebhookCondition"
          },
          "requestContext": {
            "description": "The context of the request that includes metadata about the webhook invocation.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating a webhook operation.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "ec502529-478c-53bf-92f9-ff9a19cf091b",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "idempotencyKey": "f7b0359e-77aa-5ab3-a322-b60614c8d06d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-682213"
            }
          }
        }
      },
      "WebhookCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event type the webhook subscribes to.",
            "example": "user.created"
          },
          "includes": {
            "type": "array",
            "description": "A list of identifiers that are included in the webhook trigger.",
            "example": [
              "id1",
              "id2"
            ],
            "items": {
              "type": "string",
              "description": "A list of identifiers for the events that are included."
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of identifiers that are excluded from the webhook trigger.",
            "example": [
              "id3",
              "id4"
            ],
            "items": {
              "type": "string",
              "description": "A list of identifiers for the events that are excluded."
            }
          }
        },
        "description": "Schema representing the conditions for a webhook trigger."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs or requests.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent handling of requests.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-04T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "BackendSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originates.",
            "example": "WebClient"
          },
          "channel": {
            "description": "Details of the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata related to the request invocation."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request is initiated.",
            "example": "device-123"
          }
        },
        "description": "Represents the channel information for the request."
      },
      "ReplaceWebhookByEventIdResponse_200": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the webhook.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URL where the webhook sends the data.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "The conditions that trigger the webhook.",
            "$ref": "#/components/schemas/WebhookCondition"
          },
          "metadata": {
            "description": "Additional metadata about the webhook.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Schema for the webhook response in the 200 OK response of the PUT operation.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "5141395e-2dfa-51e4-a1f5-c53206f3f916",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with the original request.",
            "example": "corr-987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema for additional metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Identifier for the specific webhook endpoint that this response pertains to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-webhook-subscription-event"
        },
        "example": "open-finance-api-update-webhook-subscription-event"
      },
      "x-runtime-app": {
        "description": "Name of the application that is currently processing the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which involves the use of a JSON Web Token (JWT). Clients must include the JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}