{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Event Status Update API",
    "description": "This API allows clients to update the status of specific events within a webhook subscription. By providing the webhook ID and event ID, users can effectively manage and reflect changes in event processing state. This operation is essential for platforms that require real-time updates on the status of notifications, ensuring accurate tracking and handling of webhook events. Typical consumers include application developers working with notification systems and event-driven architectures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/events/{eventId}/status": {
      "put": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update the status of a specific event webhook.",
        "description": "This operation allows developers to update the status of a particular webhook event associated with the resource identified by RES-100045. It enables the management and monitoring of webhook events more effectively.",
        "operationId": "updateWebhookStatusForEventRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the status of a specific event within the webhook system. It requires the appropriate data structure to ensure the update is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookStatusForEventRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and status updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookStatusForEventRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookStatusForEventRes100045Request": {
        "title": "Webhook Status Update Request Body",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status to be set for the webhook event.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "The context in which the request is made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for updating the status of a webhook event.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "804dfced-a245-510a-9428-3f2b33bec155",
            "correlationId": "ac2686b4-153a-5886-9a54-fb35856eee7c",
            "idempotencyKey": "d7e78fa8-7f21-5349-82c1-39d8be485a42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-956734"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request can be retried safely without unintended consequences.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device that initiated the request.",
            "example": "string"
          }
        },
        "description": "This schema contains information related to the communication channel used in the request."
      },
      "UpdateWebhookStatusForEventRes100045Response_200": {
        "title": "Webhook Event Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The current status of the webhook event.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Metadata related to the webhook event.",
            "$ref": "#/components/schemas/WebhookEventMetadata"
          }
        },
        "description": "The response object containing the status of a webhook event operation.",
        "example": {
          "status": "ACTIVE",
          "metadata": {
            "responseId": "acea435f-fb75-5b6c-bd52-439d265a36f9",
            "correlationId": "ac2686b4-153a-5886-9a54-fb35856eee7c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEventMetadata": {
        "title": "Webhook Event Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this response with a request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the event was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information about the webhook event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-change-webhook-subscription-event-status"
        },
        "example": "open-finance-api-change-webhook-subscription-event-status"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication approach, allowing clients to authenticate via a JSON Web Token (JWT). The token should be included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}