{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Cheque Lock Box-spec",
    "description": "The Trade Banking Cheque Lock Box Management API facilitates the creation of cheque lock boxes, a vital service for managing trade banking operations. This endpoint allows businesses to securely generate and store cheque lock boxes, enhancing cash flow management and transaction accountability. Ideally suited for financial institutions and trade businesses, this API streamlines the process of setting up cheque handling systems. By utilizing this API, users can effectively improve operational efficiency and ensure the integrity of financial transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box": {
      "post": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Create a new Cheque Lock Box.",
        "description": "This operation allows you to create a new Cheque Lock Box in the Trade Banking system, which can be used to securely manage customer cheques.",
        "operationId": "createTradeBankingChequeLockBox",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new cheque lock box. This data includes relevant details needed to process the creation of a cheque lock box in the trade banking system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingChequeLockBoxRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the cheque lock box has been established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingChequeLockBoxResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingChequeLockBoxRequest": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the deposit account where the cheque will be deposited.",
            "example": "ACC-491072"
          },
          "chequeCount": {
            "type": "integer",
            "description": "Total number of cheques in the batch.",
            "format": "int32",
            "example": 1
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "The date when the cheque will be cleared.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for the cheque lock box operations in trade banking.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-491072",
          "chequeCount": 1,
          "batchAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "clearingDate": "2026-09-15",
          "requestContext": {
            "requestId": "a2b1de56-2b78-55cc-bf4e-fe4699fa748f",
            "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
            "idempotencyKey": "5c58c05e-eee3-539b-90ba-474ff1f6fe58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-205206"
            }
          }
        }
      },
      "BatchAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of the batch.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          }
        },
        "description": "Represents the amount and currency details for a batch of cheques."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests in a workflow.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the same request can be safely repeated.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for tracking the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, Mobile, Web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateTradeBankingChequeLockBoxResponse_201": {
        "title": "Cheque Lock Box Operation Response",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "The unique identifier for the cheque batch.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "The unique identifier for the deposit account associated with the cheque batch.",
            "example": "ACC-715524"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique resource identifier.",
            "example": "RES-210888"
          },
          "status": {
            "type": "string",
            "description": "The current status of the cheque processing.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the cheque batch was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ChequeBatchMetadata"
          }
        },
        "description": "Response schema for the Cheque Lock Box operation in the trading banking domain.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-715524",
          "resourceId": "RES-210888",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "67c93a38-12c1-51b3-bef3-3af585067592",
            "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChequeBatchMetadata": {
        "title": "Cheque Batch Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the cheque processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with a cheque batch operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This is useful for tracking requests and identifying the source of the responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-create-cheque-lock-box"
        },
        "example": "cheque-lock-box-create-cheque-lock-box"
      },
      "X-Runtime-App": {
        "description": "The name of the application used for processing the request. This helps in understanding which application was responsible for the execution of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens. This method requires a token based on JWT (JSON Web Token) for authorization. The token should be included in the `Authorization` header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}