{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Scheduled Payments Retrieval API",
    "description": "The Scheduled Payments Retrieval API allows users to seamlessly access and manage their scheduled payments associated with specific accounts. This endpoint provides comprehensive details about upcoming payments, enabling users to monitor their financial commitments effectively. Typical consumers include banking applications and personal finance management tools, which integrate this functionality to enhance user experience and provide insights into payment schedules. By utilizing this API, users can ensure timely management of their expenses and avoid any potential overdrafts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/scheduled-payments": {
      "get": {
        "tags": [
          "Scheduled Payments"
        ],
        "summary": "Retrieve scheduled payments for a specific account",
        "description": "Fetches a list of scheduled payments associated with the specified account (ACC-200045). This operation allows users to view their upcoming payments and manage their financial transactions effectively.",
        "operationId": "getScheduledPaymentsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the scheduled payments for the specified account (ACC-200045) in the AISP system. It contains the necessary details to fetch the scheduled payment information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetScheduledPaymentsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of scheduled payments for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetScheduledPaymentsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetScheduledPaymentsForAccountRequest": {
        "type": "string",
        "description": "This schema defines the request body for retrieving scheduled payments related to the specified account.",
        "example": "{}"
      },
      "GetScheduledPaymentsForAccountResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ScheduledPayment": {
                "type": "array",
                "description": "An array of scheduled payment objects.",
                "items": {
                  "$ref": "#/components/schemas/ScheduledPayment"
                }
              }
            },
            "description": "Holds the main data for scheduled payments.",
            "example": {
              "ScheduledPayment": [
                {
                  "AccountId": "ACC-254529",
                  "id": "STANDARD",
                  "dateTime": "2026-09-15T14:30:00Z",
                  "ScheduledType": "STANDARD",
                  "Reference": "STANDARD",
                  "DebtorReference": "STANDARD",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-427",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across multiple systems."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing has occurred."
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "8cc0157e-86cf-537c-81a7-ad4eb841fe2c",
              "correlationId": "8686313b-8f72-57a4-8844-9aaa980274a1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "ScheduledPayment": [
              {
                "AccountId": "ACC-254529",
                "id": "STANDARD",
                "dateTime": "2026-09-15T14:30:00Z",
                "ScheduledType": "STANDARD",
                "Reference": "STANDARD",
                "DebtorReference": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-427",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD"
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "8cc0157e-86cf-537c-81a7-ad4eb841fe2c",
            "correlationId": "8686313b-8f72-57a4-8844-9aaa980274a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ScheduledPayment": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the scheduled payment."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the scheduled payment."
          },
          "dateTime": {
            "type": "string",
            "description": "Date and time when the payment is scheduled to occur."
          },
          "ScheduledType": {
            "type": "string",
            "description": "Type of the scheduled payment."
          },
          "Reference": {
            "type": "string",
            "description": "Reference for the scheduled payment."
          },
          "DebtorReference": {
            "type": "string",
            "description": "Reference for the debtor."
          },
          "InstructedAmount": {
            "description": "The amount being instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "CreditorAgent": {
            "description": "Information about the creditor's agent.",
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "description": "Information about the creditor's account.",
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Represents a scheduled payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount."
          }
        },
        "description": "Represents an amount for payment."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent."
          },
          "Identification": {
            "type": "string",
            "description": "The identifier of the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent."
          },
          "PostalAddress": {
            "description": "Postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) for the creditor agent."
          }
        },
        "description": "Information about the creditor's agent."
      },
      "CreditorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor account."
          },
          "Identification": {
            "type": "string",
            "description": "The identifier for the creditor account."
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any secondary identification for the creditor account."
          },
          "Proxy": {
            "description": "Proxy information related to the creditor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Information about the creditor's account."
      },
      "PostAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department within an organization, if applicable."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within an organization, if applicable."
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within a building."
          },
          "Room": {
            "type": "string",
            "description": "Room number or name."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name for address delivery, if applicable."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivisions within the country (e.g., state, province)."
          },
          "Country": {
            "type": "string",
            "description": "Country name."
          },
          "AddressLine": {
            "type": "array",
            "description": "Lines of address.",
            "items": {
              "type": "string",
              "description": "Address line detail."
            }
          }
        },
        "description": "Represents a postal address."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identification for the proxy."
          }
        },
        "description": "Proxy information related to an account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-scheduled-payments"
        },
        "example": "accounts-api-get-accounts-account-id-scheduled-payments"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication with a JSON Web Token (JWT). Token should be included in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}