{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trust Services API",
    "description": "The Trust Services API facilitates the management and provision of trust services for consumers. This endpoint allows businesses to initiate trust agreements and manage trust-related client interactions. Financial institutions and service providers can leverage this API to enhance their consumer offerings, ensuring compliance with regulatory standards while fostering customer trust. Typical use cases include onboarding clients for trust accounts and handling various trust-related transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services": {
      "post": {
        "tags": [
          "Trust Services"
        ],
        "summary": "Create a new trust service.",
        "description": "This endpoint allows the user to create a new trust service within the consumer services. Ensure that all required fields in the request body are completed to successfully create the service.",
        "operationId": "createTrustService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating trust services for a consumer. This is used to submit the required details necessary for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrustServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTrustServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTrustServiceRequest": {
        "title": "Service Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-499093"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "b692b778-4a40-52cc-ba45-1eafa69a7535"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "Amount involved in the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date the service request was made.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context surrounding the service request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for initiating a service request.",
        "example": {
          "customerId": "CUST-499093",
          "serviceRequestId": "b692b778-4a40-52cc-ba45-1eafa69a7535",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "4f562da9-afef-51b9-9315-66ff56775e53",
            "correlationId": "830d0cfe-3bb6-5081-b2cd-0f0ecf3bb2a1",
            "idempotencyKey": "aad447fd-60b4-5f7a-8c5e-49a89927c588",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-186541"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 150.75
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount, following ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount and currency details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ987654"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key ensuring idempotence for the request.",
            "example": "IDEMPOTENT789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T14:50:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originates.",
            "example": "Web App"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema holding contextual information for the service request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateTrustServiceResponse_201": {
        "title": "Trust Service Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-242399"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "0db5fda5-9499-591e-af03-742fbe6902d8"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the requested product or service.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource associated with the operation.",
            "example": "RES-463348"
          },
          "status": {
            "type": "string",
            "description": "The current status of the service operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the service request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TrustServiceMetadata"
          }
        },
        "description": "The response object containing details about the trust service operation requested by the consumer.",
        "example": {
          "customerId": "CUST-242399",
          "serviceRequestId": "0db5fda5-9499-591e-af03-742fbe6902d8",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-463348",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a5b9a83c-3f5a-5cff-8e5f-f324a2c10de6",
            "correlationId": "830d0cfe-3bb6-5081-b2cd-0f0ecf3bb2a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TrustServiceMetadata": {
        "title": "Trust Service Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier of the response.",
            "example": "response-202"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for correlating different requests and responses.",
            "example": "correlation-303"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the trust service operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-create-trust-services"
        },
        "example": "trust-services-create-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that is making the request, useful for identifying the source of API traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}