{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get External Agency By Param1-spec",
    "description": "The External Agency Retrieval API enables users to obtain detailed information about specific external agencies using a unique identifier (param1). This endpoint is designed for financial institutions and banking applications that require insights into correspondent bank relationships. Consumers can utilize this API to enhance their due diligence processes, streamline compliance checks, or improve their operational efficiency. By leveraging the data retrieved, institutions can make informed decisions regarding partnerships with external agencies, ensuring a robust banking ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-relationship-management/{param1}": {
      "get": {
        "tags": [
          "Correspondent Bank Relationships"
        ],
        "summary": "Retrieve Correspondent Bank Relationship",
        "description": "This endpoint retrieves details about a specific correspondent bank relationship using the provided relationship ID. It allows users to access all relevant information pertaining to that relationship.",
        "operationId": "getExternalAgencyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used for retrieving information related to the correspondent bank relationship management for a specific agency identified by RES-100045. Ensure that the proper structure is followed as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the specified resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencyByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the correspondent bank relationship management in the external agency context.",
        "example": "{}"
      },
      "GetExternalAgencyByParam1Response_200": {
        "title": "Correspondent Bank Relationship Management Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The identifier for the agreement associated with the relationship.",
            "example": "AGR-692332"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) of the financial institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the financial institution is located.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the relationship becomes effective.",
            "example": "2026-09-15"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The identifier for the nostro account used in the relationship.",
            "example": "ACC-181027"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settling transactions within this relationship.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "The current status of the relationship (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the relationship record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the relationship details were last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "RESP-2023-ABC"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier for correlating related requests and responses.",
                "example": "CORR-2023-XYZ"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata about the response including identifiers and timestamps.",
            "example": {
              "responseId": "59158bd2-0e8a-5fbf-9b4d-836bec25b7d7",
              "correlationId": "c36d1596-8a8e-5f7d-90d2-cd11cae42657",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for retrieving details regarding correspondent bank relationships.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-692332",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "nostroAccountId": "ACC-181027",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "59158bd2-0e8a-5fbf-9b4d-836bec25b7d7",
            "correlationId": "c36d1596-8a8e-5f7d-90d2-cd11cae42657",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-relationship-management-get-correspondent-bank-relationship-management"
        },
        "example": "correspondent-bank-relationship-management-get-correspondent-bank-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header for authenticated requests. The token should be used to verify the identity of the user and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}