{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create It Management It Systems Direction-spec",
    "description": "The IT Systems Direction Management API facilitates the creation of strategic IT management directives within banking systems. This API allows developers to establish, modify, and implement guidelines for IT infrastructures and processes, enhancing operational efficiency and alignment with business goals. Typical consumers include IT managers, systems architects, and compliance officers seeking to optimize IT governance. By leveraging this API, organizations can ensure that their IT systems are strategically aligned with their business objectives and regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create IT Systems Direction",
        "description": "This endpoint allows users to create a new IT systems direction, facilitating improved management and strategic alignment of IT systems within the organization.",
        "operationId": "createItManagementItSystemsDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for the IT systems direction operations. It should include all necessary fields as defined in the schema to ensure that the operation can be processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItManagementItSystemsDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateItManagementItSystemsDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateItManagementItSystemsDirectionRequest": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "Banking operation completed"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the policy becomes effective.",
            "example": "2026-09-15"
          },
          "reviewDate": {
            "type": "string",
            "description": "The date when the policy will be reviewed.",
            "example": "2026-09-15"
          },
          "applicability": {
            "type": "array",
            "description": "A list of conditions under which the policy applies.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific applicability condition.",
              "example": "All employees"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating IT systems management policies.",
        "example": {
          "policyId": "STANDARD",
          "title": "Banking operation completed",
          "ownerTeam": "STANDARD",
          "effectiveDate": "2026-09-15",
          "reviewDate": "2026-09-15",
          "applicability": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "a8abb821-5688-5b68-9951-2393e68c436e",
            "correlationId": "3f19bc4c-8388-54a9-8029-cf34f8bdecf3",
            "idempotencyKey": "1f3ac31a-3afd-5440-934c-d9bf42f7933a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-830588"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr-abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Sales Application"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the details of the channel used in the request."
      },
      "CreateItManagementItSystemsDirectionResponse_201": {
        "title": "IT Systems Operation Response",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-235328"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "This schema represents the response for an IT systems direction operation.",
        "example": {
          "policyId": "STANDARD",
          "resourceId": "RES-235328",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2e63beee-c5d1-521d-a109-3d7f37a9453e",
            "correlationId": "3f19bc4c-8388-54a9-8029-cf34f8bdecf3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests/responses.",
            "example": "corr-abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains additional metadata related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, typically used for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-create-it-systems-direction"
        },
        "example": "it-systems-direction-create-it-systems-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of responses in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses a Bearer token for authentication, typically a JSON Web Token (JWT). This token is included in the authorization header of the request to grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}