{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Payroll Services API",
    "description": "The Corporate Payroll Services API enables organizations to efficiently manage payroll-related banking services for their employees. Through this endpoint, users can access key payroll data and integrate it with their existing financial systems. Typical consumers include HR and finance departments looking to streamline payroll processing and improve data accuracy. This API facilitates operations such as retrieving employee payroll information and managing payment schedules, ensuring compliance and timely disbursement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/corporate-payroll-services/{param1}": {
      "get": {
        "tags": [
          "Corporate Payroll Services"
        ],
        "summary": "Retrieve a specific corporate payroll service.",
        "description": "Fetches detailed information about a corporate payroll service identified by its unique ID. This endpoint is designed for clients needing extensive data about specific payroll services they utilize.",
        "operationId": "getCorporatePayrollServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving data related to corporate payroll services, specifically for the operation identified by RES-100045. This request is expected to conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporatePayrollServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payroll service information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporatePayrollServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporatePayrollServiceByIdRequest": {
        "title": "Corporate Payroll Services Request Body",
        "type": "string",
        "description": "This schema represents the JSON structure expected in the request body for the GET operations related to corporate payroll services. The value should be a string.",
        "example": "{}"
      },
      "GetCorporatePayrollServiceByIdResponse_200": {
        "title": "Corporate Payroll Services Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-422367"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "The identifier for the payroll batch.",
            "example": "STANDARD"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll is processed.",
            "example": "STANDARD"
          },
          "employeeCount": {
            "type": "integer",
            "description": "The total number of employees processed in this payroll batch.",
            "format": "int32",
            "example": 1
          },
          "fundingAccountId": {
            "type": "string",
            "description": "The identifier for the funding account used for payroll.",
            "example": "ACC-904378"
          },
          "totalNetPay": {
            "description": "The total net pay for the payroll batch.",
            "$ref": "#/components/schemas/TotalNetPay"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payroll record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the payroll batch.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate payroll services GET operation.",
        "example": {
          "corporateCustomerId": "CUST-422367",
          "payrollBatchId": "STANDARD",
          "payPeriod": "STANDARD",
          "employeeCount": 1,
          "fundingAccountId": "ACC-904378",
          "totalNetPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6d09735b-4bc3-5646-9328-f60c264c7258",
            "correlationId": "5ba91f6b-6fe4-5ddd-8475-d0d09c3345de",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TotalNetPay": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total net amount to be paid.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the total net pay.",
            "example": "USD"
          }
        },
        "description": "Schema representing the total net pay details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "R123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "C123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-16T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payroll processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Additional metadata about the payroll response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-get-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-get-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context about the service handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows for authentication using a Bearer Token. Typically, a JWT (JSON Web Token) is used for conveying claims about an entity and is included in the authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}