{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Data Quant Model API",
    "description": "The Market Data Quant Model API provides access to quantitative model data vital for banking and financial applications. This API allows users to retrieve current market data and quantitative analysis to inform trading and investment decisions. Typical consumers include financial analysts, risk managers, and trading systems that need up-to-date insights for their operations. Through this endpoint, developers can efficiently integrate market analytics into their applications to enhance decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve quant model data.",
        "description": "This endpoint allows you to fetch detailed information about a specific quantitative model identified by its unique resource ID (RES-100045). It provides insights into the model's parameters, performance metrics, and related data points for analytical purposes.",
        "operationId": "getQuantModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the market data for the specified quantitative model. The parameters defined within the schema will dictate the data retrieval criteria and any necessary filters that need to be applied.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuantModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuantModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetQuantModelByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON string for the request body used in the GET operation for the market data quant model.",
        "example": "{}"
      },
      "GetQuantModelByIdResponse_200": {
        "title": "Market Data Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number (ISIN) of the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market where the instrument is traded.",
            "example": "CODE-458"
          },
          "asOf": {
            "type": "string",
            "description": "Date as of which the market data is relevant.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the data has been derived.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the market data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the market data.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for market data information retrieved from quantitative models.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-458",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0a10925b-b6f4-54f2-84ee-0914bab7eff9",
            "correlationId": "b1722061-42d7-5f4f-a87b-88262b175b64",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the market data response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request. Useful for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-get-quant-model"
        },
        "example": "quant-model-get-quant-model"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request. Helps to identify the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token, typically a JSON Web Token (JWT), to validate user identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}