{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Marketing Brand Management-spec",
    "description": "The Marketing Brand Management API enables businesses to effectively create and manage their marketing brands within the banking sector. This API supports the initiation of new brand entities, providing a seamless way to define brand attributes and marketing strategies. Typically utilized by marketing teams and product managers, it streamlines brand establishment processes, ensuring alignment with business objectives. Users can engage this API to enhance brand visibility, consistency, and strategic positioning across various marketing channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/brand-management": {
      "post": {
        "tags": [
          "Brand Management"
        ],
        "summary": "Create a new brand management entry.",
        "description": "This operation allows users to create a new entry in the brand management system, enabling the organization to manage and maintain its branding assets effectively.",
        "operationId": "createMarketingBrandManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is for creating or updating brand management details. Ensure that all required fields are included according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketingBrandManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The brand resource has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketingBrandManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketingBrandManagementRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The unique identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "An array of channels used for the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A channel identifier used in the campaign.",
              "example": "social_media"
            }
          },
          "budget": {
            "description": "The budget details for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a marketing campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "e565fd78-4162-5583-bc64-ad0ec386a887",
            "correlationId": "15159d84-3bf2-5284-9351-607baf8e06a3",
            "idempotencyKey": "fdabeda1-7d4f-5e89-bc93-0066f0be9817",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-543595"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of the budget.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget for a marketing campaign."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used to track a series of requests.",
            "example": "correlation_456def"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to prevent duplicate processing of the request.",
            "example": "idempotency_789ghi"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "MarketingApp"
          },
          "channel": {
            "description": "Channel details for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual details about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., email, social media).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "The device ID associated with the channel, if applicable.",
            "example": "device_abc123"
          }
        },
        "description": "Schema representing a communication channel in the request context."
      },
      "CreateMarketingBrandManagementResponse_201": {
        "title": "Brand Management Operation Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The unique identifier for the target segment associated with the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the campaign.",
            "example": "RES-440715"
          },
          "status": {
            "type": "string",
            "description": "The current status of the campaign.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp representing when the campaign was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response object returned by the Brand Management operation.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-440715",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6cda1af3-9db7-5e35-b069-25f1496603c2",
            "correlationId": "15159d84-3bf2-5284-9351-607baf8e06a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-111"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking or correlation purposes.",
            "example": "correlation-222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema provides additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header provides a unique identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brand-management-create-brand-management"
        },
        "example": "brand-management-create-brand-management"
      },
      "X-Runtime-App": {
        "description": "This header indicates the specific runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token in the HTTP authorization header. Typically, a JSON Web Token (JWT) is used to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}