{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Trading Workbench API",
    "description": "The E-Trading Workbench API provides essential tools for managing and monitoring investment activities within a trading environment. This API allows users to retrieve detailed information about trading operations by utilizing specific parameters. Typical consumers include investment managers, traders, and financial analysts who require real-time insights into their trading positions and activities. With this API, users can streamline their trading processes and enhance decision-making capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/e-trading-workbench/{param1}": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve e-trading workbench details",
        "description": "This endpoint allows users to fetch the details of a specific e-trading workbench identified by its unique ID. It provides essential information necessary for managing and operating within the investment management domain.",
        "operationId": "getInvestmentManagementETradingWorkbenchById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for the GET operation on the e-trading workbench. This body must contain the required parameters in JSON format, as specified by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentManagementETradingWorkbenchByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested e-trading workbench data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentManagementETradingWorkbenchByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentManagementETradingWorkbenchByIdRequest": {
        "type": "string",
        "description": "Represents the JSON request body for retrieving operations in the trading workbench.",
        "example": "{}"
      },
      "GetInvestmentManagementETradingWorkbenchByIdResponse_200": {
        "title": "Investment Management Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-567511"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account.",
            "example": "ACC-729915"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective of the portfolio.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the investment account.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the portfolio.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating if it's active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response structure for the operations involved in retrieving investment management data.",
        "example": {
          "portfolioId": "PORT-567511",
          "investmentAccountId": "ACC-729915",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d7fe14e5-5c6b-5964-bb53-4a8627f2ccfe",
            "correlationId": "6f28c5c8-d5e4-54a7-8de4-1bfe366ccf21",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-trading-workbench-get-e-trading-workbench"
        },
        "example": "e-trading-workbench-get-e-trading-workbench"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, useful for debugging and application management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme using Bearer Authentication. This method requires a valid JSON Web Token (JWT) to be included in the request header for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}