{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Product Design By Design Id-spec",
    "description": "The Update Product Design API allows businesses to modify existing product designs based on their unique design identifier. This endpoint enables users to submit changes to product characteristics, ensuring that their offerings remain up-to-date and relevant. Typical consumers of this API include product managers and design teams who need to refine product specifications efficiently. By leveraging this API, companies can streamline their product management processes while adhering to design standards and customer expectations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-design/designs/{designId}": {
      "put": {
        "tags": [
          "Product Design Management"
        ],
        "summary": "Update Product Design",
        "description": "Updates the details of a specific product design identified by its unique ID (RES-100045). This operation allows for modifications to the design attributes such as specifications, visuals, and other related data.",
        "operationId": "replaceProductDesignByDesignId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/designId"
          }
        ],
        "requestBody": {
          "description": "Updates the design for the specified product. The request body must contain all necessary fields required to modify the design attributes. Ensure that the provided data adheres to the defined schema to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceProductDesignByDesignIdRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The design was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceProductDesignByDesignIdResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceProductDesignByDesignIdRequest": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers the product is targeted towards.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency in which the product's price is defined.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the product becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "5e4ce224-abc5-5065-baba-645a5f18f7b1",
            "correlationId": "baaf7f05-4059-5f88-ae2c-d0688dee540d",
            "idempotencyKey": "77e7cdae-8737-561e-8042-86431f45bd4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-959865"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate between related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the application that initiated the request.",
            "example": "AppA"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device that initiated the request.",
            "example": "device-123"
          }
        }
      },
      "ReplaceProductDesignByDesignIdResponse_201": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the product design.",
            "example": "RES-710024"
          },
          "status": {
            "type": "string",
            "description": "The current status of the product design operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the product design was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product design operation indicating the status and metadata of the operation.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-710024",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0d5c7f37-3a89-550f-94d8-669f9ae02870",
            "correlationId": "baaf7f05-4059-5f88-ae2c-d0688dee540d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional details about the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "designId": {
        "name": "designId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-design-design-product-design"
        },
        "example": "product-design-design-product-design"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, providing context for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "An identifier representing the workflow under which this operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Product Launch Pricing and Channel Deployment"
        },
        "example": "Product Launch Pricing and Channel Deployment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1662442e-15e8-44f4-81be-6934aafd42d7"
        },
        "example": "1662442e-15e8-44f4-81be-6934aafd42d7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically in the format of JSON Web Tokens (JWT). This method allows for secure token-based authorization in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}