{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Data By Param1-spec",
    "description": "The Market Data Retrieval API enables users to fetch market data based on specific parameters. By providing a unique identifier, users can access up-to-date market information relevant to their needs. This API is particularly useful for financial analysts and trading platforms that require real-time data for decision-making. Typical use cases include querying market conditions or insights based on various metrics, which helps businesses stay informed and competitive in the market.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve market data switch operation details.",
        "description": "This endpoint allows you to retrieve details about the specific market data switch operation identified by the resource ID RES-100045. It provides relevant information and status regarding the market data switch operation, enabling clients to integrate and utilize market data effectively.",
        "operationId": "getMarketDataByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving market data switch operation details for a specific resource ID (RES-100045). This request should contain the necessary payload to specify the operation being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on market data switch.",
        "example": "{}"
      },
      "GetMarketDataByParam1Response_200": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "CODE-817"
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp indicating the reference date of the data.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source of the market data.",
            "example": "STANDARD"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed.",
            "example": "STANDARD"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol used for the data transmission.",
            "example": "STANDARD"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Rate of messages being sent per second.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "corr-789"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-17T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the data was processed.",
                "example": "US-EAST"
              }
            },
            "description": "Additional metadata associated with the response.",
            "example": {
              "responseId": "aa377c34-7293-5641-a26c-54f6f0497d76",
              "correlationId": "29efbd64-7995-5e49-91af-91de26e67f4b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for market data switch operation.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-817",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "feedId": "STANDARD",
          "protocol": "STANDARD",
          "messagesPerSecond": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aa377c34-7293-5641-a26c-54f6f0497d76",
            "correlationId": "29efbd64-7995-5e49-91af-91de26e67f4b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that has processed the request. This helps in tracing requests back to the specific endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-get-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-get-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This indicates which part of the system handled the process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to verify user identity and secure API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}