{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Sale Product Expert Sales Support-spec",
    "description": "The Expert Sales Support Product Creation API enables businesses to generate tailored sales products efficiently. This endpoint facilitates the submission of detailed product specifications, empowering sales teams to provide personalized support. Typical consumers include sales representatives and product managers who require streamlined processes for rapid product deployment in the banking sector. Utilize this API to enhance customer engagement through focused sales strategies while ensuring optimal product alignment with market needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-expert-sales-support": {
      "post": {
        "tags": [
          "Sales Support"
        ],
        "summary": "Request expert sales support for a product.",
        "description": "This endpoint allows users to request support from an expert for a specific product. It is designed to help customers get detailed assistance and guidance regarding product features, pricing, and availability. As part of the sales support process, the expertise provided will directly address customer inquiries and enhance the overall sales experience.",
        "operationId": "createSaleProductExpertSalesSupport",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to create or update a product expert sales support entry. Ensure that all required fields are properly populated according to the schema provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSaleProductExpertSalesSupportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSaleProductExpertSalesSupportResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSaleProductExpertSalesSupportRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager associated with the sales process.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value of the sale.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "d122bbcf-baa0-58a9-a574-adb7090ad489",
            "correlationId": "7b5ebdc0-340e-5fb7-9287-b221af43b929",
            "idempotencyKey": "2b3261f6-6fc9-547a-970b-ee0e50ab7848",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-760840"
            }
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected from the sale.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is represented.",
            "example": "USD"
          }
        },
        "description": "Represents the expected value of the sale, including amount and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and requests across systems.",
            "example": "corr_xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that duplicate requests are handled idempotently.",
            "example": "idemp_456def"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request, including IDs and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, in-store).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device_98765"
          }
        },
        "description": "Represents the details of the channel from which the request was made."
      },
      "CreateSaleProductExpertSalesSupportResponse_201": {
        "title": "Expert Sales Support Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the request.",
            "example": "RES-344667"
          },
          "status": {
            "type": "string",
            "description": "Current status of the request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Expert Sales Support operation for POST requests.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "resourceId": "RES-344667",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4c094465-b133-572d-be8f-32bcff822313",
            "correlationId": "7b5ebdc0-340e-5fb7-9287-b221af43b929",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-2023"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T14:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "region-1"
          }
        },
        "description": "Metadata associated with the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-expert-sales-support-create-product-expert-sales-support"
        },
        "example": "product-expert-sales-support-create-product-expert-sales-support"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a Bearer token formatted as a JSON Web Token (JWT). This is typically used to secure API endpoints by including the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}