{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Customer Management By Param1-spec",
    "description": "The Customer Agreement Update API enables businesses to modify customer agreements based on specific parameters. This operation is essential for maintaining accurate and up-to-date customer management profiles, ensuring compliance and enhancing customer relations. Typical consumers of this API include banking institutions and service providers who need to adapt customer agreements quickly to reflect changes in policies or regulations. Utilizing the PATCH method allows for partial updates, streamlining the process of managing customer data effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-agreement/{param1}": {
      "patch": {
        "tags": [
          "Customer Agreement Management"
        ],
        "summary": "Update Customer Agreement Details",
        "description": "This endpoint allows the client to update the details of a specific customer agreement identified by its unique ID. Ensure to provide the required fields as part of the request body to modify the agreement successfully.",
        "operationId": "updateCustomerManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific details of the customer agreement identified by CUST-100045. The payload should provide the necessary fields for the update as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the customer agreement has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerManagementByParam1Request": {
        "title": "Customer Agreement Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the customer agreement.",
            "$ref": "#/components/schemas/CustomerAgreementChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a customer agreement.",
        "example": {
          "changes": {
            "customerId": "CUST-548573",
            "partyId": "PARTY-499562",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7609849a-4295-510a-9090-0a9aa5bfd359",
            "correlationId": "8f1e2ecc-f53f-5afc-a1ff-06c1e81b961e",
            "idempotencyKey": "7838bd01-39cf-5de3-a950-ea4fce710c8b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-943996"
            }
          }
        }
      },
      "CustomerAgreementChanges": {
        "title": "Customer Agreement Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "CUST123"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party involved in the agreement.",
            "example": "PARTY456"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product related to the agreement.",
            "example": "PROD789"
          }
        },
        "description": "Schema for the specific changes in the customer agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "CORR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "IDEMPOTENCY_KEY"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "USER_APP"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHANNEL-01"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "UpdateCustomerManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the customer agreement.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed on the customer agreement.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the customer agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer agreement operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "756eaf9e-dc45-51b5-b29f-77c9884ae991",
            "correlationId": "8f1e2ecc-f53f-5afc-a1ff-06c1e81b961e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation between requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header holds the unique identifier for the endpoint that was invoked during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-agreement-update-customer-agreement"
        },
        "example": "customer-agreement-update-customer-agreement"
      },
      "X-Runtime-App": {
        "description": "This header specifies the name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of a bearer token to access secure endpoints. The token should be in the format of a JSON Web Token (JWT), which encapsulates claims and can be verified for authenticity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}