{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Param1-spec",
    "description": "This API allows users to access detailed information regarding trade banking credit management by utilizing specific parameters. It retrieves essential data related to credit management services offered in the trade banking sector. Typical consumers of this API include financial institutions and businesses seeking to analyze credit options and manage financial risk effectively. Use cases may involve evaluating creditworthiness or assessing lending options for trade finance. Integrating this API enhances decision-making processes related to trade banking investments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-management/{param1}": {
      "get": {
        "tags": [
          "Credit Management"
        ],
        "summary": "Retrieve Credit Management Resource",
        "description": "This endpoint allows you to fetch the details of a specific Credit Management resource identified by its unique ID. Use this to obtain information relevant to the credit management aspects of trade banking.",
        "operationId": "getTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information related to credit management operations. This includes parameters necessary for processing the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested credit management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Credit Management API. It is expected to be a string.",
        "example": "{}"
      },
      "GetTradeBankingByParam1Response_200": {
        "title": "Credit Management Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-384103"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the specific facility associated with the credit management.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier of the counterparty involved in the transaction.",
            "example": "PARTY-549889"
          },
          "amount": {
            "description": "The monetary amount associated with the credit facility.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the credit facility.",
            "format": "date",
            "example": 1789430400000
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "format": "date-time",
            "example": 1789482600.0
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for credit management operations.",
        "example": {
          "corporateCustomerId": "CUST-384103",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-549889",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "03d92956-daa5-5fc9-ba33-af088c72baff",
            "correlationId": "8125ad03-98aa-5825-a065-dd1b655f3082",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The amount of money.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents a monetary amount with an associated currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "format": "date-time",
            "example": 1694779200.0
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Contains additional information related to the credit management response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This helps in tracing the request throughout the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-management-get-credit-management"
        },
        "example": "credit-management-get-credit-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that is handling the request. This is useful for ensuring compatibility and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the `Authorization` header of their requests to access the protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}