{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Term Deposits-spec",
    "description": "The Term Deposit Information Retrieval API allows users to access detailed information about deposit lending term deposits. This API empowers financial institutions and developers to easily fetch data regarding various term deposit products offered by the bank. By utilizing this endpoint, users can identify terms, interest rates, and other relevant details pertinent to deposit lending. Common use cases include integrating deposit information into banking applications, enhancing customer insights, and facilitating informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit": {
      "get": {
        "tags": [
          "Deposit Services"
        ],
        "summary": "Retrieve term deposit details.",
        "description": "This endpoint allows users to fetch details about various term deposits offered. It provides a comprehensive view of deposit options, interest rates, durations, and other relevant terms.",
        "operationId": "listDepositLendingTermDeposits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving term deposit information. This request should include the necessary parameters to specify the term deposit details you wish to query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingTermDepositsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved term deposit information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingTermDepositsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingTermDepositsRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation related to term deposits in the deposit lending service.",
        "example": "{}"
      },
      "ListDepositLendingTermDepositsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of term deposit items.",
            "example": [
              {
                "customerId": "CUST-260323",
                "accountId": "ACC-932004",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "depositAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "tenorDays": 1,
                "maturityInstruction": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TermDepositItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the term deposit items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for getting term deposit operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-260323",
              "accountId": "ACC-932004",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "depositAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "tenorDays": 1,
              "maturityInstruction": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "080a2d4b-ccd7-59d2-991a-77533fe5b1e2",
            "correlationId": "6b506935-ed04-568b-86fe-bd13e21f96dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TermDepositItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the deposit product."
          },
          "principal": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the term deposit in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the term deposit."
          },
          "depositAmount": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "tenorDays": {
            "type": "integer",
            "description": "Duration of the deposit tenor in days.",
            "format": "int32"
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions related to the maturity of the deposit."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Details of a term deposit item."
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount."
          }
        },
        "description": "Representation of an amount with currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-search-term-deposit"
        },
        "example": "term-deposit-search-term-deposit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme uses JSON Web Tokens (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}