{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Treasury Asset Securitizations-spec",
    "description": "This API enables users to retrieve a list of treasury asset securitizations, providing insights into structured financial products backed by treasury assets. The primary resource is the asset securitization data, which includes details such as asset types, valuations, and liquidity measures. Financial institutions, investors, and analysts typically utilize this API for market analysis, portfolio management, and due diligence tasks. By accessing comprehensive and up-to-date information, users can make informed decisions regarding their investments in treasury-backed securities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/asset-securitization": {
      "get": {
        "tags": [
          "Asset Management"
        ],
        "summary": "Retrieve asset securitization details.",
        "description": "This endpoint allows users to fetch detailed information about asset securitization processes in the treasury department. It provides insights into various asset-backed securities and their management.",
        "operationId": "listTreasuryAssetSecuritizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving asset securitization information. This JSON payload should contain relevant parameters and filters to fetch specific asset securitization details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTreasuryAssetSecuritizationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved asset securitization data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTreasuryAssetSecuritizationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTreasuryAssetSecuritizationsRequest": {
        "title": "Asset Securitization Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to asset securitization in the treasury system.",
        "example": "{}"
      },
      "ListTreasuryAssetSecuritizationsResponse_200": {
        "title": "Asset Securitization Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of asset securitization items.",
            "example": [
              {
                "portfolioId": "PORT-617740",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-926634",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssetSecuritizationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order or criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Asset Securitization operations, containing the list of items and pagination metadata.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-617740",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-926634",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e3f36893-76d5-534c-aa9f-e469fbf42a90",
            "correlationId": "c66e6c40-0d7c-50b1-9937-e5144833fbec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssetSecuritizationItem": {
        "title": "Asset Securitization Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty.",
            "example": "string"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the instrument.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "Represents an individual asset securitization item."
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the notional value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the notional amount.",
            "example": "string"
          }
        },
        "description": "Details about the notional amount associated with an asset securitization item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the result set."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-securitization-search-asset-securitization"
        },
        "example": "asset-securitization-search-asset-securitization"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the API is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens, formatted as JSON Web Tokens (JWT), to authenticate requests. Clients must include the token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}