{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Card Collection By Card Collection Id-v5-spec",
    "description": "This API allows users to access detailed information about specific card collections by their unique identifiers. It primarily serves banking operational teams and analytics consumers who need insights into card collection data. Typical use cases include retrieving card collections for reporting, auditing, or compliance purposes. The endpoint facilitates efficient access to vital financial resources, ensuring users can manage and monitor card collection operations effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections/{cardCollectionId}": {
      "get": {
        "tags": [
          "Card Collections"
        ],
        "summary": "Retrieve a specific card collection.",
        "description": "This endpoint allows you to fetch details of a specific card collection using its unique identifier. It provides comprehensive information about the collection's attributes and status.",
        "operationId": "getBankingOperationalServicesCardCollectionByCardCollectionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardCollectionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to card collections for the specific card identified by CARD-400045. Ensure that the request parameters comply with the expected schema for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesCardCollectionByCardCollectionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested card collection data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesCardCollectionByCardCollectionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesCardCollectionByCardCollectionIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on card collections service.",
        "example": "{}"
      },
      "GetBankingOperationalServicesCardCollectionByCardCollectionIdResponse_200": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "Unique identifier for the card account.",
            "example": "ACC-500138"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the card account.",
            "example": "CUST-224716"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "Number of days the payment is past due.",
            "format": "int32",
            "example": 1
          },
          "outstandingBalance": {
            "description": "The outstanding balance details for the card account.",
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy used for collection on this account.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving card collection details.",
        "example": {
          "cardAccountId": "ACC-500138",
          "customerId": "CUST-224716",
          "daysPastDue": 1,
          "outstandingBalance": {
            "amount": 100,
            "currency": "USD"
          },
          "collectionStrategy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8e30dae6-1298-5bdf-9ec5-bd524b9620bc",
            "correlationId": "e0204384-7a16-5e8d-b811-7d0590291de8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingBalance": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The total amount of the outstanding balance.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the outstanding balance is denominated.",
            "example": "string"
          }
        },
        "description": "Details of the outstanding balance associated with the card account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardCollectionId": {
        "name": "cardCollectionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-get-card-collections"
        },
        "example": "card-collections-get-card-collections"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves including a JSON Web Token (JWT) in the Authorization header. It is widely used for token-based authentication in RESTful APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}