{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Facility Site Administrations-spec",
    "description": "The Facility Site Administration Listing API provides access to details about the administration of various facility sites. This endpoint enables users to retrieve a comprehensive list of site administrations, which is crucial for facility management and operational oversight. Typical consumers include facility managers and banking operations teams who need to monitor and manage site-specific administrative tasks. By using this API, organizations can enhance their administrative workflows and ensure effective governance of their facilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-administration": {
      "get": {
        "tags": [
          "Facility Management"
        ],
        "summary": "Retrieve site administration details.",
        "description": "This endpoint allows you to fetch detailed information about site administration, helping you manage and understand site-specific settings and configurations.",
        "operationId": "listFacilitySiteAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve site administration details for facilities. The expected content type is application/json, and it must adhere to the defined schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFacilitySiteAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved site administration details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFacilitySiteAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFacilitySiteAdministrationsRequest": {
        "title": "Site Administration Operations GET Request Body",
        "type": "string",
        "description": "A string representation of the request body for the Site Administration Operations GET request in application/json format.",
        "example": "{}"
      },
      "ListFacilitySiteAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operation items related to site administration.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-115464",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Operations GET request in Site Administration, detailing available items and pagination information.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-115464",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ef8437e1-b379-5c66-b277-bf7d2d9b3ced",
            "correlationId": "60565a83-190c-5a0a-92ff-67bca30cb3af",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site."
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the operation."
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order linked to the operation."
          },
          "scheduledDate": {
            "type": "string",
            "description": "Date when the operation is scheduled.",
            "example": "2023-10-10T14:30:00Z"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor performing the operation."
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the operation is designated."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the operation record."
          }
        },
        "description": "Schema representing an individual operation item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T14:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema for metadata pertaining to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-administration-search-site-administration"
        },
        "example": "site-administration-search-site-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secure access to resources. Clients must include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}