{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Repayment Schedule-spec",
    "description": "This API allows users to create and manage repayment schedules for loans. By specifying a loan ID, consumers can define customized repayment terms that align with the borrower's financial situation. The primary resources involve loan records and their associated repayment schedules. This API serves financial institutions and lending platforms looking to streamline their loan management processes and enhance customer experience. Enable efficient loan servicing and help borrowers manage repayment obligations effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a repayment schedule for a specified loan.",
        "description": "This endpoint allows users to create a detailed repayment schedule for a specific loan identified by its unique loan ID. It facilitates effective loan management by outlining the payment structure over time.",
        "operationId": "createLoanRepaymentSchedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update the repayment schedules for the specified loan. It should include all necessary data for processing the repayment schedule, ensuring compliance with the loan terms and conditions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanRepaymentScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Repayment schedule created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanRepaymentScheduleResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanRepaymentScheduleRequest": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the repayment schedules are effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used for calculating the repayment amounts.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for creating the repayment schedules.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "The list of installments for the repayment schedule.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "req-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier to trace the request through systems.",
                "example": "corr-54321"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key for handling idempotent requests.",
                "example": "idemp-67890"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "LoanManagementSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application used to send the request.",
                "example": "MobileApp"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "c6841c92-d9ca-5b2e-b389-0b9e541a52a2",
              "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
              "idempotencyKey": "8643dad9-8bd1-574f-82ea-341a58b9eb98",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-492633"
              }
            }
          }
        },
        "description": "Represents the request body for creating repayment schedules for a specific loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD"
              }
            }
          ],
          "requestContext": {
            "requestId": "c6841c92-d9ca-5b2e-b389-0b9e541a52a2",
            "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
            "idempotencyKey": "8643dad9-8bd1-574f-82ea-341a58b9eb98",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-492633"
            }
          }
        }
      },
      "Installment": {
        "title": "Installment",
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The sequential number of the installment.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The date when the installment is due.",
            "example": "2023-10-15"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "principalDue": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "interestDue": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "feesDue": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "totalDue": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "status": {
            "type": "string",
            "description": "Current status of the installment.",
            "example": "PAID"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp of when the installment was paid.",
            "example": "2023-10-16T12:00:00Z"
          }
        },
        "description": "Schema representing a payment installment in the repayment schedule."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money, including currency."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., Mobile, Web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-1234"
          }
        },
        "description": "Represents the channel through which the request is made."
      },
      "CreateLoanRepaymentScheduleResponse_201": {
        "title": "Repayment Schedule Response",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule becomes effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the repayment amounts.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "List of payment installments included in the repayment schedule.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "status": "ACTIVE",
                "paidAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "797a9484-e86b-a94a-7695-0ad73c2de586"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the repayment schedule was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Identifier of the schedule that this one supersedes, if applicable.",
            "example": "408cf88f-7e11-92fe-8578-13a8ffcf3fcf"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response containing repayment schedules for a loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "status": "ACTIVE",
              "paidAt": "2026-08-11T12:00:00Z"
            }
          ],
          "id": "797a9484-e86b-a94a-7695-0ad73c2de586",
          "status": "ACTIVE",
          "generatedAt": "2026-09-15T14:30:00Z",
          "supersedesScheduleId": "408cf88f-7e11-92fe-8578-13a8ffcf3fcf",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "09c9e700-481f-5a5f-9e03-267e0e947e04",
            "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount details including currency and amount."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the repayment schedule was created.",
            "example": "2023-10-01T11:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the repayment schedule.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the repayment schedule was last updated.",
            "example": "2023-10-02T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the repayment schedule.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version of the repayment schedule.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the audit information of the repayment schedule."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing the metadata details for the repayment schedule response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-repayment-schedule"
        },
        "example": "banking-loans-openapi-create-repayment-schedule"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) to allow secure access to resources. Clients should include the JWT in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}