{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Credit Rating Update API",
    "description": "The Customer Credit Rating Update API enables financial institutions to manage and adjust customer credit ratings effectively. This API supports operations to update credit ratings based on user-defined criteria such as changes in financial behavior or circumstances. Typically used by banking and financial services professionals, this API facilitates proactive credit management and risk assessment. Integrating this functionality can enhance customer relationships and improve credit risk strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating/{param1}": {
      "patch": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Customer Credit Rating",
        "description": "This operation allows you to update the credit rating information for a specific customer identified by CUST-100045. Ensure that you provide the necessary fields in the request body to successfully modify the customer's credit rating record.",
        "operationId": "updateCustomerCreditRatingCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the credit rating information for the specified customer. Ensure that all fields provided in the request body are in the correct format and that any necessary validations are adhered to.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerCreditRatingCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the customer credit rating.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerCreditRatingCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerCreditRatingCUST100045Request": {
        "title": "Customer Credit Rating Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contain the changes to be applied to the customer's credit rating.",
            "$ref": "#/components/schemas/CreditRatingChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time at which the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a customer's credit rating.",
        "example": {
          "changes": {
            "customerId": "CUST-711616",
            "partyId": "PARTY-104014",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "717e5d9f-19df-515a-b2a6-3b793f69024c",
            "correlationId": "1a67a339-3c06-52ae-8d56-6a3c273bff3c",
            "idempotencyKey": "af2c7151-c8d9-5d05-887a-b3934b08f373",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-181764"
            }
          }
        }
      },
      "CreditRatingChanges": {
        "title": "Credit Rating Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party related to the customer.",
            "example": "PARTY-200034"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being updated.",
            "example": "PRODUCT-XYZ"
          }
        },
        "description": "Schema representing the specific changes to a customer's credit rating."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application within the source system making the request.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema encapsulating the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request, if applicable.",
            "example": "device-abc123"
          }
        },
        "description": "Schema detailing the channel through which the request was made."
      },
      "UpdateCustomerCreditRatingCUST100045Response_200": {
        "title": "Customer Credit Rating Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the customer credit rating was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for customer credit rating update operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6c9db76c-981c-5d9a-bdbb-7868bfd49cf6",
            "correlationId": "1a67a339-3c06-52ae-8d56-6a3c273bff3c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata information that provides context for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that generated the response, used for tracing the specific API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-update-customer-credit-rating"
        },
        "example": "customer-credit-rating-update-customer-credit-rating"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request, useful for logging and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests. This enables secure communication between the client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}