{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Corporate Relation Regulatory Authorities-spec",
    "description": "The Corporate Relations Regulatory Authorities API provides access to comprehensive information about regulatory agencies overseeing corporate relations. This endpoint enables users to retrieve a detailed list of these authorities, which are essential for compliance and regulatory purposes. Typical consumers include financial institutions, corporate compliance teams, and legal advisors who require up-to-date information on regulatory bodies. With this API, businesses can streamline their compliance processes by obtaining necessary regulatory data efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/regulatory-authorities": {
      "get": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Retrieve a list of regulatory authorities related to corporate relations.",
        "description": "This endpoint fetches all regulatory authorities that are relevant to corporate relations. The data can be used for compliance checks and understanding regulatory landscapes.",
        "operationId": "listCorporateRelationRegulatoryAuthorities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for obtaining information about regulatory authorities related to corporate relations. Ensure that the necessary parameters are structured according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCorporateRelationRegulatoryAuthoritiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of regulatory authorities.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCorporateRelationRegulatoryAuthoritiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCorporateRelationRegulatoryAuthoritiesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request concerning regulatory authorities in the corporate relations context.",
        "example": "{}"
      },
      "ListCorporateRelationRegulatoryAuthoritiesResponse_200": {
        "title": "Regulatory Authorities Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of engagement items relating to regulatory authorities.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving regulatory authorities, including a list of items, pagination details, sorting, and metadata.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b6176b3c-56a4-5291-9c01-0b392bd56600",
            "correlationId": "1695aab3-f39a-565b-abdf-15616f749f35",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "title": "Engagement Item",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "string"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the engagement.",
            "example": "string"
          },
          "scheduledAt": {
            "type": "string",
            "description": "The date and time when the engagement is scheduled.",
            "example": "string"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the engagement item was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual engagement item related to a regulatory authority."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs and requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-and-legal-authority-search-regulatory-and-legal-authority"
        },
        "example": "regulatory-and-legal-authority-search-regulatory-and-legal-authority"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). The client must provide a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}