{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Notification Subscription Webhook-spec",
    "description": "The Notification Subscription Webhook Management API allows users to create webhook subscriptions for notifications. This API is pivotal for integrating real-time updates into applications, enabling developers to receive timely notifications about events. It is especially useful for businesses that require immediate alerts for critical developments, such as transaction changes or system alerts. Typical consumers of this API include application developers and system integrators looking to enhance their application's responsiveness and user engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a new webhook.",
        "description": "This endpoint allows you to create a new webhook to receive notifications for specific events. Provide the necessary details in the request body to successfully create the webhook.",
        "operationId": "createNotificationSubscriptionWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new webhook. This includes the necessary configuration and payload details that define how the webhook will be triggered and what data will be sent to the specified endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNotificationSubscriptionWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNotificationSubscriptionWebhookResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateNotificationSubscriptionWebhookRequest": {
        "title": "Webhook Operations POST Request",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL to which the webhook will send notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "The list of events that the webhook will subscribe to.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when creating or updating a webhook operation.",
        "example": {
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "requestContext": {
            "requestId": "ee6328c2-8c87-5776-8c79-d3aa1b3619ac",
            "correlationId": "8bf776c6-3120-525e-8a0d-6dac377bf331",
            "idempotencyKey": "00efaedd-3ee0-5b2d-89c3-e82af4668478",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-654901"
            }
          }
        }
      },
      "Event": {
        "title": "Webhook Event",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the event.",
            "example": "UserSignup"
          },
          "url": {
            "type": "string",
            "description": "The URL for the event handler.",
            "example": "https://example.com/user/signup"
          },
          "condition": {
            "$ref": "#/components/schemas/EventCondition"
          }
        },
        "description": "Schema that defines a single event associated with the webhook."
      },
      "EventCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event type that clients are subscribing for.",
            "example": "user_created"
          },
          "includes": {
            "type": "array",
            "description": "List of included filters for the event.",
            "items": {
              "type": "string",
              "example": "filter_value"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of excluded filters for the event.",
            "items": {
              "type": "string",
              "example": "filter_value"
            }
          }
        },
        "description": "Conditions for subscribing to webhook events."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "AppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that provides context about the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "device-456"
          }
        },
        "description": "Schema that defines the communication channel of the request."
      },
      "CreateNotificationSubscriptionWebhookResponse_201": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "Unique identifier for the webhook subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The URL where the webhook will send POST requests.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "List of events that the webhook is subscribed to.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the webhook subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "Date when the webhook subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful webhook subscription creation.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "01706a71-8fbe-5af1-bdcc-55528bb4d25b",
            "correlationId": "8bf776c6-3120-525e-8a0d-6dac377bf331",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "Unique identifier for the webhook event.",
            "example": "event_123456"
          },
          "name": {
            "type": "string",
            "description": "Name of the webhook event.",
            "example": "NewUserCreated"
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the event.",
            "example": "https://example.com/event"
          },
          "status": {
            "type": "string",
            "description": "Current status of the event subscription.",
            "example": "active"
          },
          "condition": {
            "$ref": "#/components/schemas/EventCondition"
          }
        },
        "description": "Details about a specific webhook event."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the webhook was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata related to the webhook subscription."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was triggered, allowing tracking of webhook events.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-webhook-subscription"
        },
        "example": "open-finance-api-create-webhook-subscription"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the webhook request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}