{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Customer Management By Param1-spec",
    "description": "The Customer Behavior Insights Update API allows businesses to refine and enhance their understanding of customer interactions by updating customer behavior insights based on specific parameters. This operation is particularly useful for customer relationship management, enabling businesses to tailor their services and marketing strategies based on behavior patterns. Typically utilized by customer service teams, marketing analysts, and data scientists, this API supports targeted campaigns and customer retention initiatives. The PATCH method ensures that only the necessary changes to customer behavior records are applied efficiently, maintaining data integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-behavior-insights/{param1}": {
      "patch": {
        "tags": [
          "Customer Insights"
        ],
        "summary": "Update customer behavior insight for a specific customer.",
        "description": "This operation allows you to update the behavior insights for a customer identified by their unique ID. Utilize this endpoint to modify existing insights based on new data or analytics, ensuring that you provide the necessary fields in the request body.",
        "operationId": "updateCustomerManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update customer behavior insights for a specified customer. The payload contains various fields that represent behavior insights and trends associated with the customer identified by CUST-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerManagementByParam1Request": {
        "title": "Customer Behavior Insights Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes being requested.",
            "$ref": "#/components/schemas/CustomerChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating customer behavior insights.",
        "example": {
          "changes": {
            "customerId": "CUST-840503",
            "partyId": "PARTY-213502",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "30094c43-6dc4-5b27-99d6-9325c86e283b",
            "correlationId": "b6a78f22-219f-548d-bc70-a9dc2f559d58",
            "idempotencyKey": "44011120-4cb1-5981-b409-8ac31ec7690c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-215045"
            }
          }
        }
      },
      "CustomerChanges": {
        "title": "Customer Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer.",
            "example": "PARTY-456"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the customer's behavior.",
            "example": "PROD-123"
          }
        },
        "description": "Details of the customer changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs or activities across services.",
            "example": "CORR-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be retried without adverse effects.",
            "example": "IDEMPOTENCY-KEY-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-30T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CustomerManagementService"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "customer-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Additional context about the request including identifiers and sources."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateCustomerManagementByParam1Response_200": {
        "title": "Customer Behavior Insights Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Provides additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the customer behavior insights operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "09ae0b10-73c7-53f2-bcbb-07795fe32f1b",
            "correlationId": "b6a78f22-219f-548d-bc70-a9dc2f559d58",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracing requests and responses in the customer management system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-insights-update-customer-behavior-insights"
        },
        "example": "customer-behavior-insights-update-customer-behavior-insights"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, which helps in identifying the source of operations within the customer behavior insights.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which allows clients to authenticate by including a JWT (JSON Web Token) in the Authorization header of each request. The token should be obtained through a secure and valid login process, ensuring that only duly authenticated users can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}