{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Management Customer Event History-spec",
    "description": "The Customer Event History Management API enables businesses to archive and manage customer event data effectively. Through this endpoint, users can create and store detailed records of events associated with customer accounts, enhancing their ability to track and analyze customer interactions. This functionality is crucial for customer service teams, marketing departments, and account managers who rely on historical data to improve customer relationships and tailor services. Ideal for use in banking, financial services, and customer relationship management sectors, this API supports operational efficiency and data-driven decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-event-history": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer event history entry.",
        "description": "This endpoint allows for the creation of a new record in the customer event history, capturing relevant events associated with a specific customer. Utilize this feature to track significant interactions and behaviors for better customer relationship management.",
        "operationId": "createCustomerManagementCustomerEventHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit events related to customer management. It contains details about the customer and the specific events that need to be recorded in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerManagementCustomerEventHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new customer event history entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerManagementCustomerEventHistoryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerManagementCustomerEventHistoryRequest": {
        "title": "Customer Event History Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-582239"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer.",
            "example": "PARTY-315773"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product related to the customer event.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the event became effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of customer relationship.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for posting customer event history data.",
        "example": {
          "customerId": "CUST-582239",
          "partyId": "PARTY-315773",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "c5b16c59-d8b2-5ce5-bf1b-3a3dfb780bcf",
            "correlationId": "25684f07-b89b-5758-81fb-055700d0b16b",
            "idempotencyKey": "31415a5e-8897-50fd-a4ba-0a058478272f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-468258"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "CORR78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is idempotent.",
            "example": "IDEMPOTENCY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application used to initiate the request.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "description": "Information on the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context including identifiers and timing."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "DEVICE12345"
          }
        },
        "description": "Details regarding the channel used for the request."
      },
      "CreateCustomerManagementCustomerEventHistoryResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-477110"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-708485"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product related to the customer event.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource involved in the customer event.",
            "example": "RES-511978"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer event.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the customer event was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the customer event.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer event history POST operation. It contains details about the customer event including IDs and timestamps.",
        "example": {
          "customerId": "CUST-477110",
          "partyId": "PARTY-708485",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-511978",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4eb20afe-d54c-5113-93f4-e9a04b965991",
            "correlationId": "25684f07-b89b-5758-81fb-055700d0b16b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the customer event.",
            "example": "resp-111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation of actions and events.",
            "example": "corr-222"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T14:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the customer event took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for customer events, providing additional context such as response and correlation IDs."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-event-history-create-customer-event-history"
        },
        "example": "customer-event-history-create-customer-event-history"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients must send a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}