{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Transaction Switch API",
    "description": "The Card Transaction Switch API facilitates the handling of card transaction operations within banking systems. It allows users to retrieve the status and details of card transactions based on specific parameters. This API is crucial for financial institutions, payment processors, and developers creating applications that manage transactions, ensuring seamless processing and monitoring of card activities. Use cases include transaction verification, auditing, and operational support for card services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/{param1}": {
      "get": {
        "tags": [
          "Card Transaction Services"
        ],
        "summary": "Retrieve Card Transaction Switch Details",
        "description": "Fetches the details of a specific card transaction switch identified by its unique ID. This endpoint allows users to access important transaction information and status for CARD-400045.",
        "operationId": "getCardTransactionSwitchById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving card transaction details using the CARD-400045 operational service. The request body must adhere to the specified JSON schema defining the required parameters and their formats.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTransactionSwitchByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTransactionSwitchByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTransactionSwitchByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation for card transaction switch service. It is expected to be a string value containing the necessary details related to the transaction.",
        "example": "{}"
      },
      "GetCardTransactionSwitchByIdResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer involved in the transaction.",
            "example": "CUST-785945"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the transaction.",
            "example": "ACC-315091"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the transaction request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the transaction request.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the transaction record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the transaction record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the transaction record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the transaction.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response structure for the card transaction switch operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-785945",
          "accountId": "ACC-315091",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "248ea54d-e2d3-51e8-9c65-32568456dfb7",
            "correlationId": "a5fdf0b5-86e1-508c-a979-dc932fb43588",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracing.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the transaction took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-get-card-transaction-switch"
        },
        "example": "card-transaction-switch-get-card-transaction-switch"
      },
      "x-runtime-app": {
        "description": "Identifier for the application runtime that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) to validate user identity and authorize access to resources. Clients must include the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}