{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management System Deployments-spec",
    "description": "The IT Management System Deployments API provides a comprehensive overview of all system deployments within the IT management landscape. This endpoint allows consumers to retrieve detailed information about current deployments, including their statuses, configurations, and associated resources. Typical users of this API include IT administrators and project managers who require insights for operational oversight and decision-making. Leveraging this API, organizations can effectively monitor and manage their deployment processes to ensure optimal performance and service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment": {
      "get": {
        "tags": [],
        "summary": "Retrieve system deployment information.",
        "description": "This endpoint allows users to fetch detailed information regarding the system deployment status, configurations, and operational metrics of the IT management system.",
        "operationId": "listItManagementSystemDeployments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body for retrieving system deployment details. This should contain all necessary parameters to specify the deployment requests made to the IT management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementSystemDeploymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the system deployment details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementSystemDeploymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementSystemDeploymentsRequest": {
        "type": "string",
        "description": "Represents the request body for IT management system deployment operations in JSON format.",
        "example": "{}"
      },
      "ListItManagementSystemDeploymentsResponse_200": {
        "title": "System Deployment Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of system deployment items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemDeploymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing system deployment details and associated metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d2cccdd7-3520-5e04-a567-894f1bf3504a",
            "correlationId": "cbddcb39-a87c-5f9d-9a45-768f4d4aef59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemDeploymentItem": {
        "title": "System Deployment Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier of the system being deployed."
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system is deployed (e.g., production, staging)."
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with this deployment."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the deployment."
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the deployment."
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier associated with this deployment."
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the deployed system."
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The planned maintenance window for the deployment."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the deployment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the deployment information was last updated."
          }
        },
        "description": "Details about a specific system deployment."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information related to the pagination of results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for this specific response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the request took place."
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was reached in the request. This value helps in tracking the specific endpoint hit during the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-search-system-deployment"
        },
        "example": "system-deployment-search-system-deployment"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request. This can be useful for identifying which application instance handled the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to provide secure access to the API. Clients must include a valid JWT in the 'Authorization' header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}