{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Settlement Accounts-spec",
    "description": "The P2M Settlement Accounts Retrieval API enables users to access and view a list of settlement accounts relevant for P2M transactions. This API serves clients looking to integrate settlement account functionalities, facilitating seamless financial operations and oversight. Typical consumers include financial institutions, payment processors, and software developers working on payment solutions. By leveraging this API, users can efficiently manage and monitor settlement accounts, thereby enhancing financial transaction processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts": {
      "get": {
        "tags": [
          "settlementAccounts"
        ],
        "summary": "Retrieve all settlement accounts",
        "description": "This endpoint allows clients to fetch a list of all available settlement accounts in the system. It provides essential information about each account, including its attributes and current status.",
        "operationId": "listP2mSettlementAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve settlement account information. Ensure that any necessary parameters or filters are included in the request to get the desired results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mSettlementAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning a list of settlement accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mSettlementAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mSettlementAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the settlement accounts operations in GET requests.",
        "example": "{}"
      },
      "ListP2mSettlementAccountsResponse_200": {
        "title": "Settlement Accounts Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there are more pages to fetch.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of navigation links related to the response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of settlement accounts retrieved.",
            "example": [
              {
                "settlementAccountId": "ACC-395841",
                "merchantId": "MER-295001",
                "account": {
                  "bankCode": "CODE-131",
                  "branchCode": "CODE-643",
                  "numberMasked": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "currency": "USD"
                },
                "schedule": {
                  "frequency": "STANDARD",
                  "cutoffTime": "STANDARD",
                  "timezone": "America/New_York",
                  "settlementDelayBusinessDays": 1,
                  "minimumPayoutAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "isDefault": true,
                "verificationStatus": "VERIFIED",
                "status": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementAccount"
            }
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET Settlement Accounts operation, containing pagination information, items, and metadata.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "settlementAccountId": "ACC-395841",
              "merchantId": "MER-295001",
              "account": {
                "bankCode": "CODE-131",
                "branchCode": "CODE-643",
                "numberMasked": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "currency": "USD"
              },
              "schedule": {
                "frequency": "STANDARD",
                "cutoffTime": "STANDARD",
                "timezone": "America/New_York",
                "settlementDelayBusinessDays": 1,
                "minimumPayoutAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "isDefault": true,
              "verificationStatus": "VERIFIED",
              "status": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "3e053e57-f7ff-532e-8ab5-43c43f794c16",
            "correlationId": "d133bbd7-bc47-5911-bc25-38de14578e3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL to the linked resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method applicable to the link.",
            "example": "string"
          }
        },
        "description": "Schema representing a hyperlink related to the request or response."
      },
      "SettlementAccount": {
        "title": "Settlement Account",
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the account.",
            "example": "string"
          },
          "account": {
            "description": "Details of the bank account associated with the settlement.",
            "$ref": "#/components/schemas/AccountDetails"
          },
          "schedule": {
            "description": "Schedule details for settlements.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default settlement account.",
            "example": false
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current verification status of the account.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement account.",
            "example": "string"
          },
          "audit": {
            "description": "Audit information related to the settlement account.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing a settlement account entity."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The identifier code for the bank.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code of the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked representation of the account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the bank account.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about a bank account."
      },
      "Schedule": {
        "title": "Settlement Schedule",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Frequency of the settlement (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for settlement transactions.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for the settlement schedule.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "Number of business days to delay the settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "The minimum amount required for payout.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Schema representing the schedule for settlements."
      },
      "MinimumPayoutAmount": {
        "title": "Minimum Payout Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the minimum payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum payout amount value.",
            "example": "string"
          }
        },
        "description": "Schema representing the minimum payout amount details."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the account.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing audit information related to a settlement account."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlement-accounts"
        },
        "example": "banking-p2m-openapi-list-settlement-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method where a valid JSON Web Token (JWT) must be included in the Authorization header. The JWT should be obtained from a trusted authorization server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}