{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Compliance By Param1-spec",
    "description": "The Compliance Reporting Retrieval API provides access to compliance data specific to a given parameter. This endpoint allows users to fetch detailed compliance reports based on the identified parameter, facilitating informed decision-making for regulatory and risk management purposes. Typical consumers include financial institutions and compliance officers looking to ensure adherence to regulations. By using this API, organizations can streamline their compliance reporting processes and enhance visibility into their compliance status.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/compliance-reporting/{param1}": {
      "get": {
        "tags": [
          "Compliance Reporting"
        ],
        "summary": "Retrieve Compliance Report by ID",
        "description": "Fetches a specific compliance report using its unique identifier. This endpoint allows users to obtain detailed information related to the selected compliance report, aiding in analysis and decision-making.",
        "operationId": "getComplianceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving compliance reporting data for the specified resource. It must be a valid JSON object that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the compliance report data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceByParam1Request": {
        "title": "Compliance Reporting Request Body",
        "type": "string",
        "description": "This schema represents the request body for the compliance reporting operation in JSON format. It is expected to contain a string that specifies details related to the compliance request.",
        "example": "{}"
      },
      "GetComplianceByParam1Response_200": {
        "title": "Compliance Reporting Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction related to the compliance report.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period for which the report is being submitted.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the report is filed.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for submitting the compliance report.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., submitted, pending, approved).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the report.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the report was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the compliance report.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a compliance reporting request.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4ccaacb2-8482-5817-a1f0-474870ec741b",
            "correlationId": "76e549b4-e50e-5826-a91c-9652e6acf3b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Compliance Report Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-9876"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "correlation-2345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the report was generated.",
            "example": "2022-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the report was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing the metadata for a compliance report."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed. This is useful for tracing and logging the specific endpoint involved in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "compliance-reporting-get-compliance-reporting"
        },
        "example": "compliance-reporting-get-compliance-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps in identifying which application instance handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, formatted as a JSON Web Token (JWT). Clients must include this token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}