{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Sales Product Agreements-spec",
    "description": "This API enables users to access and retrieve comprehensive information regarding sales product agreements in customer management. It provides details such as agreement terms, associated customers, and sales products, empowering financial institutions and customer service teams to enhance their relationship management capabilities. Typical consumers of this API include financial analysts, customer support representatives, and sales agents who need to analyze and manage product agreements efficiently. By leveraging this API, developers can streamline customer interactions and improve service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/sales-product-agreement": {
      "get": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Retrieve Sales Product Agreements",
        "description": "This endpoint allows you to fetch all sales product agreements linked to customer management. Utilize this to view or assess existing agreements for customers.",
        "operationId": "listCustomerManagementSalesProductAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about the sales product agreement for a customer. It requires a specific structure that meets the desired schema for successful processing. Please ensure to adhere to the defined schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementSalesProductAgreementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the sales product agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementSalesProductAgreementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementSalesProductAgreementsRequest": {
        "title": "Sales Product Agreement Request Body",
        "type": "string",
        "description": "The request body for the sales product agreement operation, represented as a string.",
        "example": "{}"
      },
      "ListCustomerManagementSalesProductAgreementsResponse_200": {
        "title": "Sales Product Agreement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of sales product agreements.",
            "example": [
              {
                "customerId": "CUST-428556",
                "partyId": "PARTY-824524",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesProductAgreement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response containing sales product agreement information including items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-428556",
              "partyId": "PARTY-824524",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7e201141-e90f-5ecd-afb9-87592b558f5f",
            "correlationId": "7f64c078-636b-5164-98ab-27408970bf2b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesProductAgreement": {
        "title": "Sales Product Agreement",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier of the customer associated with the agreement."
          },
          "partyId": {
            "type": "string",
            "description": "The identifier of the party involved in the agreement."
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product."
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective."
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier level of the customer relationship."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date when the record was last updated."
          }
        },
        "description": "Details of an individual sales product agreement.",
        "example": {
          "customerId": "cust-1001",
          "partyId": "party-2002",
          "productCode": "prod-3003",
          "effectiveDate": "2023-10-03",
          "relationshipTier": "Gold",
          "recordStatus": "Active",
          "updatedAt": "2023-10-03T10:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items returned per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information regarding the pagination of the list of items.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the response processing occurred."
          }
        },
        "description": "Metadata information related to the response.",
        "example": {
          "responseId": "response-id-123",
          "correlationId": "correlation-id-456",
          "generatedAt": "2023-10-03T10:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-agreement-search-sales-product-agreement"
        },
        "example": "sales-product-agreement-search-sales-product-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses Bearer tokens. The token should be sent in the 'Authorization' header of the request. The recommended format for the token is JWT (JSON Web Token), which allows for stateless authentication and secure data exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}