{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Debit Card-spec",
    "description": "This API facilitates the creation of debit cards for customers within the banking microservice ecosystem. By leveraging this endpoint, financial institutions can provision new debit cards to enhance customer banking experiences. The operation is critical for customer onboarding and financial product offerings. Typical consumers include banking application developers and customer service teams looking to automate card issuance processes. This API ensures that customer and transaction data are securely managed during the card creation workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/debit-cards": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new debit card for a customer.",
        "description": "This endpoint allows you to create a new debit card for a specific customer identified by their unique customer ID. Ensure you provide all the necessary details for the debit card in the request body. Upon successful creation, the system will return the details of the newly created debit card.",
        "operationId": "createCustomerDebitCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new debit card associated with the customer identified by CUST-100045. It requires specific parameters to be sent in JSON format, ensuring that all essential details for the debit card creation are provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerDebitCardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Debit card created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerDebitCardResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerDebitCardRequest": {
        "title": "Debit Card Operations Request Body",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "DEV-201511"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the device being used.",
            "example": "STANDARD"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the device is assigned.",
            "example": "PARTY-863123"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the device.",
            "example": "STANDARD"
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for performing operations on debit cards for a specific customer.",
        "example": {
          "deviceId": "DEV-201511",
          "deviceType": "STANDARD",
          "assignedPartyId": "PARTY-863123",
          "serialNumber": "STANDARD",
          "deviceStatus": "ACTIVE",
          "requestContext": {
            "requestId": "e0cb32a7-7c53-58a2-99a1-a298b15859ef",
            "correlationId": "5e5a46ca-cfd4-544f-961b-b77519b7f489",
            "idempotencyKey": "2ccf0fe1-7e28-5c1a-b54c-3569ddd9df0a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-729638"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the operation is idempotent.",
            "example": "idempotency-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-17T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system that initiated the request.",
            "example": "banking-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originates.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-456"
          }
        },
        "description": "Details about the channel through which requests are made."
      },
      "CreateCustomerDebitCardResponse_201": {
        "title": "Debit Card Operation Response",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device associated with the debit card operation.",
            "example": "DEV-952491"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party assigned to the debit card.",
            "example": "PARTY-919819"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the debit card operation.",
            "example": "RES-340108"
          },
          "status": {
            "type": "string",
            "description": "Current status of the debit card operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the debit card operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the debit card operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a debit card operation.",
        "example": {
          "deviceId": "DEV-952491",
          "assignedPartyId": "PARTY-919819",
          "resourceId": "RES-340108",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1f3055aa-fd93-5b1a-8411-e95f5e1e3da7",
            "correlationId": "5e5a46ca-cfd4-544f-961b-b77519b7f489",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the debit card operation took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the debit card operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "This header uniquely identifies the endpoint being called, allowing for tracing and debugging of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-create-issued-device-administration"
        },
        "example": "issued-device-administration-create-issued-device-administration"
      },
      "x-runtime-app": {
        "description": "This header indicates the runtime application context in which the request is executed, providing insight into the environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      },
      "x-workflow-id": {
        "description": "This header specifies the unique identifier for the workflow associated with the current request, facilitating workflow tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "x-workflow-name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow execution (e.g., pending, completed, failed).",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the specific execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5fc08c5c-6dc4-4641-aa27-5364ff8a969f"
        },
        "example": "5fc08c5c-6dc4-4641-aa27-5364ff8a969f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Token) as a bearer token for authentication purposes. Clients must include the token in the authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}