{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Details Retrieval API",
    "description": "The Merchant Details Retrieval API enables users to access detailed information about specific merchants by their unique identifier. This API is crucial for applications requiring insight into merchant profiles, including their operational data, services offered, and contact information. Typical use cases include finance applications, e-commerce platforms, and third-party service providers seeking merchant data for integration. By utilizing this endpoint, developers can enhance user experiences with accurate and up-to-date merchant information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "get": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Retrieve details of a specific merchant.",
        "description": "This operation allows you to fetch the detailed information for a specific merchant identified by its unique ID. Use this endpoint to get necessary data for further operations or display in your application.",
        "operationId": "getMerchantById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving detailed information about a specific merchant. The payload must adhere to the expected schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved merchant information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantByIdRequest": {
        "title": "Merchant Operation Request Body",
        "type": "string",
        "description": "This schema defines the request body for merchant operations using a specific API endpoint.",
        "example": "{}"
      },
      "GetMerchantByIdResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-253731"
          },
          "business": {
            "description": "Details about the business operated by the merchant.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities offered by the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms related to the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving merchant details.",
        "example": {
          "merchantId": "MER-253731",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "4c2cd6e9-399e-5c14-86f9-2cb09ce2c8b8",
            "correlationId": "31c80aa0-b20b-5112-a1be-956f27521c85",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "Legal Business Name"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name of the business, if different from legal name.",
            "example": "Trading Business Name"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "REG123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number for the business.",
            "example": "TIN123456"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "United States"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of merchant (e.g., individual, company).",
            "example": "company"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code (MCC) for classification.",
            "example": "5734"
          }
        },
        "description": "Business information details."
      },
      "RegisteredAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the registered address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the registered address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "Los Angeles"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "90001"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "United States"
          }
        },
        "description": "Details about the registered address of the merchant."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for the merchant.",
            "example": "contact@merchant.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the merchant.",
            "example": "+123456789"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "https://www.merchant.com"
          }
        },
        "description": "Contact details of the merchant."
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels available for transactions.",
            "example": [
              "online",
              "in-store"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods accepted by the merchant.",
            "example": [
              "credit_card",
              "paypal"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if merchant supports partial capture.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if merchant supports partial refunds.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if merchant supports recurring payments.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum tip percentage allowed by the merchant.",
            "example": "15%"
          }
        },
        "description": "Capabilities offered by the merchant."
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the merchant's pricing plan.",
            "example": "pricing_plan_001"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees (merchant or customer).",
            "example": "merchant"
          },
          "paymentFee": {
            "description": "Details on payment fees associated with the merchant.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Commercial terms related to the merchant's operations."
      },
      "PaymentFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee (e.g., fixed, variable).",
            "example": "fixed"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage of the fee, if applicable.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "description": "Fixed amount fee structure.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Details about the payment fees charged to the merchant."
      },
      "FixedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the fee is expressed.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Fixed fee amount.",
            "example": "5.00"
          }
        },
        "description": "Fixed amount fee details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "correlation_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata regarding the response from the API."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-merchant"
        },
        "example": "banking-p2m-openapi-get-merchant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authorization. The expected format for the token is a JSON Web Token (JWT), which is commonly used for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}