{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Balances-spec",
    "description": "The List Account Balances API allows consumers to retrieve the current balances for specific accounts within a banking application. It provides essential financial data that can be utilized for account management and budgeting purposes. Typical users include financial analysts, personal finance applications, and banking services that need to present account balance information to customers. By utilizing this API, developers can enhance user experiences by providing real-time financial insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/balances": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Retrieve account balances for the specified AISP account.",
        "description": "This endpoint allows you to fetch the current balances of a specified account in the AISP system. You will receive detailed information about the balances, helping you understand the financial status of the account with ID ACC-200045.",
        "operationId": "listAccountBalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the balance information for a specific account identified by ACC-200045. Ensure that the request includes valid authentication and appropriate headers to access the required resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account balances.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountBalancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "_s_aisp_s_accounts_s_ACC-200045_s_balances_-_operations_-_get_-_requestbody_-_application_json": {
        "title": "Account Balances Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving balances of accounts in the AISP service.",
        "example": "string"
      },
      "ListAccountBalancesResponse_200": {
        "title": "Account Balances Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Balance": {
                "type": "array",
                "description": "List of balance records for the account.",
                "items": {
                  "$ref": "#/components/schemas/BalanceRecord"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource.",
                    "example": "https://api.example.com/self"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results.",
                    "example": "https://api.example.com/first"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results.",
                    "example": "https://api.example.com/prev"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results.",
                    "example": "https://api.example.com/next"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results.",
                    "example": "https://api.example.com/last"
                  }
                },
                "description": "Navigation links for the response."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time when the first record is available.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time when the last record is available.",
                    "example": "2023-12-31T00:00:00Z"
                  }
                },
                "description": "Meta information about the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "resp-12345"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "ID to correlate logs across services.",
                    "example": "corr-67890"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Date and time when the response was generated.",
                    "example": "2023-10-01T12:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the response was processed.",
                    "example": "EU"
                  }
                },
                "description": "Metadata related to the API response."
              }
            },
            "description": "Contains balance information related to the account.",
            "example": {
              "Balance": [
                {
                  "AccountId": "ACC-901872",
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "DateTime": "2026-09-15T14:30:00Z",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  },
                  "CreditLine": [
                    {
                      "Included": true,
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "LocalAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  }
                }
              ],
              "TotalValue": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          }
        },
        "description": "Response schema for retrieving account balances.",
        "example": {
          "Data": {
            "Balance": [
              {
                "AccountId": "ACC-901872",
                "CreditDebitIndicator": "STANDARD",
                "Type": "STANDARD",
                "DateTime": "2026-09-15T14:30:00Z",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                },
                "CreditLine": [
                  {
                    "Included": true,
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "LocalAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                }
              }
            ],
            "TotalValue": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "87281ae6-4ea3-5376-81e7-60b85bd7ab45",
            "correlationId": "6a157f54-9165-52ae-9d06-acde14c5f3b2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceRecord": {
        "title": "Balance Record",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-200045"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the balance is a credit or debit.",
            "example": "CREDIT"
          },
          "Type": {
            "type": "string",
            "description": "Type of balance record.",
            "example": "CURRENT"
          },
          "DateTime": {
            "type": "string",
            "description": "Date and time when the balance record was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the balance.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the amount is expressed.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-type of the amount, if applicable.",
                "example": "AVAILABLE"
              }
            },
            "description": "The amount associated with the balance record."
          },
          "CreditLine": {
            "type": "array",
            "description": "List of credit lines associated with the account.",
            "items": {
              "$ref": "#/components/schemas/CreditLine"
            }
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The local amount.",
                "example": "80.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the local amount.",
                "example": "EUR"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-type of the local amount, if applicable.",
                "example": "LOCAL"
              }
            },
            "description": "Amount expressed in the local currency."
          },
          "TotalValue": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The total amount.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the total amount.",
                "example": "USD"
              }
            },
            "description": "Total value of the balance record."
          }
        },
        "description": "Schema representing an individual balance record for an account."
      },
      "CreditLine": {
        "title": "Credit Line",
        "type": "object",
        "properties": {
          "Included": {
            "type": "boolean",
            "description": "Indicates if the credit line is included.",
            "example": false
          },
          "Type": {
            "type": "string",
            "description": "Type of credit line.",
            "example": "OVERDRAFT"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the credit line.",
                "example": "500.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the credit line amount.",
                "example": "USD"
              }
            },
            "description": "Amount of the credit line."
          }
        },
        "description": "Schema representing a credit line associated with an account balance record."
      },
      "ListAccountBalancesRequest": {
        "type": "string",
        "example": "{}"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier representing the endpoint for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-balances"
        },
        "example": "accounts-api-get-accounts-account-id-balances"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request. This helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be included in the 'Authorization' header as a 'Bearer' token. The format specified is JWT (JSON Web Token), which is a widely-used open standard for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}