{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Connect Component Configurations-spec",
    "description": "The Connect Component Configurations Retrieval API allows users to seamlessly access and retrieve configuration details for various connect components within the microservice architecture. This endpoint provides valuable insights into the settings and parameters that govern the behavior of connect components. Typical consumers include developers and system integrators looking to ensure that configurations are up to date and aligned with system requirements. Use this API to facilitate the management and auditing of connect component configurations effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "get": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Retrieve all configurations.",
        "description": "This endpoint allows you to retrieve a list of all available configurations. Use this to get details about your system's current configuration settings.",
        "operationId": "listConnectComponentConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving configurations. This may include necessary parameters or identifiers needed to filter or specify the configurations being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConnectComponentConfigurationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the configuration details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConnectComponentConfigurationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConnectComponentConfigurationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the configurations API.",
        "example": "{}"
      },
      "ListConnectComponentConfigurationsResponse_200": {
        "title": "Configurations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of configuration items.",
            "example": [
              {
                "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
                "filterAccounts": [
                  "STANDARD"
                ],
                "accountClassificationType": [
                  "STANDARD"
                ],
                "aoRequired": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConfigurationItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET configurations operation.",
        "example": {
          "items": [
            {
              "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
              "filterAccounts": [
                "STANDARD"
              ],
              "accountClassificationType": [
                "STANDARD"
              ],
              "aoRequired": true
            }
          ],
          "metadata": {
            "responseId": "c1ea2f3d-d65a-5b60-885f-c092dfab8afb",
            "correlationId": "b6753cf6-0be0-57bb-9fa8-0ed41d067631",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConfigurationItem": {
        "title": "Configuration Item",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the configuration item.",
            "example": "config-12345"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of account filters associated with the configuration item.",
            "items": {
              "type": "string",
              "example": "account-67890"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "Classification types for the account.",
            "items": {
              "type": "string",
              "example": "type-A"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates if account operation is required.",
            "example": false
          }
        },
        "description": "Represents an individual configuration item."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint associated with the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-configurations"
        },
        "example": "open-finance-api-get-configurations"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens, specifically JSON Web Tokens (JWT), for securely transmitting information between parties. Clients must include the token in the Authorization header when making requests to protected routes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}