{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Decisioning API",
    "description": "The Loan Application Decisioning API facilitates the processing and evaluation of loan applications. This API allows users to submit loan application details for automated decision-making regarding approval or rejection. Ideal for financial institutions and lending platforms, it streamlines the decision process, ensuring prompt responses to applicants. By leveraging this API, organizations can enhance operational efficiency and customer experience in their loan application workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Create a decision for a loan application.",
        "description": "This endpoint allows users to submit a decision for a specific loan application identified by its unique ID. The process includes evaluating the information provided in the loan application and returning the appropriate decision based on the defined criteria.",
        "operationId": "postLoanApplicationDecisionReserve100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a decision for the loan application identified by RES-100045. It contains the necessary details and parameters that define the decision being made. Please ensure that all required fields are properly filled out to avoid any processing errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLoanApplicationDecisionReserve100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created with the provided decision details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLoanApplicationDecisionReserve100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostLoanApplicationDecisionReserve100045Request": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source where the decision was derived from.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for the decision.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The estimated probability of default as a percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio of the applicant as a percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The details of the approved principal amount.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The approved term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The approved annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes associated with the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "001"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions associated with the decision.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Comments regarding the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "ID of the decision that this decision supersedes.",
            "example": "b8e4a0b7-4934-2767-1444-46494becc31b"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for loan application decision operations.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "b8e4a0b7-4934-2767-1444-46494becc31b",
          "requestContext": {
            "requestId": "f86c867d-0a78-57c3-822e-b8ce3ca2eef6",
            "correlationId": "f2d41724-9ab0-50c4-af48-d9d13c1de2d7",
            "idempotencyKey": "a7844bf0-f1e9-5f50-992d-37c517d5f686",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-426281"
            }
          }
        }
      },
      "ApprovedPrincipal": {
        "title": "Approved Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the approved principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The approved principal amount.",
            "example": "15000"
          }
        },
        "description": "Schema representing the approved loan principal amount."
      },
      "Condition": {
        "title": "Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code identifying the condition.",
            "example": "credit_check"
          },
          "description": {
            "type": "string",
            "description": "A description of the condition.",
            "example": "Must pass credit check."
          },
          "dueBefore": {
            "type": "string",
            "description": "Deadline by which the condition must be met.",
            "example": "2023-12-31"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "pending"
          }
        },
        "description": "Schema representing a condition that must be met for loan disbursement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-05T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system used to make the request.",
            "example": "Consumer Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from where the request originated.",
            "example": "Loan Application App"
          },
          "channel": {
            "description": "Channel information through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHAN123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV123456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PostLoanApplicationDecisionReserve100045Response_201": {
        "title": "Loan Application Decision Response",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made regarding the loan application (e.g., approved, denied).",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source from which the decision was derived.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates whether the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used in the decision-making process.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The percentage probability of default.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The percentage of debt to income ratio.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount that has been approved for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate (%) applied to the approved loan.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "A list of reason codes explaining the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "satisfactory credit history"
            }
          },
          "conditions": {
            "type": "array",
            "description": "A list of conditions that must be met before loan disbursement.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Additional comments regarding the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "The ID of the decision this decision supersedes, if applicable.",
            "example": "42a6c5b8-c5b1-6325-4612-2fa3d33a351a"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for this decision.",
            "example": "e8ae3f8c-81e0-1918-7103-cc26c593e637"
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp indicating when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "The identifier of the person or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the decision response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan application decision, detailing various outcomes of the decision process.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "42a6c5b8-c5b1-6325-4612-2fa3d33a351a",
          "id": "e8ae3f8c-81e0-1918-7103-cc26c593e637",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "fecb8321-cf20-5da2-b2f4-4dab4ad31d71",
            "correlationId": "f2d41724-9ab0-50c4-af48-d9d13c1de2d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the decision was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the creator of the decision.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the decision was last updated.",
            "example": "2023-10-05T15:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the updater of the decision.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the decision.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details of the decision."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata details associated with the decision response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": " uniquely identifies the API endpoint that was invoked during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-credit-decision"
        },
        "example": "banking-loans-openapi-create-credit-decision"
      },
      "X-Runtime-App": {
        "description": " indicates the runtime application version processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the authorization header of each request. The token is used to authenticate the user and ensure secure access to the API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}