{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Management API",
    "description": "The Cash Management API provides a comprehensive solution for managing cash flow and optimizing liquidity in trade banking operations. This API allows users to retrieve detailed information about cash management activities, such as account balances, transaction history, and forecasts. Typical consumers include financial analysts, treasury departments, and banking institutions looking to enhance their cash management processes. By utilizing this API, organizations can make informed decisions, improve cash visibility, and streamline financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-management/{param1}": {
      "get": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Retrieve account details for cash management.",
        "description": "This endpoint allows users to fetch the details of a specific cash management account identified by its unique identifier. The returned information includes account balance, transaction history, and other relevant account metrics to help users manage their finances effectively.",
        "operationId": "getAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the cash management operations of the specified account (ACC-200045). The data returned will include various details pertinent to the account's cash management services.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested cash management account data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountDetailsRequest": {
        "type": "string",
        "description": "A request body schema for the Get Operations request in Cash Management.",
        "example": "{}"
      },
      "GetAccountDetailsResponse_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-594209"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the facility associated with the cash management operation.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier for the counterparty involved in the operation.",
            "example": "PARTY-432221"
          },
          "amount": {
            "description": "The amount related to the cash management operation.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the facility, formatted as a date string.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating its current state.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated, formatted as a date-time string.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations related to cash management for a specific corporate customer.",
        "example": {
          "corporateCustomerId": "CUST-594209",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-432221",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ebf4242f-c7dd-58a6-9a1a-2a74265e7b19",
            "correlationId": "70e9bf15-17b9-5397-8e16-b5a78a97908f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The ISO 4217 currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency for a transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "US"
          }
        },
        "description": "Contains metadata details related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-management-and-account-services-get-cash-management-and-account-services"
        },
        "example": "cash-management-and-account-services-get-cash-management-and-account-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme defined in RFC 6750. A valid JSON Web Token (JWT) must be provided as part of the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}