{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Investment Portfolio Analysi Review-spec",
    "description": "The Investment Portfolio Analysis Review API facilitates the submission of reviews for investment portfolio analyses. This endpoint allows financial advisors and portfolio managers to enhance client investment strategies by providing detailed feedback on portfolio performance and analysis. Users can create comprehensive reviews that inform and guide future investment decisions, ultimately improving client satisfaction and investment outcomes. Typical consumers include investment firms and financial planners seeking to optimize their clients' portfolios based on thorough evaluations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://treasury-markets-app:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Investment Portfolio"
        ],
        "summary": "Submit a review for the investment portfolio analysis.",
        "description": "This endpoint allows you to submit a review for the specified investment portfolio analysis. Provide the required review details in the request body to ensure your feedback is captured and considered for future assessments.",
        "operationId": "createInvestmentPortfolioAnalysiReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new review for the investment portfolio analysis. This payload should contain all the necessary information regarding the review to be submitted, including user ratings and comments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentPortfolioAnalysiReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvestmentPortfolioAnalysiReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInvestmentPortfolioAnalysiReviewRequest": {
        "title": "Portfolio Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which includes the items being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An item included in the review scope.",
              "example": "Investment Returns"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the user assigned to perform the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for completing the review, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a portfolio review operation, including details such as review reason, scope, assigned reviewer, and request context.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "a4b16bf6-90eb-5f42-9602-e6fd67fd95d4",
            "correlationId": "61d3f9a4-ef39-50e2-878d-56f4c99802d5",
            "idempotencyKey": "50c982ec-9707-5270-bc3f-af09d2ad4507",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-998475"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "correlation-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotent-key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "PortfolioManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "InvestmentApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for a request, including identifiers, timestamps, and source information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-54321"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-98765"
          }
        },
        "description": "Schema representing information about the communication channel used for the request."
      },
      "CreateInvestmentPortfolioAnalysiReviewResponse_202": {
        "title": "Investment Portfolio Analysis Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Investment Portfolio Analysis Review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d9f3b11b-6611-5539-9941-16c1ca41b23f",
            "correlationId": "61d3f9a4-ef39-50e2-878d-56f4c99802d5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-051"
        },
        "example": "WF-051"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "95d59ed2-5575-44e3-a91c-042118b931c7"
        },
        "example": "95d59ed2-5575-44e3-a91c-042118b931c7"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f0b70304-53cb-45ac-ae5a-789a60370a16"
        },
        "example": "f0b70304-53cb-45ac-ae5a-789a60370a16"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-analysis-review-investment-portfolio-analysis"
        },
        "example": "investment-portfolio-analysis-review-investment-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "The unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-051"
        },
        "example": "WF-051"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Investment Account Opening and Suitability"
        },
        "example": "Investment Account Opening and Suitability"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f0b70304-53cb-45ac-ae5a-789a60370a16"
        },
        "example": "f0b70304-53cb-45ac-ae5a-789a60370a16"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, allowing secure access to the API via a JSON Web Token (JWT). This method ensures that user credentials are not transmitted with each request, enhancing security.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}