{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Credit Risk Management API",
    "description": "The Wholesale Trading Credit Risk Management API provides essential functionalities for assessing and managing credit risk in wholesale trading operations. This API allows users to access detailed credit risk assessments and analytics, facilitating informed decision-making related to credit exposures. Typical consumers of this API include risk management teams, traders, and financial analysts who require up-to-date information to mitigate potential risks. By leveraging this API, organizations can enhance their credit risk strategies and improve compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/credit-risk-operations": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve Credit Risk Operations Data",
        "description": "This endpoint allows you to retrieve data related to credit risk operations in wholesale trading. Use this to access detailed information, analyze trends, and make informed decisions based on credit risk assessments.",
        "operationId": "getCreditRiskOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is designed for the retrieval of credit risk operations within wholesale trading. It follows the structure defined in the schema and is intended to be sent as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditRiskOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit risk operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditRiskOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditRiskOperationsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation in the Credit Risk Operations API.",
        "example": "{}"
      },
      "GetCreditRiskOperationsResponse_200": {
        "title": "Credit Risk Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trading operations.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Credit Risk Operations API GET request.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ad3659a6-0f05-5442-8d1e-4c90141099bd",
            "correlationId": "174248ca-c1a0-5087-8028-ca1c60eae8ba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingOperation": {
        "title": "Trading Operation",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the operation is a buy or sell.",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units involved in the operation.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a trading operation in the system."
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details for a trading operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema providing additional metadata for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-operations-search-credit-risk-operations"
        },
        "example": "credit-risk-operations-search-credit-risk-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). Clients must include a bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}