{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Production Risk Models-spec",
    "description": "The Production Risk Models Retrieval API allows users to access a comprehensive list of production risk models utilized in the banking sector. This endpoint enables developers to retrieve detailed information about each model, facilitating risk assessment and management processes. Typical consumers include risk analysts and compliance officers who require insights into risk modeling for regulatory and operational purposes. By leveraging this API, organizations can enhance their understanding of production risk and ensure informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/production-risk-models": {
      "get": {
        "tags": [
          "Risk Management"
        ],
        "summary": "Retrieve production risk models",
        "description": "This endpoint allows users to fetch a list of all available production risk models, providing insights into risk assessments in production environments.",
        "operationId": "listModelProductionRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve production risk models. It allows the user to specify various parameters to filter the results based on their needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelProductionRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of production risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelProductionRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelProductionRiskModelsRequest": {
        "type": "string",
        "description": "Represents the request body for retrieving production risk models.",
        "example": "{}"
      },
      "ListModelProductionRiskModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of production risk model objects.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-507958",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductionRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the production risk models GET operation, containing a list of models, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-507958",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a04935f0-80f8-5db1-bd48-fa7a1f1e4622",
            "correlationId": "c2a609da-c01d-5a76-a4bb-01478115e223",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductionRiskModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "model123"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "v1.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the model.",
            "example": "portfolioA"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date the model is valid as of.",
            "example": "2023-10-01"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario the model relates to.",
            "example": "base"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model, represented as a percentage.",
            "example": 0.95
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validation.",
            "example": "validationDataset1"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months used for the backtesting window.",
            "format": "int32",
            "example": 12
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model.",
            "example": "approved"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the model was last updated.",
            "example": "2023-10-15T10:00:00Z"
          }
        },
        "description": "Schema representing information about a production risk model."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "responseXYZ"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response correlation.",
            "example": "correlationABC"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-15T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-risk-models-search-production-risk-models"
        },
        "example": "production-risk-models-search-production-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header of the request. The JWT should be obtained through an authentication process and provides a means to verify the identity of the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}