{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Workforce Contracts-spec",
    "description": "The Workforce Contracts Management API provides access to a comprehensive list of workforce contracts within the Human Resource Management domain. This endpoint allows users to retrieve detailed information about various contracts, including terms, durations, and associated personnel. It is designed for HR professionals, managers, and analytics teams who need to monitor and manage their workforce agreements effectively. By utilizing this API, organizations can streamline their contract oversight processes and ensure compliance with workforce regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-contracts": {
      "get": {
        "tags": [
          "Workforce Management"
        ],
        "summary": "Retrieve a list of workforce contracts.",
        "description": "This endpoint allows you to fetch all workforce contracts within the human resource management system, providing essential details for each contract.",
        "operationId": "listHumanResourceManagementWorkforceContracts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving workforce contracts within the human resource management system. This operation allows users to specify criteria for obtaining contract details, such as filters and pagination options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementWorkforceContractsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of workforce contracts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementWorkforceContractsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementWorkforceContractsRequest": {
        "type": "string",
        "description": "This schema represents the body of a request for retrieving workforce contracts within human resource management.",
        "example": "{}"
      },
      "ListHumanResourceManagementWorkforceContractsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of workforce contract items.",
            "example": [
              {
                "employeeId": "EMP-641338",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WorkforceContractItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on workforce contracts, containing a list of items and additional metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-641338",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8a142ec5-299a-56c7-8048-a71c961fb621",
            "correlationId": "0d25fda0-53e7-5849-b2cb-103050f96e75",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WorkforceContractItem": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee."
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment associated with the employee."
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department where the employee is assigned."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when this contract became effective."
          },
          "countryCode": {
            "type": "string",
            "description": "Country code representing the employee's work location."
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time)."
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager."
          },
          "workLocation": {
            "type": "string",
            "description": "Physical location where the employee works."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Represents an individual workforce contract item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response, indicating the page and total items."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-and-contractor-contract-search-employee-and-contractor-contract"
        },
        "example": "employee-and-contractor-contract-search-employee-and-contractor-contract"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, allowing clients to send a JSON Web Token (JWT) in the Authorization header of their HTTP requests to securely access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}