{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Business Direction By Param1-spec",
    "description": "The Business Direction Update API enables organizations to adjust their business strategies by providing updated parameters. This API allows users to modify product strategy based on a specific identifier, termed 'param1'. Typical consumers include product managers and business analysts who require rapid updates to align with shifting market needs. The PATCH operation is designed to facilitate partial updates, ensuring seamless integration into existing workflows. This API is vital for agile business environments that prioritize adaptability and real-time data-driven decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/product-strategy/{param1}": {
      "patch": {
        "tags": [
          "Product Strategy"
        ],
        "summary": "Update the product strategy for a specific product.",
        "description": "This endpoint allows for the modification of the product strategy associated with the specified product ID. Users can update various attributes of the product strategy to enhance or adjust its direction based on current business needs.",
        "operationId": "updateBusinessDirectionByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary details to update the product strategy for the specified business direction. It allows clients to specify adjustments or modifications to the existing strategy as per the required changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessDirectionByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBusinessDirectionByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBusinessDirectionByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object that contains changes to be made, including initiative details.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the change should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or entity that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "91ce990c-cf8c-541b-adef-050d51709344",
            "correlationId": "0d17f937-b9cd-5061-ae49-c58d3a0f5fb1",
            "idempotencyKey": "98ee9e19-3de7-580a-a4c8-85a8140c4f49",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809678"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The identifier of the initiative being changed.",
            "example": "string"
          },
          "sponsorId": {
            "type": "string",
            "description": "The identifier of the sponsor associated with the initiative.",
            "example": "string"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative.",
            "example": "string"
          }
        },
        "description": "An object representing the changes concerning an initiative."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details regarding the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request is made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "An object containing details about the channel used for the request."
      },
      "UpdateBusinessDirectionByParam1Response_200": {
        "title": "Product Strategy Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, represented as a string.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the Product Strategy operation, providing detailed information about the operation's result including version, status, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ba8f659-a181-5d31-953d-0042117784b6",
            "correlationId": "0d17f937-b9cd-5061-ae49-c58d3a0f5fb1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information regarding the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "products-and-services-direction-update-products-and-services-direction"
        },
        "example": "products-and-services-direction-update-products-and-services-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently in runtime handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This is a security scheme that uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}