{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loans Loan Application Applicant-v5-spec",
    "description": "MICROSERVICE-PROD-Create Loans Loan Application Applicant-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{loanApplicationId}/applicants": {
      "post": {
        "operationId": "createLoansLoanApplicationApplicant",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanApplicationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoansLoanApplicationApplicantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoansLoanApplicationApplicantResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoansLoanApplicationApplicantRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-808605"
          },
          "relationshipToPrimary": {
            "type": "string",
            "example": "STANDARD"
          },
          "income": {
            "type": "object",
            "properties": {
              "employmentType": {
                "type": "string",
                "example": "string"
              },
              "employerName": {
                "type": "string",
                "example": "string"
              },
              "occupation": {
                "type": "string",
                "example": "string"
              },
              "employmentStartDate": {
                "type": "string",
                "example": "string"
              },
              "businessRegistrationNumber": {
                "type": "string",
                "example": "string"
              },
              "grossMonthlyIncome": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "netMonthlyIncome": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "otherMonthlyIncome": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "employmentType": "STANDARD",
              "employerName": "Northstar Banking Service",
              "occupation": "STANDARD",
              "employmentStartDate": "2026-09-15",
              "businessRegistrationNumber": "STANDARD",
              "grossMonthlyIncome": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "netMonthlyIncome": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "otherMonthlyIncome": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          },
          "monthlyObligations": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "declaredAssets": {
            "type": "array",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "assetType": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "estimatedValue": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "cb6fbdc0-23db-522b-844b-b9bbd5216a0a",
              "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
              "idempotencyKey": "35fca5a1-b60c-58a6-bc82-b9521133a813",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-870058"
              }
            }
          }
        },
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-808605",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "requestContext": {
            "requestId": "cb6fbdc0-23db-522b-844b-b9bbd5216a0a",
            "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
            "idempotencyKey": "35fca5a1-b60c-58a6-bc82-b9521133a813",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-870058"
            }
          }
        }
      },
      "CreateLoansLoanApplicationApplicantResponse_201": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-803828"
          },
          "relationshipToPrimary": {
            "type": "string",
            "example": "STANDARD"
          },
          "income": {
            "type": "object",
            "properties": {
              "employmentType": {
                "type": "string",
                "example": "string"
              },
              "employerName": {
                "type": "string",
                "example": "string"
              },
              "occupation": {
                "type": "string",
                "example": "string"
              },
              "employmentStartDate": {
                "type": "string",
                "example": "string"
              },
              "businessRegistrationNumber": {
                "type": "string",
                "example": "string"
              },
              "grossMonthlyIncome": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "netMonthlyIncome": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "otherMonthlyIncome": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "verificationStatus": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "employmentType": "STANDARD",
              "employerName": "Northstar Banking Service",
              "occupation": "STANDARD",
              "employmentStartDate": "2026-09-15",
              "businessRegistrationNumber": "STANDARD",
              "grossMonthlyIncome": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "netMonthlyIncome": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "otherMonthlyIncome": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "verificationStatus": "VERIFIED"
            }
          },
          "monthlyObligations": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "declaredAssets": {
            "type": "array",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "assetType": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "estimatedValue": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "liabilityType": {
                  "type": "string",
                  "example": "string"
                },
                "lenderName": {
                  "type": "string",
                  "example": "string"
                },
                "outstandingBalance": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "monthlyPayment": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "id": {
            "type": "string",
            "example": "19a7cd96-3d26-51cd-2465-ebb96e6913de"
          },
          "creditBureauStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "fbf4edde-7cc5-56ed-b552-bce2ace861ec",
              "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-803828",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "19a7cd96-3d26-51cd-2465-ebb96e6913de",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "fbf4edde-7cc5-56ed-b552-bce2ace861ec",
            "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanApplicationId": {
        "name": "loanApplicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-applicant"
        },
        "example": "banking-loans-openapi-create-applicant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}