{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mutual Fund Administration API",
    "description": "The Mutual Fund Administration API facilitates management and administrative operations associated with mutual funds. This API allows financial institutions to perform critical tasks such as processing transactions, managing investor portfolios, and handling fund distributions. Typical consumers include banks, asset management companies, and financial service providers looking to streamline their mutual fund operations. By integrating this API, businesses can enhance their service offerings and improve operational efficiency in fund management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/mutual-fund-administration": {
      "post": {
        "tags": [
          "Mutual Fund Operations"
        ],
        "summary": "Create a new mutual fund administration operation.",
        "description": "This endpoint allows you to create a new mutual fund administration operation, enabling the management of mutual fund-related activities effectively. Ensure that you provide all the necessary details in the request body for successful operation creation.",
        "operationId": "createMutualFundAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate mutual fund administration operations. It should contain all necessary details required to process the request according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMutualFundAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successful, and the resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMutualFundAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMutualFundAdministrationRequest": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier of the mutual fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "The unique identifier for the share class of the mutual fund.",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date for which the valuation is being processed, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The total number of units outstanding for the mutual fund.",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "description": "The identifier for the administrator managing the fund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for posting operations related to mutual fund administration.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "requestContext": {
            "requestId": "ca072459-c7c4-5101-8ca9-e937a0a23c9d",
            "correlationId": "ac47983e-aad6-59f8-b6bb-f8f48edd513a",
            "idempotencyKey": "722bb513-0404-5fcf-8c82-7e23d8d2e881",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-176423"
            }
          }
        }
      },
      "NetAssetValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of net asset value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the net asset value is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the net asset value including its amount and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to track the correlation between events.",
            "example": "CORR654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the operation is idempotent.",
            "example": "IDEMPOTENTKEY"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-20T10:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that generated the request.",
            "example": "ExternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "ClientApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel through which the request was made.",
            "example": "CH123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEVICE789"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateMutualFundAdministrationResponse_201": {
        "title": "Mutual Fund Administration Response",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the mutual fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "The identifier for the specific share class within the mutual fund.",
            "example": "STANDARD"
          },
          "administratorId": {
            "type": "string",
            "description": "The unique identifier for the administrator of the mutual fund.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the operation.",
            "example": "RES-245425"
          },
          "status": {
            "type": "string",
            "description": "The current status of the mutual fund operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "A timestamp indicating when the mutual fund operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the mutual fund operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response from the Mutual Fund Administration operation that succeeded with a 201 status code.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "administratorId": "STANDARD",
          "resourceId": "RES-245425",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5b5f35b2-e34b-5746-ba23-1dece2abb22b",
            "correlationId": "ac47983e-aad6-59f8-b6bb-f8f48edd513a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP_7890"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to track the request across services.",
            "example": "CORR_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "Contains additional information about the response, including processing and correlation details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint being accessed. It is used to trace the requests within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mutual-fund-administration-create-mutual-fund-administration"
        },
        "example": "mutual-fund-administration-create-mutual-fund-administration"
      },
      "X-Runtime-App": {
        "description": "This header provides information about the runtime application handling the request. It helps in identifying the context of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, which requires the client to include a JWT (JSON Web Token) in the Authorization header of each request to authenticate and authorize access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}