{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Enterprise Services Fixed Asset Register-v5-spec",
    "description": "The Fixed Asset Register Management API enables financial institutions to efficiently update and manage their fixed asset records. This API facilitates the modification of asset details, ensuring accuracy and compliance with financial regulations. Typical consumers include banking operations teams and asset management software, who utilize this service for maintaining up-to-date asset information. Organizations can streamline their asset management processes while optimizing resource allocation and reporting through this powerful tool.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register": {
      "put": {
        "tags": [
          "Fixed Asset Management"
        ],
        "summary": "Update an existing fixed asset register.",
        "description": "This operation allows you to update the details of a fixed asset register. You can modify asset information such as value, location, and status to keep the register up to date.",
        "operationId": "replaceBankingEnterpriseServicesFixedAssetRegister",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the details required to update a fixed asset in the register. The data should conform to the specified schema to ensure correct processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingEnterpriseServicesFixedAssetRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingEnterpriseServicesFixedAssetRegisterResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingEnterpriseServicesFixedAssetRegisterRequest": {
        "title": "Fixed Asset Register Update Request",
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "assetClass": {
            "type": "string",
            "description": "The class/type of the asset.",
            "example": "STANDARD"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "The date when the asset was acquired.",
            "example": "2026-09-15"
          },
          "acquisitionCost": {
            "description": "The cost associated with acquiring the asset.",
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "The expected useful life of the asset in months.",
            "format": "int32",
            "example": 1
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the asset.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating fixed asset register operations.",
        "example": {
          "assetId": "STANDARD",
          "assetClass": "STANDARD",
          "acquisitionDate": "2026-09-15",
          "acquisitionCost": {
            "amount": 100.0,
            "currency": "USD"
          },
          "usefulLifeMonths": 1,
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "646125b8-01fc-552b-9ef1-01bc04737c6d",
            "correlationId": "bb5d610f-ac2f-5596-a63b-21045e7d91aa",
            "idempotencyKey": "18c1c79d-5714-5f92-a847-0c976ae29201",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-482579"
            }
          }
        }
      },
      "AcquisitionCost": {
        "title": "Acquisition Cost",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the acquisition cost.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the acquisition cost is denoted.",
            "example": "string"
          }
        },
        "description": "Schema representing the cost of acquiring an asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs across distributed systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to identify if an operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual details about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used in the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used in the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "ReplaceBankingEnterpriseServicesFixedAssetRegisterResponse_200": {
        "title": "Fixed Asset Register Update Response",
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset being updated.",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "description": "The version of the asset record after the update.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the asset after the update.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the asset was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssetUpdateMetadata"
          }
        },
        "description": "Response schema for the successful update of a fixed asset in the asset register.",
        "example": {
          "assetId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "329d78c8-8d07-5946-a156-584a03fd8cae",
            "correlationId": "bb5d610f-ac2f-5596-a63b-21045e7d91aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssetUpdateMetadata": {
        "title": "Asset Update Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response related to the update operation.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses in distributed systems.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the asset update was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the asset update operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-upsert-fixed-asset-register"
        },
        "example": "fixed-asset-register-upsert-fixed-asset-register"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses Bearer tokens to authenticate requests. Tokens must be provided in the Authorization header as a 'Bearer [token]' string format. JSON Web Tokens (JWT) are the preferred format for the tokens.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}