{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Products-spec",
    "description": "The Account Product Information Retrieval API allows users to access detailed information about the financial products associated with a specific bank account. By providing an account ID, consumers can retrieve a comprehensive list of products, enhancing their understanding of available services. This API is particularly useful for financial institutions, advisors, and customers who require insights into banking options linked to their accounts. Use cases include aiding in product comparisons and making informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/product": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve product details for a specific AISP account.",
        "description": "Fetch the product information associated with the AISP account identified by ACC-200045. This endpoint allows you to gather insights about the product offerings available for this account, including features and specifications.",
        "operationId": "listAccountProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product information related to the account with ID ACC-200045. This body may include filters or specific fields to customize the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning account product details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountProductsRequest": {
        "type": "string",
        "description": "This schema represents the Request Body for the GET operation on an account product.",
        "example": "{}"
      },
      "ListAccountProductsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Product": {
                "type": "array",
                "description": "List of products associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "Contains product-related information.",
            "example": {
              "Product": [
                {
                  "name": "Northstar Banking Service",
                  "id": "STANDARD",
                  "AccountId": "ACC-762879",
                  "SecondaryProductId": "PROD-761452",
                  "type": "STANDARD",
                  "MarketingStateId": "STANDARD",
                  "OtherProductType": {
                    "Name": "Northstar Banking Service",
                    "Description": "Customer banking request processed successfully",
                    "ProductDetails": {
                      "Segment": [
                        "STANDARD"
                      ],
                      "FeeFreeLength": 1,
                      "FeeFreeLengthPeriod": "STANDARD",
                      "MonthlyMaximumCharge": "STANDARD",
                      "Notes": [
                        "STANDARD"
                      ],
                      "OtherSegment": {
                        "Code": "SUCCESS",
                        "Name": "Northstar Banking Service",
                        "Description": "Customer banking request processed successfully"
                      }
                    },
                    "CreditInterest": {
                      "TierBandSet": [
                        {
                          "TierBandMethod": "STANDARD",
                          "CalculationMethod": "STANDARD",
                          "Destination": "STANDARD",
                          "Notes": [
                            "STANDARD"
                          ],
                          "OtherCalculationMethod": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "OtherDestination": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "TierBand": [
                            {
                              "Identification": "STANDARD",
                              "TierValueMinimum": "STANDARD",
                              "TierValueMaximum": "STANDARD",
                              "CalculationFrequency": "STANDARD",
                              "ApplicationFrequency": "STANDARD",
                              "DepositInterestAppliedCoverage": "STANDARD",
                              "FixedVariableInterestRateType": "STANDARD",
                              "AER": "STANDARD",
                              "BankInterestRateType": "STANDARD"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to trace the request-response cycle.",
                "example": "corr-456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-10T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "4b42ce10-d693-5187-908e-b6797069e55a",
              "correlationId": "f08d19f3-d3fc-52dd-b693-760678fb1618",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving product details associated with an account.",
        "example": {
          "Data": {
            "Product": [
              {
                "name": "Northstar Banking Service",
                "id": "STANDARD",
                "AccountId": "ACC-762879",
                "SecondaryProductId": "PROD-761452",
                "type": "STANDARD",
                "MarketingStateId": "STANDARD",
                "OtherProductType": {
                  "Name": "Northstar Banking Service",
                  "Description": "Customer banking request processed successfully",
                  "ProductDetails": {
                    "Segment": [
                      "STANDARD"
                    ],
                    "FeeFreeLength": 1,
                    "FeeFreeLengthPeriod": "STANDARD",
                    "MonthlyMaximumCharge": "STANDARD",
                    "Notes": [
                      "STANDARD"
                    ],
                    "OtherSegment": {
                      "Code": "SUCCESS",
                      "Name": "Northstar Banking Service",
                      "Description": "Customer banking request processed successfully"
                    }
                  },
                  "CreditInterest": {
                    "TierBandSet": [
                      {
                        "TierBandMethod": "STANDARD",
                        "CalculationMethod": "STANDARD",
                        "Destination": "STANDARD",
                        "Notes": [
                          "STANDARD"
                        ],
                        "OtherCalculationMethod": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "OtherDestination": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "TierBand": [
                          {
                            "Identification": "STANDARD",
                            "TierValueMinimum": "STANDARD",
                            "TierValueMaximum": "STANDARD",
                            "CalculationFrequency": "STANDARD",
                            "ApplicationFrequency": "STANDARD",
                            "DepositInterestAppliedCoverage": "STANDARD",
                            "FixedVariableInterestRateType": "STANDARD",
                            "AER": "STANDARD",
                            "BankInterestRateType": "STANDARD"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "4b42ce10-d693-5187-908e-b6797069e55a",
            "correlationId": "f08d19f3-d3fc-52dd-b693-760678fb1618",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Savings Account"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the product.",
            "example": "prod-123"
          },
          "AccountId": {
            "type": "string",
            "description": "Identifier of the associated account.",
            "example": "acc-456"
          },
          "SecondaryProductId": {
            "type": "string",
            "description": "Identifier for any secondary products.",
            "example": "prod-sec-789"
          },
          "type": {
            "type": "string",
            "description": "Type or category of the product.",
            "example": "savings"
          },
          "MarketingStateId": {
            "type": "string",
            "description": "Identifier for the marketing state of the product.",
            "example": "state-abc"
          },
          "OtherProductType": {
            "$ref": "#/components/schemas/OtherProductType"
          }
        },
        "description": "Schema representing a product associated with an account."
      },
      "OtherProductType": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "Name of the other product type.",
            "example": "Special Savings"
          },
          "Description": {
            "type": "string",
            "description": "Description of the other product type.",
            "example": "A savings account with special conditions."
          },
          "ProductDetails": {
            "$ref": "#/components/schemas/ProductDetails"
          }
        },
        "description": "Schema representing additional types of products."
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "Segment": {
            "type": "array",
            "description": "List of segments related to the product.",
            "items": {
              "type": "string",
              "example": "Retail"
            }
          },
          "FeeFreeLength": {
            "type": "integer",
            "description": "Length of fee-free period in months.",
            "format": "int32",
            "example": 0
          },
          "FeeFreeLengthPeriod": {
            "type": "string",
            "description": "Period unit for the fee-free length.",
            "example": "months"
          },
          "MonthlyMaximumCharge": {
            "type": "string",
            "description": "Maximum monthly charge for the product.",
            "example": "$5"
          },
          "Notes": {
            "type": "array",
            "description": "Additional notes for the product.",
            "items": {
              "type": "string",
              "example": "No annual fee"
            }
          },
          "OtherSegment": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Code identifying the segment.",
                "example": "001"
              },
              "Name": {
                "type": "string",
                "description": "Name of the segment.",
                "example": "Investment"
              },
              "Description": {
                "type": "string",
                "description": "Description of the segment.",
                "example": "Investment product segment"
              }
            },
            "description": "Additional segment related to the product."
          }
        },
        "description": "Details about a product's features and characteristics."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-product"
        },
        "example": "accounts-api-get-accounts-account-id-product"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token format, specifically JSON Web Tokens (JWT). This scheme allows for secure transmission of information between parties as a JSON object. The Bearer token must be included in the **Authorization** header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}