{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Account Management By Param1-spec",
    "description": "The Securities Position Management API provides users with access to detailed information regarding account securities positions based on specific parameters. This API enables financial institutions and brokerage firms to obtain crucial data necessary for effective portfolio management and reporting. Typical consumers of this API are financial analysts, wealth managers, and any applications that require real-time insights into securities held in client accounts. By utilizing this API, users can streamline their operations and enhance decision-making processes related to investment portfolios.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping/{param1}": {
      "get": {
        "tags": [
          "Securities Management"
        ],
        "summary": "Retrieve a specific securities position.",
        "description": "This endpoint allows you to retrieve detailed information about a specific securities position identified by its unique ID. This is useful for checking the status and details of that securities position in the account management system.",
        "operationId": "getAccountManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the securities position keeping details for the specified account. The body must adhere to the JSON schema defined for this operation, ensuring that all necessary fields are provided for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the securities position.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the JSON payload expected for the request body in the GET operation regarding securities position keeping.",
        "example": "{}"
      },
      "GetAccountManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "ACC-207123"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the account.",
            "example": "CUST-655104"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger record.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the ledger balance is denominated.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The total balance in the ledger.",
            "example": 100.0
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The unique identifier of the safekeeping account.",
            "example": "ACC-143283"
          },
          "custodyLocation": {
            "type": "string",
            "description": "The geographical location where the custody account is held.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of positions held in the account.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating whether it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "accountId": "ACC-207123",
          "customerId": "CUST-655104",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "safekeepingAccountId": "ACC-143283",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8a7f183e-2457-5636-bdd0-66e62acdbd92",
            "correlationId": "71b14b0e-e2fb-5c60-98e4-67868c426133",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs for the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "A container for holding metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that was called. This header indicates which endpoint was accessed during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-get-securities-position-keeping"
        },
        "example": "securities-position-keeping-get-securities-position-keeping"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This header assists in identifying which service processed the operation, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, commonly used with JSON Web Tokens (JWT) for securing API endpoints. The client must include a valid token in the Authorization header in the format 'Bearer {token}' to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}