{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Risk Models API",
    "description": "The Business Risk Models API provides access to various banking risk models that help assess business-related financial risks. Users can retrieve detailed insights and analytics about specific business risk models, enabling better decision-making and risk management. This API is essential for financial analysts, risk managers, and banking institutions aiming to enhance their risk assessment processes. It supports a range of typical use cases, including compliance monitoring, loan underwriting, and strategic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/business-risk-models/{param1}": {
      "get": {
        "tags": [
          "Business Risk Model"
        ],
        "summary": "Retrieve a specific business risk model.",
        "description": "This endpoint allows users to fetch detailed information about a specific business risk model identified by its unique identifier, enabling users to understand the intricacies and parameters associated with that model.",
        "operationId": "getBusinessRiskModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information regarding business risk models. Each parameter contributes to filtering and determining the specific business risk model to be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessRiskModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the business risk model details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessRiskModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessRiskModelRes100045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the Operations GET request related to business risk models.",
        "example": "{}"
      },
      "GetBusinessRiskModelRes100045Response_200": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the risk model.",
            "example": "PORT-464574"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applicable.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario under which the risk model was assessed.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The level of confidence in the model's predictions, ranging from 0 to 1.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The identifier for the dataset used to validate the risk model.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months used for backtesting the model.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "The current approval status of the risk model.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record within the model.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response model.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the model was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier of the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracing the response.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the response was processed.",
                "example": "string"
              }
            },
            "description": "Contains additional metadata related to the response.",
            "example": {
              "responseId": "424db47f-cbf3-5d63-8d51-ba1740457283",
              "correlationId": "c03fdb5f-e4ee-545e-8362-0ea1a295fd5d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response model containing business risk information for operations.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-464574",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "424db47f-cbf3-5d63-8d51-ba1740457283",
            "correlationId": "c03fdb5f-e4ee-545e-8362-0ea1a295fd5d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-risk-models-get-business-risk-models"
        },
        "example": "business-risk-models-get-business-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of requests. The JWT should be obtained through a login process and must be sent for each request that requires authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}