{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Application Offers-spec",
    "description": "The Loan Application Offers Retrieval API enables authorized users to obtain a list of loan offers associated with a specific loan application. This endpoint is designed for financial institutions and loan officers who need to review and present different financing options to applicants. By providing detailed information about various offers, it supports informed decision-making and enhances the customer experience. Typical use cases include assessing loan choices for clients and comparing terms and rates effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers": {
      "get": {
        "tags": [
          "Loan Application Management"
        ],
        "summary": "Retrieve loan offers for a specific loan application.",
        "description": "This endpoint allows you to fetch loan offers associated with a given loan application ID. It provides the details about the offers available for the specified application, enabling users to evaluate different loan options.",
        "operationId": "listLoanApplicationOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve offers for a specific loan application identified by RES-100045. The payload conforms to the expected schema and ensures that all necessary parameters are provided to process the request correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanApplicationOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan offers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanApplicationOffersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanApplicationOffersRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the loan applications offers operation in JSON format.",
        "example": "{}"
      },
      "ListLoanApplicationOffersResponse_200": {
        "title": "Loan Application Offers Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of loan offers associated with the application.",
            "example": [
              {
                "offerType": "STANDARD",
                "approvedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "termMonths": 1,
                "annualInterestRatePercent": "STANDARD",
                "annualPercentageRatePercent": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "estimatedInstallment": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "originationFee": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "insurancePremium": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "validUntil": "2026-08-11T12:00:00Z",
                "conditions": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "dueBefore": "STANDARD",
                    "status": "ACTIVE"
                  }
                ],
                "disclosures": [
                  "STANDARD"
                ],
                "id": "c1988515-492b-3f71-2b29-46f1879a3e78",
                "offerNumber": "STANDARD",
                "status": "ACTIVE",
                "issuedAt": "2026-08-11T12:00:00Z",
                "acceptedAt": "2026-08-11T12:00:00Z",
                "acceptedByCustomerId": "CUST-470197",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanOffer"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response format for loan application offers, containing a list of offers and associated metadata.",
        "example": {
          "items": [
            {
              "offerType": "STANDARD",
              "approvedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "termMonths": 1,
              "annualInterestRatePercent": "STANDARD",
              "annualPercentageRatePercent": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "estimatedInstallment": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "originationFee": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "insurancePremium": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "validUntil": "2026-08-11T12:00:00Z",
              "conditions": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "dueBefore": "STANDARD",
                  "status": "ACTIVE"
                }
              ],
              "disclosures": [
                "STANDARD"
              ],
              "id": "c1988515-492b-3f71-2b29-46f1879a3e78",
              "offerNumber": "STANDARD",
              "status": "ACTIVE",
              "issuedAt": "2026-08-11T12:00:00Z",
              "acceptedAt": "2026-08-11T12:00:00Z",
              "acceptedByCustomerId": "CUST-470197",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "890ef25c-a1cb-5280-9d27-889875925a64",
            "correlationId": "6bcd903c-6d4e-5aa0-b1ad-ffb1424b7f5a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanOffer": {
        "title": "Loan Offer",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of the loan offer.",
            "example": "personal"
          },
          "approvedPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 24
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage.",
            "example": "5.0"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate as a percentage, including fees.",
            "example": "5.5"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment (e.g., monthly, biweekly).",
            "example": "monthly"
          },
          "estimatedInstallment": {
            "$ref": "#/components/schemas/Money"
          },
          "originationFee": {
            "$ref": "#/components/schemas/Money"
          },
          "insurancePremium": {
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "description": "The expiration date of the offer.",
            "example": "2023-12-31"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions associated with the loan offer.",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Disclosures relating to the loan offer.",
            "items": {
              "type": "string",
              "example": "This is a disclosure."
            }
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan offer.",
            "example": "offer123"
          },
          "offerNumber": {
            "type": "string",
            "description": "The offer number associated with the loan.",
            "example": "LN-456789"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan offer (e.g., active, accepted).",
            "example": "active"
          },
          "issuedAt": {
            "type": "string",
            "description": "The timestamp indicating when the offer was issued.",
            "example": "2023-01-01T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp indicating when the offer was accepted.",
            "example": "2023-01-15T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The unique identifier of the customer who accepted the offer.",
            "example": "customer123"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Details of a loan offer including financial details, conditions, and audit information."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000.00"
          }
        },
        "description": "A monetary value with an associated currency."
      },
      "Condition": {
        "title": "Loan Offer Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code identifying the condition.",
            "example": "C001"
          },
          "description": {
            "type": "string",
            "description": "A description of the condition.",
            "example": "Customer must provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date before which the condition must be satisfied.",
            "example": "2023-12-31"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition (e.g., pending, completed).",
            "example": "pending"
          }
        },
        "description": "Conditions associated with the loan offer."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the offer was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the offer.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the offer was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the offer.",
            "example": "system"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information regarding the audit history of the loan offer."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the loan application offer request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-offers"
        },
        "example": "banking-loans-openapi-list-loan-offers"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was executed, providing context for the request's source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) as bearer tokens. Clients must include this token in the `Authorization` header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}