{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Products Management API",
    "description": "The Loan Products Management API enables businesses to create and manage various loan product offerings efficiently. This API allows users to submit new loan product details, ensuring flexibility in adapting to market needs. Ideal for financial institutions and lending platforms, the API streamlines the process of adding customized loan products for different customer segments. This enhances the overall service portfolio and enables better engagement with clients seeking tailored lending solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new loan product",
        "description": "This endpoint allows you to create a new loan product in the system. You need to provide the necessary details for the loan product in the request body. Upon successful creation, the loan product will be available for further operations.",
        "operationId": "createLoanProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new loan product. It contains all the necessary attributes required to define the loan product and its specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanProductResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanProductRequest": {
        "title": "Loan Product Request Body",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code identifying the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "Name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "Type of the loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan product is denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "Minimum term length in months for the loan.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "Maximum term length in months for the loan.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate for the loan.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "Code for the base interest rate.",
            "example": "CODE-489"
          },
          "marginPercent": {
            "type": "string",
            "description": "Margin percentage added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "Maximum loan to value ratio as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Eligibility criteria details for the loan.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "requestContext": {
            "description": "Context of the request including metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a loan product.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-489",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1
          },
          "requestContext": {
            "requestId": "e9fd069a-16a1-56e6-b381-67af3b715183",
            "correlationId": "65f5f0ee-013f-5e28-bc3f-d95b83259c3b",
            "idempotencyKey": "06489918-74a1-5f63-8205-9e20f100f2fa",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-688928"
            }
          }
        }
      },
      "PrincipalAmount": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the principal in the specified currency.",
            "example": "15000"
          }
        },
        "description": "Schema representing the principal amount with currency."
      },
      "EligibilityCriteria": {
        "title": "Eligibility Criteria",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "Minimum age of the applicant.",
            "format": "int32",
            "example": 21
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "Maximum age of the applicant at the time of loan maturity.",
            "format": "int32",
            "example": 65
          }
        },
        "description": "Schema representing the eligibility criteria for the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-1"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-1"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "loan-app"
          },
          "channel": {
            "description": "Details of the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel details from which the request came."
      },
      "CreateLoanProductResponse_201": {
        "title": "Loan Product Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code for the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type/category of the loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan is offered.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate for the loan.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code for the base interest rate.",
            "example": "CODE-278"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin added to the base rate as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments required for the loan.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured or unsecured.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "The eligibility criteria for applicants of the loan.",
            "$ref": "#/components/schemas/LoanEligibility"
          },
          "fees": {
            "type": "array",
            "description": "The associated fees for the loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanFee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "60a19e98-d743-486a-5a81-c6d61eb813aa"
          },
          "audit": {
            "description": "Audit information related to the loan product.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the loan product.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "This schema represents the response structure for loan product creation operations, detailing the various attributes and settings for the loan product.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-278",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "60a19e98-d743-486a-5a81-c6d61eb813aa",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "3f037037-cda8-5a12-9d95-0bf0bd6602b3",
            "correlationId": "65f5f0ee-013f-5e28-bc3f-d95b83259c3b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amount is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the loan.",
            "example": "10000"
          }
        },
        "description": "Represents the amount of a loan including its currency."
      },
      "LoanEligibility": {
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at the time of loan maturity.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income required for eligibility.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "The types of employment that are acceptable for eligibility.",
            "example": [
              "salaried",
              "self-employed"
            ],
            "items": {
              "type": "string"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "List of countries where applicants must be residents.",
            "example": [
              "US",
              "CA"
            ],
            "items": {
              "type": "string"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required for eligibility.",
            "format": "int32",
            "example": 600
          }
        },
        "description": "Defines the eligibility criteria for loan applicants."
      },
      "LoanFee": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code for the fee.",
            "example": "FEE123"
          },
          "name": {
            "type": "string",
            "description": "The name of the fee.",
            "example": "Application Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the fee (e.g., flat, percent).",
            "example": "flat"
          },
          "amount": {
            "description": "The amount of the fee, including currency.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "percent": {
            "type": "string",
            "description": "The percentage applicable for fees calculated as a percentage.",
            "example": "0"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates whether the fee is capitalized.",
            "example": false
          }
        },
        "description": "Represents a fee associated with a loan product."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the loan product was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Information related to the audit of the loan product."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique ID of the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "NA"
          }
        },
        "description": "Metadata related to the loan product response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-product"
        },
        "example": "banking-loans-openapi-create-loan-product"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme defined in RFC 6750. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}