{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Business Direction Enterprise Architecture Operations E Create Enterprise Architectures-v5-spec",
    "description": "The Enterprise Architecture Insights API enables users to access detailed information on specific enterprise architectures within the banking sector. By leveraging the unique `enterpriseArchitectureId`, stakeholders can retrieve key operational insights necessary for strategic decision-making and system integration. Typical consumers of this API include business analysts, system architects, and project managers who are involved in shaping enterprise-level strategies. This API serves as a vital resource for enhancing understanding and alignment in enterprise architecture practices across financial institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture/{enterpriseArchitectureId}/operations/e-create-enterprise-architecture": {
      "get": {
        "tags": [
          "Enterprise Architecture"
        ],
        "summary": "Retrieve the creation operation for enterprise architecture.",
        "description": "This operation retrieves details about the creating enterprise architecture process for a specific resource identified by RES-100045. It allows developers to understand how to initiate or manage the enterprise architecture creation.",
        "operationId": "listBankingBusinessDirectionEnterpriseArchitectureOperationsECreateEnterpriseArchitectures",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/enterpriseArchitectureId"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new enterprise architecture operation using the specified attributes. This should include all necessary data that defines the operation, formatted as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingBusinessDirectionEnterpriseArchitectureOperationsECreateEnterpriseArchitecturesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the enterprise architecture resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingBusinessDirectionEnterpriseArchitectureOperationsECreateEnterpriseArchitecturesResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingBusinessDirectionEnterpriseArchitectureOperationsECreateEnterpriseArchitecturesRequest": {
        "type": "string",
        "description": "This schema represents the request body for creating an enterprise architecture operation. It is expected to be a string that contains the necessary information for the operation.",
        "example": "{}"
      },
      "ListBankingBusinessDirectionEnterpriseArchitectureOperationsECreateEnterpriseArchitecturesResponse_201": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the initiative.",
            "example": "RES-796413"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative (e.g., 'active', 'completed').",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the initiative was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the initiative.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating an enterprise architecture initiative.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "resourceId": "RES-796413",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0e58b91e-7387-5d40-8b29-4014f4ad3028",
            "correlationId": "4e58a56f-e2e7-54a8-bf87-fd843faed43e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-101"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "correlation-202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the response of the initiative."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "enterpriseArchitectureId": {
        "name": "enterpriseArchitectureId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-create-enterprise-architecture"
        },
        "example": "enterprise-architecture-create-enterprise-architecture"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Enterprise Strategy Architecture and Business Unit Planning"
        },
        "example": "Enterprise Strategy Architecture and Business Unit Planning"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dedcbc58-8326-4043-8a92-3a953bd82bbb"
        },
        "example": "dedcbc58-8326-4043-8a92-3a953bd82bbb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, which is a JSON Web Token (JWT) that allows access to secured endpoints. The token must be included in the `Authorization` header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}