{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Investment Management By Param1-spec",
    "description": "The Investment Management Retrieval API facilitates access to current investment management data based on specified parameters. By using this API, developers can efficiently retrieve critical information related to e-trading workbench activities tailored to a specific identifier. Typical consumers of this API include financial analysts and trading platforms seeking to enhance their operational insights and reporting capabilities. The API streamlines the decision-making process by providing timely and relevant investment management information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/e-trading-workbench/{param1}": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve Investment Management E-Trading Workbench data",
        "description": "This endpoint allows users to retrieve specific data related to the Investment Management E-Trading Workbench with identifier RES-100045. It provides comprehensive details for effective investment management and decision-making.",
        "operationId": "getInvestmentManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving data from the e-trading workbench. This request contains necessary parameters to specify the trade operations related to the investment management service. The body must conform to the specified schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for retrieving operations in the E-Trading Workbench under investment management.",
        "example": "{}"
      },
      "GetInvestmentManagementByParam1Response_200": {
        "title": "Investment Management Operation Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-567511"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account.",
            "example": "ACC-729915"
          },
          "investmentObjective": {
            "type": "string",
            "description": "Objective of the investment, such as growth or income.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "Risk profile of the investment (e.g., low, medium, high).",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency of the portfolio or investment account.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate multiple messages.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "d7fe14e5-5c6b-5964-bb53-4a8627f2ccfe",
              "correlationId": "6f28c5c8-d5e4-54a7-8de4-1bfe366ccf21",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the Investment Management Operations API, including portfolio and account information.",
        "example": {
          "portfolioId": "PORT-567511",
          "investmentAccountId": "ACC-729915",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d7fe14e5-5c6b-5964-bb53-4a8627f2ccfe",
            "correlationId": "6f28c5c8-d5e4-54a7-8de4-1bfe366ccf21",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-trading-workbench-get-e-trading-workbench"
        },
        "example": "e-trading-workbench-get-e-trading-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically in the form of JSON Web Tokens (JWT). It is commonly used for stateless authentication in web applications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}