{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Hedge Fund Administration API",
    "description": "The Hedge Fund Administration API provides essential services for managing hedge fund operations, facilitating tasks such as tracking fund performance, managing investor accounts, and processing market transactions. Designed for financial institutions and fund administrators, this API enables seamless integration with banking systems to enhance operational efficiency. Users can access vital information and reports related to their hedge fund activities, making it a valuable tool for financial analysts and compliance officers. This endpoint streamlines data retrieval for better decision-making in the competitive hedge fund landscape.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/hedge-fund-administration": {
      "get": {
        "tags": [
          "Hedge Fund Operations"
        ],
        "summary": "Retrieve hedge fund administration data",
        "description": "This endpoint allows you to fetch comprehensive data related to hedge fund administration, providing insights into operations and management processes within the hedge fund sector.",
        "operationId": "getHedgeFundAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving hedge fund administration operations. This request allows clients to specify the parameters needed to fetch the relevant hedge fund data. Please ensure that the schema is followed accurately for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHedgeFundAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHedgeFundAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHedgeFundAdministrationRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to hedge fund administration operations in the market operations API.",
        "example": "{}"
      },
      "GetHedgeFundAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of hedge fund details.",
            "example": [
              {
                "fundId": "STANDARD",
                "shareClassId": "STANDARD",
                "valuationDate": "2026-09-15",
                "netAssetValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "unitsOutstanding": 1,
                "administratorId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/HedgeFundItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET request to hedge fund administration operations.",
        "example": {
          "items": [
            {
              "fundId": "STANDARD",
              "shareClassId": "STANDARD",
              "valuationDate": "2026-09-15",
              "netAssetValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "unitsOutstanding": 1,
              "administratorId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "64d962f2-0cae-5734-b88b-ce269796cf16",
            "correlationId": "233cb506-0b8a-5ef4-9596-90ecdf22da25",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "HedgeFundItem": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier for the fund.",
            "example": "string"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the share class.",
            "example": "string"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date of the fund's valuation.",
            "example": "string"
          },
          "netAssetValue": {
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "Number of units currently outstanding.",
            "format": "int32",
            "example": 0
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the fund administrator.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the fund record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the fund details were last updated.",
            "example": "string"
          }
        },
        "description": "Detailed information about a specific hedge fund."
      },
      "NetAssetValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total value amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the net asset value is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the net asset value of the fund."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "hedge-fund-administration-search-hedge-fund-administration"
        },
        "example": "hedge-fund-administration-search-hedge-fund-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as a JSON Web Token (JWT). This method is commonly used to ensure secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}