{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Validation Management API",
    "description": "The Financial Instrument Validation Management API enables businesses to manage and validate financial instrument reference data efficiently. This API allows users to submit validation requests for market data related to various financial instruments, ensuring compliance and accuracy in financial operations. Typical consumers include financial institutions, traders, and risk management teams seeking to maintain high-quality reference data. By utilizing this API, organizations can automate the validation process, enhancing the reliability of their financial data assets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management/{param1}/validations": {
      "post": {
        "tags": [
          "Financial Instrument Management"
        ],
        "summary": "Create Validation for a Financial Instrument",
        "description": "This endpoint initiates the creation of validation data for the specified financial instrument. It allows users to submit validation criteria and requirements, ensuring the integrity and compliance of financial data within the system.",
        "operationId": "createValidationForFinancialInstrument",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the financial instrument reference data for the specified identifier. It requires the necessary attributes and parameters to be validated in accordance with the business rules defined for the instrument.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateValidationForFinancialInstrumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and validations processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateValidationForFinancialInstrumentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateValidationForFinancialInstrumentRequest": {
        "title": "Request Body for Financial Instrument Reference Data Management Validations",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "List of validation scopes to apply.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "full"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the validation is requested, formatted as YYYY-MM-DD.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system requesting the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request, including metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for performing validations on financial instrument reference data.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1472bead-cc93-5df3-8354-a3c18fe521ba",
            "correlationId": "7a9de2e1-cbb4-5258-bd6f-e22fef08f7b8",
            "idempotencyKey": "754a266c-9949-52a0-b9a8-c9f9ec3efacb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-710906"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotent-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, formatted in ISO 8601.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system from which the request originated.",
            "example": "sourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application triggering the request.",
            "example": "appXYZ"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for a specific request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing information about the communication channel through which the request was made."
      },
      "CreateValidationForFinancialInstrumentResponse_200": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action being performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the processing of the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial instrument reference data management validation operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7d69663e-58be-5223-8c88-6dd55e75e0c1",
            "correlationId": "7a9de2e1-cbb4-5258-bd6f-e22fef08f7b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-02T15:05:05Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Identifier for the region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information providing additional context about the processed request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-validate-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-validate-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request, helpful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses JSON Web Tokens (JWT) as a bearer token. This scheme is suitable for APIs that require secure and stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}