{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Human Resource Management By Param1-spec",
    "description": "The Employee Certification Management API facilitates the retrieval of detailed certification information for employees based on specified parameters. This endpoint allows businesses to effectively manage and track employee certifications, ensuring compliance and staff development. Typically utilized by HR professionals and compliance officers, this API streamlines access to certification records, enhancing decision-making around personnel qualifications and training needs. It provides essential data that supports workforce management and development strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification/{param1}": {
      "get": {
        "tags": [
          "Employee Certification"
        ],
        "summary": "Retrieve employee certification details.",
        "description": "This endpoint allows you to fetch the details of a specific employee certification by providing the certification ID. It returns comprehensive information regarding the certification status, type, and any associated metadata.",
        "operationId": "getHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the employee certification details for a specific employee identified by EMP-900045. This API endpoint allows users to access the employee's certification records, ensuring that all necessary details are included for a comprehensive response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of employee certification details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHumanResourceManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the employee certification operation in the Human Resource Management system.",
        "example": "{}"
      },
      "GetHumanResourceManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-902326"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the employee assignment becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the employee's country.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The physical location where the employee works.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee's record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the employee record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the employee record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate related requests.",
                "example": "CORR456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "95bb2050-3924-5ece-977b-3495e1088668",
              "correlationId": "51f3d043-795e-5ff8-8f8a-3976927b37a8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure containing employee certification details.",
        "example": {
          "employeeId": "EMP-902326",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "95bb2050-3924-5ece-977b-3495e1088668",
            "correlationId": "51f3d043-795e-5ff8-8f8a-3976927b37a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-get-employee-certification"
        },
        "example": "employee-certification-get-employee-certification"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token formatted as a JSON Web Token (JWT). This scheme allows secure access to the API by including the token in the Authorization header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}