{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Sale Underwritings-spec",
    "description": "The Sale Underwritings Retrieval API facilitates access to detailed information regarding sale underwritings in the banking sector. This endpoint allows users to retrieve a comprehensive list of current underwriting records, streamlining the assessment and review process for stakeholders involved in sales transactions. Typical consumers of this API include bank personnel, compliance officers, and analysts who need to evaluate underwriting data. By leveraging this endpoint, organizations can enhance decision-making and operational efficiency related to underwriting activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve underwriting information for sales.",
        "description": "This endpoint allows you to retrieve detailed underwriting information pertinent to sales activities. Use it to get insights into underwriting requests and their statuses.",
        "operationId": "listSaleUnderwritings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving underwriting sales data. This body must conform to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSaleUnderwritingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of underwriting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSaleUnderwritingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSaleUnderwritingsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation in the underwriting operations of the sales system.",
        "example": "{}"
      },
      "ListSaleUnderwritingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of underwriting items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "applicationId": "APP-998008",
                "requestedLimit": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "debtServiceCoverageRatio": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/UnderwritingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations for sales underwriting.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "applicationId": "APP-998008",
              "requestedLimit": {
                "amount": 100.0,
                "currency": "USD"
              },
              "debtServiceCoverageRatio": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6c880d41-75cf-5a45-9599-db8e5fd266f0",
            "correlationId": "f5232157-b537-5bad-80d1-6cae2a4b8e75",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "UnderwritingItem": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product."
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale was made."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/FinancialValue"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier for the application."
          },
          "requestedLimit": {
            "$ref": "#/components/schemas/FinancialValue"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "The debt service coverage ratio."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Represents an individual underwriting item."
      },
      "FinancialValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the financial value."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the financial value."
          }
        },
        "description": "Represents a financial value with an amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place."
          }
        },
        "description": "Additional metadata information on the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was requested.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-search-underwriting"
        },
        "example": "underwriting-search-underwriting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing insight into the service layer handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via a JSON Web Token (JWT). Clients must include the JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}