{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Loan Product-spec",
    "description": "The Loan Product Creation API enables businesses to introduce and define new loan products within their financial services platform. This endpoint facilitates the submission of essential details such as interest rates, loan terms, and eligibility criteria, thereby enriching the product portfolio. Typical consumers include financial institutions and service providers aiming to expand their offerings. By utilizing this API, organizations can quickly adapt to market needs and enhance customer satisfaction through innovative lending solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new loan product",
        "description": "This endpoint allows you to create a new loan product by providing the necessary details. Ensure that all required parameters are included in the request body.",
        "operationId": "createLoanLoanProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new loan product. Ensure that all required fields are provided and formatted correctly to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanLoanProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully. The new loan product is available for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanLoanProductResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanLoanProductRequest": {
        "title": "Loan Product Creation Request",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code for the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan is offered.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code representing the base rate used for calculating interest.",
            "example": "CODE-489"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percentage added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured against an asset.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value percentage for the loan.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Eligibility criteria for the loan.",
            "$ref": "#/components/schemas/LoanEligibility"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a loan product.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-489",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1
          },
          "requestContext": {
            "requestId": "e9fd069a-16a1-56e6-b381-67af3b715183",
            "correlationId": "65f5f0ee-013f-5e28-bc3f-d95b83259c3b",
            "idempotencyKey": "06489918-74a1-5f63-8205-9e20f100f2fa",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-688928"
            }
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency for the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal in the specified currency.",
            "example": "10000"
          }
        },
        "description": "Schema representing the principal amount details of a loan."
      },
      "LoanEligibility": {
        "title": "Loan Eligibility Criteria",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at the time the loan matures.",
            "format": "int32",
            "example": 65
          }
        },
        "description": "Schema representing the eligibility criteria for the loan."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking related requests.",
            "example": "CORR-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "IDEMPOTENCY-KEY"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used to make the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier from which the request was made.",
            "example": "DEVICE-789"
          }
        },
        "description": "Schema representing channel details for the request."
      },
      "CreateLoanLoanProductResponse_201": {
        "title": "Loan Product Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code representing the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type/category of the loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan product is denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount that can be borrowed.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount that can be borrowed.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term duration in months for the loan.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term duration in months for the loan.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan product.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code of the base rate used for calculating the interest.",
            "example": "CODE-278"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percentage added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which loan repayments are to be made.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured against collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio allowed for the loan.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "The criteria that an applicant must meet to qualify for the loan.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "60a19e98-d743-486a-5a81-c6d61eb813aa"
          },
          "audit": {
            "description": "Audit information for tracking the loan product operations.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional information related to the loan product response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan product creation operation.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-278",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "60a19e98-d743-486a-5a81-c6d61eb813aa",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "3f037037-cda8-5a12-9d95-0bf0bd6602b3",
            "correlationId": "65f5f0ee-013f-5e28-bc3f-d95b83259c3b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PrincipalAmount": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual principal amount.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing an amount of money including its currency."
      },
      "EligibilityCriteria": {
        "title": "Eligibility Criteria",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at loan maturity.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income of the applicant required for eligibility.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "List of employment types that are allowed for applicants.",
            "items": {
              "type": "string"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "List of countries where applicants must be residents to qualify.",
            "items": {
              "type": "string"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required for eligibility.",
            "format": "int32",
            "example": 600
          }
        },
        "description": "Schema representing the eligibility criteria for loan applicants."
      },
      "Fee": {
        "title": "Fee",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code for the fee.",
            "example": "FEE001"
          },
          "name": {
            "type": "string",
            "description": "The name of the fee.",
            "example": "Processing Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the fee.",
            "example": "percentage"
          },
          "amount": {
            "description": "The amount of the fee, including currency.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "percent": {
            "type": "string",
            "description": "The percentage of the fee if applicable.",
            "example": "5%"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates if the fee is capitalized.",
            "example": false
          }
        },
        "description": "Schema representing a fee associated with the loan product."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the loan product was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing the audit information for tracking purposes."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata for the loan product response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-product"
        },
        "example": "banking-loans-openapi-create-loan-product"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to authenticate via a token. The token provided must be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}