{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Configuration Retrieval API",
    "description": "The Configuration Retrieval API allows users to access detailed information about specific configurations within the microservice production environment. By utilizing the configuration ID, consumers can retrieve various attributes related to a particular configuration instance. This API is essential for developers and system administrators who need to audit, analyze, or troubleshoot configuration settings. Typical use cases include verifying configuration accuracy, integrating with monitoring systems, and enhancing overall system reliability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations/{configurationId}": {
      "get": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Retrieve a specific configuration by its ID.",
        "description": "This API endpoint allows you to fetch details about a specific configuration identified by its unique ID, enabling you to retrieve all relevant data associated with that configuration.",
        "operationId": "getConfigurationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/configurationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the configuration details for the specified resource identifier (RES-100045). This body contains the necessary structure to specify any filters or additional context for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConfigurationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the configuration details are returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConfigurationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConfigurationByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to configurations.",
        "example": "{}"
      },
      "GetConfigurationByIdResponse_200": {
        "title": "Get Operations Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "b79a9c0b-9bd8-ad4d-fb21-baeba147cfe5"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of account identifiers that are being filtered.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Account identifier.",
              "example": "account123"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "List of account classification types.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Type of account classification.",
              "example": "Personal"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether account ownership is required.",
            "example": true
          },
          "metadata": {
            "description": "Metadata providing additional details about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations request, containing operation details and metadata.",
        "example": {
          "id": "b79a9c0b-9bd8-ad4d-fb21-baeba147cfe5",
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "metadata": {
            "responseId": "943d4e7a-a3b6-583f-b206-c609adc68185",
            "correlationId": "e89b574d-e73e-5bf8-9fc9-245e15fa1c56",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation between requests and responses.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata object providing details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "configurationId": {
        "name": "configurationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-configurations-configuration-id"
        },
        "example": "open-finance-api-get-configurations-configuration-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients should include the token in the Authorization header as 'Bearer {token}' to gain access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}