{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Portfolio Details API",
    "description": "The Customer Portfolio Details API provides access to detailed information regarding specific customer portfolios within the decisioning system. By using a unique customer ID and portfolio ID, consumers can retrieve comprehensive data about the selected portfolio, including attributes, performance metrics, and associated risks. This API is essential for financial analysts, customer relationship managers, and decision-making tools that require insights into customer investment strategies. Utilizing this API can enhance portfolio management and customer engagement by ensuring that relevant information is easily accessible.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Customer Portfolios"
        ],
        "summary": "Retrieve a specific portfolio for a given customer.",
        "description": "This endpoint allows developers to fetch the details of a specific portfolio associated with a customer using their unique identifiers. It provides comprehensive information about the portfolio, enabling informed decision-making.",
        "operationId": "getCustomerPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the portfolio associated with the specified customer. Make sure to include any necessary authentication tokens in the headers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the portfolio details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerPortfolioByIdRequest": {
        "type": "string",
        "description": "The request body for retrieving portfolio operations for the specified customer and portfolio resources.",
        "example": "{}"
      },
      "GetCustomerPortfolioByIdResponse_200": {
        "title": "Portfolio Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-248691"
          },
          "reports": {
            "type": "array",
            "description": "An array of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-151977",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "description": "Metadata regarding the API response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response containing portfolio information, including reports and metadata.",
        "example": {
          "portfolioId": "PORT-248691",
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-151977",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "metadata": {
            "responseId": "e321358e-88e5-5b65-864d-8c18ccb39bac",
            "correlationId": "e538e625-ba80-5624-b2c6-e78559d7f951",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "title": "Report",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the report.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio to which the report belongs.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the report.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The status of the report.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "The creation date of the report represented as a timestamp.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details of a report associated with the portfolio."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response containing useful tracing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that is being accessed, aiding in tracking and monitoring requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-customer"
        },
        "example": "open-finance-api-get-portfolio-by-customer"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application name that processed the request, helping to identify the source of response handling.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where the client must include a JSON Web Token (JWT) in the Authorization header of the request to authenticate and gain access to the API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}