{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Subscription Management API",
    "description": "The Event Subscription Management API enables businesses to update existing event subscriptions within an Open Banking framework. This API allows consumers to modify their subscription parameters, ensuring they receive the relevant event notifications aligned with their operational needs. Typical users include banks and financial institutions that need to customize their event alerts to enhance customer engagement and service efficiency. By providing a streamlined approach to managing subscriptions, this API supports robust integration and improved responsiveness to customer requests.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions/{param1}": {
      "put": {
        "tags": [
          "Event Subscription Management"
        ],
        "summary": "Update Event Subscription",
        "description": "This endpoint allows you to update the details of an existing event subscription identified by the specified resource ID. Ensure to provide the necessary data in the request body to reflect the desired changes.",
        "operationId": "updateEventSubscriptionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the event subscription with the specified details. This operation requires the entire object to be provided in the request body to ensure proper updates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventSubscriptionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEventSubscriptionRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEventSubscriptionRes100045Request": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Data contains the details of the event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Links related to the event subscription.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Metadata for pagination.",
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "requestContext": {
            "description": "Context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating event subscriptions.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "a82cba23-88fd-5d44-9ee3-1359d61949ab",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "idempotencyKey": "8e43305a-d705-5228-a566-c8a65cf93228",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-837345"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "The unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL that will receive the event notifications.",
            "example": "string"
          },
          "Version": {
            "type": "string",
            "description": "The version of the event subscription.",
            "example": "string"
          },
          "EventTypes": {
            "type": "array",
            "description": "A list of event types that the subscription is interested in.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the event subscription's data."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "https://api.example.com/events?page=1"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page.",
            "example": "https://api.example.com/events?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page.",
            "example": "https://api.example.com/events?page=0"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page.",
            "example": "https://api.example.com/events?page=2"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page.",
            "example": "https://api.example.com/events?page=5"
          }
        },
        "description": "Pagination links for navigating through pages."
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time of the first available event.",
            "example": "2023-01-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time of the last available event.",
            "example": "2023-12-31T23:59:59Z"
          }
        },
        "description": "Metadata for pagination details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req1234"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating related requests.",
            "example": "corr5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempKey909"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "ApplicationX"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Contextual information for the request."
      },
      "ChannelInformation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel899"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device456"
          }
        },
        "description": "Information about the communication channel."
      },
      "UpdateEventSubscriptionRes100045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the details of the event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Links related to the event subscription response.",
            "$ref": "#/components/schemas/EventSubscriptionLinks"
          },
          "Meta": {
            "description": "Meta information about the event subscription response.",
            "$ref": "#/components/schemas/EventSubscriptionMeta"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/EventSubscriptionMetadata"
          }
        },
        "description": "Response schema for the event subscription operations PUT request.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventSubscriptionLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of the resource.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of the resource.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of the resource.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of the resource.",
            "example": "string"
          }
        },
        "description": "Schema representing links related to the event subscription response."
      },
      "EventSubscriptionMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages available in the resource.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for the resource.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for the resource.",
            "example": "string"
          }
        },
        "description": "Meta information about the event subscription response."
      },
      "EventSubscriptionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-change-event-subscriptions-event-subscription-id"
        },
        "example": "events-api-change-event-subscriptions-event-subscription-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs HTTP Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests. The token should be structured according to the JWT standard, which ensures secure and compact representation of claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}