{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get External Agency By Param1-spec",
    "description": "The External Agency Retrieval API enables users to retrieve specific external agency details based on a unique parameter. This endpoint is particularly useful for banking institutions and financial organizations needing to access contractual agreements associated with sub-custodian agencies. By providing a parameter value, consumers can obtain relevant data to facilitate compliance and operational processing. Typical use cases include audits, compliance checks, and information retrieval for transaction processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/sub-custodian-agreement/{param1}": {
      "get": {
        "tags": [
          "Sub Custodian Agreements"
        ],
        "summary": "Retrieve Sub Custodian Agreement by ID",
        "description": "This endpoint allows you to fetch the details of a specific Sub Custodian Agreement using its unique identifier. The response will include all relevant information related to the agreement, ensuring quick access to necessary data for your operational needs.",
        "operationId": "getExternalAgencyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the sub-custodian agreement details for the specified resource identifier. It should include any necessary parameters to filter or specify the request according to the needs of the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the sub-custodian agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencyByParam1Request": {
        "type": "string",
        "description": "A JSON representation of the request body for the sub-custodian agreement operation.",
        "example": "{}"
      },
      "GetExternalAgencyByParam1Response_200": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution involved in the agreement.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-106986"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the financial institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the institution is located.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating if it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the agreement was last updated, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE_789"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to trace a request across multiple services.",
                "example": "CORRELATION_321"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated, in ISO 8601 format.",
                "example": "2023-01-10T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response, useful for tracing and logging.",
            "example": {
              "responseId": "60757a20-4955-5a37-8c5f-273a72b83627",
              "correlationId": "41a83c5f-17b3-566b-ad79-2ce77ecdc073",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for retrieving sub-custodian agreement details from an external agency.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-106986",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "60757a20-4955-5a37-8c5f-273a72b83627",
            "correlationId": "41a83c5f-17b3-566b-ad79-2ce77ecdc073",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was invoked, facilitating traceability and auditing of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sub-custodian-agreement-get-sub-custodian-agreement"
        },
        "example": "sub-custodian-agreement-get-sub-custodian-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request, useful for monitoring and troubleshooting purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JWT (JSON Web Tokens). The client must provide a valid JWT token in the Authorization header of the request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}