{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Direction By Param1-spec",
    "description": "The Business Direction Retrieval API provides insights into continuity planning based on specified parameters. By using this endpoint, users can access key business direction data tailored to their needs, allowing for more informed decision-making. Typical consumers include business analysts and operational managers who require timely and relevant information for strategic planning. This API facilitates seamless data integration and enhances the ability to adapt to changing market conditions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/continuity-planning/{param1}": {
      "get": {
        "tags": [
          "Continuity Planning"
        ],
        "summary": "Retrieve the continuity planning resource.",
        "description": "This endpoint allows users to fetch detailed information about the continuity planning resource identified by RES-100045. It provides comprehensive insight into the associated business direction and strategic initiatives.",
        "operationId": "getBusinessDirectionByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific operational information related to the continuity planning for the business direction identified by RES-100045. It is structured in JSON format and adheres to the defined schema for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessDirectionByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessDirectionByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessDirectionByParam1Request": {
        "type": "string",
        "description": "Request body for the Operations continuity planning GET request, which is expected to be a string representation.",
        "example": "{}"
      },
      "GetBusinessDirectionByParam1Response_200": {
        "title": "Continuity Planning Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "Unique identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The time frame over which planning will occur.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "Target date for the completion of the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current record status indicating whether the record is Active, Inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the initiative record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the initiative record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations continuity planning initiative.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "15aea147-e306-5f9e-932d-f768af019e16",
            "correlationId": "34e5cb6a-4a8d-510c-9adf-69a85d117f08",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs to responses.",
            "example": "CORR-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "continuity-planning-get-continuity-planning"
        },
        "example": "continuity-planning-get-continuity-planning"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, typically represented as a JSON Web Token (JWT). This scheme allows clients to authenticate by including the token in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}