{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Sale By Underwriting Id-spec",
    "description": "The Sale Retrieval API provides a streamlined approach for accessing sales data based on specific underwriting identifiers. It allows users to retrieve detailed information about sales linked to a particular underwriting ID, facilitating better tracking and management of sales records. This API is particularly useful for financial institutions, underwriting teams, and customer service representatives who need quick access to sales information. By enabling efficient querying of sales data, it supports businesses in making informed decisions and improving customer interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting/{underwritingId}": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve Underwriting Details for a Specific Sales Resource",
        "description": "This endpoint allows you to retrieve detailed underwriting information related to the specific sales resource identified by the ID 'RES-100045'. The data returned includes all relevant underwriting metrics and status updates, facilitating deeper insights for sales analytics and decision-making processes.",
        "operationId": "getSaleByUnderwritingId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/underwritingId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve underwriting information for the specified sales operation identified by RES-100045. Ensure that the request payload follows the defined schema for correct processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSaleByUnderwritingIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the underwriting details for the specified resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSaleByUnderwritingIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSaleByUnderwritingIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the underwriting sales context. It is expected to be a string type.",
        "example": "{}"
      },
      "GetSaleByUnderwritingIdResponse_200": {
        "title": "Underwriting Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the underwriting request.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale was made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value from the underwriting.",
            "$ref": "#/components/schemas/FinancialValue"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application.",
            "example": "APP-760171"
          },
          "requestedLimit": {
            "description": "The financial limit requested in the underwriting.",
            "$ref": "#/components/schemas/FinancialValue"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "The debt service coverage ratio for the applicant.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the underwriting response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the underwriting response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an underwriting operation request.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "applicationId": "APP-760171",
          "requestedLimit": {
            "amount": 100.0,
            "currency": "USD"
          },
          "debtServiceCoverageRatio": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "352ad225-4c0a-5611-8b90-220343ca3e40",
            "correlationId": "9d51ac62-271a-55f1-84de-241a98499c26",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialValue": {
        "title": "Financial Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the financial value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the financial amount.",
            "example": "string"
          }
        },
        "description": "Schema representing a financial value with an amount and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to trace the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata associated with the underwriting response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "underwritingId": {
        "name": "underwritingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-get-underwriting"
        },
        "example": "underwriting-get-underwriting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, providing context for monitoring applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) as a means of conveying bearer credentials. Ensure that the token is included in the Authorization header in requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}