{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m Payment By Payment Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get P2m Payment By Payment Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}": {
      "get": {
        "operationId": "getP2mPaymentByPaymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mPaymentByPaymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mPaymentByPaymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mPaymentByPaymentIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetP2mPaymentByPaymentIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-400101"
          },
          "paymentIntentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "example": "5f0c6472-88de-5cd4-9262-7aa471e447e1"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-610408"
          },
          "outletId": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "example": "ORD-547794"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "string"
              },
              "token": {
                "type": "string",
                "example": "string"
              },
              "issuerBankCode": {
                "type": "string",
                "example": "string"
              },
              "maskedIdentifier": {
                "type": "string",
                "example": "string"
              },
              "walletProvider": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-850",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "riskSegment": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            }
          },
          "amounts": {
            "type": "object",
            "properties": {
              "requested": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "authorized": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "captured": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "refunded": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "reversed": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "tip": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "fees": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "feeType": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "bearer": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "netToMerchant": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requested": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "authorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "refunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reversed": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "tip": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "fees": [
                {
                  "feeType": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "bearer": "CUSTOMER"
                }
              ],
              "netToMerchant": {
                "currency": "USD"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "39113e93-4c34-51ec-ad6c-20fc196c66fc",
              "correlationId": "5454bf85-46aa-54cd-8cf0-711ec971f4ce",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "paymentId": "PAY-400101",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "5f0c6472-88de-5cd4-9262-7aa471e447e1",
          "merchantId": "MER-610408",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-547794",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-850",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "39113e93-4c34-51ec-ad6c-20fc196c66fc",
            "correlationId": "5454bf85-46aa-54cd-8cf0-711ec971f4ce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-payment"
        },
        "example": "banking-p2m-openapi-get-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}