{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Facilities Utilities Administration-v5-spec",
    "description": "This API facilitates the management of banking facilities related to utilities administration. It allows users to create and configure various utility services for enhanced client offerings. Typical consumers include banking personnel and utility service managers who are seeking to streamline their operations. By leveraging this API, organizations can efficiently manage facility services, thus improving customer satisfaction and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/utilities-administration": {
      "post": {
        "tags": [
          "Utilities Management"
        ],
        "summary": "Create a new utilities administration entry.",
        "description": "This operation allows users to create a new entry for utilities administration, managing the various aspects related to utilities within facilities. Ensure that all required information is included in the request to successfully create the entry.",
        "operationId": "createBankingFacilitiesUtilitiesAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit operations related to utilities administration within the facilities. It should contain all necessary parameters required for the operation to be processed successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingFacilitiesUtilitiesAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, confirming the addition of new utilities administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingFacilitiesUtilitiesAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingFacilitiesUtilitiesAdministrationRequest": {
        "title": "Utilities Administration Request Body",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site where the operation is to be performed.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset associated with the operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order related to the operation.",
            "example": "ORD-150484"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date scheduled for the operation in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "Identifier for the facility zone where the operation takes place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance required for the operation.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a utilities administration operation.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-150484",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "b0b690d5-7f75-5734-8ee4-d60af846eae5",
            "correlationId": "2e93bc68-838a-534b-ad24-e873f0f8be1d",
            "idempotencyKey": "cdc5cd2b-0f9f-5612-bbe4-c85f24dd8a70",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-200304"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual details about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for communication.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "CreateBankingFacilitiesUtilitiesAdministrationResponse_201": {
        "title": "Facility Utilities Administration Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier of the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier of the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-931491"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier of the vendor associated with the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource involved in the operation.",
            "example": "RES-704774"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a utility operation in the facility administration context.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-931491",
          "vendorId": "STANDARD",
          "resourceId": "RES-704774",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e3227591-1a01-5c20-8126-3ba9a284d265",
            "correlationId": "2e93bc68-838a-534b-ad24-e873f0f8be1d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to track the transaction across systems.",
            "example": "correlation_789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that processed the request, useful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "utilities-administration-create-utilities-administration"
        },
        "example": "utilities-administration-create-utilities-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, which can be used for monitoring and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}