{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Billing Information API",
    "description": "The Customer Billing Information API provides access to detailed customer billing data, enabling businesses to monitor and manage billing operations effectively. This endpoint allows users to retrieve comprehensive billing information including transaction histories, outstanding balances, and payment statuses associated with customer accounts. It is primarily utilized by finance teams and customer service representatives to support billing inquiries and ensure accurate records. By integrating this API, organizations can enhance their billing processes, improve customer satisfaction, and streamline operational tasks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "get": {
        "tags": [
          "CustomerBilling"
        ],
        "summary": "Retrieve customer billing information",
        "description": "This endpoint allows you to fetch the billing details of a specific customer. It provides comprehensive information about charges, payments, and outstanding balances, ensuring that you have the necessary data for financial processing and customer inquiries.",
        "operationId": "getCustomerBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the details needed for retrieving billing information for customers. It allows clients to structure their requests in a way that meets the API's requirements and provides the necessary information for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerBillingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning billing information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerBillingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerBillingRequest": {
        "type": "string",
        "description": "This schema represents the request body expected in the application/json format for the customer billing operations GET request.",
        "example": "{}"
      },
      "GetCustomerBillingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of billing items for a customer.",
            "example": [
              {
                "billingAccountId": "ACC-860737",
                "customerId": "CUST-290019",
                "billingPeriod": "STANDARD",
                "charges": [
                  {
                    "chargeType": "SERVICE_FEE",
                    "amount": 100,
                    "currency": "USD"
                  }
                ],
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer billing information.",
        "example": {
          "items": [
            {
              "billingAccountId": "ACC-860737",
              "customerId": "CUST-290019",
              "billingPeriod": "STANDARD",
              "charges": [
                {
                  "chargeType": "SERVICE_FEE",
                  "amount": 100,
                  "currency": "USD"
                }
              ],
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b03be820-e5d6-5ae5-9d50-9a415e2e546d",
            "correlationId": "e0f4463d-683f-5fe5-a85b-559932e141d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingItem": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer."
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for the charges."
          },
          "charges": {
            "type": "array",
            "description": "List of charges associated with the billing item.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the billing item."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the billing record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the billing item."
          }
        },
        "description": "Detailed information about a billing item."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "The type of charge (e.g., fee, tax)."
          },
          "amount": {
            "type": "integer",
            "description": "The amount of the charge.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the charge is denominated."
          }
        },
        "description": "Representation of a charge associated with a billing item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for API responses."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata providing context for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-search-customer-billing"
        },
        "example": "customer-billing-search-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a 'Bearer' token in the authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}