{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reconciliation Runs Management API",
    "description": "The Reconciliation Runs Management API allows users to efficiently update and manage reconciliation processes within their systems. This endpoint facilitates modifications to existing reconciliation runs, enabling businesses to adjust parameters and configurations as needed. Typical consumers include financial institutions and reconciliation teams looking to maintain accurate records and streamline operations. With this API, organizations can ensure that their reconciliation processes are accurate and up-to-date, which is essential for effective financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{param1}": {
      "patch": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Update a reconciliation run by its ID.",
        "description": "This operation allows you to update the details of a specific reconciliation run identified by its unique ID. You can modify attributes such as status, details, or any other relevant information necessary to refine the reconciliation process.",
        "operationId": "patchReconciliationRunById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to partially update a reconciliation run identified by the given resource ID. The request allows users to modify specific attributes of the reconciliation run, ensuring that the operation is efficient and does not require resending the entire resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchReconciliationRunByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the reconciliation run.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchReconciliationRunByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchReconciliationRunByIdRequest": {
        "title": "ReconciliationRunPatchRequest",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The current status of the reconciliation run.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching a reconciliation run.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "1df93188-614a-5a56-aace-1b8f2dacb19f",
            "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
            "idempotencyKey": "f7d0d9e6-238c-5efd-b983-b3dbf70cbb23",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-733711"
            }
          }
        }
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing the context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "PatchReconciliationRunByIdResponse_200": {
        "title": "Reconciliation Run Response",
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "Unique identifier for the reconciliation run.",
            "example": "STANDARD"
          },
          "sourceA": {
            "type": "string",
            "description": "Identifier for source A of the reconciliation.",
            "example": "STANDARD"
          },
          "sourceB": {
            "type": "string",
            "description": "Identifier for source B of the reconciliation.",
            "example": "STANDARD"
          },
          "businessDate": {
            "type": "string",
            "description": "The business date for the reconciliation run.",
            "example": "2026-09-15"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier of the merchant involved in the reconciliation.",
            "example": "MER-478392"
          },
          "currency": {
            "type": "string",
            "description": "Currency associated with the reconciliation.",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "The strategy used for matching records.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the reconciliation run.",
            "example": "ACTIVE"
          },
          "summary": {
            "$ref": "#/components/schemas/ReconciliationSummary"
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation started.",
            "example": "2026-09-15T14:30:00Z"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a reconciliation run operation.",
        "example": {
          "reconciliationRunId": "STANDARD",
          "sourceA": "STANDARD",
          "sourceB": "STANDARD",
          "businessDate": "2026-09-15",
          "merchantId": "MER-478392",
          "currency": "USD",
          "matchingStrategy": "STANDARD",
          "status": "ACTIVE",
          "summary": {
            "sourceACount": 1,
            "sourceBCount": 1,
            "matchedCount": 1,
            "unmatchedSourceACount": 1,
            "unmatchedSourceBCount": 1,
            "amountMismatchCount": 1,
            "duplicateCount": 1,
            "totalSourceA": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "totalSourceB": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netDifference": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "startedAt": "2026-09-15T14:30:00Z",
          "completedAt": "2026-09-15T14:30:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "d361d683-83fd-539c-aa94-cad8fea43ae8",
            "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconciliationSummary": {
        "title": "Reconciliation Summary",
        "type": "object",
        "properties": {
          "sourceACount": {
            "type": "integer",
            "description": "Count of records from source A.",
            "format": "int32",
            "example": 0
          },
          "sourceBCount": {
            "type": "integer",
            "description": "Count of records from source B.",
            "format": "int32",
            "example": 0
          },
          "matchedCount": {
            "type": "integer",
            "description": "Number of matched records between source A and source B.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceACount": {
            "type": "integer",
            "description": "Count of unmatched records from source A.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceBCount": {
            "type": "integer",
            "description": "Count of unmatched records from source B.",
            "format": "int32",
            "example": 0
          },
          "amountMismatchCount": {
            "type": "integer",
            "description": "Count of records with amount mismatches.",
            "format": "int32",
            "example": 0
          },
          "duplicateCount": {
            "type": "integer",
            "description": "Count of duplicate records.",
            "format": "int32",
            "example": 0
          },
          "totalSourceA": {
            "$ref": "#/components/schemas/FinancialTotal"
          },
          "totalSourceB": {
            "$ref": "#/components/schemas/FinancialTotal"
          },
          "netDifference": {
            "$ref": "#/components/schemas/FinancialTotal"
          }
        },
        "description": "Summary information for the reconciliation run."
      },
      "FinancialTotal": {
        "title": "Financial Total",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the total amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Total value represented as a string.",
            "example": "string"
          }
        },
        "description": "Financial total information including currency and value."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the reconciliation run.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the reconciliation run.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the reconciliation run.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information relating to the audit of the reconciliation run."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the reconciliation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata about the response for the reconciliation run."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-reconciliation-run"
        },
        "example": "banking-p2m-openapi-update-reconciliation-run"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using a Bearer token in which the token format is JSON Web Token (JWT). This allows secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}