{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Liquidity Risk Models Management API",
    "description": "The Liquidity Risk Models Management API facilitates the creation and management of liquidity risk models essential for financial institutions. This API allows users to upload new models, ensuring compliance with regulatory demands and enhancing risk assessment capabilities. Financial analysts and risk managers can utilize this API to integrate custom models into their systems, thereby streamlining risk evaluation processes. By providing a structured framework for model management, organizations can maintain effective liquidity risk oversight aligned with industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/liquidity-risk-models": {
      "post": {
        "tags": [
          "Liquidity Risk"
        ],
        "summary": "Create a new liquidity risk model.",
        "description": "This endpoint allows users to create a new liquidity risk model by providing the necessary parameters. Ensure that all required fields are correctly specified to successfully create the model.",
        "operationId": "createLiquidityRiskModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new liquidity risk model. The JSON object must adhere to the specified schema and include all required fields to ensure proper model creation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLiquidityRiskModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLiquidityRiskModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLiquidityRiskModelRequest": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the liquidity risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the liquidity risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio associated with the model.",
            "example": "PORT-353551"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is calculated.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model is evaluated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level for the risk assessment.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The identifier for the dataset used to validate the model.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months used for backtesting the model.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "The current approval status of the model.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating or updating liquidity risk models.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-353551",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "f0c2dcf0-5f2c-5301-9872-c5864ea91bac",
            "correlationId": "6ab567e5-3378-525b-b27f-2e8c7e2b7d84",
            "idempotencyKey": "b1f8df54-cc6c-53af-9177-f4ffafb6c232",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-481093"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to track the correlation across different services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel being used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel through which the request was made."
      },
      "CreateLiquidityRiskModelResponse_201": {
        "title": "Liquidity Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the liquidity risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the liquidity risk model.",
            "example": "PORT-348723"
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validation of the liquidity risk model.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique resource identifier associated with the liquidity risk model.",
            "example": "RES-744667"
          },
          "status": {
            "type": "string",
            "description": "Current status of the liquidity risk model.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the liquidity risk model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the liquidity risk model response.",
            "$ref": "#/components/schemas/LiquidityRiskModelMetadata"
          }
        },
        "description": "Response schema for the Liquidity Risk Model operation, detailing the generated model information and associated metadata.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-348723",
          "validationDatasetId": "STANDARD",
          "resourceId": "RES-744667",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "903e9379-a13c-587b-8fe2-f98b27edeb3c",
            "correlationId": "6ab567e5-3378-525b-b27f-2e8c7e2b7d84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LiquidityRiskModelMetadata": {
        "title": "Liquidity Risk Model Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the liquidity risk model.",
            "example": "response-99887"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking the request and response.",
            "example": "correlation-776655"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the liquidity risk model was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata schema with additional details regarding the liquidity risk model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "liquidity-risk-models-create-liquidity-risk-models"
        },
        "example": "liquidity-risk-models-create-liquidity-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure transmission of information as a JSON object. This method ensures that the bearer of the token can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}