{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Refund Id-spec",
    "description": "The Manage Refunds API facilitates the replacement of Payment-to-Merchant (P2M) transactions by their corresponding refund IDs. This endpoint allows service providers to update specific refund details efficiently. Typical users include financial services and payment processing systems that need to adjust transaction records based on refunds. By utilizing this API, businesses can ensure accurate financial reporting and enhanced transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "put": {
        "tags": [
          "Refunds"
        ],
        "summary": "Update a refund request.",
        "description": "This endpoint allows you to update the details of a specific refund request using its unique identifier. It is crucial for managing refunds efficiently and ensuring that all relevant information is accurately recorded.",
        "operationId": "replaceP2mByRefundId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a refund process for the specified refund identifier. It should contain the necessary details about the refund operation in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByRefundIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The refund request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByRefundIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByRefundIdRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment being refunded.",
            "example": "PAY-717521"
          },
          "amount": {
            "description": "Details of the refund amount including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-121"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference identifier provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for handling refunds operations.",
        "example": {
          "paymentId": "PAY-717521",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-121",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "requestContext": {
            "requestId": "50efa904-5d43-5efd-ad0a-1e5b12081fe0",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "idempotencyKey": "d647f996-c8d0-5b87-a1a3-7baf906d5339",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-629161"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "The amount details, including value and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across different systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that made the request.",
            "example": "payment-gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Details about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata about the request, including identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "ReplaceP2mByRefundIdResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the related payment.",
            "example": "PAY-481731"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-545624"
          },
          "amount": {
            "description": "The amount details for the refund.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-479"
          },
          "reason": {
            "type": "string",
            "description": "Descriptive reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference provided by the merchant for this refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details about any failure that occurred during the refund process.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Reference details from the payment processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information for tracking changes.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata regarding the refund.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the refund operations indicating successful processing details.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-481731",
          "merchantId": "MER-545624",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-479",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-308",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-101263",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-431"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "36527dc5-7e9a-5ba5-8ca1-2d8165499129",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Failure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "PROCESSING_ERROR"
          },
          "code": {
            "type": "string",
            "description": "Specific code associated with the failure.",
            "example": "ERR001"
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the failure.",
            "example": "Transaction could not be processed."
          },
          "declineCode": {
            "type": "string",
            "description": "Decline code if applicable.",
            "example": "DECLINE001"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Detailed information about any failures that occurred during the refund process."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "The payment network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID assigned by the payment scheme.",
            "example": "TX123456789"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number assigned by the acquiring bank.",
            "example": "AR1234567890"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference provided by the issuing bank.",
            "example": "IR987654321"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for the transaction retrieval.",
            "example": "RR12345678"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code returned from the processor.",
            "example": "APV123"
          }
        },
        "description": "Reference details provided by the payment processor for the transaction."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for the record, tracking creation and updates."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata relating to the processing and response of the refund."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-refund"
        },
        "example": "banking-p2m-openapi-replace-refund"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, where a JSON Web Token (JWT) is required in the authorization header to authenticate requests. Ensure the token is securely generated and valid.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}