{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Service Consumer Advisory Services-spec",
    "description": "The Consumer Advisory Services API provides access to a comprehensive list of advisory services offered to consumers within the banking sector. This endpoint allows clients to retrieve detailed information about available services, enhancing customer engagement and informed decision-making. Typical consumers include financial advisors, banking professionals, and developers integrating consumer service data into applications. This API plays a crucial role in delivering relevant financial advisory options tailored to consumer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/consumer-advisory-services": {
      "get": {
        "tags": [
          "Consumer Services"
        ],
        "summary": "Retrieve consumer advisory services",
        "description": "This endpoint allows clients to fetch information regarding the available consumer advisory services, helping consumers make informed decisions based on expert guidance.",
        "operationId": "listConsumerServiceConsumerAdvisoryServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve consumer advisory services based on the specified criteria. It must contain the necessary parameters to ensure accurate and relevant information is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerServiceConsumerAdvisoryServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning consumer advisory services data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerServiceConsumerAdvisoryServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerServiceConsumerAdvisoryServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the consumer advisory services operations in JSON format.",
        "example": "{}"
      },
      "ListConsumerServiceConsumerAdvisoryServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of service requests.",
            "example": [
              {
                "customerId": "CUST-470801",
                "serviceRequestId": "618a115e-6329-50b9-b892-531531a7db9b",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServiceRequest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the consumer advisory services GET operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-470801",
              "serviceRequestId": "618a115e-6329-50b9-b892-531531a7db9b",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4b71d451-31e0-5620-9e99-4cc659726791",
            "correlationId": "00a4b413-7423-5378-9145-b412be36e706",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "C12345"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "SR12345"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the service request.",
            "example": "P123"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the service was requested.",
            "example": "2023-01-01T00:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the service request.",
            "example": "Pending"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the service request.",
            "example": "2023-01-02T00:00:00Z"
          }
        },
        "description": "Details of a service request."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Details of the amount for a service request."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "C456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-advisory-services-search-consumer-advisory-services"
        },
        "example": "consumer-advisory-services-search-consumer-advisory-services"
      },
      "x-runtime-app": {
        "description": "The name and version of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. A valid JSON Web Token (JWT) must be included in the authorization header of the request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}