{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Account Management Reward Points Account-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Account Management Reward Points Account-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/reward-points-account": {
      "post": {
        "operationId": "createBankingAccountManagementRewardPointsAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingAccountManagementRewardPointsAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingAccountManagementRewardPointsAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingAccountManagementRewardPointsAccountRequest": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "example": "ACC-914799"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-471753"
          },
          "activityType": {
            "type": "string",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "example": "CODE-327"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "15dfaa40-e9d1-57c3-8c86-e3ea82aa2cc8",
              "correlationId": "54c82776-d69d-5f69-ae7b-5f336b271204",
              "idempotencyKey": "18e662b5-bd00-595a-a9e5-ff2cf12315c1",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-714183"
              }
            }
          }
        },
        "example": {
          "loyaltyAccountId": "ACC-914799",
          "customerId": "CUST-471753",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-327",
          "requestContext": {
            "requestId": "15dfaa40-e9d1-57c3-8c86-e3ea82aa2cc8",
            "correlationId": "54c82776-d69d-5f69-ae7b-5f336b271204",
            "idempotencyKey": "18e662b5-bd00-595a-a9e5-ff2cf12315c1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714183"
            }
          }
        }
      },
      "CreateBankingAccountManagementRewardPointsAccountResponse_201": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "example": "ACC-505722"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-373297"
          },
          "partnerCode": {
            "type": "string",
            "example": "CODE-453"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-423406"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "6e346757-90d2-5cbf-8cd3-5071553258eb",
              "correlationId": "54c82776-d69d-5f69-ae7b-5f336b271204",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "loyaltyAccountId": "ACC-505722",
          "customerId": "CUST-373297",
          "partnerCode": "CODE-453",
          "resourceId": "RES-423406",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6e346757-90d2-5cbf-8cd3-5071553258eb",
            "correlationId": "54c82776-d69d-5f69-ae7b-5f336b271204",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-account-create-reward-points-account"
        },
        "example": "reward-points-account-create-reward-points-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}