{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Facilities Site Administration By Site Administration Id-v5-spec",
    "description": "This API endpoint allows users to fetch detailed information regarding specific banking facilities associated with a particular site administration identifier. It facilitates administrators and stakeholders in managing and reviewing site-related banking facilities effectively. Typical consumers of this API include financial services operators, site managers, and developers building financial applications. By utilizing this endpoint, users can ensure they have accurate and current data for decision-making and operational planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-administration/{siteAdministrationId}": {
      "get": {
        "tags": [
          "FacilitiesManagement"
        ],
        "summary": "Retrieve details for site administration resource RES-100045.",
        "description": "This endpoint allows developers to fetch the detailed information related to the site administration resource identified by RES-100045. It provides insights into operational parameters, configurations, and current status, which can be crucial for management and integration with other services.",
        "operationId": "getBankingFacilitiesSiteAdministrationBySiteAdministrationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/siteAdministrationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving site administration details for the specified facility. This body is required to ensure that the request is properly formatted and includes all necessary parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingFacilitiesSiteAdministrationBySiteAdministrationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the resource data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingFacilitiesSiteAdministrationBySiteAdministrationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingFacilitiesSiteAdministrationBySiteAdministrationIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to site administration facilities.",
        "example": "{}"
      },
      "GetBankingFacilitiesSiteAdministrationBySiteAdministrationIdResponse_200": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order related to the operation.",
            "example": "ORD-927501"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the operation is scheduled to take place.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where the operation will take place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record for this operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operational record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response_202"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for the correlation between requests and responses.",
                "example": "correlation_303"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T09:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the operation took place.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the operation response.",
            "example": {
              "responseId": "f374b81c-d894-5039-b272-482a408fd570",
              "correlationId": "b0b50d73-e3cb-5d33-a977-543f762642ff",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for the GET operation on site administration, containing operational information about a specific site.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-927501",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f374b81c-d894-5039-b272-482a408fd570",
            "correlationId": "b0b50d73-e3cb-5d33-a977-543f762642ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "siteAdministrationId": {
        "name": "siteAdministrationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-administration-get-site-administration"
        },
        "example": "site-administration-get-site-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which is often utilized in web APIs. Clients must include a Bearer token, usually a JSON Web Token (JWT), in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}