{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Factorings-spec",
    "description": "The Trade Banking Factorings Listing API allows users to retrieve a comprehensive list of trade banking factorings available within the system. This API serves as a vital resource for financial institutions, enabling them to access detailed information about factoring services offered. Typical consumers include banking analysts and financial service developers who require insights into trade financing options. The API supports efficient decision-making in trade operations by providing relevant data, facilitating seamless integration with banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/factoring": {
      "get": {
        "tags": [
          "Factoring"
        ],
        "summary": "Retrieve factoring options",
        "description": "This endpoint allows the user to retrieve available factoring options and services in the trade banking domain. You can use this to understand how to leverage factoring for enhancing cash flow and managing receivables.",
        "operationId": "listTradeBankingFactorings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving factoring operations in trade banking. This request body should contain all necessary parameters in JSON format to ensure a successful retrieval of the intended data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingFactoringsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the factoring information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingFactoringsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingFactoringsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the trade banking factoring service. It is expected to be a simple string value.",
        "example": "{}"
      },
      "ListTradeBankingFactoringsResponse_200": {
        "title": "Trade Banking Factoring Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of factoring operations items.",
            "example": [
              {
                "sellerId": "STANDARD",
                "debtorId": "STANDARD",
                "invoiceId": "STANDARD",
                "invoiceAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "advanceRatePercent": 100.0,
                "invoiceDueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FactoringOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for trade banking factoring operations.",
        "example": {
          "items": [
            {
              "sellerId": "STANDARD",
              "debtorId": "STANDARD",
              "invoiceId": "STANDARD",
              "invoiceAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "advanceRatePercent": 100.0,
              "invoiceDueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d11b1baa-201a-5824-948b-7d3f7e12a2e2",
            "correlationId": "279ae1c2-1832-5793-810b-b89d15f759dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FactoringOperationItem": {
        "title": "Factoring Operation Item",
        "type": "object",
        "properties": {
          "sellerId": {
            "type": "string",
            "description": "Identifier for the seller.",
            "example": "string"
          },
          "debtorId": {
            "type": "string",
            "description": "Identifier for the debtor.",
            "example": "string"
          },
          "invoiceId": {
            "type": "string",
            "description": "Identifier for the invoice.",
            "example": "string"
          },
          "invoiceAmount": {
            "$ref": "#/components/schemas/InvoiceAmount"
          },
          "advanceRatePercent": {
            "type": "number",
            "description": "Percentage of the invoice amount that can be advanced to the seller.",
            "example": 0.0
          },
          "invoiceDueDate": {
            "type": "string",
            "description": "Due date of the invoice.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single factoring operation item."
      },
      "InvoiceAmount": {
        "title": "Invoice Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the invoice.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the invoice amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount details of an invoice."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "factoring-search-factoring"
        },
        "example": "factoring-search-factoring"
      },
      "X-Runtime-App": {
        "description": "The name of the application running the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure access. The bearer token must be included in the Authorization header of the request for the server to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}