{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Update Services API",
    "description": "The Document Update Services API provides capabilities for modifying existing banking documents within the system. With this API, users can update details of specific documents, enhancing data accuracy and compliance with regulatory requirements. Typical consumers include banking institutions and document management systems that require dynamic document editing workflows. This API is integral for maintaining up-to-date records and facilitating seamless document management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services/{param1}": {
      "patch": {
        "tags": [
          "Document Management"
        ],
        "summary": "Update Document Service",
        "description": "This endpoint allows you to update the details of the specified document service identified by its resource ID (RES-100045). You can modify various attributes using this PATCH request.",
        "operationId": "patchDocumentServiceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the document identified by RES-100045. The data provided should conform to the specified JSON schema, which defines the fields and structure required for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDocumentServiceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the document has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDocumentServiceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchDocumentServiceRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made to the document.",
            "$ref": "#/components/schemas/DocumentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who is requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context about the request, providing metadata about its origin.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the PATCH operation to update a document's properties.",
        "example": {
          "changes": {
            "documentId": "DOC-815535",
            "documentType": "STANDARD",
            "classification": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6bfb6923-176f-5de6-818e-1f14c6d04f89",
            "correlationId": "d0c43cfb-b586-5ac9-b744-dfd302bb9a77",
            "idempotencyKey": "009e0799-5f9b-568a-b6a9-3fb61b76739a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-622627"
            }
          }
        }
      },
      "DocumentChanges": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The identifier of the document to be changed.",
            "example": "string"
          },
          "documentType": {
            "type": "string",
            "description": "The type of the document being modified.",
            "example": "string"
          },
          "classification": {
            "type": "string",
            "description": "The classification level of the document.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to a document."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the same request is not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema providing context for the request, including identifiers and source information."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema describing the channel through which the request was made."
      },
      "PatchDocumentServiceRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata related to the request and response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on document services.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "78d8cbb7-4e2c-5806-9db3-d8f9cd8f700a",
            "correlationId": "d0c43cfb-b586-5ac9-b744-dfd302bb9a77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-12T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-update-document-services"
        },
        "example": "document-services-update-document-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method using JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}