{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Transaction Switch Routing Decision-spec",
    "description": "This API facilitates the creation of routing decisions for card transactions within the banking operational services. By leveraging this endpoint, financial institutions can enhance their transaction processing capabilities, ensuring optimal routing based on pre-defined criteria. Typical consumers include backend systems that manage payment processing and routing logic. The API supports various use cases, particularly for banks and payment processors seeking to streamline decision-making for card transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/routing-decisions": {
      "post": {
        "tags": [
          "Card Transactions"
        ],
        "summary": "Create a routing decision for card transactions.",
        "description": "This endpoint allows you to create a new routing decision specifically for card transactions in the operational services. It processes the request to determine the appropriate routing path based on the provided data.",
        "operationId": "createCardTransactionSwitchRoutingDecision",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the routing decisions for card transactions, utilized by the card transaction switch service. It should adhere to the specified schema and provide all required information for processing the transaction appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardTransactionSwitchRoutingDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardTransactionSwitchRoutingDecisionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardTransactionSwitchRoutingDecisionRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation being requested.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the transaction.",
            "example": "CUST-320690"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account that is being accessed or modified.",
            "example": "ACC-932815"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request, indicating how urgent it is.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for routing decisions related to card transaction operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-320690",
          "accountId": "ACC-932815",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "9a69655c-ad97-540d-8276-b37495df6489",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "idempotencyKey": "8e0a7216-174d-51ad-b282-e8440bf7529b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-687368"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request_101"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across different systems.",
            "example": "correlation_202"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "An identifier to ensure that the request is processed only once.",
            "example": "idempotency_303"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was created.",
            "example": "2023-10-01T12:01:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "backend_system_1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application within the source system that made the request.",
            "example": "user_application_2"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides contextual details related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used in the transaction.",
            "example": "channel_404"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device initiating the request.",
            "example": "device_505"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateCardTransactionSwitchRoutingDecisionResponse_202": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation performed.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the transaction.",
            "example": "CUST-941124"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the transaction.",
            "example": "ACC-731473"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference used for tracking the processing of the transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the transaction was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response object containing details of the routing decision for a card transaction.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-941124",
          "accountId": "ACC-731473",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ec939e2e-56b9-5724-a78f-120d56cf0305",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response received.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the transaction processing flow.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction is being processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the transaction response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-route-card-transaction-switch"
        },
        "example": "card-transaction-switch-route-card-transaction-switch"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token in HTTP headers. The token format is a JSON Web Token (JWT). Please ensure to provide a valid token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}