{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Sale Commission-spec",
    "description": "The Sale Commission Management API enables businesses to efficiently manage and automate the process of creating and managing sales commissions. This endpoint allows authorized users to submit new commission records, facilitating accurate compensation planning and performance tracking for sales personnel. Typical consumers of this API include financial analysts, sales managers, and HR professionals who require tools for incentive management. By leveraging this API, organizations can streamline commission workflows, enhance data accuracy, and ensure compliance with compensation policies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commissions": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a new sales commission record.",
        "description": "This endpoint allows you to create a new record for sales commissions. You will need to provide the relevant details for the commission to be successfully created.",
        "operationId": "createSaleCommission",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new sales commission entry. This should include all relevant details about the commission such as the salesperson, commission rate, and the sale associated with the commission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSaleCommissionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with commission details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSaleCommissionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSaleCommissionRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product associated with the commission.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the product is sold.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling the account.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "Expected monetary value associated with the sale.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Unique identifier for the salesperson responsible for the sale.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan applicable to this sale.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "Revenue amount that is eligible for commission calculation.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating sales commissions in the operations context.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "requestContext": {
            "requestId": "0db934cc-f352-5e98-a2b7-2badd1c3f020",
            "correlationId": "106aec7c-7933-5aba-a9c4-7a07ccdc0277",
            "idempotencyKey": "f5438482-3be2-5b20-9b84-1a20588fb195",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-465000"
            }
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount expected from the sale.",
            "example": 1500.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the expected amount.",
            "example": "USD"
          }
        },
        "description": "Details about the expected financial value of the sale."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for this request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across system boundaries.",
            "example": "corr_abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idempotent_key_xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system where the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Details about the channel from which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata about the request for processing purposes."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g. online, retail).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device through which the request was made.",
            "example": "device_456"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "CreateSaleCommissionResponse_201": {
        "title": "Sales Commissions Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling the sale.",
            "example": "STANDARD"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson who made the sale.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the sale.",
            "example": "RES-123560"
          },
          "status": {
            "type": "string",
            "description": "Current status of the sales commission request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the sales commission record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the sales commission response.",
            "$ref": "#/components/schemas/SalesMetadata"
          }
        },
        "description": "Response schema containing details about the sales commission operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "salesPersonId": "STANDARD",
          "resourceId": "RES-123560",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4045e950-9999-54dd-ae07-5f766db66c98",
            "correlationId": "106aec7c-7933-5aba-a9c4-7a07ccdc0277",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesMetadata": {
        "title": "Sales Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-45678"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related operations or requests.",
            "example": "correlation-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with a sales commission operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commissions-create-commissions"
        },
        "example": "commissions-create-commissions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JSON Web Token (JWT) is sent in the 'Authorization' header of the request to authenticate and authorize the client.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}