{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Special Pricing Conditions Retrieval API",
    "description": "The Special Pricing Conditions Retrieval API allows users to obtain detailed information about specific pricing conditions associated with various banking products. By using the endpoint, consumers can access specialized pricing data tailored to customer or product needs, enabling them to make informed decisions and enhance their pricing strategies. Typical users include product managers, financial analysts, and customer service representatives, who require quick access to pricing information for better customer engagement and decision-making. This API ensures that relevant pricing details are readily available for further analysis and operational use.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions/{param1}": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve special pricing condition details",
        "description": "This endpoint allows you to retrieve the details of a specific special pricing condition using its unique identifier. It provides essential information related to the specified pricing condition, making it easier for you to understand and manage pricing strategies.",
        "operationId": "getSpecialPricingConditionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving special pricing conditions for a specific product identified by RES-100045. It includes all necessary parameters to fetch the relevant pricing data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSpecialPricingConditionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the special pricing conditions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSpecialPricingConditionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSpecialPricingConditionByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the special pricing conditions operation in the product management API.",
        "example": "{}"
      },
      "GetSpecialPricingConditionByIdResponse_200": {
        "title": "Special Pricing Conditions Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers that this pricing condition applies to.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency used for pricing base values.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the pricing condition becomes effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating if it is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the pricing condition.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing special pricing conditions for a product.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9294da34-f4c5-5a3c-a1c5-d252a3b7fcc4",
            "correlationId": "05d0112a-c758-5351-ba7d-98bf378a120d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to track the request across systems.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, which helps in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-get-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-get-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for troubleshooting and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication, allowing clients to authenticate using a JSON Web Token (JWT). The token should be included in the Authorization header of the HTTP request, prefixed with the word 'Bearer'. This method is widely used for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}