{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Institution Institutions-spec",
    "description": "The Institution Listing API provides a comprehensive way to access and retrieve information about various institutions. This endpoint allows consumers to obtain details on multiple institutions, aiding in identification and comparison for research or analytic purposes. Typical users include financial analysts, researchers, and application developers seeking to integrate institutional data into their systems. By leveraging this API, users can enhance their applications and insights based on up-to-date institutional information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions": {
      "get": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Retrieve a list of institutions.",
        "description": "This endpoint allows you to fetch a complete list of available institutions. You can use this endpoint to gather essential information about all institutions in the system.",
        "operationId": "listInstitutionInstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving institution data. This body should contain the necessary parameters to filter or query the institutions as required. Ensure that the structure adheres to the defined schema for successful requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInstitutionInstitutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of institutions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstitutionInstitutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInstitutionInstitutionsRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to institutions. This should contain a JSON string that specifies the criteria for retrieving institution data.",
        "example": "{}"
      },
      "ListInstitutionInstitutionsResponse_200": {
        "title": "Get Institutions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond those displayed.",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the response was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "List of institutions matching the search criteria.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "displayName": "Northstar Banking Service",
                "liabilityData": true,
                "billPayData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "4768dd87-3252-5588-a102-604d7b592b2c",
              "correlationId": "accd4d04-076a-5217-a6fe-c266ab4f10c1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for fetching institutions.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "displayName": "Northstar Banking Service",
              "liabilityData": true,
              "billPayData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "4768dd87-3252-5588-a102-604d7b592b2c",
            "correlationId": "accd4d04-076a-5217-a6fe-c266ab4f10c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH transactions are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state-level aggregation is supported.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if VOI functionality is available.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if VOA functionality is available.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if AHA functionality is available.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance data is supported.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account owner information is available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is retrievable.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available.",
            "example": false
          },
          "displayName": {
            "type": "string",
            "description": "Display name for the institution.",
            "example": "string"
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the account type.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "string"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL for the home application.",
            "example": "string"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL for the login application.",
            "example": "string"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for this institution.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the forgot password page.",
            "example": "string"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for the online registration page.",
            "example": "string"
          },
          "class": {
            "type": "string",
            "description": "Classification of the institution.",
            "example": "string"
          },
          "specialText": {
            "type": "string",
            "description": "Any special text or information related to the institution.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone in which the institution operates.",
            "example": "string"
          },
          "specialInstructions": {
            "type": "array",
            "description": "Special instructions related to the institution.",
            "items": {
              "type": "string",
              "description": "A special instruction."
            }
          },
          "title": {
            "type": "string",
            "description": "Title or designation of the institution.",
            "example": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string",
                "description": "City where the institution is located.",
                "example": "string"
              },
              "state": {
                "type": "string",
                "description": "State where the institution is located.",
                "example": "string"
              },
              "country": {
                "type": "string",
                "description": "Country where the institution is located.",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "description": "Postal code for the institution's address.",
                "example": "string"
              }
            },
            "description": "Address of the institution."
          }
        },
        "description": "Schema representing an individual institution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was called. This can be used for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions"
        },
        "example": "open-finance-api-get-institutions"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the request. This helps in identifying the environment where the request was handled.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, which requires a JSON Web Token (JWT) to access protected resources. Clients must include the token in the Authorization header as 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}