{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Payments-spec",
    "description": "The P2M Payments Retrieval API allows users to access a comprehensive list of peer-to-Merchant (P2M) payments processed within the system. This endpoint facilitates the retrieval of payment data, enabling businesses to monitor transactions, verify payment statuses, and manage their financial operations efficiently. Typical consumers include financial analysts, accounting teams, and system integrators looking to enhance transaction transparency. This API supports a variety of use cases, such as reporting, auditing, and payment reconciliation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a list of payments.",
        "description": "This endpoint allows you to fetch a list of all payments made. You can use it to gather insights on transactions and their status.",
        "operationId": "listP2mPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to provide parameters for retrieving payment information. The data must conform to the specified JSON schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment records.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mPaymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to payments, formatted as a string.",
        "example": "{}"
      },
      "ListP2mPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of links for pagination and related operations.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of payment item objects.",
            "example": [
              {
                "paymentId": "PAY-373314",
                "paymentIntentId": "STANDARD",
                "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
                "merchantId": "MER-382914",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "merchantOrderId": "ORD-425816",
                "channel": "STANDARD",
                "paymentMethod": {
                  "type": "STANDARD",
                  "token": "STANDARD",
                  "issuerBankCode": "CODE-170",
                  "maskedIdentifier": "STANDARD",
                  "walletProvider": "STANDARD"
                },
                "customer": {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "riskSegment": "STANDARD"
                },
                "amounts": {
                  "requested": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "authorized": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "captured": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunded": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversed": {
                    "currency": "USD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful retrieval of payment operations.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "paymentId": "PAY-373314",
              "paymentIntentId": "STANDARD",
              "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
              "merchantId": "MER-382914",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "merchantOrderId": "ORD-425816",
              "channel": "STANDARD",
              "paymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-170",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "amounts": {
                "requested": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "authorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversed": {
                  "currency": "USD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "bb1fa281-6d95-50c7-b7ec-f301c822a571",
            "correlationId": "db5ace05-e956-52d7-aa91-b619cfb3867d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation of the link, e.g., 'next' or 'prev'.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "URL for the related resource.",
            "example": "https://api.example.com/payments?page=1"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to use for the link.",
            "example": "GET"
          }
        },
        "description": "Object representing a pagination link."
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "pay_12345"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent associated with the payment.",
            "example": "intent_12345"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "ID of the QR payment request, if applicable.",
            "example": "qr_12345"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "merchant_12345"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the transaction occurred.",
            "example": "outlet_12345"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used to complete the payment.",
            "example": "terminal_12345"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order ID from the merchant's system.",
            "example": "order_12345"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for the transaction.",
            "example": "online"
          },
          "paymentMethod": {
            "description": "Details of the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Details of the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Amount details for the payment.",
            "$ref": "#/components/schemas/Amounts"
          }
        },
        "description": "Object representing a single payment item."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method, e.g., 'credit_card', 'bank_transfer'.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method for security.",
            "example": "tok_123456789"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer when applicable.",
            "example": "bank_123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked account number or identifier.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet, if applicable.",
            "example": "paypal"
          }
        },
        "description": "Object representing the payment method used."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_12345"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "high"
          }
        },
        "description": "Object representing the customer making the payment."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Requested amounts for the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "Authorized amounts for the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "Captured amounts for the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "Refunded amounts for the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "Reversed amounts for the transaction.",
            "$ref": "#/components/schemas/ReversedAmountDetail"
          }
        },
        "description": "Object representing the amounts related to the payment."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Amount value as a string to accommodate large values.",
            "example": "100.00"
          }
        },
        "description": "Object representing the details of an amount."
      },
      "ReversedAmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the reversed amount.",
            "example": "USD"
          }
        },
        "description": "Object representing the details of a reversed amount."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the payment operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-payments"
        },
        "example": "banking-p2m-openapi-list-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves issuing a JSON Web Token (JWT) to authorize access to certain endpoints. Clients must include this token in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}