{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Channel Specific Advanced Voice Services Management-spec",
    "description": "The Channel-Specific Advanced Voice Services Management API facilitates the creation and management of tailored voice services for banking channels. This service allows organizations to set up advanced voice functionalities that enhance customer interactions and operational efficiency. Typical consumers include financial institutions looking to optimize their voice services based on specific channel needs. By using this API, developers can ensure that the voice services provided are aligned with both user requirements and business goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-management": {
      "post": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Create a new advanced voice service configuration.",
        "description": "This endpoint allows the user to create a new configuration for advanced voice services in the specified channel. It supports various customization options to tailor the service based on user requirements.",
        "operationId": "createChannelSpecificAdvancedVoiceServicesManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to manage advanced voice services for a specific channel. It contains the necessary parameters and data required to perform the operations associated with the management of these services.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificAdvancedVoiceServicesManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificAdvancedVoiceServicesManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificAdvancedVoiceServicesManagementRequest": {
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "The unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "The unique identifier for the Interactive Voice Response (IVR) flow.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single supported language.",
              "example": "string"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "The maximum number of concurrent calls the system can handle.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "The geographical region code for the voice service.",
            "example": "US-EAST-1"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating advanced voice services management operations.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "requestContext": {
            "requestId": "f10ab30d-3da4-58c5-9ca7-969f8d17e664",
            "correlationId": "ea6416b3-260e-52ea-a169-d468ef61055c",
            "idempotencyKey": "ea022d79-1d81-5b5c-93ca-d4ba16c56c36",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-870220"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "idemp345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "appB"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request, including identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the communication channel.",
            "example": "chan678"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., voice, video, chat).",
            "example": "voice"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used for the communication.",
            "example": "dev910"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateChannelSpecificAdvancedVoiceServicesManagementResponse_201": {
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "The unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "The unique identifier for the interactive voice response (IVR) flow.",
            "example": "STANDARD"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the geographical region of the service.",
            "example": "US-EAST-1"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-945785"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation in the Advanced Voice Services Management API, specifically for channel-specific operations.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "regionCode": "US-EAST-1",
          "resourceId": "RES-945785",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e79463b1-cf38-5a8f-b9ec-09248145641d",
            "correlationId": "ea6416b3-260e-52ea-a169-d468ef61055c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_abc"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracking the request and response.",
            "example": "correlation_def"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information pertaining to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-management-create-advanced-voice-services-management"
        },
        "example": "advanced-voice-services-management-create-advanced-voice-services-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, where the client must send a JSON Web Token (JWT) in the Authorization header for securing access to the API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}