{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Compliance By Param1-spec",
    "description": "The Financial Accounting Compliance API provides access to compliance information tailored for specific financial accounting parameters. This endpoint allows users to retrieve compliance data by specifying a unique parameter ({param1}), enabling streamlined access to necessary regulatory information. Typical consumers include compliance officers, financial analysts, and software systems requiring up-to-date compliance insights. Integrating this API supports businesses in ensuring adherence to financial regulations and enhances decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-accounting/{param1}": {
      "get": {
        "tags": [
          "Financial Compliance"
        ],
        "summary": "Retrieve financial accounting details for a specific compliance record.",
        "description": "This endpoint allows clients to fetch detailed information regarding financial accounting for the specified compliance record identified by ACC-200045. It provides key insights and data necessary for compliance assessment and financial reporting.",
        "operationId": "getComplianceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to retrieve financial accounting information specific to the accounting record identified by ACC-200045. It should include any necessary filters or parameters outlined in the schema to ensure accurate and relevant results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested financial accounting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceByParam1Request": {
        "type": "string",
        "description": "This schema represents the JSON string used as the request body for the financial accounting operations.",
        "example": "{}"
      },
      "GetComplianceByParam1Response_200": {
        "title": "Financial Accounting Operation Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction applicable to the submission.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for which the submission is made.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "Regulation under which the submission is filed.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the submission record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the submission.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial accounting operation, containing details about the submission and related metadata.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9cc35fe8-07ab-530a-8e47-7cfe78d3bf5a",
            "correlationId": "aebc61be-8892-5e0f-b6f7-46f6be1f890b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Submission Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context to the submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed. This header is used to track the endpoint that is being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-accounting-get-financial-accounting"
        },
        "example": "financial-accounting-get-financial-accounting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This header helps in identifying which application instance is handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which allows clients to authenticate using a JSON Web Token (JWT). Clients must include the token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}