{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Generate Lite-spec",
    "description": "The Lite Specification Generation API facilitates the creation of streamlined specs for production environments. Designed for developers and project managers, this API allows users to generate concise specifications tailored to project requirements. By submitting necessary parameters via a POST request, consumers can automate the drafting process, ensuring consistency and saving time. Common use cases include integration with build systems and project documentation tools, helping teams streamline their workflows and improve collaborative efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/lite": {
      "post": {
        "tags": [
          "Resource Management"
        ],
        "summary": "Generate a lightweight version of the resource.",
        "description": "This endpoint allows users to generate a lightweight version of the specified resource. It is designed for efficiency, ensuring minimal payload while preserving essential information.",
        "operationId": "createGenerateLite",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to generate a lightweight response. It includes parameters that determine the output format and content. Please ensure the data adheres to the expected schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenerateLiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the generated resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGenerateLiteResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateGenerateLiteRequest": {
        "title": "Generate SLite Operation Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the operation.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-827242"
          },
          "institutionId": {
            "type": "integer",
            "description": "The identifier for the institution associated with the operation.",
            "format": "int32",
            "example": 1
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect to after the operation is completed.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The URL for the webhook to notify upon completion.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook notification.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "The user experience setting for the operation.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the generated URL is for single use only.",
            "example": true
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "description": "Indicates if the operation is hosted within a mobile application.",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "description": "Indicates if the operation is viewed in a web view.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for generating a lightweight operation, containing various identifiers, configuration settings, and context information.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-827242",
          "institutionId": 1,
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "singleUseUrl": true,
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "72c8fd53-bc4e-5cdb-854d-b3a1da8188e3",
            "correlationId": "bcd94fc0-36fd-5014-9713-335e638951b6",
            "idempotencyKey": "70d5ab8c-81c9-5c37-b74d-83c63c8d82c0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-895397"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that initiated the request.",
            "example": "system-x"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that generated the request.",
            "example": "app-y"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request such as identifiers, timestamps, and source applications."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel used for the request, including identifiers and types."
      },
      "CreateGenerateLiteResponse_200": {
        "title": "ResponseObject",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link associated with the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information including identifiers and timestamps associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response object for the POST operation, containing a link and metadata about the request.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "5d19b3d0-a332-5317-aff2-299e0300ab75",
            "correlationId": "bcd94fc0-36fd-5014-9713-335e638951b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "ResponseMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "abcde-12345-fghij-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information about the processing of the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-lite-connect-url"
        },
        "example": "open-finance-api-generate-lite-connect-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which allows you to pass a JSON Web Token (JWT) in the Authorization header of your requests. The JWT token is typically used to verify the identity of the user and ensure that they have the appropriate permissions to access the requested resource.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}