{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Ach Operation Status-spec",
    "description": "The ACH Operation Status Retrieval API provides insights into the current status of ACH transactions. This endpoint allows users to gather real-time information on various ACH operations, enabling financial institutions and businesses to monitor transaction statuses effectively. Typical consumers include banking applications and payment processing systems, which rely on this data for enhancing user experience and ensuring timely updates. By leveraging this API, developers can integrate ACH operation status checks seamlessly into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/ach-operations/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the status of ACH operations.",
        "description": "This endpoint allows you to fetch the current status of Automated Clearing House (ACH) operations, providing insight into the ongoing transactions and their outcomes.",
        "operationId": "listAchOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of ACH operations. It should contain the necessary parameters to identify the specific operations whose status is being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAchOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the payment status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAchOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAchOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for getting the status of ACH operations. The body is expected to be a string that specifies the details of the request.",
        "example": "{}"
      },
      "ListAchOperationStatusResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-209291"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-139384"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-629884"
          },
          "instructedAmount": {
            "description": "The amount and currency specified for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information provided for remittance purposes.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the payment record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the ACH operations status GET request.",
        "example": {
          "paymentId": "PAY-209291",
          "debtorAccountId": "ACC-139384",
          "creditorAccountId": "ACC-629884",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b5c58541-8306-5be4-acd5-fbb30e215952",
            "correlationId": "2e24472c-5263-5168-a5cb-e7267bf8d094",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to be transferred.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the instructed amount and currency for a payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "cor-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata for a payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ach-operations-get-ach-operations"
        },
        "example": "ach-operations-get-ach-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). Clients must send a bearer token in the Authorization header to authenticate requests. The bearer token grants access to the resources on the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}