{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Standing Orders Retrieval API",
    "description": "The Standing Orders Retrieval API enables consumers to access standing order details linked to specific bank accounts. By providing the accountId, users can retrieve comprehensive information on all standing orders, including their schedules and amounts. This API is particularly useful for financial service providers and consumers looking to manage or review their recurring payments effectively. It allows users to maintain better oversight of their financial commitments through an easy-to-use interface.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/standing-orders": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve standing orders for a specific AISP account.",
        "description": "This endpoint allows you to fetch all standing orders associated with the specified AISP account. Standing orders are payments set up to be made automatically at regular intervals. Use this endpoint to manage and review standing orders linked to your account.",
        "operationId": "getStandingOrdersForAispAccount_ACC-200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the standing orders associated with the specified account. It contains the necessary parameters to identify the account and retrieve its standing order details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStandingOrdersForAispAccount_ACC-200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved standing orders for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingOrdersForAispAccount_ACC-200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetStandingOrdersForAispAccount_ACC-200045Request": {
        "type": "string",
        "description": "This schema represents the body of a GET request for standing orders related to a specific account.",
        "example": "{}"
      },
      "GetStandingOrdersForAispAccount_ACC-200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "StandingOrder": {
                "type": "array",
                "description": "List of standing orders associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/StandingOrder"
                }
              }
            },
            "description": "Contains the main data related to the standing orders.",
            "example": {
              "StandingOrder": [
                {
                  "AccountId": "ACC-483513",
                  "id": "STANDARD",
                  "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                  "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                  "NumberOfPayments": "STANDARD",
                  "statusCode": "CODE-462",
                  "FirstPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "NextPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "LastPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "FinalPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-661",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving standing orders associated with a specific account.",
        "example": {
          "Data": {
            "StandingOrder": [
              {
                "AccountId": "ACC-483513",
                "id": "STANDARD",
                "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                "NumberOfPayments": "STANDARD",
                "statusCode": "CODE-462",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "NextPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "LastPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-661",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "97e45a4f-7621-5868-a574-c75a157baca1",
            "correlationId": "1b19c7d1-733d-5159-983a-99001386691d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StandingOrder": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier of the account to which the standing order is linked."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the standing order."
          },
          "NextPaymentDateTime": {
            "type": "string",
            "description": "Date and time for the next scheduled payment."
          },
          "LastPaymentDateTime": {
            "type": "string",
            "description": "Date and time for the last completed payment."
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments scheduled for this standing order."
          },
          "statusCode": {
            "type": "string",
            "description": "Current status of the standing order."
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "NextPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "LastPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "FinalPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Schema representing an individual standing order."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the payment."
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the payment is made."
          }
        },
        "description": "Schema representing the payment amount details."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the payment scheme used by the creditor."
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor."
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Schema representing the creditor's agent details."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization (if applicable)."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization (if applicable)."
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building (if applicable)."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number of the address (if applicable)."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the address (if applicable)."
          },
          "Room": {
            "type": "string",
            "description": "Room number of the address (if applicable)."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number (if applicable)."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the locality or town."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address information (if applicable)."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Sub-division of the country (e.g., state or province)."
          },
          "Country": {
            "type": "string",
            "description": "Country name."
          },
          "AddressLine": {
            "type": "array",
            "description": "Array of address lines.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Schema representing the postal address of the creditor."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed, useful for logging and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-standing-orders"
        },
        "example": "accounts-api-get-accounts-account-id-standing-orders"
      },
      "X-Runtime-App": {
        "description": "The application name that is processing the request, which can help in identifying the source of the call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method, where a bearer token (in the form of a JSON Web Token, or JWT) is required to access protected resources. The token should be included in the Authorization header of the request in the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}