{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Human Resource Management By Param1-spec",
    "description": "The Payroll Benefits Management API allows businesses to efficiently manage and update payroll benefits for employees. This endpoint enables the modification of specific payroll benefit details by providing a unique identifier. Typical consumers include HR departments and payroll administrators who are looking to enhance their HR management processes. By using this API, organizations can ensure compliance with regulations and streamline benefits administration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits/{param1}": {
      "put": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Update Payroll Benefits",
        "description": "This endpoint allows for updating the payroll benefits related to a specific resource identified by RES-100045. It is essential for maintaining accurate and current payroll information within the human resource management system.",
        "operationId": "replaceHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request updates the payroll benefits information for the specified resource. The body must contain the relevant data formatted as JSON, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceHumanResourceManagementByParam1Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceHumanResourceManagementByParam1Request": {
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-623156"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll is being processed.",
            "example": "STANDARD"
          },
          "grossPay": {
            "$ref": "#/components/schemas/GrossPay"
          },
          "deductions": {
            "$ref": "#/components/schemas/Deductions"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is processed.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating payroll benefits operations.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-623156",
          "payPeriod": "STANDARD",
          "grossPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "deductions": {
            "amount": 100.0,
            "currency": "USD"
          },
          "paymentDate": "2026-09-15",
          "requestContext": {
            "requestId": "b6b0337c-af4c-5f84-8557-b21bd497898c",
            "correlationId": "9a407193-2ade-580a-b582-1ccc1b60db84",
            "idempotencyKey": "fdb58a1b-7e60-54e7-892b-87dcbe2e1948",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-202381"
            }
          }
        }
      },
      "GrossPay": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of gross pay.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the gross pay amount.",
            "example": "string"
          }
        },
        "description": "Details about the gross pay for the employee."
      },
      "Deductions": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount deducted from the gross pay.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the deduction amount.",
            "example": "string"
          }
        },
        "description": "Details about the deductions from the employee's pay."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "ReplaceHumanResourceManagementByParam1Response_201": {
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-964200"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the payroll.",
            "example": "RES-688439"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payroll operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the payroll was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payroll operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payroll operation requests.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-964200",
          "resourceId": "RES-688439",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "be0ac0a4-3e1a-5fea-9ebb-5b82a734c398",
            "correlationId": "9a407193-2ade-580a-b582-1ccc1b60db84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "CORRELATION123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payroll processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the payroll operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This helps in tracking the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-create-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-create-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request, useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request, allowing identification of the process flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-082"
        },
        "example": "WF-082"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is associated with the payroll benefits operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Payroll and Benefits Processing"
        },
        "example": "Employee Payroll and Benefits Processing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow during the payroll benefits operation, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow related to the payroll benefits process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "aefda2e5-d6d7-4974-ae04-92b954689532"
        },
        "example": "aefda2e5-d6d7-4974-ae04-92b954689532"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT) for securely transmitting information between the client and server. Clients can authenticate by including the JWT in the `Authorization` header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}