{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Portfolio Details Retrieval API",
    "description": "The Portfolio Details Retrieval API provides users with detailed information about a specific investment portfolio by its unique identifier. This API serves financial analysts and portfolio managers seeking to analyze performance metrics, asset allocation, and risk assessments of portfolios. It enables consumers to gain insights into portfolio composition and adjustments, facilitating informed decision-making. Typical use cases include generating reports for stakeholders or integrating portfolio data into financial analysis tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Portfolio Management"
        ],
        "summary": "Retrieve a portfolio by its ID.",
        "description": "This endpoint allows you to fetch the details of a specific portfolio using its unique identifier. This can be useful for viewing portfolio information, analyzing asset allocation, and making informed investment decisions.",
        "operationId": "getPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving operations related to the specified portfolio. This body specifies the necessary parameters to filter or modify the response as per user requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPortfolioByIdRequest": {
        "type": "string",
        "description": "A string representing the request body for the portfolio operations when making a GET request.",
        "example": "{}"
      },
      "GetPortfolioByIdResponse_200": {
        "title": "Portfolio Response Schema",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-764332"
          },
          "consumer": {
            "description": "Detailed information about the consumer associated with the portfolio.",
            "$ref": "#/components/schemas/Consumer"
          },
          "reports": {
            "type": "array",
            "description": "A list of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-155591",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the portfolio details including consumer information, reports, and metadata.",
        "example": {
          "portfolioId": "PORT-764332",
          "consumer": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "customerId": 1,
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "birthday": {
              "year": 1,
              "month": 1,
              "dayOfMonth": 1
            },
            "email": "olivia.bennett@northstar.example",
            "createdDate": 1,
            "suffix": "STANDARD",
            "endUser": {
              "name": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "url": "https://banking.northstar.example/callbacks/status"
            }
          },
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-155591",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "metadata": {
            "responseId": "dd6dcb86-aa50-5125-8e3f-3f6ff6f85687",
            "correlationId": "ceb72080-17d5-5518-bec4-9fee0d232773",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Consumer": {
        "title": "Consumer Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "string"
          },
          "customerId": {
            "type": "integer",
            "description": "The identifier for the customer.",
            "format": "int32",
            "example": 0
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "The social security number of the consumer.",
            "example": "string"
          },
          "birthday": {
            "description": "The birthday of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the consumer record was created.",
            "format": "int32",
            "example": 0
          },
          "suffix": {
            "type": "string",
            "description": "The suffix of the consumer's name (e.g., Jr., Sr.).",
            "example": "string"
          },
          "endUser": {
            "description": "Information about the end user related to the consumer.",
            "$ref": "#/components/schemas/EndUser"
          }
        },
        "description": "Information about the consumer."
      },
      "Report": {
        "title": "Report Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the report.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio associated with the report.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the report.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the report.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the report was created.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details of a report associated with the portfolio."
      },
      "Metadata": {
        "title": "Response Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the API response."
      },
      "Birthday": {
        "title": "Birthday Schema",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 0
          },
          "month": {
            "type": "integer",
            "description": "The month of birth.",
            "format": "int32",
            "example": 0
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of birth.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "The consumer's birthday details."
      },
      "EndUser": {
        "title": "End User Schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Information about the end user related to the consumer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked. It helps in tracing the request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-path-param-port-folio-id"
        },
        "example": "open-finance-api-get-portfolio-by-path-param-port-folio-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. Useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, where a JSON Web Token (JWT) is provided in the Authorization header to authenticate users and manage sessions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}