{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Standing Order Consents API",
    "description": "The Domestic Standing Order Consents API facilitates the authorization and management of standing order consents between account holders and payment initiation service providers (PISPs). This API allows users to create, manage, and monitor consent for automatic payments, enabling financial institutions to offer seamless recurring payment solutions. Typical consumers of this API include banks, fintech applications, and any service looking to implement automated payment functionalities. With this API, organizations can enhance customer experience while ensuring compliance with open banking regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-order-consents": {
      "post": {
        "tags": [
          "Standing Order"
        ],
        "summary": "Create a new domestic standing order consent.",
        "description": "This endpoint allows the user to create a new consent for a domestic standing order. It requires the necessary details for the standing order, which will be processed and validated before the consent is established.",
        "operationId": "createDomesticStandingOrderConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new domestic standing order consent. It should contain all necessary details required for the consent, ensuring compliance with payment service regulations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticStandingOrderConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The standing order consent has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticStandingOrderConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticStandingOrderConsentRequest": {
        "title": "Domestic Standing Order Consent Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/StandingOrderData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating a domestic standing order consent.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75"
              }
            }
          },
          "requestContext": {
            "requestId": "b513a198-3379-572b-943c-aa7cded6e36f",
            "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
            "idempotencyKey": "f4ae31dc-556a-585d-9bb8-848d46857092",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-508653"
            }
          }
        }
      },
      "StandingOrderData": {
        "title": "Standing Order Data",
        "type": "object",
        "properties": {
          "Permission": {
            "type": "string",
            "description": "The permission granted for the transaction.",
            "example": "string"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates if the refund account can be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/StandingOrderInitiation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The number of payments to be made.",
            "example": "string"
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "RecurringPaymentAmount": {
            "$ref": "#/components/schemas/RecurringPaymentAmount"
          }
        },
        "description": "Data associated with the standing order consent."
      },
      "StandingOrderInitiation": {
        "title": "Standing Order Initiation",
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "Unstructured": {
            "type": "array",
            "description": "Unstructured information related to the payments.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Details regarding the initiation of the standing order."
      },
      "RemittanceInformation": {
        "title": "Remittance Information",
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Structured remittance details.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          }
        },
        "description": "Structured remittance information for the standing order."
      },
      "StructuredRemittance": {
        "title": "Structured Remittance",
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Documents referred to in the remittance.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount associated with the referred document.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "The party that issued the invoice.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "The party receiving the invoice.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax-related remittance information.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional remittance information.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Details of the structured remittance information."
      },
      "ReferredDocument": {
        "title": "Referred Document",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code identifying the document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "Document number.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details regarding each line item in the document.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Details of a referred document."
      },
      "CreditorReferenceInformation": {
        "title": "Creditor Reference Information",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Creditor reference code.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the creditor reference.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "The creditor reference.",
            "example": "string"
          }
        },
        "description": "Information regarding the creditor reference."
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the payment amount.",
            "example": "string"
          }
        },
        "description": "Details of the amount for the first payment."
      },
      "RecurringPaymentAmount": {
        "title": "Recurring Payment Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount for each recurring payment.",
            "example": "string"
          }
        },
        "description": "Details of the recurring payment amount."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency for the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateDomesticStandingOrderConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "The unique identifier of the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "The current status of the consent.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the consent status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "A list of reasons for the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Permission": {
                "type": "string",
                "description": "Specifies the permissions granted by the consent.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The date and time when the consent becomes effective.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "A list of charges associated with the consent.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Structured remittance information.",
                        "items": {
                          "$ref": "#/components/schemas/StructuredRemittanceInformation"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Unstructured remittance notes.",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Details regarding the remittance information provided in the consent."
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "The total number of payments associated with the consent.",
                    "example": "string"
                  },
                  "FirstPaymentAmount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "RecurringPaymentAmount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "FinalPaymentAmount": {
                    "$ref": "#/components/schemas/Amount"
                  }
                },
                "description": "Information about the initiation of the consent."
              }
            },
            "description": "Contains the main data related to the consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier of the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The ID used for correlating events across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the consent took place.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "1ce75aae-ec52-55f4-bd57-9f19636efb63",
              "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the domestic standing order consents operation, providing detailed information about the consent request.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "FinalPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "1ce75aae-ec52-55f4-bd57-9f19636efb63",
            "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "A path associated with the status reason.",
            "example": "string"
          }
        },
        "description": "Details about the status reason."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "The entity that bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details about a specific charge associated with the consent."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is represented.",
            "example": "string"
          }
        },
        "description": "An amount with its currency information."
      },
      "StructuredRemittanceInformation": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "The document code.",
                  "example": "string"
                },
                "Issuer": {
                  "type": "string",
                  "description": "The issuer of the document.",
                  "example": "string"
                },
                "Number": {
                  "type": "string",
                  "description": "The document number.",
                  "example": "string"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "The date related to the document.",
                  "example": "string"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Details for each line in the document.",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Structured remittance information details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-standing-order-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-standing-order-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). This scheme requires clients to include a bearer token in the `Authorization` header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}