{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Microentry By Customer Id-spec",
    "description": "The Microentry Creation API facilitates the addition of microentries associated with specific customers. This endpoint allows businesses to enhance their customer records by submitting detailed microentry data linked to a unique customer ID. Typical consumers of this API include CRM systems and customer management platforms that require the ability to dynamically update customer-related information. By using this API, organizations can streamline their data management processes and improve customer experience through tailored entry submissions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer record.",
        "description": "This operation allows you to create a new customer with the provided details. It requires the customer data to be included in the request body. Successful creation will return the newly created customer details.",
        "operationId": "createMicroentryByCustomerId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating a customer with ID 'CUST-100045'. This payload must follow the defined schema and contains crucial customer information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMicroentryByCustomerIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success: The customer data has been processed and returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMicroentryByCustomerIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMicroentryByCustomerIdRequest": {
        "title": "Customer Operations Request Body",
        "type": "object",
        "properties": {
          "institutionLoginId": {
            "type": "string",
            "description": "The unique identifier for the institution's login.",
            "example": "STANDARD"
          },
          "receiver": {
            "description": "Details of the receiver including bank account information.",
            "$ref": "#/components/schemas/Receiver"
          },
          "callbackUrl": {
            "type": "string",
            "description": "The URL to which the API can send callback notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The payload required to initiate customer operations.",
        "example": {
          "institutionLoginId": "STANDARD",
          "receiver": {
            "routingNumber": "021000021",
            "accountNumber": "STANDARD",
            "accountType": "CHECKING",
            "name": "Northstar Banking Service",
            "memo": "STANDARD"
          },
          "callbackUrl": "https://banking.northstar.example/callbacks/status",
          "requestContext": {
            "requestId": "5e9892f1-f137-50bd-b6c5-b63f628d41e4",
            "correlationId": "018194ac-08cd-5cb5-bca5-565a84979770",
            "idempotencyKey": "5cb76455-f938-584c-9834-7dc09c56ae71",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-289765"
            }
          }
        }
      },
      "Receiver": {
        "title": "Receiver",
        "type": "object",
        "properties": {
          "routingNumber": {
            "type": "string",
            "description": "The routing number of the receiver's bank.",
            "example": "123456789"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number of the receiver.",
            "example": "987654321"
          },
          "accountType": {
            "type": "string",
            "description": "The type of the receiver's account (e.g., checking, savings).",
            "example": "checking"
          },
          "name": {
            "type": "string",
            "description": "The name of the receiver.",
            "example": "John Doe"
          },
          "memo": {
            "type": "string",
            "description": "An optional memo for the transaction.",
            "example": "Payment for services rendered"
          }
        },
        "description": "The recipient's banking details."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the operation is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was made.",
            "example": "device-001"
          }
        },
        "description": "Details of the channel used for the request."
      },
      "CreateMicroentryByCustomerIdResponse_200": {
        "title": "Customer Operations Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer account.",
            "example": "ACC-479395"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer operation.",
            "example": "ACTIVE"
          },
          "depositCount": {
            "type": "integer",
            "description": "Number of deposits made by the customer.",
            "format": "int32",
            "example": 1
          },
          "statusDescription": {
            "type": "string",
            "description": "Detailed description of the current status.",
            "example": "STANDARD"
          },
          "railType": {
            "type": "string",
            "description": "Type of rail associated with the operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for customer operations.",
        "example": {
          "accountId": "ACC-479395",
          "status": "ACTIVE",
          "depositCount": 1,
          "statusDescription": "STANDARD",
          "railType": "STANDARD",
          "metadata": {
            "responseId": "4f16354e-7053-50a7-af47-30cae308fe02",
            "correlationId": "018194ac-08cd-5cb5-bca5-565a84979770",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation took place.",
            "example": "string"
          }
        },
        "description": "This schema holds metadata related to a customer operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-initiate-micro-amount-deposits"
        },
        "example": "open-finance-api-initiate-micro-amount-deposits"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a Bearer token, which is a JSON Web Token (JWT). Clients must include the token in the `Authorization` header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}