{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Consumer Service Trust Service-spec",
    "description": "The Consumer Service Trust Management API facilitates the creation of trust services for consumers within the banking sector. This endpoint allows authorized users to establish and manage trust relationships for consumer services, enhancing the overall security and reliability of financial transactions. Typically used by financial institutions and developers, this API supports the integration of trust services into existing consumer banking applications. Users can leverage this functionality to improve compliance with regulations and foster consumer confidence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services": {
      "post": {
        "tags": [
          "Trust Services"
        ],
        "summary": "Create a new trust service for consumers.",
        "description": "This endpoint allows for the creation of a new trust service specifically designed for consumer use, enabling better management and access to trust-related functionalities in a streamlined manner.",
        "operationId": "createConsumerServiceTrustService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a trust service operation for consumers. It contains the necessary information required to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerServiceTrustServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating a new trust service has been established.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerServiceTrustServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerServiceTrustServiceRequest": {
        "title": "Service Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "A unique identifier for the customer.",
            "example": "CUST-499093"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "A unique identifier for the service request.",
            "example": "b692b778-4a40-52cc-ba45-1eafa69a7535"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product for which the service is requested.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount related to the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "The context related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for operations on trust services, including customer details and the service request.",
        "example": {
          "customerId": "CUST-499093",
          "serviceRequestId": "b692b778-4a40-52cc-ba45-1eafa69a7535",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "4f562da9-afef-51b9-9315-66ff56775e53",
            "correlationId": "830d0cfe-3bb6-5081-b2cd-0f0ecf3bb2a1",
            "idempotencyKey": "aad447fd-60b4-5f7a-8c5e-49a89927c588",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-186541"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is represented.",
            "example": "USD"
          }
        },
        "description": "The monetary amount and currency associated with the service request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "correlation101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to handle idempotent requests.",
            "example": "idempotentKey202"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "sourceSystemXYZ"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "sourceAppABC"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context details for the service request, including identifiers and system information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device from which the request originated.",
            "example": "device456"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateConsumerServiceTrustServiceResponse_201": {
        "title": "Service Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-242399"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "0db5fda5-9499-591e-af03-742fbe6902d8"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product involved in the service operation.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the service operation.",
            "example": "RES-463348"
          },
          "status": {
            "type": "string",
            "description": "The status of the service operation request, indicating success or failure.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the service operation request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the service operation.",
            "$ref": "#/components/schemas/ServiceMetadata"
          }
        },
        "description": "This schema represents the response for a service operation request, containing the details of the operation outcome.",
        "example": {
          "customerId": "CUST-242399",
          "serviceRequestId": "0db5fda5-9499-591e-af03-742fbe6902d8",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-463348",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a5b9a83c-3f5a-5cff-8e5f-f324a2c10de6",
            "correlationId": "830d0cfe-3bb6-5081-b2cd-0f0ecf3bb2a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceMetadata": {
        "title": "Service Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-4444"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "corr-5555"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the service operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional information pertaining to the service operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-create-trust-services"
        },
        "example": "trust-services-create-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that is executing the request, helpful for identifying the source of the call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, which requires a valid JSON Web Token (JWT) to be provided in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}