{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Servicing Orders-spec",
    "description": "The Servicing Orders Retrieval API enables users to access detailed information about servicing orders within the banking system. This endpoint allows for the retrieval of order data, supporting business operations such as account management and service fulfillment. Typical consumers of this API include banking personnel, customer support teams, and third-party system integrators looking to enhance their service offerings. Efficiently manage and track servicing orders by leveraging this well-defined API.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-order": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve servicing order details.",
        "description": "This endpoint allows you to fetch the details of a servicing order. It returns information about the order's status, associated customer, and item specifications.",
        "operationId": "listServicingServicingOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving servicing order information. This should contain the necessary details specified in the schema to fetch the appropriate servicing order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingServicingOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved servicing order information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingServicingOrdersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingServicingOrdersRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to servicing orders. The content of the request body is of type string.",
        "example": "{}"
      },
      "ListServicingServicingOrdersResponse_200": {
        "title": "Servicing Order Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of servicing order items.",
            "example": [
              {
                "customerId": "CUST-821922",
                "caseId": "CASE-118069",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingOrderItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the result of a servicing order retrieval operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-821922",
              "caseId": "CASE-118069",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f739b3d0-880c-5cb6-834c-8b26d1674357",
            "correlationId": "838567bb-022f-57ff-8f85-54553be3f222",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingOrderItem": {
        "title": "Servicing Order Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case related to the servicing order.",
            "example": "string"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the servicing order.",
            "example": "string"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual servicing order including details about the customer and request."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the collection.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response, providing information about current paging status."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-order-search-servicing-order"
        },
        "example": "servicing-order-search-servicing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to secure endpoints with a JSON Web Token (JWT). Clients must include a valid JWT token in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}