{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card E-Commerce Gateway API",
    "description": "The Card E-Commerce Gateway API facilitates the patching of payment details for card transactions in an e-commerce context. This endpoint allows merchants to update specific attributes related to card payments, thereby enhancing transaction processing capabilities. Typical consumers of this API include online retailers and payment processors seeking to maintain accurate transaction data and improve payment workflows. Use cases include adjusting payment status, modifying transaction parameters, and managing discrepancies in card payment information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway/{param1}": {
      "patch": {
        "tags": [
          "Payment Transactions"
        ],
        "summary": "Update payment details for a specific card transaction.",
        "description": "This operation allows you to update the details associated with a specific card transaction identified by CARD-400045 in the card e-commerce gateway. Use this to modify transaction attributes as necessary.",
        "operationId": "patchPaymentCardEcommerceGatewayCARD400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the status or details of a card payment transaction in the card e-commerce gateway. Make sure to include all necessary fields as defined in the schema to ensure a successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPaymentCardEcommerceGatewayCARD400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resources updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchPaymentCardEcommerceGatewayCARD400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchPaymentCardEcommerceGatewayCARD400045Request": {
        "title": "Card Operations Request Body",
        "required": [
          "changeReason",
          "changes",
          "effectiveAt",
          "requestContext",
          "requestedBy"
        ],
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the card payment.",
            "$ref": "#/components/schemas/CardPaymentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for performing operations on card payments through the e-commerce gateway.",
        "example": {
          "changes": {
            "paymentId": "PAY-747845",
            "debtorAccountId": "ACC-503417",
            "creditorAccountId": "ACC-144769"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "dc5a25d4-3ab7-5b43-a714-eb86689ed316",
            "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
            "idempotencyKey": "9068a7dd-146b-5c30-ace0-f0f054a7f6e1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-330736"
            }
          }
        }
      },
      "CardPaymentChanges": {
        "title": "Card Payment Changes",
        "required": [
          "creditorAccountId",
          "debtorAccountId",
          "paymentId"
        ],
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "payment_12345"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor associated with the payment.",
            "example": "debtor_account_001"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor associated with the payment.",
            "example": "creditor_account_001"
          }
        },
        "description": "This schema defines the properties for the changes to be applied to the card payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to track the request across systems.",
            "example": "corr_abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idempotency_key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system initiating the request.",
            "example": "ecommerce_platform"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that initiated the request.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the context for the request including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device used for the request.",
            "example": "device_001"
          }
        },
        "description": "This schema provides details about the channel through which the request was made."
      },
      "PatchPaymentCardEcommerceGatewayCARD400045Response_200": {
        "title": "Card Payment Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the payment operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment operation.",
            "$ref": "#/components/schemas/PaymentMetadata"
          }
        },
        "description": "This schema represents the response for a card payment operation in the e-commerce gateway.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4a7347e5-9428-54ff-a598-9a0786cf739a",
            "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMetadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the payment response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "This schema represents additional metadata associated with a payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-update-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-update-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, indicating the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to access protected resources by including a JSON Web Token (JWT) in the Authorization header of their HTTP requests. Make sure to obtain the token from an authentication server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}