{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Data Access Tiers API",
    "description": "This API enables the management of data access tiers associated with customer accounts. By utilizing this endpoint, businesses can define and update how data access is tiered for specific customer accounts, tailoring services to diverse client needs. Typical consumers of this API include financial institutions and service providers focused on enhancing customer data interaction. This integration allows for improved access control and resource allocation, ultimately streamlining customer data management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/data-access-tiers": {
      "post": {
        "tags": [],
        "summary": "Create data access tiers for a customer account.",
        "description": "This endpoint allows you to create data access tiers associated with a specific customer account. Use this operation to define and manage different access levels based on your business needs.",
        "operationId": "createDataAccessTiersForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update data access tiers for a specific customer account. Ensure that the data provided adheres to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataAccessTiersForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully with no content.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDataAccessTiersForCustomerResponse_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDataAccessTiersForCustomerRequest": {
        "title": "Data Access Tiers Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for POST operations related to data access tiers.",
        "example": {
          "requestContext": {
            "requestId": "e3ca2008-2bcd-5131-a210-224a505ca471",
            "correlationId": "84f301bf-88cd-5683-98b6-789b3dad34c4",
            "idempotencyKey": "58303ed9-8b8b-551e-bf7b-b820fb579d49",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-500639"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs across services.",
            "example": "correlation-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "idempotency-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "appB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the request context including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Mobile, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used, if applicable.",
            "example": "device-12345"
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "CreateDataAccessTiersForCustomerResponse_204": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation related to data access tiers for customer accounts.",
        "example": {
          "metadata": {
            "responseId": "0d0c4e7a-b8fe-5342-88ad-ceb1051fe655",
            "correlationId": "84f301bf-88cd-5683-98b6-789b3dad34c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking a specific request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response, including response identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-customer-accounts-v2"
        },
        "example": "open-finance-api-refresh-customer-accounts-v2"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) to be included in the authorization header of your HTTP requests. Ensure that the JWT is properly structured and signed to authenticate your requests successfully.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}