{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Enterprise Services Legal Advisory By Legal Advisory Id-v5-spec",
    "description": "The Legal Advisory Update API facilitates the modification of existing legal advisory services within the banking enterprise system. This endpoint allows authorized users to patch specific attributes of a legal advisory record identified by its unique ID. Typical consumers include legal teams and banking administrators who require dynamic adjustments to compliance documents or advisory details. This API ensures that legal advisories stay current and relevant to operational needs, thus supporting risk management and regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory/{legalAdvisoryId}": {
      "patch": {
        "tags": [
          "Legal Advisory"
        ],
        "summary": "Update legal advisory resource details.",
        "description": "This endpoint allows you to update the details of a specific legal advisory resource identified by its unique ID. Make sure to provide the necessary fields to ensure the resource is updated correctly.",
        "operationId": "updateBankingEnterpriseServicesLegalAdvisoryByLegalAdvisoryId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/legalAdvisoryId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update legal advisory service details for the specified resource. It should contain the necessary fields to modify the existing data, ensuring that only the relevant attributes are altered while preserving others.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingEnterpriseServicesLegalAdvisoryByLegalAdvisoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingEnterpriseServicesLegalAdvisoryByLegalAdvisoryIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingEnterpriseServicesLegalAdvisoryByLegalAdvisoryIdRequest": {
        "title": "Legal Advisory Operation Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details about the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching legal advisory operations.",
        "example": {
          "changes": {
            "engagementId": "STANDARD",
            "scope": "STANDARD",
            "framework": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1cf2bfda-b0fd-52b5-9352-cd4b05f17c01",
            "correlationId": "81bb326b-b072-5c94-b79b-7d263bf1c389",
            "idempotencyKey": "c01f9331-07a1-5625-8656-36b154d1458c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-138389"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "engagement-001"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the changes being made.",
            "example": "Updated scope for legal review."
          },
          "framework": {
            "type": "string",
            "description": "Legal framework applicable to the changes.",
            "example": "Contractual obligations."
          }
        },
        "description": "Schema representing the details of the changes being performed."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T14:26:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "Application X"
          },
          "channel": {
            "description": "Information about the channel through which the request was submitted.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the details of the communication channel used for the request."
      },
      "UpdateBankingEnterpriseServicesLegalAdvisoryByLegalAdvisoryIdResponse_200": {
        "title": "Legal Advisory Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the resource.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response, includes various identifiers.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Legal Advisory operation, providing important metadata and status information.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "456618b4-9339-5be8-bcba-33ce0075a79d",
            "correlationId": "81bb326b-b072-5c94-b79b-7d263bf1c389",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing identifiers related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "legalAdvisoryId": {
        "name": "legalAdvisoryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-update-legal-advisory"
        },
        "example": "legal-advisory-update-legal-advisory"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, allowing clients to authenticate by including a JSON Web Token (JWT) in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}