{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Product Design API",
    "description": "The Update Product Design API enables businesses to modify existing product design details within the banking product management system. By utilizing this API, users can easily update specifications, features, and configurations of product designs identified by their unique design ID. This is particularly useful for product managers and design teams looking to adapt products to market changes or customer feedback. Streamlining the design modification process enhances agility in product management, ensuring that offerings remain relevant and competitive.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-design/designs/{designId}": {
      "put": {
        "tags": [
          "Product Management"
        ],
        "summary": "Update a specific product design.",
        "description": "This endpoint allows the user to update the details of a specific product design identified by its unique ID (RES-100045). It provides the necessary functionality to reflect changes in design attributes, enhancing product management capabilities.",
        "operationId": "updateProductDesignRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/designId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the design details for a specific product identified by RES-100045. The provided data must conform to the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductDesignRES100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductDesignRES100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateProductDesignRES100045Request": {
        "title": "Product Design Update Request",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers that the product is targeted at.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency code that represents the base currency for transactions.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the product information becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating product design information.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "5e4ce224-abc5-5065-baba-645a5f18f7b1",
            "correlationId": "baaf7f05-4059-5f88-ae2c-d0688dee540d",
            "idempotencyKey": "77e7cdae-8737-561e-8042-86431f45bd4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-959865"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple related requests.",
            "example": "CORR-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation can be safely retried without side effects.",
            "example": "IDEM-13579"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system from where the request was made.",
            "example": "InventoryManagement"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "OrderProcessingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context of the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHN-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV-XYZ987"
          }
        },
        "description": "Details about the channel used to make the request."
      },
      "UpdateProductDesignRES100045Response_201": {
        "title": "Product Design Operation Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code associated with the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the specific resource processed in the operation.",
            "example": "RES-710024"
          },
          "status": {
            "type": "string",
            "description": "Current status of the product design operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the product design operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Information regarding the request and processing of the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing the details of the product design operation after a successful PUT request.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-710024",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0d5c7f37-3a89-550f-94d8-669f9ae02870",
            "correlationId": "baaf7f05-4059-5f88-ae2c-d0688dee540d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across services.",
            "example": "corr_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Detailed metadata related to the product design operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "designId": {
        "name": "designId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint where the request was routed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-design-design-product-design"
        },
        "example": "product-design-design-product-design"
      },
      "X-Runtime-App": {
        "description": "The name of the application executing the request, which helps in logging and tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow associated with this operation, useful for tracing the request through complex processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Product Launch Pricing and Channel Deployment"
        },
        "example": "Product Launch Pricing and Channel Deployment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "56a6e058-b4a4-4e87-b71a-86058ee101b6"
        },
        "example": "56a6e058-b4a4-4e87-b71a-86058ee101b6"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with a JWT (JSON Web Token) for securing API endpoints. Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}