{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Owner Retrieval API",
    "description": "The Customer Account Owner Retrieval API allows businesses to access ownership information related to specific customer accounts. By utilizing this endpoint, developers can retrieve details about the owner of an account linked to a customer, facilitating better customer relationship management and account tracking. This API is particularly useful for financial institutions and service providers that need to identify account holders efficiently. Typical consumers include customer support teams, audit functions, and data analysts who need to verify ownership details for compliance and operational purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/owner": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve the owner details of a specific account",
        "description": "This API endpoint allows you to fetch the ownership information of the specified account belonging to a customer. You can use this to determine who is responsible for managing the particular account.",
        "operationId": "getCustomerAccountOwner",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the owner details associated with the specified account. Please ensure that the JSON format matches the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccountOwnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Owner information retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccountOwnerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccountOwnerRequest": {
        "type": "string",
        "description": "Represents the request body content for the Operations GET request related to the owner of account ACC-200045 for customer CUST-100045.",
        "example": "{}"
      },
      "GetCustomerAccountOwnerResponse_200": {
        "type": "object",
        "properties": {
          "ownerName": {
            "type": "string",
            "description": "The name of the owner.",
            "example": "Northstar Banking Service"
          },
          "ownerAddress": {
            "type": "string",
            "description": "The address of the owner.",
            "example": "STANDARD"
          },
          "asOfDate": {
            "type": "integer",
            "description": "The date (in UNIX timestamp) as of which the owner information is valid.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the owner details for a specific account in the customer management system.",
        "example": {
          "ownerName": "Northstar Banking Service",
          "ownerAddress": "STANDARD",
          "asOfDate": 1,
          "metadata": {
            "responseId": "ff506978-1b70-5a7e-8f5f-4d4462b67cdb",
            "correlationId": "d6c901a7-3b11-53c2-92d8-bd79ed23a90f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs from different services.",
            "example": "corr-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing response metadata for tracking and tracing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed. This helps in tracking which endpoint was used during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-owner"
        },
        "example": "open-finance-api-get-account-owner"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This is useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to authenticate requests. The token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}