{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Document Correspondences-spec",
    "description": "The Document Correspondence Retrieval API allows users to access and retrieve a list of document correspondences related to banking transactions. This endpoint serves as a vital resource for financial institutions and their clients, enabling them to manage and review communication associated with their documents. Typical consumers include banking personnel, compliance officers, and auditors who require easy access to historical correspondence records for transparency and regulatory purposes. By leveraging this API, users can ensure efficient management of document-related communications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve a list of correspondence documents.",
        "description": "This endpoint allows you to fetch all correspondence documents available in the system. Use this to view, filter, or manage your correspondence records efficiently.",
        "operationId": "listDocumentCorrespondences",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve correspondence documents. Make sure to include any necessary parameters in the request body for filtering or specifying the documents required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDocumentCorrespondencesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the correspondence documents are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentCorrespondencesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDocumentCorrespondencesRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to correspondence documents.",
        "example": "{}"
      },
      "ListDocumentCorrespondencesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of document objects.",
            "example": [
              {
                "documentId": "DOC-108022",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the documents.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET correspondence documents operation.",
        "example": {
          "items": [
            {
              "documentId": "DOC-108022",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "37140753-4955-59a3-a8df-5cec784a134c",
            "correlationId": "f6d87ca3-dc65-5577-9e0f-6c9d43f48d7a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "string"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document.",
            "example": "string"
          },
          "classification": {
            "type": "string",
            "description": "Classification status of the document.",
            "example": "string"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class of the document.",
            "example": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "string"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "string"
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document.",
            "example": "string"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA256 checksum of the document.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the document was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a document with various attributes."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the document collection response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-search-correspondence"
        },
        "example": "correspondence-search-correspondence"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This implementation employs JSON Web Tokens (JWT) for secure token-based authentication, enabling stateless user authentication and information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}