{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Party Party Routing Profile-spec",
    "description": "The Party Routing Profile Management API enables businesses to create and manage routing profiles associated with party entities in the banking domain. By leveraging this API, users can customize and configure routing directives essential for processing transactions efficiently. This endpoint is particularly beneficial for financial institutions and service providers seeking to enhance their operational workflows. Developers can integrate this functionality to optimize client interactions and system performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://reference-product-app:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/party-routing-profile": {
      "post": {
        "tags": [
          "Party Management"
        ],
        "summary": "Create a new Party Routing Profile.",
        "description": "This endpoint allows you to create a new routing profile for a party, enabling better organization and management of party interactions and communications. Provide the necessary details in the request body to define the routing settings and preferences.",
        "operationId": "createPartyPartyRoutingProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating a party routing profile. This body should contain the necessary attributes to define the routing profile for the specified party.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartyPartyRoutingProfileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new party routing profile.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartyPartyRoutingProfileResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartyPartyRoutingProfileRequest": {
        "title": "Party Routing Profile Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-353598"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the party.",
            "example": "Olivia Bennett"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The unique legal entity identifier for the party.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The two-letter ISO code representing the country of the party.",
            "example": "US"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when creating or updating a party routing profile.",
        "example": {
          "partyId": "PARTY-353598",
          "legalName": "Olivia Bennett",
          "legalEntityIdentifier": "STANDARD",
          "countryCode": "US",
          "requestContext": {
            "requestId": "ed5cafb6-bcd6-51fb-a1b0-799c556ef8f6",
            "correlationId": "58db1928-078f-5c9e-888e-7ea451acbd46",
            "idempotencyKey": "4d4c518d-6ab8-5ba2-8784-486c9ee24373",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-120590"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate the request with other related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that repeated requests do not have side effects.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreatePartyPartyRoutingProfileResponse_201": {
        "title": "Party Routing Profile Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-446366"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code representing the party's location.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the party.",
            "example": "RES-481038"
          },
          "status": {
            "type": "string",
            "description": "Current status of the party routing profile.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the party routing profile was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of a party routing profile, containing details about the party and associated metadata.",
        "example": {
          "partyId": "PARTY-446366",
          "countryCode": "US",
          "resourceId": "RES-481038",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9d3c072d-e6cb-57a5-b50a-a7c5de875c97",
            "correlationId": "58db1928-078f-5c9e-888e-7ea451acbd46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-XYZ-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-23T10:15:31Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Contains additional information about the response, such as identifiers and timestamps."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-093"
        },
        "example": "WF-093"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b262d47d-47fe-459f-817c-04b2aeba2e86"
        },
        "example": "b262d47d-47fe-459f-817c-04b2aeba2e86"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d5db1bab-5102-40c9-ad2e-209f25aeb365"
        },
        "example": "d5db1bab-5102-40c9-ad2e-209f25aeb365"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-routing-profile-create-party-routing-profile"
        },
        "example": "party-routing-profile-create-party-routing-profile"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-093"
        },
        "example": "WF-093"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow representing the operation that was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Legal Entity and Party Reference Data Maintenance"
        },
        "example": "Legal Entity and Party Reference Data Maintenance"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its status in the execution process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, used for tracking and management purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d5db1bab-5102-40c9-ad2e-209f25aeb365"
        },
        "example": "d5db1bab-5102-40c9-ad2e-209f25aeb365"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication scheme, where a token is sent in the `Authorization` header. The token should be a JSON Web Token (JWT) that encodes the user's identity and claims, allowing secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}