{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Refund Id-spec",
    "description": "This API endpoint allows you to update the payment status of a P2M transaction using a specific refund ID. Businesses can use this functionality to manage and adjust transactions associated with refunds effectively. The operation is crucial for financial reconciliation and ensuring accurate customer transactions. It is typically utilized by financial systems and support teams monitoring payment statuses and resolving discrepancies. Ensure to provide the correct refund ID to apply the update as intended.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "patch": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Update refund details for a specific resource.",
        "description": "This endpoint allows you to update the details of a specific refund associated with the given resource ID. Use this to modify refund properties such as amount, status, or metadata.",
        "operationId": "updateP2mByRefundId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the information related to the refund for the specified resource ID. It includes the necessary fields that need to be modified to process the refund successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mByRefundIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The refund was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mByRefundIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mByRefundIdRequest": {
        "title": "Refund Request Body",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for the refund.",
            "example": "CODE-725"
          },
          "reason": {
            "type": "string",
            "description": "A detailed explanation for the refund request.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference identifier for the refund provided by the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context around the request including various identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the structure of the refund request body for the PATCH operation.",
        "example": {
          "reasonCode": "CODE-725",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "requestContext": {
            "requestId": "fba4c1d6-b0af-5ced-b45e-946b10bf50e7",
            "correlationId": "d735d890-f70b-50bb-94c8-d9f1eb1bb589",
            "idempotencyKey": "037f1a3c-ef46-5cce-82ad-6a437d18c09b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-123173"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request can be safely retried without duplicate processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides the context for the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "This schema encapsulates the details regarding the channel used for the request."
      },
      "UpdateP2mByRefundIdResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment associated with the refund.",
            "example": "PAY-801363"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the refund.",
            "example": "MER-407819"
          },
          "amount": {
            "description": "Details about the refund amount including currency and value.",
            "$ref": "#/components/schemas/RefundAmount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-778"
          },
          "reason": {
            "type": "string",
            "description": "Text description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Merchant's reference for the refund request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details about the failure if the refund was not processed successfully.",
            "$ref": "#/components/schemas/RefundFailure"
          },
          "processorReference": {
            "description": "Reference information from the payment processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information for the refund transaction.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the refund transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a refund operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-801363",
          "merchantId": "MER-407819",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-778",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-822",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-921873",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-121"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "5b597da7-2565-5cfd-aa7d-c055dc88b317",
            "correlationId": "d735d890-f70b-50bb-94c8-d9f1eb1bb589",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RefundAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code in which the refund is issued.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Amount of money being refunded.",
            "example": "100.00"
          }
        },
        "description": "Details about the refund amount."
      },
      "RefundFailure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "Processing Error"
          },
          "code": {
            "type": "string",
            "description": "Specific error code for the failure.",
            "example": "ERR123"
          },
          "message": {
            "type": "string",
            "description": "Message providing details on the failure.",
            "example": "Insufficient funds."
          },
          "declineCode": {
            "type": "string",
            "description": "Code indicating the reason for decline if applicable.",
            "example": "DECLINE123"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the operation can be retried.",
            "example": false
          }
        },
        "description": "Details regarding a failure in processing the refund."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Payment network that processed the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID assigned by the payment scheme.",
            "example": "TX123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "AR123456"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference from the issuer related to the transaction.",
            "example": "IR123456"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Number for retrieving the transaction details.",
            "example": "RRN123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Reference information from the payment processor."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the refund was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or process that created the refund.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the refund was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or process that last updated the refund.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking changes to the refund."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "correlation_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the processing and response of the refund."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was accessed during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-refund"
        },
        "example": "banking-p2m-openapi-update-refund"
      },
      "X-Runtime-App": {
        "description": "The identifier of the application running the operation, which can help in troubleshooting and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of requests. The token provides a secure way to validate the identity of a user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}