{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Channel Specific Atm Network Managements-v5-spec",
    "description": "The Banking Channel-Specific ATM Network Management API provides access to information related to the management of ATM networks tailored for specific banking channels. It allows consumers, such as financial institutions and developers, to retrieve detailed data about ATM networks, facilitating decision-making and operational oversight. This API enhances the visibility of ATM resource availability and performance metrics, ensuring optimal service delivery to end users. Typical use cases include monitoring network status and analyzing ATM distribution and usage patterns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management": {
      "get": {
        "tags": [
          "ATM Network Management"
        ],
        "summary": "Retrieve ATM network management details.",
        "description": "This endpoint allows clients to fetch detailed information about the ATM network management, including its current status and configuration. It is designed to help network administrators monitor and manage their ATM networks effectively.",
        "operationId": "listBankingChannelSpecificAtmNetworkManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving channel-specific ATM network management information via a GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingChannelSpecificAtmNetworkManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of ATM network management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingChannelSpecificAtmNetworkManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingChannelSpecificAtmNetworkManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation specific to ATM network management operations for a particular channel.",
        "example": "{}"
      },
      "ListBankingChannelSpecificAtmNetworkManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of ATM network management items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "atmId": "STANDARD",
                "cashStatus": "AVAILABLE",
                "terminalHealth": "ONLINE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "channelId": {
                  "type": "string",
                  "description": "The unique identifier for the channel.",
                  "example": "string"
                },
                "regionCode": {
                  "type": "string",
                  "description": "The region code where the ATM is located.",
                  "example": "string"
                },
                "serviceWindow": {
                  "$ref": "#/components/schemas/ServiceWindow"
                },
                "dailyCapacity": {
                  "type": "integer",
                  "description": "The daily transaction capacity of the ATM.",
                  "format": "int32",
                  "example": 0
                },
                "atmId": {
                  "type": "string",
                  "description": "The unique identifier for the ATM.",
                  "example": "string"
                },
                "cashStatus": {
                  "type": "string",
                  "description": "Current cash status of the ATM.",
                  "example": "string"
                },
                "terminalHealth": {
                  "type": "string",
                  "description": "Health status of the ATM terminal.",
                  "example": "string"
                },
                "recordStatus": {
                  "type": "string",
                  "description": "The record status of the ATM management data.",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Timestamp of the last update made to the ATM details.",
                  "example": "string"
                }
              },
              "description": "An individual ATM network management item containing specific details.",
              "example": {
                "channelId": "string",
                "regionCode": "string",
                "serviceWindow": {
                  "opensAt": "string",
                  "closesAt": "string"
                },
                "dailyCapacity": 0,
                "atmId": "string",
                "cashStatus": "string",
                "terminalHealth": "string",
                "recordStatus": "string",
                "updatedAt": "string"
              }
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the ATM network management operation GET request.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "atmId": "STANDARD",
              "cashStatus": "AVAILABLE",
              "terminalHealth": "ONLINE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5755c669-b7fb-598b-88ad-d290369f887c",
            "correlationId": "f3e453d2-8004-5271-b4e4-bfde685c8a60",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the ATM service window.",
            "example": "08:00 AM"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the ATM service window.",
            "example": "10:00 PM"
          }
        },
        "description": "The service window timings for an ATM."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for API responses."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request in logs.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-search-atm-network-management"
        },
        "example": "atm-network-management-search-atm-network-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method that employs JSON Web Tokens (JWT) to securely transmit claims about the user to the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}