{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_FCRA Payment Success Indicators API",
    "description": "The FCRA Payment Success Indicators API provides insights into the success metrics of payments for specific customers and accounts. This endpoint allows users to retrieve performance indicators associated with payment success, helping businesses analyze payment trends and customer behavior. Typical consumers include financial analysts and customer support teams seeking to enhance service quality and payment processing efficiency. Use cases include monitoring payment performance and identifying areas for improvement in financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/fcra-payment-success-indicators/{param3}": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve FCRA Payment Success Indicator for a specific account.",
        "description": "This endpoint allows you to retrieve the Federal Credit Reporting Act (FCRA) payment success indicator for a specified account within a customer's records. It provides essential insights into payment statuses, which can be useful for credit assessments and financial reporting.",
        "operationId": "getFcraPaymentSuccessIndicatorForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/param3"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the FCra payment success indicators for a specific account. Ensure that all required fields are populated correctly to obtain the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFcraPaymentSuccessIndicatorForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment success indicators for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFcraPaymentSuccessIndicatorForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFcraPaymentSuccessIndicatorForAccountRequest": {
        "type": "string",
        "description": "This schema represents the request body for a GET request to retrieve the FCRA payment success indicators for a specific account.",
        "example": "{}"
      },
      "GetFcraPaymentSuccessIndicatorForAccountResponse_200": {
        "title": "FCRA Payment Success Indicators Response",
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "The unique identifier for the payment request.",
            "example": "b6843879-c2be-531d-bc47-6bcd8d579c5b"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment request.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-120428"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account related to the payment.",
            "example": "ACC-616813"
          },
          "requestDate": {
            "type": "string",
            "description": "The date when the payment request was made.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Details about the transaction associated with the payment request.",
            "$ref": "#/components/schemas/Transaction"
          },
          "nsfReturnRisk": {
            "description": "Risk assessment related to non-sufficient funds for the transaction.",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Risk assessment related to unauthorized returns for the transaction.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for successful FCRA payment indications, including customer and transaction details, risk assessments, and metadata.",
        "example": {
          "payRequestId": "b6843879-c2be-531d-bc47-6bcd8d579c5b",
          "status": "ACTIVE",
          "customerId": "CUST-120428",
          "accountId": "ACC-616813",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "disputeStatement": "STANDARD",
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-227458",
              "externalTransactionId": "TXN-633015",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "58589680-d630-508f-8256-2a72691606f0",
            "correlationId": "25fe9d10-ffd0-5640-8b51-7fa148886559",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "title": "Transaction Details",
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "The date by which the transaction is expected to settle.",
            "example": "2023-10-05"
          },
          "amount": {
            "type": "number",
            "description": "The amount of money involved in the transaction.",
            "example": 150.75
          }
        },
        "description": "Schema representing the details of the transaction related to the payment request."
      },
      "NsfReturnRisk": {
        "title": "NSF Return Risk Assessment",
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "disputeStatement": {
                "type": "string",
                "description": "Statement regarding any disputes related to the payment.",
                "example": "No disputes filed."
              },
              "availableBalance": {
                "type": "number",
                "description": "The available balance in the account after the transaction.",
                "example": 1000.0
              },
              "dailyResults": {
                "type": "array",
                "description": "Daily risk results related to the transaction.",
                "items": {
                  "type": "object",
                  "properties": {
                    "potentialSettlementDate": {
                      "type": "string",
                      "description": "Potential date for the settlement of the transaction.",
                      "example": "2023-10-05"
                    },
                    "score": {
                      "type": "integer",
                      "description": "Risk score associated with the transaction.",
                      "format": "int32",
                      "example": 5
                    },
                    "indicator": {
                      "type": "string",
                      "description": "Indicator value reflecting the risk level.",
                      "example": "High Risk"
                    },
                    "reasons": {
                      "type": "object",
                      "properties": {
                        "recentBalance": {
                          "type": "integer",
                          "description": "Recent balance amount.",
                          "format": "int32",
                          "example": 200
                        },
                        "balanceHistory": {
                          "type": "integer",
                          "description": "Historical balance data.",
                          "format": "int32",
                          "example": 150
                        },
                        "nsfHistory": {
                          "type": "integer",
                          "description": "Records of NSF occurrences.",
                          "format": "int32",
                          "example": 2
                        },
                        "recentNsfHistory": {
                          "type": "integer",
                          "description": "Most recent NSF occurrence records.",
                          "format": "int32",
                          "example": 1
                        },
                        "recurringNsf": {
                          "type": "integer",
                          "description": "Recurring NSF records.",
                          "format": "int32",
                          "example": 0
                        },
                        "spendHistory": {
                          "type": "integer",
                          "description": "Spending history records.",
                          "format": "int32",
                          "example": 500
                        },
                        "depositHistory": {
                          "type": "integer",
                          "description": "Deposit history records.",
                          "format": "int32",
                          "example": 700
                        },
                        "transactionAmount": {
                          "type": "integer",
                          "description": "The amount of the transaction.",
                          "format": "int32",
                          "example": 150
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "error": {
            "description": "Error details related to the NSF return risk.",
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "description": "Schema representing the NSF return risk assessment details."
      },
      "UnauthorizedReturnRisk": {
        "title": "Unauthorized Return Risk Assessment",
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer",
                "description": "Risk score for unauthorized returns.",
                "format": "int32",
                "example": 3
              },
              "indicator": {
                "type": "string",
                "description": "Indicator representing the risk level for unauthorized returns.",
                "example": "Medium Risk"
              }
            }
          },
          "error": {
            "description": "Error details related to the unauthorized return risk.",
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "description": "Schema representing the unauthorized return risk assessment details."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-04T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Schema providing metadata related to the response."
      },
      "ErrorResponse": {
        "title": "Error Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the error response.",
            "example": "Error"
          },
          "title": {
            "type": "string",
            "description": "A short title describing the error.",
            "example": "Transaction Failed"
          },
          "level": {
            "type": "string",
            "description": "Severity level of the error.",
            "example": "Critical"
          },
          "message": {
            "type": "string",
            "description": "Detailed message about the error.",
            "example": "The payment could not be processed due to insufficient funds."
          },
          "user_message": {
            "type": "string",
            "description": "Message to be displayed to the user.",
            "example": "Please check your account balance and try again."
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset involved in the error.",
            "example": "ASSET-123456"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the error.",
            "example": "ACC-200045"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "External transaction identifier linked to the error.",
            "example": "EXT-770123"
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with the error for categorization.",
            "example": "transaction, payment, error"
          }
        },
        "description": "Schema representing the error response structure."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param3": {
        "name": "param3",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the request, facilitating tracking and analytical processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-fcra-payment-success-indicators"
        },
        "example": "open-finance-api-get-fcra-payment-success-indicators"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme based on the Bearer token as specified in RFC 6750. This method requires the client to include a JWT (JSON Web Token) in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}