{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Guarantee Inquiry API",
    "description": "The Bank Guarantee Inquiry API allows users to access detailed information about specific bank guarantees within a trade banking context. This endpoint supports queries for retrieving guarantee data based on a unique identifier, enabling businesses to verify terms, conditions, and status. Typical consumers include banking professionals, financial analysts, and compliance teams who require accurate and timely information for decision-making and reporting. This API simplifies the management and oversight of bank guarantee operations, fostering transparency and efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/bank-guarantee/{param1}": {
      "get": {
        "tags": [
          "BankGuarantee"
        ],
        "summary": "Retrieve a specific bank guarantee.",
        "description": "This endpoint allows you to fetch detailed information about a specific bank guarantee identified by its unique ID. Utilize this to access all relevant data associated with the bank guarantee.",
        "operationId": "getBankGuaranteeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving bank guarantee details for a specific transaction identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankGuaranteeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested bank guarantee details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankGuaranteeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankGuaranteeByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to bank guarantees.",
        "example": "{}"
      },
      "GetBankGuaranteeByIdResponse_200": {
        "title": "Bank Guarantee Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer.",
            "example": "CUST-601485"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility associated with the bank guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty of the transaction.",
            "example": "PARTY-688466"
          },
          "amount": {
            "description": "Details of the monetary amount for the guarantee.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the bank guarantee matures.",
            "example": "2026-09-15"
          },
          "guaranteeType": {
            "type": "string",
            "description": "The type of bank guarantee issued.",
            "example": "STANDARD"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Identifier for the beneficiary of the bank guarantee.",
            "example": "STANDARD"
          },
          "claimExpiryDate": {
            "type": "string",
            "description": "The expiry date for claims under the bank guarantee.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the bank guarantee record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the bank guarantee record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the bank guarantee record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the bank guarantee response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a bank guarantee request.",
        "example": {
          "corporateCustomerId": "CUST-601485",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-688466",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "guaranteeType": "STANDARD",
          "beneficiaryId": "STANDARD",
          "claimExpiryDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c19f6ec3-6ba0-5a3c-a9b3-e0b76467f071",
            "correlationId": "175e216b-300a-536b-bec7-25f8ed4c8c17",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the monetary amount and currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "CORRELATION456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, facilitating tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-guarantee-get-bank-guarantee"
        },
        "example": "bank-guarantee-get-bank-guarantee"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is executing the request, aiding in monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid authorization token must be provided in the request header in the format 'Authorization: Bearer <token>'. The token must be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}