{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Model Customer Behavior Model-spec",
    "description": "The Customer Behavior Modeling API enables businesses to create and manage customer behavior models that can drive strategic decision-making and enhance marketing efforts. This API allows users to submit detailed specifications for new models that analyze customer interactions and habits. Typical consumers include data analysts and marketing teams looking to leverage insights for more targeted campaigns. By utilizing this API, organizations can gain a deeper understanding of their customer base and improve engagement strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/customer-behavior-models": {
      "post": {
        "tags": [
          "Customer Behavior"
        ],
        "summary": "Create a new customer behavior model.",
        "description": "This endpoint allows you to create a new customer behavior model by providing the necessary parameters in the request body. It is designed to help you build and analyze models that can predict customer behaviors based on various data inputs.",
        "operationId": "createModelCustomerBehaviorModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new customer behavior model. This body should include all necessary parameters to define the model's characteristics and behavior based on customer interactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelCustomerBehaviorModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The customer behavior model was created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateModelCustomerBehaviorModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateModelCustomerBehaviorModelRequest": {
        "title": "Customer Behavior Model Request",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the model.",
            "example": "PORT-764476"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date the model applies to.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario for which the model is being applied.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The level of confidence for the model prediction.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a customer behavior model request in the POST operation.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-764476",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "requestContext": {
            "requestId": "a67e3186-9cf9-5bdd-b0b8-e75e3dcd5979",
            "correlationId": "532e76f1-e063-5511-96cd-6267abe8dd36",
            "idempotencyKey": "9df190ce-8ceb-5527-87fb-6c393d688135",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843947"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to trace the request across systems.",
            "example": "corr-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system source of the request.",
            "example": "system-a"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "app-x"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual information sent with the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request was made.",
            "example": "device-abc123"
          }
        },
        "description": "Schema for information regarding the channel used for the request."
      },
      "CreateModelCustomerBehaviorModelResponse_201": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the customer behavior model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio associated with this model.",
            "example": "PORT-772025"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier linked to this model.",
            "example": "RES-762301"
          },
          "status": {
            "type": "string",
            "description": "The current status of the model.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used to correlate related requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the processing took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the model creation response.",
            "example": {
              "responseId": "ad23fffe-f2e1-5321-9b14-0e4cdb305ab9",
              "correlationId": "532e76f1-e063-5511-96cd-6267abe8dd36",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of customer behavior models.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-772025",
          "resourceId": "RES-762301",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ad23fffe-f2e1-5321-9b14-0e4cdb305ab9",
            "correlationId": "532e76f1-e063-5511-96cd-6267abe8dd36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-models-create-customer-behavior-models"
        },
        "example": "customer-behavior-models-create-customer-behavior-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}