{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Direct Debit Mandates-spec",
    "description": "This API facilitates the retrieval of Trade Banking Direct Debit Mandates for users, enabling them to access detailed information on existing mandates. Typical consumers include banking applications, financial institutions, and corporate users managing direct debit arrangements. By invoking this service, developers can efficiently display and manage mandates, ensuring seamless banking operations. Utilize this API to enhance client interactions and improve mandate oversight within financial products.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit-mandate": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve Direct Debit Mandate details.",
        "description": "This endpoint allows users to fetch details about Direct Debit Mandates within the Trade Banking system. Users can use this information to manage and view their Direct Debit setup.",
        "operationId": "listTradeBankingDirectDebitMandates",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching the Direct Debit Mandate in the Trade Banking system. This request expects a structured JSON object that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingDirectDebitMandatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of direct debit mandate information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingDirectDebitMandatesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingDirectDebitMandatesRequest": {
        "type": "string",
        "description": "The JSON request body for the Direct Debit Mandate operations in trade banking.",
        "example": "{}"
      },
      "ListTradeBankingDirectDebitMandatesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of direct debit mandates.",
            "example": [
              {
                "mandateId": "2026-09-15",
                "debtorAccountId": "ACC-714229",
                "creditorSchemeId": "STANDARD",
                "collectionAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "collectionDate": "2026-09-15",
                "frequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DirectDebitMandate"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the direct debit mandate GET operation.",
        "example": {
          "items": [
            {
              "mandateId": "2026-09-15",
              "debtorAccountId": "ACC-714229",
              "creditorSchemeId": "STANDARD",
              "collectionAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "collectionDate": "2026-09-15",
              "frequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0352fa3a-486a-5e2b-a56c-fcd2db83bdd5",
            "correlationId": "f0e4e574-bd4c-53fd-a914-c3f4d0c67f8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebitMandate": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the mandate."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account."
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor scheme."
          },
          "collectionAmount": {
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "Date when the collection is made."
          },
          "frequency": {
            "type": "string",
            "description": "Frequency of the collection."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Represents a direct debit mandate."
      },
      "CollectionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to be collected."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is specified."
          }
        },
        "description": "Amount and currency for the collection."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the specific endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-search-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-search-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, allowing clients to authenticate by including a JSON Web Token (JWT) in the Authorization header. The token must be obtained through a secure login process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}