{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Issued Device Management API",
    "description": "The Issued Device Management API provides operations to update and manage bank-issued devices effectively. This API enables financial institutions to modify device details, ensuring that device information remains current and secure. Common consumers of this API include backend systems within banks and fintech companies that require real-time updates to device status and attributes. Use cases typically involve altering device permissions or configurations based on operational changes or compliance requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-administration/{param1}": {
      "patch": {
        "tags": [
          "Issued Device Management"
        ],
        "summary": "Update an issued device administration record.",
        "description": "Allows you to update details related to the issued device administration for a specific record identified by its unique resource ID. This operation can be used to modify attributes, manage state changes, and ensure compliance with administrative updates pertaining to issued devices.",
        "operationId": "patchIssuedDeviceAdministrationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the issued device administration. This body contains the necessary information to modify existing device settings or attributes and should conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchIssuedDeviceAdministrationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully; the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchIssuedDeviceAdministrationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchIssuedDeviceAdministrationRes100045Request": {
        "title": "Device Administration Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be applied to the device.",
            "$ref": "#/components/schemas/DeviceChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the entity requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching device administration details.",
        "example": {
          "changes": {
            "deviceId": "DEV-979530",
            "deviceType": "STANDARD",
            "assignedPartyId": "PARTY-129350"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "8b9321b2-d775-5560-846a-02db1a068fad",
            "correlationId": "2751bb9b-ffd0-58f2-908e-129a26ba3cef",
            "idempotencyKey": "415f903d-a93b-5c54-98ce-886098bce507",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-554653"
            }
          }
        }
      },
      "DeviceChanges": {
        "title": "Device Changes",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device.",
            "example": "string"
          },
          "deviceType": {
            "type": "string",
            "description": "The type of device that is being updated.",
            "example": "string"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The identifier for the party to whom the device is assigned.",
            "example": "string"
          }
        },
        "description": "Schema representing the specific changes to a device."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify a request that has been initiated previously.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from which the request is originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel through which the request is made."
      },
      "PatchIssuedDeviceAdministrationRes100045Response_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The datetime when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the successful response for the operations PATCH request. This includes details such as version, status, update time, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b6fb6bdf-3cf0-5365-b76c-09a78349204b",
            "correlationId": "2751bb9b-ffd0-58f2-908e-129a26ba3cef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "required": [
          "correlationId",
          "generatedAt",
          "processingRegion",
          "responseId"
        ],
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the correlation of requests.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The datetime when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Stores metadata details for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-update-issued-device-administration"
        },
        "example": "issued-device-administration-update-issued-device-administration"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as a means of authorization. Clients must provide a valid JWT token in the 'Authorization' header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}