{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Partner Decisioning Report Submission API",
    "description": "The Partner Decisioning Report Submission API allows businesses to submit partner-related reports for decisioning processes. This endpoint supports the integration of partner data into broader analytical frameworks, enabling organizations to assess and enhance collaborative efforts. Typical users include data analysts and partner managers seeking to refine partner evaluation strategies through robust reporting. By leveraging this API, companies can ensure that relevant partner insights contribute effectively to their decision-making frameworks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/reports/{reportId}/partners": {
      "post": {
        "tags": [
          "Report Management"
        ],
        "summary": "Create partners for a specific report.",
        "description": "This endpoint allows you to create new partners associated with the report identified by RES-100045. Provide the necessary details in the request to successfully add partners to the report.",
        "operationId": "createPartnersForReportRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/reportId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update partner information for the specified report (RES-100045). It expects a JSON object that follows the schema defined for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnersForReportRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the operation completed as expected.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartnersForReportRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartnersForReportRES100045Request": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "The purpose of the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the POST operation related to partners in the Operations service.",
        "example": {
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "7c125e2e-ee68-55ae-b0aa-05892f53f415",
            "correlationId": "5b4b68eb-4f92-58fe-bf09-f636db40d992",
            "idempotencyKey": "c79a036e-a958-5575-9c34-a4b3c6ad3078",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-138840"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency for the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "ExternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request, including identifiers and source information."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request, if applicable.",
            "example": "device-456"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreatePartnersForReportRES100045Response_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "5017ed22-63ce-533d-9d0a-52714c342311"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user of the service.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the report was created (timestamp).",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the report.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "The statement made in dispute.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the report.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the report.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata information for the report.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the partners' operations.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "5017ed22-63ce-533d-9d0a-52714c342311",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-320598"
            ]
          },
          "metadata": {
            "responseId": "e00a13a9-1793-5746-9033-182c99a473d8",
            "correlationId": "5b4b68eb-4f92-58fe-bf09-f636db40d992",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the end user.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the end user.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the end user details."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer details.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the consumer.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the consumer.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to analytical reports.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers.",
            "items": {
              "type": "string",
              "description": "Identifier for an account.",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the constraints related to the report."
      },
      "AnalyticsReportData": {
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "List of time interval types relevant to the report.",
            "items": {
              "type": "string",
              "description": "Type of time interval.",
              "example": "string"
            }
          }
        },
        "description": "Schema for analytical report data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information about the report."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "reportId": {
        "name": "reportId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-report-reissue"
        },
        "example": "open-finance-api-report-reissue"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, typically in the form of a JSON Web Token (JWT). This token must be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}