{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Book Loan Application API",
    "description": "The Book Loan Application API facilitates the process of securing loans for book purchases. By allowing users to submit loan applications for specific books, this API streamlines the financing options within the book purchasing journey. Typical consumers include bookstores, publishers, and financial service providers looking to offer flexible payment options. This API efficiently processes applications, ensuring a quick and user-friendly experience for all parties involved.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/book": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Book a loan application.",
        "description": "This endpoint allows users to book a specific loan application identified by its unique ID. Upon a successful request, the loan application status will be updated to reflect that it has been booked for processing.",
        "operationId": "bookLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for booking a loan application. This includes all necessary details required to process the booking.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "BookLoanApplicationRequest": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "description": "The identifier for the loan offer.",
            "example": "b36bde08-caf4-9bc2-7260-c3b447e09b59"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code representing the branch servicing the loan.",
            "example": "CODE-742"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number from which repayments will be made.",
            "example": "STANDARD"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date when the first payment is due.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "accountingProductCode": {
            "type": "string",
            "description": "Code for the accounting product related to the loan.",
            "example": "CODE-773"
          },
          "generateSchedule": {
            "type": "boolean",
            "description": "Indicates whether a repayment schedule should be generated.",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ-67890"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "CORR-98765"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotency in request processing.",
                "example": "IDEMPOT-12345"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-09-15T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "LoanProcessingSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The specific application from which the request originated.",
                "example": "LoanAppV2"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "3e27a256-cd03-5717-915c-2ed0df9905f0",
              "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
              "idempotencyKey": "5367355c-867e-56cf-b39e-293cabb36c8e",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-815344"
              }
            }
          }
        },
        "description": "Request body for loan application operations.",
        "example": {
          "offerId": "b36bde08-caf4-9bc2-7260-c3b447e09b59",
          "servicingBranchCode": "CODE-742",
          "repaymentAccountNumber": "STANDARD",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "accountingProductCode": "CODE-773",
          "generateSchedule": true,
          "requestContext": {
            "requestId": "3e27a256-cd03-5717-915c-2ed0df9905f0",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "idempotencyKey": "5367355c-867e-56cf-b39e-293cabb36c8e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-815344"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-500"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Information about the channel used for processing the request."
      },
      "BookLoanApplicationResponse_201": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Unique identifier for the application source.",
            "example": "APP-112303"
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the product associated with the loan.",
            "example": "PROD-677587"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Unique identifier for the primary customer.",
            "example": "CUST-326329"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of unique identifiers for the borrower customers.",
            "example": [
              "CUST-837509"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of the interest rate (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first payment.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Maturity date of the loan.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which repayments will be drawn.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Branch code for servicing the loan.",
            "example": "CODE-410"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager assigned to the customer.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Current balance information related to the loan.",
            "$ref": "#/components/schemas/Balance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "totalRepaid": {
            "description": "Total amount repaid for the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a loan application request.",
        "example": {
          "sourceApplicationId": "APP-112303",
          "productId": "PROD-677587",
          "primaryCustomerId": "CUST-326329",
          "borrowerCustomerIds": [
            "CUST-837509"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-410",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "b33c5138-2469-53d5-94bd-c009cb2acbcf",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the principal amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the principal.",
            "example": "10000"
          }
        },
        "description": "The principal amount of the loan and its currency."
      },
      "Balance": {
        "title": "Loan Balance",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "accruedInterest": {
            "description": "Accrued interest on the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "feesOutstanding": {
            "description": "Outstanding fees related to the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties related to the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount for the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "availableToDraw": {
            "description": "Amount available to draw from the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          }
        },
        "description": "Current balance details associated with the loan."
      },
      "CurrencyAmount": {
        "title": "Currency Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual amount.",
            "example": "5000"
          }
        },
        "description": "Schema representing an amount in a specific currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that is being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-book-loan-application"
        },
        "example": "banking-loans-openapi-book-loan-application"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, specifically designed to facilitate secure communication through the use of JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}