{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Cross Channel By Param1-spec",
    "description": "The Cross Channel Event History API provides access to detailed servicing event histories across various channels, identified by specific parameters. This endpoint allows consumers to retrieve historical servicing events tied to a given parameter, effectively enabling analysis and auditing of customer interactions. Common use cases include customer support inquiries, transaction audits, and channel performance assessments. Ideal for financial institutions, customer support teams, and compliance auditors, this API streamlines access to crucial event data for enhanced operational insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-event-history/{param1}": {
      "get": {
        "tags": [
          "Servicing Events"
        ],
        "summary": "Retrieve servicing event history for a specific resource.",
        "description": "Fetch detailed servicing event history related to the specified resource (RES-100045). This endpoint provides developers with access to historical servicing events, allowing for better tracking and analysis of resource interactions over time.",
        "operationId": "getCrossChannelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the servicing event history for a specific resource identified by RES-100045. Ensure to provide all required parameters as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of servicing event history.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to servicing event history. It is expected to be a JSON formatted string.",
        "example": "{}"
      },
      "GetCrossChannelByParam1Response_200": {
        "title": "Servicing Event History Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-179614"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-257167"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication achieved for the interaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating if it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "A response schema representing the event history for servicing interactions across channels.",
        "example": {
          "partyId": "PARTY-179614",
          "interactionId": "INT-257167",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ddc4aa01-d51a-5931-8be0-ad9b49a3fc42",
            "correlationId": "638ae0c4-67b8-5465-9901-2ed852959d7f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-9012"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracking.",
            "example": "correlation-3456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional context for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that was invoked, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-event-history-get-servicing-event-history"
        },
        "example": "servicing-event-history-get-servicing-event-history"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request, useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be provided in the HTTP Authorization header as a 'Bearer' token. The token format should adhere to the JSON Web Token (JWT) standard.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}