{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Quantitative Model Submission API",
    "description": "The Quantitative Model Submission API allows users to efficiently submit and deploy quantitative financial models for market analysis. This API caters to financial institutions and algorithmic traders who require robust quantitative insights into market data. By interfacing with this API, users can enhance their trading strategies and decision-making processes. The operation supports various model configurations, enabling seamless integration into existing financial platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model": {
      "post": {
        "tags": [
          "Quantitative Models"
        ],
        "summary": "Create a new quantitative model.",
        "description": "This endpoint allows users to create a new quantitative model within the market data system. Users can send the necessary model parameters in the request body to initialize and store a new model.",
        "operationId": "createQuantModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for the quant model operation. It expects a structured JSON object that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuantModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuantModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateQuantModelRequest": {
        "title": "Market Data Quant Model Request",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code identifying the market where the instrument is traded.",
            "example": "CODE-511"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time for which the market data is requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source of the market data.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Market Data Quant Model operation.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-511",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "requestContext": {
            "requestId": "d4fa32fc-9803-58dc-bd76-732be7bf4f5c",
            "correlationId": "7716c517-a730-559e-95d7-7d7f0fd221f6",
            "idempotencyKey": "76aa516c-ee82-5a78-a9f3-60af7b206eb1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-255518"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "TradingApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for communication.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device making the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing information about the channel through which the request was made."
      },
      "CreateQuantModelResponse_201": {
        "title": "Market Data Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier code for the market where the instrument is traded.",
            "example": "CODE-676"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource in the market data system.",
            "example": "RES-438181"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation (e.g., success, failure).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the market data operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for market data operations.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-676",
          "resourceId": "RES-438181",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d36cfce9-3a32-5f1f-a8d3-ca8c32170c16",
            "correlationId": "7716c517-a730-559e-95d7-7d7f0fd221f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "correlation_abc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:05Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east"
          }
        },
        "description": "This schema contains metadata related to the market data response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-create-quant-model"
        },
        "example": "quant-model-create-quant-model"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format. A valid token must be included in the 'Authorization' header using the 'Bearer' keyword. It is recommended to use JSON Web Tokens (JWT) for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}