{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Webhook Events-spec",
    "description": "The Webhook Events Retrieval API allows clients to access a comprehensive list of webhook events associated with their notification subscriptions. This API serves to assist developers in monitoring and managing events efficiently, enabling them to respond to changes or actions in real-time. Typical consumers include application developers and system integrators who require up-to-date information on webhook activities for event-driven architectures. By utilizing this API, users can ensure their applications react appropriately to various notification conditions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Fetch all webhook events",
        "description": "This endpoint retrieves a list of all events triggered by webhooks, allowing developers to monitor and respond to various activities within the application.",
        "operationId": "listWebhookEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information for retrieving webhook events. It should follow the specified JSON schema to ensure the request is properly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWebhookEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully. Returns a list of webhook events.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookEventsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListWebhookEventsRequest": {
        "type": "string",
        "description": "This schema represents the expected request body for the GET operation on webhooks events. It is a string placeholder for the actual JSON structure required.",
        "example": "{}"
      },
      "ListWebhookEventsResponse_200": {
        "title": "Webhook Event Subscription Response",
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The URL that the webhook events will be sent to.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "A list of events associated with the subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned when fetching webhook event subscriptions.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "a601b67e-271a-5af1-951f-b8235cafa2b0",
            "correlationId": "dcf5c39d-62c1-5100-90f4-b7d9e685ea48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "title": "Webhook Event",
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "event_987654"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "UserRegistered"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the event notification will be sent.",
            "example": "https://example.com/user/registered"
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          }
        },
        "description": "This schema represents an individual webhook event."
      },
      "Condition": {
        "title": "Event Subscription Condition",
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event type to subscribe for.",
            "example": "user.signup"
          },
          "includes": {
            "type": "array",
            "description": "An array of values that must be included.",
            "items": {
              "type": "string",
              "example": "value1"
            }
          },
          "excludes": {
            "type": "array",
            "description": "An array of values that must be excluded.",
            "items": {
              "type": "string",
              "example": "value2"
            }
          }
        },
        "description": "This schema defines the conditions under which the webhook event will be triggered."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "corr_654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The time at which the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the webhook processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint involved in the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-webhook-subscription-by-id"
        },
        "example": "open-finance-api-get-webhook-subscription-by-id"
      },
      "x-runtime-app": {
        "description": "Identifies the application context in which the webhook event occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication format that relies on JSON Web Tokens (JWT). Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}