{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Secret Rotation Management API",
    "description": "The Secret Rotation Management API facilitates the secure rotation of sensitive secrets used within microservices. Organizations can automate the process of updating and managing secrets to enhance security and compliance. This API is designed for developers and security teams looking to integrate secret rotation into their applications, ensuring that secrets remain protected against unauthorized access. Typical use cases include scheduled secret updates and dynamic configuration for applications requiring frequent secret changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}/rotate-secret": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Rotate the secret for a specific webhook endpoint.",
        "description": "This operation allows you to rotate the secret associated with webhook endpoint RES-100045. It ensures that the security of the webhook is maintained by updating the authentication token used for secure communications.",
        "operationId": "rotateSecretForWebhookEndpointRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to rotate the secret for a specific webhook endpoint identified by RES-100045. The payload contains the details necessary to generate a new secret, ensuring the security and integrity of the webhook communication.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateSecretForWebhookEndpointRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully rotated the webhook secret.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSecretForWebhookEndpointRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "RotateSecretForWebhookEndpointRes100045Request": {
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the rotate secret operation.",
        "example": {
          "requestContext": {
            "requestId": "8515321f-5c78-5edd-97a1-561a4787514f",
            "correlationId": "9618d497-e178-5fbb-a60c-65a77e73bd1a",
            "idempotencyKey": "675acbf4-c70f-56da-9a89-0d919f198b62",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-437354"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that originated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, Email).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication channel.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "RotateSecretForWebhookEndpointRes100045Response_200": {
        "title": "Rotate Secret Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier of the webhook endpoint.",
            "example": "STANDARD"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the secret was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the webhook operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Rotate Secret operation on webhook endpoints.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a55bd8ee-6194-5713-bd8e-893abd3ec92a",
            "correlationId": "9618d497-e178-5fbb-a60c-65a77e73bd1a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-rotate-webhook-secret"
        },
        "example": "banking-p2m-openapi-rotate-webhook-secret"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the webhook request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. To access protected resources, clients must include a valid JWT in the 'Authorization' header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}