{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Authorization API",
    "description": "The Card Authorization API enables businesses to securely authorize card transactions in real-time. By utilizing this API, merchants can verify card details and validate the authenticity of transactions, enhancing fraud prevention measures and improving customer trust. Common users of this API include e-commerce platforms, payment processors, and financial institutions looking to integrate card payment functionalities. With efficient handling of authorization requests, this API streamlines payment processes and supports a seamless customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-authorization/{param1}": {
      "get": {
        "tags": [
          "Card Management"
        ],
        "summary": "Retrieve Credit Card Authorization Details",
        "description": "This endpoint allows you to fetch detailed information about a specific credit card authorization by providing the card ID. It is useful for checking the current status and other relevant details of the card authorization.",
        "operationId": "retrieveCardAuthorizationDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card authorization process for the specified card. Ensure that all required parameters are included in the request to successfully complete the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCardAuthorizationDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the card authorization details were retrieved.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveCardAuthorizationDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "RetrieveCardAuthorizationDetailsRequest": {
        "type": "string",
        "description": "A JSON string that represents the request body for card authorization operations.",
        "example": "{}"
      },
      "RetrieveCardAuthorizationDetailsResponse_200": {
        "title": "Card Authorization Response",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "A unique token representing the card involved in the transaction.",
            "example": "TOK-957699"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder associated with the transaction.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the transaction.",
            "example": "MER-674373"
          },
          "transactionAmount": {
            "description": "Details of the transaction amount including the amount value and currency.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code of the merchant related to the transaction.",
            "example": "5411"
          },
          "authorizationType": {
            "type": "string",
            "description": "Type of authorization for the transaction (e.g., standard, pre-authorization).",
            "example": "STANDARD"
          },
          "terminalEntryMode": {
            "type": "string",
            "description": "Mode used to enter the card details at the terminal (e.g., swipe, chip, contactless).",
            "example": "STANDARD"
          },
          "threeDSecureResult": {
            "type": "string",
            "description": "Result of the 3D Secure authentication process.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the transaction record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the schema being used.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for card authorization operations, providing a comprehensive overview of the card transaction details and associated meta information.",
        "example": {
          "cardToken": "TOK-957699",
          "cardholderId": "STANDARD",
          "merchantId": "MER-674373",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "authorizationType": "STANDARD",
          "terminalEntryMode": "STANDARD",
          "threeDSecureResult": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f104849d-59db-55cd-9879-25656970815b",
            "correlationId": "0ddd5dd1-a8eb-54eb-a1c8-d78cbcf5ad4c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the details of a transaction's amount and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the system.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different transactions or operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-04T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction processing took place.",
            "example": "US"
          }
        },
        "description": "Schema containing additional informational fields related to the card authorization response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-get-card-authorization"
        },
        "example": "card-authorization-get-card-authorization"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, in which a JSON Web Token (JWT) is presented in the request header to authenticate users and authorize access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}