{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Notification Subscriptions Webhooks Events-v5-spec",
    "description": "The Webhook Events Subscription API enables clients to list active notification subscriptions related to webhook events. This endpoint provides a comprehensive view of the existing subscriptions, which are crucial for integrating with external systems that require real-time updates. Typical consumers of this API include developers and system integrators looking to monitor or manage event notifications for applications. By using this API, businesses can ensure they stay in sync with critical event information in their workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/events": {
      "get": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retrieve a list of webhook events.",
        "description": "This endpoint allows you to fetch all webhook events that have been recorded. You can use this to monitor and respond to various events occurring in the system.",
        "operationId": "listNotificationSubscriptionsWebhooksEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving webhook events. This payload should meet the schema requirements for proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListNotificationSubscriptionsWebhooksEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning event data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNotificationSubscriptionsWebhooksEventsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListNotificationSubscriptionsWebhooksEventsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on webhooks events. It is expected to be a JSON string.",
        "example": "{}"
      },
      "ListNotificationSubscriptionsWebhooksEventsResponse_200": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The URL for the webhook subscription.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "A list of webhook events associated with the subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for retrieving webhook subscription details.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "a601b67e-271a-5af1-951f-b8235cafa2b0",
            "correlationId": "dcf5c39d-62c1-5100-90f4-b7d9e685ea48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "abc-def-123"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "OrderCreated"
          },
          "url": {
            "type": "string",
            "description": "The URL that the webhook event will trigger.",
            "example": "https://example.com/webhook/order-created"
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/WebhookCondition"
          }
        },
        "description": "Represents a webhook event associated with a subscription."
      },
      "WebhookCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event type to subscribe to.",
            "example": "order.placed"
          },
          "includes": {
            "type": "array",
            "description": "An array of specific event identifiers to include.",
            "items": {
              "type": "string",
              "example": "order123"
            }
          },
          "excludes": {
            "type": "array",
            "description": "An array of specific event identifiers to exclude.",
            "items": {
              "type": "string",
              "example": "order456"
            }
          }
        },
        "description": "Represents the conditions under which the webhook event gets triggered."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-10T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-webhook-subscription-by-id"
        },
        "example": "open-finance-api-get-webhook-subscription-by-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that enables secure access to the API using Bearer tokens, specifically in the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}