{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Webhook Endpoints-spec",
    "description": "The P2M Webhook Endpoints Retrieval API allows users to fetch a comprehensive list of available P2M webhook endpoints. This API is essential for developers who need to integrate with various P2M services, ensuring they have access to the correct endpoints for notifications and data exchanges. By leveraging this API, clients can efficiently manage integrations and automate workflows that rely on real-time data updates. Typical consumers include system integrators and application developers looking to connect their applications with P2M functionalities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve all webhook endpoints.",
        "description": "This endpoint allows you to fetch a list of all registered webhook endpoints. You can use this information to manage and monitor your webhook configurations effectively.",
        "operationId": "listP2mWebhookEndpoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving webhook endpoints. Please ensure that the JSON structure adheres to the defined schema to avoid any errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mWebhookEndpointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of webhook endpoints.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mWebhookEndpointsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mWebhookEndpointsRequest": {
        "type": "string",
        "description": "This schema represents the JSON string request body for GET operations on webhook endpoints.",
        "example": "{}"
      },
      "ListP2mWebhookEndpointsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available for the results.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there are more pages available after the current page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of link objects providing navigation options.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "An array of webhook endpoint objects.",
            "example": [
              {
                "webhookEndpointId": "STANDARD",
                "merchantId": "MER-472116",
                "url": "https://example.com/resource",
                "description": "Customer banking request processed successfully",
                "events": [
                  "STANDARD"
                ],
                "status": "ACTIVE",
                "secretLastRotatedAt": "2026-08-11T12:00:00Z",
                "lastDeliveryAt": "2026-08-11T12:00:00Z",
                "lastDeliveryStatus": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier for tracking this request across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region that processed the request.",
                "example": "string"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "5d1762e0-bc75-5a70-bfd4-209454157953",
              "correlationId": "8c39d77d-cee2-5dc6-bdaa-cfff7a290838",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the GET operation on webhook endpoints. This schema provides information about the paginated results, metadata, and list of webhook endpoints.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "webhookEndpointId": "STANDARD",
              "merchantId": "MER-472116",
              "url": "https://example.com/resource",
              "description": "Customer banking request processed successfully",
              "events": [
                "STANDARD"
              ],
              "status": "ACTIVE",
              "secretLastRotatedAt": "2026-08-11T12:00:00Z",
              "lastDeliveryAt": "2026-08-11T12:00:00Z",
              "lastDeliveryStatus": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "5d1762e0-bc75-5a70-bfd4-209454157953",
            "correlationId": "8c39d77d-cee2-5dc6-bdaa-cfff7a290838",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL to navigate to when following the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use when following the link.",
            "example": "string"
          }
        },
        "description": "Represents a navigation link for the paginated results."
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier for the webhook endpoint.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant associated with the webhook endpoint.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL where the webhook will send events.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A description of the webhook endpoint.",
            "example": "string"
          },
          "events": {
            "type": "array",
            "description": "The list of event types that this webhook endpoint is subscribed to.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint.",
            "example": "string"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the webhook's secret was last rotated.",
            "example": "string"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "The timestamp of the last successful delivery to this webhook endpoint.",
            "example": "string"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt.",
            "example": "string"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "The timestamp when the webhook endpoint was created.",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "description": "The identifier of the user who created the webhook endpoint.",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "description": "The timestamp when the webhook endpoint was last updated.",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "description": "The identifier of the user who last updated the webhook endpoint.",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "description": "The version number of the webhook endpoint configuration.",
                "format": "int32",
                "example": 0
              }
            },
            "description": "Audit information about the webhook endpoint."
          }
        },
        "description": "Represents a webhook endpoint configuration."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-webhook-endpoints"
        },
        "example": "banking-p2m-openapi-list-webhook-endpoints"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer authentication scheme utilizes JSON Web Tokens (JWT) to securely transmit information between parties as a JSON object. This allows for robust user authentication in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}