{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employer Payroll Management API",
    "description": "The Employer Payroll Management API allows businesses to efficiently update payroll service details for specific employers. By targeting a unique employer ID, users can modify existing payroll configurations, ensuring compliance and accuracy in disbursements. This API is ideal for HR departments and payroll administrators seeking to manage employee compensation effectively. With seamless integration options, it supports businesses in maintaining up-to-date payroll practices and enhancing financial accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/employers/{employerId}/payroll-services": {
      "put": {
        "tags": [
          "Payroll Services"
        ],
        "summary": "Update Payroll Services for Employer",
        "description": "This endpoint allows you to update the payroll services associated with a specific employer identified by their unique resource ID. Ensure all required fields are correctly filled out to successfully make the update.",
        "operationId": "updateEmployerPayrollService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update payroll services for a specific employer identified by RES-100045. Ensure that the data provided conforms to the specified schema to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployerPayrollServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payroll service was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEmployerPayrollServiceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEmployerPayrollServiceRequest": {
        "title": "Payroll Services Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/PayrollChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the change will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating payroll services operations.",
        "example": {
          "changes": {
            "corporateCustomerId": "CUST-585302",
            "payrollBatchId": "STANDARD",
            "payPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1618c608-a7a8-57b8-b354-efb0ec4e98c8",
            "correlationId": "2d042962-7a52-5a42-a73b-88d4b8f8b769",
            "idempotencyKey": "2c6c549a-8460-55d7-b3b7-ce5fd99e1291",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-200935"
            }
          }
        }
      },
      "PayrollChanges": {
        "title": "Payroll Changes",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "string"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "The identifier for the payroll batch being modified.",
            "example": "string"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll changes are being made.",
            "example": "string"
          }
        },
        "description": "This schema defines the changes related to the payroll."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate logs and related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the same operation is not performed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides context for the request including identifiers and meta information."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel being used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g. API, Web, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "This schema defines the channel details used in the request."
      },
      "UpdateEmployerPayrollServiceResponse_200": {
        "title": "Payroll Service Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message for the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata containing additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Payroll Service operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1c959b07-acae-5aa2-8ed6-325a1074494a",
            "correlationId": "2d042962-7a52-5a42-a73b-88d4b8f8b769",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema represents the metadata associated with the Payroll Service response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "employerId": {
        "name": "employerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-update-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-update-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the specific workflow instance associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-068"
        },
        "example": "WF-068"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Payroll Service Setup and Execution"
        },
        "example": "Corporate Payroll Service Setup and Execution"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "566323b4-1acc-4181-97a2-9dc5a1fc28f3"
        },
        "example": "566323b4-1acc-4181-97a2-9dc5a1fc28f3"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where tokens are passed in the authorization header. The expected format for the Bearer token is a JSON Web Token (JWT), which encodes user claims and ensures secure data exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}