{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Model Contribution Model-spec",
    "description": "The Banking Contribution Model Creation API enables businesses to establish new contribution models for banking services. This endpoint allows developers to define and submit detailed specifications for contribution models that can be utilized in financial products. It is designed for financial services companies and developers handling model management within banking applications. Typical use cases include creating various contributions for loans, savings, or investment products, facilitating better financial planning and service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/contribution-models": {
      "post": {
        "tags": [
          "Contribution Models"
        ],
        "summary": "Create a new contribution model.",
        "description": "This endpoint allows you to create a new contribution model by providing the necessary data in the request body. Ensure all required fields are filled out to successfully create the model.",
        "operationId": "createModelContributionModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create new contribution models. It requires a JSON object containing the necessary attributes for defining a contribution model, adhering to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelContributionModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The contribution model was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateModelContributionModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateModelContributionModelRequest": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the model.",
            "example": "PORT-831732"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model data is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario description for the model.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level for the model output as a percentage (0 to 100).",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-831732",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "requestContext": {
            "requestId": "5044d67a-6d1e-56d4-acb1-47522a149cda",
            "correlationId": "bfc11c0f-34e0-5535-a18d-e3f1091ed292",
            "idempotencyKey": "04b219fb-2c5d-506a-88e3-f701614632dd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177422"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr_012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent_key_345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "appB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, web, mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device_999"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateModelContributionModelResponse_201": {
        "title": "Contribution Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the contribution model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the contribution model.",
            "example": "PORT-152840"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the contribution model.",
            "example": "RES-956035"
          },
          "status": {
            "type": "string",
            "description": "The current status of the contribution model (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the contribution model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information about the contribution model response.",
            "$ref": "#/components/schemas/ContributionMetadata"
          }
        },
        "description": "Schema representing the response for a contribution model creation operation.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-152840",
          "resourceId": "RES-956035",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1b84a4a0-1d90-5413-a8ee-7af9288f3874",
            "correlationId": "bfc11c0f-34e0-5535-a18d-e3f1091ed292",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContributionMetadata": {
        "title": "Contribution Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking multiple requests.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing the metadata associated with the contribution model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This value can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-models-create-contribution-models"
        },
        "example": "contribution-models-create-contribution-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request. Useful for identifying the source of the request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens as specified in [RFC 6750](https://tools.ietf.org/html/rfc6750). This method provides a way to authenticate users by passing a JSON Web Token (JWT) in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}