{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Collateral Management API",
    "description": "This API facilitates the management of collateral associated with loan applications. By enabling users to securely submit collateral details, it ensures that all necessary information is gathered effectively during the loan approval process. Financial institutions, lenders, and property assessors commonly use this API to enhance loan application reviews and validations. With this endpoint, stakeholders can streamline their workflows and improve the overall efficiency of the collateral evaluation process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a collateral for a loan application.",
        "description": "This endpoint allows the user to create a new collateral associated with a specific loan application. Ensure that the loan application exists before attempting to create a collateral.",
        "operationId": "createCollateralForLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create new collateral entries associated with the loan application identified by RES-100045. Ensure to include all required properties in the payload to successfully register the collateral.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollateralForLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collateral resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollateralForLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCollateralForLoanApplicationRequest": {
        "title": "Collateral Request Schema",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The ownership type of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who own the collateral.",
            "example": [
              "CUST-950049"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer.",
              "example": "cust123"
            }
          },
          "description": {
            "type": "string",
            "description": "A description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/MoneyValue"
          },
          "forcedSaleValue": {
            "description": "The estimated value of the collateral under forced sale conditions.",
            "$ref": "#/components/schemas/MoneyValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was last valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity or individual that provided the valuation of the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority ranking of the lien against the collateral.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the collateral details of a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-950049"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "requestContext": {
            "requestId": "4a29773e-fa15-5bf9-a9d8-e7b05d4c75d7",
            "correlationId": "97972c10-ef41-5a47-83ca-b875cec6671d",
            "idempotencyKey": "a51ee53a-b432-5456-84de-9a156d00b144",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-941713"
            }
          }
        }
      },
      "MoneyValue": {
        "title": "Money Value Schema",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money expressed in the specified currency.",
            "example": "250000"
          }
        },
        "description": "Schema representing a monetary value with its associated currency."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and traces.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the same request does not process multiple times.",
            "example": "key789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Mobile, Web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateCollateralForLoanApplicationResponse_201": {
        "title": "Loan Application Collateral Response",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being provided.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The ownership type of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs that own the collateral.",
            "example": [
              "CUST-321221"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer owning the collateral.",
              "example": "cust123"
            }
          },
          "description": {
            "type": "string",
            "description": "A description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/ValueDetails"
          },
          "forcedSaleValue": {
            "description": "The forced sale value of the collateral.",
            "$ref": "#/components/schemas/ValueDetails"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the valuation was conducted.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The provider or company that conducted the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The lien priority of the collateral, e.g., first, second.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "70d5ebbf-a8a0-e3f7-1fa7-660f7d7b2ac1"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value percentage for the collateral.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the collateral was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the collateral.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata associated with the collateral response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the response for a collateral in a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-321221"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "70d5ebbf-a8a0-e3f7-1fa7-660f7d7b2ac1",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "73bd57df-7a15-5273-9e52-93d0fe020e1e",
            "correlationId": "97972c10-ef41-5a47-83ca-b875cec6671d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ValueDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the value is stated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount of the value.",
            "example": "300000"
          }
        },
        "description": "Schema representing the valuation details including currency and amount."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the collateral record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the collateral record.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the collateral record.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the collateral record.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the collateral record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking changes and updates."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID to trace the request and response.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata information related to the collateral response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being called in this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-collateral"
        },
        "example": "banking-loans-openapi-create-collateral"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed this request, providing insight into the underlying system involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer authentication mechanism, enabling secure access by requiring a JSON Web Token (JWT) provided by the client in the Authorization header. The JWT token serves as a credential that allows access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}