{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Merchant-spec",
    "description": "The Merchant Registration API facilitates the onboarding of new merchants into the payment system. Utilizing this endpoint, businesses can submit essential merchant information to register for payment processing services. This API primarily serves merchants looking to establish their presence in a digital payment ecosystem. Typical consumers include business developers and system integrators aiming to streamline merchant setup and management. Ensure all required documentation and information are accurately provided during the registration process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants": {
      "post": {
        "tags": [],
        "summary": "Create a new merchant.",
        "description": "This endpoint allows you to create a new merchant in the system. Provide the required merchant information in the request body to successfully add a new merchant.",
        "operationId": "createP2mMerchant",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new merchant. This object must follow the defined schema to ensure all required fields are provided and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mMerchantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Merchant resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mMerchantResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mMerchantRequest": {
        "title": "Merchant Operations Request Body",
        "type": "object",
        "properties": {
          "business": {
            "description": "Details about the business associated with the merchant.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the business.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "capabilities": {
            "description": "Capabilities of the merchant, including payment options and support.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "requestContext": {
            "description": "Context of the request, including identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a merchant.",
        "example": {
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true
          },
          "requestContext": {
            "requestId": "f8c719b6-111a-546d-859e-9b7948a740d1",
            "correlationId": "96f1a97d-cea4-5a70-9037-b8c0411a7dd8",
            "idempotencyKey": "c43dca17-6a2a-5781-8857-8f3dd54073d4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-159881"
            }
          }
        }
      },
      "Business": {
        "title": "Business Information",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the business.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "The tax identification number for the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "The country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the business was incorporated.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "The type of merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code.",
            "example": "string"
          }
        },
        "description": "Information about the merchant's business."
      },
      "RegisteredAddress": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (if applicable).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "The city where the business is located.",
            "example": "Springfield"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province of the business.",
            "example": "IL"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the address.",
            "example": "62701"
          },
          "country": {
            "type": "string",
            "description": "The country of the registered address.",
            "example": "USA"
          }
        },
        "description": "Schema representing the registered address of the merchant."
      },
      "Contact": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "string"
          }
        },
        "description": "Contact details for the merchant."
      },
      "Capabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels supported by the merchant.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods accepted by the merchant.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refunds are supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "The maximum percentage of tip allowed.",
            "example": "string"
          }
        },
        "description": "Capabilities that are available to the merchant."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "corr_67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotent_key_1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "Internal System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "App A"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, in-store).",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device_12345"
          }
        },
        "description": "Schema representing the channel information."
      },
      "CreateP2mMerchantResponse_201": {
        "title": "Merchant Creation Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-721280"
          },
          "business": {
            "description": "Information related to the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities offered to the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms associated with the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of a merchant.",
        "example": {
          "merchantId": "MER-721280",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "09f1cfcc-b791-5e33-8d95-662dedb2f644",
            "correlationId": "96f1a97d-cea4-5a70-9037-b8c0411a7dd8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Address": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (optional).",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "The registered address details of a merchant."
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan the merchant is on.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees: merchant or consumer.",
            "example": "string"
          },
          "paymentFee": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of payment fee (e.g., fixed, percentage).",
                "example": "string"
              },
              "percentage": {
                "type": "string",
                "description": "Percentage fee charged on payments.",
                "example": "string"
              },
              "fixedAmount": {
                "$ref": "#/components/schemas/FixedAmount"
              }
            },
            "description": "Fee structure for payments made to the merchant."
          }
        },
        "description": "Terms related to the merchant's commercial agreements."
      },
      "FixedAmount": {
        "title": "Fixed Amount Fee",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the fixed amount is charged.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the fixed amount fee.",
            "example": "string"
          }
        },
        "description": "Details of the fixed amount fee charged."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the merchant occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-merchant"
        },
        "example": "banking-p2m-openapi-create-merchant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a Bearer token, typically a JSON Web Token (JWT) format. It allows users to securely access the API by including the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}