{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Transfer Deposit Switch-spec",
    "description": "The Transfer Deposit Switch Generation API enables businesses to seamlessly initiate the setup of deposit switches for transfers. This endpoint allows users to generate transfer deposit switches that facilitate the movement of funds between accounts efficiently. Typical consumers of this API include financial institutions, payment processors, and fintech companies looking to streamline their transfer processes. By utilizing this API, clients can enhance their financial services and improve user experiences when managing deposits.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/deposit-switch": {
      "post": {
        "tags": [
          "Transfer Operations"
        ],
        "summary": "Initiates a deposit switch transfer.",
        "description": "This endpoint allows the user to initiate a deposit switch transfer by submitting the necessary details. Ensure all required parameters are provided for the successful execution of this operation.",
        "operationId": "createTransferDepositSwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a deposit switch operation. It requires a JSON object that contains all necessary parameters for the deposit switch operation to process successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferDepositSwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the expected result.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransferDepositSwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTransferDepositSwitchRequest": {
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "external": {
            "$ref": "#/components/schemas/ExternalContext"
          },
          "accounts": {
            "type": "array",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "partnerId": {
            "type": "string",
            "description": "The ID of the partner associated with the request.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the request.",
            "example": "CUST-866814"
          },
          "language": {
            "type": "string",
            "description": "The language preference for the request.",
            "example": "en"
          },
          "webhook": {
            "type": "string",
            "description": "The URL to which notifications will be sent.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type for the webhook notifications.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect to after processing the request.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "Details about the user experience.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the deposit switch operation.",
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "external": {
            "id": "STANDARD",
            "context": "STANDARD"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-866814",
          "language": "en",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "redirectUri": "STANDARD",
          "experience": "STANDARD",
          "requestContext": {
            "requestId": "ace02e15-99fd-51d2-9192-0087a5922d37",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "idempotencyKey": "c3f6ef80-ce4e-5873-8754-5f28bf353018",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809905"
            }
          }
        }
      },
      "ServiceAgreement": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language used in the service agreement.",
            "example": "string"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date the service agreement was accepted.",
            "example": "string"
          }
        },
        "description": "Details about the service agreement."
      },
      "ExternalContext": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the external context.",
            "example": "string"
          },
          "context": {
            "type": "string",
            "description": "Contextual information related to the external request.",
            "example": "string"
          }
        },
        "description": "Details about the external context."
      },
      "Account": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "The account number of the bank account.",
            "example": "string"
          },
          "bankIdentifier": {
            "type": "string",
            "description": "The identifier for the bank of the account.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "The title of the account holder.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the account (e.g., savings, checking).",
            "example": "string"
          }
        },
        "description": "Details about a bank account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel where the request was made (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateTransferDepositSwitchResponse_200": {
        "title": "Transfer Deposit Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the transfer deposit operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/TransferDepositMetadata"
          }
        },
        "description": "Response schema for the Transfer Deposit operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "c2c02187-d612-51ce-aa90-516bded2ae91",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransferDepositMetadata": {
        "title": "Transfer Deposit Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the Transfer Deposit response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint being accessed, allowing tracking and identification of the specific endpoint for optimization and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-deposit-switch-url"
        },
        "example": "open-finance-api-generate-transfer-deposit-switch-url"
      },
      "x-runtime-app": {
        "description": "The name of the application that is processing the request, used for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes a Bearer token for authentication purposes. Supports JSON Web Tokens (JWT) as the format for the token, enabling secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}