{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Collateral Retrieval API",
    "description": "The Loan Application Collateral Retrieval API provides a streamlined method for accessing collateral details associated with specific loan applications. It enables financial institutions and loan officers to easily retrieve important asset information, improving the efficiency of loan evaluation processes. Users can fetch the collateral data by referencing a loan application ID and a unique collateral ID. This API is particularly valuable for applications in banking and finance that require precise collateral assessments during the loan approval process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "get": {
        "tags": [
          "Loan Application"
        ],
        "summary": "Retrieve collateral information for a specific loan application.",
        "description": "This endpoint allows you to fetch detailed collateral information associated with a particular loan application identified by its unique ID. This data is crucial for assessing the risk and value of the collateral provided in the loan agreement.",
        "operationId": "getLoanApplicationsCollateralById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/collateralId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving collateral information associated with a specific loan application identified by RES-100045. This request may include specific criteria for fetching collateral details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsCollateralByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved collateral information for the specified loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsCollateralByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsCollateralByIdRequest": {
        "type": "string",
        "description": "A JSON string representing the loan application collateral information.",
        "example": "{}"
      },
      "GetLoanApplicationsCollateralByIdResponse_200": {
        "title": "Collateral",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership for the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "An array of customer IDs who own the collateral.",
            "example": [
              "CUST-558489"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer owning the collateral.",
              "example": "C123456"
            }
          },
          "description": {
            "type": "string",
            "description": "A description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/Value"
          },
          "forcedSaleValue": {
            "description": "The forced sale value of the collateral.",
            "$ref": "#/components/schemas/Value"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The provider who conducted the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "dcb056f2-299f-a8e9-7c65-9977c91fed77"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value percentage for the collateral.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the collateral.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the collateral.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents a collateral related to a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-558489"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "dcb056f2-299f-a8e9-7c65-9977c91fed77",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f24e1c81-4f02-5ab1-9a1c-727c5f114e97",
            "correlationId": "5c5862ce-1104-5790-aabb-7b9b6b4ca121",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Value": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency type of the value.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the monetary value.",
            "example": "250000"
          }
        },
        "description": "A monetary value represented with currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the collateral was created.",
            "example": "2022-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the collateral record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the collateral was last updated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the collateral record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the collateral record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information including creation and update details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the collateral processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to collateral processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "collateralId": {
        "name": "collateralId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-collateral"
        },
        "example": "banking-loans-openapi-get-collateral"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically formatted as a JSON Web Token (JWT), to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}