{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Customer Products-spec",
    "description": "The Customer Products Retrieval API enables businesses to access a comprehensive list of products associated with their customers within the customer management system. This endpoint allows users to efficiently fetch product data, making it easy for customer service representatives and account managers to provide tailored assistance. Typical consumers of this API include banking and finance professionals seeking insights into customer portfolios. By leveraging this API, organizations can enhance their customer interactions and drive more informed business decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-products": {
      "get": {
        "tags": [
          "CustomerManagement"
        ],
        "summary": "Retrieve customer product details",
        "description": "This endpoint allows you to fetch details about products associated with a specific customer in the management system. It is useful for understanding customer preferences and inventory management.",
        "operationId": "listCustomerManagementCustomerProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving customer products. This body may contain necessary parameters that help filter or specify the products to be fetched for a specific customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementCustomerProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of customer products.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementCustomerProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementCustomerProductsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving customer product information.",
        "example": "{}"
      },
      "ListCustomerManagementCustomerProductsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer product objects.",
            "example": [
              {
                "customerId": "CUST-792368",
                "partyId": "PARTY-406099",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerProduct"
            }
          },
          "pagination": {
            "description": "Information regarding the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer products.",
        "example": {
          "items": [
            {
              "customerId": "CUST-792368",
              "partyId": "PARTY-406099",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "327ff584-7f84-56d8-aa7f-24686e176ac3",
            "correlationId": "0b53a801-5562-5ac4-9adb-6e10914109db",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerProduct": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party related to the customer.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code for the product.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the product became effective.",
            "example": "string"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship with the customer.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp for when the record was last updated.",
            "example": "string"
          }
        },
        "description": "An object representing a customer's product details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details related to the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-products-and-services-search-customer-products-and-services"
        },
        "example": "customer-products-and-services-search-customer-products-and-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must provide a valid JWT token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}