{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Loan Management API",
    "description": "The Corporate Loan Management API provides functionalities for retrieving detailed information about corporate loan products. This endpoint allows developers to access essential data related to corporate lending options offered by the bank, including interest rates, terms, and eligibility criteria. It is particularly useful for financial institutions, businesses seeking loan products, and developers integrating banking solutions into their platforms. The API aims to enhance decision-making processes by providing quick access to critical loan information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-loan": {
      "get": {
        "tags": [
          "Loan Services"
        ],
        "summary": "Retrieve corporate loan information",
        "description": "This endpoint allows users to fetch detailed information about corporate loans offered under the deposit lending service, including applicable terms, interest rates, and eligibility criteria.",
        "operationId": "getCorporateLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving corporate loan details in the deposit lending context. This request should be structured according to the specified schema and must include all required parameters to ensure accurate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of corporate loan information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Corporate Loan operations under Deposit Lending. It is expected to provide a JSON formatted string.",
        "example": "{}"
      },
      "GetCorporateLoanDetailsResponse_200": {
        "title": "Corporate Loan Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of corporate loan items.",
            "example": [
              {
                "customerId": "CUST-164726",
                "accountId": "ACC-921703",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the corporate loan operations including the list of items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-164726",
              "accountId": "ACC-921703",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a8d766b3-2fb7-5ea8-9c9e-e194f759acd2",
            "correlationId": "c60d00e0-3dca-5a45-9b84-dfd2185ec117",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateLoanItem": {
        "title": "Corporate Loan Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "customer123"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the loan.",
            "example": "account456"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product.",
            "example": "product789"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 12
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment.",
            "example": "monthly"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the loan record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single corporate loan item in the response."
      },
      "Principal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency of a loan."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the loan response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-loan-search-corporate-loan"
        },
        "example": "corporate-loan-search-corporate-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for authenticating users. Clients must include a valid JWT token as a bearer token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}