{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Resolution Management API",
    "description": "The Dispute Resolution Management API is designed to facilitate the seamless update and resolution of disputes within the platform. This endpoint allows authorized users to modify details associated with a specific dispute identified by its unique ID. Typical use cases include customer service representatives and financial administrators who require the ability to adjust dispute statuses, add notes, or correct information as part of the dispute resolution process. This API ensures efficient management of disputes, promoting faster resolution times and improved customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}": {
      "patch": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Update a specific dispute",
        "description": "This endpoint allows you to update the details of a specific dispute identified by its unique ID. You can modify relevant fields as necessary to reflect the current status or information associated with the dispute.",
        "operationId": "patchDisputeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the dispute with ID RES-100045. This payload should contain the necessary fields to perform the patch operation, including any updates or changes relevant to the dispute's details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDisputeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the dispute has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDisputeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchDisputeByIdRequest": {
        "title": "Dispute Update Request Body",
        "type": "object",
        "properties": {
          "customerStatement": {
            "type": "string",
            "description": "The statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a dispute.",
        "example": {
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "a666d2fc-ffa3-5f52-bc2e-adc93d94f399",
            "correlationId": "b58122e2-3d1e-5eec-8f64-759fa06c60be",
            "idempotencyKey": "9eb164d5-3de9-539a-9152-3810a2db2cb0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-347694"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request can be retried safely.",
            "example": "uniq-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual data for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "PatchDisputeByIdResponse_200": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the related payment.",
            "example": "PAY-986954"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-237990"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount of money being disputed.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Timestamp when the response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence files related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "description": "Financial impact related to the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details about the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information for tracking changes to the dispute.",
            "$ref": "#/components/schemas/AuditLog"
          },
          "metadata": {
            "description": "Additional metadata related to the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on disputes.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-986954",
          "merchantId": "MER-237990",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "81ceb3ec-cf47-5f64-887e-2f2623038fa0",
            "correlationId": "b58122e2-3d1e-5eec-8f64-759fa06c60be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisputedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the disputed amount.",
            "example": "100.00"
          }
        },
        "description": "Details of the disputed amount."
      },
      "EvidenceItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "E123456"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file containing the evidence.",
            "example": "transaction_receipt.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL where the evidence file can be accessed.",
            "example": "https://example.com/evidence/E123456"
          },
          "sha256": {
            "type": "string",
            "description": "SHA256 hash of the file for integrity verification.",
            "example": "abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Information about a piece of evidence provided for the dispute."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/FeeItem"
            }
          },
          "reserveHeld": {
            "description": "Amount held in reserve related to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          }
        },
        "description": "Details regarding the financial impact of the dispute."
      },
      "FeeItem": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee.",
            "example": "Processing Fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee.",
            "example": "Merchant"
          }
        },
        "description": "Details of a fee associated with the dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "Resolved"
          },
          "resolvedAmount": {
            "description": "Amount that has been resolved in favor of the customer or merchant.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the resolution outcome.",
            "example": "Transaction was found to be unauthorized."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-10-05T00:00:00Z"
          }
        },
        "description": "Details regarding the resolution of the dispute."
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the dispute was created.",
            "example": "2023-09-25T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User or system that created the dispute.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was last updated.",
            "example": "2023-09-27T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User or system that last updated the dispute.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Log of audit information related to the dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata associated with the dispute response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-dispute"
        },
        "example": "banking-p2m-openapi-update-dispute"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that utilizes a Bearer token for authentication, typically in the form of a JSON Web Token (JWT). This scheme is commonly used for securing API endpoints by including the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}