{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Distribution API",
    "description": "The Product Inventory Distribution API enables users to access and manage product inventory data specific to various banking channels. This API provides capabilities to retrieve detailed information about product availability, allocation, and distribution across different platforms. Typical consumers include banking institutions and financial service providers that need real-time insights into their product inventory to optimize operations and decision-making. By leveraging this API, businesses can ensure effective inventory management and enhance customer service by providing accurate product availability information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-distribution": {
      "get": {
        "tags": [
          "Product Inventory"
        ],
        "summary": "Retrieve product inventory distribution for a specific channel.",
        "description": "This endpoint allows you to fetch the inventory distribution details for products associated with a specific sales channel. You can use this information to assess product availability and optimize inventory management for different channels.",
        "operationId": "getChannelSpecificProductInventoryDistribution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about product inventory distribution for a specific channel. Ensure that the payload adheres to the defined schema to successfully query the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificProductInventoryDistributionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of product inventory distribution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificProductInventoryDistributionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificProductInventoryDistributionRequest": {
        "type": "string",
        "description": "A string representing the request body for operations related to channel-specific product inventory distribution.",
        "example": "{}"
      },
      "GetChannelSpecificProductInventoryDistributionResponse_200": {
        "title": "Product Inventory Distribution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of inventory items available in the response.",
            "example": [
              {
                "inventoryItemId": "STANDARD",
                "sku": "STANDARD",
                "branchId": "STANDARD",
                "quantityOnHand": 1,
                "reorderPoint": 1,
                "distributionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product inventory distribution operation. It contains the list of inventory items and associated metadata.",
        "example": {
          "items": [
            {
              "inventoryItemId": "STANDARD",
              "sku": "STANDARD",
              "branchId": "STANDARD",
              "quantityOnHand": 1,
              "reorderPoint": 1,
              "distributionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "85802ba0-cd70-562e-9d5b-e16c249fd8ef",
            "correlationId": "731f64e2-e77b-5156-8c8b-a54ff2c209d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InventoryItem": {
        "title": "Inventory Item",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "inventory123"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit identifier for the inventory item.",
            "example": "SKU12345"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory item is located.",
            "example": "branch456"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "Current quantity of the inventory item available on hand.",
            "format": "int32",
            "example": 10
          },
          "reorderPoint": {
            "type": "integer",
            "description": "Reorder point for the inventory item to trigger restocking.",
            "format": "int32",
            "example": 5
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "Quantity of the inventory item to be distributed.",
            "format": "int32",
            "example": 2
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the inventory record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the inventory item record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents an individual inventory item details."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page provided in the results.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding the pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across services.",
            "example": "correlation101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information returned with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-distribution-search-product-inventory-distribution"
        },
        "example": "product-inventory-distribution-search-product-inventory-distribution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication (also known as token authentication). Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}