{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Owner Details-spec",
    "description": "The Owner Details Retrieval API provides access to ownership information for specific accounts associated with a given customer. By specifying the customer and account IDs, users can retrieve detailed data regarding account ownership, facilitating better account management and customer service operations. This API is particularly useful for financial institutions, customer support teams, and account management systems that require detailed knowledge of the account owners. Developers can integrate this API into applications that need to display or process ownership data efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/owner/details": {
      "get": {
        "tags": [
          "CustomerManagement"
        ],
        "summary": "Retrieve owner details for a specific account.",
        "description": "This endpoint allows you to fetch detailed information about the owner of a specified account. It is particularly useful for understanding account ownership and related information.",
        "operationId": "listOwnerDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the owner details of the specified customer and account. This request body should contain the necessary parameters to identify the account and customer in question.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOwnerDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the owner's details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOwnerDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOwnerDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving owner details of a specific account under a customer. The exact structure of the string content is expected to follow certain data conventions relevant to the request.",
        "example": "{}"
      },
      "ListOwnerDetailsResponse_200": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "A list of account holders with their respective details.",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100.0,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "type": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "postalCode": "10001",
                    "country": "STANDARD"
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example"
                  }
                ],
                "phones": [
                  {
                    "type": "STANDARD",
                    "country": "STANDARD",
                    "phone": "+1-212-555-0147"
                  }
                ],
                "documentations": [
                  {
                    "taxId": "STANDARD",
                    "taxIdCountry": "STANDARD",
                    "governmentId": "STANDARD"
                  }
                ],
                "identityInsights": {
                  "requestRefId": "STANDARD",
                  "isEmailValid": true,
                  "emailFirstSeenDays": 100.0,
                  "emailDomainCreationDate": "olivia.bennett@northstar.example",
                  "emailToName": "olivia.bennett@northstar.example",
                  "ipRisk": true,
                  "ipRiskScore": 100.0,
                  "ipLastSeenDays": 100.0,
                  "code": "SUCCESS"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100.0,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "type": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example"
                }
              ],
              "phones": [
                {
                  "type": "STANDARD",
                  "country": "STANDARD",
                  "phone": "+1-212-555-0147"
                }
              ],
              "documentations": [
                {
                  "taxId": "STANDARD",
                  "taxIdCountry": "STANDARD",
                  "governmentId": "STANDARD"
                }
              ],
              "identityInsights": {
                "requestRefId": "STANDARD",
                "isEmailValid": true,
                "emailFirstSeenDays": 100.0,
                "emailDomainCreationDate": "olivia.bennett@northstar.example",
                "emailToName": "olivia.bennett@northstar.example",
                "ipRisk": true,
                "ipRiskScore": 100.0,
                "ipLastSeenDays": 100.0,
                "code": "SUCCESS"
              }
            }
          ],
          "metadata": {
            "responseId": "bf513432-dc6d-5a15-b126-d4fcb0a1549a",
            "correlationId": "b78fb59f-db64-5968-b9a8-77b390b2dc41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountHolder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account."
          },
          "ownerName": {
            "type": "string",
            "description": "The full name of the account holder."
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the account holder."
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the account holder."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the account holder."
          },
          "suffix": {
            "type": "string",
            "description": "The suffix of the account holder's name (e.g., Jr., Sr.)."
          },
          "nameClassification": {
            "type": "string",
            "description": "Classification of the name (e.g., Individual, Business)."
          },
          "nameClassificationconfidencescore": {
            "type": "number",
            "description": "Confidence score for the name classification."
          },
          "addresses": {
            "type": "array",
            "description": "A list of addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "emails": {
            "type": "array",
            "description": "A list of email addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "phones": {
            "type": "array",
            "description": "A list of phone numbers associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "documentations": {
            "type": "array",
            "description": "A list of legal documentation associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Documentation"
            }
          },
          "identityInsights": {
            "type": "object",
            "properties": {
              "requestRefId": {
                "type": "string",
                "description": "Reference ID for the identity request."
              },
              "isEmailValid": {
                "type": "boolean",
                "description": "Indicates whether the email address is valid."
              },
              "emailFirstSeenDays": {
                "type": "number",
                "description": "Number of days since the email was first seen."
              },
              "emailDomainCreationDate": {
                "type": "string",
                "description": "Creation date of the email domain."
              },
              "emailToName": {
                "type": "string",
                "description": "Name associated with the email address."
              },
              "ipRisk": {
                "type": "boolean",
                "description": "Indicates whether there is IP risk associated."
              },
              "ipRiskScore": {
                "type": "number",
                "description": "Risk score associated with the IP."
              },
              "ipLastSeenDays": {
                "type": "number",
                "description": "Number of days since the IP was last seen."
              },
              "code": {
                "type": "string",
                "description": "Status code for the identity check."
              }
            },
            "description": "Insights regarding the identity of the account holder."
          }
        },
        "description": "Represents an individual who holds an account."
      },
      "Address": {
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "string",
            "description": "The full address of the account holder."
          },
          "type": {
            "type": "string",
            "description": "The type of address (e.g., Home, Work)."
          },
          "line1": {
            "type": "string",
            "description": "Address line 1."
          },
          "line2": {
            "type": "string",
            "description": "Address line 2."
          },
          "line3": {
            "type": "string",
            "description": "Address line 3."
          },
          "city": {
            "type": "string",
            "description": "The city of the address."
          },
          "state": {
            "type": "string",
            "description": "The state of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the address."
          },
          "country": {
            "type": "string",
            "description": "The country of the address."
          }
        },
        "description": "Represents an address associated with an account holder."
      },
      "Email": {
        "type": "object",
        "properties": {
          "isPrimary": {
            "type": "boolean",
            "description": "Indicates whether this is the primary email address."
          },
          "email": {
            "type": "string",
            "description": "The email address."
          },
          "emailType": {
            "type": "string",
            "description": "Type of email (e.g., Personal, Work)."
          }
        },
        "description": "Represents an email address associated with an account holder."
      },
      "Phone": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of phone number (e.g., Mobile, Landline)."
          },
          "country": {
            "type": "string",
            "description": "The country code associated with the phone number."
          },
          "phone": {
            "type": "string",
            "description": "The phone number."
          }
        },
        "description": "Represents a phone number associated with an account holder."
      },
      "Documentation": {
        "type": "object",
        "properties": {
          "taxId": {
            "type": "string",
            "description": "Tax ID of the account holder."
          },
          "taxIdCountry": {
            "type": "string",
            "description": "Country of the tax ID."
          },
          "governmentId": {
            "type": "string",
            "description": "Government-issued ID of the account holder."
          }
        },
        "description": "Represents legal documentation associated with an account holder."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed, used for tracing and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-owner-details"
        },
        "example": "open-finance-api-get-account-owner-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, useful for identifying the source of the call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism that requires a token to be included in the request for authorization. The token should be in the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}