{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Param1-spec",
    "description": "This API facilitates the modification of existing QR payment requests by replacing the payment parameter with a specified value. It allows businesses to dynamically adjust payment requests as needed, ensuring that transactions are aligned with current requirements. Typical consumers of this API include financial institutions and payment service providers who need to manage payment requests efficiently. The endpoint provides an effective means to enhance the accuracy and responsiveness of payment processing services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}": {
      "put": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Update an existing QR Payment Request.",
        "description": "This operation allows you to update the details of a specific QR Payment Request identified by its unique ID. Ensure the request includes all necessary fields to successfully update the record.",
        "operationId": "replaceP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate or update the QR payment request with the specified identifier PAY-300045. The details of the payment, including relevant parameters, must be provided in the JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByParam1Request": {
        "title": "QR Payment Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-461377"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the specific outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal being used.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the transaction.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Payment standard type.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Details of the amount involved in the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "ORD-312501"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment or transaction.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tips that the customer can apply.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration time for the payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the payment request is single-use.",
            "example": true
          },
          "requestContext": {
            "description": "Context of the request including identifiers and system source.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting a QR payment operation including various parameters such as merchant information, amount details, and request context.",
        "example": {
          "merchantId": "MER-461377",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-312501",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "expiresAt": "2026-08-11T12:00:00Z",
          "singleUse": true,
          "requestContext": {
            "requestId": "542e71e9-3c33-59c1-9dd3-20212f3db9d1",
            "correlationId": "02b8ad47-7f95-557e-86d0-c31c98d69138",
            "idempotencyKey": "fac268af-4a07-5501-a785-36aeedf689ee",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-538037"
            }
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount to be charged.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount included in the payment request."
      },
      "TipOptions": {
        "title": "Tip Options",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "The mode of tips (e.g. fixed or percentage).",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed tip amounts available.",
            "example": "[{\"currency\": \"USD\", \"value\": \"5.00\"}, {\"currency\": \"USD\", \"value\": \"10.00\"}]",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage tips available.",
            "example": "[\"10%\", \"15%\"]",
            "items": {
              "type": "string",
              "description": "String representation of the percentage tip.",
              "example": "10%"
            }
          },
          "maximumTip": {
            "description": "The maximum allowable tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options provided for tipping, including fixed amounts and percentages."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "corr-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "idempotent-key-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system initiating the request.",
            "example": "mobile-app"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Source application from which the request is made.",
            "example": "myApp"
          },
          "channel": {
            "description": "Details regarding the communication channel.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-001"
          }
        },
        "description": "Schema representing details of the channel through which the payment request is made."
      },
      "ReplaceP2mByParam1Response_200": {
        "title": "QR Payment Request Response",
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "f184179a-e9e5-503d-a027-a1288c03dbb2"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant making the payment request.",
            "example": "MER-481260"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the payment is being requested.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used to process the payment request.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment transaction, indicating the type of processing required.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "The standard used for QR payments.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount involved in the payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the order placed by the merchant.",
            "example": "ORD-987714"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options available for tipping included in the payment request.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload data encoded in the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL to the generated QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the QR code is single-use.",
            "example": true
          },
          "paidAmount": {
            "description": "The amount that has been paid for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-261600"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration date and time of the payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit details related to the payment request.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional information related to the payment request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representation of the response received upon successfully processing a QR payment request.",
        "example": {
          "qrPaymentRequestId": "f184179a-e9e5-503d-a027-a1288c03dbb2",
          "merchantId": "MER-481260",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-987714",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-261600",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "b0b38b0f-229c-5ad4-a041-1d70eda6ef12",
            "correlationId": "02b8ad47-7f95-557e-86d0-c31c98d69138",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money, including its currency."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the payment request.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the payment request.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment request.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Details related to the audit trail of the payment request."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response of the payment request.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the payment request is being processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-qr-payment-request"
        },
        "example": "banking-p2m-openapi-replace-qr-payment-request"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application version that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication schema using JSON Web Tokens (JWT). Clients must include a valid JWT token in the 'Authorization' header for secured endpoints. This token represents the user's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}