{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Delinquent Account Handlings-spec",
    "description": "The Delinquent Account Management API provides financial institutions with the tools needed to manage and track delinquent accounts effectively. This endpoint allows users to retrieve comprehensive details about delinquent accounts, including their status and handling processes. Typical consumers of this API include banking and financial institution operations teams looking to enhance their account management strategies. By leveraging this API, organizations can optimize collection efforts and improve customer relations through timely interventions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/delinquent-account-handling": {
      "get": {
        "tags": [
          "Delinquent Account Management"
        ],
        "summary": "Retrieve Delinquent Account Handling Information",
        "description": "This endpoint allows users to access information regarding the handling of delinquent accounts. It provides insights and data necessary for effective operational decision-making.",
        "operationId": "listOperationalServiceDelinquentAccountHandlings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching information on delinquent account handling operations. This body allows you to specify the necessary parameters to retrieve relevant data regarding delinquent accounts.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceDelinquentAccountHandlingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of delinquent account information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceDelinquentAccountHandlingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceDelinquentAccountHandlingsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for handling delinquent account operations via the operational services.",
        "example": "{}"
      },
      "ListOperationalServiceDelinquentAccountHandlingsResponse_200": {
        "title": "Delinquent Account Handling Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of delinquent account handling operations.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-684225",
                "accountId": "ACC-334489",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DelinquentAccountOperation"
            }
          },
          "pagination": {
            "type": "object",
            "description": "Pagination information for the result set.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the delinquent account handling operations. Contains the items processed and metadata about the response.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-684225",
              "accountId": "ACC-334489",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dc2ebc7b-eb89-54a5-853b-e0a26d650eaa",
            "correlationId": "b6d09cfe-686a-5667-b68a-9171d6fceb4f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DelinquentAccountOperation": {
        "title": "Delinquent Account Operation",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the operation."
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the operation."
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the operation was requested."
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the operation."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated."
          }
        },
        "description": "Represents an operation related to a delinquent account."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items displayed on each page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the result set.",
            "format": "int32"
          }
        },
        "description": "Detailed pagination information for the results set."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used for tracing the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "This header uniquely identifies the endpoint being called, allowing for tracking of requests and responses across services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "delinquent-account-handling-search-delinquent-account-handling"
        },
        "example": "delinquent-account-handling-search-delinquent-account-handling"
      },
      "x-runtime-app": {
        "description": "This header specifies the name of the application that is generating the request, useful for logging and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for authorization. The token is typically a JSON Web Token (JWT), which is a compact and self-contained way to represent information between two parties. In this context, the bearer token must be included in the `Authorization` header of the request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}