{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Qr Payment Request Pay-spec",
    "description": "The QR Payment Request Management API facilitates the creation of payment requests through QR code functionality. Businesses can leverage this API to streamline payment processing for customers by generating dynamic QR codes that represent payment requests. This API is particularly useful for merchants and service providers looking to offer a seamless payment experience. Typical use cases include point-of-sale transactions, remote payments, and event ticketing services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}/pay": {
      "post": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Initiate a QR payment for a specific request.",
        "description": "This endpoint allows you to initiate a QR payment by providing the payment request ID. Ensure that the request ID is valid and active to successfully process the payment.",
        "operationId": "createQrPaymentRequestPay",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for processing the QR payment request with ID PAY-300045. This body should include the necessary details to execute the payment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQrPaymentRequestPayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQrPaymentRequestPayResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateQrPaymentRequestPayRequest": {
        "title": "Payment Request Body",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "description": "Details of the payment method used for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "amount": {
            "description": "The amount to be charged including currency information.",
            "$ref": "#/components/schemas/Amount"
          },
          "tipAmount": {
            "description": "Optional tip amount to be offered in the transaction.",
            "$ref": "#/components/schemas/TipAmount"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "customerConsentId": {
            "type": "string",
            "description": "Identifier for the customer's consent regarding the transaction.",
            "example": "STANDARD"
          },
          "deviceContext": {
            "description": "Information regarding the device used for the payment request.",
            "$ref": "#/components/schemas/DeviceContext"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the body of a payment request operation.",
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-923",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-906825",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0
            }
          },
          "requestContext": {
            "requestId": "35b43539-6542-57f4-accd-042594f850f1",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "idempotencyKey": "652e7db0-9115-51a1-9bde-683b1c421268",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-160315"
            }
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method used.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token associated with the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer of the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the payment method details."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Struct representing the amount involving currency and its value."
      },
      "TipAmount": {
        "title": "Tip Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the tip amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Monetary value of the tip.",
            "example": "string"
          }
        },
        "description": "Schema representing the tip amount details."
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Segment of risk assigned to the customer.",
            "example": "string"
          }
        },
        "description": "Schema representing customer information."
      },
      "DeviceContext": {
        "title": "Device Context",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device.",
            "example": "string"
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the device.",
            "example": "string"
          },
          "userAgent": {
            "type": "string",
            "description": "User agent string of the device.",
            "example": "string"
          },
          "geolocation": {
            "description": "Geolocation coordinates of the device.",
            "$ref": "#/components/schemas/Geolocation"
          }
        },
        "description": "Schema representing context information about the device used."
      },
      "Geolocation": {
        "title": "Geolocation",
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude of the location.",
            "example": 0.0
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the location.",
            "example": 0.0
          }
        },
        "description": "Schema representing geolocation details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the transaction.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device in use for the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateQrPaymentRequestPayResponse_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequest": {
            "$ref": "#/components/schemas/QrPaymentRequest"
          },
          "payment": {
            "$ref": "#/components/schemas/Payment"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing the details of a QR payment request, payment information and metadata.",
        "example": {
          "qrPaymentRequest": {
            "id": "STANDARD",
            "merchantId": "MER-369866",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "mode": "STANDARD",
            "standard": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "merchantOrderId": "ORD-146454",
            "description": "Customer banking request processed successfully",
            "tipOptions": {
              "mode": "STANDARD",
              "fixedAmounts": [
                {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              ],
              "percentages": [
                "STANDARD"
              ],
              "maximumTip": {
                "currency": "USD",
                "value": "STANDARD"
              }
            },
            "qrPayload": "STANDARD",
            "qrImageUrl": "https://example.com/resource",
            "status": "ACTIVE",
            "singleUse": true,
            "paidAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "paymentId": "PAY-465612",
            "expiresAt": "2026-08-11T12:00:00Z",
            "audit": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "7f183355-0786-5c97-b18d-18a6b940eff9",
            "merchantId": "MER-385026",
            "outletId": "STANDARD",
            "terminalId": "STANDARD"
          },
          "metadata": {
            "responseId": "db003854-8d46-5ffe-b3d2-c788dce23e22",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "QrPaymentRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the payment request.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet processing the payment.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal handling the payment.",
            "example": "string"
          },
          "mode": {
            "type": "string",
            "description": "The mode of the payment request, e.g., live or test.",
            "example": "string"
          },
          "standard": {
            "type": "string",
            "description": "The payment standard being used for the request.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the order created by the merchant.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment request.",
            "example": "string"
          },
          "tipOptions": {
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload data for the QR code.",
            "example": "string"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL to the QR code image.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "string"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the payment request can be used only once.",
            "example": false
          },
          "paidAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the request.",
            "example": "string"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment request expires.",
            "example": "string"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Details of the QR payment request, including amount, status, and audit information."
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "intentId": {
            "type": "string",
            "description": "Identifier for the intent of the payment.",
            "example": "string"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request associated with the payment.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant who processed the payment.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet processing this payment.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal that handled the payment.",
            "example": "string"
          }
        },
        "description": "Information about the payment processed from the QR payment request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the payment request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the payment took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the payment request, including traceability and processing information."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Indicates the tip mode (e.g., fixed, percentage).",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "Array of fixed tip amounts.",
            "example": "[{\"currency\":\"USD\", \"value\":\"5.00\"}, {\"currency\":\"USD\", \"value\":\"10.00\"}]",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "Array of tip percentages.",
            "example": "[\"10%\", \"15%\"]",
            "items": {
              "type": "string",
              "description": "String representation of percentage values.",
              "example": "10%"
            }
          },
          "maximumTip": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options for tips associated with the payment, including fixed amounts and percentages."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the payment request.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the payment request.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment request object.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking the lifecycle of the payment request."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "48ac8569-a49e-43b9-8d1e-2ac0850e848f"
        },
        "example": "48ac8569-a49e-43b9-8d1e-2ac0850e848f"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cdc3f884-a4b0-494e-b614-55cbe7007e4b"
        },
        "example": "cdc3f884-a4b0-494e-b614-55cbe7007e4b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-execute-qr-payment"
        },
        "example": "banking-p2m-openapi-execute-qr-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card-not-present eCommerce Payment"
        },
        "example": "Card-not-present eCommerce Payment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cdc3f884-a4b0-494e-b614-55cbe7007e4b"
        },
        "example": "cdc3f884-a4b0-494e-b614-55cbe7007e4b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using a Bearer token. This scheme requires a JWT (JSON Web Token) for authentication and is suitable for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}