{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Handoff-spec",
    "description": "The Handoff Submission API enables seamless integration and coordination of banking sessions by facilitating the creation of handoff specifications. This endpoint is designed for financial service providers and developers to manage the transfer of session-related data effectively. By submitting a handoff, clients can ensure that essential information is accurately communicated between systems during banking operations. Typical consumers of this API include developers working on banking applications and institutions aiming to enhance their customer service through optimized session management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sessions/*/handoffs": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Create a new handoff for a session.",
        "description": "This endpoint allows you to create a new handoff for a specified session. Ensure that the session exists before attempting to create a handoff.",
        "operationId": "create*Handoff",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a handoff in a specified session. It should contain all necessary information required for the handoff operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*HandoffRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the handoff was processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*HandoffResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*HandoffRequest": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the operation.",
            "example": "PARTY-927482"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-243550"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the operation is being conducted.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for handling session handoffs operations.",
        "example": {
          "partyId": "PARTY-927482",
          "interactionId": "INT-243550",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "e4a15b9e-31a4-43b4-87fb-28c741bdcfcc",
            "correlationId": "1f917939-e2bf-47b9-b573-0c1f9b141faf",
            "idempotencyKey": "48260196-6e6a-4912-a53b-5e8b3ee74aa0",
            "requestedAt": "2026-08-27T23:01:23.953Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-290309"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used in the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device being used.",
            "example": "string"
          }
        },
        "description": "Schema describing the channel used for the operation."
      },
      "Create*HandoffResponse_201": {
        "title": "Handoff Operation Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-353277"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-144012"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the interaction.",
            "example": "RES-692226"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the handoff operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/HandoffMetadata"
          }
        },
        "description": "This schema represents the response for a successful handoff operation.",
        "example": {
          "partyId": "PARTY-353277",
          "interactionId": "INT-144012",
          "resourceId": "RES-692226",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "052a4331-2549-5872-a1b3-932e0ed0f1f0",
            "correlationId": "44d96762-2848-5b34-b0a4-6eeb8c3c7bda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "HandoffMetadata": {
        "title": "Handoff Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response related to this handoff operation.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracking the request across services.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T10:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the handoff operation took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the handoff operation."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5a8b464e32fb1868"
        },
        "example": "5a8b464e32fb1868"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f2c45ad8-4468-4901-b18f-26c9c8c2cc28"
        },
        "example": "f2c45ad8-4468-4901-b18f-26c9c8c2cc28"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4b26a60a-a935-4c55-8286-586aa544bb13"
        },
        "example": "4b26a60a-a935-4c55-8286-586aa544bb13"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the current session. This ID is used to trace and log the request to its respective endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-create-session-dialogue"
        },
        "example": "session-dialogue-create-session-dialogue"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that is processing the request. This information is useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow that is currently being executed. This ID provides context to the request and helps in tracking the flow of operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-075"
        },
        "example": "WF-075"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Omnichannel Service Routing and Handoff"
        },
        "example": "Omnichannel Service Routing and Handoff"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "428a27a8-80ab-46a0-9690-299d77e11ce8"
        },
        "example": "428a27a8-80ab-46a0-9690-299d77e11ce8"
      }
    }
  }
}