{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Syndication Information API",
    "description": "The Loan Syndication Information API provides access to details regarding syndicated loans. It allows users to retrieve comprehensive information about existing loan syndications, including terms, participating lenders, and associated borrowers. This API is primarily designed for financial institutions, analysts, and developers seeking to understand loan syndication structures and market activity. It facilitates informed decision-making and enhances transparency in syndication transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/loan-syndication": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve loan syndication details.",
        "description": "This endpoint allows users to fetch detailed information about loan syndication, including associated terms and agreements. It is essential for users seeking to understand the specifics of their loan syndication arrangements.",
        "operationId": "getLoanSyndication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve loan syndication information. It must contain the necessary parameters for querying the loan syndication details relevant to the specific scenario being executed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanSyndicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, returning the loan syndication details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanSyndicationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanSyndicationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in loan syndication servicing.",
        "example": "{}"
      },
      "GetLoanSyndicationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of loan syndication requests.",
            "example": [
              {
                "customerId": "CUST-807901",
                "caseId": "CASE-482093",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanSyndicationRequest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response schema for fetching loan syndication operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-807901",
              "caseId": "CASE-482093",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3e1dfe57-615d-5a1e-b196-a2a8d0439fd9",
            "correlationId": "1c14ac05-0bbe-5e1e-ad1e-bf40f5636132",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanSyndicationRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST123"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "CASE456"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "Loan Application"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "High"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "Online"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "Open"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the request.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents the details of a loan syndication request."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "abcd1234"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests.",
            "example": "corr5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-syndication-search-loan-syndication"
        },
        "example": "loan-syndication-search-loan-syndication"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime that handled the request, aiding in service status monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method. It requires a JSON Web Token (JWT) that the client needs to include in the 'Authorization' header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}