{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Card E Commerce Gateways-spec",
    "description": "The E-Commerce Payment Gateway Listing API allows businesses to retrieve a list of available payment card e-commerce gateways. This endpoint is essential for developers looking to integrate online payment processing solutions into their platforms. By providing access to various payment gateways, it supports diverse customer payment preferences and enhances transaction flexibility. Typical consumers include e-commerce platforms and financial service providers seeking to optimize their payment options for users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve E-Commerce Gateway Card Payments",
        "description": "This endpoint allows you to retrieve information about card payments made through the E-Commerce Gateway. It provides detailed data related to the transactions processed via this payment method, helping to track and manage payment records efficiently.",
        "operationId": "listPaymentCardECommerceGateways",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving payment information through the card e-commerce gateway. This body should include the necessary parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentCardECommerceGatewaysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment gateway details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentCardECommerceGatewaysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentCardECommerceGatewaysRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the e-commerce gateway payment operations.",
        "example": "{}"
      },
      "ListPaymentCardECommerceGatewaysResponse_200": {
        "title": "Payments Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment items.",
            "example": [
              {
                "paymentId": "PAY-566419",
                "debtorAccountId": "ACC-383284",
                "creditorAccountId": "ACC-602182",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the payment items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Payments operation in the e-commerce gateway. It includes a list of payment items, pagination details, sorting information, and additional metadata.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-566419",
              "debtorAccountId": "ACC-383284",
              "creditorAccountId": "ACC-602182",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "06b3a0cb-b9b9-5d14-b5c4-35a27eca35bc",
            "correlationId": "ab7da7e5-c0d3-5270-a542-9e8d1ec56726",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "title": "Payment Item",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "payment_12345"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account ID of the debtor.",
            "example": "account_debtor_123"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account ID of the creditor.",
            "example": "account_creditor_123"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Requested execution date for the payment.",
            "example": "2023-10-01"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance.",
            "example": "Payment for invoice #12345"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "COMPLETED"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single payment item."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be processed.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the instructed amount for a payment."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "correlation_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-search-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-search-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for secure API access. Clients must provide a valid JWT token in the 'Authorization' header for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}