{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Human Resource Management By Param1-spec",
    "description": "The Employee Assignment Management API allows businesses to update the assignment details of employees within the Human Resource Management system. This API provides endpoints to modify existing employee assignments based on specific parameters, facilitating adjustments such as role changes or department transfers. Typical consumers include HR personnel and payroll systems that need to maintain up-to-date employee information. The API streamlines operations and ensures accurate assignment tracking across the organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-assignment/{param1}": {
      "patch": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update Employee Assignment Details",
        "description": "This operation allows you to update the details of a specific employee assignment using their unique ID. Ensure to pass the necessary fields that need to be updated in the request body for a successful operation.",
        "operationId": "updateHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows for updating the assignment information of the employee with the ID EMP-900045. The contents should include the specific changes to be made to the employee's assignment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The employee assignment was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateHumanResourceManagementByParam1Request": {
        "title": "Employee Assignment Update Request Schema",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes being requested for the employee assignment.",
            "$ref": "#/components/schemas/EmployeeAssignmentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in employee assignment.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Details about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating employee assignment information.",
        "example": {
          "changes": {
            "employeeId": "EMP-158325",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c6f88884-56a1-5978-b35a-e1baa10af4e7",
            "correlationId": "e367c27d-f3f9-5f9e-94fb-dcc83c9b0a84",
            "idempotencyKey": "7f912332-afb7-517c-849f-b8cc272bfcb2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-816416"
            }
          }
        }
      },
      "EmployeeAssignmentChanges": {
        "title": "Employee Assignment Changes Schema",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-123456"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment.",
            "example": "ASSIGN-78910"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department.",
            "example": "DEPT-001"
          }
        },
        "description": "Schema representing the changes for an employee assignment."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking the request across different systems.",
            "example": "corr-456-def"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-25T10:15:30Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "HR-System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "EmployeeManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "title": "Request Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-abc-789"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateHumanResourceManagementByParam1Response_200": {
        "title": "Employee Assignment Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the employee assignment was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned after updating an employee assignment.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5aec5a53-ef73-5de4-a931-aa1b6fecca98",
            "correlationId": "e367c27d-f3f9-5f9e-94fb-dcc83c9b0a84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to track the request across systems.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata about the request processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-assignment-update-employee-assignment"
        },
        "example": "employee-assignment-update-employee-assignment"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime in which the operation took place.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for bearer authentication. When using this scheme, the token must be included in the Authorization header of the request as follows: `Authorization: Bearer <token>`. The token should be a valid JWT, which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}