{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan By Loan Id-spec",
    "description": "The Loan Replacement API enables users to modify an existing loan identified by a unique loan ID. This operation is crucial for financial institutions looking to adjust loan details, such as updating terms, interest rates, or other key attributes without losing the integrity of the existing loan record. Common users of this API include loan officers, customer service representatives, and financial software systems that require loan management functionalities. By using this endpoint, organizations can ensure their loan data remains accurate and up-to-date.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan",
        "description": "Updates the details of a specific loan identified by its ID. This operation allows for modification of various loan attributes to ensure the loan information remains accurate and up-to-date.",
        "operationId": "replaceLoanByLoanId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific loan identified by LOAN-500045. Please ensure that all required fields are included according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanByLoanIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the loan resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanByLoanIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanByLoanIdRequest": {
        "title": "Loan Operation Update Request Body",
        "type": "object",
        "properties": {
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number to which repayments are to be credited.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the servicing branch handling the loan.",
            "example": "CODE-618"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager assigned to the loan.",
            "example": "STANDARD"
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy to be used for loan collection.",
            "example": "STANDARD"
          },
          "servicingNotes": {
            "type": "string",
            "description": "Any notes regarding the servicing of the loan.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body structure for updating loan operation details.",
        "example": {
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-618",
          "relationshipManagerId": "STANDARD",
          "preferredRepaymentDay": 1,
          "collectionStrategy": "STANDARD",
          "servicingNotes": "STANDARD",
          "requestContext": {
            "requestId": "ad1d1ecd-10d6-5b15-b96d-6423435b1388",
            "correlationId": "60bdc1e9-04a7-5797-bd39-7334f02ed3a3",
            "idempotencyKey": "704333b5-cd40-5559-9e0e-46ab8c860ef4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-479867"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotency-key-1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "Loan Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema outlines the contextual information associated with the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "This schema contains information about the channel used for the request."
      },
      "ReplaceLoanByLoanIdResponse_200": {
        "title": "Loan Operation Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The ID of the application source for the loan.",
            "example": "APP-919458"
          },
          "productId": {
            "type": "string",
            "description": "The ID of the loan product.",
            "example": "PROD-128109"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The ID of the primary customer associated with the loan.",
            "example": "CUST-400388"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who are borrowers on the loan.",
            "example": [
              "CUST-374120"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount of the loan including currency information.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The loan term in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan in percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment on the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the loan.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number to which loan repayments are made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch that services the loan.",
            "example": "CODE-514"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager assigned to the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan is taken.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "3e5ffc7e-1948-032f-2e71-0b29ddf8eefd"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Details about the loan balance, including principal and any outstanding fees.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan, including currency.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "Total amount repaid against the loan, including currency.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Metadata related to the loan operation response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Response schema for the loan operation indicating the details of a loan.",
        "example": {
          "sourceApplicationId": "APP-919458",
          "productId": "PROD-128109",
          "primaryCustomerId": "CUST-400388",
          "borrowerCustomerIds": [
            "CUST-374120"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-514",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "3e5ffc7e-1948-032f-2e71-0b29ddf8eefd",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "3ea904ad-20a3-595d-a4a4-fa8da5fb56f6",
            "correlationId": "60bdc1e9-04a7-5797-bd39-7334f02ed3a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is specified.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The principal amount of the loan.",
            "example": "10000"
          }
        },
        "description": "Details of the principal amount of the loan."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "Accrued interest on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "Outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties related to the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "The amount available to draw on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "Details about the balance of the loan."
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "10000"
          }
        },
        "description": "Details about a monetary amount associated with a loan."
      },
      "LoanMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The ID of the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the loan took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan"
        },
        "example": "banking-loans-openapi-replace-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). Clients must include the token in the Authorization header as 'Bearer <token>' to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}