{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Card Collections-v5-spec",
    "description": "The Card Collections Overview API provides access to the details of banking operational services related to card collections. This endpoint enables users to retrieve comprehensive information on card collections, helping financial institutions monitor and manage their card-related operations effectively. Typical consumers of this API include banking personnel and financial analysts who utilize this data for reporting and decision-making purposes. By leveraging this API, organizations can enhance their operational efficiency and improve customer service outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve card collections from operational services.",
        "description": "This endpoint allows you to fetch the list of card collections managed by operational services. Utilize this API to access relevant data for operational insights and reporting.",
        "operationId": "listBankingOperationalServicesCardCollections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving card collection operations. This body will provide the necessary parameters and information needed to fetch the relevant card collections.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesCardCollectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the card collections.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesCardCollectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesCardCollectionsRequest": {
        "type": "string",
        "description": "JSON representation of the request body for retrieving card collections.",
        "example": "{}"
      },
      "ListBankingOperationalServicesCardCollectionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of card collection details.",
            "example": [
              {
                "cardAccountId": "ACC-750943",
                "customerId": "CUST-271097",
                "daysPastDue": 1,
                "outstandingBalance": {
                  "amount": 100,
                  "currency": "USD"
                },
                "collectionStrategy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCollectionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET request to retrieve card collections, including a list of items, pagination information, and metadata.",
        "example": {
          "items": [
            {
              "cardAccountId": "ACC-750943",
              "customerId": "CUST-271097",
              "daysPastDue": 1,
              "outstandingBalance": {
                "amount": 100,
                "currency": "USD"
              },
              "collectionStrategy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "62acb9be-c6ed-5b88-b2a4-e814d9596776",
            "correlationId": "a77a5a0a-e69e-59ce-b3cf-57ca6467a594",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCollectionItem": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "Unique identifier for the card account."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the card account."
          },
          "daysPastDue": {
            "type": "integer",
            "description": "Number of days the payment is past due.",
            "format": "int32"
          },
          "outstandingBalance": {
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy used for the collection of the account."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Details of a single card collection item."
      },
      "OutstandingBalance": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of outstanding balance.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the outstanding balance amount."
          }
        },
        "description": "Details about the outstanding balance of a card collection."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request through various systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-search-card-collections"
        },
        "example": "card-collections-search-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. To access protected endpoints, include the token in the Authorization header as follows: 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}