{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Terminal Operation Status-spec",
    "description": "The Card Terminal Operation Status API allows consumers to retrieve the operational status of card terminals across various banking channels. This endpoint provides critical insights into the performance and availability of card terminals, enabling businesses to quickly identify any issues or outages. Typical consumers include bank operations teams and system administrators who need to monitor terminal functionality for better customer service. By leveraging this API, organizations can enhance their transaction processing reliability and improve overall user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-operation/status": {
      "get": {
        "tags": [
          "Card Terminal Operations"
        ],
        "summary": "Retrieve the status of a card terminal operation.",
        "description": "This endpoint allows you to fetch the current status of a card terminal operation associated with a specific channel. Use this operation to check if the operation is in progress, completed, or if there were any issues during processing.",
        "operationId": "listCardTerminalOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve the status of a specific card terminal operation within a given channel. The payload should conform to the expected schema for accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardTerminalOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the current status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardTerminalOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardTerminalOperationStatusRequest": {
        "type": "string",
        "description": "Represents the status of card terminal operations in the context of a specific channel.",
        "example": "{}"
      },
      "ListCardTerminalOperationStatusResponse_200": {
        "title": "Card Terminal Operation Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code of the region where the terminal is located.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Defines the operational time window for the terminal.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The total number of operations the terminal can handle in a day.",
            "format": "int32",
            "example": 1
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier of the merchant associated with the terminal.",
            "example": "MER-486955"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status indicating whether the terminal record is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal's configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the terminal status was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the terminal operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the card terminal operation status request.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "terminalId": "STANDARD",
          "merchantId": "MER-486955",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e6ea5f16-272a-5245-bdf8-934e4b47d1d7",
            "correlationId": "61b27736-c841-5c66-816c-6b061875f463",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time the service window opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The time the service window closes.",
            "example": "string"
          }
        },
        "description": "Schema defining the opening and closing times of a service window."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-operation-get-card-terminal-operation"
        },
        "example": "card-terminal-operation-get-card-terminal-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme utilizes JSON Web Tokens (JWT) as a bearer token, providing a secure way to transmit information between parties and ensuring that the requesting client is authenticated.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}