{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Subscriptions API",
    "description": "The Event Subscriptions API facilitates the management of event notifications within the open banking framework. It allows users to subscribe to critical financial events, ensuring they receive timely updates about account activities or other pertinent occurrences. Typical consumers include financial institutions and developers integrating banking services, aiming to enhance user engagement through real-time data. This API is essential for maintaining synchronization between banking applications and consumers' needs, fostering an interactive and responsive banking environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "get": {
        "tags": [
          "Event Management"
        ],
        "summary": "Retrieve a list of event subscriptions.",
        "description": "This endpoint allows you to fetch all the existing event subscriptions. You can use this to view, manage, or audit your event subscriptions set up within the system.",
        "operationId": "getEventSubscriptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving event subscriptions. It should conform to the specified JSON schema to ensure that all necessary parameters are included and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEventSubscriptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of event subscriptions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventSubscriptionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEventSubscriptionsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for fetching event subscriptions.",
        "example": "{}"
      },
      "GetEventSubscriptionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscription": {
                "type": "array",
                "description": "A list of event subscriptions.",
                "items": {
                  "$ref": "#/components/schemas/EventSubscription"
                }
              }
            },
            "description": "Contains the details of the event subscriptions.",
            "example": {
              "EventSubscription": [
                {
                  "id": "STANDARD",
                  "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                  "Version": "STANDARD",
                  "EventTypes": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current page of subscriptions."
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of subscriptions."
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of subscriptions."
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of subscriptions."
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of subscriptions."
              }
            },
            "description": "Links related to pagination of event subscriptions.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available.",
                "format": "int32"
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the first event subscription became available."
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the last event subscription became available."
              }
            },
            "description": "Meta information related to the event subscriptions response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate the request and response."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the data was processed."
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "b854d0f2-cb27-5e4c-84c8-3a8ec51bd174",
              "correlationId": "a794f144-f9c6-5ec7-8ae3-feed382c089d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving event subscriptions.",
        "example": {
          "Data": {
            "EventSubscription": [
              {
                "id": "STANDARD",
                "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                "Version": "STANDARD",
                "EventTypes": [
                  "STANDARD"
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "b854d0f2-cb27-5e4c-84c8-3a8ec51bd174",
            "correlationId": "a794f144-f9c6-5ec7-8ae3-feed382c089d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the event subscription."
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL that will receive event notifications."
          },
          "Version": {
            "type": "string",
            "description": "Version of the event subscription."
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types that this subscription is interested in.",
            "items": {
              "type": "string",
              "description": "An individual event type."
            }
          }
        },
        "description": "Schema representing an individual event subscription."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-get-event-subscriptions"
        },
        "example": "events-api-get-event-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. Tokens must be provided in the Authorization header as a Bearer token, formatted as a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}