{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Institution Institutions Routingnumber By Routingnumber Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Institution Institutions Routingnumber By Routingnumber Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/routingnumber/{routingnumberId}": {
      "get": {
        "operationId": "getInstitutionInstitutionsRoutingnumberByRoutingnumberId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/routingnumberId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetInstitutionInstitutionsRoutingnumberByRoutingnumberIdResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "paymentInitiation": true,
                "billPayData": true,
                "liabilityData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "transAgg": {
                  "type": "boolean",
                  "example": false
                },
                "ach": {
                  "type": "boolean",
                  "example": false
                },
                "stateAgg": {
                  "type": "boolean",
                  "example": false
                },
                "voi": {
                  "type": "boolean",
                  "example": false
                },
                "voa": {
                  "type": "boolean",
                  "example": false
                },
                "aha": {
                  "type": "boolean",
                  "example": false
                },
                "availBalance": {
                  "type": "boolean",
                  "example": false
                },
                "accountOwner": {
                  "type": "boolean",
                  "example": false
                },
                "studentLoanData": {
                  "type": "boolean",
                  "example": false
                },
                "loanPaymentDetails": {
                  "type": "boolean",
                  "example": false
                },
                "paymentInitiation": {
                  "type": "boolean",
                  "example": false
                },
                "billPayData": {
                  "type": "boolean",
                  "example": false
                },
                "liabilityData": {
                  "type": "boolean",
                  "example": false
                },
                "accountTypeDescription": {
                  "type": "string",
                  "example": "string"
                },
                "phone": {
                  "type": "string",
                  "example": "string"
                },
                "urlHomeApp": {
                  "type": "string",
                  "example": "string"
                },
                "urlLogonApp": {
                  "type": "string",
                  "example": "string"
                },
                "oauthEnabled": {
                  "type": "boolean",
                  "example": false
                },
                "urlForgotPassword": {
                  "type": "string",
                  "example": "string"
                },
                "urlOnlineRegistration": {
                  "type": "string",
                  "example": "string"
                },
                "class": {
                  "type": "string",
                  "example": "string"
                },
                "specialText": {
                  "type": "string",
                  "example": "string"
                },
                "timeZone": {
                  "type": "string",
                  "example": "string"
                },
                "specialInstructions": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "title": {
                  "type": "string",
                  "example": "string"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "city": {
                      "type": "string",
                      "example": "string"
                    },
                    "state": {
                      "type": "string",
                      "example": "string"
                    },
                    "country": {
                      "type": "string",
                      "example": "string"
                    },
                    "postalCode": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "1ef269fe-bd3e-543e-80b7-4df5aaf6be7f",
              "correlationId": "dd909a6c-fc82-527e-8831-ba0383d3b34a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "paymentInitiation": true,
              "billPayData": true,
              "liabilityData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "1ef269fe-bd3e-543e-80b7-4df5aaf6be7f",
            "correlationId": "dd909a6c-fc82-527e-8831-ba0383d3b34a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "routingnumberId": {
        "name": "routingnumberId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions-by-routing-number"
        },
        "example": "open-finance-api-get-institutions-by-routing-number"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}