{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Product Management By Param1-spec",
    "description": "The Product Training Retrieval API allows users to access detailed information regarding specific product training sessions based on a unique identifier. This endpoint provides insights into available training programs and resources for various products, assisting businesses in enhancing their employees' skills and product knowledge. Typical consumers include training managers and HR teams looking to streamline employee development within their organizations. By querying with the specified parameter, users can quickly find relevant training information to support their operational needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-training/{param1}": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product training details.",
        "description": "This endpoint allows you to fetch the specific training details for the product identified by its ID. Use this to access training materials, modules, and other resources associated with the product.",
        "operationId": "getProductManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch details for the specific product training identified by PROD-700045. It contains the necessary parameters to query and retrieve the relevant product management information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the product training data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the application/json request body for the GET operation related to product training.",
        "example": "{}"
      },
      "GetProductManagementByParam1Response_200": {
        "title": "Product Management Response Schema",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code assigned to the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers targeted for the product.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product\u2019s pricing is based.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the product becomes effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the product record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the product.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the product was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ProductMetadata"
          }
        },
        "description": "Schema representing the response for product management operations.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0a882f26-5a5a-5c42-8ce8-507eb517c945",
            "correlationId": "bdd30796-641e-526e-91e8-0ed892ed5535",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductMetadata": {
        "title": "Product Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "res123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "cor456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-09-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata for the product response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that represents the current request context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-training-get-product-training"
        },
        "example": "product-training-get-product-training"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, providing context for request origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) where a bearer token must be included in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}