{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cross Channel Contact Handler-spec",
    "description": "The Cross Channel Contact Management API enables businesses to efficiently create and manage cross-channel contact handlers to streamline customer interactions. This API allows users to define contact handlers that facilitate communication across multiple channels, ensuring a seamless experience for customers. Typical consumers include customer service teams and developers integrating multi-channel support into their applications. By leveraging this API, organizations can enhance customer engagement and operational efficiency, ensuring timely responses to inquiries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-handler": {
      "post": {
        "tags": [
          "Cross-Channel Communication"
        ],
        "summary": "Handles cross-channel contact requests.",
        "description": "This endpoint processes contact requests that span multiple channels, allowing seamless communication and interaction across different platforms. It is designed to improve user experience by integrating responses and data from various contact sources efficiently.",
        "operationId": "createCrossChannelContactHandler",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a contact handler operation across channels. It should include the necessary information for processing the contact request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelContactHandlerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelContactHandlerResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelContactHandlerRequest": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-419872"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-189858"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel through which the interaction is occurring.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for this operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for handling cross-channel contact operations.",
        "example": {
          "partyId": "PARTY-419872",
          "interactionId": "INT-189858",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "1af5c624-edac-52fa-ba4b-3f9d05cbb45c",
            "correlationId": "44d85023-af7c-5e52-8a13-6ddb363bc190",
            "idempotencyKey": "c7fabe16-00d3-547e-bf7f-ca8e4d21b6ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-155992"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "correlation012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "key345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "CustomerSupportApp"
          },
          "channel": {
            "description": "Details about the channel used in the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel567"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., email, phone, chat).",
            "example": "chat"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the interaction.",
            "example": "device890"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateCrossChannelContactHandlerResponse_201": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party involved in the interaction.",
            "example": "PARTY-638897"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the specific interaction.",
            "example": "INT-309654"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource associated with the interaction.",
            "example": "RES-645561"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success, failure, etc.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the cross-channel contact handler operation, indicating the result of a submitted request.",
        "example": {
          "partyId": "PARTY-638897",
          "interactionId": "INT-309654",
          "resourceId": "RES-645561",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "513cd64c-0cba-5c7f-9682-2efdbd1474e2",
            "correlationId": "44d85023-af7c-5e52-8a13-6ddb363bc190",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response received.",
            "example": "response8910"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate multiple requests and responses.",
            "example": "correlation1112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata related to the operation, providing context and additional identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-handler-create-contact-handler"
        },
        "example": "contact-handler-create-contact-handler"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer Token, typically in the form of a JSON Web Token (JWT). This token should be included in the Authorization header of requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}