{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Financial Compliance Status-spec",
    "description": "The Financial Compliance Status API allows users to access real-time information regarding the financial compliance status of various entities within the banking sector. This endpoint facilitates the retrieval of compliance status reports, enabling financial institutions, regulators, and auditors to ensure adherence to relevant regulations. Typical use cases include monitoring compliance updates, generating reports for audits, and verifying the status of financial compliance across different departments. This API serves as a crucial resource for stakeholders seeking to maintain regulatory standards and transparency in financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-compliance/status": {
      "get": {
        "tags": [
          "Financial Compliance"
        ],
        "summary": "Retrieve the status of financial compliance.",
        "description": "This endpoint allows you to retrieve the current status of financial compliance within the system. It provides insights into compliance metrics and guidelines that the organization must meet, ensuring accountability and regulatory adherence.",
        "operationId": "listFinancialComplianceStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the current status of financial compliance operations. It may include various parameters to customize the status query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFinancialComplianceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the compliance status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFinancialComplianceStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFinancialComplianceStatusRequest": {
        "type": "string",
        "description": "This schema represents the financial compliance status as a simple string value.",
        "example": "{}"
      },
      "ListFinancialComplianceStatusResponse_200": {
        "title": "Financial Compliance Status Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier of the ledger.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the financial records.",
            "example": "STANDARD"
          },
          "amount": {
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date when the posting was made.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the financial record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the financial record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the financial record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the financial compliance status of an operation.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "41348dd6-7580-5799-a79a-acbd02228125",
            "correlationId": "5662c6fd-d5a2-5d0d-b875-eefce18b098d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount in the financial context."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RID98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating requests and responses.",
            "example": "CID54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-04-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-compliance-get-financial-compliance"
        },
        "example": "financial-compliance-get-financial-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, allowing users to authenticate via a JSON Web Token (JWT). Clients must include the token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}