{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Branch Location Managements-spec",
    "description": "The Channel-Specific Branch Location Management API allows users to access detailed information regarding branch locations tailored to specific banking channels. This endpoint is designed for financial institutions seeking to manage and optimize their branch operations based on channel-specific strategies. Developers can use this API to retrieve location data that supports decision-making for resource allocation, customer engagement, and operational efficiency. Typical consumers include banking application developers and analysts focused on channel performance and branch distribution.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-management": {
      "get": {
        "tags": [
          "Branch Management"
        ],
        "summary": "Retrieve branch location details.",
        "description": "This endpoint allows you to retrieve detailed information about branch locations within a specific channel. It provides essential data that can be used for analysis, reporting, and decision-making related to branch management.",
        "operationId": "listChannelSpecificBranchLocationManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve branch location details specific to a channel. It may include filtering parameters to narrow down the search results based on specific criteria related to branch locations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificBranchLocationManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved branch location data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificBranchLocationManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificBranchLocationManagementsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the channel-specific branch location management operations using the GET method.",
        "example": "{}"
      },
      "ListChannelSpecificBranchLocationManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of branch location items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchLocation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order applied to the response, if any.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the branch location management API when fetching branch locations.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f117faed-2c18-5fae-9e77-f88dedca0d81",
            "correlationId": "34e4d17c-ec4e-58b3-a7fd-59a8f20c8fb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchLocation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel associated with the branch location."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of the branch."
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Maximum number of customers that can be served daily.",
            "format": "int32"
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch location."
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch (e.g., retail, distribution)."
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the branch location."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the branch record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the branch record."
          }
        },
        "description": "Details of a specific branch location."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the branch opens."
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the branch closes."
          }
        },
        "description": "Operating service hours for a branch location."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across multiple services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-management-search-branch-location-management"
        },
        "example": "branch-location-management-search-branch-location-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. Clients must include a JSON Web Token (JWT) in the Authorization header of their requests to access secured endpoints. The token must be valid and encoded following the JWT standards.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}