{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Facilities Property Portfolio By Property Portfolio Id-v5-spec",
    "description": "The Get Property Portfolio Details API allows users to access detailed information about a specific banking facilities property portfolio identified by its unique ID. This endpoint serves financial institutions and real estate professionals seeking to retrieve comprehensive data regarding property assets, including available facilities and associated metrics. Typical use cases include portfolio management, financial analysis, and reporting. By utilizing this API, clients can enhance their decision-making processes with precise and timely property information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/property-portfolio/{propertyPortfolioId}": {
      "get": {
        "tags": [
          "Property Management"
        ],
        "summary": "Retrieve facility details for the specified property portfolio.",
        "description": "This endpoint fetches details about the facilities associated with the specified property portfolio identified by RES-100045. It includes relevant information to help users understand the resources and amenities available within the property.",
        "operationId": "getBankingFacilitiesPropertyPortfolioByPropertyPortfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/propertyPortfolioId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about a specific property portfolio identified by RES-100045. It should contain the appropriate parameters to filter or specify the required data related to the property portfolio.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingFacilitiesPropertyPortfolioByPropertyPortfolioIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingFacilitiesPropertyPortfolioByPropertyPortfolioIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingFacilitiesPropertyPortfolioByPropertyPortfolioIdRequest": {
        "type": "string",
        "description": "Request body for the GET operation related to property portfolio under facilities.",
        "example": "{}"
      },
      "GetBankingFacilitiesPropertyPortfolioByPropertyPortfolioIdResponse_200": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset associated with the operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order linked to the operation.",
            "example": "ORD-628720"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the maintenance operation is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The designated zone of the facility where the operation is taking place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance being performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the maintenance operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the maintenance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response-998877"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation ID for tracking the request across systems.",
                "example": "correlation-112233"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the processing took place.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the operation response.",
            "example": {
              "responseId": "430d91ea-5e56-5017-80c5-0829ef8a47f5",
              "correlationId": "0981a6d5-1c47-5322-9787-c861a4240afd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for the Operation GET request regarding facility property portfolios.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-628720",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "430d91ea-5e56-5017-80c5-0829ef8a47f5",
            "correlationId": "0981a6d5-1c47-5322-9787-c861a4240afd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "propertyPortfolioId": {
        "name": "propertyPortfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed in the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "property-portfolio-get-property-portfolio"
        },
        "example": "property-portfolio-get-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. Clients must include a Bearer token in the Authorization header of requests. The token format is JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}