{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payment Consents Retrieval API",
    "description": "The International Payment Consents Retrieval API enables clients to access and manage payment consents for international transactions. This API is designed for businesses that require compliance with open banking regulations while facilitating cross-border payment processes. Users can retrieve consent details associated with a specific payment request using the unique consent identifier. Typical consumers include financial institutions, payment processors, and fintech applications looking to enhance their international payment capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payment-consents/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve specific international payment consent details.",
        "description": "This endpoint allows users to retrieve detailed information about a specific international payment consent using its unique identifier. It provides essential data needed to understand the consent's status and related attributes.",
        "operationId": "getInternationalPaymentConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific international payment consent identified by its unique resource identifier (RES-100045). It is essential for ensuring the correct data is fetched for the specified consent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalPaymentConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the requested international payment consent details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalPaymentConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalPaymentConsentByIdRequest": {
        "title": "International Payment Consent Request Body",
        "type": "string",
        "description": "This schema represents the request body for an international payment consent operation. The content is expected to be a string that corresponds to specific requirements.",
        "example": "{}"
      },
      "GetInternationalPaymentConsentByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp indicating when the consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "example": [
                  {
                    "code": "string",
                    "description": "string",
                    "Path": "string"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp indicating when the status was last updated.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Account information for refunds.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Deadline for processing the consent.",
                "example": "string"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected execution date and time for the payment.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for settlement.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "Details of any charges associated with the payment.",
                "example": [
                  {
                    "ChargeBearer": "string",
                    "Type": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/Initiation"
              }
            },
            "description": "Details of the international payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD",
                  "ContractIdentification": "STANDARD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the API response.",
            "example": {
              "responseId": "a88666cd-d04a-5a12-a32b-e4e21461593a",
              "correlationId": "7aa0c390-0479-5824-8bcc-41dd175d4041",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving international payment consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service"
              }
            }
          },
          "metadata": {
            "responseId": "a88666cd-d04a-5a12-a32b-e4e21461593a",
            "correlationId": "7aa0c390-0479-5824-8bcc-41dd175d4041",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the status reason.",
            "example": "string"
          }
        },
        "description": "Information regarding the reason for a given status."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount charged.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the amount is denominated.",
                "example": "string"
              }
            },
            "description": "Amount of the charge in specific currency."
          }
        },
        "description": "Details of charges associated with a payment."
      },
      "ExchangeRateInformation": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency used for the exchange rate.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate value.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate (e.g., fixed, flexible).",
            "example": "string"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification associated with the exchange rate contract.",
            "example": "string"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Timestamp when the exchange rate expires.",
            "example": "string"
          }
        },
        "description": "Information about the exchange rate used in the consent."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for tracking the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument to be used for the transaction.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the payment.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the destination of the funds.",
            "example": "string"
          },
          "InstructedAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The instructed amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the instructed amount is denominated.",
                "example": "string"
              }
            },
            "description": "Amount of money intended to be transferred."
          },
          "ExchangeRateInformation": {
            "type": "object",
            "properties": {
              "UnitCurrency": {
                "type": "string",
                "description": "Currency used for the exchange rate.",
                "example": "string"
              },
              "ExchangeRate": {
                "type": "number",
                "description": "The exchange rate value.",
                "example": 0.0
              },
              "RateType": {
                "type": "string",
                "description": "Type of exchange rate (e.g., fixed, flexible).",
                "example": "string"
              },
              "ContractIdentification": {
                "type": "string",
                "description": "Identifier associated with the exchange rate contract.",
                "example": "string"
              }
            },
            "description": "Exchange rate details applicable to the transaction."
          },
          "DebtorAccount": {
            "type": "object",
            "properties": {
              "SchemeName": {
                "type": "string",
                "description": "Name of the account scheme.",
                "example": "string"
              }
            },
            "description": "Account details for the debtor."
          }
        },
        "description": "Information regarding the initiation of a payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request. This value helps in tracking the specific endpoint used during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment-consent"
        },
        "example": "payment-initiation-openapi-get-international-payment-consent"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request, providing context about the environment in which the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism with JSON Web Tokens (JWT) to securely transmit information. Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}