{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Facilities Equipment Maintenance Operations Nce Create Equipment Maintenances-v5-spec",
    "description": "The Equipment Maintenance Operations Retrieval API enables users to fetch detailed information about specific equipment maintenance operations within banking facilities. This endpoint is designed for service managers and maintenance teams who need to track and review equipment maintenance activities. By accessing data related to equipment maintenance operations, users can ensure compliance with maintenance schedules and improve operational efficiency. Use cases include auditing past maintenance efforts and establishing a comprehensive operational history for equipment performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{equipmentMaintenanceId}/operations/nce-create-equipment-maintenance": {
      "get": {
        "tags": [
          "Equipment Maintenance"
        ],
        "summary": "Retrieve equipment maintenance operation details.",
        "description": "This operation retrieves the details of the equipment maintenance operation identified by RES-100045. It provides essential information necessary for managing and tracking equipment maintenance requests.",
        "operationId": "listBankingFacilitiesEquipmentMaintenanceOperationsNceCreateEquipmentMaintenances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/equipmentMaintenanceId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new equipment maintenance operation for the specified facility and equipment ID. The payload must conform to the defined schema and include all necessary parameters to properly execute the maintenance operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingFacilitiesEquipmentMaintenanceOperationsNceCreateEquipmentMaintenancesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Equipment maintenance operation successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingFacilitiesEquipmentMaintenanceOperationsNceCreateEquipmentMaintenancesResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingFacilitiesEquipmentMaintenanceOperationsNceCreateEquipmentMaintenancesRequest": {
        "type": "string",
        "description": "This schema represents the request body for creating equipment maintenance in the Operations section.",
        "example": "{}"
      },
      "ListBankingFacilitiesEquipmentMaintenanceOperationsNceCreateEquipmentMaintenancesResponse_201": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset being maintained.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order associated with the maintenance operation.",
            "example": "ORD-445695"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the maintenance operation.",
            "example": "RES-129421"
          },
          "status": {
            "type": "string",
            "description": "Current status of the maintenance operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the maintenance operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response generated.",
                "example": "response-abc"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracking the request across systems.",
                "example": "correlation-xyz"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "2023-10-10T10:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the maintenance operation took place.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata associated with the maintenance operation.",
            "example": {
              "responseId": "449ea4a9-2549-5d7f-9f05-d7aa5da1b6c3",
              "correlationId": "7b560f50-54e7-57e0-9f1e-67320bb8d211",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for creating equipment maintenance operations.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-445695",
          "vendorId": "STANDARD",
          "resourceId": "RES-129421",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "449ea4a9-2549-5d7f-9f05-d7aa5da1b6c3",
            "correlationId": "7b560f50-54e7-57e0-9f1e-67320bb8d211",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "equipmentMaintenanceId": {
        "name": "equipmentMaintenanceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-create-equipment-maintenance"
        },
        "example": "equipment-maintenance-create-equipment-maintenance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-099"
        },
        "example": "WF-099"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Property Facility and Equipment Maintenance"
        },
        "example": "Property Facility and Equipment Maintenance"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e11bb76a-fa8f-4798-9507-52d23d49b1b2"
        },
        "example": "e11bb76a-fa8f-4798-9507-52d23d49b1b2"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT). The client must include the token in the 'Authorization' header using the 'Bearer' scheme.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}