{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp International Payment-spec",
    "description": "The International Payment Processing API enables seamless execution of PISP (Payment Initiation Service Provider) international payments. It allows businesses to initiate cross-border payment transactions efficiently, ensuring compliance with various financial regulations. This API is essential for financial institutions and payment service providers looking to facilitate international transactions for their clients. Typical use cases include online merchants and banking apps that require integration of global payment capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Initiates an international payment via PISP.",
        "description": "This API endpoint allows users to initiate an international payment using the Payment Initiation Service Provider (PISP). Ensure that all required information is provided for a successful transaction.",
        "operationId": "createPispInternationalPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating international payments using the PISP API. This body must include all necessary transaction details in JSON format, following the specified schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispInternationalPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, and the international payment has been initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispInternationalPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispInternationalPaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/InternationalPaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of POST operations related to international payments.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "207f5a31-bdfd-59a3-81da-719997306acb",
            "correlationId": "0595e6e1-7912-552e-af0d-a8099e0db2d7",
            "idempotencyKey": "a954ad5d-4e42-5f77-904e-a015656307f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-439649"
            }
          }
        }
      },
      "InternationalPaymentData": {
        "title": "International Payment Data",
        "type": "object",
        "properties": {
          "InternationalPaymentId": {
            "type": "string",
            "description": "Unique identifier for the international payment.",
            "example": "IP123456"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent related to the payment.",
            "example": "Consent123"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the payment was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "Pending"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the payment status was last updated.",
            "example": "2023-01-01T12:30:00Z"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the payment.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "Expected date and time for the execution of the payment.",
            "example": "2023-01-02T12:00:00Z"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "Expected date and time for the settlement of the payment.",
            "example": "2023-01-03T12:00:00Z"
          },
          "Refund": {
            "$ref": "#/components/schemas/RefundDetails"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/PaymentCharge"
            }
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Details regarding the international payment."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "INST123456"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier used for end-to-end tracking of the payment.",
            "example": "E2E123"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the transaction.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "High"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "Payment for invoice #12345"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the payment.",
            "example": "Receiver"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "The currency in which the transfer is made.",
            "example": "EUR"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the destination of the payment.",
            "example": "DE"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount being sent in the payment.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the instructed amount.",
            "example": "EUR"
          }
        },
        "description": "Details regarding the amount being instructed in the payment."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Unit currency for the exchange rate.",
            "example": "USD"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The rate at which currency is exchanged.",
            "example": 1.25
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate.",
            "example": "Fixed"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Contract identifier related to the exchange rate.",
            "example": "Contract123"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the exchange rate expires.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Information regarding the exchange rate used for the payment."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identifier for the debtor's account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Information related to the debtor's account involved in the payment."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification related to the proxy used for the account.",
            "example": "string"
          }
        },
        "description": "Details of any proxy associated with the debtor\u2019s account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel from which the request is made."
      },
      "CreatePispInternationalPaymentResponse_201": {
        "title": "International Payment Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/InternationalPaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for an international payment operation.",
        "example": {
          "Data": {
            "InternationalPaymentId": "PAY-756283",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0
              }
            }
          },
          "metadata": {
            "responseId": "6e5797eb-f8f5-5172-b07c-6c663c6ddfb3",
            "correlationId": "0595e6e1-7912-552e-af0d-a8099e0db2d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "Insufficient funds."
          },
          "Path": {
            "type": "string",
            "description": "Path indicating where to find more information about the reason.",
            "example": "/reasons/INSUFFICIENT_FUNDS"
          }
        },
        "description": "Details regarding a reason for the payment status."
      },
      "RefundDetails": {
        "title": "Refund Details",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/RefundAccount"
          }
        },
        "description": "Information regarding the refund related to the payment."
      },
      "RefundAccount": {
        "title": "Refund Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the payment scheme.",
            "example": "Bank Transfer"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the account.",
            "example": "Account123"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any additional identifier for the account.",
            "example": "SecondaryID123"
          }
        },
        "description": "Details of the account associated with the refund."
      },
      "PaymentCharge": {
        "title": "Payment Charge",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "Sender"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Transaction Fee"
          },
          "Amount": {
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details of a charge associated with the payment."
      },
      "ChargeAmount": {
        "title": "Charge Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Numerical amount of the charge.",
            "example": "10.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the charge amount.",
            "example": "USD"
          }
        },
        "description": "Amount details of the charge."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "Response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request.",
            "example": "Correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the response of the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-international-payment"
        },
        "example": "payment-initiation-openapi-initiate-international-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication where the client must include a valid JSON Web Token (JWT) in the Authorization header of requests. Ensure that the token is obtained from a secure source and that it is valid for the requested resource.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}