{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Systems Administrations-spec",
    "description": "The IT Management Systems Administration Retrieval API provides easy access to information regarding various systems administration resources within the IT management domain. This endpoint allows consumers to retrieve a comprehensive list of current systems administration specifications, enhancing oversight and management capabilities. Typical users include IT managers and system administrators who require up-to-date data for informed decision-making and efficient operations. Utilize this API to streamline your IT management processes and stay aligned with organizational objectives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-administration": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve the list of systems administration resources",
        "description": "This endpoint allows users to fetch a comprehensive list of systems administration resources available within the IT management system. Use this API to access critical information for system management tasks.",
        "operationId": "listItManagementSystemsAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding systems administration operations in the IT management domain. It allows the client to specify any additional parameters or filters necessary to ensure a precise and relevant response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementSystemsAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the desired data has been returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementSystemsAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementSystemsAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to IT management systems administration. The body is expected to be a string.",
        "example": "{}"
      },
      "ListItManagementSystemsAdministrationsResponse_200": {
        "title": "Systems Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of system objects.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/System"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for the systems administration GET operation indicating the list of items and pagination information.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "76233afa-2576-5be7-b05d-ec4761249297",
            "correlationId": "9fc3684f-fe63-5c7a-87fb-31687da93e80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "System": {
        "title": "System Object",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system."
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates, e.g., production, staging."
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with the system."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system."
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned execution time for changes to the system."
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the system."
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system."
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The time period during which maintenance is scheduled."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the system record, e.g., active, inactive."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the system information was last updated."
          }
        },
        "description": "Describes a system with its attributes."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Contains pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-administration-search-systems-administration"
        },
        "example": "systems-administration-search-systems-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication to allow access to secured resources. It requires a valid JSON Web Token (JWT) to be provided in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}