{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Position Keeping API",
    "description": "The Position Keeping API provides a comprehensive overview of account positions for banking and financial management. This endpoint enables users to fetch the current statuses and details of various financial instruments associated with their accounts. Typical consumers include financial analysts and portfolio managers who require real-time insights for decision-making. Leveraging this API helps organizations maintain accurate records of their holdings, facilitating better asset management and compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-keeping": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve position keeping data",
        "description": "Fetches the current position keeping data for accounts, allowing users to monitor and manage their investments effectively.",
        "operationId": "getPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving position keeping information. This request is essential for obtaining the latest status and details of account positions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved position keeping data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPositionKeepingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPositionKeepingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in position keeping within account management.",
        "example": "{}"
      },
      "GetPositionKeepingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of account management items.",
            "example": [
              {
                "accountId": "ACC-480947",
                "customerId": "CUST-746109",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountManagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items returned.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving position keeping operations.",
        "example": {
          "items": [
            {
              "accountId": "ACC-480947",
              "customerId": "CUST-746109",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0551bddb-ba1e-563b-b8d4-ae8b2db4cba3",
            "correlationId": "2085ad9d-1482-5983-988e-49779eefd879",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountManagementItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the ledger balance.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "An individual account management item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-keeping-search-position-keeping"
        },
        "example": "position-keeping-search-position-keeping"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves a JSON Web Token (JWT) that clients must include in the Authorization header of their requests. This allows for secure API access and user authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}