{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Treasury Corporate Treasury-spec",
    "description": "The Corporate Treasury Specification API enables organizations to create and manage treasury specifications for their corporate finance operations. This endpoint supports the submission of detailed treasury specifications required for effective cash management and liquidity planning. Typical consumers include finance teams and corporate treasurers who rely on this API to streamline their treasury management processes. By leveraging this API, businesses can ensure compliance and optimize their treasury operations with greater efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury": {
      "post": {
        "tags": [
          "Corporate Treasury Management"
        ],
        "summary": "Create a new corporate treasury record.",
        "description": "This endpoint allows users to create a new corporate treasury record by providing the required details in the request body. Ensure all necessary fields are completed for successful record creation.",
        "operationId": "createTreasuryCorporateTreasury",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating corporate treasury operations. This body should include all necessary data pertaining to the treasury operations to be processed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTreasuryCorporateTreasuryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with unique identifier returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTreasuryCorporateTreasuryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTreasuryCorporateTreasuryRequest": {
        "title": "Corporate Treasury Operations Request Body",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio.",
            "example": "PORT-898870"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier of the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier of the counterparty involved in the transaction.",
            "example": "PARTY-729350"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the instrument in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for Corporate Treasury Operations POST requests.",
        "example": {
          "portfolioId": "PORT-898870",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-729350",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "6928dc30-3ae9-5c8d-8be5-2cb6943f9037",
            "correlationId": "821de735-7da2-59c5-b0a8-5b2ef0fed53c",
            "idempotencyKey": "0c0ca6aa-7344-5838-8e57-d1ab46927c7f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-555039"
            }
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric amount of the notional.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the notional amount (ISO 4217 format).",
            "example": "USD"
          }
        },
        "description": "Schema representing the notional amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-20231020-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate logs for this request.",
            "example": "corr-20231020-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-20T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that originated the request.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "AppXYZ"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing metadata related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device making the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing information about the communication channel used for the request."
      },
      "CreateTreasuryCorporateTreasuryResponse_201": {
        "title": "Corporate Treasury Operation Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-105351"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the operation.",
            "example": "PARTY-919900"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-210766"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for the Corporate Treasury Operations POST endpoint, including details about the portfolio, instrument, counterparty, and additional metadata.",
        "example": {
          "portfolioId": "PORT-105351",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-919900",
          "resourceId": "RES-210766",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e7a3276c-30e3-5d81-b644-fc504f9348e7",
            "correlationId": "821de735-7da2-59c5-b0a8-5b2ef0fed53c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple logs or processes related to this operation.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T10:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the operation, including response identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-create-corporate-treasury"
        },
        "example": "corporate-treasury-create-corporate-treasury"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing clients to pass a JSON Web Token (JWT) in the Authorization header for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}