{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Currency Conversion API",
    "description": "The Currency Conversion API provides accurate and real-time exchange rates for various currency pairs. Designed for financial services applications, this endpoint allows users to obtain the current exchange rate for a specified currency. It serves various consumers, including banks, fintech applications, and international businesses looking to manage or report financial transactions involving multiple currencies. By leveraging this API, developers can implement seamless currency exchange functionalities in their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/currency-exchange/{param1}": {
      "get": {
        "tags": [
          "Currency Exchange"
        ],
        "summary": "Retrieve currency exchange details by ID.",
        "description": "Fetches the detailed information about a specific currency exchange resource, identified by its unique ID, allowing users to understand the exchange data such as rates and conditions.",
        "operationId": "getCurrencyExchangeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows the user to retrieve currency exchange information for a specific service. Ensure that all required parameters are included in the body to receive accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurrencyExchangeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested currency exchange information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrencyExchangeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCurrencyExchangeByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the currency exchange consumer services.",
        "example": "{}"
      },
      "GetCurrencyExchangeByIdResponse_200": {
        "title": "Currency Exchange Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-344948"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request.",
            "example": "506d2aa9-0c25-50d7-b53a-c3ba2f0182d9"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product related to the exchange.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "2026-09-15"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "The currency from which the amount is being exchanged.",
            "example": "USD"
          },
          "targetCurrency": {
            "type": "string",
            "description": "The currency to which the amount is being exchanged.",
            "example": "USD"
          },
          "quotedRate": {
            "type": "integer",
            "description": "The quoted exchange rate for the transaction.",
            "format": "int32",
            "example": 100
          },
          "cashDenominations": {
            "type": "array",
            "description": "Array of cash denominations available in the transaction.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "A specific cash denomination.",
              "format": "int32",
              "example": 20
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., ACTIVE, INACTIVE).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing the details of a currency exchange operation.",
        "example": {
          "customerId": "CUST-344948",
          "serviceRequestId": "506d2aa9-0c25-50d7-b53a-c3ba2f0182d9",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "sourceCurrency": "USD",
          "targetCurrency": "USD",
          "quotedRate": 100,
          "cashDenominations": [
            1
          ],
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d7d252e2-4885-5964-b1b0-430136e532f1",
            "correlationId": "32810222-e618-59f1-abe0-4db71389ea9c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrencyAmount": {
        "title": "Currency Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the currency amount.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., 'USD', 'EUR').",
            "example": "USD"
          }
        },
        "description": "Contains details about the amount and currency involved in the exchange."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across multiple systems.",
            "example": "CORR789000"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-04T15:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-get-currency-exchange"
        },
        "example": "currency-exchange-get-currency-exchange"
      },
      "x-runtime-app": {
        "description": "The name of the application where the response originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using a bearer token, typically implemented with JSON Web Tokens (JWT) for secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}