{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Decisioning Consumer Portfolio By Portfolio Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Decisioning Consumer Portfolio By Portfolio Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}/portfolios/{portfolioId}": {
      "get": {
        "operationId": "getDecisioningConsumerPortfolioByPortfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDecisioningConsumerPortfolioByPortfolioIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDecisioningConsumerPortfolioByPortfolioIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDecisioningConsumerPortfolioByPortfolioIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetDecisioningConsumerPortfolioByPortfolioIdResponse_200": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "example": "PORT-383332"
          },
          "reports": {
            "type": "array",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-905087",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "portfolioId": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "createdDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                }
              },
              "example": "string"
            }
          },
          "consumer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "lastName": {
                "type": "string",
                "example": "string"
              },
              "customerId": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "ssn": {
                "type": "string",
                "example": "string"
              },
              "birthday": {
                "type": "object",
                "properties": {
                  "year": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  },
                  "month": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  },
                  "dayOfMonth": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  }
                },
                "example": "string"
              },
              "suffix": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "customerId": 1,
              "ssn": "STANDARD",
              "birthday": {
                "year": 1,
                "month": 1,
                "dayOfMonth": 1
              },
              "suffix": "STANDARD"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "598c5e48-1b4c-5769-9acc-29605b4dcf66",
              "correlationId": "519bfc4f-f863-5d1e-86c3-cd84818157ad",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "portfolioId": "PORT-383332",
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-905087",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "consumer": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "customerId": 1,
            "ssn": "STANDARD",
            "birthday": {
              "year": 1,
              "month": 1,
              "dayOfMonth": 1
            },
            "suffix": "STANDARD"
          },
          "metadata": {
            "responseId": "598c5e48-1b4c-5769-9acc-29605b4dcf66",
            "correlationId": "519bfc4f-f863-5d1e-86c3-cd84818157ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-consumer"
        },
        "example": "open-finance-api-get-portfolio-by-consumer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}