{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Request Management API",
    "description": "The Payment Request Management API facilitates the initiation of QR code-based payments. It allows businesses to efficiently process payment requests using parameters defined by the user. This API is designed for merchants and service providers who wish to offer seamless payment solutions to their customers. With this capability, transactions become faster and more convenient, enhancing the overall payment experience. Developers can integrate this API into mobile applications and web services to handle payments effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}/pay": {
      "post": {
        "tags": [
          "QR Payment Request"
        ],
        "summary": "Initiate a QR payment request.",
        "description": "This operation allows users to initiate a QR payment request for the specified payment ID. It processes the payment and generates a QR code that can be scanned for transaction completion.",
        "operationId": "createQrPaymentRequestPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a payment for the specified QR payment request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQrPaymentRequestPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQrPaymentRequestPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateQrPaymentRequestPay300045Request": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "description": "Details about the payment method being used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "amount": {
            "description": "The total amount for the payment, including currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "tipAmount": {
            "description": "Optional tip amount for the transaction, including currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "customer": {
            "description": "Details of the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "customerConsentId": {
            "type": "string",
            "description": "Unique identifier for the customer's consent.",
            "example": "STANDARD"
          },
          "deviceContext": {
            "description": "Information about the device used to initiate the payment.",
            "$ref": "#/components/schemas/DeviceContext"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to create a payment request using various payment methods and customer information.",
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-923",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-906825",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0
            }
          },
          "requestContext": {
            "requestId": "35b43539-6542-57f4-accd-042594f850f1",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "idempotencyKey": "652e7db0-9115-51a1-9bde-683b1c421268",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-160315"
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method (e.g., credit card, wallet)."
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method."
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code of the bank that issued the payment method."
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., last four digits)."
          },
          "walletProvider": {
            "type": "string",
            "description": "Name of the wallet provider if applicable."
          }
        },
        "description": "Details regarding the payment method."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)."
          },
          "value": {
            "type": "string",
            "description": "Value of the amount in the specified currency."
          }
        },
        "description": "Currency and value of a payment amount."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer."
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer."
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer."
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment category assigned to the customer."
          }
        },
        "description": "Information about the customer making the payment."
      },
      "DeviceContext": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device."
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the device."
          },
          "userAgent": {
            "type": "string",
            "description": "User agent string provided by the browser or application."
          },
          "geolocation": {
            "description": "Geolocation information of the device.",
            "$ref": "#/components/schemas/Geolocation"
          }
        },
        "description": "Information about the device used to make the payment."
      },
      "Geolocation": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Geographical latitude of the device."
          },
          "longitude": {
            "type": "number",
            "description": "Geographical longitude of the device."
          }
        },
        "description": "Geolocation coordinates for the device."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate messages across systems."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system originating the request."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the source application originating the request."
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the payment request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the channel is accessed."
          }
        },
        "description": "Details about the channel from which the request originated."
      },
      "CreateQrPaymentRequestPay300045Response_200": {
        "title": "QR Payment Request Response",
        "type": "object",
        "properties": {
          "qrPaymentRequest": {
            "description": "Details of the QR payment request.",
            "$ref": "#/components/schemas/QrPaymentRequest"
          },
          "payment": {
            "description": "Details of the associated payment.",
            "$ref": "#/components/schemas/Payment"
          },
          "metadata": {
            "description": "Metadata related to the QR payment request response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for QR payment requests, containing details about the payment request and associated metadata.",
        "example": {
          "qrPaymentRequest": {
            "id": "STANDARD",
            "merchantId": "MER-369866",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "mode": "STANDARD",
            "standard": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "merchantOrderId": "ORD-146454",
            "description": "Customer banking request processed successfully",
            "tipOptions": {
              "mode": "STANDARD",
              "fixedAmounts": [
                {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              ],
              "percentages": [
                "STANDARD"
              ],
              "maximumTip": {
                "currency": "USD",
                "value": "STANDARD"
              }
            },
            "qrPayload": "STANDARD",
            "qrImageUrl": "https://example.com/resource",
            "status": "ACTIVE",
            "singleUse": true,
            "paidAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "paymentId": "PAY-465612",
            "expiresAt": "2026-08-11T12:00:00Z",
            "audit": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "7f183355-0786-5c97-b18d-18a6b940eff9",
            "merchantId": "MER-385026",
            "outletId": "STANDARD",
            "terminalId": "STANDARD"
          },
          "metadata": {
            "responseId": "db003854-8d46-5ffe-b3d2-c788dce23e22",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "QrPaymentRequest": {
        "title": "QR Payment Request",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the QR payment request."
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant."
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet."
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal."
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment request (e.g., live, test)."
          },
          "standard": {
            "type": "string",
            "description": "Payment standard used for the request."
          },
          "amount": {
            "description": "The amount associated with the payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order identifier from the merchant."
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request."
          },
          "tipOptions": {
            "description": "Options for tips that can be added to the payment.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload for the QR code."
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL to the QR code image."
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request."
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the QR payment request is a single-use request."
          },
          "paidAmount": {
            "description": "Amount that has been paid.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment."
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the QR payment request expires."
          },
          "audit": {
            "description": "Audit information for the payment request.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Details of a QR payment request including payment amount, merchant information, and status."
      },
      "Payment": {
        "title": "Payment",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment."
          },
          "intentId": {
            "type": "string",
            "description": "Identifier for the payment intent."
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the associated QR payment request."
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant."
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet."
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal."
          }
        },
        "description": "Information about the payment related to a QR payment request."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the payment process."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is being processed."
          }
        },
        "description": "Metadata associated with the QR payment request response."
      },
      "TipOptions": {
        "title": "Tip Options",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode of tip options (e.g., fixed or percentage)."
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed tip amounts that can be added.",
            "items": {
              "$ref": "#/components/schemas/TipAmount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage values for tips.",
            "items": {
              "type": "string",
              "description": "Percentage tip values."
            }
          },
          "maximumTip": {
            "description": "Maximum tip amount allowed.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options for tips related to the payment request."
      },
      "TipAmount": {
        "title": "Tip Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the tip amount."
          },
          "value": {
            "type": "string",
            "description": "Tip amount value in the specified currency."
          }
        },
        "description": "Represents a specific amount for tips, including currency and value."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the payment request."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the payment request."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment request.",
            "format": "int32"
          }
        },
        "description": "Audit details for tracking the payment request lifecycle."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ec8b60c0-3d12-4d8b-9e1c-2c9efa1daadb"
        },
        "example": "ec8b60c0-3d12-4d8b-9e1c-2c9efa1daadb"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b6238990-1819-421a-af4b-28311e016d51"
        },
        "example": "b6238990-1819-421a-af4b-28311e016d51"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-execute-qr-payment"
        },
        "example": "banking-p2m-openapi-execute-qr-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card-not-present eCommerce Payment"
        },
        "example": "Card-not-present eCommerce Payment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b6238990-1819-421a-af4b-28311e016d51"
        },
        "example": "b6238990-1819-421a-af4b-28311e016d51"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, where the token is a JSON Web Token (JWT). Clients must include the JWT in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}