{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Cross Channel By Param1-spec",
    "description": "The Cross Channel Contact Routing API facilitates the retrieval of contact routing information based on specific parameters. It allows users to access cross-channel communication routes, thereby optimizing customer interactions across various platforms. This API is particularly useful for customer service applications, where businesses aim to streamline contact routing for enhanced user experience. Typical consumers include customer support teams and marketing departments seeking to improve engagement with clients through efficient routing strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing/{param1}": {
      "get": {
        "tags": [
          "Contact Routing"
        ],
        "summary": "Retrieve contact routing details by resource ID.",
        "description": "This endpoint fetches the contact routing information associated with a specific resource ID. It allows users to access important contact routing data necessary for cross-channel communications, ensuring efficient management and directing of messages.",
        "operationId": "getCrossChannelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body expects a JSON payload that conforms to the specified schema for the GET operation of the contact routing API. It should contain all required fields to successfully perform the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelByParam1Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation in the contact routing service.",
        "example": "{}"
      },
      "GetCrossChannelByParam1Response_200": {
        "title": "Contact Routing Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-208743"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "INT-806024"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction took place.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for the interaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the contact routing operation, containing details about the party and interaction.",
        "example": {
          "partyId": "PARTY-208743",
          "interactionId": "INT-806024",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "85c1cbd6-9019-5676-ae30-a78a32f2abb4",
            "correlationId": "7302f379-d8e1-5775-9785-5cdf38a77985",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata pertaining to the response, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-get-contact-routing"
        },
        "example": "contact-routing-get-contact-routing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with a JSON Web Token (JWT). Clients must include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}