{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Connect Components Configuration By Configuration Id-v5-spec",
    "description": "The Fetch Connect Components Configuration API allows users to retrieve detailed configuration information for specific connect components using their unique configuration ID. This endpoint is essential for developers and system integrators looking to access and manage component settings effectively. Typical consumers include application developers and system administrators who require insight into configuration parameters for integration or troubleshooting purposes. Utilize this API to ensure your applications have the necessary configuration data for optimal performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations/{configurationId}": {
      "get": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Retrieve configuration details by ID.",
        "description": "This endpoint allows you to fetch the details of a specific configuration using its unique identifier. This is useful for obtaining configuration settings or properties associated with a configuration resource.",
        "operationId": "getConnectComponentsConfigurationByConfigurationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/configurationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving configuration details for the specified resource ID RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConnectComponentsConfigurationByConfigurationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the configuration details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectComponentsConfigurationByConfigurationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConnectComponentsConfigurationByConfigurationIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation under the specified configurations.",
        "example": "{}"
      },
      "GetConnectComponentsConfigurationByConfigurationIdResponse_200": {
        "title": "Get Operations Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the operations response.",
            "example": "b79a9c0b-9bd8-ad4d-fb21-baeba147cfe5"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of account identifiers to filter by.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An account identifier.",
              "example": "string"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "Types of account classification.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An account classification type.",
              "example": "string"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates if account owner information is required.",
            "example": true
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to track the request across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "943d4e7a-a3b6-583f-b206-c609adc68185",
              "correlationId": "e89b574d-e73e-5bf8-9fc9-245e15fa1c56",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the GET Operations request.",
        "example": {
          "id": "b79a9c0b-9bd8-ad4d-fb21-baeba147cfe5",
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "metadata": {
            "responseId": "943d4e7a-a3b6-583f-b206-c609adc68185",
            "correlationId": "e89b574d-e73e-5bf8-9fc9-245e15fa1c56",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "configurationId": {
        "name": "configurationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-configurations-configuration-id"
        },
        "example": "open-finance-api-get-configurations-configuration-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens. This scheme is based on the OAuth 2.0 authorization framework, which uses JSON Web Tokens (JWT) for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}