{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Collateral Administration Party Asset Directory By Party Asset Directory Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace Banking Collateral Administration Party Asset Directory By Party Asset Directory Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{partyAssetDirectoryId}": {
      "put": {
        "operationId": "replaceBankingCollateralAdministrationPartyAssetDirectoryByPartyAssetDirectoryId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/partyAssetDirectoryId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingCollateralAdministrationPartyAssetDirectoryByPartyAssetDirectoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingCollateralAdministrationPartyAssetDirectoryByPartyAssetDirectoryIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingCollateralAdministrationPartyAssetDirectoryByPartyAssetDirectoryIdRequest": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "example": "PARTY-502792"
          },
          "assetType": {
            "type": "string",
            "example": "STANDARD"
          },
          "marketValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "valuationDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "7adcfa2a-8609-56c4-af15-523e0ce7a6ca",
              "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
              "idempotencyKey": "7510b8bc-917a-5f46-adf4-08208929f4f7",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-595991"
              }
            }
          }
        },
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-502792",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "7adcfa2a-8609-56c4-af15-523e0ce7a6ca",
            "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
            "idempotencyKey": "7510b8bc-917a-5f46-adf4-08208929f4f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-595991"
            }
          }
        }
      },
      "ReplaceBankingCollateralAdministrationPartyAssetDirectoryByPartyAssetDirectoryIdResponse_200": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "example": "PARTY-261983"
          },
          "securedExposureId": {
            "type": "string",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "1776c8ba-22fe-5024-a1fa-0290c125177c",
              "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-261983",
          "securedExposureId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1776c8ba-22fe-5024-a1fa-0290c125177c",
            "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "partyAssetDirectoryId": {
        "name": "partyAssetDirectoryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-upsert-party-asset-directory-record"
        },
        "example": "party-asset-directory-upsert-party-asset-directory-record"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}