{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Enterprise Services Fixed Asset Registers-v5-spec",
    "description": "The Retrieve Fixed Asset Registers API provides access to detailed information regarding fixed asset registers managed by an enterprise banking service. This endpoint enables users to fetch a list of fixed assets, which are critical for financial reporting and asset management. Typical consumers include accountants, financial analysts, and operational managers seeking comprehensive insights into asset inventories. By using this API, organizations can efficiently oversee and evaluate their fixed asset portfolios, facilitating better asset tracking and management decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register": {
      "get": {
        "tags": [
          "Enterprise Asset Management"
        ],
        "summary": "Retrieve Fixed Asset Register",
        "description": "Fetches the complete list of fixed assets recorded in the enterprise's asset register, allowing users to view and manage their fixed assets effectively.",
        "operationId": "listBankingEnterpriseServicesFixedAssetRegisters",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to query the Fixed Asset Register for enterprise services. It enables clients to specify the parameters for retrieval, such as specific asset IDs or filter criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingEnterpriseServicesFixedAssetRegistersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fixed asset register.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingEnterpriseServicesFixedAssetRegistersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingEnterpriseServicesFixedAssetRegistersRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the fixed asset register service.",
        "example": "{}"
      },
      "ListBankingEnterpriseServicesFixedAssetRegistersResponse_200": {
        "title": "Fixed Asset Register Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of fixed asset objects.",
            "example": [
              {
                "assetId": "STANDARD",
                "assetClass": "STANDARD",
                "acquisitionDate": "2026-09-15",
                "acquisitionCost": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "usefulLifeMonths": 1,
                "costCenter": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of assets.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object representing the result of a GET request for the fixed asset register, including a list of assets, pagination information, sorting criteria, and metadata.",
        "example": {
          "items": [
            {
              "assetId": "STANDARD",
              "assetClass": "STANDARD",
              "acquisitionDate": "2026-09-15",
              "acquisitionCost": {
                "amount": 100.0,
                "currency": "USD"
              },
              "usefulLifeMonths": 1,
              "costCenter": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a65cbf33-78d1-5362-9692-329bcd2f19f5",
            "correlationId": "46d23d5c-e9ac-5c6d-8872-e454d0de59ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Asset": {
        "title": "Asset",
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset."
          },
          "assetClass": {
            "type": "string",
            "description": "The class or category of the asset."
          },
          "acquisitionDate": {
            "type": "string",
            "description": "The date when the asset was acquired."
          },
          "acquisitionCost": {
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "Estimated useful life of the asset in months.",
            "format": "int32"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the asset."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the asset record."
          }
        },
        "description": "Represents a fixed asset with relevant details."
      },
      "AcquisitionCost": {
        "title": "Acquisition Cost",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary value of the acquisition cost."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the acquisition cost is represented."
          }
        },
        "description": "Details regarding the acquisition cost of an asset."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items displayed on each page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about the pagination of the asset list."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint associated with the request, allowing tracking and management of API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-search-fixed-asset-register"
        },
        "example": "fixed-asset-register-search-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "Specifies the name of the application that processed the request, useful for diagnostics and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A JSON Web Token (JWT) must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}