{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking It Management It Systems Direction By It Systems Direction Id-v5-spec",
    "description": "This API allows users to retrieve detailed information regarding specific IT systems directions within banking IT management. By providing a unique IT systems direction ID, consumers can access data about the strategic direction of IT systems, essential for decision-making processes. Typical users include IT managers and system analysts who require insights into the management of banking IT infrastructures. The API facilitates understanding and tracking of IT system alignments with business goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction/{itSystemsDirectionId}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT Systems Direction by ID.",
        "description": "This endpoint allows you to fetch the details of a specific IT Systems Direction resource identified by its unique ID. It is useful for obtaining comprehensive information about the IT direction associated with the specified resource.",
        "operationId": "getBankingItManagementItSystemsDirectionByItSystemsDirectionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/itSystemsDirectionId"
          }
        ],
        "requestBody": {
          "description": "Request body for the GET operation on IT systems direction, specifically for the resource identified by RES-100045. It allows the client to specify necessary parameters to customize the request and retrieve specific information associated with this resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingItManagementItSystemsDirectionByItSystemsDirectionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingItManagementItSystemsDirectionByItSystemsDirectionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingItManagementItSystemsDirectionByItSystemsDirectionIdRequest": {
        "type": "string",
        "description": "This schema represents a request body in JSON format for the Operations GET request related to IT systems management.",
        "example": "{}"
      },
      "GetBankingItManagementItSystemsDirectionByItSystemsDirectionIdResponse_200": {
        "title": "Response Schema for IT Systems Operations",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "Banking operation completed"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the policy becomes effective.",
            "example": "2026-09-15"
          },
          "reviewDate": {
            "type": "string",
            "description": "The date when the policy is due for review.",
            "example": "2026-09-15"
          },
          "applicability": {
            "type": "array",
            "description": "A list of entities to which the policy applies.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An entity to which the policy is applicable.",
              "example": "string"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the policy record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the policy.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the policy was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracing the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the response was processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata concerning the policy.",
            "example": {
              "responseId": "86c627f7-02dd-510b-8cc1-a06016bc75ed",
              "correlationId": "83727e41-a703-5ced-badc-884945071077",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema defines the structure of the response returned for IT Systems Operations.",
        "example": {
          "policyId": "STANDARD",
          "title": "Banking operation completed",
          "ownerTeam": "STANDARD",
          "effectiveDate": "2026-09-15",
          "reviewDate": "2026-09-15",
          "applicability": [
            "STANDARD"
          ],
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "86c627f7-02dd-510b-8cc1-a06016bc75ed",
            "correlationId": "83727e41-a703-5ced-badc-884945071077",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "itSystemsDirectionId": {
        "name": "itSystemsDirectionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, allowing tracking and logging of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-get-it-systems-direction"
        },
        "example": "it-systems-direction-get-it-systems-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime context that processed the request, providing clarity on the environment in which the request was handled.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must send a Bearer token as part of the authorization header. The token should be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}