{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer By Portfolio Id-spec",
    "description": "The Customer Portfolio Retrieval API allows businesses to access detailed portfolio information for specific customers using their unique identifiers. This endpoint is essential for financial institutions and service providers seeking to manage customer portfolios effectively. By retrieving relevant customer data and portfolio specifics, stakeholders can gain insights necessary for decision-making and personalized service offerings. Typical consumers of this API include customer support teams, data analysts, and application developers who need to integrate this information into their systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Customer Portfolios"
        ],
        "summary": "Retrieve a specific portfolio of a customer.",
        "description": "This endpoint allows you to fetch detailed information about a specific portfolio associated with a customer, identified by unique customer and portfolio IDs.",
        "operationId": "getCustomerByPortfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve the portfolio details for the specified customer by their unique identifier. This request needs to contain the appropriate parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerByPortfolioIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested portfolio details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerByPortfolioIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerByPortfolioIdRequest": {
        "title": "Customer Portfolios Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for operations related to customer portfolios.",
        "example": "{}"
      },
      "GetCustomerByPortfolioIdResponse_200": {
        "title": "Portfolio Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-248691"
          },
          "reports": {
            "type": "array",
            "description": "List of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-151977",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving a portfolio along with associated reports and metadata.",
        "example": {
          "portfolioId": "PORT-248691",
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-151977",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "metadata": {
            "responseId": "e321358e-88e5-5b65-864d-8c18ccb39bac",
            "correlationId": "e538e625-ba80-5624-b2c6-e78559d7f951",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "title": "Report",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier of the portfolio to which the report belongs.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the report.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the report was created.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing an individual report."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-customer"
        },
        "example": "open-finance-api-get-portfolio-by-customer"
      },
      "X-Runtime-App": {
        "description": "The name of the application generating the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for HTTP requests. This token is typically a JSON Web Token (JWT) that is issued by an authorization server and must be included in the Authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}