{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Submission Amendment-spec",
    "description": "The Submission Amendment Management API facilitates the process of amending existing trade submissions within the banking market operations. This API enables users to submit requests for modifications to prior submissions based on evolving trade conditions or compliance requirements. Users such as financial analysts and reporting teams leverage this API to ensure that trade records are accurate and up-to-date. It supports operations on specific submission IDs, allowing for precise management of trade reporting obligations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "Trade Submission"
        ],
        "summary": "Create an amendment for a trade submission.",
        "description": "This endpoint allows users to create an amendment for a specific trade submission identified by its unique ID. Amendments can include changes to trade terms, conditions, or related metadata. Ensure all required fields are accurately provided to process the amendment successfully.",
        "operationId": "createSubmissionAmendment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments for the trade reporting submission identified by RES-100045. It must include all required fields as defined in the schema and adhere to the specified structure to ensure correct processing of the amendment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubmissionAmendmentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the operation is not yet complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubmissionAmendmentResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSubmissionAmendmentRequest": {
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment being requested.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "A reference identifier for the submission.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "Details of the changes being requested in the amendment.",
            "$ref": "#/components/schemas/AmendmentChanges"
          },
          "requestedBy": {
            "type": "string",
            "description": "The user or system requesting the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for amending submissions in trade reporting operations.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "tradeId": "STANDARD",
            "instrumentId": "STANDARD",
            "settlementDate": "2026-09-15"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3ea6457b-cf88-5e9b-8288-96b1d2a51ace",
            "correlationId": "2f8a7f4c-6161-5ba7-9189-5447e317217c",
            "idempotencyKey": "909b04a1-50f8-5994-a189-46f9e6730ab3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-351298"
            }
          }
        }
      },
      "AmendmentChanges": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Identifier for the trade that is being amended.",
            "example": "TRADE-001"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument related to the trade.",
            "example": "INSTR-456"
          },
          "settlementDate": {
            "type": "string",
            "description": "New requested settlement date for the trade.",
            "example": "2023-10-15"
          }
        },
        "description": "Schema for the changes being made in the amendment request."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "CORR-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotence of the request.",
            "example": "IDEMP-111"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Trade Execution System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "TradeApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Detailed context of the request including identifiers and timestamps."
      },
      "ChannelInformation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the request.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., API, UI, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema that defines the channel details for the request context."
      },
      "CreateSubmissionAmendmentResponse_202": {
        "title": "Trade Reporting Submission Amendment Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submitted amendment.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the amendment was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the amendment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response received after submitting an amendment for trade reporting operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "5f49c98b-cece-53b4-85a6-97cc3d78a3d1",
            "correlationId": "2f8a7f4c-6161-5ba7-9189-5447e317217c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to associate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the amendment took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the trade reporting submission amendment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "submissionId": {
        "name": "submissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-and-price-reporting-amend-trade-and-price-reporting"
        },
        "example": "trade-and-price-reporting-amend-trade-and-price-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme employing a Bearer Token using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}