{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Trading Model API",
    "description": "This API enables users to modify existing trading models within the wholesale banking sector. It facilitates the adjustment of parameters related to trading strategies and enhances operational efficiencies. Finance professionals and developers can utilize this endpoint to ensure that trading models remain aligned with current market conditions and business objectives. Key use cases include optimizing risk management models and adjusting allocation strategies to maximize returns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-models/{param1}": {
      "patch": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Update Trading Model",
        "description": "Updates the details of the specified trading model, allowing for the modification of various attributes to better suit trading needs.",
        "operationId": "patchWholesaleTradingTradingModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the trading model identified by RES-100045. Please ensure that the payload adheres to the specified schema to successfully carry out the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchWholesaleTradingTradingModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the trading model.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchWholesaleTradingTradingModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchWholesaleTradingTradingModelRes100045Request": {
        "title": "PATCH Operation Request Body for Trading Models",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a PATCH operation on trading models, capturing the necessary changes and context for the operation.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "923815ca-da68-5a3d-946d-965a318e735f",
            "correlationId": "e9f6ddeb-cf58-5200-9c8d-dd4b5bc06ea6",
            "idempotencyKey": "e8161b48-51a5-5670-aec0-b1ad5b65f8b8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-466074"
            }
          }
        }
      },
      "ChangeDetails": {
        "title": "Change Details for Trading Models",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "tradingBook-67890"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument being modified.",
            "example": "instrument-abc123"
          },
          "side": {
            "type": "string",
            "description": "Direction of the trade (e.g., 'buy' or 'sell').",
            "example": "buy"
          }
        },
        "description": "Schema defining the specific changes being made to the trading models."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests across systems.",
            "example": "correlation-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotency-key-unique"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from where the request originated.",
            "example": "tradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "tradingApp"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema providing metadata about the request including identifiers and timestamps."
      },
      "ChannelDetails": {
        "title": "Channel Details for Request Context",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-111"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema detailing the channel from which the request was made, including device information."
      },
      "PatchWholesaleTradingTradingModelRes100045Response_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the operation performed.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "The metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response format for the PATCH operation in the wholesale trading model.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "64044b4d-2a07-51e3-9afc-40ff4962e531",
            "correlationId": "e9f6ddeb-cf58-5200-9c8d-dd4b5bc06ea6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-12T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "This schema represents metadata for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking the specific service that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-models-update-trading-models"
        },
        "example": "trading-models-update-trading-models"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that executed the request. This is useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme utilizes a Bearer token, specifically in JSON Web Token (JWT) format, to securely authorize API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}