{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Quantitative Model Data Retrieval API",
    "description": "The Quantitative Model Data Retrieval API allows users to access and retrieve comprehensive market data related to quantitative models used in banking. This API serves financial analysts and developers focused on integrating sophisticated analytics into their applications. Users can obtain critical insights that drive investment strategies, risk assessments, and decision-making processes. By leveraging this API, organizations can enhance their financial modeling capabilities and obtain timely market analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve quantitative model data.",
        "description": "This endpoint allows users to access the latest quantitative model data available in the market. Utilize this endpoint to fetch detailed insights and parameters of various quant models used for market analysis.",
        "operationId": "getQuantModelMarketData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve market data using the quantitative model. The request body must adhere to the provided schema and include the necessary parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuantModelMarketDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuantModelMarketDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetQuantModelMarketDataRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the market data quant model.",
        "example": "{}"
      },
      "GetQuantModelMarketDataResponse_200": {
        "title": "Market Data Quant Model Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-374",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the market data quant model GET operation, containing a list of items, pagination details, sort order, and metadata.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-374",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f55eab25-9d11-5af7-97a9-735a0b504c55",
            "correlationId": "08178471-6bf0-544a-acca-afdf263cbd23",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "title": "Market Data Item",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number of the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code identifying the market for the instrument.",
            "example": "string"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time the data is relevant as of.",
            "example": "string"
          },
          "dataSource": {
            "type": "string",
            "description": "The source of the market data.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to this record.",
            "example": "string"
          }
        },
        "description": "Represents a single market data item containing various identifiers and statuses."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about the pagination of the items in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-search-quant-model"
        },
        "example": "quant-model-search-quant-model"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method in the HTTP header. Users must provide a JSON Web Token (JWT) to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}