{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Terminal Id-spec",
    "description": "The Terminal ID Update API allows users to modify the existing P2M configurations associated with a specified terminal ID. This endpoint is essential for businesses seeking to manage and update terminal-related settings efficiently. It is typically utilized by system administrators or developers to ensure that terminal configurations remain accurate and up to date. Utilizing this API helps organizations adapt quickly to changes in terminal operations and improves overall system management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals/{terminalId}": {
      "put": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Update Terminal",
        "description": "This operation allows you to update the details of a specific terminal identified by the unique resource ID 'RES-100045'. Make sure to provide the necessary information in the request body to successfully update the terminal.",
        "operationId": "replaceP2mByTerminalId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/terminalId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the terminal with ID RES-100045. The payload must conform to the specified schema and include all required fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByTerminalIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was completed successfully, and the resource is now up-to-date.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByTerminalIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByTerminalIdRequest": {
        "title": "Terminal Update Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-549929"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal.",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the terminal device.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Fingerprint used for identifying the device securely.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific capability of the terminal.",
              "example": "string"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating terminal information.",
        "example": {
          "merchantId": "MER-549929",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "d7ebfd31-179d-53b0-af18-afd483d7f1dc",
            "correlationId": "6bdaa83e-09e3-5f59-bd32-f0a071cbab9a",
            "idempotencyKey": "499a58c8-c585-5b38-a850-9dd36a565696",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-103120"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the source channel of the request."
      },
      "ReplaceP2mByTerminalIdResponse_200": {
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the terminal.",
            "example": "MER-443058"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the terminal is located.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of terminal (e.g., POS, Kiosk).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the terminal.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Unique device fingerprint for identification.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Capability supported by the terminal.",
              "example": "payment_processing"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the terminal (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of the last time the terminal was seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the terminal.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the terminal response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the terminal operations PUT request.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-443058",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "9fc1f9c0-c4ae-55d4-bd8c-e8c379b0f108",
            "correlationId": "6bdaa83e-09e3-5f59-bd32-f0a071cbab9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the terminal.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the terminal.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the terminal.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details regarding the terminal's creation and modification."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace requests.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata details related to the terminal response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "terminalId": {
        "name": "terminalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-terminal"
        },
        "example": "banking-p2m-openapi-replace-terminal"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication to provide access control via JSON Web Tokens (JWT). Clients must include a Bearer token in the Authorization header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}