{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp Domestic Standing Order-spec",
    "description": "The Domestic Standing Order Management API facilitates the creation of domestic standing orders, allowing users to automate regular payments efficiently. This endpoint is particularly useful for financial institutions and payment service providers looking to offer seamless transaction management to their customers. Through this API, developers can implement features that enable customers to set up recurring payments with ease, ensuring timely transfers as per user-defined schedules. Typical use cases include subscription payments, loan repayments, and utility bill payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a new domestic standing order.",
        "description": "This endpoint allows you to create a new domestic standing order. A standing order is a regular, automated payment made from a bank account to another bank account, usually for recurring payments such as rent or subscriptions.",
        "operationId": "createPispDomesticStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a domestic standing order. This includes all necessary details required to process the standing order request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispDomesticStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The standing order has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispDomesticStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispDomesticStandingOrderRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Details of the standing order.",
            "$ref": "#/components/schemas/StandingOrderData"
          },
          "requestContext": {
            "description": "Context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for domestic standing orders operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "requestContext": {
            "requestId": "99d9021e-f3c4-514b-b3cf-72df0c60bdd8",
            "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
            "idempotencyKey": "3b93a4be-c439-59d3-8932-a3613abedd0b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-655415"
            }
          }
        }
      },
      "StandingOrderData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The identifier for the consent.",
            "example": "string"
          },
          "Initiation": {
            "description": "Initiation details of the standing order.",
            "$ref": "#/components/schemas/StandingOrderInitiation"
          }
        },
        "description": "Schema containing data related to the standing order."
      },
      "StandingOrderInitiation": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "description": "Information pertaining to remittance details.",
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments for the standing order.",
            "example": "string"
          },
          "FirstPaymentAmount": {
            "description": "Amount for the first payment.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "RecurringPaymentAmount": {
            "description": "Amount for the recurring payments.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema detailing the initiation of the standing order."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Array of structured remittance information.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Array of unstructured remittance information.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema containing remittance information."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Array of referred document information.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocumentInformation"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount associated with the referred document.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "description": "Information regarding the creditor reference.",
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Name of the invoicer.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "Name of the invoicee.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax remittance information.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Array of additional remittance information.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing structured remittance details."
      },
      "ReferredDocumentInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code of the referred document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the referred document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "Number associated with the referred document.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the referred document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details of the lines in the document.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing referred document information."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code for the creditor reference.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the creditor reference.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "The actual reference number for the creditor.",
            "example": "string"
          }
        },
        "description": "Information about the creditor reference."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the payment.",
            "example": "string"
          }
        },
        "description": "Schema for representing payment amounts."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for the request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the source application.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device.",
            "example": "string"
          }
        },
        "description": "Schema representing channel information."
      },
      "CreatePispDomesticStandingOrderResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticStandingOrderId": {
                "type": "string",
                "description": "The unique identifier for the domestic standing order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "The identifier for the consent associated with the standing order.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the standing order was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "The current status of the standing order.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the standing order.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Refund": {
                "$ref": "#/components/schemas/RefundDetails"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the standing order.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/InitiationDetails"
              },
              "NumberOfPayments": {
                "type": "string",
                "description": "Total number of payments scheduled for this standing order.",
                "example": "string"
              },
              "FirstPaymentAmount": {
                "$ref": "#/components/schemas/PaymentAmountDetails"
              },
              "RecurringPaymentAmount": {
                "$ref": "#/components/schemas/PaymentAmountDetails"
              }
            },
            "description": "Data pertaining to the domestic standing order.",
            "example": {
              "DomesticStandingOrderId": "ORD-143991",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata information about the response.",
            "example": {
              "responseId": "0f0fd439-9882-5a08-b707-43ca227a7935",
              "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of domestic standing orders.",
        "example": {
          "Data": {
            "DomesticStandingOrderId": "ORD-143991",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "0f0fd439-9882-5a08-b707-43ca227a7935",
            "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A description explaining the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "The path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details of a status reason for the standing order."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "description": "Information regarding the account to which the refund is directed.",
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details about the refund for the standing order."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the payment scheme.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any secondary identification for the account.",
            "example": "string"
          }
        },
        "description": "Information related to an account."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "The entity responsible for bearing the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of the charge.",
            "example": "string"
          },
          "Amount": {
            "description": "Details of the amount associated with the charge.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details regarding a charge associated with the standing order."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Details of the financial amount."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "type": "object",
            "properties": {
              "Structured": {
                "type": "array",
                "description": "Structured information related to the remittance.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/StructuredInformation"
                }
              },
              "Unstructured": {
                "type": "array",
                "description": "Unstructured remittance information.",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "description": "Information related to the remittance for the payment."
          }
        },
        "description": "Details regarding the initiation of a payment."
      },
      "StructuredInformation": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Array of referred document information related to the payment.",
            "items": {
              "$ref": "#/components/schemas/DocumentInformation"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "The amount associated with the referred document.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "description": "Information about the creditor's reference.",
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Name of the invoicer.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "Name of the invoicee.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Details regarding tax remittance.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional remittance information.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Structured information details related to documents."
      },
      "DocumentInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code for the referred document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the referred document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "The number associated with the referred document.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the referred document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details pertaining to the lines of the referred document.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Information about a referred document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-domestic-standing-order"
        },
        "example": "payment-initiation-openapi-submit-domestic-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token format, specifically JWT (JSON Web Token), for securing API endpoints. Clients are required to include the token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}