{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Partners Applications-v5-spec",
    "description": "MICROSERVICE-PROD-List Aggregation Partners Applications-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "get": {
        "operationId": "listAggregationPartnersApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationPartnersApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationPartnersApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationPartnersApplicationsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListAggregationPartnersApplicationsResponse_200": {
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "numberOfRecordsPerPage": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "applications": {
            "type": "array",
            "example": [
              {
                "partnerId": "STANDARD",
                "preAppId": "STANDARD",
                "note": "STANDARD",
                "applicationId": "APP-312557",
                "appName": "Northstar Banking Service",
                "submittedDate": 1,
                "modifiedDate": 1,
                "status": "ACTIVE",
                "scopes": "STANDARD",
                "institutionDetails": [
                  {
                    "id": 1,
                    "abbrvName": "Northstar Banking Service",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "decryptionKeyActivated": true,
                    "createdDate": 1,
                    "lastModifiedDate": 1,
                    "status": true
                  }
                ]
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "partnerId": {
                  "type": "string",
                  "example": "string"
                },
                "preAppId": {
                  "type": "string",
                  "example": "string"
                },
                "note": {
                  "type": "string",
                  "example": "string"
                },
                "applicationId": {
                  "type": "string",
                  "example": "string"
                },
                "appName": {
                  "type": "string",
                  "example": "string"
                },
                "submittedDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "modifiedDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "scopes": {
                  "type": "string",
                  "example": "string"
                },
                "institutionDetails": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "example": 0
                      },
                      "abbrvName": {
                        "type": "string",
                        "example": "string"
                      },
                      "logoUrl": {
                        "type": "string",
                        "example": "string"
                      },
                      "decryptionKeyActivated": {
                        "type": "boolean",
                        "example": false
                      },
                      "createdDate": {
                        "type": "integer",
                        "format": "int32",
                        "example": 0
                      },
                      "lastModifiedDate": {
                        "type": "integer",
                        "format": "int32",
                        "example": 0
                      },
                      "status": {
                        "type": "boolean",
                        "example": false
                      }
                    },
                    "example": "string"
                  }
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "44563bdc-842d-5a57-a47c-db62305355c5",
              "correlationId": "f8e771c5-bf60-57a2-9d99-57dfe30688b3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "totalRecords": 1,
          "totalPages": 1,
          "pageNumber": 1,
          "numberOfRecordsPerPage": 1,
          "applications": [
            {
              "partnerId": "STANDARD",
              "preAppId": "STANDARD",
              "note": "STANDARD",
              "applicationId": "APP-312557",
              "appName": "Northstar Banking Service",
              "submittedDate": 1,
              "modifiedDate": 1,
              "status": "ACTIVE",
              "scopes": "STANDARD",
              "institutionDetails": [
                {
                  "id": 1,
                  "abbrvName": "Northstar Banking Service",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "decryptionKeyActivated": true,
                  "createdDate": 1,
                  "lastModifiedDate": 1,
                  "status": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "44563bdc-842d-5a57-a47c-db62305355c5",
            "correlationId": "f8e771c5-bf60-57a2-9d99-57dfe30688b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-app-registration-status"
        },
        "example": "open-finance-api-get-app-registration-status"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}