{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Enterprise Service By Param1-spec",
    "description": "This API facilitates the updating of the Approved Supplier Directory within the banking services. It allows users to modify existing entries based on a specified parameter, ensuring the directory remains accurate and up-to-date. Typical consumers of this API include internal banking systems and partner applications that require real-time access to supplier information. Use cases involve managing supplier details in compliance with regulatory standards and enhancing supplier verification processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory/{param1}": {
      "put": {
        "tags": [
          "Supplier Management"
        ],
        "summary": "Update approved supplier details.",
        "description": "This operation allows users to update the information of an approved supplier in the directory. Ensure all required fields are filled accurately to successfully update the supplier's details.",
        "operationId": "replaceEnterpriseServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the data necessary to update an existing entry in the approved supplier directory. Ensure that the payload adheres to the specified schema and includes all required fields for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceEnterpriseServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resource was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceEnterpriseServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceEnterpriseServiceByParam1Request": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "8eb31df1-568e-5c9e-9485-dc0aa48c65f0"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the request.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Details about the amount associated with the request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user who requested the operation.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the associated purchase order.",
            "example": "ORD-813268"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code that represents the category of the request.",
            "example": "CODE-785"
          },
          "approvalLevel": {
            "type": "string",
            "description": "Indication of the approval level required for the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for approving a supplier in the directory.",
        "example": {
          "requestId": "8eb31df1-568e-5c9e-9485-dc0aa48c65f0",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-813268",
          "categoryCode": "CODE-785",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "bb4177b5-0719-5ef8-a2ec-02ea65806ef0",
            "correlationId": "f65c82d2-b36b-5b52-9893-f2c7a64fe2c7",
            "idempotencyKey": "d0b1de63-661f-56a8-906e-488fd6f51118",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-432388"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          }
        },
        "description": "Details of the monetary amount."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the context of the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "ReplaceEnterpriseServiceByParam1Response_200": {
        "title": "Approved Supplier Directory Response",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "2fc7e2f4-ff6e-5b81-ab7a-74b54f56ea2a"
          },
          "supplierId": {
            "type": "string",
            "description": "Unique identifier of the supplier.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Unique identifier for the purchase order associated with this supplier.",
            "example": "ORD-162584"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code that represents the category of the supplier.",
            "example": "CODE-215"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the supplier information.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the supplier in the approved directory.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the supplier information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the approved supplier directory update operation.",
        "example": {
          "requestId": "2fc7e2f4-ff6e-5b81-ab7a-74b54f56ea2a",
          "supplierId": "STANDARD",
          "purchaseOrderId": "ORD-162584",
          "categoryCode": "CODE-215",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7ae17c89-568f-5b1c-8730-9ecaa26a4961",
            "correlationId": "f65c82d2-b36b-5b52-9893-f2c7a64fe2c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request across systems.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This value helps in tracing and debugging endpoint utilization.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-upsert-approved-supplier-directory-record"
        },
        "example": "approved-supplier-directory-upsert-approved-supplier-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request. This header can be useful for logging and monitoring application activity.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where requests include a bearer token, typically in the form of a JSON Web Token (JWT), to authenticate and authorize access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}