{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Action Management API",
    "description": "The Corporate Action Management API streamlines the processes surrounding corporate actions in banking operations, such as stock splits, dividends, and mergers. This API enables users to update the details of specific corporate actions using relevant identifiers. Designed for financial institutions and investment firms, it provides a seamless method for ensuring accurate and timely updates to corporate action events. With this API, businesses can maintain compliance and improve operational efficiency in handling market changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/corporate-action/{param1}": {
      "put": {
        "tags": [
          "Corporate Actions"
        ],
        "summary": "Update corporate action RES-100045",
        "description": "This endpoint allows users to update the details of the corporate action identified by RES-100045. Make sure to provide all necessary information in the request body to ensure a successful update.",
        "operationId": "updateCorporateActionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary data to update the corporate action identified by RES-100045. This includes various operation details that are required to successfully process the corporate action updates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateActionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing; the operation is being conducted asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateActionRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateActionRes100045Request": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the trade will be settled.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units for the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the trade will be settled.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Unique identifier for the custodian handling the trade.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the PUT operation related to corporate actions in market operations. It contains details about the trade and its associated parameters.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "requestContext": {
            "requestId": "9d719752-b111-548d-9e85-3d5f336f006c",
            "correlationId": "71e025d8-bc99-5d9b-8cad-55995da45b57",
            "idempotencyKey": "c551c94f-a5ae-5a21-8ee7-5b123e4b356e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-755811"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request, including identifiers, timestamps, and source details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., API, Web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "string"
          }
        },
        "description": "Channel information related to the request context."
      },
      "UpdateCorporateActionRes100045Response_202": {
        "title": "Corporate Action Operation Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "The unique identifier of the custodian managing the asset.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference for tracking the processing of the trade.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the trade operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the trade was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for corporate action operations. This includes details about the trade, current processing state, and additional metadata.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "a686d30d-a900-5e20-b140-fa9d94c86625",
            "correlationId": "71e025d8-bc99-5d9b-8cad-55995da45b57",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESPONSE001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses in the system.",
            "example": "CORRELATIONXYZ"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-05T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the corporate action operation, containing IDs and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request, used for logging and tracing operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-action-process-corporate-action"
        },
        "example": "corporate-action-process-corporate-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request, allowing tracking and auditing of workflow processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-055"
        },
        "example": "WF-055"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow currently being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Action Processing"
        },
        "example": "Corporate Action Processing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "49781942-f5e8-40aa-8177-26ec7cf81ead"
        },
        "example": "49781942-f5e8-40aa-8177-26ec7cf81ead"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer tokens for authentication, specifically formatted as JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}