{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Management API",
    "description": "The Credit Card Management API allows businesses to update and manage credit card details efficiently. Utilizing this API, users can modify various attributes of their existing credit cards, such as limits, account status, and other relevant settings. It serves as an essential tool for financial institutions and service providers in maintaining up-to-date information for their customers. Typical consumers include banks, payment processors, and financial management applications aiming for enhanced user account capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card/{param1}": {
      "patch": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Update a credit card by its ID.",
        "description": "This operation allows you to update the details of a specific credit card identified by its unique ID. Provide the necessary fields to be updated in the request body.",
        "operationId": "patchCreditCardById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the properties of a credit card identified by CARD-400045. Ensure that you provide the necessary fields to modify the card's details. Only the fields that need to be updated should be included in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCreditCardByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The credit card information was successfully updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCreditCardByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCreditCardByIdRequest": {
        "title": "Credit Card Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/CardChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating credit card operations.",
        "example": {
          "changes": {
            "cardToken": "TOK-181290",
            "cardholderId": "STANDARD",
            "merchantId": "MER-214054"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "dcfd9d49-64ed-5f86-ad44-661627e3ebc0",
            "correlationId": "1d862c26-5e58-539a-bfa6-38e8446ff277",
            "idempotencyKey": "5546eaff-76b7-5cd0-9b22-afa529bd95fb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-658493"
            }
          }
        }
      },
      "CardChanges": {
        "title": "Card Changes",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique token representing the credit card.",
            "example": "string"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder associated with the credit card.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes requested for a credit card."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotency to prevent duplicate processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application originating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "PatchCreditCardByIdResponse_200": {
        "title": "Credit Card Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the credit card operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the credit card details.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CreditCardMetadata"
          }
        },
        "description": "Schema representing the response for a credit card operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "07456e03-4df7-57da-ab60-47f58ad392b7",
            "correlationId": "1d862c26-5e58-539a-bfa6-38e8446ff277",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditCardMetadata": {
        "title": "Credit Card Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the credit card operation occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the credit card operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This can be used for tracing and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-update-credit-card"
        },
        "example": "credit-card-update-credit-card"
      },
      "x-runtime-app": {
        "description": "The identifier of the application environment where the request was processed. It helps in identifying which runtime environment was used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method via JSON Web Tokens (JWT). Clients must send the token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}