{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Human Resource Management Recruitment By Recruitment Id-v5-spec",
    "description": "This API allows users to access detailed information about a specific recruitment process within the Banking Human Resource Management domain by providing a recruitment ID. It serves as a crucial resource for HR professionals and recruitment teams to track and analyze recruitment activities, statuses, and candidate information. The endpoint is particularly useful for personnel who need to retrieve recruitment specifics for reporting, decision-making, or operational purposes. Typical consumers include HR staff, managers, and recruitment system integrators.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment/{recruitmentId}": {
      "get": {
        "tags": [
          "Recruitment Management"
        ],
        "summary": "Retrieve Recruitment Resource Details",
        "description": "Fetch the details for the specific recruitment resource identified by RES-100045 within the human resource management system. This endpoint allows users to access comprehensive data regarding this recruitment resource, ensuring that necessary information is readily available for decision-making.",
        "operationId": "getBankingHumanResourceManagementRecruitmentByRecruitmentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/recruitmentId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to retrieve details for the specific recruitment operation identified by RES-100045. Ensure that the parameters adhere to the specified schema to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingHumanResourceManagementRecruitmentByRecruitmentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingHumanResourceManagementRecruitmentByRecruitmentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingHumanResourceManagementRecruitmentByRecruitmentIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the recruitment operations.",
        "example": "{}"
      },
      "GetBankingHumanResourceManagementRecruitmentByRecruitmentIdResponse_200": {
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "Unique identifier for the job requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "Title of the job position.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the requisition.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "Location where the job is based.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "Proposed start date for the position.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the requisition record (e.g., active, closed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the requisition record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the requisition.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for recruitment operations, detailing job requisition information.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "13fb5b8b-1cb5-5772-a28f-ee81433d3dd8",
            "correlationId": "bf030d22-9069-57fe-bfd2-6d714a568453",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "recruitmentId": {
        "name": "recruitmentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-get-recruitment"
        },
        "example": "recruitment-get-recruitment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token that follows the JSON Web Token (JWT) format. This method is typically employed for securing APIs by transmitting access tokens in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}