{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Offers Retrieval API",
    "description": "The Loan Offers Retrieval API enables users to fetch current offers related to specific loan applications. By querying the endpoint with a unique loan application identifier, clients can receive detailed information about available offers, including terms and conditions. This API is primarily used by financial institutions and loan management systems to enhance customer decision-making by providing timely and relevant loan offer data. Its functionality supports efficiency in processing loan applications and optimizing customer interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Loan Offers",
        "description": "This endpoint retrieves all available offers for a specified loan application identified by its unique ID. Use this to evaluate different financing options for the loan.",
        "operationId": "getLoanApplicationOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving loan offers associated with a specific loan application ID (RES-100045). This request acquires data about the offers such as terms, amounts, and other relevant details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan offers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationOffersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationOffersRequest": {
        "type": "string",
        "description": "This schema represents the JSON body for loan applications offer requests. It should contain the necessary data as a string.",
        "example": "{}"
      },
      "GetLoanApplicationOffersResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of loan offers.",
            "example": [
              {
                "offerType": "STANDARD",
                "approvedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "termMonths": 1,
                "annualInterestRatePercent": "STANDARD",
                "annualPercentageRatePercent": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "estimatedInstallment": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "originationFee": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "insurancePremium": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "validUntil": "2026-08-11T12:00:00Z",
                "conditions": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "dueBefore": "STANDARD",
                    "status": "ACTIVE"
                  }
                ],
                "disclosures": [
                  "STANDARD"
                ],
                "id": "c1988515-492b-3f71-2b29-46f1879a3e78",
                "offerNumber": "STANDARD",
                "status": "ACTIVE",
                "issuedAt": "2026-08-11T12:00:00Z",
                "acceptedAt": "2026-08-11T12:00:00Z",
                "acceptedByCustomerId": "CUST-470197",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanOffer"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for loan application offer list.",
        "example": {
          "items": [
            {
              "offerType": "STANDARD",
              "approvedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "termMonths": 1,
              "annualInterestRatePercent": "STANDARD",
              "annualPercentageRatePercent": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "estimatedInstallment": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "originationFee": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "insurancePremium": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "validUntil": "2026-08-11T12:00:00Z",
              "conditions": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "dueBefore": "STANDARD",
                  "status": "ACTIVE"
                }
              ],
              "disclosures": [
                "STANDARD"
              ],
              "id": "c1988515-492b-3f71-2b29-46f1879a3e78",
              "offerNumber": "STANDARD",
              "status": "ACTIVE",
              "issuedAt": "2026-08-11T12:00:00Z",
              "acceptedAt": "2026-08-11T12:00:00Z",
              "acceptedByCustomerId": "CUST-470197",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "890ef25c-a1cb-5280-9d27-889875925a64",
            "correlationId": "6bcd903c-6d4e-5aa0-b1ad-ffb1424b7f5a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanOffer": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "Type of the loan offer.",
            "example": "Personal Loan"
          },
          "approvedPrincipal": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the loan in months.",
            "format": "int32",
            "example": 12
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate in percentage.",
            "example": "5.5"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "Annual percentage rate in percentage.",
            "example": "6.0"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment.",
            "example": "Monthly"
          },
          "estimatedInstallment": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "originationFee": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "insurancePremium": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "Date until the offer is valid.",
            "example": "2023-12-31"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions associated with the loan offer.",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "List of disclosures related to the offer.",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "offer-12345"
          },
          "offerNumber": {
            "type": "string",
            "description": "Offer number for reference.",
            "example": "12345"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "Active"
          },
          "issuedAt": {
            "type": "string",
            "description": "Date when the loan offer was issued.",
            "example": "2023-01-01"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Date when the loan offer was accepted.",
            "example": "2023-01-10"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier of the customer who accepted the offer.",
            "example": "customer-67890"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Schema representing a single loan offer."
      },
      "MoneyAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount as a string.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing a monetary amount with currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Condition code.",
            "example": "C001"
          },
          "description": {
            "type": "string",
            "description": "Description of the condition.",
            "example": "Credit score must be above 700."
          },
          "dueBefore": {
            "type": "string",
            "description": "Due date for this condition.",
            "example": "2023-06-30"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition associated with a loan offer."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr-xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the API response."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date the loan offer was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the offer.",
            "example": "admin-user"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date the loan offer was last updated.",
            "example": "2023-01-10T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the offer.",
            "example": "admin-user"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing auditing information of the loan offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-offers"
        },
        "example": "banking-loans-openapi-list-loan-offers"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, indicating the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which allows access to protected resources via a JSON Web Token (JWT). Clients must include a valid JWT in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}