{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer By Account Id-spec",
    "description": "The Customer Account Creation API facilitates the onboarding of customers by linking them to specific accounts based on their unique identifiers. This endpoint allows businesses to efficiently manage customer records by associating a customer ID with an account ID, ensuring that customer information is accurately captured and linked. Typical consumers of this API include financial institutions and service providers looking to streamline customer account management processes. By using this API, organizations can enhance their customer service capabilities and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/account-owner-verification-matchings/customers/{customerId}/accounts/{accountId}": {
      "post": {
        "tags": [],
        "summary": "Create a new account for a customer.",
        "description": "This operation allows you to create a new account for the specified customer identified by `CUST-100045`. The request requires account details specified in the request body. Successful responses will return the newly created account information.",
        "operationId": "createCustomerByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body allows the creation or modification of account details for a specific customer identified by CUST-100045. Ensure that all required fields are provided to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, returning the resulting data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerByAccountIdRequest": {
        "type": "object",
        "properties": {
          "ownerName": {
            "type": "string",
            "description": "Name of the account owner.",
            "example": "Northstar Banking Service"
          },
          "name": {
            "$ref": "#/components/schemas/FullName"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the account owner.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "Email address of the account owner.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating an account operation for a specific customer.",
        "example": {
          "ownerName": "Northstar Banking Service",
          "name": {
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "suffix": "STANDARD"
          },
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "line3": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001",
            "type": "STANDARD"
          },
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "757ab06a-e79d-504c-8b5c-86559548a810",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "idempotencyKey": "7506908b-a065-5b90-b0d9-048d56db3197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-802972"
            }
          }
        }
      },
      "FullName": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the user.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the user.",
            "example": "Michael"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the user.",
            "example": "Doe"
          },
          "suffix": {
            "type": "string",
            "description": "Suffix for the user's name, e.g., Jr., Sr., etc.",
            "example": "Jr."
          }
        },
        "description": "Schema representing the full name of a user."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "string",
            "description": "The primary address associated with the owner."
          },
          "line1": {
            "type": "string",
            "description": "The first line of the address."
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address, if applicable."
          },
          "line3": {
            "type": "string",
            "description": "The third line of the address, if applicable."
          },
          "city": {
            "type": "string",
            "description": "The city of the address."
          },
          "state": {
            "type": "string",
            "description": "The state of the address."
          },
          "country": {
            "type": "string",
            "description": "The country of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the address."
          },
          "type": {
            "type": "string",
            "description": "The type of the address (e.g., home, work)."
          },
          "addressScores": {
            "type": "object",
            "properties": {
              "ownerAddress": {
                "type": "integer",
                "description": "Score for the owner's address.",
                "format": "int32"
              },
              "type": {
                "type": "integer",
                "description": "Score for the address type.",
                "format": "int32"
              },
              "line1": {
                "type": "integer",
                "description": "Score for the first line of the address.",
                "format": "int32"
              },
              "line2": {
                "type": "integer",
                "description": "Score for the second line of the address.",
                "format": "int32"
              },
              "line3": {
                "type": "integer",
                "description": "Score for the third line of the address.",
                "format": "int32"
              },
              "city": {
                "type": "integer",
                "description": "Score for the city of the address.",
                "format": "int32"
              },
              "country": {
                "type": "integer",
                "description": "Score for the country of the address.",
                "format": "int32"
              },
              "postalCode": {
                "type": "integer",
                "description": "Score for the postal code of the address.",
                "format": "int32"
              },
              "state": {
                "type": "integer",
                "description": "Score for the state of the address.",
                "format": "int32"
              }
            },
            "description": "Scores assessing the quality of the address provided."
          }
        },
        "description": "Detailed information about an address."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idempotency-key-456789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that originated the request.",
            "example": "MobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that sent the request.",
            "example": "AccountManager"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "CreateCustomerByAccountIdResponse_200": {
        "title": "Customer Account Operations Response",
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "A list of account holders associated with the customer account.",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameScores": {
                  "ownerName": 1,
                  "firstName": 1,
                  "middleName": 1,
                  "lastName": 1,
                  "suffix": 1
                },
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "country": "STANDARD",
                    "postalCode": "10001",
                    "type": "STANDARD",
                    "addressScores": {
                      "ownerAddress": 1,
                      "type": 1,
                      "line1": 1,
                      "line2": 1,
                      "line3": 1,
                      "city": 1,
                      "country": 1,
                      "postalCode": 1,
                      "state": 1
                    }
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example",
                    "cores": {
                      "email": 1
                    }
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the operation concerning customer account details.",
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameScores": {
                "ownerName": 1,
                "firstName": 1,
                "middleName": 1,
                "lastName": 1,
                "suffix": 1
              },
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001",
                  "type": "STANDARD",
                  "addressScores": {
                    "ownerAddress": 1,
                    "type": 1,
                    "line1": 1,
                    "line2": 1,
                    "line3": 1,
                    "city": 1,
                    "country": 1,
                    "postalCode": 1,
                    "state": 1
                  }
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example",
                  "cores": {
                    "email": 1
                  }
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "d5cbf397-f8e1-5f08-9209-ee4f9df3f8ea",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountHolder": {
        "title": "Account Holder",
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account."
          },
          "ownerName": {
            "type": "string",
            "description": "The full name of the account owner."
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the account holder."
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the account holder, if applicable."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the account holder."
          },
          "suffix": {
            "type": "string",
            "description": "The suffix of the account holder's name, if applicable."
          },
          "nameScores": {
            "type": "object",
            "properties": {
              "ownerName": {
                "type": "integer",
                "description": "Score for the owner's name.",
                "format": "int32"
              },
              "firstName": {
                "type": "integer",
                "description": "Score for the first name.",
                "format": "int32"
              },
              "middleName": {
                "type": "integer",
                "description": "Score for the middle name.",
                "format": "int32"
              },
              "lastName": {
                "type": "integer",
                "description": "Score for the last name.",
                "format": "int32"
              },
              "suffix": {
                "type": "integer",
                "description": "Score for the name suffix.",
                "format": "int32"
              }
            },
            "description": "Scores assessing the quality of the names provided."
          },
          "nameClassification": {
            "type": "string",
            "description": "Classification of the names provided."
          },
          "nameClassificationconfidencescore": {
            "type": "integer",
            "description": "Confidence score for the name classification.",
            "format": "int32"
          },
          "addresses": {
            "type": "array",
            "description": "A list of addresses related to the account holder.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "emails": {
            "type": "array",
            "description": "A list of email addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          }
        },
        "description": "Detailed information of an account holder."
      },
      "Email": {
        "title": "Email",
        "type": "object",
        "properties": {
          "isPrimary": {
            "type": "boolean",
            "description": "Indicates if this is the primary email address."
          },
          "email": {
            "type": "string",
            "description": "The email address itself."
          },
          "emailType": {
            "type": "string",
            "description": "The type of email (e.g., personal, work)."
          },
          "cores": {
            "type": "object",
            "properties": {
              "email": {
                "type": "integer",
                "description": "Score or identifier for the email.",
                "format": "int32"
              }
            },
            "description": "Core related information regarding the email."
          }
        },
        "description": "Detailed information about an email address."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-account-matching-score-details"
        },
        "example": "open-finance-api-account-matching-score-details"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses Bearer authentication with JSON Web Tokens (JWT). Clients are expected to send the JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}