{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Finance Engagements API",
    "description": "The Corporate Finance Engagements API facilitates the initiation of engagement records related to mergers and acquisitions transactions. This API allows businesses to capture and manage essential engagement details, ensuring an organized approach to corporate finance activities. Common users include financial institutions, investment firms, and corporate finance teams that seek to streamline their M&A processes. With this API, users can submit new engagement requests that form the basis of collaboration and project management in mergers and acquisitions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/mergers-acquisitions/engagements": {
      "post": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Create a new engagement for mergers and acquisitions.",
        "description": "This endpoint allows users to create a new engagement within the corporate finance mergers and acquisitions domain. Provide the necessary details to initiate the engagement, and receive a confirmation upon successful creation.",
        "operationId": "createCorporateFinanceMergersAcquisitionsEngagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new engagement for mergers and acquisitions within the corporate finance domain. It should contain all necessary details such as client information, transaction specifics, and any relevant financial data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateFinanceMergersAcquisitionsEngagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, engagement initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateFinanceMergersAcquisitionsEngagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateFinanceMergersAcquisitionsEngagementRequest": {
        "title": "Mergers and Acquisitions Engagement Request",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction for the engagement, e.g., acquisition or merger.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "Details about the enterprise value involved in the transaction.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date by which the transaction is expected to close.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new engagement in the Mergers and Acquisitions process.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "requestContext": {
            "requestId": "352339e5-0559-5627-965c-f3794e6919b4",
            "correlationId": "7f18f875-ad9f-5888-ad09-0058e8fbaabe",
            "idempotencyKey": "ae25a30b-3803-5842-829e-ba9154e91467",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-284810"
            }
          }
        }
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the enterprise value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the enterprise value is denoted.",
            "example": "USD"
          }
        },
        "description": "Schema representing the value of the enterprise in a transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking related requests.",
            "example": "correlation-98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent request processing.",
            "example": "idempotency-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-15T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system generating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "M&A Application"
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel, e.g., web, mobile.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateCorporateFinanceMergersAcquisitionsEngagementResponse_201": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the engagement.",
            "example": "RES-927425"
          },
          "status": {
            "type": "string",
            "description": "The current status of the engagement operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the engagement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata pertaining to the engagement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the engagement operations in mergers and acquisitions.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "resourceId": "RES-927425",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1c623b0a-eead-5842-8f64-c45850cddf48",
            "correlationId": "7f18f875-ad9f-5888-ad09-0058e8fbaabe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-3456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request across systems.",
            "example": "correlation-7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the engagement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mergers-and-acquisitions-advisory-create-mergers-and-acquisitions-advisory-engagement"
        },
        "example": "mergers-and-acquisitions-advisory-create-mergers-and-acquisitions-advisory-engagement"
      },
      "X-Runtime-App": {
        "description": "The application or service that handled the request, providing context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow instance that was executed as part of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-097"
        },
        "example": "WF-097"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "M&A Advisory Engagement and Deal Execution"
        },
        "example": "M&A Advisory Engagement and Deal Execution"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8b7c29e3-9acb-40c2-a69b-26c293d761f2"
        },
        "example": "8b7c29e3-9acb-40c2-a69b-26c293d761f2"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JWT (JSON Web Token) as a bearer token for authentication. The client must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}