{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Settlement-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Settlement-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements": {
      "post": {
        "operationId": "createP2mSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mSettlementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mSettlementRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "example": "MER-860612"
          },
          "settlementAccountId": {
            "type": "string",
            "example": "ACC-315973"
          },
          "periodStart": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "includePendingAdjustments": {
            "type": "boolean",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "e7eb448e-1909-5a25-837b-94df3fa46e5b",
              "correlationId": "6d0124ef-f71c-559e-adb7-a0cd5e5ed832",
              "idempotencyKey": "7c8d05c4-588f-55b2-8e55-5c818405b0a2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-759897"
              }
            }
          }
        },
        "example": {
          "merchantId": "MER-860612",
          "settlementAccountId": "ACC-315973",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "includePendingAdjustments": true,
          "requestContext": {
            "requestId": "e7eb448e-1909-5a25-837b-94df3fa46e5b",
            "correlationId": "6d0124ef-f71c-559e-adb7-a0cd5e5ed832",
            "idempotencyKey": "7c8d05c4-588f-55b2-8e55-5c818405b0a2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-759897"
            }
          }
        }
      },
      "CreateP2mSettlementResponse_201": {
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-586105"
          },
          "settlementAccountId": {
            "type": "string",
            "example": "ACC-452598"
          },
          "periodStart": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "summary": {
            "type": "object",
            "properties": {
              "grossPayments": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "refunds": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "reversals": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "disputes": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "fees": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "taxes": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "reserveHeld": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "reserveReleased": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "adjustments": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "netSettlement": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "grossPayments": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "refunds": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reversals": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "disputes": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "fees": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "taxes": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reserveHeld": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reserveReleased": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "adjustments": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "netSettlement": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "lineCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "f487dd27-7743-5236-91ae-33d6d1e3b6ab",
              "correlationId": "6d0124ef-f71c-559e-adb7-a0cd5e5ed832",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-586105",
          "settlementAccountId": "ACC-452598",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "f487dd27-7743-5236-91ae-33d6d1e3b6ab",
            "correlationId": "6d0124ef-f71c-559e-adb7-a0cd5e5ed832",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-settlement"
        },
        "example": "banking-p2m-openapi-create-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-019"
        },
        "example": "WF-019"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Bulk Payment and Approval"
        },
        "example": "Corporate Bulk Payment and Approval"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c53a9b84-c2eb-4411-bd19-63040091ee84"
        },
        "example": "c53a9b84-c2eb-4411-bd19-63040091ee84"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}