{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan By Param2-spec",
    "description": "This API allows users to update the repayment schedule for a specific loan identified by 'loanId'. By providing 'param2', which may represent different parameters like payment frequency or structure, financial institutions can effectively manage loan repayments. This functionality is crucial for lenders and service providers who need to adapt loan terms based on client needs or regulatory changes. Typical users of this API include loan management systems and financial software integrating with our services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules/{param2}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Repayment Schedule for a Loan",
        "description": "This operation allows you to update the repayment schedule associated with a specific loan. Ensure that all necessary details are accurately provided in the request to successfully update the repayment terms.",
        "operationId": "replaceLoanByParam2",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the details required to update the repayment schedule for the specified loan and resource. Ensure all mandatory fields are provided for a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanByParam2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The repayment schedule was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanByParam2Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanByParam2Request": {
        "title": "Loan Repayment Schedule Update Request",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule takes effect.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the repayment amounts.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule update.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "List of repayment installments for the loan.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating the repayment schedules of a specified loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD"
              }
            }
          ],
          "requestContext": {
            "requestId": "720ff36f-0797-5814-89a5-c0e88ae401cf",
            "correlationId": "3178be0c-c5f6-5fa4-9e20-16aa56282fa5",
            "idempotencyKey": "2f7a15c0-e3a1-5c30-8783-0f57d6c582ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-650219"
            }
          }
        }
      },
      "Installment": {
        "title": "Installment Details",
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The number of the installment within the repayment schedule.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the installment must be paid.",
            "example": "2023-02-01"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "principalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "interestDue": {
            "$ref": "#/components/schemas/Money"
          },
          "feesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "totalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/Money"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "description": "The current status of the installment.",
            "example": "Paid"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp indicating when the installment was paid.",
            "example": "2023-02-01T00:00:00Z"
          }
        },
        "description": "Represents a single installment in the repayment schedule."
      },
      "MonetaryAmount": {
        "title": "Monetary Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Schema representing a monetary amount including currency and amount value."
      },
      "ClosingPrincipal": {
        "title": "Closing Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the closing principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the closing principal amount including currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system sending the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "CustomerPortal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including IDs and source information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "ReplaceLoanByParam2Response_200": {
        "title": "Loan Repayment Schedule Response",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule becomes effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the repayment amounts.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule details.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "An array of individual installments for the repayment schedule.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "status": "ACTIVE",
                "paidAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the repayment schedule.",
            "example": "fb283896-a9ff-b383-4b73-ebb470c4f95f"
          },
          "status": {
            "type": "string",
            "description": "The current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the repayment schedule was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "The ID of the schedule that this one supersedes, if applicable.",
            "example": "4915d6d2-2bc8-2512-c892-9d5fe7ca6d38"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object representing the repayment schedule of a specific loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "status": "ACTIVE",
              "paidAt": "2026-08-11T12:00:00Z"
            }
          ],
          "id": "fb283896-a9ff-b383-4b73-ebb470c4f95f",
          "status": "ACTIVE",
          "generatedAt": "2026-09-15T14:30:00Z",
          "supersedesScheduleId": "4915d6d2-2bc8-2512-c892-9d5fe7ca6d38",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2648976e-7701-535c-bf22-71d24b1ad15d",
            "correlationId": "3178be0c-c5f6-5fa4-9e20-16aa56282fa5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The three-letter currency code (ISO 4217) for the monetary value.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money as a string, allowing for decimal values.",
            "example": "1000.00"
          }
        },
        "description": "Represents a monetary value with a currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the repayment schedule was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier for the user who created the schedule.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the repayment schedule was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier for the user who last updated the schedule.",
            "example": "user123"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the repayment schedule.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains auditing information related to the repayment schedule."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "res-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking purposes.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was called, useful for tracking which endpoint the response corresponds to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-repayment-schedule"
        },
        "example": "banking-loans-openapi-replace-repayment-schedule"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, helping to identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a JSON Web Token (JWT) for securing API requests. Clients need to include a valid JWT in the 'Authorization' header, prefixed with 'Bearer ', to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}