{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List External Agency Information Provider Administrations-spec",
    "description": "This API allows users to access and retrieve details about external agency information provider administrations. It serves as a vital interface for banking applications that need to display or manage data related to external agencies. Typical consumers include developers and banking personnel who require insights into agency collaborations and administrative structures. By leveraging this API, stakeholders can enhance their operational efficiency and ensure accurate data management within their banking systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/information-provider-administration": {
      "get": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Retrieve Information Provider Administration details.",
        "description": "This endpoint allows the user to retrieve detailed information about the administration of service providers related to external agencies. It is essential for managing and overseeing operational workflows and compliance with regulations.",
        "operationId": "listExternalAgencyInformationProviderAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for retrieving data related to the information provider administration from the external agency. It defines the specific attributes required to facilitate the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListExternalAgencyInformationProviderAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved information from the provider administration.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExternalAgencyInformationProviderAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListExternalAgencyInformationProviderAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents a string payload that is used in the request body of the GET operation for the external agency's information provider administration.",
        "example": "{}"
      },
      "ListExternalAgencyInformationProviderAdministrationsResponse_200": {
        "title": "External Agency Information Provider Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of external agency information.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-219603",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ExternalAgencyInfo"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the external agency items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET request to retrieve information about external agencies.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-219603",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1835b492-f412-5e4f-994e-264724a221b0",
            "correlationId": "e7916ab5-010f-57aa-80a2-ae86aec30133",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExternalAgencyInfo": {
        "title": "External Agency Information",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code for the institution.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the country of the institution.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the information becomes effective.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a specific external agency."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information regarding the pagination of the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Details about the response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "information-provider-administration-search-information-provider-administration"
        },
        "example": "information-provider-administration-search-information-provider-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer Token. This scheme uses a JSON Web Token (JWT) that is provided in the authorization header to grant access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}