{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Corporate Finance By Param1-spec",
    "description": "The Corporate Finance Retrieval API facilitates access to detailed information about private placement initiatives within corporate finance. This API allows users to retrieve specific data based on a unique identifier, enabling stakeholders to analyze and leverage financial opportunities effectively. Typical consumers include financial analysts, corporate finance teams, and investment professionals seeking to make informed decisions. By utilizing this API, users can gain insights into private placements and their implications for corporate financial strategy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/private-placement/{param1}": {
      "get": {
        "tags": [
          "Private Placement"
        ],
        "summary": "Retrieve Private Placement Details",
        "description": "This endpoint allows users to fetch details of a specific private placement identified by its unique ID. It returns comprehensive information about the private placement including financial data, status, and related documentation.",
        "operationId": "getCorporateFinanceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about the private placement operation identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateFinanceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateFinanceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateFinanceByParam1Request": {
        "title": "Corporate Finance Private Placement Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Corporate Finance private placement operations GET request. It is a placeholder for a JSON string that can include various details relevant to the operation.",
        "example": "{}"
      },
      "GetCorporateFinanceByParam1Response_200": {
        "title": "Private Placement Response",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of the transaction.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "The enterprise value information.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "Date targeted for closing the transaction.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a Private Placement operation.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0d8b810b-db27-574e-a959-63117d2f0322",
            "correlationId": "87d380d5-0224-5e7f-95a1-5ab7b1a45369",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency for the enterprise value amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the enterprise value including amount and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed. This value helps to track which specific API endpoint the response corresponds to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "private-placement-get-private-placement"
        },
        "example": "private-placement-get-private-placement"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that processed the request. This header provides insight into which application instance was responsible for handling the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients should include the JWT in the Authorization header of their requests, formatted as 'Authorization: Bearer <token>'. Ensure the token is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}