{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Market Data Financial Instrument Reference Data Management-v5-spec",
    "description": "MICROSERVICE-PROD-Replace Banking Market Data Financial Instrument Reference Data Management-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management": {
      "put": {
        "operationId": "replaceBankingMarketDataFinancialInstrumentReferenceDataManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingMarketDataFinancialInstrumentReferenceDataManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingMarketDataFinancialInstrumentReferenceDataManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingMarketDataFinancialInstrumentReferenceDataManagementRequest": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "example": "CODE-574"
          },
          "asOf": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "example": "STANDARD"
          },
          "instrumentType": {
            "type": "string",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "example": "USD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "7e77b663-d18c-5243-baf1-d1a595a061c9",
              "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
              "idempotencyKey": "96af832c-3547-5490-aa06-b8caaa80ba1c",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-531060"
              }
            }
          }
        },
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-574",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "7e77b663-d18c-5243-baf1-d1a595a061c9",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "idempotencyKey": "96af832c-3547-5490-aa06-b8caaa80ba1c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531060"
            }
          }
        }
      },
      "ReplaceBankingMarketDataFinancialInstrumentReferenceDataManagementResponse_200": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "example": "CODE-748"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "2fd87479-5a51-54aa-9514-9f57048ee009",
              "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-748",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2fd87479-5a51-54aa-9514-9f57048ee009",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}