{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Reports-spec",
    "description": "The Customer Reports Retrieval API enables businesses to access reports related to specific customers. By providing a customer ID, users can retrieve detailed insights and performance metrics that are critical for decision-making and customer relationship management. This API is particularly valuable for customer service representatives and analysts who need to evaluate customer histories or generate reports for further analysis. Typical use cases include tracking customer engagement and identifying trends based on report data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve reports for a specific customer.",
        "description": "This endpoint allows you to fetch all reports associated with customer CUST-100045. You can use this to analyze the customer's performance, view their history, and generate insights based on their reports.",
        "operationId": "listCustomerReports",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary parameters to retrieve reports for the specified customer. Provide any relevant filters or options to customize the report retrieval as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerReportsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer reports.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerReportsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerReportsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving the operations report for customer CUST-100045.",
        "example": "{}"
      },
      "ListCustomerReportsResponse_200": {
        "type": "object",
        "properties": {
          "reports": {
            "type": "array",
            "description": "A list of reports generated for the specified request.",
            "example": [
              {
                "id": "STANDARD",
                "requestId": "c5ae5558-9888-5cf7-85e9-c4608c4f0a3e",
                "requesterName": "Northstar Banking Service",
                "createdDate": 1,
                "consumerId": "STANDARD",
                "consumerSsn": "STANDARD",
                "type": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Operations GET Reports request for customer CUST-100045.",
        "example": {
          "reports": [
            {
              "id": "STANDARD",
              "requestId": "c5ae5558-9888-5cf7-85e9-c4608c4f0a3e",
              "requesterName": "Northstar Banking Service",
              "createdDate": 1,
              "consumerId": "STANDARD",
              "consumerSsn": "STANDARD",
              "type": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "metadata": {
            "responseId": "d33ef5f2-a303-5da0-8664-7cc22bb4cf00",
            "correlationId": "78990dc7-68c0-594b-8254-576adc246d44",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "RPT-001"
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request to which the report is associated.",
            "example": "REQ-001"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who requested the report.",
            "example": "John Doe"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the report was created.",
            "format": "int32",
            "example": 1633046400
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer associated with the report.",
            "example": "CNS-001"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer associated with the report.",
            "example": "123-45-6789"
          },
          "type": {
            "type": "string",
            "description": "Type of the report.",
            "example": "Financial"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "Completed"
          }
        },
        "description": "Detailed information about an individual report."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2021-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-reports-by-customer-id"
        },
        "example": "open-finance-api-get-reports-by-customer-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure transmission of information. Clients must include a valid JWT token in the 'Authorization' header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}