{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Knowledge Asset By Param1-spec",
    "description": "The Knowledge Asset Retrieval API enables users to access specific knowledge assets based on a unique parameter. Leveraging this API, clients can easily fetch detailed information about knowledge resources that are tailored to their requirements. This functionality supports various use cases, from improving customer service to enhancing product offerings within the banking sector. Typically, business analysts and developers utilize this API to integrate knowledge asset data into applications or analytics tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange/{param1}": {
      "get": {
        "tags": [
          "Knowledge Exchange"
        ],
        "summary": "Retrieve Knowledge Exchange Asset",
        "description": "Fetch details of the specified knowledge exchange asset identified by RES-100045. This endpoint allows users to access specific information regarding the asset, including its properties and usage context.",
        "operationId": "getKnowledgeAssetByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific knowledge asset information related to the knowledge exchange identified by RES-100045. Ensure that all required fields are correctly populated to facilitate a successful query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetKnowledgeAssetByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKnowledgeAssetByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetKnowledgeAssetByParam1Request": {
        "type": "string",
        "description": "Request body for the GET operation on the knowledge exchange resource with identifier RES-100045. This schema specifies the expected structure and format of the request data.",
        "example": "{}"
      },
      "GetKnowledgeAssetByParam1Response_200": {
        "title": "Knowledge Exchange Response",
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item.",
            "example": "STANDARD"
          },
          "topic": {
            "type": "string",
            "description": "The topic under which the knowledge item is categorized.",
            "example": "STANDARD"
          },
          "authorId": {
            "type": "string",
            "description": "Identifier of the author who created the knowledge item.",
            "example": "STANDARD"
          },
          "audience": {
            "type": "string",
            "description": "Target audience for the knowledge item.",
            "example": "STANDARD"
          },
          "publishedAt": {
            "type": "string",
            "description": "Timestamp indicating when the knowledge item was published.",
            "example": "2026-08-11T12:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the knowledge item record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the knowledge item.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for the last update made to the knowledge item.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response of the knowledge item.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for retrieving knowledge items in the knowledge exchange API.",
        "example": {
          "knowledgeItemId": "STANDARD",
          "topic": "STANDARD",
          "authorId": "STANDARD",
          "audience": "STANDARD",
          "publishedAt": "2026-08-11T12:00:00Z",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ab0277e-0d97-570e-8133-bf0d456a5964",
            "correlationId": "6c17f367-3f27-51d2-93e6-8ea172241a14",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_01"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "correlation_01"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T15:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to the response of a knowledge item."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This is useful for tracking which endpoint was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-get-knowledge-exchange"
        },
        "example": "knowledge-exchange-get-knowledge-exchange"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that handled the request, providing context about the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, which requires a JWT (JSON Web Token) to validate the user identity and grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}