{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Finance By Param1-spec",
    "description": "The Enterprise Tax Administration Retrieval API provides access to financial data relevant to enterprise tax matters using specified parameters. This API is designed to empower businesses with important insights for compliance and financial planning. Developers can leverage this API to obtain specific taxation information critical for decision-making processes. Typical consumers include financial analysts and tax professionals who need to retrieve detailed financial data related to enterprise taxation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/enterprise-tax-administration/{param1}": {
      "get": {
        "tags": [
          "Tax Administration"
        ],
        "summary": "Retrieve the details of a specific enterprise tax administration resource.",
        "description": "This endpoint allows users to fetch detailed information about a specific enterprise tax administration resource identified by its unique ID. It provides comprehensive data necessary for understanding the tax administration context within the finance domain.",
        "operationId": "getFinanceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the enterprise tax administration for a specific resource identified by RES-100045. The request must include parameters that conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinanceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the resource data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinanceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinanceByParam1Request": {
        "type": "string",
        "description": "This schema represents a request body for the GET operation related to enterprise tax administration.",
        "example": "{}"
      },
      "GetFinanceByParam1Response_200": {
        "title": "Enterprise Tax Administration Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "Identifier for the ledger associated with the operation.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for which the data is relevant.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Monetary amount related to the operation.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "Date when the record was posted.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Enterprise Tax Administration operation.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fc5b4ece-6ee6-5e40-965b-f0740eef890b",
            "correlationId": "19026dda-8b3a-58a4-b9c6-da8f76111aae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "string"
          }
        },
        "description": "Represents a monetary amount with its currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was called, useful for tracing and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-tax-administration-get-enterprise-tax-administration"
        },
        "example": "enterprise-tax-administration-get-enterprise-tax-administration"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime environment, aiding in performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens that conform to the JSON Web Token (JWT) standard. This allows secure transmission of claims between parties, ensuring integrity and authenticity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}