{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Credit Rating API",
    "description": "The Customer Credit Rating API enables businesses to assess the creditworthiness of customers by providing access to real-time credit rating information. This API facilitates the retrieval of detailed credit ratings based on customer data, allowing financial institutions to make informed lending decisions. Typical users include banks, credit unions, and financial service providers who need to evaluate potential risks in customer profiles. By integrating this API, users can streamline their customer management processes and improve overall decision-making efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve a customer's credit rating",
        "description": "This endpoint allows you to obtain the credit rating of a specific customer by accessing their credit profile information. Ensure to provide the necessary identifiers to get the correct data.",
        "operationId": "getCustomerCreditRating",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer credit rating details. Provide the necessary input parameters as specified in the schema to obtain the correct credit rating information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCreditRatingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer credit rating data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCreditRatingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCreditRatingRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for retrieving customer credit ratings.",
        "example": "{}"
      },
      "GetCustomerCreditRatingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer credit rating entries.",
            "example": [
              {
                "customerId": "CUST-720211",
                "partyId": "PARTY-298326",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "ratingScale": "STANDARD",
                "currentRating": "STANDARD",
                "reviewReason": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCreditRating"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting method applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer credit ratings.",
        "example": {
          "items": [
            {
              "customerId": "CUST-720211",
              "partyId": "PARTY-298326",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "ratingScale": "STANDARD",
              "currentRating": "STANDARD",
              "reviewReason": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "349c71cc-551a-5753-967b-a8e9046eecc7",
            "correlationId": "215f6f90-2c72-5703-aee7-8864e424f343",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCreditRating": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the financial product."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the credit rating becomes effective."
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the customer's relationship."
          },
          "ratingScale": {
            "type": "string",
            "description": "Scale used for the credit rating."
          },
          "currentRating": {
            "type": "string",
            "description": "Current credit rating of the customer."
          },
          "reviewReason": {
            "type": "string",
            "description": "Reason for the last review of the credit rating."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Schema representing an individual customer's credit rating."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across different services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was used to process the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-search-customer-credit-rating"
        },
        "example": "customer-credit-rating-search-customer-credit-rating"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs bearer authentication using JSON Web Tokens (JWT). Clients must send a bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}