{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan By Disbursement Id-spec",
    "description": "The Update Loan Disbursement API allows financial institutions to modify existing loan disbursement details using specific identifiers such as loanId and disbursementId. This functionality is essential for maintaining accurate records and accommodating changes in disbursement information. Typically used by loan administrators and customer service agents, this API enables seamless updates to loan data while ensuring compliance with financial regulations. By utilizing this endpoint, businesses can enhance their loan management processes and improve customer satisfaction through timely adjustments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements/{disbursementId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Disbursement",
        "description": "This endpoint allows you to update the details of a specific loan disbursement identified by its unique resource ID. Ensure to provide the necessary fields for the update.",
        "operationId": "updateLoanByDisbursementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the disbursement details for the specified loan and disbursement ID. Ensure to provide all necessary fields according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanByDisbursementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanByDisbursementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanByDisbursementIdRequest": {
        "title": "Loan Disbursement Patch Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be disbursed, including currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement is effective.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applicable to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or notes regarding the disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context of the request for logging and tracing purposes.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for patching disbursement details of a loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-591",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "7e637690-0649-509d-bbd5-59e5e4c67341",
            "correlationId": "9bc249e7-28ad-5378-a479-d7d547fcd86e",
            "idempotencyKey": "4a419645-cb68-570c-b821-3b923f7a5df6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-788779"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "The numerical amount in the specified currency."
          }
        },
        "description": "Schema representing an amount with currency information."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account number of the beneficiary."
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code of the beneficiary's bank."
          },
          "bankName": {
            "type": "string",
            "description": "Name of the beneficiary's bank."
          },
          "address": {
            "description": "Address of the beneficiary.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Schema representing the beneficiary's details."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address."
          },
          "city": {
            "type": "string",
            "description": "City of the beneficiary's address."
          },
          "state": {
            "type": "string",
            "description": "State of the beneficiary's address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the beneficiary's address."
          },
          "country": {
            "type": "string",
            "description": "Country of the beneficiary's address."
          }
        },
        "description": "Schema representing an address."
      },
      "Deduction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of deduction (e.g., tax, fee)."
          },
          "amount": {
            "description": "The amount of the deduction.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing a deduction applied to the disbursement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-100"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idemp-999"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from where the request originated.",
            "example": "LoanManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Channel details from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing request context for logging and tracing."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing details about the request channel."
      },
      "UpdateLoanByDisbursementIdResponse_200": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount related to the loan disbursement.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used for the disbursement.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement is valued.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "The beneficiary details for the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or description related to the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference associated with the disbursement.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement record.",
            "example": "3488b827-67a1-d70b-dfad-d705d9f9ff15"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "A specific number assigned to the disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "The gross amount before any deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "description": "The net amount after deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference number for the transaction.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code indicating a failure in processing the disbursement, if applicable.",
            "example": "CODE-104"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message describing the failure in processing, if applicable.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information for tracking the record changes.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the disbursement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan disbursements operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-115",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "3488b827-67a1-d70b-dfad-d705d9f9ff15",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-104",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "8af5c522-992c-51d1-827f-fa25348b103c",
            "correlationId": "9bc249e7-28ad-5378-a479-d7d547fcd86e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the record was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of who created the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of who last updated the record."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32"
          }
        },
        "description": "Schema representing audit details for record tracking."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the specific endpoint being accessed. This helps in tracking and managing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-update-disbursement"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-update-disbursement"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime that executed the request. This information can assist in debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of API requests. Clients can authenticate by providing a valid token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}