{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Data Review Submission API",
    "description": "The Market Data Review Submission API allows clients to submit reviews related to market data switch operations. This API is designed for financial institutions and market analysts, enabling them to provide feedback on specific market data transactions. By using this endpoint, users can enhance the quality of data by adding valuable insights, which can assist in decision-making and improve service levels. Typical consumers include banking professionals and data analysts who require a structured method to communicate their evaluations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation/{param1}/reviews": {
      "post": {
        "tags": [
          "Market Data"
        ],
        "summary": "Create a review for a specific market data switch operation.",
        "description": "This endpoint allows you to submit a review for the market data switch operation identified by 'RES-100045'. Provide feedback and insights to help improve the service experience.",
        "operationId": "postMarketDataSwitchOperationReviews",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the market data switch operation RES-100045. It accepts a JSON payload that must conform to the specified schema. Ensure that all required fields are provided and that the data adheres to the defined validation rules.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMarketDataSwitchOperationReviewsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing is not yet complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMarketDataSwitchOperationReviewsResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostMarketDataSwitchOperationReviewsRequest": {
        "title": "Market Data Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, defined by specific criteria.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific item in the review scope.",
              "example": "Market trends"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date by which the review should be completed.",
            "format": "date-time",
            "example": 1786449600.0
          },
          "requestContext": {
            "description": "Information regarding the context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the market data review operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "59b58195-09ef-5127-81c2-e475a3a26ea8",
            "correlationId": "4db8883f-fd6a-52fc-86d0-668bfe8bb0a9",
            "idempotencyKey": "19bb46b6-dfd0-56f5-876f-471871a72653",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-280030"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking request flows across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotent-key-1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "format": "date-time",
            "example": 1697277600.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Application X"
          },
          "channel": {
            "description": "Details of the communication channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "PostMarketDataSwitchOperationReviewsResponse_202": {
        "title": "Market Data Switch Operation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference to the specific action taken during the operation.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the processing occurred.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the operation, including identifiers and processing details.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the market data switch operation after performing a POST request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "42151045-409a-5ff1-9389-1da828cc785b",
            "correlationId": "4db8883f-fd6a-52fc-86d0-668bfe8bb0a9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that is being accessed. This value helps in tracing the particular endpoint's request for logging and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-review-market-data-switch-operation-processing"
        },
        "example": "market-data-switch-operation-review-market-data-switch-operation-processing"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is executing the request. This header is useful for identifying the application context in which the request was made.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The bearer token should be provided in the 'Authorization' header of the HTTP request in the format 'Bearer {token}'. The token is a JSON Web Token (JWT) which contains encoded claims that can be verified by the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}