{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Product Management By Param1-spec",
    "description": "The Special Pricing Conditions Retrieval API allows consumers to access specific pricing conditions related to banking products by providing a unique parameter. This endpoint is essential for businesses looking to manage their product offerings efficiently, offering insights into special pricing strategies. Typical users include financial analysts, product managers, and developers integrating pricing mechanisms into applications. By leveraging this API, organizations can ensure they provide the best possible pricing options to their customers, aligned with their business strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions/{param1}": {
      "get": {
        "tags": [
          "Pricing Management"
        ],
        "summary": "Retrieve special pricing condition by ID",
        "description": "This endpoint allows you to fetch the details of a specific special pricing condition using its unique identifier. It is essential for managing and reviewing pricing strategies effectively.",
        "operationId": "getProductManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve special pricing conditions for a specific product identified by its unique resource identifier. The request should contain the necessary parameters to accurately fetch the related pricing conditions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of special pricing conditions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation to retrieve special pricing conditions. The body is expected to be a string that may contain specific parameters or identifiers related to the operation.",
        "example": "{}"
      },
      "GetProductManagementByParam1Response_200": {
        "title": "Special Pricing Conditions Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "Segment of the customer that the pricing applies to.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency in which the prices are set.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the pricing conditions are effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the pricing conditions.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing details regarding special pricing conditions for a product.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9294da34-f4c5-5a3c-a1c5-d252a3b7fcc4",
            "correlationId": "05d0112a-c758-5351-ba7d-98bf378a120d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value helps track which endpoint was called during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-get-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-get-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header indicates which application instance handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that allows access to secure endpoints. This uses a JSON Web Token (JWT) for the bearer token, which should be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}