{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Review Submission API",
    "description": "The Product Review Submission API enables businesses to collect and manage customer feedback for their banking products. This endpoint allows users to submit reviews associated with specific product deployments, thereby enhancing product visibility and customer engagement. Typical consumers include product managers and customer service teams who leverage this feedback to improve offerings. The API streamlines the process of gathering insights and building stronger customer relationships through structured review data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-deployment/{param1}/reviews": {
      "post": {
        "tags": [
          "Product Reviews"
        ],
        "summary": "Create a new review for a specific product deployment.",
        "description": "This endpoint allows users to submit a review for the product deployment identified by 'PROD-700045'. It captures user feedback to enhance product quality and customer satisfaction.",
        "operationId": "createProductReviewForDeploymentProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for submitting a review for product deployment PROD-700045. This includes the review details such as the reviewer's name, rating, and comments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductReviewForDeploymentProd700045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed. Review is being submitted.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductReviewForDeploymentProd700045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductReviewForDeploymentProd700045Request": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review which defines the targets of the review process.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Individual item within the review scope.",
              "example": "Feature A"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this operation.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The date and time by which the review should be completed, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for submitting a review operation in the product management system.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "2fde8b36-048f-5d4c-acd8-b749e698077c",
            "correlationId": "5327156f-58ec-5a21-8ed4-13523bdadea5",
            "idempotencyKey": "a4bc6047-de1c-5115-858c-d5a21a15467c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-412600"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to track related requests across systems.",
            "example": "corr-abc-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests produce the same result.",
            "example": "key-idempotent-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, in ISO 8601 format.",
            "example": "2023-10-20T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "ProductManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that the request originates from.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Context details for the request being made."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateProductReviewForDeploymentProd700045Response_202": {
        "title": "Product Deployment Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for a product deployment review operation, containing details about the action taken and its status.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7d4d6042-e6a7-5bea-b215-6f1cf50a346f",
            "correlationId": "5327156f-58ec-5a21-8ed4-13523bdadea5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used for tracking requests.",
            "example": "corr-91011"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the response of an operation, detailing various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-deployment-review-product-deployment-processing"
        },
        "example": "product-deployment-review-product-deployment-processing"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format, specifically JSON Web Tokens (JWT), to authenticate users. It should be included in the authorization header in the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}