{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchandising Loan Information API",
    "description": "The Merchandising Loan Information API provides access to detailed insights regarding merchandising loans within the banking system. By utilizing this API, developers can retrieve specific loan information based on the provided parameters. Typical consumers of this API include financial institutions and third-party applications that require data for credit analysis, customer support, and financial reporting. This API enhances decision-making processes by supporting seamless data access and integration for various business use cases.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/merchandising-loan/{param1}": {
      "get": {
        "tags": [
          "Lending"
        ],
        "summary": "Retrieve details of a specific merchandising loan.",
        "description": "This endpoint allows you to retrieve detailed information about a specific merchandising loan identified by its unique loan ID. Use this to access loan terms, amounts, and other relevant details for LOAN-500045.",
        "operationId": "getMerchandisingLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of the merchandising loan with the specified identifier. Ensure that the loan ID is valid and formatted correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchandisingLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was handled successfully and the response contains the requested loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchandisingLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchandisingLoanDetailsRequest": {
        "type": "string",
        "description": "A request body schema representing a specific operation for a merchandising loan. This schema is used in the context of handling a GET operation for a loan identified by LOAN-500045.",
        "example": "{}"
      },
      "GetMerchandisingLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-398589"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-386250"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the loan.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the loan including currency.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which repayments are due.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional meta information regarding the loan.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving loan operations.",
        "example": {
          "customerId": "CUST-398589",
          "accountId": "ACC-386250",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fbdc953c-6f82-5f11-980f-9c0edd97fb68",
            "correlationId": "2cdc106b-e21f-5c56-9a83-062708ac64d9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal loan.",
            "example": 15000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this operation with other operations.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata about the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchandising-loan-get-merchandising-loan"
        },
        "example": "merchandising-loan-get-merchandising-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication strategy for securing the API. A JWT (JSON Web Token) must be included in the Authorization header for authenticated access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}