{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Interbank Relationship Management API",
    "description": "The Interbank Relationship Management API facilitates the dynamic updating of interbank relationship data, enabling banks to maintain current and accurate records of their partnerships. Users can modify relationship attributes, such as terms, conditions, and status, which are essential for operational efficiency and compliance. This API is typically utilized by financial institutions and banking software providers to manage and optimize their interbank interactions. By streamlining these operations, the API supports better decision-making and enhances the collaborative framework between banks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/interbank-relationship-management/{param1}": {
      "patch": {
        "tags": [
          "Interbank Relationship Management"
        ],
        "summary": "Update an existing interbank relationship resource.",
        "description": "This operation allows you to update the details of a specific interbank relationship identified by its resource ID. Providing the necessary changes will ensure the resource reflects the most current information, facilitating better management and integration.",
        "operationId": "patchInterbankRelationshipManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the interbank relationship management details for a specific agency identified by RES-100045. It is essential to provide the necessary fields to reflect the updates in the agency's interbank relationship.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchInterbankRelationshipManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchInterbankRelationshipManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchInterbankRelationshipManagementRes100045Request": {
        "title": "Patch Request Body for Interbank Relationship Management",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be applied to the relationship management.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the proposed changes to the relationship.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the individual or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used in patch operations for managing interbank relationships.",
        "example": {
          "changes": {
            "institutionId": "STANDARD",
            "agreementId": "AGR-532230",
            "bic": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "80425366-6c9c-5ba2-bf4e-2a106ded6bde",
            "correlationId": "85438507-ba22-5e95-8bfb-c2b38ce6f70c",
            "idempotencyKey": "571bf665-9902-5b73-8c10-0c84a25a2c60",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-215321"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Identifier for the institution involved in the relationship.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement under which the relationship is managed.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) for the institution.",
            "example": "string"
          }
        },
        "description": "Schema to detail the individual changes being made to the interbank relationship."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests through systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application generating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel utilized for the request (e.g., API, mobile app).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details from which the request originated."
      },
      "PatchInterbankRelationshipManagementRes100045Response_200": {
        "title": "Patch Response for Interbank Relationship Management",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the response structure for the PATCH request in the Interbank Relationship Management operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ca20d83-8749-5f0f-9968-b11811129c67",
            "correlationId": "85438507-ba22-5e95-8bfb-c2b38ce6f70c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema provides additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interbank-relationship-management-update-interbank-relationship-management"
        },
        "example": "interbank-relationship-management-update-interbank-relationship-management"
      },
      "X-Runtime-App": {
        "description": "Name of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication using JSON Web Tokens (JWT). This scheme is used to securely transmit information between parties as a JSON object, allowing verification of the token's authenticity and integrity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}