{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Product Management Product Deployments-spec",
    "description": "The Product Deployment Listing API provides access to the details of product deployments within the banking product management system. It enables consumers to retrieve a comprehensive list of all deployed products, along with their current statuses and relevant metadata. This API is essential for developers and stakeholders who require visibility into deployment history and current state for operational monitoring and reporting purposes. Typical use cases include integration with product management dashboards and automated deployment tracking systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-deployment": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product deployment details.",
        "description": "This endpoint allows users to fetch detailed information about product deployments, including their status and configuration settings. It is essential for monitoring and managing product deployment workflows.",
        "operationId": "listProductManagementProductDeployments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the current deployment status of a product within the product management system. The data structure allows clients to specify the necessary parameters for querying the deployment details, ensuring appropriate results tailored to the requested product.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductManagementProductDeploymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the product deployment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductManagementProductDeploymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListProductManagementProductDeploymentsRequest": {
        "type": "string",
        "description": "The JSON request body for retrieving product deployment information.",
        "example": "{}"
      },
      "ListProductManagementProductDeploymentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of products.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the list of products.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product deployment information.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1c52152f-ff93-591c-a777-89bba6f0116f",
            "correlationId": "b56cee7a-c0e9-5a60-b0f7-056b3c1fdbe4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code of the product."
          },
          "productName": {
            "type": "string",
            "description": "Name of the product."
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment for which the product is intended."
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency for the product pricing."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the product information is effective."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the product record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the product information was last updated."
          }
        },
        "description": "Schema representing a product."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-deployment-search-product-deployment"
        },
        "example": "product-deployment-search-product-deployment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where the client sends a JSON Web Token (JWT) in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}