{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Servicing Activity Analysis API",
    "description": "The Cross-Channel Servicing Activity Analysis API allows businesses to submit and analyze servicing activity data across various channels. It facilitates insights into customer interactions and service efficiency, enabling organizations to optimize their servicing strategies. This API is particularly useful for financial institutions looking to improve customer experience through data-driven decisions. Typical users include data analysts, customer service managers, and IT professionals who need to streamline servicing activities and enhance operational performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis/analyses": {
      "post": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Create a new servicing activity analysis.",
        "description": "This endpoint allows users to generate a new analysis for servicing activities across channels. It enables businesses to evaluate performance, identify trends, and improve servicing strategies.",
        "operationId": "createCrossChannelServicingActivityAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new servicing activity analysis through the cross-channel API. It expects a JSON payload that contains the parameters necessary for the analysis to be conducted, following the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelServicingActivityAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully completed the request and returned the analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelServicingActivityAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelServicingActivityAnalysisRequest": {
        "title": "Request Body for Cross-Channel Servicing Activity Analysis",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the analysis.",
            "example": "PARTY-324016"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction related to the servicing activity.",
            "example": "INT-827943"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The authentication level required for the interaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request including identification and tracking information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the Cross-Channel Servicing Activity Analysis operation. It includes information about the party, interaction, channel, authentication level, and the context of the request.",
        "example": {
          "partyId": "PARTY-324016",
          "interactionId": "INT-827943",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "a476e0b4-21b9-52c6-aa30-d8c84b9e31e5",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "idempotencyKey": "6ed6b45f-a025-577f-8ab6-c0c6dba76d33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843053"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier assigned to the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this request with other related requests in a distributed system.",
            "example": "correlation-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once in case of retries.",
            "example": "idempotency-202"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "web-portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "customer-service-app"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the context for the request, containing identifiers used for request tracking and source identification."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-303"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel.",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the interaction.",
            "example": "device-404"
          }
        },
        "description": "This schema represents information about the communication channel used in an interaction."
      },
      "CreateCrossChannelServicingActivityAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the analysis.",
            "example": "PARTY-718841"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction associated with the analysis.",
            "example": "INT-456638"
          },
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "List of findings from the analysis, each containing metrics and values.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the operations analysis in cross-channel servicing activity.",
        "example": {
          "partyId": "PARTY-718841",
          "interactionId": "INT-456638",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "6cc762c0-0009-5300-b81e-199be62f42a1",
            "correlationId": "61c214e7-eb32-5fac-a972-46b6f5c5f891",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric being measured in the finding.",
            "example": "string"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 0.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of the metric value.",
            "example": "string"
          }
        },
        "description": "Represents a finding in the analysis including its metric, value, and unit."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Represents additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, which can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-analyze-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request, providing context for the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer token authorization. A valid JWT (JSON Web Token) must be included in the request for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}