{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Notification Subscriptions Webhook By Webhook Id-v5-spec",
    "description": "This API provides access to the details of a specific notification subscription identified by its unique webhook ID. Typical consumers include developers and system integrators who need to manage and monitor notification subscriptions. The operation enables users to fetch pertinent information regarding subscription settings, triggers, and associated events. Use cases often involve debugging notifications or ensuring proper configuration of webhook interactions across services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve webhook details",
        "description": "This endpoint allows you to fetch detailed information about the specified webhook using its unique identifier. It provides all the necessary metadata and configuration associated with the webhook.",
        "operationId": "getNotificationSubscriptionsWebhookByWebhookId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "A JSON object representing the request details for retrieving webhook information related to RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNotificationSubscriptionsWebhookByWebhookIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the webhook details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotificationSubscriptionsWebhookByWebhookIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetNotificationSubscriptionsWebhookByWebhookIdRequest": {
        "type": "string",
        "description": "Request body for the GET operation in the webhooks API, formatted as JSON.",
        "example": "{}"
      },
      "GetNotificationSubscriptionsWebhookByWebhookIdResponse_200": {
        "title": "Webhook Subscription Response",
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the webhook subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook events are sent.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "A list of webhook event configurations.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the webhook subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date when the webhook subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful webhook subscription retrieval.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "a601b67e-271a-5af1-951f-b8235cafa2b0",
            "correlationId": "dcf5c39d-62c1-5100-90f4-b7d9e685ea48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "title": "Webhook Event",
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL endpoint to which the event data is sent.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The status of the webhook event.",
            "example": "string"
          },
          "condition": {
            "$ref": "#/components/schemas/WebhookEventCondition"
          }
        },
        "description": "Schema representing individual webhook event details."
      },
      "WebhookEventCondition": {
        "title": "Webhook Event Condition",
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The condition under which the webhook will be activated.",
            "example": "string"
          },
          "includes": {
            "type": "array",
            "description": "A list of items that should be included in this condition.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of items that should be excluded from this condition.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the conditions of a webhook event."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint responsible for processing the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-webhook-subscription-by-id"
        },
        "example": "open-finance-api-get-webhook-subscription-by-id"
      },
      "x-runtime-app": {
        "description": "The name of the application in which the webhook is executed, providing context for logging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication, where the client must send the token as part of the authorization header in their requests. The token should be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}