{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan Status Transition-spec",
    "description": "This API facilitates the management of loan status transitions, enabling users to update the current status of specific loans. Through the use of the loan ID, consumers can effectively transition loans between various states, ensuring up-to-date processing and record-keeping. This operation is crucial for financial institutions managing loan portfolios, allowing them to respond to changing borrower situations seamlessly. Typical users include loan officers, backend services, and financial system integrations that require real-time status updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/status-transitions": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update the status transitions of a loan.",
        "description": "This operation allows the user to update the status transitions of a specific loan identified by its unique identifier. It enables the management of the loan's lifecycle by altering its current status based on the updates provided.",
        "operationId": "replaceLoanStatusTransition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the status transitions of a specific loan identified by LOAN-500045. The input should provide all necessary information to facilitate the status change, adhering to the defined structure of the loan status transition schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanStatusTransitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The status transition was successfully completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanStatusTransitionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanStatusTransitionRequest": {
        "title": "Loan Status Transition Request",
        "type": "object",
        "properties": {
          "targetStatus": {
            "type": "string",
            "description": "The desired status to change the loan to.",
            "example": "ACTIVE"
          },
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for the status transition.",
            "example": "CODE-810"
          },
          "reasonDescription": {
            "type": "string",
            "description": "A description providing details about the reason for the transition.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the new status will be effective.",
            "example": "2026-09-15"
          },
          "accountingReference": {
            "type": "string",
            "description": "An accounting reference related to the loan.",
            "example": "STANDARD"
          },
          "approvalReference": {
            "type": "string",
            "description": "A reference identifier for the approval process.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for transitioning the status of a loan.",
        "example": {
          "targetStatus": "ACTIVE",
          "reasonCode": "CODE-810",
          "reasonDescription": "STANDARD",
          "effectiveDate": "2026-09-15",
          "accountingReference": "STANDARD",
          "approvalReference": "STANDARD",
          "requestContext": {
            "requestId": "fcee87b3-437a-5f9b-952c-640887375f0d",
            "correlationId": "2e9e7986-14d1-5c66-89dd-d87f286de0bc",
            "idempotencyKey": "39a395cd-2b68-517b-90e2-20eba417d5b9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-804371"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent operations.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "LoanManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "ReplaceLoanStatusTransitionResponse_200": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The identifier for the application that initiated the request.",
            "example": "APP-178428"
          },
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product.",
            "example": "PROD-591369"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer associated with the loan.",
            "example": "CUST-996854"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "A list of identifiers for borrowers associated with the loan.",
            "example": [
              "CUST-789295"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a borrower customer.",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date for the first repayment of the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number from which repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch servicing the loan.",
            "example": "CODE-520"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager overseeing the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan was taken.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "90337afd-803f-56ba-8d56-74d57599078e"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "The balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount disbursed for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalRepaid": {
            "description": "The total amount repaid for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "metadata": {
            "description": "Metadata related to the loan operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the loan status transition operation.",
        "example": {
          "sourceApplicationId": "APP-178428",
          "productId": "PROD-591369",
          "primaryCustomerId": "CUST-996854",
          "borrowerCustomerIds": [
            "CUST-789295"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-520",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "90337afd-803f-56ba-8d56-74d57599078e",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "09e51f19-b03b-5ba4-8ca5-cb4a44a1a545",
            "correlationId": "2e9e7986-14d1-5c66-89dd-d87f286de0bc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000.00"
          }
        },
        "description": "Represents an amount of money with its currency."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "The principal amount that is still outstanding.",
            "$ref": "#/components/schemas/Money"
          },
          "accruedInterest": {
            "description": "The interest accrued on the loan that is still outstanding.",
            "$ref": "#/components/schemas/Money"
          },
          "feesOutstanding": {
            "description": "Any outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesOutstanding": {
            "description": "Any penalties that are outstanding on the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalOutstanding": {
            "description": "The total outstanding amount of the loan, including principal and interest.",
            "$ref": "#/components/schemas/Money"
          },
          "availableToDraw": {
            "description": "The amount that is available to draw against the loan.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Details of the loan balance."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating related operations.",
            "example": "correlationId123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the loan operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-transition-loan-status"
        },
        "example": "banking-loans-openapi-transition-loan-status"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-037"
        },
        "example": "WF-037"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the loan status transition.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Restructuring and Forbearance"
        },
        "example": "Loan Restructuring and Forbearance"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow controlling the loan status transition.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f4850663-ab43-44fe-a41a-6b3191ec7003"
        },
        "example": "f4850663-ab43-44fe-a41a-6b3191ec7003"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where a JWT (JSON Web Token) is passed in the Authorization header. It is essential for securing endpoints and verifying the identity of users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}