{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mortgage Application Submission API",
    "description": "The Mortgage Application Submission API enables financial institutions to facilitate the creation and submission of mortgage applications on behalf of customers. This endpoint allows users to input key application details and submit them for processing. Typical consumers include mortgage brokers, loan officers, and other financial service providers looking to streamline their application processes. By utilizing this API, businesses can enhance customer experience and improve operational efficiency in handling mortgage requests.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/mortgage-applications": {
      "post": {
        "tags": [
          "Mortgage Applications"
        ],
        "summary": "Submit a new mortgage application for a specific customer.",
        "description": "This endpoint allows the user to create a new mortgage application for the customer identified by the specified customer ID. Ensure all necessary information is provided in the request body to successfully process the application.",
        "operationId": "createMortgageApplicationForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new mortgage application for the specified customer (CUST-100045). The body must contain all required data fields necessary for processing the mortgage application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMortgageApplicationForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mortgage application submitted successfully, and the resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMortgageApplicationForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMortgageApplicationForCustomerCUST100045Request": {
        "title": "Mortgage Application Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-581410"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account.",
            "example": "ACC-742243"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the mortgage product type.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the mortgage.",
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the mortgage in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "propertyId": {
            "type": "string",
            "description": "Unique identifier for the property being financed.",
            "example": "STANDARD"
          },
          "propertyValue": {
            "description": "The appraised value of the property.",
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "The loan-to-value ratio expressed as a percentage.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Metadata related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a mortgage application request by a customer.",
        "example": {
          "customerId": "CUST-581410",
          "accountId": "ACC-742243",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "propertyId": "STANDARD",
          "propertyValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "loanToValuePercent": 100.0,
          "requestContext": {
            "requestId": "32d132ad-b724-51e5-8874-a9a2760f30d5",
            "correlationId": "7976e004-e6fc-5f6f-841b-8bb7deb6bbbc",
            "idempotencyKey": "06b42056-812c-5167-a0e1-a53377b4d8fc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-702874"
            }
          }
        }
      },
      "AmountCurrency": {
        "title": "Amount and Currency",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 150000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount and its associated currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-1000001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "CORR-1000001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEM-KEY-1000001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application of the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context and metadata of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "DEVICE-1"
          }
        },
        "description": "Schema representing information about the channel from which the request was made."
      },
      "CreateMortgageApplicationForCustomerCUST100045Response_201": {
        "title": "Mortgage Application Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-130819"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the mortgage application.",
            "example": "ACC-577388"
          },
          "productCode": {
            "type": "string",
            "description": "The code for the mortgage product that has been applied for.",
            "example": "CHK-PREMIUM-US"
          },
          "propertyId": {
            "type": "string",
            "description": "The unique identifier for the property related to the mortgage application.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with this application.",
            "example": "RES-359936"
          },
          "status": {
            "type": "string",
            "description": "The current status of the mortgage application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the mortgage application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the mortgage application.",
            "$ref": "#/components/schemas/MortgageApplicationMetadata"
          }
        },
        "description": "Schema representing the response for a mortgage application operation.",
        "example": {
          "customerId": "CUST-130819",
          "accountId": "ACC-577388",
          "productCode": "CHK-PREMIUM-US",
          "propertyId": "STANDARD",
          "resourceId": "RES-359936",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "dd54ccc9-41ab-573a-824c-035e64c5c5ed",
            "correlationId": "7976e004-e6fc-5f6f-841b-8bb7deb6bbbc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MortgageApplicationMetadata": {
        "title": "Mortgage Application Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated for this application.",
            "example": "RESP-111"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate messages within the system.",
            "example": "CORR-222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the application is being processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata related to a mortgage application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-create-mortgage-loan"
        },
        "example": "mortgage-loan-create-mortgage-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with this request, useful for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-032"
        },
        "example": "WF-032"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this request, which helps identify the specific business process being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Mortgage Origination and Collateral Setup"
        },
        "example": "Mortgage Origination and Collateral Setup"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress through various stages of execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the current execution of the workflow, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a4462d36-f33c-432e-9052-86419fee7775"
        },
        "example": "a4462d36-f33c-432e-9052-86419fee7775"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token authentication method. The client must include a JSON Web Token (JWT) in the Authorization header when making requests to secured endpoints. This ensures that the request is authenticated and authorized.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}