{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Institution Certifiedinstitutions-spec",
    "description": "The Certified Institutions Listing API provides access to a comprehensive list of institutions that have received certification. It enables users to retrieve detailed information on certified institutions, facilitating compliance checks and ensuring the credibility of educational service providers. This endpoint is commonly utilized by regulatory bodies, accreditation organizations, and educational institutions for verification and analysis purposes. By leveraging this API, developers can seamlessly integrate certification data into their applications, enhancing transparency and trust in the education sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/certifiedinstitutions": {
      "get": {
        "tags": [
          "Certified Institutions"
        ],
        "summary": "Retrieve a list of certified institutions.",
        "description": "This endpoint allows users to fetch a comprehensive list of institutions that have received certification. It provides essential data required for understanding the institution's standing and to ensure compliance with relevant standards.",
        "operationId": "listInstitutionCertifiedinstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to retrieve a list of certified institutions. The body of the request should follow the specified schema for proper formatting and data integrity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInstitutionCertifiedinstitutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of certified institutions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstitutionCertifiedinstitutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInstitutionCertifiedinstitutionsRequest": {
        "type": "string",
        "description": "A JSON string representation of the request body for fetching certified institutions.",
        "example": "{}"
      },
      "ListInstitutionCertifiedinstitutionsResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond the current display.",
            "example": true
          },
          "requestedDate": {
            "type": "integer",
            "description": "The date on which the request was made, typically represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "A list of institutions retrieved from the request.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "liabilityData": true,
                "billPayData": true,
                "oauthEnabled": true,
                "productionStatus": {
                  "overallStatus": "ACTIVE",
                  "transAgg": "STANDARD",
                  "stateAgg": "STANDARD",
                  "voa": "STANDARD",
                  "voi": "STANDARD",
                  "ach": "STANDARD",
                  "aha": "STANDARD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the certified institutions GET operation.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "requestedDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "liabilityData": true,
              "billPayData": true,
              "oauthEnabled": true,
              "productionStatus": {
                "overallStatus": "ACTIVE",
                "transAgg": "STANDARD",
                "stateAgg": "STANDARD",
                "voa": "STANDARD",
                "voi": "STANDARD",
                "ach": "STANDARD",
                "aha": "STANDARD"
              }
            }
          ],
          "metadata": {
            "responseId": "790792a8-f4fd-54fb-abd9-23308666042e",
            "correlationId": "8087fa44-311e-53b8-8d93-c0052d0c9f44",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "String University"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled for the institution.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH (Automated Clearing House) transactions are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled for the institution.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if Voice of the Institution is enabled.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if Voice of the Account is enabled.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if AHA (Account Health Assessment) is enabled.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance is retrievable for the institution.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if the institution supports account ownership verification.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is accessible for the institution.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details can be retrieved for the institution.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is accessible for the institution.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available for the institution.",
            "example": false
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth authentication is enabled for the institution.",
            "example": false
          },
          "productionStatus": {
            "$ref": "#/components/schemas/ProductionStatus"
          }
        },
        "description": "Schema representing an individual institution."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information about the response."
      },
      "ProductionStatus": {
        "type": "object",
        "properties": {
          "overallStatus": {
            "type": "string",
            "description": "The overall status of the institution's production.",
            "example": "active"
          },
          "transAgg": {
            "type": "string",
            "description": "Status of transaction aggregation.",
            "example": "enabled"
          },
          "stateAgg": {
            "type": "string",
            "description": "Status of state aggregation.",
            "example": "enabled"
          },
          "voa": {
            "type": "string",
            "description": "Status of Voice of the Account.",
            "example": "enabled"
          },
          "voi": {
            "type": "string",
            "description": "Status of Voice of the Institution.",
            "example": "enabled"
          },
          "ach": {
            "type": "string",
            "description": "Status of ACH support.",
            "example": "enabled"
          },
          "aha": {
            "type": "string",
            "description": "Status of Account Health Assessment.",
            "example": "enabled"
          }
        },
        "description": "Production status of the institution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-certified-institutions"
        },
        "example": "open-finance-api-get-certified-institutions"
      },
      "x-runtime-app": {
        "description": "The name of the application that generated the request, useful for identifying the source of traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as JSON Web Token (JWT). This scheme is typically used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}