{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Sales Support Management API",
    "description": "The Product Sales Support Management API enables businesses to efficiently manage and update product sales support information. This API allows users to make adjustments to existing sales support data, ensuring that the product details remain accurate and up to date. Typical consumers include sales teams, customer support representatives, and product managers who rely on precise information to enhance customer interactions and drive sales performance. By utilizing this API, organizations can streamline their sales support processes and improve customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-sales-support/{param1}": {
      "patch": {
        "tags": [
          "Sales Support"
        ],
        "summary": "Update Sales Support for Product PROD-700045",
        "description": "This endpoint allows you to update the sales support information for the specified product identified by PROD-700045. Use this operation to modify details related to product sales assistance.",
        "operationId": "patchProductSalesSupportProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the product sales support information for the specified product ID (PROD-700045). It requires a JSON payload that conforms to the defined schema, which specifies the necessary fields that can be modified, along with their expected data types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductSalesSupportProd700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchProductSalesSupportProd700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchProductSalesSupportProd700045Request": {
        "title": "Product Sales Support Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ProductSalesChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user who is requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating product sales support information.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c8700abf-43ff-5eb7-bcd2-9577926f5024",
            "correlationId": "c8612631-6c55-5f1f-88e9-bde9b1f0767b",
            "idempotencyKey": "61ecc7ec-7e65-5421-803b-935a9dcb17d3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-617782"
            }
          }
        }
      },
      "ProductSalesChanges": {
        "title": "Product Sales Changes",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Identifier of the prospect associated with the changes.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product involved in the change.",
            "example": "string"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the product is being sold.",
            "example": "string"
          }
        },
        "description": "Details of the changes being requested for the product sales."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through various services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that is originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that is making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information surrounding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device making the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "PatchProductSalesSupportProd700045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for the Product Sales Support operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "48457518-3b5b-53b5-a7ec-6234cee956c7",
            "correlationId": "c8612631-6c55-5f1f-88e9-bde9b1f0767b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that helps correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing was performed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-sales-support-update-product-sales-support"
        },
        "example": "product-sales-support-update-product-sales-support"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}