{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Position Removal API",
    "description": "The Position Removal API facilitates the permanent deletion of specific positions within the banking account management system. This operation is essential for maintaining data integrity and compliance by allowing users to remove obsolete or incorrect entries efficiently. Typical consumers include auditors, financial analysts, and account managers who require clean and accurate data for reporting and operational purposes. By streamlining position management, this API helps organizations enhance their account oversight and improve decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-management/{param1}": {
      "delete": {
        "tags": [
          "Position Management"
        ],
        "summary": "Remove a specific position",
        "description": "This endpoint allows you to delete a position identified by its unique resource ID, effectively removing it from the account management system.",
        "operationId": "deleteAccountManagementPositionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for deleting the position with ID RES-100045. This operation requires the necessary permissions to remove the specified position from the account management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountManagementPositionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The deletion request was successful, and the resource has been removed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountManagementPositionRes100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeleteAccountManagementPositionRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for a DELETE operation in the position management system. It is expected to contain a JSON string.",
        "example": "{}"
      },
      "DeleteAccountManagementPositionRes100045Response_201": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-667846"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-169860"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource being managed.",
            "example": "RES-447893"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation's response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the DELETE operation in the Position Management API.",
        "example": {
          "accountId": "ACC-667846",
          "customerId": "CUST-169860",
          "resourceId": "RES-447893",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4bfd8040-5069-57a2-85de-6811d56b5310",
            "correlationId": "c3c750cc-ef4d-5565-8de9-5215156af357",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-321"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "correlation-654"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information regarding the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-management-create-position-management"
        },
        "example": "position-management-create-position-management"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request, useful for debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow that triggered this operation, aiding in traceability.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-008"
        },
        "example": "WF-008"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed. This provides context for the operation being performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Account Closure and Final Settlement"
        },
        "example": "Account Closure and Final Settlement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. Possible values include 'pending', 'running', 'completed', etc.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This can be used to track the workflow status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "50fc7523-ba7f-4e50-91a7-7175f9388283"
        },
        "example": "50fc7523-ba7f-4e50-91a7-7175f9388283"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token in the HTTP Authorization header. The Bearer token should follow the JSON Web Token (JWT) format, which allows the server to validate the authenticity of the token and the associated user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}