{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Rail Operation Status-spec",
    "description": "The Payment Rail Operation Status API provides access to the statuses of various payment rail operations. It enables businesses to monitor and retrieve the current status of payment transactions across different rail systems. Typical consumers include financial institutions and payment processors who need real-time updates to improve operational efficiency and customer satisfaction. By leveraging this API, users can ensure timely responses to inquiries related to payment processing, thus enhancing overall transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-rail-operations/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the status of payment rail operations.",
        "description": "This endpoint allows you to check the current status of various payment rail operations. It provides insights into operational metrics and helps identify any potential issues within the payment systems in real-time.",
        "operationId": "listPaymentRailOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve the status of payment rail operations. This request body structure must adhere to the specified JSON schema, which outlines the required properties for successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentRailOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning current payment rail operation status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentRailOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentRailOperationStatusRequest": {
        "type": "string",
        "description": "A request body schema that represents the status of operations in payment rail operations.",
        "example": "{}"
      },
      "ListPaymentRailOperationStatusResponse_200": {
        "title": "PaymentStatusResponse",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-307320"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the account of the debtor.",
            "example": "ACC-721259"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the account of the creditor.",
            "example": "ACC-882323"
          },
          "instructedAmount": {
            "description": "The amount that has been instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment execution is requested.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information provided with the payment for remittance.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response containing the status of a payment operation.",
        "example": {
          "paymentId": "PAY-307320",
          "debtorAccountId": "ACC-721259",
          "creditorAccountId": "ACC-882323",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b1ca208e-1a21-5efb-ac90-f271a189cc21",
            "correlationId": "dfcab42f-8482-5afd-b171-4622d63d1a5f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "InstructedAmount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the instructed amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency for the instructed payment."
      },
      "Metadata": {
        "title": "PaymentMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate messages between systems.",
            "example": "corr_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T09:50:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the payment is being processed.",
            "example": "US"
          }
        },
        "description": "Contains metadata related to the payment operation including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the payment endpoint being used in the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-rail-operations-get-payment-rail-operations"
        },
        "example": "payment-rail-operations-get-payment-rail-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically utilizing JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to secure endpoints. Ensure that the token is valid and properly scoped for the requested resource.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}