{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Application Management API",
    "description": "The Application Management API enables users to access and retrieve comprehensive details about deployed applications within the production environment. This endpoint offers vital insights into application properties, performance metrics, and statuses, assisting stakeholders such as operations teams and developers in monitoring application health. Common use cases include checking configuration settings or tracking application deployment progress. By facilitating this data exchange, the API supports efficient application lifecycle management and operational decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/applications": {
      "get": {
        "tags": [
          "Applications Management"
        ],
        "summary": "Retrieve a list of applications.",
        "description": "Fetches all applications available in the system. You can use this endpoint to get a comprehensive list of applications, including their current states and details.",
        "operationId": "getApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of applications based on the specified criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of applications.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetApplicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on applications with the content type application/json. It is expected to be a string.",
        "example": "{}"
      },
      "GetApplicationsResponse_200": {
        "title": "Applications Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of applications found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of applications currently displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more applications are available beyond the current list.",
            "example": true
          },
          "applications": {
            "type": "array",
            "description": "A list of application objects.",
            "example": [
              {
                "preAppId": 1,
                "applicationId": "APP-790559",
                "status": "ACTIVE",
                "name": "Northstar Banking Service",
                "scopes": "STANDARD",
                "note": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15",
                "submittedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations related to applications.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "applications": [
            {
              "preAppId": 1,
              "applicationId": "APP-790559",
              "status": "ACTIVE",
              "name": "Northstar Banking Service",
              "scopes": "STANDARD",
              "note": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15",
              "submittedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "285a559a-954f-5a5a-835e-929bdf4ec931",
            "correlationId": "7a2c62e4-a646-55cf-9df5-e02b94135334",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Application": {
        "title": "Application",
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "The preliminary application ID.",
            "format": "int32",
            "example": 0
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the application.",
            "example": "string"
          },
          "scopes": {
            "type": "string",
            "description": "The scopes associated with the application.",
            "example": "string"
          },
          "note": {
            "type": "string",
            "description": "Any notes associated with the application.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The date the application was created.",
            "example": "string"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date the application was last modified.",
            "example": "string"
          },
          "submittedDate": {
            "type": "string",
            "description": "The date the application was submitted.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual application."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-applications"
        },
        "example": "open-finance-api-get-applications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header of their requests using the Bearer authentication scheme.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}