{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debits Retrieval API",
    "description": "The Direct Debits Retrieval API allows users to access information about their direct debits associated with their bank accounts through the open banking framework. This API provides key insights into active direct debit transactions, enabling consumers to manage their finances effectively. Typical users include customers looking to review their direct debit commitments, financial institutions wishing to offer detailed account services, and developers implementing open banking solutions. With this API, stakeholders can ensure transparency and better control over direct debit operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/direct-debits": {
      "get": {
        "tags": [
          "Direct Debits"
        ],
        "summary": "Retrieve Direct Debits",
        "description": "This endpoint allows you to retrieve a list of direct debits associated with a specific account. It provides information about each direct debit, including the amount, frequency, and status.",
        "operationId": "getAispDirectDebits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching direct debit operations. This should contain the necessary parameters specified in the schema to retrieve information about direct debits.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispDirectDebitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of direct debit transactions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispDirectDebitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispDirectDebitsRequest": {
        "type": "string",
        "description": "This schema represents the request body for GET operations related to direct debits in the AISPS API.",
        "example": "{}"
      },
      "GetAispDirectDebitsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DirectDebit": {
                "type": "array",
                "description": "List of direct debit information.",
                "items": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains the direct debit data.",
            "example": {
              "DirectDebit": [
                {
                  "AccountId": "ACC-528277",
                  "id": "STANDARD",
                  "statusCode": "CODE-767",
                  "MandateRelatedInformation": {
                    "MandateIdentification": "2026-09-15",
                    "Classification": "STANDARD",
                    "CategoryPurposeCode": "CODE-108",
                    "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                    "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                    "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                    "Frequency": {
                      "Type": "STANDARD",
                      "CountPerPeriod": 1,
                      "PointInTime": "STANDARD"
                    },
                    "Reason": "STANDARD"
                  },
                  "Name": "Northstar Banking Service",
                  "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                  "PreviousPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for retrieving direct debit operations.",
        "example": {
          "Data": {
            "DirectDebit": [
              {
                "AccountId": "ACC-528277",
                "id": "STANDARD",
                "statusCode": "CODE-767",
                "MandateRelatedInformation": {
                  "MandateIdentification": "2026-09-15",
                  "Classification": "STANDARD",
                  "CategoryPurposeCode": "CODE-108",
                  "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                  "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                  "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                  "Frequency": {
                    "Type": "STANDARD",
                    "CountPerPeriod": 1,
                    "PointInTime": "STANDARD"
                  },
                  "Reason": "STANDARD"
                },
                "Name": "Northstar Banking Service",
                "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                "PreviousPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "501ee62c-915c-5728-91b9-99f05997f143",
            "correlationId": "001fde32-6b67-59ce-b8a5-3f087b264160",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebit": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the direct debit."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the direct debit."
          },
          "statusCode": {
            "type": "string",
            "description": "Current status code of the direct debit."
          },
          "MandateRelatedInformation": {
            "$ref": "#/components/schemas/MandateRelatedInformation"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the direct debit."
          },
          "PreviousPaymentDateTime": {
            "type": "string",
            "description": "Timestamp of the previous payment made."
          },
          "PreviousPaymentAmount": {
            "$ref": "#/components/schemas/PreviousPaymentAmount"
          }
        },
        "description": "Schema representing a direct debit entry."
      },
      "MandateRelatedInformation": {
        "type": "object",
        "properties": {
          "MandateIdentification": {
            "type": "string",
            "description": "Identification number of the mandate."
          },
          "Classification": {
            "type": "string",
            "description": "Classification of the mandate."
          },
          "CategoryPurposeCode": {
            "type": "string",
            "description": "Purpose code for the category of the direct debit."
          },
          "FirstPaymentDateTime": {
            "type": "string",
            "description": "Timestamp for the first payment."
          },
          "RecurringPaymentDateTime": {
            "type": "string",
            "description": "Timestamp for the recurring payment."
          },
          "FinalPaymentDateTime": {
            "type": "string",
            "description": "Timestamp for the final payment."
          },
          "Frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "Reason": {
            "type": "string",
            "description": "Reason for the direct debit."
          }
        },
        "description": "Information related to the mandate of the direct debit."
      },
      "Frequency": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of frequency (e.g., monthly, yearly)."
          },
          "CountPerPeriod": {
            "type": "integer",
            "description": "Number of payments per period.",
            "format": "int32"
          },
          "PointInTime": {
            "type": "string",
            "description": "Specific point in time related to the frequency."
          }
        },
        "description": "Frequency details for the payments."
      },
      "PreviousPaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the previous payment."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the previous payment amount."
          }
        },
        "description": "Schema representing the amount of the previous payment."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results."
          }
        },
        "description": "Pagination and navigation links for the response."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Timestamp for the first available date."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Timestamp for the last available date."
          }
        },
        "description": "Contains metadata about the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Metadata related to the response processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-direct-debits"
        },
        "example": "accounts-api-get-direct-debits"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWTs). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}