{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Trade Confirmation Matchings-spec",
    "description": "The Market Operation Trade Confirmation Matchings API provides a streamlined interface for retrieving trade confirmation matchings associated with market operations. This endpoint serves as a resource for financial institutions and trading platforms looking to validate and reconcile trades in an efficient manner. By accessing this API, users can obtain detailed information about confirmed matches, enhancing operational accuracy and compliance. Typical consumers include traders, compliance officers, and financial analysts seeking to monitor trade confirmations and related match activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-confirmation-matching": {
      "get": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Retrieve trade confirmation matches.",
        "description": "This endpoint allows you to retrieve trade confirmation matches from the market operations. It provides a streamlined way to access data related to trade confirmations, facilitating faster reconciliation and auditing processes.",
        "operationId": "listMarketOperationTradeConfirmationMatchings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving trade confirmation matching details. This body should adhere to the defined schema and contains the necessary parameters for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationTradeConfirmationMatchingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of trade confirmation matches.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationTradeConfirmationMatchingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationTradeConfirmationMatchingsRequest": {
        "type": "string",
        "description": "This schema represents a string format required for the trade confirmation matching request body.",
        "example": "{}"
      },
      "ListMarketOperationTradeConfirmationMatchingsResponse_200": {
        "title": "Trade Confirmation Matching Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of trade confirmation objects.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "clearingHouseId": "STANDARD",
                "settlementMethod": "STANDARD",
                "matchingStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeConfirmation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the trade confirmations.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema that contains the details of trade confirmations including matching status, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "clearingHouseId": "STANDARD",
              "settlementMethod": "STANDARD",
              "matchingStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b9b2cb18-9832-57de-9a4a-82b633e06c67",
            "correlationId": "9b6ddcac-9e02-5daa-8a57-17cd40145870",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeConfirmation": {
        "title": "Trade Confirmation",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade."
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument."
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the settlement will occur."
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units to be settled.",
            "format": "int32"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will occur."
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the assets."
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house involved."
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method used for settlement (e.g., Cash, Transfer)."
          },
          "matchingStatus": {
            "type": "string",
            "description": "Current matching status of the trade confirmation."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., Active, Inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the trade confirmation."
          }
        },
        "description": "Schema representing a single trade confirmation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the full dataset.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this specific response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-confirmation-matching-search-trade-confirmation-matching"
        },
        "example": "trade-confirmation-matching-search-trade-confirmation-matching"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context about which application handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be a JSON Web Token (JWT) that adheres to the standards for such tokens.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}