{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Relationship-spec",
    "description": "The Customer Relationship Management API facilitates the establishment of relationships for banking customers. This endpoint allows businesses to create new relationships for a specified customer, enhancing engagement and service delivery. Common use cases include linking customer accounts, managing partnerships, and establishing contractual relationships. Financial institutions and service providers can utilize this API to streamline customer relationship processes and enhance customer retention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/relationships": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a relationship for a specific customer.",
        "description": "This operation allows you to establish a new relationship for the customer identified by the given ID. Provide the necessary relationship details in the request body to successfully link this customer with the desired entity.",
        "operationId": "createCustomerRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update relationships for the customer with ID CUST-100045. It contains the necessary data required to establish the relationship as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRelationshipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new relationship for the customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerRelationshipResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerRelationshipRequest": {
        "title": "Customer Relationship Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-573026"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the relationship.",
            "example": "PARTY-230517"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product involved in the relationship.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the relationship becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier level of the relationship.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a relationship for a customer.",
        "example": {
          "customerId": "CUST-573026",
          "partyId": "PARTY-230517",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "1a0e6cf6-454e-57a8-bdf1-ef2c9a42ceee",
            "correlationId": "2f0591fc-ef9f-52d6-b378-189eaec96524",
            "idempotencyKey": "d3479b11-99bc-5915-a7ad-65a93c6e9146",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-555001"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "CORR-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEM-789012"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-202"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateCustomerRelationshipResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-519553"
          },
          "partyId": {
            "type": "string",
            "description": "The identifier for the party associated with the customer.",
            "example": "PARTY-876346"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the customer.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the transaction.",
            "example": "RES-234442"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation performed on customer relationships.",
        "example": {
          "customerId": "CUST-519553",
          "partyId": "PARTY-876346",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-234442",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7da9539c-2f91-59e5-890e-7c6098824566",
            "correlationId": "2f0591fc-ef9f-52d6-b378-189eaec96524",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESPONSE-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "CORRELATION-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-relationship-management-create-customer-relationship-management"
        },
        "example": "customer-relationship-management-create-customer-relationship-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for tracing the request's origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that initiated the request, allowing tracking of operations across multiple services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-002"
        },
        "example": "WF-002"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is associated with this request, used for tracking and identification purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Joint Account Onboarding and Relationship Setup"
        },
        "example": "Joint Account Onboarding and Relationship Setup"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress status such as 'Pending', 'InProgress', or 'Completed'.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, which can be used to track and reference specific instances of workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1224b4f5-dec7-4a2c-a53f-9068606d5134"
        },
        "example": "1224b4f5-dec7-4a2c-a53f-9068606d5134"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must send the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}