{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Compliance Financial Accounting-spec",
    "description": "The Financial Accounting Compliance Management API enables organizations to streamline the creation and management of financial accounting records in accordance with compliance requirements. This API allows users to submit new compliance specifications for financial accounting, ensuring adherence to industry standards and regulations. It is typically utilized by financial institutions, compliance officers, and accounting departments seeking to automate and enhance their compliance reporting processes. By leveraging this API, businesses can improve their financial transparency and reduce the risk of non-compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-accounting": {
      "post": {
        "tags": [
          "Compliance Management"
        ],
        "summary": "Create a financial accounting record for compliance.",
        "description": "This endpoint allows users to create a new financial accounting record that meets compliance requirements. Ensure that all required fields are filled out to maintain adherence to regulatory standards.",
        "operationId": "createComplianceFinancialAccounting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit financial accounting compliance information. Ensure that the data conforms to the specified schema to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplianceFinancialAccountingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been created successfully in the financial accounting system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplianceFinancialAccountingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateComplianceFinancialAccountingRequest": {
        "title": "Financial Accounting Operation Request Body",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity making this submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the submission falls.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "Period for which the report is submitted.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "Specific regulation governing the submission.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the submission.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the financial accounting operations in compliance submissions.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "50e8de59-9105-5189-bb48-4b1bb3027342",
            "correlationId": "7d97d399-4a61-5091-8a98-15336f4cb00a",
            "idempotencyKey": "aaa5c2f3-af71-5f92-a620-fff710bd1e04",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-213401"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through multiple services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "FinanceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "FinanceApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request for tracking purposes."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateComplianceFinancialAccountingResponse_201": {
        "title": "Financial Accounting Operation Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity associated with the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource tied to this operation.",
            "example": "RES-579294"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating whether it was successful or encountered issues.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata information related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for the financial accounting operation post request.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "resourceId": "RES-579294",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8ad91ae1-b5e6-51bc-9fec-781ea29fdb40",
            "correlationId": "7d97d399-4a61-5091-8a98-15336f4cb00a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this operation across different systems.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated in ISO 8601 format.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "A schema that contains additional metadata for the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking the specific API endpoint used during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-accounting-create-financial-accounting"
        },
        "example": "financial-accounting-create-financial-accounting"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application responsible for processing the request. This provides context about the backend service handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as bearer tokens, allowing secure token-based access for users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}