{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Authorization Void API",
    "description": "The Authorization Void API allows businesses to cancel or void existing authorizations by specifying the unique authorization ID. This operation helps ensure that any unnecessary or erroneous authorizations can be effectively reversed, maintaining accurate financial records. Typical consumers of this API include payment processing systems, merchant applications, and financial reporting tools. By utilizing this API, organizations can enhance their payment workflows and improve transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/void": {
      "post": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Void a specific authorization request.",
        "description": "This operation allows you to void an existing authorization identified by its unique code. By voiding an authorization, you can cancel its effect and prevent further processing or charges related to that authorization.",
        "operationId": "voidAuthorizationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to void an existing authorization. Ensure that all necessary parameters are included to successfully process the void operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidAuthorizationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The void operation completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidAuthorizationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "VoidAuthorizationRes100045Request": {
        "title": "Void Operation Request Body",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for the void operation.",
            "example": "CODE-662"
          },
          "reason": {
            "type": "string",
            "description": "A textual explanation of the reason for the void operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a void operation.",
        "example": {
          "reasonCode": "CODE-662",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "01f5bc3a-fa55-53cc-a30a-72a4f913430c",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "idempotencyKey": "960e8dc2-0d4c-52e5-a1eb-1df2d48644f3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-506913"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure that the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual data for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "VoidAuthorizationRes100045Response_200": {
        "title": "Authorization Response",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the related payment.",
            "example": "PAY-627632"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-345800"
          },
          "authorizedAmount": {
            "description": "The amount that has been authorized.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "The amount that has been captured from the authorization.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The total amount related to the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Status of the authorization.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "Code indicating the approval of the transaction.",
            "example": "CODE-102"
          },
          "expiresAt": {
            "type": "string",
            "description": "Date and time when the authorization expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the authorization.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the authorization response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing details of the authorization transaction.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-627632",
          "merchantId": "MER-345800",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-102",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "065c5a39-dd84-5db5-b933-cd932e99c33a",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money with its currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the record was created.",
            "example": "2023-10-01T15:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the record.",
            "example": "system_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-02T15:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the record.",
            "example": "admin_user"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information regarding the creation and modification of the authorization."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-10-10T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Additional information regarding the authorization response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-void-authorization"
        },
        "example": "banking-p2m-openapi-void-authorization"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format, typically represented as a JSON Web Token (JWT). Clients must include this token in the Authorization header to gain access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}