{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Customer Billing-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Operational Services Customer Billing-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "post": {
        "operationId": "createBankingOperationalServicesCustomerBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesCustomerBillingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesCustomerBillingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesCustomerBillingRequest": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "example": "ACC-196245"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-853730"
          },
          "billingPeriod": {
            "type": "string",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100.0,
                "currency": "USD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "chargeType": {
                  "type": "string",
                  "example": "string"
                },
                "amount": {
                  "type": "number",
                  "example": 0.0
                },
                "currency": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "dueDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "bb25c717-0b18-5c76-92dc-ca22892a8acd",
              "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
              "idempotencyKey": "6f673889-7b36-5b8e-8295-d2b235428d88",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-323086"
              }
            }
          }
        },
        "example": {
          "billingAccountId": "ACC-196245",
          "customerId": "CUST-853730",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100.0,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "bb25c717-0b18-5c76-92dc-ca22892a8acd",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "idempotencyKey": "6f673889-7b36-5b8e-8295-d2b235428d88",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-323086"
            }
          }
        }
      },
      "CreateBankingOperationalServicesCustomerBillingResponse_201": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "example": "ACC-828590"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-654131"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-883747"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "5f51fb34-6eb8-5d7c-bbf4-5970c49af50e",
              "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "billingAccountId": "ACC-828590",
          "customerId": "CUST-654131",
          "resourceId": "RES-883747",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5f51fb34-6eb8-5d7c-bbf4-5970c49af50e",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-create-customer-billing"
        },
        "example": "customer-billing-create-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}