{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Event Subscriptions-spec",
    "description": "This API provides access to information about event subscriptions related to Open Banking. By leveraging this endpoint, developers can query the active subscriptions to various events, allowing for integration and monitoring of banking activities. Typical consumers include financial service providers and application developers who need to stay informed of relevant banking events. The API allows for efficient retrieval of subscription details, enhancing operational awareness and service interaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "get": {
        "tags": [
          "Event Subscription Management"
        ],
        "summary": "Retrieve a list of event subscriptions.",
        "description": "This endpoint allows you to retrieve all event subscriptions currently available in the system. You can use this to view details of each subscription and monitor events effectively.",
        "operationId": "listOpenBankingEventSubscriptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to fetch event subscriptions. It should be formatted as JSON and adhere to the defined schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingEventSubscriptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of event subscriptions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingEventSubscriptionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingEventSubscriptionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on event subscriptions in JSON format. It is expected to be a string value.",
        "example": "{}"
      },
      "ListOpenBankingEventSubscriptionsResponse_200": {
        "title": "Event Subscriptions Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscription": {
                "type": "array",
                "description": "An array of event subscription objects.",
                "items": {
                  "$ref": "#/components/schemas/EventSubscription"
                }
              }
            },
            "description": "The main data object containing event subscription details.",
            "example": {
              "EventSubscription": [
                {
                  "id": "STANDARD",
                  "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                  "Version": "STANDARD",
                  "EventTypes": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "description": "Pagination links for navigating through event subscriptions.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Metadata providing additional context about the response.",
            "$ref": "#/components/schemas/MetaData"
          },
          "metadata": {
            "description": "Metadata containing identifiers and timestamps for the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Event Subscriptions GET operation, providing details about the subscriptions, associated metadata, and links for pagination.",
        "example": {
          "Data": {
            "EventSubscription": [
              {
                "id": "STANDARD",
                "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                "Version": "STANDARD",
                "EventTypes": [
                  "STANDARD"
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "b854d0f2-cb27-5e4c-84c8-3a8ec51bd174",
            "correlationId": "a794f144-f9c6-5ec7-8ae3-feed382c089d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventSubscription": {
        "title": "Event Subscription",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL to which event notifications will be sent.",
            "example": "https://example.com/callback"
          },
          "Version": {
            "type": "string",
            "description": "The version of the event subscription.",
            "example": "1.0"
          },
          "EventTypes": {
            "type": "array",
            "description": "An array of event types that this subscription listens for.",
            "items": {
              "type": "string",
              "example": "example.event.type"
            }
          }
        },
        "description": "Schema representing a single event subscription."
      },
      "PaginationLinks": {
        "title": "Pagination Links",
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "A link to the current page.",
            "example": "https://api.example.com/events?page=1"
          },
          "First": {
            "type": "string",
            "description": "A link to the first page of results.",
            "example": "https://api.example.com/events?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "A link to the previous page of results.",
            "example": "https://api.example.com/events?page=1"
          },
          "Next": {
            "type": "string",
            "description": "A link to the next page of results.",
            "example": "https://api.example.com/events?page=3"
          },
          "Last": {
            "type": "string",
            "description": "A link to the last page of results.",
            "example": "https://api.example.com/events?page=10"
          }
        },
        "description": "Schema containing pagination links for the response."
      },
      "MetaData": {
        "title": "Meta Data",
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for subscriptions.",
            "example": "2023-01-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for subscriptions.",
            "example": "2023-12-31T23:59:59Z"
          }
        },
        "description": "Schema representing metadata regarding the number of pages and availability of events."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "abcdef123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to track the request.",
            "example": "xyz987654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata that provides identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-get-event-subscriptions"
        },
        "example": "events-api-get-event-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token as the authorization method. The token should be a JSON Web Token (JWT) and must be included in the `Authorization` header of the request, following the format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}