{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Notification Subscription By Webhook Id-spec",
    "description": "This API endpoint allows for the modification of an existing notification subscription identified by a specific webhook ID. Businesses can utilize this service to adjust subscription settings to align with evolving needs, ensuring that notifications are delivered according to the latest requirements. Typical consumers include developers managing notification workflows and system administrators coordinating integrations across applications. By using this endpoint, users can streamline their notification processes and maintain seamless communication with their systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}": {
      "put": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update a specific webhook.",
        "description": "This endpoint allows you to update the configuration of a specified webhook identified by its unique resource ID. Ensure that all required fields are provided in the request to successfully update the webhook.",
        "operationId": "replaceNotificationSubscriptionByWebhookId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the webhook configuration for the specified resource. It supports a JSON payload that defines various properties of the webhook such as its URL, event types, and authentication details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceNotificationSubscriptionByWebhookIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceNotificationSubscriptionByWebhookIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceNotificationSubscriptionByWebhookIdRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The webhook URL that will receive the events.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "An array of event objects that describe the events to be subscribed to.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the webhook PUT operation.",
        "example": {
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "requestContext": {
            "requestId": "7abdae6a-5cd0-5a79-9156-b453155fa51c",
            "correlationId": "f9b78b60-bcd9-5be7-b71a-4accd52b4153",
            "idempotencyKey": "4ae3fd03-403d-5553-9852-00525442e0b9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-599433"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the event.",
            "example": "OrderCreated"
          },
          "url": {
            "type": "string",
            "description": "The URL that will handle this specific event.",
            "example": "https://example.com/events/order-created"
          },
          "condition": {
            "$ref": "#/components/schemas/EventCondition"
          }
        },
        "description": "Represents an individual event to subscribe to for the webhook."
      },
      "EventCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The type of subscription.",
            "example": "all"
          },
          "includes": {
            "type": "array",
            "description": "List of included criteria for the event.",
            "items": {
              "type": "string"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of excluded criteria for the event.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Conditions that specify when the event should be triggered."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idemp-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-03T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "AppA"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device involved in the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel from which the request originated."
      },
      "ReplaceNotificationSubscriptionByWebhookIdResponse_200": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The callback URL associated with the subscription.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "An array of events associated with the webhook subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response payload for updating a webhook subscription.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "89aa579f-d796-5aba-abbc-f46cd2a84cb8",
            "correlationId": "f9b78b60-bcd9-5be7-b71a-4accd52b4153",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "event-123456"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "UserCreated"
          },
          "url": {
            "type": "string",
            "description": "The URL that will receive the event notifications.",
            "example": "https://example.com/event-handler"
          },
          "status": {
            "type": "string",
            "description": "The status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/WebhookCondition"
          }
        },
        "description": "Schema representing a webhook event."
      },
      "WebhookCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The type of subscription for which the condition applies.",
            "example": "user"
          },
          "includes": {
            "type": "array",
            "description": "A list of conditions that must be included.",
            "items": {
              "type": "string",
              "example": "active"
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of conditions that must be excluded.",
            "items": {
              "type": "string",
              "example": "suspended"
            }
          }
        },
        "description": "Schema representing conditions for a webhook notification."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking request-response pairs.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-webhook-subscription"
        },
        "example": "open-finance-api-update-webhook-subscription"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a bearer token for authentication. The client must include the JWT in the Authorization header of each request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}