{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Management API",
    "description": "The Advanced Voice Services Management API provides businesses with tools to manage and optimize their voice communication services efficiently. This API allows users to retrieve specific information related to advanced voice functionalities within banking channels. Typical consumers include financial institutions seeking to enhance their customer service interactions via voice solutions. By leveraging this API, organizations can ensure they maintain high standards of voice service management, catering to their clients' needs effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-management/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve advanced voice service details.",
        "description": "This endpoint allows you to fetch detailed information about a specific advanced voice service identified by its unique resource ID. Utilize this endpoint to gather necessary information for management and decision-making.",
        "operationId": "getAdvancedVoiceServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve advanced voice service management details specific to the channel identified by RES-100045. Ensure that the request includes all necessary parameters for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdvancedVoiceServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvancedVoiceServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAdvancedVoiceServiceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the advanced voice services management API.",
        "example": "{}"
      },
      "GetAdvancedVoiceServiceByIdResponse_200": {
        "title": "Voice Services Management Response",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Unique identifier for the IVR flow.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single supported language.",
              "example": "en-US"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "Maximum number of concurrent calls the platform can handle.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "Geographical region code where the voice service is deployed.",
            "example": "US-EAST-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current recording status of the voice service.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the voice service configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the voice service configuration.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "res-54321"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking purposes.",
                "example": "corr-98765"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "US-West"
              }
            },
            "description": "Metadata related to the voice service response.",
            "example": {
              "responseId": "12d6bb25-6c6d-5bfd-8f73-63c6060c3b20",
              "correlationId": "e0853cc4-7621-53d1-a039-fd359f33a228",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for advanced voice services management operations.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "12d6bb25-6c6d-5bfd-8f73-63c6060c3b20",
            "correlationId": "e0853cc4-7621-53d1-a039-fd359f33a228",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-management-get-advanced-voice-services-management"
        },
        "example": "advanced-voice-services-management-get-advanced-voice-services-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the HTTP Authorization header. The token should be issued by a trusted authority and can be used to authenticate requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}