{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Channel Specific Branch Network Management-spec",
    "description": "The Channel Specific Branch Network Management API enables businesses to create and manage branch networks tailored to specific channels. This API provides functionality for configuring network settings, optimizing branch placements, and ensuring efficient resource allocation across various service channels. It is particularly beneficial for financial institutions and retail organizations looking to enhance their branch performance and customer reach. Developers can integrate this API to support dynamic branch interactions based on channel strategies and operational needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-network-management": {
      "post": {
        "tags": [
          "Branch Network Management"
        ],
        "summary": "Create a new branch network management entry.",
        "description": "This endpoint allows you to create a new entry for managing the branch network. It involves specifying the necessary details for the branch to ensure effective network management.",
        "operationId": "createChannelSpecificBranchNetworkManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating or managing branch network operations specific to a channel. It must conform to the defined schema to ensure the correct processing of the provided data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificBranchNetworkManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificBranchNetworkManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificBranchNetworkManagementRequest": {
        "title": "Channel Specific Branch Network Management Request",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the geographic region of the branch.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The service window timing for the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The total daily capacity of the branch.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of branch.",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The timezone of the branch operation.",
            "example": "America/New_York"
          },
          "requestContext": {
            "description": "The context for the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for branch network management operations specific to a channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "requestContext": {
            "requestId": "f81b5536-e1a9-5449-955a-554abe02f5f4",
            "correlationId": "c759f10c-f202-57d2-bf8d-34e931a11b29",
            "idempotencyKey": "8344e009-f148-5bce-bbbf-3a10764b92c5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-749528"
            }
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the service window opens.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the service window closes.",
            "example": "17:00"
          }
        },
        "description": "Defines the opening and closing times for a service window at a branch."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device that is part of the channel.",
            "example": "string"
          }
        },
        "description": "Represents the channel details for the requested operation."
      },
      "CreateChannelSpecificBranchNetworkManagementResponse_201": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region.",
            "example": "US-EAST-1"
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-666798"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation in the channel-specific branch network management API.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "branchId": "STANDARD",
          "resourceId": "RES-666798",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b9086c5c-04ce-5b53-8d52-f982d5af6315",
            "correlationId": "c759f10c-f202-57d2-bf8d-34e931a11b29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information relevant to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that is being called, which allows the server to route the request appropriately.",
          "example": "branch-network-management-create-branch-network-management"
        },
        "example": "branch-network-management-create-branch-network-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that is currently being used to run the request, which can be helpful for logging and monitoring purposes.",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This scheme utilizes JSON Web Tokens (JWT) for authentication, enabling secure access to the API. Users must include a valid bearer token in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}