{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Custody Administration-spec",
    "description": "The Market Operations Custody Administration API facilitates the management and administration of custody services within market operations. This endpoint allows users to create new custody administration records, ensuring proper oversight and compliance in banking transactions. Typical consumers include financial institutions and market operators looking to streamline their custody processes. By integrating this API, developers can enhance operational efficiency and maintain transparent records in asset management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration": {
      "post": {
        "tags": [
          "CustodyOperations"
        ],
        "summary": "Create a new custody administration record.",
        "description": "This endpoint allows the user to create a new custody administration record in the market operations system. A successful request will result in adding a new entry, which includes relevant custody details for the specified administration.",
        "operationId": "createMarketOperationCustodyAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate custody administration operations within the market operations API. It should include all necessary details required for processing the custody request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationCustodyAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and operation completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationCustodyAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationCustodyAdministrationRequest": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date on which the settlement of the trade is scheduled to occur.",
            "example": "2026-09-03"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units to be settled.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for the asset custody.",
            "example": "STANDARD"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Identifier for the safekeeping account.",
            "example": "ACC-342286"
          },
          "custodyLocation": {
            "type": "string",
            "description": "Location where the asset will be held in custody.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "Total quantity of the position in the account.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating related requests and responses.",
                "example": "CORR-654321"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure the idempotency of the request.",
                "example": "IDEMP-KEY-123"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp of when the request was made.",
                "example": "2023-10-30T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System from which the request originated.",
                "example": "CoreSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application from which the request originated.",
                "example": "TradingApp"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Context information for the request.",
            "example": {
              "requestId": "95c543de-7306-4305-b078-ac17d7fce4a8",
              "correlationId": "39fec35c-7594-4dc8-9e4d-0698823a6fcd",
              "idempotencyKey": "816c6e20-c765-4d6c-ab5f-4383f6351273",
              "requestedAt": "2026-08-27T23:01:09.741Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-756408"
              }
            }
          }
        },
        "description": "Request body for executing custody administration operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-03",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "safekeepingAccountId": "ACC-342286",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "requestContext": {
            "requestId": "95c543de-7306-4305-b078-ac17d7fce4a8",
            "correlationId": "39fec35c-7594-4dc8-9e4d-0698823a6fcd",
            "idempotencyKey": "816c6e20-c765-4d6c-ab5f-4383f6351273",
            "requestedAt": "2026-08-27T23:01:09.741Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-756408"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request is made.",
            "example": "DEV-12345"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateMarketOperationCustodyAdministrationResponse_201": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for the custody of the assets.",
            "example": "STANDARD"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Identifier for the safekeeping account.",
            "example": "ACC-719388"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the associated resource.",
            "example": "RES-422971"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Schema representing the response upon successful execution of the custody administration operation.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "safekeepingAccountId": "ACC-719388",
          "resourceId": "RES-422971",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a57288a6-cac1-56d3-8c11-f439c642cd81",
            "correlationId": "0dc5f36e-50ef-5d2d-9a8b-e4552b506ac7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs or operations related to this request.",
            "example": "CORR67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation occurred.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the operation response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ae9097afb5f63fe2"
        },
        "example": "ae9097afb5f63fe2"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cc522310-6e75-435b-b9ab-64ede9d18a06"
        },
        "example": "cc522310-6e75-435b-b9ab-64ede9d18a06"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "85afe4ea-7310-47d8-a728-dd20ad2a2f13"
        },
        "example": "85afe4ea-7310-47d8-a728-dd20ad2a2f13"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint which processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-create-custody-administration"
        },
        "example": "custody-administration-create-custody-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the operation in the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the current workflow, used to trace the flow of operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-056"
        },
        "example": "WF-056"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Custody Asset Servicing and Reconciliation"
        },
        "example": "Custody Asset Servicing and Reconciliation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b5334070-1602-4c86-baa5-94d6aa087855"
        },
        "example": "b5334070-1602-4c86-baa5-94d6aa087855"
      }
    }
  }
}