{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Rail Operations Management API",
    "description": "The Payment Rail Operations Management API facilitates the execution of various operational actions related to payment processing. This endpoint supports the initiation of workflows that manage payment transactions across different rail systems. Typically utilized by financial institutions and fintech developers, this API enables efficient handling of payment operations, ensuring seamless integration with banking systems. Use cases include adjusting transaction parameters, managing payment statuses, and orchestrating payment flows to enhance overall transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-rail-operations/operational-actions": {
      "post": {
        "tags": [
          "Payment Operations"
        ],
        "summary": "Create a new payment rail operational action.",
        "description": "This endpoint allows you to create a new operational action related to payment rails. It processes the input data to perform the specified operation and returns the result for further handling.",
        "operationId": "createPaymentRailOperationAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate operational actions within the payment rail operations. It should contain the necessary data as per the defined schema to successfully perform the requested operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRailOperationActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentRailOperationActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentRailOperationActionRequest": {
        "title": "Payment Operations Request",
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "Type of action to be performed.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the action.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the action request.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system that requested the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the action was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for payment operations.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "05bfe11e-e324-52a1-a0d8-43051e09bf62",
            "correlationId": "3af8de40-92a2-5c98-95a7-becdf4d1661c",
            "idempotencyKey": "5949ad61-60b6-57e4-a809-04a8a1574c7a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-123704"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that made the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details of the channel through which the request was made."
      },
      "CreatePaymentRailOperationActionResponse_202": {
        "title": "Operational Action Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationalActionMetadata"
          }
        },
        "description": "This schema represents the response received after performing an operational action in the payment rail operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4e2e5a79-6ec6-57b5-839e-b1b1e9984602",
            "correlationId": "3af8de40-92a2-5c98-95a7-becdf4d1661c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationalActionMetadata": {
        "title": "Operational Action Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple actions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the operational action, including identifiers and timing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-rail-operations-create-payment-rail-operations-operational-action"
        },
        "example": "payment-rail-operations-create-payment-rail-operations-operational-action"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses the Bearer authentication for HTTP requests. This scheme requires the client to send a JSON Web Token (JWT) in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}