{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Terminal Management API",
    "description": "The Terminal Management API provides an interface for retrieving detailed information about available terminals in the merchant network. This enables businesses to efficiently manage and monitor their terminal infrastructure. Typical consumers include merchants, system administrators, and integration partners who require real-time access to terminal data for reporting and operational management. By leveraging this API, stakeholders can ensure optimal utilization and performance of their terminal assets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals": {
      "get": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Retrieve a list of terminals",
        "description": "This endpoint allows you to fetch a comprehensive list of terminals available in the system. It supports pagination and filtering to help you manage and find specific terminals efficiently.",
        "operationId": "getTerminals",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the list of terminals. It contains the necessary parameters for the request, which are defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTerminalsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of terminals.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTerminalsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTerminalsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to terminals. The expected content type is application/json.",
        "example": "{}"
      },
      "GetTerminalsResponse_200": {
        "title": "Terminal Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of links for pagination and related resources.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of terminal details.",
            "example": [
              {
                "terminalId": "STANDARD",
                "merchantId": "MER-288826",
                "outletId": "STANDARD",
                "terminalType": "STANDARD",
                "label": "STANDARD",
                "serialNumber": "STANDARD",
                "deviceFingerprint": "STANDARD",
                "capabilities": [
                  "STANDARD"
                ],
                "status": "ACTIVE",
                "lastSeenAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Terminal"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracing requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "c1f40183-01ef-5776-b7b3-1282698acf34",
              "correlationId": "d3e5e242-34cc-5eb2-b8bf-780c8a9ca51d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving terminal information, including pagination and metadata details.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "terminalId": "STANDARD",
              "merchantId": "MER-288826",
              "outletId": "STANDARD",
              "terminalType": "STANDARD",
              "label": "STANDARD",
              "serialNumber": "STANDARD",
              "deviceFingerprint": "STANDARD",
              "capabilities": [
                "STANDARD"
              ],
              "status": "ACTIVE",
              "lastSeenAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "c1f40183-01ef-5776-b7b3-1282698acf34",
            "correlationId": "d3e5e242-34cc-5eb2-b8bf-780c8a9ca51d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "URL of the related resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used with this link.",
            "example": "string"
          }
        },
        "description": "Represents a hyperlink for navigating related resources."
      },
      "Terminal": {
        "title": "Terminal",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the terminal.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet associated with the terminal.",
            "example": "string"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal device.",
            "example": "string"
          },
          "label": {
            "type": "string",
            "description": "User-friendly label for the terminal.",
            "example": "string"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the terminal device.",
            "example": "string"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Unique fingerprint for device identification.",
            "example": "string"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "capability1",
              "capability2"
            ],
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "string"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of the last time the terminal was seen online.",
            "example": "string"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "Timestamp when the terminal was created.",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "description": "Identifier of the user who created the terminal.",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "description": "Timestamp when the terminal was last updated.",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "description": "Identifier of the user who last updated the terminal.",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "description": "Version number of the terminal record.",
                "format": "int32",
                "example": 0
              }
            },
            "description": "Audit information regarding the terminal's lifecycle."
          }
        },
        "description": "Represents a terminal device with its details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-terminals"
        },
        "example": "banking-p2m-openapi-list-terminals"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme that uses a JSON Web Token (JWT) for authentication. Clients must provide a valid JWT token in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}