{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Purchase Authorization Management API",
    "description": "The Purchase Authorization Management API enables businesses to initiate and manage purchase authorizations for customer cards. This endpoint allows authorized users to submit requests for purchase authorizations using a specified card ID. It is particularly useful for payment processing systems and financial institutions that need to ensure the availability of funds before transactions. Typical consumers of this API include e-commerce platforms and financial apps needing to implement secure payment solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/purchase-authorizations": {
      "post": {
        "tags": [
          "Card Operations"
        ],
        "summary": "Create a purchase authorization for a specific card.",
        "description": "This endpoint allows you to create a purchase authorization for the specified card. Use this to authorize transactions that will be completed later. Ensure you provide the necessary details in the request body to successfully create the authorization.",
        "operationId": "createPurchaseAuthorizationForCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a purchase authorization for a specific card. It should contain all necessary details required for processing the authorization request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePurchaseAuthorizationForCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The purchase authorization request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePurchaseAuthorizationForCardResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePurchaseAuthorizationForCardRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-394544"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "STANDARD"
          },
          "customerToken": {
            "type": "string",
            "description": "Token representing the customer.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "tipAmount": {
            "description": "The tip amount for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "order": {
            "description": "Details of the order associated with the transaction.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for purchase authorization operations.",
        "example": {
          "merchantId": "MER-394544",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "customerToken": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-450037",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "43d9f3f5-a111-5770-ad63-78409620d541",
            "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
            "idempotencyKey": "2a66ecce-5077-5682-8461-5444c496df80",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-390927"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents a monetary amount with a currency."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "order_12345"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Order for electronic items"
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Details of the order including items and summary."
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "The identifier for the item.",
            "example": "item_123"
          },
          "name": {
            "type": "string",
            "description": "The name of the item.",
            "example": "Laptop"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the item.",
            "example": "15-inch display laptop with 8GB RAM"
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered.",
            "example": "2"
          },
          "unitPrice": {
            "description": "The price per unit of the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "description": "Total amount for the item including quantity.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "description": "Total tax amount applicable to the item.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents a single item in an order."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking correlated requests.",
            "example": "correlation_12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency in requests.",
            "example": "idempotency_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-05T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "payment_gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel_12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., online, in-store).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device_12345"
          }
        },
        "description": "Represents the channel through which the transaction was initiated."
      },
      "CreatePurchaseAuthorizationForCardResponse_200": {
        "type": "object",
        "properties": {
          "payment": {
            "description": "Details about the payment transaction.",
            "$ref": "#/components/schemas/Payment"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for purchase authorization operations.",
        "example": {
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "e9fed0f7-461b-53b8-84b6-d4de6e3b9b09",
            "merchantId": "MER-654356",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "merchantOrderId": "ORD-318374",
            "channel": "STANDARD",
            "method": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-281",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "amounts": {
              "requested": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "authorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "refunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reversed": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "tip": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "fees": [
                {
                  "feeType": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "bearer": "CUSTOMER"
                }
              ],
              "netToMerchant": {
                "currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "3e8f3499-f836-54eb-9e16-b2ba84472e80",
            "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "intentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "string"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet where the payment is made.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal used for the payment.",
            "example": "string"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order ID assigned by the merchant.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for the transaction.",
            "example": "string"
          },
          "method": {
            "description": "Details of the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Detailed amounts related to the payment.",
            "$ref": "#/components/schemas/Amounts"
          }
        },
        "description": "Detailed information regarding the payment."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet, if applicable.",
            "example": "string"
          }
        },
        "description": "Information about the payment method used."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Information about the customer involved in the payment."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount requested for the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "Amount authorized for the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "Amount captured from the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "Amount refunded from the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "Amount that has been reversed.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "Tip amount given for the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the transaction.",
            "items": {
              "$ref": "#/components/schemas/FeeDetail"
            }
          },
          "netToMerchant": {
            "description": "Net amount that the merchant receives from the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Different amounts associated with the payment transaction."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Details about an amount, including currency and value."
      },
      "FeeDetail": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee.",
            "example": "string"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "Entity that bears the fee.",
            "example": "string"
          }
        },
        "description": "Details about a fee associated with the transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-customer-presented-payment"
        },
        "example": "banking-p2m-openapi-process-customer-presented-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a7f05082-b6d3-45fa-a142-a4a9efce2391"
        },
        "example": "a7f05082-b6d3-45fa-a142-a4a9efce2391"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a Bearer token, particularly in JWT format, to securely access protected resources. Clients must include this token in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}