{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Facility By Param1-spec",
    "description": "The Facility Information Retrieval API provides access to detailed information about specific facilities based on maintenance parameters. This endpoint allows users to query data using a unique identifier, enabling them to retrieve relevant facility details quickly. Ideal for stakeholders in the banking and maintenance sectors, the API supports use cases such as monitoring compliance, management of facility resources, and analytics. This functionality streamlines operations and improves decision-making for facility managers and financial analysts alike.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{param1}": {
      "get": {
        "tags": [
          "Equipment Maintenance"
        ],
        "summary": "Retrieve equipment maintenance details for a specific resource.",
        "description": "This endpoint allows users to fetch detailed information regarding the maintenance of equipment associated with the specified resource, identified by RES-100045. It provides insights into maintenance history, schedules, and current status.",
        "operationId": "getFacilityByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving equipment maintenance information for the specified facility. It contains parameters that may influence the response, such as equipment identifiers, maintenance types, and any filters that refine the data to be returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFacilityByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of equipment maintenance details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFacilityByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFacilityByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on equipment maintenance facilities. It is expected to be a string containing specific JSON formatted data.",
        "example": "{}"
      },
      "GetFacilityByParam1Response_200": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the work order.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order.",
            "example": "ORD-222632"
          },
          "scheduledDate": {
            "type": "string",
            "description": "Date when the maintenance is scheduled in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor performing the maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance will occur.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed (e.g., routine, emergency).",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration for the maintenance task in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record (e.g., active, completed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the maintenance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the maintenance record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate related requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Meta information related to the response.",
            "example": {
              "responseId": "49447f4a-9672-58ca-881e-01276fcd37f5",
              "correlationId": "85a0ea70-ab36-5f2f-95ce-94af92c7d994",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response for the maintenance operations related to facility equipment.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-222632",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "49447f4a-9672-58ca-881e-01276fcd37f5",
            "correlationId": "85a0ea70-ab36-5f2f-95ce-94af92c7d994",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being queried, useful for tracking and debugging API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-get-equipment-maintenance"
        },
        "example": "equipment-maintenance-get-equipment-maintenance"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request, aiding in monitoring and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) as a bearer token for authorization. Clients must include this token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}