{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Initiation API",
    "description": "The Payment Initiation API allows businesses to seamlessly initiate payment transactions within their banking services. By utilizing this API, developers can facilitate the creation of various payment types, enhancing efficiency and user experience. This service is ideal for financial institutions, e-commerce platforms, and any application requiring reliable payment processing capabilities. Typical use cases include processing customer transactions, automating recurring payments, and enabling instant fund transfers. Ensure a smooth payment experience for your customers while integrating robust backend payment workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/payment-initiation": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Initiates a payment process.",
        "description": "This endpoint allows the client to initiate a payment. It triggers the necessary processes to start a payment transaction, enabling a seamless payment experience for users.",
        "operationId": "initiatePaymentServicing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body initiates a payment process. It is essential to provide all required fields to ensure successful payment initiation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePaymentServicingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing. The payment initiation is underway.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiatePaymentServicingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "InitiatePaymentServicingRequest": {
        "title": "Payment Initiation Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer initiating the payment.",
            "example": "CUST-930124"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier for the associated case related to the payment.",
            "example": "CASE-246539"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request (e.g., 'payment', 'refund').",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority of the request (e.g., 'high', 'normal', 'low').",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated (e.g., 'mobile', 'web').",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context for the request, containing metadata related to its execution.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for initiating a payment operation.",
        "example": {
          "customerId": "CUST-930124",
          "caseId": "CASE-246539",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "f62f0bf3-2748-5121-b140-5b8ace13bf76",
            "correlationId": "c484e1ce-b7dd-555c-a93a-ac70c95ac8f6",
            "idempotencyKey": "779045de-fcf9-5613-b321-85ac7b1c6ebc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-171351"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs for tracking the request across services.",
            "example": "corr_def456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request (avoiding duplicate processing).",
            "example": "key_ghi789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is originating the request.",
            "example": "payment_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is initiating the request.",
            "example": "app_x"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context information for the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., 'mobile', 'web').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device_abc"
          }
        },
        "description": "Details about the channel used to initiate the request."
      },
      "InitiatePaymentServicingResponse_202": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-806502"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case related to the payment.",
            "example": "CASE-597445"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference for tracking the processing of this payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the payment was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the payment initiation operation.",
        "example": {
          "customerId": "CUST-806502",
          "caseId": "CASE-597445",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "2b36400a-b2d6-579f-9e6d-77faa964c802",
            "correlationId": "c484e1ce-b7dd-555c-a93a-ac70c95ac8f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests or responses.",
            "example": "corr_789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-05T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment is being processed.",
            "example": "North America"
          }
        },
        "description": "Metadata associated with the payment initiation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-initiate-payment-initiation"
        },
        "example": "payment-initiation-initiate-payment-initiation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication as defined in RFC 6750. A bearer token is a cryptic string, usually generated by the server in response to a login request. This token is then used to authenticate the user for subsequent requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}