{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Trade Clearing-spec",
    "description": "The Market Operation Trade Clearing API facilitates the management of trade clearing operations within the banking ecosystem. This API allows users to initiate and submit trade clearing requests efficiently, ensuring that transactions are processed in a timely manner. Typical consumers include financial institutions and trading platforms that require reliable trade settlement functionalities. The API is designed to streamline the trade clearing process, reducing operational friction and enhancing transaction transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://treasury-markets-app:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-clearing": {
      "post": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Initiates the trade clearing process.",
        "description": "This endpoint allows users to initiate the trade clearing process for market transactions. It processes all relevant data and ensures that trades are settled according to specified regulations and market practices.",
        "operationId": "createMarketOperationTradeClearing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit trade clearing operations within the market. It should include all necessary details such as trade identifiers, clearing information, and any relevant attributes for processing the trade clearing request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationTradeClearingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing and is being executed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationTradeClearingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationTradeClearingRequest": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the settlement will occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units to be settled.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will be made.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house responsible for the trade.",
            "example": "STANDARD"
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method of settlement for the trade.",
            "example": "STANDARD"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Status indicating whether the trade has been matched.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "request_7890"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking related requests.",
                "example": "correlation_abc"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure that requests are idempotent.",
                "example": "idempotency_12345"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System from which the request originated.",
                "example": "TradingSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application that initiated the request.",
                "example": "TradeApp"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Identifier for the channel used.",
                    "example": "channel_001"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of channel (e.g., API, Web).",
                    "example": "API"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device used to send the request.",
                    "example": "device_abc"
                  }
                },
                "description": "Information about the communication channel."
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "25970e51-d8d1-5021-9bd9-f26a9c7247c4",
              "correlationId": "92651e88-01ee-5081-a29d-46fbae4bb8b2",
              "idempotencyKey": "138cde22-fe16-506d-8c8e-6b07a44d8af2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-843911"
              }
            }
          }
        },
        "description": "Request body schema for trade clearing operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "settlementMethod": "STANDARD",
          "matchingStatus": "ACTIVE",
          "requestContext": {
            "requestId": "25970e51-d8d1-5021-9bd9-f26a9c7247c4",
            "correlationId": "92651e88-01ee-5081-a29d-46fbae4bb8b2",
            "idempotencyKey": "138cde22-fe16-506d-8c8e-6b07a44d8af2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843911"
            }
          }
        }
      },
      "CreateMarketOperationTradeClearingResponse_202": {
        "title": "Trade Clearing Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian handling the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house responsible for the trade.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for tracking the processing of the trade.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the trade processing.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the trade was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "R12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "C123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the trade processing took place.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the trade processing.",
            "example": {
              "responseId": "f17b1c13-3580-563a-b147-c57548336d15",
              "correlationId": "92651e88-01ee-5081-a29d-46fbae4bb8b2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response object for the trade clearing operation, containing details about the trade and its processing status.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f17b1c13-3580-563a-b147-c57548336d15",
            "correlationId": "92651e88-01ee-5081-a29d-46fbae4bb8b2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-053"
        },
        "example": "WF-053"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cb2caabf-47c6-4a46-84e7-49a6561dce89"
        },
        "example": "cb2caabf-47c6-4a46-84e7-49a6561dce89"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c8045ec4-0b7d-4b4a-b361-004472775740"
        },
        "example": "c8045ec4-0b7d-4b4a-b361-004472775740"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-clearing-process-trade-clearing"
        },
        "example": "trade-clearing-process-trade-clearing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-053"
        },
        "example": "WF-053"
      },
      "X-Workflow-Name": {
        "description": "This header identifies the name of the workflow being executed, providing context and clarity related to the specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Securities Trade Capture Clearing and Settlement"
        },
        "example": "Securities Trade Capture Clearing and Settlement"
      },
      "X-Workflow-State": {
        "description": "This header reflects the current state of the workflow. It indicates whether the workflow is in progress, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "This header contains a unique identifier for the workflow execution. It is useful for tracking and tracing specific executions during processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c8045ec4-0b7d-4b4a-b361-004472775740"
        },
        "example": "c8045ec4-0b7d-4b4a-b361-004472775740"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication scheme, which involves a security token in the form of a JSON Web Token (JWT). It is typically used for authentication and authorization in web applications, providing a standardized method for access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}