{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Reporting Submissions API",
    "description": "The Regulatory Reporting Submissions API facilitates the submission of compliance-related documents and data to meet regulatory requirements in the banking sector. This endpoint allows financial institutions to upload their submissions, ensuring they remain in good standing with governing bodies. Key use cases include preparing for audits, tracking submission statuses, and maintaining compliance workflows. It is typically utilized by compliance officers and financial analysts seeking to streamline their reporting processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting/submissions": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Create a new regulatory submission.",
        "description": "This endpoint allows users to create a new regulatory submission in the compliance system. Make sure to provide all required fields in the request body to successfully create the submission.",
        "operationId": "createRegulatorySubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a regulatory report. It contains the necessary information and data as specified in the schema. Please ensure all required fields are populated correctly to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRegulatorySubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRegulatorySubmissionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRegulatorySubmissionRequest": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity submitting the report.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the report is being submitted.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for which the submission is made (e.g., '2023 Q1').",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that the report is being submitted under.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the report submission.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for submitting regulatory reporting in the compliance system.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "b7e5f775-d872-5d99-b1c3-4d860468e4aa",
            "correlationId": "743f3fb5-b909-5e95-8ede-4d0585459e9e",
            "idempotencyKey": "22a46ee7-fad8-5236-91b2-fc7be7de714d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-342387"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests across systems.",
            "example": "correlation-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-03-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Compliance System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "Regulatory App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context surrounding the request for regulatory reporting."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was sent.",
            "example": "device-202"
          }
        },
        "description": "Details about the channel used to submit the request."
      },
      "CreateRegulatorySubmissionResponse_202": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "A reference number for the submission.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submission.",
            "example": "ACTIVE"
          },
          "receivedAt": {
            "type": "string",
            "description": "Timestamp indicating when the submission was received.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the submission.",
            "$ref": "#/components/schemas/SubmissionMetadata"
          }
        },
        "description": "The response schema for the submission of regulatory reporting.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "submissionReference": "STANDARD",
          "status": "ACTIVE",
          "receivedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "32d62db2-16dc-5bb7-9a06-dc372a0dfb5b",
            "correlationId": "743f3fb5-b909-5e95-8ede-4d0585459e9e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubmissionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the submission was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the submission response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-submit-regulatory-reporting"
        },
        "example": "regulatory-reporting-submit-regulatory-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently running, which processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow that is related to the submission.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-045"
        },
        "example": "WF-045"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Suspicious Activity Case and Regulatory Filing"
        },
        "example": "Suspicious Activity Case and Regulatory Filing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
        },
        "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). The client must include the JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}