{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Foreign Exchange Trade-spec",
    "description": "The Customer Foreign Exchange Trade API allows businesses to facilitate foreign exchange trades for their customers. This endpoint enables the creation of new trade entries associated with a specific customer by leveraging their unique customer ID. Typical users include banking applications and financial services that aim to provide seamless currency conversion and trading experiences. This API streamlines processes for trade initiation, ensuring accurate and efficient transactions in the foreign exchange market.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/foreign-exchange-trades": {
      "post": {
        "tags": [
          "CustomerOperations"
        ],
        "summary": "Create a Foreign Exchange Trade for a Customer",
        "description": "This endpoint allows you to create a new foreign exchange trade associated with the specified customer ID. Ensure all the required trade details are provided in the request body to successfully process the trade.",
        "operationId": "createCustomerForeignExchangeTrade",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new foreign exchange trade for the customer with ID CUST-100045. It contains the necessary details of the trade, such as currency pairs, trade amount, and other relevant parameters. Ensure that all required fields are included to successfully process the trade.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerForeignExchangeTradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for the foreign exchange trade.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerForeignExchangeTradeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerForeignExchangeTradeRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-937799"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request.",
            "example": "a46bb9f2-4698-553b-9135-4005d744faed"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product requested.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount to be exchanged, including its value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date the service was requested, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "The currency being exchanged from.",
            "example": "USD"
          },
          "targetCurrency": {
            "type": "string",
            "description": "The currency being exchanged to.",
            "example": "USD"
          },
          "quotedRate": {
            "type": "number",
            "description": "The exchange rate quoted for the transaction.",
            "example": 100.0
          },
          "cashDenominations": {
            "type": "array",
            "description": "Denominations of cash requested.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "The value of the cash denomination.",
              "format": "int32",
              "example": 20
            }
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the foreign exchange trades operation.",
        "example": {
          "customerId": "CUST-937799",
          "serviceRequestId": "a46bb9f2-4698-553b-9135-4005d744faed",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "sourceCurrency": "USD",
          "targetCurrency": "USD",
          "quotedRate": 100.0,
          "cashDenominations": [
            1
          ],
          "requestContext": {
            "requestId": "9eb567c5-7fda-5fd9-abe4-d434f536c32b",
            "correlationId": "0a282aea-c9d4-5413-82aa-07934efcc012",
            "idempotencyKey": "173d0769-099c-5a2c-b67e-b120246aa6f6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-803996"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount to exchange.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount specified.",
            "example": "USD"
          }
        },
        "description": "Represents the amount in a specific currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "CORR-2023-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "IDEM-KEY-1A2B3C"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was initiated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "MobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "ForexApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata regarding the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the request was made.",
            "example": "CH-2023-01"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Details of the communication channel used for the request."
      },
      "CreateCustomerForeignExchangeTradeResponse_201": {
        "title": "Foreign Exchange Trade Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-327644"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier for the service request associated with the operation.",
            "example": "5848743d-062a-5ba3-b5d2-bd1b037f6c2a"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product related to the trade.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to this response.",
            "example": "RES-727252"
          },
          "status": {
            "type": "string",
            "description": "The current status of the trade operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the trade was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a foreign exchange trade operation.",
        "example": {
          "customerId": "CUST-327644",
          "serviceRequestId": "5848743d-062a-5ba3-b5d2-bd1b037f6c2a",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-727252",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "09fe89f0-7094-51e3-9a10-c22ad8df411b",
            "correlationId": "0a282aea-c9d4-5413-82aa-07934efcc012",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking and correlating requests and responses.",
            "example": "CORR-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-08-15T12:10:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "EU-WEST-1"
          }
        },
        "description": "This schema contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint responsible for handling this specific request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-create-currency-exchange"
        },
        "example": "currency-exchange-create-currency-exchange"
      },
      "x-runtime-app": {
        "description": "Identifier for the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "The ID representing the workflow instance associated with the processing of this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-058"
        },
        "example": "WF-058"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "FX Quote Trade and Settlement"
        },
        "example": "FX Quote Trade and Settlement"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0149689e-3048-4684-8b98-9fde92ad8cb7"
        },
        "example": "0149689e-3048-4684-8b98-9fde92ad8cb7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication with a JSON Web Token (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}