{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Position Tracking API",
    "description": "The Credit Card Position Tracking API enables users to access real-time data regarding the positions of their credit cards within the financial system. It facilitates transparency in tracking various credit card metrics and statuses, providing essential insights for financial management. This API is particularly useful for consumers looking to manage their finances more effectively, including tracking spending and available credit. Developers can integrate this API into personal finance applications or banking dashboards to enhance user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping": {
      "get": {
        "tags": [
          "Credit Cards"
        ],
        "summary": "Retrieve the current position of a credit card.",
        "description": "This endpoint allows you to fetch the latest information regarding the position of a specific credit card in the system. Use this to monitor status, available balance, or other relevant details related to the credit card position.",
        "operationId": "getCreditCardPosition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the current position of the credit card. It is expected to be in JSON format, containing relevant parameters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditCardPositionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current credit card position.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditCardPositionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditCardPositionRequest": {
        "type": "string",
        "description": "This schema represents the request body for the card position keeping operation in JSON format.",
        "example": "{}"
      },
      "GetCreditCardPositionResponse_200": {
        "title": "Credit Card Position Keeping Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit card transaction objects.",
            "example": [
              {
                "cardToken": "TOK-990711",
                "cardholderId": "STANDARD",
                "merchantId": "MER-789832",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditCardTransaction"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the Credit Card Position Keeping operation, containing a list of credit card transaction details and pagination metadata.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-990711",
              "cardholderId": "STANDARD",
              "merchantId": "MER-789832",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dc264960-4f37-55b6-9293-c74b1b9ca109",
            "correlationId": "be819bcf-ef50-536e-a602-28ec20112ad1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditCardTransaction": {
        "title": "Credit Card Transaction",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Token representing the credit card."
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder."
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant."
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code for the merchant."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the transaction record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the transaction record."
          }
        },
        "description": "Details of a credit card transaction."
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction amount."
          }
        },
        "description": "Amount details for a transaction, including the value and currency."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Metadata for pagination of results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-search-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-search-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, following the JSON Web Token (JWT) format. Clients must provide a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}