{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Product Management Discount Pricing-spec",
    "description": "The Product Management Discount Pricing API enables businesses to establish and manage discount pricing strategies for their products. This service provides the ability to create new discount pricing structures, allowing for flexible and competitive pricing adjustments. Typical users include product managers and pricing analysts who are looking to optimize sales through targeted discount initiatives. By utilizing this API, organizations can effectively respond to market changes and enhance their pricing agility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/discount-pricing": {
      "post": {
        "tags": [
          "Discount Management"
        ],
        "summary": "Create a new discount pricing entry.",
        "description": "This endpoint allows you to create a new discount pricing record for products within the product management system. Ensure that all required fields are filled in accurately to avoid errors.",
        "operationId": "createProductManagementDiscountPricing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating discount pricing information for products. This body must comply with the specified schema, providing all necessary data to process the discount pricing effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductManagementDiscountPricingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discount pricing resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductManagementDiscountPricingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductManagementDiscountPricingRequest": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique identifier for the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers eligible for this discount.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the discount pricing is specified.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the discount is effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "The context in which the request is made, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for creating or updating discount pricing for a product.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "2e962a97-e8b7-5c77-b22b-bbd0c89e7460",
            "correlationId": "d7730e08-e575-5a30-b025-1f711094f955",
            "idempotencyKey": "4a4d2e57-872f-536c-a00c-5b8a11b77cc5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-387831"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests or logs.",
            "example": "correlation-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request is made (e.g., online, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateProductManagementDiscountPricingResponse_201": {
        "title": "Discount Pricing Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code of the product related to the discount.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the pricing.",
            "example": "RES-888663"
          },
          "status": {
            "type": "string",
            "description": "The status of the discount pricing operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the discount pricing was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DiscountPricingMetadata"
          }
        },
        "description": "Response schema for the discount pricing operation.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-888663",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "68f9d47a-e4b1-5427-af77-21960c411973",
            "correlationId": "d7730e08-e575-5a30-b025-1f711094f955",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DiscountPricingMetadata": {
        "title": "Discount Pricing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response to the request.",
            "example": "res-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request throughout the system.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the discount pricing operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "discount-pricing-create-discount-pricing"
        },
        "example": "discount-pricing-create-discount-pricing"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format, specifically a JSON Web Token (JWT). Users must provide a valid JWT in the Authorization header to access the protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}