{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Intent Cancel-spec",
    "description": "This API allows users to cancel existing payment intents, providing a streamlined process for managing payment transactions. Businesses can leverage this endpoint to effectively handle cancellations and improve customer service by ensuring that unwanted payments are not processed. Typical consumers include payment processors and e-commerce platforms that need to manage payment lifecycles efficiently. The API supports specifying a unique payment intent, facilitating precise operations on specific payment requests.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Cancel a payment intent.",
        "description": "This endpoint allows you to cancel a specified payment intent, ensuring that the transaction is halted and funds are not captured. Use this operation if you need to stop a payment process that is still pending.",
        "operationId": "createPaymentIntentCancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the cancellation of a payment intent identified by its unique identifier PAY-300045. It specifies the necessary parameters to process the cancellation, ensuring the request aligns with the required schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntentCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The cancellation was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentIntentCancelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentIntentCancelRequest": {
        "title": "Cancel Payment Intent Request Body",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "A code indicating the reason for the cancellation.",
            "example": "CODE-112"
          },
          "reason": {
            "type": "string",
            "description": "A detailed explanation of the reason for the cancellation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for canceling a payment intent, containing the reason for cancellation and contextual request information.",
        "example": {
          "reasonCode": "CODE-112",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "fc809470-00ef-5ea5-95aa-eaed15a4e866",
            "correlationId": "2d73aaa1-e459-5098-bd93-d8378f09ab37",
            "idempotencyKey": "83a7aa85-2c6e-54fe-bc1e-a1146a80be31",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-841311"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing requests across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the operation can be performed safely in an idempotent manner.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains identifiers and metadata related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, such as web, mobile, etc.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Details that define the channel used for the request."
      },
      "CreatePaymentIntentCancelResponse_200": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the payment.",
            "example": "MER-979160"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the transaction took place.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used in the transaction.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount of the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "The amount that was authorized for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "The amount that was captured from the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "The amount that has been refunded from the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was processed.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "Array of payment methods that are allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the selected payment method.",
            "$ref": "#/components/schemas/SelectedPaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details about the order associated with the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Metadata regarding the payment intent.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a payment intent cancellation operation.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-979160",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-714",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-268780",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "ef5c9817-d775-5dd7-8176-a904ffc501b6",
            "correlationId": "2d73aaa1-e459-5098-bd93-d8378f09ab37",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The actual numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing a monetary amount."
      },
      "SelectedPaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the selected payment method.",
            "example": "Credit Card"
          },
          "token": {
            "type": "string",
            "description": "Token associated with the payment method for security.",
            "example": "token123456"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer bank for the payment method.",
            "example": "BANK123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., card number).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider for the wallet if applicable (e.g., PayPal).",
            "example": "PayPal"
          }
        },
        "description": "Details of the payment method that has been selected."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer123"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer based on various criteria.",
            "example": "Low"
          }
        },
        "description": "Details about the customer related to the payment."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the order created by the merchant.",
            "example": "order12345"
          },
          "description": {
            "type": "string",
            "description": "Brief description of the order.",
            "example": "Electronics purchase"
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "Unique identifier for the item.",
                  "example": "item67890"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item.",
                  "example": "Laptop"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the item.",
                  "example": "15 inch laptop with 16GB RAM"
                },
                "quantity": {
                  "type": "string",
                  "description": "Quantity of the item ordered.",
                  "example": "1"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/Amount"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/Amount"
                }
              },
              "example": "string"
            }
          }
        },
        "description": "Details of the order associated with the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the payment intent response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-payment-intent"
        },
        "example": "banking-p2m-openapi-cancel-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for bearer authentication. Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}