{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List File Payment Payment Details-spec",
    "description": "The File Payment Details Retrieval API allows consumers to access detailed information about specific file payments. Utilizing this endpoint, users can retrieve payment information linked to a particular file payment identified by the given parameter. This API is particularly beneficial for businesses in the financial sector that need to track, audit, or validate payment transactions. Typical consumers include financial institutions, payment service providers, and developers building applications for payment management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "File Payments"
        ],
        "summary": "Retrieve Payment Details for a Specific File Payment",
        "description": "This endpoint allows users to fetch the detailed information associated with a specific file payment identified by its unique reference number 'PAY-300045'. It provides insights into the payment status, amounts, and related transactions.",
        "operationId": "listFilePaymentPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving payment details associated with a specific payment ID. This body must contain the required fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFilePaymentPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilePaymentPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFilePaymentPaymentDetailsRequest": {
        "type": "string",
        "description": "A string representation of the request body for fetching payment details in the context of file payments.",
        "example": "{}"
      },
      "ListFilePaymentPaymentDetailsResponse_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "title": "Payment Data",
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "A list of payment status records.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "title": "Links",
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current page of results."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results."
                  }
                },
                "description": "Pagination links for navigating through payment records."
              },
              "Meta": {
                "title": "Metadata",
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "The total number of pages available.",
                    "format": "int32",
                    "example": 0
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time the first payment is available."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time the last payment is available."
                  }
                },
                "description": "Contains metadata related to the response."
              },
              "metadata": {
                "title": "Response Metadata",
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier used to correlate requests and responses."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp indicating when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the response was processed."
                  }
                },
                "description": "Additional response metadata information."
              }
            },
            "description": "Contains payment-related information including status and links.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-679896",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response structure for payment details.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-679896",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "93996a33-3eeb-5edb-9044-e8a271c876ce",
            "correlationId": "06158cd6-14e6-59f5-ba8d-4523975a636f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "title": "Payment Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the payment status was last updated."
          },
          "StatusDetail": {
            "title": "Status Detail",
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "The type of local instrument used for the payment."
              },
              "Status": {
                "type": "string",
                "description": "Detailed status of the payment."
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason for the current payment status."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Description providing further details about the status reason."
              }
            },
            "description": "Provides additional information regarding the payment status."
          }
        },
        "description": "Schema representing the details of a payment status record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-file-payment-details"
        },
        "example": "payment-initiation-openapi-get-file-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It expects a token in the form of a JSON Web Token (JWT) to be sent in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}