{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Standing Orders-spec",
    "description": "This API enables users to access the standing orders associated with a specific bank account. By utilizing the account ID provided, consumers can retrieve detailed information regarding each standing order, including payment schedules and amounts. This functionality is particularly useful for financial institutions and their clients who need to manage recurring payments efficiently. Typical use cases involve managing personal finances, ensuring timely payments, and responding to customer inquiries regarding account situations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/standing-orders": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Standing Orders for a Specific Account",
        "description": "This endpoint allows you to retrieve all standing orders associated with the specified account. It is useful for managing and reviewing recurring payment instructions linked to the account.",
        "operationId": "listAccountStandingOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the standing orders associated with the specified account. Ensure that all required parameters and fields are correctly populated before making the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountStandingOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved standing orders for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountStandingOrdersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountStandingOrdersRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving standing orders related to a specific account.",
        "example": "{}"
      },
      "ListAccountStandingOrdersResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "StandingOrder": {
                "type": "array",
                "description": "List of standing orders for the account.",
                "items": {
                  "$ref": "#/components/schemas/StandingOrder"
                }
              }
            },
            "description": "Container for the response data of standing orders.",
            "example": {
              "StandingOrder": [
                {
                  "AccountId": "ACC-483513",
                  "id": "STANDARD",
                  "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                  "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                  "NumberOfPayments": "STANDARD",
                  "statusCode": "CODE-462",
                  "FirstPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "NextPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "LastPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "FinalPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-661",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving standing orders associated with an account.",
        "example": {
          "Data": {
            "StandingOrder": [
              {
                "AccountId": "ACC-483513",
                "id": "STANDARD",
                "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                "NumberOfPayments": "STANDARD",
                "statusCode": "CODE-462",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "NextPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "LastPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-661",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "97e45a4f-7621-5868-a574-c75a157baca1",
            "correlationId": "1b19c7d1-733d-5159-983a-99001386691d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StandingOrder": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the standing order."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the standing order."
          },
          "NextPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the next payment."
          },
          "LastPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the last payment."
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The total number of payments for the standing order."
          },
          "statusCode": {
            "type": "string",
            "description": "The current status code of the standing order."
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "NextPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "LastPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "FinalPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details of a standing order."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money to be paid."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount."
          }
        },
        "description": "Details of a payment amount including its value and currency."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent."
          },
          "Identification": {
            "type": "string",
            "description": "The identification of the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent."
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information about the creditor's agent."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "The type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "The department name if applicable."
          },
          "SubDepartment": {
            "type": "string",
            "description": "The sub-department name if applicable."
          },
          "StreetName": {
            "type": "string",
            "description": "The name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "The building number."
          },
          "BuildingName": {
            "type": "string",
            "description": "The name of the building if applicable."
          },
          "Floor": {
            "type": "string",
            "description": "The floor number."
          },
          "UnitNumber": {
            "type": "string",
            "description": "The unit number if applicable."
          },
          "Room": {
            "type": "string",
            "description": "The room number if applicable."
          },
          "PostBox": {
            "type": "string",
            "description": "The post box number if applicable."
          },
          "TownLocationName": {
            "type": "string",
            "description": "The name of the town location."
          },
          "DistrictName": {
            "type": "string",
            "description": "The name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Name of the person or entity to care of, if applicable."
          },
          "PostCode": {
            "type": "string",
            "description": "The postal code."
          },
          "TownName": {
            "type": "string",
            "description": "The name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "The sub-division of the country."
          },
          "Country": {
            "type": "string",
            "description": "The country name."
          },
          "AddressLine": {
            "type": "array",
            "description": "Additional address lines.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "The postal address of the creditor agent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The identifier for the endpoint associated with the request. This is typically used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-standing-orders"
        },
        "example": "accounts-api-get-accounts-account-id-standing-orders"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request. This can help identify where responses originate from.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires the client to send a JSON Web Token (JWT) in the `Authorization` header of each request. The token should be prefixed with the word 'Bearer', followed by a space.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}