{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Fraud Diagnosis-spec",
    "description": "The Account Management Fraud Diagnosis Retrieval API provides critical insights into potential fraud associated with user accounts. This API allows financial institutions to retrieve detailed evaluations of fraud risks, enabling them to enhance their fraud detection processes. Typical consumers include risk management teams and fraud analysts who leverage this information to make informed decisions. By employing this API, organizations can proactively address potential threats and protect their customers' assets more effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve Fraud Diagnosis",
        "description": "This endpoint allows users to retrieve the current fraud diagnosis for a specific account, providing insights into potential fraud activity and risk assessments.",
        "operationId": "listAccountManagementFraudDiagnosis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a fraud diagnosis operation within the account management subsystem. It should contain the necessary parameters to effectively assess the fraud risk associated with the specified account(s).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementFraudDiagnosisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of fraud diagnosis information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementFraudDiagnosisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementFraudDiagnosisRequest": {
        "title": "Fraud Diagnosis Request Body",
        "type": "string",
        "description": "This schema represents the request body for the fraud diagnosis operation in the account management service. It is expected to be a string that contains the necessary information for the diagnosis process.",
        "example": "{}"
      },
      "ListAccountManagementFraudDiagnosisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of fraud diagnosis items.",
            "example": [
              {
                "accountId": "ACC-957493",
                "customerId": "CUST-464007",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "transactionId": "TXN-131247",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FraudDiagnosisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the fraud diagnosis operation containing a list of items along with pagination and metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-957493",
              "customerId": "CUST-464007",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "transactionId": "TXN-131247",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a8177c55-bc9b-59f4-be99-0e57e3dcafdb",
            "correlationId": "8c2ec1ff-a0ae-5037-a931-831ec531fef1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudDiagnosisItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "123456"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cust789"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "2023-10-01"
          },
          "currency": {
            "type": "string",
            "description": "The currency used in the transaction.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger for the account.",
            "example": 1500.75
          },
          "transactionId": {
            "type": "string",
            "description": "The identifier for the transaction.",
            "example": "trans123"
          },
          "riskScore": {
            "type": "number",
            "description": "The assessed risk score for the transaction.",
            "example": 2.5
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold value for making decisions based on risk.",
            "example": 1.5
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level of the device used in the transaction.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single fraud diagnosis item related to an account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking related requests.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-search-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-search-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be provided in the 'Authorization' header for secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}