{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Partnerships Management API",
    "description": "The Corporate Partnerships Management API enables businesses to efficiently update and manage their corporate partnership agreements. This endpoint facilitates modifications to existing partnerships, allowing users to adapt terms, conditions, and involved parties as needed. It serves as a vital tool for financial institutions and corporate entities looking to foster strategic partnerships. Typical consumers include partnership managers and relationship coordinators who need to ensure timely adjustments in a dynamic business environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-partnerships/{param1}": {
      "patch": {
        "tags": [
          "Corporate Partnerships"
        ],
        "summary": "Update Corporate Partnership",
        "description": "This endpoint allows authorized users to update the details of a specific corporate partnership identified by its resource ID. Ensure that all required fields are included in the request to successfully apply changes.",
        "operationId": "updateCorporatePartnership_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the corporate partnership identified by the unique identifier RES-100045. It consists of fields that correspond to various attributes of the corporate partnership, allowing for modifications to be made to the existing record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporatePartnership_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporatePartnership_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporatePartnership_res100045Request": {
        "title": "Corporate Partnership Operations Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied in the corporate partnership.",
            "$ref": "#/components/schemas/PartnershipChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A request body for updating corporate partnership operations. This includes changes to stakeholder engagement and metadata related to the request.",
        "example": {
          "changes": {
            "stakeholderId": "STANDARD",
            "engagementId": "STANDARD",
            "subject": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "657876b0-e2d0-5475-8ed6-0d52b9fd1726",
            "correlationId": "9bb1ddf6-095f-5e94-88f9-79ba46e6364a",
            "idempotencyKey": "5b82a2ae-3b05-57a0-b0ef-6e3e3018aa3f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-296422"
            }
          }
        }
      },
      "PartnershipChanges": {
        "title": "Partnership Changes",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The unique identifier for the stakeholder involved in the partnership.",
            "example": "stakeholder123"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement associated with the partnership.",
            "example": "engagement456"
          },
          "subject": {
            "type": "string",
            "description": "A brief description of the subject matter of the changes.",
            "example": "Updated engagement terms"
          }
        },
        "description": "A set of changes related to a corporate partnership, including specific stakeholder and engagement details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "correlation101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request.",
            "example": "key131415"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-14T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that made the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that made the request.",
            "example": "PartnershipApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel161718"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device192021"
          }
        },
        "description": "Information about the channel used for the request, including device and type."
      },
      "UpdateCorporatePartnership_res100045Response_200": {
        "title": "Corporate Partnership Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response structure for the corporate partnership operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a2cf91b2-d3c3-5d8a-8330-e7d9796bf722",
            "correlationId": "9bb1ddf6-095f-5e94-88f9-79ba46e6364a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region from which the processing occurred.",
            "example": "string"
          }
        },
        "description": "A schema representing metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, facilitating tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-alliance-and-stake-holder-update-corporate-alliance-and-stake-holder"
        },
        "example": "corporate-alliance-and-stake-holder-update-corporate-alliance-and-stake-holder"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the operation is being executed, useful for identifying the source of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, specifically designed for JSON Web Tokens (JWT). Clients must include a JWT token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}