{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Disbursement Details API",
    "description": "The Disbursement Details API provides a comprehensive view of disbursement transactions identified by a unique `disbursementId`. This endpoint allows users, such as financial institutions and accounting software, to retrieve detailed information regarding specific disbursement operations. Typical consumers include account managers and financial analysts who require visibility into financial disbursements for reconciliation and reporting purposes. With this API, organizations can ensure accurate tracking and management of disbursement activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement/{disbursementId}": {
      "get": {
        "tags": [
          "Disbursement Management"
        ],
        "summary": "Retrieve a specific disbursement by ID.",
        "description": "This endpoint allows you to fetch details of a disbursement using its unique ID. It provides essential information related to the disbursement, making it useful for tracking and management purposes.",
        "operationId": "getDisbursementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving information related to the disbursement service identified by RES-100045. This body must contain a properly structured JSON object as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDisbursementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested disbursement details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDisbursementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDisbursementByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to disbursement services. It is expected to be a plain string value.",
        "example": "{}"
      },
      "GetDisbursementByIdResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation.",
            "example": "CUST-499222"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account involved in the operation.",
            "example": "ACC-790183"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level assigned to the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response associated with the operation.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracking the request through the system.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the operation is being processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "5016c934-dc5b-5853-abd9-ed81c07cc958",
              "correlationId": "b05b2806-1230-567a-9723-710915bcd2a3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for a successful operation retrieval in the Disbursement service.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-499222",
          "accountId": "ACC-790183",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5016c934-dc5b-5853-abd9-ed81c07cc958",
            "correlationId": "b05b2806-1230-567a-9723-710915bcd2a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the specific endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-get-disbursement"
        },
        "example": "disbursement-get-disbursement"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses a bearer token for authentication, which should be provided in the Authorization header using the 'Bearer' prefix. The token is expected to be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}