{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Knowledge Assets Intellectual Property Portfolio By Intellectual Property Portfolio Id-v5-spec",
    "description": "This API facilitates the modification of knowledge assets within the banking sector by allowing users to update specific intellectual property portfolios. Utilizing the portfolio ID, consumers can alter relevant data and ensure that the portfolio remains current and accurately reflects the organization's intellectual property assets. Typical users of this endpoint include internal banking personnel and application systems responsible for asset management and compliance. Streamlining the update process helps maintain the integrity and value of intellectual property investments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio/{intellectualPropertyPortfolioId}": {
      "patch": {
        "tags": [
          "Intellectual Property Management"
        ],
        "summary": "Update Intellectual Property Portfolio",
        "description": "This operation allows you to update the details of a specific intellectual property portfolio identified by the resource ID RES-100045. Ensure to provide the necessary details in the request body to modify the portfolio effectively.",
        "operationId": "updateBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/intellectualPropertyPortfolioId"
          }
        ],
        "requestBody": {
          "description": "Updates the metadata or attributes of the specified intellectual property portfolio entry identified by RES-100045. This request should include the fields that need to be updated in the JSON format provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to the intellectual property asset.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object providing context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an intellectual property portfolio.",
        "example": {
          "changes": {
            "ipAssetId": "STANDARD",
            "assetType": "STANDARD",
            "registrationNumber": "NY-4587219"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b5ed7a94-8a17-5949-8a91-2f66c06d8526",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "idempotencyKey": "a3ad1fb3-58f9-5cd4-83a4-3dc4bf45b6a8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946763"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "description": "The type of the asset (e.g., patent, trademark).",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the asset.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes made to an intellectual property asset."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "An object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which a request is made."
      },
      "UpdateBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdResponse_200": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response, typically indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the PATCH operation on the intellectual property portfolio.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af99b879-489d-5e96-a5de-f7171bf24d96",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata details of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "intellectualPropertyPortfolioId": {
        "name": "intellectualPropertyPortfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token. The token must be a valid JSON Web Token (JWT). This method is often used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}