{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Customer Personal Loan Application-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Customer Personal Loan Application-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/personal-loan-applications": {
      "post": {
        "operationId": "createBankingCustomerPersonalLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCustomerPersonalLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCustomerPersonalLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCustomerPersonalLoanApplicationRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "example": "PROD-691487"
          },
          "externalReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "requestedTermMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "example": "CUST-305207"
          },
          "branchCode": {
            "type": "string",
            "example": "CODE-165"
          },
          "relationshipManagerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "example": "CODE-665"
          },
          "customerConsent": {
            "type": "object",
            "properties": {
              "creditBureauConsent": {
                "type": "boolean",
                "example": false
              },
              "dataProcessingConsent": {
                "type": "boolean",
                "example": false
              },
              "marketingConsent": {
                "type": "boolean",
                "example": false
              },
              "consentTimestamp": {
                "type": "string",
                "example": "string"
              },
              "consentReference": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "creditBureauConsent": true,
              "dataProcessingConsent": true,
              "marketingConsent": true,
              "consentTimestamp": "2026-09-15T14:30:00Z",
              "consentReference": "STANDARD"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "58bc57ca-3c3f-5040-97fa-b84879da3664",
              "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
              "idempotencyKey": "737a6ff2-6e83-5844-be5b-27c9025e7128",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-491808"
              }
            }
          }
        },
        "example": {
          "productId": "PROD-691487",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-305207",
          "branchCode": "CODE-165",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-665",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "58bc57ca-3c3f-5040-97fa-b84879da3664",
            "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
            "idempotencyKey": "737a6ff2-6e83-5844-be5b-27c9025e7128",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-491808"
            }
          }
        }
      },
      "CreateBankingCustomerPersonalLoanApplicationResponse_201": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "example": "PROD-158112"
          },
          "externalReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "requestedTermMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "example": "CUST-321328"
          },
          "branchCode": {
            "type": "string",
            "example": "CODE-780"
          },
          "relationshipManagerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "example": "CODE-475"
          },
          "customerConsent": {
            "type": "object",
            "properties": {
              "creditBureauConsent": {
                "type": "boolean",
                "example": false
              },
              "dataProcessingConsent": {
                "type": "boolean",
                "example": false
              },
              "marketingConsent": {
                "type": "boolean",
                "example": false
              },
              "consentTimestamp": {
                "type": "string",
                "example": "string"
              },
              "consentReference": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "creditBureauConsent": true,
              "dataProcessingConsent": true,
              "marketingConsent": true,
              "consentTimestamp": "2026-09-15T14:30:00Z",
              "consentReference": "STANDARD"
            }
          },
          "id": {
            "type": "string",
            "example": "607d89bd-3b47-35c0-9b5b-129bae4f9dda"
          },
          "applicationNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "example": "LOAN-342019"
          },
          "completionPercent": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "dueDate": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "60a6d861-13c2-5db2-818b-e2e76e042092",
              "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "productId": "PROD-158112",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-321328",
          "branchCode": "CODE-780",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-475",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "607d89bd-3b47-35c0-9b5b-129bae4f9dda",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-342019",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "60a6d861-13c2-5db2-818b-e2e76e042092",
            "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-application"
        },
        "example": "banking-loans-openapi-create-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-031"
        },
        "example": "WF-031"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Personal Loan Application and Disbursement"
        },
        "example": "Personal Loan Application and Disbursement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d2d15e19-d744-4174-af2b-b1cbaadc6fdb"
        },
        "example": "d2d15e19-d744-4174-af2b-b1cbaadc6fdb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}