{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Procurement Management API",
    "description": "The Procurement Management API facilitates streamlined management of procurement processes for enterprises. This endpoint enables users to initiate procurement requests for goods and services efficiently. It is designed for purchasing departments and enterprise resource planning systems that require automation in procurement cycles. Typical consumers include procurement professionals and business managers looking to enhance their organizational purchasing capabilities. The API supports integration with other enterprise services to optimize the overall supply chain management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement": {
      "post": {
        "tags": [
          "Procurement"
        ],
        "summary": "Create Procurement Service",
        "description": "This endpoint allows users to create new procurement services in the enterprise system. It facilitates the management of procurement processes efficiently and effectively.",
        "operationId": "createProcurement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a procurement operation within the enterprise services. It should contain all necessary details related to the procurement task, formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProcurementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, confirming the procurement request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProcurementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProcurementRequest": {
        "title": "Procurement Request Body",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "52349b5a-2b7e-5ae1-b18e-96a75d02ca83"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the procurement.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount being requested, including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the person requesting the procurement.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the related purchase order.",
            "example": "ORD-587134"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the procurement.",
            "example": "CODE-583"
          },
          "approvalLevel": {
            "type": "string",
            "description": "Level of approval required for the procurement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the procurement operations.",
        "example": {
          "requestId": "52349b5a-2b7e-5ae1-b18e-96a75d02ca83",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-587134",
          "categoryCode": "CODE-583",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "4d99e617-d3aa-5b6e-bc4a-2bf758dad011",
            "correlationId": "fcd6025f-5c08-5276-8421-4d69fd98b961",
            "idempotencyKey": "2c2c043d-253d-5b6b-8675-cbeb1747de61",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-265297"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          }
        },
        "description": "Represents the monetary amount requested in procurement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-03T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application used to generate the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information related to the procurement request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel through which the request is made."
      },
      "CreateProcurementResponse_201": {
        "title": "Procurement Operation Response",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "a1e36f94-3f25-54a4-964a-e76e650477a2"
          },
          "supplierId": {
            "type": "string",
            "description": "The identifier of the supplier associated with the procurement.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The unique identifier for the purchase order created.",
            "example": "ORD-994817"
          },
          "categoryCode": {
            "type": "string",
            "description": "The category code for the item procured.",
            "example": "CODE-559"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the procurement.",
            "example": "RES-150204"
          },
          "status": {
            "type": "string",
            "description": "The current status of the procurement operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the procurement operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the procurement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a successful procurement operation.",
        "example": {
          "requestId": "a1e36f94-3f25-54a4-964a-e76e650477a2",
          "supplierId": "STANDARD",
          "purchaseOrderId": "ORD-994817",
          "categoryCode": "CODE-559",
          "resourceId": "RES-150204",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "458fd2a4-0765-53ea-a12a-93d0f436c204",
            "correlationId": "fcd6025f-5c08-5276-8421-4d69fd98b961",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Procurement Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "res456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "corr234"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the procurement operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema encapsulates additional metadata information for the procurement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-create-procurement"
        },
        "example": "procurement-create-procurement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that initiated this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-084"
        },
        "example": "WF-084"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Supplier Procurement and Invoice Payment"
        },
        "example": "Supplier Procurement and Invoice Payment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "63b722b2-6d20-483e-9780-a18b709899db"
        },
        "example": "63b722b2-6d20-483e-9780-a18b709899db"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a valid JSON Web Token (JWT) is transmitted in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}