{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer VOI Submission API",
    "description": "The Customer VOI Submission API allows businesses to submit verification of identity (VOI) data for a specific customer identified by their unique customerId. This endpoint facilitates the processing of customer information to ensure compliance with identity verification standards. Typical users include customer service representatives and compliance officers who need to validate customer identities efficiently. By utilizing this API, organizations can streamline their identity verification process and enhance customer trust.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voa": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new VOA for the specified customer.",
        "description": "This endpoint allows you to create a new VOA (Value-Added Offer) for the customer identified by CUST-100045. Ensure that all required data is included in the request body for a successful operation.",
        "operationId": "createVoaForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or manage VOAs (Value of Authorizations) for the customer identified by CUST-100045. It contains specific parameters that are essential for processing the request, ensuring that all necessary information is included to handle the customer's operational requests effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoaForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoaForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoaForCustomerCUST100045Request": {
        "title": "Customer Operation Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representation of account identifiers.",
            "example": "ACC-366079"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields to be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to show non-sufficient funds information.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the operation, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier for correlating related requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key used to ensure that requests are idempotent.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that generated the request.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "string"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information regarding the request.",
            "example": {
              "requestId": "c3d022d9-9036-56a7-ab61-bccc79105a50",
              "correlationId": "a7cf608b-06ad-5d3a-bc70-82e88b7fca8f",
              "idempotencyKey": "7fb421fc-158e-51b3-bb3a-291c4e83a951",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-113816"
              }
            }
          }
        },
        "description": "This schema defines the structure of the request body for customer operation requests.",
        "example": {
          "accountIds": "ACC-366079",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "requestContext": {
            "requestId": "c3d022d9-9036-56a7-ab61-bccc79105a50",
            "correlationId": "a7cf608b-06ad-5d3a-bc70-82e88b7fca8f",
            "idempotencyKey": "7fb421fc-158e-51b3-bb3a-291c4e83a951",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-113816"
            }
          }
        }
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Field Label"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Field Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field is shown.",
            "example": true
          }
        },
        "description": "Represents a custom field in the report."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateVoaForCustomerCUST100045Response_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "dc8cb8b9-9a25-5ed6-b2dd-3d8a333930f4"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the operation was created, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Dispute statement related to the operation.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the operation.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation related to customer data operations.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "dc8cb8b9-9a25-5ed6-b2dd-3d8a333930f4",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-684041"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "ef7f2393-35da-5955-b5a3-9a441b78da1d",
            "correlationId": "a7cf608b-06ad-5d3a-bc70-82e88b7fca8f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP or postal code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL related to the end user.",
            "example": "string"
          }
        },
        "description": "Information about the end user."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "Consumer's first name.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Consumer's middle name.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Consumer's last name.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Residential address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP or postal code for the consumer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Detailed information about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers associated with constraints.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for an individual account.",
              "example": "string"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields to be reported, related to the constraints.",
            "example": [
              {
                "label": "string",
                "value": "string",
                "shown": false
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Constraints related to the operation."
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown or not.",
            "example": false
          }
        },
        "description": "A custom field used in reporting."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region processing the operation.",
            "example": "string"
          }
        },
        "description": "Metadata related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed, used for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voa-report"
        },
        "example": "open-finance-api-generate-voa-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, useful for identifying the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure access. This method allows the client to transmit the token for authorization purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}