{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payment Consents API",
    "description": "The Domestic Payment Consents API facilitates secure consent management for domestic payments in an Open Banking environment. It allows financial institutions and their clients to obtain and manage consents for executing domestic payment transactions. Typical consumers of this API include banks, fintech applications, and third-party providers who are integrating payment functionalities. By leveraging this API, developers can ensure compliance with regulatory requirements while enhancing user experience in managing payment permissions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents/{param1}": {
      "get": {
        "tags": [
          "Domestic Payment Management"
        ],
        "summary": "Retrieve a specific domestic payment consent.",
        "description": "This endpoint allows users to fetch the details of a specific domestic payment consent identified by its unique ID. It provides essential information such as the consent status, amount, and related transaction details.",
        "operationId": "getDomesticPaymentConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific domestic payment consent identified by the unique identifier 'RES-100045'. It encapsulates the relevant data needed for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticPaymentConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticPaymentConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticPaymentConsentByIdRequest": {
        "title": "Domestic Payment Consents Request Body",
        "type": "string",
        "description": "This schema represents the request body for obtaining domestic payment consents in response to a GET operation.",
        "example": "{}"
      },
      "GetDomesticPaymentConsentByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          }
        },
        "description": "Schema representing the response for the domestic payment consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "6033b0db-6e24-54c5-95e6-4e29c6673ad0",
            "correlationId": "f9eb10da-4fdc-5817-b5cc-7c008cb04517",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the payment consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the consent was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the payment consent.",
            "example": "ACTIVE"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons related to the status of the payment consent.",
            "example": [
              {
                "code": "001",
                "description": "Consent is pending.",
                "Path": "Response/StatusReason"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicator whether a refund account should be read.",
            "example": "true"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "The cutoff date and time for processing the consent.",
            "example": "2023-01-01T02:00:00Z"
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time when the payment will be executed.",
            "example": "2023-01-02T00:00:00Z"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected date and time when the payment will be settled.",
            "example": "2023-01-02T01:00:00Z"
          },
          "Charges": {
            "type": "array",
            "description": "Any charges associated with the payment.",
            "example": [
              {
                "ChargeBearer": "DEBTOR",
                "Type": "BANK_FEE",
                "Amount": {
                  "Amount": "10.00",
                  "Currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema containing the details of the payment consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code of the status reason.",
            "example": "001"
          },
          "description": {
            "type": "string",
            "description": "A description of the status reason.",
            "example": "Consent is pending."
          },
          "Path": {
            "type": "string",
            "description": "The path related to the status reason in the response.",
            "example": "Response/StatusReason"
          }
        },
        "description": "Schema representing the status reason details."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges (DEBTOR or CREDITOR).",
            "example": "DEBTOR"
          },
          "Type": {
            "type": "string",
            "description": "The type of charge (e.g., BANK_FEE, SERVICE_FEE).",
            "example": "BANK_FEE"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing charge details related to the payment."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "The identifier for the instruction.",
            "example": "INSTRUCTION123"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "A unique identifier for the payment across all systems.",
            "example": "E2E123456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment.",
            "example": "SEPA"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/Agent"
          }
        },
        "description": "Schema representing the initiation details of the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency code (ISO 4217 format).",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the account scheme.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identification for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the account (if applicable).",
            "example": "123456"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema representing a financial account."
      },
      "Agent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the agent scheme.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identification for the agent.",
            "example": "DEUTDEDBXXX"
          },
          "Name": {
            "type": "string",
            "description": "The name of the agent.",
            "example": "Deutsche Bank"
          },
          "LEI": {
            "type": "string",
            "description": "The Legal Entity Identifier for the agent.",
            "example": "5493001KJ2H8U0S5C456"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Schema representing an agent associated with the payment."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., BUSINESS, RESIDENTIAL).",
            "example": "BUSINESS"
          },
          "Department": {
            "type": "string",
            "description": "Department associated with the address.",
            "example": "Finance"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department associated with the address.",
            "example": "Billing"
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address.",
            "example": "Main Street"
          }
        },
        "description": "Schema representing the postal address of an agent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request.",
            "example": "correlationId456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T03:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "Schema containing additional metadata about the response."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The unique identifier for the proxy.",
            "example": "proxyId123"
          },
          "Code": {
            "type": "string",
            "description": "The proxy code (if applicable).",
            "example": "0099"
          },
          "Type": {
            "type": "string",
            "description": "The type of the proxy (e.g., EMAIL, PHONE).",
            "example": "EMAIL"
          }
        },
        "description": "Schema representing a proxy identifier related to the account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment-consent"
        },
        "example": "payment-initiation-openapi-get-domestic-payment-consent"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where the user must provide a valid JSON Web Token (JWT) to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}