{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Access Consents API",
    "description": "The Account Access Consents API facilitates the management of consents required for accessing user account information within the open banking framework. Through this endpoint, financial institutions can request permissions from consumers to share or access their account data securely. This API is typically utilized by banks and third-party providers to enhance customer experience while ensuring compliance with regulatory standards. Use cases include initiating consent requests for account aggregation services or enabling sensitive financial data sharing with authorized applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/account-access-consents": {
      "post": {
        "tags": [
          "Account Access"
        ],
        "summary": "Create an account access consent for AISP.",
        "description": "This endpoint allows the creation of a new account access consent for Account Information Service Providers (AISP). It enables customers to grant permission for third-party providers to access their account information securely and according to regulatory standards.",
        "operationId": "createAispAccountAccessConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create an account access consent for accessing user account information. The submitted data should comply with the specified schema and contain all necessary details for processing the consent request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAispAccountAccessConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Consent resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAispAccountAccessConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAispAccountAccessConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/AccountAccessConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the account access consents operation.",
        "example": {
          "Data": {
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "e7dd2e7d-e079-5a83-b054-dbd81ef98a12",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "idempotencyKey": "13909b8c-d655-5afa-a942-c0c13004f861",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-638482"
            }
          }
        }
      },
      "AccountAccessConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the consent was created.",
            "example": "2021-01-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "ACTIVE"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the consent.",
            "example": [
              {
                "code": "REASON_CODE",
                "description": "Consent is active.",
                "Path": "/status"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "2021-01-02T12:00:00Z"
          },
          "Permissions": {
            "type": "array",
            "description": "Permissions granted under this consent.",
            "example": [
              "READ_ACCOUNTS",
              "READ_TRANSACTIONS"
            ],
            "items": {
              "type": "string",
              "example": "READ_ACCOUNTS"
            }
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the consent expires.",
            "example": "2021-12-31T12:00:00Z"
          },
          "TransactionFromDateTime": {
            "type": "string",
            "description": "Start date and time for transactions covered by this consent.",
            "example": "2021-01-01T00:00:00Z"
          },
          "TransactionToDateTime": {
            "type": "string",
            "description": "End date and time for transactions covered by this consent.",
            "example": "2021-12-31T23:59:59Z"
          }
        },
        "description": "Detailed information about the account access consent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "key-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "banking_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "mobile_app"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAispAccountAccessConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/AccountAccessConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Account Access Consents POST operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "7b2e0f14-10a5-520a-87c8-cf415d6bca9a",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the reason.",
            "example": "Consent is active."
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason of status.",
            "example": "/status"
          }
        },
        "description": "Reason object for consent status."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/self"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "https://api.example.com/first"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "https://api.example.com/prev"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "https://api.example.com/next"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "https://api.example.com/last"
          }
        },
        "description": "Hyperlinks related to the response."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 3
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the first available consent was created.",
            "example": "2021-01-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the last available consent was created.",
            "example": "2021-12-31T23:59:59Z"
          }
        },
        "description": "Metadata about the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2021-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "Response metadata containing identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-create-account-access-consents"
        },
        "example": "accounts-api-create-account-access-consents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be in JWT format, which is used to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}