{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Access Management API",
    "description": "The Employee Access Management API facilitates the retrieval of employee access information within the organization's banking and human resource management systems. This endpoint allows authorized users to query specific access privileges assigned to employees, enabling efficient handling of access control and compliance tasks. Typical consumers of this API include HR personnel and systems integrators who require detailed insights into employee access rights. By streamlining access management processes, this API supports enhanced operational efficiency and security.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-access": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve employee access details.",
        "description": "This endpoint allows you to fetch details regarding employee access in the human resource management system. You can use this to verify various access controls and permissions assigned to employees.",
        "operationId": "getEmployeeAccess",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the access details for the employee management operations. It should contain necessary parameters to retrieve employee-specific data or manage access permissions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeAccessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee access information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeAccessResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeAccessRequest": {
        "title": "Employee Access Request Body",
        "type": "string",
        "description": "This schema represents the request body for accessing employee information in the Human Resource Management system. It is a simple string representation for the request.",
        "example": "{}"
      },
      "GetEmployeeAccessResponse_200": {
        "title": "Employee Access Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of employee access records.",
            "example": [
              {
                "employeeId": "EMP-957439",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeAccessRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied on the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for employee access operation indicating the requested employee details along with pagination and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-957439",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "89f20275-ecfa-5583-a566-d9d89cf1d572",
            "correlationId": "754b5e01-4b22-5a60-88ab-b43a0ed9bc55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeAccessRecord": {
        "title": "Employee Access Record",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the specific assignment of the employee.",
            "example": "A123"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department where the employee is assigned.",
            "example": "D001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the employee's assignment became effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., Full-Time, Part-Time).",
            "example": "Full-Time"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager.",
            "example": "M678"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the employee record was last updated.",
            "example": "2023-10-01T12:34:56Z"
          }
        },
        "description": "Schema representing an individual employee access record."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing the pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was performed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-access-search-employee-access"
        },
        "example": "employee-access-search-employee-access"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method implemented via JSON Web Tokens (JWT). Clients should provide the JWT in the 'Authorization' header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}