{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Recurring Transaction-spec",
    "description": "The Customer Recurring Transaction Management API facilitates the addition of recurring transactions for a specified customer. This endpoint allows businesses to streamline their payment processes by enabling automatic billing for services or products over a defined period. Typical users include finance and billing departments that need to set up and manage recurring payments for customers. With this API, developers can enhance customer experiences by ensuring consistent and timely transaction processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/recurring-transactions": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a new recurring transaction for a specific customer.",
        "description": "This endpoint allows developers to create a recurring transaction for a specific customer identified by their unique customer ID. The request must include the necessary transaction details in the body. Successful creation will return the details of the newly created transaction.",
        "operationId": "createCustomerRecurringTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate recurring transactions for a specific customer identified by CUST-100045. It includes necessary parameters required for setting up and managing the recurring transaction details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRecurringTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and recurring transaction details returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerRecurringTransactionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerRecurringTransactionRequest": {
        "title": "Recurring Transactions Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "A list of account IDs associated with the recurring transactions.",
            "example": [
              "ACC-921280"
            ],
            "items": {
              "type": "string",
              "description": "An individual account ID.",
              "example": "accountId123"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for performing operations on recurring transactions.",
        "example": {
          "accountIds": [
            "ACC-921280"
          ],
          "requestContext": {
            "requestId": "b58fff8c-de6d-5327-b4c0-3d525278a99d",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "idempotencyKey": "8213b32f-4801-52b6-99e3-ccb6653c4f4f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-951106"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "requestId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "correlationId123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the operation is idempotent.",
            "example": "idempotencyKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "sourceSystem123"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "sourceApp123"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channelId123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "deviceId123"
          }
        },
        "description": "Schema for information about the channel used in the request."
      },
      "CreateCustomerRecurringTransactionResponse_200": {
        "type": "object",
        "properties": {
          "customerRecurringTransactions": {
            "$ref": "#/components/schemas/CustomerRecurringTransactions"
          },
          "accountRecurringTransactions": {
            "type": "array",
            "description": "List of recurring transactions associated with different accounts.",
            "example": [
              {
                "accountId": "ACC-609101",
                "recurringOutflows": [
                  {
                    "normalizedPayeeName": "Northstar Banking Service",
                    "transactionCategories": [
                      "STANDARD"
                    ],
                    "transactionIds": [
                      "TXN-718032"
                    ],
                    "cadence": 1,
                    "status": "ACTIVE",
                    "expectedNextTransactionDate": "2026-09-15",
                    "amount": 100.0,
                    "minimumHistoricalAmount": 100.0,
                    "maximumHistoricalAmount": 100.0,
                    "meanHistoricalAmount": 100.0
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountRecurringTransaction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for fetching recurring transactions for a specific customer.",
        "example": {
          "customerRecurringTransactions": {
            "recurringOutflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-144436"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ],
            "recurringInflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-441311"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ]
          },
          "accountRecurringTransactions": [
            {
              "accountId": "ACC-609101",
              "recurringOutflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-718032"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "808e3fa6-cf09-5273-9d64-88c17ab24f8b",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerRecurringTransactions": {
        "type": "object",
        "properties": {
          "recurringOutflows": {
            "type": "array",
            "description": "List of recurring outflow transactions for the customer.",
            "items": {
              "$ref": "#/components/schemas/RecurringTransaction"
            }
          },
          "recurringInflows": {
            "type": "array",
            "description": "List of recurring inflow transactions for the customer.",
            "items": {
              "$ref": "#/components/schemas/RecurringTransaction"
            }
          }
        },
        "description": "Contains recurring transactions specifically for a customer."
      },
      "RecurringTransaction": {
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "The normalized name of the payee for this transaction."
          },
          "transactionCategories": {
            "type": "array",
            "description": "Categories associated with the transaction.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "transactionIds": {
            "type": "array",
            "description": "Identifiers for the transactions associated with this entry.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "cadence": {
            "type": "integer",
            "description": "Frequency of the transaction occurrence.",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "description": "Current status of the recurring transaction."
          },
          "expectedNextTransactionDate": {
            "type": "string",
            "description": "The expected date of the next transaction occurrence."
          },
          "amount": {
            "type": "number",
            "description": "Amount of the recurring transaction."
          },
          "minimumHistoricalAmount": {
            "type": "number",
            "description": "The minimum amount recorded in the history of this transaction."
          },
          "maximumHistoricalAmount": {
            "type": "number",
            "description": "The maximum amount recorded in the history of this transaction."
          },
          "meanHistoricalAmount": {
            "type": "number",
            "description": "The average amount of this transaction over its history."
          },
          "medianHistoricalAmount": {
            "type": "number",
            "description": "The median amount of this transaction over its history."
          },
          "countOfTransactions": {
            "type": "integer",
            "description": "Total number of transactions recorded in the history.",
            "format": "int32"
          }
        },
        "description": "Details of a recurring transaction, whether inflow or outflow."
      },
      "AccountRecurringTransaction": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account."
          },
          "recurringOutflows": {
            "type": "array",
            "description": "List of recurring outflow transactions for the account.",
            "items": {
              "$ref": "#/components/schemas/RecurringTransaction"
            }
          }
        },
        "description": "Recurring transactions associated with a specific account."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier of the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking and debugging."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being called to process the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-recurring-transactions"
        },
        "example": "open-finance-api-get-recurring-transactions"
      },
      "X-Runtime-App": {
        "description": "Name of the application at runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) to provide a bearer authentication mechanism. Clients must send a valid JWT as part of the 'Authorization' header using the format 'Bearer {token}' to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}