{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Investment Management Investment Portfolio Analysis-spec",
    "description": "The Investment Portfolio Analysis API provides insights into investment portfolios, allowing users to evaluate the performance and status of their assets. This endpoint facilitates the retrieval of comprehensive data related to various investment portfolios, aiding financial analysts and investment managers in making informed decisions. Typical consumers of this API include financial institutions and investment firms that require real-time analysis of portfolios to optimize their investment strategies. Utilize this API to enhance your investment management capabilities and drive better financial outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-analysis": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve investment portfolio analysis.",
        "description": "This endpoint allows users to fetch detailed analysis of their investment portfolio, providing insights and metrics to help evaluate performance and make informed investment decisions.",
        "operationId": "listInvestmentManagementInvestmentPortfolioAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for analyzing investment portfolios. This should contain the necessary parameters required for the analysis process, formatted as per the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInvestmentManagementInvestmentPortfolioAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning portfolio analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvestmentManagementInvestmentPortfolioAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInvestmentManagementInvestmentPortfolioAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to investment portfolio analysis.",
        "example": "{}"
      },
      "ListInvestmentManagementInvestmentPortfolioAnalysisResponse_200": {
        "title": "Investment Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of investment portfolio analysis items.",
            "example": [
              {
                "portfolioId": "PORT-752968",
                "investmentAccountId": "ACC-409026",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolioItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The current sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Investment Portfolio Analysis API endpoint, containing analysis items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-752968",
              "investmentAccountId": "ACC-409026",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b0647cc9-fc0f-534a-8460-2ef3f7425239",
            "correlationId": "ae7dd17f-92c5-5b18-91eb-64319a5e6f05",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolioItem": {
        "title": "Investment Portfolio Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "portfolio123"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier for the investment account associated with the portfolio.",
            "example": "account456"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective of the portfolio, such as growth or income.",
            "example": "growth"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the portfolio, such as low, medium, or high.",
            "example": "high"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency of the portfolio, for example, USD or EUR.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the portfolio record, e.g., active, inactive.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the portfolio record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents an individual investment portfolio item with relevant attributes."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information on pagination for the results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking this particular request.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata details related to the response of the API call."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-analysis-search-investment-portfolio-analysis"
        },
        "example": "investment-portfolio-analysis-search-investment-portfolio-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which relies on the JSON Web Token (JWT) format for securely transmitting information between parties. The token should be included in the Authorization header of requests for protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}