{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Direction Management API",
    "description": "This API facilitates the management and oversight of organizational direction within a business context. It allows users to set, modify, or align strategic business directions effectively. Typical consumers include business analysts, strategy teams, and operational managers looking to enhance the alignment between business objectives and operational activities. With this API, organizations can ensure they are steering towards their defined goals cohesively, driving growth and accountability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/organization-direction": {
      "post": {
        "tags": [
          "Business Management"
        ],
        "summary": "Create a new organization direction.",
        "description": "This endpoint allows the user to create a new organization direction, defining its purpose and guiding principles within the business framework. Ensure to provide all necessary information for successful creation.",
        "operationId": "createOrganizationDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an organization direction within the business control system. It must contain the necessary details specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, confirming the operation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrganizationDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOrganizationDirectionRequest": {
        "title": "Operations POST Request Body",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Period for planning.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "Details regarding the budget.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual details about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new Operations entry.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "requestContext": {
            "requestId": "cefc7855-528c-5a8b-8729-ffb86aeeb621",
            "correlationId": "91006d1f-0888-51a4-9a8a-d5e7409d4839",
            "idempotencyKey": "1dea524f-c769-5db0-a5d3-080f9f63bc0b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-396508"
            }
          }
        }
      },
      "Budget": {
        "title": "Budget Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the budget.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget amount is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing budget information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that originated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing the context for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing communication channel information."
      },
      "CreateOrganizationDirectionResponse_201": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit associated with the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource that was operated on.",
            "example": "RES-994599"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for the operations post request under the business control organization direction.",
        "example": {
          "businessUnitId": "STANDARD",
          "resourceId": "RES-994599",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "06d04de4-8bbf-5707-90c4-0419b30ecf0d",
            "correlationId": "91006d1f-0888-51a4-9a8a-d5e7409d4839",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the system.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses across the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being called, used to track the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "organization-direction-create-organization-direction"
        },
        "example": "organization-direction-create-organization-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request, for logging and diagnostic purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token based on JWT (JSON Web Token) format, which is used to validate the identity of a user and grant access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}