{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Connect Components Configurations-v5-spec",
    "description": "The Connect Components Configuration Retrieval API enables users to access and view detailed configurations for various connect components within the microservices architecture. This API is essential for developers and system administrators who need to manage and troubleshoot component settings. It provides insights into configuration parameters that can be used for system optimization and integration. Typical consumers include software engineers and DevOps teams looking to ensure consistent application behavior across deployments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "get": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Fetch all configuration settings.",
        "description": "This endpoint retrieves a list of all available configuration settings in the system. It is useful for understanding current configurations and making decisions based on them.",
        "operationId": "listConnectComponentsConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving configurations. It should include appropriate filters or parameters to specify the configurations you are interested in.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConnectComponentsConfigurationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the configurations.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConnectComponentsConfigurationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConnectComponentsConfigurationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the S Configurations API. It is expected to be a JSON string.",
        "example": "{}"
      },
      "ListConnectComponentsConfigurationsResponse_200": {
        "title": "Get Configurations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of configuration items.",
            "example": [
              {
                "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
                "filterAccounts": [
                  "STANDARD"
                ],
                "accountClassificationType": [
                  "STANDARD"
                ],
                "aoRequired": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConfigurationItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the GET configurations operation. It includes a list of items and metadata related to the response.",
        "example": {
          "items": [
            {
              "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
              "filterAccounts": [
                "STANDARD"
              ],
              "accountClassificationType": [
                "STANDARD"
              ],
              "aoRequired": true
            }
          ],
          "metadata": {
            "responseId": "c1ea2f3d-d65a-5b60-885f-c092dfab8afb",
            "correlationId": "b6753cf6-0be0-57bb-9fa8-0ed41d067631",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConfigurationItem": {
        "title": "Configuration Item",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the configuration item.",
            "example": "string"
          },
          "filterAccounts": {
            "type": "array",
            "description": "A list of accounts that are filtered based on this configuration item.",
            "items": {
              "type": "string",
              "description": "The identifier of an account that is filtered.",
              "example": "string"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "A list of account classification types associated with this configuration.",
            "items": {
              "type": "string",
              "description": "The type of account classification.",
              "example": "string"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether action order is required for this configuration item.",
            "example": false
          }
        },
        "description": "A schema that represents an individual configuration item."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata about the API response, including identifiers and generation time."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-configurations"
        },
        "example": "open-finance-api-get-configurations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT). Clients must provide a valid JWT as a Bearer token in the `Authorization` header of requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}