{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Knowledge Assets Knowledge Exchanges-v5-spec",
    "description": "The Banking Knowledge Exchange Listing API allows users to access a comprehensive list of banking knowledge assets available for exchange. This endpoint is intended for financial institutions and developers seeking to enrich their services with shared expertise and data. Through this API, consumers can retrieve valuable insights and resources that facilitate knowledge sharing within the banking sector. Typical use cases include integrating knowledge assets into financial applications or enhancing customer service with expert information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Retrieve knowledge exchange assets.",
        "description": "This endpoint allows you to fetch various knowledge exchange assets available within the system, helping you to access the information and resources you need.",
        "operationId": "listBankingKnowledgeAssetsKnowledgeExchanges",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of knowledge assets through the knowledge exchange endpoint. The request should include necessary parameters adhering to the schema defined for managing knowledge assets.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingKnowledgeAssetsKnowledgeExchangesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested knowledge assets.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingKnowledgeAssetsKnowledgeExchangesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingKnowledgeAssetsKnowledgeExchangesRequest": {
        "type": "string",
        "description": "Represents the request body for the knowledge exchange operation over the GET method.",
        "example": "{}"
      },
      "ListBankingKnowledgeAssetsKnowledgeExchangesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of knowledge items.",
            "example": [
              {
                "knowledgeItemId": "STANDARD",
                "topic": "STANDARD",
                "authorId": "STANDARD",
                "audience": "STANDARD",
                "publishedAt": "2026-08-11T12:00:00Z",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/KnowledgeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of Knowledge Exchange API, returning knowledge assets.",
        "example": {
          "items": [
            {
              "knowledgeItemId": "STANDARD",
              "topic": "STANDARD",
              "authorId": "STANDARD",
              "audience": "STANDARD",
              "publishedAt": "2026-08-11T12:00:00Z",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8c18df2d-992e-5213-901c-9f6c9ff73e78",
            "correlationId": "7b4fee2e-5451-5b2f-bd92-1ec96b509e6b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "KnowledgeItem": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item.",
            "example": "string"
          },
          "topic": {
            "type": "string",
            "description": "The topic associated with the knowledge item.",
            "example": "string"
          },
          "authorId": {
            "type": "string",
            "description": "Identifier of the author of the knowledge item.",
            "example": "string"
          },
          "audience": {
            "type": "string",
            "description": "Target audience for the knowledge item.",
            "example": "string"
          },
          "publishedAt": {
            "type": "string",
            "description": "Publication date of the knowledge item.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the knowledge item record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last updated date of the knowledge item.",
            "example": "string"
          }
        },
        "description": "Details of a single knowledge item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-search-knowledge-exchange"
        },
        "example": "knowledge-exchange-search-knowledge-exchange"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}