{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Debit Card Issuance API",
    "description": "The Debit Card Issuance API enables financial institutions to efficiently issue debit cards to customers. This endpoint allows authorized users to initiate the creation of a debit card linked to a specific customer account. Typical use cases include onboarding new customers or replacing lost or damaged cards. By streamlining the issuance process, this API enhances customer satisfaction and operational efficiency in banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/debit-cards": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a Debit Card for a Customer",
        "description": "This endpoint allows you to create a new debit card for a specific customer identified by their unique ID. You need to provide the necessary details for the debit card within the request body.",
        "operationId": "createCustomerDebitCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new debit card associated with the specified customer. Ensure that all required fields are filled out according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerDebitCardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Debit card created successfully for the customer.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerDebitCardResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerDebitCardRequest": {
        "title": "Debit Card Operation Request",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device.",
            "example": "DEV-201511"
          },
          "deviceType": {
            "type": "string",
            "description": "The type of device being used.",
            "example": "STANDARD"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The identifier of the party to whom the device is assigned.",
            "example": "PARTY-863123"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the device.",
            "example": "STANDARD"
          },
          "deviceStatus": {
            "type": "string",
            "description": "The current status of the device.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for debit card operations.",
        "example": {
          "deviceId": "DEV-201511",
          "deviceType": "STANDARD",
          "assignedPartyId": "PARTY-863123",
          "serialNumber": "STANDARD",
          "deviceStatus": "ACTIVE",
          "requestContext": {
            "requestId": "e0cb32a7-7c53-58a2-99a1-a298b15859ef",
            "correlationId": "5e5a46ca-cfd4-544f-961b-b77519b7f489",
            "idempotencyKey": "2ccf0fe1-7e28-5c1a-b54c-3569ddd9df0a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-729638"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates multiple requests.",
            "example": "corr-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idempotency-key-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CoreBankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Mobile, Web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The device ID associated with the channel.",
            "example": "dev-12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateCustomerDebitCardResponse_201": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device associated with the debit card.",
            "example": "DEV-952491"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The unique identifier for the party assigned to the debit card.",
            "example": "PARTY-919819"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the debit card.",
            "example": "RES-340108"
          },
          "status": {
            "type": "string",
            "description": "The current status of the debit card.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the debit card was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the debit card creation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation to create a debit card for a specific customer.",
        "example": {
          "deviceId": "DEV-952491",
          "assignedPartyId": "PARTY-919819",
          "resourceId": "RES-340108",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1f3055aa-fd93-5b1a-8411-e95f5e1e3da7",
            "correlationId": "5e5a46ca-cfd4-544f-961b-b77519b7f489",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier that correlates different requests and responses together.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the debit card request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata for the debit card creation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-create-issued-device-administration"
        },
        "example": "issued-device-administration-create-issued-device-administration"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      },
      "x-workflow-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "x-workflow-name": {
        "description": "The name of the workflow that was executed for this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the executed workflow instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token. The token should be in the form of a JSON Web Token (JWT) which is used for authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}