{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Employee Evaluations-spec",
    "description": "The Employee Evaluations Retrieval API provides developers with access to employee evaluation records within the Human Resource Management system. This course of action enables businesses to obtain critical evaluation data, facilitating more informed decisions regarding employee performance and development. Typical consumers include HR personnel, managers, and data analysts who require insights into employee evaluations for reporting, performance tracking, and strategic planning. The API supports a comprehensive overview of evaluations, ensuring efficient retrieval of employee-related data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve Employee Evaluation Data",
        "description": "This endpoint allows you to fetch the evaluation data of employees from the human resource management system. You can access the details regarding performance, feedback, and ratings assigned to each employee.",
        "operationId": "listHumanResourceManagementEmployeeEvaluations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve employee evaluation data from the Human Resource Management system. It should include any necessary filters or parameters to specify which evaluations are being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeEvaluationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeEvaluationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementEmployeeEvaluationsRequest": {
        "type": "string",
        "description": "Represents the request body for the employee evaluation operation in the human resource management system.",
        "example": "{}"
      },
      "ListHumanResourceManagementEmployeeEvaluationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee evaluation details.",
            "example": [
              {
                "employeeId": "EMP-204408",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeEvaluation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the returned employee evaluations.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Employee Evaluation operation, providing a list of employee evaluations along with pagination and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-204408",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3b8da60c-f6bf-5840-931b-b83db78bc6c4",
            "correlationId": "7cebfba3-c86c-5d28-9f81-92795690b168",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeEvaluation": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "emp123"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment related to the evaluation.",
            "example": "assign456"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department of the employee.",
            "example": "dept789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Effective date of the evaluation.",
            "example": "2023-10-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code of the employee's location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., Full-Time, Part-Time).",
            "example": "Full-Time"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager.",
            "example": "mgr012"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the evaluation record.",
            "example": "2023-10-05"
          }
        },
        "description": "Represents detailed information about an employee evaluation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details about the pagination of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "resp789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-05T14:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-search-employee-evaluation"
        },
        "example": "employee-evaluation-search-employee-evaluation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). Clients must include the token in the authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}