{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Accounts-spec",
    "description": "The Customer Account Retrieval API allows clients to access detailed information about customer accounts associated with a specific customer ID. This endpoint serves as a crucial resource for businesses looking to manage customer relationships effectively by providing account-related data. Typical consumers include customer service representatives and data analysts who need to retrieve account details for support, reporting, or analysis purposes. By leveraging this API, organizations can enhance their understanding of customer interactions and improve service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve accounts for a specific customer",
        "description": "This endpoint allows you to fetch all account details associated with the specified customer ID. It provides the necessary information to understand the customer's financial relationships and account statuses.",
        "operationId": "listCustomerAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of accounts associated with the customer identified by CUST-100045. It may contain filters and parameters to customize the results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of accounts for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerAccountsRequest": {
        "type": "string",
        "description": "This schema defines the request body for retrieving account details for a specific customer. It is represented as a string, which, depending on the implementation, may include a JSON formatted representation of the account request.",
        "example": "{}"
      },
      "ListCustomerAccountsResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-815850",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for retrieving account information.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-815850",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "7e2a54a8-97f3-5860-9182-f53d5ad00ee2",
            "correlationId": "781e49cc-038e-5546-96cd-08735fbc5047",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "number": {
            "type": "string",
            "description": "The account number itself."
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display version of the account number."
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number for security."
          },
          "name": {
            "type": "string",
            "description": "Name of the account."
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account."
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g. savings, checking)."
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation state.",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "description": "Current status of the account (e.g. active, closed)."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer who owns the account."
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier for the financial institution holding the account."
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date when the balance was last updated.",
            "format": "int32"
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the last successful aggregation occurred.",
            "format": "int32"
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when the last aggregation attempt was made.",
            "format": "int32"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32"
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account was last updated.",
            "format": "int32"
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment to which the account belongs."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account balance is denominated."
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction for the account.",
            "format": "int32"
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction recorded for the account.",
            "format": "int32"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Login ID used for accessing the institution's services.",
            "format": "int32"
          },
          "detail": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Schema representing an individual account's details."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date the detail information is valid as of.",
            "format": "int32"
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "Available balance amount in the account."
          },
          "openDate": {
            "type": "integer",
            "description": "The date the account was opened.",
            "format": "int32"
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date for the account's reporting period.",
            "format": "int32"
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date for the account's reporting period.",
            "format": "int32"
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applicable during the reporting period."
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Total deposit amount made during the period."
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Total interest accrued during the period."
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Total interest accrued year-to-date."
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Total interest accrued prior year-to-date."
          },
          "maturityDate": {
            "type": "integer",
            "description": "Maturity date of the account, if applicable.",
            "format": "int32"
          },
          "interestRate": {
            "type": "string",
            "description": "Current interest rate applicable to the account."
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Available credit amount for the account."
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit amount allowed on the account."
          }
        },
        "description": "Schema representing detailed information about an account."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-accounts"
        },
        "example": "open-finance-api-get-customer-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT (JSON Web Token) authentication scheme that uses Bearer tokens. Clients must include the token as part of the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}