{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Business Services Businesse By Business Id-v5-spec",
    "description": "The Manage Business Services API allows users to update the details of existing business services by specifying a unique business ID. This endpoint is essential for businesses looking to ensure their service information remains current and reflects any organizational changes. Typically, system administrators and integrations within enterprise resource planning systems will utilize this endpoint to maintain accurate business records. The operation supports modifying various attributes of the business services while facilitating seamless continuity in service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "put": {
        "tags": [
          "Business Operations"
        ],
        "summary": "Update Business Details",
        "description": "This endpoint allows you to update the details of a specific business identified by its unique resource identifier (RES-100045). Ensure to provide all necessary details in the request body format to successfully update the business information.",
        "operationId": "replaceBusinessServicesBusinesseByBusinessId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the business information associated with the specified resource identifier (RES-100045). The provided JSON payload should contain the updated details for the business, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBusinessServicesBusinesseByBusinessIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBusinessServicesBusinesseByBusinessIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBusinessServicesBusinesseByBusinessIdRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates whether the person is personally liable.",
            "example": true
          },
          "address": {
            "description": "The address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The phone number of the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The email address of the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating business operations including name, liability, address, and contact information.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "requestContext": {
            "requestId": "d5c71239-b6ac-51db-88db-5ec5b291655c",
            "correlationId": "cc747f43-e5f0-5f4e-a050-06f083a2d7f4",
            "idempotencyKey": "d4f0d566-ad98-5084-bd45-c2a2da8ffb42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-402640"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Example St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City where the business is located.",
            "example": "Sample City"
          },
          "state": {
            "type": "string",
            "description": "State where the business is located.",
            "example": "CA"
          },
          "country": {
            "type": "string",
            "description": "Country where the business is located.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the business address.",
            "example": "90210"
          }
        },
        "description": "Schema representing the physical address of a business."
      },
      "PhoneNumber": {
        "title": "PhoneNumber",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country dialing code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number.",
            "example": "1234567890"
          }
        },
        "description": "Schema representing the contact phone number of a business."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests across systems.",
            "example": "corr-abcdef"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of requests.",
            "example": "idempotency-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is making the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "WebApp"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device being used to make the request.",
            "example": "device-123456"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "ReplaceBusinessServicesBusinesseByBusinessIdResponse_200": {
        "title": "Business Response",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the owner is personally liable for business debts.",
            "example": true
          },
          "address": {
            "description": "The physical address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The contact phone number for the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The email address associated with the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "STANDARD"
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the business was created.",
            "example": "2026-09-15"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the business details were last modified.",
            "example": "2026-09-15"
          },
          "metadata": {
            "description": "Additional metadata information related to the business response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the details of a business operation.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "businessId": "STANDARD",
          "createdDate": "2026-09-15",
          "modifiedDate": "2026-09-15",
          "metadata": {
            "responseId": "321a5ca6-dcab-5906-b35d-496701cdbc23",
            "correlationId": "cc747f43-e5f0-5f4e-a050-06f083a2d7f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata related to the business response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "businessId": {
        "name": "businessId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-business"
        },
        "example": "open-finance-api-update-business"
      },
      "x-runtime-app": {
        "description": "The name of the application that is executing the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This token should be in the JWT (JSON Web Token) format. The Bearer token must be included in the authorization header of the request to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}