{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Consumer Service By Param1-spec",
    "description": "The Consumer Service Configuration API allows businesses to update configuration settings for consumer services based on specific parameters. This API facilitates adjustments to brokered products identified by 'param1', ensuring that services remain aligned with business requirements. Typical consumers of this API include application developers and service administrators who need to fine-tune service offerings or respond to market changes. By utilizing this API, organizations can enhance the adaptability of their consumer-facing services, ensuring they meet evolving customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product/{param1}": {
      "patch": {
        "tags": [
          "BrokeredProduct"
        ],
        "summary": "Update Brokered Product Details",
        "description": "Allows for the modification of specific attributes of a brokered product identified by the given product ID. This operation is essential for maintaining accurate product information and ensuring that any updates to the product details are reflected in the system.",
        "operationId": "updateConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the information for the specified brokered product. This operation allows you to modify existing details of the product identified by PROD-700045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerServiceByParam1Request": {
        "title": "Brokered Product PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made to the brokered product.",
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating a brokered product, encapsulating changes and metadata.",
        "example": {
          "changes": {
            "customerId": "CUST-233653",
            "serviceRequestId": "b5730a0a-5f41-50d2-bba3-a0de974de14b",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a6012ad8-eefd-5143-8d42-c8fc04fe1143",
            "correlationId": "168ae5fb-20b6-5858-8a35-a0fcec2659b6",
            "idempotencyKey": "3903fe86-48f8-5d82-b5be-15b86ec41955",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-865327"
            }
          }
        }
      },
      "ProductChanges": {
        "title": "Product Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the changes.",
            "example": "string"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The ID of the service request associated with the changes.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product being modified.",
            "example": "string"
          }
        },
        "description": "Details of changes related to a product."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotence of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Metadata regarding the request context, including identifiers and source information."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateConsumerServiceByParam1Response_200": {
        "title": "Brokered Product Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the product was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for updating a brokered product.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fc6b2241-9444-541f-a65a-b823a8a11985",
            "correlationId": "168ae5fb-20b6-5858-8a35-a0fcec2659b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-update-brokered-product"
        },
        "example": "brokered-product-update-brokered-product"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where the client must include a JSON Web Token (JWT) in the Authorization header of requests to access protected resources. The token should be prefixed with the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}