{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Management API",
    "description": "The Dispute Management API provides a comprehensive solution for retrieving details about disputes within the payment ecosystem. This API enables users to access current dispute records, including status, history, and associated transactions in real-time. Typical consumers include payment processors, financial institutions, and customer support teams needing to manage or resolve disputes efficiently. By leveraging this API, organizations can enhance their dispute resolution processes and improve customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes": {
      "get": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Retrieve a list of disputes.",
        "description": "This endpoint allows you to fetch all the disputes that have been raised. You can use this to review current issues or track their status.",
        "operationId": "getDisputes",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving disputes. This should contain necessary identifiers or filters to fetch relevant dispute records.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDisputesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of dispute records.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDisputesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDisputesRequest": {
        "type": "string",
        "description": "This schema represents the JSON string payload for the request body of the GET operation related to disputes.",
        "example": "{}"
      },
      "GetDisputesResponse_200": {
        "title": "Dispute List Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there are more pages available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Pagination and related links for the response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "The list of disputes.",
            "example": [
              {
                "disputeId": "STANDARD",
                "paymentId": "PAY-430055",
                "merchantId": "MER-423289",
                "reason": "STANDARD",
                "disputedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "customerStatement": "STANDARD",
                "status": "ACTIVE",
                "responseDueAt": "2026-08-11T12:00:00Z",
                "evidence": [
                  {
                    "id": "STANDARD",
                    "fileName": "Northstar Banking Service",
                    "contentType": "STANDARD",
                    "fileSizeBytes": 1,
                    "fileUrl": "https://example.com/resource",
                    "sha256": "STANDARD",
                    "uploadedAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "financialImpact": {
                  "amountDebitedFromMerchant": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": [
                    {
                      "feeType": "STANDARD",
                      "amount": {
                        "currency": "USD",
                        "value": "STANDARD"
                      },
                      "bearer": "CUSTOMER"
                    }
                  ],
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "resolution": {
                  "outcome": "STANDARD",
                  "resolvedAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Dispute"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
              "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for a successful retrieval of disputes.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "disputeId": "STANDARD",
              "paymentId": "PAY-430055",
              "merchantId": "MER-423289",
              "reason": "STANDARD",
              "disputedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "customerStatement": "STANDARD",
              "status": "ACTIVE",
              "responseDueAt": "2026-08-11T12:00:00Z",
              "evidence": [
                {
                  "id": "STANDARD",
                  "fileName": "Northstar Banking Service",
                  "contentType": "STANDARD",
                  "fileSizeBytes": 1,
                  "fileUrl": "https://example.com/resource",
                  "sha256": "STANDARD",
                  "uploadedAt": "2026-08-11T12:00:00Z"
                }
              ],
              "financialImpact": {
                "amountDebitedFromMerchant": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": [
                  {
                    "feeType": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "value": "STANDARD"
                    },
                    "bearer": "CUSTOMER"
                  }
                ],
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "resolution": {
                "outcome": "STANDARD",
                "resolvedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
            "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method associated with the link.",
            "example": "string"
          }
        },
        "description": "Schema representing a link related to pagination or resource navigation."
      },
      "Dispute": {
        "title": "Dispute",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "string"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the dispute.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "string"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "string"
          },
          "disputedAmount": {
            "description": "The amount disputed.",
            "$ref": "#/components/schemas/Money"
          },
          "customerStatement": {
            "type": "string",
            "description": "The customer's statement related to the dispute.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "string"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The due date for a response regarding the dispute.",
            "example": "string"
          },
          "evidence": {
            "type": "array",
            "description": "Evidence submitted for the dispute.",
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "description": "The financial impact of the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Resolution details of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          }
        },
        "description": "Schema representing an individual dispute."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "ISO currency code.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the money amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing a monetary amount with currency."
      },
      "Evidence": {
        "title": "Evidence",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence.",
            "example": "string"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file uploaded as evidence.",
            "example": "string"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the file in bytes.",
            "format": "int32",
            "example": 1024
          },
          "fileUrl": {
            "type": "string",
            "description": "URL where the evidence file can be accessed.",
            "example": "https://example.com/evidence.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "SHA256 hash of the file for verification.",
            "example": "string"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp indicating when the evidence was uploaded.",
            "example": "string"
          }
        },
        "description": "Schema representing evidence for a dispute."
      },
      "FinancialImpact": {
        "title": "Financial Impact",
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "The amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/Money"
          },
          "fees": {
            "type": "array",
            "description": "List of fees incurred due to the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Amount held in reserve associated with the dispute.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema detailing the financial impact of a dispute."
      },
      "Fee": {
        "title": "Fee",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee incurred.",
            "example": "Dispute fee"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/Money"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the cost of the fee (merchant or customer).",
            "example": "merchant"
          }
        },
        "description": "Schema representing a fee related to the dispute."
      },
      "Resolution": {
        "title": "Resolution",
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "resolved"
          },
          "resolvedAmount": {
            "description": "The amount resolved in the dispute.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing the resolution of a dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-disputes"
        },
        "example": "banking-p2m-openapi-list-disputes"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme requires a valid JWT (JSON Web Token) that should be included in the authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}