{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Applications Retrieval API",
    "description": "The Loan Applications Retrieval API provides a method to access detailed information on loan applications submitted by users. This endpoint allows financial institutions and service providers to efficiently retrieve data related to individual and batch loan submissions, enhancing their ability to monitor, assess, and manage loan processing. Typical consumers include loan officers and backend systems that require real-time access to application statuses and details for processing decisions. By utilizing this API, organizations can improve their loan management workflows and customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications": {
      "get": {
        "tags": [],
        "summary": "Retrieve a list of all loan applications.",
        "description": "This endpoint allows you to fetch all loan applications submitted by users. You can utilize various query parameters to filter the results based on specific criteria, such as application status or submission date.",
        "operationId": "getLoanApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching loan applications. This should include the necessary identification details for the loan applications you wish to retrieve.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of loan applications.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsRequest": {
        "type": "string",
        "description": "The JSON formatted request body for retrieving loan applications.",
        "example": "{}"
      },
      "GetLoanApplicationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of loan application items.",
            "example": [
              {
                "productId": "PROD-847968",
                "externalReference": "STANDARD",
                "channel": "STANDARD",
                "purpose": "STANDARD",
                "purposeDescription": "STANDARD",
                "requestedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "requestedTermMonths": 1,
                "preferredRepaymentDay": 1,
                "primaryCustomerId": "CUST-182029",
                "branchCode": "CODE-627",
                "relationshipManagerId": "STANDARD",
                "campaignCode": "CODE-652",
                "customerConsent": {
                  "creditBureauConsent": true,
                  "dataProcessingConsent": true,
                  "marketingConsent": true,
                  "consentTimestamp": "2026-09-15T14:30:00Z",
                  "consentReference": "STANDARD"
                },
                "id": "f1345a8e-6a3e-bbfb-1197-83127f2bb28f",
                "applicationNumber": "STANDARD",
                "status": "ACTIVE",
                "submittedAt": "2026-09-15T14:30:00Z",
                "decisionAt": "2026-08-11T12:00:00Z",
                "bookedLoanId": "LOAN-949229",
                "completionPercent": 1,
                "outstandingRequirements": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "status": "ACTIVE",
                    "dueDate": "2026-09-15"
                  }
                ],
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanApplicationItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for loan applications GET operation.",
        "example": {
          "items": [
            {
              "productId": "PROD-847968",
              "externalReference": "STANDARD",
              "channel": "STANDARD",
              "purpose": "STANDARD",
              "purposeDescription": "STANDARD",
              "requestedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "requestedTermMonths": 1,
              "preferredRepaymentDay": 1,
              "primaryCustomerId": "CUST-182029",
              "branchCode": "CODE-627",
              "relationshipManagerId": "STANDARD",
              "campaignCode": "CODE-652",
              "customerConsent": {
                "creditBureauConsent": true,
                "dataProcessingConsent": true,
                "marketingConsent": true,
                "consentTimestamp": "2026-09-15T14:30:00Z",
                "consentReference": "STANDARD"
              },
              "id": "f1345a8e-6a3e-bbfb-1197-83127f2bb28f",
              "applicationNumber": "STANDARD",
              "status": "ACTIVE",
              "submittedAt": "2026-09-15T14:30:00Z",
              "decisionAt": "2026-08-11T12:00:00Z",
              "bookedLoanId": "LOAN-949229",
              "completionPercent": 1,
              "outstandingRequirements": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "status": "ACTIVE",
                  "dueDate": "2026-09-15"
                }
              ],
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "page": {
            "page": 1
          },
          "metadata": {
            "responseId": "5e59fea0-edee-52f6-87f4-8eb46f1533db",
            "correlationId": "3fa6a4c3-50b0-513d-aab0-2ed9214e3c3e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanApplicationItem": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "Identifier of the product associated with the loan application."
          },
          "externalReference": {
            "type": "string",
            "description": "External reference for tracking the loan application."
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the loan application was submitted."
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan."
          },
          "purposeDescription": {
            "type": "string",
            "description": "Detailed description of the purpose of the loan."
          },
          "requestedPrincipal": {
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "Requested term for the loan in months.",
            "format": "int32"
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "Preferred day of the month for loan repayment.",
            "format": "int32"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier of the primary customer applying for the loan."
          },
          "branchCode": {
            "type": "string",
            "description": "Code of the branch where the loan application is processed."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling the application."
          },
          "campaignCode": {
            "type": "string",
            "description": "Campaign code associated with the loan application."
          },
          "customerConsent": {
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application."
          },
          "applicationNumber": {
            "type": "string",
            "description": "Application number for tracking."
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application."
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp when the loan application was submitted."
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp when the decision on the loan application was made."
          },
          "bookedLoanId": {
            "type": "string",
            "description": "Identifier of the booked loan, if applicable."
          },
          "completionPercent": {
            "type": "integer",
            "description": "Percentage of the application completion.",
            "format": "int32"
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements for the loan application.",
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Represents a single loan application item."
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the requested amount."
          },
          "amount": {
            "type": "string",
            "description": "Requested principal amount."
          }
        },
        "description": "Details of the requested principal amount for the loan."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to credit bureau information access."
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to data processing."
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to marketing communication."
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp of when the consent was given."
          },
          "consentReference": {
            "type": "string",
            "description": "Reference for the consent provided by the customer."
          }
        },
        "description": "Details of customer consents related to the loan application."
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code associated with the outstanding requirement."
          },
          "description": {
            "type": "string",
            "description": "Description of the outstanding requirement."
          },
          "status": {
            "type": "string",
            "description": "Current status of the outstanding requirement."
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for the outstanding requirement."
          }
        },
        "description": "Represents an outstanding requirement for the loan application."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the loan application was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the loan application."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the loan application was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the loan application."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan application.",
            "format": "int32"
          }
        },
        "description": "Audit information for the loan application."
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32"
          }
        },
        "description": "Pagination details of the loan application response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the loan application took place."
          }
        },
        "description": "Metadata details related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-applications"
        },
        "example": "banking-loans-openapi-list-loan-applications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT) for secure access. The token should be included in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}