{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Issue Lookup API",
    "description": "The Servicing Issue Lookup API provides access to information regarding various servicing issues encountered in banking operations. Users can query the API to retrieve details on specific servicing issues, facilitating efficient issue resolution and enhanced customer service. This endpoint is primarily aimed at customer support teams and service representatives who need to investigate and address client concerns effectively. By leveraging this API, businesses can streamline their support processes and improve service quality.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-issue": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve a servicing issue",
        "description": "This endpoint allows you to retrieve detailed information about a specific servicing issue reported within the system. It provides insights into the nature of the issue, its status, and any related metadata for quick resolution.",
        "operationId": "getServicingIssue",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve servicing issues. It will contain parameters and settings relevant to the request for servicing information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingIssueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the servicing issue data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingIssueResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingIssueRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to servicing issues in the application. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetServicingIssueResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of servicing issue items.",
            "example": [
              {
                "customerId": "CUST-473753",
                "caseId": "CASE-328195",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingIssueItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving servicing issues.",
        "example": {
          "items": [
            {
              "customerId": "CUST-473753",
              "caseId": "CASE-328195",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5c4b0ae9-08f2-5a0e-a07b-ca7ef347cc47",
            "correlationId": "c562bc1e-cacd-5a60-b2d9-dc59f9b13393",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingIssueItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case."
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the service request."
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the service request."
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the service request originated."
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case creation."
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Timestamp indicating when the service level is due."
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Preferred method of contact by the customer."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the issue."
          }
        },
        "description": "Details of an individual servicing issue."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-issue-search-servicing-issue"
        },
        "example": "servicing-issue-search-servicing-issue"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses the Bearer authentication method. Clients must include a valid JWT (JSON Web Token) in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}