{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payment Details API",
    "description": "The Domestic Payment Details API provides access to detailed information regarding specific domestic payment transactions. This API allows clients, such as financial institutions and payment service providers, to retrieve comprehensive details about a given payment using its unique identifier. Typical use cases include transaction tracking, reconciliation, and customer inquiries about payment statuses. By leveraging this resource, users can enhance their offerings with detailed transaction insights and improve user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "Domestic Payment"
        ],
        "summary": "Retrieve Payment Details for Domestic Payment",
        "description": "This endpoint allows you to retrieve the detailed information related to the specified domestic payment identified by PAY-300045. It provides comprehensive data including transaction status, amount, and other related attributes.",
        "operationId": "getDomesticPaymentDetails_PAY-300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to retrieve the payment details for a specific domestic payment identified by the given payment ID. Ensure that the payment ID is valid and conforms to the expected format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticPaymentDetails_PAY-300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticPaymentDetails_PAY-300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticPaymentDetails_PAY-300045Request": {
        "type": "string",
        "description": "Request body for the GET operation related to payment details in the domestic payments context.",
        "example": "{}"
      },
      "GetDomesticPaymentDetails_PAY-300045Response_200": {
        "title": "Domestic Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "An array of payment status objects, each representing the current status of a payment transaction.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-431298",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the domestic payment details, containing payment status, links, metadata, and pagination information.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-431298",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "f77d3887-179f-5c8b-9cdc-ec73683f3e12",
            "correlationId": "b3e32b4b-e150-58c5-a8b2-a9baf858399f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "title": "Payment Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time of the last status update."
          },
          "StatusDetail": {
            "$ref": "#/components/schemas/StatusDetail"
          }
        },
        "description": "Represents the status of a payment transaction."
      },
      "StatusDetail": {
        "title": "Status Detail",
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment."
          },
          "Status": {
            "type": "string",
            "description": "The overall status of the payment."
          },
          "StatusReason": {
            "type": "string",
            "description": "Code indicating the reason for the current status."
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "Description providing more information about the status reason."
          }
        },
        "description": "Detailed information about the current status of a payment."
      },
      "Links": {
        "title": "Pagination Links",
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "URL of the current page."
          },
          "First": {
            "type": "string",
            "description": "URL of the first page."
          },
          "Prev": {
            "type": "string",
            "description": "URL of the previous page."
          },
          "Next": {
            "type": "string",
            "description": "URL of the next page."
          },
          "Last": {
            "type": "string",
            "description": "URL of the last page."
          }
        },
        "description": "Links for pagination in the response."
      },
      "Meta": {
        "title": "Meta Information",
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of available pages.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the first payment became available."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the last payment became available."
          }
        },
        "description": "Meta information about the response, including pagination details."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracing and correlating requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment-details"
        },
        "example": "payment-initiation-openapi-get-domestic-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format for authentication. The token should be a JSON Web Token (JWT) that allows users to securely access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}