{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Point of Service Transaction API",
    "description": "The Point of Service Transaction API enables businesses to process customer transactions seamlessly across various channels. This API streamlines the handling of point-of-sale transactions, allowing for efficient payment processing and recording in real-time. It is primarily used by retail and service businesses to enhance their customer experience by integrating multiple sales channels. Developers can leverage this API to ensure that transactions are accurately captured and reconciled, supporting a unified operational workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service": {
      "post": {
        "tags": [
          "Cross-Channel Management"
        ],
        "summary": "Create a new Point of Service in the Cross-Channel system.",
        "description": "This endpoint allows developers to create a new Point of Service within the Cross-Channel system, enabling a seamless interaction between different channels. Users must provide the required information in the request body to successfully create a new resource.",
        "operationId": "createCrossChannelPointOfService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to perform operations related to point-of-service transactions across channels. Ensure that all required fields are populated correctly to avoid processing errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelPointOfServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelPointOfServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelPointOfServiceRequest": {
        "title": "Cross-Channel Point of Service Operations Request",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the operation.",
            "example": "PARTY-894126"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction context.",
            "example": "INT-337123"
          },
          "channel": {
            "type": "string",
            "description": "Identifier of the channel being used for the operation.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the operation.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal processing the operation.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the operation.",
            "example": "MER-412243"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate related requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotency of the request.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System from which the request originates.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application from which the request is sent.",
                "example": "string"
              },
              "channel": {
                "$ref": "#/components/schemas/ChannelDetails"
              }
            },
            "description": "Context information regarding the request.",
            "example": {
              "requestId": "a18f763c-e88c-5e91-8ba0-b69523e48cdd",
              "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
              "idempotencyKey": "7a172783-a218-526d-bee5-7a756eb681d2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-826093"
              }
            }
          }
        },
        "description": "Request body for Cross-Channel Point of Service operations via POST.",
        "example": {
          "partyId": "PARTY-894126",
          "interactionId": "INT-337123",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "terminalId": "STANDARD",
          "merchantId": "MER-412243",
          "terminalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "a18f763c-e88c-5e91-8ba0-b69523e48cdd",
            "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
            "idempotencyKey": "7a172783-a218-526d-bee5-7a756eb681d2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-826093"
            }
          }
        }
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, email, app).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details of the communication channel used in the request."
      },
      "CreateCrossChannelPointOfServiceResponse_201": {
        "title": "Point of Service Operations Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the transaction.",
            "example": "PARTY-974881"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction linked to this operation.",
            "example": "INT-223432"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal where the transaction took place.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction.",
            "example": "MER-372277"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource pertaining to this operation.",
            "example": "RES-169302"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for point of service operations that are successfully processed.",
        "example": {
          "partyId": "PARTY-974881",
          "interactionId": "INT-223432",
          "terminalId": "STANDARD",
          "merchantId": "MER-372277",
          "resourceId": "RES-169302",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "db0542ac-b2d4-5f13-a4d6-69192aea1a18",
            "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "CORRELATION002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "US"
          }
        },
        "description": "This schema contains metadata related to the response, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-create-point-of-service"
        },
        "example": "point-of-service-create-point-of-service"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer token, specifically designed to transmit JSON Web Tokens (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}