{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Details Retrieval API",
    "description": "The Loan Details Retrieval API provides access to detailed information about specific loan products using their unique identifiers. This API allows users to retrieve comprehensive data regarding loans, such as terms, interest rates, and borrower details. Financial institutions, investors, or application developers can utilize this API to enhance their services by integrating precise loan information into their applications. This operation is essential for providing transparency and supporting informed decision-making regarding loan options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "get": {
        "tags": [
          "Loans"
        ],
        "summary": "Retrieve details of a specific loan",
        "description": "This endpoint allows you to fetch comprehensive information about a specific loan identified by its unique ID. It provides details such as the loan amount, interest rate, payment schedule, and borrower information, enabling you to understand the loan terms and conditions thoroughly.",
        "operationId": "getLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about the loan with ID LOAN-500045. This should include parameters that specify how you would like to filter or format the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body structure for the GET operation related to loan with ID 500045.",
        "example": "{}"
      },
      "GetLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier of the source application.",
            "example": "APP-576916"
          },
          "productId": {
            "type": "string",
            "description": "Identifier of the loan product.",
            "example": "PROD-806275"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier of the primary customer.",
            "example": "CUST-263976"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for the borrower customers.",
            "example": [
              "CUST-585799"
            ],
            "items": {
              "type": "string",
              "description": "Identifier of a borrower customer.",
              "example": "string"
            }
          },
          "principal": {
            "description": "Principal amount details including currency and amount.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate for the loan in percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first loan payment.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Maturity date of the loan.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code of the branch servicing the loan.",
            "example": "CODE-889"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan.",
            "example": "b92b6954-65c6-06ff-8b83-6bca5b87411a"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "totalRepaid": {
            "description": "Total amount repaid for the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "metadata": {
            "description": "Metadata related to the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for loan operations.",
        "example": {
          "sourceApplicationId": "APP-576916",
          "productId": "PROD-806275",
          "primaryCustomerId": "CUST-263976",
          "borrowerCustomerIds": [
            "CUST-585799"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-889",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "b92b6954-65c6-06ff-8b83-6bca5b87411a",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "ad155b85-9b1b-5437-b33a-71b30994de6c",
            "correlationId": "eafc7be2-eda5-5d4b-a3c8-9abbb26eee29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the principal.",
            "example": "string"
          }
        },
        "description": "Details about the principal loan amount."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "accruedInterest": {
            "description": "Accrued interest amount.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "feesOutstanding": {
            "description": "Outstanding fees amount.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties amount.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount of the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "availableToDraw": {
            "description": "Amount available to draw from the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          }
        },
        "description": "Details regarding the balance of the loan."
      },
      "CurrencyAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "string"
          }
        },
        "description": "A currency and amount pair."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information for the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-get-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-get-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, which requires a bearer token (in JSON Web Token format) to be included in the Authorization header of the request. The bearer token is used to authenticate the user and authorize access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}