{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Platform Operations API",
    "description": "The Platform Operations API facilitates the management and oversight of IT operations within the banking infrastructure. It provides endpoints for retrieving critical operational data and performance metrics related to platform functionality. Typical consumers include system administrators and IT managers who require insights for monitoring and optimizing platform efficiency. By utilizing this API, users can effectively ensure consistent service delivery and address operational challenges swiftly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve platform operations.",
        "description": "This operation fetches the details of all platform operations within the IT management system, allowing users to monitor and manage ongoing activities effectively.",
        "operationId": "getPlatformOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve platform operations details from the IT management system. It is required to specify the necessary parameters to ensure the appropriate data is fetched based on the user's request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the platform operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPlatformOperationsRequest": {
        "type": "string",
        "description": "A request body for the GET operation on platform operations. This schema is intended to define the structure of data sent in the GET request.",
        "example": "{}"
      },
      "GetPlatformOperationsResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operation items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations request, containing an array of items and pagination details.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8159d70c-5aee-54b8-926a-945c72c7cf8d",
            "correlationId": "67177990-e2cb-580c-8765-b91f63e51d26",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "title": "Operation Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "string"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation occurs.",
            "example": "string"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the associated change.",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Name of the team responsible for the operation.",
            "example": "string"
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled date and time for the operation.",
            "example": "string"
          },
          "serviceTier": {
            "type": "string",
            "description": "Tier of service for this operation.",
            "example": "string"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage.",
            "example": 0.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Time window for maintenance operations.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation record.",
            "example": "string"
          }
        },
        "description": "Details of an individual operation item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination metadata for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-search-platform-operations"
        },
        "example": "platform-operations-search-platform-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a JWT token in the Authorization header of their requests to gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}