{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Letter Of Credits-spec",
    "description": "This API allows users to access and retrieve information about Trade Banking Letters of Credit. It serves financial institutions and businesses that need to monitor or manage their letters of credit, providing insights into their status and details. Typically, users include traders, financial analysts, and compliance officers who require up-to-date data for decision-making and reporting. The comprehensive resource enables efficient tracking of letters of credit, enhancing communication between parties involved in international trade.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/letter-of-credit": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve letter of credit details",
        "description": "Fetches the details of a letter of credit from the trade banking system, providing important information related to its terms, beneficiaries, and status.",
        "operationId": "listTradeBankingLetterOfCredits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving information about the letter of credit. This should contain the necessary parameters to query the specific letter of credit details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingLetterOfCreditsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the letter of credit information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingLetterOfCreditsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingLetterOfCreditsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to a letter of credit in the trade banking context.",
        "example": "{}"
      },
      "ListTradeBankingLetterOfCreditsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of letter of credit items.",
            "example": [
              {
                "corporateCustomerId": "CUST-249885",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-658316",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "applicantId": "STANDARD",
                "beneficiaryId": "STANDARD",
                "expiryDate": "2026-09-15",
                "incoterm": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LetterOfCreditItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving letter of credit operations.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-249885",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-658316",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "applicantId": "STANDARD",
              "beneficiaryId": "STANDARD",
              "expiryDate": "2026-09-15",
              "incoterm": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "542fd725-f351-5540-b8fe-7973a66dc131",
            "correlationId": "58d664cb-d71e-5bf6-833c-bd103c0d7779",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LetterOfCreditItem": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer."
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "Maturity date of the letter of credit."
          },
          "applicantId": {
            "type": "string",
            "description": "Identifier for the applicant."
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Identifier for the beneficiary."
          },
          "expiryDate": {
            "type": "string",
            "description": "Expiry date of the letter of credit."
          },
          "incoterm": {
            "type": "string",
            "description": "Incoterms applicable to the transaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Schema representing a letter of credit item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount."
          }
        },
        "description": "Schema representing an amount with a value and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that processed the request.",
          "example": "letter-of-credit-search-letter-of-credit"
        },
        "example": "letter-of-credit-search-letter-of-credit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that handled the request.",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a bearer token in the HTTP Authorization header, typically represented as a JSON Web Token (JWT). This token can be used to securely transmit claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}