{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_P2M Refund Management API",
    "description": "The P2M Refund Management API facilitates the seamless processing of refund requests for payment transactions. This API allows businesses to initiate refunds quickly, ensuring customer satisfaction and efficient transaction handling. Typical consumers include e-commerce platforms and financial service providers who need to manage refund operations. By offering robust functionality for refund processing, this API helps maintain smooth customer service and accountability in financial transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Initiate a refund process.",
        "description": "This operation allows users to initiate a refund for a specific transaction, providing the necessary details to process the request. Ensure all required fields are filled out to prevent delays in processing.",
        "operationId": "createRefund",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a refund operation. The JSON object should contain relevant details about the transaction that is being refunded, including identifiers, amounts, and any necessary reason codes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund request processed successfully and resource created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRefundResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRefundRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment being refunded.",
            "example": "PAY-759274"
          },
          "amount": {
            "description": "The amount of money to be refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-218"
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference ID for the refund provided by the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the refund request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "paymentId": "PAY-759274",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-218",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "requestContext": {
            "requestId": "864a9875-fe3e-560a-9944-973e50fa54c5",
            "correlationId": "71ea356f-5891-54cf-ac42-9567ae603591",
            "idempotencyKey": "52abf86a-8d3b-50e8-b3b5-e789fe66087d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-161329"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount being refunded.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the refund amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount and currency for a refund."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs and requests.",
            "example": "correlation-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure that requests are idempotent.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2022-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application name that initiated the refund request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used to initiate the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for processing the refund request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, in-store).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "CreateRefundResponse_201": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "The unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "The identifier of the payment related to this refund.",
            "example": "PAY-847460"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier of the merchant making the refund.",
            "example": "MER-953888"
          },
          "amount": {
            "description": "The amount to be refunded, including currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code indicating the reason for the refund.",
            "example": "CODE-321"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Merchant's own reference for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details in case the refund has failed.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Details from the processor related to this refund.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information about the refund operation.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata information related to the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for refund operations after a successful POST request.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-847460",
          "merchantId": "MER-953888",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-321",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-923",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-263917",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-749"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "08037b54-c229-597d-9298-94be88fcf772",
            "correlationId": "71ea356f-5891-54cf-ac42-9567ae603591",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Failure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "The category of the failure.",
            "example": "USER_ERROR"
          },
          "code": {
            "type": "string",
            "description": "Specific error code indicating the failure reason.",
            "example": "ERR_001"
          },
          "message": {
            "type": "string",
            "description": "Human-readable message explaining the failure.",
            "example": "Insufficient funds"
          },
          "declineCode": {
            "type": "string",
            "description": "Code related to the decline of the refund request.",
            "example": "DECLINED"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the failure can be retried.",
            "example": false
          }
        },
        "description": "Schema representing details of a refund failure."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "The payment network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID provided by the payment scheme.",
            "example": "transaction_001"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "acquirer_001"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number provided by the issuer.",
            "example": "issuer_001"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for transaction retrieval.",
            "example": "retrieval_001"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Schema containing processor-related references for the refund."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the refund was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the refund.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the refund was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the refund.",
            "example": "user789"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema providing audit details for the refund."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema containing metadata information pertaining to the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-refund"
        },
        "example": "banking-p2m-openapi-create-refund"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication. It accepts a JWT (JSON Web Token) in the Authorization header to authenticate requests. The token must be prefixed with 'Bearer ' followed by a space.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}