{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Loans-spec",
    "description": "The Loan Management API allows users to access a comprehensive list of available loan options. This endpoint streamlines the process for consumers looking to compare and evaluate various loan products. Financial institutions and brokers can leverage this API to provide current loan offerings to potential borrowers. It serves as a vital resource for both professional finance applications and consumer-facing platforms, facilitating informed borrowing decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "get": {
        "tags": [
          "Loans"
        ],
        "summary": "Retrieve a list of loans.",
        "description": "Fetches all available loans from the system. This endpoint allows clients to gather information about each loan, including details like amount, terms, and status.",
        "operationId": "listLoanLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving loan information, which contains parameters for filtering and querying loans available in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of loans.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanLoansRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on loans in JSON format.",
        "example": "{}"
      },
      "ListLoanLoansResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of loan items.",
            "example": [
              {
                "sourceApplicationId": "APP-926194",
                "productId": "PROD-206878",
                "primaryCustomerId": "CUST-203196",
                "borrowerCustomerIds": [
                  "CUST-854121"
                ],
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "termMonths": 1,
                "annualInterestRatePercent": "STANDARD",
                "interestRateType": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "bookingDate": "2026-09-15",
                "firstPaymentDate": "2026-09-15",
                "maturityDate": "2026-09-15",
                "repaymentAccountNumber": "STANDARD",
                "servicingBranchCode": "CODE-906",
                "relationshipManagerId": "STANDARD",
                "purpose": "STANDARD",
                "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
                "accountNumber": "STANDARD",
                "status": "ACTIVE",
                "balance": {
                  "principalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "accruedInterest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "availableToDraw": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "totalDisbursed": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalRepaid": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving loans in the system.",
        "example": {
          "items": [
            {
              "sourceApplicationId": "APP-926194",
              "productId": "PROD-206878",
              "primaryCustomerId": "CUST-203196",
              "borrowerCustomerIds": [
                "CUST-854121"
              ],
              "principal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "termMonths": 1,
              "annualInterestRatePercent": "STANDARD",
              "interestRateType": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "bookingDate": "2026-09-15",
              "firstPaymentDate": "2026-09-15",
              "maturityDate": "2026-09-15",
              "repaymentAccountNumber": "STANDARD",
              "servicingBranchCode": "CODE-906",
              "relationshipManagerId": "STANDARD",
              "purpose": "STANDARD",
              "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
              "accountNumber": "STANDARD",
              "status": "ACTIVE",
              "balance": {
                "principalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "accruedInterest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "availableToDraw": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "totalDisbursed": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalRepaid": {
                "currency": "USD"
              }
            }
          ],
          "metadata": {
            "responseId": "7cbf7ea1-597a-5310-bf13-b6bacffc521c",
            "correlationId": "bcb866cd-0a87-53e8-a7f1-80e0989f5c4a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanItem": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the source application from which the loan originated."
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the loan product."
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer associated with the loan."
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for borrowers associated with the loan.",
            "items": {
              "type": "string"
            }
          },
          "principal": {
            "description": "The principal amount and its currency.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the loan in months.",
            "format": "int32"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate expressed as a percentage."
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate (e.g., fixed or variable)."
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, quarterly)."
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked."
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment due."
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures."
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which repayments will be made."
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Branch code for loan servicing."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager overseeing the loan."
          },
          "purpose": {
            "type": "string",
            "description": "Purpose for which the loan was taken."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan."
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan."
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan."
          },
          "balance": {
            "description": "Balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalRepaid": {
            "description": "Total amount repaid on the loan.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Detailed information about a loan."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "Amount of money."
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount.",
            "$ref": "#/components/schemas/Money"
          },
          "accruedInterest": {
            "description": "Accrued interest on the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "feesOutstanding": {
            "description": "Outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties for late payment.",
            "$ref": "#/components/schemas/Money"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "availableToDraw": {
            "description": "Available amount that can still be drawn.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Balance details of a loan."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loans"
        },
        "example": "banking-loans-openapi-list-loans"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via a JSON Web Token (JWT). Clients must include the token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}