{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Payment Id-spec",
    "description": "The Retrieve P2M Payment Details API allows users to access detailed information about a specific P2M (peer-to-peer money transfer) transaction using a unique payment ID. This endpoint is essential for financial institutions and payment service providers looking to audit, validate, or provide customer support for transactions. By supplying the payment ID, developers can easily retrieve all associated data for a transaction. Common use cases include transaction tracking, reporting, and integration into customer service workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment details",
        "description": "Fetches detailed information about a specific payment using its unique identifier. This operation allows you to view all relevant data associated with the payment, such as status, amount, and transaction history.",
        "operationId": "getP2mByPaymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for a specific payment identifier, PAY-300045. It requires no additional parameters in the body, as the payment identifier is specified directly in the URL.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByPaymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByPaymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByPaymentIdRequest": {
        "title": "Payment Request Body",
        "type": "string",
        "description": "This schema represents the request body for the payment operation in JSON format.",
        "example": "{}"
      },
      "GetP2mByPaymentIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-400101"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the intent to process the payment.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "5f0c6472-88de-5cd4-9262-7aa471e447e1"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-610408"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the payment occurred.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for the payment.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "ORD-547794"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for processing the transaction.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details of the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details of the various amounts related to the payment.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional metadata related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful payment operation.",
        "example": {
          "paymentId": "PAY-400101",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "5f0c6472-88de-5cd4-9262-7aa471e447e1",
          "merchantId": "MER-610408",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-547794",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-850",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "39113e93-4c34-51ec-ad6c-20fc196c66fc",
            "correlationId": "5454bf85-46aa-54cd-8cf0-711ec971f4ce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, wallet).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method for further processing.",
            "example": "tok_123456"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer of the payment method.",
            "example": "ABC123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., card number).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Wallet provider if the payment method is a digital wallet.",
            "example": "PayPal"
          }
        },
        "description": "Schema representing the payment method details."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_123456"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+12345678901"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "low_risk"
          }
        },
        "description": "Schema representing customer information."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount requested for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "authorized": {
            "description": "Amount authorized for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "captured": {
            "description": "Amount captured from the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "refunded": {
            "description": "Amount refunded back to the customer.",
            "$ref": "#/components/schemas/Amount"
          },
          "reversed": {
            "description": "Amount reversed from the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "tip": {
            "description": "Tip amount included in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees applied to the payment.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "netToMerchant": {
            "description": "Net amount to the merchant after fees.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing various amounts associated with the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Actual value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee (e.g., service fee, transaction fee).",
            "example": "transaction_fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "The party responsible for the fee.",
            "example": "merchant"
          }
        },
        "description": "Schema representing a fee associated with the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "responseId_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the payment.",
            "example": "corrId_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata related to the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-payment"
        },
        "example": "banking-p2m-openapi-get-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided in the Authorization header of the request. The token contains claims that authenticate the user and authorize their access to the requested resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}