{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Banking Security Advisory API",
    "description": "The Banking Security Advisory API allows businesses to update their security advisory information in a dynamic banking environment. By utilizing the PATCH method, clients can modify specific aspects of their existing security advisories, ensuring they remain compliant and effectively address current security threats. This API is particularly useful for financial institutions seeking to enhance their security postures and communicate updates to their stakeholders. Typical consumers include banking software developers and enterprise risk management teams aiming for better security management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory/{param1}": {
      "patch": {
        "tags": [
          "Security Advisory"
        ],
        "summary": "Update security advisory details.",
        "description": "This endpoint allows users to update the details of a specific security advisory identified by RES-100045. Ensure that you provide the necessary data in the request body to modify the advisory effectively.",
        "operationId": "updateSecurityAdvisoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the security advisory details. Ensure that all required fields are correctly filled to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSecurityAdvisoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful completion of the request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSecurityAdvisoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSecurityAdvisoryRes100045Request": {
        "title": "Security Advisory Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details regarding the changes being made in the security advisory.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body structure for updating security advisory operations.",
        "example": {
          "changes": {
            "engagementId": "STANDARD",
            "scope": "STANDARD",
            "framework": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "14b1c575-e7d0-599a-b09d-c5b9e13b6be5",
            "correlationId": "3e08fb40-9fbd-54c1-b0b6-c370d96f5f47",
            "idempotencyKey": "3e7367ee-f858-5fa7-bf6f-1e36800c8554",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-520324"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "ENG123456"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the advisory update.",
            "example": "Full system scan"
          },
          "framework": {
            "type": "string",
            "description": "Framework related to the changes.",
            "example": "NIST Cybersecurity Framework"
          }
        },
        "description": "Schema representing the specific changes being requested for the security advisory."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ789012"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "CORR345678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "IDEMPOTENCY_KEY_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request is made.",
            "example": "Security Management App"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request, including identifiers and source details."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateSecurityAdvisoryRes100045Response_200": {
        "title": "Security Advisory Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version number of the response",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status message of the operation",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on security advisory.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7f9648e6-3e26-5489-ae7b-5048dc2b49ee",
            "correlationId": "3e08fb40-9fbd-54c1-b0b6-c370d96f5f47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through the system",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed during the operation. This ID helps in tracing and logging activities related to specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-update-security-advisory"
        },
        "example": "security-advisory-update-security-advisory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request. This header provides context regarding which application is involved in the interaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authorization header to authenticate requests. It expects a JSON Web Token (JWT) which should be included in the Authorization header as 'Bearer <token>'. This allows the server to validate the identity of the user making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}