{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mortgage Loan Retrieval API",
    "description": "The Mortgage Loan Retrieval API enables users to access detailed information about specific mortgage loans based on unique identifiers. This endpoint is essential for banks, financial institutions, and developers working on applications that require mortgage loan data. By providing parameters for input, consumers can fetch insights into loan terms, interest rates, and borrower information. This API is particularly useful for customer service representatives and financial analysts conducting client inquiries or market research.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/mortgage-loan/{param1}": {
      "get": {
        "tags": [
          "Mortgage Loan"
        ],
        "summary": "Retrieve mortgage loan details",
        "description": "This endpoint allows users to fetch detailed information about a specific mortgage loan identified by its loan number. It provides insights into the terms, balance, and other essential attributes of the loan.",
        "operationId": "getMortgageLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about the mortgage loan identified by LOAN-500045. This body should contain all relevant information required to process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMortgageLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved mortgage loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMortgageLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMortgageLoanDetailsRequest": {
        "title": "Mortgage Loan Operation Request Body",
        "type": "string",
        "description": "Schema representing the request body for mortgage loan operations.",
        "example": "{}"
      },
      "GetMortgageLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-304810"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the loan account.",
            "example": "ACC-653862"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment.",
            "example": "STANDARD"
          },
          "propertyId": {
            "type": "string",
            "description": "The unique identifier for the property securing the loan.",
            "example": "STANDARD"
          },
          "propertyValue": {
            "description": "The value of the property securing the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "The loan-to-value percentage ratio.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "The metadata associated with the loan record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving mortgage loan details.",
        "example": {
          "customerId": "CUST-304810",
          "accountId": "ACC-653862",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "propertyId": "STANDARD",
          "propertyValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "loanToValuePercent": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "67a32652-6d82-581c-9215-d11713d05306",
            "correlationId": "041f25b3-fece-5c25-a519-38faa68968b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical amount value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the loan took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the loan record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-get-mortgage-loan"
        },
        "example": "mortgage-loan-get-mortgage-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication is performed using a Bearer token, which is specified in the Authorization header. This token should be in JWT (JSON Web Token) format, providing a secure mechanism for user authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}