{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Reconciliation Run Exceptions-spec",
    "description": "The Reconciliation Run Exceptions API provides access to details about exceptions occurring during reconciliation runs. It allows users to query and retrieve information related to specific exceptions for an identified reconciliation run. This API is essential for data analysts and reconciliation teams aiming to monitor and resolve discrepancies efficiently. Common use cases include tracking exception statuses, analyzing exception patterns, and ensuring accurate financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{param1}/exceptions": {
      "get": {
        "tags": [
          "Reconciliation Management"
        ],
        "summary": "Retrieve exceptions for a specific reconciliation run.",
        "description": "This operation fetches a list of exceptions associated with the specified reconciliation run identified by its unique ID. It helps users to review any issues that were encountered during the reconciliation process.",
        "operationId": "listReconciliationRunExceptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch exceptions related to a specific reconciliation run identified by the specified ID (RES-100045). It provides comprehensive details necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListReconciliationRunExceptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of exceptions for the reconciliation run.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReconciliationRunExceptionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListReconciliationRunExceptionsRequest": {
        "title": "Reconciliation Run Exceptions Request Body",
        "type": "string",
        "description": "A string representing JSON data for request body, which could include details about exceptions in reconciliation runs.",
        "example": "{}"
      },
      "ListReconciliationRunExceptionsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of items.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of links for navigation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "A list of reconciliation exception items.",
            "example": [
              {
                "exceptionId": "STANDARD",
                "type": "STANDARD",
                "sourceAReference": "STANDARD",
                "sourceBReference": "STANDARD",
                "sourceAAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "sourceBAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "difference": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "status": "ACTIVE",
                "resolutionNote": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReconciliationException"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response of reconciliation runs, detailing pagination, items, and metadata.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "exceptionId": "STANDARD",
              "type": "STANDARD",
              "sourceAReference": "STANDARD",
              "sourceBReference": "STANDARD",
              "sourceAAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "sourceBAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "difference": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "status": "ACTIVE",
              "resolutionNote": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "af1afaef-2ad2-5987-b319-7a9d89b439ef",
            "correlationId": "e4f06b4a-1d37-5759-9222-1833e7f5795e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL that the link points to.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to be used when following the link.",
            "example": "string"
          }
        },
        "description": "A hyperlink that facilitates navigation."
      },
      "ReconciliationException": {
        "type": "object",
        "properties": {
          "exceptionId": {
            "type": "string",
            "description": "Unique identifier for the exception.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of exception.",
            "example": "string"
          },
          "sourceAReference": {
            "type": "string",
            "description": "Reference from source A related to the exception.",
            "example": "string"
          },
          "sourceBReference": {
            "type": "string",
            "description": "Reference from source B related to the exception.",
            "example": "string"
          },
          "sourceAAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "sourceBAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "difference": {
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the exception.",
            "example": "string"
          },
          "resolutionNote": {
            "type": "string",
            "description": "Notes regarding the resolution of the exception.",
            "example": "string"
          }
        },
        "description": "An individual reconciliation exception record."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount with its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2022-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, providing a reference for logging and tracking within the reconciliation runs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-reconciliation-exceptions"
        },
        "example": "banking-p2m-openapi-list-reconciliation-exceptions"
      },
      "X-Runtime-App": {
        "description": "Identifies the application runtime context in which the request is processed, useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}