{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payments Retrieval API",
    "description": "The Payments Retrieval API allows businesses to access transaction records for payments made through the platform. This endpoint enables users to retrieve detailed payment information, facilitating reconciliation and financial auditing. Typical consumers of this API include financial analysts, accounting software, and business administrators looking for payment insights. By using this API, organizations can efficiently manage their payment processes and improve overall financial tracking.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a list of payments",
        "description": "Fetches all existing payments from the system, allowing developers to access payment data for further analysis or processing.",
        "operationId": "getPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching payment information. This body should include the necessary parameters to retrieve the specific payment details according to the API documentation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to payments. It is expected to be a string that may contain specific identifiers or search criteria for payment operations.",
        "example": "{}"
      },
      "GetPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items displayed per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of links for pagination or navigation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "An array of payment items.",
            "example": [
              {
                "paymentId": "PAY-373314",
                "paymentIntentId": "STANDARD",
                "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
                "merchantId": "MER-382914",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "merchantOrderId": "ORD-425816",
                "channel": "STANDARD",
                "paymentMethod": {
                  "type": "STANDARD",
                  "token": "STANDARD",
                  "issuerBankCode": "CODE-170",
                  "maskedIdentifier": "STANDARD",
                  "walletProvider": "STANDARD"
                },
                "customer": {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "riskSegment": "STANDARD"
                },
                "amounts": {
                  "requested": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "authorized": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "captured": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunded": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversed": {
                    "currency": "USD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the results of a payment operations GET request.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "paymentId": "PAY-373314",
              "paymentIntentId": "STANDARD",
              "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
              "merchantId": "MER-382914",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "merchantOrderId": "ORD-425816",
              "channel": "STANDARD",
              "paymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-170",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "amounts": {
                "requested": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "authorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversed": {
                  "currency": "USD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "bb1fa281-6d95-50c7-b7ec-f301c822a571",
            "correlationId": "db5ace05-e956-52d7-aa91-b619cfb3867d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL to which the link points.",
            "example": "http://example.com/next"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method used for the link.",
            "example": "GET"
          }
        },
        "description": "A link object used for pagination or navigation."
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "payment123"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "The identifier for the payment intent associated with this payment.",
            "example": "intent123"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "The identifier for the QR payment request associated with this payment.",
            "example": "qrRequest123"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "merchant123"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "outlet123"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "terminal123"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "order123"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made.",
            "example": "online"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "$ref": "#/components/schemas/Amounts"
          }
        },
        "description": "An object representing a payment item."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method used (e.g., credit card, debit card).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "The token representing the payment method.",
            "example": "token123"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the issuer.",
            "example": "bank123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "A masked version of the payment method identifier (e.g., last four digits of a card number).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "The name of the wallet provider, if applicable.",
            "example": "walletProvider123"
          }
        },
        "description": "Details about the payment method used."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "customer123"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "johndoe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment category of the customer.",
            "example": "low"
          }
        },
        "description": "Information about the customer making the payment."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "$ref": "#/components/schemas/ReverseDetail"
          }
        },
        "description": "Details about the payment amounts."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is represented.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount value.",
            "example": "100.00"
          }
        },
        "description": "Details of an amount in a specific currency."
      },
      "ReverseDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the reversed amount is represented.",
            "example": "USD"
          }
        },
        "description": "Details specific to a reversed amount."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating logs.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata about the response, including ID and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-payments"
        },
        "example": "banking-p2m-openapi-list-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication. The token should be formatted as a JSON Web Token (JWT) and included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}