{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Investment Management By Param1-spec",
    "description": "This API enables businesses to efficiently manage and update investment portfolios by specifying parameters. Users can modify key aspects of their investment strategies, ensuring alignment with financial goals and compliance requirements. It serves financial institutions and investment managers looking to optimize their portfolio planning processes. This endpoint allows modification of investment details to reflect current market conditions and client preferences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-planning/{param1}": {
      "patch": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Update Investment Portfolio Planning",
        "description": "This operation allows users to update the details of a specific investment portfolio planning resource identified by its unique identifier. Ensure that all necessary fields are accurately provided to successfully apply changes to the resource.",
        "operationId": "updateInvestmentManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the investment portfolio planning for a specified resource. The JSON payload should include the relevant fields that need to be modified, adhering to the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvestmentManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the investment portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInvestmentManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateInvestmentManagementByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object that contains the details of the changes to be applied to the investment portfolio.",
            "$ref": "#/components/schemas/InvestmentPortfolioChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The datetime when the change takes effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual data regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the PATCH request body to modify the investment portfolio.",
        "example": {
          "changes": {
            "portfolioId": "PORT-482146",
            "investmentAccountId": "ACC-679266",
            "investmentObjective": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6233bdfc-efe4-5524-afb9-a4d307670652",
            "correlationId": "8e6525be-bea4-50e2-b79c-034d6ffcda32",
            "idempotencyKey": "b2d6eb79-5b93-59b9-8468-2af7ccc278d3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-287006"
            }
          }
        }
      },
      "InvestmentPortfolioChanges": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier of the portfolio.",
            "example": "12345"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier of the investment account.",
            "example": "ABC123"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective of the portfolio, e.g., growth, income.",
            "example": "Growth"
          }
        },
        "description": "Details of the changes to the investment portfolio."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that a request is processed only once.",
            "example": "idempotent-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "The datetime when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InvestmentManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "PortfolioApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, e.g., web, mobile, API.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel through which the request was submitted."
      },
      "UpdateInvestmentManagementByParam1Response_200": {
        "title": "Investment Portfolio Planning Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response content.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, representing success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the PATCH operation in investment portfolio planning.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d277188f-b784-5ea2-b221-a1606434b66f",
            "correlationId": "8e6525be-bea4-50e2-b79c-034d6ffcda32",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses across systems.",
            "example": "abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains additional metadata information pertaining to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-update-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-update-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves the use of a JSON Web Token (JWT). Clients must include the token in the Authorization header when making API requests to verify their identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}