{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Information Management API",
    "description": "The Market Information Management API enables businesses to update and refine market data seamlessly. This API allows authorized users to modify existing market information, ensuring real-time accuracy and relevancy. It is primarily designed for financial institutions and market analysts who require up-to-date data to make informed decisions. Typical use cases include adjusting market settings, updating pricing information, and maintaining compliance with market regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-information-management/{param1}": {
      "patch": {
        "tags": [
          "Market Information Management"
        ],
        "summary": "Update Market Information Resource",
        "description": "This operation allows users to update the details of a specific market information resource identified by RES-100045. Ensure that the provided data complies with the expected format for successful updates.",
        "operationId": "updateMarketDataRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body updates the market information related to the specified resource. It requires a JSON object that follows the defined schema to modify existing records or properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketDataRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketDataRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketDataRes100045Request": {
        "title": "Market Information Management Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be applied to the market information.",
            "$ref": "#/components/schemas/MarketInformationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for PATCH operations in Market Information Management.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-727"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2718c47f-5795-56f5-8dcb-1f9fccb9ab27",
            "correlationId": "ba47e25c-4bf5-54d7-be2f-5709e6e0486b",
            "idempotencyKey": "cff63188-865f-5258-bba8-cd06a19f12d9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-319330"
            }
          }
        }
      },
      "MarketInformationChanges": {
        "title": "Market Information Changes",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the instrument being changed.",
            "example": "ABCD1234"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "US1234567890"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code that identifies the market where the instrument is listed.",
            "example": "XNYS"
          }
        },
        "description": "Schema representing changes to market information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Contextual information about the request made."
      },
      "ChannelContext": {
        "title": "Channel Context",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateMarketDataRes100045Response_200": {
        "title": "Market Information Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Market Information Management API. It includes details about the operation status, metadata, and version information.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5da09e3b-8ad0-56e6-9284-5b525532f53a",
            "correlationId": "ba47e25c-4bf5-54d7-be2f-5709e6e0486b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "abc-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-03T11:59:59Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata containing response identifiers and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-information-management-update-market-information-management"
        },
        "example": "market-information-management-update-market-information-management"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, providing context on the application runtime.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses JSON Web Tokens (JWT) to securely transmit claims between parties. This method ensures that any POST or GET request is authorized when a valid token is provided in the header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}