{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Consumer Service Bank Draft-spec",
    "description": "The Consumer Service Bank Draft API facilitates the creation of bank drafts for consumer services. This endpoint allows users to initiate and submit bank draft requests, providing a seamless experience for managing consumer banking operations. Typical consumers of this API include financial institutions and banking applications seeking to automate the bank draft creation process. By leveraging this API, developers can enhance their applications with efficient payment solutions that cater to consumer needs in a secure manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/bank-drafts": {
      "post": {
        "tags": [
          "BankDrafts"
        ],
        "summary": "Create a new bank draft for a consumer.",
        "description": "This endpoint allows the creation of a bank draft associated with a consumer's account, ensuring that all necessary details are provided for successful processing.",
        "operationId": "createConsumerServiceBankDraft",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new bank draft in the consumer services system. It requires specific details about the draft being created, structured according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerServiceBankDraftRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerServiceBankDraftResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerServiceBankDraftRequest": {
        "title": "Bank Drafts Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-272004"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "1571fc96-c54e-51b2-9bd2-f61914fcab46"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the bank draft.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The monetary amount for the bank draft.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date on which the request for the bank draft is made.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations related to bank drafts.",
        "example": {
          "customerId": "CUST-272004",
          "serviceRequestId": "1571fc96-c54e-51b2-9bd2-f61914fcab46",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "77512d24-ac1d-5988-bd23-8d511cef3eb6",
            "correlationId": "4a604dfa-5dde-57fb-b4d2-33018b8d75bf",
            "idempotencyKey": "d1534c82-c432-52a9-bf6b-a576c0e552a8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-658874"
            }
          }
        }
      },
      "Amount": {
        "title": "Monetary Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount, following ISO 4217 standards.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount including its value and currency."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "R123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs and requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency for the request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema encapsulating context information for the bank draft request."
      },
      "Channel": {
        "title": "Request Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHAN12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "DEV12345"
          }
        },
        "description": "Schema representing the details about the channel through which the request was made."
      },
      "CreateConsumerServiceBankDraftResponse_201": {
        "title": "Bank Draft Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-167104"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request associated with this operation.",
            "example": "48585227-b2d5-5c33-a3a7-a3835b599cd5"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the bank draft.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource involved in the operation.",
            "example": "RES-216215"
          },
          "status": {
            "type": "string",
            "description": "Current status of the bank draft operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the bank draft was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the bank draft operations API indicating the status and details of the request.",
        "example": {
          "customerId": "CUST-167104",
          "serviceRequestId": "48585227-b2d5-5c33-a3a7-a3835b599cd5",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-216215",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b18bc64c-e6cf-5b7f-afa6-d6bcba45c4a0",
            "correlationId": "4a604dfa-5dde-57fb-b4d2-33018b8d75bf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp marking when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema for additional metadata information regarding the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-drafts-create-bank-drafts"
        },
        "example": "bank-drafts-create-bank-drafts"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, where a encoded JSON Web Token (JWT) is used to authorize requests. Clients should include this token in the 'Authorization' header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}