{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Notification Subscriptions Webhook Event By Event Id-v5-spec",
    "description": "The Manage Notification Subscriptions API facilitates the replacement of specific webhook events within notification subscriptions. By utilizing this endpoint, clients can update existing events using their unique identifiers, ensuring that the right modifications are applied to the relevant webhook. This operation is essential for businesses that need to maintain accurate and timely notifications based on event changes. Typical consumers include application developers and system integrators who manage webhooks for real-time data updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/events/{eventId}": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update the event for the specified webhook.",
        "description": "This endpoint allows you to update an existing event for the specified webhook identified by RES-100045. Ensure that the request contains the necessary data to successfully update the event in the system.",
        "operationId": "replaceNotificationSubscriptionsWebhookEventByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the data that will be sent to the specified webhook event. Ensure the JSON structure aligns with the required schema for processing the event correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookEventByEventIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookEventByEventIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceNotificationSubscriptionsWebhookEventByEventIdRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The URL where the webhook will send notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "Conditions that specify when the webhook should be triggered.",
            "$ref": "#/components/schemas/Condition"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating event webhook operations.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "ec502529-478c-53bf-92f9-ff9a19cf091b",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "idempotencyKey": "f7b0359e-77aa-5ab3-a322-b60614c8d06d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-682213"
            }
          }
        }
      },
      "Condition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event type that the webhook subscribes for.",
            "example": "event.subscription.type"
          },
          "includes": {
            "type": "array",
            "description": "List of items that are included in the webhook condition.",
            "example": [
              "item1",
              "item2"
            ],
            "items": {
              "type": "string",
              "description": "An item that is included in the condition."
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of items that are excluded from the webhook condition.",
            "example": [
              "item3",
              "item4"
            ],
            "items": {
              "type": "string",
              "description": "An item that is excluded from the condition."
            }
          }
        },
        "description": "Describes the conditions for the webhook event."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request execution."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used (if applicable).",
            "example": "device-123"
          }
        },
        "description": "Information regarding the communication channel."
      },
      "ReplaceNotificationSubscriptionsWebhookEventByEventIdResponse_200": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name associated with the webhook event.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URL where the webhook event is sent.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "The conditions under which the webhook will be dispatched.",
            "$ref": "#/components/schemas/Condition"
          },
          "metadata": {
            "description": "Additional metadata related to the webhook event.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful handling of a webhook event.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "5141395e-2dfa-51e4-a1f5-c53206f3f916",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response correlation.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the webhook was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Contains additional information related to the webhook event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-webhook-subscription-event"
        },
        "example": "open-finance-api-update-webhook-subscription-event"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method implemented via JSON Web Tokens (JWT). It allows clients to access secured endpoints by including a JWT in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}