{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loans Loan-v5-spec",
    "description": "MICROSERVICE-PROD-Create Loans Loan-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "post": {
        "operationId": "createLoansLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoansLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoansLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoansLoanRequest": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "example": "APP-675178"
          },
          "productId": {
            "type": "string",
            "example": "PROD-329451"
          },
          "primaryCustomerId": {
            "type": "string",
            "example": "CUST-317783"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "example": [
              "CUST-391663"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "termMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "example": "CODE-667"
          },
          "relationshipManagerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "c5bd98e1-1c3c-5ad7-b610-2de2ee1edd6d",
              "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
              "idempotencyKey": "eca69b19-b8ae-514b-a72a-198c305a7e36",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-116556"
              }
            }
          }
        },
        "example": {
          "sourceApplicationId": "APP-675178",
          "productId": "PROD-329451",
          "primaryCustomerId": "CUST-317783",
          "borrowerCustomerIds": [
            "CUST-391663"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-667",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "c5bd98e1-1c3c-5ad7-b610-2de2ee1edd6d",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "idempotencyKey": "eca69b19-b8ae-514b-a72a-198c305a7e36",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-116556"
            }
          }
        }
      },
      "CreateLoansLoanResponse_201": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "example": "APP-738601"
          },
          "productId": {
            "type": "string",
            "example": "PROD-206979"
          },
          "primaryCustomerId": {
            "type": "string",
            "example": "CUST-588715"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "example": [
              "CUST-404459"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "termMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "example": "CODE-305"
          },
          "relationshipManagerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "example": "59e2dd26-2d29-a612-8ea5-803512888484"
          },
          "accountNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "balance": {
            "type": "object",
            "properties": {
              "principalOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "accruedInterest": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "feesOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "penaltiesOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "totalOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "availableToDraw": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "principalOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "accruedInterest": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "availableToDraw": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          },
          "totalDisbursed": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalRepaid": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "0abdd200-6bc3-5cea-b4d9-af15f69a15f8",
              "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "sourceApplicationId": "APP-738601",
          "productId": "PROD-206979",
          "primaryCustomerId": "CUST-588715",
          "borrowerCustomerIds": [
            "CUST-404459"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-305",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "59e2dd26-2d29-a612-8ea5-803512888484",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "0abdd200-6bc3-5cea-b4d9-af15f69a15f8",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}