{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Customer Billing-v5-spec",
    "description": "The Customer Billing Management API enables financial institutions to effectively manage customer billing operations within their banking services. By utilizing this API, users can create and configure various billing profiles for customers, ensuring accurate and timely billing processes. This service is particularly beneficial for banking operations teams, who require seamless integration with existing customer management systems. Typical use cases include setting up new billing arrangements, modifying existing billing details, and ensuring compliance with billing regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "post": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Create a new customer billing record.",
        "description": "This endpoint allows you to create a new billing record for a customer. It handles the necessary details to ensure accurate billing management and integrates with existing financial systems.",
        "operationId": "createBankingOperationalServicesCustomerBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for processing customer billing operations. It should contain the necessary details regarding the billing transactions and customer information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesCustomerBillingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the billing operation was completed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesCustomerBillingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesCustomerBillingRequest": {
        "title": "Customer Billing Request",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account.",
            "example": "ACC-196245"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-853730"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for which the charges are applied.",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "description": "List of charges applicable to the billing account.",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100.0,
                "currency": "USD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingCharge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The date when the payment is due.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Customer Billing operation.",
        "example": {
          "billingAccountId": "ACC-196245",
          "customerId": "CUST-853730",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100.0,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "bb25c717-0b18-5c76-92dc-ca22892a8acd",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "idempotencyKey": "6f673889-7b36-5b8e-8295-d2b235428d88",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-323086"
            }
          }
        }
      },
      "BillingCharge": {
        "title": "Billing Charge",
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "The type of charge (e.g., service fee, tax).",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "The amount of the charge.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the charge is issued.",
            "example": "string"
          }
        },
        "description": "Schema representing a single charge in the billing details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from where the request was made.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device that made the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel information."
      },
      "CreateBankingOperationalServicesCustomerBillingResponse_201": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account.",
            "example": "ACC-828590"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-654131"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the billing.",
            "example": "RES-883747"
          },
          "status": {
            "type": "string",
            "description": "The current status of the billing operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the billing record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the billing operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer's billing operation.",
        "example": {
          "billingAccountId": "ACC-828590",
          "customerId": "CUST-654131",
          "resourceId": "RES-883747",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5f51fb34-6eb8-5d7c-bbf4-5970c49af50e",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_abcdef"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the billing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for additional metadata related to the billing operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-create-customer-billing"
        },
        "example": "customer-billing-create-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}