{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Direct Debits-spec",
    "description": "The Direct Debits Overview API allows users to access a comprehensive list of AISP (Account Information Service Provider) direct debit transactions associated with their accounts. This API serves primarily banks and financial institutions that require access to customer direct debit data for compliance and financial tracking. Developers can integrate this functionality into financial applications, enabling users to monitor and manage their direct debit commitments effortlessly. Use cases include generating reports on direct debits or providing insights into user spending related to direct debit transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/direct-debits": {
      "get": {
        "tags": [
          "Direct Debits"
        ],
        "summary": "Retrieve a list of direct debits",
        "description": "This endpoint allows developers to fetch a comprehensive list of direct debit agreements associated with a specific account, providing insights into ongoing transactions and their statuses.",
        "operationId": "listAispDirectDebits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving direct debit information, which includes details necessary for fetching related data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispDirectDebitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of direct debit information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispDirectDebitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispDirectDebitsRequest": {
        "type": "string",
        "description": "A request body for the GET operation regarding direct debit operations. This string represents the data sent in a JSON format.",
        "example": "{}"
      },
      "ListAispDirectDebitsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DirectDebit": {
                "type": "array",
                "description": "Array of Direct Debit records.",
                "items": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/PaginationLinks"
              },
              "Meta": {
                "$ref": "#/components/schemas/MetaInformation"
              },
              "metadata": {
                "$ref": "#/components/schemas/ResponseMetadata"
              }
            },
            "description": "Container for data related to Direct Debits.",
            "example": {
              "DirectDebit": [
                {
                  "AccountId": "ACC-528277",
                  "id": "STANDARD",
                  "statusCode": "CODE-767",
                  "MandateRelatedInformation": {
                    "MandateIdentification": "2026-09-15",
                    "Classification": "STANDARD",
                    "CategoryPurposeCode": "CODE-108",
                    "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                    "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                    "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                    "Frequency": {
                      "Type": "STANDARD",
                      "CountPerPeriod": 1,
                      "PointInTime": "STANDARD"
                    },
                    "Reason": "STANDARD"
                  },
                  "Name": "Northstar Banking Service",
                  "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                  "PreviousPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the Direct Debits operation of the GET request. It includes data about Direct Debits, pagination links, metadata, and other relevant information.",
        "example": {
          "Data": {
            "DirectDebit": [
              {
                "AccountId": "ACC-528277",
                "id": "STANDARD",
                "statusCode": "CODE-767",
                "MandateRelatedInformation": {
                  "MandateIdentification": "2026-09-15",
                  "Classification": "STANDARD",
                  "CategoryPurposeCode": "CODE-108",
                  "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                  "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                  "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                  "Frequency": {
                    "Type": "STANDARD",
                    "CountPerPeriod": 1,
                    "PointInTime": "STANDARD"
                  },
                  "Reason": "STANDARD"
                },
                "Name": "Northstar Banking Service",
                "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                "PreviousPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "501ee62c-915c-5728-91b9-99f05997f143",
            "correlationId": "001fde32-6b67-59ce-b8a5-3f087b264160",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebit": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the Direct Debit."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the Direct Debit."
          },
          "statusCode": {
            "type": "string",
            "description": "Current status code of the Direct Debit."
          },
          "MandateRelatedInformation": {
            "$ref": "#/components/schemas/MandateInformation"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the Direct Debit."
          },
          "PreviousPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the last payment made."
          },
          "PreviousPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema representing a Direct Debit record."
      },
      "MandateInformation": {
        "type": "object",
        "properties": {
          "MandateIdentification": {
            "type": "string",
            "description": "Unique identifier for the mandate."
          },
          "Classification": {
            "type": "string",
            "description": "Classification of the mandate."
          },
          "CategoryPurposeCode": {
            "type": "string",
            "description": "Purpose code for the category of the mandate."
          },
          "FirstPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the first payment."
          },
          "RecurringPaymentDateTime": {
            "type": "string",
            "description": "Date and time for recurring payments."
          },
          "FinalPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the final payment."
          },
          "Frequency": {
            "$ref": "#/components/schemas/PaymentFrequency"
          },
          "Reason": {
            "type": "string",
            "description": "Reason for the Direct Debit."
          }
        },
        "description": "Information related to the mandate of the Direct Debit."
      },
      "PaymentFrequency": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of payment frequency."
          },
          "CountPerPeriod": {
            "type": "integer",
            "description": "Number of payments per period.",
            "format": "int32"
          },
          "PointInTime": {
            "type": "string",
            "description": "Specific point in time for the payment."
          }
        },
        "description": "Frequency details of the payment."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the previous payment."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the previous payment amount."
          }
        },
        "description": "The amount for the previous payment including currency."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results."
          }
        },
        "description": "Container for pagination related links."
      },
      "MetaInformation": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the first data became available."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the last data became available."
          }
        },
        "description": "Meta information about the data response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request and response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the Direct Debits request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-direct-debits"
        },
        "example": "accounts-api-get-direct-debits"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication format, which requires a valid JSON Web Token (JWT) for authentication. The token must be provided in the authorization header as 'Bearer {token}', where '{token}' is replaced with the actual JWT issued to the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}