{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Collateral Administration By Param1-spec",
    "description": "This API endpoint allows users to retrieve detailed collateral administration data based on specific parameters. It serves financial institutions and administrators by providing information necessary for effective collateral allocation management. Key consumers of this API include banking professionals and compliance officers who need to access collateral data for auditing and reporting purposes. By utilizing this endpoint, users can ensure accurate monitoring and management of collateral assets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-allocation-management/{param1}": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve collateral allocation by ID.",
        "description": "Fetches detailed information about a specific collateral allocation identified by its unique ID. This operation is useful for examining the specifics of a collateral allocation within the collateral management system.",
        "operationId": "getCollateralAdministrationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to collateral allocation management operations for a specific resource identified by RES-100045. The structure of the request body follows the schema defined for this operation, ensuring that all required parameters are supplied in the correct format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAdministrationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the expected data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAdministrationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAdministrationByParam1Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the collateral allocation management service.",
        "example": "{}"
      },
      "GetCollateralAdministrationByParam1Response_200": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "PARTY-238756"
          },
          "assetType": {
            "type": "string",
            "description": "The type of asset for the collateral.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date the collateral was valued.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "The percentage haircut applied to the collateral.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "The lien status of the collateral.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the collateral record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the collateral record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the collateral record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the collateral response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents a response object for collateral allocation management operations.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-238756",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b6d2d601-5010-5509-bb83-604ae6842e51",
            "correlationId": "646006e5-b24a-5873-884a-8532a45314ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the market value.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the market value amount.",
            "example": "USD"
          }
        },
        "description": "Represents the market value details of a collateral."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests and responses.",
            "example": "CORR7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Contains metadata information for the collateral response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-allocation-management-get-collateral-allocation-management"
        },
        "example": "collateral-allocation-management-get-collateral-allocation-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, in which the client sends a JWT (JSON Web Token) in the Authorization header of the request to authenticate itself to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}