{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Deposit Lending Term Deposit Framework Agreement By Term Deposit Framework Agreement Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Banking Deposit Lending Term Deposit Framework Agreement By Term Deposit Framework Agreement Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement/{termDepositFrameworkAgreementId}": {
      "get": {
        "operationId": "getBankingDepositLendingTermDepositFrameworkAgreementByTermDepositFrameworkAgreementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/termDepositFrameworkAgreementId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingDepositLendingTermDepositFrameworkAgreementByTermDepositFrameworkAgreementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingDepositLendingTermDepositFrameworkAgreementByTermDepositFrameworkAgreementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingDepositLendingTermDepositFrameworkAgreementByTermDepositFrameworkAgreementIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetBankingDepositLendingTermDepositFrameworkAgreementByTermDepositFrameworkAgreementIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-982871"
          },
          "accountId": {
            "type": "string",
            "example": "ACC-255224"
          },
          "productCode": {
            "type": "string",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "termMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "example": "STANDARD"
          },
          "depositAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "tenorDays": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "457a1643-3f81-59f7-87e9-f54a1b052649",
              "correlationId": "068089f3-2fcb-564d-ab5e-43458e04910a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "customerId": "CUST-982871",
          "accountId": "ACC-255224",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "457a1643-3f81-59f7-87e9-f54a1b052649",
            "correlationId": "068089f3-2fcb-564d-ab5e-43458e04910a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "termDepositFrameworkAgreementId": {
        "name": "termDepositFrameworkAgreementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}