{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Withdrawal Management API",
    "description": "The Cash Withdrawal Management API facilitates seamless cash withdrawal transactions from user accounts via banking cards. This endpoint allows users to initiate cash withdrawal requests by specifying the card ID associated with their account. Typical consumers include financial institutions and banking applications aiming to integrate automated cash withdrawal functionalities. The API aims to enhance user experience by offering a simple and efficient method for cash access, ensuring secure and quick transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/cash-withdrawals": {
      "post": {
        "tags": [
          "Card Operations"
        ],
        "summary": "Create a cash withdrawal for a specific card.",
        "description": "This operation allows you to initiate a cash withdrawal transaction for the card identified by CARD-400045. You will need to provide the necessary details for the withdrawal, including the amount and any required authentication information.",
        "operationId": "createCashWithdrawalForCard400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "description": "This payload is used to initiate a cash withdrawal from the specified card. It must include all required fields to process the transaction successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashWithdrawalForCard400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and cash withdrawal processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCashWithdrawalForCard400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCashWithdrawalForCard400045Request": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique token representing the card for the transaction.",
            "example": "TOK-554275"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder associated with the card.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the transaction.",
            "example": "MER-936673"
          },
          "transactionAmount": {
            "description": "Details of the transaction amount including the value and currency.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the merchant's category.",
            "example": "5411"
          },
          "authorizationType": {
            "type": "string",
            "description": "Type of authorization required for the transaction.",
            "example": "STANDARD"
          },
          "terminalEntryMode": {
            "type": "string",
            "description": "Mode used for entry at the terminal (e.g., chip, magnetic stripe, etc.).",
            "example": "STANDARD"
          },
          "threeDSecureResult": {
            "type": "string",
            "description": "Result of the 3D secure authentication if applicable.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for cash withdrawal operations using a specific card.",
        "example": {
          "cardToken": "TOK-554275",
          "cardholderId": "STANDARD",
          "merchantId": "MER-936673",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "authorizationType": "STANDARD",
          "terminalEntryMode": "STANDARD",
          "threeDSecureResult": "STANDARD",
          "requestContext": {
            "requestId": "9cef8580-b520-50e3-b7ce-3a22c536756e",
            "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
            "idempotencyKey": "23140499-026d-546e-90a6-743ea9a6ff93",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-187293"
            }
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be transacted.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the transaction amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests or transactions.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a transaction is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name or identifier of the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name or identifier of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the request including IDs and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., online, in-store, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel used for the transaction."
      },
      "CreateCashWithdrawalForCard400045Response_200": {
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-947174"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the category of the merchant.",
            "example": "5411"
          },
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "decision": {
            "type": "string",
            "description": "Decision made for the transaction (e.g., approved, declined).",
            "example": "STANDARD"
          },
          "reasonCode": {
            "type": "string",
            "description": "Reason code for the decision made.",
            "example": "CODE-269"
          },
          "authorizedAt": {
            "type": "string",
            "description": "Timestamp of when the authorization was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "R123456789"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to track the request and its associated responses.",
                "example": "C1234567890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the metadata was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the transaction was processed.",
                "example": "US-West"
              }
            },
            "description": "Additional metadata related to the transaction.",
            "example": {
              "responseId": "28e946b3-2f77-55af-ab33-f82fd2a44c32",
              "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for cash withdrawal operations.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-947174",
          "merchantCategoryCode": "5411",
          "authorizationId": "STANDARD",
          "decision": "STANDARD",
          "reasonCode": "CODE-269",
          "authorizedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "28e946b3-2f77-55af-ab33-f82fd2a44c32",
            "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking and troubleshooting specific calls made to the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-authorize-card-authorization"
        },
        "example": "card-authorization-authorize-card-authorization"
      },
      "x-runtime-app": {
        "description": "The name of the application that initiated the request. This can be useful for logging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "A unique identifier for the specific workflow associated with the operation. This can assist in understanding the context of the request within the broader system process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-024"
        },
        "example": "WF-024"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ATM Cash Withdrawal Authorization and Posting"
        },
        "example": "ATM Cash Withdrawal Authorization and Posting"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7611080c-16da-48fa-95c3-dcd80d036b96"
        },
        "example": "7611080c-16da-48fa-95c3-dcd80d036b96"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for authentication. The token should be included in the `Authorization` header of requests as a Bearer token. This method enables secured API access with a standard token format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}