{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Merchants-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Merchants-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants": {
      "get": {
        "operationId": "listP2mMerchants",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mMerchantsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mMerchantsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mMerchantsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mMerchantsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "merchantId": "MER-251194",
                "business": {
                  "legalName": "Olivia Bennett",
                  "tradingName": "Northstar Banking Service",
                  "registrationNumber": "NY-4587219",
                  "taxIdentificationNumber": "STANDARD",
                  "incorporationCountry": "STANDARD",
                  "incorporationDate": "2026-09-15",
                  "merchantType": "STANDARD",
                  "merchantCategoryCode": "5411"
                },
                "registeredAddress": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "stateOrProvince": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                },
                "contact": {
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "website": "https://example.com/resource"
                },
                "status": "ACTIVE",
                "kybStatus": "ACTIVE",
                "amlStatus": "ACTIVE",
                "capabilities": {
                  "channels": [
                    "STANDARD"
                  ],
                  "paymentMethods": [
                    "STANDARD"
                  ],
                  "supportsPartialCapture": true,
                  "supportsPartialRefund": true,
                  "supportsTips": true,
                  "supportsSplitPayments": true
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "business": {
                  "type": "object",
                  "properties": {
                    "legalName": {
                      "type": "string",
                      "example": "string"
                    },
                    "tradingName": {
                      "type": "string",
                      "example": "string"
                    },
                    "registrationNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "taxIdentificationNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "incorporationCountry": {
                      "type": "string",
                      "example": "string"
                    },
                    "incorporationDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "merchantType": {
                      "type": "string",
                      "example": "string"
                    },
                    "merchantCategoryCode": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "registeredAddress": {
                  "type": "object",
                  "properties": {
                    "line1": {
                      "type": "string",
                      "example": "string"
                    },
                    "line2": {
                      "type": "string",
                      "example": "string"
                    },
                    "city": {
                      "type": "string",
                      "example": "string"
                    },
                    "stateOrProvince": {
                      "type": "string",
                      "example": "string"
                    },
                    "postalCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "country": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "contact": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "phone": {
                      "type": "string",
                      "example": "string"
                    },
                    "website": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "kybStatus": {
                  "type": "string",
                  "example": "string"
                },
                "amlStatus": {
                  "type": "string",
                  "example": "string"
                },
                "capabilities": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "paymentMethods": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "supportsPartialCapture": {
                      "type": "boolean",
                      "example": false
                    },
                    "supportsPartialRefund": {
                      "type": "boolean",
                      "example": false
                    },
                    "supportsTips": {
                      "type": "boolean",
                      "example": false
                    },
                    "supportsSplitPayments": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c6f9ab76-49e0-555f-b361-8f2b9a9015b2",
              "correlationId": "07f32381-7768-567b-83f0-07b64c247b87",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "merchantId": "MER-251194",
              "business": {
                "legalName": "Olivia Bennett",
                "tradingName": "Northstar Banking Service",
                "registrationNumber": "NY-4587219",
                "taxIdentificationNumber": "STANDARD",
                "incorporationCountry": "STANDARD",
                "incorporationDate": "2026-09-15",
                "merchantType": "STANDARD",
                "merchantCategoryCode": "5411"
              },
              "registeredAddress": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "stateOrProvince": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              },
              "contact": {
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "website": "https://example.com/resource"
              },
              "status": "ACTIVE",
              "kybStatus": "ACTIVE",
              "amlStatus": "ACTIVE",
              "capabilities": {
                "channels": [
                  "STANDARD"
                ],
                "paymentMethods": [
                  "STANDARD"
                ],
                "supportsPartialCapture": true,
                "supportsPartialRefund": true,
                "supportsTips": true,
                "supportsSplitPayments": true
              }
            }
          ],
          "metadata": {
            "responseId": "c6f9ab76-49e0-555f-b361-8f2b9a9015b2",
            "correlationId": "07f32381-7768-567b-83f0-07b64c247b87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-merchants"
        },
        "example": "banking-p2m-openapi-list-merchants"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}