{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Marketing By Param1-spec",
    "description": "This API allows businesses to update marketing details of customer surveys based on specific parameters. By utilizing this endpoint, organizations can efficiently modify marketing strategies linked to customer feedback. Typical consumers include marketing teams and data analysts who leverage insights from customer surveys to enhance engagement efforts. This operation supports the dynamic nature of marketing by enabling rapid adjustments to strategies based on customer responses.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-surveys/{param1}": {
      "patch": {
        "tags": [
          "Customer Surveys"
        ],
        "summary": "Update Customer Survey",
        "description": "This operation allows you to update the details of a specific customer survey. Provide the necessary fields in the request body to modify the survey attributes as required.",
        "operationId": "updateMarketingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the specified customer survey identified by CUST-100045. The JSON payload should contain the fields that need to be modified along with their new values.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, customer survey details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketingByParam1Request": {
        "title": "Patch Customer Surveys Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be made in the customer survey.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context details regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating customer surveys.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "28f7730c-f3d0-5b7d-8848-1778d457605e",
            "correlationId": "8851caf4-6a4c-5c11-bf35-cd1907c6ea6c",
            "idempotencyKey": "e235b0dd-9992-5e2a-9f07-87b600816157",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-770428"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Identifier of the campaign associated with the changes.",
            "example": "string"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment impacted by the changes.",
            "example": "string"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels to be used in the marketing campaign.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the changes to be applied to the customer survey."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the survey.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., email, SMS).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details of the request."
      },
      "UpdateMarketingByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the survey response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the survey response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response object for customer survey operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "52aad3f0-6dad-5bae-85fd-34426d5ca3ad",
            "correlationId": "8851caf4-6a4c-5c11-bf35-cd1907c6ea6c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the survey response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with other events.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata details for a survey response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being called in the marketing customer surveys API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-surveys-update-customer-surveys"
        },
        "example": "customer-surveys-update-customer-surveys"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token authentication mechanism, specifically utilizing JSON Web Tokens (JWT). The client must include this token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}