{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Finance Insights API",
    "description": "The Corporate Finance Insights API provides access to critical financial data that supports corporate decision-making. Users can retrieve detailed information about corporate finance operations, such as transactions, financial reports, and analytics. This API is ideal for financial analysts, corporate finance teams, and business intelligence applications that require real-time data access for improved financial oversight and strategy formulation. By utilizing this API, organizations can enhance their financial analysis and reporting capabilities, leading to more informed business decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/corporate-finance/{param1}": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve corporate finance resource details.",
        "description": "This endpoint allows users to fetch detailed information about a specific corporate finance resource identified by RES-100045. Utilize this endpoint to obtain insights and data related to corporate finance operations and analytics.",
        "operationId": "getCorporateFinanceResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information related to corporate finance operations. Ensure that the JSON structure conforms to the required schema to receive the correct response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateFinanceResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateFinanceResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateFinanceResource100045Request": {
        "title": "Corporate Finance Operation Request Body",
        "type": "string",
        "description": "This schema represents the request body for the corporate finance operation, specifically for the GET request.",
        "example": "{}"
      },
      "GetCorporateFinanceResource100045Response_200": {
        "title": "Corporate Finance Response",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of the transaction.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "The enterprise value associated with the transaction.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "Target date for closing the transaction.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for corporate finance operations.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "53476342-3de3-5d17-9b89-47d5e8f3a0de",
            "correlationId": "e18c3aac-3760-589a-8360-49cbf1cbbf39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the enterprise value amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the enterprise value."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-finance-get-corporate-finance"
        },
        "example": "corporate-finance-get-corporate-finance"
      },
      "X-Runtime-App": {
        "description": "Name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP security scheme that uses a bearer token for authentication. This token should be a JSON Web Token (JWT), which is used to authenticate requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}