{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Consumer Service By Param1-spec",
    "description": "The Consumer Advisory Services Retrieval API allows users to access specific consumer advisory services based on the provided parameters. This API is designed for financial institutions and advisory firms that need to retrieve detailed information about advisory services offered to consumers. By providing a unique identifier as a parameter, businesses can quickly obtain the relevant data to assist their clients in making informed decisions. Typical consumers of this API include banking applications and consumer service platforms seeking to enhance their service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/consumer-advisory-services/{param1}": {
      "get": {
        "tags": [
          "Consumer Advisory"
        ],
        "summary": "Retrieve a specific consumer advisory service.",
        "description": "This endpoint allows users to fetch detailed information about a specific consumer advisory service identified by its unique ID. Utilize this service to access relevant data and insights to assist consumers effectively.",
        "operationId": "getConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve consumer advisory services information for RES-100045. It should include all the necessary parameters to ensure that the correct data is fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the expected data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the consumer advisory services.",
        "example": "{}"
      },
      "GetConsumerServiceByParam1Response_200": {
        "title": "Consumer Advisory Service Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "A unique identifier for the customer.",
            "example": "CUST-780379"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "A unique identifier for the service request.",
            "example": "31236ff9-4098-549a-a4ce-117885420cd3"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The monetary amount related to the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating whether it's active, pending, or completed.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the consumer advisory services operation.",
        "example": {
          "customerId": "CUST-780379",
          "serviceRequestId": "31236ff9-4098-549a-a4ce-117885420cd3",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1f36f9bd-f49f-5661-ac73-97f32bced370",
            "correlationId": "efda21cb-7d1d-5139-ac2c-009e4b3858a2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Monetary Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount with value and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-advisory-services-get-consumer-advisory-services"
        },
        "example": "consumer-advisory-services-get-consumer-advisory-services"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires clients to send a JSON Web Token (JWT) in the Authorization header. The token is responsible for conveying the user's authentication information, granting access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}