{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Test Configuration API",
    "description": "The Webhook Test Configuration API enables developers to set up and test webhook endpoints efficiently. It allows for the dynamic configuration of test scenarios for specified endpoint parameters. This capability benefits integration specialists and developers who need to ensure that their webhook implementations function correctly before going live. Common use cases include testing data transmission and validating endpoint responses in various workflows, ensuring reliable operational performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}/test": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Test webhook for a specific resource.",
        "description": "This endpoint allows you to test the webhook configured for the resource identified by RES-100045. Send a post request to receive a response related to the current webhook configuration and check its correctness.",
        "operationId": "testWebhookForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Payload to initiate a test for the webhook endpoint with the identifier RES-100045. This request should include the necessary information as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestWebhookForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing, but the processing is not yet complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestWebhookForResource100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "TestWebhookForResource100045Request": {
        "title": "Webhook Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a webhook operation.",
        "example": {
          "requestContext": {
            "requestId": "3a19a681-abf9-5644-8761-874020c70d76",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "idempotencyKey": "234c1291-12c1-56b9-a0e3-53720ddf99f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-274531"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate different logs and requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Webhook, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in this channel.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "TestWebhookForResource100045Response_202": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "description": "The unique identifier for the event.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of the event.",
            "example": "STANDARD"
          },
          "occurredAt": {
            "type": "string",
            "description": "Timestamp indicating when the event occurred.",
            "example": "2026-08-11T12:00:00Z"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the event.",
            "example": "MER-480941"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the event.",
            "example": "RES-564757"
          },
          "resourceType": {
            "type": "string",
            "description": "The type of resource associated with the event.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata containing additional information about the event.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Response schema representing the details of a webhook event.",
        "example": {
          "eventId": "STANDARD",
          "type": "STANDARD",
          "occurredAt": "2026-08-11T12:00:00Z",
          "merchantId": "MER-480941",
          "resourceId": "RES-564757",
          "resourceType": "STANDARD",
          "metadata": {
            "responseId": "043b5854-abae-53ce-9d09-8bcfdb7109f0",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the event was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the webhook event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-test-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-test-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism with JSON Web Tokens (JWT). Clients must include a valid JWT in the `Authorization` header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}