{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Data Switch Operation API",
    "description": "The Market Data Switch Operation API provides essential functionality to manage the switch operations for market data efficiently. It allows users to retrieve current configurations, statuses, and operational insights related to market data switches. This endpoint is particularly valuable for financial institutions and data analysts who rely on accurate market data to make informed decisions. Typical use cases include monitoring market data flows and adjusting operational settings to optimize performance. Developers can integrate this API to facilitate seamless access to vital market data management resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation": {
      "get": {
        "tags": [
          "Market Data Operations"
        ],
        "summary": "Retrieve the status of the market data switch operation.",
        "description": "This endpoint allows developers to fetch the current status and configuration of the market data switch operation. It provides insights into whether the operation is enabled, its current state, and other relevant parameters.",
        "operationId": "getMarketDataSwitchOperation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for switching market data operations. This body must contain the necessary parameters to specify the desired operation and its details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataSwitchOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataSwitchOperationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataSwitchOperationRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for market data switch operation.",
        "example": "{}"
      },
      "GetMarketDataSwitchOperationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-815",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "feedId": "STANDARD",
                "protocol": "STANDARD",
                "messagesPerSecond": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used to organize the market data items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for market data switch operation, containing a list of market data items and associated pagination and metadata.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-815",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "feedId": "STANDARD",
              "protocol": "STANDARD",
              "messagesPerSecond": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4d7a0663-0fc7-530d-9615-f1ad746d2e9e",
            "correlationId": "7663aed8-79e2-58a0-8637-1b4f649118a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument.",
            "example": "instrument-123"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "US0378331005"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code for the specific market where the instrument is traded.",
            "example": "NYSE"
          },
          "asOf": {
            "type": "string",
            "description": "The timestamp indicating when the market data is applicable.",
            "example": "2023-10-01T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data is obtained.",
            "example": "MarketDataFeed"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed providing the market data.",
            "example": "feed-001"
          },
          "protocol": {
            "type": "string",
            "description": "The communication protocol used to retrieve the market data.",
            "example": "REST"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Number of messages related to this market data item received per second.",
            "format": "int32",
            "example": 10
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the market data record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of this market data item.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single market data item with relevant details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page, indicating how many items are displayed per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for navigating through the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region from which the data was processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-search-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-search-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a valid JSON Web Token (JWT) to be included in the Authorization header of HTTP requests, granting access to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}