{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Production Release Management API",
    "description": "The Production Release Management API enables businesses to streamline their production release processes within the IT banking sector. This endpoint facilitates the submission of production release requests, allowing teams to manage deployments efficiently. It is primarily utilized by IT managers and operations teams seeking to enhance release coordination and ensure smooth transitions in the production environment. By centralizing the release requests, organizations can optimize their workflows and minimize disruption to services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Initiates a new production release in the IT management system.",
        "description": "This endpoint allows users to create a new production release, ensuring that the latest changes and features are deployed to the production environment effectively. Please provide all necessary details in the request body to facilitate the release process.",
        "operationId": "createProductionRelease",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for creating a new production release in the IT management system. It should contain all necessary information regarding the release, including relevant details such as version, release notes, and deployment schedule.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductionReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and the production release is completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductionReleaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductionReleaseRequest": {
        "title": "Production Release Request",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Identifier of the system for which the release is requested.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the production release will take place.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change being released to production.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Name of the team responsible for the change being released.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Timestamp indicating when the release is planned to occur.",
            "example": "2026-08-11T12:00:00Z"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Identifier for the leased asset associated with this release.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "Details about the residual value of the leased asset.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for initiating a production release operation.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "f010853e-ed09-5584-a84f-9c824e9746cd",
            "correlationId": "73ff425b-b286-5f03-85f5-f473086166c6",
            "idempotencyKey": "472fab03-7782-5299-a23c-42938f725ef2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-483947"
            }
          }
        }
      },
      "ResidualValue": {
        "title": "Residual Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the residual value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the residual value is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify the idempotent request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system issuing the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application within the source system.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel being used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "CreateProductionReleaseResponse_201": {
        "title": "Production Release Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change that triggered this release.",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The identifier of the leased asset associated with the release.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource involved in the release.",
            "example": "RES-652966"
          },
          "status": {
            "type": "string",
            "description": "The current status of the release operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the release was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the release operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the production release operation, including details about the system and its current state.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-652966",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "169e85d1-c4d3-56d9-9e18-20eb88a079bf",
            "correlationId": "73ff425b-b286-5f03-85f5-f473086166c6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-102"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related operations.",
            "example": "correlation-202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the release occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response of the production release operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-create-production-release"
        },
        "example": "production-release-create-production-release"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-085"
        },
        "example": "WF-085"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IT Production Release and Deployment"
        },
        "example": "IT Production Release and Deployment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b50b0990-ea8d-425c-9b7b-9a19b0e6cad3"
        },
        "example": "b50b0990-ea8d-425c-9b7b-9a19b0e6cad3"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is used as a means to securely transmit authentication claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}