{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Settlements-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Settlements-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements": {
      "get": {
        "operationId": "listP2mSettlements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mSettlementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mSettlementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mSettlementsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mSettlementsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "settlementId": "STANDARD",
                "merchantId": "MER-141282",
                "settlementAccountId": "ACC-323112",
                "periodStart": "2026-08-11T12:00:00Z",
                "periodEnd": "2026-08-11T12:00:00Z",
                "currency": "USD",
                "status": "ACTIVE",
                "summary": {
                  "grossPayments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunds": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversals": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "disputes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "taxes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveReleased": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "adjustments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netSettlement": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "settlementId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "settlementAccountId": {
                  "type": "string",
                  "example": "string"
                },
                "periodStart": {
                  "type": "string",
                  "example": "string"
                },
                "periodEnd": {
                  "type": "string",
                  "example": "string"
                },
                "currency": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "summary": {
                  "type": "object",
                  "properties": {
                    "grossPayments": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "refunds": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "reversals": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "disputes": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "fees": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "taxes": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "reserveHeld": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "reserveReleased": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "adjustments": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "netSettlement": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "844cf442-0d7c-502b-b8f5-80e95bba987e",
              "correlationId": "4bec4d3c-897c-5d95-a456-c62912df735c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "settlementId": "STANDARD",
              "merchantId": "MER-141282",
              "settlementAccountId": "ACC-323112",
              "periodStart": "2026-08-11T12:00:00Z",
              "periodEnd": "2026-08-11T12:00:00Z",
              "currency": "USD",
              "status": "ACTIVE",
              "summary": {
                "grossPayments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunds": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversals": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "disputes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveReleased": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "adjustments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netSettlement": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "844cf442-0d7c-502b-b8f5-80e95bba987e",
            "correlationId": "4bec4d3c-897c-5d95-a456-c62912df735c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlements"
        },
        "example": "banking-p2m-openapi-list-settlements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}