{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Collateral Administration By Param1-spec",
    "description": "The Collateral Administration Retrieval API provides access to specific collateral administration details by utilizing a unique identifier. This endpoint enables users to retrieve comprehensive information related to party asset directories, facilitating informed decision-making in banking operations. Typical consumers include banking institutions, asset managers, and financial analysts seeking to manage or oversee asset-backed securities. This operation aids in optimizing collateral management strategies and enhancing risk assessment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{param1}": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve Party Asset Information",
        "description": "This endpoint allows users to fetch detailed asset information associated with a specific party using their unique identifier. It provides insights into the assets managed by the party, facilitating better asset management and decision-making.",
        "operationId": "getCollateralAdministrationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the party asset directory information for a specified party ID. It contains necessary parameters to identify the requested data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAdministrationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the asset directory information is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAdministrationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAdministrationByParam1Request": {
        "title": "Request Body for Party Asset Directory Operations",
        "type": "string",
        "description": "This schema represents the request body for retrieving party asset directory operations in the collateral administration context.",
        "example": "{}"
      },
      "GetCollateralAdministrationByParam1Response_200": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party.",
            "example": "PARTY-615232"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "Market value of the asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the asset was valued.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage of the haircut applied to the asset value.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the asset.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response schema for retrieving party asset directory details.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-615232",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8736bb46-d010-5184-a49e-f85a544841bc",
            "correlationId": "504dc321-56ce-5a41-bde6-a3d99da770e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the market value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the market value amount.",
            "example": "string"
          }
        },
        "description": "Represents the market value of an asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that was invoked, allowing tracking of request routes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-get-party-asset-directory"
        },
        "example": "party-asset-directory-get-party-asset-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer token authentication. Clients must include a valid JWT (JSON Web Token) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}