{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Human Resource Management Employee Assignments-v5-spec",
    "description": "MICROSERVICE-PROD-List Banking Human Resource Management Employee Assignments-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-assignment": {
      "get": {
        "operationId": "listBankingHumanResourceManagementEmployeeAssignments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingHumanResourceManagementEmployeeAssignmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingHumanResourceManagementEmployeeAssignmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingHumanResourceManagementEmployeeAssignmentsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListBankingHumanResourceManagementEmployeeAssignmentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "employeeId": "EMP-713715",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "employeeId": {
                  "type": "string",
                  "example": "string"
                },
                "assignmentId": {
                  "type": "string",
                  "example": "string"
                },
                "departmentId": {
                  "type": "string",
                  "example": "string"
                },
                "effectiveDate": {
                  "type": "string",
                  "example": "string"
                },
                "countryCode": {
                  "type": "string",
                  "example": "string"
                },
                "employmentType": {
                  "type": "string",
                  "example": "string"
                },
                "managerId": {
                  "type": "string",
                  "example": "string"
                },
                "workLocation": {
                  "type": "string",
                  "example": "string"
                },
                "recordStatus": {
                  "type": "string",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "pageSize": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "cc03cb71-0157-5469-91ce-fe94ec2a33c7",
              "correlationId": "fda5d900-ff91-5c48-b16f-ab17f68ead1d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "employeeId": "EMP-713715",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cc03cb71-0157-5469-91ce-fe94ec2a33c7",
            "correlationId": "fda5d900-ff91-5c48-b16f-ab17f68ead1d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-assignment-search-employee-assignment"
        },
        "example": "employee-assignment-search-employee-assignment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}