{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Authorizations-spec",
    "description": "The P2M Authorizations Retrieval API provides consumers with the capability to access a comprehensive list of P2M authorizations. This endpoint enables users to retrieve detailed information about existing authorizations, including their status and associated data. Typical use cases include monitoring and auditing authorization details for compliance purposes or integrating with financial service applications. It is an essential resource for developers looking to manage and utilize authorization data effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations": {
      "get": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Retrieve Authorization List",
        "description": "Fetch a list of all authorizations available in the system. This endpoint allows clients to retrieve detailed information about each authorization, which includes their status and relevant metadata.",
        "operationId": "listP2mAuthorizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to specify parameters and criteria for retrieving authorization details. Ensure all necessary fields are included according to the defined schema in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mAuthorizationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of authorizations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mAuthorizationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mAuthorizationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to authorizations. It is expected to be a string.",
        "example": "{}"
      },
      "ListP2mAuthorizationsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "A list of links associated with the response, used for pagination.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "A list of authorization items.",
            "example": [
              {
                "authorizationId": "STANDARD",
                "paymentId": "PAY-781955",
                "merchantId": "MER-143606",
                "authorizedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "capturedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "status": "ACTIVE",
                "approvalCode": "CODE-262",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AuthorizationItem"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata relevant to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET authorizations operation, containing pagination information and a list of authorization items.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "authorizationId": "STANDARD",
              "paymentId": "PAY-781955",
              "merchantId": "MER-143606",
              "authorizedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "capturedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "status": "ACTIVE",
              "approvalCode": "CODE-262",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "8edd6f9b-c5ea-55f5-a23f-5d2e056189b1",
            "correlationId": "97e67d46-1bb0-5d5c-948c-a814ee23903d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the linked resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method for the link (e.g., GET, POST).",
            "example": "string"
          }
        },
        "description": "Represents a link object used for pagination."
      },
      "AuthorizationItem": {
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "string"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "authorizedAmount": {
            "type": "object",
            "description": "The amount that has been authorized.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "type": "object",
            "description": "The amount that has been captured.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "type": "object",
            "description": "The total amount of the authorization.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "string"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code received from the payment processor.",
            "example": "string"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization expires.",
            "example": "string"
          },
          "audit": {
            "type": "object",
            "description": "Details about the audit trail for the authorization.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Represents an individual authorization item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g. USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "string"
          }
        },
        "description": "Represents an amount with currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the authorization was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the authorization.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the authorization was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the authorization.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the authorization.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit details for the authorization item."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID associated with the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Information about the region where processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-authorizations"
        },
        "example": "banking-p2m-openapi-list-authorizations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically a JSON Web Token (JWT). It is typically passed in the `Authorization` header as `Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}