{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Engagement Management API",
    "description": "The Engagement Management API facilitates the creation and management of security advisory engagements within enterprise banking services. This API allows users to initiate new engagements, providing a structured approach to assess security risks and recommend strategies. Typical consumers include banking security teams and compliance officers who require a streamlined way to document and track advisory interactions. By leveraging this API, organizations can enhance their security posture through efficient engagement handling.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory/engagements": {
      "post": {
        "tags": [
          "Security Advisory"
        ],
        "summary": "Create a new security advisory engagement.",
        "description": "This endpoint allows you to initiate a new security advisory engagement by submitting the necessary details. It is designed to help organizations manage security risks effectively.",
        "operationId": "createSecurityAdvisoryEngagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Create a new engagement for security advisory services. This operation facilitates the submission of engagement details required for further analysis and response by the security advisory team.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSecurityAdvisoryEngagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The engagement was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSecurityAdvisoryEngagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSecurityAdvisoryEngagementRequest": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "Description of the engagement's scope.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework that governs the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the engagement.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "requestContext": {
            "requestId": "bf1981f2-63cc-5b57-85a2-548b4b81cb89",
            "correlationId": "48408b86-f307-53b6-a4c8-88c47cfb619b",
            "idempotencyKey": "8e0f90b2-05ed-5485-8ef2-f01dcd97d11c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-667680"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context details for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel of the request."
      },
      "CreateSecurityAdvisoryEngagementResponse_201": {
        "title": "Engagement Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the engagement.",
            "example": "RES-929700"
          },
          "status": {
            "type": "string",
            "description": "Current status of the engagement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the engagement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the engagement including response and processing information.",
            "$ref": "#/components/schemas/EngagementMetadata"
          }
        },
        "description": "Schema representing the response for an engagement operation in the security advisory service. It includes details about the engagement and its associated metadata.",
        "example": {
          "engagementId": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "resourceId": "RES-929700",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5881ed49-1e3f-5a7e-ad58-93cb13d2adca",
            "correlationId": "48408b86-f307-53b6-a4c8-88c47cfb619b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementMetadata": {
        "title": "Engagement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the engagement.",
            "example": "response-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation-09876"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-10T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the engagement took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to an engagement, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-087"
        },
        "example": "WF-087"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "01178001-c9cf-4147-8b18-a7edfd88f9e0"
        },
        "example": "01178001-c9cf-4147-8b18-a7edfd88f9e0"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "589b1163-2dfb-455a-a7ca-47dec772ae43"
        },
        "example": "589b1163-2dfb-455a-a7ca-47dec772ae43"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-create-security-advisory-engagement"
        },
        "example": "security-advisory-create-security-advisory-engagement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-087"
        },
        "example": "WF-087"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation. This helps identify the specific workflow for tracking and management purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Cybersecurity Assurance and Control Remediation"
        },
        "example": "Cybersecurity Assurance and Control Remediation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. Possible values include 'PENDING', 'IN_PROGRESS', 'COMPLETED', and 'FAILED'. This provides insight into the workflow's lifecycle.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This ID can be used to track specific instances of workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "589b1163-2dfb-455a-a7ca-47dec772ae43"
        },
        "example": "589b1163-2dfb-455a-a7ca-47dec772ae43"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication scheme that uses JSON Web Tokens (JWT) for secure communication. Clients must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}