{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan By Param1-spec",
    "description": "This API allows users to modify specific attributes of loan applications based on a unique identifier. The PATCH operation enables the selective updating of loan application details, enhancing user experience by allowing targeted changes without resubmitting the entire application. This service is especially useful for financial institutions and service providers looking to streamline loan processing. Typical consumers include loan officers, backend systems, and integration services within the financial domain.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update loan application with ID RES-100045",
        "description": "This endpoint allows you to update the details of a specific loan application identified by its unique ID. Ensure that all required fields are properly included in the request to successfully process the update.",
        "operationId": "updateLoanByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the loan application with the specified ID. It allows for partial modifications, meaning that only the fields provided in the request will be updated. Ensure to include the necessary fields that you wish to update and adhere to the schema defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan application was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanByParam1Request": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "branchCode": {
            "type": "string",
            "description": "The code identifying the branch handling the loan application.",
            "example": "CODE-470"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager overseeing the application.",
            "example": "STANDARD"
          },
          "customerConsent": {
            "description": "Consent details provided by the customer.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the loan application PATCH request body.",
        "example": {
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "branchCode": "CODE-470",
          "relationshipManagerId": "STANDARD",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "44b48ee8-673b-5a28-85a7-11b3a559bace",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "idempotencyKey": "73b0d217-1c1e-55d9-850e-bc22cc33cb1a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-529827"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "title": "Requested Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the loan amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal requested.",
            "example": "10000"
          }
        },
        "description": "Schema representing the financial details of the requested loan principal."
      },
      "CustomerConsent": {
        "title": "Customer Consent",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp when consent was granted.",
            "example": "2023-01-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "Reference ID for the consent record.",
            "example": "consent12345"
          }
        },
        "description": "Schema representing customer consent details related to loan applications."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ_987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking across systems.",
            "example": "CORR_123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for ensuring idempotency of the request.",
            "example": "IDEM_098765"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information about the loan request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the request.",
            "example": "CH_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE_456"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "UpdateLoanByParam1Response_200": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "Unique identifier for the loan product.",
            "example": "PROD-908930"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference ID associated with the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayments.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer applying for the loan.",
            "example": "CUST-859975"
          },
          "branchCode": {
            "type": "string",
            "description": "The code for the branch where the application was submitted.",
            "example": "CODE-324"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the loan application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The campaign code associated with the loan application.",
            "example": "CODE-586"
          },
          "customerConsent": {
            "description": "Details of the customer's consent status.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The number assigned to the application.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when the decision on the application was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The ID of the booked loan associated with the application, if applicable.",
            "example": "LOAN-246067"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage of completion for the loan application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements related to the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the loan application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata about the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response structure for a loan application operation.",
        "example": {
          "productId": "PROD-908930",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-859975",
          "branchCode": "CODE-324",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-586",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-246067",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "04bc78aa-8ca8-50c6-a43d-78d2e8fd2e73",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "title": "Outstanding Requirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the outstanding requirement.",
            "example": "REQ-001"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the outstanding requirement.",
            "example": "Proof of income needed."
          },
          "status": {
            "type": "string",
            "description": "Current status of the outstanding requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for fulfilling the outstanding requirement.",
            "example": "2023-02-01"
          }
        },
        "description": "Schema representing an outstanding requirement of the loan application."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan application was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the loan application.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the loan application was last updated.",
            "example": "2023-01-10T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the loan application.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan application.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the loan application."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating messages in the loan system.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan application is processed.",
            "example": "US-West"
          }
        },
        "description": "Schema representing additional metadata for the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-application"
        },
        "example": "banking-loans-openapi-update-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for bearer authentication. Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}