{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Service Agency API",
    "description": "The Product Service Agency API provides seamless access to product information managed by external banking agencies. Typical consumers include financial institutions and application developers looking to integrate product offerings into their services. This API allows users to retrieve detailed product descriptions, pricing, and availability by querying with specific parameters. The endpoint is designed to enhance collaboration among partners and streamline product data dissemination, ultimately improving user experience and decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-service-agency/{param1}": {
      "get": {
        "tags": [
          "Product Service Agency"
        ],
        "summary": "Retrieve Product Service Agency Details",
        "description": "This endpoint retrieves the details of a specific product service agency using its unique identifier. It is designed to provide comprehensive information about the agency for external users.",
        "operationId": "getExternalAgencyProductServiceAgencyProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to specify parameters that will be used to retrieve product information from the external agency. The content type is expected to be application/json, and the structure of the request must conform to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencyProductServiceAgencyProd700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencyProductServiceAgencyProd700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencyProductServiceAgencyProd700045Request": {
        "type": "string",
        "description": "The Request Body content represented as a JSON string for the GET operation on the product service agency.",
        "example": "{}"
      },
      "GetExternalAgencyProductServiceAgencyProd700045Response_200": {
        "title": "Product Service Agency Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The identifier for the agreement associated with the institution.",
            "example": "AGR-662118"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the financial institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the institution is located.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp for when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response returned by the product service agency for a specific operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-662118",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c1702a27-d6e7-552a-b32b-66aa718cac9c",
            "correlationId": "c23758df-9437-56bc-8afd-3d7b3b493e16",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "CORR-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-09-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "APAC"
          }
        },
        "description": "This schema represents additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-service-agency-get-product-service-agency"
        },
        "example": "product-service-agency-get-product-service-agency"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for securing API requests. Clients must include a valid JWT in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}