{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trading Book Oversight API",
    "description": "The Trading Book Oversight API facilitates the management and amendment of trading book records within the banking sector. Utilizing this endpoint, users can update specific oversight parameters related to the trading books, ensuring compliance and accuracy in financial reporting. This API is particularly useful for risk managers and compliance officers who monitor trading activities and need to maintain up-to-date oversight documentation. By leveraging this API, organizations can enhance their trading oversight processes and ensure adherence to regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-book-oversight/{param1}": {
      "patch": {
        "tags": [
          "Trading Book Oversight"
        ],
        "summary": "Update the trading book oversight for the specified resource.",
        "description": "This operation allows you to make updates to the trading book oversight for resource RES-100045, facilitating better management and compliance tracking.",
        "operationId": "updateTradingBookOversightForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the trading book oversight resource. It should contain relevant fields that need to be modified or updated within the specified resource. Ensure to follow the defined schema for the correct format of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTradingBookOversightForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the trading book oversight has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTradingBookOversightForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTradingBookOversightForRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing details of the changes made to the trading book.",
            "$ref": "#/components/schemas/TradingBookChange"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the change takes effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the requester making the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating trading book oversight operations.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "31c7edc0-3381-5a2c-99fa-2eb4bd728663",
            "correlationId": "11729b4b-6b0f-5592-a0c0-724dbb453c66",
            "idempotencyKey": "58a1d47f-7d51-5b02-b318-f51b1d5b4a1b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-833997"
            }
          }
        }
      },
      "TradingBookChange": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "TB12345"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trading activity.",
            "example": "INST456"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the trade is a buy or sell.",
            "example": "buy"
          }
        },
        "description": "Details about the changes to the trading book."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "COR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests yield the same result.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TradingPlatform"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application initiating the request.",
            "example": "TradingApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV123"
          }
        },
        "description": "Details about the channel from which the request was made."
      },
      "UpdateTradingBookOversightForRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status of the operation, represented as a string.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on the Trading Book Oversight resource.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a6fa0808-3ecc-50d3-8b5e-8d663d611593",
            "correlationId": "11729b4b-6b0f-5592-a0c0-724dbb453c66",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used to correlate multiple requests and responses.",
            "example": "abcde-12345-fghij-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Indicates the region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-book-oversight-update-trading-book-oversight"
        },
        "example": "trading-book-oversight-update-trading-book-oversight"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authentication scheme using JSON Web Tokens (JWT). This method allows clients to authenticate by sending a token in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}