{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Knowledge Asset Knowledge Exchanges-spec",
    "description": "The Knowledge Exchange Management API facilitates the retrieval of available knowledge assets within a banking context. This API allows users to access detailed information about various knowledge exchanges, enabling businesses to enhance their decision-making processes. Typical consumers of this API include financial institutions and knowledge management systems looking to leverage asset data for analytics and strategic initiatives. By utilizing this API, organizations can efficiently manage and utilize knowledge resources to foster collaboration and innovation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange": {
      "get": {
        "tags": [
          "Knowledge Exchange"
        ],
        "summary": "Retrieve knowledge exchange assets.",
        "description": "This endpoint allows you to fetch a list of knowledge exchange assets available in the system. You can use this information to understand the various resources that are being shared and exchanged within the knowledge ecosystem.",
        "operationId": "listKnowledgeAssetKnowledgeExchanges",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve knowledge asset exchange information. It should include any relevant parameters needed for the request, ensuring that the server can accurately respond to the queried information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListKnowledgeAssetKnowledgeExchangesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested knowledge assets.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListKnowledgeAssetKnowledgeExchangesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListKnowledgeAssetKnowledgeExchangesRequest": {
        "type": "string",
        "description": "This schema represents the request body of the Knowledge Exchange GET operation in application/json format.",
        "example": "{}"
      },
      "ListKnowledgeAssetKnowledgeExchangesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of knowledge items returned in the response.",
            "example": [
              {
                "knowledgeItemId": "STANDARD",
                "topic": "STANDARD",
                "authorId": "STANDARD",
                "audience": "STANDARD",
                "publishedAt": "2026-08-11T12:00:00Z",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/KnowledgeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting method applied to the knowledge items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET request to exchange knowledge assets.",
        "example": {
          "items": [
            {
              "knowledgeItemId": "STANDARD",
              "topic": "STANDARD",
              "authorId": "STANDARD",
              "audience": "STANDARD",
              "publishedAt": "2026-08-11T12:00:00Z",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8c18df2d-992e-5213-901c-9f6c9ff73e78",
            "correlationId": "7b4fee2e-5451-5b2f-bd92-1ec96b509e6b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "KnowledgeItem": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item."
          },
          "topic": {
            "type": "string",
            "description": "The topic of the knowledge item."
          },
          "authorId": {
            "type": "string",
            "description": "Identifier of the author who created the knowledge item."
          },
          "audience": {
            "type": "string",
            "description": "Target audience for the knowledge item."
          },
          "publishedAt": {
            "type": "string",
            "description": "Date and time when the knowledge item was published."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the knowledge item (e.g., published, draft)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the knowledge item was last updated."
          }
        },
        "description": "Represents a single knowledge item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination metadata for the list of knowledge items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked, useful for logging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-search-knowledge-exchange"
        },
        "example": "knowledge-exchange-search-knowledge-exchange"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, enabling identification of the service responsible.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method where a JSON Web Token (JWT) is used to verify the identity of a user. The token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}