{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Hedge Fund Administrations-spec",
    "description": "The Market Operations Hedge Fund Administration API provides comprehensive access to hedge fund administration services within market operations. This API allows users to retrieve vital information regarding various hedge fund administration processes, enabling firms to manage and analyze their financial products effectively. Typical consumers of this API include financial analysts, fund administrators, and investment managers who require timely data for decision-making. By utilizing this API, stakeholders can enhance operational efficiency and ensure compliance with regulatory requirements related to hedge fund management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/hedge-fund-administration": {
      "get": {
        "tags": [
          "Hedge Fund Operations"
        ],
        "summary": "Retrieve hedge fund administration details",
        "description": "This endpoint allows users to fetch comprehensive information regarding hedge fund administration services, including performance metrics and operational insights.",
        "operationId": "listMarketOperationHedgeFundAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to specify the parameters and options for retrieving hedge fund administration operations. The request should be formatted as JSON and follow the defined schema to ensure proper data handling and response generation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationHedgeFundAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationHedgeFundAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationHedgeFundAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in hedge fund administration market operations.",
        "example": "{}"
      },
      "ListMarketOperationHedgeFundAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of fund details.",
            "example": [
              {
                "fundId": "STANDARD",
                "shareClassId": "STANDARD",
                "valuationDate": "2026-09-15",
                "netAssetValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "unitsOutstanding": 1,
                "administratorId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FundItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting parameter used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for hedge fund administration operations, particularly for GET requests. It contains an array of fund items along with pagination and metadata details.",
        "example": {
          "items": [
            {
              "fundId": "STANDARD",
              "shareClassId": "STANDARD",
              "valuationDate": "2026-09-15",
              "netAssetValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "unitsOutstanding": 1,
              "administratorId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "64d962f2-0cae-5734-b88b-ce269796cf16",
            "correlationId": "233cb506-0b8a-5ef4-9596-90ecdf22da25",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundItem": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier for the fund.",
            "example": "string"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the share class associated with the fund.",
            "example": "string"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the valuation is conducted.",
            "example": "string"
          },
          "netAssetValue": {
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "Total number of units outstanding for the fund.",
            "format": "int32",
            "example": 0
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the fund administrator.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the fund record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the fund item.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of a single fund item."
      },
      "NetAssetValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the net asset value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the net asset value is represented.",
            "example": "string"
          }
        },
        "description": "Schema representing the net asset value of a fund."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number being returned.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items in each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "hedge-fund-administration-search-hedge-fund-administration"
        },
        "example": "hedge-fund-administration-search-hedge-fund-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where the client needs to include a valid JSON Web Token (JWT) in the Authorization header of the request. The token must be obtained through a secure process and should be provided with each request that requires authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}