{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Offers-spec",
    "description": "The Account Offers Retrieval API allows consumers to fetch offers associated with specific bank accounts. This service targets financial institutions and third-party providers that require access to account-related offers for their customers. By using the endpoint, developers can obtain real-time information on promotional offers linked to an account, enhancing financial product visibility and customer engagement. Typical use cases include integrating offer data into user interfaces or facilitating customer decision-making in financial planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/offers": {
      "get": {
        "tags": [
          "Account Offers"
        ],
        "summary": "Retrieve offers for a specific account.",
        "description": "This endpoint allows users to fetch available offers related to their specified account by providing the account identifier. It is designed to help customers explore various promotions and deals applicable to their account, enhancing their banking experience.",
        "operationId": "listAccountOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving offers associated with a specific account (ACC-200045). This endpoint allows users to obtain information about available financial offers for the specified account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the available offers for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountOffersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountOffersRequest": {
        "title": "Account Offers Request Body",
        "type": "string",
        "description": "This schema represents the request body for fetching offers related to a specific account.",
        "example": "{}"
      },
      "ListAccountOffersResponse_200": {
        "title": "Offers Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Offer": {
                "type": "array",
                "description": "A list of offers available for the account.",
                "items": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            },
            "example": {
              "Offer": [
                {
                  "AccountId": "ACC-355178",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Description": "Customer banking request processed successfully",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "Rate": "STANDARD",
                  "Value": 1,
                  "Term": "STANDARD",
                  "URL": "https://banking.northstar.example/callbacks/status",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "Fee": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current offers resource."
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of offers."
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of offers."
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of offers."
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of offers."
              }
            },
            "description": "Links related to the offers data.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available.",
                "format": "int32"
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "The date and time when the first offer is available."
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "The date and time when the last offer is available."
              }
            },
            "description": "Metadata related to the offers response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed."
              }
            },
            "description": "General metadata about the response.",
            "example": {
              "responseId": "14c93a68-dcd0-53f5-a20d-00648552da30",
              "correlationId": "0639ebdb-e651-55dd-ba12-1eb63f67873d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for offers retrieved from the accounts service.",
        "example": {
          "Data": {
            "Offer": [
              {
                "AccountId": "ACC-355178",
                "id": "STANDARD",
                "type": "STANDARD",
                "Description": "Customer banking request processed successfully",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "Rate": "STANDARD",
                "Value": 1,
                "Term": "STANDARD",
                "URL": "https://banking.northstar.example/callbacks/status",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "Fee": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "14c93a68-dcd0-53f5-a20d-00648552da30",
            "correlationId": "0639ebdb-e651-55dd-ba12-1eb63f67873d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Offer": {
        "title": "Offer",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the offer."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the offer."
          },
          "type": {
            "type": "string",
            "description": "Type of the offer."
          },
          "Description": {
            "type": "string",
            "description": "Detailed description of the offer."
          },
          "StartDateTime": {
            "type": "string",
            "description": "Start date and time of the offer."
          },
          "EndDateTime": {
            "type": "string",
            "description": "End date and time of the offer."
          },
          "Rate": {
            "type": "string",
            "description": "Rate applicable to the offer."
          },
          "Value": {
            "type": "integer",
            "description": "Value associated with the offer.",
            "format": "int32"
          },
          "Term": {
            "type": "string",
            "description": "Duration term for the offer."
          },
          "URL": {
            "type": "string",
            "description": "Link to more information about the offer."
          },
          "Amount": {
            "$ref": "#/components/schemas/OfferAmount"
          },
          "Fee": {
            "$ref": "#/components/schemas/OfferFee"
          }
        },
        "description": "Schema representing an individual offer associated with an account."
      },
      "OfferAmount": {
        "title": "Offer Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric amount of the offer."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the amount."
          }
        },
        "description": "Schema representing the amount details for an offer."
      },
      "OfferFee": {
        "title": "Offer Fee",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The fee amount associated with the offer."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the fee amount."
          }
        },
        "description": "Schema representing the fee details for an offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint, which correlates to the specific request being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-offers"
        },
        "example": "accounts-api-get-accounts-account-id-offers"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the API request, providing context about the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer token, specifically in the format of a JSON Web Token (JWT). This method provides a secure way for clients to authenticate to the API by including the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}