{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Payment Status API",
    "description": "The Update Payment Status API enables merchants to modify the status of existing payment transactions identified by a unique payment ID. This operation is vital for reflecting changes in payment states, such as marking a payment as completed, pending, or failed. Typical consumers of this API include e-commerce platforms and financial services that manage payment processing. By leveraging this API, businesses can effectively handle payment lifecycle events and improve transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}": {
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Update payment details.",
        "description": "This endpoint allows you to update specific details of a payment identified by its unique ID. You can modify various attributes of the payment as required.",
        "operationId": "updatePaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the payment details for the payment identified by PAY-300045. Ensure that the required fields are provided to successfully modify the payment information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, payment details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentByIdRequest": {
        "title": "Payment Operations Patch Request Body",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order.",
            "example": "ORD-251267"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for patching payment operations including merchant order ID and request context.",
        "example": {
          "merchantOrderId": "ORD-251267",
          "requestContext": {
            "requestId": "d6dabec9-d16b-5084-aab0-4f1e2111527c",
            "correlationId": "b69696a4-6427-50a7-9bc2-68297c6a2324",
            "idempotencyKey": "069e0f57-9719-5072-9298-54e4a3afa161",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-176525"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdatePaymentByIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-733773"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "152d4956-056d-5061-8399-992b93baa75e"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-451956"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the merchant's outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the payment terminal.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order.",
            "example": "ORD-859277"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for the transaction.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details about the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details about the various amounts involved in the transaction.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Metadata related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on payments.",
        "example": {
          "paymentId": "PAY-733773",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "152d4956-056d-5061-8399-992b93baa75e",
          "merchantId": "MER-451956",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-859277",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-611",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "23d89d12-9cce-537d-8982-64572ef13320",
            "correlationId": "b69696a4-6427-50a7-9bc2-68297c6a2324",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, wallet).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer for the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (for security).",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the payment method used in the transaction."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment category the customer belongs to.",
            "example": "string"
          }
        },
        "description": "Schema representing the customer details."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount requested for the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "authorized": {
            "description": "Amount authorized for the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "captured": {
            "description": "Amount captured from the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "refunded": {
            "description": "Amount refunded from the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "reversed": {
            "description": "Amount reversed from the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "tip": {
            "description": "Tip amount in the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the transaction.",
            "items": {
              "$ref": "#/components/schemas/FeeDetails"
            }
          },
          "netToMerchant": {
            "description": "Net amount to be received by the merchant.",
            "$ref": "#/components/schemas/NetToMerchant"
          }
        },
        "description": "Schema containing transaction amount details."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount details."
      },
      "FeeDetails": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee (e.g., processing fee).",
            "example": "string"
          },
          "amount": {
            "description": "Amount charged as the fee.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee (e.g., merchant or customer).",
            "example": "string"
          }
        },
        "description": "Schema representing the fee details associated with a transaction."
      },
      "NetToMerchant": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the net amount.",
            "example": "string"
          }
        },
        "description": "Schema indicating the net amount payable to the merchant."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the payment response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating payment requests/responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-payment-metadata"
        },
        "example": "banking-p2m-openapi-update-payment-metadata"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires a JSON Web Token (JWT) to be sent in the authorization header for validating requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}