{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Facility Equipment Maintenances-spec",
    "description": "The Facility Equipment Maintenance Management API provides endpoints for accessing and managing maintenance records of facility equipment. Organizations can utilize this API to retrieve detailed information on scheduled and completed maintenance tasks, ensuring equipment remains in optimal condition. Typical consumers include facilities managers and maintenance personnel who need to track maintenance history and compliance. This API supports efficient planning and auditing of maintenance activities, promoting operational reliability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve equipment maintenance records.",
        "description": "Fetch the list of equipment maintenance records associated with the facilities. This endpoint allows users to find crucial details about past and scheduled maintenance activities to ensure the proper upkeep of equipment.",
        "operationId": "listFacilityEquipmentMaintenances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the maintenance of equipment in facilities. Ensure that the proper parameters are included to filter and obtain the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFacilityEquipmentMaintenancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of equipment maintenance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFacilityEquipmentMaintenancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFacilityEquipmentMaintenancesRequest": {
        "type": "string",
        "description": "This schema represents a request body for retrieving equipment maintenance operations. It is expected to be a string format.",
        "example": "{}"
      },
      "ListFacilityEquipmentMaintenancesResponse_200": {
        "title": "Facilities Equipment Maintenance Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of maintenance items, each representing an individual maintenance record.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-328456",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MaintenanceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response data structure for the Equipment Maintenance operation in the Facilities API.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-328456",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "435dee84-37c4-507d-9b08-08a789df7bed",
            "correlationId": "bd665298-6773-54b5-942e-4b12f6e43219",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceItem": {
        "title": "Maintenance Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site where the maintenance is scheduled.",
            "example": "site-123"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset being maintained.",
            "example": "asset-456"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order associated with this maintenance.",
            "example": "workorder-789"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the maintenance is scheduled in ISO 8601 format.",
            "example": "2023-01-15T08:00:00Z"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor providing maintenance services.",
            "example": "vendor-abc"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance is to be performed.",
            "example": "zone-X"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed (e.g., preventive, corrective).",
            "example": "preventive"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of maintenance in minutes.",
            "format": "int32",
            "example": 60
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record (e.g., scheduled, completed).",
            "example": "scheduled"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the maintenance record was last updated in ISO 8601 format.",
            "example": "2023-01-10T12:00:00Z"
          }
        },
        "description": "Schema representing a single maintenance item associated with a facility equipment."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "example-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation between requests and responses.",
            "example": "example-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the response was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Uniquely identifies the endpoint for which the response is generated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-search-equipment-maintenance"
        },
        "example": "equipment-maintenance-search-equipment-maintenance"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that handled the request, useful for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a valid JWT token must be included in the Authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}