{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Details API",
    "description": "The Payment Details API enables users to retrieve detailed information about specific payment transactions initiated through open banking. This API allows financial institutions and third-party service providers to access essential payment data, ensuring compliance and transparency in payment processing. Typical consumers include banks, fintech companies, and developers working on payment-related applications. By providing a streamlined method for obtaining payment details, this API enhances the user experience and supports various financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "File Payments"
        ],
        "summary": "Retrieve Payment Details for a File Payment.",
        "description": "This endpoint allows you to retrieve detailed information about a specific payment identified by its unique payment ID (PAY-300045). It provides comprehensive details necessary for understanding the status and attributes of the payment.",
        "operationId": "getPaymentDetailsForFilePaymentPAY300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for a specific file payment identified by PAY-300045. Ensure that the necessary authentication credentials are included in the request headers to access the payment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForFilePaymentPAY300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForFilePaymentPAY300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForFilePaymentPAY300045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation to retrieve payment details. It is expected to be a JSON encoded string containing relevant information about the payment.",
        "example": "{}"
      },
      "GetPaymentDetailsForFilePaymentPAY300045Response_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment transaction statuses.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/PaymentTransactionStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource.",
                    "example": "http://api.example.com/payment/123"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results.",
                    "example": "http://api.example.com/payment?page=1"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results.",
                    "example": "http://api.example.com/payment?page=1"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results.",
                    "example": "http://api.example.com/payment?page=3"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results.",
                    "example": "http://api.example.com/payment?page=10"
                  }
                },
                "description": "Navigation links related to the payment data.",
                "example": {}
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The first available date and time for payments.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The last available date and time for payments.",
                    "example": "2023-12-31T23:59:59Z"
                  }
                },
                "description": "Metadata for the payment response.",
                "example": {}
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Identifier for the response.",
                    "example": "res12345"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Correlation ID for tracking requests.",
                    "example": "corr67890"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing took place.",
                    "example": "EU"
                  }
                },
                "description": "Additional metadata information about the response.",
                "example": {}
              }
            },
            "description": "Container for payment data.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-679896",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response structure for payment details retrieved from the API.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-679896",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "93996a33-3eeb-5edb-9044-e8a271c876ce",
            "correlationId": "06158cd6-14e6-59f5-ba8d-4523975a636f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentTransactionStatus": {
        "title": "Payment Transaction Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "txn78910"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction.",
            "example": "Completed"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "StatusDetail": {
            "description": "Detailed information about the payment status.",
            "$ref": "#/components/schemas/PaymentStatusDetail"
          }
        },
        "description": "Schema representing the status of a payment transaction."
      },
      "PaymentStatusDetail": {
        "title": "Payment Status Detail",
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the payment.",
            "example": "Credit Transfer"
          },
          "Status": {
            "type": "string",
            "description": "Detailed status of the payment.",
            "example": "Processed"
          },
          "StatusReason": {
            "type": "string",
            "description": "Reason for the current status of the payment.",
            "example": "Successful"
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "Detailed description of the status reason.",
            "example": "Payment completed successfully."
          }
        },
        "description": "Schema representing detailed status information for a payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-file-payment-details"
        },
        "example": "payment-initiation-openapi-get-file-payment-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for tracking and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for user authentication. Clients must include a valid JWT in the Authorization header when making requests to access protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}