{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payment Consent Retrieval API",
    "description": "This API endpoint allows users to retrieve specific consents for domestic scheduled payments within the open banking framework. It facilitates access to detailed information regarding payment consents created by users, enabling smooth processing and verification of scheduled transactions. Typical consumers of this API include financial institutions seeking to ensure compliance and customers wanting to manage their scheduled payments effectively. By providing transparent access to consent data, it enhances user trust and operational efficiency in payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payment-consents/{param1}": {
      "get": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Retrieve Scheduled Payment Consent",
        "description": "This endpoint allows you to fetch the details of a scheduled payment consent using its unique identifier. It returns information about the consent status, associated payment details, and any relevant metadata.",
        "operationId": "retrieveDomesticScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving consent information related to domestic scheduled payments. Ensure that the request complies with the expected schema to facilitate successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveDomesticScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested payment consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveDomesticScheduledPaymentConsentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "RetrieveDomesticScheduledPaymentConsentRequest": {
        "title": "Domestic Scheduled Payment Consents Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation regarding domestic scheduled payment consents.",
        "example": "{}"
      },
      "RetrieveDomesticScheduledPaymentConsentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          }
        },
        "description": "Response schema for the GET domestic scheduled payment consents operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "metadata": {
            "responseId": "3a7eb77f-f94d-5faa-97bd-f940f732e170",
            "correlationId": "c4d38500-2c4c-5925-9251-9f5a7dc5131e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "12345-abc"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Timestamp when the consent was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "ACTIVE"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp of the last status update.",
            "example": "2023-02-01T12:00:00Z"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "Permission": {
            "type": "string",
            "description": "Permissions granted by the consent.",
            "example": "PAYMENT"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicator if the refund account can be read.",
            "example": "YES"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "Timestamp for the cut-off time for processing.",
            "example": "2023-03-01T12:00:00Z"
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "Expected date and time for the payment execution.",
            "example": "2023-04-01T12:00:00Z"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "Expected date and time for the payment settlement.",
            "example": "2023-04-02T12:00:00Z"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the consent.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Details about the domestic payment consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason status.",
            "example": "1001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Consent approved"
          },
          "Path": {
            "type": "string",
            "description": "Path indicating where the status was derived from.",
            "example": "/consents/12345"
          }
        },
        "description": "Details about the reason for the status."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charge.",
            "example": "DEBTOR"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "TRANSACTION_FEE"
          },
          "Amount": {
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details about a charge associated with the payment consent."
      },
      "ChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount of the charge.",
            "example": "10.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the charge is denoted.",
            "example": "GBP"
          }
        },
        "description": "Amount details for a charge."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "PAY-123456"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Unique identifier for tracking payments end-to-end.",
            "example": "E2E-987654"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument for processing the payment.",
            "example": "SEPA"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for payment execution.",
            "example": "2023-05-01T12:00:00Z"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details for initiating a payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount being instructed.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency for the instructed amount.",
            "example": "EUR"
          }
        },
        "description": "Details of the instructed payment amount."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme the account belongs to.",
            "example": "UK.IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account.",
            "example": "Ref-001"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetails"
          }
        },
        "description": "Details of an account (either debtor or creditor)."
      },
      "ProxyDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification for the proxy.",
            "example": "proxy-12345"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the proxy.",
            "example": "PROXY_ID"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy.",
            "example": "EMAIL"
          }
        },
        "description": "Proxy information for an account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-789456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate this request with others.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata containing contextual information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-consent"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for diagnostic purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a bearer token, where the token is formatted as a JSON Web Token (JWT) for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}