{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Operations API",
    "description": "The Correspondent Bank Operations API facilitates the retrieval of information related to correspondent banking transactions. This API provides access to essential data concerning cross-border payment processes and facilitates efficient communication between financial institutions. Typical consumers include banks, payment processors, and financial services platforms that require detailed insights into correspondent banking activities. This endpoint allows users to query and analyze transaction details, improving transparency and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/correspondent-bank-operations": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Correspondent Bank Operations",
        "description": "Fetch the list of correspondent bank operations available in the payment system. This endpoint allows developers to access detailed transactional information related to correspondent banking.",
        "operationId": "getCorrespondentBankOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operations related to correspondent bank transactions. It should include any necessary filters or parameters required for the operation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondentBankOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of correspondent bank operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondentBankOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondentBankOperationsRequest": {
        "title": "Correspondent Bank Operations Request Body",
        "type": "string",
        "description": "Schema representing the request body for operations related to correspondent bank operations.",
        "example": "{}"
      },
      "GetCorrespondentBankOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment operations.",
            "example": [
              {
                "paymentId": "PAY-438913",
                "debtorAccountId": "ACC-520920",
                "creditorAccountId": "ACC-416898",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "nostroAccountId": "ACC-354950",
                "settlementCurrency": "USD",
                "relationshipStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria of the payment operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving correspondent bank operations.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-438913",
              "debtorAccountId": "ACC-520920",
              "creditorAccountId": "ACC-416898",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "nostroAccountId": "ACC-354950",
              "settlementCurrency": "USD",
              "relationshipStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "81cdf004-2fc9-5da6-8802-5ce10de6ccc6",
            "correlationId": "ce440979-b047-5ead-ab6d-265ce5459307",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOperation": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "123456789"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account.",
            "example": "debtor_id_001"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account.",
            "example": "creditor_id_001"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2023-10-10"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information providing details about the remittance.",
            "example": "Invoice payment"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier of the nostro account involved in the transaction.",
            "example": "nostro_account_001"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement of the payment.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "The status of the relationship for the payment.",
            "example": "active"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payment record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the payment operation was last updated.",
            "example": "2023-10-10T12:00:00Z"
          }
        },
        "description": "Schema representing an individual payment operation."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount to be instructed.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Amount details for the instructed payment."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_id_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation_id_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-operations-search-correspondent-bank-operations"
        },
        "example": "correspondent-bank-operations-search-correspondent-bank-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token format (JWT) for secure access control. This method is preferred for API authentication, where the token is included in the request header to verify user identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}