{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Standing Orders Management API",
    "description": "The Standing Orders Management API facilitates the creation and management of standing orders for bank accounts. This endpoint allows users to define recurring payment instructions associated with their accounts, ensuring timely and automated financial transactions. Typical consumers of this API include banking applications and financial service providers who want to enhance their offerings with automated payment solutions. By utilizing this API, developers can streamline customer payments and improve cash flow management for users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/accounts/{accountId}/standing-orders": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Create a new standing order for a specific account.",
        "description": "This operation allows you to set up a standing order for the account identified by ACC-200045. A standing order is an instruction to a bank to pay a set amount at regular intervals to another account, making it easier to manage recurring payments.",
        "operationId": "createStandingOrderForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new standing order for the specified account. The request must include all required fields to successfully establish the standing order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStandingOrderForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Standing order created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateStandingOrderForAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateStandingOrderForAccountRequest": {
        "title": "Standing Order Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-683945"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the standing order.",
            "example": "ACC-794038"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product type for the standing order.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details about the principal amount of the standing order.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the standing order in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the standing order.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request for processing the standing order.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a standing order in the banking system.",
        "example": {
          "customerId": "CUST-683945",
          "accountId": "ACC-794038",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "11c6ce1e-fecb-5672-95f5-903212251f6d",
            "correlationId": "82aa6196-1750-5bd8-a0b2-a79ab7747eef",
            "idempotencyKey": "549239ad-4c3d-5ae1-86a2-c8e5cbb48cb8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-798754"
            }
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money involved in the standing order.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency type for the principal amount.",
            "example": "string"
          }
        },
        "description": "Schema for the principal amount details of a standing order."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking the request through the system.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the same request is not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for holding request context information regarding the standing order."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used in the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request is made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for making the request.",
            "example": "string"
          }
        },
        "description": "Schema for holding information about the request channel."
      },
      "CreateStandingOrderForAccountResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-921945"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account linked to the standing order.",
            "example": "ACC-690573"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of product associated with the standing order.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the standing order.",
            "example": "RES-693979"
          },
          "status": {
            "type": "string",
            "description": "Current status of the standing order.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the standing order was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/StandingOrderMetadata"
          }
        },
        "description": "Response schema for creating standing orders associated with a specific account.",
        "example": {
          "customerId": "CUST-921945",
          "accountId": "ACC-690573",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-693979",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9767c441-a8d7-5396-827f-77e1675e3a90",
            "correlationId": "82aa6196-1750-5bd8-a0b2-a79ab7747eef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StandingOrderMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "CORR-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "US-WEST"
          }
        },
        "description": "Metadata associated with the standing order response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "standing-order-create-standing-order"
        },
        "example": "standing-order-create-standing-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow instance that this operation is part of.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-015"
        },
        "example": "WF-015"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request. This header identifies the specific workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Scheduled Standing Order Creation and Execution"
        },
        "example": "Scheduled Standing Order Creation and Execution"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. This indicates whether the workflow is pending, in progress, completed, or has encountered an error.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This ID can be used to track the execution status in logs or for auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "af73b2fb-0ada-498d-8f74-5ac5e35c4c8b"
        },
        "example": "af73b2fb-0ada-498d-8f74-5ac5e35c4c8b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). It is suitable for securing endpoints by providing a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}