{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan Application By Document Id-spec",
    "description": "The Retrieve Loan Application Document API allows users to access specific documents associated with a loan application using the application ID and document ID. This endpoint is crucial for financial institutions and service providers to quickly retrieve necessary documentation for compliance, auditing, or customer support purposes. Typical consumers include loan officers, underwriters, and customer service representatives who require immediate access to documentation for decision-making. The API simplifies document management and enhances efficiency in the loan processing workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve documents for a specific loan application.",
        "description": "This endpoint allows developers to access and retrieve the documents associated with the loan application identified by RES-100045. It provides important documentation needed for the loan management process.",
        "operationId": "getLoanApplicationByDocumentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/documentId"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves documents associated with a specific loan application identified by RES-100045. The request expects a JSON payload that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationByDocumentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested documents.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationByDocumentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationByDocumentIdRequest": {
        "type": "string",
        "description": "A string representation of the loan application document.",
        "example": "{}"
      },
      "GetLoanApplicationByDocumentIdResponse_200": {
        "title": "Loan Application Document",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document (e.g., 'Identity Proof', 'Income Statement').",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier of the applicant associated with the document.",
            "example": "41d598b1-dc3f-d14b-7490-823aedbd1f41"
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for any collateral associated with the loan.",
            "example": "427dfa7b-12f0-9f18-6386-7f89010dd823"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file uploaded for the document.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "A reference to where the document is stored in the system.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA-256 checksum of the document file for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The date when the document expires.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the document in the system.",
            "example": "bdda234f-b5e3-4c3d-de0f-d4d57a062761"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current status of the document verification process.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Any comments related to the verification of the document.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "The timestamp when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "The identifier of the user or system that verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information regarding the document's lifecycle.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the document.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents a document related to a loan application, including details such as the document type, applicant information, and status of verification.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "41d598b1-dc3f-d14b-7490-823aedbd1f41",
          "collateralId": "427dfa7b-12f0-9f18-6386-7f89010dd823",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "bdda234f-b5e3-4c3d-de0f-d4d57a062761",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "9612c2a5-32db-5f86-b9ad-ceb6cd21c66e",
            "correlationId": "e35895e4-1a0f-50e0-9d65-8b73d7fa2baf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the document was created.",
            "example": "2023-01-01T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the document.",
            "example": "user-5678"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the document was last updated.",
            "example": "2023-01-10T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the document.",
            "example": "user-5678"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit details for tracking the document's creation and modification history."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with the document.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracking the request-response flow.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata associated with documents, including identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "documentId": {
        "name": "documentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint being called for the loan applications operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-application-document"
        },
        "example": "banking-loans-openapi-get-application-document"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the runtime application used to process the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request for secure access to the API. JWTs are compact, URL-safe tokens that represent claims conveyed between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}