{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Model Liquidity Risk Model-spec",
    "description": "This API enables the creation of liquidity risk model specifications within the banking sector, facilitating financial institutions to effectively assess and manage liquidity risk. Users can define important parameters for liquidity risk assessments, which are essential in regulatory reporting and internal risk management processes. Typical consumers of this API include risk management teams, financial analysts, and compliance officers. The API streamlines the process of establishing models that help organizations mitigate potential liquidity shortfalls and enhance financial stability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/liquidity-risk-models": {
      "post": {
        "tags": [],
        "summary": "Create a new liquidity risk model.",
        "description": "This endpoint allows you to create a new liquidity risk model by providing the necessary details in the request body. Ensure that all required properties are included to successfully create the model.",
        "operationId": "createModelLiquidityRiskModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new liquidity risk model. Ensure that all required fields are filled out correctly in accordance with the specified schema. The submitted data will be processed to create or update a liquidity risk model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelLiquidityRiskModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new liquidity risk model.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateModelLiquidityRiskModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateModelLiquidityRiskModelRequest": {
        "title": "Liquidity Risk Model Request Body",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the liquidity risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the liquidity risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio related to this liquidity risk model.",
            "example": "PORT-353551"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applied.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario name or description that this model will use.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level for the risk assessment, expressed as a decimal.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validating the model.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months used for backtesting the model performance.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating or updating a liquidity risk model.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-353551",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "f0c2dcf0-5f2c-5301-9872-c5864ea91bac",
            "correlationId": "6ab567e5-3378-525b-b27f-2e8c7e2b7d84",
            "idempotencyKey": "b1f8df54-cc6c-53af-9177-f4ffafb6c232",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-481093"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that duplicate requests are handled safely.",
            "example": "def456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "RiskManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "LiquidityApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates the contextual data about the request made for the liquidity risk model."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., API, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device456"
          }
        },
        "description": "This schema represents details about the channel used in the request context."
      },
      "CreateModelLiquidityRiskModelResponse_201": {
        "title": "Liquidity Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the liquidity risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio associated with this liquidity risk model.",
            "example": "PORT-348723"
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The identifier for the validation dataset used in the model.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource related to this model.",
            "example": "RES-744667"
          },
          "status": {
            "type": "string",
            "description": "The current status of the liquidity risk model.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the liquidity risk model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the liquidity risk model response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the Liquidity Risk Models operation, enclosing details about the model and its metadata.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-348723",
          "validationDatasetId": "STANDARD",
          "resourceId": "RES-744667",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "903e9379-a13c-587b-8fe2-f98b27edeb3c",
            "correlationId": "6ab567e5-3378-525b-b27f-2e8c7e2b7d84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-202"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking the request across systems.",
            "example": "correlation-303"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west"
          }
        },
        "description": "Metadata associated with the liquidity risk model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, used for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "liquidity-risk-models-create-liquidity-risk-models"
        },
        "example": "liquidity-risk-models-create-liquidity-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request, useful for debugging and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing the Bearer Token format, specifically designed for JSON Web Tokens (JWT). This method is commonly used to securely transmit information between parties, ensuring that only authorized users can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}