{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Information Retrieval API",
    "description": "The Party Information Retrieval API is designed to provide access to detailed information about parties involved in financial transactions. This endpoint allows consumers, such as banking applications and financial service providers, to retrieve relevant party data, which is essential for various business operations, including compliance checks and transaction processing. By leveraging this API, organizations can enhance their customer engagement and improve service offerings through enriched data insights. Typical use cases include KYC procedures, account management, and risk assessments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/party": {
      "get": {
        "tags": [
          "AISP"
        ],
        "summary": "Retrieve party information.",
        "description": "This endpoint allows clients to fetch detailed information about a specific party within the AISP (Account Information Service Provider) context. Use this operation to access party data for compliance and verification purposes.",
        "operationId": "getAispParty",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about a party in the AISP system. This body must conform to the defined schema and may be used to specify query parameters or filters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispPartyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested party information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispPartyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispPartyRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to AISP party. It is expected to be a string formatted in JSON.",
        "example": "{}"
      },
      "GetAispPartyResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "$ref": "#/components/schemas/Party"
              }
            },
            "description": "Container for the party data.",
            "example": {
              "Party": {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-654",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            }
          },
          "Links": {
            "description": "Links related to the response.",
            "$ref": "#/components/schemas/Links"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving party operations.",
        "example": {
          "Data": {
            "Party": {
              "id": "STANDARD",
              "number": "STANDARD",
              "type": "STANDARD",
              "Name": "Northstar Banking Service",
              "FullLegalName": "Northstar Banking Service",
              "LegalStructure": "STANDARD",
              "LEI": "STANDARD",
              "BeneficialOwnership": true,
              "AccountRole": "DEBIT",
              "EmailAddress": "olivia.bennett@northstar.example",
              "Phone": "+1-212-555-0147",
              "Mobile": "STANDARD",
              "Relationships": {
                "Account": {
                  "Related": "https://example.com/resource",
                  "Id": "STANDARD"
                }
              },
              "Address": [
                {
                  "type": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service",
                  "CareOf": "STANDARD",
                  "PostCode": "CODE-654",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD",
                  "line": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "265270bf-68e6-5a5c-b52f-4c1210d251c4",
            "correlationId": "daf32473-57e6-58e1-ad9e-6b0b7d3e523b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Party's number for reference.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the party (e.g., individual, organization).",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name of the party.",
            "example": "string"
          },
          "FullLegalName": {
            "type": "string",
            "description": "The full legal name of the party.",
            "example": "string"
          },
          "LegalStructure": {
            "type": "string",
            "description": "The legal structure of the party (e.g., corporation, partnership).",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the party.",
            "example": "string"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates if the party has beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "Role of the party with respect to an account.",
            "example": "string"
          },
          "EmailAddress": {
            "type": "string",
            "description": "Contact email address of the party.",
            "example": "string"
          },
          "Phone": {
            "type": "string",
            "description": "Contact phone number of the party.",
            "example": "string"
          },
          "Mobile": {
            "type": "string",
            "description": "Contact mobile number of the party.",
            "example": "string"
          },
          "Relationships": {
            "description": "Information about the party's relationships.",
            "$ref": "#/components/schemas/Relationships"
          },
          "Address": {
            "type": "array",
            "description": "List of addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Details about a party."
      },
      "Relationships": {
        "type": "object",
        "properties": {
          "Account": {
            "description": "Account information related to the party.",
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Relationships associated with the party."
      },
      "Account": {
        "type": "object",
        "properties": {
          "Related": {
            "type": "string",
            "description": "Related account identifier.",
            "example": "string"
          },
          "Id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          }
        },
        "description": "Details about the account related to the party's relationships."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of address (e.g., home, office).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department if applicable.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number if applicable.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number if applicable.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number if applicable.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number if applicable.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name if applicable.",
            "example": "string"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "string"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "string"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country.",
            "example": "string"
          },
          "Country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "string"
          },
          "line": {
            "type": "array",
            "description": "Array of address lines.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Details about a specific address."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first resource.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous resource.",
            "example": "string"
          }
        },
        "description": "Links associated with the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-party"
        },
        "example": "accounts-api-get-party"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). Clients must provide a valid token in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}