{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Issued Device Administrations-spec",
    "description": "The Issued Device Administration Retrieval API provides access to a comprehensive list of operational services related to issued device administrations within a banking environment. It allows developers to efficiently retrieve details about managed issued devices, including their statuses, configurations, and associated operational metrics. This API is essential for financial institutions and service providers looking to streamline device management processes and enhance security compliance. Typical consumers include banking applications and administrative dashboards that monitor device usage and performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-administration": {
      "get": {
        "tags": [
          "Device Management"
        ],
        "summary": "Retrieve issued device administration details.",
        "description": "This endpoint allows you to retrieve the administration details of issued devices, including their status, attributes, and management information. Use this to oversee the operational status of devices issued within the organization.",
        "operationId": "listOperationalServiceIssuedDeviceAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about issued device administration operations. It includes the necessary parameters to specify the information that needs to be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceIssuedDeviceAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of issued devices.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceIssuedDeviceAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceIssuedDeviceAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on issued device administration services. The request body should contain a JSON string representing the operational parameters.",
        "example": "{}"
      },
      "ListOperationalServiceIssuedDeviceAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of issued devices.",
            "example": [
              {
                "deviceId": "DEV-623557",
                "deviceType": "STANDARD",
                "assignedPartyId": "PARTY-904946",
                "serialNumber": "STANDARD",
                "deviceStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IssuedDevice"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order applied to the device list.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the issued device administration operation, detailing a list of devices with pagination and metadata.",
        "example": {
          "items": [
            {
              "deviceId": "DEV-623557",
              "deviceType": "STANDARD",
              "assignedPartyId": "PARTY-904946",
              "serialNumber": "STANDARD",
              "deviceStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "beef5770-6876-5f59-8d93-1ff2f553aa9d",
            "correlationId": "02a3b09b-4365-52c9-9580-da52ef316632",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IssuedDevice": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device."
          },
          "deviceType": {
            "type": "string",
            "description": "The type of the device."
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the device is assigned."
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the device."
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the device details were last updated."
          }
        },
        "description": "Represents an issued device with necessary details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items displayed per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available for the pagination.",
            "format": "int32"
          }
        },
        "description": "Pagination details for responses, allowing navigation through large sets of data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that issued the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-search-issued-device-administration"
        },
        "example": "issued-device-administration-search-issued-device-administration"
      },
      "x-runtime-app": {
        "description": "The name and version of the application that handled the request, which helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication, following the JWT (JSON Web Token) format. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}