{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Statement Retrieval API",
    "description": "The Account Statement Retrieval API enables businesses to access and retrieve financial statements for customer accounts through open banking protocols. This API provides essential data regarding account activity, transaction history, and available balances. Common use cases include personal finance applications and banking dashboards that help consumers track their financial health. The API is designed for developers integrating banking services within their applications, ensuring compliance with regulatory standards while enhancing user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/statements": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Retrieve account statements.",
        "description": "This endpoint allows users to retrieve their account statements from the AISP service. It provides a detailed view of transactions and balances over selected periods.",
        "operationId": "getAispStatements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should include the necessary parameters for retrieving account statements via the AISP service. Ensure that any required fields are included in the JSON payload based on the schema provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispStatementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispStatementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispStatementsRequest": {
        "type": "string",
        "description": "A request body schema for GET operations related to AISP statements.",
        "example": "{}"
      },
      "GetAispStatementsResponse_200": {
        "title": "Statements Retrieval Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "description": "List of account statements.",
                "items": {
                  "$ref": "#/components/schemas/Statement"
                }
              }
            },
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-840423",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "responseId123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlation of requests.",
                "example": "correlationId123"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-west-1"
              }
            },
            "example": {
              "responseId": "d30a1322-17aa-5202-ba3f-1f54c95015f0",
              "correlationId": "265b7b23-e310-5dee-ad8a-d1f769d6844a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for successfully retrieving account statements.",
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-840423",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "d30a1322-17aa-5202-ba3f-1f54c95015f0",
            "correlationId": "265b7b23-e310-5dee-ad8a-d1f769d6844a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Statement": {
        "title": "Account Statement",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The ID of the account associated with the statement.",
            "example": "accountId123"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the statement.",
            "example": "statementId123"
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the statement.",
            "example": "reference123"
          },
          "Type": {
            "type": "string",
            "description": "The type of statement.",
            "example": "transaction"
          },
          "StartDateTime": {
            "type": "string",
            "description": "The start date and time of the statement period.",
            "example": "2023-01-01T00:00:00Z"
          },
          "EndDateTime": {
            "type": "string",
            "description": "The end date and time of the statement period.",
            "example": "2023-01-31T23:59:59Z"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the statement was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "description": {
            "type": "array",
            "description": "List of descriptions associated with the statement.",
            "items": {
              "type": "string",
              "example": "Monthly statement"
            }
          },
          "benefit": {
            "type": "array",
            "description": "List of benefits associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Benefit"
            }
          },
          "fee": {
            "type": "array",
            "description": "List of fees associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "interest": {
            "type": "array",
            "description": "List of interests associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Interest"
            }
          },
          "amount": {
            "type": "array",
            "description": "List of amounts associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          }
        },
        "description": "Detailed information about an individual account statement."
      },
      "Benefit": {
        "title": "Benefit",
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "The type of benefit.",
            "example": "cashback"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the benefit.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the benefit amount.",
                "example": "USD"
              }
            },
            "description": "The amount of the benefit received."
          }
        },
        "description": "Details of a benefit associated with an account statement."
      },
      "Fee": {
        "title": "Fee",
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the fee.",
            "example": "Monthly maintenance fee"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the fee is a credit or debit.",
            "example": "Debit"
          },
          "Type": {
            "type": "string",
            "description": "Type of fee incurred.",
            "example": "fixed"
          },
          "Rate": {
            "type": "number",
            "description": "The fee rate.",
            "example": 10.0
          },
          "RateType": {
            "type": "string",
            "description": "The type of rate applied.",
            "example": "fixed"
          },
          "Frequency": {
            "type": "string",
            "description": "How often the fee is charged.",
            "example": "monthly"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the fee.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the fee amount.",
                "example": "USD"
              }
            },
            "description": "The amount of the fee."
          }
        },
        "description": "Details of a fee incurred on an account statement."
      },
      "Interest": {
        "title": "Interest",
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the interest.",
            "example": "Annual interest"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the interest is a credit or debit.",
            "example": "Credit"
          },
          "Type": {
            "type": "string",
            "description": "Type of interest applied.",
            "example": "variable"
          },
          "Rate": {
            "type": "number",
            "description": "The interest rate.",
            "example": 1.5
          },
          "RateType": {
            "type": "string",
            "description": "The type of rate applied to the interest.",
            "example": "annual"
          },
          "Frequency": {
            "type": "string",
            "description": "How often the interest is paid.",
            "example": "monthly"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the interest.",
                "example": "2.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the interest amount.",
                "example": "USD"
              }
            },
            "description": "The amount of interest accrued."
          }
        },
        "description": "Details of interest associated with an account statement."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the amount is a credit or debit.",
            "example": "Debit"
          },
          "Type": {
            "type": "string",
            "description": "Type of the amount.",
            "example": "total"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the amount.",
                "example": "102.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Subtype categorizing the amount.",
                "example": "total"
              }
            },
            "description": "The main amount value."
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The local amount's value.",
                "example": "102.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the local amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Subtype categorizing the local amount.",
                "example": "total"
              }
            },
            "description": "The local amount value."
          }
        },
        "description": "Details of amounts associated with an account statement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint associated with the current response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-statements"
        },
        "example": "accounts-api-get-statements"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). When making requests, a valid JWT token must be included in the Authorization header with the prefix 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}