{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Partnerships Information API",
    "description": "The Corporate Partnerships Information API provides access to detailed data regarding corporate partnerships managed by the banking division. This endpoint allows users to retrieve specific information about partnerships by leveraging unique identifiers. Typical consumers include corporate clients and internal banking staff looking to analyze or review partnership dynamics. Use cases may encompass evaluating partnership terms, monitoring performance metrics, and fostering relationship management. Organizations can utilize this data to enhance collaboration and strategic outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-partnerships/{param1}": {
      "get": {
        "tags": [
          "Corporate Partnerships"
        ],
        "summary": "Retrieve details of a specific corporate partnership.",
        "description": "This endpoint allows you to fetch detailed information about a specific corporate partnership identified by its unique resource ID. Use this to access partnership attributes, status, and related data.",
        "operationId": "getCorporatePartnershipById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information regarding corporate partnerships specified by the unique identifier RES-100045. Ensure that the request includes appropriate parameters for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporatePartnershipByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the corporate partnership details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporatePartnershipByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporatePartnershipByIdRequest": {
        "title": "Corporate Partnerships Request Body",
        "type": "string",
        "description": "This schema represents the request body format for the Corporate Partnerships API operation.",
        "example": "{}"
      },
      "GetCorporatePartnershipByIdResponse_200": {
        "title": "Corporate Partnership Response",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the engagement.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "Scheduled date and time for the engagement.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for corporate partnership operations.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6fac6221-4803-5b70-b739-b8ce18e68267",
            "correlationId": "0d66904c-41a5-5b08-ba34-f947c8627a10",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracing and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-alliance-and-stake-holder-get-corporate-alliance-and-stake-holder"
        },
        "example": "corporate-alliance-and-stake-holder-get-corporate-alliance-and-stake-holder"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request, helpful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens, specifically JSON Web Tokens (JWT), as a means of granting access to secure resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}