{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Aggregation Customer Transaction By Transaction Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Aggregation Customer Transaction By Transaction Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/transactions/{transactionId}": {
      "get": {
        "operationId": "getAggregationCustomerTransactionByTransactionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/transactionId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAggregationCustomerTransactionByTransactionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAggregationCustomerTransactionByTransactionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAggregationCustomerTransactionByTransactionIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetAggregationCustomerTransactionByTransactionIdResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "amount": {
            "type": "number",
            "example": 100.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "example": "TXN-803890"
          },
          "accountId": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "description": {
            "type": "string",
            "example": "Customer banking request processed successfully"
          },
          "memo": {
            "type": "string",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "example": "STANDARD"
          },
          "transactionDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "postedDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "firstEffectiveDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "effectiveDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "optionExpireDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "checkNum": {
            "type": "string",
            "example": "STANDARD"
          },
          "escrowAmount": {
            "type": "number",
            "example": 100.0
          },
          "feeAmount": {
            "type": "number",
            "example": 100.0
          },
          "suspenseAmount": {
            "type": "number",
            "example": 100.0
          },
          "interestAmount": {
            "type": "number",
            "example": 100.0
          },
          "principalAmount": {
            "type": "number",
            "example": 100.0
          },
          "optionStrikePrice": {
            "type": "number",
            "example": 100.0
          },
          "unitQuantity": {
            "type": "number",
            "example": 100.0
          },
          "unitPrice": {
            "type": "number",
            "example": 100.0
          },
          "categorization": {
            "type": "object",
            "properties": {
              "normalizedPayeeName": {
                "type": "string",
                "example": "string"
              },
              "category": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              },
              "bestRepresentation": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "normalizedPayeeName": "Northstar Banking Service",
              "category": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD",
              "bestRepresentation": "STANDARD"
            }
          },
          "runningBalanceAmount": {
            "type": "number",
            "example": 100.0
          },
          "subaccountSecurityType": {
            "type": "string",
            "example": "STANDARD"
          },
          "commissionAmount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "ticker": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "f8ec0b61-bb56-5d0b-9962-6e4d71a361f7",
              "correlationId": "cb040eae-06c8-5821-8e6c-b5beaa3e639b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "id": 1,
          "amount": 100.0,
          "uniqueTransactionId": "TXN-803890",
          "accountId": 1,
          "customerId": 1,
          "status": "ACTIVE",
          "description": "Customer banking request processed successfully",
          "memo": "STANDARD",
          "type": "STANDARD",
          "transactionDate": 1,
          "postedDate": 1,
          "createdDate": 1,
          "firstEffectiveDate": 1,
          "effectiveDate": 1,
          "optionExpireDate": 1,
          "checkNum": "STANDARD",
          "escrowAmount": 100.0,
          "feeAmount": 100.0,
          "suspenseAmount": 100.0,
          "interestAmount": 100.0,
          "principalAmount": 100.0,
          "optionStrikePrice": 100.0,
          "unitQuantity": 100.0,
          "unitPrice": 100.0,
          "categorization": {
            "normalizedPayeeName": "Northstar Banking Service",
            "category": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD",
            "bestRepresentation": "STANDARD"
          },
          "runningBalanceAmount": 100.0,
          "subaccountSecurityType": "STANDARD",
          "commissionAmount": 1,
          "ticker": "STANDARD",
          "metadata": {
            "responseId": "f8ec0b61-bb56-5d0b-9962-6e4d71a361f7",
            "correlationId": "cb040eae-06c8-5821-8e6c-b5beaa3e639b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "transactionId": {
        "name": "transactionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-transaction-by-unique-transaction-id"
        },
        "example": "open-finance-api-get-transaction-by-unique-transaction-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}