{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Partnerships API",
    "description": "The Corporate Partnerships API facilitates the retrieval of detailed information about corporate partnerships within the banking sector. This endpoint allows users to access data related to established partnerships, enhancing relationship management and strategic planning efforts for financial organizations. Typical consumers include bank administrators and business analysts who seek insights on partnership dynamics and opportunities. By leveraging this API, organizations can streamline their partnership inquiries and drive collaborative finance initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-partnerships": {
      "get": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Retrieve corporate partnerships",
        "description": "This endpoint retrieves a list of all corporate partnerships within the corporate relations framework, providing essential data for analysis and decision making.",
        "operationId": "getCorporatePartnerships",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the details related to corporate partnerships under corporate relations. It should provide the necessary input for the query to retrieve the appropriate partnership data based on the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporatePartnershipsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of corporate partnerships.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporatePartnershipsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporatePartnershipsRequest": {
        "type": "string",
        "description": "Represents a request body in JSON format for corporate partnerships operations.",
        "example": "{}"
      },
      "GetCorporatePartnershipsResponse_200": {
        "title": "Corporate Partnerships Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of corporate partnerships.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporatePartnership"
            }
          },
          "pagination": {
            "description": "Pagination details for navigating through the partnerships.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the partnerships.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing information about corporate partnerships including pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6a7391b2-9a81-56d3-a232-cf904d63823b",
            "correlationId": "0ea5b4a8-df24-5fce-9eee-d99dbf120d9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporatePartnership": {
        "title": "Corporate Partnership",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder involved in the partnership."
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement related to the partnership."
          },
          "subject": {
            "type": "string",
            "description": "Subject or topic of the partnership."
          },
          "scheduledAt": {
            "type": "string",
            "description": "Date and time when the partnership engagement is scheduled."
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Identifier for the relationship owner managing the partnership."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the partnership record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the partnership information was last updated."
          }
        },
        "description": "Information about a corporate partnership."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Details about pagination for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the request took place."
          }
        },
        "description": "Additional metadata included in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-alliance-and-stake-holder-search-corporate-alliance-and-stake-holder"
        },
        "example": "corporate-alliance-and-stake-holder-search-corporate-alliance-and-stake-holder"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication, which involves using a JSON Web Token (JWT) to securely transmit information between parties. The token is included in the Authorization header of the HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}