{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Institution Certifiedinstitutions-v5-spec",
    "description": "MICROSERVICE-PROD-List Institution Certifiedinstitutions-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/certifiedinstitutions": {
      "get": {
        "operationId": "listInstitutionCertifiedinstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInstitutionCertifiedinstitutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstitutionCertifiedinstitutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInstitutionCertifiedinstitutionsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListInstitutionCertifiedinstitutionsResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "example": true
          },
          "requestedDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "liabilityData": true,
                "billPayData": true,
                "oauthEnabled": true,
                "productionStatus": {
                  "overallStatus": "ACTIVE",
                  "transAgg": "STANDARD",
                  "stateAgg": "STANDARD",
                  "voa": "STANDARD",
                  "voi": "STANDARD",
                  "ach": "STANDARD",
                  "aha": "STANDARD"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "transAgg": {
                  "type": "boolean",
                  "example": false
                },
                "ach": {
                  "type": "boolean",
                  "example": false
                },
                "stateAgg": {
                  "type": "boolean",
                  "example": false
                },
                "voi": {
                  "type": "boolean",
                  "example": false
                },
                "voa": {
                  "type": "boolean",
                  "example": false
                },
                "aha": {
                  "type": "boolean",
                  "example": false
                },
                "availBalance": {
                  "type": "boolean",
                  "example": false
                },
                "accountOwner": {
                  "type": "boolean",
                  "example": false
                },
                "studentLoanData": {
                  "type": "boolean",
                  "example": false
                },
                "loanPaymentDetails": {
                  "type": "boolean",
                  "example": false
                },
                "liabilityData": {
                  "type": "boolean",
                  "example": false
                },
                "billPayData": {
                  "type": "boolean",
                  "example": false
                },
                "oauthEnabled": {
                  "type": "boolean",
                  "example": false
                },
                "productionStatus": {
                  "type": "object",
                  "properties": {
                    "overallStatus": {
                      "type": "string",
                      "example": "string"
                    },
                    "transAgg": {
                      "type": "string",
                      "example": "string"
                    },
                    "stateAgg": {
                      "type": "string",
                      "example": "string"
                    },
                    "voa": {
                      "type": "string",
                      "example": "string"
                    },
                    "voi": {
                      "type": "string",
                      "example": "string"
                    },
                    "ach": {
                      "type": "string",
                      "example": "string"
                    },
                    "aha": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "790792a8-f4fd-54fb-abd9-23308666042e",
              "correlationId": "8087fa44-311e-53b8-8d93-c0052d0c9f44",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "requestedDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "liabilityData": true,
              "billPayData": true,
              "oauthEnabled": true,
              "productionStatus": {
                "overallStatus": "ACTIVE",
                "transAgg": "STANDARD",
                "stateAgg": "STANDARD",
                "voa": "STANDARD",
                "voi": "STANDARD",
                "ach": "STANDARD",
                "aha": "STANDARD"
              }
            }
          ],
          "metadata": {
            "responseId": "790792a8-f4fd-54fb-abd9-23308666042e",
            "correlationId": "8087fa44-311e-53b8-8d93-c0052d0c9f44",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-certified-institutions"
        },
        "example": "open-finance-api-get-certified-institutions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}