{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Trade Banking By Param1-spec",
    "description": "The Trade Banking Update API allows for modifications to existing cheque lock box configurations based on specified parameters. This endpoint is designed for financial institutions and organizations managing trade banking operations, enabling them to efficiently adjust settings associated with cheque lock boxes. By using the PATCH method, users can update specific attributes while keeping other settings intact. Typical consumers include bank administrators and developers integrating trade banking functionalities into their systems. This API ensures that businesses can adapt their trade banking services to meet changing requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box/{param1}": {
      "patch": {
        "tags": [
          "Cheque Lock Box Management"
        ],
        "summary": "Update Cheque Lock Box Resource",
        "description": "Allows users to update the details of a specific cheque lock box resource identified by the resource ID. This operation is crucial for maintaining accurate and updated information regarding cheque lock boxes in the trade banking system.",
        "operationId": "updateTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a cheque lock box identified by RES-100045. Ensure that all required fields are provided as per the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTradeBankingByParam1Request": {
        "title": "Cheque Lock Box Patch Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the cheque lock box.",
            "$ref": "#/components/schemas/ChequeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being made.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes go into effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching a cheque lock box operation.",
        "example": {
          "changes": {
            "chequeBatchId": "STANDARD",
            "depositAccountId": "ACC-111943",
            "chequeCount": 1
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a05b4134-655f-5be4-8f62-13c54bafc35e",
            "correlationId": "8316fee9-bcb9-54bc-9765-91ee3cadf600",
            "idempotencyKey": "75411e1e-475e-565c-9876-acbfe3740224",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-771448"
            }
          }
        }
      },
      "ChequeChanges": {
        "title": "Cheque Changes",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Identifier for the cheque batch.",
            "example": "batch123"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the associated deposit account.",
            "example": "account456"
          },
          "chequeCount": {
            "type": "integer",
            "description": "Total number of cheques involved in the changes.",
            "format": "int32",
            "example": 5
          }
        },
        "description": "Schema representing the changes related to cheque information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed once.",
            "example": "key202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application triggering the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema holding context information for the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel321"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device654"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "UpdateTradeBankingByParam1Response_200": {
        "title": "Cheque Lock Box Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response object.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the Cheque Lock Box operation in the banking trade service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "25764855-9dd3-5d2f-902d-b30088543330",
            "correlationId": "8316fee9-bcb9-54bc-9765-91ee3cadf600",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Time at which the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint being accessed in the trade banking service.",
          "example": "cheque-lock-box-update-cheque-lock-box"
        },
        "example": "cheque-lock-box-update-cheque-lock-box"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that processed the request, which aids in tracing the execution of requests through different services.",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where a JWT (JSON Web Token) is issued after successful authentication and is used to securely exchange information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}