{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Institution Login Form-spec",
    "description": "The Institution Login Form Management API allows authorized users to create customized login forms for specific institutions. This endpoint facilitates the configuration of form elements tailored to institutional requirements, thus enhancing user experience during the authentication process. Typical consumers include educational institutions and administrative applications aiming to streamline access for their users. Through effective management of login forms, institutions can ensure their branding and user interface meet organizational standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/login-forms": {
      "post": {
        "tags": [
          "Institution Actions"
        ],
        "summary": "Create a new login form for the specific institution.",
        "description": "This endpoint allows the creation of a new login form associated with the institution identified by the specified resource ID. Use this operation to enable user authentication processes for the institution.",
        "operationId": "createInstitutionLoginForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit login form data for the specified institution (RES-100045). It requires user credentials and possibly other authentication-related information to successfully log in.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstitutionLoginFormRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, indicating a new login form has been generated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInstitutionLoginFormResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInstitutionLoginFormRequest": {
        "title": "Login Form Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the request is made.",
            "example": "en"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-848116"
          },
          "configurationId": {
            "type": "string",
            "description": "The configuration identifier associated with the request.",
            "example": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80"
          },
          "serviceAgreement": {
            "description": "Details regarding the service agreement for the login operation.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Contextual information about the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the login form operation, which includes user information, service agreement details, and request context.",
        "example": {
          "language": "en",
          "customerId": "CUST-848116",
          "configurationId": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "a5dde256-5b3b-5ce3-b2ab-4aaf51754ee7",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "idempotencyKey": "ddf7900d-468f-558b-abe9-2fa779ad1e4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-628826"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the service agreement is presented.",
            "example": "en"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "This schema defines the attributes of a service agreement, including acceptance language and date."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "corr-xyz-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "idemp-key-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "A timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema captures the context of the request, including identifiers for tracing and system information."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-789"
          }
        },
        "description": "This schema defines the channel used for the request, including identifiers and types."
      },
      "CreateInstitutionLoginFormResponse_201": {
        "title": "Login Form Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "b7219723-da31-e581-f6cf-5c5c634fc54d"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier of the event stream associated with the response.",
            "example": "b0f87741-3c74-58c5-be51-97d06515c7a5"
          },
          "elements": {
            "type": "array",
            "description": "List of elements associated with the login form response.",
            "example": [
              {
                "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoginFormElement"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response from the login form operation including the identification and metadata of the event.",
        "example": {
          "id": "b7219723-da31-e581-f6cf-5c5c634fc54d",
          "eventStreamId": "b0f87741-3c74-58c5-be51-97d06515c7a5",
          "elements": [
            {
              "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "fb936efe-cf93-5f04-a32d-6a93564c0b28",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoginFormElement": {
        "title": "Login Form Element",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the element.",
            "example": "string"
          },
          "label": {
            "type": "string",
            "description": "Display label for the element.",
            "example": "string"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Order in which the element should be displayed.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "An individual element of the login form response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the specific response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information relevant to the login form response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-login-forms"
        },
        "example": "open-finance-api-post-institutions-institution-id-login-forms"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically designed to be used with JSON Web Tokens (JWT). Clients must provide a valid token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}