{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Omer Product Service Eligibility API",
    "description": "The Omer Product Service Eligibility API provides the means to assess product eligibility for customers in the banking sector. By utilizing this API, developers can retrieve detailed information about the eligibility of specific products based on customer profiles and various parameters. Typical users include banking applications and customer management systems that need to determine the right product offerings for clients. This API streamlines the process of matching customers with suitable financial products, enhancing service efficiency and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/product-eligibilities/{param1}/operations/omer-product-service-eligibility": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve product eligibility for a specific customer.",
        "description": "This endpoint allows you to fetch the eligibility details for specific products associated with the customer identified by CUST-100045. Use this to determine which products the customer qualifies for based on their profile and eligibility criteria.",
        "operationId": "getProductEligibilityForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the product eligibility for a specific customer under the operation 'omer-product-service-eligibility'. It should contain any necessary parameters for the eligibility query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductEligibilityForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved product eligibility details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductEligibilityForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductEligibilityForCustomerRequest": {
        "type": "string",
        "description": "A representation of the request body for the eligibility operation regarding a specific customer product.",
        "example": "{}"
      },
      "GetProductEligibilityForCustomerResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation request.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the resource in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product service eligibility operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2992a31a-f4d6-5530-a88b-c83c4dd2065f",
            "correlationId": "55abb8bd-a5e7-5af4-99d2-56e067d3af9b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated in ISO 8601 format.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-product-and-service-eligibility-update-customer-product-and-service-eligibility"
        },
        "example": "customer-product-and-service-eligibility-update-customer-product-and-service-eligibility"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-009"
        },
        "example": "WF-009"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Product Eligibility and Offer Fulfillment"
        },
        "example": "Customer Product Eligibility and Offer Fulfillment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its processing status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e8583178-cdb9-4a68-88a1-76e9663eb47e"
        },
        "example": "e8583178-cdb9-4a68-88a1-76e9663eb47e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token, which is a JSON Web Token (JWT) used to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}