{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Financial Settlement Review-spec",
    "description": "This API facilitates the submission of financial settlement reviews for credit card transactions. It allows users to create detailed reviews, ensuring transparency and accuracy in financial operations. Typical consumers include financial institutions and payment processors needing to analyze settlement data. By providing a structured way to manage reviews, this API enhances compliance and risk management in banking environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-financial-settlement/{param1}/reviews": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a review for a card financial settlement.",
        "description": "This endpoint allows you to submit a review for a specific card financial settlement identified by its unique ID. Provide the necessary information in the request body to create the review successfully.",
        "operationId": "createCardFinancialSettlementReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for submitting a review for the card financial settlement with ID CARD-400045. Ensure that all required fields are provided according to the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardFinancialSettlementReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been received and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardFinancialSettlementReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardFinancialSettlementReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "A list of scopes applicable to the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Each item in the review scope.",
              "example": "transaction_issue"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Deadline for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a review operation related to card financial settlements.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "10519113-eac8-5faa-a769-602b3f60ccab",
            "correlationId": "8c9f871b-2412-5e98-aaee-ef3a7e68c098",
            "idempotencyKey": "f8cec8d2-15f1-515c-aba1-35821e44b7d5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-265150"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idempotency-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Originating system of the request.",
            "example": "payment_processing_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originates.",
            "example": "card_review_app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-98765"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-45678"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateCardFinancialSettlementReviewResponse_202": {
        "title": "Card Financial Settlement Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference identifier for the action.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed in this settlement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement process.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The date and time when the processing was completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the settlement operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the review of a card financial settlement operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "0379690a-c850-533c-9e71-f270d59d630a",
            "correlationId": "8c9f871b-2412-5e98-aaee-ef3a7e68c098",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Card Settlement",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-101"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate multiple requests.",
            "example": "corr-202"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Metadata information related to the card settlement operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the API endpoint that was called, allowing for traceability of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-financial-settlement-review-card-financial-settlement-processing"
        },
        "example": "card-financial-settlement-review-card-financial-settlement-processing"
      },
      "X-Runtime-App": {
        "description": "This header provides the name of the application that executed the operation, which can help in understanding the context of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) is provided in the Authorization header. The bearer token is used to authenticate API requests, ensuring that only authorized users can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}