{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Aisp Account Scheduled Payments-v5-spec",
    "description": "MICROSERVICE-PROD-List Open Banking Aisp Account Scheduled Payments-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/scheduled-payments": {
      "get": {
        "operationId": "listOpenBankingAispAccountScheduledPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingAispAccountScheduledPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingAispAccountScheduledPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingAispAccountScheduledPaymentsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListOpenBankingAispAccountScheduledPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ScheduledPayment": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "AccountId": {
                      "type": "string",
                      "example": "string"
                    },
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "dateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "ScheduledType": {
                      "type": "string",
                      "example": "string"
                    },
                    "Reference": {
                      "type": "string",
                      "example": "string"
                    },
                    "DebtorReference": {
                      "type": "string",
                      "example": "string"
                    },
                    "InstructedAmount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "CreditorAgent": {
                      "type": "object",
                      "properties": {
                        "SchemeName": {
                          "type": "string",
                          "example": "string"
                        },
                        "Identification": {
                          "type": "string",
                          "example": "string"
                        },
                        "Name": {
                          "type": "string",
                          "example": "string"
                        },
                        "PostalAddress": {
                          "type": "object",
                          "properties": {
                            "AddressType": {
                              "type": "string",
                              "example": "string"
                            },
                            "Department": {
                              "type": "string",
                              "example": "string"
                            },
                            "SubDepartment": {
                              "type": "string",
                              "example": "string"
                            },
                            "StreetName": {
                              "type": "string",
                              "example": "string"
                            },
                            "BuildingNumber": {
                              "type": "string",
                              "example": "string"
                            },
                            "BuildingName": {
                              "type": "string",
                              "example": "string"
                            },
                            "Floor": {
                              "type": "string",
                              "example": "string"
                            },
                            "UnitNumber": {
                              "type": "string",
                              "example": "string"
                            },
                            "Room": {
                              "type": "string",
                              "example": "string"
                            },
                            "PostBox": {
                              "type": "string",
                              "example": "string"
                            },
                            "TownLocationName": {
                              "type": "string",
                              "example": "string"
                            },
                            "DistrictName": {
                              "type": "string",
                              "example": "string"
                            },
                            "CareOf": {
                              "type": "string",
                              "example": "string"
                            },
                            "PostCode": {
                              "type": "string",
                              "example": "string"
                            },
                            "TownName": {
                              "type": "string",
                              "example": "string"
                            },
                            "CountrySubDivision": {
                              "type": "string",
                              "example": "string"
                            },
                            "Country": {
                              "type": "string",
                              "example": "string"
                            },
                            "AddressLine": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "example": "string"
                        },
                        "LEI": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "CreditorAccount": {
                      "type": "object",
                      "properties": {
                        "SchemeName": {
                          "type": "string",
                          "example": "string"
                        },
                        "Identification": {
                          "type": "string",
                          "example": "string"
                        },
                        "Name": {
                          "type": "string",
                          "example": "string"
                        },
                        "SecondaryIdentification": {
                          "type": "string",
                          "example": "string"
                        },
                        "Proxy": {
                          "type": "object",
                          "properties": {
                            "Identification": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "ScheduledPayment": [
                {
                  "AccountId": "ACC-254529",
                  "id": "STANDARD",
                  "dateTime": "2026-09-15T14:30:00Z",
                  "ScheduledType": "STANDARD",
                  "Reference": "STANDARD",
                  "DebtorReference": "STANDARD",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-427",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "8cc0157e-86cf-537c-81a7-ad4eb841fe2c",
              "correlationId": "8686313b-8f72-57a4-8844-9aaa980274a1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "ScheduledPayment": [
              {
                "AccountId": "ACC-254529",
                "id": "STANDARD",
                "dateTime": "2026-09-15T14:30:00Z",
                "ScheduledType": "STANDARD",
                "Reference": "STANDARD",
                "DebtorReference": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-427",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD"
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "8cc0157e-86cf-537c-81a7-ad4eb841fe2c",
            "correlationId": "8686313b-8f72-57a4-8844-9aaa980274a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-scheduled-payments"
        },
        "example": "accounts-api-get-accounts-account-id-scheduled-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}