{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Model By Param1-spec",
    "description": "The Fraud Model Retrieval API provides access to specific fraud models by parameters defined by the user. By utilizing the unique identifier 'param1', developers can retrieve detailed insights into fraud detection criteria and algorithms. This API is particularly useful for financial institutions and businesses aiming to enhance their fraud prevention mechanisms. Typical consumers include data analysts and risk management teams seeking to implement robust fraud monitoring solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/fraud-model/{param1}": {
      "get": {
        "tags": [
          "Fraud Model Management"
        ],
        "summary": "Retrieve a specific fraud model by its unique identifier.",
        "description": "This endpoint allows developers to fetch detailed information about a specific fraud model using its unique resource identifier (RES-100045). It provides insights and parameters for the specified model, enabling further analysis or integration into fraud detection workflows.",
        "operationId": "getModelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for retrieving the fraud model associated with the specified identifier. It is essential to provide the correct format to ensure a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetModelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested fraud model details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetModelByParam1Request": {
        "title": "Fraud Model Request Body",
        "type": "string",
        "description": "This schema represents the request body for operations related to the Fraud Model.",
        "example": "{}"
      },
      "GetModelByParam1Response_200": {
        "title": "Fraud Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "A unique identifier for the fraud model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the fraud model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The ID of the portfolio associated with the fraud model.",
            "example": "PORT-722554"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model evaluation is applicable.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the fraud model is evaluated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level of the fraud risk assessment.",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction being evaluated.",
            "example": "TXN-656809"
          },
          "riskScore": {
            "type": "number",
            "description": "The risk score assigned to the transaction.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold above which a transaction is flagged as fraudulent.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level associated with the device used in the transaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating if it's active or archived.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the response.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudModelMetadata"
          }
        },
        "description": "This schema represents the response structure for a fraud model operation.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-722554",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "transactionId": "TXN-656809",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a7b5a011-ee29-580b-af47-dfa1ab191a42",
            "correlationId": "94230373-b938-50ec-a970-b9d32a976f48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudModelMetadata": {
        "title": "Fraud Model Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing related requests.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "US"
          }
        },
        "description": "This schema represents the metadata information associated with the fraud model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-model-get-fraud-model"
        },
        "example": "fraud-model-get-fraud-model"
      },
      "X-Runtime-App": {
        "description": "The name of the application that initiated the request, providing context about the source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}