{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Dispute Id-spec",
    "description": "The Dispute Management API enables businesses to efficiently manage payment disputes by allowing updates to specific disputes identified by their unique dispute ID. Users can utilize this endpoint to amend details related to disputes, facilitating more effective resolution processes. This API is particularly valuable for financial institutions, e-commerce platforms, and customer support teams that handle payment-related issues. By providing an interface for updating dispute information, it helps ensure that all stakeholders have access to the most current data for informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}": {
      "patch": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Update a specific dispute.",
        "description": "This operation allows you to update the details of a specific dispute identified by its unique ID. You can modify various attributes of the dispute as needed.",
        "operationId": "updateP2mByDisputeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "This request body allows for the partial update of dispute details for a specific dispute identified by 'RES-100045'. The body must contain valid fields that can be modified, adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mByDisputeIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mByDisputeIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mByDisputeIdRequest": {
        "title": "Dispute Operation Request Body",
        "type": "object",
        "properties": {
          "customerStatement": {
            "type": "string",
            "description": "A statement provided by the customer pertaining to the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for the PATCH operation related to disputes.",
        "example": {
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "a666d2fc-ffa3-5f52-bc2e-adc93d94f399",
            "correlationId": "b58122e2-3d1e-5eec-8f64-759fa06c60be",
            "idempotencyKey": "9eb164d5-3de9-539a-9152-3810a2db2cb0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-347694"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests in a process.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is only processed once.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "App X"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates the contextual details of the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "This schema represents the details of the channel through which the request was made."
      },
      "UpdateP2mByDisputeIdResponse_200": {
        "title": "Dispute Response",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "The unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the related payment.",
            "example": "PAY-986954"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant involved in the dispute.",
            "example": "MER-237990"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount that is disputed.",
            "$ref": "#/components/schemas/Amount"
          },
          "customerStatement": {
            "type": "string",
            "description": "The statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The date and time by which a response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "A list of evidence related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "description": "Financial impact details related to the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Resolution details of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information related to the dispute.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata associated with the dispute.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a dispute operation.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-986954",
          "merchantId": "MER-237990",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "81ceb3ec-cf47-5f64-887e-2f2623038fa0",
            "correlationId": "b58122e2-3d1e-5eec-8f64-759fa06c60be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency."
      },
      "EvidenceItem": {
        "title": "Evidence Item",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the evidence item.",
            "example": "string"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the evidence file.",
            "example": "evidence.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "The content type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "The size of the evidence file in bytes.",
            "format": "int32",
            "example": 1024
          },
          "fileUrl": {
            "type": "string",
            "description": "The URL where the evidence file can be accessed.",
            "example": "http://example.com/evidence.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "The SHA-256 hash of the evidence file for integrity verification.",
            "example": "abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
          },
          "uploadedAt": {
            "type": "string",
            "description": "The date and time when the evidence was uploaded.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing an item of evidence in a dispute."
      },
      "FinancialImpact": {
        "title": "Financial Impact",
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "The amount debited from the merchant as a result of the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "A list of fees associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Amount held in reserve as a result of the dispute.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing the financial impact of a dispute."
      },
      "Fee": {
        "title": "Fee",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of fee charged.",
            "example": "processing fee"
          },
          "amount": {
            "description": "The monetary amount of the fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "The party responsible for the fee.",
            "example": "merchant"
          }
        },
        "description": "Schema representing a fee in the context of a dispute."
      },
      "Resolution": {
        "title": "Resolution",
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The outcome of the dispute resolution.",
            "example": "resolved"
          },
          "resolvedAmount": {
            "description": "The amount that was resolved in the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the resolution outcome.",
            "example": "agreed refund"
          },
          "resolvedAt": {
            "type": "string",
            "description": "The date and time of the resolution.",
            "example": "2023-01-02T00:00:00Z"
          }
        },
        "description": "Schema representing the resolution status of a dispute."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the dispute was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the dispute.",
            "example": "user@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the dispute was last updated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the dispute.",
            "example": "user@example.com"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the dispute record."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with a dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-dispute"
        },
        "example": "banking-p2m-openapi-update-dispute"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs bearer authentication, where the client must include a JSON Web Token (JWT) in the Authorization header of the request. The JWT token is used to securely identify and authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}