{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Certification Update API",
    "description": "The Employee Certification Update API allows businesses to efficiently manage and update employee certification records within their human resource management systems. Through this endpoint, HR representatives can modify existing certification details for employees, ensuring that records are up-to-date and comply with organizational standards. This API is particularly valuable for companies that need to track certification status for compliance, skills validation, or professional development. Typical consumers of this API include HR personnel and systems integrators who manage employee training and certification processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification/{param1}": {
      "patch": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update Employee Certification",
        "description": "Allows updating the certification details for a specific employee, identified by the unique employee ID. This operation can modify various attributes of the employee's certification records.",
        "operationId": "patchEmployeeCertificationEmp900045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the employee certification details for the specified employee ID. The information provided should align with the required schema and include all necessary fields to ensure successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchEmployeeCertificationEmp900045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the employee certification details have been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchEmployeeCertificationEmp900045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchEmployeeCertificationEmp900045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/EmployeeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who initiated the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for updating employee certification details.",
        "example": {
          "changes": {
            "employeeId": "EMP-955831",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "92529f42-e4f4-543a-b1dc-709967b01be5",
            "correlationId": "0598ea3e-3b78-539f-b7b2-4b0bafa0692d",
            "idempotencyKey": "e0f11d74-b88f-5baa-afb2-3d1d8236414a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-867674"
            }
          }
        }
      },
      "EmployeeChanges": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-123456"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment related to the employee.",
            "example": "ASG-987654"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department.",
            "example": "DEP-54321"
          }
        },
        "description": "Contains the details of the changes proposed for the employee.",
        "example": "string"
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "CORR-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "IDEMP-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "Employee Portal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context metadata for the request.",
        "example": "string"
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "CHN-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request was made.",
            "example": "DEVICE-001"
          }
        },
        "description": "Describes the communication channel used for the request."
      },
      "PatchEmployeeCertificationEmp900045Response_200": {
        "title": "Employee Certification Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the certification update operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the certification information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for an employee certification update operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3e8c0110-78dc-5f95-a993-c849f548d72f",
            "correlationId": "0598ea3e-3b78-539f-b7b2-4b0bafa0692d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata associated with the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-update-employee-certification"
        },
        "example": "employee-certification-update-employee-certification"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include the token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}