{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "The International Standing Order Consent Lookup API enables consumers to retrieve specific consent details related to international standing orders using a unique identifier. This functionality is essential for financial institutions and payment service providers seeking to manage customer consents securely and efficiently. Typical use cases include validating user consents before processing payments or fetching consent statuses for compliance purposes. This API streamlines access to key consent information, facilitating better customer service and operational transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-order-consents/{param1}": {
      "get": {
        "tags": [
          "International Standing Order Consent"
        ],
        "summary": "Retrieve an international standing order consent by its ID.",
        "description": "This endpoint allows you to fetch details of a specific international standing order consent using its unique identifier. It provides the necessary information for verification and further processing.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about a specific international standing order consent identified by the given RES-100045 reference. The request provides necessary parameters in JSON format to allow for the accurate fetching of the relevant consent data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on international standing order consents.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "title": "International Standing Order Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp when the consent was created.",
                "example": "2021-12-01T10:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "example": [
                  {
                    "code": "Approved",
                    "description": "Consent has been approved.",
                    "Path": "/consents/1"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetail"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp when the consent status was last updated.",
                "example": "2021-12-02T10:00:00Z"
              },
              "Permission": {
                "type": "string",
                "description": "Permission details related to the consent.",
                "example": "GRANTED"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "true"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Timestamp indicating the cut-off date for the payment.",
                "example": "2021-12-31T23:59:59Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the standing order.",
                "example": [
                  {
                    "ChargeBearer": "SENDER",
                    "Type": "ADMINISTRATIVE",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetail"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/InitiationDetail"
              },
              "NumberOfPayments": {
                "type": "string",
                "description": "Total number of payments under the standing order.",
                "example": "5"
              },
              "ExtendedPurpose": {
                "type": "string",
                "description": "Extended purpose of the standing order.",
                "example": "Rent Payment"
              },
              "ChargeBearer": {
                "type": "string",
                "description": "Party responsible for the charges.",
                "example": "RECEIVER"
              },
              "CurrencyOfTransfer": {
                "type": "string",
                "description": "Currency in which the transfer is made.",
                "example": "EUR"
              },
              "DestinationCountryCode": {
                "type": "string",
                "description": "Country code for the destination of the transfer.",
                "example": "DE"
              },
              "InstructedAmount": {
                "$ref": "#/components/schemas/MoneyDetail"
              }
            },
            "description": "Details of the consent including its status and related information.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the API response.",
                "example": "abc-123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate multiple responses.",
                "example": "corr-456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2021-12-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata related to the API response.",
            "example": {
              "responseId": "3de043ca-a6ae-5b79-855a-fb9770b891f9",
              "correlationId": "d600e7c9-16d7-5fc7-afae-89fbb76de353",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for International Standing Order Consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "3de043ca-a6ae-5b79-855a-fb9770b891f9",
            "correlationId": "d600e7c9-16d7-5fc7-afae-89fbb76de353",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "Approved"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Consent has been approved."
          },
          "Path": {
            "type": "string",
            "description": "Path for further details regarding the status change.",
            "example": "/consents/1"
          }
        },
        "description": "Details about the reasons for status changes."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Party responsible for the charge.",
            "example": "SENDER"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "ADMINISTRATIVE"
          },
          "Amount": {
            "$ref": "#/components/schemas/MoneyDetail"
          }
        },
        "description": "Charge details associated with the standing order."
      },
      "InitiationDetail": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "type": "object",
            "properties": {
              "Structured": {
                "type": "array",
                "description": "Structured remittance information.",
                "items": {
                  "type": "object",
                  "properties": {
                    "ReferredDocumentInformation": {
                      "type": "array",
                      "description": "List of referred documents.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Code": {
                            "type": "string",
                            "description": "Code of the referred document.",
                            "example": "INV"
                          },
                          "Issuer": {
                            "type": "string",
                            "description": "Issuer of the referred document.",
                            "example": "Company ABC"
                          },
                          "Number": {
                            "type": "string",
                            "description": "Document number.",
                            "example": "1234"
                          },
                          "RelatedDate": {
                            "type": "string",
                            "description": "Date related to the referred document.",
                            "example": "2021-11-01"
                          },
                          "LineDetails": {
                            "type": "array",
                            "description": "Details of the line items in the referred document.",
                            "items": {
                              "type": "string",
                              "example": "Item 1"
                            }
                          }
                        }
                      }
                    },
                    "ReferredDocumentAmount": {
                      "type": "string",
                      "description": "Amount related to the referred document.",
                      "example": "100.00"
                    },
                    "CreditorReferenceInformation": {
                      "type": "object",
                      "properties": {
                        "Code": {
                          "type": "string",
                          "description": "Code of the creditor reference.",
                          "example": "CR"
                        },
                        "Issuer": {
                          "type": "string",
                          "description": "Issuer of the creditor reference.",
                          "example": "Issuer ABC"
                        },
                        "Reference": {
                          "type": "string",
                          "description": "Reference ID for the creditor.",
                          "example": "Ref-001"
                        }
                      },
                      "description": "Details regarding the creditor reference."
                    },
                    "Invoicer": {
                      "type": "string",
                      "description": "Invoicer details.",
                      "example": "Company XYZ"
                    },
                    "Invoicee": {
                      "type": "string",
                      "description": "Invoicee details.",
                      "example": "Client ABC"
                    },
                    "TaxRemittance": {
                      "type": "string",
                      "description": "Amount for tax remittance.",
                      "example": "20.00"
                    },
                    "AdditionalRemittanceInformation": {
                      "type": "array",
                      "description": "Additional remittance information.",
                      "items": {
                        "type": "string",
                        "example": "Note 1"
                      }
                    }
                  }
                }
              },
              "Unstructured": {
                "type": "array",
                "description": "Unstructured remittance information.",
                "items": {
                  "type": "string",
                  "example": "Payment for invoice 1234"
                }
              }
            },
            "description": "Information related to the remittance."
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments involved.",
            "example": "5"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose for the payment.",
            "example": "Rental Payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Party responsible for the charges.",
            "example": "RECEIVER"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "EUR"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the destination of the transfer.",
            "example": "DE"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/MoneyDetail"
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "MoneyDetail": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of money.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "EUR"
          }
        },
        "description": "Details of monetary amounts."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps to trace the transaction flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-standing-order-consent"
        },
        "example": "payment-initiation-openapi-get-international-standing-order-consent"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that handled the request, facilitating the identification of service components.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves a token (JWT) being issued to the client upon successful authentication. The token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}