{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Analyse *s-spec",
    "description": "The Business Unit Financial Analysis API enables users to access comprehensive financial analysis reports specific to various business units. This endpoint provides insights into financial performance metrics, facilitating data-driven decision-making for management and stakeholders. Common consumers include finance teams, business analysts, and strategic planners who require detailed evaluation of financial health and trends. By leveraging this API, enterprises can enhance their financial oversight and operational efficiencies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-financial-analysis/analyses/*": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve Financial Analyses for Business Units",
        "description": "Fetch detailed financial analyses associated with different business units. This operation allows users to gather insights into the financial performance and analytical metrics of specified business segments, facilitating informed decision-making.",
        "operationId": "listAnalyse*s",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial analysis for business units. The structure and content of the request body must align with the defined schema to ensure successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAnalyse*sRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the financial analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAnalyse*sResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAnalyse*sRequest": {
        "title": "Business Unit Financial Analysis Operations Request Body",
        "type": "string",
        "description": "A schema representing the request body for operations in the business unit financial analysis endpoint.",
        "example": "{}"
      },
      "ListAnalyse*sResponse_200": {
        "title": "Business Unit Financial Analysis Response",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier of the business unit.",
            "example": "STANDARD"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the financial analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the financial analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the financial analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "List of findings from the financial analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialFinding"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response structure for the financial analysis of a business unit.",
        "example": {
          "businessUnitId": "STANDARD",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "fed24cf8-5853-5332-8508-92eb0b6692f5",
            "correlationId": "98110713-eeda-5ea6-b177-ed5fdbf88539",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialFinding": {
        "title": "Financial Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The specific financial metric evaluated.",
            "example": "Revenue Growth"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 10.5
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric.",
            "example": "%"
          }
        },
        "description": "Represents a specific finding from the financial analysis."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP847"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-06T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata about the API response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f4f76c7440a1a655"
        },
        "example": "f4f76c7440a1a655"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "47c8013b-ad19-483a-946d-0f941991f643"
        },
        "example": "47c8013b-ad19-483a-946d-0f941991f643"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f094b40e-524f-40ae-8cdb-ce017199d705"
        },
        "example": "f094b40e-524f-40ae-8cdb-ce017199d705"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-financial-analysis-analyze-business-unit-financial-analysis"
        },
        "example": "business-unit-financial-analysis-analyze-business-unit-financial-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the operation, used for performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this request, used for tracing execution flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-089"
        },
        "example": "WF-089"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Financial Close Statements and Compliance"
        },
        "example": "Financial Close Statements and Compliance"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow indicating its progress status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "076557a9-e6bf-45bd-86d8-dd313ca513af"
        },
        "example": "076557a9-e6bf-45bd-86d8-dd313ca513af"
      }
    }
  }
}