{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Financial Statement Assessment Review-spec",
    "description": "The Financial Statement Assessment Review API enables users to submit and manage reviews for financial statement assessments in the banking sector. This API allows compliance teams and auditors to efficiently create reviews based on financial evaluations, facilitating regulatory compliance and risk management. Typical consumers include compliance officers and financial analysts who require systematized tools for assessment oversight. By leveraging this API, organizations can streamline their review processes and enhance transparency in financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://risk-compliance-app:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-statement-assessment/{param1}/reviews": {
      "post": {
        "tags": [],
        "summary": "Create a review for a financial statement assessment.",
        "description": "This operation allows you to create a review for the financial statement assessment with the identifier RES-100045. Ensure that all required information is provided to successfully process the review.",
        "operationId": "createFinancialStatementAssessmentReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for a financial statement assessment identified by RES-100045. The request must be formatted as JSON and must adhere to the specified schema to ensure all required parameters are included and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinancialStatementAssessmentReviewRequest"
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "The request was well-formed, but there was an issue with the provided data.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinancialStatementAssessmentReviewResponse_422"
                }
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing but is not yet completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinancialStatementAssessmentReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinancialStatementAssessmentReviewResponse_422": {
        "title": "Financial Statement Assessment Review Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the specific error type.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracing the request across systems.",
            "example": "41cb8392-fc71-4797-8e4f-fe048784395f"
          },
          "message": {
            "type": "string",
            "description": "Descriptive message explaining the nature of the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Identifier for the workflow related to the assessment review.",
            "example": "WF-050"
          }
        },
        "description": "Schema representing the error response for a financial statement assessment review operation when a 422 status code is returned.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "41cb8392-fc71-4797-8e4f-fe048784395f",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-050"
        }
      },
      "CreateFinancialStatementAssessmentReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, defining what will be assessed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Scope item example"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review completion.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "f5acf98f-7ee0-535d-a711-9093770cbe2b",
            "correlationId": "16baf27e-239d-5809-9f12-b89a0f17e386",
            "idempotencyKey": "63f6d83f-d878-56c9-a893-6af699b08326",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-645236"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests across systems.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests are handled idempotently.",
            "example": "idemp-98765"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "Internal System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Finance App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel used.",
            "example": "channel-112233"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "device-445566"
          }
        }
      },
      "CreateFinancialStatementAssessmentReviewResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the action processed.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "81dd8b2e-c95b-5c4c-8f0a-98e37b1e9020",
            "correlationId": "16baf27e-239d-5809-9f12-b89a0f17e386",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate multiple requests/responses.",
            "example": "CORR-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2021-04-01T10:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where processing took place.",
            "example": "US-West"
          }
        },
        "description": "Contains metadata information pertaining to the financial statement assessment action."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-050"
        },
        "example": "WF-050"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b82db867-c0eb-420c-9415-99967b2c9d35"
        },
        "example": "b82db867-c0eb-420c-9415-99967b2c9d35"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "710d988d-78ef-46d5-b57d-def55a013bde"
        },
        "example": "710d988d-78ef-46d5-b57d-def55a013bde"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_422",
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-050"
        },
        "example": "WF-050"
      },
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statement-assessment-review-financial-statement-assessment"
        },
        "example": "financial-statement-assessment-review-financial-statement-assessment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where clients must include a JSON Web Token (JWT) in the Authorization header of requests. The token grants access to secured endpoints, ensuring that the requester is authenticated.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}