{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Building Maintenance Management API",
    "description": "The Building Maintenance Management API provides users with access to comprehensive information regarding facility maintenance requests and updates. This API allows consumers, such as facility managers and service teams, to retrieve details about ongoing and past maintenance operations. It serves as a central point for managing the upkeep of buildings, optimizing operational efficiency and ensuring a safe environment. Clients may utilize this API for data analytics, reporting, or to enhance communication among stakeholders involved in facility management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/building-maintenance/{param1}": {
      "get": {
        "tags": [
          "Building Maintenance"
        ],
        "summary": "Retrieve building maintenance details for a specific resource.",
        "description": "This endpoint allows you to fetch the detailed maintenance information for a particular building resource identified by RES-100045. Use this to get insights into the maintenance history, scheduled services, and any critical issues that need addressing.",
        "operationId": "getBuildingMaintenanceForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving building maintenance information for the specified facility. The body should adhere to the required schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBuildingMaintenanceForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the requested resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuildingMaintenanceForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBuildingMaintenanceForRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to building maintenance operations.",
        "example": "{}"
      },
      "GetBuildingMaintenanceForRes100045Response_200": {
        "title": "Building Maintenance Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the maintenance asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order.",
            "example": "ORD-585396"
          },
          "scheduledDate": {
            "type": "string",
            "description": "Date when the maintenance is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor providing the maintenance service.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where maintenance is to be performed.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of maintenance in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the maintenance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the maintenance request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the building maintenance details including asset, vendor, and scheduling information.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-585396",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6b6146ab-82c1-55ee-b9e7-2af4e2d4909d",
            "correlationId": "ce3a5f33-9ec2-593f-8e49-3a879fc80d24",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating requests and responses.",
            "example": "correlation-987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata information pertaining to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called in the building maintenance operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "building-maintenance-get-building-maintenance"
        },
        "example": "building-maintenance-get-building-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a bearer token. The bearer token must be a valid JSON Web Token (JWT) that grants access to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}