{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Rewards-spec",
    "description": "The Operational Service Rewards Retrieval API provides a streamlined approach to access information regarding various operational rewards offered by the banking services. This endpoint enables users to retrieve a comprehensive list of rewards associated with operational services, aiding businesses in understanding available incentives. Typical consumers include finance professionals seeking to analyze rewards programs or application developers integrating reward information into user-facing applications. This API enhances transparency and fosters informed decision-making for both clients and service providers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards": {
      "get": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Retrieve rewards related to operational services.",
        "description": "This endpoint allows you to fetch the rewards associated with operational services. It provides detailed information on available rewards, helping you understand the benefits and incentives tied to your operations.",
        "operationId": "listOperationalServiceRewards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve rewards from the operational services. It should contain the necessary parameters to specify the desired rewards. Ensure that the parameters adhere to the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceRewardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved rewards data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceRewardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceRewardsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the operational services rewards API operation.",
        "example": "{}"
      },
      "ListOperationalServiceRewardsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of reward items for loyalty accounts.",
            "example": [
              {
                "loyaltyAccountId": "ACC-555819",
                "customerId": "CUST-323340",
                "activityType": "STANDARD",
                "points": 1,
                "partnerCode": "CODE-168",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RewardItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the rewards.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving operational services rewards.",
        "example": {
          "items": [
            {
              "loyaltyAccountId": "ACC-555819",
              "customerId": "CUST-323340",
              "activityType": "STANDARD",
              "points": 1,
              "partnerCode": "CODE-168",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "86e51ab8-8069-51f0-b5ed-d88247959456",
            "correlationId": "00e38edd-8462-5b9f-86c3-7df97434e7a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RewardItem": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the loyalty account.",
            "example": "string"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity that triggered the reward.",
            "example": "string"
          },
          "points": {
            "type": "integer",
            "description": "Amount of loyalty points awarded.",
            "format": "int32",
            "example": 0
          },
          "partnerCode": {
            "type": "string",
            "description": "Code for the partner associated with the reward.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the reward record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the reward record.",
            "example": "string"
          }
        },
        "description": "Schema representing a single reward associated with a loyalty account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate log entries.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) where client applications provide a token in the Authorization header to access secure resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}