{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Enterprise Service By Param1-spec",
    "description": "The Enterprise Service Retrieval API provides access to specific enterprise services based on the given parameter. This API allows consumers, such as internal auditors and compliance teams, to fetch detailed information on enterprise services for auditing and reporting purposes. By specifying 'param1', users can query relevant data efficiently. This enables effective monitoring and management of services within the banking system.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/internal-audit/{param1}": {
      "get": {
        "tags": [
          "Internal Audit"
        ],
        "summary": "Retrieve audit details for a specified resource.",
        "description": "This endpoint allows users to fetch the internal audit information related to a specific resource identified by its ID. The response includes detailed audit logs and findings, enabling users to assess compliance and operational effectiveness.",
        "operationId": "getEnterpriseServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body represents the required structure for querying the internal audit data for the specified resource. Client applications need to provide all necessary parameters within this JSON object to retrieve accurate audit information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the internal audit service.",
        "example": "{}"
      },
      "GetEnterpriseServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the audit engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework under which the audit is conducted.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the engagement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the engagement record was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the engagement response.",
            "$ref": "#/components/schemas/AuditMetadata"
          }
        },
        "description": "Schema representing the response for the GET request to retrieve audit engagement details.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "df091f9e-bc46-5e03-9d4f-aa37e7243384",
            "correlationId": "3eb8a94d-2a18-5dde-acab-f80c922bc5ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with other related actions.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated in ISO 8601 format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the audit engagement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracing requests during internal audits.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-get-internal-audit"
        },
        "example": "internal-audit-get-internal-audit"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This is useful for identifying which service is executed during the audit.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer tokens, specifically in the JWT (JSON Web Token) format, for authorization. Clients must include a valid token in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}