{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Product Management Product Designs-spec",
    "description": "The Product Design Retrieval API provides access to a comprehensive list of product designs within the product management framework. This API enables users to query and retrieve specific design details, facilitating informed decision-making and strategic planning. Typical consumers include product managers, designers, and analysts who need to analyze design variations and evaluate product offerings. By leveraging this API, businesses can enhance their product development rollouts and ensure alignment with market requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-design": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product design details.",
        "description": "Fetches the detailed design specifications and information for a specific product in the product management system, enabling users to assess and utilize design resources effectively.",
        "operationId": "listProductManagementProductDesigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching product design details. Ensure that the necessary parameters are included in the request to retrieve the desired product design information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductManagementProductDesignsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of product design details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductManagementProductDesignsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListProductManagementProductDesignsRequest": {
        "type": "string",
        "description": "Represents the request body for the product design operation in the product management module.",
        "example": "{}"
      },
      "ListProductManagementProductDesignsResponse_200": {
        "title": "Product Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of products.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Current sorting criteria.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving product management details.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "48b899c0-1abd-587b-84ab-966b31894e4e",
            "correlationId": "07c526b3-d056-5ddd-bfe8-5fc8964f78b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductDetails": {
        "title": "Product Details",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "P001"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Product Name 1"
          },
          "customerSegment": {
            "type": "string",
            "description": "Target customer segment for the product.",
            "example": "Segment 1"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used for the pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the product becomes effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the product record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2023-10-23"
          }
        },
        "description": "Detailed information about a product."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Metadata for pagination of product results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-23T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-design-search-product-design"
        },
        "example": "product-design-search-product-design"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token that is a JSON Web Token (JWT). Clients must provide this token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}