{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Pisp Domestic Scheduled Payment Payment Details-v5-spec",
    "description": "MICROSERVICE-PROD-List Open Banking Pisp Domestic Scheduled Payment Payment Details-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments/{domesticScheduledPaymentId}/payment-details": {
      "get": {
        "operationId": "listOpenBankingPispDomesticScheduledPaymentPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/domesticScheduledPaymentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingPispDomesticScheduledPaymentPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingPispDomesticScheduledPaymentPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingPispDomesticScheduledPaymentPaymentDetailsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListOpenBankingPispDomesticScheduledPaymentPaymentDetailsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "PaymentTransactionId": {
                      "type": "string",
                      "example": "string"
                    },
                    "Status": {
                      "type": "string",
                      "example": "string"
                    },
                    "StatusUpdateDateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "StatusDetail": {
                      "type": "object",
                      "properties": {
                        "LocalInstrument": {
                          "type": "string",
                          "example": "string"
                        },
                        "Status": {
                          "type": "string",
                          "example": "string"
                        },
                        "StatusReason": {
                          "type": "string",
                          "example": "string"
                        },
                        "StatusReasonDescription": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-303947",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "example": "string"
              },
              "First": {
                "type": "string",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "example": "string"
              },
              "Next": {
                "type": "string",
                "example": "string"
              },
              "Last": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "example": "string"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "d07343a9-2e81-590d-9ce3-82e99aa1ed01",
              "correlationId": "59490a23-5683-5ea8-986c-a4da5937217a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-303947",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "d07343a9-2e81-590d-9ce3-82e99aa1ed01",
            "correlationId": "59490a23-5683-5ea8-986c-a4da5937217a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "domesticScheduledPaymentId": {
        "name": "domesticScheduledPaymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}