{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Disbursements-spec",
    "description": "The Loan Disbursement Retrieval API provides a streamlined method to access detailed information regarding loan disbursements associated with a specific loan. By utilizing this endpoint, users can effortlessly retrieve disbursement data for a given loan ID, facilitating better financial tracking and management. Common consumers include financial institutions, loan servicers, and systems that integrate loan-related data for analytics or reporting purposes. This API supports seamless data interaction, enhancing visibility into the disbursement process for various stakeholders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Disbursements for a Specific Loan",
        "description": "This endpoint allows you to fetch all the disbursements associated with a specific loan identified by its unique loan ID. Use this resource to monitor the progress and status of disbursed funds related to the loan, including amounts and dates of disbursement.",
        "operationId": "listLoanDisbursements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving disbursement information related to the specified loan. It should contain the necessary parameters to identify which disbursements to retrieve.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanDisbursementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved disbursement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanDisbursementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanDisbursementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to loan disbursements.",
        "example": "{}"
      },
      "ListLoanDisbursementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of disbursement items related to the loan.",
            "example": [
              {
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "disbursementMethod": "STANDARD",
                "valueDate": "2026-09-15",
                "beneficiary": {
                  "name": "Northstar Banking Service",
                  "accountNumber": "STANDARD",
                  "bankCode": "CODE-912",
                  "bankName": "Northstar Banking Service",
                  "address": {
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "city": "New York",
                    "state": "STANDARD",
                    "postalCode": "10001",
                    "country": "STANDARD"
                  }
                },
                "deductions": [
                  {
                    "type": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "narrative": "STANDARD",
                "externalReference": "STANDARD",
                "id": "4707bc3e-7150-0a69-2443-2ae037c8d4c0",
                "disbursementNumber": "STANDARD",
                "status": "ACTIVE",
                "grossAmount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "netAmount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "transactionReference": "STANDARD",
                "processedAt": "2026-08-11T12:00:00Z",
                "failureCode": "CODE-327",
                "failureMessage": "STANDARD",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DisbursementItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for loan disbursement data, containing a list of disbursement items and metadata.",
        "example": {
          "items": [
            {
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "disbursementMethod": "STANDARD",
              "valueDate": "2026-09-15",
              "beneficiary": {
                "name": "Northstar Banking Service",
                "accountNumber": "STANDARD",
                "bankCode": "CODE-912",
                "bankName": "Northstar Banking Service",
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                }
              },
              "deductions": [
                {
                  "type": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "narrative": "STANDARD",
              "externalReference": "STANDARD",
              "id": "4707bc3e-7150-0a69-2443-2ae037c8d4c0",
              "disbursementNumber": "STANDARD",
              "status": "ACTIVE",
              "grossAmount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "netAmount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "transactionReference": "STANDARD",
              "processedAt": "2026-08-11T12:00:00Z",
              "failureCode": "CODE-327",
              "failureMessage": "STANDARD",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "7d857383-22a0-577b-abdf-7035453f439b",
            "correlationId": "23024d69-f1eb-594e-9ddf-aa649e9a5b67",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisbursementItem": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the amount (e.g., USD, EUR)."
              },
              "amount": {
                "type": "string",
                "description": "The amount of money being disbursed."
              }
            },
            "description": "The total amount involved in the disbursement."
          },
          "disbursementMethod": {
            "type": "string",
            "description": "Method used for disbursing the funds (e.g., Wire Transfer, Check)."
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement takes effect."
          },
          "beneficiary": {
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Narrative description of the disbursement."
          },
          "externalReference": {
            "type": "string",
            "description": "External reference for tracking the disbursement."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement."
          },
          "disbursementNumber": {
            "type": "string",
            "description": "Disbursement number for tracking."
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement."
          },
          "grossAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction related to the disbursement."
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was processed."
          },
          "failureCode": {
            "type": "string",
            "description": "Code indicating a failure, if applicable."
          },
          "failureMessage": {
            "type": "string",
            "description": "Message detailing a failure, if applicable."
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Details of a disbursement associated with a loan."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account number of the beneficiary."
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code for identifying the beneficiary's bank."
          },
          "bankName": {
            "type": "string",
            "description": "Name of the beneficiary's bank."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Details of the beneficiary of the disbursement."
      },
      "Deduction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of deduction (e.g., fees, taxes)."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of deductions applied to the disbursement."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount."
          },
          "amount": {
            "type": "string",
            "description": "The numeric amount."
          }
        },
        "description": "Represents an amount of money with a currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the item was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the item."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the item."
          },
          "version": {
            "type": "integer",
            "description": "Versioning information for the item.",
            "format": "int32"
          }
        },
        "description": "Audit information related to creation and updates."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address."
          },
          "city": {
            "type": "string",
            "description": "City of the beneficiary's address."
          },
          "state": {
            "type": "string",
            "description": "State of the beneficiary's address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the beneficiary's address."
          },
          "country": {
            "type": "string",
            "description": "Country of the beneficiary's address."
          }
        },
        "description": "Address details for the beneficiary."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Datetime when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-disbursements"
        },
        "example": "banking-loans-openapi-list-disbursements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, utilizing the JSON Web Token (JWT) format. Clients must include the token in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}