{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Open Banking Pisp International Payment By International Payment Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Open Banking Pisp International Payment By International Payment Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments/{internationalPaymentId}": {
      "get": {
        "operationId": "getOpenBankingPispInternationalPaymentByInternationalPaymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/internationalPaymentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOpenBankingPispInternationalPaymentByInternationalPaymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpenBankingPispInternationalPaymentByInternationalPaymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOpenBankingPispInternationalPaymentByInternationalPaymentIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetOpenBankingPispInternationalPaymentByInternationalPaymentIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "InternationalPaymentId": {
                "type": "string",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Path": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "example": "string"
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "ChargeBearer": {
                      "type": "string",
                      "example": "string"
                    },
                    "Type": {
                      "type": "string",
                      "example": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "properties": {
                  "UnitCurrency": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExchangeRate": {
                    "type": "number",
                    "example": 0.0
                  },
                  "RateType": {
                    "type": "string",
                    "example": "string"
                  },
                  "ContractIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExpirationDateTime": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "example": "string"
                  },
                  "InstructionPriority": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "example": "string"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "example": "string"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "example": "string"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "example": "string"
                      },
                      "Currency": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "ExchangeRateInformation": {
                    "type": "object",
                    "properties": {
                      "UnitCurrency": {
                        "type": "string",
                        "example": "string"
                      },
                      "ExchangeRate": {
                        "type": "number",
                        "example": 0.0
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "InternationalPaymentId": "PAY-242089",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "24d0d508-3741-53ab-bfcf-f928d2296cfa",
              "correlationId": "2e46cccb-2600-51ea-8e66-e675d56ef411",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "InternationalPaymentId": "PAY-242089",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0
              }
            }
          },
          "metadata": {
            "responseId": "24d0d508-3741-53ab-bfcf-f928d2296cfa",
            "correlationId": "2e46cccb-2600-51ea-8e66-e675d56ef411",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "internationalPaymentId": {
        "name": "internationalPaymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment"
        },
        "example": "payment-initiation-openapi-get-international-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}