{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Analysi Product Portfolios-spec",
    "description": "The Business Analysis Product Portfolio API provides a comprehensive view of various product portfolios within the banking sector. This endpoint allows consumers, such as financial analysts and business strategists, to retrieve detailed information about existing product portfolios for analysis and decision-making. Users can access specific portfolio attributes, performance metrics, and other relevant data that aid in understanding market trends and customer needs. This API is essential for improving product strategy, identifying opportunities, and enhancing business performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/product-portfolio": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve the product portfolio for analysis.",
        "description": "This endpoint allows users to fetch the complete product portfolio, offering insights into the various products available for business analysis. It retrieves essential data needed to understand product performance and market positioning.",
        "operationId": "listBusinessAnalysiProductPortfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the product portfolio details within the business analysis framework. It allows the client to specify the necessary parameters to filter and sort the requested product portfolio data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessAnalysiProductPortfoliosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, returning the product portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessAnalysiProductPortfoliosResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessAnalysiProductPortfoliosRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the product portfolio in the business analysis domain. The body should be a string type.",
        "example": "{}"
      },
      "ListBusinessAnalysiProductPortfoliosResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of product portfolio analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductPortfolioAnalysisItem"
            }
          },
          "pagination": {
            "description": "Pagination metadata for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items retrieved.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product portfolio analysis operation.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "349a04c0-19e0-5852-96b0-e11f1643068e",
            "correlationId": "aa3df441-363c-5fce-b072-8f40d100e4bd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductPortfolioAnalysisItem": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "analysis-123"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment.",
            "example": "segment-456"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "2023-01-01"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "2023-12-31"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as the base for financial calculations.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario being analyzed.",
            "example": "Best Case"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "An individual item within the product portfolio analysis."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was performed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-portfolio-search-product-portfolio"
        },
        "example": "product-portfolio-search-product-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication using JSON Web Tokens (JWT). The token should be included in the `Authorization` header of the HTTP request, prefixed with the keyword 'Bearer'. Ensure that the JWT is valid and has not expired to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}