{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management Systems Operations-v5-spec",
    "description": "The Banking IT Management Systems Operations API provides access to a comprehensive overview of operational activities within banking IT management systems. This endpoint enables consumers to retrieve details about various systems and their performance metrics, facilitating insights into operational efficiency. Typical users include IT managers and analysts who leverage this information for reporting and decision-making purposes. By utilizing this API, stakeholders can enhance their understanding of system operations and identify potential areas for improvement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-operations": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve systems operations related to IT management.",
        "description": "This endpoint allows users to fetch the current systems operations data concerning IT management. It provides insights into the operational status of various IT systems for better management and decision-making.",
        "operationId": "listBankingItManagementSystemsOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operations details for IT management systems. It structures the data to ensure that the API client can properly query the required information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementSystemsOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementSystemsOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementSystemsOperationsRequest": {
        "type": "string",
        "description": "Represents the request body in JSON format for the GET operation related to IT management's systems operations.",
        "example": "{}"
      },
      "ListBankingItManagementSystemsOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of system operation items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on system operations. Contains a list of system operation items and pagination details.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e92777f3-aa8c-5463-907a-c0985ce6bfe5",
            "correlationId": "c4395317-2a55-5aaf-a4f3-5ae2e61ee25a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemOperationItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier of the system.",
            "example": "string"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed.",
            "example": "string"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with this operation.",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system operation.",
            "example": "string"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation.",
            "example": "string"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier the system belongs to.",
            "example": "string"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system.",
            "example": 0.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window for the system.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the system operation was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single system operation item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-operations-search-systems-operations"
        },
        "example": "systems-operations-search-systems-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically JSON Web Tokens (JWT). Clients must include this token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}