{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Marketing By Param1-spec",
    "description": "The Brand Management Marketing Retrieval API allows users to fetch marketing information based on a specific parameter, denoted as 'param1'. This endpoint is designed for marketing teams and analysts who need to access targeted marketing data to inform their strategies. By providing insights into brand management, this API facilitates better decision-making and enhances marketing effectiveness. Typical use cases include analyzing campaign performance, understanding customer engagement, and optimizing brand messaging.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/brand-management/{param1}": {
      "get": {
        "tags": [
          "Brand Management"
        ],
        "summary": "Retrieve brand management details.",
        "description": "Fetches the details of the specified brand management resource identified by its unique ID. Useful for obtaining brand-related information for analysis and decision-making.",
        "operationId": "getMarketingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for the GET operation on the Brand Management resource. It must be formatted as JSON and should comply with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested brand management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingByParam1Request": {
        "type": "string",
        "description": "This schema represents the body of a request for the brand management operations.",
        "example": "{}"
      },
      "GetMarketingByParam1Response_200": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Unique identifier for the target segment the campaign is aimed at.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "A list of channels used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Name of a marketing channel.",
              "example": "string"
            }
          },
          "budget": {
            "description": "The budget details allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format.",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format.",
            "format": "date-time"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign (e.g. active, paused, completed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the campaign details.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the campaign details were last updated.",
            "format": "date-time",
            "example": 1789482600.0
          },
          "metadata": {
            "description": "Additional metadata related to the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving marketing campaign details including budget, timelines, and metadata.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "48ab3661-a164-5616-9ef5-e40ff4a01a80",
            "correlationId": "dbe9daf0-2992-574e-95ae-fa525556fc63",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary value of the budget.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget is denominated.",
            "example": "USD"
          }
        },
        "description": "Budget details associated with a marketing campaign."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related responses.",
            "example": "correlation_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "format": "date-time",
            "example": 1672574400.0
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response of the campaign."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header is used to uniquely identify the endpoint in the API documentation, ensuring accurate request tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brand-management-get-brand-management"
        },
        "example": "brand-management-get-brand-management"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime environment of the application processing the request, useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a JSON Web Token (JWT) transmitted in the HTTP Authorization header as a bearer token. Ensure that the token is valid and has not expired before making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}