{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Reward-spec",
    "description": "This API facilitates the creation of operational service rewards within the banking system. It allows businesses to submit new reward specifications that can enhance customer engagement and satisfaction. Typical users of this API include banking service developers and product managers looking to implement innovative reward programs. The endpoint ensures a structured method to capture reward details, streamlining the process and improving efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards": {
      "post": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Create a new reward under operational services.",
        "description": "This endpoint allows users to create a new reward associated with operational services. After providing the necessary details in the request body, the system will process the request and return the created reward information.",
        "operationId": "createOperationalServiceReward",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint allows you to submit a request for rewards associated with operational services. Ensure that the request payload meets the required schema format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceRewardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, rewards initiated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceRewardResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceRewardRequest": {
        "required": [
          "activityType",
          "customerId",
          "loyaltyAccountId",
          "points"
        ],
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "ACC-572763"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-207189"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity being recorded (e.g., purchase, referral).",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "Number of points associated with the activity.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "Code identifying the partner associated with the activity.",
            "example": "CODE-886"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating or updating reward activities for a customer in the operational services.",
        "example": {
          "loyaltyAccountId": "ACC-572763",
          "customerId": "CUST-207189",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-886",
          "requestContext": {
            "requestId": "c54c63b8-6ca6-51a7-981a-80eef8705cec",
            "correlationId": "e883f517-5d5d-5441-a40d-9e582a952f82",
            "idempotencyKey": "8d72df4f-16a2-5546-b7ff-d0ff04b986ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-724920"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "RequestId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "CorrelationId456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IdempotencyKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that generated the request.",
            "example": "SourceSystemAB"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application through which the request was made.",
            "example": "MobileAppXY"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual metadata related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "ChannelId123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "DeviceId456"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateOperationalServiceRewardResponse_201": {
        "title": "Reward Operation Response",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "ACC-935372"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-477386"
          },
          "partnerCode": {
            "type": "string",
            "description": "Code representing the partner associated with the reward operation.",
            "example": "CODE-991"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the operation.",
            "example": "RES-568901"
          },
          "status": {
            "type": "string",
            "description": "Current status of the reward operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the reward operation.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response object for a reward operation. Contains information about the loyalty account, customer, and operation metadata.",
        "example": {
          "loyaltyAccountId": "ACC-935372",
          "customerId": "CUST-477386",
          "partnerCode": "CODE-991",
          "resourceId": "RES-568901",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a936c8c9-0db9-56de-9c33-9429a6ffea7e",
            "correlationId": "e883f517-5d5d-5441-a40d-9e582a952f82",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata details associated with a reward operation, including identifiers and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-create-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-create-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token in HTTP Authorization headers. The token should be in JWT (JSON Web Token) format which is commonly used for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}