{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Servicing Payment Initiation-spec",
    "description": "The Servicing Payment Initiation API facilitates the initiation of payment transactions for servicing purposes. This endpoint is designed for financial institutions and third-party service providers seeking to streamline their payment processing operations. By using this API, users can submit requests to initiate payments directly, enhancing efficiency and customer satisfaction. Typical consumers include banks, fintechs, and payment service providers looking to improve their servicing capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/payment-initiation": {
      "post": {
        "tags": [],
        "summary": "Initiates a payment process.",
        "description": "This endpoint initiates a payment process for a specified service. It allows the user to start payment operations safely and efficiently, ensuring that all necessary details are correctly processed to begin the transaction.",
        "operationId": "createServicingPaymentInitiation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a payment transaction. This payload should contain all necessary details for processing the payment, including any required identifiers, amounts, and transaction details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingPaymentInitiationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingPaymentInitiationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingPaymentInitiationRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer making the request.",
            "example": "CUST-930124"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the associated case.",
            "example": "CASE-246539"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request, e.g., payment initiation.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request, e.g., high, medium, low.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel from which the request originates, e.g., mobile app, web.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating a payment operation.",
        "example": {
          "customerId": "CUST-930124",
          "caseId": "CASE-246539",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "f62f0bf3-2748-5121-b140-5b8ace13bf76",
            "correlationId": "c484e1ce-b7dd-555c-a93a-ac70c95ac8f6",
            "idempotencyKey": "779045de-fcf9-5613-b321-85ac7b1c6ebc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-171351"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the transaction across systems.",
            "example": "CORR98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that generated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual details for the request."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHAN112233"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "DEVICE445566"
          }
        },
        "description": "Information regarding the originating channel of the request."
      },
      "CreateServicingPaymentInitiationResponse_202": {
        "title": "Payment Initiation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-806502"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case associated with the payment.",
            "example": "CASE-597445"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference identifier for the payment processing.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment initiation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payment initiation.",
            "$ref": "#/components/schemas/PaymentMetadata"
          }
        },
        "description": "Schema representing the response for a payment initiation operation.",
        "example": {
          "customerId": "CUST-806502",
          "caseId": "CASE-597445",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "2b36400a-b2d6-579f-9e6d-77faa964c802",
            "correlationId": "c484e1ce-b7dd-555c-a93a-ac70c95ac8f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMetadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T11:59:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is being processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata related to the payment initiation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-initiate-payment-initiation"
        },
        "example": "payment-initiation-initiate-payment-initiation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism using JSON Web Tokens (JWT). Clients must include the token in the `Authorization` header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}