{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List External Agency Correspondent Bank Relationship Managements-spec",
    "description": "This API allows users to access and retrieve details about correspondent bank relationships managed by external agencies. It provides insights into the various relationships established for effective banking operations, facilitating comprehensive management and oversight. Typical consumers include banking professionals and financial analysts who require up-to-date information on how external agencies interact with correspondent banks. The endpoint supports use cases such as monitoring relationships, ensuring compliance, and enhancing communication between banks and their external partners.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-relationship-management": {
      "get": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Retrieve Correspondent Bank Relationships",
        "description": "This endpoint allows you to retrieve a list of correspondent bank relationships associated with external agencies. It provides details necessary for managing banking partnerships effectively.",
        "operationId": "listExternalAgencyCorrespondentBankRelationshipManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the correspondent bank relationship management data. Ensure that the request adheres to the specified schema to guarantee proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListExternalAgencyCorrespondentBankRelationshipManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of correspondent bank relationships.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExternalAgencyCorrespondentBankRelationshipManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListExternalAgencyCorrespondentBankRelationshipManagementsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to the external agency's correspondent bank relationship management operations.",
        "example": "{}"
      },
      "ListExternalAgencyCorrespondentBankRelationshipManagementsResponse_200": {
        "title": "Correspondent Bank Relationship Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of correspondent bank relationships.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-593204",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "nostroAccountId": "ACC-201548",
                "settlementCurrency": "USD",
                "relationshipStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorrespondentBankRelationship"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Correspondent Bank Relationship Management operation, containing a list of items and pagination data.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-593204",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "nostroAccountId": "ACC-201548",
              "settlementCurrency": "USD",
              "relationshipStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "950615c7-0722-5d82-939a-370aeb94d5c4",
            "correlationId": "90c0e283-7d9b-550c-bafa-dfb04ea60271",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorrespondentBankRelationship": {
        "title": "Correspondent Bank Relationship",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the financial institution.",
            "example": "institution1"
          },
          "agreementId": {
            "type": "string",
            "description": "The identifier of the agreement related to the bank relationship.",
            "example": "agreement1"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) of the financial institution.",
            "example": "BIC12345"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code for the location of the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the relationship becomes effective.",
            "example": "2023-01-01"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The identifier of the nostro account associated with the relationship.",
            "example": "account1"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which settlement is executed.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "The current status of the relationship.",
            "example": "active"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the system.",
            "example": "valid"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the relationship was last updated.",
            "example": "2023-01-15T12:00:00Z"
          }
        },
        "description": "Represents the relationship details of a correspondent bank."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the paginated response.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Represents pagination data for the response, including current page, page size, and total items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response1"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "correlation1"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-relationship-management-search-correspondent-bank-relationship-management"
        },
        "example": "correspondent-bank-relationship-management-search-correspondent-bank-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}