{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Promotional Events API",
    "description": "The Promotional Events API enables businesses to access and manage promotional events within the banking marketing ecosystem. This API provides endpoints to retrieve detailed information about ongoing and upcoming promotional events, facilitating better marketing strategies and customer engagement. Typical consumers of this API include marketing teams, application developers, and analysts looking to enhance promotional effectiveness through data-driven insights. Users can leverage this API to understand event timelines, eligibility criteria, and communication strategies effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve a list of promotional events.",
        "description": "Fetches all promotional events currently active in the marketing department. This endpoint allows you to access the promotional events data, which can help in understanding the ongoing marketing strategies and initiatives.",
        "operationId": "getMarketingPromotionalEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve promotional events in the marketing module. It requires a JSON payload structured according to the defined schema. Proper formatting of the request body is essential for the successful execution of the associated operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingPromotionalEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of promotional events.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingPromotionalEventsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingPromotionalEventsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to promotional events in the marketing API. It is expected to contain a JSON string that may hold relevant identifiers or query parameters.",
        "example": "{}"
      },
      "GetMarketingPromotionalEventsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of promotional event items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PromotionalEvent"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the marketing promotional events GET operation.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "89760524-2968-5e41-be1e-c6702edfa1c1",
            "correlationId": "1202d1fa-d3cb-50fb-9795-3f748f5cc4e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PromotionalEvent": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Identifier for the promotional campaign."
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target audience segment."
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used for the campaign.",
            "items": {
              "type": "string",
              "description": "Channel type in the campaign."
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the promotional campaign."
          },
          "endDate": {
            "type": "string",
            "description": "End date of the promotional campaign."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the promotional event."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the promotional event."
          }
        },
        "description": "Schema representing a promotional event item."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount allocated for the budget."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the budget amount."
          }
        },
        "description": "Schema representing the budget details for a promotional event."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page for pagination.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-search-promotional-events"
        },
        "example": "promotional-events-search-promotional-events"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled this request, providing context regarding its source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing Bearer tokens, specifically in the JSON Web Token (JWT) format. This method is commonly employed for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}