{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Payment API",
    "description": "The Update Loan Payment API allows for the modification of existing payment details associated with specific loans. By utilizing this endpoint, authorized users can update information such as payment amounts, due dates, or status to ensure accurate payment tracking. This API is primarily used by financial institutions and loan servicing platforms to streamline payment management processes for loans. Typical consumers include loan officers and customer service representatives who need to assist borrowers in managing their payments efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Payment",
        "description": "This endpoint allows you to update the details of a specific loan payment identified by the payment ID within the context of a particular loan. Ensure that you provide the necessary information to process the update successfully.",
        "operationId": "patchLoanPaymentsLOAN-500045PAY-300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the payment details for a specific loan payment. It allows the submission of payment modifications such as amount changes, payment dates, and other relevant attributes. Ensure that the request body adheres to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanPaymentsLOAN-500045PAY-300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment update was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanPaymentsLOAN-500045PAY-300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanPaymentsLOAN-500045PAY-300045Request": {
        "title": "Payment Operation Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of money being processed, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date the payment is made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment amount will be credited.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method through which the payment is made.",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is being made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for tracking purposes.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment across installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "An array of installment numbers that the payment is targeting.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "The installment number.",
              "format": "int32"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description accompanying the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a payment operation on a loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "ba86d290-d9b9-504a-866d-beed283f3e63",
            "correlationId": "d2206240-ee44-5b05-a770-9879fad385f7",
            "idempotencyKey": "484666da-09ce-5b15-a0e0-a0bf17aca1bc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872836"
            }
          }
        }
      },
      "Amount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g. USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric amount of the payment.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the currency and amount of a payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking correlated requests.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "IDEMP-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BankingSystemX"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "PaymentApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "CH-123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Schema representing the channel used to send the request."
      },
      "PatchLoanPaymentsLOAN-500045PAY-300045Response_200": {
        "title": "Loan Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount involved in the payment transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The value date for the payment.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "A list of installment numbers to which the payment is allocated.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details for manually allocating the payment amounts.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative description of the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "9fbf2929-1ccd-7c08-7a7f-4fbbe2a9a52c"
          },
          "paymentNumber": {
            "type": "string",
            "description": "A unique number assigned to the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment (e.g., completed, pending).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details of the allocation of the payment amounts.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference for the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "Timestamp of when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "9fbf2929-1ccd-7c08-7a7f-4fbbe2a9a52c",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "67282050-edee-526e-a9a8-0a5157a23223",
            "correlationId": "d2206240-ee44-5b05-a770-9879fad385f7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Amount allocated to the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Amount allocated to interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Amount allocated to fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Amount allocated to penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Amount allocated as excess.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing details of the manual allocation of payment."
      },
      "Allocation": {
        "title": "Payment Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Amount allocated to the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Amount allocated to interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Amount allocated to fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Amount allocated to penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Amount allocated as excess.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing details of payment allocation."
      },
      "Metadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional information about the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was called, allowing tracking of the request within the API. This value helps in debugging and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-payment"
        },
        "example": "banking-loans-openapi-update-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header is useful for identifying the environment where the operation took place.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secure access to APIs. Clients must include a token in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}