{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Center Management API",
    "description": "The Contact Center Management API facilitates streamlined communication and operational oversight within banking contact centers. It provides essential resources for retrieving data related to customer interactions, performance metrics, and channel-specific operational details. This API is designed for financial institutions and customer service teams looking to enhance their support capabilities and improve response times. Utilize this endpoint for comprehensive insights on managing customer engagement and optimizing service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-management": {
      "get": {
        "tags": [
          "Contact Center Management"
        ],
        "summary": "Retrieve channel-specific contact center management data.",
        "description": "This endpoint allows users to fetch detailed management information related to specific contact channels. Utilize this API to gain insights into channel operations and configurations.",
        "operationId": "getChannelSpecificContactCenterManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve channel-specific contact center management information. Ensure that the required parameters are included in the request to get the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificContactCenterManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning contact center management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificContactCenterManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificContactCenterManagementRequest": {
        "type": "string",
        "description": "Request body for the GET operation in the contact center management API, specific to channel functionality.",
        "example": "{}"
      },
      "GetChannelSpecificContactCenterManagementResponse_200": {
        "title": "Contact Center Management Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of contact center channel items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "queueId": "STANDARD",
                "skillGroup": "STANDARD",
                "targetAnswerSeconds": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactCenterChannel"
            }
          },
          "pagination": {
            "description": "Pagination information for the response data.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response from the contact center management operations.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "queueId": "STANDARD",
              "skillGroup": "STANDARD",
              "targetAnswerSeconds": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "083d1450-141f-5897-9227-6b5a5ed88a7d",
            "correlationId": "c6655a15-7e6f-57b7-93f4-158a7c33fcd3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactCenterChannel": {
        "title": "Contact Center Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the contact center channel."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region of the channel."
          },
          "serviceWindow": {
            "description": "Service window details for the contact center channel.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of interactions that can be handled daily.",
            "format": "int32"
          },
          "queueId": {
            "type": "string",
            "description": "Unique identifier for the queue associated with the channel."
          },
          "skillGroup": {
            "type": "string",
            "description": "Group of skills required to handle interactions in this channel."
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "Target time in seconds to answer an interaction.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record related to the contact center channel."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to this channel."
          }
        },
        "description": "Schema representing a contact center channel with its properties.",
        "example": {
          "channelId": "channel1",
          "regionCode": "us-east",
          "serviceWindow": {
            "opensAt": "08:00:00",
            "closesAt": "20:00:00"
          },
          "dailyCapacity": 100,
          "queueId": "queue1",
          "skillGroup": "sales",
          "targetAnswerSeconds": 30,
          "recordStatus": "active",
          "updatedAt": "2023-10-10T10:00:00Z"
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the service window in HH:mm:ss format."
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the service window in HH:mm:ss format."
          }
        },
        "description": "Schema representing the service operating hours for a contact center channel.",
        "example": {
          "opensAt": "08:00:00",
          "closesAt": "20:00:00"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details of list responses.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates this response with a request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Schema containing metadata information about the response.",
        "example": {
          "responseId": "12345",
          "correlationId": "abcd-1234",
          "generatedAt": "2023-10-10T10:00:00Z",
          "processingRegion": "us-west-2"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-management-search-contact-center-management"
        },
        "example": "contact-center-management-search-contact-center-management"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically in the form of JSON Web Tokens (JWT). This allows for secure access to the API by providing a token that must be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}