{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Sale Prospect Campaign Executions-spec",
    "description": "The Sale Prospect Campaign Execution Retrieval API provides a mechanism for businesses to access detailed information about their sale prospect campaign executions. This endpoint allows users to retrieve a comprehensive list of campaign execution instances, including their statuses and results. It is particularly useful for sales and marketing teams looking to track the performance of their campaigns, analyze engagement metrics, and make data-driven decisions. Typical consumers of this API include marketing analysts and sales managers who require real-time insights into campaign effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/prospect-campaign-execution": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve execution details of prospect campaigns.",
        "description": "This endpoint allows users to retrieve detailed information about the execution of prospect campaigns, providing insights into performance metrics and engagement stats. Ideal for analyzing the effectiveness of sales outreach efforts.",
        "operationId": "listSaleProspectCampaignExecutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to execute a prospect campaign. It requires a properly structured JSON object that adheres to the defined schema for the request. Ensure that all necessary fields are included to successfully execute the campaign and retrieve the expected results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSaleProspectCampaignExecutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the campaign execution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSaleProspectCampaignExecutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSaleProspectCampaignExecutionsRequest": {
        "title": "Sales Prospect Campaign Execution Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the Sales Prospect Campaign Execution.",
        "example": "{}"
      },
      "ListSaleProspectCampaignExecutionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of prospect campaign execution items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProspectCampaignExecutionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation of prospect campaign execution.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "31f24385-3412-596d-bb53-837530652914",
            "correlationId": "a8bbe607-8a09-53f1-af4d-fb8f09a44f80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProspectCampaignExecutionItem": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product associated with the prospect."
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the prospect was reached."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "campaignObjective": {
            "type": "string",
            "description": "Objective of the campaign (e.g., acquisition, retention)."
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group in the campaign.",
            "format": "int32"
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Maximum frequency of contact allowed for the prospect.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the prospect record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the prospect record."
          }
        },
        "description": "Represents a single item of the prospect campaign execution."
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The expected monetary value associated with the prospect."
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the expected value (e.g., USD, EUR)."
          }
        },
        "description": "Represents the expected value details for a prospect."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the list of items."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the request occurred."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-execution-search-prospect-campaign-execution"
        },
        "example": "prospect-campaign-execution-search-prospect-campaign-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, allowing clients to authenticate using a JSON Web Token (JWT). The token is included in the Authorization header of the request. Ensure that the token is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}