{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Employee Evaluation Evaluation-spec",
    "description": "The Employee Evaluation Creation API enables businesses to initiate and submit evaluations for employees within the human resources management system. This endpoint allows for the structured creation of evaluation records, capturing essential data such as performance metrics, feedback, and employee identifiers. It is primarily used by HR professionals and managers to facilitate workforce assessments and development processes. This API offers a streamlined way to enhance employee performance tracking and support organizational growth initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation/evaluations": {
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Create a new employee evaluation.",
        "description": "This endpoint allows you to submit a new evaluation for an employee, capturing their performance and development feedback. Make sure to include all required evaluation details in the request body.",
        "operationId": "createEmployeeEvaluationEvaluation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an employee evaluation within the human resource management system. It includes necessary details such as employee ID, evaluation score, comments, and any other pertinent information required for a comprehensive evaluation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeEvaluationEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeEvaluationEvaluationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeEvaluationEvaluationRequest": {
        "title": "Employee Evaluation Request",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee being evaluated.",
            "example": "EMP-917101"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment related to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department where the employee works.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the evaluation becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the manager overseeing the employee.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee performs their work.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual details about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for evaluating an employee.",
        "example": {
          "employeeId": "EMP-917101",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "408bd52f-5534-5933-bb6e-6c4b4d9c0f91",
            "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
            "idempotencyKey": "ed33f016-f756-56cd-b6f9-48afc8221a3b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-408530"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs across services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that repeated requests are processed only once.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that triggered the request.",
            "example": "Employee Portal"
          },
          "channel": {
            "description": "Channel details related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details related to the API request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the channel.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateEmployeeEvaluationEvaluationResponse_200": {
        "title": "Employee Evaluation Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee being evaluated.",
            "example": "EMP-763134"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment related to the evaluation.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department of the employee.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the employee.",
            "example": "US"
          },
          "assessmentId": {
            "type": "string",
            "description": "Identifier for the assessment related to the employee evaluation.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "Outcome of the evaluation process.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "Score assigned to the employee based on the evaluation.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "Date and time when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the evaluation.",
            "$ref": "#/components/schemas/EvaluationMetadata"
          }
        },
        "description": "Schema representing the response for an employee evaluation operation.",
        "example": {
          "employeeId": "EMP-763134",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "858ec3e4-bd47-520e-989e-20bfbcd692ca",
            "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EvaluationMetadata": {
        "title": "Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the evaluation response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple operations across the system.",
            "example": "corr-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the evaluation processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the employee evaluation process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-evaluate-employee-evaluation"
        },
        "example": "employee-evaluation-evaluate-employee-evaluation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) in the Authorization header. This format provides a secure way to transmit information between the client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}