{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Management API",
    "description": "The Event Management API facilitates the creation and management of events within a microservice architecture. This API allows clients to submit event details, enabling seamless integration with open banking applications. It's designed for developers creating applications that require event-driven functionalities, such as transaction notifications or status updates. Typical consumers include financial service providers and application developers seeking to enhance user engagement through real-time event handling.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/events": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event",
        "description": "This endpoint allows you to create a new event in the system. You need to provide the necessary details for the event in the request body.",
        "operationId": "createEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The body of the request contains details about the event to be created. It should follow the defined schema for proper validation and data integrity. Ensure that all required fields are included and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, event has been processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEventResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEventRequest": {
        "title": "Event Request Body",
        "type": "object",
        "properties": {
          "maxEvents": {
            "type": "integer",
            "description": "The maximum number of events to process.",
            "format": "int32",
            "example": 1
          },
          "returnImmediately": {
            "type": "boolean",
            "description": "Indicates whether the response should be returned immediately.",
            "example": true
          },
          "ack": {
            "type": "array",
            "description": "An array of acknowledgments associated with the events.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An acknowledgment string.",
              "example": "acknowledgment"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body sent to the events POST operation.",
        "example": {
          "maxEvents": 1,
          "returnImmediately": true,
          "ack": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "710c4742-56fe-5d96-8130-c38db9c470aa",
            "correlationId": "fca6e251-2b31-5234-8106-885851c335c7",
            "idempotencyKey": "33bdc3b1-8435-5cf7-aaf6-117030944f9f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-467443"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs related to this request.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-03-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "source-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "source-application"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., SMS, EMAIL).",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the details of the communication channel."
      },
      "CreateEventResponse_200": {
        "title": "Event Post Response",
        "type": "object",
        "properties": {
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates whether there are more events available for retrieval.",
            "example": true
          },
          "metadata": {
            "description": "Contains metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the POST operation on events.",
        "example": {
          "moreAvailable": true,
          "metadata": {
            "responseId": "1e7540df-1efa-59ac-ab5a-1e9077a5c5d8",
            "correlationId": "fca6e251-2b31-5234-8106-885851c335c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the original request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata details regarding the event response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint, allowing tracking of specific request instances.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-create-events"
        },
        "example": "events-api-create-events"
      },
      "x-runtime-app": {
        "description": "Name of the application processing the request, useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses a bearer token, specifically a JSON Web Token (JWT), to grant access to secure API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}