{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Sale By Param1-spec",
    "description": "The Sale Update Management API enables businesses to modify existing sales records based on a unique identifier. This API supports updating key parameters of a sale, assisting in maintaining accurate sales data as circumstances change. Developers can utilize this API to integrate sales updates into their applications, ensuring real-time synchronization of sales information. Typical consumers include financial institutions and retail management systems that require dynamic adjustments to their sales records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-sales-support/{param1}": {
      "patch": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Update product sales support information.",
        "description": "This operation allows you to update the sales support information for the specified product. You can modify relevant fields to ensure that the product details are current and accurate, supporting better sales management.",
        "operationId": "updateSaleByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the sales support details for the product identified by PROD-700045. The structure of the request body must align with the defined schema, ensuring that all required fields are included and properly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSaleByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSaleByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSaleByParam1Request": {
        "title": "Product Sales Support Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be made to the product sales support.",
            "$ref": "#/components/schemas/ProductSalesChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request including various identifiers.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating product sales support operations in a PATCH request.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c8700abf-43ff-5eb7-bcd2-9577926f5024",
            "correlationId": "c8612631-6c55-5f1f-88e9-bde9b1f0767b",
            "idempotencyKey": "61ecc7ec-7e65-5421-803b-935a9dcb17d3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-617782"
            }
          }
        }
      },
      "ProductSalesChanges": {
        "title": "Product Sales Changes",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Identifier for the prospect associated with the sales change.",
            "example": "prospect_123"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being altered.",
            "example": "PROD-700045"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the product is sold.",
            "example": "Online"
          }
        },
        "description": "Schema representing the changes made to a product's sales attributes."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr_456xyz"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotency_key_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that represents the context surrounding a request, including identifiers."
      },
      "Channel": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request was made.",
            "example": "device_12345"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "UpdateSaleByParam1Response_200": {
        "title": "Product Sales Support Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on the product sales support endpoint.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "48457518-3b5b-53b5-a7ec-6234cee956c7",
            "correlationId": "c8612631-6c55-5f1f-88e9-bde9b1f0767b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this request with others.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that has been accessed in this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-sales-support-update-product-sales-support"
        },
        "example": "product-sales-support-update-product-sales-support"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens. This implementation uses JSON Web Tokens (JWT) to securely transmit information between parties. Clients must include the bearer token in the 'Authorization' header of requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}