{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Account Management Securities Position Keeping-v5-spec",
    "description": "MICROSERVICE-PROD-Replace Banking Account Management Securities Position Keeping-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping": {
      "put": {
        "operationId": "replaceBankingAccountManagementSecuritiesPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingAccountManagementSecuritiesPositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingAccountManagementSecuritiesPositionKeepingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingAccountManagementSecuritiesPositionKeepingRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "example": "ACC-680016"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-140689"
          },
          "ledgerDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "example": 100.0
          },
          "safekeepingAccountId": {
            "type": "string",
            "example": "ACC-930049"
          },
          "custodyLocation": {
            "type": "string",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "ff19c881-3b46-53d7-b5a6-32755f111f2f",
              "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
              "idempotencyKey": "65490124-39be-586a-b6be-c823148c72f7",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-766855"
              }
            }
          }
        },
        "example": {
          "accountId": "ACC-680016",
          "customerId": "CUST-140689",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "safekeepingAccountId": "ACC-930049",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "requestContext": {
            "requestId": "ff19c881-3b46-53d7-b5a6-32755f111f2f",
            "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
            "idempotencyKey": "65490124-39be-586a-b6be-c823148c72f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-766855"
            }
          }
        }
      },
      "ReplaceBankingAccountManagementSecuritiesPositionKeepingResponse_200": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "example": "ACC-494933"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-343633"
          },
          "safekeepingAccountId": {
            "type": "string",
            "example": "ACC-379685"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "db547a44-558f-5797-81d6-c28e0fe8a143",
              "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "accountId": "ACC-494933",
          "customerId": "CUST-343633",
          "safekeepingAccountId": "ACC-379685",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "db547a44-558f-5797-81d6-c28e0fe8a143",
            "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-upsert-securities-position-keeping"
        },
        "example": "securities-position-keeping-upsert-securities-position-keeping"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}