{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Product Retrieval API",
    "description": "The Sales Product Retrieval API allows consumers to access detailed information about specific sales products within the banking domain. Through this endpoint, users can retrieve data related to a sales product by utilizing its unique identifier. It is primarily designed for business analysts and developers looking to integrate sales data into reporting tools or applications. By leveraging this API, users can enhance their decision-making processes and gain insights into product performance and trends.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-product/{param1}": {
      "get": {
        "tags": [
          "Sales Products"
        ],
        "summary": "Retrieve a specific sales product by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific sales product, identified by its unique product ID. It provides all relevant data associated with the product, which can be useful for sales reporting and analysis.",
        "operationId": "getSalesProductById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary parameters to retrieve the sales product details for the specified product ID (PROD-700045). Ensure all required fields are included for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesProductByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the sales product details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesProductByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesProductByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the sales product operations.",
        "example": "{}"
      },
      "GetSalesProductByIdResponse_200": {
        "title": "Sales Product Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager overseeing the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value of the transaction.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the sales record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the sales product record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the sales product response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for sales product operations.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "90005fed-53c8-504b-8a4a-fe5f11fa061d",
            "correlationId": "5e625cac-485a-5093-9094-0c954afdab12",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount expected in the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the expected amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the expected financial value of a transaction."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema for additional metadata related to the sales product response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This value helps in tracking the specific API operation performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-get-sales-product"
        },
        "example": "sales-product-get-sales-product"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request. It aids in identifying the source of the request in distributed systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where a JSON Web Token (JWT) is sent in the Authorization header of the HTTP request. The token provides secure access to protected resources on the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}