{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Data Aggregation API",
    "description": "The Customer Data Aggregation API enables businesses to efficiently retrieve consolidated information about customers. By utilizing this service, organizations can access a comprehensive view of their customer profiles, including demographic details and engagement history. Typical consumers of this API include marketing teams, customer support representatives, and data analysts seeking insights for decision-making. This API facilitates streamlined data access for applications focused on enhancing customer relationships and improving service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve a list of customers.",
        "description": "This endpoint allows you to retrieve all customers from the system. You can filter, paginate, and sort the results as needed to find specific customer information.",
        "operationId": "getCustomers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer information. This body specifies the criteria by which customer data should be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomersRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving customer data via a GET operation.",
        "example": "{}"
      },
      "GetCustomersResponse_200": {
        "title": "Customer Operations GET Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of customers found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of customers currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more customers are available beyond the displayed results.",
            "example": true
          },
          "customers": {
            "type": "array",
            "description": "A list of customer objects.",
            "example": [
              {
                "id": "STANDARD",
                "username": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "phone": "+1-212-555-0147",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "createdDate": "2026-09-15",
                "lastModifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving customers in a GET operation.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "customers": [
            {
              "id": "STANDARD",
              "username": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "createdDate": "2026-09-15",
              "lastModifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "e56e6657-656e-578b-a952-e021f3c8d5c1",
            "correlationId": "c6d02511-f062-53b6-819f-025a43e869ec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of customer.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "Date the customer was created.",
            "example": "string"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "Date the customer was last modified.",
            "example": "string"
          }
        },
        "description": "Schema representing a single customer object."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to trace a request through multiple systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customers"
        },
        "example": "open-finance-api-get-customers"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). It is commonly used to secure API endpoints by requiring clients to provide a valid JWT in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}