{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Transaction Push API",
    "description": "The Customer Account Transaction Push API enables businesses to efficiently send transaction data related to specific customer accounts. This API allows for the seamless transmission of transaction updates, ensuring that consumers are promptly notified about the status of their account activities. Typical users of this API include financial institutions and business applications that need to keep account holders informed in real-time. By utilizing this endpoint, businesses can enhance customer engagement and improve transaction visibility, leading to more informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/txpush": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Push a transaction to a specific account.",
        "description": "This endpoint allows you to push a transaction for a specified account, identified by customer and account IDs. It is designed to facilitate the integration of external transaction data into our system seamlessly.",
        "operationId": "pushTransactionForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a transaction push for the specified account. It requires the necessary transaction details including the account information and the specific operations to be executed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTransactionForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The transaction has been successfully initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTransactionForAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PushTransactionForAccountRequest": {
        "title": "Transaction Push Request Body",
        "type": "object",
        "properties": {
          "callbackUrl": {
            "type": "string",
            "description": "The URL to which the response will be sent after processing the transaction.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "requestContext": {
            "description": "Context information for the request, providing traceability and identification.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for pushing a transaction operation.",
        "example": {
          "callbackUrl": "https://banking.northstar.example/callbacks/status",
          "requestContext": {
            "requestId": "aba19f97-9ef9-52ab-ae44-16ba5cbb372a",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "idempotencyKey": "5328559c-451f-595e-b1f1-860712c6149c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-676570"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and events.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the operation can be safely retried.",
            "example": "idempotent-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "source-system-name"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "source-app-name"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request for tracking and processing."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-abc"
          }
        },
        "description": "Details regarding the channel through which the request is made."
      },
      "PushTransactionForAccountResponse_201": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "type": "array",
            "description": "A list of subscription objects associated with the operation.",
            "example": [
              {
                "id": 1,
                "accountId": 1,
                "type": "STANDARD",
                "callbackUrl": "https://banking.northstar.example/callbacks/status",
                "signingKey": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "metadata": {
            "description": "Metadata regarding the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the txpush operation, containing subscription details and metadata.",
        "example": {
          "subscriptions": [
            {
              "id": 1,
              "accountId": 1,
              "type": "STANDARD",
              "callbackUrl": "https://banking.northstar.example/callbacks/status",
              "signingKey": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "a21ca7c6-a813-5696-b64b-b81200c20959",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the subscription.",
            "format": "int32",
            "example": 0
          },
          "accountId": {
            "type": "integer",
            "description": "The identifier of the account associated with this subscription.",
            "format": "int32",
            "example": 0
          },
          "type": {
            "type": "string",
            "description": "The type of subscription.",
            "example": "string"
          },
          "callbackUrl": {
            "type": "string",
            "description": "The URL to which notifications for the subscription will be sent.",
            "example": "string"
          },
          "signingKey": {
            "type": "string",
            "description": "A key used for signing the subscription's communications.",
            "example": "string"
          }
        },
        "description": "Represents a subscription associated with an account, containing relevant details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the endpoint that processed the request, useful for tracing or debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-subscribe-to-tx-push-notifications"
        },
        "example": "open-finance-api-subscribe-to-tx-push-notifications"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request, informing users of the environment in which the operation occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication, which are sent in the `Authorization` header as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}