{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking It Management It Systems Direction By It Systems Direction Id-v5-spec",
    "description": "The Update IT Systems Direction API allows organizations to modify existing IT systems direction configurations within their banking management infrastructure. This endpoint facilitates the adjustment of parameters based on the specific identifier of the IT systems direction, ensuring that management strategies remain aligned with evolving business needs. Typical consumers include IT administrators and banking operation managers who need to optimize system performance and compliance. By using this API, teams can effectively shift their IT systems to meet current operational demands while maintaining regulatory alignment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction/{itSystemsDirectionId}": {
      "patch": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update IT systems direction for the specified resource.",
        "description": "This endpoint allows you to update the IT systems direction for the resource identified by RES-100045. It is designed for system administrators to modify existing configurations and improve system performance based on current needs.",
        "operationId": "updateBankingItManagementItSystemsDirectionByItSystemsDirectionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/itSystemsDirectionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the IT systems direction for the specified resource identified by RES-100045. Ensure that the payload adheres to the schema defined for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingItManagementItSystemsDirectionByItSystemsDirectionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingItManagementItSystemsDirectionByItSystemsDirectionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingItManagementItSystemsDirectionByItSystemsDirectionIdRequest": {
        "title": "Operations PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes requested in the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "A brief explanation of the reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are intended to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Information regarding the context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representation of the request body for updating operations. It contains the details about the changes being requested along with metadata about the request.",
        "example": {
          "changes": {
            "policyId": "STANDARD",
            "title": "Banking operation completed",
            "ownerTeam": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2e141063-64ff-5eaf-9561-18e5f812ba48",
            "correlationId": "41067b31-b7f4-577a-9024-32f90f4cfa33",
            "idempotencyKey": "74bb4de7-8764-573e-95b8-e3e5ad5176e3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-848362"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy being changed.",
            "example": "policy-123"
          },
          "title": {
            "type": "string",
            "description": "The updated title for the policy.",
            "example": "New Policy Title"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "Security Team"
          }
        },
        "description": "Schema representing the changes requested in the operations."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests for logging and debugging.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that multiple identical requests have the same effect as a single request.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request was initiated.",
            "example": "Internal System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was sent.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including various identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel through which the request was made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the details about the channel used for the request."
      },
      "UpdateBankingItManagementItSystemsDirectionByItSystemsDirectionIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "a20c50e2-1ced-5b00-a88a-1dea5218c1ec",
              "correlationId": "41067b31-b7f4-577a-9024-32f90f4cfa33",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a20c50e2-1ced-5b00-a88a-1dea5218c1ec",
            "correlationId": "41067b31-b7f4-577a-9024-32f90f4cfa33",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "MetadataSchema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "itSystemsDirectionId": {
        "name": "itSystemsDirectionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-update-it-systems-direction"
        },
        "example": "it-systems-direction-update-it-systems-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT) for authorization. Clients must include a valid JWT in the Authorization header of requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}