{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Cashflowpersonal-spec",
    "description": "This API enables businesses to create personalized cashflow profiles for individual customers. By submitting specific customer data, organizations can tailor cashflow insights and projections that align with the customer's unique financial behavior. Typical consumers of this API include financial institutions and fintech applications seeking to enhance their customer experience through personalized financial products. Utilize this API to drive deeper engagement and foster better financial decision-making for your clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/cashflowpersonal": {
      "post": {
        "tags": [
          "CustomerFinance"
        ],
        "summary": "Submit cash flow data for a specific customer.",
        "description": "This endpoint allows you to submit personal cash flow information for the customer identified by CUST-100045. Ensure that all relevant cash flow data is accurately provided to facilitate financial management and reporting.",
        "operationId": "createCustomerCashflowpersonal",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update cash flow information for a specific customer identified by CUST-100045. Ensure that the provided data adheres to the schema requirements detailed below.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCashflowpersonalRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is currently being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCashflowpersonalResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCashflowpersonalRequest": {
        "title": "Cash Flow Personal Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A comma-separated list of account identifiers.",
            "example": "ACC-110221"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to show non-sufficient funds (NSF) information.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date from which to retrieve cash flow data (timestamp).",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "The minimum confidence level required for income stream.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for cash flow personal operations.",
        "example": {
          "accountIds": "ACC-110221",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "57446530-6726-508a-86af-98c74d9e566c",
            "correlationId": "286a28e7-120f-57e4-87ad-297f094dd1fe",
            "idempotencyKey": "bccb19d0-5585-5100-9763-0a88312a7043",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-527834"
            }
          }
        }
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Label Example"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Value Example"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown.",
            "example": true
          }
        },
        "description": "Represents a custom field in the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests.",
            "example": "correlation-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key for ensuring idempotency in operations.",
            "example": "idempotency-key-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "banking-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the context in which the request was made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-01"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "device-12345"
          }
        },
        "description": "Details of the channel through which the request was made."
      },
      "CreateCustomerCashflowpersonalResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer request.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g. individual, organization).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "ID of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the specific request.",
            "example": "1a6d8ecb-dcd4-52bf-9937-fc7dd0011d3a"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the item was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title for the customer request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata information related to the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for cash flow personal operations for a specific customer.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "1a6d8ecb-dcd4-52bf-9937-fc7dd0011d3a",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-657090"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "850ef11c-6233-52b1-9269-aedb02b2832b",
            "correlationId": "286a28e7-120f-57e4-87ad-297f094dd1fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's location.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Personal website or URL of the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the end user's details."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's location.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account IDs related to the request.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for an account.",
              "example": "string"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for reporting purposes.",
            "example": [
              {
                "label": "string",
                "value": "string",
                "shown": false
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Schema representing constraints associated with the request."
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field is shown.",
            "example": false
          }
        },
        "description": "Schema representing custom fields in reports."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking correlated requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata related to the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, provided for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-cash-flow-personal-report"
        },
        "example": "open-finance-api-generate-cash-flow-personal-report"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is handling the request, useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses bearer tokens in HTTP requests. This security scheme employs JSON Web Tokens (JWT) for secure token-based authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}