{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Case Retrieval API",
    "description": "The Card Case Retrieval API provides a mechanism for users to access specific card case details within the banking servicing framework. By utilizing the unique identifier provided in the request, consumers can retrieve comprehensive information related to card cases, including status, transactions, and related customer data. This API is essential for banking representatives, customer support teams, and application developers who need to troubleshoot or analyze card-related incidents. It enhances the efficiency of card case management and improves customer service experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/card-case/{param1}": {
      "get": {
        "tags": [
          "Card Case Management"
        ],
        "summary": "Retrieve details for a specific card case.",
        "description": "This endpoint allows you to fetch detailed information regarding a specific card case identified by its unique ID. Use this to obtain all relevant data associated with the card case, including status and updates.",
        "operationId": "getCardCaseDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific card case identified by CARD-400045. Ensure that the request payload adheres to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCaseDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and retrieved the card case information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCaseDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCaseDetailsRequest": {
        "title": "Card Case Operations GET Request Body",
        "type": "string",
        "description": "A string representation of the request body for the Card Case Operations GET API call. It is typically used to transmit data or parameters in a structured format.",
        "example": "{}"
      },
      "GetCardCaseDetailsResponse_200": {
        "title": "Card Case Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the case.",
            "example": "CUST-849962"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "CASE-694401"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request related to the case.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case being created.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The due date for service level response.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The preferred method of contact for the customer.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the case record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the case record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the case was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the card case response.",
            "$ref": "#/components/schemas/CardCaseMetadata"
          }
        },
        "description": "Response schema for the card case operations which includes details about the customer and case.",
        "example": {
          "customerId": "CUST-849962",
          "caseId": "CASE-694401",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "91c22e01-6bec-5f36-81ad-99bde6529ea5",
            "correlationId": "36e05824-e5ba-5e3e-9df2-c2c397dec5a5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCaseMetadata": {
        "title": "Card Case Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with the case.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-19T14:48:00.000Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the case was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information associated with a card case response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, provided to help in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-case-get-card-case"
        },
        "example": "card-case-get-card-case"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime that processed the request, useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token format, typically utilized for securely transmitting JSON Web Tokens (JWT) for user identification and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}