{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Statements API",
    "description": "The Financial Statements API provides access to comprehensive financial statement data for banking activities. This endpoint allows users to retrieve detailed financial summaries, including balance sheets and income statements, which are essential for monitoring financial health. Typical consumers include financial analysts, accountants, and banking institutions that need up-to-date financial reporting information. By utilizing this API, businesses can facilitate better financial decision-making and compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-statements/{param1}": {
      "get": {
        "tags": [
          "Financial Statements"
        ],
        "summary": "Retrieve financial statements by resource ID.",
        "description": "This endpoint allows you to fetch the financial statements associated with a specific resource ID, providing essential insights for financial analysis and reporting.",
        "operationId": "getFinancialStatementsByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving financial statement details for the specified resource. It should include all required parameters according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialStatementsByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial statement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialStatementsByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialStatementsByResourceIdRequest": {
        "title": "Financial Statements Request Body",
        "type": "string",
        "description": "A string that represents the request body for the financial statements operation.",
        "example": "{}"
      },
      "GetFinancialStatementsByResourceIdResponse_200": {
        "title": "Financial Statement Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "Unique identifier for the ledger.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for which the financial statement is generated.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Amount details encompassing value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date on which the records are posted.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the financial statement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for financial statement operations.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "445e5774-7505-5277-b0b7-63c799ec4190",
            "correlationId": "9400c001-5484-54cd-bed5-803393b546d6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency in a financial statement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for the financial statement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called, which can be useful for debugging and tracking request activity.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statements-get-financial-statements"
        },
        "example": "financial-statements-get-financial-statements"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, helpful for identifying where the processing took place.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication using JSON Web Tokens (JWT). Securely transmit your JWT in the Authorization header to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}