{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Scheduled Payments-spec",
    "description": "The Scheduled Payments Retrieval API enables financial institutions to access and retrieve a list of scheduled payments within the AISP framework. This endpoint allows users to obtain detailed information on payments already set up by customers, aiding in effective payment management and planning. Typical consumers include banking applications and financial management tools that require visibility into user-scheduled transactions. By providing structured payment data, the API supports services related to budgeting, spending analysis, and customer notifications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/scheduled-payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve scheduled payments",
        "description": "This endpoint allows users to retrieve a list of their scheduled payments. It provides relevant details such as payment amounts, dates, and statuses.",
        "operationId": "listAispScheduledPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving scheduled payments. This body should conform to the specified schema and must be provided in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispScheduledPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved scheduled payments.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispScheduledPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispScheduledPaymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for operations related to scheduled payments in the AISPS. It is expected to be a string payload.",
        "example": "{}"
      },
      "ListAispScheduledPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ScheduledPayment": {
                "type": "array",
                "description": "An array of scheduled payment details.",
                "items": {
                  "$ref": "#/components/schemas/ScheduledPayment"
                }
              }
            },
            "description": "Data containing the list of scheduled payments.",
            "example": {
              "ScheduledPayment": [
                {
                  "AccountId": "ACC-788665",
                  "id": "STANDARD",
                  "dateTime": "2026-09-15T14:30:00Z",
                  "ScheduledType": "STANDARD",
                  "Reference": "STANDARD",
                  "DebtorReference": "STANDARD",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-727",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving scheduled payments.",
        "example": {
          "Data": {
            "ScheduledPayment": [
              {
                "AccountId": "ACC-788665",
                "id": "STANDARD",
                "dateTime": "2026-09-15T14:30:00Z",
                "ScheduledType": "STANDARD",
                "Reference": "STANDARD",
                "DebtorReference": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-727",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD"
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "25ca284c-b8e3-558e-af18-b7e6a7778a83",
            "correlationId": "ead0146e-69a9-5b79-89c0-d02e64eadcde",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ScheduledPayment": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The ID of the account associated with the scheduled payment."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the scheduled payment."
          },
          "dateTime": {
            "type": "string",
            "description": "The date and time when the payment is scheduled."
          },
          "ScheduledType": {
            "type": "string",
            "description": "The type of the scheduled payment."
          },
          "Reference": {
            "type": "string",
            "description": "Reference for the scheduled transaction."
          },
          "DebtorReference": {
            "type": "string",
            "description": "Reference identifying the debtor."
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgentDetails"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/CreditorAccountDetails"
          }
        },
        "description": "Details of a scheduled payment."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money to be transferred."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the instructed amount."
          }
        },
        "description": "Details of the instructed amount."
      },
      "CreditorAgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent."
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent."
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent."
          }
        },
        "description": "Details of the creditor agent."
      },
      "CreditorAccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor account."
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the creditor account."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the creditor account."
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetails"
          }
        },
        "description": "Details of the creditor's account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department in the address (if applicable)."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department in the address (if applicable)."
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Number of the building."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number (if applicable)."
          },
          "Room": {
            "type": "string",
            "description": "Room number (if applicable)."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number (if applicable)."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address (if applicable)."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country."
          },
          "Country": {
            "type": "string",
            "description": "Country of the address."
          },
          "AddressLine": {
            "type": "array",
            "description": "Detailed address lines.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Postal address details."
      },
      "ProxyDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The identification of the proxy."
          }
        },
        "description": "Details of the proxy used for the creditor account."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique ID for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was invoked during the request. This helps in tracing and debugging requests originating from different endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-scheduled-payments"
        },
        "example": "accounts-api-get-scheduled-payments"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that handled the request. This can be useful for identifying which application is responsible for processing a specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens as defined in RFC 6750. Tokens are typically generated by an authentication server and should be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}