{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Send Email-spec",
    "description": "The Email Dispatch API enables businesses to efficiently send transactional and promotional emails to their users. Leveraging this endpoint, developers can automate email communications such as notifications, account verifications, or marketing messages. This service is essential for enhancing user engagement and streamlining outreach efforts. Typical consumers of this API include marketing teams, customer support systems, and application backend services that require reliable email delivery solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email": {
      "post": {
        "tags": [
          "Email Operations"
        ],
        "summary": "Send an email message.",
        "description": "This endpoint allows users to send an email message programmatically. It requires the email content and recipient details as part of the request body and processes the email sending operation in the background.",
        "operationId": "createSendEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send an email. It must contain the necessary fields to successfully configure the email such as the recipient, subject, and message body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email was successfully sent.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSendEmailResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSendEmailRequest": {
        "title": "Send Email Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the email should be sent.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner sending the email.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer to whom the email is directed.",
            "example": "CUST-921150"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the transaction.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect the user after email action.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL for the event notification.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type of the webhook data.",
            "example": "STANDARD"
          },
          "email": {
            "$ref": "#/components/schemas/EmailDetails"
          },
          "experience": {
            "type": "string",
            "description": "Description of the user experience associated with the email.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Flag to indicate if the URL should be single-use.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The timestamp representing the start date for the email sending.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for sending an email.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-921150",
          "consumerId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "singleUseUrl": true,
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD"
            }
          ],
          "requestContext": {
            "requestId": "bc96b757-1981-5818-aaa1-e210339117cc",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "idempotencyKey": "84dc6f0a-0f8f-5351-89c7-e89a0cbef190",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-227953"
            }
          }
        }
      },
      "EmailDetails": {
        "title": "Email Details",
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Support phone number associated with the email.",
            "example": "+123456789"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Welcome to our service!"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example University"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution.",
            "example": "1234 Education St, City, Country"
          },
          "signature": {
            "type": "array",
            "description": "Array of signature elements to append to the email.",
            "example": [
              "Best Regards",
              "Team Example"
            ],
            "items": {
              "type": "string",
              "description": "Individual signature element.",
              "example": "Best regards, Team"
            }
          }
        },
        "description": "Schema representing the details of the email being sent."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "CustomLabel"
          },
          "value": {
            "type": "string",
            "description": "Value of the custom field.",
            "example": "CustomValue"
          }
        },
        "description": "Schema representing a custom field for reporting."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing related requests.",
            "example": "correlation-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of requests.",
            "example": "unique-idempotency-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2021-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "web-application"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateSendEmailResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the email operation.",
            "example": "STANDARD"
          },
          "emailConfig": {
            "description": "Configuration details for the email being sent.",
            "$ref": "#/components/schemas/EmailConfig"
          },
          "metadata": {
            "description": "Metadata associated with the email sending operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the operation that sends an email.",
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "ecee59f7-11f4-5924-a3be-55ff69364f74",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmailConfig": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient's email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender's email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Support phone number.",
            "example": "+1-234-567-8900"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Welcome to our service"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example University"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution.",
            "example": "1234 University St, City, Country"
          },
          "signature": {
            "type": "array",
            "description": "Signature lines included at the end of the email.",
            "example": [
              "Best regards,",
              "Example University Team"
            ],
            "items": {
              "type": "string",
              "description": "Individual lines of the email signature."
            }
          }
        },
        "description": "Details about the email configuration for sending operations."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through the system.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the email was processed.",
            "example": "2023-10-17T14:32:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the email was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the email sending operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-connect-email"
        },
        "example": "open-finance-api-send-connect-email"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}