{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Balances Retrieval API",
    "description": "The Account Balances Retrieval API provides access to the financial balances associated with a specific account in the Open Banking framework. By utilizing the unique account identifier, users can retrieve accurate and up-to-date balance information. This API is typically consumed by financial applications or services that need to display account data to users, perform financial analysis, or facilitate transactions based on account balances. It ensures that users have the most relevant financial details at their fingertips, enhancing their banking experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/balances": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve account balance for a specific account.",
        "description": "This endpoint allows you to fetch the balance details of a specific account identified by the account ID. It provides crucial information regarding the available balance, helping users manage their finances effectively.",
        "operationId": "getAccountBalancesAisp200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the balance of the specified account. Ensure the request format complies with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountBalancesAisp200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balances retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountBalancesAisp200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountBalancesAisp200045Request": {
        "title": "Account Balances Request Body",
        "type": "string",
        "description": "A request body schema representing the account balances for a specific operation.",
        "example": "{}"
      },
      "GetAccountBalancesAisp200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Balance": {
                "type": "array",
                "description": "List of balance details for accounts.",
                "items": {
                  "$ref": "#/components/schemas/BalanceDetail"
                }
              },
              "TotalValue": {
                "$ref": "#/components/schemas/TotalValue"
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Container for balance information.",
            "example": {
              "Balance": [
                {
                  "AccountId": "ACC-901872",
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "DateTime": "2026-09-15T14:30:00Z",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  },
                  "CreditLine": [
                    {
                      "Included": true,
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "LocalAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  }
                }
              ],
              "TotalValue": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          }
        },
        "description": "Response schema for the GET operation on account balances.",
        "example": {
          "Data": {
            "Balance": [
              {
                "AccountId": "ACC-901872",
                "CreditDebitIndicator": "STANDARD",
                "Type": "STANDARD",
                "DateTime": "2026-09-15T14:30:00Z",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                },
                "CreditLine": [
                  {
                    "Included": true,
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "LocalAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                }
              }
            ],
            "TotalValue": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "87281ae6-4ea3-5376-81e7-60b85bd7ab45",
            "correlationId": "6a157f54-9165-52ae-9d06-acde14c5f3b2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceDetail": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier for the account."
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the balance is a credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "The type of balance (e.g., current, available)."
          },
          "DateTime": {
            "type": "string",
            "description": "The date and time when the balance was recorded."
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "CreditLine": {
            "type": "array",
            "description": "List of credit line details associated with the account.",
            "items": {
              "$ref": "#/components/schemas/CreditLineDetail"
            }
          },
          "LocalAmount": {
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Detailed information regarding a specific balance."
      },
      "TotalValue": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Total amount value."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the total amount."
          }
        },
        "description": "Total value object holding amount information."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric value of the amount."
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the amount."
          },
          "SubType": {
            "type": "string",
            "description": "Subtype of the amount, if applicable."
          }
        },
        "description": "Object containing amount information."
      },
      "CreditLineDetail": {
        "type": "object",
        "properties": {
          "Included": {
            "type": "boolean",
            "description": "Indicates if the credit line is included."
          },
          "Type": {
            "type": "string",
            "description": "The type of credit line."
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Details of a credit line associated with an account."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results."
          }
        },
        "description": "Navigation links related to the response."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time the data first became available."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time the data was last available."
          }
        },
        "description": "Metadata related to the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Additional metadata for tracking and correlation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request. This value is used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-balances"
        },
        "example": "accounts-api-get-accounts-account-id-balances"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This header helps in identifying the source of the processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}