{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Payment Indicator Retrieval API",
    "description": "This API allows users to retrieve specific payment indicator details for a given customer account. By accessing the payment indicator associated with a specific account and customer ID, businesses can gain insights into payment behaviors and patterns. Typical consumers of this API include financial institutions and service providers analyzing customer payment trends for better risk management and customer relationship enhancement. This functionality supports decision-making processes related to credit assessments and account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/payments/paymentindicator/fcra": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve payment indicator for a specific customer account.",
        "description": "This endpoint allows you to fetch the payment indicator data for the specified customer account, providing insights into financial behaviors and transaction patterns. It is essential for analyzing customer payment trends and making informed business decisions.",
        "operationId": "getPaymentIndicatorForCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the payment indicator for a specific account under a customer. This body is required to specify the necessary parameters to fetch the appropriate payment indicator details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentIndicatorForCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment indicator information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentIndicatorForCustomerAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentIndicatorForCustomerAccountRequest": {
        "title": "Payment Indicator",
        "type": "string",
        "description": "A string representation of the payment indicator used in the request body for the Payment Operations.",
        "example": "{}"
      },
      "GetPaymentIndicatorForCustomerAccountResponse_200": {
        "title": "Payment Indicator Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The response code indicating the status of the API request.",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "A message providing additional details about the response.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the payment.",
            "example": "CUST-230271"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the payment.",
            "example": "ACC-838785"
          },
          "payReqId": {
            "type": "string",
            "description": "Unique identifier for the payment request.",
            "example": "STANDARD"
          },
          "settleByDate": {
            "type": "string",
            "description": "The date by which the payment is expected to be settled.",
            "example": "2026-09-15"
          },
          "settlementAmount": {
            "type": "number",
            "description": "The total amount of money to be settled.",
            "example": 100.0
          },
          "availableBalance": {
            "type": "number",
            "description": "The balance available in the account after the payment.",
            "example": 100.0
          },
          "indicatorsByDay": {
            "type": "array",
            "description": "An array of indicators for each day related to the payment status.",
            "example": [
              {
                "potentialSettlementDate": "2026-09-15",
                "compositeScore": 1,
                "scoreIndicator": "STANDARD",
                "reasons": {
                  "recentBalance": 1,
                  "balanceHistory": 1,
                  "nsfHistory": 1,
                  "recentNsfHistory": 1,
                  "recurringNsf": 1,
                  "spendHistory": 1,
                  "depositHistory": 1,
                  "transactionAmount": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IndicatorByDay"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-56789"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to trace the request through the system.",
                "example": "CORR-98765"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-11-01T12:34:56Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "b3661a1b-9cef-59d5-adc5-ccd40523936e",
              "correlationId": "a03dbbe5-e820-518e-b3a0-2e22d3896314",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response from the Payment Indicator API, containing information about a specific payment transaction.",
        "example": {
          "code": "SUCCESS",
          "message": "STANDARD",
          "customerId": "CUST-230271",
          "accountId": "ACC-838785",
          "payReqId": "STANDARD",
          "settleByDate": "2026-09-15",
          "settlementAmount": 100.0,
          "availableBalance": 100.0,
          "indicatorsByDay": [
            {
              "potentialSettlementDate": "2026-09-15",
              "compositeScore": 1,
              "scoreIndicator": "STANDARD",
              "reasons": {
                "recentBalance": 1,
                "balanceHistory": 1,
                "nsfHistory": 1,
                "recentNsfHistory": 1,
                "recurringNsf": 1,
                "spendHistory": 1,
                "depositHistory": 1,
                "transactionAmount": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b3661a1b-9cef-59d5-adc5-ccd40523936e",
            "correlationId": "a03dbbe5-e820-518e-b3a0-2e22d3896314",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IndicatorByDay": {
        "title": "Indicator by Day",
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The date when the settlement is expected to occur.",
            "example": "2023-12-15"
          },
          "compositeScore": {
            "type": "integer",
            "description": "A composite score representing the payment status.",
            "format": "int32",
            "example": 85
          },
          "scoreIndicator": {
            "type": "string",
            "description": "A string representation of the score's indicator.",
            "example": "Good"
          },
          "reasons": {
            "type": "object",
            "properties": {
              "recentBalance": {
                "type": "integer",
                "description": "Recent balance observed.",
                "format": "int32",
                "example": 500
              },
              "balanceHistory": {
                "type": "integer",
                "description": "History of balance over past transactions.",
                "format": "int32",
                "example": 1000
              },
              "nsfHistory": {
                "type": "integer",
                "description": "History of non-sufficient funds (NSF) occurrences.",
                "format": "int32",
                "example": 2
              },
              "recentNsfHistory": {
                "type": "integer",
                "description": "Recent occurrences of non-sufficient funds (NSF).",
                "format": "int32",
                "example": 1
              },
              "recurringNsf": {
                "type": "integer",
                "description": "Count of recurring NSF occurrences.",
                "format": "int32",
                "example": 1
              },
              "spendHistory": {
                "type": "integer",
                "description": "History of spending activity.",
                "format": "int32",
                "example": 1500
              },
              "depositHistory": {
                "type": "integer",
                "description": "History of deposit activity.",
                "format": "int32",
                "example": 2000
              },
              "transactionAmount": {
                "type": "integer",
                "description": "Amount of the transaction that occurred.",
                "format": "int32",
                "example": 300
              }
            },
            "description": "Reasons explaining the score indicating the payment status."
          }
        },
        "description": "Schema representing the indicators for a specific day."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint being accessed, which can be used for tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-fcra-payment-success-indicator"
        },
        "example": "open-finance-api-get-fcra-payment-success-indicator"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is processing the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to secure endpoints. It requires a JSON Web Token (JWT) in the Authorization header when communicating with the API. The token should be prefixed with 'Bearer '.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}