{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Customer Debit Card-v5-spec",
    "description": "This API facilitates the issuance of debit cards for banking customers. By providing customer identification, financial institutions can streamline the process of card creation, enhancing the customer experience. It is targeted at banks and fintech companies that need to efficiently manage debit card production for their users. Typical use cases include onboarding new customers and updating card options according to the customer's banking needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/debit-cards": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a new debit card for the specified customer.",
        "description": "This endpoint allows you to create a new debit card associated with the customer identified by their unique ID. It requires the necessary details to process the debit card creation, ensuring the customer can access their funds easily and securely.",
        "operationId": "createBankingCustomerDebitCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body to create a new debit card for the specified customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCustomerDebitCardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Debit card successfully created for the customer.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCustomerDebitCardResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCustomerDebitCardRequest": {
        "title": "Debit Card Request Body",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device.",
            "example": "DEV-201511"
          },
          "deviceType": {
            "type": "string",
            "description": "The type of the device.",
            "example": "STANDARD"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The identifier for the party to whom the device is assigned.",
            "example": "PARTY-863123"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the device.",
            "example": "STANDARD"
          },
          "deviceStatus": {
            "type": "string",
            "description": "The current status of the device.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for debit card operations.",
        "example": {
          "deviceId": "DEV-201511",
          "deviceType": "STANDARD",
          "assignedPartyId": "PARTY-863123",
          "serialNumber": "STANDARD",
          "deviceStatus": "ACTIVE",
          "requestContext": {
            "requestId": "e0cb32a7-7c53-58a2-99a1-a298b15859ef",
            "correlationId": "5e5a46ca-cfd4-544f-961b-b77519b7f489",
            "idempotencyKey": "2ccf0fe1-7e28-5c1a-b54c-3569ddd9df0a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-729638"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "correlation-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idempotency-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating the request.",
            "example": "billing-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Device identifier associated with the channel.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel details through which the request is processed."
      },
      "CreateBankingCustomerDebitCardResponse_201": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device associated with the debit card.",
            "example": "DEV-952491"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The identifier of the party to whom the debit card is assigned.",
            "example": "PARTY-919819"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the debit card resource.",
            "example": "RES-340108"
          },
          "status": {
            "type": "string",
            "description": "The current status of the debit card (e.g., active, suspended, etc.).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the debit card was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DebitCardMetadata"
          }
        },
        "description": "Response schema for the operation of creating a debit card.",
        "example": {
          "deviceId": "DEV-952491",
          "assignedPartyId": "PARTY-919819",
          "resourceId": "RES-340108",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1f3055aa-fd93-5b1a-8411-e95f5e1e3da7",
            "correlationId": "5e5a46ca-cfd4-544f-961b-b77519b7f489",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DebitCardMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the transaction was processed.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to the debit card creation operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-create-issued-device-administration"
        },
        "example": "issued-device-administration-create-issued-device-administration"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      },
      "x-workflow-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "40731f81-d886-4620-912d-22a212372729"
        },
        "example": "40731f81-d886-4620-912d-22a212372729"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme and requires a JSON Web Token (JWT) to be included in the request headers for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}