{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Processing Management API",
    "description": "The Order Processing Management API provides functionality for retrieving detailed information about processing orders within the banking operational services. This API allows users, such as business analysts and customer service representatives, to access the status and specifics of ongoing order processes. By leveraging this API, clients can streamline operations, enhance transparency, and improve overall customer service. It plays a crucial role in enabling data-driven decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve processing order details.",
        "description": "This endpoint allows users to fetch details about existing processing orders within the operational services framework. Use this to obtain information such as order status, items involved, and any relevant metadata.",
        "operationId": "getProcessingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for processing an order through operational services. It should contain the necessary details required to process the order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcessingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the order processing information is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcessingOrderResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcessingOrderRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on processing orders. It is expected to be a string value, possibly containing JSON or relevant identifiers.",
        "example": "{}"
      },
      "GetProcessingOrderResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of processing order items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-518379",
                "accountId": "ACC-799737",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProcessingOrderItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching processing orders in operational services.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-518379",
              "accountId": "ACC-799737",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7d32b3a1-f90f-5706-aa27-a23f07fdeae3",
            "correlationId": "ff326266-e094-52c6-a611-1cc7129e169c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcessingOrderItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the order.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the order.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was requested.",
            "example": "2023-10-01T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level assigned to the order.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single processing order item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-search-processing-order"
        },
        "example": "processing-order-search-processing-order"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is used for authorization. The client must include the token in the 'Authorization' header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}