{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Product Management Special Pricing Condition-spec",
    "description": "This API allows businesses to manage special pricing conditions for their products efficiently. It enables the creation of tailored pricing strategies based on various criteria, ensuring competitive offerings in the market. Typical consumers of this API include product managers and pricing analysts who need to streamline pricing across diverse product lines. The API supports a flexible and dynamic approach to pricing, driving improved customer engagement and profitability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions": {
      "post": {
        "tags": [
          "Product Management"
        ],
        "summary": "Create a new special pricing condition.",
        "description": "This endpoint allows users to create new special pricing conditions for products. By submitting the required details, a new pricing condition will be added to the product management system, facilitating better pricing strategies for specific customer segments.",
        "operationId": "createProductManagementSpecialPricingCondition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update special pricing conditions for products in the system. It requires details regarding the pricing adjustments, including applicable product identifiers and the terms of the pricing conditions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductManagementSpecialPricingConditionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Special pricing condition created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductManagementSpecialPricingConditionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductManagementSpecialPricingConditionRequest": {
        "title": "Special Pricing Conditions Request",
        "required": [
          "baseCurrency",
          "customerSegment",
          "effectiveDate",
          "productCode",
          "productName",
          "requestContext"
        ],
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code of the product for which the special pricing conditions are applicable.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment that this pricing condition applies to.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the base price is set.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the special pricing condition becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating or updating special pricing conditions for products.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "6ab1553b-da57-57cb-a287-d6c096ce7386",
            "correlationId": "6cc60f3f-7fc6-5640-a112-e91b56567bb0",
            "idempotencyKey": "c1e21ac4-509f-58a8-8210-f9755230ad05",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-829619"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs or requests.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure the request is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InventoryManagement"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context, including identification and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the request.",
            "example": "device-12345"
          }
        },
        "description": "Details about the channel used to make the request."
      },
      "CreateProductManagementSpecialPricingConditionResponse_201": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique identifier for the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the pricing condition.",
            "example": "RES-886220"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the special pricing conditions operation in product management.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-886220",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0d01b33a-fd02-5b23-b663-39d76538abb3",
            "correlationId": "6cc60f3f-7fc6-5640-a112-e91b56567bb0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "CORR101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response metadata was generated.",
            "example": "2023-01-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information associated with a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-create-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-create-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token to secure API endpoints. The token must be a valid JWT (JSON Web Token) that complies with the standard specifications. Clients must include this token in the 'Authorization' header of their requests to authenticate with the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}