{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Mortgage Application-spec",
    "description": "The Mortgage Application Submission API facilitates the process of submitting mortgage applications for customers. This endpoint allows users to create a new mortgage application by providing necessary information regarding the applicant and the desired mortgage terms. Typical consumers include banks, lenders, and mortgage brokers seeking to streamline the application process for their clients. The API enhances efficiency and customer service by enabling easy submission of applications directly into the system.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/*/mortgage-applications": {
      "post": {
        "tags": [
          "Mortgage Applications"
        ],
        "summary": "Create a new mortgage application for a specific customer.",
        "description": "This operation allows you to create a new mortgage application for a customer identified by their unique ID. Ensure that all required fields are provided in the request body to successfully process the application.",
        "operationId": "create*MortgageApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a mortgage application for a customer. It contains necessary details about the application that are required for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*MortgageApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mortgage application submitted successfully and resource created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*MortgageApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*MortgageApplicationRequest": {
        "title": "Mortgage Application Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer submitting the mortgage application.",
            "example": "CUST-581410"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the mortgage application.",
            "example": "ACC-742243"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of mortgage product being applied for.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal details including the amount and currency for the mortgage.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the mortgage in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "propertyId": {
            "type": "string",
            "description": "Unique identifier for the property being mortgaged.",
            "example": "STANDARD"
          },
          "propertyValue": {
            "description": "The value details of the property being mortgaged.",
            "$ref": "#/components/schemas/PropertyValue"
          },
          "loanToValuePercent": {
            "type": "integer",
            "description": "The ratio of the loan amount to the property value expressed as a percentage.",
            "format": "int32",
            "example": 100
          },
          "requestContext": {
            "description": "Context information regarding the request for the mortgage application.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to create a new mortgage application.",
        "example": {
          "customerId": "CUST-581410",
          "accountId": "ACC-742243",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "propertyId": "STANDARD",
          "propertyValue": {
            "amount": 100,
            "currency": "USD"
          },
          "loanToValuePercent": 100,
          "requestContext": {
            "requestId": "a7986efe-9f0e-4c48-95ae-eaa88fde4e59",
            "correlationId": "2f313a54-156c-42f6-8e8e-b0c542ed588b",
            "idempotencyKey": "6a4b276f-aa91-4da7-a813-32929c7a070f",
            "requestedAt": "2026-08-27T23:00:47.029Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-702874"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The principal amount for the mortgage.",
            "format": "int32",
            "example": 200000
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the principal amount.",
            "example": "USD"
          }
        },
        "description": "Details regarding the principal amount and its currency."
      },
      "PropertyValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The appraised value of the property.",
            "format": "int32",
            "example": 250000
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the property value.",
            "example": "USD"
          }
        },
        "description": "Details regarding the value of the property being mortgaged."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request789"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to track the request across different systems.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "key987"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-05T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application from which the request is made.",
            "example": "mortgage-app"
          },
          "channel": {
            "description": "Information about the channel used to submit the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request for the mortgage application."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used to submit the mortgage application.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "device456"
          }
        },
        "description": "Details about the channel used for the mortgage application request."
      },
      "Create*MortgageApplicationResponse_201": {
        "title": "Mortgage Application Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-130819"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the mortgage application.",
            "example": "ACC-577388"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product type of the mortgage.",
            "example": "CHK-PREMIUM-US"
          },
          "propertyId": {
            "type": "string",
            "description": "The unique identifier of the property associated with the mortgage application.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource created for the mortgage application.",
            "example": "RES-359936"
          },
          "status": {
            "type": "string",
            "description": "The current status of the mortgage application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the mortgage application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP11111"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used for correlating logs and requests.",
                "example": "CORR22222"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the application was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional information related to the mortgage application.",
            "example": {
              "responseId": "dd54ccc9-41ab-573a-824c-035e64c5c5ed",
              "correlationId": "7976e004-e6fc-5f6f-841b-8bb7deb6bbbc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for a mortgage application submission.",
        "example": {
          "customerId": "CUST-130819",
          "accountId": "ACC-577388",
          "productCode": "CHK-PREMIUM-US",
          "propertyId": "STANDARD",
          "resourceId": "RES-359936",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "dd54ccc9-41ab-573a-824c-035e64c5c5ed",
            "correlationId": "7976e004-e6fc-5f6f-841b-8bb7deb6bbbc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f2d371d6ac3e8f3d"
        },
        "example": "f2d371d6ac3e8f3d"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "468bcd85-8f76-4d17-8d8c-7b9ea150b28c"
        },
        "example": "468bcd85-8f76-4d17-8d8c-7b9ea150b28c"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "76d8afaf-553c-4f0d-8bff-fc9fffb7273b"
        },
        "example": "76d8afaf-553c-4f0d-8bff-fc9fffb7273b"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed. This helps in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-create-mortgage-loan"
        },
        "example": "mortgage-loan-create-mortgage-loan"
      },
      "X-Runtime-App": {
        "description": "Identifies the runtime application responsible for processing the request, which is useful for monitoring and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow initiated by the API request, facilitating tracing of the request's lifecycle.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-032"
        },
        "example": "WF-032"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Mortgage Origination and Collateral Setup"
        },
        "example": "Mortgage Origination and Collateral Setup"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "540d1f2c-d03e-4f2d-b397-cf04faa59b08"
        },
        "example": "540d1f2c-d03e-4f2d-b397-cf04faa59b08"
      }
    }
  }
}