{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Transfer-spec",
    "description": "The Account Transfer Management API allows businesses to facilitate the transfer of funds between accounts. By utilizing this API, users can initiate and manage transfers securely for specified accounts, enhancing financial transactions within banking applications. This API is designed for financial institutions and businesses that require seamless integration of fund transfer services. Typical use cases include automating account transfers and providing users with real-time transfer capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/accounts/{accountId}/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Initiate a transfer for a specific account.",
        "description": "This endpoint allows you to create a new transfer linked to the specified account. You can provide the necessary details for the transfer, such as amount, recipient information, and any relevant notes to successfully process the transaction.",
        "operationId": "createAccountTransfer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a transfer operation for the specified account. It must contain all necessary details about the transfer such as the recipient's information, the transfer amount, and any relevant payment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountTransferRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountTransferResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountTransferRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-655100"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account ID of the debtor making the payment.",
            "example": "ACC-999764"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account ID of the creditor receiving the payment.",
            "example": "ACC-388465"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information regarding the payment for reconciliation purposes.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "The network or system used to process the payment.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who is responsible for any transaction fees.",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code that indicates the purpose of the payment.",
            "example": "CODE-369"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of a transfer operation, containing necessary payment and request details.",
        "example": {
          "paymentId": "PAY-655100",
          "debtorAccountId": "ACC-999764",
          "creditorAccountId": "ACC-388465",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-369",
          "requestContext": {
            "requestId": "9a472bd5-9a47-5155-aab5-3f78313dd503",
            "correlationId": "00a793d5-afe6-5318-9257-7a030b9db188",
            "idempotencyKey": "aa1b572a-6209-5b0a-ab00-f54317ecd1ca",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-691138"
            }
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be transferred.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the instructed amount is denoted.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount instructed for the payment along with its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the same request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for capturing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateAccountTransferResponse_202": {
        "title": "TransferResponse",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "PAY-184636"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account involved in the transaction.",
            "example": "ACC-794097"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account to which the payment is being made.",
            "example": "ACC-128833"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code indicating the purpose of the transaction.",
            "example": "CODE-856"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference to track the processing of this transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the transaction was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/TransferMetadata"
          }
        },
        "description": "Response object for the transfer operation which includes transaction details.",
        "example": {
          "paymentId": "PAY-184636",
          "debtorAccountId": "ACC-794097",
          "creditorAccountId": "ACC-128833",
          "purposeCode": "CODE-856",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "80283067-575b-58ab-bd8d-12da09182fd8",
            "correlationId": "00a793d5-afe6-5318-9257-7a030b9db188",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransferMetadata": {
        "title": "TransferMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the transfer.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the transfer takes place.",
            "example": "string"
          }
        },
        "description": "Metadata object containing additional information about the transfer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-execution-execute-payment-execution"
        },
        "example": "payment-execution-execute-payment-execution"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow associated with the request processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-012"
        },
        "example": "WF-012"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Domestic Account-to-Account Transfer"
        },
        "example": "Domestic Account-to-Account Transfer"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c5480f8e-9f8a-4e4f-972b-53625fc106af"
        },
        "example": "c5480f8e-9f8a-4e4f-972b-53625fc106af"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication mechanism, which requires a JSON Web Token (JWT) to authenticate requests. Clients must include the token in the Authorization header following the format 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}