{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Enterprise Services Legal Compliance By Legal Compliance Id-v5-spec",
    "description": "The Legal Compliance Information Retrieval API allows users to access detailed legal compliance records for banking enterprise services using a specific Legal Compliance ID. This endpoint is designed for compliance officers, legal teams, and financial institutions seeking to verify and manage legal compliance documentation. By providing targeted access to compliance data, organizations can streamline audits, ensure regulatory adherence, and maintain accurate records. This API supports efficient information retrieval, facilitating informed decision-making in compliance management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-compliance/{legalComplianceId}": {
      "get": {
        "tags": [
          "Legal Compliance"
        ],
        "summary": "Retrieve legal compliance details.",
        "description": "This endpoint allows clients to fetch the specific legal compliance record identified by the resource ID. It provides detailed information regarding the compliance status and requirements for the enterprise service.",
        "operationId": "getBankingEnterpriseServicesLegalComplianceByLegalComplianceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/legalComplianceId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters required to retrieve legal compliance information for the specified resource. Ensure that the request meets the required schema to prevent errors and to receive the expected response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingEnterpriseServicesLegalComplianceByLegalComplianceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingEnterpriseServicesLegalComplianceByLegalComplianceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingEnterpriseServicesLegalComplianceByLegalComplianceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the legal compliance service. It is expected to be a plain string.",
        "example": "{}"
      },
      "GetBankingEnterpriseServicesLegalComplianceByLegalComplianceIdResponse_200": {
        "title": "Legal Compliance Operations Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the engagement is conducted.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier of the owner responsible for the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the engagement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the engagement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for legal compliance operations requests.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6471ad7b-a39b-520e-af2f-2e883cf527d6",
            "correlationId": "ac41f806-baa7-5c2c-a8cb-4b659dc7f9be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with a request.",
            "example": "correlation-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the engagement took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema holds metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "legalComplianceId": {
        "name": "legalComplianceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called. This value helps in tracking the specific request within the service management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-compliance-get-legal-compliance"
        },
        "example": "legal-compliance-get-legal-compliance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the endpoint request. This header assists in identifying the environment where the API is being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where a JSON Web Token (JWT) is required for authorization. The token must be included in the Authorization header of the request in the format `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}