{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Payment Retrieval API",
    "description": "The Loan Payment Retrieval API enables users to access detailed information about specific payments associated with a loan. This endpoint allows consumers, such as financial institutions and loan management systems, to obtain the status and details of a payment by providing the loan ID and payment ID. Common use cases include retrieving payment history for customer inquiries, auditing transactions, and ensuring compliance with financial regulations. This functionality is essential for enhancing customer service and maintaining transparent transactional records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve payment details for a specific loan.",
        "description": "This endpoint allows you to fetch detailed information about a specific payment associated with the loan identified by LOAN-500045. You can use this operation to check payment status, due dates, and payment amounts.",
        "operationId": "getLoanPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the payment details associated with a specific loan and payment ID. This request does not require additional parameters as it is using the loan and payment identifiers provided in the URL.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanPaymentDetailsRequest": {
        "type": "string",
        "description": "A JSON string representation of the request body for retrieving payment operations related to a specific loan.",
        "example": "{}"
      },
      "GetLoanPaymentDetailsResponse_200": {
        "title": "Loan Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount associated with the payment, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date the payment value is recognized.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment to outstanding amounts.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "The list of installment numbers that this payment targets.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details of manual allocation done for the payment.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative description of the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "8dafd251-3a80-8668-bbfd-89d466d0f8c7"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The number assigned to the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment (e.g., completed, pending).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "The allocation details of the payment.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "The reference used for tracking the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The date and time when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional information related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the details of a payment made against a loan including allocation and metadata information.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "8dafd251-3a80-8668-bbfd-89d466d0f8c7",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6d4692b1-53b9-5256-bd2d-651583cf7dcb",
            "correlationId": "43970106-5277-5074-bdf9-905aeb161101",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money with currency."
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "The amount allocated to the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "The amount allocated to interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "The amount allocated to fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "The amount allocated to penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "The amount indicating any excess allocation.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details on the manual allocation of the payment."
      },
      "Allocation": {
        "title": "Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "The amount allocated to the principal part of the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "The amount allocated to interest owed on the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "The amount allocated to any fees associated with the loan payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "The amount allocated to any penalties incurred.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "The amount that represents any excess over the standard allocations.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details on the allocation of the payment."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier of the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORR-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information for the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint related to the loan payment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-payment"
        },
        "example": "banking-loans-openapi-get-loan-payment"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request for the loan payment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically a JSON Web Token (JWT). The token should be included in the Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}