{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Decisioning By Consumer Id-spec",
    "description": "This API enables users to retrieve decisioning data associated with a specific consumer identified by their unique ID. Designed for applications that require access to decisioning insights, this endpoint serves as a critical resource for analytics, reporting, and personalized service delivery. Common consumers of this API include data analysts, marketing teams, and customer service platforms that utilize decisioning information to improve customer interactions. By providing comprehensive decisioning data, the API supports informed decision-making and enhances consumer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}": {
      "get": {
        "tags": [
          "Consumer Management"
        ],
        "summary": "Retrieve consumer details by ID.",
        "description": "This endpoint allows you to fetch the detailed information of a specific consumer using their unique ID. The response provides essential consumer attributes, enabling you to understand the consumer's profile and status within the system.",
        "operationId": "getDecisioningByConsumerId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the consumer with ID 'RES-100045'. It may include various filters or options that the client can specify to fine-tune the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDecisioningByConsumerIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the consumer data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDecisioningByConsumerIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDecisioningByConsumerIdRequest": {
        "type": "string",
        "description": "Represents the JSON request body for the GET operation related to consumers.",
        "example": "{}"
      },
      "GetDecisioningByConsumerIdResponse_200": {
        "title": "Consumer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "The postal code for the consumer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the consumer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birthdate of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "olivia.bennett@northstar.example"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the consumer was created in the system.",
            "format": "int32",
            "example": 1
          },
          "suffix": {
            "type": "string",
            "description": "The suffix of the consumer's name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Information about the end user associated with the consumer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "metadata": {
            "description": "Metadata related to the consumer response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing a consumer's data response.",
        "example": {
          "id": "STANDARD",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "customerId": 1,
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "createdDate": 1,
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "metadata": {
            "responseId": "1ab059eb-36a7-5490-a09c-d9ae08350673",
            "correlationId": "aa4c7ada-5d01-5d8e-9242-d2c4351914dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 1985
          },
          "month": {
            "type": "integer",
            "description": "The month of birth.",
            "format": "int32",
            "example": 6
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of birth.",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing the birthday details of a consumer."
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "Jane Doe"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "The postal code for the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the end user.",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "jane.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "A URL associated with the end user.",
            "example": "https://example.com/janedoe"
          }
        },
        "description": "Schema representing the details of the end user associated with the consumer."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this response with other related responses.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata for the consumer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-consumer"
        },
        "example": "open-finance-api-get-consumer"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, useful for debugging and identifying service issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a bearer token, typically implemented using JSON Web Tokens (JWT). This token must be included in the Authorization header of your requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}