{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Treasury Asset Securitization-spec",
    "description": "The Treasury Asset Securitization API facilitates the seamless creation of asset securitization structures within treasury operations. This API allows users to define and manage complex financial instruments that transform illiquid assets into marketable securities. Ideal for financial institutions and asset managers, it provides functionalities to initiate asset-backed financing mechanisms, enhancing liquidity and capital efficiency. Users can integrate this API into their banking systems to streamline treasury processes and optimize funding strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/asset-securitization": {
      "post": {
        "tags": [
          "Asset Management"
        ],
        "summary": "Create Asset Securitization",
        "description": "This endpoint allows users to create a new asset securitization within the treasury system. It accepts the necessary data to generate a securitization instrument and processes the request accordingly.",
        "operationId": "createTreasuryAssetSecuritization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new asset securitization operation. It should include all necessary parameters that define the securitization details, including asset types, values, and any applicable regulatory information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTreasuryAssetSecuritizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTreasuryAssetSecuritizationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTreasuryAssetSecuritizationRequest": {
        "title": "Asset Securitization Operations Request Body",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio.",
            "example": "PORT-101058"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the transaction.",
            "example": "PARTY-257750"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial instrument in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for asset securitization operations.",
        "example": {
          "portfolioId": "PORT-101058",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-257750",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "0f22b235-75fd-5940-b859-992973e76841",
            "correlationId": "544ed403-db8f-5952-8f73-32c8643a43e2",
            "idempotencyKey": "d7d53c6f-717c-5851-91c4-82ffc9b20433",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872229"
            }
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the notional.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the notional amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the notional amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "sourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application generating the request.",
            "example": "sourceAppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channelXYZ"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing information about the channel through which the request was made."
      },
      "CreateTreasuryAssetSecuritizationResponse_201": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-430722"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-388550"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the operation.",
            "example": "RES-962635"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the asset securitization operation indicating the processed data.",
        "example": {
          "portfolioId": "PORT-430722",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-388550",
          "resourceId": "RES-962635",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0b565f28-f312-5388-a746-7dee81a29895",
            "correlationId": "544ed403-db8f-5952-8f73-32c8643a43e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "CORRELATION002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated in ISO 8601 format.",
            "example": "2023-10-10T10:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint related to asset securitization operations. This header indicates the specific endpoint that was invoked during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-securitization-create-asset-securitization"
        },
        "example": "asset-securitization-create-asset-securitization"
      },
      "X-Runtime-App": {
        "description": "Indicates the name or identifier of the application that processed the request for asset securitization operations. This header helps in tracing the application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, allowing clients to authenticate by including a JWT (JSON Web Token) in the 'Authorization' header of their HTTP requests. The token must be obtained through a secure login process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}