{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Evaluation API",
    "description": "The Fraud Evaluation API provides essential services for assessing the risk of fraud associated with banking accounts. Utilizing advanced algorithms and data analytics, this API evaluates account activity and identifies potential fraud patterns. It serves financial institutions and risk management teams aiming to enhance their fraud detection capabilities. Common use cases include real-time fraud monitoring and automated evaluations during account transactions, ensuring the security of financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve a fraud evaluation for an account.",
        "description": "This endpoint allows you to fetch a detailed fraud evaluation related to a specific account. The evaluation includes various indicators and assessments that help determine the level of risk associated with the account activities.",
        "operationId": "getFraudEvaluation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for evaluating potential fraud in account management. It contains necessary parameters to assess fraud cases effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of fraud evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudEvaluationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudEvaluationRequest": {
        "type": "string",
        "description": "A string representation of the request body for fraud evaluation operations in the account management service.",
        "example": "{}"
      },
      "GetFraudEvaluationResponse_200": {
        "title": "Fraud Evaluation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of evaluated account records.",
            "example": [
              {
                "accountId": "ACC-411368",
                "customerId": "CUST-315033",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "transactionId": "TXN-781352",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvaluatedAccount"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Fraud Evaluation API, containing the list of evaluated accounts and related metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-411368",
              "customerId": "CUST-315033",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "transactionId": "TXN-781352",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bf8c5b4e-ab3a-5c97-a796-93d77230305f",
            "correlationId": "141dbd98-933b-56c3-b26a-c677da6d8479",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EvaluatedAccount": {
        "title": "Evaluated Account",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the account transactions.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Current balance in the ledger.",
            "example": 0.0
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction associated with the evaluation.",
            "example": "string"
          },
          "riskScore": {
            "type": "number",
            "description": "Calculated risk score associated with the account.",
            "example": 0.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold for decision-making based on the risk score.",
            "example": 0.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device used for transactions.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an evaluated account with associated attributes and risk scores."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the result set.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint involved in the current API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-search-fraud-evaluation"
        },
        "example": "fraud-evaluation-search-fraud-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JWT (JSON Web Token) is included in the Authorization header of HTTP requests. This token is used to authenticate the user and ensure secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}