{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Management API",
    "description": "The Term Deposit Management API enables financial institutions to facilitate the creation of term deposit accounts for their customers. This endpoint allows users to initiate term deposit requests, specifying key parameters such as the deposit amount, duration, and interest rate. Typical consumers of this API include banking platforms and financial services applications looking to enhance their deposit offerings. By utilizing this API, businesses can streamline their deposit processes, providing clients with efficient account management tailored to their savings needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a new term deposit.",
        "description": "This endpoint allows you to create a new term deposit within the deposit lending system. Provide the necessary details in the request body to set up your term deposit account, including the deposit amount, duration, and any relevant account information.",
        "operationId": "createTermDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new term deposit. This includes details such as the deposit amount, interest rate, duration, and account information necessary for processing the term deposit request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTermDepositRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The term deposit has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTermDepositResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTermDepositRequest": {
        "title": "Term Deposit Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-936599"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the customer's account.",
            "example": "ACC-517447"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the financial product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount being deposited.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term duration in months for the deposit.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the term deposit (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The total amount to be deposited.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The duration of the deposit in days.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions regarding the maturity of the deposit (e.g., reinvest, withdraw).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a new term deposit.",
        "example": {
          "customerId": "CUST-936599",
          "accountId": "ACC-517447",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "requestContext": {
            "requestId": "537dbc08-ecd4-5aa1-bd26-3ff813e85e46",
            "correlationId": "a9eeba2b-7b5f-5c89-bb53-35aaba5e9985",
            "idempotencyKey": "be6de7ec-ed6d-577e-abfe-6d0faafa39d1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-444243"
            }
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "A schema to represent an amount along with its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs or events across services.",
            "example": "CORR789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure the request is processed only once.",
            "example": "KEY456123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Core Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Details about the channel used for the customer interaction.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Information related to the request context like IDs and timestamps."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the communication channel.",
            "example": "CHNL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., API, Mobile, Web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "DEV456789"
          }
        },
        "description": "Information about the channel through which the interaction occurred."
      },
      "CreateTermDepositResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the term deposit.",
            "example": "CUST-448718"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account where the term deposit is held.",
            "example": "ACC-419057"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific deposit product used.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource created in relation to the term deposit.",
            "example": "RES-268650"
          },
          "status": {
            "type": "string",
            "description": "Current status of the term deposit operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the term deposit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the term deposit operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a term deposit operation.",
        "example": {
          "customerId": "CUST-448718",
          "accountId": "ACC-419057",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-268650",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c44f4518-b63e-5042-ad33-85db4dace5fe",
            "correlationId": "a9eeba2b-7b5f-5c89-bb53-35aaba5e9985",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the system.",
            "example": "resp987"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "corr654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the operation response, providing contextual information."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "270bbbe0-9d87-4011-9ef5-e450328fa49b"
        },
        "example": "270bbbe0-9d87-4011-9ef5-e450328fa49b"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
        },
        "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-create-term-deposit"
        },
        "example": "term-deposit-create-term-deposit"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow that was executed during the request processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Term Deposit Opening and Maturity Instruction"
        },
        "example": "Term Deposit Opening and Maturity Instruction"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
        },
        "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token in the HTTP Authorization header. This format typically includes a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}