{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Party Party Routing Profiles-spec",
    "description": "The Party Routing Profiles API enables users to efficiently access and manage routing profiles associated with various parties in the banking system. This endpoint supports retrieval operations, allowing consumers to extract detailed information about party routing profiles, which are essential for transaction routing and compliance. Use cases typically include banking applications that require dynamic routing adjustments based on party information. This API is designed for developers looking to integrate or enhance party routing functionalities in their financial services applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/party-routing-profile": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Retrieve a Party Routing Profile.",
        "description": "This endpoint allows developers to fetch details about a specific Party Routing Profile, including its configuration and settings. It is essential for integrating party routing into applications effectively.",
        "operationId": "listPartyPartyRoutingProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve the party routing profile information. It contains necessary parameters to fetch relevant routing details associated with the party.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPartyPartyRoutingProfilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the party routing profile.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPartyPartyRoutingProfilesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPartyPartyRoutingProfilesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the party routing profile. It is expected to be a string containing relevant information related to the operation.",
        "example": "{}"
      },
      "ListPartyPartyRoutingProfilesResponse_200": {
        "title": "Party Routing Profile Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of party details.",
            "example": [
              {
                "partyId": "PARTY-246985",
                "legalName": "Olivia Bennett",
                "legalEntityIdentifier": "STANDARD",
                "countryCode": "US",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartyDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This object represents the response structure for retrieving party routing profiles.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-246985",
              "legalName": "Olivia Bennett",
              "legalEntityIdentifier": "STANDARD",
              "countryCode": "US",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6bf6f863-153a-59b4-8564-f81cf3d19f78",
            "correlationId": "cf6b9395-c1cf-506f-bed5-9243d769a0ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartyDetails": {
        "title": "Party Details",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party."
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the party."
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "Legal entity identifier of the party."
          },
          "countryCode": {
            "type": "string",
            "description": "Two-letter country code where the party is registered."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the party record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the party record was last updated."
          }
        },
        "description": "This object contains the details of a party."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "This object contains information related to pagination of the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request/response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "This object contains additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-routing-profile-search-party-routing-profile"
        },
        "example": "party-routing-profile-search-party-routing-profile"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authorization. Clients must include a valid bearer token in the authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}