{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Corporate Relation By Param1-spec",
    "description": "The Corporate Relations Management API enables businesses to update and manage corporate relations by specifying key parameters. This endpoint supports the PATCH method for making targeted updates to investor relations. Typical consumers include financial institutions, corporate development teams, and compliance officers seeking to maintain accurate corporate partnership information. Streamlining these interactions helps enhance collaboration and strategic alignment across organizations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/investor-relations/{param1}": {
      "patch": {
        "tags": [
          "Investor Relations"
        ],
        "summary": "Update Investor Relations Information",
        "description": "This endpoint allows the modification of existing investor relations data for a specific resource identified by RES-100045. It facilitates updates to keep investor-related information accurate and current.",
        "operationId": "updateCorporateRelationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the investor relation details for the specified resource (RES-100045). It expects a JSON object containing the fields to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateRelationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateRelationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateRelationByParam1Request": {
        "title": "Investor Relations Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details about the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the individual who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating operations related to investor relations.",
        "example": {
          "changes": {
            "stakeholderId": "STANDARD",
            "engagementId": "STANDARD",
            "subject": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "00089d1f-a78a-5907-94d3-f0f97522f61c",
            "correlationId": "0a6010e4-881e-5a56-b803-1d637f74888f",
            "idempotencyKey": "f0d4345d-ec27-5022-a61f-851c48259298",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-545648"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "stakeholder_123"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "engagement_456"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the change request.",
            "example": "Change in investment strategy"
          }
        },
        "description": "Schema representing the specific changes that are being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others.",
            "example": "correlation_101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency_key_131415"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system sending the request.",
            "example": "CRM_System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that originated the request.",
            "example": "InvestorPortal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_161718"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "device_192021"
          }
        },
        "description": "Schema representing the information related to the channel used for the request."
      },
      "UpdateCorporateRelationByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the investor relations operations PATCH request. Contains versioning, status, and metadata details.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3ce11988-eb61-5360-92c1-d650816c38ed",
            "correlationId": "0a6010e4-881e-5a56-b803-1d637f74888f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was carried out.",
            "example": "string"
          }
        },
        "description": "Contains additional metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investor-relations-update-investor-relations"
        },
        "example": "investor-relations-update-investor-relations"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime environment where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where a JSON Web Token (JWT) is provided in the Authorization header to access secure endpoints. The token must be valid and appropriately signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}