{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Compliance Information API",
    "description": "The Legal Compliance Information API provides access to essential compliance data related to banking enterprise services. This API allows users to retrieve information on regulatory compliance requirements and legal guidelines, aiding financial institutions in ensuring adherence to laws. Typical consumers include compliance officers, legal teams, and financial service providers who need up-to-date information on compliance issues. By integrating this API, businesses can enhance their operational capabilities and maintain regulatory standards effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-compliance": {
      "get": {
        "tags": [
          "Enterprise Compliance"
        ],
        "summary": "Retrieve legal compliance details for enterprise services.",
        "description": "This endpoint allows users to access the legal compliance details relevant to enterprise services. It provides insights into regulations and compliance measures that organizations must adhere to, helping them to ensure they operate within legal frameworks.",
        "operationId": "getLegalComplianceEnterpriseServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the GET operation on the Legal Compliance endpoint of the Enterprise Services. This body must conform to the specified JSON schema, which details the necessary structure and properties required for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLegalComplianceEnterpriseServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of legal compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLegalComplianceEnterpriseServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLegalComplianceEnterpriseServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body expected when calling the GET operation for legal compliance services in the enterprise services.",
        "example": "{}"
      },
      "GetLegalComplianceEnterpriseServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of engagement items detailing various compliance aspects.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Legal Compliance API operation, returning a list of engagement items along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "aef549ec-0bcf-5e95-8a60-f4932c15d18f",
            "correlationId": "b47c8e17-a05e-5f9a-93be-a6eb94645310",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "engagement-123"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement.",
            "example": "Legal Review"
          },
          "framework": {
            "type": "string",
            "description": "Compliance framework applicable to the engagement.",
            "example": "ISO 27001"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "owner-456"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date for the engagement, formatted as an ISO 8601 string.",
            "example": "2023-10-01"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the engagement, formatted as an ISO 8601 string.",
            "example": "2023-11-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the engagement was last updated, formatted as an ISO 8601 string.",
            "example": "2023-10-15"
          }
        },
        "description": "Represents an individual engagement item in the legal compliance context."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response, including current page, page size, and total items available."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request and response through the system.",
            "example": "correlation-1011"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, formatted as an ISO 8601 string.",
            "example": "2023-10-15T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the API response, including timestamps and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-compliance-search-legal-compliance"
        },
        "example": "legal-compliance-search-legal-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header when making requests. The JWT is used to authenticate the user and validate their permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}