{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Servicing Activity Analysis-spec",
    "description": "The Cross Channel Servicing Activity Analysis API enables businesses to access detailed reports and insights on customer servicing activities across multiple channels. This API streamlines the retrieval of analytics related to customer interactions, helping organizations identify patterns, improve service efficiency, and enhance customer experience. It is primarily targeted at data analysts and customer service teams looking to leverage data for strategic decision-making. Utilize this endpoint to monitor performance metrics and inform service improvements based on comprehensive analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis": {
      "get": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Retrieve servicing activity analysis across channels.",
        "description": "This endpoint allows users to fetch detailed analysis of servicing activities across various channels. It provides insights into how different channels perform and interact, helping businesses make informed decisions to optimize their servicing strategies.",
        "operationId": "listCrossChannelServicingActivityAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving servicing activity analysis data. This includes the necessary parameters and data structure required to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelServicingActivityAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelServicingActivityAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelServicingActivityAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the cross-channel servicing activity analysis operation. It should contain a valid string payload.",
        "example": "{}"
      },
      "ListCrossChannelServicingActivityAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of servicing activity records.",
            "example": [
              {
                "partyId": "PARTY-488075",
                "interactionId": "INT-805002",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingActivityRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the cross-channel servicing activity analysis operation, containing items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-488075",
              "interactionId": "INT-805002",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1d72dc78-3a69-5838-bf67-2542ec24a9c7",
            "correlationId": "8ffb1124-481f-5c61-9b25-257133d35b5b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingActivityRecord": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the interaction was conducted."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication achieved during the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record."
          }
        },
        "description": "Represents a single servicing activity record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Details about the pagination of results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that was called, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-search-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-search-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request, providing context about where the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, defined in RFC 6750, which allows clients to interact with the API using a JSON Web Token (JWT) as a credential.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}