{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Surveys Retrieval API",
    "description": "The Customer Surveys Retrieval API allows businesses to access and analyze customer feedback collected through surveys. It provides insights into customer satisfaction and preferences, supporting data-driven marketing strategies. Companies can retrieve survey responses, enabling them to enhance service offerings and tailor marketing campaigns effectively. Typical users include marketing teams, business analysts, and customer experience professionals seeking to improve client engagement and retention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-surveys": {
      "get": {
        "tags": [
          "Surveys"
        ],
        "summary": "Retrieve customer survey data",
        "description": "This endpoint allows you to fetch a list of customer surveys available in the marketing system. Use this to gather insights and feedback from customers based on their survey responses.",
        "operationId": "getCustomerSurveys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch customer surveys. The client should provide necessary filters or parameters in the body to specify which surveys to retrieve.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerSurveysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer survey data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerSurveysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerSurveysRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Customer Surveys GET operation in the marketing operations category. It expects a string value.",
        "example": "{}"
      },
      "GetCustomerSurveysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of survey campaign details.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "surveyTemplateId": "STANDARD",
                "deliveryChannel": "STANDARD",
                "responseWindowDays": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SurveyCampaign"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Specification of how the results are sorted.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for retrieving customer survey operations, including a collection of survey campaign items, pagination details, and metadata.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "surveyTemplateId": "STANDARD",
              "deliveryChannel": "STANDARD",
              "responseWindowDays": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fa081548-517f-5c35-84bb-bc1276ddf77c",
            "correlationId": "1c1ac29a-68cd-50b2-87ba-9eda8708d72b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SurveyCampaign": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "campaign-123"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target audience segment.",
            "example": "segment-456"
          },
          "channelMix": {
            "type": "array",
            "description": "Array of channels used in the campaign.",
            "items": {
              "type": "string",
              "example": "email"
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO format.",
            "example": "2023-01-31T23:59:59Z"
          },
          "surveyTemplateId": {
            "type": "string",
            "description": "Identifier for the survey template used in the campaign.",
            "example": "template-789"
          },
          "deliveryChannel": {
            "type": "string",
            "description": "Channel through which the survey is delivered.",
            "example": "web"
          },
          "responseWindowDays": {
            "type": "integer",
            "description": "Number of days the survey is open for responses.",
            "format": "int32",
            "example": 14
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the survey record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of the survey campaign.",
            "example": "2023-01-15T12:00:00Z"
          }
        },
        "description": "Details of a survey campaign including budget, timing, and response information."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount allocated for the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Budget information for a survey campaign, including amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-16T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-surveys-search-customer-surveys"
        },
        "example": "customer-surveys-search-customer-surveys"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs a bearer token for authentication. The token must be included in the `Authorization` header as a `Bearer` token. The token format follows JSON Web Token (JWT) specifications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}