{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Transaction Engines-spec",
    "description": "The Account Management Transaction Engine Retrieval API allows users to access and enumerate available transaction engines within the account management system. This endpoint provides critical information about transaction processing capabilities, enabling businesses to integrate these engines effectively. Typical consumers include banking and financial applications that require up-to-date transaction engine details for efficient operations. By leveraging this API, developers can enhance their applications, ensuring they utilize the most suitable transaction processing mechanisms for their specific use cases.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/transaction-engine": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve transaction engine details for account management.",
        "description": "This endpoint allows developers to fetch details related to the transaction engine associated with account management, providing insights into transaction processing for accounts.",
        "operationId": "listAccountManagementTransactionEngines",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body submits a query to the transaction engine, retrieving specific transaction data based on provided criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementTransactionEnginesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementTransactionEnginesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementTransactionEnginesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the account management transaction engine.",
        "example": "{}"
      },
      "ListAccountManagementTransactionEnginesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of transaction records.",
            "example": [
              {
                "accountId": "ACC-294728",
                "customerId": "CUST-316388",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting parameter used for the transaction records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on the transaction engine which includes a list of transactions, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-294728",
              "customerId": "CUST-316388",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "62467d25-fbfc-5c28-a89b-aa7d304ce4d3",
            "correlationId": "738b3a17-b1b9-5df9-9a59-ef777d89fb78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the transaction.",
            "example": "acc123"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the transaction.",
            "example": "cust456"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date when the transaction was recorded in the ledger.",
            "example": "2021-01-01"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction was conducted.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger after the transaction.",
            "example": 1000.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the transaction record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the transaction record was last updated.",
            "example": "2021-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing a single transaction record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the dataset.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2021-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-engine-search-transaction-engine"
        },
        "example": "transaction-engine-search-transaction-engine"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes bearer tokens. The tokens are typically JSON Web Tokens (JWT), which provide a compact and self-contained way for securely transmitting information between parties. When using this scheme, clients must include the token in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}