{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Benefits Information API",
    "description": "The Employee Benefits Information API provides access to detailed information about employee benefits within an organization. This API allows human resource professionals to retrieve specific data related to various employee benefits, such as health insurance, retirement plans, and wellness programs. Typical use cases include benefit inquiries, reporting, and integration into HR management systems. Designed for HR personnel and system integrators, this API streamlines the management of employee benefits, enhancing both operational efficiency and employee satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-benefits/{param1}": {
      "get": {
        "tags": [
          "Employee Benefits Management"
        ],
        "summary": "Retrieve Employee Benefits Information",
        "description": "Fetches detailed information about the employee benefits associated with the specified employee ID. This endpoint allows HR personnel to quickly access and review the benefits assigned to an employee for better management and communication.",
        "operationId": "getEmployeeBenefitsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving employee benefits information for a specific employee identified by EMP-900045. The body may contain relevant filters or specifications based on the query parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeBenefitsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee benefits information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeBenefitsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeBenefitsByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving employee benefit details in the Human Resource Management system.",
        "example": "{}"
      },
      "GetEmployeeBenefitsByIdResponse_200": {
        "title": "Employee Benefits Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-112276"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment of the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department of the employee.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the employee benefits are effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country of the employee.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the manager of the employee.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the employee record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the employee benefits record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RES67890"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used to trace a request through the system.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "aad9ae9f-ad7f-59da-bc6d-16c7d28ca2d8",
              "correlationId": "28baa302-229a-54b9-b496-ee614399ccec",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "The response schema for retrieving employee benefits information.",
        "example": {
          "employeeId": "EMP-112276",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aad9ae9f-ad7f-59da-bc6d-16c7d28ca2d8",
            "correlationId": "28baa302-229a-54b9-b496-ee614399ccec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-benefits-get-employee-benefits"
        },
        "example": "employee-benefits-get-employee-benefits"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a JSON Web Token (JWT) is passed in the Authorization header. The token should be included in the request as 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}