{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Fraud Resolution Resolution-spec",
    "description": "The Fraud Resolution Management API enables businesses to submit and manage fraud resolution cases effectively. This endpoint allows users to initiate new fraud resolution requests, detailing the incident and relevant information. Typical consumers include compliance officers, fraud analysts, and banking personnel who are tasked with handling fraud investigations. By streamlining the resolution process, organizations can enhance their response to fraudulent activities, ensuring customer trust and regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://risk-compliance-app:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/fraud-resolution/resolutions": {
      "post": {
        "tags": [
          "FraudManagement"
        ],
        "summary": "Create a new fraud resolution",
        "description": "This endpoint allows users to submit a new fraud resolution. It processes the provided information and generates a resolution for the reported fraud case.",
        "operationId": "createFraudResolutionResolution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit fraud resolution data for processing. Ensure that the data adheres to the schema defined in the referenced components.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudResolutionResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing; the resolution is being handled.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudResolutionResolutionResponse_202"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to validation errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudResolutionResolutionResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFraudResolutionResolutionResponse_202": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier assigned to the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction related to the submission.",
            "example": "TXN-192214"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference for tracking the processing of the submission.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submission.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the submission was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the submission.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Fraud Resolution submission operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "transactionId": "TXN-192214",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "fd5d89e6-b732-57e4-aaea-6c07464eab3b",
            "correlationId": "7733c1b8-e4f7-5c95-b723-20d1f826ec91",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response999"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request-response lifecycle.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the submission was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the submission response."
      },
      "CreateFraudResolutionResolutionRequest": {
        "title": "Fraud Resolution Request Body",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity involved.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the fraud case falls.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the transaction.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation associated with the transaction.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for further action on the case.",
            "example": "2026-09-03"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction in question.",
            "example": "TXN-633656"
          },
          "riskScore": {
            "type": "integer",
            "description": "Risk score associated with the transaction, helping assess potential fraud.",
            "format": "int32",
            "example": 100
          },
          "decisionThreshold": {
            "type": "integer",
            "description": "Threshold score for making a fraud decision.",
            "format": "int32",
            "example": 100
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device used for the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual data related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the fraud resolution operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-03",
          "transactionId": "TXN-633656",
          "riskScore": 100,
          "decisionThreshold": 100,
          "deviceTrustLevel": "STANDARD",
          "requestContext": {
            "requestId": "7886d51d-b099-48b3-8381-d4084b1dfe36",
            "correlationId": "518ace8b-7ace-4222-949d-d06ad2dd024b",
            "idempotencyKey": "c6dcae24-4851-494d-a94e-e43122230e93",
            "requestedAt": "2026-08-27T23:00:58.703Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-325372"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "CORR67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "IDEMP1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-08-25T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that is the source of the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "Application X"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "DEVICE67890"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateFraudResolutionResolutionResponse_422": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the type of error that occurred.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses, useful for debugging.",
            "example": "518ace8b-7ace-4222-949d-d06ad2dd024b"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Information about the workflow state or context in which the error occurred.",
            "example": "WF-043"
          }
        },
        "description": "Schema representing the error response for a 422 Unprocessable Entity in the fraud resolution operation.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "518ace8b-7ace-4222-949d-d06ad2dd024b",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-043"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-046"
        },
        "example": "WF-046"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5e68ae87-fb7c-479c-a762-41f6e7c3f669"
        },
        "example": "5e68ae87-fb7c-479c-a762-41f6e7c3f669"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ff6e6adc-b06d-46b0-a41b-5b8b78792fb2"
        },
        "example": "ff6e6adc-b06d-46b0-a41b-5b8b78792fb2"
      },
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7cc4e5cd4b436acc"
        },
        "example": "7cc4e5cd4b436acc"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f7978e27-c6bf-4146-bae8-6957abcf374e"
        },
        "example": "f7978e27-c6bf-4146-bae8-6957abcf374e"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5eb3ee33-6bf3-4151-acc7-816e4407120c"
        },
        "example": "5eb3ee33-6bf3-4151-acc7-816e4407120c"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-resolution-resolve-fraud-resolution"
        },
        "example": "fraud-resolution-resolve-fraud-resolution"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently running and handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request. This header can be used for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Risk Rating Refresh"
        },
        "example": "Customer Risk Rating Refresh"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ff6e6adc-b06d-46b0-a41b-5b8b78792fb2"
        },
        "example": "ff6e6adc-b06d-46b0-a41b-5b8b78792fb2"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a valid token in the Authorization header using the 'Bearer' prefix. The token is typically a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}