{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aggregation Customer Institutionlogin Account-v5-spec",
    "description": "MICROSERVICE-PROD-Create Aggregation Customer Institutionlogin Account-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "post": {
        "operationId": "createAggregationCustomerInstitutionloginAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAggregationCustomerInstitutionloginAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAggregationCustomerInstitutionloginAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAggregationCustomerInstitutionloginAccountRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "ca02b219-5942-563e-855d-2f86456ffb41",
              "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
              "idempotencyKey": "eb73f1ab-9e24-5833-9f2c-fe8b17680525",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-872533"
              }
            }
          }
        },
        "example": {
          "requestContext": {
            "requestId": "ca02b219-5942-563e-855d-2f86456ffb41",
            "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
            "idempotencyKey": "eb73f1ab-9e24-5833-9f2c-fe8b17680525",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872533"
            }
          }
        }
      },
      "CreateAggregationCustomerInstitutionloginAccountResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-168851",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "number": {
                  "type": "string",
                  "example": "string"
                },
                "accountNumberDisplay": {
                  "type": "string",
                  "example": "string"
                },
                "realAccountNumberLast4": {
                  "type": "string",
                  "example": "string"
                },
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "balance": {
                  "type": "number",
                  "example": 0.0
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "aggregationStatusCode": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "customerId": {
                  "type": "string",
                  "example": "string"
                },
                "institutionId": {
                  "type": "string",
                  "example": "string"
                },
                "balanceDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "aggregationSuccessDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "aggregationAttemptDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "createdDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "lastUpdatedDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "marketSegment": {
                  "type": "string",
                  "example": "string"
                },
                "currency": {
                  "type": "string",
                  "example": "string"
                },
                "lastTransactionDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "oldestTransactionDate": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "institutionLoginId": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "detail": {
                  "type": "object",
                  "properties": {
                    "dateAsOf": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "availableBalanceAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "openDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "periodStartDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "periodEndDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "periodInterestRate": {
                      "type": "number",
                      "example": 0.0
                    },
                    "periodDepositAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "periodInterestAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "interestYtdAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "interestPriorYtdAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "maturityDate": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "interestRate": {
                      "type": "string",
                      "example": "string"
                    },
                    "creditAvailableAmount": {
                      "type": "number",
                      "example": 0.0
                    },
                    "creditMaxAmount": {
                      "type": "number",
                      "example": 0.0
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ced65231-c717-51ca-9f51-c94478c98cd4",
              "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-168851",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "ced65231-c717-51ca-9f51-c94478c98cd4",
            "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-customer-accounts-by-institution-login"
        },
        "example": "open-finance-api-refresh-customer-accounts-by-institution-login"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}