{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Outlets Management API",
    "description": "The Outlets Management API enables businesses to efficiently manage their outlet information and configurations. This endpoint specifically allows for partial updates to existing outlets, facilitating quick adjustments to outlet details that may be needed due to changing operations or promotions. Typical consumers include retail managers and developers of point-of-sale systems needing real-time updates. With this API, users can ensure that their outlet data remains current and accurate across various applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets/{outletId}": {
      "patch": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Update outlet details",
        "description": "This operation allows for updating the specific details of an outlet identified by its unique identifier. Ensure to provide the necessary data in your request to successfully apply the changes.",
        "operationId": "updateOutletRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/outletId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update properties of a specific outlet with the identifier RES-100045. The JSON payload must adhere to the schema defined for updating outlet properties, ensuring that only valid data is provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOutletRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the outlet details have been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOutletRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateOutletRes100045Request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "address": {
            "description": "The address details of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "The contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "The current operational status of the outlet.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating outlet information.",
        "example": {
          "name": "Northstar Banking Service",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "4a03eef7-813e-5bf8-a8f4-90c43f119971",
            "correlationId": "2332933a-c88d-57ab-9a11-b3464ed90f7d",
            "idempotencyKey": "f55bdc72-d6a2-5eda-9829-8497e559b8c1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-380105"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City where the outlet is located.",
            "example": "Anytown"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province where the outlet is located.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the outlet's address.",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "description": "Country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "Schema representing the address of an outlet."
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the outlet.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the outlet.",
            "example": "+123456789"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the outlet.",
            "example": "https://example.com"
          }
        },
        "description": "Schema representing the contact information for an outlet."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track related requests.",
            "example": "cor-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "BackendSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "UpdateOutletRes100045Response_200": {
        "title": "Outlet Response",
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the outlet.",
            "example": "MER-523448"
          },
          "name": {
            "type": "string",
            "description": "Name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "Type of the outlet (e.g., restaurant, retail).",
            "example": "STANDARD"
          },
          "address": {
            "description": "Physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the outlet operates.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "Currency used by the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference linked to the outlet.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outlet (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for the outlet.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the outlet response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an outlet update operation.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-523448",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "7b72d381-0f48-5694-9644-05448bd56bc2",
            "correlationId": "2332933a-c88d-57ab-9a11-b3464ed90f7d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the outlet was created.",
            "example": "2023-10-10T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the outlet.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the outlet was last updated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the outlet.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the outlet information.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information about the outlet."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "abcd-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the response.",
            "example": "xyz-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata related to the outlet response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "outletId": {
        "name": "outletId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-outlet"
        },
        "example": "banking-p2m-openapi-update-outlet"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a bearer token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}