{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer Management By Param1-spec",
    "description": "The Customer Behavior Insights Retrieval API enables businesses to access valuable insights regarding customer behavior based on specified parameters. This endpoint allows users to query behavioral data associated with individual customers using a unique identifier. Typical consumers include customer relationship management (CRM) systems and analytics platforms, which leverage this information to enhance customer engagement strategies and personalized service offerings. By utilizing this API, organizations can make informed decisions to improve customer satisfaction and retention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-behavior-insights/{param1}": {
      "get": {
        "tags": [
          "Customer Insights"
        ],
        "summary": "Retrieve customer behavior insights for a specific customer.",
        "description": "This endpoint allows you to access detailed insights into the behavior of a specific customer identified by their unique ID. It provides valuable information that can help in understanding customer preferences and actions.",
        "operationId": "getCustomerManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch customer behavior insights for a specific customer identified by the ID 'CUST-100045'. It includes all necessary parameters to retrieve the relevant insights and analytics pertaining to the customer's interactions and behavior within the management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer behavior insights.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the customer behavior insights operations in JSON format.",
        "example": "{}"
      },
      "GetCustomerManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-896711"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-683868"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the customer's information became effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of relationship the customer has with the company.",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the customer record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the customer record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the customer behavior insights API for a specific customer.",
        "example": {
          "customerId": "CUST-896711",
          "partyId": "PARTY-683868",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b9029bda-6313-561e-ae4a-e10e0c7d6152",
            "correlationId": "22b0e446-bd7a-5ab5-91eb-6cc30bfae70c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-2000001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-10T15:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called in this request, used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-insights-get-customer-behavior-insights"
        },
        "example": "customer-behavior-insights-get-customer-behavior-insights"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context for the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method where tokens are provided in the Authorization header of requests. The token is expected to be a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}