{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Status Management API",
    "description": "The Webhook Status Management API allows users to update the operational status of existing webhook subscriptions. This functionality is crucial for ensuring that subscriber applications maintain accurate event processing capabilities based on the current status of webhooks. Typically utilized by developers managing integrations or notification systems, the API provides a means to manage webhook status effectively and respond to changes in operational requirements. Use cases include enabling or disabling notifications based on business logic or integration health.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/status": {
      "put": {
        "tags": [
          "Webhooks Management"
        ],
        "summary": "Update the status of a specific webhook",
        "description": "This endpoint allows users to update the status of the webhook identified by RES-100045. Use this operation to manage webhook activities and ensure proper handling of events.",
        "operationId": "updateWebhookStatusForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "Updates the status of the specified webhook with ID RES-100045. The request must contain the necessary information to update the webhook's status accordingly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookStatusForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the status has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookStatusForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookStatusForRes100045Request": {
        "title": "Webhook Status Update Request",
        "required": [
          "requestContext",
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The current status of the webhook.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating the status of a webhook.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "1365e11a-a89b-5627-902b-16c572097ed7",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "idempotencyKey": "99eae8bc-8f8c-5c36-9617-17b76721fd01",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-791267"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "required": [
          "channel",
          "requestId",
          "requestedAt"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track related requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency for the request.",
            "example": "idemp-345678"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that initiated the request.",
            "example": "webhook-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "webhook-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information related to the request context."
      },
      "Channel": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., email, SMS).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-xyz"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "UpdateWebhookStatusForRes100045Response_200": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Metadata related to the webhook operation.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Response schema for the successful operation of updating the webhook status.",
        "example": {
          "status": "ACTIVE",
          "metadata": {
            "responseId": "8ded8b81-85d7-5004-893c-d41d0d0169a2",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across distributed systems.",
            "example": "abcde-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the webhook endpoint that processed the request.",
          "example": "open-finance-api-change-webhook-subscription-status"
        },
        "example": "open-finance-api-change-webhook-subscription-status"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that executed the webhook operation.",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication, allowing clients to access protected resources by including a JSON Web Token (JWT) in the Authorization header. The provided JWT should be valid and properly signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}