{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Payroll Submission API",
    "description": "The Customer Payroll Submission API enables businesses to securely submit payroll data for a specified customer. This endpoint is vital for automating payroll processing and ensuring timely disbursement of employee wages. By targeting specific customers via their unique IDs, companies can streamline their financial operations, improve compliance, and enhance customer service. Typical users include payroll administrators and finance teams looking to integrate payroll management systems with existing workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voepayroll": {
      "post": {
        "tags": [
          "Customer Operations"
        ],
        "summary": "Create a Voepayroll for a specific customer.",
        "description": "This endpoint allows you to create a Voepayroll entry for the customer identified by the provided ID. Ensure that all required fields are included in the request body for successful creation.",
        "operationId": "createVoepayrollForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to create or update payroll information for the customer identified as CUST-100045. Ensure that all required fields are provided to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoepayrollForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoepayrollForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoepayrollForCustomerRequest": {
        "title": "Voepayroll Operations Request Body",
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Contains information about the payroll data for processing.",
            "$ref": "#/components/schemas/PayrollData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields associated with the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "payStatementsFromDate": {
            "type": "integer",
            "description": "The date from which pay statements are considered, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "Identifies the market segment associated with the request.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Specifies the purpose of the payroll operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contains contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for the Voepayroll Operations API.",
        "example": {
          "payrollData": {
            "ssn": "STANDARD",
            "dob": 1,
            "reportId": "STANDARD",
            "payrollAccountIds": [
              "ACC-358986"
            ]
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "payStatementsFromDate": 1,
          "marketSegment": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "b1f50bfe-7b03-55cf-b812-5740e3aaeee5",
            "correlationId": "3d1896e2-01fa-5d35-afd3-010d2ada3f7e",
            "idempotencyKey": "5955a034-d889-59e4-8585-8fcb88fb4414",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-100062"
            }
          }
        }
      },
      "PayrollData": {
        "type": "object",
        "properties": {
          "retrievalId": {
            "type": "string",
            "description": "Unique identifier for the retrieval process.",
            "example": "string"
          },
          "payrollAggregatorResponseId": {
            "type": "string",
            "description": "Unique identifier for the response from the payroll aggregator.",
            "example": "string"
          },
          "consentMethod": {
            "type": "string",
            "description": "Method used for consent.",
            "example": "string"
          },
          "employmentIds": {
            "type": "array",
            "description": "Array of employment identifiers related to the payroll.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Information about payroll data involved in the transaction."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value for the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field is shown.",
            "example": false
          }
        },
        "description": "Represents a custom field associated with the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking-related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "type": "object",
            "properties": {
              "channelId": {
                "type": "string",
                "description": "The unique identifier for the channel.",
                "example": "string"
              },
              "channelType": {
                "type": "string",
                "description": "The type of channel (e.g., web, mobile).",
                "example": "string"
              },
              "deviceId": {
                "type": "string",
                "description": "The unique identifier for the device used.",
                "example": "string"
              }
            },
            "description": "Details about the channel through which the request was made."
          }
        },
        "description": "Contains metadata regarding the request."
      },
      "CreateVoepayrollForCustomerResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "dda58c34-f3f2-5039-89e4-21627c035cf1"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details regarding the end user involved in the transaction.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the record was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title of the request or transaction.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer associated with the payroll request.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the request or transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the request or transaction.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the payroll data and requests.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata regarding the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the POST operation related to payroll processes for a specific customer.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "dda58c34-f3f2-5039-89e4-21627c035cf1",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "payrollData": {
              "retrievalId": "STANDARD",
              "payrollAggregatorResponseId": "37dfb71a-ed49-5f9d-840d-9e3add819305",
              "consentMethod": "STANDARD",
              "employmentIds": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "e58aef6f-09b8-52c6-97ce-cfe4ba9ec591",
            "correlationId": "3d1896e2-01fa-5d35-afd3-010d2ada3f7e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the end user.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the end user.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL related to the end user.",
            "example": "string"
          }
        },
        "description": "Information about the end user involved in the payroll process."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if any.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Details of the consumer including personal and contact information."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Details regarding the payroll data associated with the constraints.",
            "$ref": "#/components/schemas/PayrollData"
          }
        },
        "description": "Constraints related to the payroll data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the request, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voe-payroll-report"
        },
        "example": "open-finance-api-generate-voe-payroll-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using JSON Web Tokens (JWT). Clients must include a JWT token in the Authorization header formatted as 'Bearer {token}' to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}