{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Card Collection-v5-spec",
    "description": "This API facilitates the creation of card collections within the banking operational services framework. It enables financial institutions to efficiently manage and organize multiple card accounts, enhancing operational efficiency and customer service. Typical consumers include banking application developers and financial service providers looking to streamline card management processes. By leveraging this API, organizations can ensure a structured approach to card collection operations, leading to improved client experiences and operational agility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections": {
      "post": {
        "tags": [
          "Card Collections"
        ],
        "summary": "Create a new card collection.",
        "description": "This endpoint allows you to create a new card collection within the operational services framework. Provide the necessary details in the request body to successfully establish a new collection.",
        "operationId": "createBankingOperationalServicesCardCollection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new card collection within the operational services. It requires specific parameters to be provided in JSON format that define the properties and characteristics of the card collection being created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesCardCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The card collection resource was successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesCardCollectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesCardCollectionRequest": {
        "title": "Card Collections Request Body",
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "The unique identifier for the card account.",
            "example": "ACC-654072"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the card account.",
            "example": "CUST-602441"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "The number of days the payment is past due.",
            "format": "int32",
            "example": 1
          },
          "outstandingBalance": {
            "description": "The outstanding balance associated with the card account.",
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy used for collections.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for card collections operations.",
        "example": {
          "cardAccountId": "ACC-654072",
          "customerId": "CUST-602441",
          "daysPastDue": 1,
          "outstandingBalance": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionStrategy": "STANDARD",
          "requestContext": {
            "requestId": "d257bf68-f221-57c9-a3a0-a26479f9e897",
            "correlationId": "198c5c9a-2334-5b96-b358-f3c661af7e9f",
            "idempotencyKey": "6eee3f95-a94d-5ead-ac50-8bb42c156100",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-152083"
            }
          }
        }
      },
      "OutstandingBalance": {
        "title": "Outstanding Balance",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of the outstanding balance.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the outstanding balance.",
            "example": "string"
          }
        },
        "description": "Schema representing the outstanding balance details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "CreateBankingOperationalServicesCardCollectionResponse_201": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "The unique identifier for the card account.",
            "example": "ACC-201454"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the card account.",
            "example": "CUST-533102"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the created resource.",
            "example": "RES-618213"
          },
          "status": {
            "type": "string",
            "description": "The current status of the card collection operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the card collection was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the card collection response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the successful creation of a card collection.",
        "example": {
          "cardAccountId": "ACC-201454",
          "customerId": "CUST-533102",
          "resourceId": "RES-618213",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1c8d8570-9a6d-5d4e-a5b5-249bf5044a35",
            "correlationId": "198c5c9a-2334-5b96-b358-f3c661af7e9f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP56789"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata for the card collection response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-create-card-collections"
        },
        "example": "card-collections-create-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication as defined in RFC 6750. The client must include a JSON Web Token (JWT) in the `Authorization` header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}