{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Account Management Fraud Diagnosis Diagnose By Diagnose Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace Banking Account Management Fraud Diagnosis Diagnose By Diagnose Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis/diagnoses/{diagnoseId}": {
      "put": {
        "operationId": "replaceBankingAccountManagementFraudDiagnosisDiagnoseByDiagnoseId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/diagnoseId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingAccountManagementFraudDiagnosisDiagnoseByDiagnoseIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingAccountManagementFraudDiagnosisDiagnoseByDiagnoseIdResponse_200"
                }
              }
            }
          },
          "422": {
            "description": "422Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingAccountManagementFraudDiagnosisDiagnoseByDiagnoseIdResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingAccountManagementFraudDiagnosisDiagnoseByDiagnoseIdResponse_200": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "example": "ACC-705081"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-565520"
          },
          "transactionId": {
            "type": "string",
            "example": "TXN-514610"
          },
          "assessmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ca8f85ee-9e95-5680-a25d-1b89bd05da67",
              "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "accountId": "ACC-705081",
          "customerId": "CUST-565520",
          "transactionId": "TXN-514610",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ca8f85ee-9e95-5680-a25d-1b89bd05da67",
            "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReplaceBankingAccountManagementFraudDiagnosisDiagnoseByDiagnoseIdRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "example": "ACC-243873"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-163946"
          },
          "ledgerDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "example": "TXN-732888"
          },
          "riskScore": {
            "type": "number",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "1595a3d7-7730-547d-aebd-3617c133d979",
              "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
              "idempotencyKey": "1c3679d3-0026-5550-93e1-35fc7a597a22",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-153722"
              }
            }
          }
        },
        "example": {
          "accountId": "ACC-243873",
          "customerId": "CUST-163946",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "transactionId": "TXN-732888",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "requestContext": {
            "requestId": "1595a3d7-7730-547d-aebd-3617c133d979",
            "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
            "idempotencyKey": "1c3679d3-0026-5550-93e1-35fc7a597a22",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-153722"
            }
          }
        }
      },
      "ReplaceBankingAccountManagementFraudDiagnosisDiagnoseByDiagnoseIdResponse_422": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "example": "9e517861-743b-4733-82ba-9803afcbef4a"
          },
          "message": {
            "type": "string",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "example": "WF-043"
          },
          "code": {
            "type": "string",
            "example": "RISK_REVIEW_REJECTED"
          }
        },
        "example": {
          "correlationId": "9e517861-743b-4733-82ba-9803afcbef4a",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-043",
          "code": "RISK_REVIEW_REJECTED"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6bbee119-8e7b-434c-901d-972de86d2290"
        },
        "example": "6bbee119-8e7b-434c-901d-972de86d2290"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8fbfb57e-db5a-4f34-915f-72ef2a6ac555"
        },
        "example": "8fbfb57e-db5a-4f34-915f-72ef2a6ac555"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200",
            "MICROSERVICE_PROD_422"
          ]
        }
      },
      "diagnoseId": {
        "name": "diagnoseId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-diagnose-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-diagnose-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "AML Transaction Monitoring and Case Escalation"
        },
        "example": "AML Transaction Monitoring and Case Escalation"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "REJECTED"
        },
        "example": "REJECTED"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8fbfb57e-db5a-4f34-915f-72ef2a6ac555"
        },
        "example": "8fbfb57e-db5a-4f34-915f-72ef2a6ac555"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}