{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Resolution Inquiry API",
    "description": "This API allows users to query and assess fraud resolution cases within the banking compliance framework. It facilitates the retrieval of detailed information regarding specific fraud incidents by leveraging unique identifiers. Typical consumers include compliance officers and fraud investigation teams who need access to historical data for analysis and decision-making. The endpoint supports enhancing operational efficiency by streamlining inquiries related to fraud resolutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/fraud-resolution/{param1}": {
      "get": {
        "tags": [
          "Fraud Resolution"
        ],
        "summary": "Retrieve Fraud Resolution Details",
        "description": "Fetches the detailed information regarding the fraud resolution for the specified resource ID. This endpoint provides insights into the resolution process and findings related to the reported fraud case.",
        "operationId": "getFraudResolutionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the fraud resolution process for the specified resource ID 'RES-100045'. Ensure that the required parameters and data formats are correctly followed to successfully execute the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudResolutionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning fraud resolution details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudResolutionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudResolutionByIdRequest": {
        "type": "string",
        "description": "Represents the request body payload for the application in JSON format.",
        "example": "{}"
      },
      "GetFraudResolutionByIdResponse_200": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity involved in the transaction.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction where the transaction is reported.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the transaction.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that governs the transaction.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the transaction report is due.",
            "example": "2026-09-15"
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction.",
            "example": "TXN-744722"
          },
          "riskScore": {
            "type": "number",
            "description": "The risk score associated with the transaction.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold for making a decision on the transaction.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level of the device used for the transaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the transaction record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the fraud resolution operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the details of a fraud resolution operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "transactionId": "TXN-744722",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "708db9a1-2bb2-5edc-84da-f059a20f878d",
            "correlationId": "86932c8a-e1db-57e7-85dc-c86813426a96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing and troubleshooting.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "A schema representing additional metadata for the fraud resolution operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracing and debugging specific API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-resolution-get-fraud-resolution"
        },
        "example": "fraud-resolution-get-fraud-resolution"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to secured endpoints. The token is typically issued upon successful authentication and grants access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}