{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer Management By Param1-spec",
    "description": "The Customer Proposition Lookup API enables users to access detailed customer propositions based on specific parameters. This operation retrieves relevant product offerings and services tailored to the customer profile identified by the parameter provided. Typical consumers include banking applications and customer management systems seeking to enhance user experience with personalized offerings. Developers can utilize this API to integrate customer-centric features and improve decision-making processes across banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-proposition/{param1}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer proposition details.",
        "description": "This endpoint allows you to fetch detailed information about a specific customer proposition using its unique identifier. It is essential for accessing customer-centric offerings and can be used to support client-facing applications.",
        "operationId": "getCustomerManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving details about a specific customer proposition. It includes all necessary parameters to identify and fetch the required information for the customer with ID CUST-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer proposition data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerManagementByParam1Request": {
        "type": "string",
        "description": "A JSON string representing the request body for customer proposition operations in the customer management system.",
        "example": "{}"
      },
      "GetCustomerManagementByParam1Response_200": {
        "title": "Customer Proposition Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-503484"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer.",
            "example": "PARTY-473635"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer proposition.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the customer proposition becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the customer's relationship.",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the customer proposition record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the customer proposition was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "CORR-654321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-10T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata associated with the customer proposition response.",
            "example": {
              "responseId": "d74582fe-495f-5a8c-966d-28a038c647e6",
              "correlationId": "7d66362f-dd5b-5df1-a58a-9c0049c6c127",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for customer proposition management.",
        "example": {
          "customerId": "CUST-503484",
          "partyId": "PARTY-473635",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d74582fe-495f-5a8c-966d-28a038c647e6",
            "correlationId": "7d66362f-dd5b-5df1-a58a-9c0049c6c127",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-proposition-get-customer-proposition"
        },
        "example": "customer-proposition-get-customer-proposition"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating the source of processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This scheme expects a JSON Web Token (JWT) to be provided in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}