{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Repayment Schedules Management API",
    "description": "The Repayment Schedules Management API facilitates the creation and management of repayment schedules for loans. This endpoint allows users to define the terms of repayment specific to a loan, ensuring timely and organized payment processing. Typical consumers include financial institutions and loan management systems seeking to automate and optimize their repayment strategies. By leveraging this API, users can enhance their customer experience and streamline their loan servicing operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a Repayment Schedule for a Loan",
        "description": "This operation allows the user to create a repayment schedule for a specific loan identified by its unique loan ID. It is essential for managing loan payments and ensuring borrowers are informed about their payment obligations.",
        "operationId": "createRepaymentScheduleForLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit repayment schedule information for the specified loan. It should contain all necessary details regarding the repayment terms and any associated amounts.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepaymentScheduleForLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Repayment schedule created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRepaymentScheduleForLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRepaymentScheduleForLoanRequest": {
        "title": "Repayment Schedule Request Body",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The effective date of the repayment schedule.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used for calculation of repayments.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for creating this repayment schedule.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "List of repayment installments.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating repayment schedules.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD"
              }
            }
          ],
          "requestContext": {
            "requestId": "c6841c92-d9ca-5b2e-b389-0b9e541a52a2",
            "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
            "idempotencyKey": "8643dad9-8bd1-574f-82ea-341a58b9eb98",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-492633"
            }
          }
        }
      },
      "Installment": {
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The number of the installment in the repayment schedule.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the installment must be paid.",
            "example": "2023-02-01"
          },
          "openingPrincipal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The amount of the opening principal.",
                "example": "1000.00"
              }
            },
            "description": "The opening principal amount for the installment."
          },
          "principalDue": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The amount of principal due.",
                "example": "100.00"
              }
            },
            "description": "The amount of principal due for this installment."
          },
          "interestDue": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The amount of interest due.",
                "example": "5.00"
              }
            },
            "description": "The amount of interest due for this installment."
          },
          "feesDue": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The amount of fees due.",
                "example": "2.00"
              }
            },
            "description": "The amount of fees due for this installment."
          },
          "penaltiesDue": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The amount of penalties due.",
                "example": "0.00"
              }
            },
            "description": "The amount of penalties due for this installment, if any."
          },
          "totalDue": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the total amount.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The total amount due.",
                "example": "107.00"
              }
            },
            "description": "The total amount due for this installment."
          },
          "amountPaid": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the amount paid.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The amount that has been paid.",
                "example": "0.00"
              }
            },
            "description": "The amount that has been paid towards this installment."
          },
          "closingPrincipal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the closing amount.",
                "example": "USD"
              },
              "amount": {
                "type": "string",
                "description": "The amount of the closing principal.",
                "example": "900.00"
              }
            },
            "description": "The closing principal amount for the installment."
          },
          "status": {
            "type": "string",
            "description": "The current status of this installment.",
            "example": "Pending"
          },
          "paidAt": {
            "type": "string",
            "description": "The date and time when the installment was paid, if applicable.",
            "example": "2023-02-01T15:30:00Z"
          }
        },
        "description": "Schema representing a single installment in the repayment schedule."
      },
      "MonetaryAmount": {
        "title": "Monetary Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the monetary amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing a monetary value including currency and amount."
      },
      "ClosingPrincipal": {
        "title": "Closing Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the closing principal.",
            "example": "USD"
          }
        },
        "description": "Schema representing the closing principal amount."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Loan Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Web Application"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123456"
          }
        },
        "description": "Schema representing the channel details in the request context."
      },
      "CreateRepaymentScheduleForLoanResponse_201": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule becomes effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used for calculation of the repayment schedule.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "A list of installments due in the repayment schedule.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "status": "ACTIVE",
                "paidAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "797a9484-e86b-a94a-7695-0ad73c2de586"
          },
          "status": {
            "type": "string",
            "description": "The current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the repayment schedule was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Identifier of the schedule that this payment schedule supersedes.",
            "example": "408cf88f-7e11-92fe-8578-13a8ffcf3fcf"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "The date and time when the schedule was created.",
                "example": "2023-01-01T00:00:00Z"
              },
              "createdBy": {
                "type": "string",
                "description": "The user who created the schedule.",
                "example": "user@example.com"
              },
              "updatedAt": {
                "type": "string",
                "description": "The date and time of the last update to the schedule.",
                "example": "2023-01-10T00:00:00Z"
              },
              "updatedBy": {
                "type": "string",
                "description": "The user who last updated the schedule.",
                "example": "user2@example.com"
              },
              "version": {
                "type": "integer",
                "description": "Version number of the repayment schedule.",
                "format": "int32",
                "example": 1
              }
            },
            "description": "Audit information regarding the creation and updates of the repayment schedule.",
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "correlation-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "The date and time when the metadata was generated.",
                "example": "2023-01-01T00:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the repayment schedule.",
            "example": {
              "responseId": "09c9e700-481f-5a5f-9e03-267e0e947e04",
              "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for loan repayment schedules.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "status": "ACTIVE",
              "paidAt": "2026-08-11T12:00:00Z"
            }
          ],
          "id": "797a9484-e86b-a94a-7695-0ad73c2de586",
          "status": "ACTIVE",
          "generatedAt": "2026-09-15T14:30:00Z",
          "supersedesScheduleId": "408cf88f-7e11-92fe-8578-13a8ffcf3fcf",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "09c9e700-481f-5a5f-9e03-267e0e947e04",
            "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-repayment-schedule"
        },
        "example": "banking-loans-openapi-create-repayment-schedule"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically in the JSON Web Token (JWT) format. Clients must include a valid JWT in the `Authorization` header when making API requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}