{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Business Direction By Param1-spec",
    "description": "The Update Business Direction API allows developers to modify the business direction of an enterprise architecture entity by specifying a unique parameter. This operation is essential for companies seeking to dynamically adjust their strategic objectives and alignment within the banking sector. Typical consumers include enterprise architects and business analysts who require a flexible approach to business management. Utilizing this API enables organizations to better respond to changing market needs and internal policies, ensuring their business direction remains relevant and effective.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture/{param1}": {
      "patch": {
        "tags": [
          "Enterprise Architecture"
        ],
        "summary": "Update Enterprise Architecture Resource",
        "description": "This endpoint allows users to update details about a specific enterprise architecture resource identified by RES-100045. The patch operation lets you modify parts of the resource without requiring a full update.",
        "operationId": "updateBusinessDirectionByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the business direction for the enterprise architecture specified by RES-100045. This request body should include all necessary fields to modify the existing resource as per the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessDirectionByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBusinessDirectionByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBusinessDirectionByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being requested.",
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for patching operations related to enterprise architecture.",
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9f0bc92e-0603-511f-ada1-c22043cba1e0",
            "correlationId": "8e492fb5-d643-599d-99a6-b415dab6b092",
            "idempotencyKey": "b9b15c24-9135-544e-b1f2-2daf00294e83",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-971483"
            }
          }
        }
      },
      "ChangeDetails": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Identifier for the initiative associated with the changes.",
            "example": "string"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative.",
            "example": "string"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the changes being requested.",
            "example": "string"
          }
        },
        "description": "Details regarding the changes to be applied."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Information that provides context for the request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateBusinessDirectionByParam1Response_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on the enterprise architecture operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bae46eb5-14a2-58da-a3e0-c669825d1489",
            "correlationId": "8e492fb5-d643-599d-99a6-b415dab6b092",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used to track related requests.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-03T14:20:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was executed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint of the operation. This ensures traceability and can be used for logging or analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-update-enterprise-architecture"
        },
        "example": "enterprise-architecture-update-enterprise-architecture"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application in which the operation is being executed. This provides context regarding the environment and versioning of the application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where the client must include a valid JSON Web Token (JWT) in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}