{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Consumers-spec",
    "description": "The Customer Consumer Retrieval API provides access to detailed information about consumers associated with a specific customer. By utilizing the customer ID, developers can retrieve comprehensive consumer data essential for personalized marketing, customer service, and decision-making processes. This API caters primarily to businesses aiming to enhance customer engagement by leveraging consumer insights. Typical use cases include proactive customer support and targeted marketing strategies that rely on consumer behaviors and preferences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/consumer": {
      "get": {
        "tags": [],
        "summary": "Retrieve consumer details for a specified customer.",
        "description": "This endpoint allows you to retrieve detailed information about the consumer associated with a specific customer ID (CUST-100045). The response includes various consumer attributes and their values.",
        "operationId": "listCustomerConsumers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the consumer information specific to customer CUST-100045. It contains necessary parameters to initiate the request and ensure appropriate data is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerConsumersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved consumer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerConsumersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerConsumersRequest": {
        "title": "Customer Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the consumer operations related to customer with ID CUST-100045.",
        "example": "{}"
      },
      "ListCustomerConsumersResponse_200": {
        "title": "Customer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique customer ID.",
            "format": "int32",
            "example": 1
          },
          "address": {
            "type": "string",
            "description": "Street address of the customer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "City where the customer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State where the customer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the customer.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the customer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birthday of the customer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the customer was created.",
            "format": "int32",
            "example": 1
          },
          "suffix": {
            "type": "string",
            "description": "Suffix associated with the customer name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Information regarding the end user associated with the customer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "metadata": {
            "description": "Metadata related to the customer response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for customer-related operations.",
        "example": {
          "id": "STANDARD",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "customerId": 1,
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "createdDate": 1,
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "metadata": {
            "responseId": "32c0bfb4-3460-540b-9330-d6dd75253037",
            "correlationId": "7656b00b-24ba-5c4b-872c-0b74789d4e08",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The month of birth.",
            "format": "int32",
            "example": 12
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of the month of birth.",
            "format": "int32",
            "example": 25
          }
        },
        "description": "Schema representing the birthday of an individual."
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user.",
            "example": "62701"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the end user.",
            "example": "555-0123"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "user@example.com"
          },
          "url": {
            "type": "string",
            "description": "URL related to the end user (e.g., social media profile).",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the end user information associated with a customer."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "xyz-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp at which the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata related to the customer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-consumer-for-customer"
        },
        "example": "open-finance-api-get-consumer-for-customer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JSON Web Token (JWT) is provided as a means of verifying the user's identity and permissions. The token should be included in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}