{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Application Collateral-spec",
    "description": "This API facilitates the submission of collateral information for loan applications. By allowing users to register collateral details, it enhances the loan application process and mitigates financial risks. Ideal for financial institutions and developers integrating loan management systems, this API ensures that collateral data is accurately associated with specific loan applications. Typical use cases include the registration of assets such as property or vehicles to secure loans effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals": {
      "post": {
        "tags": [
          "Loan Application Management"
        ],
        "summary": "Create a collateral for a specific loan application.",
        "description": "This endpoint allows users to create a collateral associated with a specific loan application. Ensure that all required fields are populated in the request to successfully add the collateral.",
        "operationId": "createLoanApplicationCollateral",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body contains the relevant information needed to add new collaterals to a specific loan application identified by RES-100045. This includes details about the collateral type, value, and any associated identification or documentation required for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationCollateralRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collateral created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationCollateralResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationCollateralRequest": {
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being provided.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The ownership structure of the collateral (e.g., sole, joint).",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "A list of customer IDs that own the collateral.",
            "example": [
              "CUST-950049"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer.",
              "example": "12345"
            }
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/Value"
          },
          "forcedSaleValue": {
            "description": "The estimated value of the collateral in a forced sale situation.",
            "$ref": "#/components/schemas/Value"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was last valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The company or individual that provided the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "Indicates the priority of the lien on the collateral.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context for the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting information related to collaterals in a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-950049"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "requestContext": {
            "requestId": "4a29773e-fa15-5bf9-a9d8-e7b05d4c75d7",
            "correlationId": "97972c10-ef41-5a47-83ca-b875cec6671d",
            "idempotencyKey": "a51ee53a-b432-5456-84de-9a156d00b144",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-941713"
            }
          }
        }
      },
      "Value": {
        "title": "Value Object",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "300000"
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr_54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests do not create duplicate entries.",
            "example": "idempotency_67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to submit this request.",
            "example": "Loan Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request, capturing identifiers and source details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_abc123"
          }
        },
        "description": "Schema representing the channel information for a request, including identifiers and type."
      },
      "CreateLoanApplicationCollateralResponse_201": {
        "title": "Loan Application Collateral Response",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral provided for the loan.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership associated with the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who own the collateral.",
            "example": [
              "CUST-321221"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer.",
              "example": "123456"
            }
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/Value"
          },
          "forcedSaleValue": {
            "description": "The value of the collateral in case of a forced sale.",
            "$ref": "#/components/schemas/Value"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was last valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation for the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral record.",
            "example": "70d5ebbf-a8a0-e3f7-1fa7-660f7d7b2ac1"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value percentage ratio.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "Timestamp when the lien was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the collateral record.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the collateral.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan application collateral details.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-321221"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "70d5ebbf-a8a0-e3f7-1fa7-660f7d7b2ac1",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "73bd57df-7a15-5273-9e52-93d0fe020e1e",
            "correlationId": "97972c10-ef41-5a47-83ca-b875cec6671d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the collateral record was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the collateral record was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema for audit information related to collateral records."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the collateral was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema for additional metadata related to the collateral."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-collateral"
        },
        "example": "banking-loans-openapi-create-collateral"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication. Clients must include a valid JWT token in the Authorization header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}