{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan Application By Decision Id-spec",
    "description": "This API enables users to update loan application decisions using a specific decision ID. It allows financial institutions to efficiently manage and modify the status or details of a loan application based on recent decisions. Typical consumers include loan officers and financial analysts working to ensure accurate processing of loan requests. By leveraging this API, organizations can streamline their decision-making processes, enhancing response times and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions/{decisionId}": {
      "patch": {
        "tags": [
          "LoanApplication"
        ],
        "summary": "Update the decision for a specific loan application.",
        "description": "This operation allows you to update the decision associated with a specific loan application identified by its unique ID. Use this endpoint to modify details such as status, comments, and other relevant information to accurately reflect the current decision.",
        "operationId": "updateLoanApplicationByDecisionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/decisionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the decision for the specified loan application. Please ensure that the payload adheres to the defined schema to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationByDecisionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the decision has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationByDecisionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationByDecisionIdRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the loan application.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The number of months for the approved loan term.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate percentage for the approved loan.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes associated with the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions that must be met for the loan approval.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Additional comments regarding the loan decision.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request related to the loan approval.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A schema representing the decision information for loan applications.",
        "example": {
          "decision": "STANDARD",
          "provisional": true,
          "riskGrade": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "requestContext": {
            "requestId": "4527a4bd-3a29-5435-a1c8-d447321f8c6a",
            "correlationId": "d416ef19-ef99-5488-9256-64564aac09f5",
            "idempotencyKey": "1de70363-2c43-53ed-8aa2-b5f0a868805a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-402434"
            }
          }
        }
      },
      "ApprovedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the principal is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal approved.",
            "example": "15000"
          }
        },
        "description": "The approved principal amount and its currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the condition.",
            "example": "cond-01"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the condition.",
            "example": "Provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "Date by which the condition must be fulfilled.",
            "example": "2021-09-01"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition (e.g., fulfilled, unfulfilled).",
            "example": "unfulfilled"
          }
        },
        "description": "Condition that must be met for loan approval."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing related requests.",
            "example": "cor-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to handle idempotency for the request.",
            "example": "idemp-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "device-456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateLoanApplicationByDecisionIdResponse_200": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The final decision made on the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source of the decision (e.g., automated system, manual review).",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used to evaluate the application.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the loan application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The estimated probability of default expressed as a percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The applicant's debt-to-income ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the approved loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes associated with the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Good credit history"
            }
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that must be met for the loan approval.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Additional comments related to the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "The ID of the decision that this decision supersedes, if applicable.",
            "example": "b8851652-8b73-73c7-4b8f-88bd86afd2ea"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the decision.",
            "example": "32dfb345-d698-8735-61a0-98340a7492e2"
          },
          "decidedAt": {
            "type": "string",
            "description": "Date and time when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "Identifier of the person or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information for the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the decision.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the decision response for a loan application.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "b8851652-8b73-73c7-4b8f-88bd86afd2ea",
          "id": "32dfb345-d698-8735-61a0-98340a7492e2",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2144c9ce-be87-50c6-8e54-fd6b74ffe6d6",
            "correlationId": "d416ef19-ef99-5488-9256-64564aac09f5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the decision was created.",
            "example": "2021-08-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "ID of the user or system that created the decision.",
            "example": "user-1"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the decision was last updated.",
            "example": "2021-08-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "ID of the user or system that last updated the decision.",
            "example": "user-2"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the decision record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information related to the decision."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2021-08-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the decision was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the loan decision."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "decisionId": {
        "name": "decisionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that was accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-credit-decision"
        },
        "example": "banking-loans-openapi-update-credit-decision"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request, providing insight into which application instance handled the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token authentication mechanism, employing JSON Web Tokens (JWT) to authenticate API requests. Clients must include the token in the Authorization header using the format 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}