{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Document Management API",
    "description": "The Loan Document Management API facilitates the upload and management of documents associated with loan applications. Primarily aimed at financial institutions and application processors, this API allows users to update specific documents related to loan applications efficiently. It ensures that all necessary documents are accurately maintained and accessible, streamlining the loan approval process. Typical use cases include attaching new documents to ongoing applications or replacing existing ones to ensure compliance and completeness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a specific document for a loan application.",
        "description": "This endpoint allows you to update a document associated with a specific loan application identified by its unique ID. Make sure to provide the necessary document details in the request body to successfully complete the operation.",
        "operationId": "updateLoanApplicationDocumentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/documentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the documents associated with the loan application identified by RES-100045. It contains the necessary data for the update operation, structured in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationDocumentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationDocumentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationDocumentRes100045Request": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document being uploaded.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "62d3813a-2e67-c38a-585a-a95af4a3a20f"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with the loan application.",
            "example": "1041d230-c945-6723-061e-0800f31bf6bf"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file being uploaded.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the uploaded file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the uploaded document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA256 checksum for the uploaded file for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Date when the document expires.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for loan application document upload request.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "62d3813a-2e67-c38a-585a-a95af4a3a20f",
          "collateralId": "1041d230-c945-6723-061e-0800f31bf6bf",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "0c7fd573-6fc1-5c54-8fd8-144eea66e1b0",
            "correlationId": "cdaf3302-731a-5091-9a23-cbb26781bea2",
            "idempotencyKey": "f4cdcefc-d845-52ab-ab43-b08635c8c687",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-349379"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "ido-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "LoanManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g. Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the communication channel."
      },
      "UpdateLoanApplicationDocumentRes100045Response_200": {
        "title": "Loan Application Document Response",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document (e.g., ID, proof of income).",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "2bf7d4bd-c146-42ce-926d-7f497620cb70"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with the document.",
            "example": "92944354-4ac5-996b-6664-2fa4c45e80de"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file uploaded for the document.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the document file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Storage reference where the document is stored.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA256 checksum of the document file for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Date when the document expires.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the document record.",
            "example": "817055c2-ff26-ed58-fe9d-265e8d2c8855"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current status of the document verification (e.g., verified, pending).",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments related to the document verification.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Date and time when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Identifier of the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information associated with the document.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata related to the document response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan application document including details about the document and its verification status.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "2bf7d4bd-c146-42ce-926d-7f497620cb70",
          "collateralId": "92944354-4ac5-996b-6664-2fa4c45e80de",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "817055c2-ff26-ed58-fe9d-265e8d2c8855",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c29705df-97a7-5a67-aad9-f8891e4237d9",
            "correlationId": "cdaf3302-731a-5091-9a23-cbb26781bea2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the document was created.",
            "example": "2021-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the document.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the document was last updated.",
            "example": "2021-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the document.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information including creation and update timestamps and user identifiers."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across systems.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2021-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the API response including identification and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "documentId": {
        "name": "documentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processes the loan application request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-application-document"
        },
        "example": "banking-loans-openapi-replace-application-document"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token in the format of a JSON Web Token (JWT) to authenticate requests. It secures endpoints by requiring a valid token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}