{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Operational Service By Param1-spec",
    "description": "The Card Collections Retrieval API enables users to access detailed operational service information related to specific card collections based on provided parameters. This API facilitates access to important financial data, helping banking professionals and developers integrate operational insights into their applications. Typical consumers include financial institutions, app developers, and analysts seeking to optimize their banking solutions. It supports efficient data retrieval for enhanced decision-making and customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections/{param1}": {
      "get": {
        "tags": [
          "Card Collections"
        ],
        "summary": "Retrieve the details of a specified card collection.",
        "description": "This endpoint fetches detailed information about the specified card collection, identified by its unique identifier. It allows developers to access various attributes and status information related to the card collection, facilitating transparency and management of card-related data.",
        "operationId": "getOperationalServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain details about the specific card collection identified by CARD-400045. It must include all necessary parameters required by the service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body expected for the operations related to card collections.",
        "example": "{}"
      },
      "GetOperationalServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "Unique identifier for the card account.",
            "example": "ACC-500138"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the card account.",
            "example": "CUST-224716"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "Number of days the payment is past due.",
            "format": "int32",
            "example": 1
          },
          "outstandingBalance": {
            "description": "Current outstanding balance details for the card account.",
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy applied for managing collections on this card account.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the card account data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the card account.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the card account.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful GET operation on card collections.",
        "example": {
          "cardAccountId": "ACC-500138",
          "customerId": "CUST-224716",
          "daysPastDue": 1,
          "outstandingBalance": {
            "amount": 100,
            "currency": "USD"
          },
          "collectionStrategy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8e30dae6-1298-5bdf-9ec5-bd524b9620bc",
            "correlationId": "e0204384-7a16-5e8d-b811-7d0590291de8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingBalance": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The total outstanding amount on the card account.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the outstanding balance is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the outstanding balance details for a card account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the card account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-get-card-collections"
        },
        "example": "card-collections-get-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes Bearer tokens, typically in the form of a JSON Web Token (JWT), to authenticate users. Ensure the token is included in the 'Authorization' header for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}