{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Knowledge Assets Intellectual Property Portfolio-v5-spec",
    "description": "The Banking Knowledge Assets Management API enables organizations to create and manage their intellectual property portfolios related to banking knowledge. This API facilitates the submission of detailed information about banking innovations, ensuring that critical knowledge assets are documented and protected. Typical consumers of this API include financial institutions and innovation teams focused on leveraging banking expertise. By using this API, businesses can efficiently track and manage their intellectual property, enhancing their competitive advantage in the market.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio": {
      "post": {
        "tags": [
          "Knowledge Assets"
        ],
        "summary": "Create a new intellectual property portfolio.",
        "description": "This operation allows you to create a new intellectual property portfolio within the knowledge assets. Provide the necessary details in the request to successfully generate a portfolio that can be managed and referenced for further actions.",
        "operationId": "createBankingKnowledgeAssetsIntellectualPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to create or update an intellectual property portfolio within the knowledge assets. Ensure that all required fields are filled and formatted correctly according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingKnowledgeAssetsIntellectualPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the intellectual property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingKnowledgeAssetsIntellectualPropertyPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingKnowledgeAssetsIntellectualPropertyPortfolioRequest": {
        "title": "Intellectual Property Portfolio Request Body",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset (e.g., patent, trademark, copyright).",
            "example": "STANDARD"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the intellectual property asset.",
            "example": "NY-4587219"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the intellectual property is registered.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity that owns the IP asset.",
            "example": "STANDARD"
          },
          "renewalDate": {
            "type": "string",
            "description": "The date when the intellectual property asset is due for renewal.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Intellectual Property Portfolio operations.",
        "example": {
          "ipAssetId": "STANDARD",
          "assetType": "STANDARD",
          "registrationNumber": "NY-4587219",
          "jurisdiction": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "renewalDate": "2026-09-15",
          "requestContext": {
            "requestId": "dc143a17-66dd-5ee8-8f93-37f614150f18",
            "correlationId": "c0b514b8-41c8-574f-b938-03195fe6ba79",
            "idempotencyKey": "136016af-375d-5acd-a951-ba457c9642ba",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-247362"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that originated the request.",
            "example": "IP Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application through which the request was made.",
            "example": "Web Portal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device, if applicable.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateBankingKnowledgeAssetsIntellectualPropertyPortfolioResponse_201": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity that owns the asset.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the asset.",
            "example": "RES-688955"
          },
          "status": {
            "type": "string",
            "description": "Current status of the intellectual property asset.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the asset was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the asset.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of an intellectual property portfolio.",
        "example": {
          "ipAssetId": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "resourceId": "RES-688955",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c5a0c5a2-f1c2-50ab-a7ff-9c6fe18801bc",
            "correlationId": "c0b514b8-41c8-574f-b938-03195fe6ba79",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request with the response.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the asset processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema to hold additional metadata for intellectual property assets."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-create-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-create-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to transmit JSON Web Tokens (JWT) for authorization. Clients must include the token in the 'Authorization' header of requests. Ensure that the token is kept secure and not exposed publicly.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}