{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Account By Statement Id-spec",
    "description": "This API allows users to retrieve specific account statement details based on the provided account and statement IDs. It serves financial institutions and third-party applications that require access to detailed statement information for customer accounts. By utilizing this endpoint, developers can seamlessly integrate account statement retrieval functionality into their applications to enhance user experiences. Use cases typically include account management tools and financial analytics dashboards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements/{statementId}": {
      "get": {
        "tags": [
          "Account Statements"
        ],
        "summary": "Retrieve account statement details.",
        "description": "This endpoint allows developers to retrieve the detailed statements for a specific account identified by the account number 'ACC-200045' and statement reference 'RES-100045'. The response includes transaction history, balances, and other relevant account information.",
        "operationId": "getAccountByStatementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/statementId"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve the statements for a specific account and statement ID. This body must be formed according to the specified schema to ensure correct processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountByStatementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of account statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountByStatementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountByStatementIdRequest": {
        "title": "Get Account Statements Request Body",
        "type": "string",
        "description": "This schema represents the request body format for fetching account statements.",
        "example": "{}"
      },
      "GetAccountByStatementIdResponse_200": {
        "title": "Account Statements Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "description": "An array of statements associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Statement"
                }
              }
            },
            "description": "Contains the data related to account statements.",
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-126158",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to trace the request across multiple systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Contains metadata regarding the response.",
            "example": {
              "responseId": "0c66d769-2c7f-54a7-a86e-914c65e80d77",
              "correlationId": "2c51fada-c3c3-574a-b2c5-633dd9cfb577",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for fetching account statements.",
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-126158",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "0c66d769-2c7f-54a7-a86e-914c65e80d77",
            "correlationId": "2c51fada-c3c3-574a-b2c5-633dd9cfb577",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Statement": {
        "title": "Account Statement",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with this statement."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the statement."
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the transaction associated with the statement."
          },
          "Type": {
            "type": "string",
            "description": "The type of the statement (e.g. transaction, summary)."
          },
          "StartDateTime": {
            "type": "string",
            "description": "The start date and time for the statement period."
          },
          "EndDateTime": {
            "type": "string",
            "description": "The end date and time for the statement period."
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when this statement was created."
          },
          "description": {
            "type": "array",
            "description": "A description of the statement.",
            "items": {
              "type": "string"
            }
          },
          "benefit": {
            "type": "array",
            "description": "Benefits associated with the statement.",
            "items": {
              "type": "object",
              "properties": {
                "Type": {
                  "type": "string",
                  "description": "Type of benefit."
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Numerical value of the benefit."
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the benefit."
                    }
                  },
                  "description": "Amount of the benefit including currency."
                }
              }
            }
          },
          "fee": {
            "type": "array",
            "description": "Fees associated with the statement.",
            "items": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string",
                  "description": "Description of the fee."
                },
                "CreditDebitIndicator": {
                  "type": "string",
                  "description": "Indicates if the fee is a credit or debit."
                },
                "Type": {
                  "type": "string",
                  "description": "The type of fee."
                },
                "Rate": {
                  "type": "number",
                  "description": "The fee rate."
                },
                "RateType": {
                  "type": "string",
                  "description": "The type of fee rate (e.g., fixed, variable)."
                },
                "Frequency": {
                  "type": "string",
                  "description": "Frequency of the fee (e.g., monthly, annually)."
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Numerical value of the fee."
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the fee."
                    }
                  },
                  "description": "Amount of the fee including currency."
                }
              }
            }
          },
          "interest": {
            "type": "array",
            "description": "Interest charges or earnings associated with the statement.",
            "items": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string",
                  "description": "Description of the interest."
                },
                "CreditDebitIndicator": {
                  "type": "string",
                  "description": "Indicates if the interest is a credit or debit."
                },
                "Type": {
                  "type": "string",
                  "description": "Type of interest."
                },
                "Rate": {
                  "type": "number",
                  "description": "The interest rate."
                },
                "RateType": {
                  "type": "string",
                  "description": "The type of interest rate (e.g., fixed, variable)."
                },
                "Frequency": {
                  "type": "string",
                  "description": "Frequency of interest charges (e.g., monthly, annually)."
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Numerical value of the interest."
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the interest."
                    }
                  },
                  "description": "Amount of the interest including currency."
                }
              }
            }
          },
          "amount": {
            "type": "array",
            "description": "Transaction amounts including details on credit or debit.",
            "items": {
              "type": "object",
              "properties": {
                "CreditDebitIndicator": {
                  "type": "string",
                  "description": "Indicates if the amount is a credit or debit."
                },
                "Type": {
                  "type": "string",
                  "description": "Type of transaction (e.g., payment, withdrawal)."
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Numerical value of the amount."
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the amount."
                    },
                    "SubType": {
                      "type": "string",
                      "description": "SubType of the transaction amount."
                    }
                  },
                  "description": "Amount of the transaction including currency."
                },
                "LocalAmount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Numerical value of the local amount."
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the local amount."
                    },
                    "SubType": {
                      "type": "string",
                      "description": "SubType of the local amount."
                    }
                  },
                  "description": "Local amount details including currency."
                }
              }
            }
          }
        },
        "description": "This schema represents a single account statement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "statementId": {
        "name": "statementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This can help in tracing the request and debugging issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements-statement-id"
        },
        "example": "accounts-api-get-accounts-account-id-statements-statement-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that made the API request. This header can be useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication, where a JSON Web Token (JWT) is provided as a bearer token in the authorization header. The token is typically generated upon user authentication and must be included in the request headers for access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}