{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management Systems Help Desks-v5-spec",
    "description": "The Banking IT Management Systems Help Desk API provides users access to information about various help desk resources in the banking IT management sector. With this API, developers can retrieve detailed insights regarding help desks associated with IT management systems, helping to enhance service delivery and support. Typical consumers include IT support teams, system administrators, and software developers focused on integrating or improving banking IT solutions. By utilizing this API, organizations can streamline their support operations and improve customer service responsiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve all systems help desk tickets.",
        "description": "This endpoint allows you to fetch a list of all help desk tickets related to IT systems. You can use this to get an overview of ongoing issues and requests within the IT management framework.",
        "operationId": "listBankingItManagementSystemsHelpDesks",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the IT management systems help desk operations. It contains the necessary parameters in JSON format for processing the GET request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementSystemsHelpDesksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementSystemsHelpDesksResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementSystemsHelpDesksRequest": {
        "type": "string",
        "description": "This schema represents the request body for the IT Management Help Desk Operations GET request.",
        "example": "{}"
      },
      "ListBankingItManagementSystemsHelpDesksResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of incidents reported to the help desk.",
            "example": [
              {
                "incidentId": "STANDARD",
                "affectedSystemId": "STANDARD",
                "impact": "STANDARD",
                "urgency": "STANDARD",
                "summary": "STANDARD",
                "reportedBy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Incident"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The field used to sort the incidents.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the help desk operations, containing a list of incidents and pagination information.",
        "example": {
          "items": [
            {
              "incidentId": "STANDARD",
              "affectedSystemId": "STANDARD",
              "impact": "STANDARD",
              "urgency": "STANDARD",
              "summary": "STANDARD",
              "reportedBy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "133a08c7-3630-5974-a5ac-cdb0bedec501",
            "correlationId": "659e53c0-c190-5486-b348-da9ce258c0e1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "The unique identifier for the incident.",
            "example": "INC123456"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "The identifier for the affected system.",
            "example": "SYS123456"
          },
          "impact": {
            "type": "string",
            "description": "The impact level of the incident.",
            "example": "High"
          },
          "urgency": {
            "type": "string",
            "description": "The urgency level of the incident.",
            "example": "Critical"
          },
          "summary": {
            "type": "string",
            "description": "A brief summary of the incident.",
            "example": "System outage affecting multiple users."
          },
          "reportedBy": {
            "type": "string",
            "description": "The person who reported the incident.",
            "example": "John Doe"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the incident.",
            "example": "In Progress"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the incident.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents an incident reported to the help desk."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the help desk response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the correlation of requests.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the help desk response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-search-systems-help-desk"
        },
        "example": "systems-help-desk-search-systems-help-desk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens with JSON Web Tokens (JWT) format. This scheme is primarily used for securing API endpoints by passing a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}