{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Payment By Param1-spec",
    "description": "The Payment Modification API allows for the adjustment of existing payment transactions based on unique parameters. This API is primarily utilized to alter details of card-based e-commerce payments, providing flexibility for businesses to correct or update transaction data as needed. Typical consumers include e-commerce platforms and payment processors looking to enhance transaction accuracy and customer satisfaction. The endpoint supports varying modifications, ensuring effective management of payment records while ensuring compliance with financial regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway/{param1}": {
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Update Card E-Commerce Gateway Payment",
        "description": "This operation allows you to update the details of a specific Card E-Commerce Gateway payment with the ID CARD-400045. Ensure to provide all necessary information to successfully process the update.",
        "operationId": "updatePaymentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update payment details for the specified card transaction through the e-commerce gateway. Ensure that you provide all necessary information in the correct format to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentByParam1Request": {
        "title": "Card Payment Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the payment.",
            "$ref": "#/components/schemas/PaymentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identity of the user/requester initiating the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to update a card payment in the e-commerce gateway operations.",
        "example": {
          "changes": {
            "paymentId": "PAY-747845",
            "debtorAccountId": "ACC-503417",
            "creditorAccountId": "ACC-144769"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "dc5a25d4-3ab7-5b43-a714-eb86689ed316",
            "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
            "idempotencyKey": "9068a7dd-146b-5c30-ace0-f0f054a7f6e1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-330736"
            }
          }
        }
      },
      "PaymentChanges": {
        "title": "Payment Changes",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier of the payment.",
            "example": "string"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The unique identifier of the debtor's account.",
            "example": "string"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The unique identifier of the creditor's account.",
            "example": "string"
          }
        },
        "description": "Schema containing the details of the changes made to the payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name or identifier of the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema containing details about the communication channel used for the request."
      },
      "UpdatePaymentByParam1Response_200": {
        "title": "Card Payment Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "description": "Metadata associated with the payment transaction.",
            "$ref": "#/components/schemas/PaymentMetadata"
          }
        },
        "description": "Response schema for the card payment update operation in an e-commerce gateway.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4a7347e5-9428-54ff-a598-9a0786cf739a",
            "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMetadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used to correlate requests and responses.",
            "example": "654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "US"
          }
        },
        "description": "Metadata details related to a payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-update-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-update-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a valid JSON Web Token (JWT) to be included in the authorization header of requests. The token must comply with the JWT standard to ensure secure and efficient transmission of user credentials and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}