{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collection Management API",
    "description": "The Collection Management API provides stakeholders with the ability to access and retrieve detailed information regarding various collections in the collateral administration domain. This endpoint supports queries related to existing collections, allowing users to gain insights necessary for decision-making and reporting. Typical consumers include financial analysts, portfolio managers, and auditors who require up-to-date collection data for compliance and operational efficiency. Empower your applications with seamless access to crucial collection data to enhance financial oversight and management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve collections related to collateral administration.",
        "description": "This endpoint allows you to fetch collections that are associated with the collateral administration process. It provides detailed insights into the various collections and their statuses.",
        "operationId": "getCollateralAdministrationCollections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the collection of collateral administration data. This body must adhere to the specified JSON schema, which defines the required parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAdministrationCollectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested collections.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAdministrationCollectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAdministrationCollectionsRequest": {
        "title": "Collateral Administration Collections GET Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the collections in collateral administration. It is defined as a string to accommodate any string value as necessary for the operation.",
        "example": "{}"
      },
      "GetCollateralAdministrationCollectionsResponse_200": {
        "title": "Collateral Collection Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of collateral items.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-127886",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving collections of collateral information.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-127886",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5b309602-aecf-546e-99af-4aa4d087d8e9",
            "correlationId": "a4dc05d9-b5b1-5e2b-a9a5-30723f16446a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralItem": {
        "title": "Collateral Item",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the associated party.",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "string"
          },
          "marketValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "Value amount.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "Currency of the value amount.",
                "example": "string"
              }
            },
            "description": "Current market value of the collateral."
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued.",
            "example": "string"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure.",
            "example": "string"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the collateral.",
            "example": 0.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the collateral.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the collateral record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "string"
          }
        },
        "description": "Details of a single collateral item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about pagination of the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the API endpoint that processed the request.",
          "example": "collections-search-collections"
        },
        "example": "collections-search-collections"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Indicates the name of the application that handled the request.",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}