{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Payment Id-spec",
    "description": "The Payment Modification API enables businesses to adjust payment details associated with a specific transaction through its unique Payment ID. This operation allows for the efficient updating of payment attributes to reflect any necessary changes, thus ensuring accurate financial records. Typical consumers include financial institutions, payment processors, and accounting systems requiring real-time updates to payment information. By leveraging this API, developers can enhance transaction accuracy and maintain robust financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}": {
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Update a payment's details",
        "description": "This operation allows you to modify specific details of an existing payment identified by its unique ID. You can adjust various attributes of the payment as needed.",
        "operationId": "updateP2mByPaymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the payment information for the specified payment ID. Please ensure you provide all necessary fields to successfully modify the payment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mByPaymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment details were updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mByPaymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mByPaymentIdRequest": {
        "title": "Payment Operations PATCH Request Body",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order.",
            "example": "ORD-251267"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH request in payment operations.",
        "example": {
          "merchantOrderId": "ORD-251267",
          "requestContext": {
            "requestId": "d6dabec9-d16b-5084-aab0-4f1e2111527c",
            "correlationId": "b69696a4-6427-50a7-9bc2-68297c6a2324",
            "idempotencyKey": "069e0f57-9719-5072-9298-54e4a3afa161",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-176525"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request's idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-08T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema describing the channel information through which the request is made."
      },
      "UpdateP2mByPaymentIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-733773"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "152d4956-056d-5061-8399-992b93baa75e"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-451956"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "ORD-859277"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment is processed.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details of the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details of various payment amounts related to the transaction.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Metadata associated with the payment process.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment operations.",
        "example": {
          "paymentId": "PAY-733773",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "152d4956-056d-5061-8399-992b93baa75e",
          "merchantId": "MER-451956",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-859277",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-611",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "23d89d12-9cce-537d-8982-64572ef13320",
            "correlationId": "b69696a4-6427-50a7-9bc2-68297c6a2324",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method (e.g., credit card, wallet).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code of the bank issuing the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., last four digits of card).",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet payment method.",
            "example": "string"
          }
        },
        "description": "Schema representing the payment method details."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment associated with the customer.",
            "example": "string"
          }
        },
        "description": "Schema representing customer information."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "The amount requested for the payment.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "authorized": {
            "description": "The amount authorized for the payment.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "captured": {
            "description": "The amount captured from the payment.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "refunded": {
            "description": "The amount refunded for the payment.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "reversed": {
            "description": "The amount reversed in the payment transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "tip": {
            "description": "The tip amount if applicable.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the transaction.",
            "example": "array of fee details",
            "items": {
              "$ref": "#/components/schemas/FeeDetails"
            }
          },
          "netToMerchant": {
            "description": "The amount net to the merchant after fees.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Schema representing various amounts related to the payment."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Schema representing a monetary amount."
      },
      "FeeDetails": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee (e.g., processing, transaction).",
            "example": "string"
          },
          "amount": {
            "description": "Details of the fee amount.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "bearer": {
            "type": "string",
            "description": "Entity responsible for the fee (e.g., merchant, customer).",
            "example": "string"
          }
        },
        "description": "Schema representing individual fee details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related events.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the payment process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-payment-metadata"
        },
        "example": "banking-p2m-openapi-update-payment-metadata"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes bearer tokens, specifically JSON Web Tokens (JWT), for authenticating requests. Clients must include the token in the 'Authorization' header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}