{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Enterprise Services Security Advisorys-v5-spec",
    "description": "The Banking Enterprise Services Security Advisory API provides a comprehensive listing of security advisory resources related to banking enterprise services. This endpoint is used to retrieve critical security information and updates to help businesses safeguard their operations against vulnerabilities. Typical consumers include banking institutions, compliance teams, and IT security personnel who require timely access to advisory content for risk management. Utilize this API to stay informed about security threats and best practices in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory": {
      "get": {
        "tags": [
          "Enterprise Security"
        ],
        "summary": "Retrieve security advisory information for enterprise services.",
        "description": "This endpoint allows users to access detailed security advisory information related to enterprise services, enabling organizations to stay informed about potential vulnerabilities and mitigation strategies.",
        "operationId": "listBankingEnterpriseServicesSecurityAdvisorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding security advisories within the enterprise services. It specifically handles queries to fetch details like advisory identifiers, severity levels, and affected components. Ensure that the appropriate criteria are specified to narrow down the results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingEnterpriseServicesSecurityAdvisorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the returned data is available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingEnterpriseServicesSecurityAdvisorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingEnterpriseServicesSecurityAdvisorysRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the security advisory within enterprise services.",
        "example": "{}"
      },
      "ListBankingEnterpriseServicesSecurityAdvisorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of security advisory engagement items.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecurityAdvisoryEngagement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationDetails"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter to order the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Response schema for the security advisory operation GET request, containing a list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "38347fd2-0381-5f53-9652-72d2d534d075",
            "correlationId": "8a7418bb-b48a-5b84-9cb4-76c9a997c22b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecurityAdvisoryEngagement": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "scope": {
            "type": "string",
            "description": "Description of the scope of the engagement."
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the engagement is conducted."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement."
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the engagement."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the engagement record."
          }
        },
        "description": "Schema representing an individual security advisory engagement."
      },
      "PaginationDetails": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "MetadataDetails": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and its responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema representing metadata information included in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-search-security-advisory"
        },
        "example": "security-advisory-search-security-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT token in the 'Authorization' header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}