{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Compliance Regulatory Reportings-spec",
    "description": "The Compliance Regulatory Reporting Retrieval API provides access to the compliance reports required by regulatory bodies in the banking sector. This API allows users to retrieve detailed information about various regulatory reportings, essential for maintaining compliance and transparency. Typical consumers include compliance officers, risk management teams, and financial institutions seeking to monitor their regulatory obligations. By leveraging this API, organizations can efficiently manage and track compliance data, ensuring adherence to regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve regulatory reporting details.",
        "description": "This endpoint allows you to access the latest regulatory reporting information related to compliance. Use this resource to keep track of reporting requirements and ensure adherence to regulatory standards.",
        "operationId": "listComplianceRegulatoryReportings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving regulatory reporting information. Ensure the input adheres to the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListComplianceRegulatoryReportingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the regulatory reporting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListComplianceRegulatoryReportingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListComplianceRegulatoryReportingsRequest": {
        "type": "string",
        "description": "A string representation of the request body for regulatory reporting operations under the compliance namespace.",
        "example": "{}"
      },
      "ListComplianceRegulatoryReportingsResponse_200": {
        "title": "Regulatory Reporting Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of regulatory reporting submissions.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RegulatorySubmission"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Regulatory Reporting API, including a list of items, pagination details, sort information, and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "12a3f379-1389-5dd7-8b0a-f5f660f2ea4e",
            "correlationId": "5201f481-5dd5-59dd-859f-a638d49b97f9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RegulatorySubmission": {
        "title": "Regulatory Submission",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission."
          },
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity associated with the submission."
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the submission falls."
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the submission."
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that the submission pertains to."
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the submission."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the submission record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the submission was last updated."
          }
        },
        "description": "This schema represents a single regulatory submission record.",
        "example": {
          "submissionId": "string",
          "legalEntityId": "string",
          "jurisdiction": "string",
          "reportingPeriod": "string",
          "regulation": "string",
          "dueDate": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "This schema represents pagination details for the response.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed."
          }
        },
        "description": "This schema represents metadata information related to the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-search-regulatory-reporting"
        },
        "example": "regulatory-reporting-search-regulatory-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, where a valid JSON Web Token (JWT) must be included in the authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}