{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Collateral Administration Party Asset Directory Validation-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Collateral Administration Party Asset Directory Validation-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{partyAssetDirectoryId}/validations": {
      "post": {
        "operationId": "createBankingCollateralAdministrationPartyAssetDirectoryValidation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/partyAssetDirectoryId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCollateralAdministrationPartyAssetDirectoryValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCollateralAdministrationPartyAssetDirectoryValidationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCollateralAdministrationPartyAssetDirectoryValidationRequest": {
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "asOfDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "cddb70c4-1744-5e8e-b292-0144bf5b6add",
              "correlationId": "d8262395-04c6-5621-bfb3-a657261d0d2e",
              "idempotencyKey": "529974b3-46a3-5f2f-b464-b1da8497f942",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-335939"
              }
            }
          }
        },
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "cddb70c4-1744-5e8e-b292-0144bf5b6add",
            "correlationId": "d8262395-04c6-5621-bfb3-a657261d0d2e",
            "idempotencyKey": "529974b3-46a3-5f2f-b464-b1da8497f942",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-335939"
            }
          }
        }
      },
      "CreateBankingCollateralAdministrationPartyAssetDirectoryValidationResponse_200": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "6e1a2a52-12d3-551f-bcb0-7a49c1407d04",
              "correlationId": "d8262395-04c6-5621-bfb3-a657261d0d2e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6e1a2a52-12d3-551f-bcb0-7a49c1407d04",
            "correlationId": "d8262395-04c6-5621-bfb3-a657261d0d2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "partyAssetDirectoryId": {
        "name": "partyAssetDirectoryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-validate-party-asset-directory"
        },
        "example": "party-asset-directory-validate-party-asset-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}