{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Personal Current Accounts-spec",
    "description": "The Open Banking Personal Current Accounts API enables developers to access and retrieve detailed information about personal current accounts offered by various banking institutions. This API serves as a comprehensive resource for applications requiring up-to-date data regarding account features, terms, and conditions, making it ideal for fintech solutions, personal finance management tools, and comparison platforms. Users typically include developers building financial applications or services looking to enhance customer insights into available banking products. With this API, businesses can effectively integrate banking information into their digital offerings, facilitating improved customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/personal-current-accounts": {
      "get": {
        "tags": [
          "Personal Current Accounts"
        ],
        "summary": "Retrieve personal current account details.",
        "description": "This endpoint allows users to fetch details of personal current accounts from the open banking platform. It supports options for filtering and pagination, ensuring that users can access the information they need efficiently.",
        "operationId": "listOpenBankingPersonalCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve personal current account information through the Open Banking API. It includes parameters that specify the details of the accounts being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingPersonalCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of personal current accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingPersonalCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingPersonalCurrentAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on personal current accounts in Open Banking. It is expected to be a JSON string.",
        "example": "{}"
      },
      "ListOpenBankingPersonalCurrentAccountsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "description": "Metadata about the response including last updated timestamp and total results.",
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "description": "A list of current account products available.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-591",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductType": "STANDARD",
                "ProductName": "Northstar Banking Service",
                "ProductSegment": [
                  "STANDARD"
                ],
                "InternationalPaymentsSupported": true,
                "ProductIdentifier": "PROD-570475",
                "CardWithdrawalLimit": "STANDARD",
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "AccessChannels": [
                  "STANDARD"
                ],
                "CardType": [
                  "STANDARD"
                ],
                "Contactless": true,
                "MobileWallet": [
                  "STANDARD"
                ],
                "CardNotes": "STANDARD",
                "ChequeBookAvailable": true,
                "CreditScoringPartOfAccountOpening": true,
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningText": "STANDARD",
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningIDVerificationText": [
                  "STANDARD"
                ],
                "MaximumMonthlyCharge": "STANDARD",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Currency": [
                  "USD"
                ],
                "OverdraftOffered": true,
                "Feature": [
                  {
                    "ExistingFeature": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountProduct"
            }
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response object for the successful retrieval of personal current account operations.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-591",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductType": "STANDARD",
              "ProductName": "Northstar Banking Service",
              "ProductSegment": [
                "STANDARD"
              ],
              "InternationalPaymentsSupported": true,
              "ProductIdentifier": "PROD-570475",
              "CardWithdrawalLimit": "STANDARD",
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "AccessChannels": [
                "STANDARD"
              ],
              "CardType": [
                "STANDARD"
              ],
              "Contactless": true,
              "MobileWallet": [
                "STANDARD"
              ],
              "CardNotes": "STANDARD",
              "ChequeBookAvailable": true,
              "CreditScoringPartOfAccountOpening": true,
              "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningText": "STANDARD",
              "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningIDVerificationText": [
                "STANDARD"
              ],
              "MaximumMonthlyCharge": "STANDARD",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Currency": [
                "USD"
              ],
              "OverdraftOffered": true,
              "Feature": [
                {
                  "ExistingFeature": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "e7e39b54-a165-537d-960c-960373b7f611",
            "correlationId": "acb87a7b-064d-50be-a472-ff7c6c918920",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The date and time when the information was last updated.",
            "example": "2023-10-10T00:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "The total number of account products returned.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "Details of the agreement.",
            "example": "Current account agreement terms."
          },
          "License": {
            "type": "string",
            "description": "License information.",
            "example": "License details."
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the products.",
            "example": "Terms of use details."
          }
        },
        "description": "Metadata information including timestamps, agreements, and licenses."
      },
      "AccountProduct": {
        "type": "object",
        "properties": {
          "Organisation": {
            "description": "Details about the organization offering the product.",
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the product.",
            "example": "Current Account"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Basic Current Account"
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments of the product.",
            "items": {
              "type": "string",
              "example": "Standard"
            }
          },
          "InternationalPaymentsSupported": {
            "type": "boolean",
            "description": "Indicates if international payments are supported.",
            "example": false
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "prod-12345"
          },
          "CardWithdrawalLimit": {
            "type": "string",
            "description": "Limit on card withdrawal.",
            "example": "500"
          },
          "ProductDescription": {
            "type": "string",
            "description": "Description of the product.",
            "example": "A basic current account with no monthly fees."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions applicable to the product.",
            "items": {
              "type": "string",
              "example": "No overdraft facility."
            }
          },
          "AccessChannels": {
            "type": "array",
            "description": "Channels through which the product can be accessed.",
            "items": {
              "type": "string",
              "example": "Mobile App"
            }
          },
          "CardType": {
            "type": "array",
            "description": "Types of cards available with the product.",
            "items": {
              "type": "string",
              "example": "Debit Card"
            }
          },
          "Contactless": {
            "type": "boolean",
            "description": "Indicates if contactless payment is available.",
            "example": false
          },
          "MobileWallet": {
            "type": "array",
            "description": "Mobile wallet compatibility.",
            "items": {
              "type": "string",
              "example": "Apple Pay"
            }
          },
          "CardNotes": {
            "type": "string",
            "description": "Any notes related to the card.",
            "example": "Requires verification for international usage."
          },
          "ChequeBookAvailable": {
            "type": "boolean",
            "description": "Indicates if a cheque book is available.",
            "example": false
          },
          "CreditScoringPartOfAccountOpening": {
            "type": "boolean",
            "description": "Indicates if credit scoring is part of account opening.",
            "example": false
          },
          "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Details about the type of credit score used in account opening.",
            "items": {
              "type": "string",
              "example": "Soft"
            }
          },
          "CreditScoringPartOfAccountOpeningText": {
            "type": "string",
            "description": "Text related to credit scoring at account opening.",
            "example": "A soft credit check will be performed."
          },
          "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Details about the credit score used for ID verification.",
            "items": {
              "type": "string",
              "example": "Hard"
            }
          },
          "CreditScoringPartOfAccountOpeningIDVerificationText": {
            "type": "array",
            "description": "Text related to credit score ID verification.",
            "items": {
              "type": "string",
              "example": "A hard credit check will be performed for identity verification."
            }
          },
          "MaximumMonthlyCharge": {
            "type": "string",
            "description": "The maximum monthly charge for the account.",
            "example": "10.00"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for more information about the product.",
            "items": {
              "type": "string",
              "example": "http://example.com/basic-current-account"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Currencies supported by the product.",
            "items": {
              "type": "string",
              "example": "GBP"
            }
          },
          "OverdraftOffered": {
            "type": "boolean",
            "description": "Indicates if an overdraft is offered.",
            "example": false
          },
          "Feature": {
            "type": "array",
            "description": "Features associated with the account product.",
            "items": {
              "$ref": "#/components/schemas/AccountFeature"
            }
          }
        },
        "description": "Information about a specific account product."
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "description": "Information about the parent organization.",
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "description": "Brand information of the organization.",
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Details of the organization providing the account product."
      },
      "ParentOrganisation": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the organization.",
            "example": "123456789ABCDEF"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) of the organization.",
            "example": "BANKGB2L"
          },
          "OrganisationName": {
            "description": "Name of the organization.",
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Information about the parent organization."
      },
      "OrganisationName": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organization.",
            "example": "ABC Bank Ltd"
          }
        },
        "description": "Name details of the organization."
      },
      "Brand": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Intellectual Property Office code of the trademark.",
            "example": "UK12345678"
          },
          "TrademarkID": {
            "type": "string",
            "description": "ID of the trademark.",
            "example": "TM123456"
          }
        },
        "description": "Brand details of the organization."
      },
      "AccountFeature": {
        "type": "object",
        "properties": {
          "ExistingFeature": {
            "type": "boolean",
            "description": "Indicates if the feature already exists.",
            "example": false
          }
        },
        "description": "Features associated with a product account."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to identify related requests and responses.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses a bearer token. The token should be a JSON Web Token (JWT) that permits access to secured resources. The client must include this token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}