{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Channel Activity Analysi By Channel Activity Analysis Id-v5-spec",
    "description": "The Channel Activity Analysis Retrieval API enables users to access detailed banking operational service channel activity data by a specific channel activity analysis ID. This API is essential for financial analysts and decision-makers seeking insights into channel performance and customer interactions. It allows for the examination of trends and anomalies in banking activities, fostering informed strategic decisions. Typical use cases include generating reports for internal assessments or enhancing customer service based on historical channel activity data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis/{channelActivityAnalysisId}": {
      "get": {
        "tags": [
          "Channel Activity Analysis"
        ],
        "summary": "Fetch channel activity analysis for a specific resource.",
        "description": "This endpoint retrieves detailed channel activity analysis for the specified resource identified by RES-100045. Use this endpoint to monitor and analyze the performance and interaction metrics of the channel associated with the resource.",
        "operationId": "getBankingOperationalServicesChannelActivityAnalysiByChannelActivityAnalysisId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/channelActivityAnalysisId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters necessary to perform the channel activity analysis. It should include specific details about the operation to be analyzed, enabling accurate data retrieval and analysis for the specified resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesChannelActivityAnalysiByChannelActivityAnalysisIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested channel activity analysis data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesChannelActivityAnalysiByChannelActivityAnalysisIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesChannelActivityAnalysiByChannelActivityAnalysisIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET request to the operations channel activity analysis endpoint.",
        "example": "{}"
      },
      "GetBankingOperationalServicesChannelActivityAnalysiByChannelActivityAnalysisIdResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "CUST-660302"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account involved in the operation.",
            "example": "ACC-592575"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record related to the operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the operation response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the operation analysis of channel activities.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-660302",
          "accountId": "ACC-592575",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a51ca2c0-10db-553f-a75c-8cdfa7b444e8",
            "correlationId": "b79f21a6-0aaa-5db9-a30b-391cc135eafe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "channelActivityAnalysisId": {
        "name": "channelActivityAnalysisId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-get-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-get-channel-activity-analysis"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, adhering to the JWT (JSON Web Token) standard. Clients should include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}