{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchandising Loan API",
    "description": "The Merchandising Loan API enables businesses to facilitate loans specifically designed for acquiring merchandise. This endpoint allows users to submit loan applications, which can be efficiently processed to help finance inventory purchases. Typical consumers include retailers and wholesale distributors seeking to optimize their cash flow. By leveraging this API, businesses can enhance their operational efficiency and make data-driven decisions regarding their merchandising strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/merchandising-loan": {
      "post": {
        "tags": [
          "Loan Services"
        ],
        "summary": "Create a Merchandising Loan",
        "description": "This endpoint allows users to initiate the process of creating a merchandising loan, providing necessary details for the loan application.",
        "operationId": "createMerchandisingLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a merchandising loan. It requires a JSON formatted payload that contains the necessary parameters for processing the loan transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchandisingLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New merchandising loan successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchandisingLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchandisingLoanRequest": {
        "title": "Merchandising Loan Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer requesting the loan.",
            "example": "CUST-826098"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the loan.",
            "example": "ACC-869875"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product type of the loan.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for creating a merchandising loan.",
        "example": {
          "customerId": "CUST-826098",
          "accountId": "ACC-869875",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "b1527b10-a15d-5727-8d3b-84565b484b06",
            "correlationId": "c21a0050-0b2b-55f9-8484-3d2d2fffff22",
            "idempotencyKey": "978b13c2-2eab-5685-b259-b2a099bcb862",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-329127"
            }
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amount is specified.",
            "example": "string"
          }
        },
        "description": "This schema defines the principal amount and currency for the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests across different systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information about the API request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device from which the request is made.",
            "example": "string"
          }
        },
        "description": "This schema represents the channel through which the request is made."
      },
      "CreateMerchandisingLoanResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the loan.",
            "example": "CUST-676152"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account linked to the loan.",
            "example": "ACC-262195"
          },
          "productCode": {
            "type": "string",
            "description": "Identifier for the product related to the loan.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Resource identifier for the specific loan transaction.",
            "example": "RES-529910"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation related to merchandising loans in the deposit lending context.",
        "example": {
          "customerId": "CUST-676152",
          "accountId": "ACC-262195",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-529910",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3c89934f-b00a-5284-b55d-702c5603affc",
            "correlationId": "c21a0050-0b2b-55f9-8484-3d2d2fffff22",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata schema containing additional information regarding the loan operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchandising-loan-create-merchandising-loan"
        },
        "example": "merchandising-loan-create-merchandising-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, useful for logging and monitoring the app's performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). To authenticate, provide the token in the 'Authorization' header with the format 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}