{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update It Management By Param1-spec",
    "description": "The IT Management Direction Update API allows businesses to modify the strategic direction of their IT systems based on specific parameters. This API enables users to patch existing configurations for improved alignment with organizational goals. Typical consumers include IT managers and system administrators who need to adapt IT policies in response to changing business needs. By using this API, organizations can ensure that their IT infrastructure supports their evolving priorities effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction/{param1}": {
      "patch": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update IT System Direction",
        "description": "This endpoint allows you to partially update the details of a specific IT System Direction identified by RES-100045. Utilize this request to modify attributes, ensuring your IT system remains aligned with organizational goals.",
        "operationId": "updateItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating IT system direction details for the specified resource. This update may include changes to various attributes related to the IT systems direction as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateItManagementByParam1Request": {
        "title": "Operations PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the modifications that need to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PATCH operation on the Operations resource, containing the details of changes requested.",
        "example": {
          "changes": {
            "policyId": "STANDARD",
            "title": "Banking operation completed",
            "ownerTeam": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2e141063-64ff-5eaf-9561-18e5f812ba48",
            "correlationId": "41067b31-b7f4-577a-9024-32f90f4cfa33",
            "idempotencyKey": "74bb4de7-8764-573e-95b8-e3e5ad5176e3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-848362"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The identifier of the policy to be modified.",
            "example": "policy-67890"
          },
          "title": {
            "type": "string",
            "description": "The new title for the policy.",
            "example": "Updated Policy Title"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "Finance Team"
          }
        },
        "description": "An object containing the specific changes to be applied."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests in a transaction.",
            "example": "correlation-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-30T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal Service X"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Agent App Y"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata and contextual details regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the communication channel.",
            "example": "channel-54321"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateItManagementByParam1Response_200": {
        "title": "Response Schema for IT Management Operation",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the IT Management systems operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a20c50e2-1ced-5b00-a88a-1dea5218c1ec",
            "correlationId": "41067b31-b7f4-577a-9024-32f90f4cfa33",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata related to the operation's request and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-update-it-systems-direction"
        },
        "example": "it-systems-direction-update-it-systems-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of the request to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}