{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution Management API",
    "description": "The Institution Management API provides access to institutional data across various sectors. It allows consumers to retrieve detailed information about registered institutions, which can be beneficial for educational organizations, regulatory agencies, and research entities. This endpoint delivers structured data encompassing institution names, types, locations, and other pertinent attributes. Typical use cases include data analysis, compliance reporting, and enhancing educational resources based on institutional data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions": {
      "get": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Retrieve a list of institutions.",
        "description": "This endpoint allows you to fetch a comprehensive list of all institutions available in the system. You can use this to gather data for reporting, analysis, or user interfaces.",
        "operationId": "getInstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving institution data, which specifies the parameters for filtering or searching the institutions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of institutions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation on institutions.",
        "example": "{}"
      },
      "GetInstitutionsResponse_200": {
        "title": "Institutions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates whether more institutions are available beyond the current set.",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the institutions data was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "List of institution objects.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "displayName": "Northstar Banking Service",
                "liabilityData": true,
                "billPayData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET request on institutions, containing information about the institutions found.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "displayName": "Northstar Banking Service",
              "liabilityData": true,
              "billPayData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "4768dd87-3252-5588-a102-604d7b592b2c",
            "correlationId": "accd4d04-076a-5217-a6fe-c266ab4f10c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH payments are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if voice identification is enabled.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if voice authentication is enabled.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if account holder authentication is enabled.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information is provided.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if the account owner can be displayed.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are provided.",
            "example": false
          },
          "displayName": {
            "type": "string",
            "description": "The display name for the institution.",
            "example": "string"
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill payment data is provided.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the account type.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the institution.",
            "example": "string"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL for the home application of the institution.",
            "example": "string"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL for the login application of the institution.",
            "example": "string"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the forgot password page.",
            "example": "string"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online registration.",
            "example": "string"
          },
          "class": {
            "type": "string",
            "description": "The class type of the institution.",
            "example": "string"
          },
          "specialText": {
            "type": "string",
            "description": "Special text or notes relevant to the institution.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone of the institution.",
            "example": "string"
          },
          "specialInstructions": {
            "type": "array",
            "description": "List of special instructions for the institution.",
            "items": {
              "type": "string"
            }
          },
          "title": {
            "type": "string",
            "description": "Title or heading for the institution.",
            "example": "string"
          },
          "address": {
            "description": "Address information for the institution.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Representation of an individual institution with its details."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City of the institution's address.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the institution's address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the institution's address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the institution's address.",
            "example": "string"
          }
        },
        "description": "Representation of an address associated with an institution."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the institutions API."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions"
        },
        "example": "open-finance-api-get-institutions"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, used for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme which requires a JSON Web Token (JWT) to be included in the Authorization header of HTTP requests. The token must be valid to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}