{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Routing API",
    "description": "The Contact Routing API facilitates the efficient handling of customer inquiries across multiple banking channels. This endpoint allows users to retrieve the optimal routing information for customer contacts based on the specified parameters. Typical consumers include bank customer service representatives and automated systems that manage customer interactions. Use cases for this API include directing calls, messages, or other inquiries to the most suitable channel or representative, thereby enhancing customer experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing/{param1}": {
      "get": {
        "tags": [
          "Contact Routing"
        ],
        "summary": "Retrieve contact routing details for RES-100045.",
        "description": "This endpoint allows you to fetch detailed information regarding the contact routing for the specified resource identifier RES-100045. It provides essential data needed for understanding the routing mechanisms in cross-channel communications.",
        "operationId": "getRes100045ContactRouting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching contact routing information for a specific resource identified by RES-100045. The body must conform to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRes100045ContactRoutingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the contact routing details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRes100045ContactRoutingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRes100045ContactRoutingRequest": {
        "type": "string",
        "description": "This schema represents a request body for the cross-channel contact routing operation.",
        "example": "{}"
      },
      "GetRes100045ContactRoutingResponse_200": {
        "title": "Contact Routing Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "A unique identifier for the party.",
            "example": "PARTY-208743"
          },
          "interactionId": {
            "type": "string",
            "description": "A unique identifier for the interaction.",
            "example": "INT-806024"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the interaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the contact routing operation.",
        "example": {
          "partyId": "PARTY-208743",
          "interactionId": "INT-806024",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "85c1cbd6-9019-5676-ae30-a78a32f2abb4",
            "correlationId": "7302f379-d8e1-5775-9785-5cdf38a77985",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "res-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate related requests and responses.",
            "example": "corr-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing the metadata associated with the contact routing response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-get-contact-routing"
        },
        "example": "contact-routing-get-contact-routing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token of type JWT (JSON Web Token) for securing API endpoints, allowing clients to authenticate by including the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}