{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Adjustment API",
    "description": "The Investment Portfolio Adjustment API allows users to fine-tune their investment portfolios by modifying specific parameters associated with their investments. This API is primarily used by financial advisors and portfolio managers to respond to changing market conditions or client preferences. Users can update allocation strategies, risk levels, and other key metrics to ensure optimal performance. By facilitating real-time adjustments, the API enhances portfolio management effectiveness and client satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-planning/{param1}": {
      "patch": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Update Investment Portfolio Planning Resource",
        "description": "This endpoint allows users to update the details of a specific investment portfolio planning resource identified by the given resource ID. It supports partial updates to enable flexibility in managing investment plans.",
        "operationId": "updateInvestmentPortfolioPlanningRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the investment portfolio planning details for the specified resource. This request allows you to modify various aspects of the investment portfolio including adjustments to the asset allocation, risk profile, and other related attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvestmentPortfolioPlanningRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request completed successfully and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInvestmentPortfolioPlanningRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateInvestmentPortfolioPlanningRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/InvestmentPortfolioChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the PATCH operation related to investment portfolio planning.",
        "example": {
          "changes": {
            "portfolioId": "PORT-482146",
            "investmentAccountId": "ACC-679266",
            "investmentObjective": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6233bdfc-efe4-5524-afb9-a4d307670652",
            "correlationId": "8e6525be-bea4-50e2-b79c-034d6ffcda32",
            "idempotencyKey": "b2d6eb79-5b93-59b9-8468-2af7ccc278d3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-287006"
            }
          }
        }
      },
      "InvestmentPortfolioChanges": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier of the investment portfolio to be changed.",
            "example": "portfolio-12345"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The identifier of the associated investment account.",
            "example": "account-54321"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The objective of the investment, such as growth, income, or capital preservation.",
            "example": "Growth"
          }
        },
        "description": "Schema representing the changes to the investment portfolio."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and events across systems.",
            "example": "corr-112233"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "idempotency-56789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "InvestmentManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "FrontendApp"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateInvestmentPortfolioPlanningRes100045Response_200": {
        "title": "Investment Portfolio Planning Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, e.g., 'success' or 'error'.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema defines the structure of the response returned after a successful PATCH operation for investment portfolio planning.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d277188f-b784-5ea2-b221-a1606434b66f",
            "correlationId": "8e6525be-bea4-50e2-b79c-034d6ffcda32",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier that correlates related requests and responses.",
            "example": "xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-10T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema defines the metadata structure returned with the response, including identifiers and generation timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that the request is being sent to. This is useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-update-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-update-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This can help in debugging and operational monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a valid JSON Web Token (JWT) is required in the Authorization header for access to protected resources. Clients must obtain a JWT from the authentication server and include it in every request that requires authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}