{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Confirmation Matching API",
    "description": "The Trade Confirmation Matching API facilitates the synchronization and validation of trade confirmations between trading parties. This endpoint allows users to update the confirmation statuses and reconcile discrepancies efficiently. Typical consumers include trading platforms, compliance systems, and financial institutions that require accurate matching of trade confirmations to ensure regulatory compliance. By leveraging this API, users can streamline their operations, reduce unintended risks, and enhance communication between counterparties.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-confirmation-matching/{param1}": {
      "patch": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Update Trade Confirmation Matching",
        "description": "This endpoint allows you to update the details related to the trade confirmation matching for the specified resource. It is designed to ensure that the latest information is accurately reflected in the system.",
        "operationId": "patchTradeConfirmationMatchingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the trade confirmation matching for the specified operation. Ensure that the necessary fields are included in the payload to achieve the desired update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTradeConfirmationMatchingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the trade confirmation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTradeConfirmationMatchingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchTradeConfirmationMatchingRes100045Request": {
        "title": "Trade Confirmation Matching Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/TradeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The datetime when the changes should take effect in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the PATCH operation related to trade confirmation matching.",
        "example": {
          "changes": {
            "tradeId": "STANDARD",
            "instrumentId": "STANDARD",
            "settlementDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "56357d56-4f42-5cd0-b5a6-afb86438eb59",
            "correlationId": "df2eeba6-2809-5b68-8545-4765df1fd452",
            "idempotencyKey": "44bc9c8f-1149-5710-9040-13eed4b757ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-591173"
            }
          }
        }
      },
      "TradeChanges": {
        "title": "Trade Changes",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "T123456"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument involved in the trade.",
            "example": "I654321"
          },
          "settlementDate": {
            "type": "string",
            "description": "The new settlement date for the trade in ISO 8601 format.",
            "example": "2023-10-02"
          }
        },
        "description": "Schema representing the changes to be made to the trade."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "R0987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "C987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is not processed multiple times.",
            "example": "IDEMPOTENT_KEY_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The datetime when the request was made in ISO 8601 format.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "TradeSystemDev"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "TradingApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used in the request.",
            "example": "Channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used to make the request (e.g., API, UI, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "Device_123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "PatchTradeConfirmationMatchingRes100045Response_200": {
        "title": "Trade Confirmation Matching Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the trade confirmation matching operation, indicating the result of a PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "04a43f0e-ab61-5915-972f-57384ed30346",
            "correlationId": "df2eeba6-2809-5b68-8545-4765df1fd452",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Contains additional information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-confirmation-matching-update-trade-confirmation-matching"
        },
        "example": "trade-confirmation-matching-update-trade-confirmation-matching"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism that employs JSON Web Tokens (JWT) for secure access to the API. Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}