{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_User Type Selection API",
    "description": "The User Type Selection API allows businesses to effectively define and manage user types related to cash flow analytics for specific customers. By submitting user type information, users can tailor analytics reports to better fit the profiles and behaviors of their customer segments. This API is particularly valuable for analysts and developers working on financial applications that require granular control over user categorization. It enhances the decision-making process by enabling precise customization of financial insights based on different user types.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/cashflow-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "Customer Analytics"
        ],
        "summary": "Create user type analytics report for a customer.",
        "description": "This operation allows the creation of a user type analytics report for a specific customer based on their cash flow analytics data. It facilitates detailed insights into the customer's behavior and financial interactions.",
        "operationId": "createUserTypeAnalyticsForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/usertypeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit information related to user types for cash flow analytics under a specific customer report. It accepts a JSON object that contains the necessary data to create or update user types accordingly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserTypeAnalyticsForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserTypeAnalyticsForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateUserTypeAnalyticsForCustomerRequest": {
        "title": "Cashflow Analytics Report Request",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Contains data related to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "A comma-separated list of account IDs for which the report is requested.",
            "example": "ACC-188718"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields that can be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for generating a cashflow analytics report.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "applicantIsPersonalGuarantor": true,
            "timeIntervalTypes": [
              "STANDARD"
            ]
          },
          "accountIds": "ACC-188718",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "requestContext": {
            "requestId": "15fbf62b-0c13-5f56-af98-78ac2d71db1e",
            "correlationId": "fa372bfb-ba14-5e96-9ee1-32f6eaf931c4",
            "idempotencyKey": "b76f087f-2789-59e0-a7b8-c9f9388b51ab",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-721542"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "A list of time interval types.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "Various interval types for the time period."
            }
          }
        },
        "description": "Schema representing the data related to analytics reports."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown in the report.",
            "example": false
          }
        },
        "description": "Schema representing a custom field that can be included in the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp at which the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information regarding the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel of the request."
      },
      "CreateUserTypeAnalyticsForCustomerResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the entity.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "17f3c970-cbe3-5f65-b4c8-336bfaa29294"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the record was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title of the report.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "The identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement related to any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of the entity.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the entity.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the responses for cashflow analytics user types.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "17f3c970-cbe3-5f65-b4c8-336bfaa29294",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-980313"
            ]
          },
          "metadata": {
            "responseId": "296c2d9a-4919-55a1-9fac-452015814234",
            "correlationId": "fa372bfb-ba14-5e96-9ee1-32f6eaf931c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The postal code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the end user."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The residential address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer lives.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer lives.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The postal code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "array",
            "description": "A list of account identifiers.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "The identifiers for various accounts."
            }
          }
        },
        "description": "Schema representing constraints related to the request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the request and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "usertypeId": {
        "name": "usertypeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-cashflow-analytics-report"
        },
        "example": "open-finance-api-generate-cashflow-analytics-report"
      },
      "X-Runtime-App": {
        "description": "The application where the request was processed, providing insights into the execution environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for authentication. The client must include the bearer token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}