{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management Systems Assurances-v5-spec",
    "description": "The Banking IT Management Systems Assurance API provides access to a comprehensive list of systems assurance metrics within banking IT management. This API serves as a vital resource for IT professionals, auditors, and financial analysts seeking insights into system efficiency and compliance standards. Users can retrieve detailed assurance reports, system performance data, and compliance status updates, facilitating better decision-making and risk management. Typical use cases include performance monitoring, compliance checks, and audits, ensuring that banking systems meet regulatory and operational standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve Systems Assurance Information",
        "description": "This endpoint allows users to fetch detailed information regarding systems assurance within IT management. It provides insights into compliance, risk management, and assurance practices to ensure that IT systems are reliable and secure.",
        "operationId": "listBankingItManagementSystemsAssurances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body containing the parameters for retrieving systems assurance information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementSystemsAssurancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of system assurance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementSystemsAssurancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementSystemsAssurancesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to systems assurance. It is designed to accept a string input.",
        "example": "{}"
      },
      "ListBankingItManagementSystemsAssurancesResponse_200": {
        "title": "Systems Assurance List Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of system assurance items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemAssuranceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving the list of systems assurance items.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8e27f291-68a5-50eb-8327-b193c091bb05",
            "correlationId": "e02642f3-ff5d-5707-9907-40dbec8cc868",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemAssuranceItem": {
        "title": "System Assurance Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "SYS-12345"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates.",
            "example": "Production"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for changes related to this system.",
            "example": "CHG-67890"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the system.",
            "example": "DevOps"
          },
          "plannedAt": {
            "type": "string",
            "description": "Planned date and time for the next activity.",
            "example": "2023-10-01T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier associated with the system.",
            "example": "Gold"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 99.99
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "Sunday 2 AM - 4 AM"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the system record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the system record.",
            "example": "2023-10-01T09:30:00Z"
          }
        },
        "description": "A single system assurance item containing its details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint. This can be used for tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-search-systems-assurance"
        },
        "example": "systems-assurance-search-systems-assurance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request. This helps identify the source of the request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method using JSON Web Tokens (JWT). Clients are required to include a Bearer token in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}