{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create It Management Development Environment-spec",
    "description": "This API facilitates the establishment of development environments within IT management frameworks. It enables organizations to efficiently set up and configure necessary environments tailored for their banking services. Typical consumers include IT teams and software developers who require swift and reliable setups for testing and development purposes. By standardizing the creation process, this API helps streamline workflows and enhances productivity in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/development-environment": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new development environment.",
        "description": "This operation allows users to create and configure a new development environment in the IT management system, enabling the necessary setup for development work to begin efficiently.",
        "operationId": "createItManagementDevelopmentEnvironment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or configure a new development environment within the IT management system. It should contain all necessary parameters and configurations for setting up the environment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItManagementDevelopmentEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The development environment resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateItManagementDevelopmentEnvironmentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateItManagementDevelopmentEnvironmentRequest": {
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "Unique identifier for the environment.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier of the application associated with the environment.",
            "example": "APP-488670"
          },
          "runtime": {
            "type": "string",
            "description": "The runtime environment designation (e.g., Node.js, Python).",
            "example": "STANDARD"
          },
          "region": {
            "type": "string",
            "description": "The geographical region where the environment is hosted.",
            "example": "New York"
          },
          "dataClassification": {
            "type": "string",
            "description": "Classification of data processed in the environment (e.g., Public, Internal, Confidential).",
            "example": "STANDARD"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration date and time for the environment setup in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a development environment in IT management.",
        "example": {
          "environmentId": "STANDARD",
          "applicationId": "APP-488670",
          "runtime": "STANDARD",
          "region": "New York",
          "dataClassification": "STANDARD",
          "expiresAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "fb548e32-d743-5b77-9a84-9f4d3208cf1f",
            "correlationId": "1a8a7d57-2ee2-5bd5-bcfa-c6700848c20a",
            "idempotencyKey": "6fa98b5c-36e9-57eb-a512-82f564b75cd0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-473179"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotency-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from where the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Source application that initiated the request.",
            "example": "App1"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request if applicable.",
            "example": "device-999"
          }
        },
        "description": "Details about the channel that made the request."
      },
      "CreateItManagementDevelopmentEnvironmentResponse_201": {
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "The unique identifier for the development environment.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application associated with the environment.",
            "example": "APP-970120"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the environment.",
            "example": "RES-154760"
          },
          "status": {
            "type": "string",
            "description": "The current status of the development environment.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the development environment was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Information related to the response such as identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a development environment.",
        "example": {
          "environmentId": "STANDARD",
          "applicationId": "APP-970120",
          "resourceId": "RES-154760",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "40f894be-05bd-5fc2-b57c-5751a64d48e0",
            "correlationId": "1a8a7d57-2ee2-5bd5-bcfa-c6700848c20a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "development-environment-create-development-environment"
        },
        "example": "development-environment-create-development-environment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token to authenticate requests. The token should be a JSON Web Token (JWT) that is included in the `Authorization` header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}