{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mortgage Loan Information API",
    "description": "The Mortgage Loan Information API provides essential details about mortgage loan offerings, allowing users to access comprehensive data on loan terms, interest rates, and eligibility requirements. This service is designed for financial institutions and developers seeking to integrate mortgage information into their applications or services. Typical consumers include mortgage brokers, banks, and fintech companies looking to enhance borrower experiences with real-time loan insights. By leveraging this API, developers can effectively support users in making informed borrowing decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/mortgage-loan": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Mortgage Loan Information",
        "description": "This endpoint allows users to fetch detailed information about mortgage loans available for deposit lending. It provides essential data such as interest rates, terms, and eligibility requirements to assist users in making informed decisions.",
        "operationId": "getMortgageLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding mortgage loans under deposit lending. Ensure to provide all necessary parameters for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMortgageLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved mortgage loan data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMortgageLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMortgageLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to mortgage loan operations in the deposit lending service.",
        "example": "{}"
      },
      "GetMortgageLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of mortgage loan items.",
            "example": [
              {
                "customerId": "CUST-101330",
                "accountId": "ACC-124860",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "propertyId": "STANDARD",
                "propertyValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "loanToValuePercent": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MortgageLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the loan items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving mortgage loan information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-101330",
              "accountId": "ACC-124860",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "propertyId": "STANDARD",
              "propertyValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "loanToValuePercent": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b63e5541-a7f9-5e3d-8793-8c0a0468f598",
            "correlationId": "0a376720-f333-5ff4-963c-71d0b3c31a40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MortgageLoanItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the mortgage loan product."
          },
          "principal": {
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment."
          },
          "propertyId": {
            "type": "string",
            "description": "Unique identifier for the property associated with the loan."
          },
          "propertyValue": {
            "$ref": "#/components/schemas/Money"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "Loan-to-value percentage ratio."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Details of a mortgage loan item."
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical amount of money."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the monetary value."
          }
        },
        "description": "An object representing a monetary value."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information related to pagination of the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-search-mortgage-loan"
        },
        "example": "mortgage-loan-search-mortgage-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. Clients must include a JWT (JSON Web Token) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}