{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Facilities Equipment Administration-v5-spec",
    "description": "The Banking Facilities Equipment Administration API enables financial institutions to efficiently manage and oversee their banking equipment across various facilities. This API allows users to register, update, and customize equipment settings and resources that enhance operational efficiency. Typical consumers include equipment managers and IT personnel at banks, who rely on this API to ensure the effective utilization of resources. By enabling systematic tracking and management, this API supports improved decision-making in equipment administration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-administration": {
      "post": {
        "tags": [
          "Equipment Management"
        ],
        "summary": "Create a new equipment administration record.",
        "description": "This endpoint allows users to create a new record for equipment administration within a facility. It captures relevant details and ensures that the equipment data is properly logged in the system.",
        "operationId": "createBankingFacilitiesEquipmentAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Provides the necessary information for administering equipment within facilities. This request should include all required fields specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingFacilitiesEquipmentAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new equipment entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingFacilitiesEquipmentAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingFacilitiesEquipmentAdministrationRequest": {
        "title": "Equipment Administration Request",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order associated with the operation.",
            "example": "ORD-628024"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date and time when the operation is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The specific zone in the facility where the operation is to take place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance operation to be performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating or updating equipment administration operations.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-628024",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "5da14713-e90d-50da-9789-910ff6d78a26",
            "correlationId": "c011d1c3-ac8a-56c4-b5af-32af27660404",
            "idempotencyKey": "6e4efce2-ba14-5d29-8bdf-f6c35e9039ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-932022"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple related requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure the request is idempotent.",
            "example": "key789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-15T08:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates contextual information for tracking the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Mobile App"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device456"
          }
        },
        "description": "This schema contains information about the channel used for the request."
      },
      "CreateBankingFacilitiesEquipmentAdministrationResponse_201": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The identifier for the asset associated with this operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The identifier for the work order related to the operation.",
            "example": "ORD-986510"
          },
          "vendorId": {
            "type": "string",
            "description": "The identifier for the vendor involved in the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with this operation.",
            "example": "RES-802709"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-abc"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to track the request across services.",
                "example": "correlation-xyz"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographic region where the operation was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the operation response.",
            "example": {
              "responseId": "82cf7ff2-0dcb-5d61-ab24-14119d3f7963",
              "correlationId": "c011d1c3-ac8a-56c4-b5af-32af27660404",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the operations related to facility equipment administration.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-986510",
          "vendorId": "STANDARD",
          "resourceId": "RES-802709",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "82cf7ff2-0dcb-5d61-ab24-14119d3f7963",
            "correlationId": "c011d1c3-ac8a-56c4-b5af-32af27660404",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-administration-create-equipment-administration"
        },
        "example": "equipment-administration-create-equipment-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). The JWT must be included in the Authorization header of the request in the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}