{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan Application By Applicant Id-spec",
    "description": "This API allows users to modify existing loan applications based on a specific applicant's ID. It serves as a crucial tool for financial institutions and lenders to efficiently manage applicant information and adjust loan details as necessary. The endpoint supports the updating of various attributes of a loan application, ensuring that the records remain accurate and up-to-date. Users typically include loan officers and administrative staff who require timely updates in their systems to facilitate the loan approval process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update Applicant Details",
        "description": "This endpoint allows you to update the details of a specific applicant associated with a loan application. Ensure that all required fields are provided in the request to successfully update the applicant's information.",
        "operationId": "updateLoanApplicationByApplicantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/applicantId"
          }
        ],
        "requestBody": {
          "description": "Update the details of an applicant associated with the specified loan application. This request allows for partial updates to the applicant's information and should include only the fields that need modification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationByApplicantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful and applicant details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationByApplicantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationByApplicantIdRequest": {
        "title": "Loan Application Applicant",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details about the applicant's income.",
            "$ref": "#/components/schemas/IncomeDetails"
          },
          "monthlyObligations": {
            "description": "The total monthly obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssetDetails"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LiabilityDetails"
            }
          },
          "requestContext": {
            "description": "Contextual data related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the details of an applicant in a loan application.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD"
            }
          ],
          "requestContext": {
            "requestId": "48485be2-f3bf-5b1a-82ec-4aa0284066a6",
            "correlationId": "eee406da-b9e4-5ffc-b444-e0d635b03f2f",
            "idempotencyKey": "0ca9c66e-0f06-55f0-9d4f-15e73cd4a3df",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-436464"
            }
          }
        }
      },
      "IncomeDetails": {
        "title": "Income Details",
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment of the applicant.",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "The occupation of the applicant.",
            "example": "Software Developer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The date when the applicant started employment.",
            "example": "2020-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "The business registration number provided by the applicant if self-employed.",
            "example": "BRN123456"
          },
          "grossMonthlyIncome": {
            "description": "The gross monthly income of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "netMonthlyIncome": {
            "description": "The net monthly income of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "otherMonthlyIncome": {
            "description": "Any other monthly income received by the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the financial amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "2000"
          }
        },
        "description": "Schema representing a financial amount with currency."
      },
      "AssetDetails": {
        "title": "Asset Details",
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "The type of the asset.",
            "example": "Real Estate"
          },
          "description": {
            "type": "string",
            "description": "A description of the asset.",
            "example": "House in New York"
          },
          "estimatedValue": {
            "description": "The estimated value of the asset.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Schema representing the details of an asset declared by the applicant."
      },
      "LiabilityDetails": {
        "title": "Liability Details",
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "The type of liability.",
            "example": "Credit Card Debt"
          }
        },
        "description": "Schema representing the details of a liability declared by the applicant."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotency-key-1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "Mobile App"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "Loan Application App"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema representing contextual information about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the details of the channel used in the request."
      },
      "UpdateLoanApplicationByApplicantIdResponse_200": {
        "title": "Loan Application Applicant",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the application process.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-346527"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary borrower.",
            "example": "STANDARD"
          },
          "income": {
            "description": "The income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "Details of the applicant's monthly obligations.",
            "$ref": "#/components/schemas/MonthlyObligation"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredAsset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredLiability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "e208f392-ad91-5b9b-54d8-83e12594d8af"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "The status of the applicant's credit bureau report.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information related to the application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata information about the application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing an applicant in a loan application response.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-346527",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "e208f392-ad91-5b9b-54d8-83e12594d8af",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1e8a97dd-9c6a-5c45-876c-7ba1cc4d1d0e",
            "correlationId": "eee406da-b9e4-5ffc-b444-e0d635b03f2f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Income": {
        "title": "Income Details",
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment of the applicant.",
            "example": "string"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the applicant's employer.",
            "example": "string"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "string"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Start date of employment.",
            "example": "string"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number, if applicable.",
            "example": "string"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "otherMonthlyIncome": {
            "description": "Other sources of monthly income.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the income details.",
            "example": "string"
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "MonthlyObligation": {
        "title": "Monthly Obligation",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the monthly obligation.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the monthly obligation.",
            "example": "string"
          }
        },
        "description": "Schema representing a monthly obligation of the applicant."
      },
      "MonetaryValue": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the monetary value.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "Amount in specified currency.",
            "example": "string"
          }
        },
        "description": "Schema representing a monetary value with a currency."
      },
      "DeclaredAsset": {
        "title": "Declared Asset",
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "The type of asset.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "string"
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/MonetaryValue"
          }
        },
        "description": "Schema representing an asset declared by the applicant."
      },
      "DeclaredLiability": {
        "title": "Declared Liability",
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of liability.",
            "example": "string"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender.",
            "example": "string"
          },
          "outstandingBalance": {
            "description": "Outstanding balance of the liability.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "monthlyPayment": {
            "description": "Monthly payment required for the liability.",
            "$ref": "#/components/schemas/MonetaryValue"
          }
        },
        "description": "Schema representing a liability declared by the applicant."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing audit information for the application."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "applicantId": {
        "name": "applicantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the API endpoint that is handling the request, allowing for better tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-applicant"
        },
        "example": "banking-loans-openapi-update-applicant"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime environment or application context in which the API request is being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using bearer tokens. Clients must include a valid JSON Web Token (JWT) in the Authorization header of the request for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}