{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Document By Param1-spec",
    "description": "The Document Management API facilitates the seamless updating of documents within the banking system using specified parameters. This endpoint allows users to replace existing documents based on a unique identifier, ensuring that the most current and relevant information is maintained. Typical consumers of this API include banking application developers and financial service integrations that require document updates. By providing a streamlined method for document replacement, the API enhances operational efficiency and data accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-directory/{param1}": {
      "put": {
        "tags": [
          "Document Management"
        ],
        "summary": "Update Document Directory Entry",
        "description": "This operation allows the user to update the details of a specific document directory entry identified by its resource ID (RES-100045). You can change various attributes of the document directory to ensure it reflects the latest information.",
        "operationId": "replaceDocumentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body must contain the document details for updating the specified document in the directory. Ensure that all required fields are included and correctly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceDocumentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource is updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceDocumentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceDocumentByParam1Request": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-241549"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document, e.g., report, invoice, etc.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification category of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class assigned to the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the user or entity that owns the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum for document integrity verification.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-54321"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to trace related requests.",
                "example": "corr-98765"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure the request is processed only once.",
                "example": "idempotency-key-123"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Identifies the source system of the request.",
                "example": "system-a"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Identifies the application making the request.",
                "example": "app-b"
              },
              "channel": {
                "$ref": "#/components/schemas/RequestChannel"
              }
            },
            "description": "Contextual information for the request.",
            "example": {
              "requestId": "9657faae-5322-51f8-a32e-4ac9a985a189",
              "correlationId": "53d7d2db-7c42-5f69-9b34-f25c491a4e44",
              "idempotencyKey": "b41e67ce-3ca0-5edb-9028-abcb92e9dc63",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-332087"
              }
            }
          }
        },
        "description": "Request body schema for update operations on a document.",
        "example": {
          "documentId": "DOC-241549",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "9657faae-5322-51f8-a32e-4ac9a985a189",
            "correlationId": "53d7d2db-7c42-5f69-9b34-f25c491a4e44",
            "idempotencyKey": "b41e67ce-3ca0-5edb-9028-abcb92e9dc63",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-332087"
            }
          }
        }
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-111"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile, etc.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used in the request.",
            "example": "device-222"
          }
        },
        "description": "Schema representing the channel details through which the request is made."
      },
      "ReplaceDocumentByParam1Response_200": {
        "title": "Document Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "DOC-214688"
          },
          "ownerId": {
            "type": "string",
            "description": "The unique identifier for the owner of the document.",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the document.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the document was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the response for a document operation.",
        "example": {
          "documentId": "DOC-214688",
          "ownerId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c24252c5-c5fa-55ee-b1db-a1f7a3167b0c",
            "correlationId": "53d7d2db-7c42-5f69-9b34-f25c491a4e44",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response associated with the document.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier related to the document processing.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with a document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request. This value can be used for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-directory-upsert-document-directory-record"
        },
        "example": "document-directory-upsert-document-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. Useful for monitoring and application management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authorization scheme with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}