{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Data Financial Market Researchs-spec",
    "description": "The Financial Market Research API allows users to access comprehensive lists of financial market research data. This API serves as a vital resource for analysts and investors seeking to evaluate market trends and make informed decisions based on up-to-date research. Through this API, consumers can retrieve detailed information on various financial research reports and insights. Typical use cases include investment analysis, risk assessment, and strategic planning in financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-market-research": {
      "get": {
        "tags": [
          "Financial Research"
        ],
        "summary": "Retrieve Financial Market Research Data",
        "description": "This endpoint allows users to access detailed financial market research data, including trends and insights that can inform investment decisions.",
        "operationId": "listMarketDataFinancialMarketResearchs",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial market research data. It must include the necessary parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketDataFinancialMarketResearchsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved financial market research data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketDataFinancialMarketResearchsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketDataFinancialMarketResearchsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for retrieving financial market research data.",
        "example": "{}"
      },
      "ListMarketDataFinancialMarketResearchsResponse_200": {
        "title": "Financial Market Research Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of financial market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-205",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialMarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Responses for financial market research including data items, pagination information, sorting, and metadata.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-205",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "281b7fbd-8be1-522a-8224-bd6a85a64e4e",
            "correlationId": "cf582926-4b7b-5f7a-bed6-c51698ea731d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialMarketDataItem": {
        "title": "Financial Market Data Item",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "ABC123"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "US0378331005"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier of the market where the instrument is traded.",
            "example": "XNAS"
          },
          "asOf": {
            "type": "string",
            "description": "The timestamp indicating when the data was last updated.",
            "example": "2023-10-10T00:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the data was obtained.",
            "example": "Bloomberg"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the data record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was updated.",
            "example": "2023-10-10T12:00:00Z"
          }
        },
        "description": "Details of a specific financial market data item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information related to pagination in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "rsp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate requests and responses.",
            "example": "corr_789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking requests and responses in the financial market research operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-market-research-search-financial-market-research"
        },
        "example": "financial-market-research-search-financial-market-research"
      },
      "X-Runtime-App": {
        "description": "The name of the application that was running the request, providing context to the source of the response in the financial market research operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, which requires a valid JWT (JSON Web Token) for authorization. Clients must include the token in the `Authorization` header of the request, prefixed by the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}