{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Securities Fails Processings-spec",
    "description": "This API enables users to access and retrieve information about market operation securities that have failed processing. It serves to identify and analyze instances of processing failures, providing insights into system performance and operational efficiency. Typical consumers of this API include financial analysts, operations teams, and risk management professionals who require up-to-date data on securities processing issues. By leveraging this API, organizations can enhance their troubleshooting capabilities and improve overall transactional integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/securities-fails-processing": {
      "get": {
        "tags": [
          "Securities Operations"
        ],
        "summary": "Retrieve securities fails processing information.",
        "description": "This endpoint allows you to fetch details regarding the processing of securities fails within the market operations. Utilize this to understand and analyze any outstanding fails and their resolution processes.",
        "operationId": "listMarketOperationSecuritiesFailsProcessings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding securities fails processing. It encapsulates the criteria and parameters necessary for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationSecuritiesFailsProcessingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationSecuritiesFailsProcessingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationSecuritiesFailsProcessingsRequest": {
        "title": "Market Operations Securities Fails Processing Request Body",
        "type": "string",
        "description": "The request body for the Market Operations Securities Fails Processing API when invoked via a GET request with application/json content type.",
        "example": "{}"
      },
      "ListMarketOperationSecuritiesFailsProcessingsResponse_200": {
        "title": "Securities Fails Processing Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of failed securities processing items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecurityProcessingItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response data.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response data.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to failed securities processing.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8c14b8ae-f705-530a-ac2c-03163d13b9e8",
            "correlationId": "f039209e-48ce-545d-be5d-cd5c7d83cdad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecurityProcessingItem": {
        "title": "Security Processing Item",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade."
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument."
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the settlement is expected to occur."
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument that failed to process.",
            "format": "int32"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement."
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Details of an individual security processing item that has failed."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for handling results in a paginated manner."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was handled."
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, which is vital for tracking requests across the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-fails-processing-search-securities-fails-processing"
        },
        "example": "securities-fails-processing-search-securities-fails-processing"
      },
      "X-Runtime-App": {
        "description": "The version identifier of the runtime application processing the request, which helps in identifying the environment and version lifecycle.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. A JWT (JSON Web Token) is provided in the 'Authorization' header of the request to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}