{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Credit Card Position Keepings-spec",
    "description": "The Credit Card Position Management API provides access to real-time information regarding the positions of credit cards within the banking system. This API allows consumers, such as financial analysts and system integrators, to retrieve comprehensive data about credit card holdings and their current status. Typical use cases include generating financial reports, monitoring card usage trends, and integrating credit card data into various financial applications. Through this API, users can efficiently manage and analyze credit card information to support decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping": {
      "get": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Retrieve the current position of a credit card.",
        "description": "This endpoint allows users to fetch the current position or status of their credit cards, providing essential information necessary for managing credit card usage and finances effectively.",
        "operationId": "listCardCreditCardPositionKeepings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve the current position of credit cards, enabling users to maintain an accurate overview of their credit card status and information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardCreditCardPositionKeepingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the current credit card position is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardCreditCardPositionKeepingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardCreditCardPositionKeepingsRequest": {
        "title": "Credit Card Position Keeping Request Body",
        "type": "string",
        "description": "A string representing the request body for keeping the credit card position in a specific operation.",
        "example": "{}"
      },
      "ListCardCreditCardPositionKeepingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit card transaction details.",
            "example": [
              {
                "cardToken": "TOK-990711",
                "cardholderId": "STANDARD",
                "merchantId": "MER-789832",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditCardTransaction"
            }
          },
          "pagination": {
            "description": "Pagination details for the current response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information related to the transactions.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the credit card position keeping operation.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-990711",
              "cardholderId": "STANDARD",
              "merchantId": "MER-789832",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dc264960-4f37-55b6-9293-c74b1b9ca109",
            "correlationId": "be819bcf-ef50-536e-a602-28ec20112ad1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditCardTransaction": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique token representing the credit card."
          },
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder."
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant."
          },
          "transactionAmount": {
            "description": "Details of the transaction amount.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code for the transaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the transaction record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the transaction was updated."
          }
        },
        "description": "Details of a credit card transaction."
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The total amount of the transaction.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the transaction amount."
          }
        },
        "description": "Represents the amount for the transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred."
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-search-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-search-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, utilizing JSON Web Tokens (JWT) as the method for providing authentication credentials. Clients must include the JWT in the 'Authorization' header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}