{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Management Customer Proposition-spec",
    "description": "The Customer Proposition Management API allows businesses to effectively create and manage customer propositions within the banking system. This endpoint facilitates the submission of new customer propositions, enabling financial institutions to tailor their offerings based on individual customer needs. Typical users may include customer service representatives, product managers, and business analysts who seek to enhance customer engagement through personalized proposals. By leveraging this API, organizations can improve their service delivery and foster better customer relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-proposition": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer proposition.",
        "description": "This endpoint allows the creation of a new customer proposition, enabling businesses to tailor offerings to individual customer needs. Utilize this API to submit detailed customer propositions and enhance engagement.",
        "operationId": "createCustomerManagementCustomerProposition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new customer proposition. It requires relevant data about the customer and the specific proposition details to process the request properly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerManagementCustomerPropositionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new customer proposition.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerManagementCustomerPropositionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerManagementCustomerPropositionRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-360792"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party related to the customer.",
            "example": "PARTY-467680"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the proposition.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the proposition is effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship based on business rules.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a customer proposition.",
        "example": {
          "customerId": "CUST-360792",
          "partyId": "PARTY-467680",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "74763205-4f62-5f4d-8c3e-385f7be56ab6",
            "correlationId": "8419fdf6-ab18-514b-b1ad-395f786f0137",
            "idempotencyKey": "e234a536-4274-51a4-98eb-ba68c106cf73",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-961522"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "corr-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent behavior on the operation.",
            "example": "idempotent-unique-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "source-app-1"
          },
          "channel": {
            "description": "Details about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-1234"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-5678"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "CreateCustomerManagementCustomerPropositionResponse_201": {
        "title": "Customer Proposition Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-525233"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer.",
            "example": "PARTY-324085"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer proposition.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the proposition.",
            "example": "RES-120078"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer proposition.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the customer proposition was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the response for the customer proposition.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer proposition creation, containing details about the customer and the operation's metadata.",
        "example": {
          "customerId": "CUST-525233",
          "partyId": "PARTY-324085",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-120078",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf809a3d-9fb3-5a41-a33a-ae0d7ab4d622",
            "correlationId": "8419fdf6-ab18-514b-b1ad-395f786f0137",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across different services.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the proposition took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information relating to the response, including various identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-proposition-create-customer-proposition"
        },
        "example": "customer-proposition-create-customer-proposition"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. Tokens are typically issued by an authorization server and must be included in the HTTP headers of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}