{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commercial Credit Cards Reference API",
    "description": "The Commercial Credit Cards Reference API provides access to comprehensive details about commercial credit card offerings. It serves as a valuable resource for businesses seeking information on various credit card products, including features, benefits, and eligibility criteria. This API is particularly useful for developers and financial institutions that need to integrate or analyze commercial credit card options within their applications or services. With this information, organizations can make informed decisions regarding credit offerings for their clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/commercial-credit-cards": {
      "get": {
        "tags": [
          "Commercial Credit Card"
        ],
        "summary": "Retrieve a list of commercial credit cards.",
        "description": "This endpoint allows users to access information about available commercial credit cards, including their features, benefits, and terms. It is designed to help businesses choose the right credit card that meets their financial needs.",
        "operationId": "getCommercialCreditCards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about commercial credit cards. The client must provide necessary parameters to specify the data requirements, which must adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCommercialCreditCardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of commercial credit card details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommercialCreditCardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCommercialCreditCardsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to commercial credit cards in the Open Banking API.",
        "example": "{}"
      },
      "GetCommercialCreditCardsResponse_200": {
        "title": "Commercial Credit Cards Response",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "List of commercial credit cards.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-645",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductName": "Northstar Banking Service",
                "ProductType": "STANDARD",
                "ProductSegment": [
                  "STANDARD"
                ],
                "ProductIdentifier": "PROD-996234",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Description": "Customer banking request processed successfully",
                "KeyFeatures": "STANDARD",
                "PaymentHoliday": true,
                "PaymentHolidayDescription": "STANDARD",
                "OtherKeyFeatures": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "Details": {
                  "CCSubType": "STANDARD",
                  "CommercialCreditCardItem": {
                    "StartPromotionOrFutureTerms": "STANDARD",
                    "StopPromotionOrFutureTerms": "STANDARD",
                    "LengthPromotionalInDays": 1,
                    "DateOfChange": "2026-09-15",
                    "MinimumCreditLimit": "STANDARD",
                    "RepaymentFrequency": "STANDARD",
                    "APRRate": "STANDARD",
                    "BalanceTransferInterestRatePeriod": "STANDARD",
                    "PurchaseRate": "STANDARD",
                    "BalanceTransferRate": "STANDARD",
                    "CashAdvanceRate": "STANDARD",
                    "OverLimitFee": "STANDARD",
                    "MaximumNumberOfCardsPermitted": 1
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CommercialCreditCard"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving commercial credit card information.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-645",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductName": "Northstar Banking Service",
              "ProductType": "STANDARD",
              "ProductSegment": [
                "STANDARD"
              ],
              "ProductIdentifier": "PROD-996234",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Description": "Customer banking request processed successfully",
              "KeyFeatures": "STANDARD",
              "PaymentHoliday": true,
              "PaymentHolidayDescription": "STANDARD",
              "OtherKeyFeatures": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "Details": {
                "CCSubType": "STANDARD",
                "CommercialCreditCardItem": {
                  "StartPromotionOrFutureTerms": "STANDARD",
                  "StopPromotionOrFutureTerms": "STANDARD",
                  "LengthPromotionalInDays": 1,
                  "DateOfChange": "2026-09-15",
                  "MinimumCreditLimit": "STANDARD",
                  "RepaymentFrequency": "STANDARD",
                  "APRRate": "STANDARD",
                  "BalanceTransferInterestRatePeriod": "STANDARD",
                  "PurchaseRate": "STANDARD",
                  "BalanceTransferRate": "STANDARD",
                  "CashAdvanceRate": "STANDARD",
                  "OverLimitFee": "STANDARD",
                  "MaximumNumberOfCardsPermitted": 1
                }
              }
            }
          ],
          "metadata": {
            "responseId": "e29bc9f5-7f5f-5dde-bac6-c9b47dc10186",
            "correlationId": "05b62ff8-b49e-5e7c-8b9b-9dfc527193b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "title": "Meta Information",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned.",
            "format": "int32",
            "example": 5
          },
          "Agreement": {
            "type": "string",
            "description": "Terms of the agreement.",
            "example": "Standard agreement terms apply."
          },
          "License": {
            "type": "string",
            "description": "License information.",
            "example": "Licensed under ABC."
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the service.",
            "example": "User must comply with all terms."
          }
        },
        "description": "Contains metadata about the response."
      },
      "CommercialCreditCard": {
        "title": "Commercial Credit Card Item",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Business Visa"
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the product.",
            "example": "Credit Card"
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments the product belongs to.",
            "items": {
              "type": "string",
              "example": "Small Business"
            }
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Identifier for the product.",
            "example": "12345-67890"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for the product.",
            "items": {
              "type": "string",
              "example": "https://example.com/product"
            }
          },
          "Description": {
            "type": "string",
            "description": "Detailed description of the product.",
            "example": "A credit card designed for businesses."
          },
          "KeyFeatures": {
            "type": "string",
            "description": "Key features of the product.",
            "example": "Low interest rates, cashback rewards."
          },
          "PaymentHoliday": {
            "type": "boolean",
            "description": "Indicates if a payment holiday is available.",
            "example": false
          },
          "PaymentHolidayDescription": {
            "type": "string",
            "description": "Description of the payment holiday.",
            "example": "Payment holiday available for 3 months."
          },
          "OtherKeyFeatures": {
            "type": "string",
            "description": "Additional key features.",
            "example": "No annual fee."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and Conditions.",
            "items": {
              "type": "string",
              "example": "Terms apply."
            }
          },
          "Details": {
            "$ref": "#/components/schemas/CreditCardDetails"
          }
        },
        "description": "Represents a commercial credit card with associated features."
      },
      "Organisation": {
        "title": "Organisation Information",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/BrandInformation"
          }
        },
        "description": "Contains information about the organisation associated with the credit card."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation Details",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier.",
            "example": "1234567890"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code.",
            "example": "BANKUS33"
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Details about the parent organisation."
      },
      "OrganisationName": {
        "title": "Organisation Name",
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organisation.",
            "example": "Example Corp"
          }
        },
        "description": "Legal name of the organisation."
      },
      "BrandInformation": {
        "title": "Brand Information",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark IPO code.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark.",
            "example": "TRADEMARK123"
          }
        },
        "description": "Identity details related to the brand."
      },
      "CreditCardDetails": {
        "title": "Credit Card Details",
        "type": "object",
        "properties": {
          "CCSubType": {
            "type": "string",
            "description": "Subtype of the credit card.",
            "example": "Corporate"
          },
          "CommercialCreditCardItem": {
            "$ref": "#/components/schemas/CommercialCreditCardItem"
          }
        },
        "description": "Additional details about the commercial credit card."
      },
      "CommercialCreditCardItem": {
        "title": "Commercial Credit Card Item Features",
        "type": "object",
        "properties": {
          "StartPromotionOrFutureTerms": {
            "type": "string",
            "description": "Start date for any promotions or future terms.",
            "example": "2023-11-01"
          },
          "StopPromotionOrFutureTerms": {
            "type": "string",
            "description": "End date for promotions or future terms.",
            "example": "2023-12-01"
          },
          "LengthPromotionalInDays": {
            "type": "integer",
            "description": "Length of promotional period in days.",
            "format": "int32",
            "example": 30
          },
          "DateOfChange": {
            "type": "string",
            "description": "Date when the terms changed.",
            "example": "2023-10-01"
          },
          "MinimumCreditLimit": {
            "type": "string",
            "description": "Minimum credit limit applicable.",
            "example": "$5000"
          },
          "RepaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments.",
            "example": "Monthly"
          },
          "APRRate": {
            "type": "string",
            "description": "Annual Percentage Rate.",
            "example": "15.00%"
          },
          "BalanceTransferInterestRatePeriod": {
            "type": "string",
            "description": "Interest rate period for balance transfers.",
            "example": "6 months"
          },
          "PurchaseRate": {
            "type": "string",
            "description": "Rate for purchases.",
            "example": "2.00%"
          },
          "BalanceTransferRate": {
            "type": "string",
            "description": "Rate applicable for balance transfers.",
            "example": "3.00%"
          },
          "CashAdvanceRate": {
            "type": "string",
            "description": "Rate for cash advances.",
            "example": "4.00%"
          },
          "OverLimitFee": {
            "type": "string",
            "description": "Fee charged for exceeding the credit limit.",
            "example": "$35"
          },
          "MaximumNumberOfCardsPermitted": {
            "type": "integer",
            "description": "Maximum number of cards permitted for this product.",
            "format": "int32",
            "example": 5
          }
        },
        "description": "Features and terms of a commercial credit card item."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "cor-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response provided."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-commercial-credit-cards"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-commercial-credit-cards"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a valid JSON Web Token (JWT) to be provided in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}