{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Finance Financial Control By Financial Control Id-v5-spec",
    "description": "The Update Financial Control API enables users to modify existing financial control records in the banking system. By specifying the unique financial control identifier, authorized users can adjust various attributes of a financial control entry. This endpoint is essential for finance professionals managing financial oversight and compliance, allowing them to keep control records up-to-date with the latest information. Typical consumers of this API include banking personnel and financial analysts requiring precise control over financial data. Ensuring timely and accurate updates supports effective financial governance and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-control/{financialControlId}": {
      "patch": {
        "tags": [
          "Finance Management"
        ],
        "summary": "Update financial control details for a specific resource.",
        "description": "This operation allows you to modify the financial control details associated with the specified resource. Ensure that you provide the necessary data structure in the request to update the fields effectively.",
        "operationId": "updateBankingFinanceFinancialControlByFinancialControlId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/financialControlId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the financial control details for the resource identified by RES-100045. Ensure that the provided JSON structure adheres to the defined schema for a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingFinanceFinancialControlByFinancialControlIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingFinanceFinancialControlByFinancialControlIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingFinanceFinancialControlByFinancialControlIdRequest": {
        "title": "Financial Control Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made in the financial control operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes are to be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identity of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating financial control operations.",
        "example": {
          "changes": {
            "legalEntityId": "STANDARD",
            "ledgerId": "STANDARD",
            "accountingPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9ae8938b-049f-5423-ad11-7d0f5f5ec05a",
            "correlationId": "efda2685-0b92-50ed-a57d-f2e0ba5e79c6",
            "idempotencyKey": "577d447f-63e7-5c20-9a07-ade65fccc109",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-401291"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity.",
            "example": "string"
          },
          "ledgerId": {
            "type": "string",
            "description": "Unique identifier for the ledger associated with the changes.",
            "example": "string"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for which the changes are relevant.",
            "example": "string"
          }
        },
        "description": "Schema representing the specific changes to be applied to the financial control operations."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to group related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request is made.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual details related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "UpdateBankingFinanceFinancialControlByFinancialControlIdResponse_200": {
        "title": "Financial Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial operations PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "815587e2-d0cc-5de2-99f0-89914ef6ce0d",
            "correlationId": "efda2685-0b92-50ed-a57d-f2e0ba5e79c6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the operation correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Contains additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "financialControlId": {
        "name": "financialControlId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint used in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-control-update-financial-control"
        },
        "example": "financial-control-update-financial-control"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically formatted as JSON Web Tokens (JWT). This mechanism allows secure transmission of information as a JSON object, ensuring data integrity and authenticity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}