{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Customer Behavior Insights-spec",
    "description": "The Customer Behavior Insights API allows organizations to gain valuable insights into customer interactions and behaviors within their banking services. This endpoint serves as a way for businesses to retrieve detailed information about customer trends, preferences, and activities. Typical consumers of this API include data analysts, marketing teams, and customer relationship managers seeking to enhance customer engagement and improve service offerings. By leveraging these insights, companies can tailor strategies to better meet customer needs and drive satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-behavior-insights": {
      "get": {
        "tags": [
          "Customer Insights"
        ],
        "summary": "Retrieve customer behavior insights.",
        "description": "This endpoint allows you to retrieve detailed insights into customer behavior, providing analytics that can help businesses understand customer preferences and patterns.",
        "operationId": "listCustomerManagementCustomerBehaviorInsights",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer behavior insights. This body should contain information necessary to filter and structure the insights according to the specified parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementCustomerBehaviorInsightsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, returning the requested customer behavior insights.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementCustomerBehaviorInsightsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementCustomerBehaviorInsightsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for fetching customer behavior insights in the customer management operations.",
        "example": "{}"
      },
      "ListCustomerManagementCustomerBehaviorInsightsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer behavior insights.",
            "example": [
              {
                "customerId": "CUST-127940",
                "partyId": "PARTY-506872",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerBehaviorInsight"
            }
          },
          "pagination": {
            "description": "Pagination information for the insights response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the customer behavior insights endpoint.",
        "example": {
          "items": [
            {
              "customerId": "CUST-127940",
              "partyId": "PARTY-506872",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7be84dd4-43e8-56c9-b1a0-472646fa2cac",
            "correlationId": "c018f8ff-3f61-59b8-9af0-966f7c2b4f1b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerBehaviorInsight": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer123"
          },
          "partyId": {
            "type": "string",
            "description": "Associated party identifier.",
            "example": "party456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "product789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the insight is effective.",
            "example": "2023-10-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the relationship with the customer.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual customer behavior insight."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and requests.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-insights-search-customer-behavior-insights"
        },
        "example": "customer-behavior-insights-search-customer-behavior-insights"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, which requires a valid JSON Web Token (JWT) to access secured endpoints. The token should be included in the 'Authorization' header of the request as follows: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}