{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Enterprise Service By Param1-spec",
    "description": "The Enterprise Service Update API allows businesses to modify existing legal advisory services using specific parameters. This endpoint is leveraged by financial institutions and service providers seeking to ensure that their legal advisory offerings are up-to-date and accurately reflect client needs. By utilizing the PATCH method, users can selectively update parts of the enterprise service, enhancing flexibility and responsiveness to market demands. Typical consumers include compliance officers and legal teams aiming to maintain service relevance and alignment with regulatory changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory/{param1}": {
      "patch": {
        "tags": [
          "Legal Advisory"
        ],
        "summary": "Update Legal Advisory Resource",
        "description": "This endpoint allows you to update details of a specific legal advisory resource identified by its unique ID. You can modify various attributes to reflect the most current information.",
        "operationId": "updateEnterpriseServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update legal advisory service information for the specified resource. It must adhere to the defined schema and provide the required fields for a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnterpriseServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEnterpriseServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEnterpriseServiceByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing details of the changes requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "A description of the reason for the changes requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes will become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The user or system that is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object that provides context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PATCH operation in the legal advisory service.",
        "example": {
          "changes": {
            "engagementId": "STANDARD",
            "scope": "STANDARD",
            "framework": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1cf2bfda-b0fd-52b5-9352-cd4b05f17c01",
            "correlationId": "81bb326b-b072-5c94-b79b-7d263bf1c389",
            "idempotencyKey": "c01f9331-07a1-5625-8656-36b154d1458c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-138389"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement being modified.",
            "example": "ENG-123456"
          },
          "scope": {
            "type": "string",
            "description": "A description of the scope of the engagement.",
            "example": "Legal review and compliance."
          },
          "framework": {
            "type": "string",
            "description": "The framework under which the engagement operates.",
            "example": "ISO 9001"
          }
        },
        "description": "Details of the changes to be applied to the engagement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-78910"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking and correlating related requests.",
            "example": "CORR-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to uniquely identify requests for idempotency purposes.",
            "example": "IDEM-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application initiating the request.",
            "example": "Legal Management App"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CH-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateEnterpriseServiceByParam1Response_200": {
        "title": "Legal Advisory Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The operational status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a PATCH operation in the legal advisory service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "456618b4-9339-5be8-bcba-33ce0075a79d",
            "correlationId": "81bb326b-b072-5c94-b79b-7d263bf1c389",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "This schema encapsulates the metadata related to the legal advisory response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-update-legal-advisory"
        },
        "example": "legal-advisory-update-legal-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer token. Clients should include a JWT (JSON Web Token) in the Authorization header with the format 'Bearer <token>' to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}