{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Corporate Finance By Param1-spec",
    "description": "The Corporate Finance Retrieval API facilitates the access of corporate finance data based on specified parameters. This endpoint allows clients to retrieve detailed financial information relevant to corporate entities using a unique identifier. Typical consumers of this API include financial analysts, corporate finance teams, and businesses seeking to analyze financial performance. It supports integrations with reporting tools, business intelligence applications, and other financial software, enabling data-driven decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/corporate-finance/{param1}": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve Corporate Finance Resource",
        "description": "This endpoint allows you to fetch details for the corporate finance resource identified by the unique resource ID RES-100045, providing relevant information necessary for business decision-making.",
        "operationId": "getCorporateFinanceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to corporate finance operations. Make sure to provide the necessary parameters in the JSON format as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateFinanceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateFinanceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateFinanceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the corporate finance operations GET request. It is used to provide the necessary input parameters in string format.",
        "example": "{}"
      },
      "GetCorporateFinanceByParam1Response_200": {
        "title": "Corporate Finance Operation Response",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction being recorded.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "The enterprise value details associated with the operation.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target close date for the operation, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for operations related to corporate finance.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "53476342-3de3-5d17-9b89-47d5e8f3a0de",
            "correlationId": "e18c3aac-3760-589a-8360-49cbf1cbbf39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the enterprise value is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the enterprise value of a transaction."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for tracking request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was carried out.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the corporate finance operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-finance-get-corporate-finance"
        },
        "example": "corporate-finance-get-corporate-finance"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request, which can help in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. Tokens are expected to be provided in the HTTP Authorization header as a 'Bearer' token. This method uses JSON Web Tokens (JWT) for secure transmission of claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}