{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Portfolio Management API",
    "description": "The Branch Portfolio Management API facilitates the creation and management of branch portfolios within the banking sector. This endpoint allows users to develop tailored portfolios that align with business strategies and performance metrics. Financial analysts and portfolio managers can utilize this API to analyze the effectiveness of various branches and adjust portfolios accordingly. By supporting the integration of branch-specific data, this service enhances decision-making and strategic planning for financial institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/branch-portfolio": {
      "post": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Create a new branch portfolio.",
        "description": "This operation allows users to create a new branch portfolio within the business analysis framework, facilitating better decision-making and strategic planning.",
        "operationId": "createBranchPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for branch portfolio analysis. It must contain the necessary parameters and values required for the operation. Ensure that the JSON adheres to the specified schema to facilitate proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBranchPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the branch portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBranchPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBranchPortfolioRequest": {
        "title": "Branch Portfolio Analysis Request",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis request.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment being analyzed.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period in ISO format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period in ISO format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as the base for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario being analyzed.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch involved in the analysis.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch (e.g., retail, corporate).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone for the analysis.",
            "example": "America/New_York"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for branch portfolio analysis operations.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "requestContext": {
            "requestId": "bed11759-692d-5ee8-8145-df85e251294b",
            "correlationId": "742360ab-ed25-59df-9ff5-b803137b47fd",
            "idempotencyKey": "e4304f1a-72da-5e77-840b-d11a5224c811",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-371284"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idempotency-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "source-system-xyz"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application initiating the request.",
            "example": "app-123"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-321"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel information of the request."
      },
      "CreateBranchPortfolioResponse_201": {
        "title": "Branch Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment associated with the analysis.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch being analyzed.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource tied to the analysis.",
            "example": "RES-534504"
          },
          "status": {
            "type": "string",
            "description": "Current status of the analysis.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the analysis was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AnalysisMetadata"
          }
        },
        "description": "Response schema for the operation of analyzing branch portfolios.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "branchId": "STANDARD",
          "resourceId": "RES-534504",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "98515b13-c607-5f3b-9c20-fdd6e7331d1c",
            "correlationId": "742360ab-ed25-59df-9ff5-b803137b47fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisMetadata": {
        "title": "Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests and responses.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the analysis was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata associated with the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-portfolio-create-branch-portfolio"
        },
        "example": "branch-portfolio-create-branch-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, designed for use with JSON Web Tokens (JWT). The bearer token may be passed in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}