{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Balance Analytic By Usertype Id-spec",
    "description": "The Balance Analytics by User Type API allows businesses to generate analytic reports detailing account balances categorized by user type. This endpoint facilitates the assessment of financial data trends and user behavior, empowering decision-makers with insights to optimize customer engagement strategies. Typically used by analysts and data scientists, the API supports operations where identifying balance metrics by specific user demographics is crucial for financial assessments and reporting. Integration with this API enables organizations to enhance their analytical capabilities around customer financial activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/balance-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "Customer Reports"
        ],
        "summary": "Create Balance Analytics User Type Report",
        "description": "This operation allows the creation of a balance analytics user type report for a specific customer, identified by their unique ID. Users can utilize this feature to analyze the balance reports associated with user types effectively.",
        "operationId": "createBalanceAnalyticByUsertypeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/usertypeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit user type analytics for a customer's balance report. It includes necessary parameters that define the user types along with their associated data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBalanceAnalyticByUsertypeIdRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBalanceAnalyticByUsertypeIdResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBalanceAnalyticByUsertypeIdRequest": {
        "title": "Balance Analytics Request Body",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "Comma-separated string of account IDs to include in the report.",
            "example": "ACC-652352"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields to be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date from which to include data in the report, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the balance analytics report for users.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "applicantIsPersonalGuarantor": true,
            "timeIntervalTypes": [
              "STANDARD"
            ]
          },
          "accountIds": "ACC-652352",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "requestContext": {
            "requestId": "68cfb040-8402-58ec-aa35-84a8dce3f2c8",
            "correlationId": "356d5f5d-d2d4-547c-ab29-34858248c81c",
            "idempotencyKey": "5a2cfa2d-92e9-5496-b5f6-3832f04f08b1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-151726"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "Types of time intervals applicable to the report.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema containing data for the analytics report."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field is shown in the report.",
            "example": false
          }
        },
        "description": "Schema representing a custom field in the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application requesting this report.",
            "example": "string"
          },
          "channel": {
            "description": "Channel information related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateBalanceAnalyticByUsertypeIdResponse_202": {
        "title": "Balance Analytics User Types Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the record.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The identifier for the request.",
            "example": "cc704557-7360-5f6b-ba58-afca925a8ac0"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The creation date of the record.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title associated with the record.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The Social Security Number associated with the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of record.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "The constraints associated with the record.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the Balance Analytics User Types endpoint.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "cc704557-7360-5f6b-ba58-afca925a8ac0",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-183562"
            ]
          },
          "metadata": {
            "responseId": "3d87af10-55f8-53ea-ac92-5a4ad40e916a",
            "correlationId": "356d5f5d-d2d4-547c-ab29-34858248c81c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the end user.",
            "example": "62701"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "555-123-4567"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "john.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "The personal or business URL of the end user.",
            "example": "http://johndoe.com"
          }
        },
        "description": "Information describing the end user."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "consumer123"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the consumer.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the consumer.",
            "example": "62701"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "555-987-6543"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "john.doe@consumer.com"
          }
        },
        "description": "Details regarding the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "type": "object",
            "properties": {
              "forCraPurpose": {
                "type": "boolean",
                "description": "Indicates if the report is for CRA purposes.",
                "example": false
              },
              "applicantIsPersonalGuarantor": {
                "type": "boolean",
                "description": "Indicates if the applicant is a personal guarantor.",
                "example": false
              },
              "timeIntervalTypes": {
                "type": "array",
                "description": "List of time interval types.",
                "items": {
                  "type": "string",
                  "example": "monthly"
                }
              }
            },
            "description": "Data related to the analytics report.",
            "example": {}
          },
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers associated with the constraints.",
            "items": {
              "type": "string",
              "example": "account123"
            }
          }
        },
        "description": "Constraints associated with the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the response.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata concerning the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "usertypeId": {
        "name": "usertypeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint which processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-balance-analytics-report"
        },
        "example": "open-finance-api-generate-balance-analytics-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). The client must include a valid JWT in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}