{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Channel Specific By Param1-spec",
    "description": "The Channel Specific Configuration Update API allows businesses to modify settings related to card terminal administration using a specific parameter. This operation provides flexibility in managing channel configurations to ensure that businesses can tailor their terminal settings according to operational needs. Common consumers of this API include financial institutions and payment processing services that require dynamic adjustments to terminal configurations. The API enables efficient management of card terminal settings, ensuring compliance and optimizing transaction processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-administration/{param1}": {
      "patch": {
        "tags": [
          "Card Terminal Administration"
        ],
        "summary": "Update Card Terminal Administration details",
        "description": "This endpoint allows you to update the details of a specific card terminal administration record identified by CARD-400045. Ensure to provide the necessary data in the request body to successfully update the record.",
        "operationId": "updateChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific attributes of the card terminal identified by CARD-400045. The provided data should conform to the schema defined in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request executed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateChannelSpecificByParam1Request": {
        "title": "Card Terminal Administration Patch Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the card terminal settings.",
            "$ref": "#/components/schemas/CardTerminalChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating card terminal administration settings.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "10ac8387-3774-5fca-92de-bae797f0fb0f",
            "correlationId": "dcdc938e-9eb5-5ceb-a270-0826bb50e529",
            "idempotencyKey": "cbd79a31-28a5-53ce-9bcc-41626ca92109",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-101521"
            }
          }
        }
      },
      "CardTerminalChanges": {
        "title": "Card Terminal Changes",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel associated with the card terminal.",
            "example": "exampleChannelId"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region for the card terminal.",
            "example": "exampleRegionCode"
          },
          "serviceWindow": {
            "description": "Operational hours of the card terminal.",
            "$ref": "#/components/schemas/ServiceWindow"
          }
        },
        "description": "Detailed changes related to a card terminal."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "17:00"
          }
        },
        "description": "Operational hours for a service."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "exampleRequestId"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "exampleCorrelationId"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency in operations.",
            "example": "exampleIdempotencyKey"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-10T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "exampleSourceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "exampleSourceApplication"
          },
          "channel": {
            "description": "Information about the channel related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "exampleChannelId"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel.",
            "example": "exampleChannelType"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "exampleDeviceId"
          }
        },
        "description": "Information about a channel."
      },
      "UpdateChannelSpecificByParam1Response_200": {
        "title": "Card Terminal Administration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response data.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for operations related to card terminal administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "667fd28c-f304-5ec2-97db-cabc4a099929",
            "correlationId": "dcdc938e-9eb5-5ceb-a270-0826bb50e529",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-administration-update-card-terminal-administration"
        },
        "example": "card-terminal-administration-update-card-terminal-administration"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token. Tokens are typically in JSON Web Token (JWT) format and are used to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}