{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Customer Billing-spec",
    "description": "The Customer Billing Management API enables the seamless creation of billing records for operational services. This endpoint allows businesses to register and manage customer billing information effectively. Typical consumers include financial applications and customer relationship management systems that require integration with billing processes. Through this API, organizations can streamline their billing operations and enhance service delivery to their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "post": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Initiates the billing process for a customer.",
        "description": "This endpoint allows the user to start the billing cycle for a specific customer by submitting the necessary billing information. It ensures the customer's billing details are processed and recorded efficiently.",
        "operationId": "createOperationalServiceCustomerBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint allows clients to create or update customer billing information. It is essential to provide accurate details to ensure proper billing processes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceCustomerBillingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and initialized.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceCustomerBillingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceCustomerBillingRequest": {
        "required": [
          "billingAccountId",
          "billingPeriod",
          "charges",
          "customerId",
          "dueDate",
          "requestContext"
        ],
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account.",
            "example": "ACC-196245"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-853730"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for the charges.",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "description": "A list of charges associated with the billing.",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100.0,
                "currency": "USD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the payment.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating customer billing operations.",
        "example": {
          "billingAccountId": "ACC-196245",
          "customerId": "CUST-853730",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100.0,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "bb25c717-0b18-5c76-92dc-ca22892a8acd",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "idempotencyKey": "6f673889-7b36-5b8e-8295-d2b235428d88",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-323086"
            }
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "The type of charge being applied.",
            "example": "Monthly Subscription"
          },
          "amount": {
            "type": "number",
            "description": "The amount of the charge.",
            "example": 29.99
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the charge is made.",
            "example": "USD"
          }
        },
        "description": "Represents a charge in the billing statement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "CORR987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the operation is idempotent.",
            "example": "IDEMPOTENT-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "BillingApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHNL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Mobile App"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE789"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateOperationalServiceCustomerBillingResponse_201": {
        "title": "Customer Billing Response",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "Unique identifier for the billing account.",
            "example": "ACC-828590"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-654131"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-883747"
          },
          "status": {
            "type": "string",
            "description": "Current status of the billing operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the billing operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the billing response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer billing operation, containing relevant billing and metadata information.",
        "example": {
          "billingAccountId": "ACC-828590",
          "customerId": "CUST-654131",
          "resourceId": "RES-883747",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5f51fb34-6eb8-5d7c-bbf4-5970c49af50e",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the operation across systems.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2021-12-01T12:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the billing operation took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for additional metadata related to the billing operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-create-customer-billing"
        },
        "example": "customer-billing-create-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses bearer tokens to secure API calls. The tokens are typically in the form of JSON Web Tokens (JWT), which are widely used for verifying the identity of clients and ensuring data integrity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}