{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Case Inquiry API",
    "description": "The Card Case Inquiry API provides access to detailed information regarding card cases associated with banking transactions. This endpoint allows users to retrieve specific card case data, helping financial institutions and service representatives efficiently manage and resolve customer inquiries. Typical consumers include customer service teams and banking analysts who seek to view and analyze card-related issues. Utilizing this API, businesses can enhance their support capabilities and improve customer satisfaction by quickly addressing card case matters.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/card-case": {
      "get": {
        "tags": [
          "Card Services"
        ],
        "summary": "Retrieve card case information",
        "description": "Fetches detailed information about the specific card case, allowing users to access relevant data and insights related to the case.",
        "operationId": "getCardCaseDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the details required to retrieve a card case through the servicing API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCaseDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved card case details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCaseDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCaseDetailsRequest": {
        "type": "string",
        "description": "A JSON string representation of the request body for the GET operation on the card case.",
        "example": "{}"
      },
      "GetCardCaseDetailsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card cases associated with the customer.",
            "example": [
              {
                "customerId": "CUST-825911",
                "caseId": "CASE-881118",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCase"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving card case operations. It contains an array of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-825911",
              "caseId": "CASE-881118",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fb8fe9a1-d50b-5e6e-aded-3ebb1b40337b",
            "correlationId": "8f35d4e8-e7cf-5a96-be86-0b13d6f579e7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCase": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "string"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request associated with the case.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "string"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the case was initiated.",
            "example": "string"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case.",
            "example": "string"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Due date for service level commitments.",
            "example": "string"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred method of contact.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the case record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the case.",
            "example": "string"
          }
        },
        "description": "Details about a card case."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This value should correlate with the specific API method that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-case-search-card-case"
        },
        "example": "card-case-search-card-case"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This can help in identifying which application instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a Bearer token. The token should be a valid JSON Web Token (JWT), allowing clients to authenticate securely to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}