{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Equipment Administration API",
    "description": "The Equipment Administration API allows for the management and retrieval of equipment information within the banking facilities framework. This API serves as a resource for stakeholders to efficiently access equipment details, update statuses, and manage inventory levels. Typical consumers include bank administrators and operational staff who need to monitor and administer equipment lifecycle processes. Use cases may involve querying current equipment statuses or reviewing historical data to ensure compliance and performance. With robust functionality, this API enhances the operational capabilities of banking institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-administration": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve equipment administration details",
        "description": "Fetches a comprehensive list of equipment administration data for the facilities, enabling users to manage and oversee equipment effectively.",
        "operationId": "getEquipmentAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving equipment administration details in facilities. Ensure that the payload complies with the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEquipmentAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of equipment administration details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEquipmentAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEquipmentAdministrationRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation related to equipment administration in facilities.",
        "example": "{}"
      },
      "GetEquipmentAdministrationResponse_200": {
        "title": "Equipment Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of equipment items retrieved from the operation.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-630051",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EquipmentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the equipment items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Equipment Administration GET operation. It encapsulates a list of equipment items along with pagination, sorting, and metadata details.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-630051",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d41c067a-7aed-57de-b245-137ca6ce3442",
            "correlationId": "404e097b-eaa4-5dd3-b8da-f4dc4d1b1da9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EquipmentItem": {
        "title": "Equipment Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site where the equipment is located.",
            "example": "site123"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the equipment asset.",
            "example": "asset456"
          },
          "workOrderId": {
            "type": "string",
            "description": "The identifier for the associated work order for the equipment.",
            "example": "workOrder789"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the maintenance is scheduled.",
            "example": "2023-10-10T00:00:00Z"
          },
          "vendorId": {
            "type": "string",
            "description": "The identifier for the vendor responsible for maintenance.",
            "example": "vendor101"
          },
          "facilityZone": {
            "type": "string",
            "description": "The specific zone within the facility where the equipment is located.",
            "example": "zoneA"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance to be performed on the equipment.",
            "example": "preventive"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance in minutes.",
            "format": "int32",
            "example": 120
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the equipment record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the equipment record was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Represents an individual equipment item with associated details."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": " contains pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID that helps to correlate requests and responses.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-administration-search-equipment-administration"
        },
        "example": "equipment-administration-search-equipment-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as bearer tokens for authentication. Clients must include a JWT in the authorization header as a 'Bearer' token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}