{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Facilities Utilities Administration By Utilities Administration Id-v5-spec",
    "description": "This API facilitates the retrieval of banking facilities associated with a specific Utilities Administration ID. It serves as a critical resource for financial institutions and service providers looking to access and manage utility-related banking information. Typical consumers include bank administrators and application developers who require detailed insights into utilities administration operations. By utilizing this endpoint, users can efficiently obtain relevant details to enhance decision-making and streamline administrative processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/utilities-administration/{utilitiesAdministrationId}": {
      "get": {
        "tags": [
          "Utilities Management"
        ],
        "summary": "Retrieve utility administration details for the specified resource.",
        "description": "This endpoint allows users to obtain detailed information about the utility administration for the resource identified by RES-100045. It provides all relevant data necessary for understanding the utility functionalities and offerings associated with this specific facility.",
        "operationId": "getBankingFacilitiesUtilitiesAdministrationByUtilitiesAdministrationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/utilitiesAdministrationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving utility administration details for the facility identified by RES-100045. This request may include necessary parameters to specify the retrieval criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingFacilitiesUtilitiesAdministrationByUtilitiesAdministrationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingFacilitiesUtilitiesAdministrationByUtilitiesAdministrationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingFacilitiesUtilitiesAdministrationByUtilitiesAdministrationIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for operations related to resources in the facilities utilities administration endpoint.",
        "example": "{}"
      },
      "GetBankingFacilitiesUtilitiesAdministrationByUtilitiesAdministrationIdResponse_200": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-807237"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The scheduled date for the operation.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where the operation takes place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance being performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-999"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "correlation-888"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T11:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "0b919180-490d-530d-a486-77fbbfa88c2c",
              "correlationId": "3d69fc05-b8d8-556d-8b43-612228978cb9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the Operations GET request under the Facilities Utilities Administration API.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-807237",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0b919180-490d-530d-a486-77fbbfa88c2c",
            "correlationId": "3d69fc05-b8d8-556d-8b43-612228978cb9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "utilitiesAdministrationId": {
        "name": "utilitiesAdministrationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "utilities-administration-get-utilities-administration"
        },
        "example": "utilities-administration-get-utilities-administration"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, where clients provide a JSON Web Token (JWT) as the bearer token in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}