{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Payroll Benefit *-spec",
    "description": "The Payroll Benefits Management API allows organizations to efficiently update and manage payroll benefit configurations. This endpoint enables authorized users to modify existing payroll benefits to align with changing organizational needs and employee requirements. Typical consumers include HR administrators and payroll managers who handle employee compensation packages. By utilizing this API, businesses can ensure that their payroll benefits are accurate and up-to-date, which enhances employee satisfaction and compliance with regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits/*": {
      "put": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Update payroll benefits information.",
        "description": "This operation allows the user to update the payroll benefits details for employees in the Human Resource Management system. Ensure that you provide all the required fields in the request body to successfully update the benefits information.",
        "operationId": "replacePayrollBenefit*",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates existing payroll benefits information for employees. The request must include all necessary details to modify payroll benefits as per the specified employee and benefits type. Ensure that the provided data adheres to the required schema to facilitate accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePayrollBenefit*Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePayrollBenefit*Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplacePayrollBenefit*Request": {
        "title": "Payroll Benefits Update Request",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-623156"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll information is being updated.",
            "example": "STANDARD"
          },
          "grossPay": {
            "description": "Details about the gross pay for the employee.",
            "$ref": "#/components/schemas/GrossPay"
          },
          "deductions": {
            "description": "Details about the deductions from the employee's pay.",
            "$ref": "#/components/schemas/Deductions"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment will be processed.",
            "example": "2026-09-03"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating payroll benefits information.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-623156",
          "payPeriod": "STANDARD",
          "grossPay": {
            "amount": 100,
            "currency": "USD"
          },
          "deductions": {
            "amount": 100,
            "currency": "USD"
          },
          "paymentDate": "2026-09-03",
          "requestContext": {
            "requestId": "0e4afbc1-624f-4c4e-91fa-811ccc237e43",
            "correlationId": "8a2695c1-2e58-407e-9523-35f6bbb12409",
            "idempotencyKey": "1d71a372-ae8c-48d0-b634-8b8049bff8b7",
            "requestedAt": "2026-08-27T23:01:31.014Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-202381"
            }
          }
        }
      },
      "GrossPay": {
        "title": "Gross Pay",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The total gross pay amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the gross pay is specified.",
            "example": "USD"
          }
        },
        "description": "Details about the gross pay."
      },
      "Deductions": {
        "title": "Deductions",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The total deduction amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the deductions are specified.",
            "example": "USD"
          }
        },
        "description": "Details about deductions from gross pay."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the request context."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used."
      },
      "ReplacePayrollBenefit*Response_201": {
        "title": "Payroll Benefits Response",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee related to the payroll.",
            "example": "EMP-964200"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the payroll operation.",
            "example": "RES-688439"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payroll operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payroll operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate related requests.",
                "example": "CORR67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the metadata was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Geographical region where the payroll process was executed.",
                "example": "US-East"
              }
            },
            "description": "Metadata related to the payroll operation.",
            "example": {
              "responseId": "be0ac0a4-3e1a-5fea-9ebb-5b82a734c398",
              "correlationId": "9a407193-2ade-580a-b582-1ccc1b60db84",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the payroll benefits operations.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-964200",
          "resourceId": "RES-688439",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "be0ac0a4-3e1a-5fea-9ebb-5b82a734c398",
            "correlationId": "9a407193-2ade-580a-b582-1ccc1b60db84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "53f409e50bec66f3"
        },
        "example": "53f409e50bec66f3"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b0ec33ce-dcb8-4b7d-930b-2dd46e61ac3d"
        },
        "example": "b0ec33ce-dcb8-4b7d-930b-2dd46e61ac3d"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b81877cd-a57d-4c28-ab92-e3ff283ac024"
        },
        "example": "b81877cd-a57d-4c28-ab92-e3ff283ac024"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was hit during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-create-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-create-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-082"
        },
        "example": "WF-082"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Payroll and Benefits Processing"
        },
        "example": "Employee Payroll and Benefits Processing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1221b9f5-3b2f-4ad1-a2ee-c1ea613ae7d5"
        },
        "example": "1221b9f5-3b2f-4ad1-a2ee-c1ea613ae7d5"
      }
    }
  }
}