{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Merchant Id-spec",
    "description": "This API allows users to update payment method information associated with a specific merchant. By using the provided merchant ID, developers can seamlessly replace the existing payment mappings with new configurations. This capability is essential for financial applications that require dynamic payment method management. Typical consumers include merchants and payment service providers seeking to update their payment preferences in real time.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "put": {
        "tags": [
          "Merchant Operations"
        ],
        "summary": "Update merchant details.",
        "description": "This operation allows you to update the information of a merchant using their unique identifier. Ensure that the required fields are populated in the request body to successfully modify the merchant's data.",
        "operationId": "replaceP2mByMerchantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the merchant with the specified ID. This body should contain the updated details of the merchant in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByMerchantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource is updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByMerchantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByMerchantIdRequest": {
        "type": "object",
        "properties": {
          "business": {
            "description": "Information about the business associated with the merchant.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "Address where the business is registered.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact details for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "capabilities": {
            "description": "Capabilities and services supported by the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating merchant operations.",
        "example": {
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true
          },
          "requestContext": {
            "requestId": "7bb51711-816c-5f84-bd4d-d1ec5a6249a9",
            "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
            "idempotencyKey": "fd7aaf6f-53de-5fda-b64d-680a70e372b4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-494258"
            }
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "Example Legal Name"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name under which the business operates.",
            "example": "Example Trading Name"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Official registration number of the business.",
            "example": "123456789"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number for the business.",
            "example": "TIN123456"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "USA"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "2023-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of merchant entity.",
            "example": "Retail"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Industry category code associated with the merchant.",
            "example": "6011"
          }
        },
        "description": "Details about the business entity including its legal and trading names."
      },
      "RegisteredAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "Metropolis"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "USA"
          }
        },
        "description": "The registered business address."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for the merchant.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the merchant.",
            "example": "+1-555-0100"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "https://www.example.com"
          }
        },
        "description": "Contact information for the merchant."
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels supported by the merchant.",
            "example": [
              "Online",
              "In-Store"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods accepted by the merchant.",
            "example": [
              "Credit Card",
              "PayPal"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture of payments.",
            "example": false
          }
        },
        "description": "Capabilities offered by the merchant including payment methods and channels."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "cor_123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotency in request handling.",
            "example": "idempotent_key_123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system of the request.",
            "example": "Merchant System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application generating the request.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device_123456"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "ReplaceP2mByMerchantIdResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-182747"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactDetails"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for updating a merchant in the system.",
        "example": {
          "merchantId": "MER-182747",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "cfc04029-f8b2-5c73-b0f3-6d70b1488cb5",
            "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessDetails": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "Example Corp"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name of the business.",
            "example": "Example Trading"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "REG123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "TIN123456"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "United States"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date of incorporation for the business.",
            "example": "2010-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of merchant (e.g., retailer, service provider).",
            "example": "retailer"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code.",
            "example": "1234"
          }
        },
        "description": "Details about the merchant's business."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 101"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "Anytown"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "90210"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "United States"
          }
        },
        "description": "The registered address of the merchant."
      },
      "ContactDetails": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "Website of the merchant.",
            "example": "http://example.com"
          }
        },
        "description": "Contact information for the merchant."
      },
      "MerchantCapabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Available channels for transactions.",
            "items": {
              "type": "string",
              "example": "online"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Available payment methods for the merchant.",
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refund is supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum tip percentage allowed.",
            "example": "20%"
          }
        },
        "description": "Capabilities and features offered by the merchant."
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan the merchant is on.",
            "example": "plan_001"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees (merchant or customer).",
            "example": "merchant"
          },
          "paymentFee": {
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Commercial terms relevant to the merchant."
      },
      "PaymentFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee (e.g., percentage, fixed).",
            "example": "percentage"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee that applies.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "$ref": "#/components/schemas/FixedFee"
          }
        },
        "description": "Details about the payment fee structure."
      },
      "FixedFee": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the fixed amount is defined.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Fixed amount fee.",
            "example": "1.00"
          }
        },
        "description": "Details about the fixed amount fee."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the API response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the processing of the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-merchant"
        },
        "example": "banking-p2m-openapi-replace-merchant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication mechanism based on JSON Web Tokens (JWT). Clients must include the token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}