{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List International Scheduled Payment Payment Details-spec",
    "description": "This API facilitates the retrieval of payment details for international scheduled payments. By accessing the endpoint, users can obtain comprehensive information regarding specific payment transactions, enabling greater transparency and tracking capabilities. It is particularly useful for financial institutions, payment service providers, and developers integrating payment solutions. Typical use cases include checking transaction statuses and retrieving metadata associated with scheduled payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve details of an international scheduled payment.",
        "description": "This endpoint allows you to fetch detailed information about a specific international scheduled payment using its unique identifier. You will receive comprehensive information relevant to payment processing and status updates.",
        "operationId": "listInternationalScheduledPaymentPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving payment details for the specified international scheduled payment. This request should include all necessary information to identify the payment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInternationalScheduledPaymentPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment details retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInternationalScheduledPaymentPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInternationalScheduledPaymentPaymentDetailsRequest": {
        "type": "string",
        "description": "This schema represents a string type for the request body specific to GET operations for international scheduled payments. It provides the necessary details for the payment operation.",
        "example": "{}"
      },
      "ListInternationalScheduledPaymentPaymentDetailsResponse_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "An array of payment transaction statuses.",
                "items": {
                  "$ref": "#/components/schemas/PaymentTransactionStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results."
                  }
                },
                "description": "Links related to the payment data."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available for results.",
                    "format": "int32"
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The first available date and time for payments."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The last available date and time for payments."
                  }
                },
                "description": "Metadata information regarding the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "ID for correlating the request and response."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the payment was processed."
                  }
                },
                "description": "Additional metadata about the response."
              }
            },
            "description": "Contains detailed information about the payment status and related links.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-109323",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "This schema represents the response structure for payment details in an international scheduled payments operation.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-109323",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "a896835f-cb3a-570b-b105-5bdeacb1de65",
            "correlationId": "cb21e727-e413-568b-b25a-2ca875f2b9b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentTransactionStatus": {
        "title": "Payment Transaction Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated."
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "The local instrument used for the transaction."
              },
              "Status": {
                "type": "string",
                "description": "Detailed status of the payment."
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason code for the current status."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Human-readable description of the status reason."
              }
            },
            "description": "Detailed information about the payment status."
          }
        },
        "description": "This schema contains information about the status of a payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-scheduled-payment-details"
        },
        "example": "payment-initiation-openapi-get-international-scheduled-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Users must provide a JSON Web Token (JWT) in the Authorization header for authentication and access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}