{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Quality Assurance API",
    "description": "The Product Quality Assurance API enables users to monitor and ensure the quality of financial products within the banking sector. Utilizing this API, developers can retrieve essential quality metrics, assess compliance with standards, and manage risk associated with product offerings. Typical consumers include product managers, compliance officers, and quality assurance teams who require insights for improving product reliability. This API supports key operations to maintain and elevate product quality, ensuring optimal customer satisfaction and regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-quality-assurance": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product quality assurance details",
        "description": "This endpoint allows developers to fetch the details related to product quality assurance, including various metrics and standards applied to ensure product integrity.",
        "operationId": "getProductQualityAssurance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch product quality assurance information for the specified product management operations. It allows clients to specify various parameters necessary for retrieving accurate data regarding product quality control measures.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductQualityAssuranceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returns product quality assurance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductQualityAssuranceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductQualityAssuranceRequest": {
        "type": "string",
        "description": "The request body for the product quality assurance operations.",
        "example": "{}"
      },
      "GetProductQualityAssuranceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of product quality assurance items.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductQualityAssuranceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object for the product quality assurance retrieval operation, including the items found, pagination details, sorting criteria, and metadata.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8ec724be-9284-572c-8d8d-48ad380680ac",
            "correlationId": "d9779d69-86d2-5218-bc4b-26c62e985b4e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductQualityAssuranceItem": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code assigned to the product."
          },
          "productName": {
            "type": "string",
            "description": "The name of the product."
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment for which the product is targeted."
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the product pricing."
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product details are effective.",
            "example": "2022-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the product record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the product details were last updated."
          }
        },
        "description": "Represents a product quality assurance item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place."
          }
        },
        "description": "Metadata information accompanying the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-quality-assurance-search-product-quality-assurance"
        },
        "example": "product-quality-assurance-search-product-quality-assurance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for API requests. This format specifies that the token should be a JSON Web Token (JWT), which includes claims about the user and is typically signed for verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}