{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Voietxverify Withinterview-spec",
    "description": "The Voietxverify With Interview API enables businesses to initiate a comprehensive verification process for customers, specifically tailored for cases that require an interview. Through this API, organizations can submit customer data and interview specifics to validate identities, ensuring a secure transaction environment. Typical users include compliance officers and customer service agents who need to perform thorough identity checks in sensitive scenarios. This API supports critical use cases in fraud prevention and regulatory compliance across various industries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voietxverify/withinterview": {
      "post": {
        "tags": [
          "Customer Verification"
        ],
        "summary": "Verify customer identity with interview process.",
        "description": "This endpoint is designed to verify the identity of a customer using an interview process. It facilitates the confirmation of customer details and ensures compliance with identity verification standards.",
        "operationId": "createVoietxverifyWithinterview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information required to perform an interview verification for the specified customer. Ensure that all required fields are accurately filled out to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoietxverifyWithinterviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoietxverifyWithinterviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoietxverifyWithinterviewRequest": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representing the IDs of the accounts.",
            "example": "ACC-902702"
          },
          "voieWithInterviewData": {
            "description": "Data related to Voie with Interview.",
            "$ref": "#/components/schemas/VoeWithInterviewData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the report in integer format.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "Minimum confidence for income stream in integer format.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the Voie with Interview operation.",
        "example": {
          "accountIds": "ACC-902702",
          "voieWithInterviewData": {
            "txVerifyInterview": [
              {
                "assetId": "STANDARD",
                "accounts": [
                  "STANDARD"
                ]
              }
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "7d22eddb-9ce9-545e-8cbf-afdf22b2f9ff",
            "correlationId": "e7ccfbe7-1edd-5263-bb99-3b60866a23eb",
            "idempotencyKey": "82e33b2f-486d-56e0-973b-236a31f622f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-266435"
            }
          }
        }
      },
      "VoeWithInterviewData": {
        "type": "object",
        "properties": {
          "txVerifyInterview": {
            "type": "array",
            "description": "Details of transaction verification interviews.",
            "items": {
              "$ref": "#/components/schemas/TxVerifyInterview"
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Indicates whether to extract earnings data.",
            "example": false
          }
        },
        "description": "Data structure for VOIE with interview information."
      },
      "TxVerifyInterview": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset involved in the interview.",
            "example": "asset-1"
          },
          "accounts": {
            "type": "array",
            "description": "Associated account identifiers.",
            "items": {
              "type": "string",
              "description": "List of account identifiers linked to the transaction.",
              "example": "account-1"
            }
          }
        },
        "description": "Details of a transaction verification interview."
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field is shown.",
            "example": false
          }
        },
        "description": "Custom field data for the report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Information about the request channel."
      },
      "CreateVoietxverifyWithinterviewResponse_202": {
        "title": "Customer Verification Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the verification request.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "4e4c084f-ac29-5509-9bf0-847ddc7c258e"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person or entity making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user for the verification.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Creation date of the verification request in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title or subject of the verification request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer associated with the verification.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes related to the verification.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of verification being performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the verification request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints and additional requirements for the verification.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata associated with the verification request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer verification with interview details.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "4e4c084f-ac29-5509-9bf0-847ddc7c258e",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-306963"
            ],
            "voieWithInterviewData": {
              "txVerifyInterview": [
                {
                  "assetId": "STANDARD",
                  "accounts": [
                    "STANDARD"
                  ]
                }
              ],
              "extractEarnings": true
            }
          },
          "metadata": {
            "responseId": "a99de97b-780f-5f4b-a00c-34924337858d",
            "correlationId": "e7ccfbe7-1edd-5263-bb99-3b60866a23eb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "456 Another St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Big City"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-555-5555"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "user@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website or profile URL for the end user.",
            "example": "http://example.com/user"
          }
        },
        "description": "Details of the end user for verification."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "consumer-123"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Jane"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Smith"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "789 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Big City"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "555-555-5555"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "jane@example.com"
          }
        },
        "description": "Detailed information about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers.",
            "items": {
              "type": "string",
              "description": "Unique identifiers for each account associated with verification.",
              "example": "account-1"
            }
          },
          "voieWithInterviewData": {
            "description": "Details about VOIE with interview data.",
            "$ref": "#/components/schemas/VoeWithInterviewData"
          }
        },
        "description": "Defines constraints and requirements for the verification process."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2021-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-east"
          }
        },
        "description": "Metadata related to the verification process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voie-paystub-with-tx-verify-report"
        },
        "example": "open-finance-api-generate-voie-paystub-with-tx-verify-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a JSON Web Token (JWT) to be included in the Authorization header of requests. The token should be structured according to the JWT standards which facilitate secure and verifiable communications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}