{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Payment Instructions API",
    "description": "The Customer Account Payment Instructions API provides access to detailed payment instructions associated with a specific customer account. This API allows users to retrieve essential information on how payments can be processed, including supported payment methods and instructions specific to the customer's account. Typical consumers include financial institutions and payment processing systems looking to streamline payment operations. By utilizing this API, developers can enhance customer experience and ensure accurate payment handling.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/details/payment-instructions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve payment instructions for a specific account",
        "description": "This endpoint allows you to fetch the payment instructions associated with a particular account. By providing the customer and account identifiers, you can obtain the detailed information necessary for making payments.",
        "operationId": "getPaymentInstructionsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Retrieve payment instruction details for a specific account. Ensure that the specified customer and account IDs are valid and exist in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentInstructionsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment instructions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentInstructionsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentInstructionsForAccountRequest": {
        "type": "string",
        "description": "This schema represents a JSON string that contains payment instructions for a specific account under a customer. It is intended for use in the GET operation to retrieve payment-related information.",
        "example": "{}"
      },
      "GetPaymentInstructionsForAccountResponse_200": {
        "type": "object",
        "properties": {
          "paymentInstruction": {
            "type": "array",
            "description": "List of payment instructions associated with the account.",
            "example": [
              {
                "type": "STANDARD",
                "accountNumber": "STANDARD",
                "tanEnabled": true,
                "descriptors": [
                  {
                    "type": "STANDARD",
                    "value": "STANDARD"
                  }
                ],
                "transferInEnabled": true,
                "transferOutEnabled": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentInstruction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment instructions related to a specific customer account.",
        "example": {
          "paymentInstruction": [
            {
              "type": "STANDARD",
              "accountNumber": "STANDARD",
              "tanEnabled": true,
              "descriptors": [
                {
                  "type": "STANDARD",
                  "value": "STANDARD"
                }
              ],
              "transferInEnabled": true,
              "transferOutEnabled": true
            }
          ],
          "metadata": {
            "responseId": "f8897837-f63f-5a53-837c-2936584ed7a4",
            "correlationId": "1ea3317a-3a25-5710-ac49-9011b635055d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentInstruction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment instruction.",
            "example": "string"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the payment instruction.",
            "example": "string"
          },
          "tanEnabled": {
            "type": "boolean",
            "description": "Indicates whether TAN (Transaction Authentication Number) is enabled for this instruction.",
            "example": false
          },
          "descriptors": {
            "type": "array",
            "description": "List of descriptors for this payment instruction.",
            "items": {
              "$ref": "#/components/schemas/Descriptor"
            }
          },
          "transferInEnabled": {
            "type": "boolean",
            "description": "Indicates whether incoming transfers are enabled.",
            "example": false
          },
          "transferOutEnabled": {
            "type": "boolean",
            "description": "Indicates whether outgoing transfers are enabled.",
            "example": false
          }
        },
        "description": "Details of a payment instruction including type, account number, and related settings."
      },
      "Descriptor": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of descriptor.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the descriptor.",
            "example": "string"
          }
        },
        "description": "A descriptor associated with a payment instruction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response including identifier and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracing and monitoring requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-payment-instruction-details"
        },
        "example": "open-finance-api-get-account-payment-instruction-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request. This information is used for logging and metrics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token format, specifically utilizing JSON Web Tokens (JWT). This scheme allows secure access to the API by providing a valid token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}