{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Certified Institutions Lookup API",
    "description": "The Certified Institutions Lookup API provides users with access to a comprehensive list of certified institutions. This endpoint allows developers to retrieve detailed information about institutions certified under the RSSD number, supporting regulatory compliance and institutional verification. Typical consumers include financial services firms, regulatory bodies, and compliance teams seeking up-to-date certification data for institutions. Use this API to enhance your applications requiring accurate institutional verification and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/certifiedinstitutions/rssd": {
      "get": {
        "tags": [
          "Certified Institutions"
        ],
        "summary": "Retrieve RSSD information of certified institutions.",
        "description": "This endpoint allows users to access the RSSD (Regulatory Supervision System Data) information for certified institutions. It provides a comprehensive dataset ensuring users can make informed decisions based on the regulatory data available.",
        "operationId": "getCertifiedInstitutionsRssd",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving certified institutions by their RSSD identifier. The body should adhere to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCertifiedInstitutionsRssdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of certified institutions data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCertifiedInstitutionsRssdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCertifiedInstitutionsRssdRequest": {
        "title": "Certified Institutions RSSD Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation pertaining to certified institutions identified by RSSD.",
        "example": "{}"
      },
      "GetCertifiedInstitutionsRssdResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond those currently displayed.",
            "example": true
          },
          "requestedDate": {
            "type": "integer",
            "description": "The date when the request was made, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "A list of institutions matching the request criteria.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "liabilityData": true,
                "billPayData": true,
                "oauthEnabled": true,
                "productionStatus": {
                  "overallStatus": "ACTIVE",
                  "transAgg": "STANDARD",
                  "stateAgg": "STANDARD",
                  "voa": "STANDARD",
                  "voi": "STANDARD",
                  "ach": "STANDARD",
                  "aha": "STANDARD"
                },
                "rssd": 1,
                "childInstitutions": [
                  {
                    "rssd": 1,
                    "parentRSSD": 1,
                    "name": "Northstar Banking Service",
                    "institutionId": 1
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "5bb877be-f20a-527d-a2c0-4f9546044e1b",
              "correlationId": "529a5973-3236-505f-a080-e95a3eb0c768",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving certified institutions.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "requestedDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "liabilityData": true,
              "billPayData": true,
              "oauthEnabled": true,
              "productionStatus": {
                "overallStatus": "ACTIVE",
                "transAgg": "STANDARD",
                "stateAgg": "STANDARD",
                "voa": "STANDARD",
                "voi": "STANDARD",
                "ach": "STANDARD",
                "aha": "STANDARD"
              },
              "rssd": 1,
              "childInstitutions": [
                {
                  "rssd": 1,
                  "parentRSSD": 1,
                  "name": "Northstar Banking Service",
                  "institutionId": 1
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "5bb877be-f20a-527d-a2c0-4f9546044e1b",
            "correlationId": "529a5973-3236-505f-a080-e95a3eb0c768",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates whether transaction aggregation is enabled for the institution.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates whether ACH transactions are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates whether state aggregation is enabled for the institution.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates whether the institution supports VOI.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates whether the institution supports VOA.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates whether AHA features are available.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates whether the institution provides available balance details.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates whether account owner details are available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates whether student loan data is provided.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates whether loan payment details are available.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates whether liability data is available from the institution.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates whether bill pay data is provided.",
            "example": false
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates whether OAuth is enabled for the institution.",
            "example": false
          },
          "productionStatus": {
            "type": "object",
            "properties": {
              "overallStatus": {
                "type": "string",
                "description": "Overall production status of the institution.",
                "example": "string"
              },
              "transAgg": {
                "type": "string",
                "description": "Transaction aggregation status.",
                "example": "string"
              },
              "stateAgg": {
                "type": "string",
                "description": "State aggregation status.",
                "example": "string"
              },
              "voa": {
                "type": "string",
                "description": "VOA status.",
                "example": "string"
              },
              "voi": {
                "type": "string",
                "description": "VOI status.",
                "example": "string"
              },
              "ach": {
                "type": "string",
                "description": "ACH status.",
                "example": "string"
              },
              "aha": {
                "type": "string",
                "description": "AHA status.",
                "example": "string"
              }
            },
            "description": "Production status details for the institution."
          },
          "rssd": {
            "type": "integer",
            "description": "RSSD identifier of the institution.",
            "format": "int32",
            "example": 0
          },
          "childInstitutions": {
            "type": "array",
            "description": "A list of child institutions under the main institution.",
            "items": {
              "$ref": "#/components/schemas/ChildInstitution"
            }
          }
        },
        "description": "Schema representing an individual institution."
      },
      "ChildInstitution": {
        "type": "object",
        "properties": {
          "rssd": {
            "type": "integer",
            "description": "RSSD identifier of the child institution.",
            "format": "int32",
            "example": 0
          },
          "parentRSSD": {
            "type": "integer",
            "description": "RSSD identifier of the parent institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the child institution.",
            "example": "string"
          },
          "institutionId": {
            "type": "integer",
            "description": "Unique identifier for the child institution.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing a child institution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the API endpoint being called, useful for tracking requests and debugging performance issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-certified-institutions-with-rssd"
        },
        "example": "open-finance-api-get-certified-institutions-with-rssd"
      },
      "x-runtime-app": {
        "description": "Indicates the name of the application or system processing the request, helping to identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method to provide secure access to the API. Users must include a valid JSON Web Token (JWT) in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}