{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Inquiry API",
    "description": "The Product Inventory Inquiry API enables users to access real-time information about product inventory items within specific banking channels. This API supports operations that retrieve details about available inventory, including stock levels, item descriptions, and pricing. It is primarily utilized by banking institutions and e-commerce platforms to ensure accurate product availability data is displayed to customers. Developers can leverage this API to create seamless user experiences by integrating dynamic product inventory insights into applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management": {
      "get": {
        "tags": [
          "Inventory Management"
        ],
        "summary": "Retrieve Product Inventory Items for a Specific Channel",
        "description": "This endpoint allows you to fetch all product inventory items associated with a specific channel. It is essential for managing and displaying inventory for various sales channels.",
        "operationId": "getProductInventoryItemsByChannel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product inventory items specific to a channel. This body is structured to align with the required schema for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductInventoryItemsByChannelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested inventory items.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductInventoryItemsByChannelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductInventoryItemsByChannelRequest": {
        "title": "Channel-Specific Product Inventory Item Management Request Body",
        "type": "string",
        "description": "This schema represents the request body for channel-specific product inventory item management operations in JSON format.",
        "example": "{}"
      },
      "GetProductInventoryItemsByChannelResponse_200": {
        "title": "Product Inventory Item Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of inventory items.",
            "example": [
              {
                "inventoryItemId": "STANDARD",
                "sku": "STANDARD",
                "branchId": "STANDARD",
                "quantityOnHand": 1,
                "reorderPoint": 1,
                "distributionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            }
          },
          "pagination": {
            "description": "Details about pagination for the inventory item list.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the inventory items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Response metadata including IDs and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of the Product Inventory Item Management API, providing details about inventory items along with pagination and metadata.",
        "example": {
          "items": [
            {
              "inventoryItemId": "STANDARD",
              "sku": "STANDARD",
              "branchId": "STANDARD",
              "quantityOnHand": 1,
              "reorderPoint": 1,
              "distributionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "779e12c7-1e9a-56d4-a70b-70c938197d7d",
            "correlationId": "647318d9-3c2a-52cf-bee2-df6200ede281",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InventoryItem": {
        "title": "Inventory Item",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item."
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit identifier of the inventory item."
          },
          "branchId": {
            "type": "string",
            "description": "Identifier of the branch where the inventory item is stored."
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "Number of units of the inventory item currently available.",
            "format": "int32"
          },
          "reorderPoint": {
            "type": "integer",
            "description": "Threshold quantity for triggering a reorder of the inventory item.",
            "format": "int32"
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "Quantity of the inventory item designated for distribution.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the inventory item's record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the inventory item was last updated."
          }
        },
        "description": "Schema representing an inventory item in the system."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated list of items.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the inventory.",
            "format": "int32"
          }
        },
        "description": "Schema to handle pagination information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema to include metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-search-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-search-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format, specifically JSON Web Tokens (JWT), for authentication. Clients must include the JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}