{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sub Custodian Agreement Management API",
    "description": "The Sub Custodian Agreement Management API facilitates the creation and management of agreements with external agencies acting as sub custodians. This API allows financial institutions to onboard and configure sub custodian partnerships efficiently, ensuring compliance with legal and operational standards. Typical consumers include banking institutions and investment firms looking to streamline custodial operations and monitor agreement terms. With a focus on enhancing asset management and operational transparency, this API supports critical functions in the financial services ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/sub-custodian-agreement": {
      "post": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Create a new sub-custodian agreement for an external agency.",
        "description": "This endpoint allows users to create a new sub-custodian agreement specifically for an external agency. Ensure that all required fields are filled out in the request body to successfully create the agreement.",
        "operationId": "createExternalAgencySubCustodianAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is designed for creating a new sub-custodian agreement with the external agency. It requires specific data conforming to the defined schema to ensure the agreement is properly established and registered.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencySubCustodianAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The sub-custodian agreement has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencySubCustodianAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencySubCustodianAgreementRequest": {
        "title": "Sub Custodian Agreement Request Body",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-580838"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 code for the country.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for creating a sub custodian agreement with details including institution information, agreement specifics, and request context.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-580838",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "627b38b3-2092-5430-97b2-55a3508cbb1a",
            "correlationId": "6137d418-1670-5f80-810b-6646025e09b9",
            "idempotencyKey": "e218262e-3e55-55e9-bd99-5a0ff80f1546",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-575240"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request_789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "correlation_012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idempotency_key_345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system where the request originated.",
            "example": "sourceSystem123"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "sourceApp456"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information for the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., API, Web UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device initiating the request.",
            "example": "device_654"
          }
        },
        "description": "Information about the channel used to initiate the request."
      },
      "CreateExternalAgencySubCustodianAgreementResponse_201": {
        "title": "Sub Custodian Agreement Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-418016"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code of the country associated with the agreement.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to the agreement.",
            "example": "RES-128794"
          },
          "status": {
            "type": "string",
            "description": "The current status of the agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a Sub Custodian Agreement operation. It contains metadata about the agreement and details such as institution ID, agreement ID, country code, and the status of the agreement.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-418016",
          "countryCode": "US",
          "resourceId": "RES-128794",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "386514e0-3b15-5b71-9138-f3d4a29b82ec",
            "correlationId": "6137d418-1670-5f80-810b-6646025e09b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request lifecycle.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information about the response, including identifying and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sub-custodian-agreement-create-sub-custodian-agreement"
        },
        "example": "sub-custodian-agreement-create-sub-custodian-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication. The bearer token must be a valid JSON Web Token (JWT), and it should be included in the `Authorization` header of requests in the format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}