{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Order Cancellations API",
    "description": "The Payment Order Cancellations API allows businesses to cancel specific payment orders efficiently. By using this API, users can manage cancellations based on unique identifiers, ensuring swift resolution of payment disputes or changes in transaction requirements. This functionality is particularly beneficial for financial institutions and payment processing services that require timely updates to their transaction records. Stakeholders such as customer service representatives and financial analysts can utilize this API to streamline customer inquiries related to payment cancellations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-order/{param1}/cancellations": {
      "delete": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Cancel a payment order.",
        "description": "This operation allows you to cancel a specific payment order identified by its ID. Ensure that the order status allows for cancellation before proceeding with this operation.",
        "operationId": "deletePaymentOrderCancellation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body to cancel a specific payment order. This contains the necessary information to process the cancellation request for the payment order identified by PAY-300045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePaymentOrderCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted; cancellation is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePaymentOrderCancellationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeletePaymentOrderCancellationRequest": {
        "type": "string",
        "description": "The request body for deleting a cancellation order in the payment operation with the ID PAY-300045.",
        "example": "{}"
      },
      "DeletePaymentOrderCancellationResponse_202": {
        "title": "Cancellation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action that was taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed for the cancellation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the cancellation request.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the cancellation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional details related to the cancellation request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the cancellation operation of a payment order. This schema includes details about the action taken, the status of the operation, and metadata related to the request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "35de2c40-5381-53cf-b32e-37cd98fee8cf",
            "correlationId": "be0a541c-0c74-5da7-93a8-19cd98099bda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Cancellation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated by the cancellation operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing and correlating this request with other operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information regarding the cancellation request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request. This is useful for tracing requests through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-cancel-payment-order"
        },
        "example": "payment-order-cancel-payment-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This helps in understanding which part of the system is being utilized.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow instance that is associated with the request. It aids in tracking the progress and status of operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-020"
        },
        "example": "WF-020"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this payment cancellation operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payment Recall Reversal and Investigation"
        },
        "example": "Payment Recall Reversal and Investigation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow process for this payment cancellation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of this workflow, which can be used for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "43af7c5e-d99f-4496-aede-67d7b13435f8"
        },
        "example": "43af7c5e-d99f-4496-aede-67d7b13435f8"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. Clients must send a bearer token (a JSON Web Token, or JWT) in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}