{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Trust Services API",
    "description": "The Corporate Trust Services API empowers organizations to manage their corporate trust operations efficiently. Through this API, users can initiate and oversee various trust-related services, including transaction processing and asset management. It's designed for financial institutions and corporate entities seeking to streamline their trust service offerings. With robust features, this API ensures compliance and enhances service delivery to clients in need of corporate trust solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/corporate-trust-services": {
      "post": {
        "tags": [
          "Corporate Trust Services"
        ],
        "summary": "Create a new corporate trust service.",
        "description": "This operation allows you to create a new service under the corporate trust services category. It encompasses all necessary details to set up a service for corporate trust operations, ensuring compliance and operational readiness.",
        "operationId": "createCorporateTrustService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for initiating corporate trust services. This object should contain the necessary details required for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateTrustServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the corporate trust service has been successfully registered.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateTrustServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateTrustServiceRequest": {
        "title": "Corporate Trust Service Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-229440"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request.",
            "example": "0327d8db-4dea-52f0-941a-6864c9a5fa8a"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "Object containing the amount and currency for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the service was requested, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Object containing context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used in Corporate Trust Services operations. It contains details about the customer, service request, product, amount, and context of the request.",
        "example": {
          "customerId": "CUST-229440",
          "serviceRequestId": "0327d8db-4dea-52f0-941a-6864c9a5fa8a",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "25ce2bc9-848f-5846-aa16-278cd9e04f00",
            "correlationId": "3a08ca80-7fc2-5e5b-9f10-5d407fd140cb",
            "idempotencyKey": "6c82513c-0dd2-5d4f-8526-e103bc43dcb7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-180517"
            }
          }
        }
      },
      "Amount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.5
          },
          "currency": {
            "type": "string",
            "description": "Currency code in ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount and currency involved in the transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEMPOTENT-KEY-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request was made.",
            "example": "ApplicationX"
          },
          "channel": {
            "description": "Object containing information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "CreateCorporateTrustServiceResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-553680"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "4ab19757-3e8c-5612-95e7-4d3b96e048be"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-416029"
          },
          "status": {
            "type": "string",
            "description": "Current status of the service request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the service request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the service request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation in Corporate Trust Services.",
        "example": {
          "customerId": "CUST-553680",
          "serviceRequestId": "4ab19757-3e8c-5612-95e7-4d3b96e048be",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-416029",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1cd6343b-4e53-5c62-9db7-939824e44039",
            "correlationId": "3a08ca80-7fc2-5e5b-9f10-5d407fd140cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-22222"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests and responses.",
            "example": "corr-33333"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the service request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information about the service request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This header can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-trust-services-create-corporate-trust-services"
        },
        "example": "corporate-trust-services-create-corporate-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request. This header helps identify which application instance processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer authentication, which involves sending a JSON Web Token (JWT) as part of the HTTP headers. The JWT is used to authorize access to secure endpoints, ensuring that only users with a valid token can perform certain actions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}