{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debit Mandate Management API",
    "description": "The Direct Debit Mandate Management API enables users to modify existing direct debit mandates efficiently. This API is designed primarily for banks and financial institutions that need to update mandate details, ensuring up-to-date information for recurring transactions. Typical use cases include updating customer account information or changing payment amounts. By facilitating seamless updates, this API supports improved operational efficiency and enhances customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit-mandate/{param1}": {
      "patch": {
        "tags": [
          "Direct Debit Mandate"
        ],
        "summary": "Update a Direct Debit Mandate",
        "description": "This endpoint allows you to update the details of a specific Direct Debit Mandate identified by its ID. Ensure that you provide the necessary fields that you want to modify in your request.",
        "operationId": "updateDirectDebitMandateById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a direct debit mandate in the trade banking system. The data provided should comply with the specified schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDirectDebitMandateByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDirectDebitMandateByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDirectDebitMandateByIdRequest": {
        "title": "Direct Debit Mandate Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes to the Direct Debit Mandate.",
            "$ref": "#/components/schemas/DirectDebitMandateChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change to the Direct Debit Mandate.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the entity that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to update a Direct Debit Mandate. It contains the changes to be made, the reason for the change, and details regarding the request context.",
        "example": {
          "changes": {
            "mandateId": "2026-09-15",
            "debtorAccountId": "ACC-633542",
            "creditorSchemeId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b3cb2d12-280c-5138-867e-046b2fb9bbbe",
            "correlationId": "a0d8a45a-073d-5ac2-af76-1b01a13e604b",
            "idempotencyKey": "0ebf775a-65bb-567c-b8dc-876cf75592fb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-475071"
            }
          }
        }
      },
      "DirectDebitMandateChanges": {
        "title": "Direct Debit Mandate Changes",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "The unique identifier of the Direct Debit Mandate.",
            "example": "mdt_78901234"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier of the debtor's account.",
            "example": "acc_56789012"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The identifier for the creditor scheme associated with the mandate.",
            "example": "cs_33445566"
          }
        },
        "description": "Schema for the changes related to a Direct Debit Mandate."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique ID for the request.",
            "example": "req_00112233"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate different requests/transactions.",
            "example": "cor_99887766"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotent_key_example_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "PaymentSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema that holds information about the request context."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_456789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used for the request.",
            "example": "device_123456"
          }
        },
        "description": "Schema representing the information about the request channel."
      },
      "UpdateDirectDebitMandateByIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation indicating success or error.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata about the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation related to direct debit mandate in trade banking.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e222354d-cafb-551c-8844-0649189cf2fd",
            "correlationId": "a0d8a45a-073d-5ac2-af76-1b01a13e604b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Schema containing metadata for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-update-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-update-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request, which can be useful for monitoring and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method via JSON Web Tokens (JWT). Clients should include the token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}