{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Market Operations Unit Trust Administration-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Market Operations Unit Trust Administration-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/unit-trust-administration": {
      "post": {
        "operationId": "createBankingMarketOperationsUnitTrustAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingMarketOperationsUnitTrustAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingMarketOperationsUnitTrustAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingMarketOperationsUnitTrustAdministrationRequest": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "unitsOutstanding": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "6c15f610-1765-5cc8-8bde-f2ef4f913a50",
              "correlationId": "504026b9-efc3-54c7-b2ba-73bb26833f9b",
              "idempotencyKey": "41820b96-ce56-5ebe-aede-977030ac2721",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-799197"
              }
            }
          }
        },
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "requestContext": {
            "requestId": "6c15f610-1765-5cc8-8bde-f2ef4f913a50",
            "correlationId": "504026b9-efc3-54c7-b2ba-73bb26833f9b",
            "idempotencyKey": "41820b96-ce56-5ebe-aede-977030ac2721",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-799197"
            }
          }
        }
      },
      "CreateBankingMarketOperationsUnitTrustAdministrationResponse_201": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "example": "STANDARD"
          },
          "administratorId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-305641"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "78dfd503-0692-58e4-9562-d44d4d61e441",
              "correlationId": "504026b9-efc3-54c7-b2ba-73bb26833f9b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "administratorId": "STANDARD",
          "resourceId": "RES-305641",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "78dfd503-0692-58e4-9562-d44d4d61e441",
            "correlationId": "504026b9-efc3-54c7-b2ba-73bb26833f9b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "unit-trust-administration-create-unit-trust-administration"
        },
        "example": "unit-trust-administration-create-unit-trust-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}