{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Suitability Checking API",
    "description": "The Suitability Checking API supports financial institutions in assessing investment suitability for clients based on their profiles and market conditions. By leveraging this endpoint, users can submit client information and receive evaluations that ensure compliance with regulatory standards. Typical consumers include wealth management firms, financial advisors, and robo-advisory platforms seeking to enhance client trust and operational efficiency. The API facilitates decision-making processes related to investment products and services, thereby optimizing the client-advisor relationship.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/suitability-checking": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Perform suitability checking for wholesale trading.",
        "description": "This endpoint allows users to perform a suitability check specific to wholesale trading. It ensures that transactions are appropriate based on the criteria defined for wholesale trading activities.",
        "operationId": "checkSuitabilityForWholesaleTrading",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information for performing a suitability check in wholesale trading. Ensure that all required fields are filled out accurately to facilitate a thorough assessment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSuitabilityForWholesaleTradingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created as a result of the request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSuitabilityForWholesaleTradingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CheckSuitabilityForWholesaleTradingRequest": {
        "title": "Suitability Checking Request Body",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Trading side, e.g., 'buy' or 'sell'.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price details for the trade.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the suitability checking operation in the wholesale trading context.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "35b8e438-c4a0-50e5-bfca-ef6e6cbc18e3",
            "correlationId": "89973295-2e13-5af9-9bcd-4282ea9a6b19",
            "idempotencyKey": "94f00f30-1563-5b5e-a263-103258b93c1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-726753"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 100.5
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "USD"
          }
        },
        "description": "This schema represents the limit price details for a trade."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotencyKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "OrderApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides context about the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., 'API', 'Web', etc.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originates.",
            "example": "device456"
          }
        },
        "description": "This schema represents the channel information for the request."
      },
      "CheckSuitabilityForWholesaleTradingResponse_201": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-252471"
          },
          "status": {
            "type": "string",
            "description": "Current status of the suitability check.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the suitability check was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the suitability check.",
            "$ref": "#/components/schemas/SuitabilityCheckMetadata"
          }
        },
        "description": "Response schema for the suitability checking operation in wholesale trading.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-252471",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "47694efa-29e0-5988-9e74-4f4fe8e69c44",
            "correlationId": "89973295-2e13-5af9-9bcd-4282ea9a6b19",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SuitabilityCheckMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "responseABC"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used to correlate requests and responses.",
            "example": "correlationXYZ"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the suitability check response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "suitability-checking-create-suitability-checking"
        },
        "example": "suitability-checking-create-suitability-checking"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that executed the operation, providing context about the execution environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that employs a JSON Web Token (JWT) to grant access to protected resources. This scheme is typically used to authenticate users by providing a secure token upon successful login, which is then sent in the `Authorization` header with each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}