{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer VOI Text Verification with Statement API",
    "description": "This API facilitates the financial validation of customer identities using the VOI (Verification of Identity) process with integrated statement information. It allows businesses to initiate the verification process for a given customer by utilizing their unique customer ID, ensuring compliance and risk mitigation. Typical consumers of this API include financial institutions, insurance companies, and service providers seeking to verify customer identities efficiently. By leveraging this API, organizations can enhance their onboarding processes and improve fraud prevention measures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voietxverify/withstatement": {
      "post": {
        "tags": [],
        "summary": "Verify customer details with statement using VoietX.",
        "description": "This operation allows you to verify the details of a specific customer using their statement via the VoietX verification service. It returns the verification status and details for the provided customer ID.",
        "operationId": "postVoietxVerifyWithStatementForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a Voitex verification process for a specific customer identified by the given ID, including necessary statement information. Users are required to provide all relevant data in the specified JSON format to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostVoietxVerifyWithStatementForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVoietxVerifyWithStatementForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostVoietxVerifyWithStatementForCustomerRequest": {
        "title": "Voie with Statement Request Body",
        "type": "object",
        "properties": {
          "voieWithStatementData": {
            "description": "Contains details related to asset extraction and reporting.",
            "$ref": "#/components/schemas/VoieWithStatementData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for reporting purposes.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "requestContext": {
            "description": "Metadata about the request, including identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to the Voie with Statement operation, containing data related to asset management and reporting context.",
        "example": {
          "voieWithStatementData": {
            "assetIds": [
              "STANDARD"
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "requestContext": {
            "requestId": "676197e8-71dc-57fa-b08a-cf3c5c2d9247",
            "correlationId": "3b5f3300-04c0-5a17-b171-c5900ad99a68",
            "idempotencyKey": "4b6424e3-ce11-583c-8d14-2325e3685827",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-694576"
            }
          }
        }
      },
      "VoieWithStatementData": {
        "title": "VOIE with Statement Data",
        "type": "object",
        "properties": {
          "assetIds": {
            "type": "array",
            "description": "List of asset identifiers.",
            "example": [
              "asset1",
              "asset2"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for each asset."
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Flag indicating if earnings should be extracted.",
            "example": false
          },
          "extractDeductions": {
            "type": "boolean",
            "description": "Flag indicating if deductions should be extracted.",
            "example": false
          },
          "extractDirectDeposit": {
            "type": "boolean",
            "description": "Flag indicating if direct deposit should be extracted.",
            "example": false
          }
        },
        "description": "Schema representing specifics of VOIE with statement data."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "Customer Type"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field label.",
            "example": "Premium"
          },
          "shown": {
            "type": "boolean",
            "description": "Flag indicating whether the custom field should be displayed.",
            "example": true
          }
        },
        "description": "Structure representing custom fields added to the report, including labels and values."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that generated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request, including identifiers and source applications."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used in the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel, e.g., web, mobile, API.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel utilized for the request."
      },
      "PostVoietxVerifyWithStatementForCustomerResponse_202": {
        "title": "Customer Verification Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the verification request.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "844c50c4-1940-5298-b3b2-173f0c5b9bb6"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user related to the verification.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the verification request was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the verification request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "ID of the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement of dispute if any.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of verification.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the verification.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the verification request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata about the verification response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a customer verification request.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "844c50c4-1940-5298-b3b2-173f0c5b9bb6",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "voieWithStatementData": {
              "assetIds": [
                "STANDARD"
              ],
              "extractEarnings": true,
              "extractDeductions": true,
              "extractDirectDeposit": true
            }
          },
          "metadata": {
            "responseId": "793a9212-fb4c-5cc0-bade-893d71dd48b9",
            "correlationId": "3b5f3300-04c0-5a17-b171-c5900ad99a68",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL related to the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing end user details."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "Constraints": {
        "title": "Constraints on Verification Request",
        "type": "object",
        "properties": {
          "voieWithStatementData": {
            "description": "Details related to VOIE with statement data.",
            "$ref": "#/components/schemas/VoieWithStatementData"
          }
        },
        "description": "Schema representing constraints associated with the verification request."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the verification response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "13fe95a6-0e9a-49ae-935e-d5a0c5cfa651"
        },
        "example": "13fe95a6-0e9a-49ae-935e-d5a0c5cfa651"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3fa6862e-28fb-483d-9eaf-7c2f1aeced15"
        },
        "example": "3fa6862e-28fb-483d-9eaf-7c2f1aeced15"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voie-paystub-report"
        },
        "example": "open-finance-api-generate-voie-paystub-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier for tracking the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation, indicating what task is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Syndicated Loan Participation and Settlement"
        },
        "example": "Syndicated Loan Participation and Settlement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, reflecting its processing stage such as 'InProgress', 'Completed', or 'Failed'.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3fa6862e-28fb-483d-9eaf-7c2f1aeced15"
        },
        "example": "3fa6862e-28fb-483d-9eaf-7c2f1aeced15"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for authentication. Clients must include the token in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}