{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Channel Specific By Param1-spec",
    "description": "The Advanced Voice Services Management API enables users to modify channel-specific configurations within banking systems. This operation allows businesses to enhance their voice service delivery by making targeted updates based on unique parameters. Typical consumers of this API include developers working on banking applications that require real-time adjustments to voice services. Use cases involve optimizing service settings to improve customer interactions and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-management/{param1}": {
      "patch": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Update Advanced Voice Services Management for a specific channel.",
        "description": "This endpoint allows you to modify the advanced voice services management settings for the resource identified by RES-100045 within a specific channel. Use this operation to change configurations, update settings, or make adjustments required for the optimal performance of voice services.",
        "operationId": "updateChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the advanced voice services settings for a specific channel, identified by RES-100045. The provided JSON object must adhere to the defined schema, containing all necessary attributes to ensure a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateChannelSpecificByParam1Request": {
        "title": "Patch Request Body for Advanced Voice Services Management",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the voice service.",
            "$ref": "#/components/schemas/VoiceServiceChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for patch operations on advanced voice services management.",
        "example": {
          "changes": {
            "voicePlatformId": "STANDARD",
            "ivrFlowId": "STANDARD",
            "supportedLanguages": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b597dd23-1011-512d-aff2-d38d6214d233",
            "correlationId": "cc977024-2dfc-51c8-8ada-2640a5d601be",
            "idempotencyKey": "182760a2-5b6e-5e03-b4d0-1993abdda542",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-557955"
            }
          }
        }
      },
      "VoiceServiceChanges": {
        "title": "Voice Service Changes",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "The identifier of the voice platform being modified.",
            "example": "platform123"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "The identifier of the IVR flow to be updated.",
            "example": "ivrFlow456"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "A list of languages supported by the voice service.",
            "items": {
              "type": "string",
              "description": "A language code supporting ISO 639-1 standards.",
              "example": "en"
            }
          }
        },
        "description": "This schema defines the specific changes to the voice service settings."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking related requests.",
            "example": "correlation-321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent operations.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-10-01T09:55:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "voice-service-app"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual data related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., 'SMS', 'Email', 'Voice').",
            "example": "Voice"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the communication channel.",
            "example": "device-abc"
          }
        },
        "description": "This schema details the information regarding the communication channel."
      },
      "UpdateChannelSpecificByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in Advanced Voice Services Management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0ff2c8e3-7900-5b9f-b994-64b7946fac05",
            "correlationId": "cc977024-2dfc-51c8-8ada-2640a5d601be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata object containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier representing the endpoint of the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-management-update-advanced-voice-services-management"
        },
        "example": "advanced-voice-services-management-update-advanced-voice-services-management"
      },
      "X-Runtime-App": {
        "description": "The identifier of the runtime application that handled the request, useful for debugging and request tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method. A Bearer token (JSON Web Token - JWT) must be included in the authorization header of requests. This provides a secure way to authenticate and authorize users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}