{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Issued Device Administration API",
    "description": "The Issued Device Administration API provides seamless management and monitoring of issued devices within a banking environment. This endpoint allows users to retrieve vital information regarding the operational status and details of devices registered under their administration. Typical consumers of this API include system administrators and operational teams who are tasked with ensuring device compliance and functionality. By utilizing this API, organizations can effectively oversee their issued devices, leading to enhanced operational efficiency and improved security.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-administration": {
      "get": {
        "tags": [
          "Issued Device Management"
        ],
        "summary": "Retrieve issued device details",
        "description": "This endpoint allows users to retrieve details about the administration of issued devices, including their status and configuration.",
        "operationId": "getIssuedDeviceAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving information about issued device administration. This body should contain the necessary parameters for fetching the desired data related to operational services.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIssuedDeviceAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIssuedDeviceAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetIssuedDeviceAdministrationRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the issued device administration operation.",
        "example": "{}"
      },
      "GetIssuedDeviceAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of issued devices.",
            "example": [
              {
                "deviceId": "DEV-623557",
                "deviceType": "STANDARD",
                "assignedPartyId": "PARTY-904946",
                "serialNumber": "STANDARD",
                "deviceStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IssuedDevice"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the issued devices.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving issued device administration information.",
        "example": {
          "items": [
            {
              "deviceId": "DEV-623557",
              "deviceType": "STANDARD",
              "assignedPartyId": "PARTY-904946",
              "serialNumber": "STANDARD",
              "deviceStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "beef5770-6876-5f59-8d93-1ff2f553aa9d",
            "correlationId": "02a3b09b-4365-52c9-9580-da52ef316632",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IssuedDevice": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device."
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the issued device."
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier for the party to whom the device is assigned."
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the device."
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the device record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the device information was last updated."
          }
        },
        "description": "Schema representing an issued device."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema for pagination details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema for response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint associated with the issued device administration operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-search-issued-device-administration"
        },
        "example": "issued-device-administration-search-issued-device-administration"
      },
      "x-runtime-app": {
        "description": "The application identifier indicating which runtime environment processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as the bearer token. This method allows users to authenticate securely by passing the token in the 'Authorization' header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}