{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Insights Retrieval API",
    "description": "The Market Insights Retrieval API provides users with access to essential market research data that supports business analysis initiatives. This API allows organizations to explore critical business metrics and trends by retrieving detailed information based on specified parameters. Typical consumers of this API include market analysts, business strategists, and data scientists who require insights to inform decision-making. By leveraging this API, users can effectively enhance their operational strategies with up-to-date market intelligence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-research/{param1}": {
      "get": {
        "tags": [
          "Market Analysis"
        ],
        "summary": "Retrieve Market Research Details",
        "description": "Fetches detailed information about a specific market research resource identified by RES-100045. This endpoint allows you to access insights and data collected during the market analysis process.",
        "operationId": "getMarketResearchById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch market research data for the specified resource. It is expected to contain the necessary parameters to filter and retrieve the desired information based on the user's query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketResearchByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested market research data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketResearchByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketResearchByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations GET request related to business analysis and market research. The content is expected to be a JSON string.",
        "example": "{}"
      },
      "GetMarketResearchByIdResponse_200": {
        "title": "Market Research Analysis Response",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency used as a base for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario for which the analysis is conducted.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the analysis record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the analysis record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the analysis.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for market research analysis operations.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cef1eab3-8a0e-5360-ad1f-d504034b1ddb",
            "correlationId": "63c4b334-734f-5236-bae5-46fc36c36fb4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "CORRELATION-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated in ISO 8601 format.",
            "example": "2023-09-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "This schema contains metadata related to the request and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-research-get-market-research"
        },
        "example": "market-research-get-market-research"
      },
      "X-Runtime-App": {
        "description": "The name of the application making the request, which can be useful for identifying the source of traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically JSON Web Tokens (JWT), which are compact, URL-safe tokens that represent claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}