{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Foreign Exchange Trade-spec",
    "description": "The Foreign Exchange Trade Submission API allows banking customers to initiate new foreign exchange trade specifications. This endpoint supports the creation of trade details, capturing essential information such as currency pairs, trade amounts, and customer directives. Typical consumers of this API include financial institutions, trading platforms, and corporate treasury departments that require seamless trade execution capabilities. By utilizing this API, users can efficiently manage and streamline their foreign exchange transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/*/foreign-exchange-trades": {
      "post": {
        "tags": [
          "Foreign Exchange Trades"
        ],
        "summary": "Create a new foreign exchange trade for a specific customer.",
        "description": "This operation allows you to create a new foreign exchange trade associated with a specific customer. Provide the relevant details in the request body to initiate the trade.",
        "operationId": "create*ForeignExchangeTrade",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This body contains the details required to create a new foreign exchange trade for a specific customer. Make sure to provide all necessary fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*ForeignExchangeTradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource was created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*ForeignExchangeTradeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*ForeignExchangeTradeRequest": {
        "title": "Foreign Exchange Trade Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-937799"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "a46bb9f2-4698-553b-9135-4005d744faed"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product for the foreign exchange trade.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount details for the foreign exchange trade.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the trade was requested.",
            "example": "2026-09-03"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "The currency from which the trade is initiated.",
            "example": "USD"
          },
          "targetCurrency": {
            "type": "string",
            "description": "The currency into which the trade is converted.",
            "example": "USD"
          },
          "quotedRate": {
            "type": "integer",
            "description": "The rate quoted for the trade.",
            "format": "int32",
            "example": 100
          },
          "cashDenominations": {
            "type": "array",
            "description": "List of cash denominations involved in the trade.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "Value of a cash denomination.",
              "format": "int32",
              "example": 50
            }
          },
          "requestContext": {
            "description": "Context related to the trade request including identifiers and source info.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting a foreign exchange trade operation.",
        "example": {
          "customerId": "CUST-937799",
          "serviceRequestId": "a46bb9f2-4698-553b-9135-4005d744faed",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-03",
          "sourceCurrency": "USD",
          "targetCurrency": "USD",
          "quotedRate": 100,
          "cashDenominations": [
            1
          ],
          "requestContext": {
            "requestId": "e912b5f3-ec2f-4c8b-8938-6e5364c6454a",
            "correlationId": "44911c7e-10a0-4008-a5b5-c116b29b7818",
            "idempotencyKey": "80b487b7-a918-4545-a0c5-023e0f5a5ec3",
            "requestedAt": "2026-08-27T23:01:07.400Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-803996"
            }
          }
        }
      },
      "Amount": {
        "title": "Trade Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the trade amount.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The currency type for the trade amount.",
            "example": "USD"
          }
        },
        "description": "Schema to encapsulate details about the trade amount."
      },
      "RequestContext": {
        "title": "Trade Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-ABC-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "CORR-XYZ-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing.",
            "example": "IDEM-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CoreBanking"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing metadata about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., mobile, web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the channel.",
            "example": "DEV-0987"
          }
        },
        "description": "Schema to define details about the communication channel."
      },
      "Create*ForeignExchangeTradeResponse_201": {
        "title": "Foreign Exchange Trade Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-327644"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request associated with the trade.",
            "example": "5848743d-062a-5ba3-b5d2-bd1b037f6c2a"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the foreign exchange trade.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the foreign exchange trade.",
            "example": "RES-727252"
          },
          "status": {
            "type": "string",
            "description": "Current status of the trade operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the trade was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlating requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the trade took place.",
                "example": "string"
              }
            },
            "description": "Metadata related to the foreign exchange trade operation.",
            "example": {
              "responseId": "09fe89f0-7094-51e3-9a10-c22ad8df411b",
              "correlationId": "0a282aea-c9d4-5413-82aa-07934efcc012",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for a foreign exchange trade operation, containing details such as customer information and operation metadata.",
        "example": {
          "customerId": "CUST-327644",
          "serviceRequestId": "5848743d-062a-5ba3-b5d2-bd1b037f6c2a",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-727252",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "09fe89f0-7094-51e3-9a10-c22ad8df411b",
            "correlationId": "0a282aea-c9d4-5413-82aa-07934efcc012",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5779e24ee7d27478"
        },
        "example": "5779e24ee7d27478"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f767add5-c085-4f96-8508-2e7d21cd6fe3"
        },
        "example": "f767add5-c085-4f96-8508-2e7d21cd6fe3"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e64e593e-b431-4e60-b3d1-3f1cce370896"
        },
        "example": "e64e593e-b431-4e60-b3d1-3f1cce370896"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. Useful for tracing the request through system logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-create-currency-exchange"
        },
        "example": "currency-exchange-create-currency-exchange"
      },
      "x-runtime-app": {
        "description": "Identifies the runtime application that handled the request. This can help in monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "An identifier for the workflow associated with the request. This is particularly useful for tracking processes that involve multiple steps.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-058"
        },
        "example": "WF-058"
      },
      "x-workflow-name": {
        "description": "The name of the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "FX Quote Trade and Settlement"
        },
        "example": "FX Quote Trade and Settlement"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4d17f1c8-059e-4ebd-85ec-0daaafae7225"
        },
        "example": "4d17f1c8-059e-4ebd-85ec-0daaafae7225"
      }
    }
  }
}