{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trust Services Management API",
    "description": "The Trust Services Management API enables businesses to update and manage trust services for consumers efficiently. This API facilitates modifications to existing trust service records, allowing organizations to respond swiftly to client requests or regulatory changes. Typical consumers include financial institutions and service providers that handle client trust services. Through this API, users can ensure compliance and maintain an up-to-date record of trust services offered to enhance customer trust and satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services/{param1}": {
      "patch": {
        "tags": [
          "Consumer Services"
        ],
        "summary": "Update Trust Service Details",
        "description": "This endpoint allows you to update the details of a specific Trust Service identified by its unique resource ID (RES-100045). It accepts a PATCH request with the necessary data to modify the service attributes.",
        "operationId": "updateConsumerServiceTrustService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating resources in the Trust Services API. This body should contain the necessary fields to define the updates required for the specified resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerServiceTrustServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource was updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerServiceTrustServiceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerServiceTrustServiceRequest": {
        "title": "Patch Request Body for Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation related to consumer services' trust services.",
        "example": {
          "changes": {
            "customerId": "CUST-373415",
            "serviceRequestId": "c1d5fb4a-a9b7-5bf9-9522-747b8abe7445",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9c24ee64-8549-5b9d-9706-74171d5e3ffd",
            "correlationId": "b33793bd-b14c-528b-9102-6682065040dd",
            "idempotencyKey": "ee842f58-d37e-5811-8651-4979501d66ca",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-699092"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer whose information is being changed.",
            "example": "cust-001"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier of the service request related to this change.",
            "example": "srv-req-123"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the changes.",
            "example": "prod-xyz"
          }
        },
        "description": "An object that holds the specific changes requested in the PATCH operation."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing the request through its lifecycle.",
            "example": "corr-456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request is originating.",
            "example": "User Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is being made.",
            "example": "Admin Dashboard"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object that provides context about the request being made."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device being used.",
            "example": "device-abc"
          }
        },
        "description": "Information related to the channel used to make the request."
      },
      "UpdateConsumerServiceTrustServiceResponse_200": {
        "title": "Trust Service Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including tracking information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Trust Service operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6720c1a2-dc74-5b20-96fe-fc6aaee8b487",
            "correlationId": "b33793bd-b14c-528b-9102-6682065040dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "xyz-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the request occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata containing various tracking and generation fields for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-update-trust-services"
        },
        "example": "trust-services-update-trust-services"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, providing a means for users to authenticate through a JSON Web Token (JWT). Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}