{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Banking Factoring API",
    "description": "The Trade Banking Factoring API provides businesses with a streamlined process for managing trade financing solutions. This endpoint allows users to retrieve essential information regarding factoring services, enabling them to make informed decisions about cash flow management and receivables financing. Typical consumers include financial analysts, trade finance managers, and businesses looking to optimize their financing strategies. By utilizing this API, organizations can enhance their operational efficiency and strengthen their financial health.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/factoring": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve factoring information",
        "description": "This endpoint allows users to fetch and view detailed information about factoring services offered in trade banking. Users can explore various facets of factoring, including eligibility, benefits, and application processes.",
        "operationId": "getFactoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching factoring information in trade banking. It should contain the necessary parameters to retrieve the relevant data related to factoring operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFactoringRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFactoringResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFactoringRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Trade Banking Factoring Operations GET API call. It is expected to contain a string that represents the necessary parameters or payload for the operation.",
        "example": "{}"
      },
      "GetFactoringResponse_200": {
        "title": "Factoring Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of factoring operation items.",
            "example": [
              {
                "sellerId": "STANDARD",
                "debtorId": "STANDARD",
                "invoiceId": "STANDARD",
                "invoiceAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "advanceRatePercent": 100.0,
                "invoiceDueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FactoringOperation"
            }
          },
          "pagination": {
            "description": "Details about the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the factoring operations GET request, containing the list of items, pagination details, and metadata.",
        "example": {
          "items": [
            {
              "sellerId": "STANDARD",
              "debtorId": "STANDARD",
              "invoiceId": "STANDARD",
              "invoiceAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "advanceRatePercent": 100.0,
              "invoiceDueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d11b1baa-201a-5824-948b-7d3f7e12a2e2",
            "correlationId": "279ae1c2-1832-5793-810b-b89d15f759dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FactoringOperation": {
        "title": "Factoring Operation",
        "type": "object",
        "properties": {
          "sellerId": {
            "type": "string",
            "description": "The unique identifier for the seller.",
            "example": "string"
          },
          "debtorId": {
            "type": "string",
            "description": "The unique identifier for the debtor.",
            "example": "string"
          },
          "invoiceId": {
            "type": "string",
            "description": "The unique identifier for the invoice.",
            "example": "string"
          },
          "invoiceAmount": {
            "description": "The amount and currency of the invoice.",
            "$ref": "#/components/schemas/InvoiceAmount"
          },
          "advanceRatePercent": {
            "type": "number",
            "description": "The percentage of the invoice amount that is advanced.",
            "example": 0.0
          },
          "invoiceDueDate": {
            "type": "string",
            "description": "The due date of the invoice.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema for a single factoring operation item.",
        "example": {}
      },
      "InvoiceAmount": {
        "title": "Invoice Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the invoice amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the invoice amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency of an invoice."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items in the database.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema for pagination details in the response.",
        "example": {}
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata about the response.",
        "example": {}
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "factoring-search-factoring"
        },
        "example": "factoring-search-factoring"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer Authentication using JSON Web Tokens (JWT). This scheme allows for secure access to API endpoints by including a bearer token in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}