{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Employer Payroll Service-spec",
    "description": "The Employer Payroll Service Update API allows organizations to modify existing payroll service configurations for specific employers. This endpoint is essential for businesses seeking to adjust payroll parameters, ensuring compliance with evolving regulations or internal policy changes. Typical consumers include HR departments and payroll administrators who require efficient management of payroll settings. By providing this functionality, the API facilitates smoother operations and enhances the accuracy of payroll processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/employers/{employerId}/payroll-services": {
      "put": {
        "tags": [
          "Employer Services"
        ],
        "summary": "Update Payroll Services for Employer",
        "description": "This operation allows for the updating of payroll services associated with a specific employer. It is essential for ensuring that employer payroll information is current and compliant with regulations.",
        "operationId": "replaceEmployerPayrollService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employerId"
          }
        ],
        "requestBody": {
          "description": "Updates the payroll services for the specified employer. Ensure that the payload adheres to the defined schema to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceEmployerPayrollServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the payroll service has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceEmployerPayrollServiceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceEmployerPayrollServiceRequest": {
        "title": "Payroll Services Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the payroll services.",
            "$ref": "#/components/schemas/PayrollChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for making the changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to update payroll services.",
        "example": {
          "changes": {
            "corporateCustomerId": "CUST-585302",
            "payrollBatchId": "STANDARD",
            "payPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1618c608-a7a8-57b8-b354-efb0ec4e98c8",
            "correlationId": "2d042962-7a52-5a42-a73b-88d4b8f8b769",
            "idempotencyKey": "2c6c549a-8460-55d7-b3b7-ce5fd99e1291",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-200935"
            }
          }
        }
      },
      "PayrollChanges": {
        "title": "Payroll Changes",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer.",
            "example": "string"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "Identifier for the payroll batch being processed.",
            "example": "string"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll is being updated.",
            "example": "string"
          }
        },
        "description": "Changes related to payroll details."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency for the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Information about the context of the request."
      },
      "RequestChannel": {
        "title": "Request Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Portal).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel of the request."
      },
      "ReplaceEmployerPayrollServiceResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response, including identifiers and timestamp.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Payroll Services Operations PUT request. This schema encapsulates the version, status, last updated time, and metadata related to the response.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1c959b07-acae-5aa2-8ed6-325a1074494a",
            "correlationId": "2d042962-7a52-5a42-a73b-88d4b8f8b769",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-05T11:50:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata object providing information about the response identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "employerId": {
        "name": "employerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-update-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-update-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-068"
        },
        "example": "WF-068"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this request. This provides a reference for identifying the specific workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Payroll Service Setup and Execution"
        },
        "example": "Corporate Payroll Service Setup and Execution"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. Possible values include 'Pending', 'In Progress', and 'Completed' to indicate the status of the ongoing operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow. This ID can be used for tracking and audit purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b570bd64-8bb1-470f-941b-22574508d056"
        },
        "example": "b570bd64-8bb1-470f-941b-22574508d056"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. The bearer token should be provided in the HTTP Authorization header using the 'Bearer' schema. The token is formatted as a JSON Web Token (JWT) for secure transmission.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}