{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Facility Utilities Administrations-spec",
    "description": "This API provides a comprehensive listing of utilities administration for banking facilities. It allows users to efficiently access and retrieve detailed information about various utilities associated with facilities. Financial institutions, facility managers, and administrative personnel can utilize this endpoint to gain insights into utility management and operational statuses. The data retrieved through this API supports decision-making and resource allocation within banking facilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/utilities-administration": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve utilities administration details.",
        "description": "Fetches the current administration details related to utilities within the facilities. This endpoint provides necessary information for managing and overseeing utilities effectively.",
        "operationId": "listFacilityUtilitiesAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for retrieving information related to utilities administration within facilities. It should include any necessary parameters to specify the query for utilities data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFacilityUtilitiesAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved utility administration details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFacilityUtilitiesAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFacilityUtilitiesAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Facilities Utilities Administration API. It defines the content type as a JSON string.",
        "example": "{}"
      },
      "ListFacilityUtilitiesAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of utility items for facilities.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-317582",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/UtilityItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the utilities list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation in the utilities administration services, detailing facilities-related utilities.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-317582",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "823602e7-f421-5eeb-9b64-a86eb5b76959",
            "correlationId": "cd446f08-dbd0-5229-96df-e7bba47f64c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "UtilityItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site."
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset."
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order associated with the utility item."
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date the maintenance is scheduled for the utility item."
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the utility item."
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where the utility item is located."
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance scheduled for the utility item."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration in minutes for the maintenance.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the utility record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the utility item record was last updated."
          }
        },
        "description": "Represents a utility item related to a facility."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the returned list of utility items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "utilities-administration-search-utilities-administration"
        },
        "example": "utilities-administration-search-utilities-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method for accessing protected resources. It requires a valid JSON Web Token (JWT) to be included in the Authorization header of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}