{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payment Consents Retrieval API",
    "description": "The File Payment Consents Retrieval API enables consumers to access specific payment consent details for file-based transactions. This endpoint allows users to retrieve consent information based on unique identifiers, facilitating compliance and transaction tracking. Typically utilized by financial institutions and payment service providers, it streamlines the management of payment consents in line with open banking regulations. This API is essential for developers looking to integrate secure and efficient payment processing capabilities into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents/{param1}": {
      "get": {
        "tags": [
          "File Payment Consents"
        ],
        "summary": "Retrieve a specific file payment consent.",
        "description": "This endpoint allows you to fetch the details of a specific file payment consent using its unique identifier. It provides important information about the payment consent, including status and related metadata, enabling users to track and manage their payment consents efficiently.",
        "operationId": "getFilePaymentConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving file payment consent details associated with a specific consent ID. The request expects a JSON payload that matches the defined schema. Ensure the content adheres to required formats and provides any necessary fields as specified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFilePaymentConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the specified payment consent resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFilePaymentConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFilePaymentConsentByIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to payment consents.",
        "example": "{}"
      },
      "GetFilePaymentConsentByIdResponse_200": {
        "title": "File Payment Consents Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentConsentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for file payment consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "4f7542dc-0e7b-5a61-a0ad-3c36aef6a594",
            "correlationId": "4f0e7636-5dc2-59d4-a4a1-3930eed96f77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FilePaymentConsentData": {
        "title": "File Payment Consent Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the consent.",
            "example": [
              {
                "code": "string",
                "description": "string",
                "Path": "string"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "string"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "The cutoff date and time for the payment.",
            "example": "string"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the consent.",
            "example": [
              {
                "ChargeBearer": "string",
                "Type": "string",
                "Amount": {
                  "Amount": "string",
                  "Currency": "string"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Details about the file payment consent."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details about the reason for the consent status."
      },
      "Charge": {
        "title": "Charge Details",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity that bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Charge amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency code for the charge.",
                "example": "string"
              }
            },
            "description": "Amount details including the currency."
          }
        },
        "description": "Details of a charge associated with the consent."
      },
      "Initiation": {
        "title": "Initiation Details",
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of file being processed.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file for integrity verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Number of transactions contained in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Total control sum of the transactions.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for payment execution.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument type used for the payment.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Information about the initiation of the payment consent."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name for the identification.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the creditor.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information about the creditor agent involved in the transaction."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., registered office, billing, etc.).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department name, if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name, if applicable.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Number of the building.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit or apartment number.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number, if applicable.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Postbox number, if applicable.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          }
        },
        "description": "Complete postal address of the creditor agent."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-file-payment-consent"
        },
        "example": "payment-initiation-openapi-get-file-payment-consent"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where the client must include a JWT (JSON Web Token) in the Authorization header of the HTTP request. The token is typically generated upon user login and must be included in subsequent requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}