{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Domestic Scheduled Payment Payment Details-spec",
    "description": "The Domestic Scheduled Payment Details Retrieval API allows consumers to access detailed information regarding domestic scheduled payments. This operation is crucial for financial institutions and service providers that need to provide customers with insights into their payment transactions. Users can retrieve payment details using unique identifiers associated with each scheduled payment. This API is typically utilized by banking applications and financial services to enhance transparency and customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the details of a scheduled domestic payment.",
        "description": "This endpoint allows users to fetch the detailed information regarding a specific scheduled domestic payment identified by its unique ID. It includes all relevant data such as payment amount, currency, schedule date, and recipient details.",
        "operationId": "listDomesticScheduledPaymentPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for a scheduled domestic payment identified by the payment ID PAY-300045. It requires a valid request structure as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDomesticScheduledPaymentPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details for the specified transaction.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomesticScheduledPaymentPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDomesticScheduledPaymentPaymentDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on domestic scheduled payments, specifically for payment details. The expected content is a string that may contain JSON structured data.",
        "example": "{}"
      },
      "ListDomesticScheduledPaymentPaymentDetailsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment statuses.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of resources."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of resources."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of resources."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of resources."
                  }
                },
                "description": "Navigation links for the payments data."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 0
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time of first available payment."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time of last available payment."
                  }
                },
                "description": "Metadata about the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier for correlating requests and responses."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the response was generated."
                  }
                },
                "description": "Additional metadata regarding the response."
              }
            },
            "description": "Contains payment details.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-303947",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the GET operation of domestic scheduled payments.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-303947",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "d07343a9-2e81-590d-9ce3-82e99aa1ed01",
            "correlationId": "59490a23-5683-5ea8-986c-a4da5937217a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the payment status was last updated."
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "Type of local instrument used for the payment."
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment."
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason for the current payment status."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Description explaining the reason for the current payment status."
              }
            },
            "description": "Details related to the status of the payment."
          }
        },
        "description": "Details of an individual payment status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the payment request. This helps in tracking and logging the specific API endpoint involved in the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the payment processing. This information can assist in troubleshooting and identifying the application source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}