{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Business Direction Product Strategy By Product Strategy Id-v5-spec",
    "description": "This API allows users to retrieve specific details about a banking business direction product strategy using its unique identifier. With this functionality, financial institutions can access crucial information that shapes their strategic planning in banking products. Developers and analysts can leverage this API to integrate product strategy data into applications, enhancing decision-making processes. Typical consumers include product managers and business analysts aiming to align their offerings with market trends.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/product-strategy/{productStrategyId}": {
      "get": {
        "tags": [
          "Product Strategy"
        ],
        "summary": "Retrieve product strategy details",
        "description": "This endpoint allows users to fetch detailed information about a specific product strategy identified by its unique ID. Use this operation to access key attributes, objectives, and associated metrics pertaining to the product strategy.",
        "operationId": "getBankingBusinessDirectionProductStrategyByProductStrategyId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/productStrategyId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the product strategy details associated with the specific product ID 'PROD-700045'. This request body structure complies with the defined schema and should include the necessary parameters to successfully fetch the information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingBusinessDirectionProductStrategyByProductStrategyIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the product strategy details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingBusinessDirectionProductStrategyByProductStrategyIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingBusinessDirectionProductStrategyByProductStrategyIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body required for the operations related to product strategy.",
        "example": "{}"
      },
      "GetBankingBusinessDirectionProductStrategyByProductStrategyIdResponse_200": {
        "title": "Product Strategy Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The unique identifier of the sponsor overseeing the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The timeframe for planning the initiative.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target date for the completion of the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The record status indicating if the data is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the initiative.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the initiative record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a product strategy operation.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e912ad9a-8d1a-5c28-a4e1-e4835d5aa263",
            "correlationId": "17ae5b12-cb2f-51d3-a91a-341a65e76bb9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request/response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata related to a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "productStrategyId": {
        "name": "productStrategyId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for logging and tracing request paths within the application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "products-and-services-direction-get-products-and-services-direction"
        },
        "example": "products-and-services-direction-get-products-and-services-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request, which assists in identifying which runtime environment the request originated from.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, where the client must include a valid JWT (JSON Web Token) in the Authorization header of the request. The token must be issued by a trusted authority.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}