{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Servicing By Param1-spec",
    "description": "The Customer Case Management Update API enables businesses to efficiently manage and update customer service cases by providing specific parameters. This endpoint allows for the modification of case details, tailoring customer service responses based on unique identifiers. Organizations can leverage this functionality to improve customer satisfaction by ensuring timely updates and accurate case tracking. Typical consumers include customer support teams or case management systems that aim to enhance client interactions and service management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case-management/{param1}": {
      "patch": {
        "tags": [
          "Customer Service"
        ],
        "summary": "Update the details of customer case CUST-100045.",
        "description": "This operation allows you to update the specific details of the customer case identified by CUST-100045. Make sure to provide the necessary fields that need to be updated in the request body.",
        "operationId": "updateServicingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the customer case details for the specified case ID. It contains information that modifies the existing state of a customer case within the servicing system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServicingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully completed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateServicingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateServicingByParam1Request": {
        "title": "Patch Request Body for Customer Case Management",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be applied to the customer case.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change, providing context to the modification.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes should take effect, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request, including identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating a customer case in the case management system via a PATCH operation.",
        "example": {
          "changes": {
            "customerId": "CUST-130499",
            "caseId": "CASE-703730",
            "requestCategory": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "885de971-f95a-5801-98d9-e0a839457970",
            "correlationId": "e2eae94e-b370-5a2b-be4d-5ad946944712",
            "idempotencyKey": "7c8379c4-c6e9-530a-94a8-f7d7f9b76dd6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-720708"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Customer Case",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer whose case is being modified.",
            "example": "CUST-100045"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier of the case being modified.",
            "example": "CASE-12345"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request being issued for this change.",
            "example": "Status Update"
          }
        },
        "description": "Contains the specific changes to be made to the customer case."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate between related requests.",
            "example": "CORR-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate processing of the same request.",
            "example": "IDEMPOTENT-KEY-111"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides metadata related to the request context."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request, if applicable.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Details regarding the channel used for the request."
      },
      "UpdateServicingByParam1Response_200": {
        "title": "Customer Case Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the customer case management service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1a6e23f7-d736-5ffa-819d-96a303d3d522",
            "correlationId": "e2eae94e-b370-5a2b-be4d-5ad946944712",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with its request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the specific endpoint being accessed, utilized for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-management-update-customer-case-management"
        },
        "example": "customer-case-management-update-customer-case-management"
      },
      "X-Runtime-App": {
        "description": "Name of the application in which the request is being processed, helpful for linking execution context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate via a JSON Web Token (JWT). The token should be included in the Authorization header of each request as follows: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}