{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Reports Retrieval API",
    "description": "The Consumer Reports Retrieval API allows users to access detailed reports related to individual consumers based on their unique identifiers. It facilitates the retrieval of vital data, enabling stakeholders to gain insights into consumer behaviors and decisions. Typical consumers of this API include data analysts, customer service representatives, and business intelligence teams seeking to enhance their decision-making processes. This endpoint supports efficient data access for improved operational strategies and customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}/reports/{reportId}": {
      "get": {
        "tags": [
          "Consumer Reports"
        ],
        "summary": "Retrieve reports for a specific consumer.",
        "description": "This endpoint allows you to fetch detailed reports related to a consumer identified by their unique ID. It provides insights into the consumer's activity, preferences, and other relevant metrics.",
        "operationId": "getConsumerReportsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/reportId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve report data for a specific consumer identified by RES-100045. It must adhere to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerReportsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the report.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerReportsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerReportsByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to reports. It is expected to be a string format.",
        "example": "{}"
      },
      "GetConsumerReportsByIdResponse_200": {
        "title": "Consumer Report Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request that generated this report.",
            "example": "9791f85d-6e52-5a57-afb8-d66b8cb06c9c"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who requested the report.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user for whom the report is created.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the report was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title describing the report.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes associated with the report.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of report.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the report.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the report response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a consumer report request, containing details about the consumer and associated metadata.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "9791f85d-6e52-5a57-afb8-d66b8cb06c9c",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-203903"
            ]
          },
          "metadata": {
            "responseId": "1f31431e-f4ee-5680-be6f-7dace04957b1",
            "correlationId": "110efef4-3de2-5c38-b037-393f3f19618d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Details",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(555) 555-5555"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "johndoe@example.com"
          },
          "url": {
            "type": "string",
            "description": "URL related to the end user, if applicable.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the details of the end user for whom the report is created."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "(555) 555-5555"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "johndoe@example.com"
          }
        },
        "description": "Schema representing detailed information about a consumer."
      },
      "Constraints": {
        "title": "Report Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to analytics for the report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers related to the report.",
            "items": {
              "type": "string",
              "description": "Identifier for an account.",
              "example": "string"
            }
          }
        },
        "description": "Schema representing constraints associated with a consumer report."
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "List of time interval types for analytics.",
            "items": {
              "type": "string",
              "description": "Type of time interval.",
              "example": "Monthly"
            }
          }
        },
        "description": "Schema representing data related to analytics for a consumer report."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata related to the report response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "reportId": {
        "name": "reportId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-report-by-consumer"
        },
        "example": "open-finance-api-get-report-by-consumer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, where a valid JWT (JSON Web Token) is required in the authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}