{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Gap Analysi Analyse-spec",
    "description": "The Gap Analysis Creation API allows businesses to initiate and manage gap analysis processes in their banking models. This endpoint facilitates the submission of new gap analyses, enabling organizations to identify discrepancies and improve performance. Typical consumers include financial analysts and project teams who require detailed assessments to inform strategic decisions. The API provides essential functionality for creating, tracking, and optimizing analysis efforts in a structured manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/gap-analysis/analyses": {
      "post": {
        "tags": [
          "Gap Analysis"
        ],
        "summary": "Create a new gap analysis entry.",
        "description": "This endpoint allows users to create a new gap analysis entry by submitting relevant data. Ensure that all required fields are completed to successfully create the analysis.",
        "operationId": "createGapAnalysiAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for gap analysis analyses. Ensure that the payload adheres to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGapAnalysiAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully completed the analysis request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGapAnalysiAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateGapAnalysiAnalyseRequest": {
        "title": "Gap Analysis Request Body",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model being analyzed.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model being used for the analysis.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the analysis.",
            "example": "PORT-412446"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date of the analysis in ISO 8601 format (YYYY-MM-DD).",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario name or identifier for which the gap analysis is being performed.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the analysis results, expressed as a decimal value between 0 and 1.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for performing a gap analysis operation. It includes details about the model, portfolio, as well as request context information.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-412446",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "requestContext": {
            "requestId": "fa473116-ce7d-5ae6-a348-d304ddaed71e",
            "correlationId": "75b7a80a-c38c-52f7-a55b-6035363bd65e",
            "idempotencyKey": "01e216fe-8032-517e-a187-4b89f44d077c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-305313"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for linking multiple requests together.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is processed only once.",
            "example": "idempotentKey456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system where the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "appB"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information that accompanies the request to facilitate tracing and handling."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, web, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "device123"
          }
        },
        "description": "This schema provides details about the channel through which the request was made."
      },
      "CreateGapAnalysiAnalyseResponse_200": {
        "title": "Gap Analysis Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-636634"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "The findings of the analysis, listing metrics and their values.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/GapAnalysisFinding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/AnalysisMetadata"
          }
        },
        "description": "This schema represents the response for a gap analysis operation.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-636634",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "6dd69f79-080b-560e-b3a3-662dc9aafd2e",
            "correlationId": "75b7a80a-c38c-52f7-a55b-6035363bd65e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "GapAnalysisFinding": {
        "title": "Gap Analysis Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric assessed in the analysis.",
            "example": "Accuracy"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric assessed.",
            "example": 95.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric value.",
            "example": "percent"
          }
        },
        "description": "A finding from the gap analysis contains a metric and its associated value."
      },
      "AnalysisMetadata": {
        "title": "Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2021-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the analysis was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional context about the analysis."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request. This value helps in tracking the specific endpoint used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "gap-analysis-analyze-gap-analysis"
        },
        "example": "gap-analysis-analyze-gap-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that handled the request. This assists in identifying the service responsible for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, utilizing JSON Web Tokens (JWT) for secure transmission of information between the client and server. The client must send the JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}