{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Network Operations Management API",
    "description": "The Internal Network Operations Management API facilitates the monitoring and management of internal network functions within an organization's banking IT infrastructure. This endpoint allows users to access detailed information about network operations, ensuring optimal performance and security. Typical consumers include IT administrators and network engineers who require insights for troubleshooting or network optimization. By leveraging this API, businesses can maintain the integrity and efficiency of their internal network, ultimately supporting reliable banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/internal-network-operation": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve Internal Network Operations",
        "description": "Fetches a list of internal network operations available in IT management, providing essential details for each operation.",
        "operationId": "getInternalNetworkOperation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Specifies the criteria and parameters for retrieving operations related to the internal network management. This request body accommodates various filters and settings to fine-tune the response according to the user's needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalNetworkOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns the current state of the internal network operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalNetworkOperationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalNetworkOperationRequest": {
        "type": "string",
        "description": "A request body for the internal network operation GET request, represented as a string.",
        "example": "{}"
      },
      "GetInternalNetworkOperationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of internal network operations.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InternalNetworkOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the internal network operation GET request.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "06ef2692-2127-52d0-b8bd-eea7377920e4",
            "correlationId": "fb3a753b-cc2c-5798-8cb5-18db199fc2f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InternalNetworkOperation": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Identifier for the system."
          },
          "environment": {
            "type": "string",
            "description": "Environment of the operation (e.g., production, staging)."
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the operation."
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the operation."
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled time for the operation."
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier associated with the operation."
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the service.",
            "example": 99.9
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Planned maintenance window."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation."
          }
        },
        "description": "Schema representing an internal network operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Schema for metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-network-operation-search-internal-network-operation"
        },
        "example": "internal-network-operation-search-internal-network-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token as defined by the OAuth 2.0 authorization framework. The token is expected to be a JSON Web Token (JWT), which allows secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}