{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Status Transition Management API",
    "description": "The Loan Status Transition Management API enables the modification of loan statuses within the lending system. By utilizing this endpoint, users can update a loan's status, ensuring that the system accurately reflects the current state of each loan. This API is primarily utilized by loan administrators and financial institutions to manage loan workflows effectively, address customer inquiries, and maintain operational compliance. It plays a crucial role in streamlining the loan management process and enhancing overall customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/status-transitions": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update the status transitions of a specific loan.",
        "description": "This endpoint allows you to update the status transitions for a loan identified by its ID. It enables effective tracking and managing of loan statuses as they progress through different phases.",
        "operationId": "updateLoanStatusTransitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "Updates the status of the loan with the specified transitions. This request body must adhere to the defined structure to ensure proper processing of the status change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanStatusTransitionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully; the status of the loan has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanStatusTransitionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanStatusTransitionsRequest": {
        "title": "Loan Status Transition Request",
        "type": "object",
        "properties": {
          "targetStatus": {
            "type": "string",
            "description": "The desired target status to set for the loan.",
            "example": "ACTIVE"
          },
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for the status transition.",
            "example": "CODE-810"
          },
          "reasonDescription": {
            "type": "string",
            "description": "A detailed description of the reason for the status transition.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the status change becomes effective.",
            "example": "2026-09-15"
          },
          "accountingReference": {
            "type": "string",
            "description": "A reference identifier used for accounting purposes related to the loan.",
            "example": "STANDARD"
          },
          "approvalReference": {
            "type": "string",
            "description": "A reference identifier for the approval process related to the loan status change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context regarding the request for loan status transition.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for transitioning the status of a loan.",
        "example": {
          "targetStatus": "ACTIVE",
          "reasonCode": "CODE-810",
          "reasonDescription": "STANDARD",
          "effectiveDate": "2026-09-15",
          "accountingReference": "STANDARD",
          "approvalReference": "STANDARD",
          "requestContext": {
            "requestId": "fcee87b3-437a-5f9b-952c-640887375f0d",
            "correlationId": "2e9e7986-14d1-5c66-89dd-d87f286de0bc",
            "idempotencyKey": "39a395cd-2b68-517b-90e2-20eba417d5b9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-804371"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests across service boundaries.",
            "example": "CORR-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "IDEM-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that initiated the request.",
            "example": "LOAN_PROCESSING_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "LOAN_MOBILE_APP"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request sent to transition the loan status."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "CHN-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., mobile, web).",
            "example": "MOBILE"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "DEV-12345"
          }
        },
        "description": "Schema representing the channel through which a loan status transition request was initiated."
      },
      "UpdateLoanStatusTransitionsResponse_200": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The identifier for the source application that initiated the loan operation.",
            "example": "APP-178428"
          },
          "productId": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "PROD-591369"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer associated with the loan.",
            "example": "CUST-996854"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "A list of identifiers for the borrowers of the loan.",
            "example": [
              "CUST-789295"
            ],
            "items": {
              "type": "string",
              "description": "The identifier for an individual borrower.",
              "example": "borrower456"
            }
          },
          "principal": {
            "description": "The principal amount of the loan along with its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate applied to the loan as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate for the loan (e.g., fixed or variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which loan repayments are made (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date on which the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first repayment for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number from which loan repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch servicing the loan.",
            "example": "CODE-520"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan was taken.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "90337afd-803f-56ba-8d56-74d57599078e"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan (e.g., active, closed).",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "The current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount disbursed for the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalRepaid": {
            "description": "The total amount that has been repaid towards the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "metadata": {
            "description": "Additional metadata related to the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a loan status transition operation.",
        "example": {
          "sourceApplicationId": "APP-178428",
          "productId": "PROD-591369",
          "primaryCustomerId": "CUST-996854",
          "borrowerCustomerIds": [
            "CUST-789295"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-520",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "90337afd-803f-56ba-8d56-74d57599078e",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "09e51f19-b03b-5ba4-8ca5-cb4a44a1a545",
            "correlationId": "2e9e7986-14d1-5c66-89dd-d87f286de0bc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount in the specified currency.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "The outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "accruedInterest": {
            "description": "The interest that has accrued on the loan to date.",
            "$ref": "#/components/schemas/Amount"
          },
          "feesOutstanding": {
            "description": "Any outstanding fees related to the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "penaltiesOutstanding": {
            "description": "Any penalties that are outstanding for the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalOutstanding": {
            "description": "The total outstanding amount of the loan including principal, interest, fees, and penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "availableToDraw": {
            "description": "The amount that is available to be drawn from the loan.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing the various components of a loan's balance."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking request/response pairs.",
            "example": "correlationId456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the loan occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing auxiliary metadata for the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-transition-loan-status"
        },
        "example": "banking-loans-openapi-transition-loan-status"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "The unique identifier for the workflow under which this request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-037"
        },
        "example": "WF-037"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Restructuring and Forbearance"
        },
        "example": "Loan Restructuring and Forbearance"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dcd40031-fc18-4e2f-828d-32366d7c6959"
        },
        "example": "dcd40031-fc18-4e2f-828d-32366d7c6959"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. The client must include a JWT (JSON Web Token) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}