{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Human Resource Management Recruitment By Recruitment Id-v5-spec",
    "description": "The Update Recruitment Details API is designed to facilitate modifications to existing recruitment records within the banking human resource management system. By specifying the recruitment ID, stakeholders can update various attributes related to ongoing recruitment processes. This endpoint supports personnel in HR departments, staffing agencies, and recruiters who need to stay compliant with hiring practices and update candidate information dynamically. Use this API to ensure that recruitment records reflect the most current state of hiring efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment/{recruitmentId}": {
      "patch": {
        "tags": [
          "Recruitment Management"
        ],
        "summary": "Update Recruitment Resource",
        "description": "This endpoint allows you to update the details of a specific recruitment resource identified by its unique ID. Utilize this operation to modify attributes or data associated with the recruitment process efficiently.",
        "operationId": "updateBankingHumanResourceManagementRecruitmentByRecruitmentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/recruitmentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific fields of a recruitment process for the designated resource. It allows clients to send the necessary data to amend attributes associated with the resource identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementRecruitmentByRecruitmentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource has been modified.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementRecruitmentByRecruitmentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingHumanResourceManagementRecruitmentByRecruitmentIdRequest": {
        "title": "Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of changes being requested for a requisition.",
            "$ref": "#/components/schemas/RequisitionChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date of the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the person requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request to help track the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the operations patch request body in the human resource management recruitment system. This includes changes to requisitions and other contextual information.",
        "example": {
          "changes": {
            "requisitionId": "STANDARD",
            "positionTitle": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "58bdef74-4c19-5d85-82d8-ad2eff5e5380",
            "correlationId": "34989f77-2a0e-550c-971f-bc2fcfba4746",
            "idempotencyKey": "f85e23df-98c2-5de4-9e89-0a358a08f72b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-880787"
            }
          }
        }
      },
      "RequisitionChanges": {
        "title": "Requisition Changes",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "Identifier of the requisition that is being changed.",
            "example": "REQ-001"
          },
          "positionTitle": {
            "type": "string",
            "description": "Title of the position for the requisition.",
            "example": "Software Engineer"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier of the department associated with the requisition.",
            "example": "DEP-1001"
          }
        },
        "description": "Schema for specifying changes related to a job requisition."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used for correlating related requests.",
            "example": "CORR-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotency of the request.",
            "example": "IDEM-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-29T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originates.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originates.",
            "example": "RecruitmentApp"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema for the contextual information accompanying a request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the communication channel used.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Schema for describing the channel through which the request was made."
      },
      "UpdateBankingHumanResourceManagementRecruitmentByRecruitmentIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response indicating success, failure, etc.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Operations PATCH request in the Human Resource Management Recruitment System.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b20b751b-5d38-5ac8-8ef9-0e8d91f88b34",
            "correlationId": "34989f77-2a0e-550c-971f-bc2fcfba4746",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating related requests and responses.",
            "example": "abc-1234-def"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "recruitmentId": {
        "name": "recruitmentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that was invoked during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-update-recruitment"
        },
        "example": "recruitment-update-recruitment"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, typically a JSON Web Token (JWT), to authenticate requests. The client must include the token in the 'Authorization' header when making API calls.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}