{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Instruction Retrieval API",
    "description": "The Payment Instruction Retrieval API allows users to access detailed payment instructions for specific transactions. This API is essential for financial institutions and businesses that need to verify instructions related to payment processing, enhance transparency, and ensure compliance with regulatory standards. By utilizing this endpoint, developers can integrate payment instruction retrieval into their applications, facilitating efficient financial operations and improving user experience. Typical consumers include banking systems, payment gateways, and financial reporting tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-instruction/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Payment Instruction Details",
        "description": "This endpoint allows you to fetch the details of a specific payment instruction using its unique identifier. It returns all relevant information related to the payment instruction, including status, amount, and associated transaction details.",
        "operationId": "getPaymentInstructionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment instruction details for a specific payment ID (PAY-300045). It should contain the necessary authentication and context required for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentInstructionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment instruction details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentInstructionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentInstructionByIdRequest": {
        "type": "string",
        "description": "A string representation of the payment instruction request body for the operation GET on PAY-300045 endpoint.",
        "example": "{}"
      },
      "GetPaymentInstructionByIdResponse_200": {
        "title": "Payment Instruction Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-399926"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-456117"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-400308"
          },
          "instructedAmount": {
            "description": "The amount to be instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "Method of payment such as wire transfer, ACH, etc.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Party responsible for the payment charges.",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code indicating the purpose of the payment.",
            "example": "CODE-819"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment instruction.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the payment instruction.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payment instruction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a payment instruction request.",
        "example": {
          "paymentId": "PAY-399926",
          "debtorAccountId": "ACC-456117",
          "creditorAccountId": "ACC-400308",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-819",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cbd13c51-93b3-5965-87bc-d150b43d8a72",
            "correlationId": "a7f983c0-07cd-5df8-822c-ff973c538688",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be paid.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "string"
          }
        },
        "description": "Represents the amount and currency for the instructed payment."
      },
      "Metadata": {
        "title": "Payment Instruction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates multiple related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the data was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the payment is processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the processing of the payment instruction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-instruction-get-payment-instruction"
        },
        "example": "payment-instruction-get-payment-instruction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Token for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}