{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Order Allocations-spec",
    "description": "The Market Operation Order Allocation Retrieval API provides businesses with access to a comprehensive list of order allocations associated with market operations. This API enables users to efficiently gather data on various order allocations, which is essential for analyzing and managing operational workflows. Typical consumers of this API include financial analysts and operations managers seeking insights into market order performance and allocation strategies. By utilizing this endpoint, users can streamline their decision-making processes based on real-time order allocation information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/order-allocation": {
      "get": {
        "tags": [
          "Order Management"
        ],
        "summary": "Retrieve all order allocations.",
        "description": "This endpoint allows you to fetch a complete list of order allocations in the market operations. It provides a comprehensive overview of current allocations, which can be used for analysis and reporting purposes.",
        "operationId": "listMarketOperationOrderAllocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve order allocation information within the market operations. It requires a specific JSON payload that outlines the parameters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationOrderAllocationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved all order allocations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationOrderAllocationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationOrderAllocationsRequest": {
        "type": "string",
        "description": "Represents the body of a request for order allocation in market operations.",
        "example": "{}"
      },
      "ListMarketOperationOrderAllocationsResponse_200": {
        "title": "Order Allocation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of order allocation items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OrderAllocationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the order allocation operation, containing the list of order items, pagination information, sorting options, and metadata about the response.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "68eac8b8-9acb-5f34-99b5-14f9025a177a",
            "correlationId": "161d3c00-8883-5e29-8d82-63688a6269b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OrderAllocationItem": {
        "title": "Order Allocation Item",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "sample-trade-id"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "sample-instrument-id"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date when the order will be settled.",
            "example": "2023-10-05"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to be allocated.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "The unique identifier for the custodian holding the asset.",
            "example": "sample-custodian-id"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2023-10-05T12:00:00Z"
          }
        },
        "description": "Represents an individual order allocation item within the response."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "sample-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "sample-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the request was processed.",
            "example": "NA"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "order-allocation-search-order-allocation"
        },
        "example": "order-allocation-search-order-allocation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism. Clients must include a bearer token in the 'Authorization' header to authenticate requests. The token format is JSON Web Token (JWT), which allows for secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}