{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Param1-spec",
    "description": "The Payment Intent Retrieval API provides the capability to access specific payment intent details using a unique parameter identifier. This endpoint is designed for developers looking to integrate payment processing functionalities within their applications. By querying with the 'param1' identifier, users can retrieve essential information related to payment intents, enabling efficient management of payment flows. Common consumers of this API include e-commerce platforms, financial service providers, and payment processors seeking to enhance their transaction handling capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Retrieve Payment Intent Details",
        "description": "This endpoint retrieves the details of a specific payment intent identified by its unique ID. It provides information regarding the current state of the payment and any relevant metadata associated with it.",
        "operationId": "getP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body containing details necessary to retrieve the payment intent identified by PAY-300045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment intent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for retrieving payment intent operations. The expected input is a string that identifies the payment intent.",
        "example": "{}"
      },
      "GetP2mByParam1Response_200": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-175060"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the transaction occurred.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal where the transaction was processed.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Total amount involved in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "Amount that has been authorized for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "Amount that has been captured from the authorized funds.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "Amount that has been refunded for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was processed.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods that are allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the selected payment method.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Details of the customer who made the transaction.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details of the order related to the transaction.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving payment intent details.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-175060",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-836",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-877217",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "ae9486bd-c34e-512a-aef5-17270bfc94f6",
            "correlationId": "1296e5a9-5a25-50de-ba87-5855ccabac73",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount, e.g., USD, EUR.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The actual monetary value.",
            "example": "string"
          }
        },
        "description": "Schema representing monetary values with their currency."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method, e.g., card, wallet.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code for the issuer of the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method to protect sensitive details.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the selected payment method."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer by the risk management system.",
            "example": "string"
          }
        },
        "description": "Schema representing customer details."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the order from the merchant's perspective.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "string"
          },
          "items": {
            "type": "array",
            "description": "List of items in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Schema representing order details associated with the transaction."
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier for the item.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the item.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the item.",
            "example": "string"
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered.",
            "example": "string"
          },
          "unitPrice": {
            "description": "Price per unit of the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "description": "Total amount for this item including quantity.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing individual items within an order."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction is processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the transaction response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-payment-intent"
        },
        "example": "banking-p2m-openapi-get-payment-intent"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token format is JSON Web Token (JWT), which is a compact and self-contained way for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}