{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation API",
    "description": "The Funds Confirmation API enables financial institutions to verify the availability of funds in a customer's account for a domestic payment. This API is designed for payment initiation service providers (PISPs) to ensure seamless transaction execution by checking account statuses before processing payments. By utilizing this API, developers can enhance customer experience and compliance with open banking regulations. Typical consumers include banking apps and payment processing platforms that require real-time fund availability insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "Domestic Payment Consent"
        ],
        "summary": "Retrieve Funds Confirmation for Domestic Payment Consent",
        "description": "This endpoint allows you to retrieve the funds confirmation status for a specific domestic payment consent identified by its unique reference. This is crucial for ensuring that sufficient funds are available before proceeding with the payment.",
        "operationId": "getFundsConfirmationForPispDomesticPaymentConsentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a funds confirmation check for a specific domestic payment consent. It verifies whether sufficient funds are available for the transaction identified by the provided consent ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationForPispDomesticPaymentConsentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The funds confirmation request was successful and the relevant information has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationForPispDomesticPaymentConsentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationForPispDomesticPaymentConsentRes100045Request": {
        "type": "string",
        "description": "A string representing the request body for a funds confirmation operation in the context of domestic payment consents.",
        "example": "{}"
      },
      "GetFundsConfirmationForPispDomesticPaymentConsentRes100045Response_200": {
        "title": "Funds Confirmation Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FundsAvailableResult": {
                "$ref": "#/components/schemas/FundsAvailableResult"
              }
            },
            "description": "Contains the results of the funds availability check.",
            "example": {
              "FundsAvailableResult": {
                "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
                "FundsAvailable": true
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "string"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "string"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of results.",
                "example": "string"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of results.",
                "example": "string"
              }
            },
            "description": "Pagination and resource links related to the funds confirmation response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available for this result set.",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "Date and time when funds were first available.",
                "example": "string"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Date and time when funds were last available.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the funds confirmation request.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Date and time when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata about the response.",
            "example": {
              "responseId": "dd4ba341-3879-51ee-8b0e-175a1bd58e00",
              "correlationId": "40b2bbb3-38b7-542a-a604-4e3f55fca713",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "A response schema representing the result of a funds confirmation request.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "dd4ba341-3879-51ee-8b0e-175a1bd58e00",
            "correlationId": "40b2bbb3-38b7-542a-a604-4e3f55fca713",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsAvailableResult": {
        "title": "Funds Available Result",
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the funds availability was confirmed.",
            "example": "2023-01-01T12:00:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether the funds are available.",
            "example": false
          }
        },
        "description": "Represents the amount and availability of funds."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint in which the request was handled. This ID is used for tracing and monitoring the application's behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-domestic-payment-funds"
        },
        "example": "payment-initiation-openapi-confirm-domestic-payment-funds"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was processed. This helps in identifying the source of the response during debugging and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authorization. Clients must provide a valid bearer token in the Authorization header of the request to authenticate and gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}