{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Corporate Payroll Services-spec",
    "description": "The Corporate Payroll Services Retrieval API provides access to vital information regarding corporate payroll services offered under trade banking. This endpoint allows users to retrieve detailed listings of available payroll solutions, which are essential for managing employee compensation efficiently. Businesses can utilize this API to inform their payroll processing decisions and optimize financial management. Typical consumers include financial institutions, corporate HR departments, and payroll service providers seeking to enhance their service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/corporate-payroll-services": {
      "get": {
        "tags": [
          "Corporate Payroll Services"
        ],
        "summary": "Retrieve corporate payroll services.",
        "description": "This endpoint allows you to retrieve details about the corporate payroll services offered by the trade banking division, providing relevant information for businesses to manage their payroll effectively.",
        "operationId": "listTradeBankingCorporatePayrollServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to corporate payroll services offered by the trade banking system. It should contain the necessary parameters and filters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingCorporatePayrollServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of corporate payroll services data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingCorporatePayrollServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingCorporatePayrollServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Corporate Payroll Services under Trade Banking.",
        "example": "{}"
      },
      "ListTradeBankingCorporatePayrollServicesResponse_200": {
        "title": "Corporate Payroll Services Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payroll batch details.",
            "example": [
              {
                "corporateCustomerId": "CUST-131978",
                "payrollBatchId": "STANDARD",
                "payPeriod": "STANDARD",
                "employeeCount": 1,
                "fundingAccountId": "ACC-585262",
                "totalNetPay": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PayrollBatchItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort parameter for ordering the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the corporate payroll services API, including information about payroll batches and pagination.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-131978",
              "payrollBatchId": "STANDARD",
              "payPeriod": "STANDARD",
              "employeeCount": 1,
              "fundingAccountId": "ACC-585262",
              "totalNetPay": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "08aae477-4eda-5406-9be1-4f1067ba1322",
            "correlationId": "57e89d99-268c-5601-ad64-d5a72690c25c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PayrollBatchItem": {
        "title": "Payroll Batch Item",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST12345"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "Unique identifier for the payroll batch.",
            "example": "BATCH12345"
          },
          "payPeriod": {
            "type": "string",
            "description": "Pay period for which the payroll is processed.",
            "example": "2023-10"
          },
          "employeeCount": {
            "type": "integer",
            "description": "Total number of employees included in the payroll batch.",
            "format": "int32",
            "example": 100
          },
          "fundingAccountId": {
            "type": "string",
            "description": "Identifier for the funding account used for payroll.",
            "example": "ACCOUNT54321"
          },
          "totalNetPay": {
            "$ref": "#/components/schemas/TotalNetPay"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payroll record (e.g., processed, pending).",
            "example": "processed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payroll batch was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a single payroll batch for a corporate customer."
      },
      "TotalNetPay": {
        "title": "Total Net Pay",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total net amount to be paid in the specified currency.",
            "example": 15000.75
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the total amount.",
            "example": "USD"
          }
        },
        "description": "Total net pay details for a payroll batch."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response of the corporate payroll services."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-search-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-search-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication via JSON Web Tokens (JWT). The client must include the JWT in the Authorization header as a Bearer token to authenticate and authorize access to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}