{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Retrieval API",
    "description": "The Document Retrieval API facilitates access to essential banking documents needed for customer verification and compliance processes. This endpoint allows users to retrieve specific document details by providing a designated parameter. Typical consumers include financial institutions and service providers utilizing this information to enhance their customer service capabilities. By leveraging this API, organizations can streamline their document management tasks and improve regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services/{param1}": {
      "get": {
        "tags": [
          "Document Services"
        ],
        "summary": "Retrieve document services by ID.",
        "description": "This endpoint allows users to fetch detailed information about document services identified by a specific ID (RES-100045). It returns relevant metadata and attributes associated with the document services, facilitating easy access to necessary information.",
        "operationId": "getDocumentServicesById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the document details associated with the specified document service identifier. Ensure that the required parameters are provided correctly for a successful retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentServicesByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested document.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentServicesByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentServicesByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body structure for the GET operation on document services.",
        "example": "{}"
      },
      "GetDocumentServicesByIdResponse_200": {
        "title": "Document Response Schema",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "DOC-413420"
          },
          "documentType": {
            "type": "string",
            "description": "The type of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "The classification of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention class of the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "The SHA256 checksum of the document for data integrity verification.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the document record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the document was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the details of a document retrieved from the document service.",
        "example": {
          "documentId": "DOC-413420",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "eeb408cd-4487-5fdd-b01a-82a728cd1303",
            "correlationId": "59017ddd-4f43-554e-9388-c7aa0d6dfbb4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response associated with the document metadata.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata details for a document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-get-document-services"
        },
        "example": "document-services-get-document-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header to authenticate requests. The JWT must be properly formatted and signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}