{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Param1-spec",
    "description": "The Trade Banking Details API allows users to access specific information regarding syndicated loans based on a provided parameter. It serves financial analysts and banking professionals who require detailed insights into trade banking operations. Users can utilize this API to retrieve data essential for decision-making in trade finance and loan management. The primary resource accessed is the syndicated loan information linked to the specified parameter, enhancing the efficiency of data retrieval for various banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan/{param1}": {
      "get": {
        "tags": [
          "Syndicated Loans"
        ],
        "summary": "Retrieve details of a specific syndicated loan.",
        "description": "Fetches the complete details of the syndicated loan identified by LOAN-500045. This endpoint provides relevant financial and contractual information that can assist stakeholders in making informed decisions regarding the loan.",
        "operationId": "getTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information for a specific syndicated loan identified by the unique loan ID 'LOAN-500045'. Ensure that the request body adheres to the expected schema to facilitate successful data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByParam1Request": {
        "title": "Syndicated Loan Operations Request Body",
        "type": "string",
        "description": "Request Body for Syndicated Loan Operations in the GET method. This schema contains the parameters required for the operation.",
        "example": "{}"
      },
      "GetTradeBankingByParam1Response_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier of the corporate customer.",
            "example": "CUST-250471"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier for the counterparty involved in the loan.",
            "example": "PARTY-941428"
          },
          "amount": {
            "description": "The amount associated with the loan, including value and currency.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the loan.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the loan record.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Response object for the GET operation on a syndicated loan.",
        "example": {
          "corporateCustomerId": "CUST-250471",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-941428",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2ee16688-8924-5797-bb47-15332a193741",
            "correlationId": "d7669d2f-4b48-52b7-a5d4-4484f8237a57",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the loan amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the amount of the loan including its value and currency."
      },
      "LoanMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the loan record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that was called, which can be used for logging and tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-get-syndicated-loan"
        },
        "example": "syndicated-loan-get-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that performed the operation, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer authentication using JSON Web Tokens (JWT). Clients must include a JWT in the authorization header in the format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}