{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List External Agency Syndicate Managements-spec",
    "description": "The Syndicate Management Retrieval API allows users to access detailed information about external agency syndicate managements within the banking sector. This API facilitates the retrieval of comprehensive data related to syndicates, enabling financial institutions and service providers to assess partnerships and operational efficiencies. Typical consumers include banking professionals, compliance officers, and risk management teams seeking to understand syndicate structures and performance. Through this endpoint, users can effectively navigate and analyze various syndicate management strategies to drive informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/syndicate-management": {
      "get": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Retrieve syndicate management details for external agencies",
        "description": "This endpoint allows developers to access and retrieve detailed information regarding the management of syndicates specific to external agencies. It provides a comprehensive overview, facilitating effective management and oversight.",
        "operationId": "listExternalAgencySyndicateManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving syndicate management operations for external agencies. This body must adhere to the defined schema to correctly format the request data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListExternalAgencySyndicateManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the syndicate management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExternalAgencySyndicateManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListExternalAgencySyndicateManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the external agency syndicate management GET operation in JSON format.",
        "example": "{}"
      },
      "ListExternalAgencySyndicateManagementsResponse_200": {
        "title": "Syndicate Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of institution records.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-595757",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InstitutionRecord"
            }
          },
          "pagination": {
            "description": "Details regarding pagination information.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "A string representing the sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the GET operation on the syndicate management endpoint.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-595757",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "047ddbff-228a-5c37-82a0-a40f4a4dbb55",
            "correlationId": "49be19f6-b81b-5100-8eab-cb64a7e045c5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstitutionRecord": {
        "title": "Institution Record",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution."
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement associated with the institution."
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code for the institution."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the institution."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the institution's record became effective."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the institution's record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the institution's record."
          }
        },
        "description": "Schema representing an individual institution's record."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items displayed per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicate-management-search-syndicate-management"
        },
        "example": "syndicate-management-search-syndicate-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT). The token is to be provided in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}