{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondence Retrieval API",
    "description": "The Correspondence Retrieval API enables users to access and retrieve various banking correspondence documents. These documents may include important financial statements, account notifications, and regulatory communications essential for customer review and compliance purposes. Typical consumers of this API include financial institutions and developers building customer service applications that require document access. With this API, applications can efficiently fetch necessary documentation to enhance customer interactions and ensure compliance with regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve correspondence documents",
        "description": "This endpoint allows users to retrieve a list of correspondence documents stored in the system. You can filter, sort, and paginate the results based on various criteria.",
        "operationId": "getCorrespondenceDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve correspondence documents. It should contain the necessary parameters that define the criteria for filtering and fetching the desired documents.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondenceDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the corresponding documents are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondenceDocumentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondenceDocumentsRequest": {
        "type": "string",
        "description": "A JSON-formatted string representing the request body for retrieving correspondence documents.",
        "example": "{}"
      },
      "GetCorrespondenceDocumentsResponse_200": {
        "title": "Documents Correspondence Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of document objects returned in the response.",
            "example": [
              {
                "documentId": "DOC-108022",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the items listed.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on documents correspondence endpoint, containing a list of document items along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "documentId": "DOC-108022",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "37140753-4955-59a3-a8df-5cec784a134c",
            "correlationId": "f6d87ca3-dc65-5577-9e0f-6c9d43f48d7a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "title": "Document",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document."
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., invoice, report)."
          },
          "classification": {
            "type": "string",
            "description": "Classification category of the document."
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class indicating how long the document should be kept."
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document."
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document."
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document media."
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document for integrity verification."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document."
          }
        },
        "description": "Schema representing a document with its properties."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details of the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was carried out."
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-search-correspondence"
        },
        "example": "correspondence-search-correspondence"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) in the HTTP Authorization header to authenticate requests. Clients must include a valid JWT token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}