{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Current Accounts-spec",
    "description": "The Deposit Lending Current Accounts Retrieval API enables businesses to access a comprehensive list of current accounts related to deposit lending. This endpoint provides relevant details for users such as financial institutions and account managers who require real-time information about the status and specifics of available current accounts. By leveraging this API, developers can integrate account data into their applications, facilitating better customer service and informed decision-making. This streamlined access to account data is essential for enhancing banking operations and customer relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve current account deposit details",
        "description": "This endpoint allows the user to fetch the details of current account deposits, providing insights into balance, transaction history, and interest rates applicable.",
        "operationId": "listDepositLendingCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains parameters required for retrieving the current account details related to deposit lending operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingCurrentAccountsRequest": {
        "title": "Deposit Lending Current Account Operations Request Body",
        "type": "string",
        "description": "A string representation of the request body sent for retrieving current account operations in the deposit lending context.",
        "example": "{}"
      },
      "ListDepositLendingCurrentAccountsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of current account lending items.",
            "example": [
              {
                "customerId": "CUST-388539",
                "accountId": "ACC-593304",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrentAccountLendingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a GET operation on current account lending.",
        "example": {
          "items": [
            {
              "customerId": "CUST-388539",
              "accountId": "ACC-593304",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "05b75572-b998-5905-8a46-ba8ce91e3ba5",
            "correlationId": "fae94928-9475-5c11-97e1-8e5fd203df78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrentAccountLendingItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code identifying the product.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment.",
            "example": "string"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the account.",
            "example": "string"
          },
          "statementFrequency": {
            "type": "string",
            "description": "The frequency of statements issued.",
            "example": "string"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if overdraft is allowed.",
            "example": false
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a current account lending item."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-search-current-account"
        },
        "example": "current-account-search-current-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). The client must provide a valid JWT in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}