{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Model By Param1-spec",
    "description": "The Contribution Model Lookup API enables users to retrieve specific contribution models based on a designated parameter. This endpoint serves as a crucial resource for applications that require detailed information regarding various banking models, facilitating informed decision-making. Typical consumers include developers building financial applications or systems that need to integrate banking operations, as well as analysts seeking insights into model attributes. By providing targeted access to contribution models, this API enhances operational efficiency and data accuracy in financial processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/contribution-models/{param1}": {
      "get": {
        "tags": [
          "Contribution Models"
        ],
        "summary": "Retrieve a specific contribution model by its ID.",
        "description": "Fetches detailed information about a contribution model specified by the unique identifier. This endpoint allows users to view the attributes and settings of the requested model, enabling them to understand its configuration and data.",
        "operationId": "getModelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters and criteria necessary to retrieve the contribution model data for the specified resource ID (RES-100045). It should be formatted as a JSON object adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetModelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetModelByParam1Request": {
        "type": "string",
        "description": "A JSON representation of the request body for GET operation in the specified model.",
        "example": "{}"
      },
      "GetModelByParam1Response_200": {
        "title": "Contribution Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio.",
            "example": "PORT-630309"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the data is valid.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model is evaluated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level of the model results expressed as a decimal.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The numeric version of the model.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the model was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Contribution Model API.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-630309",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f843e7a1-91c9-539f-a368-eb882ac3764b",
            "correlationId": "c1baa95a-12cb-5385-b7ae-b1e0eb65c09a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracking requests through systems.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "2023-10-01T15:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "This schema describes the metadata present in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the endpoint being accessed in the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-models-get-contribution-models"
        },
        "example": "contribution-models-get-contribution-models"
      },
      "X-Runtime-App": {
        "description": "This header specifies the application name that is responsible for processing the request and generating the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format based on JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}