{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intent Confirmation API",
    "description": "The Payment Intent Confirmation API enables merchants to confirm payment intents for transactions within an online platform. This API streamlines the payment process, allowing businesses to finalize customer orders efficiently. Typical consumers include e-commerce platforms, payment processors, and applications requiring secure transaction confirmation. By leveraging this API, businesses can enhance user experience and ensure payment accuracy in real-time.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}/confirm": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Confirm a payment intent",
        "description": "This endpoint processes the confirmation of a payment intent identified by its unique ID. It ensures that the payment process is completed successfully and returns the corresponding status.",
        "operationId": "confirmPaymentIntentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for confirming a payment intent. This must include the required parameters to complete the payment process, such as payment method details and any additional information necessary for the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPaymentIntentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment intent has been successfully confirmed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmPaymentIntentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ConfirmPaymentIntentPay300045Request": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "description": "The method used for the payment.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customerConsentId": {
            "type": "string",
            "description": "Identifier for customer consent.",
            "example": "STANDARD"
          },
          "deviceContext": {
            "description": "Context of the device used during the payment process.",
            "$ref": "#/components/schemas/DeviceContext"
          },
          "riskContext": {
            "description": "Contextual information regarding the risk of the transaction.",
            "$ref": "#/components/schemas/RiskContext"
          },
          "requestContext": {
            "description": "Context about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for confirming a payment intent operation.",
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-949",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-932712",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0,
              "accuracyMeters": 100.0
            },
            "appVersion": "STANDARD",
            "os": "STANDARD"
          },
          "riskContext": {
            "sessionId": "SES-402090",
            "customerAccountAgeDays": 1,
            "isNewPayee": true,
            "priorSuccessfulPayments": 1
          },
          "requestContext": {
            "requestId": "d9b6d4f8-7b37-59ab-8220-d5e475226a40",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "idempotencyKey": "36431e03-4aaf-571d-ad95-8a2feb87e370",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-461073"
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, bank transfer).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code of the bank that issued the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked representation of the payment identifier.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet if applicable.",
            "example": "string"
          }
        },
        "description": "Details of the payment method used."
      },
      "DeviceContext": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "string"
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the device.",
            "example": "string"
          },
          "userAgent": {
            "type": "string",
            "description": "User agent string of the device's browser.",
            "example": "string"
          },
          "geolocation": {
            "description": "Geolocation information of the device.",
            "$ref": "#/components/schemas/Geolocation"
          },
          "appVersion": {
            "type": "string",
            "description": "Version of the application being used.",
            "example": "string"
          },
          "os": {
            "type": "string",
            "description": "Operating system of the device.",
            "example": "string"
          }
        },
        "description": "Information about the device used for the transaction."
      },
      "Geolocation": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude of the device location.",
            "example": 0.0
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the device location.",
            "example": 0.0
          },
          "accuracyMeters": {
            "type": "number",
            "description": "Accuracy of the geolocation data in meters.",
            "example": 0.0
          }
        },
        "description": "Geolocation data of the device."
      },
      "RiskContext": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "Identifier for the user session during the transaction.",
            "example": "string"
          },
          "customerAccountAgeDays": {
            "type": "integer",
            "description": "Age of the customer account in days.",
            "format": "int32",
            "example": 0
          },
          "isNewPayee": {
            "type": "boolean",
            "description": "Indicates if the payee is new to the customer.",
            "example": false
          },
          "priorSuccessfulPayments": {
            "type": "integer",
            "description": "Count of prior successful payments made by the customer.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about the risk assessment for the transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for this specific request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application name from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the channel.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "ConfirmPaymentIntentPay300045Response_200": {
        "type": "object",
        "properties": {
          "paymentIntent": {
            "$ref": "#/components/schemas/PaymentIntent"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for confirming a payment intent operation.",
        "example": {
          "paymentIntent": {
            "id": "STANDARD",
            "merchantId": "MER-909000",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountAuthorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountCaptured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountRefunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captureMethod": "STANDARD",
            "channel": "STANDARD",
            "allowedPaymentMethods": [
              "STANDARD"
            ],
            "selectedPaymentMethod": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-844",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "order": {
              "merchantOrderId": "ORD-240784",
              "description": "Customer banking request processed successfully",
              "items": [
                {
                  "itemId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "description": "Customer banking request processed successfully",
                  "quantity": "STANDARD",
                  "unitPrice": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              ]
            }
          },
          "metadata": {
            "responseId": "6363b1a5-82c8-54f6-83a1-a995592543e1",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used for capturing the payment.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment will be processed.",
            "example": "string"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for this transaction.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "selectedPaymentMethod": {
            "$ref": "#/components/schemas/SelectedPaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          }
        },
        "description": "Represents the details of a payment intent."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents the amount details including currency and value."
      },
      "SelectedPaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the selected payment method for processing.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code for the issuer of the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method to protect sensitive information.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet (if applicable).",
            "example": "string"
          }
        },
        "description": "Details of the selected payment method."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Details of the customer making the payment."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique order identifier from the merchant.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "string"
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Details of the order associated with the payment intent."
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier for the item.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the item.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the item.",
            "example": "string"
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered.",
            "example": "string"
          },
          "unitPrice": {
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of an individual item in an order."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the payment intent response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-confirm-payment-intent"
        },
        "example": "banking-p2m-openapi-confirm-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, allowing access to protected resources. The expected format for the token is JSON Web Token (JWT). Clients must include this token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}