{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Financial Instrument Valuation Models-spec",
    "description": "The Financial Instrument Valuation Models Retrieval API enables users to access a comprehensive list of financial instrument valuation models used within the banking sector. This API allows stakeholders, such as financial analysts and risk managers, to retrieve detailed specifications and characteristics of valuation models efficiently. By leveraging this API, businesses can enhance their valuation processes, ensure compliance, and make informed financial decisions. The API is designed for high-performance access to crucial financial data, supporting various use cases including model assessment and integration into analytical systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models": {
      "get": {
        "tags": [
          "Financial Instruments"
        ],
        "summary": "Retrieve Financial Instrument Valuation Models",
        "description": "Fetch a list of financial instrument valuation models from the system. This endpoint provides details about each model, including its specifications and parameters for valuation.",
        "operationId": "listModelFinancialInstrumentValuationModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the financial instrument valuation models. Ensure that your request conforms to the specified schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelFinancialInstrumentValuationModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of financial instrument valuation models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelFinancialInstrumentValuationModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelFinancialInstrumentValuationModelsRequest": {
        "title": "Financial Instrument Valuation Models Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving financial instrument valuation models via the GET operation.",
        "example": "{}"
      },
      "ListModelFinancialInstrumentValuationModelsResponse_200": {
        "title": "Financial Instrument Valuation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of financial instrument valuation models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-373179",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "instrumentType": "STANDARD",
                "ticker": "STANDARD",
                "issueCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialInstrumentValuationModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the valuation models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for financial instrument valuation models containing valuation items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-373179",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "instrumentType": "STANDARD",
              "ticker": "STANDARD",
              "issueCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ac13f836-1a74-5181-b8de-5c380d1f99e0",
            "correlationId": "3d16e53a-0df2-552f-b2c9-78e827978943",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialInstrumentValuationModel": {
        "title": "Financial Instrument Valuation Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier of the valuation model."
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the valuation model."
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the valuation model."
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the valuation is performed."
          },
          "scenario": {
            "type": "string",
            "description": "Scenario applicable to the valuation model."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the valuation."
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of the financial instrument."
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol for the instrument."
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the instrument is issued."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the model."
          }
        },
        "description": "Schema representing a financial instrument valuation model."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred."
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-search-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-search-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). It is used to authorize access to secured endpoints by including a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}