{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Product Inventory Item Managements-spec",
    "description": "This API allows users to access and retrieve the inventory details specific to different product channels. It provides insights into available inventory items, facilitating better inventory tracking and management across various channels. Typical consumers include banks and retailers who require up-to-date product availability information for decision-making. The API enhances operational efficiency by ensuring stakeholders have real-time data at their fingertips.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management": {
      "get": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Retrieve product inventory items for a specific channel.",
        "description": "This endpoint allows you to fetch the inventory items associated with a specific sales channel. You can use this to monitor available products, their quantities, and other relevant details for effective inventory management.",
        "operationId": "listChannelSpecificProductInventoryItemManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product inventory item management details specific to a channel. This body encapsulates the necessary information to perform the GET operation efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificProductInventoryItemManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested product inventory items.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificProductInventoryItemManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificProductInventoryItemManagementsRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the channel-specific product inventory item management.",
        "example": "{}"
      },
      "ListChannelSpecificProductInventoryItemManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of inventory items.",
            "example": [
              {
                "inventoryItemId": "STANDARD",
                "sku": "STANDARD",
                "branchId": "STANDARD",
                "quantityOnHand": 1,
                "reorderPoint": 1,
                "distributionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria used for retrieving the inventory items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product inventory items.",
        "example": {
          "items": [
            {
              "inventoryItemId": "STANDARD",
              "sku": "STANDARD",
              "branchId": "STANDARD",
              "quantityOnHand": 1,
              "reorderPoint": 1,
              "distributionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "779e12c7-1e9a-56d4-a70b-70c938197d7d",
            "correlationId": "647318d9-3c2a-52cf-bee2-df6200ede281",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InventoryItem": {
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "string"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit identifier for the inventory item.",
            "example": "string"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the item is stored.",
            "example": "string"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "Current quantity of the item available on hand.",
            "format": "int32",
            "example": 0
          },
          "reorderPoint": {
            "type": "integer",
            "description": "Point at which inventory should be reordered.",
            "format": "int32",
            "example": 0
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "Quantity allocated for distribution.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the inventory record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the inventory item was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual inventory item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-search-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-search-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. Clients must include a valid Bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}