{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advertising Details Retrieval API",
    "description": "The Advertising Details Retrieval API provides access to specific advertising campaign information using a unique advertising ID. This endpoint allows businesses to fetch detailed insights about their marketing campaigns, enabling effective decision-making and strategy adjustments. Typical consumers include marketing teams and analysts looking to assess campaign performance. By utilizing this API, users can streamline their advertising management processes and enhance their marketing effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising/{advertisingId}": {
      "get": {
        "tags": [
          "Advertising"
        ],
        "summary": "Retrieve Advertising Resource Details",
        "description": "Fetch detailed information about the advertising resource identified by the unique ID RES-100045. This endpoint allows users to access key attributes and data points related to the specified advertising resource.",
        "operationId": "getAdvertisingResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/advertisingId"
          }
        ],
        "requestBody": {
          "description": "This request body expects a JSON payload that contains parameters required for retrieving advertising data related to the resource with ID RES-100045. Ensure that the request meets the necessary schema specifications as defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdvertisingResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested advertising information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvertisingResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAdvertisingResource100045Request": {
        "type": "string",
        "description": "Represents the body of a request for retrieving advertising operations in a marketing context.",
        "example": "{}"
      },
      "GetAdvertisingResource100045Response_200": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the advertising campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target market segment for the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Name of the channel used for advertising.",
              "example": "social_media"
            }
          },
          "budget": {
            "description": "The budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the campaign record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Last updated timestamp in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on advertising campaigns.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2d371eba-ec16-52c8-84cd-93f2f4dff403",
            "correlationId": "aeec90b6-4420-5b0f-ba6b-3ea140ef63b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount allocated for the campaign budget.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget is defined.",
            "example": "USD"
          }
        },
        "description": "Budget details for the campaign."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request correlation.",
            "example": "corr_222"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the campaign occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "advertisingId": {
        "name": "advertisingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, used for tracing and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-get-advertising"
        },
        "example": "advertising-get-advertising"
      },
      "X-Runtime-App": {
        "description": "Name of the application responsible for handling the request, useful for routing logs and identifying application-specific issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication method using JSON Web Tokens (JWT). The tokens are encoded JSON objects that contain claims and are used to authenticate users and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}