{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Terminal Information Retrieval API",
    "description": "The Terminal Information Retrieval API allows users to access detailed information about specific terminals using their unique identifiers. This API is essential for verifying terminal status, configuration, and operational data. Typical consumers include operational teams and application developers who need to integrate terminal data into their workflows or applications. By facilitating real-time access to terminal information, this API supports effective management and operational decision-making related to terminal operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals/{terminalId}": {
      "get": {
        "tags": [
          "Terminal Operations"
        ],
        "summary": "Retrieve terminal information.",
        "description": "This endpoint retrieves detailed information about a specific terminal identified by its unique ID. It allows users to access data such as terminal settings, status, and associated transactions.",
        "operationId": "getTerminalById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/terminalId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the specific terminal information. Ensure that the required fields are included in the JSON schema as defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTerminalByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the terminal details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTerminalByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTerminalByIdRequest": {
        "title": "Request Body for GET Operations on Terminals",
        "type": "string",
        "description": "This schema represents the request body format for the GET operations related to terminals. It is expected to contain string data.",
        "example": "{}"
      },
      "GetTerminalByIdResponse_200": {
        "title": "Terminal Response",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the terminal.",
            "example": "MER-237241"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the terminal is located.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal (e.g., Mobile, Desktop).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the terminal hardware.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Unique fingerprint for the terminal device.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A capability of the terminal.",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp indicating when the terminal was last seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for tracking changes made to the terminal.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata information related to the terminal response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "This schema represents the response object for a terminal information request.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-237241",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "4ccfc858-f8de-5577-a3a5-ad50f4dc22ea",
            "correlationId": "09a477b9-8b2d-5b1f-95db-f65e04d51dd5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the terminal was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the terminal.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the terminal was last updated.",
            "example": "2023-10-02T09:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the terminal.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains information related to the audit of the terminal."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information related to the terminal response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "terminalId": {
        "name": "terminalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value helps in tracing the request path.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-terminal"
        },
        "example": "banking-p2m-openapi-get-terminal"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request. This assists in identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing Bearer tokens, specifically JSON Web Tokens (JWT), to authorize API requests. Clients must include a valid JWT in the 'Authorization' header of their requests to gain access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}