{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Marketing By Advertising Id-spec",
    "description": "This API allows users to update marketing information associated with a specific advertising ID. It facilitates the modification of key data points, enabling businesses to tailor their marketing strategies effectively. Typical consumers of this API include marketing teams and application developers looking to enhance user targeting and campaign management. By leveraging this functionality, organizations can ensure that their marketing efforts remain current and aligned with their overall business objectives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising/{advertisingId}": {
      "patch": {
        "tags": [
          "Advertising"
        ],
        "summary": "Update Advertising Resource",
        "description": "This endpoint allows users to update the details of a specific advertising resource identified by RES-100045. Ensure that you provide the necessary fields that need to be updated in the request.",
        "operationId": "updateMarketingByAdvertisingId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/advertisingId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the advertising resource with ID RES-100045. This body should contain the information to modify the existing advertising details, such as title, description, and other related attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketingByAdvertisingIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketingByAdvertisingIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketingByAdvertisingIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be applied in the advertising operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for PATCH operation on advertising operations.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f827d8ab-5251-5be6-ba2c-65263733a944",
            "correlationId": "3a37f404-50ba-5a79-9aa5-178550d76747",
            "idempotencyKey": "86a9733c-d502-5fb1-81c2-b29cd75125be",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-278256"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Identifier of the campaign to be modified.",
            "example": "string"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier of the target segment for the campaign.",
            "example": "string"
          },
          "channelMix": {
            "type": "array",
            "description": "Applied mix of channels for advertising.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "List of channels to use for advertising."
            }
          }
        },
        "description": "Schema representing the changes related to the advertising operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Channel details for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context details of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., social, email, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing channel details for the advertising operation."
      },
      "UpdateMarketingByAdvertisingIdResponse_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for PATCH operations in the advertising marketing API.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ec7f0100-624a-57e3-b7f9-f64973093f07",
            "correlationId": "3a37f404-50ba-5a79-9aa5-178550d76747",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with an API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "advertisingId": {
        "name": "advertisingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-update-advertising"
        },
        "example": "advertising-update-advertising"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the runtime is executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses JSON Web Tokens (JWT) for secure transmission of information. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}