{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Institution By Routingnumber Id-spec",
    "description": "This API endpoint allows users to retrieve detailed information about a financial institution using its unique routing number. Financial institutions can be essential for various banking operations, and having access to their information is crucial for ensuring accurate transactions. Typical consumers of this API include banking software providers, financial analysts, and developers building payment processing solutions. By providing the routing number, clients can easily access pertinent information that aids in decision-making and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/routingnumber/{routingnumberId}": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Retrieve routing number for a specific institution",
        "description": "Fetches the routing number associated with the specified institution. This endpoint allows you to access the routing number, ensuring accurate and timely processing of financial transactions.",
        "operationId": "getInstitutionByRoutingnumberId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/routingnumberId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the routing number for a specific institution. The request must provide relevant identification details to process the retrieval accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionByRoutingnumberIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the routing number details have been returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionByRoutingnumberIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionByRoutingnumberIdRequest": {
        "type": "string",
        "description": "This schema represents the routing number as a string used in bank operations.",
        "example": "{}"
      },
      "GetInstitutionByRoutingnumberIdResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Number of institutions found matching the criteria.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "Number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond the current display.",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the record was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "List of institution objects containing detailed information about each institution.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "paymentInitiation": true,
                "billPayData": true,
                "liabilityData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for routing number operations confirming the found institutions and their related details.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "paymentInitiation": true,
              "billPayData": true,
              "liabilityData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "1ef269fe-bd3e-543e-80b7-4df5aaf6be7f",
            "correlationId": "dd909a6c-fc82-527e-8831-ba0383d3b34a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Official name of the institution.",
            "example": "ABC Bank"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is available for the institution.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH services are offered by the institution.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation services are provided by the institution.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if Voice over IP services are available.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if Voice over Audio services are available.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if Advanced Home Automation services are offered by the institution.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information is provided by the institution.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership data is available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is provided by the institution.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available from the institution.",
            "example": false
          },
          "paymentInitiation": {
            "type": "boolean",
            "description": "Indicates if payment initiation services are available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay functionality is available.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is accessible from the institution.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the types of accounts offered by the institution.",
            "example": "Checking, Savings"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the institution.",
            "example": "123-456-7890"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL for the home application or the institutional website.",
            "example": "http://www.abcbank.com"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL for the application login page.",
            "example": "http://www.abcbank.com/login"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for authentication.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the forgot password page.",
            "example": "http://www.abcbank.com/forgot-password"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online account registration.",
            "example": "http://www.abcbank.com/register"
          },
          "class": {
            "type": "string",
            "description": "Categorization class for the institution.",
            "example": "Bank"
          },
          "specialText": {
            "type": "string",
            "description": "Additional special text or notes related to the institution.",
            "example": "Online services available"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone in which the institution operates.",
            "example": "UTC-5"
          },
          "specialInstructions": {
            "type": "array",
            "description": "Any special instructions associated with the institution.",
            "items": {
              "type": "string",
              "example": "Visit our website for more details."
            }
          },
          "title": {
            "type": "string",
            "description": "Title or designation of the institution.",
            "example": "ABC Bank"
          },
          "address": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string",
                "description": "City where the institution is located.",
                "example": "New York"
              },
              "state": {
                "type": "string",
                "description": "State where the institution is located.",
                "example": "NY"
              },
              "country": {
                "type": "string",
                "description": "Country where the institution is located.",
                "example": "USA"
              },
              "postalCode": {
                "type": "string",
                "description": "Postal code for the institution's address.",
                "example": "10001"
              }
            },
            "description": "Physical address of the institution."
          }
        },
        "description": "Detailed information about a financial institution."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace requests across various services.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata relevant to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "routingnumberId": {
        "name": "routingnumberId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This can be useful for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions-by-routing-number"
        },
        "example": "open-finance-api-get-institutions-by-routing-number"
      },
      "x-runtime-app": {
        "description": "The version of the application runtime environment in which the request was handled. This helps in understanding the context of the backend processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT) for secure data transmission. Clients must include this token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}