{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Prospect Campaign Review Submission API",
    "description": "The Prospect Campaign Review Submission API enables businesses to collect and submit customer reviews related to prospect campaign executions. This endpoint allows users to contribute valuable feedback that can enhance marketing strategies and improve sales processes. It is particularly useful for marketing teams and sales professionals who seek to assess the effectiveness of their campaigns through direct customer insights. By leveraging this API, organizations can foster a more responsive and customer-centric approach to their promotional activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/prospect-campaign-execution/{param1}/reviews": {
      "post": {
        "tags": [
          "Prospect Campaign Management"
        ],
        "summary": "Add a review for a prospect campaign execution.",
        "description": "This endpoint allows users to submit a review for a specific prospect campaign execution identified by its resource ID. The review will be associated with the campaign's performance and insights from the execution phase.",
        "operationId": "createProspectCampaignExecutionReviewForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the specified prospect campaign execution. Make sure to include all required fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProspectCampaignExecutionReviewForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProspectCampaignExecutionReviewForResource100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProspectCampaignExecutionReviewForResource100045Request": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which can include multiple items.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual item within the review scope.",
              "example": "string"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for submitting reviews in the campaign execution process.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "e643f08a-4862-5190-a34b-1c19035035da",
            "correlationId": "aded7acd-310d-5eb1-9af4-cbc7bc594bc8",
            "idempotencyKey": "31615b52-9d31-5b1f-91d6-af324849982f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-875781"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple related requests.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is processed only once.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T09:30:00.000Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request including identifiers and source details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateProspectCampaignExecutionReviewForResource100045Response_202": {
        "title": "Campaign Execution Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken in the campaign.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the campaign execution.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the campaign execution after processing.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the campaign execution response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a campaign execution operation, detailing the action taken and its outcome.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "45516476-1fa6-5480-8b8e-76b47b0f20c5",
            "correlationId": "aded7acd-310d-5eb1-9af4-cbc7bc594bc8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated.",
            "example": "response_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request through the entire processing pipeline.",
            "example": "correlation_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing of the campaign occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata related to the campaign execution response, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-execution-review-prospect-campaign-execution-processing"
        },
        "example": "prospect-campaign-execution-review-prospect-campaign-execution-processing"
      },
      "X-Runtime-App": {
        "description": "The application or service that handled the request, indicating the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme utilizes a bearer token, typically a JSON Web Token (JWT), which must be included in the `Authorization` header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}