{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Service Trust Services-spec",
    "description": "This API allows users to access a comprehensive list of trust services available within the consumer banking sector. It serves as a gateway for financial service providers and developers to retrieve detailed information about each trust service, including their features and eligibility criteria. Typical users of this API include financial institutions and app developers looking to integrate trust service functionalities into their applications. By utilizing this API, consumers can make informed decisions based on the services that best meet their banking needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services": {
      "get": {
        "tags": [
          "Trust Services"
        ],
        "summary": "Retrieve Trust Services",
        "description": "This endpoint allows you to retrieve information about available trust services for consumers. It provides detailed data that can assist organizations in understanding and utilizing these services effectively.",
        "operationId": "listConsumerServiceTrustServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters and filters for retrieving consumer trust services information. It should include the necessary criteria to refine the request and obtain accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerServiceTrustServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved trust services information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerServiceTrustServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerServiceTrustServicesRequest": {
        "type": "string",
        "description": "This schema defines the request body for the GET operation in the consumer services trust services API. It is expected to be a string formatted in JSON.",
        "example": "{}"
      },
      "ListConsumerServiceTrustServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of service request items related to customers.",
            "example": [
              {
                "customerId": "CUST-888529",
                "serviceRequestId": "1385d375-3295-5ffe-b708-64533ba7598c",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServiceRequestItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on Trust Services. This schema encapsulates the details of the items retrieved including pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-888529",
              "serviceRequestId": "1385d375-3295-5ffe-b708-64533ba7598c",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "130b7716-f26b-5a3e-9d0f-f1999232a84f",
            "correlationId": "0674d862-fa7a-53f7-bdb8-097699e754d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceRequestItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the service request.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date the service was requested.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the service request record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the service request was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual service request item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the monetary amount associated with a service request."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-search-trust-services"
        },
        "example": "trust-services-search-trust-services"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The token should be a JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}