{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Servicing By Param1-spec",
    "description": "The Customer Case Servicing API enables businesses to retrieve detailed servicing information related to specific customer cases identified by a unique parameter. This API allows users to access essential data, such as case status, history, and associated customer details. It is particularly useful for customer support teams and financial institutions handling customer inquiries or case management. By leveraging this API, stakeholders can ensure timely resolutions and improved customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case/{param1}": {
      "get": {
        "tags": [
          "Customer Case Management"
        ],
        "summary": "Retrieve customer case details",
        "description": "This endpoint allows you to fetch detailed information about a specific customer case identified by the case number CUST-100045. Ensure to have the appropriate access permissions to view the case information.",
        "operationId": "getServicingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information about a specific customer case identified by the ID CUST-100045. Ensure to provide any necessary authentication headers required by your API client.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer case details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for a specific customer case operation. It is expected to contain a JSON string.",
        "example": "{}"
      },
      "GetServicingByParam1Response_200": {
        "title": "Customer Case Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-734702"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "CASE-103222"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request associated with the case.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level assigned to the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the case was originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case creation.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The date and time by which the service level is expected to be met.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The customer's preferred method of contact.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the case record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the case record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the case was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a customer case operation.",
        "example": {
          "customerId": "CUST-734702",
          "caseId": "CASE-103222",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7f851c55-fb0e-5926-a7ca-4b634b0dab85",
            "correlationId": "ce485c03-7709-5f77-b49b-e072f2d01237",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-789123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracing the request through the system.",
            "example": "CORR-456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-get-customer-case"
        },
        "example": "customer-case-get-customer-case"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header formatted as 'Bearer {token}' to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}