{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Organization Direction API",
    "description": "The Organization Direction API provides access to vital information regarding the strategic orientation of businesses. By leveraging this API, developers can obtain insights about organizational directives that drive business control and decision-making processes. Typical consumers of this API include financial analysts, business strategists, and operations teams seeking to align their initiatives with overall organizational goals. This API supports the retrieval of essential data that aids in effective business planning and resource management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/organization-direction": {
      "get": {
        "tags": [
          "Business Control"
        ],
        "summary": "Retrieve organization direction details.",
        "description": "This endpoint fetches the details related to the organization direction, providing insights into the strategic management of the organization's objectives and initiatives.",
        "operationId": "getOrganizationDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to request organization direction details in the business control context. Ensure that the provided JSON structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrganizationDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the organization direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationDirectionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOrganizationDirectionRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operation related to business control organization direction. It is expected to be a plain string input.",
        "example": "{}"
      },
      "GetOrganizationDirectionResponse_200": {
        "title": "Operations Response Schema",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of operation items.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET request to the operations endpoint, including items, pagination, sort order, and metadata.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "02bea396-2fa1-5012-a863-35d7e68c0a76",
            "correlationId": "4a1c8a74-c475-5049-a09e-ea0c094979dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "title": "Operation Item Schema",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Identifier for the business unit.",
            "example": "string"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center.",
            "example": "string"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Planning period associated with the operation.",
            "example": "string"
          },
          "budget": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The budget amount.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "Currency code for the budget amount.",
                "example": "string"
              }
            },
            "description": "Budget details for the operation."
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of last update.",
            "example": "string"
          }
        },
        "description": "Schema representing a single operation item."
      },
      "Pagination": {
        "title": "Pagination Schema",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing paginated response details."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "organization-direction-search-organization-direction"
        },
        "example": "organization-direction-search-organization-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients can authenticate by including a JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}