{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Cash Withdrawal-spec",
    "description": "The Card Cash Withdrawal API allows users to initiate cash withdrawal requests using their bank cards. This operation is designed for cardholders wishing to withdraw cash at ATMs or participating locations. It primarily serves customers of the bank, enabling a seamless and efficient cash access experience. By providing a streamlined method to handle withdrawal processes, this API enhances customer satisfaction and operational efficiency within the banking services framework.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/cash-withdrawals": {
      "post": {
        "tags": [],
        "summary": "Initiate a cash withdrawal for a specific card.",
        "description": "This endpoint allows users to initiate a cash withdrawal transaction for the specified card, enhancing the user\u2019s capability to manage card-related cash transactions efficiently.",
        "operationId": "createCardCashWithdrawal",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a cash withdrawal operation for the specified card. Ensure that all required parameters are included and properly formatted to facilitate successful transaction processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardCashWithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was completed successfully, and the response includes relevant details of the cash withdrawal.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardCashWithdrawalResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardCashWithdrawalRequest": {
        "title": "Cash Withdrawal Request Schema",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The token representing the card used for the withdrawal.",
            "example": "TOK-554275"
          },
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier of the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant processing the transaction.",
            "example": "MER-936673"
          },
          "transactionAmount": {
            "description": "The amount and currency for the transaction.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code for the merchant.",
            "example": "5411"
          },
          "authorizationType": {
            "type": "string",
            "description": "The type of authorization for the transaction.",
            "example": "STANDARD"
          },
          "terminalEntryMode": {
            "type": "string",
            "description": "The mode of entry for the terminal.",
            "example": "STANDARD"
          },
          "threeDSecureResult": {
            "type": "string",
            "description": "The result of the 3D secure authentication.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata regarding the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a cash withdrawal operation.",
        "example": {
          "cardToken": "TOK-554275",
          "cardholderId": "STANDARD",
          "merchantId": "MER-936673",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "authorizationType": "STANDARD",
          "terminalEntryMode": "STANDARD",
          "threeDSecureResult": "STANDARD",
          "requestContext": {
            "requestId": "9cef8580-b520-50e3-b7ce-3a22c536756e",
            "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
            "idempotencyKey": "23140499-026d-546e-90a6-743ea9a6ff93",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-187293"
            }
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount Schema",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money for the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for a transaction."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "CreateCardCashWithdrawalResponse_200": {
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant involved in the transaction.",
            "example": "MER-947174"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the category of the merchant.",
            "example": "5411"
          },
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization of this transaction.",
            "example": "STANDARD"
          },
          "decision": {
            "type": "string",
            "description": "The decision made regarding the transaction (e.g., approved or declined).",
            "example": "STANDARD"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code indicating the reason for the decision made.",
            "example": "CODE-269"
          },
          "authorizedAt": {
            "type": "string",
            "description": "Timestamp indicating when the transaction was authorized.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RES123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "2023-10-01T12:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the transaction was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the transaction.",
            "example": {
              "responseId": "28e946b3-2f77-55af-ab33-f82fd2a44c32",
              "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for cash withdrawal operations, detailing the results of the transaction including identifiers and operational metadata.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-947174",
          "merchantCategoryCode": "5411",
          "authorizationId": "STANDARD",
          "decision": "STANDARD",
          "reasonCode": "CODE-269",
          "authorizedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "28e946b3-2f77-55af-ab33-f82fd2a44c32",
            "correlationId": "06303ea7-4f0a-5cab-978f-bbd0182f0eae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the specific API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-authorize-card-authorization"
        },
        "example": "card-authorization-authorize-card-authorization"
      },
      "x-runtime-app": {
        "description": "Identifier for the runtime application associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "Identifier for the workflow that initiated the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-024"
        },
        "example": "WF-024"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ATM Cash Withdrawal Authorization and Posting"
        },
        "example": "ATM Cash Withdrawal Authorization and Posting"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2e3ae4ad-a970-4953-8020-8087bf1eee25"
        },
        "example": "2e3ae4ad-a970-4953-8020-8087bf1eee25"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to secure API endpoints. Clients must include the JWT in the Authorization header in the format 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}