{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Domestic Payment Payment Details-spec",
    "description": "The Domestic Payment Details Retrieval API allows clients to access detailed information about specific domestic payment transactions. By providing a unique payment identifier, consumers can retrieve comprehensive payment data, including status, amounts, and involved parties. This API is particularly useful for developers building financial applications or services that require visibility into payment processing details. Typical users include banks, payment processors, and financial analysts looking to enhance their transaction tracking and reporting capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "Domestic Payment"
        ],
        "summary": "Retrieve payment details for a specific domestic payment.",
        "description": "This endpoint allows users to fetch detailed information about a specific domestic payment identified by its unique payment ID. It provides insights into the transaction status, amounts, and associated parties.",
        "operationId": "listDomesticPaymentPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific payment for the payment ID PAY-300045 within the domestic payments context. Please provide all necessary information as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDomesticPaymentPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomesticPaymentPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDomesticPaymentPaymentDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body structure for the GET operation to retrieve payment details in the context of domestic payments.",
        "example": "{}"
      },
      "ListDomesticPaymentPaymentDetailsResponse_200": {
        "title": "Domestic Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment statuses for the requested transaction.",
                "items": {
                  "$ref": "#/components/schemas/PaymentTransactionStatus"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/PaginationLinks"
              },
              "Meta": {
                "$ref": "#/components/schemas/Metadata"
              },
              "metadata": {
                "$ref": "#/components/schemas/ResponseMetadata"
              }
            },
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-431298",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response for domestic payments, containing data about payment status, pagination links, and metadata.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-431298",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "f77d3887-179f-5c8b-9cdc-ec73683f3e12",
            "correlationId": "b3e32b4b-e150-58c5-a8b2-a9baf858399f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentTransactionStatus": {
        "title": "Payment Transaction Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated."
          },
          "StatusDetail": {
            "$ref": "#/components/schemas/StatusDetail"
          }
        },
        "description": "Details about the status of a specific payment transaction."
      },
      "StatusDetail": {
        "title": "Status Detail",
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment."
          },
          "Status": {
            "type": "string",
            "description": "Detailed status information of the payment."
          },
          "StatusReason": {
            "type": "string",
            "description": "Code representing the reason for the current status."
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "Human-readable description of the status reason."
          }
        },
        "description": "Detailed information about the payment status."
      },
      "PaginationLinks": {
        "title": "Pagination Links",
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page."
          }
        },
        "description": "Links for navigating through paginated responses."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available in the response.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the first available data can be accessed."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the last available data can be accessed."
          }
        },
        "description": "Metadata about the response, including pagination information."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Regional information where the processing occurred."
          }
        },
        "description": "Metadata regarding the response, such as identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment-details"
        },
        "example": "payment-initiation-openapi-get-domestic-payment-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that handled this transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication that uses a JSON Web Token (JWT) for authorization. The client must include the JWT in the 'Authorization' header of the request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}