{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cashflow Business Insights API",
    "description": "The Cashflow Business Insights API enables organizations to submit cash flow data for specific customers, facilitating detailed decision-making processes. By allowing integration of financial insights, businesses can better assess customer financial health and viability. This API is essential for financial analysts and decision-makers looking to enhance their understanding of cash flow patterns. Typical use cases include generating reports, evaluating loan applications, and conducting risk assessments based on submitted cash flow data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/cashflowbusiness": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Cashflow Entry for Customer",
        "description": "This endpoint allows users to create a new cashflow entry for a specific customer identified by their ID (CUST-100045). This action is essential for tracking the financial transactions associated with the customer.",
        "operationId": "createCashflowForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update cash flow business records for the specified customer. It accepts a JSON payload that conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashflowForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCashflowForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCashflowForCustomerCUST100045Request": {
        "title": "Cash Flow Business Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representing the account IDs.",
            "example": "ACC-302470"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to show non-sufficient funds.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report in Unix timestamp format.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "Minimum confidence level for income stream assessment.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of a cash flow business operation.",
        "example": {
          "accountIds": "ACC-302470",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "4ac8d7b5-97f5-50a7-a877-2981126c0cef",
            "correlationId": "631bc8fd-b1d6-5af6-9bdb-bcfa88261253",
            "idempotencyKey": "bf801b9a-5768-50c5-8fcd-ff474601bf50",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-548901"
            }
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Transaction Type"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Transfer"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": false
          }
        },
        "description": "A custom field for reporting purposes."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request context."
      },
      "CreateCashflowForCustomerCUST100045Response_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the cash flow response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer (e.g., individual, company).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The identifier for the request related to cash flow operations.",
            "example": "f78f0b23-d206-5243-87e2-97483b680d9f"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person who made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "The details of the end user related to the cash flow request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the request was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title or summary of the cash flow request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The social security number of the consumer (if applicable).",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer making the request.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement regarding any disputes related to the cash flow.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of cash flow, such as income or expense.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the cash flow request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Any constraints or conditions associated with the cash flow request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for cash flow operations associated with customers.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "f78f0b23-d206-5243-87e2-97483b680d9f",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-497998"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "86e169fb-6f9d-5847-94dd-d77beacc80a6",
            "correlationId": "631bc8fd-b1d6-5af6-9bdb-bcfa88261253",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "Jane Smith"
          },
          "address": {
            "type": "string",
            "description": "The address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "Los Angeles"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "The postal code for the end user\u2019s address.",
            "example": "90001"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the end user.",
            "example": "(123) 456-7890"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "jane.smith@example.com"
          },
          "url": {
            "type": "string",
            "description": "A URL associated with the end user (e.g., a personal webpage or social media profile).",
            "example": "http://example.com/janesmith"
          }
        },
        "description": "Details of the end user related to the request."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the consumer.",
            "example": "CNS-001"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the consumer.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "The address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "The postal code for the consumer\u2019s address.",
            "example": "10001"
          },
          "phone": {
            "type": "string",
            "description": "The contact phone number of the consumer.",
            "example": "(555) 123-4567"
          },
          "ssn": {
            "type": "string",
            "description": "The social security number of the consumer.",
            "example": "987-65-4321"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "john.doe@example.com"
          }
        },
        "description": "Detailed information about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "An array of account identifiers associated with the request.",
            "items": {
              "type": "string",
              "description": "An account identifier.",
              "example": "ACC-123"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields for reporting.",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          }
        },
        "description": "Constraints or conditions associated with the cash flow request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-99999"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-04T17:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "US-West"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that generated this request. This helps in tracking and analyzing the API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-cash-flow-business-report"
        },
        "example": "open-finance-api-generate-cash-flow-business-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This can be useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, which is typically a JSON Web Token (JWT). The token must be included in the Authorization header of the request as 'Bearer <token>'. This allows for secure access to the API and authenticates the user requesting the resource.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}