{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Document Submission API",
    "description": "The Loan Application Document Submission API enables users to upload essential documents for loan applications seamlessly. This API is crucial for financial institutions and service providers who handle loan processing, ensuring that required documentation is collected efficiently. By integrating this API, developers can streamline the loan application process for their clients, enhancing user experience and adherence to compliance requirements. Typical consumers of this API include loan origination systems and financial application platforms seeking to automate and simplify document submissions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents": {
      "post": {
        "tags": [],
        "summary": "Upload a document associated with a loan application.",
        "description": "This endpoint allows you to upload documents that are associated with a specific loan application identified by its ID. Ensure the document meets the required format and size specifications prior to upload.",
        "operationId": "createLoanApplicationDocument",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit documents related to the loan application identified by RES-100045. Ensure that all required documents are included and follow the correct format as specified in the associated schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationDocumentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationDocumentRequest": {
        "title": "Loan Application Document Request",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document being submitted (e.g., ID, proof of income).",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier of the applicant submitting the document.",
            "example": "2307937c-6951-9f8a-e956-c0306913c62b"
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral associated with the loan.",
            "example": "4cfbb46f-9656-1f48-6466-5a731f55b33e"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file being uploaded.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the file being uploaded.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the uploaded document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA-256 checksum of the uploaded document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The date when the document will expire.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the loan application document submission request.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "2307937c-6951-9f8a-e956-c0306913c62b",
          "collateralId": "4cfbb46f-9656-1f48-6466-5a731f55b33e",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "dd85a904-0686-5662-a92e-4dbba89cf170",
            "correlationId": "7950788a-7376-5f16-9ab4-99762591e0cb",
            "idempotencyKey": "5356bbd5-7a3e-5ac1-88a5-df757e318030",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-982655"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-56789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to link related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is processed only once.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-04-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "WebApplication"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual metadata for the request including identifiers and origin details."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateLoanApplicationDocumentResponse_201": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document being submitted.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier for the applicant.",
            "example": "55cd529b-9470-dcfa-96cf-a09a4d090d32"
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral associated with the loan application.",
            "example": "0fb85798-e330-5a89-5112-c56c1155755d"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file uploaded.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the uploaded document.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "The reference ID for storage of the document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA256 checksum of the document for verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "127a5276-e2bb-0fd2-6a77-80e3c96df21e"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current verification status of the document.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments related to the verification of the document.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "The date and time when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Name or identifier of the person who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the document.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata associated with the document.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the response structure of a loan application document.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "55cd529b-9470-dcfa-96cf-a09a4d090d32",
          "collateralId": "0fb85798-e330-5a89-5112-c56c1155755d",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "127a5276-e2bb-0fd2-6a77-80e3c96df21e",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "bcb2a910-9ddf-56ab-bf79-9978bd9d6ee8",
            "correlationId": "7950788a-7376-5f16-9ab4-99762591e0cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the document was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the document.",
            "example": "creator-abc"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the document was last updated.",
            "example": "2023-01-15T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the document.",
            "example": "updater-def"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the document."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response related to the document.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the transaction.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document is processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata related to the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific API endpoint that was called during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-application-document"
        },
        "example": "banking-loans-openapi-create-application-document"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users and authorize access to resources. Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}