{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_QR Payment Requests Management API",
    "description": "The QR Payment Requests Management API allows users to efficiently manage and update QR payment requests. This endpoint facilitates modifications to existing payment requests identified by a unique parameter. Typical consumers include financial institutions and payment service providers looking to streamline payment processing. By enabling adjustments to details such as amounts or expiration times, this API enhances transaction flexibility and user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}": {
      "put": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Update QR Payment Request",
        "description": "This endpoint allows you to update an existing QR payment request identified by its unique ID. Ensure that you provide the necessary data in the request body to modify the payment request accordingly.",
        "operationId": "updateQrPaymentRequest_PAY-300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate or update a QR payment request for the transaction identified by PAY-300045. Ensure that all required fields specified in the schema are included.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQrPaymentRequest_PAY-300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQrPaymentRequest_PAY-300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateQrPaymentRequest_PAY-300045Request": {
        "title": "Payment Request Body",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-461377"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "The mode of payment (e.g., online, offline).",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "The payment standard to be followed.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount to be processed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant order.",
            "example": "ORD-312501"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tipping associated with the payment.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "expiresAt": {
            "type": "string",
            "description": "The expiration date and time for the payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the payment request is single-use.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the payment operation.",
        "example": {
          "merchantId": "MER-461377",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-312501",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "expiresAt": "2026-08-11T12:00:00Z",
          "singleUse": true,
          "requestContext": {
            "requestId": "542e71e9-3c33-59c1-9dd3-20212f3db9d1",
            "correlationId": "02b8ad47-7f95-557e-86d0-c31c98d69138",
            "idempotencyKey": "fac268af-4a07-5501-a785-36aeedf689ee",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-538037"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount (e.g., USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents a monetary amount specified with a currency."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Tip mode (e.g., fixed, percentage).",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed amount tips available for selection.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage-based tip options.",
            "items": {
              "type": "string",
              "description": "Percentage tips available for selection.",
              "example": "15%"
            }
          },
          "maximumTip": {
            "description": "Maximum allowable tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options for tips that can be included in the payment request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "UpdateQrPaymentRequest_PAY-300045Response_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "f184179a-e9e5-503d-a027-a1288c03dbb2"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier of the merchant making the payment request.",
            "example": "MER-481260"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier of the outlet where the transaction is occurring.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier of the terminal processing the payment.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment (e.g., online, offline).",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Payment standard being used for this transaction.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount for the payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order associated with the payment request.",
            "example": "ORD-987714"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment transaction.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tipping in the payment request.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "The payload encoded in the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL of the QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if this QR payment request is for single use.",
            "example": true
          },
          "paidAmount": {
            "description": "The amount that has been paid in this transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "PAY-261600"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp when the payment request expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for tracking changes and versions of the payment request.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the payment request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "qrPaymentRequestId": "f184179a-e9e5-503d-a027-a1288c03dbb2",
          "merchantId": "MER-481260",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-987714",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-261600",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "b0b38b0f-229c-5ad4-a041-1d70eda6ef12",
            "correlationId": "02b8ad47-7f95-557e-86d0-c31c98d69138",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the payment request.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the payment request.",
            "example": "user123"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment request for tracking changes.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for monitoring the creation and updates of the payment request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with this request.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across multiple services.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment request is processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata that accompanies the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific API endpoint being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-qr-payment-request"
        },
        "example": "banking-p2m-openapi-replace-qr-payment-request"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token based on the JSON Web Token (JWT) standard. This scheme is designed for applications that require token-based authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}