{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Finance Financial Compliances-v5-spec",
    "description": "The Financial Compliance Retrieval API provides users with real-time access to crucial banking finance compliance data. This endpoint allows stakeholders, such as financial institutions and compliance officers, to retrieve comprehensive information regarding financial regulations and compliance standards. By leveraging this API, users can ensure adherence to regulatory requirements and monitor compliance effectively. This service is essential for organizations aiming to maintain a robust compliance framework within the ever-evolving finance landscape.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-compliance": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Retrieve financial compliance information.",
        "description": "This endpoint allows users to access detailed information regarding financial compliance regulations and standards applicable to their business operations. It provides necessary data to ensure adherence to legal and regulatory requirements.",
        "operationId": "listBankingFinanceFinancialCompliances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial compliance information. It should contain the necessary parameters required to filter and fetch relevant financial compliance data from the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingFinanceFinancialCompliancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with financial compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingFinanceFinancialCompliancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingFinanceFinancialCompliancesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the financial compliance operations GET request in the finance service.",
        "example": "{}"
      },
      "ListBankingFinanceFinancialCompliancesResponse_200": {
        "title": "Financial Compliance Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial compliance entries.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialComplianceEntry"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information related to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the financial compliance operation.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ce3c723a-220f-5b1d-b14d-65c4aef2d1e4",
            "correlationId": "b6351ae8-91ca-5169-bb8b-f8464218766f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialComplianceEntry": {
        "title": "Financial Compliance Entry",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity.",
            "example": "string"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier for the ledger.",
            "example": "string"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the entry.",
            "example": "string"
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The numeric value of the amount.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "string"
              }
            },
            "description": "The amount involved in the financial transaction."
          },
          "postingDate": {
            "type": "string",
            "description": "The date when the record was posted.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "This schema represents a single financial compliance record."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema contains pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-compliance-search-financial-compliance"
        },
        "example": "financial-compliance-search-financial-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication strategy, allowing clients to authenticate by sending a JWT (JSON Web Token) in the `Authorization` header. The token must be valid and granted to the client during the authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}