{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Payments Customer Account Payment Success Indicator By Payment Success Indicator Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Payments Customer Account Payment Success Indicator By Payment Success Indicator Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/payment-success-indicators/{paymentSuccessIndicatorId}": {
      "get": {
        "operationId": "getPaymentsCustomerAccountPaymentSuccessIndicatorByPaymentSuccessIndicatorId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/paymentSuccessIndicatorId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentsCustomerAccountPaymentSuccessIndicatorByPaymentSuccessIndicatorIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentsCustomerAccountPaymentSuccessIndicatorByPaymentSuccessIndicatorIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentsCustomerAccountPaymentSuccessIndicatorByPaymentSuccessIndicatorIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetPaymentsCustomerAccountPaymentSuccessIndicatorByPaymentSuccessIndicatorIdResponse_200": {
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "example": "48068230-053b-5cd0-861e-da74f4604932"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-366475"
          },
          "accountId": {
            "type": "string",
            "example": "ACC-661929"
          },
          "requestDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "transaction": {
            "type": "object",
            "properties": {
              "settleByDate": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "number",
                "example": 0.0
              }
            },
            "example": {
              "settleByDate": "2026-09-15",
              "amount": 100.0
            }
          },
          "nsfReturnRisk": {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "availableBalance": {
                    "type": "number",
                    "example": 0.0
                  },
                  "dailyResults": {
                    "type": "array",
                    "example": "string",
                    "items": {
                      "type": "object",
                      "properties": {
                        "potentialSettlementDate": {
                          "type": "string",
                          "example": "string"
                        },
                        "score": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0
                        },
                        "indicator": {
                          "type": "string",
                          "example": "string"
                        },
                        "reasons": {
                          "type": "object",
                          "properties": {
                            "recentBalance": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "balanceHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "nsfHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "recentNsfHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "recurringNsf": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "spendHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "depositHistory": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            },
                            "transactionAmount": {
                              "type": "integer",
                              "format": "int32",
                              "example": 0
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  }
                },
                "example": "string"
              },
              "error": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "string"
                  },
                  "title": {
                    "type": "string",
                    "example": "string"
                  },
                  "level": {
                    "type": "string",
                    "example": "string"
                  },
                  "message": {
                    "type": "string",
                    "example": "string"
                  },
                  "user_message": {
                    "type": "string",
                    "example": "string"
                  },
                  "assetId": {
                    "type": "string",
                    "example": "string"
                  },
                  "accountId": {
                    "type": "string",
                    "example": "string"
                  },
                  "externalTransactionId": {
                    "type": "string",
                    "example": "string"
                  },
                  "tags": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "result": {
                "availableBalance": 100.0,
                "dailyResults": [
                  {
                    "potentialSettlementDate": "2026-09-15",
                    "score": 1,
                    "indicator": "STANDARD",
                    "reasons": {
                      "recentBalance": 1,
                      "balanceHistory": 1,
                      "nsfHistory": 1,
                      "recentNsfHistory": 1,
                      "recurringNsf": 1,
                      "spendHistory": 1,
                      "depositHistory": 1,
                      "transactionAmount": 1
                    }
                  }
                ]
              },
              "error": {
                "status": "ACTIVE",
                "title": "Banking operation completed",
                "level": "STANDARD",
                "message": "STANDARD",
                "user_message": "STANDARD",
                "assetId": "STANDARD",
                "accountId": "ACC-856097",
                "externalTransactionId": "TXN-400022",
                "tags": "STANDARD"
              }
            }
          },
          "unauthorizedReturnRisk": {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "score": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  },
                  "indicator": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "error": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "string"
                  },
                  "title": {
                    "type": "string",
                    "example": "string"
                  },
                  "level": {
                    "type": "string",
                    "example": "string"
                  },
                  "message": {
                    "type": "string",
                    "example": "string"
                  },
                  "user_message": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "result": {
                "score": 1,
                "indicator": "STANDARD"
              },
              "error": {
                "status": "ACTIVE",
                "title": "Banking operation completed",
                "level": "STANDARD",
                "message": "STANDARD",
                "user_message": "STANDARD"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "f563e7af-3a6d-5821-a61f-00425117cd93",
              "correlationId": "605cce0f-2ed5-5d79-9bcd-5914c61487ff",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "payRequestId": "48068230-053b-5cd0-861e-da74f4604932",
          "status": "ACTIVE",
          "customerId": "CUST-366475",
          "accountId": "ACC-661929",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-856097",
              "externalTransactionId": "TXN-400022",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "f563e7af-3a6d-5821-a61f-00425117cd93",
            "correlationId": "605cce0f-2ed5-5d79-9bcd-5914c61487ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentSuccessIndicatorId": {
        "name": "paymentSuccessIndicatorId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-payment-success-indicators"
        },
        "example": "open-finance-api-get-payment-success-indicators"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}