{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Payments-spec",
    "description": "The Loan Payments Retrieval API enables users to access detailed information about payments associated with a specific loan. By leveraging this endpoint, financial institutions and their customers can easily track payment history, including amounts and dates. This functionality is essential for loan management and reporting purposes. Typical consumers include loan servicing platforms and customer service applications that support loan accounts. Users can efficiently retrieve this data for insights and management of their financial commitments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments": {
      "get": {
        "tags": [],
        "summary": "Retrieve payments related to a specific loan.",
        "description": "Fetch all payment records associated with the specified loan ID. This endpoint allows you to view detailed information about the payments made against the loan, including amounts, dates, and statuses.",
        "operationId": "listLoanPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for the specified loan. Please provide the necessary information as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of loan payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanPaymentsRequest": {
        "type": "string",
        "description": "A request body for fetching payments related to a specific loan.",
        "example": "{}"
      },
      "ListLoanPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment details associated with the loan.",
            "example": [
              {
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "paymentDate": "2026-09-15",
                "valueDate": "2026-09-15",
                "paymentMethod": "STANDARD",
                "sourceAccountNumber": "STANDARD",
                "externalReference": "STANDARD",
                "allocationStrategy": "STANDARD",
                "targetInstallmentNumbers": [
                  1
                ],
                "manualAllocation": {
                  "principal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "fees": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penalties": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "excess": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "narrative": "STANDARD",
                "id": "20f90b55-47e0-4817-1caf-7564a13f7e26",
                "paymentNumber": "STANDARD",
                "status": "ACTIVE",
                "allocation": {
                  "principal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "fees": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penalties": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "excess": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "transactionReference": "STANDARD",
                "postedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentDetails"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving payment details of a specific loan.",
        "example": {
          "items": [
            {
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "paymentDate": "2026-09-15",
              "valueDate": "2026-09-15",
              "paymentMethod": "STANDARD",
              "sourceAccountNumber": "STANDARD",
              "externalReference": "STANDARD",
              "allocationStrategy": "STANDARD",
              "targetInstallmentNumbers": [
                1
              ],
              "manualAllocation": {
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "fees": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penalties": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "excess": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "narrative": "STANDARD",
              "id": "20f90b55-47e0-4817-1caf-7564a13f7e26",
              "paymentNumber": "STANDARD",
              "status": "ACTIVE",
              "allocation": {
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "fees": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penalties": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "excess": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "transactionReference": "STANDARD",
              "postedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "metadata": {
            "responseId": "c5fa23ee-d98e-5e1a-88b2-1eed85715db7",
            "correlationId": "f7e4c1a0-a790-5855-9a6d-a1125091841e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentDetails": {
        "type": "object",
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made."
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is effective."
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment."
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made."
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for tracking the payment."
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment."
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of target installment numbers to which this payment will be allocated.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "manualAllocation": {
            "$ref": "#/components/schemas/AllocationDetails"
          },
          "narrative": {
            "type": "string",
            "description": "Additional information provided for the payment."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment."
          },
          "paymentNumber": {
            "type": "string",
            "description": "Payment order number."
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "allocation": {
            "$ref": "#/components/schemas/AllocationDetails"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference identifier for tracking the transaction."
          },
          "postedAt": {
            "type": "string",
            "description": "Date and time when the payment was posted."
          }
        },
        "description": "Details of an individual payment associated with the loan."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency unit of the amount."
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount."
          }
        },
        "description": "Details of the amount associated with a payment or allocation."
      },
      "AllocationDetails": {
        "type": "object",
        "properties": {
          "principal": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "interest": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "penalties": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "excess": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Allocation details for the payment, including various components."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with other events."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint in the context of loan payment operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-payments"
        },
        "example": "banking-loans-openapi-list-loan-payments"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the loan payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method using JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}