{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Current Accounts Reference API",
    "description": "The Business Current Accounts Reference API provides businesses with access to detailed information regarding their current accounts. This API enables clients to retrieve account details, facilitating financial management and decision-making. Typical consumers include financial institutions, developers, and businesses seeking to integrate banking services. With this API, users can access account balances, transaction histories, and other essential data to enhance their banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/business-current-accounts": {
      "get": {
        "tags": [
          "Business Accounts"
        ],
        "summary": "Retrieve business current accounts",
        "description": "This endpoint allows you to fetch a list of business current accounts associated with the user. It provides essential account details that can be used for further financial activities.",
        "operationId": "getBusinessCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve business current account information in the Open Banking API. It provides the necessary parameters to define the specific accounts being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of business current accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessCurrentAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving business current account operations in an Open Banking context.",
        "example": "{}"
      },
      "GetBusinessCurrentAccountsResponse_200": {
        "title": "Business Current Accounts Response",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "An array of current accounts data.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-983",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductType": "STANDARD",
                "ProductName": "Northstar Banking Service",
                "ProductSegment": [
                  "STANDARD"
                ],
                "InternationalPaymentsSupported": true,
                "ProductIdentifier": "PROD-240748",
                "CardWithdrawalLimit": "STANDARD",
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "AccessChannels": [
                  "STANDARD"
                ],
                "CardType": [
                  "STANDARD"
                ],
                "Contactless": true,
                "MobileWallet": [
                  "STANDARD"
                ],
                "CardNotes": "STANDARD",
                "ChequeBookAvailable": true,
                "CreditScoringPartOfAccountOpening": true,
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningText": "STANDARD",
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningIDVerificationText": [
                  "STANDARD"
                ],
                "MaximumMonthlyCharge": "STANDARD",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Currency": [
                  "USD"
                ],
                "OverdraftOffered": true,
                "Feature": [
                  {
                    "ExistingFeature": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrentAccount"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response object for the GET request to retrieve business current accounts information.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-983",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductType": "STANDARD",
              "ProductName": "Northstar Banking Service",
              "ProductSegment": [
                "STANDARD"
              ],
              "InternationalPaymentsSupported": true,
              "ProductIdentifier": "PROD-240748",
              "CardWithdrawalLimit": "STANDARD",
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "AccessChannels": [
                "STANDARD"
              ],
              "CardType": [
                "STANDARD"
              ],
              "Contactless": true,
              "MobileWallet": [
                "STANDARD"
              ],
              "CardNotes": "STANDARD",
              "ChequeBookAvailable": true,
              "CreditScoringPartOfAccountOpening": true,
              "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningText": "STANDARD",
              "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningIDVerificationText": [
                "STANDARD"
              ],
              "MaximumMonthlyCharge": "STANDARD",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Currency": [
                "USD"
              ],
              "OverdraftOffered": true,
              "Feature": [
                {
                  "ExistingFeature": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "7c3df032-3a32-556d-b2f1-205120433687",
            "correlationId": "cc51f312-d23f-529a-82fb-0550a1ae7d89",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The timestamp of the last update for the current account data.",
            "example": "2023-10-01T00:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "The total number of current accounts found.",
            "format": "int32",
            "example": 5
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement terms related to the current accounts.",
            "example": "Standard agreement terms apply."
          },
          "License": {
            "type": "string",
            "description": "The license number associated with the account provider.",
            "example": "ABC123456"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "The terms of use for the current accounts.",
            "example": "Please refer to our website for details."
          }
        },
        "description": "Metadata information about the response."
      },
      "CurrentAccount": {
        "title": "Current Account Details",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/OrganisationDetails"
          },
          "ProductType": {
            "type": "string",
            "description": "The type of the product associated with the account.",
            "example": "Business Checking"
          },
          "ProductName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Business Advantage Account"
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments that the product falls under.",
            "items": {
              "type": "string",
              "example": "Small Business"
            }
          },
          "InternationalPaymentsSupported": {
            "type": "boolean",
            "description": "Flag indicating if international payments are supported.",
            "example": false
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "BA123456"
          },
          "CardWithdrawalLimit": {
            "type": "string",
            "description": "The withdrawal limit for the associated card.",
            "example": "1000"
          },
          "ProductDescription": {
            "type": "string",
            "description": "Description of the product.",
            "example": "A versatile business account for everyday transactions."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions associated with the product.",
            "items": {
              "type": "string",
              "example": "No monthly fees with a minimum balance."
            }
          },
          "AccessChannels": {
            "type": "array",
            "description": "Channels through which the account can be accessed.",
            "items": {
              "type": "string",
              "example": "Online Banking"
            }
          },
          "CardType": {
            "type": "array",
            "description": "Types of cards available with the account.",
            "items": {
              "type": "string",
              "example": "Debit Card"
            }
          },
          "Contactless": {
            "type": "boolean",
            "description": "Indicates if the card supports contactless payments.",
            "example": false
          },
          "MobileWallet": {
            "type": "array",
            "description": "Available mobile wallet options for payment.",
            "items": {
              "type": "string",
              "example": "Apple Pay"
            }
          },
          "CardNotes": {
            "type": "string",
            "description": "Additional notes regarding the card.",
            "example": "No foreign transaction fees."
          },
          "ChequeBookAvailable": {
            "type": "boolean",
            "description": "Indicates if a cheque book is available with the account.",
            "example": false
          },
          "CreditScoringPartOfAccountOpening": {
            "type": "boolean",
            "description": "Indicates if credit scoring is part of the account opening process.",
            "example": false
          },
          "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Types of credit score check (hard/soft) for account opening.",
            "items": {
              "type": "string",
              "example": "Soft"
            }
          },
          "CreditScoringPartOfAccountOpeningText": {
            "type": "string",
            "description": "Text associated with the credit scoring during account opening.",
            "example": "We perform a soft credit check."
          },
          "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Types of credit score check for ID verification.",
            "items": {
              "type": "string",
              "example": "Hard"
            }
          },
          "CreditScoringPartOfAccountOpeningIDVerificationText": {
            "type": "array",
            "description": "Text associated with ID verification during account opening.",
            "items": {
              "type": "string",
              "example": "A hard credit check is required."
            }
          },
          "MaximumMonthlyCharge": {
            "type": "string",
            "description": "The maximum charge that can be applied monthly.",
            "example": "25"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs associated with the product for more information.",
            "items": {
              "type": "string",
              "example": "https://www.example.com/product"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Supported currencies for the product.",
            "items": {
              "type": "string",
              "example": "GBP"
            }
          },
          "OverdraftOffered": {
            "type": "boolean",
            "description": "Indicates whether an overdraft facility is offered.",
            "example": false
          },
          "Feature": {
            "type": "array",
            "description": "List of features associated with the product.",
            "items": {
              "$ref": "#/components/schemas/ProductFeature"
            }
          }
        },
        "description": "Detailed information about a business current account."
      },
      "OrganisationDetails": {
        "title": "Organisation Details",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisationDetails"
          },
          "Brand": {
            "$ref": "#/components/schemas/BrandDetails"
          }
        },
        "description": "Details about the organisation running the account."
      },
      "ParentOrganisationDetails": {
        "title": "Parent Organisation Details",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the parent organisation.",
            "example": "LEI123456789"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code of the parent organisation.",
            "example": "BIC1234"
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Information about the parent organisation."
      },
      "BrandDetails": {
        "title": "Brand Details",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark code for the brand.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark.",
            "example": "ID123456"
          }
        },
        "description": "Information about the brand of the organisation."
      },
      "OrganisationName": {
        "title": "Organisation Name",
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organisation.",
            "example": "Example Ltd"
          }
        },
        "description": "Legal and branding names of the organisation."
      },
      "ProductFeature": {
        "title": "Product Feature",
        "type": "object",
        "properties": {
          "ExistingFeature": {
            "type": "boolean",
            "description": "Indicates whether the feature already exists.",
            "example": false
          }
        },
        "description": "Features associated with the product."
      },
      "ResponseMetadata": {
        "title": "Response Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Additional information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-business-current-accounts"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-business-current-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. A valid JWT (JSON Web Token) must be provided in the Authorization header as a Bearer token to authorize access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}