{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Finance Financial Statement By Financial Statement Id-v5-spec",
    "description": "The Update Financial Statement API allows businesses to modify existing financial statements identified by their unique ID. This endpoint is essential for finance teams to ensure the accuracy and currency of financial data, allowing for necessary adjustments to be made in a timely manner. Typical consumers of this API include financial analysts and accountants who need to keep financial records up-to-date. Utilizing this API, organizations can manage changes effectively, thus enhancing their financial reporting processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-statements/{financialStatementId}": {
      "patch": {
        "tags": [
          "Finance"
        ],
        "summary": "Update a financial statement",
        "description": "This endpoint allows for the partial update of a specific financial statement identified by its unique resource ID. Ensure that you provide only the fields that need to be modified.",
        "operationId": "updateBankingFinanceFinancialStatementByFinancialStatementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/financialStatementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update financial statements for a specific resource identified by RES-100045. It requires a JSON payload containing the updated financial data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingFinanceFinancialStatementByFinancialStatementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, with the updated financial statement data returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingFinanceFinancialStatementByFinancialStatementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingFinanceFinancialStatementByFinancialStatementIdRequest": {
        "title": "Financial Statement Operations Patch Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of changes to be made to the financial statement operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context about the request that contains metadata for tracking.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for patching financial statement operations.",
        "example": {
          "changes": {
            "legalEntityId": "STANDARD",
            "ledgerId": "STANDARD",
            "accountingPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "d6a779a7-dd38-5808-be3a-fdce164aea3a",
            "correlationId": "50d3f24e-1e8d-5431-96cf-5c91cef486a8",
            "idempotencyKey": "0a672407-e3e3-5d79-9249-80137b6b930e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-260837"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity associated with the financial statement.",
            "example": "entity_123"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier of the ledger affected by the change.",
            "example": "ledger_456"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period relevant to the changes.",
            "example": "2023-Q3"
          }
        },
        "description": "Schema representing the specific changes to financial statement operations."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "corr_1011"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idemp_1213"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that initiated the request.",
            "example": "ERP"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is responsible for the request.",
            "example": "FinanceApp"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing the context around the request, including tracking information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_1415"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was received.",
            "example": "device_1617"
          }
        },
        "description": "Schema describing the communication channel details for the request."
      },
      "UpdateBankingFinanceFinancialStatementByFinancialStatementIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the financial statements.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations patch request, containing metadata and versioning information.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9de2d60f-a992-52c0-bc73-e31500dd566d",
            "correlationId": "50d3f24e-1e8d-5431-96cf-5c91cef486a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "financialStatementId": {
        "name": "financialStatementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was invoked when processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statements-update-financial-statements"
        },
        "example": "financial-statements-update-financial-statements"
      },
      "X-Runtime-App": {
        "description": "The runtime application identifier, indicating which application is currently processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer token with JWT (JSON Web Token). Clients must include this token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}