{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List V5 Applications-spec",
    "description": "The Application Inventory API provides a comprehensive view of all applications within the system. This endpoint allows users to retrieve a list of registered applications, enabling stakeholders to monitor and manage their software resources effectively. Typical consumers include system administrators and developers seeking insights into application deployments and statuses. By utilizing this API, organizations can streamline their application management processes and ensure optimal resource utilization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Retrieve a list of applications.",
        "description": "This endpoint allows you to fetch a comprehensive list of all applications available in the system, providing insights into their current state and associated metadata.",
        "operationId": "listV5Applications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving applications. This body may include filters or sorting preferences as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListV5ApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of applications.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListV5ApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListV5ApplicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on applications.",
        "example": "{}"
      },
      "ListV5ApplicationsResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of applications found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of applications currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more applications are available beyond the currently displayed ones.",
            "example": true
          },
          "applications": {
            "type": "array",
            "description": "List of application details.",
            "example": [
              {
                "preAppId": 1,
                "applicationId": "APP-790559",
                "status": "ACTIVE",
                "name": "Northstar Banking Service",
                "scopes": "STANDARD",
                "note": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15",
                "submittedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for successful retrieval of applications.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "applications": [
            {
              "preAppId": 1,
              "applicationId": "APP-790559",
              "status": "ACTIVE",
              "name": "Northstar Banking Service",
              "scopes": "STANDARD",
              "note": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15",
              "submittedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "285a559a-954f-5a5a-835e-929bdf4ec931",
            "correlationId": "7a2c62e4-a646-55cf-9df5-e02b94135334",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "The pre-application identifier.",
            "format": "int32",
            "example": 0
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the application.",
            "example": "string"
          },
          "scopes": {
            "type": "string",
            "description": "The scopes assigned to the application.",
            "example": "string"
          },
          "note": {
            "type": "string",
            "description": "Any additional notes related to the application.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the application was created.",
            "example": "string"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the application was last modified.",
            "example": "string"
          },
          "submittedDate": {
            "type": "string",
            "description": "The date when the application was submitted.",
            "example": "string"
          }
        },
        "description": "Details of a single application."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the application request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-applications"
        },
        "example": "open-finance-api-get-applications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which requires a valid JSON Web Token (JWT) for authorization. Clients must include the JWT in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}