{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Profile Update API",
    "description": "The Merchant Profile Update API allows authorized users to modify specific details of a merchant's profile in the system. This operation is essential for maintaining accurate merchant information, including updates to contact details, business status, and other relevant attributes. Typically utilized by business analysts and account managers, this API facilitates dynamic updates to merchant data to ensure compliance and operational efficiency. By leveraging this endpoint, organizations can enhance their service offerings and ensure that the details they provide to customers are always current and relevant.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "put": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Update Merchant Details",
        "description": "This endpoint allows you to update the details of a specific merchant identified by its unique identifier (MER-800045). Make sure to provide the required fields in the request body to successfully update the merchant information.",
        "operationId": "updateMerchantMer800045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "Updates the details of the merchant identified by the specified ID (MER-800045). This request body should contain the updated merchant information formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantMer800045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMerchantMer800045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMerchantMer800045Request": {
        "title": "Merchant Operations PUT Request Body",
        "type": "object",
        "properties": {
          "business": {
            "description": "Details about the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "capabilities": {
            "description": "Payment capabilities and settings for the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "requestContext": {
            "description": "Context of the request including IDs and system information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating merchant operations.",
        "example": {
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true
          },
          "requestContext": {
            "requestId": "7bb51711-816c-5f84-bd4d-d1ec5a6249a9",
            "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
            "idempotencyKey": "fd7aaf6f-53de-5fda-b64d-680a70e372b4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-494258"
            }
          }
        }
      },
      "Business": {
        "title": "Business Information",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business as registered.",
            "example": "ABC Corp"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name under which the business operates.",
            "example": "ABC Traders"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The official registration number of the business.",
            "example": "REG-123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "The tax identification number assigned to the business.",
            "example": "TIN-987654"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "The country where the business is incorporated.",
            "example": "USA"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the business was incorporated.",
            "example": "2021-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "The type of merchant categorized by its business model.",
            "example": "Retail"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "A code that categorizes the merchant's nature of business.",
            "example": "1234"
          }
        },
        "description": "Detailed information about the business including its legal and operational aspects."
      },
      "RegisteredAddress": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St."
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address, if applicable.",
            "example": "Suite 500"
          },
          "city": {
            "type": "string",
            "description": "The city where the merchant is registered.",
            "example": "New York"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province where the merchant is registered.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code for the registered address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "The country of the registered address.",
            "example": "USA"
          }
        },
        "description": "The registered address information of the merchant."
      },
      "Contact": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address for contacting the merchant.",
            "example": "contact@abccorp.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number for contacting the merchant.",
            "example": "+1-212-555-0123"
          },
          "website": {
            "type": "string",
            "description": "The website URL of the merchant.",
            "example": "http://www.abccorp.com"
          }
        },
        "description": "Contact details of the merchant for communication purposes."
      },
      "Capabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "A list of channels that the merchant supports.",
            "items": {
              "type": "string",
              "description": "Different channels through which the merchant operates.",
              "example": "Online"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "A list of payment methods supported by the merchant.",
            "items": {
              "type": "string",
              "description": "Different payment methods the merchant accepts.",
              "example": "Credit Card"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates whether the merchant supports partial capture of payments.",
            "example": false
          }
        },
        "description": "The capabilities of the merchant regarding payments and transaction channels."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-0001"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing the request across systems.",
            "example": "CORR-0001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is not processed multiple times.",
            "example": "IDEMPOTENT-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Merchant Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "Merchant Dashboard"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context surrounding the request including identification and timing."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used to make the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "DEV-456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateMerchantMer800045Response_200": {
        "title": "Merchant Operations Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-182747"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/AddressDetails"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactDetails"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for merchant operations related to a specific merchant.",
        "example": {
          "merchantId": "MER-182747",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "cfc04029-f8b2-5c73-b0f3-6d70b1488cb5",
            "correlationId": "bab769ac-98c2-5480-a088-8c922b98fae9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessDetails": {
        "title": "Business Details",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name used by the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number for the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code for classification purposes.",
            "example": "string"
          }
        },
        "description": "Details regarding the business associated with the merchant."
      },
      "AddressDetails": {
        "title": "Address Details",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "Details regarding the registered address of the merchant."
      },
      "ContactDetails": {
        "title": "Contact Details",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website of the merchant.",
            "example": "string"
          }
        },
        "description": "Contact information for the merchant."
      },
      "MerchantCapabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Channels available for merchant operations.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Supported payment methods by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refund is supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tipping is supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum percentage allowed for tips.",
            "example": "string"
          }
        },
        "description": "Capabilities offered by the merchant."
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan associated with the merchant.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees (merchant or customer).",
            "example": "string"
          },
          "paymentFee": {
            "$ref": "#/components/schemas/PaymentFeeDetails"
          }
        },
        "description": "Commercial terms and fees applicable to the merchant."
      },
      "PaymentFeeDetails": {
        "title": "Payment Fee Details",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee.",
            "example": "string"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee on transactions.",
            "example": "string"
          },
          "fixedAmount": {
            "$ref": "#/components/schemas/FixedAmountFee"
          }
        },
        "description": "Details regarding the payment fees applicable to the merchant."
      },
      "FixedAmountFee": {
        "title": "Fixed Amount Fee",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the fixed fee is applied.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Fixed fee amount.",
            "example": "string"
          }
        },
        "description": "Fixed amount fee structure for merchant transactions."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the merchant operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being called, allowing clients to track and manage requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-merchant"
        },
        "example": "banking-p2m-openapi-replace-merchant"
      },
      "X-Runtime-App": {
        "description": "The name of the application generating the request, providing context for server-side logging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the `Authorization` header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}