{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Direction Product Strategys-spec",
    "description": "The Business Direction Product Strategy API provides access to strategic insights and direction related to business products within the banking sector. By utilizing this API, consumers can retrieve detailed information about various product strategies aimed at enhancing business performance and customer satisfaction. Typical users include product managers, business analysts, and marketing professionals seeking to align their product offerings with market demands. This endpoint serves as a crucial resource for informed decision-making and strategic planning in the banking industry.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/product-strategy": {
      "get": {
        "tags": [
          "Product Strategy"
        ],
        "summary": "Retrieve product strategy information",
        "description": "This endpoint allows users to fetch detailed information about the product strategy within the business direction framework, providing insights and guiding principles for decision-making.",
        "operationId": "listBusinessDirectionProductStrategys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide details for retrieving the product strategy related to business direction. It should contain relevant parameters and configuration settings in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessDirectionProductStrategysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of product strategy details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessDirectionProductStrategysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessDirectionProductStrategysRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the product strategy business direction. It is expected to contain a string value.",
        "example": "{}"
      },
      "ListBusinessDirectionProductStrategysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of product strategy initiatives.",
            "example": [
              {
                "initiativeId": "STANDARD",
                "sponsorId": "STANDARD",
                "planningHorizon": "STANDARD",
                "targetDate": "2026-09-15",
                "status": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductStrategyInitiative"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product strategies.",
        "example": {
          "items": [
            {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD",
              "targetDate": "2026-09-15",
              "status": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "574bad1e-64ec-5bdf-b4c0-91c9d2311e91",
            "correlationId": "0ecb8de0-b648-5089-8ca1-f5d6021c8903",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductStrategyInitiative": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative.",
            "example": "initiative_12345"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative.",
            "example": "sponsor_12345"
          },
          "planningHorizon": {
            "type": "string",
            "description": "Duration for which the initiative is planned.",
            "example": "Q1 2024"
          },
          "targetDate": {
            "type": "string",
            "description": "Target completion date for the initiative.",
            "example": "2024-03-01"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative.",
            "example": "In Progress"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the initiative was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a product strategy initiative."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that is being accessed. This can be used for tracking and tracing API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "products-and-services-direction-search-products-and-services-direction"
        },
        "example": "products-and-services-direction-search-products-and-services-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that is handling the request. This helps in identifying the application context during API interactions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens via JSON Web Tokens (JWT). This method requires a token to be included in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}