{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Archived Banking Documents Retrieval API",
    "description": "The Archived Banking Documents Retrieval API allows authorized users to access and retrieve archived documents related to banking services. This API is essential for financial institutions and regulatory bodies needing to verify past transactions and maintain compliance with legal requirements. Users can query specific documents using various filters to efficiently find relevant records. Typical consumers include compliance officers, auditors, and system integrators who require seamless access to historical banking data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve archive services for documents.",
        "description": "This endpoint allows users to access a list of services related to the archiving of documents. It provides the necessary information for managing document archives effectively.",
        "operationId": "getDocumentsArchiveServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving archived documents. This body should contain the necessary parameters to filter and retrieve the specific archived documents from the service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentsArchiveServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of archive services.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentsArchiveServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentsArchiveServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation on the archive services endpoint.",
        "example": "{}"
      },
      "GetDocumentsArchiveServicesResponse_200": {
        "title": "Archive Service Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of documents in the archive service response.",
            "example": [
              {
                "documentId": "DOC-590354",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "description": "Pagination information for the document list.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the document list.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations of the Archive Services which includes a list of documents, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "documentId": "DOC-590354",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "090bd032-b82e-50bc-b854-d92ae18033fe",
            "correlationId": "58fa1b57-378e-5036-aa21-11c04619a1dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "title": "Document",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "12345"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document.",
            "example": "Invoice"
          },
          "classification": {
            "type": "string",
            "description": "Classification category of the document.",
            "example": "Financial"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention classification for the document.",
            "example": "3 years"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the user who owns the document.",
            "example": "user-54321"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the document's file.",
            "example": "invoice_12345.pdf"
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document.",
            "example": "application/pdf"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA256 checksum for the document.",
            "example": "abcdef123456..."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the document was last updated.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "Schema representing a document in the archive service."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination details in the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-search-archive-services"
        },
        "example": "archive-services-search-archive-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically in JWT (JSON Web Token) format. It is commonly used in API requests to provide access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}