{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Accounts Aggregation API",
    "description": "The Customer Accounts Aggregation API enables businesses to consolidate and retrieve account information for specific customers based on their institution logins. This endpoint allows authorized users to access detailed account data linked to a particular customer ID and institution login ID. Typically utilized by financial services providers and account management platforms, this API helps enhance user experience by providing a unified view of various account details. It supports operations that facilitate seamless customer interaction and efficient management of account information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/paysuite/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer institution login accounts",
        "description": "Fetches a list of accounts associated with the specified customer and their institution login. This endpoint allows you to gather account data efficiently by targeting a specific customer and institution login combination.",
        "operationId": "getAccountsForCustomerInstitutionLoginCUST100045RES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account information associated with a specific institution login for a customer. The provided customer and institution identifiers are crucial for accurately fetching the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountsForCustomerInstitutionLoginCUST100045RES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountsForCustomerInstitutionLoginCUST100045RES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountsForCustomerInstitutionLoginCUST100045RES100045Request": {
        "type": "string",
        "description": "This schema represents the request body for retrieving account information related to a specific institution login.",
        "example": "{}"
      },
      "GetAccountsForCustomerInstitutionLoginCUST100045RES100045Response_200": {
        "title": "Customer Account Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-584574"
          },
          "errorCount": {
            "type": "integer",
            "description": "Count of errors encountered while processing the request.",
            "format": "int32",
            "example": 1
          },
          "accountCount": {
            "type": "integer",
            "description": "Total number of accounts associated with the customer.",
            "format": "int32",
            "example": 1
          },
          "accountIdentitySuccessCount": {
            "type": "integer",
            "description": "Number of successful account identity verifications.",
            "format": "int32",
            "example": 1
          },
          "balanceDetailsSuccessCount": {
            "type": "integer",
            "description": "Number of successful balance details retrievals.",
            "format": "int32",
            "example": 1
          },
          "paymentInstructionSuccessCount": {
            "type": "integer",
            "description": "Number of successful payment instructions processed.",
            "format": "int32",
            "example": 1
          },
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "institutionId": "STANDARD",
                "institutionName": "Northstar Banking Service",
                "institutionLoginId": 1,
                "accountDetails": {
                  "id": "STANDARD",
                  "accountNumberDisplay": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "aggregationStatusCode": 1,
                  "status": "ACTIVE",
                  "aggregationSuccessDate": "2026-09-15",
                  "aggregationAttemptDate": "2026-09-15",
                  "createdDate": "2026-09-15",
                  "currency": "USD",
                  "displayPosition": 1,
                  "parentAccount": "STANDARD"
                },
                "balanceDetails": {
                  "id": 1,
                  "realAccountNumberLast4": "STANDARD",
                  "availableBalance": 100.0,
                  "availableBalanceDate": "2026-09-15",
                  "clearedBalance": 100.0,
                  "clearedBalanceDate": "2026-09-15",
                  "aggregationStatusCode": 1,
                  "currency": "USD"
                },
                "accountIdentity": {
                  "holders": [
                    {
                      "relationship": "STANDARD",
                      "ownerName": "Northstar Banking Service",
                      "firstName": "Northstar Banking Service",
                      "middleName": "Northstar Banking Service"
                    }
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer account details including error counts and account information.",
        "example": {
          "customerId": "CUST-584574",
          "errorCount": 1,
          "accountCount": 1,
          "accountIdentitySuccessCount": 1,
          "balanceDetailsSuccessCount": 1,
          "paymentInstructionSuccessCount": 1,
          "accounts": [
            {
              "id": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "institutionId": "STANDARD",
              "institutionName": "Northstar Banking Service",
              "institutionLoginId": 1,
              "accountDetails": {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "aggregationSuccessDate": "2026-09-15",
                "aggregationAttemptDate": "2026-09-15",
                "createdDate": "2026-09-15",
                "currency": "USD",
                "displayPosition": 1,
                "parentAccount": "STANDARD"
              },
              "balanceDetails": {
                "id": 1,
                "realAccountNumberLast4": "STANDARD",
                "availableBalance": 100.0,
                "availableBalanceDate": "2026-09-15",
                "clearedBalance": 100.0,
                "clearedBalanceDate": "2026-09-15",
                "aggregationStatusCode": 1,
                "currency": "USD"
              },
              "accountIdentity": {
                "holders": [
                  {
                    "relationship": "STANDARD",
                    "ownerName": "Northstar Banking Service",
                    "firstName": "Northstar Banking Service",
                    "middleName": "Northstar Banking Service"
                  }
                ]
              }
            }
          ],
          "metadata": {
            "responseId": "a5e06809-43d1-564c-b6a2-7d51fa8f2f18",
            "correlationId": "ec1ad275-23bc-5891-addf-910d143b18e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last 4 digits of the real account number.",
            "example": "string"
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier for the financial institution.",
            "example": "string"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the financial institution.",
            "example": "string"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Unique identifier for the institution login.",
            "format": "int32",
            "example": 0
          },
          "accountDetails": {
            "type": "object",
            "description": "Detailed information about the account.",
            "$ref": "#/components/schemas/AccountDetails"
          },
          "balanceDetails": {
            "type": "object",
            "description": "Details pertaining to the balance of the account.",
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "accountIdentity": {
            "type": "object",
            "description": "Identity information related to the account.",
            "$ref": "#/components/schemas/AccountIdentity"
          }
        },
        "description": "Contains details about an individual account."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account detail.",
            "example": "string"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display-friendly account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of account (e.g., savings, checking).",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Code indicating the aggregation status of the account.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "string"
          },
          "aggregationSuccessDate": {
            "type": "string",
            "description": "Date when the aggregation was successful.",
            "example": "string"
          },
          "aggregationAttemptDate": {
            "type": "string",
            "description": "Date when the aggregation was attempted.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the account was created.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account.",
            "example": "string"
          },
          "displayPosition": {
            "type": "integer",
            "description": "Position for displaying the account in a list.",
            "format": "int32",
            "example": 0
          },
          "parentAccount": {
            "type": "string",
            "description": "Identifier for the parent account, if applicable.",
            "example": "string"
          }
        },
        "description": "Detailed account information."
      },
      "BalanceDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the balance detail.",
            "format": "int32",
            "example": 0
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the associated real account number.",
            "example": "string"
          },
          "availableBalance": {
            "type": "number",
            "description": "Available balance in the account.",
            "example": 0.0
          },
          "availableBalanceDate": {
            "type": "string",
            "description": "Date when the available balance was last updated.",
            "example": "string"
          },
          "clearedBalance": {
            "type": "number",
            "description": "Cleared balance in the account.",
            "example": 0.0
          },
          "clearedBalanceDate": {
            "type": "string",
            "description": "Date when the cleared balance was last updated.",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Code indicating the aggregation status of the balance.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the balance.",
            "example": "string"
          }
        },
        "description": "Balance details of an account."
      },
      "AccountIdentity": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of holders associated with the account.",
            "items": {
              "type": "object",
              "properties": {
                "relationship": {
                  "type": "string",
                  "description": "Relationship of the holder to the account.",
                  "example": "string"
                },
                "ownerName": {
                  "type": "string",
                  "description": "Name of the account owner.",
                  "example": "string"
                },
                "firstName": {
                  "type": "string",
                  "description": "First name of the account holder.",
                  "example": "string"
                },
                "middleName": {
                  "type": "string",
                  "description": "Middle name of the account holder.",
                  "example": "string"
                }
              }
            }
          }
        },
        "description": "Identity information related to an account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation of related transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-details-by-institution-login-id"
        },
        "example": "open-finance-api-get-account-details-by-institution-login-id"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}