{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Equipment Maintenance Tracking API",
    "description": "The Equipment Maintenance Tracking API provides businesses with the tools to monitor and manage the maintenance records of their banking facilities' equipment. This API serves as a resource for retrieving detailed information related to equipment maintenance schedules, issues, and repairs. It is particularly useful for facility managers and maintenance teams looking to optimize equipment uptime and ensure compliance with safety standards. By integrating this API, organizations can enhance operational efficiency and prolong the lifespan of their equipment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve equipment maintenance records.",
        "description": "This endpoint allows users to fetch all maintenance records related to the facility equipment. It provides necessary information for managing and tracking the maintenance of equipment, ensuring optimal performance and safety standards.",
        "operationId": "getEquipmentMaintenance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve maintenance information for equipment in facilities. It can include filters or parameters to specify which equipment's maintenance data is requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEquipmentMaintenanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the equipment maintenance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEquipmentMaintenanceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEquipmentMaintenanceRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to equipment maintenance in facilities.",
        "example": "{}"
      },
      "GetEquipmentMaintenanceResponse_200": {
        "title": "Equipment Maintenance Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of maintenance items.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-328456",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MaintenanceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Equipment Maintenance operations including a list of items and pagination details.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-328456",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "435dee84-37c4-507d-9b08-08a789df7bed",
            "correlationId": "bd665298-6773-54b5-942e-4b12f6e43219",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceItem": {
        "title": "Maintenance Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site where the maintenance is performed."
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset that requires maintenance."
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order related to the maintenance event."
          },
          "scheduledDate": {
            "type": "string",
            "description": "Scheduled date for the maintenance work."
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the maintenance."
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the asset is located."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance to be performed."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance work in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the maintenance record was last updated."
          }
        },
        "description": "Details of a specific maintenance item."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Information related to the pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-search-equipment-maintenance"
        },
        "example": "equipment-maintenance-search-equipment-maintenance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients must include the token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}