{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Param1-spec",
    "description": "The Trade Banking Notional Pooling API provides access to detailed information about trade banking accounts based on specific parameters. This API allows users to retrieve notional pooling data, catering to financial institutions and corporate clients looking to manage their liquidity and streamline their banking operations. By querying with param1, consumers can efficiently assess their financial positioning and make informed decisions. Common use cases include cash management optimization and inter-company transfers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling/{param1}": {
      "get": {
        "tags": [
          "Notional Pooling"
        ],
        "summary": "Retrieve details of a specific notional pooling resource.",
        "description": "This endpoint allows developers to fetch comprehensive details about the notional pooling resource identified by RES-100045. It provides essential information regarding the resource's configuration and status, enabling better financial management and decision-making.",
        "operationId": "getTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the notional pooling operation for the specified resource. It includes all necessary parameters required for the operation, ensuring that the correct data is returned based on the user's query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByParam1Request": {
        "type": "string",
        "description": "Represents the request body for the Notional Pooling operation in the Trade Banking API.",
        "example": "{}"
      },
      "GetTradeBankingByParam1Response_200": {
        "title": "Notional Pooling Response",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the notional pooling arrangement.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account in the notional pooling setup.",
            "example": "ACC-534920"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of identifiers for participant accounts included in the notional pooling arrangement.",
            "example": [
              "ACC-761308"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a participant account."
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used in the notional pooling arrangement.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "Frequency of sweeps between accounts in the notional pooling arrangement.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance to be maintained through the notional pooling process.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record, indicating whether it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the notional pooling arrangement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the notional pooling arrangement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for this response.",
                "example": "RESP987654"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking the request across systems.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-05T14:48:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata related to the response, providing additional context.",
            "example": {
              "responseId": "130975a6-861d-5719-9ed7-04d703f7ab0a",
              "correlationId": "37e71034-5d47-57c6-82fe-d89a6a9e467d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the Notional Pooling GET operation, containing details of a pooling arrangement.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-534920",
          "participantAccountIds": [
            "ACC-761308"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "130975a6-861d-5719-9ed7-04d703f7ab0a",
            "correlationId": "37e71034-5d47-57c6-82fe-d89a6a9e467d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-get-notional-pooling"
        },
        "example": "notional-pooling-get-notional-pooling"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating which app was responsible for generating the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This scheme allows clients to authenticate by including a bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}