{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Architecture Management API",
    "description": "The Enterprise Architecture Management API enables organizations to effectively update and manage their enterprise architecture components. This API facilitates the modification of business direction strategies, allowing for real-time adjustments to align with evolving market conditions. Typical consumers of this API include enterprise architects, business analysts, and IT strategists who are focused on maintaining operational efficiency and responsiveness. Through the API, users can ensure that their enterprise architecture reflects current and future business needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture/{param1}": {
      "patch": {
        "tags": [
          "Enterprise Architecture"
        ],
        "summary": "Update Enterprise Architecture Resource",
        "description": "This operation allows you to update the details of a specific enterprise architecture resource identified by RES-100045. It enables modifications that reflect changes in business needs or system requirements.",
        "operationId": "updateEnterpriseArchitectureRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the enterprise architecture details for the specified resource. This operation requires a JSON payload that conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnterpriseArchitectureRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and changes have been applied.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEnterpriseArchitectureRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEnterpriseArchitectureRes100045Request": {
        "title": "Patch Request Body for Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the change becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching operation details.",
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9f0bc92e-0603-511f-ada1-c22043cba1e0",
            "correlationId": "8e492fb5-d643-599d-99a6-b415dab6b092",
            "idempotencyKey": "b9b15c24-9135-544e-b1f2-2daf00294e83",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-971483"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Identifier of the initiative being changed.",
            "example": "string"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier of the sponsor associated with the change.",
            "example": "string"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the change.",
            "example": "string"
          }
        },
        "description": "Schema representing the change details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for this request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details."
      },
      "UpdateEnterpriseArchitectureRes100045Response_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the resource.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object for the PATCH operation on Operations resources, containing versioning, status, and metadata information.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bae46eb5-14a2-58da-a3e0-c669825d1489",
            "correlationId": "8e492fb5-d643-599d-99a6-b415dab6b092",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-update-enterprise-architecture"
        },
        "example": "enterprise-architecture-update-enterprise-architecture"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization method that utilizes a JSON Web Token (JWT) for secure access to the API. Clients must include the bearer token in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}