{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Authentication Status API",
    "description": "The Party Authentication Status API provides insights into the authentication status of party operations within the cross-channel banking framework. This endpoint allows users to retrieve the current status of a party authentication process, facilitating seamless access to services that rely on verified identities. Typical consumers include banking applications and customer support systems that need real-time updates on authentication processes. By leveraging this API, developers can enhance user experiences and ensure secure transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/party-authentication/{param1}/operations/tion-create-party-authentication": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Create a new party authentication.",
        "description": "This endpoint allows you to create a new party authentication for a specified party. Ensure that all required fields are provided in your request to successfully authenticate a party across channels.",
        "operationId": "createPartyAuthenticationForCrossChannel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the process of party authentication for the specified party ID. Ensure that the required fields in the payload are populated correctly to successfully execute the authentication process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartyAuthenticationForCrossChannelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created. The request has been fulfilled, resulting in the creation of a new resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartyAuthenticationForCrossChannelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartyAuthenticationForCrossChannelRequest": {
        "type": "string",
        "description": "This schema represents the request body for creating a party authentication operation. The expected content type is application/json.",
        "example": "{}"
      },
      "CreatePartyAuthenticationForCrossChannelResponse_201": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-887496"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction associated with the party authentication.",
            "example": "INT-611214"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the party authentication.",
            "example": "RES-856690"
          },
          "status": {
            "type": "string",
            "description": "Current status of the party authentication operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the party authentication was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the party authentication operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response after creating a party authentication. This includes information about the party, the interaction, and the operation status.",
        "example": {
          "partyId": "PARTY-887496",
          "interactionId": "INT-611214",
          "resourceId": "RES-856690",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "27288888-b689-5c46-ab0c-e61dfbb00287",
            "correlationId": "92b7b6da-c5c3-5fa7-8113-e2c6d2750c52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the operation across different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata associated with the party authentication operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e8fe523f-c7d9-4380-9371-338a482ac50c"
        },
        "example": "e8fe523f-c7d9-4380-9371-338a482ac50c"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "135ae6d7-a542-47e3-9466-655bafe3b5df"
        },
        "example": "135ae6d7-a542-47e3-9466-655bafe3b5df"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request. This header can be used for tracing and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-authentication-create-party-authentication"
        },
        "example": "party-authentication-create-party-authentication"
      },
      "X-Runtime-App": {
        "description": "The name of the application that was executed to fulfill the request. This header aids in identifying the processing application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow that generated this request. Useful for tracking the flow of operations within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this request, indicating the specific process being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Syndicated Loan Participation and Settlement"
        },
        "example": "Syndicated Loan Participation and Settlement"
      },
      "X-Workflow-State": {
        "description": "Indicates the current state of the workflow, providing context on its execution status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, allowing tracking and correlation with other system processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "135ae6d7-a542-47e3-9466-655bafe3b5df"
        },
        "example": "135ae6d7-a542-47e3-9466-655bafe3b5df"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a Bearer token format. This scheme requires a JSON Web Token (JWT) in order to authenticate and authorize user access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}