{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Market Operations Retrieval API facilitates the access and retrieval of market operations related to custody administration. By utilizing the parameterized endpoint, developers can obtain specific market operation details based on unique identifiers. This API is particularly useful for financial institutions and developers seeking to integrate market data into their applications, enabling them to support decision-making and reporting needs. Typical consumers include banking software developers and financial analysts who require real-time access to relevant market information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration/{param1}": {
      "get": {
        "tags": [
          "Custody Operations"
        ],
        "summary": "Retrieve custody operation details by ID.",
        "description": "This operation allows you to fetch the details of a specific custody operation using its unique identifier. It returns comprehensive information regarding the operation including status, dates, and related entities.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving custody administration operations related to the specific resource identified by RES-100045. Ensure to provide all necessary parameters to obtain the correct data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the custody administration market operations. It is expected to be a string format.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "title": "Settlement Operations Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the settlement occurs.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to be settled.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement is conducted.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Unique identifier for the custodian managing the assets.",
            "example": "STANDARD"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The account ID under which the assets are held.",
            "example": "ACC-630647"
          },
          "custodyLocation": {
            "type": "string",
            "description": "Geographical location where the custody is managed.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The current position quantity of the asset after settlement.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-001"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to correlate requests and responses in distributed systems.",
                "example": "correlation-xyz"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional information about the response.",
            "example": {
              "responseId": "b470ac5e-7d25-5849-8947-c64a129858a1",
              "correlationId": "a48f968c-aa4d-54e7-9556-ef65be540962",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for settlement operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "safekeepingAccountId": "ACC-630647",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b470ac5e-7d25-5849-8947-c64a129858a1",
            "correlationId": "a48f968c-aa4d-54e7-9556-ef65be540962",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-get-custody-administration"
        },
        "example": "custody-administration-get-custody-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method using JSON Web Tokens (JWT). It is designed to allow users to authenticate by providing a valid token in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}