{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Branch Currency Distribution By Distribution Id-spec",
    "description": "The Branch Currency Distribution Retrieval API allows users to obtain detailed currency distribution information for a specified branch using its distribution ID. This API serves Banking and Financial service applications, enabling them to track and analyze currency availability across different branches. Typical consumers include banking application developers and financial analysts who require accurate currency distribution data for operational reporting and decision-making. The endpoint supports efficient query mechanisms, ensuring timely access to crucial financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-currency-distribution/distributions/{distributionId}": {
      "get": {
        "tags": [
          "Branch Currency Distribution"
        ],
        "summary": "Retrieve currency distribution details for a specific branch.",
        "description": "This endpoint allows you to fetch detailed currency distribution information for the branch identified by RES-100045. Utilizing this data will assist in understanding the currency allocations and distributions specific to that branch.",
        "operationId": "getBranchCurrencyDistributionByDistributionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/distributionId"
          }
        ],
        "requestBody": {
          "description": "The request payload that contains the necessary information required to perform the operation related to the currency distribution for the specified branch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchCurrencyDistributionByDistributionIdRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchCurrencyDistributionByDistributionIdResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchCurrencyDistributionByDistributionIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to branch currency distribution.",
        "example": "{}"
      },
      "GetBranchCurrencyDistributionByDistributionIdResponse_202": {
        "title": "Channel-Specific Branch Currency Distribution Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the branch.",
            "example": "US-EAST-1"
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference for tracking the processing of the request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response for the GET operation on channel-specific branch currency distribution.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "branchId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4143efc1-0b14-5d83-b570-f919de718d73",
            "correlationId": "69e521cf-2c1e-5383-9bb8-cc8e688f6978",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema holds metadata details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "distributionId": {
        "name": "distributionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint, used for tracing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-currency-distribution-distribute-branch-currency-distribution"
        },
        "example": "branch-currency-distribution-distribute-branch-currency-distribution"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow being executed, enabling tracking of process flows.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-079"
        },
        "example": "WF-079"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Branch Network Capacity and Currency Distribution"
        },
        "example": "Branch Network Capacity and Currency Distribution"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the current execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "59d2c4a7-8d5f-463a-9e26-f04957b36572"
        },
        "example": "59d2c4a7-8d5f-463a-9e26-f04957b36572"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}