{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get External Agency By Param1-spec",
    "description": "The External Agency Retrieval API enables users to obtain detailed information about external agencies based on specific parameters. This API is primarily utilized in interbank relationship management, providing essential data for financial institutions to make informed decisions. Typical consumers include bankers and financial analysts who require access to agency details for compliance, risk management, and partnership evaluations. By leveraging this API, organizations can streamline their processes and enhance their understanding of interbank operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/interbank-relationship-management/{param1}": {
      "get": {
        "tags": [
          "Interbank Relationships"
        ],
        "summary": "Retrieve Interbank Relationship Details",
        "description": "Fetches the detailed information regarding the specified interbank relationship, identified by its unique identifier. This endpoint allows users to access various attributes related to the relationship, ensuring comprehensive insights for management and analysis.",
        "operationId": "getExternalAgencyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details regarding the interbank relationship management for the specified RES-100045. It should include the necessary parameters to query for the required data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested interbank relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencyByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the interbank relationship management system. It is expected to be a string format.",
        "example": "{}"
      },
      "GetExternalAgencyByParam1Response_200": {
        "title": "Interbank Relationship Management Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-463682"
          },
          "bic": {
            "type": "string",
            "description": "The Business Identifier Code of the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code for the institution's location.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an interbank relationship management operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-463682",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e10c8a09-f050-5381-8398-a9ace4557e3d",
            "correlationId": "03b0a34e-efeb-5cc8-b03e-a0376c9c101d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORRELATION-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-15T15:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-EAST"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interbank-relationship-management-get-interbank-relationship-management"
        },
        "example": "interbank-relationship-management-get-interbank-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}