{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Adjust Advertising Campaign Settings API",
    "description": "This API enables users to modify the settings of existing advertising campaigns within the marketing framework. By utilizing this endpoint, businesses can fine-tune parameters such as targeting, budget allocation, and scheduling to enhance campaign effectiveness. Typical consumers of this API include marketing teams and digital advertising managers who seek to optimize their promotional strategies. The ability to patch specific campaign attributes allows for agile responses to market dynamics and performance analytics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising/{advertisingId}": {
      "patch": {
        "tags": [
          "Marketing Advertising"
        ],
        "summary": "Update Advertising Resource",
        "description": "This endpoint allows you to update the details of a specific advertising resource identified by its unique ID. Make sure to provide the necessary fields that need updating in the request body.",
        "operationId": "updateMarketingAdvertisingResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/advertisingId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the advertising resource identified by RES-100045. It contains details about the specific changes to apply to the resource, following the structure defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketingAdvertisingResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketingAdvertisingResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketingAdvertisingResource100045Request": {
        "title": "Patch Advertising Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the advertising campaign.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating advertising operations.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f827d8ab-5251-5be6-ba2c-65263733a944",
            "correlationId": "3a37f404-50ba-5a79-9aa5-178550d76747",
            "idempotencyKey": "86a9733c-d502-5fb1-81c2-b29cd75125be",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-278256"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier of the advertising campaign.",
            "example": "string"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The target segment identifier for tracking and analytics.",
            "example": "string"
          },
          "channelMix": {
            "type": "array",
            "description": "An array representing the mix of channels used in the campaign.",
            "items": {
              "type": "string",
              "description": "A channel identifier or type.",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the changes made to an advertising campaign.",
        "example": {
          "campaignId": "string",
          "targetSegmentId": "string",
          "channelMix": [
            "string"
          ]
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used for ensuring idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema describing the context of the request made to the advertising service.",
        "example": {
          "requestId": "string",
          "correlationId": "string",
          "idempotencyKey": "string",
          "requestedAt": "string",
          "sourceSystem": "string",
          "sourceApplication": "string",
          "channel": {
            "channelId": "string",
            "channelType": "string",
            "deviceId": "string"
          }
        }
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., Email, SMS).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing a communication channel associated with a request.",
        "example": {
          "channelId": "string",
          "channelType": "string",
          "deviceId": "string"
        }
      },
      "UpdateMarketingAdvertisingResource100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in the Advertising Marketing API.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ec7f0100-624a-57e3-b7f9-f64973093f07",
            "correlationId": "3a37f404-50ba-5a79-9aa5-178550d76747",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abcd-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "xyz-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-07T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata structure containing additional information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "advertisingId": {
        "name": "advertisingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-update-advertising"
        },
        "example": "advertising-update-advertising"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication. It requires the client to provide a JSON Web Token (JWT) as part of the authorization header to authenticate API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}