{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Securities Position Keepings-spec",
    "description": "The Account Management Securities Position API enables users to query and access current securities positions held within their accounts. This API serves financial institutions and asset managers looking to monitor and manage their securities effectively. By leveraging this endpoint, organizations can retrieve detailed information about specific securities, including quantities and valuations. Use cases include portfolio analysis, compliance reporting, and investment strategy adjustments. The API is designed to enhance transparency and facilitate informed decision-making in account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping": {
      "get": {
        "tags": [
          "Securities Management"
        ],
        "summary": "Retrieve the securities position keeping data.",
        "description": "This endpoint allows users to fetch the securities positions that are being kept under account management. It provides detailed information about the various securities held, their current values, and any relevant metrics related to those positions.",
        "operationId": "listAccountManagementSecuritiesPositionKeepings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the current securities positions for the user. It is essential to provide the necessary authentication tokens and header information to access the data securely.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementSecuritiesPositionKeepingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the securities position.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementSecuritiesPositionKeepingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementSecuritiesPositionKeepingsRequest": {
        "type": "string",
        "description": "This schema represents a request body for the GET operation in the account management securities position keeping. The content is a string that may include parameters or other relevant data required for the request.",
        "example": "{}"
      },
      "ListAccountManagementSecuritiesPositionKeepingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of securities position items.",
            "example": [
              {
                "accountId": "ACC-755536",
                "customerId": "CUST-507029",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "safekeepingAccountId": "ACC-342383",
                "custodyLocation": "STANDARD",
                "positionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecuritiesPositionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation that retrieves securities positions, including a list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-755536",
              "customerId": "CUST-507029",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "safekeepingAccountId": "ACC-342383",
              "custodyLocation": "STANDARD",
              "positionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3d08bd99-2719-5fc4-9c28-d6b81c8b83bc",
            "correlationId": "e9a892de-128e-5ac8-8150-b064484cbd45",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecuritiesPositionItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the securities position."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the securities position."
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry for the securities position, typically in YYYY-MM-DD format."
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the ledger balance."
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The ledger balance for the account on the specified ledger date."
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The identifier for the safekeeping account."
          },
          "custodyLocation": {
            "type": "string",
            "description": "The location where the securities are held in custody."
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of the position in securities.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating whether it is active, inactive, etc."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the securities position was last updated."
          }
        },
        "description": "Represents a single securities position item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Contains pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Indicates the region where the processing took place."
          }
        },
        "description": "Contains additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-search-securities-position-keeping"
        },
        "example": "securities-position-keeping-search-securities-position-keeping"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens, specifically in the JSON Web Token (JWT) format. This scheme is often used to secure API endpoints by requiring a valid token for access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}