{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Partner Authentication-spec",
    "description": "The Partner Authentication Management API allows organizations to update their partner authentication settings efficiently. This API enables clients to modify authentication parameters for their business partners, ensuring secure and reliable access. Typical consumers include system integrators and partner management teams looking to maintain compliance and enhance security protocols. Utilizing this API helps streamline the management of partner integrations and reinforces security measures across collaborative platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/authentication": {
      "put": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Update Partner Authentication Details",
        "description": "This endpoint allows you to update the authentication details of a partner. Ensure that you provide all necessary information in the request body to successfully update the authentication settings.",
        "operationId": "replacePartnerAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to authenticate a partner by providing the necessary credentials. Ensure that you follow the established schema to successfully authenticate and receive the appropriate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePartnerAuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully with no content.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePartnerAuthenticationResponse_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplacePartnerAuthenticationRequest": {
        "title": "Partner Authentication Update Request",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "partnerSecret": {
            "type": "string",
            "description": "Current secret associated with the partner.",
            "example": "STANDARD"
          },
          "newPartnerSecret": {
            "type": "string",
            "description": "New secret that the partner wishes to set.",
            "example": "STANDARD"
          },
          "immediate": {
            "type": "boolean",
            "description": "Indicates whether the update should take effect immediately.",
            "example": true
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating authentication details for a partner.",
        "example": {
          "partnerId": "STANDARD",
          "partnerSecret": "STANDARD",
          "newPartnerSecret": "STANDARD",
          "immediate": true,
          "requestContext": {
            "requestId": "129baf23-b9ee-5c35-8f2b-5018241a4d18",
            "correlationId": "61a8c9cc-79b7-5014-a867-dfa52299096f",
            "idempotencyKey": "f6d7055a-551f-5169-a104-593ad6a71eb0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-800598"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used to trace requests across systems.",
            "example": "corr-7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests are handled idempotently.",
            "example": "idempotent-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "sourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "sourceAppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., 'web', 'mobile', etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for communication.",
            "example": "device-1234"
          }
        },
        "description": "Details about the communication channel."
      },
      "ReplacePartnerAuthenticationResponse_204": {
        "title": "Authentication Response",
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned upon successful authentication operations.",
        "example": {
          "metadata": {
            "responseId": "53ab964c-882f-5435-880b-d4d28b36e453",
            "correlationId": "61a8c9cc-79b7-5014-a867-dfa52299096f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this request to a specific workflow.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "This schema contains metadata related to the authentication operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-partner-secret"
        },
        "example": "open-finance-api-modify-partner-secret"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer Authentication scheme, which involves the use of JWT (JSON Web Tokens) for secure authorization. Clients must include the token in the 'Authorization' header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}