{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Broker Agreement Management API",
    "description": "The Product Broker Agreement Management API facilitates the creation and management of broker agreements within the banking ecosystem. This API enables financial institutions and external agencies to initiate and record agreements related to product offerings efficiently. Typical consumers include banking institutions and third-party brokers looking to formalize their partnerships. By utilizing this API, organizations can streamline their collaboration processes, ensuring compliance and transparency in agreement management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-broker-agreement": {
      "post": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Create a new Product Broker Agreement for an external agency.",
        "description": "This operation allows users to create a new Product Broker Agreement associated with a specified external agency. Ensure that all required fields are filled in the request body to successfully create the agreement.",
        "operationId": "createExternalAgencyProductBrokerAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for creating or updating the product broker agreement for an external agency. It contains the necessary information that defines the terms and conditions of the agreement, aimed at facilitating cooperation between the external agency and the broker.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencyProductBrokerAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencyProductBrokerAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencyProductBrokerAgreementRequest": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution associated with the agreement.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-101143"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) associated with the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country of the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the agreement is effective, formatted as YYYY-MM-DD.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a product broker agreement.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-101143",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "d20b9870-bd7e-5c23-931e-943e0106614a",
            "correlationId": "4ccfe940-e3b7-5459-8534-f45fe3bd4330",
            "idempotencyKey": "29b898af-93a6-564a-b96d-40941a58bd96",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-931861"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests in a workflow.",
            "example": "corr-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent (can be called multiple times without different outcomes).",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, formatted as YYYY-MM-DDTHH:MM:SSZ.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that generated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that originated the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information pertaining to the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including metadata for tracking and identification."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for this transaction (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel details from which the request originated."
      },
      "CreateExternalAgencyProductBrokerAgreementResponse_201": {
        "title": "Product Broker Agreement Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "AGR-307772"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the country associated with the agreement.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-177666"
          },
          "status": {
            "type": "string",
            "description": "Current status of the agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Product Broker Agreement operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-307772",
          "countryCode": "US",
          "resourceId": "RES-177666",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a2c91458-24db-55f3-b6a8-fdccd999e2fa",
            "correlationId": "4ccfe940-e3b7-5459-8534-f45fe3bd4330",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing related requests.",
            "example": "correlation-202"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for the agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-broker-agreement-create-product-broker-agreement"
        },
        "example": "product-broker-agreement-create-product-broker-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was executed. This helps in identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token in the format of a JSON Web Token (JWT). This token should be included in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}