{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Management Manual Update API",
    "description": "The Management Manual Update API facilitates the modification of existing documentation within the banking knowledge assets. This endpoint allows authorized users to patch specific sections of the management manual, ensuring that the information remains current and relevant. It is primarily used by compliance officers and knowledge management teams to reflect organizational changes or regulatory updates. By using this API, businesses can maintain accurate records and support informed decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{param1}": {
      "patch": {
        "tags": [
          "Knowledge Asset Management"
        ],
        "summary": "Update a management manual asset.",
        "description": "This endpoint allows you to modify the details of a specific management manual asset identified by its resource ID. Provide the required fields in the request body to update information such as title, content, and related metadata.",
        "operationId": "updateKnowledgeAssetManagementManualRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the management manual identified by the given resource ID. It contains the required fields to modify specific properties of the management manual or to add new information. Ensure that the provided data adheres to the defined schema for a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeAssetManagementManualRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateKnowledgeAssetManagementManualRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateKnowledgeAssetManagementManualRes100045Request": {
        "title": "Patch Request Body for Management Manual",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes to be made to the management manual.",
            "$ref": "#/components/schemas/ManualChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the body of a PATCH request for modifying a management manual.",
        "example": {
          "changes": {
            "manualId": "STANDARD",
            "title": "Banking operation completed",
            "version": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "318133a7-86a9-55bf-b7ec-e9a2ffe16419",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "idempotencyKey": "8fa74ac9-5622-5edc-be5b-ad100fd4c293",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177477"
            }
          }
        }
      },
      "ManualChanges": {
        "title": "Manual Changes",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "The unique identifier of the management manual.",
            "example": "MANUAL-001"
          },
          "title": {
            "type": "string",
            "description": "The title of the management manual.",
            "example": "Operations Manual"
          },
          "version": {
            "type": "string",
            "description": "The version of the management manual.",
            "example": "1.0.0"
          }
        },
        "description": "This schema defines the properties that can be changed in a management manual."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the same request across services.",
            "example": "corr-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the idempotency of requests.",
            "example": "idemp-9999"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "HR System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "Employee Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information pertaining to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateKnowledgeAssetManagementManualRes100045Response_200": {
        "title": "Management Manual Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the management manual operations, specifically for the PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "396db439-b37a-5489-b7d7-251b7c658dc5",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to trace the request throughout the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema provides details about the metadata associated with the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-update-management-manual"
        },
        "example": "management-manual-update-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a JSON Web Token (JWT) to verify the identity of the user. This scheme requires the client to send the JWT in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}