{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Financial Instrument Valuation API provides access to market operations related to the valuation of financial instruments. By utilizing this endpoint, developers can retrieve detailed information about specific financial instruments based on unique parameters. This functionality serves investment analysts, portfolio managers, and financial institutions looking to assess asset values accurately. The API simplifies the data retrieval processes, enabling efficient analysis and decision-making in financial markets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/financial-instrument-valuation/{param1}": {
      "get": {
        "tags": [
          "Financial Operations"
        ],
        "summary": "Retrieve financial instrument valuation details.",
        "description": "This endpoint allows users to fetch the valuation details of a specific financial instrument using its unique identifier. By utilizing this API, developers can access vital information related to the instrument's market value, helping in decision-making and analysis.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving valuation details of a specific financial instrument. This body is expected to include parameters that define the context for the operation, ensuring accurate financial analysis and computations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the financial instrument valuation information is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "type": "string",
        "description": "A JSON representation of the request body for the operation related to financial instrument valuation in the market operations context.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "title": "FinancialInstrumentValuationResponse",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the trade will be settled in ISO format.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units of the financial instrument.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the assets.",
            "example": "STANDARD"
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of the financial instrument (e.g., Stock, Bond, etc.).",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol of the financial instrument.",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the financial instrument was issued.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE_123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to trace the request through the system.",
                "example": "CORRELATION_456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-WEST-1"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "db2f6438-4ed1-5d3a-9993-7464e0fda26a",
              "correlationId": "d70b2a3c-ad8e-580c-96ba-62ce130941d1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for financial instrument valuation operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "db2f6438-4ed1-5d3a-9993-7464e0fda26a",
            "correlationId": "d70b2a3c-ad8e-580c-96ba-62ce130941d1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-get-financial-instrument-valuation"
        },
        "example": "financial-instrument-valuation-get-financial-instrument-valuation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JWT (JSON Web Token) format. It is typically used to secure APIs and validate user identity by including the JWT in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}