{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Credit Risk Models-spec",
    "description": "The Credit Risk Models Listing API allows users to access a comprehensive list of available credit risk models within the banking sector. This endpoint is designed for financial analysts and risk managers who need to evaluate model options for assessing credit risk factors. The API provides detailed information about each model, including their characteristics and performance metrics. By retrieving this data, stakeholders can make informed decisions regarding risk assessment and management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-risk-models": {
      "get": {
        "tags": [
          "Credit Risk"
        ],
        "summary": "Retrieve a list of credit risk models.",
        "description": "This endpoint allows users to fetch all available credit risk models from the system. The data includes key metrics and parameters that define each model, enabling users to select and work with the right model for their analysis.",
        "operationId": "listModelCreditRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving credit risk models. It should contain the necessary parameters for the request formatted as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelCreditRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of credit risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelCreditRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelCreditRiskModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to credit risk models. It is a string-type object indicating the input format expected by the operation.",
        "example": "{}"
      },
      "ListModelCreditRiskModelsResponse_200": {
        "title": "Credit Risk Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of credit risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-896770",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the Credit Risk Models GET operation.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-896770",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1cd120d9-0423-5c97-bf47-e47ed28d19ad",
            "correlationId": "c95b7c1a-b375-5f04-acba-d2eb339bc5b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditRiskModel": {
        "title": "Credit Risk Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "model-123"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "v1.0.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the associated portfolio.",
            "example": "portfolio-456"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is valid.",
            "example": "2023-01-01"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model is applied.",
            "example": "base-case"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level associated with the model's estimations.",
            "example": 0.95
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validation.",
            "example": "dataset-789"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months used for backtesting.",
            "format": "int32",
            "example": 12
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the model.",
            "example": "approved"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the model.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single credit risk model."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for a list of items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "corr-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-models-search-credit-risk-models"
        },
        "example": "credit-risk-models-search-credit-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method allows secure API access via JSON Web Tokens (JWT), which should be included in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}