{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Active Customer Aggregation API",
    "description": "The Active Customer Aggregation API serves as a powerful tool for businesses to identify and manage active customers within their ecosystem. This endpoint allows you to aggregate data related to customers who are currently engaged or have shown recent activity, providing valuable insights for targeted marketing and customer retention strategies. Typical consumers include marketing teams and customer relationship managers who leverage this information to tailor their outreach efforts. By analyzing active customer behaviors, businesses can optimize their engagement strategies and improve overall service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/active": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create an active customer record.",
        "description": "This operation allows you to create a new customer that is marked as active. A successful creation will return the newly created customer details.",
        "operationId": "createActiveCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or register an active customer in the system. It should include all necessary customer details to ensure successful registration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActiveCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing a newly activated customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateActiveCustomerResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateActiveCustomerRequest": {
        "title": "Create Active Customer Request",
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "The unique username of the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "applicationId": {
            "type": "string",
            "description": "The identifier for the application.",
            "example": "APP-756237"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating an active customer.",
        "example": {
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "applicationId": "APP-756237",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "cf98536e-79ae-58e4-8e93-ad17761f6c5b",
            "correlationId": "26ebb697-cec5-5adb-af6b-dca60d0792bf",
            "idempotencyKey": "5aeb74c8-738c-55a1-ab3e-3bca8215ee5c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-633285"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking a specific execution path.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotent-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-05T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateActiveCustomerResponse_201": {
        "title": "Customer Active Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "The username associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the customer record was created, represented as a UNIX timestamp.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a successful customer active operation.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "createdDate": 1,
          "metadata": {
            "responseId": "a8930486-7ac0-5483-b736-4d10446f1a4f",
            "correlationId": "26ebb697-cec5-5adb-af6b-dca60d0792bf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier of the response for tracking purposes.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to track requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated, in ISO 8601 format.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "This schema represents metadata information included in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header provides a unique identifier for the endpoint that is responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-customer"
        },
        "example": "open-finance-api-add-customer"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application running the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism with a JSON Web Token (JWT) format. Clients must include a valid JWT in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}