{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer By Param2-spec",
    "description": "The Retrieve Customer Bill Pay Switches API allows clients to access specific bill payment options for a customer, identified by their unique customer ID and additional parameters. This capability is particularly useful for financial services and customer management systems that need to display or modify payment settings. Typical users include applications that handle payment processing or customer service inquiries regarding bill pay features. Developers can leverage this API to enhance customer interactions by providing personalized billing options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/bill-pay-switches/{param2}": {
      "get": {
        "tags": [
          "Customer Services"
        ],
        "summary": "Retrieve Bill Pay Switch Information",
        "description": "This endpoint allows you to retrieve the bill pay switch information for a specific customer, identified by their customer ID. It provides the necessary details regarding the status and configuration of the bill pay feature for that customer.",
        "operationId": "getCustomerByParam2",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the billing settings and payment switches for a specific customer identified by their unique customer ID (CUST-100045) and a specific resource ID (RES-100045). Please ensure that the provided IDs are valid and adhere to the required format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerByParam2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerByParam2Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerByParam2Request": {
        "type": "string",
        "description": "This schema represents the request body for the bill pay switches operation for customer CUST-100045. It is expected to be a string representation of the JSON data.",
        "example": "{}"
      },
      "GetCustomerByParam2Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-591628"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switchId": {
            "type": "string",
            "description": "The unique identifier for the billing switch.",
            "example": "STANDARD"
          },
          "switchStatus": {
            "type": "string",
            "description": "The current status of the billing switch (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "failureReason": {
            "type": "string",
            "description": "Explanation for any failure related to the billing process.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the billing switch was created.",
            "example": "2026-09-15"
          },
          "updatedDate": {
            "type": "string",
            "description": "The date when the billing switch was last updated.",
            "example": "2026-09-15"
          },
          "authenticated": {
            "type": "boolean",
            "description": "Indicates if the customer is authenticated.",
            "example": true
          },
          "provider": {
            "description": "Information about the billing provider.",
            "$ref": "#/components/schemas/Provider"
          },
          "paymentMethods": {
            "type": "array",
            "description": "A list of payment methods available for the customer.",
            "example": [
              {
                "type": "STANDARD",
                "title": "Banking operation completed",
                "brand": "STANDARD",
                "bankIdentifier": "STANDARD",
                "endsWith": "STANDARD",
                "bankAccountType": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "metadata": {
            "description": "Metadata related to the billing switch operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving billing switch information for a customer.",
        "example": {
          "customerId": "CUST-591628",
          "customerType": "STANDARD",
          "switchId": "STANDARD",
          "switchStatus": "ACTIVE",
          "failureReason": "STANDARD",
          "createdDate": "2026-09-15",
          "updatedDate": "2026-09-15",
          "authenticated": true,
          "provider": {
            "id": "STANDARD",
            "name": "Northstar Banking Service"
          },
          "paymentMethods": [
            {
              "type": "STANDARD",
              "title": "Banking operation completed",
              "brand": "STANDARD",
              "bankIdentifier": "STANDARD",
              "endsWith": "STANDARD",
              "bankAccountType": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "e30c5a09-fb53-53b5-b427-63e3cffb74f1",
            "correlationId": "98c0aad9-4a9a-5c81-8ba4-bb6208e28067",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the provider.",
            "example": "PROV-001"
          },
          "name": {
            "type": "string",
            "description": "The name of the provider.",
            "example": "Example Provider"
          }
        },
        "description": "Schema representing billing provider information."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method (e.g., credit card, bank account).",
            "example": "credit card"
          },
          "title": {
            "type": "string",
            "description": "A title for the payment method.",
            "example": "Visa"
          },
          "brand": {
            "type": "string",
            "description": "The brand associated with the payment method.",
            "example": "Visa"
          },
          "bankIdentifier": {
            "type": "string",
            "description": "An identifier for the bank associated with this payment method.",
            "example": "BANK-123"
          },
          "endsWith": {
            "type": "string",
            "description": "The last four digits of the payment method.",
            "example": "1234"
          },
          "bankAccountType": {
            "type": "string",
            "description": "The type of bank account (e.g., savings, checking).",
            "example": "checking"
          }
        },
        "description": "Schema representing a payment method for the customer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with a request.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-20T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with the billing switch operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-bill-pay-switch-details"
        },
        "example": "open-finance-api-get-bill-pay-switch-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}