{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Notification Subscription API",
    "description": "The Webhook Notification Subscription API allows clients to manage and retrieve webhook subscriptions effectively. This API provides the capability to query existing subscriptions to various events, enabling consumers to integrate real-time notifications into their applications. Common use cases include those from developers needing to set up event-driven architectures or businesses aiming to receive timely updates on specific triggers. The API facilitates seamless integration with external systems and enhances the responsiveness of user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks": {
      "get": {
        "tags": [
          "Webhooks Management"
        ],
        "summary": "Retrieve all webhooks",
        "description": "This endpoint allows you to fetch a list of all the webhooks configured in the system. You can use this to see which webhooks are currently active and to manage their settings.",
        "operationId": "getWebhooksList",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for fetching webhook data based on specified criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhooksListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of webhooks.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhooksListResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhooksListRequest": {
        "type": "string",
        "description": "This schema represents the JSON string body required for the GET request operation in the webhook context.",
        "example": "{}"
      },
      "GetWebhooksListResponse_200": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of items returned in this response.",
            "format": "int32",
            "example": 1
          },
          "offset": {
            "type": "integer",
            "description": "The offset of the first item returned. Useful for pagination.",
            "format": "int32",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "The maximum number of items that can be returned in this response.",
            "format": "int32",
            "example": 1
          },
          "total": {
            "type": "integer",
            "description": "The total number of items available, regardless of the limit.",
            "format": "int32",
            "example": 1
          },
          "subscriptions": {
            "type": "array",
            "description": "A list of webhook subscriptions.",
            "example": [
              {
                "subscriptionId": "STANDARD",
                "url": "https://banking.northstar.example/callbacks/status",
                "events": [
                  {
                    "webhookEventId": "STANDARD",
                    "name": "Northstar Banking Service",
                    "url": "https://banking.northstar.example/callbacks/status",
                    "status": "ACTIVE",
                    "condition": {
                      "subscribeFor": "STANDARD",
                      "includes": [
                        "STANDARD"
                      ],
                      "excludes": [
                        "STANDARD"
                      ]
                    }
                  }
                ],
                "status": "ACTIVE",
                "createdDate": "2026-09-15",
                "lastUpdatedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookSubscription"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for this response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata about the response.",
            "example": {
              "responseId": "9115e77b-7e91-51ae-b5d2-8d85c853d290",
              "correlationId": "bf6f380b-1559-5bcd-9b6e-2b7126164065",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the successful retrieval of webhooks subscriptions.",
        "example": {
          "count": 1,
          "offset": 1,
          "limit": 1,
          "total": 1,
          "subscriptions": [
            {
              "subscriptionId": "STANDARD",
              "url": "https://banking.northstar.example/callbacks/status",
              "events": [
                {
                  "webhookEventId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "url": "https://banking.northstar.example/callbacks/status",
                  "status": "ACTIVE",
                  "condition": {
                    "subscribeFor": "STANDARD",
                    "includes": [
                      "STANDARD"
                    ],
                    "excludes": [
                      "STANDARD"
                    ]
                  }
                }
              ],
              "status": "ACTIVE",
              "createdDate": "2026-09-15",
              "lastUpdatedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "9115e77b-7e91-51ae-b5d2-8d85c853d290",
            "correlationId": "bf6f380b-1559-5bcd-9b6e-2b7126164065",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the subscription.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook events should be delivered.",
            "example": "string"
          },
          "events": {
            "type": "array",
            "description": "A list of events associated with the subscription.",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the subscription was created.",
            "example": "string"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the subscription was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a webhook subscription."
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the event.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the event.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the event.",
            "example": "string"
          },
          "condition": {
            "$ref": "#/components/schemas/EventCondition"
          }
        },
        "description": "Schema representing a webhook event."
      },
      "EventCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The condition parameter indicating what to subscribe for.",
            "example": "string"
          },
          "includes": {
            "type": "array",
            "description": "An array of conditions to include.",
            "items": {
              "type": "string",
              "description": "An included condition."
            }
          },
          "excludes": {
            "type": "array",
            "description": "An array of conditions to exclude.",
            "items": {
              "type": "string",
              "description": "An excluded condition."
            }
          }
        },
        "description": "Schema representing conditions for a webhook event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-list-webhook-subscriptions"
        },
        "example": "open-finance-api-list-webhook-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. It follows the JWT (JSON Web Token) standard, enabling secure data transmission between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}