{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payments Initiation API",
    "description": "The Domestic Payments Initiation API facilitates the seamless initiation of domestic payment transactions. This service allows users or applications to initiate payments from one bank account to another swiftly and securely. It primarily serves financial institutions and payment service providers looking to enhance their transaction capabilities. By utilizing this API, consumers can expect a reliable and efficient way to manage domestic payment workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a domestic payment.",
        "description": "This endpoint allows users to initiate a domestic payment using PISP services. Ensure all required payment details are provided in the request body for successful processing.",
        "operationId": "createDomesticPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information for processing a domestic payment via a Payment Initiation Service Provider (PISP). The client must provide all required payment details, including the transaction specifics, payer information, and payment amounts. Ensure that the data is formatted correctly to facilitate seamless processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment successfully created and processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticPaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for initiating domestic payments.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "74057b4c-8858-5d2d-a213-50e903870ff9",
            "correlationId": "a319a954-8dcd-57c0-8034-e7b754d0cf1b",
            "idempotencyKey": "c2da8f6b-e5df-5c75-b795-31131ec38502",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-204174"
            }
          }
        }
      },
      "PaymentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent related to the payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Schema containing data related to the payment initiation."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment throughout the entire process.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Specifies the local payment instrument used.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/AgentDetails"
          }
        },
        "description": "Schema representing payment initiation details."
      },
      "MoneyAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of money specified for the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed amount and currency."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme to which the account belongs.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the account.",
            "example": "string"
          }
        },
        "description": "Details of an account."
      },
      "ProxyDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identification used for the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the type of proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy used.",
            "example": "string"
          }
        },
        "description": "Schema representing proxy details for the account."
      },
      "AgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Schema representing the details of the creditor's agent."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of postal address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization, if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization, if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the postal address of the creditor agent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details of the channel used for the request."
      },
      "CreateDomesticPaymentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticPaymentId": {
                "type": "string",
                "description": "Unique identifier for the domestic payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent related to the domestic payment.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the domestic payment was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the domestic payment.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons for the current status of the payment.",
                "example": "[{\"code\": \"string\", \"description\": \"string\", \"Path\": \"string\"}]",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for the execution of the payment.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for the settlement of the payment.",
                "example": "string"
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/RefundDetails"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges applicable to the domestic payment.",
                "example": "[{\"ChargeBearer\": \"string\", \"Type\": \"string\", \"Amount\": {\"Amount\": \"string\", \"Currency\": \"string\"}}]",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/InitiationDetails"
              },
              "metadata": {
                "type": "object",
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains details about the domestic payment.",
            "example": {
              "DomesticPaymentId": "PAY-938476",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for domestic payment operations.",
        "example": {
          "Data": {
            "DomesticPaymentId": "PAY-938476",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "3a091f84-9c8a-552e-a9df-6ad12ddb64f6",
            "correlationId": "a319a954-8dcd-57c0-8034-e7b754d0cf1b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the status reason.",
            "example": "string"
          }
        },
        "description": "Represents the reason for a status in the domestic payment."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Account details for the refund.",
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details of the refund associated with the payment."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "The party responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the charge.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge amount.",
                "example": "string"
              }
            },
            "description": "Amount details for the charge."
          }
        },
        "description": "Details of a charge associated with the domestic payment."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Instruction identification for the payment.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification that is end-to-end for the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "type": "object",
            "description": "Amount instructed for the payment.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "DebtorAccount": {
            "type": "object",
            "description": "Account details of the debtor.",
            "$ref": "#/components/schemas/DebtorAccountDetails"
          },
          "CreditorAgent": {
            "type": "object",
            "description": "Agent details for the creditor.",
            "$ref": "#/components/schemas/CreditorAgentDetails"
          }
        },
        "description": "Details about the initiation of the payment."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The instructed amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency for the instructed amount.",
            "example": "string"
          }
        },
        "description": "Details of an instructed amount."
      },
      "DebtorAccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the debtor's account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the debtor's account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the debtor associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification of the debtor.",
            "example": "string"
          },
          "Proxy": {
            "type": "object",
            "properties": {
              "Identification": {
                "type": "string",
                "description": "Identification for the proxy.",
                "example": "string"
              },
              "Code": {
                "type": "string",
                "description": "Code for the proxy.",
                "example": "string"
              },
              "Type": {
                "type": "string",
                "description": "Type of proxy.",
                "example": "string"
              }
            },
            "description": "Proxy details for the debtor's account."
          }
        },
        "description": "Details specific to the debtor's account."
      },
      "CreditorAgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the creditor's agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the creditor's agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the creditor's agent.",
            "example": "string"
          },
          "PostalAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of address for the postal address.",
                "example": "string"
              }
            },
            "description": "Postal address details of the creditor's agent."
          }
        },
        "description": "Details regarding the creditor's agent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains response metadata including identification and processing information."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-020"
        },
        "example": "WF-020"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ba051176-d188-43d7-b700-5c4374846fb5"
        },
        "example": "ba051176-d188-43d7-b700-5c4374846fb5"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "43af7c5e-d99f-4496-aede-67d7b13435f8"
        },
        "example": "43af7c5e-d99f-4496-aede-67d7b13435f8"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, used for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-domestic-payment"
        },
        "example": "payment-initiation-openapi-initiate-domestic-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, which helps in identifying the source of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request, useful for tracking the progress and execution flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-020"
        },
        "example": "WF-020"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payment Recall Reversal and Investigation"
        },
        "example": "Payment Recall Reversal and Investigation"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "43af7c5e-d99f-4496-aede-67d7b13435f8"
        },
        "example": "43af7c5e-d99f-4496-aede-67d7b13435f8"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, which is typically a JSON Web Token (JWT). This token must be included in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}