{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cheque Processing API",
    "description": "The Cheque Processing API enables efficient management and validation of cheque payments within banking systems. This API allows users to retrieve detailed information regarding cheque transactions, including their status and associated metadata. Typical consumers of this API include banking applications, financial institutions, and payment processors that require real-time insights into cheque-related operations. By leveraging this API, developers can enhance user experience and streamline payment processing workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/cheque-processing": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve cheque processing payment details.",
        "description": "This endpoint allows users to retrieve information related to cheque processing payments, providing insights and details necessary for managing cheque transactions effectively.",
        "operationId": "getChequeProcessingPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters required to process cheque payments via the API. It is necessary to provide all the relevant details according to the schema specified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChequeProcessingPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of cheque processing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChequeProcessingPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChequeProcessingPaymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Cheque Processing GET operation. The body expects a string input.",
        "example": "{}"
      },
      "GetChequeProcessingPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of cheque batches.",
            "example": [
              {
                "chequeBatchId": "STANDARD",
                "depositAccountId": "ACC-948405",
                "chequeCount": 1,
                "batchAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "clearingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChequeBatch"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching cheque processing information.",
        "example": {
          "items": [
            {
              "chequeBatchId": "STANDARD",
              "depositAccountId": "ACC-948405",
              "chequeCount": 1,
              "batchAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "clearingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6343b71b-379c-529d-9e7e-17b47c31334d",
            "correlationId": "00a25933-95e0-5317-8d71-f1a3f99182bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChequeBatch": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch.",
            "example": "string"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the deposit account associated with the cheque batch.",
            "example": "string"
          },
          "chequeCount": {
            "type": "integer",
            "description": "Total number of cheques in the batch.",
            "format": "int32",
            "example": 0
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "Date when the cheque batch is scheduled for clearing.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the cheque batch record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the cheque batch was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a cheque batch."
      },
      "BatchAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total monetary amount of the cheque batch.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the total amount of the cheque batch."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-processing-search-cheque-processing"
        },
        "example": "cheque-processing-search-cheque-processing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, following the JWT (JSON Web Token) format for secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}