{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Business Control Organization Directions-v5-spec",
    "description": "The Banking Business Control Organization Directions API provides users with access to the listing of organization directions within the banking business control framework. This API facilitates the retrieval of structured data detailing various operational directives that guide business processes. Typical consumers include banking institutions and compliance teams looking for standardized direction information for regulatory and operational purposes. Utilizing this API, developers can efficiently integrate essential organizational insights into their applications, enhancing decision-making and ensuring adherence to business policies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/organization-direction": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "summary": "Retrieve organization direction details.",
        "description": "This endpoint allows you to fetch the details related to organization direction, providing insights into the strategic direction of the business.",
        "operationId": "listBankingBusinessControlOrganizationDirections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body containing the necessary parameters to retrieve the organization direction information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingBusinessControlOrganizationDirectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested organizational direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingBusinessControlOrganizationDirectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingBusinessControlOrganizationDirectionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the organization direction in the business control operations.",
        "example": "{}"
      },
      "ListBankingBusinessControlOrganizationDirectionsResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of business operation items.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting method applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations request containing items, pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "02bea396-2fa1-5012-a863-35d7e68c0a76",
            "correlationId": "4a1c8a74-c475-5049-a09e-ea0c094979dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessOperationItem": {
        "title": "Business Operation Item",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "BU123"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the operation.",
            "example": "CC456"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Time frame for the planning associated with this operation.",
            "example": "2023-Q1"
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast data used.",
            "example": "v1.0"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, archived).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this item.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a specific business operation item."
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount allocated.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget amount is represented.",
            "example": "USD"
          }
        },
        "description": "Details of the budget related to a business operation."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated result.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region from which the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "organization-direction-search-organization-direction"
        },
        "example": "organization-direction-search-organization-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). It is commonly used for securing API endpoints and allows clients to authenticate by including a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}