{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Routing Profile API",
    "description": "The Party Routing Profile API facilitates the retrieval of routing profiles associated with parties in the banking ecosystem. This API allows users to obtain detailed information about various party profiles, which are essential for processing transactions and managing communications. Typically utilized by banking applications and integration platforms, it enables seamless interactions by providing necessary routing information for parties. Use cases include enhancing customer service and improving transaction efficiencies through accurate routing configurations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/party-routing-profile": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Retrieve a party routing profile",
        "description": "This operation allows you to fetch the details of a specific party routing profile, providing essential information regarding its configuration and attributes.",
        "operationId": "getPartyRoutingProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the party routing profile information based on the specified criteria. It requires a JSON object that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyRoutingProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the party routing profile.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyRoutingProfileResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyRoutingProfileRequest": {
        "title": "Party Routing Profile Request Body",
        "type": "string",
        "description": "A JSON string representing the request body for retrieving the party routing profile information.",
        "example": "{}"
      },
      "GetPartyRoutingProfileResponse_200": {
        "title": "Party Routing Profile Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of party objects.",
            "example": [
              {
                "partyId": "PARTY-246985",
                "legalName": "Olivia Bennett",
                "legalEntityIdentifier": "STANDARD",
                "countryCode": "US",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Party"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response data.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for retrieving party routing profiles including pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-246985",
              "legalName": "Olivia Bennett",
              "legalEntityIdentifier": "STANDARD",
              "countryCode": "US",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6bf6f863-153a-59b4-8564-f81cf3d19f78",
            "correlationId": "cf6b9395-c1cf-506f-bed5-9243d769a0ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "title": "Party",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "12345"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the party.",
            "example": "John Doe Inc."
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "Identifier for the legal entity.",
            "example": "LEI123456789"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the party.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the party record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the party record.",
            "example": "2023-10-10T14:48:00Z"
          }
        },
        "description": "Details of a party including identification and legal information."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details regarding the pagination of the response data."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests across services.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-routing-profile-search-party-routing-profile"
        },
        "example": "party-routing-profile-search-party-routing-profile"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, typically involving a JSON Web Token (JWT) for authorization. Clients must include the JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}