{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Dispute-spec",
    "description": "The Card Dispute Management API enables users to efficiently initiate dispute claims for transactions associated with specific banking cards. This endpoint allows financial institutions and service providers to manage disputes, facilitating a streamlined process for customers to report unauthorized or erroneous charges. Typical consumers of this API include banking applications, financial service platforms, and customer support systems seeking to enhance user experience. By leveraging this API, businesses can ensure prompt resolutions and maintain customer trust in their transaction processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/{cardId}/disputes": {
      "post": {
        "tags": [
          "Card Disputes"
        ],
        "summary": "Create a Dispute for a Card",
        "description": "This API endpoint allows you to initiate a dispute for a specific card. It enables users to report issues with transactions linked to the card, providing necessary details to process the dispute effectively.",
        "operationId": "createCardDispute",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardId"
          }
        ],
        "requestBody": {
          "description": "Creates a new dispute for the specified card. This operation allows users to initiate a dispute process regarding a transaction associated with the card identified by CARD-400045. The request body must include the necessary details for the dispute, formatted in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new dispute for the specified card.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardDisputeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardDisputeRequest": {
        "title": "Dispute Request Body",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment being disputed.",
            "example": "PAY-470606"
          },
          "reason": {
            "type": "string",
            "description": "The reason for disputing the payment.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount being disputed, including currency and value.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer related to the dispute.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer making the dispute.",
            "example": "CUST-584433"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence files submitted in support of the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a dispute operation.",
        "example": {
          "paymentId": "PAY-470606",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "customerId": "CUST-584433",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "requestContext": {
            "requestId": "d4bb26b7-547e-55b4-970e-08fca9f98201",
            "correlationId": "65d876a1-d014-5577-89bd-a0ed7d29e941",
            "idempotencyKey": "e628fb13-59a9-52c3-9f56-53f2efdfcd66",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-549107"
            }
          }
        }
      },
      "DisputedAmount": {
        "title": "Disputed Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the disputed amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the disputed amount details."
      },
      "EvidenceItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "EVIDENCE123456"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file submitted as evidence.",
            "example": "receipt.jpg"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "image/jpeg"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL link to access the evidence file.",
            "example": "http://example.com/evidence/receipt.jpg"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file.",
            "example": "abc123def456...7890"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Date and time when the evidence was uploaded.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of an evidence item submitted for the dispute."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system that initiated the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that initiated the request.",
            "example": "appA"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing details about the communication channel for the request."
      },
      "CreateCardDisputeResponse_201": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the dispute.",
            "example": "PAY-934293"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-820735"
          },
          "reason": {
            "type": "string",
            "description": "The reason for initiating the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount being disputed.",
            "$ref": "#/components/schemas/Amount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Date and time by which a response is expected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence items submitted for the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "description": "Details about the financial impact due to the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details regarding the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information related to the dispute.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the dispute.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for creating a dispute in the card operations API.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-934293",
          "merchantId": "MER-820735",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "abe893f3-bd86-5970-97e8-81997a0fc7d8",
            "correlationId": "65d876a1-d014-5577-89bd-a0ed7d29e941",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "ISO currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount, expressed as a string.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount with currency."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees incurred due to the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Amount that is being held in reserve due to the dispute.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details regarding the financial repercussions of the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type/category of the fee.",
            "example": "Processing Fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "Party responsible for the fee.",
            "example": "Merchant"
          }
        },
        "description": "Details of a fee associated with the dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "Resolved"
          },
          "resolvedAmount": {
            "description": "Amount resolved as part of the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the resolution outcome.",
            "example": "Transaction found to be authorized."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Date and time the dispute was resolved.",
            "example": "2023-10-15T12:00:00Z"
          }
        },
        "description": "Details regarding the outcome of the dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date and time when the dispute was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the dispute.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the dispute was last updated.",
            "example": "2023-10-10T15:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the dispute.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Current version of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information related to the dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier of the response for this dispute.",
            "example": "RESPONSE123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the dispute process.",
            "example": "CORRELATION123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the metadata was generated.",
            "example": "2023-10-20T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the dispute is being processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "cardId": {
        "name": "cardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific API endpoint being used.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-dispute"
        },
        "example": "banking-p2m-openapi-create-dispute"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-028"
        },
        "example": "WF-028"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is triggered during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Dispute and Chargeback"
        },
        "example": "Card Dispute and Chargeback"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow at the time of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d69adb33-d976-4527-bc0e-b8526f93cfbb"
        },
        "example": "d69adb33-d976-4527-bc0e-b8526f93cfbb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token format. This scheme requires a valid JSON Web Token (JWT) for authorization purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}