{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loans Loan Products-v5-spec",
    "description": "MICROSERVICE-PROD-List Loans Loan Products-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products": {
      "get": {
        "operationId": "listLoansLoanProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoansLoanProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoansLoanProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoansLoanProductsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListLoansLoanProductsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "productType": "STANDARD",
                "currency": "USD",
                "minPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "maxPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "minTermMonths": 1,
                "maxTermMonths": 1,
                "interestRateType": "STANDARD",
                "annualInterestRatePercent": "STANDARD",
                "baseRateCode": "CODE-587",
                "marginPercent": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "secured": true,
                "maximumLoanToValuePercent": "STANDARD",
                "eligibility": {
                  "minApplicantAge": 1,
                  "maxApplicantAgeAtMaturity": 1,
                  "minMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "allowedEmploymentTypes": [
                    "STANDARD"
                  ],
                  "allowedResidencyCountries": [
                    "STANDARD"
                  ],
                  "minCreditScore": 1
                },
                "fees": [
                  {
                    "code": "SUCCESS",
                    "name": "Northstar Banking Service",
                    "calculationMethod": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "percent": "STANDARD",
                    "capitalized": true
                  }
                ],
                "status": "ACTIVE",
                "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "productType": {
                  "type": "string",
                  "example": "string"
                },
                "currency": {
                  "type": "string",
                  "example": "string"
                },
                "minPrincipal": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "maxPrincipal": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "minTermMonths": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "maxTermMonths": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "interestRateType": {
                  "type": "string",
                  "example": "string"
                },
                "annualInterestRatePercent": {
                  "type": "string",
                  "example": "string"
                },
                "baseRateCode": {
                  "type": "string",
                  "example": "string"
                },
                "marginPercent": {
                  "type": "string",
                  "example": "string"
                },
                "repaymentFrequency": {
                  "type": "string",
                  "example": "string"
                },
                "secured": {
                  "type": "boolean",
                  "example": false
                },
                "maximumLoanToValuePercent": {
                  "type": "string",
                  "example": "string"
                },
                "eligibility": {
                  "type": "object",
                  "properties": {
                    "minApplicantAge": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "maxApplicantAgeAtMaturity": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "minMonthlyIncome": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "allowedEmploymentTypes": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "allowedResidencyCountries": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "minCreditScore": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                },
                "fees": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "string"
                      },
                      "name": {
                        "type": "string",
                        "example": "string"
                      },
                      "calculationMethod": {
                        "type": "string",
                        "example": "string"
                      },
                      "amount": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      },
                      "percent": {
                        "type": "string",
                        "example": "string"
                      },
                      "capitalized": {
                        "type": "boolean",
                        "example": false
                      }
                    },
                    "example": "string"
                  }
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "audit": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "28e862cf-d585-5534-a562-41321f1f58d8",
              "correlationId": "db1d8c5b-5d7d-51c0-9245-4943b85f4eb2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "description": "Customer banking request processed successfully",
              "productType": "STANDARD",
              "currency": "USD",
              "minPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "maxPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "minTermMonths": 1,
              "maxTermMonths": 1,
              "interestRateType": "STANDARD",
              "annualInterestRatePercent": "STANDARD",
              "baseRateCode": "CODE-587",
              "marginPercent": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "secured": true,
              "maximumLoanToValuePercent": "STANDARD",
              "eligibility": {
                "minApplicantAge": 1,
                "maxApplicantAgeAtMaturity": 1,
                "minMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "allowedEmploymentTypes": [
                  "STANDARD"
                ],
                "allowedResidencyCountries": [
                  "STANDARD"
                ],
                "minCreditScore": 1
              },
              "fees": [
                {
                  "code": "SUCCESS",
                  "name": "Northstar Banking Service",
                  "calculationMethod": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "percent": "STANDARD",
                  "capitalized": true
                }
              ],
              "status": "ACTIVE",
              "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "28e862cf-d585-5534-a562-41321f1f58d8",
            "correlationId": "db1d8c5b-5d7d-51c0-9245-4943b85f4eb2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-products"
        },
        "example": "banking-loans-openapi-list-loan-products"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}