{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Application Applicant-spec",
    "description": "This API facilitates the submission of applicants for a loan application. It allows users to efficiently manage applicant information as part of the broader loan application process. Financial institutions and lending services can utilize this endpoint to gather and process applicant data necessary for evaluating loan requests. By integrating this API, organizations can ensure a streamlined experience for applicants while enhancing operational efficiency in loan management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new applicant for a loan application.",
        "description": "This endpoint allows you to add a new applicant to an existing loan application. Provide the necessary applicant information in the request body to successfully create the applicant.",
        "operationId": "createLoanApplicationApplicant",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit an applicant's information as part of the loan application process. It expects the applicant's details in JSON format, and the provided data will be processed to determine eligibility and further steps in the loan application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationApplicantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, applicant details provided.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationApplicantResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationApplicantRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "CUST-808605"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "Monthly obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of declared assets by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredAsset"
            }
          },
          "requestContext": {
            "description": "Context information associated with the loan application request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a loan application applicant's information.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-808605",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "requestContext": {
            "requestId": "cb6fbdc0-23db-522b-844b-b9bbd5216a0a",
            "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
            "idempotencyKey": "35fca5a1-b60c-58a6-bc82-b9521133a813",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-870058"
            }
          }
        }
      },
      "Income": {
        "title": "Income Details",
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time)",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Start date of employment.",
            "example": "2020-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed.",
            "example": "BR123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "description": "Any other monthly income sources.",
            "$ref": "#/components/schemas/Money"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the income details.",
            "example": "Verified"
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "5000"
          }
        },
        "description": "Schema representing a financial amount with currency."
      },
      "DeclaredAsset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset (e.g., Property, Vehicle).",
            "example": "Property"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the declared asset.",
            "example": "Downtown apartment"
          },
          "estimatedValue": {
            "description": "Estimated value of the declared asset.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Schema representing a declared asset by the applicant."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request across systems.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "Web Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application name making the request.",
            "example": "Loan Application App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing metadata about the request context."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Mobile, Web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "ID of the device used for making the request.",
            "example": "DEV123456"
          }
        },
        "description": "Schema representing details of the channel through which the request is made."
      },
      "CreateLoanApplicationApplicantResponse_201": {
        "title": "Loan Application Applicant",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-803828"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "Relationship of the applicant to the primary borrower.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "Monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of declared assets of the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of declared liabilities of the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "19a7cd96-3d26-51cd-2465-ebb96e6913de"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "Credit bureau status of the applicant.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information related to the applicant's entry.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of an applicant in a loan application process.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-803828",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "19a7cd96-3d26-51cd-2465-ebb96e6913de",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "fbf4edde-7cc5-56ed-b552-bce2ace861ec",
            "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialDetail": {
        "title": "Financial Obligation",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type for the financial obligation.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the financial obligation.",
            "example": "500"
          }
        },
        "description": "Schema representing the financial obligations of an applicant."
      },
      "Asset": {
        "title": "Declared Asset",
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset (e.g., real estate, vehicle).",
            "example": "Real Estate"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "House located at 123 Main St."
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing a declared asset of an applicant."
      },
      "Liability": {
        "title": "Declared Liability",
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of the liability (e.g., loan, mortgage).",
            "example": "Car Loan"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender.",
            "example": "XYZ Bank"
          },
          "outstandingBalance": {
            "description": "Outstanding balance of the liability.",
            "$ref": "#/components/schemas/Money"
          },
          "monthlyPayment": {
            "description": "Monthly payment amount for the liability.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing a declared liability of an applicant."
      },
      "Money": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "ISO currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000"
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the entry was created.",
            "example": "2023-10-01T12:34:56Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the entry.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the entry was last updated.",
            "example": "2023-10-05T14:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the entry.",
            "example": "editor"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the entry.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information related to the application entry."
      },
      "Metadata": {
        "title": "Application Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "C54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the application was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata information associated with the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was made.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-applicant"
        },
        "example": "banking-loans-openapi-create-applicant"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication, specifically in the form of JSON Web Tokens (JWT). Clients must include the token in the 'Authorization' header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}