{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Gap Analysis-spec",
    "description": "The Model Gap Analysis Retrieval API provides insights into discrepancies within banking models. This API allows users to quickly access detailed gap analysis information to identify areas requiring attention or enhancements. It serves as a critical resource for banking analysts, risk management teams, and compliance officers aiming to ensure models are robust and up to date. By leveraging this API, organizations can make informed decisions based on the latest analysis of their banking models.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/gap-analysis": {
      "get": {
        "tags": [
          "Gap Analysis"
        ],
        "summary": "Retrieve Gap Analysis Models",
        "description": "This endpoint allows you to fetch the gap analysis models available in the system. Use this to assess discrepancies and opportunities in your current models.",
        "operationId": "listModelGapAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve gap analysis data for the specified model. It should contain all necessary parameters required for executing the gap analysis operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelGapAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the gap analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelGapAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelGapAnalysisRequest": {
        "type": "string",
        "description": "Represents the request body for the gap analysis operation in the GET method.",
        "example": "{}"
      },
      "ListModelGapAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of model objects representing the gap analysis results.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-646400",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/GapAnalysisModel"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the results.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response schema for the gap analysis operations GET request. Contains a list of items and relevant pagination and metadata information.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-646400",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b8b7eb17-4d28-5330-8511-5c4cc3d273ab",
            "correlationId": "3ff78d81-20a1-5d2f-b502-9356f04d472d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "GapAnalysisModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "string"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the analysis was performed.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario under which the model was analyzed.",
            "example": "string"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the results expressed as a decimal.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "string"
          }
        },
        "description": "Model object that contains details about the gap analysis."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "gap-analysis-search-gap-analysis"
        },
        "example": "gap-analysis-search-gap-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing users to authenticate using a JSON Web Token (JWT). The token must be included in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}