{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Sale Product Sales Support-spec",
    "description": "The Product Sales Support API enables businesses to seamlessly manage and enhance the sales support process for their products. This API allows authorized users to create and submit comprehensive sales support requests linked to specific products, ensuring that sales teams have the necessary resources to address customer inquiries effectively. Typical consumers include sales representatives and customer support agents who need to streamline their interactions and boost efficiency. By integrating this API, companies can improve response times and elevate customer satisfaction during the sales process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-sales-support": {
      "post": {
        "tags": [
          "Sales Support"
        ],
        "summary": "Create product sales support request.",
        "description": "This endpoint allows you to create a new sales support request for a specific product. It is designed to streamline the process of assisting customers with their product-related inquiries.",
        "operationId": "createSaleProductSalesSupport",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit product sales support information. It requires a JSON payload that contains details necessary for processing the sales support request, including relevant product IDs, customer information, and specific queries or issues that need addressing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSaleProductSalesSupportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new product sales support entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSaleProductSalesSupportResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSaleProductSalesSupportRequest": {
        "title": "Product Sales Support Request Body",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is offered.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager associated with the sale.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected value associated with the product sale.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a product sales support operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "b1d0cb3f-ebc4-5f53-9efd-f17a6256debc",
            "correlationId": "60ce6a48-4e39-5265-be03-5a43e2ebde5d",
            "idempotencyKey": "cd6fe962-dd93-51ef-ac06-8a1ac49b1480",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-396808"
            }
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected from the sale.",
            "example": 1500.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the expected amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected monetary value for a sales transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "correlation-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idempotency-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction, if applicable.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateSaleProductSalesSupportResponse_201": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Unique identifier for the relationship manager.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the associated resource.",
            "example": "RES-358806"
          },
          "status": {
            "type": "string",
            "description": "Current status of the request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product sales support operations.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "resourceId": "RES-358806",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "69ab9e0f-96c9-50f7-9061-420ae08a0b27",
            "correlationId": "60ce6a48-4e39-5265-be03-5a43e2ebde5d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with a request.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-sales-support-create-product-sales-support"
        },
        "example": "product-sales-support-create-product-sales-support"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a bearer token in the Authorization header of the request. The token should be valid and not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}