{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Document Document Services-spec",
    "description": "The Document Services Retrieval API allows users to access and retrieve metadata associated with various banking documents available in the system. This API serves financial institutions and application developers needing to integrate document management capabilities within their services. By leveraging this API, clients can efficiently search and filter document records, enhancing the user experience in managing banking documentation. Utilize this resource to streamline access to essential document information for compliance and reporting purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve document services",
        "description": "Fetch a list of available document services, which include various functionalities for handling documents in the system. This endpoint provides access to services such as document creation, editing, and storage.",
        "operationId": "listDocumentDocumentServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve document services. This should contain the necessary parameters to filter or specify the document services you wish to access.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDocumentDocumentServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of document services.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentDocumentServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDocumentDocumentServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on document services, specifically formatted as a JSON string.",
        "example": "{}"
      },
      "ListDocumentDocumentServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of documents returned by the service.",
            "example": [
              {
                "documentId": "DOC-714062",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the documents.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response structure for retrieving document services.",
        "example": {
          "items": [
            {
              "documentId": "DOC-714062",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5bfb8d4c-cff7-5ca4-8293-a717c63db072",
            "correlationId": "efbe1fc2-d983-51af-a9c6-ded1af227cd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document."
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., invoice, report)."
          },
          "classification": {
            "type": "string",
            "description": "Classification category of the document."
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class indicating how long the document should be kept."
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document."
          },
          "fileName": {
            "type": "string",
            "description": "Original filename of the document."
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document (e.g., application/pdf)."
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document for integrity verification."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document (e.g., active, archived)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document."
          }
        },
        "description": "Represents a document with various attributes."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the document list."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-search-document-services"
        },
        "example": "document-services-search-document-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a JSON Web Token (JWT) as a bearer token for securely identifying the user. This method is typically used in API requests to verify the user's identity and access permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}