{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Term Deposit-spec",
    "description": "This API facilitates the creation of term deposit accounts for banking customers. By depositing a specified amount for a fixed term, customers can enhance their savings while earning interest. Financial institutions can use this API to streamline the onboarding process for term deposits, ensuring a seamless user experience. Typical consumers include banking applications and financial services platforms that manage customer accounts and investment options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/term-deposits": {
      "post": {
        "tags": [
          "Customer Term Deposits"
        ],
        "summary": "Create a new term deposit for a specific customer.",
        "description": "This endpoint allows you to create a new term deposit for the customer identified by CUST-100045. Ensure that the required parameters are provided in the request body to successfully create the term deposit.",
        "operationId": "createCustomerTermDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new term deposit for the specified customer. It includes all the necessary information required to process the term deposit, such as the deposit amount, term length, interest rate, and other related details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerTermDepositRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Term deposit created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerTermDepositResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerTermDepositRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-428470"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the customer.",
            "example": "ACC-872551"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the specific product associated with the deposit.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount for the term deposit.",
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the term deposit in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments.",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The amount to be deposited for the term deposit.",
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The duration of the deposit in days.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions for the maturity of the term deposit.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for creating a term deposit operation for a customer.",
        "example": {
          "customerId": "CUST-428470",
          "accountId": "ACC-872551",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "requestContext": {
            "requestId": "5e2eede8-6dec-5eb9-8eb3-ea22f9a12f1a",
            "correlationId": "b2bc6d05-8d41-58fe-ab45-ddbfa4cd926f",
            "idempotencyKey": "d7bfd7c3-f615-51bc-921c-8663ba902cb6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-535610"
            }
          }
        }
      },
      "AmountCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., 'USD', 'EUR').",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount of money along with its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that links related requests.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that repeated requests yield the same result.",
            "example": "IDEMPOTENT_KEY"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-05T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing additional context information for the request."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHNL-456789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "DEVICE-001"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateCustomerTermDepositResponse_201": {
        "title": "Term Deposit Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-899964"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the customer.",
            "example": "ACC-231288"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the term deposit.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource created or related to this operation.",
            "example": "RES-157396"
          },
          "status": {
            "type": "string",
            "description": "Current status of the term deposit operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the term deposit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for the Term Deposit operation related to a specific customer.",
        "example": {
          "customerId": "CUST-899964",
          "accountId": "ACC-231288",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-157396",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "853b4ac2-88c8-5c8e-b408-7989edab47da",
            "correlationId": "b2bc6d05-8d41-58fe-ab45-ddbfa4cd926f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of this operation.",
            "example": "RESP-678910"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate related requests and responses.",
            "example": "CORR-112233"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the operation processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-create-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-create-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow instance that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Term Deposit Opening and Maturity Instruction"
        },
        "example": "Term Deposit Opening and Maturity Instruction"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, reflecting its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for this specific execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2481cd06-0773-4e78-8bc3-dd04fe454f4f"
        },
        "example": "2481cd06-0773-4e78-8bc3-dd04fe454f4f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token is provided as a JWT (JSON Web Token), which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}