{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bill Payment Transaction Generation API",
    "description": "The Bill Payment Transaction Generation API facilitates seamless processing of bill payment transactions within the financial ecosystem. This endpoint allows users to initiate new transactions, ensuring that funds are transferred efficiently to payees. Typical consumers include financial institutions, payment processors, and third-party applications that require automation of bill payments. By integrating this API, businesses can enhance their payment offerings, improve cash flow management, and deliver a better experience to their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/bill-pay-switch": {
      "post": {
        "tags": [
          "Bill Payment"
        ],
        "summary": "Initiates a bill payment switch transfer.",
        "description": "This endpoint allows users to initiate a transfer for switching bill payment methods. It streamlines the process of transferring funds to pay bills through selected payment methods, ensuring seamless and efficient transactions.",
        "operationId": "createBillPaySwitchTransfer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to generate a bill pay switch transfer operation. The information provided will dictate the parameters of the transfer request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillPaySwitchTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the response contains the result.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBillPaySwitchTransferResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBillPaySwitchTransferRequest": {
        "title": "Bill Pay Switch Transfer Request Body",
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "description": "Details of the service agreement related to the transfer.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "accounts": {
            "type": "array",
            "description": "List of accounts involved in the transfer.",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner involved in the transaction.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer initiating the transfer.",
            "example": "CUST-786921"
          },
          "experience": {
            "type": "string",
            "description": "Details regarding the user experience for the transaction.",
            "example": "STANDARD"
          },
          "language": {
            "type": "string",
            "description": "Language preference for the transaction.",
            "example": "en"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is a single-use URL.",
            "example": true
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect to after the operation.",
            "example": "STANDARD"
          },
          "cards": {
            "type": "array",
            "description": "List of credit or debit cards associated with the transfer.",
            "example": [
              {
                "title": "Banking operation completed",
                "number": "STANDARD",
                "expiry": "STANDARD",
                "cvv": "STANDARD",
                "brand": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "identity": {
            "description": "Identity information of the customer initiating the transfer.",
            "$ref": "#/components/schemas/Identity"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating a bill pay switch transfer operation.",
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-786921",
          "experience": "STANDARD",
          "language": "en",
          "singleUseUrl": true,
          "redirectUri": "STANDARD",
          "cards": [
            {
              "title": "Banking operation completed",
              "number": "STANDARD",
              "expiry": "STANDARD",
              "cvv": "STANDARD",
              "brand": "STANDARD"
            }
          ],
          "identity": {
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "zipCode": "CODE-868"
          },
          "requestContext": {
            "requestId": "ddb91bab-517f-52fd-b18f-0471e9abecf5",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "idempotencyKey": "a9575ded-64ad-569e-9823-10a68ac813cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523301"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "Language associated with the service agreement."
          },
          "acceptedDate": {
            "type": "string",
            "description": "Date on which the service agreement was accepted."
          }
        },
        "description": "Details of the service agreement associated with the bill pay switch transfer."
      },
      "Account": {
        "title": "Account",
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Unique number identifying the account."
          },
          "bankIdentifier": {
            "type": "string",
            "description": "Identifier of the bank associated with the account."
          },
          "title": {
            "type": "string",
            "description": "Title or name of the account."
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings)."
          }
        },
        "description": "Details of an account participating in the transfer."
      },
      "Card": {
        "title": "Card",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title or type of the card."
          },
          "number": {
            "type": "string",
            "description": "Card number."
          },
          "expiry": {
            "type": "string",
            "description": "Expiry date of the card."
          },
          "cvv": {
            "type": "string",
            "description": "CVV code for the card."
          },
          "brand": {
            "type": "string",
            "description": "Brand of the card (e.g., Visa, MasterCard)."
          }
        },
        "description": "Details of a payment card associated with the transfer."
      },
      "Identity": {
        "title": "Identity",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the customer."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer."
          },
          "zipCode": {
            "type": "string",
            "description": "Postal code of the customer's address."
          }
        },
        "description": "Identity details of the customer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system that made the request."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application making the request."
          },
          "channel": {
            "description": "Details of the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request."
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "CreateBillPaySwitchTransferResponse_200": {
        "title": "Bill Pay Switch Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link provided in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Bill Pay Switch operation, including a link and metadata about the response.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "8b18d155-1c5a-5b57-8696-fc20001fb353",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this request with other operations.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information associated with the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
        },
        "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, which requires clients to include a valid JSON Web Token (JWT) in the Authorization header of HTTP requests. This token is used to authenticate and authorize the user's access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}