{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Customer Cases-spec",
    "description": "The Customer Case Retrieval API enables businesses to efficiently access and list servicing customer cases. This endpoint allows users to retrieve detailed information about customer service interactions, making it invaluable for customer support representatives and management teams. Developers can use this API to integrate customer case data into applications or dashboards, enhancing visibility and responsiveness to customer needs. Typical use cases include reporting, analytics, and monitoring of service performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case": {
      "get": {
        "tags": [
          "Customer Service"
        ],
        "summary": "Retrieve customer case information.",
        "description": "This operation allows you to fetch detailed information about a specific customer case, including its current status, involved parties, and related events.",
        "operationId": "listServicingCustomerCases",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer case information. It must comply with the specified schema to ensure successful data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingCustomerCasesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer case data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingCustomerCasesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingCustomerCasesRequest": {
        "type": "string",
        "description": "A JSON string that represents the request body for retrieving a customer case operation.",
        "example": "{}"
      },
      "ListServicingCustomerCasesResponse_200": {
        "title": "Customer Case Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer case items.",
            "example": [
              {
                "customerId": "CUST-259172",
                "caseId": "CASE-670351",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for fetching customer case information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-259172",
              "caseId": "CASE-670351",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a53d0005-b131-5a37-b9f9-50b75a2a18f0",
            "correlationId": "0b2c8dd6-1085-50d7-bb00-27fbfc41020d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCaseItem": {
        "title": "Customer Case Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the customer case.",
            "example": "case-001"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request associated with the case.",
            "example": "Technical Support"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "High"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the case was created.",
            "example": "Web"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case creation.",
            "example": "Service outage"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Date and time by which the service level is due.",
            "example": "2023-10-01T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred method of contact.",
            "example": "Email"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the case record.",
            "example": "Open"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the case was last updated.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "Schema representing individual customer case details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-search-customer-case"
        },
        "example": "customer-case-search-customer-case"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism. Users can authenticate by providing a JSON Web Token (JWT) in the Authorization header of requests. Ensure that your token is valid and not expired for successful authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}