{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Outlets Management API",
    "description": "The Outlets Management API empowers businesses to efficiently manage their outlet locations by enabling the addition and configuration of new outlets in the system. This functionality is essential for retailers and service providers looking to expand their operations or enhance customer engagement across multiple locations. The API allows for the seamless integration of outlet-specific information, catering especially to businesses that require precise location management and data synchronization capabilities. Typical users include retail managers and developers working on applications that support outlet operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets": {
      "post": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Create a new outlet.",
        "description": "This endpoint allows developers to create a new outlet in the system. It requires necessary information about the outlet in the request body.",
        "operationId": "createOutlet",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new outlet. The client must provide the required outlet details in JSON format. Ensure that all mandatory fields are included as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOutletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The outlet has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOutletResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOutletRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-690468"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "The type of the outlet.",
            "example": "STANDARD"
          },
          "address": {
            "description": "The address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "The contact details for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone of the outlet.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "The currency used by the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for the outlet.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating or updating an outlet.",
        "example": {
          "merchantId": "MER-690468",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "d7076ae9-bb4a-5221-9070-6839591bd12e",
            "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
            "idempotencyKey": "4d012c7f-d0a8-5175-ac86-ead81ee28edd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-566377"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "The city where the outlet is located.",
            "example": "New York"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province where the outlet is located.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the outlet location.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "The country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "This schema represents an address structure."
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address for contacting the outlet.",
            "example": "info@coffeeshop.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number for contacting the outlet.",
            "example": "+12125552368"
          },
          "website": {
            "type": "string",
            "description": "The website URL for the outlet.",
            "example": "https://www.coffeeshop.com"
          }
        },
        "description": "This schema represents contact information for the outlet."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateOutletResponse_201": {
        "title": "Outlet Creation Response",
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the outlet.",
            "example": "MER-173069"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "The type or category of the outlet.",
            "example": "STANDARD"
          },
          "address": {
            "description": "The physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "The contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone of the outlet.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "The currency used at the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "An optional external reference associated with the outlet.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outlet.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information regarding the creation and updates to the outlet.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response body for the successful creation of an outlet.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-173069",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f0d0ab9a-1eda-5a29-9492-f1b9edb54f05",
            "correlationId": "30288efc-a722-5059-a7d1-9c9e2b85dcc4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the outlet was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user or system that created the outlet.",
            "example": "admin_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the outlet was last updated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user or system that last updated the outlet.",
            "example": "admin_user"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the outlet entity.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "This schema represents audit information for the outlet."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking requests through systems.",
            "example": "CORRELATE456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "This schema represents additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint requested by the client.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-outlet"
        },
        "example": "banking-p2m-openapi-create-outlet"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application context in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to securely transmit information between parties. The client is expected to send the token in the 'Authorization' header with the format 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}