{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Voietxverify Withstatement-spec",
    "description": "The Voietxverify Withstatement API allows businesses to efficiently submit verification requests associated with customer statements. By integrating this API, organizations can seamlessly verify customer identities and statements in real-time, enhancing the security and accuracy of their decision-making processes. This endpoint is particularly useful for financial institutions and service providers that require rigorous identity checks. Typical consumers include customer service teams and automated validation systems aiming to reduce fraud risk and streamline customer onboarding.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voietxverify/withstatement": {
      "post": {
        "tags": [
          "Customer Verification"
        ],
        "summary": "Create Voietx Verify with Statement for a specific customer",
        "description": "This operation allows you to create a Voietx verification process with an associated statement for a specified customer identified by their unique ID. Utilize this endpoint to initiate the verification process which may include validating the customer's data against certain criteria.",
        "operationId": "createVoietxverifyWithstatement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a VOI (Verification of Identity) transaction for the customer identified by CUST-100045, with additional information provided in the statement. The provided JSON must conform to the defined schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoietxverifyWithstatementRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoietxverifyWithstatementResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoietxverifyWithstatementRequest": {
        "type": "object",
        "properties": {
          "voieWithStatementData": {
            "$ref": "#/components/schemas/VoieWithStatementData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for the report containing key-value pairs.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the VoietX Verify operation with statement data.",
        "example": {
          "voieWithStatementData": {
            "assetIds": [
              "STANDARD"
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "requestContext": {
            "requestId": "676197e8-71dc-57fa-b08a-cf3c5c2d9247",
            "correlationId": "3b5f3300-04c0-5a17-b171-c5900ad99a68",
            "idempotencyKey": "4b6424e3-ce11-583c-8d14-2325e3685827",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-694576"
            }
          }
        }
      },
      "VoieWithStatementData": {
        "type": "object",
        "properties": {
          "assetIds": {
            "type": "array",
            "description": "List of asset identifiers associated with the Voie with statement.",
            "example": [
              "asset_id_123",
              "asset_id_456"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for an individual asset.",
              "example": "asset_id_123"
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Flag indicating whether earnings data should be extracted.",
            "example": false
          },
          "extractDeductions": {
            "type": "boolean",
            "description": "Flag indicating whether deductions data should be extracted.",
            "example": false
          },
          "extractDirectDeposit": {
            "type": "boolean",
            "description": "Flag indicating whether direct deposit data should be extracted.",
            "example": false
          }
        },
        "description": "Data constraints for handling Voie with statements."
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "Custom Field Label"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Custom Field Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown in the report.",
            "example": false
          }
        },
        "description": "A custom field for the report containing a label and value."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the correlation of requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operation on repeated requests.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-12T14:48:00.000Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "BackendSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request is initiated.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request including identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateVoietxverifyWithstatementResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response record.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (individual, business, etc.).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request made to retrieve this response.",
            "example": "844c50c4-1940-5298-b3b2-173f0c5b9bb6"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person or entity that made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user related to the request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the record was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title or subject of the request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with this record.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer, including personal identifiers.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any dispute associated with the request.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of response, indicating the nature of the information provided.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the request processing.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the Voietx Verify request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Voietx Verify operation related to customers, providing details like customer information, metadata, and the request status.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "844c50c4-1940-5298-b3b2-173f0c5b9bb6",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "voieWithStatementData": {
              "assetIds": [
                "STANDARD"
              ],
              "extractEarnings": true,
              "extractDeductions": true,
              "extractDirectDeposit": true
            }
          },
          "metadata": {
            "responseId": "793a9212-fb4c-5cc0-bade-893d71dd48b9",
            "correlationId": "3b5f3300-04c0-5a17-b171-c5900ad99a68",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "description": "Postal code for the end user's address.",
            "example": "62701"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the end user.",
            "example": "(555) 555-5555"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "johndoe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website or URL related to the end user, if applicable.",
            "example": "http://johndoe.com"
          }
        },
        "description": "Information about the end user involved in the request."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "description": "Postal code for the consumer's address.",
            "example": "62701"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the consumer.",
            "example": "(555) 555-5555"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "consumer@example.com"
          }
        },
        "description": "Detailed information about the consumer associated with the request."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "voieWithStatementData": {
            "description": "Data constraints for the Voie with statement operation.",
            "$ref": "#/components/schemas/VoieWithStatementData"
          }
        },
        "description": "Constraints related to the request, outlining what data can be extracted."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_id_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking.",
            "example": "correlation_id_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Datetime indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "15274a4c-f0af-4801-b3a3-e01a9e98095f"
        },
        "example": "15274a4c-f0af-4801-b3a3-e01a9e98095f"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9a4ea7e9-aa6e-4927-9195-76497d34cbf9"
        },
        "example": "9a4ea7e9-aa6e-4927-9195-76497d34cbf9"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voie-paystub-report"
        },
        "example": "open-finance-api-generate-voie-paystub-report"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the processing of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Syndicated Loan Participation and Settlement"
        },
        "example": "Syndicated Loan Participation and Settlement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9a4ea7e9-aa6e-4927-9195-76497d34cbf9"
        },
        "example": "9a4ea7e9-aa6e-4927-9195-76497d34cbf9"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication scheme, specifically designed for JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}