{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Cross Channel By Param1-spec",
    "description": "The Cross Channel Data Retrieval API enables users to efficiently access detailed information related to various banking channels based on specified parameters. By providing a specific 'param1', users, such as financial analysts and data integrators, can retrieve essential cross-channel insights necessary for informed decision-making and strategic planning. This API is particularly useful for applications that require dynamic data sourcing from multiple banking channels. Use cases include generating reports, enhancing customer insights, and developing cross-channel marketing strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service/{param1}": {
      "get": {
        "tags": [
          "Point of Service"
        ],
        "summary": "Retrieve details of a specific point of service by ID.",
        "description": "This endpoint allows you to fetch comprehensive information about a specific point of service identified by the given resource ID. It provides crucial data that may include the point of service's functionalities, status, and associated metadata for better decision-making.",
        "operationId": "getCrossChannelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the specified point-of-service resource. Ensure that the JSON structure adheres to the defined schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation on the Point of Service API.",
        "example": "{}"
      },
      "GetCrossChannelByParam1Response_200": {
        "title": "Point of Service Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction.",
            "example": "PARTY-230885"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the specific interaction.",
            "example": "INT-465912"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the interaction occurred (e.g., web, mobile).",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication used during the interaction.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal involved in the transaction.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the transaction.",
            "example": "MER-195230"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system (e.g., valid, invalid).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for operations related to point of service interactions, encapsulating details about the transaction, terminal, and metadata.",
        "example": {
          "partyId": "PARTY-230885",
          "interactionId": "INT-465912",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "terminalId": "STANDARD",
          "merchantId": "MER-195230",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "94d77df6-c17a-52a3-a8fa-a2e3988945ac",
            "correlationId": "8b260d6a-fa48-59eb-a569-877b4684e12d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the interaction across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing additional context for the interaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request. This helps in tracing the request path through various services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-get-point-of-service"
        },
        "example": "point-of-service-get-point-of-service"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This is useful for identifying which application instance processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication format, specifically tailored for JSON Web Tokens (JWT). Clients must include a valid JWT in the `Authorization` header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}