{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Activity Insight API",
    "description": "The Servicing Activity Insight API provides detailed analysis of servicing activities across multiple channels in the banking domain. This API allows users to retrieve insightful data about customer interactions, service efficiency, and channel performance. Typical consumers include business analysts and operations teams looking to optimize service delivery and enhance customer experience. By analyzing the data returned from this API, organizations can make informed decisions to improve overall servicing strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis/{param1}": {
      "get": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Fetches the servicing activity analysis for a specific resource.",
        "description": "This endpoint retrieves detailed servicing activity analysis data for the specified resource ID. It provides insights into the servicing patterns and trends relevant to the resource, allowing users to make informed decisions based on the analysis results.",
        "operationId": "getServicingActivityAnalysisById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve servicing activity analysis data for the specified resource. It includes parameters that allow for detailed filtering and customization of the data returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingActivityAnalysisByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the servicing activity analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingActivityAnalysisByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingActivityAnalysisByIdRequest": {
        "type": "string",
        "description": "This schema represents the payload body for the servicing activity analysis request in JSON format.",
        "example": "{}"
      },
      "GetServicingActivityAnalysisByIdResponse_200": {
        "title": "Cross-Channel Servicing Activity Analysis Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-251480"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the specific interaction.",
            "example": "INT-403254"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred (e.g., web, mobile, etc.).",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used for the interaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive, etc.).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The unique identifier used to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp indicating when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographical region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "9b2725be-1f77-50d2-ae4b-a829cd4616b4",
              "correlationId": "b65d0355-619f-5126-a9c6-5c46745120cc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the Cross-Channel Servicing Activity Analysis API call.",
        "example": {
          "partyId": "PARTY-251480",
          "interactionId": "INT-403254",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9b2725be-1f77-50d2-ae4b-a829cd4616b4",
            "correlationId": "b65d0355-619f-5126-a9c6-5c46745120cc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-get-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-get-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT) to provide secure access to the API. Clients must include the JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}