{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Consumer Loan Application-spec",
    "description": "The Consumer Loan Application Submission API enables financial institutions to efficiently process consumer loan applications. This endpoint allows authorized users to submit new loan application requests on behalf of customers, ensuring a streamlined application process. Typical consumers of this API include banks and lending companies looking to automate and manage customer loan requests. By leveraging this API, organizations can enhance their operational efficiency and provide a better customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/*/consumer-loan-applications": {
      "post": {
        "tags": [
          "Customer Loan Applications"
        ],
        "summary": "Create a new consumer loan application",
        "description": "This endpoint allows you to create a new consumer loan application for a specified customer. It requires the necessary application details and will return the created application information upon success.",
        "operationId": "create*ConsumerLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new consumer loan application on behalf of a specific customer. The request must include the necessary details about the loan application, such as the amount, term, and purpose of the loan. Ensure that all required fields are populated according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*ConsumerLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The consumer loan application was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*ConsumerLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*ConsumerLoanApplicationRequest": {
        "title": "Consumer Loan Application Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-617753"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-721590"
          },
          "productCode": {
            "type": "string",
            "description": "The code that identifies the product for the loan application.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency details for the loan application.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which repayments are to be made.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of a request body for creating a consumer loan application.",
        "example": {
          "customerId": "CUST-617753",
          "accountId": "ACC-721590",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "38a61c4a-0562-4458-9a06-cde0053564bd",
            "correlationId": "9e8df5ed-de7b-4f05-83b9-831fda402fbe",
            "idempotencyKey": "def522d8-8615-4c72-baae-c39514b12c4e",
            "requestedAt": "2026-08-27T23:00:48.036Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-634305"
            }
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of money being borrowed.",
            "format": "int32",
            "example": 10000
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amount is denominated.",
            "example": "USD"
          }
        },
        "description": "The schema representing the principal amount and currency for the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates multiple requests and responses.",
            "example": "corr-xyz-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once.",
            "example": "idemp-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2021-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contains metadata and tracking information for the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "Create*ConsumerLoanApplicationResponse_201": {
        "title": "Consumer Loan Application Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-584900"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the customer.",
            "example": "ACC-431436"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the loan application.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the application.",
            "example": "RES-440356"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata related to the loan application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response data for a consumer loan application operation.",
        "example": {
          "customerId": "CUST-584900",
          "accountId": "ACC-431436",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-440356",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4cee9841-0ced-5073-88cf-39a392bb9e57",
            "correlationId": "5bf7f048-7b11-55c6-8f7f-5b9ed50f0ea4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated for the loan application.",
            "example": "resp78910"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the process flow across multiple systems.",
            "example": "corrabc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-03T12:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the loan application processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information regarding the loan application process."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "14dd6bc010e4240f"
        },
        "example": "14dd6bc010e4240f"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "468edd2a-1158-4171-a450-77d0d6cc4275"
        },
        "example": "468edd2a-1158-4171-a450-77d0d6cc4275"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4d7a213d-081c-408d-aff0-1626ff439eb5"
        },
        "example": "4d7a213d-081c-408d-aff0-1626ff439eb5"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-create-consumer-loan"
        },
        "example": "consumer-loan-create-consumer-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier representing the workflow instance related to the loan application process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-033"
        },
        "example": "WF-033"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Auto and Consumer Loan Origination"
        },
        "example": "Auto and Consumer Loan Origination"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c9f0c6c1-6df7-47bf-a229-fd8c69114166"
        },
        "example": "c9f0c6c1-6df7-47bf-a229-fd8c69114166"
      }
    }
  }
}