{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Generate Fix-v5-spec",
    "description": "MICROSERVICE-PROD-Create Connect Generate Fix-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/fix": {
      "post": {
        "operationId": "createConnectGenerateFix",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectGenerateFixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectGenerateFixResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectGenerateFixRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-301596"
          },
          "institutionLoginId": {
            "type": "string",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "example": true
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "e0f784e6-c9f8-595c-95ab-89d6cd9ad72c",
              "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
              "idempotencyKey": "ca83fb80-fa9c-5dad-a3d3-d093588167ce",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-427595"
              }
            }
          }
        },
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-301596",
          "institutionLoginId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "singleUseUrl": true,
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "e0f784e6-c9f8-595c-95ab-89d6cd9ad72c",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "idempotencyKey": "ca83fb80-fa9c-5dad-a3d3-d093588167ce",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-427595"
            }
          }
        }
      },
      "CreateConnectGenerateFixResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "02b18d61-26ea-536b-b2ae-7c87ed2bc39b",
              "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "02b18d61-26ea-536b-b2ae-7c87ed2bc39b",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-fix-connect-url"
        },
        "example": "open-finance-api-generate-fix-connect-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}