{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fiduciary Agreement Management API",
    "description": "The Fiduciary Agreement Management API facilitates the creation and management of fiduciary agreements within banking services. It allows financial institutions to establish and document fiduciary relationships, enabling better compliance and oversight in deposit and lending activities. This API is primarily used by banking personnel who handle fiduciary responsibilities, ensuring that agreements are accurately recorded and accessible. Key operations include initiating new agreements and managing existing ones, streamlining workflows in fiduciary contexts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a fiduciary agreement for deposit lending.",
        "description": "This endpoint allows users to create a new fiduciary agreement within the deposit lending framework. The agreement defines the terms under which the fiduciary will manage the funds on behalf of the parties involved, ensuring compliance with regulations and mutual understanding.",
        "operationId": "createFiduciaryAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a fiduciary agreement for deposit lending. It requires specific details about the parties involved, the terms of the agreement, and any relevant conditions to ensure proper processing and compliance with applicable regulations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFiduciaryAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The fiduciary agreement has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFiduciaryAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFiduciaryAgreementRequest": {
        "required": [
          "accountId",
          "customerId",
          "principal",
          "productCode",
          "repaymentFrequency",
          "requestContext",
          "termMonths"
        ],
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-317701"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "ACC-270608"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the lending product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency for the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a fiduciary agreement in deposit lending operations.",
        "example": {
          "customerId": "CUST-317701",
          "accountId": "ACC-270608",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "a43e6d4d-b29f-5b86-974d-474a1ddf6af9",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "idempotencyKey": "07d66d4f-59b0-592d-9522-6200b629432f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-953429"
            }
          }
        }
      },
      "Principal": {
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal loan.",
            "example": 15000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the loan amount.",
            "example": "USD"
          }
        },
        "description": "The principal amount and currency for the loan."
      },
      "RequestContext": {
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ7890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests.",
            "example": "CORR12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to identify idempotent requests.",
            "example": "IDEMO-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "MobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application initiating the request.",
            "example": "LendingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for tracking the request."
      },
      "Channel": {
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CHNL9876"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., WEB, MOBILE).",
            "example": "MOBILE"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEV123456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateFiduciaryAgreementResponse_201": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-409369"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the fiduciary agreement.",
            "example": "ACC-770499"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product related to the fiduciary agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource involved in the agreement.",
            "example": "RES-108668"
          },
          "status": {
            "type": "string",
            "description": "The current status of the fiduciary agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the fiduciary agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "resp98765"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier for correlating requests and responses.",
                "example": "corr54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the fiduciary agreement took place.",
                "example": "us-west-1"
              }
            },
            "description": "Additional information related to the fiduciary agreement response.",
            "example": {
              "responseId": "fdadbd29-4636-5001-afd3-a9396c3e98ae",
              "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response object for the fiduciary agreement operations in the deposit lending system.",
        "example": {
          "customerId": "CUST-409369",
          "accountId": "ACC-770499",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-108668",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fdadbd29-4636-5001-afd3-a9396c3e98ae",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint where the request was directed. This is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-create-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-create-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime environment of the application processing the request. This helps in identifying the version and capabilities of the app.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token as part of the HTTP authorization header to access protected resources. The token should adhere to the JWT (JSON Web Token) format, which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}