{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m Reconciliation Run By Reconciliation Run Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update P2m Reconciliation Run By Reconciliation Run Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{reconciliationRunId}": {
      "patch": {
        "operationId": "updateP2mReconciliationRunByReconciliationRunId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/reconciliationRunId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mReconciliationRunByReconciliationRunIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mReconciliationRunByReconciliationRunIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mReconciliationRunByReconciliationRunIdRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "1df93188-614a-5a56-aace-1b8f2dacb19f",
              "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
              "idempotencyKey": "f7d0d9e6-238c-5efd-b983-b3dbf70cbb23",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-733711"
              }
            }
          }
        },
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "1df93188-614a-5a56-aace-1b8f2dacb19f",
            "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
            "idempotencyKey": "f7d0d9e6-238c-5efd-b983-b3dbf70cbb23",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-733711"
            }
          }
        }
      },
      "UpdateP2mReconciliationRunByReconciliationRunIdResponse_200": {
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "example": "STANDARD"
          },
          "sourceA": {
            "type": "string",
            "example": "STANDARD"
          },
          "sourceB": {
            "type": "string",
            "example": "STANDARD"
          },
          "businessDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-478392"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "summary": {
            "type": "object",
            "properties": {
              "sourceACount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "sourceBCount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "matchedCount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "unmatchedSourceACount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "unmatchedSourceBCount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "amountMismatchCount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "duplicateCount": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "totalSourceA": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "totalSourceB": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "netDifference": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "sourceACount": 1,
              "sourceBCount": 1,
              "matchedCount": 1,
              "unmatchedSourceACount": 1,
              "unmatchedSourceBCount": 1,
              "amountMismatchCount": 1,
              "duplicateCount": 1,
              "totalSourceA": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "totalSourceB": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "netDifference": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "startedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "completedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "d361d683-83fd-539c-aa94-cad8fea43ae8",
              "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "reconciliationRunId": "STANDARD",
          "sourceA": "STANDARD",
          "sourceB": "STANDARD",
          "businessDate": "2026-09-15",
          "merchantId": "MER-478392",
          "currency": "USD",
          "matchingStrategy": "STANDARD",
          "status": "ACTIVE",
          "summary": {
            "sourceACount": 1,
            "sourceBCount": 1,
            "matchedCount": 1,
            "unmatchedSourceACount": 1,
            "unmatchedSourceBCount": 1,
            "amountMismatchCount": 1,
            "duplicateCount": 1,
            "totalSourceA": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "totalSourceB": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netDifference": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "startedAt": "2026-09-15T14:30:00Z",
          "completedAt": "2026-09-15T14:30:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "d361d683-83fd-539c-aa94-cad8fea43ae8",
            "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "reconciliationRunId": {
        "name": "reconciliationRunId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-reconciliation-run"
        },
        "example": "banking-p2m-openapi-update-reconciliation-run"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}