{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Consumer Service Consumer Advisory Service-spec",
    "description": "The Consumer Advisory Service API enables businesses to initiate the process of creating consumer advisory services tailored for their clientele. This API facilitates interactions that help organizations manage consumer needs effectively. Typical consumers include financial institutions and advisory service providers looking to enhance their customer engagement through personalized services. By leveraging this API, users can streamline the creation and integration of advisory solutions to improve overall consumer satisfaction and ensure compliance with industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/consumer-advisory-services": {
      "post": {
        "tags": [
          "Consumer Services"
        ],
        "summary": "Create a new consumer advisory service.",
        "description": "This endpoint allows the creation of a new consumer advisory service, enabling consumers to receive tailored advice based on their specific needs and inquiries. This service is designed to enhance the consumer experience and provide valuable insights.",
        "operationId": "createConsumerServiceConsumerAdvisoryService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating consumer advisory services, containing the necessary data to process the request. This is essential for ensuring that the advisory services are tailored to the consumer\u2019s needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerServiceConsumerAdvisoryServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully. The request has resulted in a new resource being created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerServiceConsumerAdvisoryServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerServiceConsumerAdvisoryServiceRequest": {
        "title": "Consumer Advisory Service Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-150803"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "560c457a-9f57-5ce7-96ce-05a55eb4e678"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount related to the service request, including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the service was requested.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a consumer advisory service request.",
        "example": {
          "customerId": "CUST-150803",
          "serviceRequestId": "560c457a-9f57-5ce7-96ce-05a55eb4e678",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "1c270638-46da-5975-8c14-0e9436777f8a",
            "correlationId": "db6376a2-6583-5802-9048-f766fe76b20c",
            "idempotencyKey": "0c4ddf14-66aa-5ff5-afe2-047a446ca188",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-406967"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount Information",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Numerical value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "REQ12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "CORR67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "IDEMP12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-03T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context details of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "CreateConsumerServiceConsumerAdvisoryServiceResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-429761"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "fce2c92d-9553-5caa-9e7e-8d0ee6d0298a"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific product requested.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the service request.",
            "example": "RES-218106"
          },
          "status": {
            "type": "string",
            "description": "Current status of the service request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the service request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the consumer advisory services operation.",
        "example": {
          "customerId": "CUST-429761",
          "serviceRequestId": "fce2c92d-9553-5caa-9e7e-8d0ee6d0298a",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-218106",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cbd7504e-6c64-55a5-8c6e-9036b0dbf417",
            "correlationId": "db6376a2-6583-5802-9048-f766fe76b20c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests and responses.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request, useful for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-advisory-services-create-consumer-advisory-services"
        },
        "example": "consumer-advisory-services-create-consumer-advisory-services"
      },
      "x-runtime-app": {
        "description": "Identifier for the runtime application processing the request, which can help in monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a valid JWT (JSON Web Token) to be included in the Authorization header of the HTTP request. This token is typically issued by an authentication server and must be sent as part of the request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}