{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Foreign Exchange Trades Management API",
    "description": "The Foreign Exchange Trades Management API enables businesses to initiate and manage foreign exchange trades for their customers. With this API, financial institutions can submit trade requests that reflect current market conditions and client needs. Typical consumers of this API include banking and investment firms looking to streamline their foreign exchange operations. By leveraging this API, businesses can enhance their trading efficiency and improve customer service through timely execution of transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/foreign-exchange-trades": {
      "post": {
        "tags": [
          "Foreign Exchange Trades"
        ],
        "summary": "Create a new foreign exchange trade for a specific customer.",
        "description": "This endpoint allows users to create a new foreign exchange trade for the customer with the given ID. Ensure that all required fields are populated in the request body to successfully create a trade.",
        "operationId": "createForeignExchangeTradeForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new foreign exchange trade for the specified customer. It should contain all necessary details regarding the trade such as currency pairs, amounts, and timestamps.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateForeignExchangeTradeForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The foreign exchange trade was created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateForeignExchangeTradeForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateForeignExchangeTradeForCustomerCUST100045Request": {
        "title": "Foreign Exchange Trade Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-937799"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "a46bb9f2-4698-553b-9135-4005d744faed"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the trade.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount of currency involved in the trade.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the trade was requested.",
            "example": "2026-09-15"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "The currency from which the trade is initiated.",
            "example": "USD"
          },
          "targetCurrency": {
            "type": "string",
            "description": "The currency to which the trade is directed.",
            "example": "USD"
          },
          "quotedRate": {
            "type": "number",
            "description": "The rate quoted for the trade.",
            "example": 100.0
          },
          "cashDenominations": {
            "type": "array",
            "description": "The denominations of cash to be used in the trade.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "The value of a cash denomination.",
              "format": "int32",
              "example": 50
            }
          },
          "requestContext": {
            "description": "The context of the request including IDs and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for initiating a foreign exchange trade operation.",
        "example": {
          "customerId": "CUST-937799",
          "serviceRequestId": "a46bb9f2-4698-553b-9135-4005d744faed",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "sourceCurrency": "USD",
          "targetCurrency": "USD",
          "quotedRate": 100.0,
          "cashDenominations": [
            1
          ],
          "requestContext": {
            "requestId": "9eb567c5-7fda-5fd9-abe4-d434f536c32b",
            "correlationId": "0a282aea-c9d4-5413-82aa-07934efcc012",
            "idempotencyKey": "173d0769-099c-5a2c-b67e-b120246aa6f6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-803996"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency for a financial transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests.",
            "example": "CORR-100045"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotence of requests.",
            "example": "IDEMP-100045"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the transaction was initiated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata related to the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHAN-100045"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the transaction.",
            "example": "DEVICE-100045"
          }
        },
        "description": "Details regarding the channel used for the transaction."
      },
      "CreateForeignExchangeTradeForCustomerCUST100045Response_201": {
        "title": "Foreign Exchange Trade Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-327644"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "5848743d-062a-5ba3-b5d2-bd1b037f6c2a"
          },
          "productCode": {
            "type": "string",
            "description": "The code for the product associated with the trade.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the trade.",
            "example": "RES-727252"
          },
          "status": {
            "type": "string",
            "description": "The current status of the trade operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the trade was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the trade.",
            "$ref": "#/components/schemas/TradeMetadata"
          }
        },
        "description": "This schema represents the response structure for foreign exchange trade operations.",
        "example": {
          "customerId": "CUST-327644",
          "serviceRequestId": "5848743d-062a-5ba3-b5d2-bd1b037f6c2a",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-727252",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "09fe89f0-7094-51e3-9a10-c22ad8df411b",
            "correlationId": "0a282aea-c9d4-5413-82aa-07934efcc012",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeMetadata": {
        "title": "Trade Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests.",
            "example": "CORR-445566"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata information pertaining to the trade."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint handling this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-create-currency-exchange"
        },
        "example": "currency-exchange-create-currency-exchange"
      },
      "x-runtime-app": {
        "description": "Indicates the runtime application responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "Identifier for the workflow process associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-058"
        },
        "example": "WF-058"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "FX Quote Trade and Settlement"
        },
        "example": "FX Quote Trade and Settlement"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c1c2497e-6b26-4c37-91d6-eb23f02a69a2"
        },
        "example": "c1c2497e-6b26-4c37-91d6-eb23f02a69a2"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication. The token should be a valid JSON Web Token (JWT) which is passed in the 'Authorization' header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}