{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Business Analysi Market Research-spec",
    "description": "The Business Analysis Market Research API enables organizations to gather and analyze key market data that informs strategic decision-making. This endpoint facilitates the creation of comprehensive research specifications, allowing users to define parameters and scope for market studies. Typical consumers include business analysts and market researchers looking to understand market trends and consumer needs effectively. By leveraging this API, businesses can enhance their market insights and drive informed strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-research": {
      "post": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Conduct market research for business analysis.",
        "description": "This endpoint facilitates the submission of market research data to aid in business analysis, allowing organizations to gather insights and make informed decisions based on comprehensive market trends and consumer behaviors.",
        "operationId": "createBusinessAnalysiMarketResearch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for submitting market research data. It should contain all necessary information to analyze the current market trends and insights.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessAnalysiMarketResearchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Market research resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessAnalysiMarketResearchResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessAnalysiMarketResearchRequest": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the market analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment being analyzed.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario for the market analysis.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-11111"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking related requests.",
                "example": "corr-22222"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure the request is idempotent.",
                "example": "idempotency-key-33333"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-01-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "CRM"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Name of the application that made the request.",
                "example": "MarketAnalysisApp"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "1886d869-01ff-553b-9ccf-9fa81aeac911",
              "correlationId": "d42d7998-4d7c-59a6-8124-c6c8f0c5951a",
              "idempotencyKey": "39fb151c-1171-53f4-9945-40d146d9b7c6",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-219812"
              }
            }
          }
        },
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "requestContext": {
            "requestId": "1886d869-01ff-553b-9ccf-9fa81aeac911",
            "correlationId": "d42d7998-4d7c-59a6-8124-c6c8f0c5951a",
            "idempotencyKey": "39fb151c-1171-53f4-9945-40d146d9b7c6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-219812"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-44444"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "device-55555"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateBusinessAnalysiMarketResearchResponse_201": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the business analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the analysis.",
            "example": "RES-799925"
          },
          "status": {
            "type": "string",
            "description": "Current status of the business analysis.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the analysis was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the business analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a market research business analysis operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "resourceId": "RES-799925",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cb4eadb3-b3a6-5f3e-8ecd-d17afe701589",
            "correlationId": "d42d7998-4d7c-59a6-8124-c6c8f0c5951a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata for the business analysis response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that processed the request, useful for debugging and tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-research-create-market-research"
        },
        "example": "market-research-create-market-research"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that executed the request, helpful for instance identification.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which employs a JSON Web Token (JWT) for authenticating users. Clients must include the JWT in the Authorization header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}