{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Statement Management API",
    "description": "The Customer Statement Management API enables businesses to generate and manage customer statements efficiently. This endpoint allows for the initiation of statement creation for a specific customer identified by their customer ID. Typical consumers of this API include finance and accounting teams looking to automate their reporting processes. Integration with this API streamlines financial communications and enhances customer engagement by providing timely and accurate statement delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/statement": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new statement for a customer.",
        "description": "This endpoint allows you to generate a new statement for a specific customer identified by their unique ID. Ensure that the customer ID is valid and that the required information is included in the request body.",
        "operationId": "createCustomerStatement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update the statement for the customer with ID CUST-100045. It should contain all necessary details regarding the statement, including any relevant financial information and adjustments required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerStatementRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerStatementResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerStatementRequest": {
        "title": "Statement Operations Request Body",
        "type": "object",
        "properties": {
          "statementReportData": {
            "description": "Information related to the statement report including account ID and statement index.",
            "$ref": "#/components/schemas/StatementReportData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields associated with the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request such as identifiers and timings.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for a statement operations operation, encapsulating the necessary report data, custom fields, and request context.",
        "example": {
          "statementReportData": {
            "accountId": 1,
            "statementIndex": 1
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "requestContext": {
            "requestId": "2296ded4-4c08-54c8-b888-c5d80688236b",
            "correlationId": "aaf06f3c-abe3-51b1-a26b-3c1382657443",
            "idempotencyKey": "e9cec981-ffbb-5192-9261-21c78b6888f4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-319255"
            }
          }
        }
      },
      "StatementReportData": {
        "title": "Statement Report Data",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "integer",
            "description": "Identifier for the account associated with the statement.",
            "format": "int32",
            "example": 1
          },
          "statementIndex": {
            "type": "integer",
            "description": "Index of the statement in relation to other statements.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Data related to the reporting of statements."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicator of whether the custom field should be shown.",
            "example": false
          }
        },
        "description": "A custom field for the report containing label and value pairs."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request, including identifiers and source details."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request, including device details."
      },
      "CreateCustomerStatementResponse_202": {
        "title": "Customer Statement Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the statement.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The identifier of the request related to this statement.",
            "example": "bcfebd4e-4a7b-5698-bfc2-f3b6e5d84d6b"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who requested the statement.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user associated with the statement.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the statement was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the statement.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the statement.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Details regarding any disputes associated with the statement.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the statement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the statement.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints and additional data related to the statement.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for a customer statement operation. It includes various attributes related to the customer, request details, and metadata.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "bcfebd4e-4a7b-5698-bfc2-f3b6e5d84d6b",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "statementReportData": {
              "accountId": 1,
              "statementIndex": 1
            },
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD"
              }
            ]
          },
          "metadata": {
            "responseId": "211820a1-bfdc-53ea-a339-997ae7101096",
            "correlationId": "aaf06f3c-abe3-51b1-a26b-3c1382657443",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Details",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City of the end user.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State of the end user.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(555) 555-5555"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "enduser@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL related to the end user.",
            "example": "https://enduserwebsite.com"
          }
        },
        "description": "Information about the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "CUST123"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer (if applicable).",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City of the consumer.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "State of the consumer.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer.",
            "example": "67890"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "(555) 555-1234"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "consumer@example.com"
          }
        },
        "description": "Information about the consumer."
      },
      "Constraints": {
        "title": "Statement Constraints",
        "type": "object",
        "properties": {
          "statementReportData": {
            "description": "Data related to the report of the statement.",
            "$ref": "#/components/schemas/StatementReportData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the report.",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          }
        },
        "description": "Constraints related to statement reporting and custom fields."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the custom field.",
            "example": "Custom Value"
          }
        },
        "description": "A custom field used in statement reporting."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the statement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-statement-report"
        },
        "example": "open-finance-api-generate-statement-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}