{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Trade Banking By Param1-spec",
    "description": "The Direct Debit Mandate Management API allows businesses to update trade banking information for direct debit mandates using specific parameters. This operation primarily interacts with financial records and parameters that define banking mandates, enabling users to ensure accurate and efficient management of their direct debit processes. Common consumers of this API include financial institutions and businesses managing direct payments. By utilizing this API, users can streamline their banking operations and maintain up-to-date mandate information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit-mandate/{param1}": {
      "patch": {
        "tags": [
          "Direct Debit Mandate"
        ],
        "summary": "Update a Direct Debit Mandate",
        "description": "This endpoint allows you to update the details of a specific direct debit mandate identified by its resource ID. Ensure all necessary information is provided to successfully process the update.",
        "operationId": "updateTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the Direct Debit Mandate details for RES-100045. It consists of the necessary fields that need to be modified according to the user's request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTradeBankingByParam1Request": {
        "title": "Direct Debit Mandate Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be applied to the direct debit mandate.",
            "$ref": "#/components/schemas/DirectDebitMandateChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change made to the mandate.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating a direct debit mandate in the Trade Banking system.",
        "example": {
          "changes": {
            "mandateId": "2026-09-15",
            "debtorAccountId": "ACC-633542",
            "creditorSchemeId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b3cb2d12-280c-5138-867e-046b2fb9bbbe",
            "correlationId": "a0d8a45a-073d-5ac2-af76-1b01a13e604b",
            "idempotencyKey": "0ebf775a-65bb-567c-b8dc-876cf75592fb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-475071"
            }
          }
        }
      },
      "DirectDebitMandateChanges": {
        "title": "Direct Debit Mandate Changes",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the direct debit mandate.",
            "example": "mandate-12345"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account associated with the mandate.",
            "example": "debtor-account-67890"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor scheme associated with the mandate.",
            "example": "creditor-scheme-abc123"
          }
        },
        "description": "Details of the changes being requested for a direct debit mandate."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-78901"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-56789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "idempotency-key-1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-04T09:58:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "TradeBankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system making the request.",
            "example": "MandateManagerApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request such as web, mobile, etc.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateTradeBankingByParam1Response_200": {
        "title": "Direct Debit Mandate Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the operations related to the Direct Debit Mandate.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e222354d-cafb-551c-8844-0649189cf2fd",
            "correlationId": "a0d8a45a-073d-5ac2-af76-1b01a13e604b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abcd-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "xyz-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "EU"
          }
        },
        "description": "Metadata structure containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-update-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-update-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for monitoring and support.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}