{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Direct Debit Mandate-spec",
    "description": "The Direct Debit Mandate Creation API enables the establishment of direct debit mandates for specific banking accounts. This functionality allows businesses to facilitate automated payment processes by creating and managing mandates tied to their accounts. It is particularly useful for service providers that require recurring payments, such as utility companies and subscription services. Typical consumers of this API include financial institutions and e-commerce platforms looking to streamline payment operations. Leverage this API to ensure efficient direct debit setups and enhance customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/accounts/{accountId}/direct-debit-mandates": {
      "post": {
        "tags": [
          "Direct Debit Mandates"
        ],
        "summary": "Create a Direct Debit Mandate for a specified account.",
        "description": "This endpoint allows you to create a new Direct Debit Mandate associated with the specified account. Ensure that the account exists and the necessary details are provided in the request body to successfully create the mandate.",
        "operationId": "createAccountDirectDebitMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new direct debit mandate for the specified account. It should contain all the necessary information required to set up the mandate, including payment details and authorization. Please ensure that the schema aligns with the required structure for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountDirectDebitMandateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new direct debit mandate.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountDirectDebitMandateResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountDirectDebitMandateRequest": {
        "title": "Direct Debit Mandate Request",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the direct debit mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-102511"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor's scheme.",
            "example": "STANDARD"
          },
          "collectionAmount": {
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "Date when the collection is scheduled.",
            "example": "2026-09-15"
          },
          "frequency": {
            "type": "string",
            "description": "Frequency of collection (e.g., daily, weekly, monthly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to create a direct debit mandate.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-102511",
          "creditorSchemeId": "STANDARD",
          "collectionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionDate": "2026-09-15",
          "frequency": "STANDARD",
          "requestContext": {
            "requestId": "b2ba6c15-a7ae-57a9-b3d3-0608cc1cfb04",
            "correlationId": "379135b6-830d-5c8d-9e80-55af28a99b53",
            "idempotencyKey": "f9e1cb85-b1e1-5820-aeca-404b43f8318d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-726954"
            }
          }
        }
      },
      "CollectionAmount": {
        "title": "Collection Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to be collected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the collection amount (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing the amount to be collected and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel through which the request was made."
      },
      "CreateAccountDirectDebitMandateResponse_201": {
        "title": "Direct Debit Mandate Response",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "A unique identifier for the direct debit mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier of the debtor's account associated with the mandate.",
            "example": "ACC-373937"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The identifier of the creditor scheme associated with the mandate.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier for the operation performed on the mandate.",
            "example": "RES-482301"
          },
          "status": {
            "type": "string",
            "description": "The current status of the direct debit mandate.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the mandate was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the mandate operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object that contains details about a direct debit mandate operation.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-373937",
          "creditorSchemeId": "STANDARD",
          "resourceId": "RES-482301",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "64429ca9-7906-5335-a65d-2a094179477e",
            "correlationId": "379135b6-830d-5c8d-9e80-55af28a99b53",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Mandate Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates related requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the mandate took place.",
            "example": "EU"
          }
        },
        "description": "Additional information related to the direct debit mandate operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-create-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-create-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "Specifies the application runtime environment in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Provides a unique identifier for the workflow related to this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-016"
        },
        "example": "WF-016"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Direct Debit Mandate Setup and Collection"
        },
        "example": "Direct Debit Mandate Setup and Collection"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9cc3f041-ff6f-4d71-8f6f-28c67a58e263"
        },
        "example": "9cc3f041-ff6f-4d71-8f6f-28c67a58e263"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as a bearer token for authorization. Clients must include a valid token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}