{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Unit Trust Administration API",
    "description": "The Unit Trust Administration API facilitates the management and retrieval of unit trust data for financial institutions. This endpoint allows authorized users to access current market operations related to unit trusts, including performance metrics and transaction histories. Typical consumers include fund managers and financial analysts who require up-to-date information for compliance and decision-making purposes. By utilizing this API, users can efficiently integrate unit trust administration functions into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/unit-trust-administration": {
      "get": {
        "tags": [
          "Unit Trust Management"
        ],
        "summary": "Retrieve Unit Trust Administration information.",
        "description": "This endpoint allows users to fetch detailed information related to Unit Trust Administration operations, facilitating better management and insights into unit trust activities.",
        "operationId": "getUnitTrustAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to unit trust administration operations. It must adhere to the specified schema and contain relevant parameters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUnitTrustAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnitTrustAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetUnitTrustAdministrationRequest": {
        "title": "Unit Trust Administration Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Unit Trust Administration Operations GET endpoint.",
        "example": "{}"
      },
      "GetUnitTrustAdministrationResponse_200": {
        "title": "Unit Trust Administration Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of fund items associated with the unit trust administration operations.",
            "example": [
              {
                "fundId": "STANDARD",
                "shareClassId": "STANDARD",
                "valuationDate": "2026-09-15",
                "netAssetValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "unitsOutstanding": 1,
                "administratorId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FundItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the fund items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for unit trust administration operations, including details of fund items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "fundId": "STANDARD",
              "shareClassId": "STANDARD",
              "valuationDate": "2026-09-15",
              "netAssetValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "unitsOutstanding": 1,
              "administratorId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "58e88e03-04f0-5533-96b2-dd3bd3e3e13e",
            "correlationId": "d53f65b6-9c7b-583c-9ca9-cbed528ddae5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundItem": {
        "title": "Fund Item",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier for the fund.",
            "example": "string"
          },
          "shareClassId": {
            "type": "string",
            "description": "Unique identifier for the share class of the fund.",
            "example": "string"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date on which the fund's assets are valued.",
            "example": "string"
          },
          "netAssetValue": {
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "Total number of units currently outstanding for the fund.",
            "format": "int32",
            "example": 0
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the administrator managing the fund.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the fund record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the fund item was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a fund item within unit trust administration operations."
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of net asset value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the net asset value is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the net asset value of a fund item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests and responses across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that has been accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "unit-trust-administration-search-unit-trust-administration"
        },
        "example": "unit-trust-administration-search-unit-trust-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication as defined in RFC 6750. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}