{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Acceptance API",
    "description": "The Dispute Acceptance API allows users to process and accept disputes within the system. By targeting a specific dispute identified by the disputeId, this endpoint facilitates the resolution of disputes efficiently, thereby enhancing customer relations and satisfaction. This API is particularly useful for financial institutions and service providers who regularly manage user disputes or chargebacks. Developers can integrate this functionality into their applications to automate dispute acceptance workflows, reducing manual intervention and ensuring timely processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}/accept": {
      "post": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Accept a specific dispute.",
        "description": "This endpoint allows the user to accept a dispute identified by the unique resource identifier RES-100045. Upon acceptance, the dispute will be processed accordingly, and notifications will be updated.",
        "operationId": "acceptDispute_RES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to accept a dispute related to the specified resource ID. It includes necessary information as defined in the schema to process the acceptance of the dispute.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptDispute_RES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The dispute has been accepted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptDispute_RES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "AcceptDispute_RES100045Request": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for accepting the dispute.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for accepting a dispute.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "b21ae907-de21-5c7e-b7fc-0090ccf76273",
            "correlationId": "728ae7b6-0bc0-54fc-9510-3508920c8cd9",
            "idempotencyKey": "f4eb4993-8a95-507b-bd33-4de3791573fa",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-840328"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing details about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema defining the channel details."
      },
      "AcceptDispute_RES100045Response_200": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "The unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment related to the dispute.",
            "example": "PAY-280249"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant involved in the dispute.",
            "example": "MER-335950"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount that is being disputed.",
            "$ref": "#/components/schemas/Amount"
          },
          "customerStatement": {
            "type": "string",
            "description": "A statement from the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The timestamp when the response to the dispute is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "Array of evidence related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "description": "Details about the financial impact of the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details about the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information related to the dispute.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata information related to the dispute.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation that accepts a dispute.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-280249",
          "merchantId": "MER-335950",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1b24e10b-f89a-5941-8b66-ea1bf5785a98",
            "correlationId": "728ae7b6-0bc0-54fc-9510-3508920c8cd9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "An object representing an amount with currency."
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the evidence.",
            "example": "EVIDENCE12345"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file containing the evidence.",
            "example": "transaction_receipt.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "The MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "The size of the evidence file in bytes.",
            "format": "int32",
            "example": 1024
          },
          "fileUrl": {
            "type": "string",
            "description": "URL where the evidence file can be accessed.",
            "example": "https://example.com/evidence/transaction_receipt.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "The SHA-256 hash of the file for integrity verification.",
            "example": "abc123def456..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "The timestamp when the evidence was uploaded.",
            "example": "2023-10-14T10:00:00Z"
          }
        },
        "description": "An object representing evidence related to the dispute."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "The amount that was debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "Array of fees that are associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "The amount held in reserve due to the dispute.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details regarding the financial impact of the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of the fee.",
            "example": "Administration fee"
          },
          "amount": {
            "description": "The monetary amount of the fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "The entity responsible for the fee.",
            "example": "Merchant"
          }
        },
        "description": "An object representing a fee associated with the dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The outcome of the dispute resolution.",
            "example": "Refund issued"
          },
          "resolvedAmount": {
            "description": "The amount that was resolved in the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute resolution outcome.",
            "example": "Customer satisfaction"
          },
          "resolvedAt": {
            "type": "string",
            "description": "The timestamp when the dispute was resolved.",
            "example": "2023-10-15T12:00:00Z"
          }
        },
        "description": "Details regarding the resolution of the dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the dispute was created.",
            "example": "2023-10-14T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the dispute.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the dispute was last updated.",
            "example": "2023-10-15T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the dispute.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information regarding the dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESPONSE12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "CORRELATION12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-15T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata information related to the dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that processed the request. This helps in tracking the request flow in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-accept-dispute"
        },
        "example": "banking-p2m-openapi-accept-dispute"
      },
      "X-Runtime-App": {
        "description": "Name of the application facilitating the request, useful for distinguishing between different services in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authorization. Clients must include a valid JWT in the Authorization header of their requests in the format: 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}