{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Testing Aggregation API",
    "description": "The Customer Testing Aggregation API provides developers with the tools necessary to perform testing for customer aggregation processes within the microservice architecture. This endpoint facilitates the submission of test data to ensure that customer aggregation logic behaves as expected and meets business requirements. Typically used by quality assurance teams and developers, this API allows for automated testing and validation of customer data aggregation workflows. By leveraging this endpoint, teams can enhance the reliability and efficiency of customer-related services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/testing": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a testing customer record.",
        "description": "This endpoint allows the user to create a new customer record specifically for testing purposes, enabling developers to simulate customer interactions in a safe environment.",
        "operationId": "createCustomerTesting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new testing customer entry in the system. It should contain all necessary details required for customer creation, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerTestingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the customer has been added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerTestingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerTestingRequest": {
        "title": "Customer Creation Request",
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "The unique username for the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "The customer's first name.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The customer's last name.",
            "example": "Northstar Banking Service"
          },
          "applicationId": {
            "type": "string",
            "description": "The ID of the application that initiated the request.",
            "example": "APP-771063"
          },
          "phone": {
            "type": "string",
            "description": "The customer's phone number.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The customer's email address.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new customer.",
        "example": {
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "applicationId": "APP-771063",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "f11434e0-36d4-5a28-ad30-21d123011b0c",
            "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
            "idempotencyKey": "3b9664cc-8c4e-5a59-b39d-268d3e59ddf6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-324477"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for linking related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-05T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "customer-portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "CRM"
          },
          "channel": {
            "description": "Information regarding the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel from which the request originated."
      },
      "CreateCustomerTestingResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer.",
            "example": "Northstar Banking Service"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the customer was created.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata associated with the customer.",
            "$ref": "#/components/schemas/CustomerMetadata"
          }
        },
        "description": "Response schema for successful customer creation operation.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "createdDate": 1,
          "metadata": {
            "responseId": "9c93f204-e786-5f53-9bfc-a46aaf73689e",
            "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlation across requests and responses.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp representing when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to a customer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value helps in tracking and monitoring the request flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-testing-customer"
        },
        "example": "open-finance-api-add-testing-customer"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application that handled the request. Useful for debugging and compatibility checks.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs bearer authentication, which utilizes a JSON Web Token (JWT) for authorization. Users must provide a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}