{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Open Item Managements-v5-spec",
    "description": "The Open Item Management Retrieval API allows users to retrieve a comprehensive list of banking operational services associated with open item management. This endpoint is designed for financial institutions and service teams involved in tracking and managing unresolved items efficiently. By leveraging this API, developers can integrate seamless data retrieval into their applications, facilitating real-time insights and operational oversight. Typical consumers include banking operations staff and financial analysts who require quick access to open item data for decision-making and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/open-item-management": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve open item management details.",
        "description": "This endpoint allows users to retrieve the details related to open item management, providing insights into current operational services. It helps in understanding the status and operations involved with open items.",
        "operationId": "listBankingOperationalServicesOpenItemManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving open item management operations. This body should conform to the specified JSON schema and contains necessary parameters to execute the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesOpenItemManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current open items.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesOpenItemManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesOpenItemManagementsRequest": {
        "type": "string",
        "description": "This schema represents the JSON body format for the GET request related to open item management operations in the operational services.",
        "example": "{}"
      },
      "ListBankingOperationalServicesOpenItemManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of open item operations",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-404721",
                "accountId": "ACC-309847",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OpenItemOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the items",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving open item management operations",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-404721",
              "accountId": "ACC-309847",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ceabbee4-3d77-5444-8d8b-05b42c860d8c",
            "correlationId": "3a1a7eb5-2cc2-5f09-ab5e-b2ca2fca7bab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OpenItemOperation": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated"
          }
        },
        "description": "Represents an open item operation"
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available",
            "format": "int32"
          }
        },
        "description": "Pagination information for the result set"
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request through the system"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place"
          }
        },
        "description": "Additional metadata about the response"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-item-management-search-open-item-management"
        },
        "example": "open-item-management-search-open-item-management"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires a valid JSON Web Token (JWT) for authentication. The token must be included in the Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}