{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Enterprise Services Procurements-v5-spec",
    "description": "The Banking Enterprise Services Procurements API provides a comprehensive list of available procurement services within the banking sector. This endpoint allows organizations to retrieve detailed information about various procurement options that can enhance their banking services. Typical consumers include financial institutions and business analysts seeking to optimize their procurement strategies. The API facilitates data-driven decision-making by offering insights into available resources and services, promoting efficiency and better service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement": {
      "get": {
        "tags": [
          "Procurement"
        ],
        "summary": "Retrieve procurement information for enterprise services.",
        "description": "This endpoint allows users to fetch detailed information about procurement related to enterprise services, enabling efficient management and analysis of procurement data.",
        "operationId": "listBankingEnterpriseServicesProcurements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve procurement-related information from the enterprise services system. Please ensure that all required parameters are included in the request to effectively query the procurement data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingEnterpriseServicesProcurementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of procurement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingEnterpriseServicesProcurementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingEnterpriseServicesProcurementsRequest": {
        "type": "string",
        "description": "This schema represents the body of the GET request in the procurement operations.",
        "example": "{}"
      },
      "ListBankingEnterpriseServicesProcurementsResponse_200": {
        "title": "Procurement Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of procurement requests.",
            "example": [
              {
                "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "purchaseOrderId": "ORD-374563",
                "categoryCode": "CODE-300",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProcurementRequest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the retrieval of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for procurement operations containing items and pagination details.",
        "example": {
          "items": [
            {
              "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "purchaseOrderId": "ORD-374563",
              "categoryCode": "CODE-300",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "19657d2a-a2fc-5d19-82bd-c6d490207e1e",
            "correlationId": "5148b7f5-99b8-5cdf-b5de-afaba5f722e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcurementRequest": {
        "title": "Procurement Request",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the procurement request."
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier related to the request."
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with this request."
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "Monetary value of the procurement request."
              },
              "currency": {
                "type": "string",
                "description": "Currency type for the monetary value."
              }
            },
            "description": "Amount details including value and currency."
          },
          "requestedBy": {
            "type": "string",
            "description": "Email or identifier of the person who requested the procurement."
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the associated purchase order."
          },
          "categoryCode": {
            "type": "string",
            "description": "Category code related to the procurement."
          },
          "approvalLevel": {
            "type": "string",
            "description": "Level of approval required for the procurement."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the procurement record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the request was last updated."
          }
        },
        "description": "Schema representing an individual procurement request item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema detailing pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred."
          }
        },
        "description": "Schema for metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-search-procurement"
        },
        "example": "procurement-search-procurement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme supports JSON Web Tokens (JWT), which are a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}