{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Human Resource Recruitment Details API",
    "description": "The Human Resource Recruitment Details API provides access to detailed information regarding specific recruitment processes identified by their unique recruitment IDs. This API enables businesses to retrieve data pertinent to their recruitment efforts, allowing HR professionals to efficiently manage candidate pipelines and ongoing hiring initiatives. Typical consumers of this API include HR teams, recruitment managers, and hiring specialists looking to leverage recruitment analytics. With this endpoint, organizations can enhance their hiring strategies by gaining insights into individual recruitment cases.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment/{recruitmentId}": {
      "get": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Retrieve Recruitment Resource Details",
        "description": "Fetches detailed information for the specific recruitment resource identified by the ID RES-100045. This endpoint provides complete information that can assist in managing recruitment processes effectively.",
        "operationId": "getRecruitmentResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/recruitmentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the specific recruitment process identified by the RES-100045 resource. It may include parameters or filters to refine the search for relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRecruitmentResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested recruitment resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecruitmentResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRecruitmentResource100045Request": {
        "type": "string",
        "description": "A JSON string that represents the request body for retrieving recruitment operations.",
        "example": "{}"
      },
      "GetRecruitmentResource100045Response_200": {
        "title": "Recruitment Response",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "Unique identifier for the recruitment requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "Title of the position for which the requisition is created.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the requisition.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "Location where the position is based.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "Expected start date for the position.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the requisition (e.g., open, closed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the requisition detail.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the requisition was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-67890"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "CORR-54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-09-25T12:34:56Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "13fb5b8b-1cb5-5772-a28f-ee81433d3dd8",
              "correlationId": "bf030d22-9069-57fe-bfd2-6d714a568453",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for retrieving recruitment requisition details.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "13fb5b8b-1cb5-5772-a28f-ee81433d3dd8",
            "correlationId": "bf030d22-9069-57fe-bfd2-6d714a568453",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "recruitmentId": {
        "name": "recruitmentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that was invoked, useful for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-get-recruitment"
        },
        "example": "recruitment-get-recruitment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is running the endpoint, enabling insights into the environment in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using the Bearer token format that utilizes JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}