{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Offer Acceptance API",
    "description": "The Loan Offer Acceptance API allows users to formally accept a loan offer linked to a specific loan application. This endpoint facilitates the processing of loan applications by enabling users to confirm their acceptance of the terms provided in the offer. It is typically used by consumers seeking to finalize their loan arrangements and institutional partners managing loan offerings. By using this API, developers can seamlessly integrate acceptance functionalities into their applications, improving the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}/accept": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Accept a loan application offer.",
        "description": "This endpoint allows you to accept a specific loan application offer identified by its unique reference. Accepting the offer will change its status and proceed with the application process.",
        "operationId": "acceptLoanApplicationOfferRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to accept a specific loan offer associated with a loan application. It should contain the necessary details in JSON format as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptLoanApplicationOfferRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully accepted the loan offer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptLoanApplicationOfferRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "AcceptLoanApplicationOfferRES100045Request": {
        "title": "Loan Acceptance Request",
        "type": "object",
        "properties": {
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The unique identifier of the customer who accepted the loan offer.",
            "example": "CUST-787376"
          },
          "acceptanceMethod": {
            "type": "string",
            "description": "The method by which the loan offer was accepted (e.g., online, in-person).",
            "example": "STANDARD"
          },
          "termsAccepted": {
            "type": "boolean",
            "description": "Indicates whether the customer has accepted the terms of the loan.",
            "example": true
          },
          "signatureReference": {
            "type": "string",
            "description": "A reference to the customer's signature for acceptance of the loan offer.",
            "example": "STANDARD"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information about the request for the loan acceptance.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting the acceptance of a loan offer, including relevant details about the acceptance and the request context.",
        "example": {
          "acceptedByCustomerId": "CUST-787376",
          "acceptanceMethod": "STANDARD",
          "termsAccepted": true,
          "signatureReference": "STANDARD",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "3b2cfa7b-9d29-58ab-919a-50b6bd67bd6f",
            "correlationId": "975b11c9-f134-5f45-9be3-b8408f6985d0",
            "idempotencyKey": "419515c7-af45-52bb-abe7-19c372f27dd3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-118103"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key generated to ensure that the request is idempotent.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "mobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application from which the request was made.",
            "example": "loanApp"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that encapsulates the context information related to a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the details of the channel through which the request was made."
      },
      "AcceptLoanApplicationOfferRES100045Response_200": {
        "title": "Loan Offer Response",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "Type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "Annual Percentage Rate (APR) expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment (e.g., monthly, biweekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "Estimated payment amount per installment.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "originationFee": {
            "description": "The origination fee associated with the loan.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "insurancePremium": {
            "description": "Insurance premium that may be required.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "validUntil": {
            "type": "string",
            "description": "Date until which the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that must be met to accept the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Unique condition code.",
                  "example": "COND-001"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the condition.",
                  "example": "Must provide proof of income."
                },
                "dueBefore": {
                  "type": "string",
                  "description": "Date before which this condition must be satisfied.",
                  "example": "2023-12-01"
                },
                "status": {
                  "type": "string",
                  "description": "Current status of the condition.",
                  "example": "Pending"
                }
              }
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Legal disclosures associated with the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Disclosure statement here."
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "d0f06011-6ad8-de3a-708e-db6abc103a28"
          },
          "offerNumber": {
            "type": "string",
            "description": "Reference number for the loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "Timestamp indicating when the offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier of the customer who accepted the offer.",
            "example": "CUST-639480"
          },
          "audit": {
            "description": "Audit information detailing actions taken on the loan offer.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata related to the loan offer, including identifiers and timestamps.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "This schema represents a loan offer response, detailing the offer provided to the customer including financial terms and conditions.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "d0f06011-6ad8-de3a-708e-db6abc103a28",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-639480",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c05a7568-c634-5936-a9a7-5351914f2ecb",
            "correlationId": "975b11c9-f134-5f45-9be3-b8408f6985d0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MonetaryValue": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the monetary value.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric amount in the specified currency.",
            "example": "15000"
          }
        },
        "description": "This schema represents a monetary value, including an amount and currency."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the resource was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the resource.",
            "example": "SYSTEM"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the resource.",
            "example": "SYSTEM"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the resource.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "This schema represents information related to the auditing of the loan offer."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the loan offer.",
            "example": "RESPONSE-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "CORRELATION-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the loan offer took place.",
            "example": "US"
          }
        },
        "description": "This schema contains metadata details related to the loan offer, including unique identifiers and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "offerId": {
        "name": "offerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, used for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-accept-loan-offer"
        },
        "example": "banking-loans-openapi-accept-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application responsible for handling the request, allowing for identification of the application context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authorization. The token must be a valid JSON Web Token (JWT) that provides access to the API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}