{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Development Environments-spec",
    "description": "The IT Management Development Environments API provides access to a comprehensive list of development environments specifically tailored for IT management. This API enables users to retrieve detailed information about each environment, including its features, configurations, and integration capabilities. Typical consumers include IT managers, developers, and system architects looking to optimize and manage their IT resources effectively. By leveraging this API, organizations can enhance their development processes and accelerate project delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/development-environment": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve the development environment details.",
        "description": "This endpoint allows developers to access and retrieve details about the current development environment in the IT management system. It provides necessary configuration and status information that can assist in the development and testing processes.",
        "operationId": "listItManagementDevelopmentEnvironments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching the development environment details in the IT management system. This includes the necessary parameters to specify the query for retrieving the appropriate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementDevelopmentEnvironmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and development environment details retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementDevelopmentEnvironmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementDevelopmentEnvironmentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the development environment in IT management.",
        "example": "{}"
      },
      "ListItManagementDevelopmentEnvironmentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of development environment items.",
            "example": [
              {
                "environmentId": "STANDARD",
                "applicationId": "APP-782873",
                "runtime": "STANDARD",
                "region": "New York",
                "dataClassification": "STANDARD",
                "expiresAt": "2026-08-11T12:00:00Z",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DevelopmentEnvironmentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria used for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving development environment details.",
        "example": {
          "items": [
            {
              "environmentId": "STANDARD",
              "applicationId": "APP-782873",
              "runtime": "STANDARD",
              "region": "New York",
              "dataClassification": "STANDARD",
              "expiresAt": "2026-08-11T12:00:00Z",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c8119900-eeda-5f91-849f-bf7c20a3afc2",
            "correlationId": "3b63de98-3659-51b2-8cc6-1c1a3b7ed983",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DevelopmentEnvironmentItem": {
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "Unique identifier for the development environment.",
            "example": "env-123"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application associated with this environment.",
            "example": "app-456"
          },
          "runtime": {
            "type": "string",
            "description": "The runtime environment details.",
            "example": "Node.js"
          },
          "region": {
            "type": "string",
            "description": "Geographical region of the development environment.",
            "example": "us-west-1"
          },
          "dataClassification": {
            "type": "string",
            "description": "Classification level of the data in this environment.",
            "example": "Confidential"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration date of the environment.",
            "example": "2023-12-31T23:59:59Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the environment record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the environment record.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "A single development environment item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Metadata related to pagination of the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests.",
            "example": "corr-1011"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "development-environment-search-development-environment"
        },
        "example": "development-environment-search-development-environment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method allows clients to access secured endpoints by providing a JSON Web Token (JWT) as part of the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}