{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Standing Orders Retrieval API",
    "description": "The Domestic Standing Orders Retrieval API allows users to access and retrieve information on domestic standing orders within the open banking framework. This API serves banks and financial institutions that need to provide customers with insights into their standing order arrangements. By utilizing this endpoint, developers can implement features for users to track and manage their payments efficiently. Typical consumers include personal banking applications, financial management tools, and payment service providers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders/{param1}": {
      "get": {
        "tags": [
          "Domestic Standing Orders"
        ],
        "summary": "Retrieve a domestic standing order by its ID.",
        "description": "This endpoint allows you to fetch the details of a domestic standing order using its unique identifier. It provides comprehensive information about the standing order, including its status, amount, schedule, and associated account details.",
        "operationId": "getDomesticStandingOrderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details of domestic standing orders associated with the specified identifier. Ensure that the required parameters conform to the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticStandingOrderByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticStandingOrderByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticStandingOrderByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to domestic standing orders in the PISP domain.",
        "example": "{}"
      },
      "GetDomesticStandingOrderByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticStandingOrderId": {
                "type": "string",
                "description": "Unique identifier for the domestic standing order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the standing order.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the standing order was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the standing order.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the standing order.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/AccountDetails"
                  }
                },
                "description": "Information related to the refund for the standing order.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the standing order.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "$ref": "#/components/schemas/RemittanceInformation"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments scheduled for the standing order.",
                    "example": "string"
                  },
                  "FirstPaymentAmount": {
                    "$ref": "#/components/schemas/AmountDetails"
                  },
                  "RecurringPaymentAmount": {
                    "$ref": "#/components/schemas/AmountDetails"
                  }
                },
                "description": "Details related to the initiation of the standing order.",
                "example": "string"
              }
            },
            "description": "Contains details about the domestic standing order.",
            "example": {
              "DomesticStandingOrderId": "ORD-634889",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "86f03b16-d6d9-5d03-b1cc-7e2a72083eb0",
              "correlationId": "ab40a5c6-57e3-53a1-9aa1-0939720ed8ab",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving domestic standing orders.",
        "example": {
          "Data": {
            "DomesticStandingOrderId": "ORD-634889",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "86f03b16-d6d9-5d03-b1cc-7e2a72083eb0",
            "correlationId": "ab40a5c6-57e3-53a1-9aa1-0939720ed8ab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the reason if applicable.",
            "example": "string"
          }
        },
        "description": "Details for the status reason of the standing order."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme associated with the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification information for the account.",
            "example": "string"
          }
        },
        "description": "Details of the account related to refunds."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details of charges associated with the standing order."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Structured remittance information.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Unstructured remittance information.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details of remittance information for the standing order."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount related to referred documents.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Information about the invoicer.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "Information about the invoicee.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax remittance information.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional remittance information.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured remittance details."
      },
      "ReferredDocument": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code associated with the referred document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the referred document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "Number of the referred document.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the referred document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details of lines related to the referred document.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details of referred documents."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code for the creditor reference.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the creditor reference.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "Actual reference number.",
            "example": "string"
          }
        },
        "description": "Information related to the creditor reference."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Details regarding the amount and currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Unique identifier for the endpoint being called.",
          "example": "payment-initiation-openapi-get-domestic-standing-order"
        },
        "example": "payment-initiation-openapi-get-domestic-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Name of the application that processed the request, useful for tracing.",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token formatted as JSON Web Token (JWT). This scheme enables secure access to protected resources by providing a valid token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}