{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Merchant Acquiring Facilitys-spec",
    "description": "The Merchant Acquiring Facility List API enables businesses to access a comprehensive list of merchant acquiring facilities associated with card transactions. This endpoint allows users to retrieve essential details about available facilities that support card processing for businesses. Typical consumers include financial institutions, payment processors, and merchants seeking to integrate card payment solutions. By leveraging this API, developers can enhance their applications with up-to-date information on merchant acquiring services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility": {
      "get": {
        "tags": [
          "Merchant Services"
        ],
        "summary": "Retrieve Merchant Acquiring Facility details.",
        "description": "Fetch the details of the Merchant Acquiring Facility, including associated parameters and settings, to facilitate better understanding and management of merchant services.",
        "operationId": "listCardMerchantAcquiringFacilitys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for retrieving information related to the merchant acquiring facility. It should contain any necessary parameters that the API requires to successfully return the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardMerchantAcquiringFacilitysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved merchant acquiring facility information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardMerchantAcquiringFacilitysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardMerchantAcquiringFacilitysRequest": {
        "type": "string",
        "description": "A string representation of the request body for the merchant acquiring facility operations GET request.",
        "example": "{}"
      },
      "ListCardMerchantAcquiringFacilitysResponse_200": {
        "title": "Merchant Acquiring Facility Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of merchant acquiring facilities.",
            "example": [
              {
                "merchantId": "MER-291817",
                "legalName": "Olivia Bennett",
                "merchantCategoryCode": "5411",
                "settlementAccountId": "ACC-518605",
                "settlementCurrency": "USD",
                "pricingPlan": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MerchantAcquiringFacility"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation on merchant acquiring facilities.",
        "example": {
          "items": [
            {
              "merchantId": "MER-291817",
              "legalName": "Olivia Bennett",
              "merchantCategoryCode": "5411",
              "settlementAccountId": "ACC-518605",
              "settlementCurrency": "USD",
              "pricingPlan": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8ced20af-2ae1-5b7a-af3c-884c40645eed",
            "correlationId": "658b0110-3515-5ad4-b0fc-98a683b674f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MerchantAcquiringFacility": {
        "title": "Merchant Acquiring Facility",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code for the merchant's business.",
            "example": "string"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the merchant's settlement account.",
            "example": "string"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlements.",
            "example": "string"
          },
          "pricingPlan": {
            "type": "string",
            "description": "Pricing plan associated with the merchant.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the merchant record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the merchant record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single merchant acquiring facility."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was invoked. This ID can be useful for tracking requests and responses across the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-search-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-search-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "description": "Indicates the specific runtime application that handled the request. This can help in identifying which application instance processed the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Users must provide a valid bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}