{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Internal Bank Accounts-v5-spec",
    "description": "The Banking Operational Services API provides a comprehensive listing of internal bank accounts utilized within the banking ecosystem. This endpoint allows financial institutions and service providers to access essential details regarding internal bank accounts, which are critical for operational procedures and reporting. Typical consumers of this API include banking staff, financial analysts, and third-party service providers needing insights into account management. By leveraging this API, users can enhance their operational efficiency and ensure accurate financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account": {
      "get": {
        "tags": [
          "Banking Services"
        ],
        "summary": "Retrieve Internal Bank Account details",
        "description": "This endpoint allows users to retrieve details about internal bank accounts within the operational services. You can use this to check account balances, transaction history, and other relevant information.",
        "operationId": "listBankingOperationalServicesInternalBankAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching internal bank account details. This request is used to retrieve information related to the operational services of internal bank accounts.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesInternalBankAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the internal bank account information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesInternalBankAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesInternalBankAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the internal bank account operations GET request.",
        "example": "{}"
      },
      "ListBankingOperationalServicesInternalBankAccountsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operations associated with the internal bank accounts.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-982552",
                "accountId": "ACC-757443",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BankAccountOperation"
            }
          },
          "pagination": {
            "type": "object",
            "description": "Pagination information for the results.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the internal bank account operations retrieval.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-982552",
              "accountId": "ACC-757443",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ef1cd73b-0cf0-525a-bfb3-d71cfdaefa4d",
            "correlationId": "502e0755-b4c0-546b-98c7-9684e0e077de",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BankAccountOperation": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the bank account involved in the operation."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested."
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated."
          }
        },
        "description": "Represents an operation associated with an internal bank account."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information related to pagination of results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-search-internal-bank-account"
        },
        "example": "internal-bank-account-search-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically JSON Web Tokens (JWT). Use this security scheme to authorize requests by including a bearer token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}