{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Credit Cards-spec",
    "description": "The Credit Card Listing API provides businesses with the ability to retrieve a comprehensive list of available credit cards within their banking system. This endpoint allows users to access detailed information about each card, including features, limits, and terms. Typical consumers of this API include financial applications, banking platforms, and developers looking to integrate credit card offerings into their services. This functionality supports enhanced customer decision-making by presenting all credit card options in one unified view.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card": {
      "get": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Retrieve credit card details",
        "description": "This endpoint allows users to retrieve detailed information about their credit card, including the card number, expiration date, and cardholder's name. It is essential for users to access their financial information securely.",
        "operationId": "listCardCreditCards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving credit card information. Ensure to provide the necessary parameters in the schema to successfully retrieve the relevant credit card details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardCreditCardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit card information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardCreditCardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardCreditCardsRequest": {
        "type": "string",
        "description": "Represents the request body for retrieving credit card operations.",
        "example": "{}"
      },
      "ListCardCreditCardsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit card operation items.",
            "example": [
              {
                "cardToken": "TOK-954688",
                "cardholderId": "STANDARD",
                "merchantId": "MER-669382",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditCardOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving credit card operations.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-954688",
              "cardholderId": "STANDARD",
              "merchantId": "MER-669382",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7311d2fb-9be4-5574-9dae-50f4d959e15a",
            "correlationId": "bc5d97a9-a2ce-585b-9cf3-9cfc2bdef7b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditCardOperation": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique identifier for the credit card token."
          },
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder."
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant."
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code for the merchant."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated."
          }
        },
        "description": "Details of a credit card operation."
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the transaction amount."
          }
        },
        "description": "Details of the transaction amount."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-search-credit-card"
        },
        "example": "credit-card-search-credit-card"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token. The token must be a JSON Web Token (JWT) that is sent in the `Authorization` header as `Bearer {token}`. This scheme is commonly used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}