{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Activity Analysis API",
    "description": "The Channel Activity Analysis API enables businesses to analyze banking operations across various channels in real-time. By submitting analysis requests, financial institutions can uncover insights about customer interactions and channel performance. This service is essential for operations teams and data analysts looking to optimize service delivery and improve customer experience. Typical use cases include generating reports for strategic decision-making and enhancing operational insights through detailed channel performance metrics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis/analyses": {
      "post": {
        "tags": [
          "Channel Activity Analysis"
        ],
        "summary": "Create a new channel activity analysis.",
        "description": "This operation allows users to create a new channel activity analysis within the operational services framework. It requires the necessary data related to the channel activities and will return the results of the analysis.",
        "operationId": "createChannelActivityAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new analysis for channel activity. It should contain all the required parameters structured according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelActivityAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the analysis data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelActivityAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelActivityAnalysisRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-308061"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-767841"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the operations channel activity analysis.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-308061",
          "accountId": "ACC-767841",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "94e3f6b7-c38d-59cf-9301-95ac99140820",
            "correlationId": "69070c78-260e-5060-ac38-f8128b532770",
            "idempotencyKey": "35662520-69fc-5ea9-aeff-3b6c39e7912d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714020"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotency in repeated requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was created.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the operation.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Contains information about the communication channel used."
      },
      "CreateChannelActivityAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation being analyzed.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the operation.",
            "example": "CUST-166402"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the operation.",
            "example": "ACC-324553"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis conducted.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "description": "Additional metadata related to the analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-166402",
          "accountId": "ACC-324553",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "f8089174-a0b5-50e2-8d8a-42108e4d53c9",
            "correlationId": "69070c78-260e-5060-ac38-f8128b532770",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric being reported.",
            "example": "string"
          },
          "value": {
            "type": "integer",
            "description": "The value of the metric.",
            "format": "int32",
            "example": 0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric.",
            "example": "string"
          }
        },
        "description": "Represents a single finding from the analysis."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing was completed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint, allowing tracking and logging of the requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-analyze-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-analyze-channel-activity-analysis"
      },
      "x-runtime-app": {
        "description": "The name of the application that made the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token. This method utilizes JSON Web Tokens (JWT) to provide a secure access mechanism, allowing clients to authenticate with the server by including the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}