{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Deposit Lending By Param1-spec",
    "description": "The Deposit Lending Retrieval API allows users to access information regarding specific deposit lending products associated with savings accounts. By providing a unique parameter, clients can retrieve detailed insights, including product terms and conditions. This API is particularly useful for financial institutions, developers, and third-party services seeking to enhance their offerings or provide customers with tailored lending options. Its straightforward design facilitates seamless integrations into banking applications and customer service platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/savings-account/{param1}": {
      "get": {
        "tags": [
          "Savings Account Management"
        ],
        "summary": "Retrieve Savings Account Information",
        "description": "This endpoint allows you to fetch detailed information about a specific savings account, including balance, transaction history, and account terms.",
        "operationId": "getDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the specific savings account identified by the account number ACC-200045. It specifies the necessary parameters to ensure accurate and complete data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the savings account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingByParam1Request": {
        "title": "Savings Account Operation Request Body",
        "type": "string",
        "description": "This schema represents the request body for operations on a savings account.",
        "example": "{}"
      },
      "GetDepositLendingByParam1Response_200": {
        "title": "Savings Account Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-927733"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-734793"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type of the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details about the principal amount associated with the account.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the account term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of statements for the account.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if overdraft is allowed on the account.",
            "example": true
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version identifier for the account.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the account.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a savings account operation.",
        "example": {
          "customerId": "CUST-927733",
          "accountId": "ACC-734793",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d4507630-8c4c-595f-b2f3-1c409d31bd75",
            "correlationId": "9e17587b-948a-5dae-9531-354acb0656a6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PrincipalAmount": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount in the specified currency.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency details."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-05T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This value helps in tracing requests in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "savings-account-get-savings-account"
        },
        "example": "savings-account-get-savings-account"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application instance processing the request. Useful for performance monitoring and troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) in the Bearer token format. Clients should pass the JWT in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}