{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Loan Syndications-spec",
    "description": "The Loan Syndication Details API provides access to comprehensive information on servicing loan syndications. This endpoint allows users to query specific loan syndications, enabling financial institutions, analysts, and risk management teams to analyze and manage syndication portfolios effectively. Typical use cases include retrieving loan syndication characteristics, understanding syndicate participant roles, and monitoring the health of loan portfolios. By leveraging this API, organizations can enhance their decision-making processes surrounding loan management and syndication strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/loan-syndication": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve loan syndication data.",
        "description": "Fetch the details of loan syndication, providing insights into the data shared among multiple lenders. This endpoint allows you to obtain current market conditions, loan terms, and participating parties involved in the syndication process.",
        "operationId": "listServicingLoanSyndications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve loan syndication information. Ensure that the request conforms to the specified schema to achieve a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingLoanSyndicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested loan syndication data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingLoanSyndicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingLoanSyndicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the loan syndication operations GET request in JSON format.",
        "example": "{}"
      },
      "ListServicingLoanSyndicationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of customer loan requests.",
            "example": [
              {
                "customerId": "CUST-807901",
                "caseId": "CASE-482093",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanRequest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the loan syndication operations GET request.",
        "example": {
          "items": [
            {
              "customerId": "CUST-807901",
              "caseId": "CASE-482093",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3e1dfe57-615d-5a1e-b196-a2a8d0439fd9",
            "correlationId": "1c14ac05-0bbe-5e1e-ad1e-bf40f5636132",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the loan case.",
            "example": "67890"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request (e.g., New Application, Update).",
            "example": "New Application"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the loan request.",
            "example": "High"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the request originated.",
            "example": "Online"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan request record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the loan request.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a customer's loan request."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "corr-abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-syndication-search-loan-syndication"
        },
        "example": "loan-syndication-search-loan-syndication"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Utilizes a Bearer token for authentication. This scheme requires an access token formatted as a JSON Web Token (JWT). This token must be included in the HTTP Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}