{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Management API",
    "description": "The Collateral Management API enables financial institutions to efficiently manage and administer collateral collections. By facilitating the process of securing assets, this API allows for the seamless submission and tracking of collections related to banking operations. It is particularly useful for users involved in risk management and asset management, ensuring that collateral is adequately managed to mitigate financial risks. Leverage this API to streamline collateral collection processes and enhance operational efficiency in your banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections": {
      "post": {
        "tags": [
          "Collateral Administration"
        ],
        "summary": "Create a new collection in collateral administration.",
        "description": "This endpoint allows the user to create a new collection within the collateral administration system. It expects the necessary data for the collection in the request body. Successful creation will return the details of the newly created collection.",
        "operationId": "createCollateralAdministrationCollection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new collection within the collateral administration system. It contains all necessary information to define the collection being created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollateralAdministrationCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollateralAdministrationCollectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCollateralAdministrationCollectionRequest": {
        "title": "Collateral Administration Collection Request",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "PARTY-581177"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset that is being collateralized.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "Current market value of the collateral asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the asset's value was assessed.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to this collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage used to determine the discounted value of the collateral.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "The status of the lien on the collateral.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a collateral administration collection operation.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-581177",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "55e05d37-3ed6-588f-9313-23b2676d692b",
            "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
            "idempotencyKey": "e434bd7e-6b31-5de8-96f8-3f03b83fdb9b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-509111"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount representing the market value.",
            "example": 500000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the market value amount.",
            "example": "USD"
          }
        },
        "description": "Represents the market value of the collateral asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T14:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that made the request.",
            "example": "collateral-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request context, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateCollateralAdministrationCollectionResponse_201": {
        "title": "Collateral Administration Response",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the involved party.",
            "example": "PARTY-492500"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the collection.",
            "example": "RES-539998"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral administration operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the collateral was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the collateral operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a collection in collateral administration.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-492500",
          "securedExposureId": "STANDARD",
          "resourceId": "RES-539998",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "675fbe51-97e3-51b9-a215-eae50a85006d",
            "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response associated with the operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the collateral administration operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collections-create-collections"
        },
        "example": "collections-create-collections"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, helpful in understanding the context of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens (JWTs) to securely transmit claims between a client and a server. The client should include the Bearer token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}