{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Management API",
    "description": "The Counterparty Management API provides access to essential market data related to counterparties within the banking sector. This API allows users to retrieve detailed information about various counterparties, supporting effective decision-making and risk management. Typical consumers include financial analysts, risk managers, and compliance officers who require up-to-date counterparty data for analysis and reporting purposes. By facilitating easy access to this data, the API enhances the users' ability to monitor and manage their counterparty relationships effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/counterparty-administration": {
      "get": {
        "tags": [
          "Counterparty Management"
        ],
        "summary": "Retrieve counterparty administration data.",
        "description": "This endpoint allows developers to fetch detailed information related to counterparty administration. It provides access to essential data, enabling users to manage and analyze counterparties effectively.",
        "operationId": "getCounterpartyAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving counterparty administration data. This includes the specific parameters needed to filter or specify the counterparty details you wish to query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCounterpartyAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning counterparty administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCounterpartyAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCounterpartyAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on counterparty administration within market data. It is expected to contain a string that can be used to identify or describe the request.",
        "example": "{}"
      },
      "GetCounterpartyAdministrationResponse_200": {
        "title": "Market Data Counterparty Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial instrument details.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-979",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InstrumentDetails"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter used in the request.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the market data counterparty administration GET operation, providing information about various financial instruments along with pagination and metadata.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-979",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2e50a0d3-bdb6-5eb7-b4e9-b38bd29c10a0",
            "correlationId": "f4575dde-31d3-5301-a01b-dd52c7bb3bd5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstrumentDetails": {
        "title": "Instrument Details",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The market identifier code where the instrument is traded.",
            "example": "string"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time as of which the data is relevant.",
            "example": "2023-10-01T00:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source of the data provided for the instrument.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the instrument record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update for the instrument's data.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Details about a financial instrument.",
        "example": {
          "instrumentId": "12345",
          "isin": "US1234567890",
          "marketIdentifierCode": "NYSE",
          "asOf": "2023-10-01T00:00:00Z",
          "dataSource": "DataProviderX",
          "recordStatus": "active",
          "updatedAt": "2023-10-01T00:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate different requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata regarding the response.",
        "example": {
          "responseId": "response-12345",
          "correlationId": "correlation-67890",
          "generatedAt": "2023-10-01T00:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-administration-search-counterparty-administration"
        },
        "example": "counterparty-administration-search-counterparty-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication. A valid JWT (JSON Web Token) must be included in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}