{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cheque Lock Box API",
    "description": "The Cheque Lock Box API provides secure access to cheque deposit records and automated processing of incoming cheques. This API is designed to streamline trade banking operations by offering features such as fetching the status of deposited cheques and retrieving transaction history. Typical consumers include banks, financial institutions, and businesses handling large volumes of cheque transactions. With fast and efficient retrieval of information, organizations can enhance their cheque management capabilities and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve cheque lock box information.",
        "description": "This endpoint allows you to fetch the details of a cheque lock box within the trade banking services. It provides essential information regarding the status, limits, and available operations for the cheque lock box.",
        "operationId": "getChequeLockBox",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving information related to the cheque lock box in trade banking. This should contain the necessary parameters required to execute the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChequeLockBoxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved cheque lock box information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChequeLockBoxResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChequeLockBoxRequest": {
        "title": "Cheque Lock Box Operations Request Body",
        "type": "string",
        "description": "A JSON string representation of the request body for the Cheque Lock Box operations GET request in the Trade Banking API.",
        "example": "{}"
      },
      "GetChequeLockBoxResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of cheque lock box items.",
            "example": [
              {
                "chequeBatchId": "STANDARD",
                "depositAccountId": "ACC-179181",
                "chequeCount": 1,
                "batchAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "clearingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChequeLockBoxItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching cheque lock box operations.",
        "example": {
          "items": [
            {
              "chequeBatchId": "STANDARD",
              "depositAccountId": "ACC-179181",
              "chequeCount": 1,
              "batchAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "clearingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "62f67d0e-feda-50e9-9686-a72d806b2d1c",
            "correlationId": "c2c41476-3225-565f-8bb1-9e048c5c510d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChequeLockBoxItem": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch."
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the deposit account associated with the cheque batch."
          },
          "chequeCount": {
            "type": "integer",
            "description": "Number of cheques in the batch.",
            "format": "int32"
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "Date when the cheque batch is set to clear."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the cheque record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the cheque batch."
          }
        },
        "description": "Represents an individual cheque lock box item."
      },
      "BatchAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount for the cheque batch."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount."
          }
        },
        "description": "Represents the amount and currency of a cheque batch."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata for the response, providing additional contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called. This is useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-search-cheque-lock-box"
        },
        "example": "cheque-lock-box-search-cheque-lock-box"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps in identifying which application handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, specifically designed for JSON Web Tokens (JWT). It allows clients to authenticate API requests by including a token in the Authorization header. The JWT format enables secure transmission of claims between client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}