{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Employee By Param2-spec",
    "description": "This API endpoint allows for the modification of specific expense claims associated with an employee. By using the employee ID and a unique parameter, clients can update relevant details of expense claims to ensure accuracy and compliance. Typical consumers of this API include HR managers and finance teams who need to manage and correct employee expense submissions. This operation is essential for maintaining up-to-date financial records within the organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/employees/{employeeId}/expense-claims/{param2}": {
      "put": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update Specific Expense Claim for Employee",
        "description": "This operation allows you to update a specific expense claim associated with an employee identified by the employee ID. Ensure that all required fields are present in the request body to successfully perform the update.",
        "operationId": "replaceEmployeeByParam2",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employeeId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "Updates the expense claim with the specified ID for the employee. The request body must conform to the defined schema to ensure proper validation and processing of the expense claim data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceEmployeeByParam2Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Expense claim successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceEmployeeByParam2Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceEmployeeByParam2Request": {
        "title": "Expense Claim Request",
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier of the employee submitting the expense claim.",
            "example": "EMP-397951"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip for which the expenses are claimed.",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "description": "Period during which the expenses were incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "The amount claimed in the expense report, including currency.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the expense claim.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting an expense claim.",
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-397951",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "c75a83d3-9db3-5a9b-8508-0c152e91e212",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "idempotencyKey": "e6b8d22d-c06a-5d70-8b23-d5f3d4dd9c1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-423278"
            }
          }
        }
      },
      "ExpensePeriod": {
        "title": "Expense Period",
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Start date of the expense period.",
            "example": "2023-01-01"
          },
          "to": {
            "type": "string",
            "description": "End date of the expense period.",
            "example": "2023-01-31"
          }
        },
        "description": "Schema representing the period during which the expenses were incurred."
      },
      "ClaimedAmount": {
        "title": "Claimed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount being claimed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount claimed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount claimed in an expense report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related operations.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for making the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information through which a request is made."
      },
      "ReplaceEmployeeByParam2Response_201": {
        "title": "Expense Claim Response",
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee associated with the expense claim.",
            "example": "EMP-200976"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource linked to the expense claim.",
            "example": "RES-557358"
          },
          "status": {
            "type": "string",
            "description": "Current status of the expense claim (e.g., pending, approved, rejected).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the expense claim was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the expense claim response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Operations PUT request for expense claims.",
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-200976",
          "resourceId": "RES-557358",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-99999"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "CORR-11111"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "employeeId": {
        "name": "employeeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-create-travel-and-expenses"
        },
        "example": "travel-and-expenses-create-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, helping to identify where the processing occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow process associated with this request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is associated with the expense claim operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or completion status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1c83d879-0a29-4b24-be20-02833da4dc31"
        },
        "example": "1c83d879-0a29-4b24-be20-02833da4dc31"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT). The client must include a token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}