{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Payment Intents-spec",
    "description": "The P2M Payment Intents Retrieval API enables developers to seamlessly access and list payment intents associated with peer-to-peer money transfers. This API facilitates the retrieval of transaction details, allowing businesses to monitor payment statuses, track customer activity, and manage payment processes effectively. Typical consumers include financial applications, e-commerce platforms, and any service that requires tracking of payment intents. By utilizing this API, businesses can enhance their payment management capabilities and improve user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a list of payment intents.",
        "description": "This endpoint allows you to fetch all payment intents that have been created. You can use various parameters to filter or sort the results.",
        "operationId": "listP2mPaymentIntents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or retrieve payment intents. It must include the necessary parameters defined in the schema to ensure proper processing of payment transactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mPaymentIntentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment intents.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mPaymentIntentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mPaymentIntentsRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving payment intents.",
        "example": "{}"
      },
      "ListP2mPaymentIntentsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "The array of links related to the payment intents response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "The list of payment intents.",
            "example": [
              {
                "paymentIntentId": "STANDARD",
                "merchantId": "MER-593941",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountAuthorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountCaptured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountRefunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captureMethod": "STANDARD",
                "channel": "STANDARD",
                "allowedPaymentMethods": [
                  "STANDARD"
                ],
                "selectedPaymentMethod": {
                  "type": "STANDARD",
                  "token": "STANDARD",
                  "issuerBankCode": "CODE-571",
                  "maskedIdentifier": "STANDARD",
                  "walletProvider": "STANDARD"
                },
                "customer": {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "riskSegment": "STANDARD"
                },
                "order": {
                  "merchantOrderId": "ORD-447908",
                  "description": "Customer banking request processed successfully"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentIntent"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the successful retrieval of payment intents.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "paymentIntentId": "STANDARD",
              "merchantId": "MER-593941",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountAuthorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountCaptured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountRefunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captureMethod": "STANDARD",
              "channel": "STANDARD",
              "allowedPaymentMethods": [
                "STANDARD"
              ],
              "selectedPaymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-571",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "order": {
                "merchantOrderId": "ORD-447908",
                "description": "Customer banking request processed successfully"
              }
            }
          ],
          "metadata": {
            "responseId": "eb4b1a16-8a4e-50d6-a4aa-8bc347545697",
            "correlationId": "bf9bb8b8-d6aa-54c8-bf17-aa81b5d81b1b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "HTTP method associated with the link.",
            "example": "string"
          }
        },
        "description": "Representation of a hyperlink related to the API response."
      },
      "PaymentIntent": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "string"
          },
          "amount": {
            "type": "object",
            "description": "The amount related to the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "type": "object",
            "description": "The amount authorized for the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "type": "object",
            "description": "The amount captured from the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "type": "object",
            "description": "The amount refunded from the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used to capture the payment.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was initiated.",
            "example": "string"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of allowed payment methods for the payment intent.",
            "items": {
              "type": "string"
            }
          },
          "selectedPaymentMethod": {
            "type": "object",
            "description": "Details of the selected payment method.",
            "$ref": "#/components/schemas/SelectedPaymentMethod"
          },
          "customer": {
            "type": "object",
            "description": "Information regarding the customer associated with the payment intent.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "type": "object",
            "description": "Order details associated with the payment intent.",
            "$ref": "#/components/schemas/Order"
          }
        },
        "description": "Representation of a payment intent."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The actual value of the amount.",
            "example": "string"
          }
        },
        "description": "Representation of an amount with currency."
      },
      "SelectedPaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the selected payment method.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the selected payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code for the issuer of the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Name of the wallet provider if applicable.",
            "example": "string"
          }
        },
        "description": "Details of the selected payment method for the payment intent."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification of the customer.",
            "example": "string"
          }
        },
        "description": "Representation of the customer associated with the payment intent."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "string"
          }
        },
        "description": "Details of the order associated with the payment intent."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-payment-intents"
        },
        "example": "banking-p2m-openapi-list-payment-intents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}