{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Credit Rating Assessment API",
    "description": "The Customer Credit Rating Assessment API allows financial institutions to obtain credit ratings for their customers efficiently. This endpoint facilitates the retrieval of credit rating information for specific customers, enabling businesses to make informed lending decisions and enhance their risk assessment processes. Typical consumers include banking operations and financial service providers that need to evaluate customer creditworthiness as part of their customer management strategies. This API streamlines access to critical credit data, enhancing decision-making capabilities and ensuring regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating/{param1}/operations/ng-create-customer-credit-rating": {
      "get": {
        "tags": [
          "Customer Credit Rating"
        ],
        "summary": "Fetch the process to create a customer credit rating.",
        "description": "Retrieves the necessary operations to initiate the creation of a credit rating specific to a customer. This endpoint provides all required details and guidelines to correctly proceed with the credit rating creation process for the given customer.",
        "operationId": "createCustomerCreditRatingForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters required to create a new customer credit rating for the specified customer. Ensure that the input adheres to the defined schema to successfully initiate the credit rating creation process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCreditRatingForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and the operation completed as expected.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCreditRatingForCustomerResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCreditRatingForCustomerRequest": {
        "title": "Create Customer Credit Rating Request Body",
        "type": "string",
        "description": "This schema represents the request body for creating a customer credit rating. It is formatted as a JSON string.",
        "example": "{}"
      },
      "CustomerCreditRatingResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier representing the party associated with the customer.",
            "example": "P-100045"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the credit rating.",
            "example": "PROD-123"
          },
          "resourceId": {
            "type": "string",
            "description": "Resource identifier for the request or operation.",
            "example": "RES-12345"
          },
          "status": {
            "type": "string",
            "description": "Current status of the credit rating request.",
            "example": "APPROVED"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the credit rating was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the credit rating response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer credit rating information.",
        "example": {
          "customerId": "CUST-100045",
          "partyId": "P-100045",
          "productCode": "PROD-123",
          "resourceId": "RES-12345",
          "status": "APPROVED",
          "createdAt": "2023-01-01T12:00:00Z",
          "metadata": {
            "responseId": "RESP-999",
            "correlationId": "CORR-999",
            "generatedAt": "2023-01-01T12:00:00Z",
            "processingRegion": "US"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-999"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR-999"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the credit rating response."
      },
      "CreateCustomerCreditRatingForCustomerResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-153759"
          },
          "partyId": {
            "type": "string",
            "example": "PARTY-590575"
          },
          "productCode": {
            "type": "string",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-635604"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "3198c1d8-d481-58a0-bc79-5a9513abee1c",
              "correlationId": "e0c320d3-1251-5f01-a14b-53500d3547fc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "customerId": "CUST-153759",
          "partyId": "PARTY-590575",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-635604",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3198c1d8-d481-58a0-bc79-5a9513abee1c",
            "correlationId": "e0c320d3-1251-5f01-a14b-53500d3547fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that generated this response. Used for tracing requests and responses in distributed systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-create-customer-credit-rating"
        },
        "example": "customer-credit-rating-create-customer-credit-rating"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request. Useful for monitoring application performance and diagnosing issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow execution that generated this response. Helps in tracking the progress and state of long-running processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-046"
        },
        "example": "WF-046"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Risk Rating Refresh"
        },
        "example": "Customer Risk Rating Refresh"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or completion status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow, useful for tracing its execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0c711f32-b455-4ac0-bca9-63b051d0a3bb"
        },
        "example": "0c711f32-b455-4ac0-bca9-63b051d0a3bb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format via HTTP. A valid JWT (JSON Web Token) must be provided in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}