{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking It Management Operational Gateway-v5-spec",
    "description": "The Banking IT Management Operational Gateway API facilitates the seamless integration and management of IT services within the banking sector. It enables financial institutions to automate various operational processes, enhance service delivery, and optimize resource allocation. Typical consumers of this API include IT managers and developers seeking to streamline workflows and improve efficiency in banking operations. By leveraging this API, organizations can ensure effective governance and management of IT systems driving their banking solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/operational-gateway": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new operational gateway in IT management.",
        "description": "This endpoint allows users to create a new operational gateway within the IT management system. It accepts the necessary configuration data and processes the request to add the gateway, ensuring all parameters meet the required standards.",
        "operationId": "createBankingItManagementOperationalGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the data needed to perform an operation within the operational gateway of the IT management system. It is essential to provide the correct information as per the schema defined to ensure the successful execution of the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingItManagementOperationalGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingItManagementOperationalGatewayResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingItManagementOperationalGatewayRequest": {
        "title": "Operational Gateway Request Body",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Identifier for the system involved in the operation.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation will occur, e.g., production, staging, development.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change request associated with the operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Name of the team responsible for the operation.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Operations endpoint in the IT Management Operational Gateway.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "61ab2c75-8565-598c-9c00-5940e528b5a4",
            "correlationId": "f39180b3-fea1-5d4d-b642-19ee590e38bb",
            "idempotencyKey": "021cb13d-dd58-5d9a-9faf-920da0dd0e05",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-885292"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the transaction across different systems.",
            "example": "corr-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotent-2023"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application sending the request.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context details of a request made to the Operational Gateway."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "channel-303"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used, e.g., web, mobile, API.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated, if applicable.",
            "example": "device-404"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "CreateBankingItManagementOperationalGatewayResponse_201": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change that was made.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource affected by the change.",
            "example": "RES-932197"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for successful operation post requests in the operational gateway.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "resourceId": "RES-932197",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b96f6a3f-aefd-5e22-831d-9438032e6551",
            "correlationId": "f39180b3-fea1-5d4d-b642-19ee590e38bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "correlation-002"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-gateway-create-operational-gateway"
        },
        "example": "operational-gateway-create-operational-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) to authenticate. Clients include the token in the Authorization header when making requests to the API. The token should be formatted as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}