{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Deposit Lending Merchandising Loan-spec",
    "description": "This API facilitates the creation of merchandising loans within the deposit lending framework. It allows financial institutions to streamline the process of offering loans tailored for merchandising purposes, catering to businesses that require immediate funding. Typical consumers include banks and fintech companies looking to enhance their lending offerings. By leveraging this API, institutions can efficiently onboard new loan applications and manage their lending portfolio effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/merchandising-loan": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new merchandising loan.",
        "description": "This endpoint allows users to create a merchandising loan by providing the required details in the request body. Ensure that all necessary information is included to successfully process the loan application.",
        "operationId": "createDepositLendingMerchandisingLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a merchandising loan. This should include all necessary parameters to process the loan request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingMerchandisingLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The merchandising loan has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingMerchandisingLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingMerchandisingLoanRequest": {
        "title": "Merchandising Loan Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-826098"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the loan.",
            "example": "ACC-869875"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount for the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the loan request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for creating a merchandising loan. It contains customer details, loan specifics, and request context.",
        "example": {
          "customerId": "CUST-826098",
          "accountId": "ACC-869875",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "b1527b10-a15d-5727-8d3b-84565b484b06",
            "correlationId": "c21a0050-0b2b-55f9-8484-3d2d2fffff22",
            "idempotencyKey": "978b13c2-2eab-5685-b259-b2a099bcb862",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-329127"
            }
          }
        }
      },
      "Principal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money being borrowed.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the principal amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency for the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing related requests across systems.",
            "example": "corr-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures the request is processed only once.",
            "example": "idempotent-key-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-03T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originates.",
            "example": "backend-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel information through which the request was made."
      },
      "CreateDepositLendingMerchandisingLoanResponse_201": {
        "title": "Merchandising Loan Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-676152"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-262195"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the specific product associated with the loan.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the loan resource.",
            "example": "RES-529910"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a merchandising loan operation.",
        "example": {
          "customerId": "CUST-676152",
          "accountId": "ACC-262195",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-529910",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3c89934f-b00a-5284-b55d-702c5603affc",
            "correlationId": "c21a0050-0b2b-55f9-8484-3d2d2fffff22",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Loan Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "resp_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate different requests.",
            "example": "corr_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the loan occurred.",
            "example": "US-West"
          }
        },
        "description": "This schema contains additional metadata about the loan operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchandising-loan-create-merchandising-loan"
        },
        "example": "merchandising-loan-create-merchandising-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses JSON Web Tokens (JWT) as bearer tokens for request authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}