{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Aisp Account Statement Transactions-v5-spec",
    "description": "MICROSERVICE-PROD-List Open Banking Aisp Account Statement Transactions-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements/{statementId}/transactions": {
      "get": {
        "operationId": "listOpenBankingAispAccountStatementTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/statementId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingAispAccountStatementTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingAispAccountStatementTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingAispAccountStatementTransactionsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListOpenBankingAispAccountStatementTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "AccountId": {
                      "type": "string",
                      "example": "string"
                    },
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "reference": {
                      "type": "string",
                      "example": "string"
                    },
                    "StatementReference": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "CreditDebitIndicator": {
                      "type": "string",
                      "example": "string"
                    },
                    "Status": {
                      "type": "string",
                      "example": "string"
                    },
                    "mutability": {
                      "type": "string",
                      "example": "string"
                    },
                    "BookingDateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "ValueDateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "information": {
                      "type": "string",
                      "example": "string"
                    },
                    "AddressLine": {
                      "type": "string",
                      "example": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "ChargeAmount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "CurrencyExchange": {
                      "type": "object",
                      "properties": {
                        "SourceCurrency": {
                          "type": "string",
                          "example": "string"
                        },
                        "TargetCurrency": {
                          "type": "string",
                          "example": "string"
                        },
                        "UnitCurrency": {
                          "type": "string",
                          "example": "string"
                        },
                        "ExchangeRate": {
                          "type": "number",
                          "example": 0.0
                        },
                        "ContractIdentification": {
                          "type": "string",
                          "example": "string"
                        },
                        "QuotationDate": {
                          "type": "string",
                          "example": "string"
                        },
                        "InstructedAmount": {
                          "type": "object",
                          "properties": {
                            "Amount": {
                              "type": "string",
                              "example": "string"
                            },
                            "Currency": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "BankTransactionCode": {
                      "type": "object",
                      "properties": {
                        "Code": {
                          "type": "string",
                          "example": "string"
                        },
                        "SubCode": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "code": {
                      "type": "object",
                      "properties": {
                        "Code": {
                          "type": "string",
                          "example": "string"
                        },
                        "Issuer": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "ExtendedProprietaryBankTransactionCodes": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Code": {
                            "type": "string",
                            "example": "string"
                          },
                          "Issuer": {
                            "type": "string",
                            "example": "string"
                          },
                          "Description": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "Balance": {
                      "type": "object",
                      "properties": {
                        "CreditDebitIndicator": {
                          "type": "string",
                          "example": "string"
                        },
                        "Type": {
                          "type": "string",
                          "example": "string"
                        },
                        "Amount": {
                          "type": "object",
                          "properties": {
                            "Amount": {
                              "type": "string",
                              "example": "string"
                            },
                            "Currency": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "MerchantDetails": {
                      "type": "object",
                      "properties": {
                        "MerchantName": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-167234",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-310"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
              "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-167234",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-310"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
            "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "statementId": {
        "name": "statementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
        },
        "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}