{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Framework Agreement Management API",
    "description": "This API enables financial institutions to manage term deposit framework agreements efficiently. Users can update existing agreements to reflect changes in terms or conditions, ensuring compliance with evolving regulations or client needs. Typical users include banking operators and compliance teams who require precise control over contract details. The API streamlines the lifecycle management of term deposits, facilitating better financial planning and customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement/{param1}": {
      "patch": {
        "tags": [
          "Term Deposits"
        ],
        "summary": "Update Term Deposit Framework Agreement",
        "description": "This endpoint allows you to update the details of a specific Term Deposit Framework Agreement identified by its resource ID. Ensure that the payload contains valid fields for the agreement to be updated correctly.",
        "operationId": "patchTermDepositFrameworkAgreementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information for updating a term deposit framework agreement identified by RES-100045. The structure of the payload must conform to the defined schema to ensure successful processing of the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTermDepositFrameworkAgreementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTermDepositFrameworkAgreementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchTermDepositFrameworkAgreementRes100045Request": {
        "title": "Patch Request Body for Term Deposit Framework Agreement",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details about the changes being made in the request.",
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system that initiated the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the body of a PATCH request to update the Term Deposit Framework Agreement. It includes the changes being requested, the reason for the change, and contextual information about the request.",
        "example": {
          "changes": {
            "customerId": "CUST-702915",
            "accountId": "ACC-848316",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4a7a7282-124c-5cce-ada4-10dbb2f31164",
            "correlationId": "4b24f4de-c306-5104-8a25-5c776c567cc2",
            "idempotencyKey": "538f4865-0688-59ae-95d4-9e354d5fe83a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-303525"
            }
          }
        }
      },
      "ChangeDetails": {
        "title": "Change Details",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cus_123456789"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account being modified.",
            "example": "acc_123456789"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the account.",
            "example": "TD2023"
          }
        },
        "description": "This schema contains the details of the changes being made in the request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace requests across systems.",
            "example": "corr_987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is processed only once.",
            "example": "idempotent_key_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T11:59:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for initiating the request.",
            "example": "WebPortal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "This schema encapsulates the context information related to the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used for the request.",
            "example": "channel_12345"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used to make the request (e.g., WEB, MOBILE).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to submit the request.",
            "example": "device_67890"
          }
        },
        "description": "This schema provides information about the channel through which the request was made."
      },
      "PatchTermDepositFrameworkAgreementRes100045Response_200": {
        "title": "Operation Response for Term Deposit Framework Agreement",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp representing when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned after a successful PATCH operation on the term deposit framework agreement.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0c2ae547-fdd4-59dc-8e96-1e021c2175eb",
            "correlationId": "4b24f4de-c306-5104-8a25-5c776c567cc2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the operation was processed.",
            "example": "string"
          }
        },
        "description": "Contains additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-update-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-update-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, which allows clients to authenticate by providing a JSON Web Token (JWT) as a bearer token in the authorization header of requests. The JWT must be issued by a trusted identity provider.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}