{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Product Combinations-spec",
    "description": "The Account Management Product Combinations API provides a comprehensive view of the various product combinations available for account management. It allows consumers, such as banking applications or financial services platforms, to retrieve information about different product pairings that can enhance customer offerings. This can be particularly useful for institutions looking to advise clients on optimal combinations that meet their financial needs. By leveraging this API, developers can ensure they provide updated and relevant product pairing information to end-users, fostering better customer decisions and engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/product-combination": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve Product Combinations",
        "description": "This endpoint allows you to retrieve available product combinations from the account management system, enabling you to see how products can be bundled together for offerings and promotions.",
        "operationId": "listAccountManagementProductCombinations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide the necessary data for retrieving product combinations in the account management system. It is expected to include relevant filters and parameters to specify the query details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementProductCombinationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested product combination data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementProductCombinationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementProductCombinationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on product combinations in the account management system. It is expected to be a string value.",
        "example": "{}"
      },
      "ListAccountManagementProductCombinationsResponse_200": {
        "title": "Account Management Product Combination Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account product combination items.",
            "example": [
              {
                "accountId": "ACC-373634",
                "customerId": "CUST-475766",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductCombinationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response received from the account management service for product combinations retrieval.",
        "example": {
          "items": [
            {
              "accountId": "ACC-373634",
              "customerId": "CUST-475766",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "015d7ebe-e955-5f76-9756-f32975b32551",
            "correlationId": "5ebf3a4d-fb6e-56f1-8958-3d75117ca76a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductCombinationItem": {
        "title": "Product Combination Item",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in ISO 8601 format."
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the ledger balance."
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger for the account."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated."
          }
        },
        "description": "Represents an individual product combination associated with an account."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about pagination for the results returned."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being accessed. This helps in tracking which endpoint the request was made to for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-combination-search-product-combination"
        },
        "example": "product-combination-search-product-combination"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime for which the request is being processed. This provides context about the environment in which the operation is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses 'Bearer' tokens to authenticate clients. A JSON Web Token (JWT) is expected to be presented in the Authorization header as a means of identifying and authorizing users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}