{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Information Retrieval API",
    "description": "The Merchant Information Retrieval API provides access to detailed information about registered merchants within the system. This endpoint allows users to query merchant data, enabling businesses to analyze their performance, manage relationships, and assess market presence. Typical consumers of this API include business analysts, customer support teams, and integration solutions that require merchant insights. By leveraging this API, organizations can enhance their operational efficiency and make informed decisions based on real-time merchant data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants": {
      "get": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Retrieve a list of merchants",
        "description": "This endpoint allows you to fetch a comprehensive list of all registered merchants in the system. You can expect a paginated response containing merchant details.",
        "operationId": "getMerchantsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body should contain the parameters required to retrieve the list of merchants. It may include filters such as merchant ID or status to refine the search results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantsListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of merchants.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantsListResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantsListRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation on merchants.",
        "example": "{}"
      },
      "GetMerchantsListResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated result.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available for the result set.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of navigation links related to the current result set.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of merchant details.",
            "example": [
              {
                "merchantId": "MER-251194",
                "business": {
                  "legalName": "Olivia Bennett",
                  "tradingName": "Northstar Banking Service",
                  "registrationNumber": "NY-4587219",
                  "taxIdentificationNumber": "STANDARD",
                  "incorporationCountry": "STANDARD",
                  "incorporationDate": "2026-09-15",
                  "merchantType": "STANDARD",
                  "merchantCategoryCode": "5411"
                },
                "registeredAddress": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "stateOrProvince": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                },
                "contact": {
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "website": "https://example.com/resource"
                },
                "status": "ACTIVE",
                "kybStatus": "ACTIVE",
                "amlStatus": "ACTIVE",
                "capabilities": {
                  "channels": [
                    "STANDARD"
                  ],
                  "paymentMethods": [
                    "STANDARD"
                  ],
                  "supportsPartialCapture": true,
                  "supportsPartialRefund": true,
                  "supportsTips": true,
                  "supportsSplitPayments": true
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Merchant"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on merchants.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "merchantId": "MER-251194",
              "business": {
                "legalName": "Olivia Bennett",
                "tradingName": "Northstar Banking Service",
                "registrationNumber": "NY-4587219",
                "taxIdentificationNumber": "STANDARD",
                "incorporationCountry": "STANDARD",
                "incorporationDate": "2026-09-15",
                "merchantType": "STANDARD",
                "merchantCategoryCode": "5411"
              },
              "registeredAddress": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "stateOrProvince": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              },
              "contact": {
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "website": "https://example.com/resource"
              },
              "status": "ACTIVE",
              "kybStatus": "ACTIVE",
              "amlStatus": "ACTIVE",
              "capabilities": {
                "channels": [
                  "STANDARD"
                ],
                "paymentMethods": [
                  "STANDARD"
                ],
                "supportsPartialCapture": true,
                "supportsPartialRefund": true,
                "supportsTips": true,
                "supportsSplitPayments": true
              }
            }
          ],
          "metadata": {
            "responseId": "c6f9ab76-49e0-555f-b361-8f2b9a9015b2",
            "correlationId": "07f32381-7768-567b-83f0-07b64c247b87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL for the linked resource.",
            "example": "https://api.example.com/next"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use for the linked resource.",
            "example": "GET"
          }
        },
        "description": "Represents a navigation link related to the result set."
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "m-123456"
          },
          "business": {
            "type": "object",
            "description": "Details of the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "type": "object",
            "description": "Registered address of the merchant.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "type": "object",
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "active"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "verified"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "compliant"
          },
          "capabilities": {
            "type": "object",
            "description": "Capabilities of the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          }
        },
        "description": "Represents a merchant in the system."
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "Example Corp"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name under which the business operates.",
            "example": "Example Trading"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "BR-123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "TIN-123456"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "USA"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of merchant.",
            "example": "retailer"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code as per industry standards.",
            "example": "5411"
          }
        },
        "description": "Business details for the merchant."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Example St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 200"
          },
          "city": {
            "type": "string",
            "description": "City where the merchant is located.",
            "example": "Example City"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the registered address.",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "USA"
          }
        },
        "description": "Represents the registered address of the merchant."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the merchant.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "https://example.com"
          }
        },
        "description": "Contact information for the merchant."
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels supported by the merchant.",
            "example": [
              "online",
              "in-store"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods accepted by the merchant.",
            "example": [
              "credit_card",
              "paypal"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial captures.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refunds.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          }
        },
        "description": "Capabilities available for the merchant."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-20T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This can be used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-merchants"
        },
        "example": "banking-p2m-openapi-list-merchants"
      },
      "X-Runtime-App": {
        "description": "The name of the application that generated this response. This is useful for identifying the source of the data.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which involves sending a JWT (JSON Web Token) token in the Authorization header of the HTTP request. It is a widely used method for securing APIs and authorizing user access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}