{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Personal Loan Application-spec",
    "description": "The Personal Loan Application Submission API facilitates the creation of personal loan applications for customers. Through this endpoint, financial institutions can efficiently register new applications, capturing essential customer data and loan details. This API serves banks and lending institutions that need to process personal loan requests, supporting their goal of providing timely financial assistance. Typical use cases include onboarding new customers and streamlining loan processing workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/*/personal-loan-applications": {
      "post": {
        "tags": [
          "Customer Loans"
        ],
        "summary": "Create a personal loan application for a specific customer.",
        "description": "This endpoint allows you to submit a personal loan application for a designated customer. Proper authentication and customer identification are required to successfully create the application.",
        "operationId": "create*PersonalLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new personal loan application for a customer. It must include all required fields as specified in the schema to ensure proper processing of the application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*PersonalLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Personal loan application submitted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*PersonalLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*PersonalLoanApplicationRequest": {
        "title": "Personal Loan Application Request",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product.",
            "example": "PROD-691487"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference linked to the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application is submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "Detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer applying for the loan.",
            "example": "CUST-305207"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch processing the application.",
            "example": "CODE-165"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager assigned.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The code of the campaign associated with the loan application.",
            "example": "CODE-665"
          },
          "customerConsent": {
            "description": "The consent details provided by the customer for loan processing.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for creating a personal loan application.",
        "example": {
          "productId": "PROD-691487",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-305207",
          "branchCode": "CODE-165",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-665",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-08-27T23:00:46.271Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "aacf545f-ed27-4c27-a37b-f695310622e1",
            "correlationId": "822edfe3-9f25-4fa0-94f1-0356c1b00a38",
            "idempotencyKey": "560f58e8-480b-42bd-aeba-f44ac2e930d7",
            "requestedAt": "2026-08-27T23:00:46.271Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-491808"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "title": "Requested Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money being requested as principal for the loan.",
            "example": "10000"
          }
        },
        "description": "This schema represents the principal amount and currency requested for a loan application."
      },
      "CustomerConsent": {
        "title": "Customer Consent",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to share their information with credit bureaus.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to the processing of their data.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to receive marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when the customer provided their consent.",
            "example": "2023-10-01T12:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference ID for the customer's consent record.",
            "example": "consent-001"
          }
        },
        "description": "This schema represents the consents given by the customer regarding data processing and sharing."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace requests across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "idempotent-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "system-abc"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that is sending the request.",
            "example": "app-xyz"
          },
          "channel": {
            "description": "Information about the channel used in the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information about the loan application request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the application is made.",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used by the customer.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the details of the channel used for the loan application."
      },
      "Create*PersonalLoanApplicationResponse_201": {
        "title": "Personal Loan Application Response",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product being applied for.",
            "example": "PROD-158112"
          },
          "externalReference": {
            "type": "string",
            "description": "A reference for external systems pertaining to the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was submitted (e.g., online, branch).",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan is being requested.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount and currency requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The unique identifier of the primary customer applying for the loan.",
            "example": "CUST-321328"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the application is processed.",
            "example": "CODE-780"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the loan application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The identifier for any marketing campaign associated with the loan.",
            "example": "CODE-475"
          },
          "customerConsent": {
            "description": "The consent given by the customer for data processing and sharing.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "607d89bd-3b47-35c0-9b5b-129bae4f9dda"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned to the loan application.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application (e.g., pending, approved).",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier for the loan if it has been booked.",
            "example": "LOAN-342019"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage completion of the application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of outstanding requirements needed to process the application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the application processing.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Meta information about the application processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a personal loan application operation.",
        "example": {
          "productId": "PROD-158112",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-321328",
          "branchCode": "CODE-780",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-475",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "607d89bd-3b47-35c0-9b5b-129bae4f9dda",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-342019",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "60a6d861-13c2-5db2-818b-e2e76e042092",
            "correlationId": "3a222ee1-265d-505c-9428-b43efc2d1f59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "title": "Outstanding Requirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code for the outstanding requirement.",
            "example": "doc-001"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the outstanding requirement.",
            "example": "Proof of income"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outstanding requirement (e.g., pending, fulfilled).",
            "example": "pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the outstanding requirement.",
            "example": "2023-10-15"
          }
        },
        "description": "This schema represents an individual requirement that is outstanding for a loan application."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the application was created.",
            "example": "2023-10-01T11:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier for the user who created the application.",
            "example": "user-001"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the application was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier for the user who last updated the application.",
            "example": "user-002"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the application record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "This schema contains audit information related to the processing of the loan application."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated from this application.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the application's processing in logs.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the application processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema represents meta information about the processing of the loan application."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "88267eea64ac3e94"
        },
        "example": "88267eea64ac3e94"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "49b448e6-214f-4c7c-80b8-dc90da389050"
        },
        "example": "49b448e6-214f-4c7c-80b8-dc90da389050"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f40035b4-2fc7-4f65-9ade-6221cdaf18dc"
        },
        "example": "f40035b4-2fc7-4f65-9ade-6221cdaf18dc"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling this request, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-application"
        },
        "example": "banking-loans-openapi-create-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed this request, useful for debugging and auditing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow associated with this request. It helps in correlating the request with its execution path in the processing system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-031"
        },
        "example": "WF-031"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Personal Loan Application and Disbursement"
        },
        "example": "Personal Loan Application and Disbursement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6232cc67-5da1-4731-b582-854f5c92248e"
        },
        "example": "6232cc67-5da1-4731-b582-854f5c92248e"
      }
    }
  }
}