{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Term Deposit-spec",
    "description": "The Term Deposit Creation API enables financial institutions to facilitate the establishment of term deposits for their customers. This service allows users to specify details such as the deposit amount, duration, and interest rates to generate a new term deposit account. Typical consumers include banking applications and financial service platforms seeking to offer comprehensive banking solutions. By integrating this API, businesses can streamline their deposit management processes and enhance customer engagement through tailored banking products.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/*/term-deposits": {
      "post": {
        "tags": [
          "TermDeposits"
        ],
        "summary": "Create a new term deposit for a customer.",
        "description": "This endpoint allows you to create a new term deposit account for a specific customer. You need to provide the customer identifier and the deposit details to successfully create the account.",
        "operationId": "create*TermDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new term deposit for a specific customer. It requires the relevant account and deposit details formatted in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*TermDepositRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Term deposit successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*TermDepositResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*TermDepositRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-428470"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-872551"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product type for the term deposit.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount to be deposited along with its currency.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the term deposit in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the deposit.",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The deposit amount with currency details.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The number of days for the tenor of the deposit.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions regarding the maturity of the deposit.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a term deposit operation.",
        "example": {
          "customerId": "CUST-428470",
          "accountId": "ACC-872551",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "requestContext": {
            "requestId": "6ee96450-92c4-4493-9a29-41c42ccd7254",
            "correlationId": "00224bba-f511-406e-9702-bcf5c88602bd",
            "idempotencyKey": "bd26e914-710a-4b5a-ac71-ad0a80c0f807",
            "requestedAt": "2026-08-27T23:00:23.364Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-535610"
            }
          }
        }
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of money.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified."
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to track the correlation across different services."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency for the request."
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated."
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated."
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request."
          }
        },
        "description": "Information about the channel used for the request."
      },
      "Create*TermDepositResponse_201": {
        "title": "Term Deposit Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-899964"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the term deposit.",
            "example": "ACC-231288"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the specific term deposit product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource created or modified.",
            "example": "RES-157396"
          },
          "status": {
            "type": "string",
            "description": "The current status of the term deposit operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the term deposit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP7891011"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier to trace the request across systems.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:35:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "US-West"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "853b4ac2-88c8-5c8e-b408-7989edab47da",
              "correlationId": "b2bc6d05-8d41-58fe-ab45-ddbfa4cd926f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for creating a term deposit operation.",
        "example": {
          "customerId": "CUST-899964",
          "accountId": "ACC-231288",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-157396",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "853b4ac2-88c8-5c8e-b408-7989edab47da",
            "correlationId": "b2bc6d05-8d41-58fe-ab45-ddbfa4cd926f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "60aa3a389c6aba5a"
        },
        "example": "60aa3a389c6aba5a"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eb79ebb0-e2df-4123-a1ad-2941447a2025"
        },
        "example": "eb79ebb0-e2df-4123-a1ad-2941447a2025"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "56431a49-4b95-4c25-bee1-e87f8ff268ab"
        },
        "example": "56431a49-4b95-4c25-bee1-e87f8ff268ab"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-create-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-create-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the specific workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Term Deposit Opening and Maturity Instruction"
        },
        "example": "Term Deposit Opening and Maturity Instruction"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a0240afa-c495-4f1d-9a0d-52a4cbf5849e"
        },
        "example": "a0240afa-c495-4f1d-9a0d-52a4cbf5849e"
      }
    }
  }
}