{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Allocation Management API",
    "description": "The Collateral Allocation Management API facilitates the efficient management and retrieval of collateral allocation data. It allows users to query existing collateral allocations, providing insights into asset distribution and availability. This API is essential for financial institutions, risk managers, and asset administrators looking to optimize collateral usage and ensure compliance. Typical use cases include assessing collateral sufficiency and generating reports for regulatory purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-allocation-management": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve collateral allocation management data.",
        "description": "This endpoint allows developers to access and retrieve detailed information regarding collateral allocation management, enabling effective administration and oversight of collateral resources.",
        "operationId": "getCollateralAllocationManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET request for managing collateral allocation under the collateral administration domain. It contains parameters necessary to retrieve the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAllocationManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current collateral allocation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAllocationManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAllocationManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to collateral allocation management.",
        "example": "{}"
      },
      "GetCollateralAllocationManagementResponse_200": {
        "title": "Collateral Allocation Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of collateral items.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-396540",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralItem"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the GET operation on Collateral Allocation Management, containing a list of collateral items with pagination and metadata.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-396540",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c3635dd9-5e28-50e6-b974-f5eb433ff881",
            "correlationId": "49e1c031-b164-5b4e-abee-0381a0bb3323",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralItem": {
        "title": "Collateral Item",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "collateral123"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier of the party associated with the collateral.",
            "example": "party456"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset being used as collateral.",
            "example": "Real Estate"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/Money"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the valuation of the collateral was made.",
            "example": "2023-10-01"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure linked to this collateral.",
            "example": "exposure789"
          },
          "haircutPercent": {
            "type": "number",
            "description": "The percentage haircut applied to the market value.",
            "example": 10.5
          },
          "lienStatus": {
            "type": "string",
            "description": "The lien status of the collateral.",
            "example": "First lien"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the collateral record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the collateral record was last updated.",
            "example": "2023-10-01T12:34:56Z"
          }
        },
        "description": "Schema representing a collateral item with its properties."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the monetary value.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-allocation-management-search-collateral-allocation-management"
        },
        "example": "collateral-allocation-management-search-collateral-allocation-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. The client must include a valid JWT (JSON Web Token) in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}