{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan By Param1-spec",
    "description": "The Loan Application Update API allows businesses to modify existing loan applications identified by a unique parameter. This endpoint supports updating various attributes of the loan application, enabling financial institutions to maintain current and accurate loan records. Typical consumers include loan officers and backend systems that require adjustments to loan applications during processing. By streamlining the update process, organizations can enhance customer service and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Application",
        "description": "Updates the details of a specific loan application identified by its ID. This operation allows modifications to the loan application, enabling users to keep their information up to date.",
        "operationId": "replaceLoanByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating a loan application with the specified ID. It should contain all necessary information required to modify the existing application, including fields like applicant details, loan amount, and any pertinent updates or changes requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the loan application is updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanByParam1Request": {
        "title": "Loan Application Request",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier of the loan product.",
            "example": "PROD-427579"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application is submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The amount of principal requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer applying for the loan.",
            "example": "CUST-162720"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch handling the application.",
            "example": "CODE-989"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The code of the marketing campaign associated with the loan.",
            "example": "CODE-967"
          },
          "customerConsent": {
            "description": "The customer's consent information.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a loan application.",
        "example": {
          "productId": "PROD-427579",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-162720",
          "branchCode": "CODE-989",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-967",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "b14f177e-adde-58db-8cca-ef218dd1a629",
            "correlationId": "a0681006-b31e-5919-ad16-b91ca86d5e6a",
            "idempotencyKey": "a913b840-60f8-5f03-898c-91af6a2c582a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-465688"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "title": "Requested Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal requested.",
            "example": "10000"
          }
        },
        "description": "Schema representing the requested principal amount and its currency."
      },
      "CustomerConsent": {
        "title": "Customer Consent",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to data processing activities.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer consents to marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when consent was given.",
            "example": "2023-01-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference associated with the consent provided by the customer.",
            "example": "consent-12345"
          }
        },
        "description": "Schema representing the consents given by the customer for processing their information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the same request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel through which the request was submitted.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel used in the request context."
      },
      "ReplaceLoanByParam1Response_200": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier of the financial product.",
            "example": "PROD-736272"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for tracking purposes.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer associated with the application.",
            "example": "CUST-525316"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the application was submitted.",
            "example": "CODE-281"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling this application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The code for any marketing campaign associated with the loan.",
            "example": "CODE-717"
          },
          "customerConsent": {
            "description": "Customer consent details for processing the loan application.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "31b32c11-02ef-d783-b961-66d9f88aca8a"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number for tracking purposes.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when the application decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier of the booked loan linked to this application, if applicable.",
            "example": "LOAN-957750"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage of the loan application process that has been completed.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of outstanding requirements needed to process the application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the loan application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan application operation.",
        "example": {
          "productId": "PROD-736272",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-525316",
          "branchCode": "CODE-281",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-717",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "31b32c11-02ef-d783-b961-66d9f88aca8a",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-957750",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "e108c7d8-40fa-5359-97b1-96c6b3807a1f",
            "correlationId": "a0681006-b31e-5919-ad16-b91ca86d5e6a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "title": "Outstanding Requirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code identifying the outstanding requirement.",
            "example": "REQ-001"
          },
          "description": {
            "type": "string",
            "description": "A description of the requirement.",
            "example": "Proof of income"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outstanding requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the requirement needs to be fulfilled.",
            "example": "2023-12-31"
          }
        },
        "description": "Schema representing a requirement that is still outstanding for the loan application."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the application was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the application.",
            "example": "user-123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the application was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the application.",
            "example": "user-456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the application record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit details of the loan application."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier of the response for tracking purposes.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request in a distributed system.",
            "example": "corr-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the application was processed.",
            "example": "US-West"
          }
        },
        "description": "Schema containing metadata details related to the response of the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This ID helps in tracing requests and responses related to specific operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-application"
        },
        "example": "banking-loans-openapi-replace-loan-application"
      },
      "X-Runtime-App": {
        "description": "Identifies the application being used to process the request. This information can be useful for troubleshooting and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses Bearer authentication scheme, utilizing JSON Web Tokens (JWT) for authorizing access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}