{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan By Payment Id-spec",
    "description": "This API endpoint allows users to retrieve detailed information about specific loan payments using their respective loan and payment IDs. It serves as a critical resource for financial institutions, lending platforms, and customer service applications that need to track loan payment statuses or details. Typical consumers include lenders, financial analysts, and customer service representatives seeking to assist clients with inquiries regarding their loan payments. By accessing this endpoint, users can leverage valuable data related to payment history, transaction amounts, and due dates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve payment details for a specific loan.",
        "description": "This endpoint allows you to fetch detailed information about a specific payment associated with a loan. You can specify the loan ID and payment ID to get the relevant details, which include payment amount, date, and status.",
        "operationId": "getLoanByPaymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for the specified loan and payment identifier. It is essential to provide the correct loan and payment IDs to receive accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanByPaymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanByPaymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanByPaymentIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the operations related to a specific loan payment request.",
        "example": "{}"
      },
      "GetLoanByPaymentIdResponse_200": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of the payment including currency.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date that the payment value is effective from.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference associated with the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment across installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "The list of installment numbers to which this payment is allocated.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "An installment number that the payment applies to.",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details for a manually allocated payment.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A descriptive narrative of the payment details.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the payment.",
            "example": "8dafd251-3a80-8668-bbfd-89d466d0f8c7"
          },
          "paymentNumber": {
            "type": "string",
            "description": "A unique number assigned to the payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment (e.g., completed, pending).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "How the payment has been allocated to various components.",
            "$ref": "#/components/schemas/PaymentAllocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction related to the payment.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The date and time when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of a payment operation related to a specific loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "8dafd251-3a80-8668-bbfd-89d466d0f8c7",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6d4692b1-53b9-5256-bd2d-651583cf7dcb",
            "correlationId": "43970106-5277-5074-bdf9-905aeb161101",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money for the payment.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount of a payment including the currency."
      },
      "ManualAllocation": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "The allocated amount towards the principal.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "interest": {
            "description": "The allocated amount towards interest.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "fees": {
            "description": "The allocated amount towards fees.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "penalties": {
            "description": "The allocated amount towards penalties.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "excess": {
            "description": "The allocated amount towards excess payments.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema representing the manual allocation details of a payment."
      },
      "PaymentAllocation": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "The amount allocated to the principal.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "interest": {
            "description": "The amount allocated to interest.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "fees": {
            "description": "The amount allocated to fees.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "penalties": {
            "description": "The amount allocated to penalties.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "excess": {
            "description": "The amount allocated to excess payments.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema representing the allocation details of a payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "ID of the response associated with this payment.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata associated with the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-payment"
        },
        "example": "banking-loans-openapi-get-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism, where the client transmits a JSON Web Token (JWT) as part of the authorization header to access secured resources. The JWT should be obtained from a secure identity provider.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}