{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Position Keeping API",
    "description": "The Securities Position Keeping API provides essential functionalities for managing and tracking securities positions within an account. This API enables organizations to retrieve current information about their securities holdings, including details on quantity, value, and performance metrics. Financial institutions, asset managers, and investment firms typically use this API to ensure accurate records and facilitate effective portfolio management. By integrating this API, users can maintain a comprehensive view of their investment positions and make informed decisions based on up-to-date data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve the securities position from account management.",
        "description": "This endpoint allows users to fetch the current securities position associated with their account management. It provides detailed information about all securities held, including quantities, valuations, and any pertinent transaction history.",
        "operationId": "getSecuritiesPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the securities position keeping information. It should include all necessary parameters to specify the desired account and securities details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecuritiesPositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the securities position details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecuritiesPositionKeepingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecuritiesPositionKeepingRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving information about securities positions in the account management system.",
        "example": "{}"
      },
      "GetSecuritiesPositionKeepingResponse_200": {
        "title": "Securities Position Keeping Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of securities positions associated with the account.",
            "example": [
              {
                "accountId": "ACC-755536",
                "customerId": "CUST-507029",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "safekeepingAccountId": "ACC-342383",
                "custodyLocation": "STANDARD",
                "positionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecuritiesPosition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Criteria used for sorting the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving securities position keeping data.",
        "example": {
          "items": [
            {
              "accountId": "ACC-755536",
              "customerId": "CUST-507029",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "safekeepingAccountId": "ACC-342383",
              "custodyLocation": "STANDARD",
              "positionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3d08bd99-2719-5fc4-9c28-d6b81c8b83bc",
            "correlationId": "e9a892de-128e-5ac8-8150-b064484cbd45",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecuritiesPosition": {
        "title": "Securities Position",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry for this position.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the position is held.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the ledger for this position.",
            "example": 0.0
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The identifier for the safekeeping account associated with this position.",
            "example": "string"
          },
          "custodyLocation": {
            "type": "string",
            "description": "The location where the assets are kept.",
            "example": "string"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of the position held.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the position was last updated.",
            "example": "string"
          }
        },
        "description": "This schema represents an individual securities position within an account."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema represents pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this response with other requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-search-securities-position-keeping"
        },
        "example": "securities-position-keeping-search-securities-position-keeping"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for identifying the source in multi-application environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token should be provided as a string and is typically generated using JSON Web Tokens (JWT). Ensure that the token is valid and not expired for successful API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}