{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payment Details API",
    "description": "The International Payment Details API enables consumers to access comprehensive information about specific international payments made through open banking protocols. It serves as a critical resource for financial institutions and fintech applications to verify payment details, track transactions, and ensure compliance with regulatory requirements. Clients such as businesses and accountants can utilize this API to enhance transparency in their international payment processes, providing an efficient way to confirm payment statuses and details. This functionality is essential for users managing cross-border payments and seeking to optimize their financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve payment details for a specified international payment.",
        "description": "This endpoint allows you to fetch detailed information about a specific international payment identified by its unique payment ID. Use this to obtain transaction details, status, and associated data required for tracking and reconciliation.",
        "operationId": "getPaymentDetailsForInternationalPaymentPAY300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment details for a specific international payment identified by the payment ID PAY-300045. Ensure that the necessary authentication and authorization headers are attached to the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForInternationalPaymentPAY300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and payment details have been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForInternationalPaymentPAY300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForInternationalPaymentPAY300045Request": {
        "type": "string",
        "description": "A request body for retrieving payment details in the context of international payments.",
        "example": "{}"
      },
      "GetPaymentDetailsForInternationalPaymentPAY300045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment statuses for the transactions.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource.",
                    "example": "https://api.example.com/payment/details"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of the resource.",
                    "example": "https://api.example.com/payment/details?page=1"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of the resource.",
                    "example": "https://api.example.com/payment/details?page=2"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of the resource.",
                    "example": "https://api.example.com/payment/details?page=4"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of the resource.",
                    "example": "https://api.example.com/payment/details?page=10"
                  }
                },
                "description": "Hyperlinks related to the response."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of available pages.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time when the first payment became available.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time when the last payment became available.",
                    "example": "2023-01-31T00:00:00Z"
                  }
                },
                "description": "Additional metadata related to the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "abcd1234"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "ID used to correlate requests and responses.",
                    "example": "efgh5678"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp indicating when the response was generated.",
                    "example": "2023-01-01T00:01:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the payment was processed.",
                    "example": "EU"
                  }
                },
                "description": "Response metadata information."
              }
            },
            "description": "Contains data related to payment transactions.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-269589",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the payment details retrieved from the international payments API.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-269589",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "046cfdd2-bc92-56d2-bc37-8a1144f63aaa",
            "correlationId": "415fe15b-d33f-5d95-aa85-272fce44e4c5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "trans_12345"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "Completed"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "2023-01-01T00:10:00Z"
          },
          "StatusDetail": {
            "$ref": "#/components/schemas/StatusDetail"
          }
        },
        "description": "Details about a payment transaction status."
      },
      "StatusDetail": {
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the transaction.",
            "example": "SEPA"
          },
          "Status": {
            "type": "string",
            "description": "Detailed status of the transaction.",
            "example": "Settled"
          },
          "StatusReason": {
            "type": "string",
            "description": "Reason for the current status.",
            "example": "Successful"
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "Detailed description of the status reason.",
            "example": "The payment was successfully processed and settled."
          }
        },
        "description": "Detailed status information of the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment-details"
        },
        "example": "payment-initiation-openapi-get-international-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). Clients are required to include the JWT token in the Authorization header when making requests, ensuring that the API can authenticate and authorize the user effectively.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}