{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Submission API",
    "description": "The Loan Application Submission API facilitates the submission of loan applications for processing. This endpoint enables businesses to streamline the loan application process, ensuring that submitted applications are correctly formatted and ready for evaluation. Common consumers of this API include financial institutions and loan processing systems looking to automate their application intake process. By utilizing this API, users can enhance operational efficiency and improve the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/submit": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Submit a loan application.",
        "description": "This endpoint allows you to submit a loan application identified by its unique ID. After submission, the application will be processed according to the business rules established by the financial institution.",
        "operationId": "submitLoanApplication_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Submits a loan application for processing. Ensure that all required fields in the request body are filled out accurately to avoid errors during submission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitLoanApplication_res100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitLoanApplication_res100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SubmitLoanApplication_res100045Request": {
        "type": "object",
        "properties": {
          "submittedByCustomerId": {
            "type": "string",
            "description": "The identifier of the customer submitting the loan application.",
            "example": "CUST-632711"
          },
          "declarationAccepted": {
            "type": "boolean",
            "description": "Indicates whether the declaration has been accepted by the customer.",
            "example": true
          },
          "declarationVersion": {
            "type": "string",
            "description": "The version of the declaration accepted by the customer.",
            "example": "STANDARD"
          },
          "otpTransactionId": {
            "type": "string",
            "description": "The transaction ID associated with the OTP validation process.",
            "example": "TXN-574914"
          },
          "notes": {
            "type": "string",
            "description": "Any additional notes provided by the customer.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a loan application.",
        "example": {
          "submittedByCustomerId": "CUST-632711",
          "declarationAccepted": true,
          "declarationVersion": "STANDARD",
          "otpTransactionId": "TXN-574914",
          "notes": "STANDARD",
          "requestContext": {
            "requestId": "6ea88085-875a-5d9f-82cb-523391bed15d",
            "correlationId": "3dabd212-e920-5a79-bb13-984d4579c4da",
            "idempotencyKey": "3b34f368-8c7a-5103-91f6-1503877e504a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-674355"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the same request is not processed multiple times.",
            "example": "idempotency-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Online Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "LoanApp v1.5"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for capturing context information related to the loan application request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-abc-123"
          }
        },
        "description": "Schema representing information about the communication channel used."
      },
      "SubmitLoanApplication_res100045Response_202": {
        "type": "object",
        "properties": {
          "commandId": {
            "type": "string",
            "description": "A unique identifier for the command.",
            "example": "ad898d14-53b5-362b-8fde-2a2cc3a7ce2c"
          },
          "status": {
            "type": "string",
            "description": "The status of the loan application submission.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp indicating when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the submitted loan application resource.",
            "example": "RES-530735"
          },
          "metadata": {
            "description": "Additional information related to the submission.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for submitting a loan application.",
        "example": {
          "commandId": "ad898d14-53b5-362b-8fde-2a2cc3a7ce2c",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "resourceId": "RES-530735",
          "metadata": {
            "responseId": "678138e7-c54d-5d19-83e6-0710dd3134b5",
            "correlationId": "3dabd212-e920-5a79-bb13-984d4579c4da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate the request and response.",
            "example": "correlation-abc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:05Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the application was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata containing additional information for the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that has processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-submit-loan-application"
        },
        "example": "banking-loans-openapi-submit-loan-application"
      },
      "X-Runtime-App": {
        "description": "The runtime application identifier that indicates which application handled this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme, which involves sending a JWT (JSON Web Token) as a bearer token in the HTTP Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}