{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Trade Settlements-spec",
    "description": "The Market Operation Trade Settlements API provides a means to access and retrieve settlement data for market operations. This endpoint allows users to obtain a comprehensive list of trade settlements, which is essential for financial analysts and operational teams involved in transaction reconciliation and reporting. Key use cases include tracking settlement statuses and analyzing settlement trends. Typical consumers include banking institutions, investment firms, and compliance officers who require up-to-date settlement information for regulatory adherence and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-settlement": {
      "get": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Retrieve trade settlement information.",
        "description": "This endpoint allows users to fetch detailed information regarding trade settlements. It provides essential data related to completed trades, their statuses, and relevant timestamps necessary for market operations tracking.",
        "operationId": "listMarketOperationTradeSettlements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint retrieves information related to trade settlements in the market operations. The request body must conform to the specified schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationTradeSettlementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of trade settlement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationTradeSettlementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationTradeSettlementsRequest": {
        "type": "string",
        "description": "A request body in JSON format for market operations related to trade settlement. This schema represents the expected structure of the request, although details are not provided.",
        "example": "{}"
      },
      "ListMarketOperationTradeSettlementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of trade settlement items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "clearingHouseId": "STANDARD",
                "settlementMethod": "STANDARD",
                "matchingStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeSettlementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the response data.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Trade Settlement GET operation.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "clearingHouseId": "STANDARD",
              "settlementMethod": "STANDARD",
              "matchingStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1a70d5b4-5c37-5daa-bf30-b92f5224b0b5",
            "correlationId": "daa1fb35-bcb2-5440-aa70-337dff382717",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeSettlementItem": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade."
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument."
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the settlement occurs."
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being settled.",
            "format": "int32"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement is denominated."
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier of the custodian handling the trade."
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier of the clearing house managing the settlement."
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method of settlement (e.g., cash, delivery)."
          },
          "matchingStatus": {
            "type": "string",
            "description": "Current matching status of the trade."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the trade settlement."
          }
        },
        "description": "Schema representing an individual trade settlement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, aiding in tracing the specific API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-settlement-search-trade-settlement"
        },
        "example": "trade-settlement-search-trade-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens, typically in the form of a JSON Web Token (JWT), to authenticate requests. The token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}