{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Issued Device Administrations-v5-spec",
    "description": "The Issued Device Administration Listing API enables users to access a comprehensive list of banking operational services related to issued device administrations. This endpoint provides valuable insights into devices issued for banking operations, facilitating effective device management and oversight. Typical consumers include banking administrators and compliance officers who require detailed information for monitoring and reporting purposes. Use cases include reviewing issued device statuses, tracking device assignments, and ensuring compliance with operational standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-administration": {
      "get": {
        "tags": [
          "Issued Device Management"
        ],
        "summary": "Retrieve issued device administration details.",
        "description": "This endpoint allows users to retrieve detailed information about the administration of issued devices within the operational services. It provides insights into device status, assignment, and management protocols.",
        "operationId": "listBankingOperationalServicesIssuedDeviceAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding issued device administration. Provide the necessary parameters in the application/json format to specify the details of the issued device you want to manage or inquire about.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesIssuedDeviceAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesIssuedDeviceAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesIssuedDeviceAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the issued device administration operation in the operational services API.",
        "example": "{}"
      },
      "ListBankingOperationalServicesIssuedDeviceAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of issued devices.",
            "example": [
              {
                "deviceId": "DEV-623557",
                "deviceType": "STANDARD",
                "assignedPartyId": "PARTY-904946",
                "serialNumber": "STANDARD",
                "deviceStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IssuedDevice"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the issued devices.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET request to retrieve issued device administration details.",
        "example": {
          "items": [
            {
              "deviceId": "DEV-623557",
              "deviceType": "STANDARD",
              "assignedPartyId": "PARTY-904946",
              "serialNumber": "STANDARD",
              "deviceStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "beef5770-6876-5f59-8d93-1ff2f553aa9d",
            "correlationId": "02a3b09b-4365-52c9-9580-da52ef316632",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IssuedDevice": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "123456"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the device.",
            "example": "smartphone"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier of the party to whom the device is assigned.",
            "example": "party123"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the device.",
            "example": "SN-987654321"
          },
          "deviceStatus": {
            "type": "string",
            "description": "Current status of the device.",
            "example": "active"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record for this device.",
            "example": "valid"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update on the device record.",
            "example": "2023-10-05T12:34:56Z"
          }
        },
        "description": "Schema representing an issued device."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across systems.",
            "example": "corr-xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-search-issued-device-administration"
        },
        "example": "issued-device-administration-search-issued-device-administration"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT) via a bearer token. Clients must include the JWT token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}