{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Refund-spec",
    "description": "The P2M Refund Processing API allows businesses to efficiently manage refund transactions for peer-to-peer money transfers. This API enables users to initiate refund requests and handle the necessary transactional adjustments seamlessly. It is particularly valuable for financial services and e-commerce platforms aiming to provide a responsive customer service experience. Typical consumers include developers working on financial applications that require automated refund processing capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds": {
      "post": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Create a new refund for a transaction.",
        "description": "This endpoint allows you to initiate a refund for a qualifying transaction, specifying the refund amount and reason. Ensure that the transaction is eligible for a refund before using this endpoint.",
        "operationId": "createP2mRefund",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a refund operation. This should contain the necessary details required to process the refund.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mRefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mRefundResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mRefundRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment being refunded.",
            "example": "PAY-759274"
          },
          "amount": {
            "description": "The amount being refunded along with its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for the refund.",
            "example": "CODE-218"
          },
          "reason": {
            "type": "string",
            "description": "A detailed description of the refund reason.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "A reference identifier provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information surrounding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "paymentId": "PAY-759274",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-218",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "requestContext": {
            "requestId": "864a9875-fe3e-560a-9944-973e50fa54c5",
            "correlationId": "71ea356f-5891-54cf-ac42-9567ae603591",
            "idempotencyKey": "52abf86a-8d3b-50e8-b3b5-e789fe66087d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-161329"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount being refunded.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the currency and value of the amount being refunded."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs for tracking.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that initiated the request.",
            "example": "Web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application name from which the request originated.",
            "example": "PaymentApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request such as identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Information regarding the channel through which the request was made."
      },
      "CreateP2mRefundResponse_201": {
        "title": "Refund Response",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the related payment.",
            "example": "PAY-847460"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-953888"
          },
          "amount": {
            "description": "Details of the amount being refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-321"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Merchant's reference for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details about any failure that occurred during the refund process.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Details provided by the payment processor regarding the transaction.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit details regarding the creation and update of the refund.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the refund operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response returned after a successful refund operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-847460",
          "merchantId": "MER-953888",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-321",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-923",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-263917",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-749"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "08037b54-c229-597d-9298-94be88fcf772",
            "correlationId": "71ea356f-5891-54cf-ac42-9567ae603591",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Failure": {
        "title": "Failure",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of failure (e.g., network error, validation error).",
            "example": "validation_error"
          },
          "code": {
            "type": "string",
            "description": "Specific error code.",
            "example": "ERR123"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message.",
            "example": "The refund amount exceeds the original transaction amount."
          },
          "declineCode": {
            "type": "string",
            "description": "Decline code from the payment processor if applicable.",
            "example": "DECLINE123"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the refund operation can be retried.",
            "example": false
          }
        },
        "description": "Schema representing the failure details of a refund operation."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Payment network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID issued by the payment scheme.",
            "example": "TRANS123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "ACQ123456"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number provided by the issuer.",
            "example": "ISS123456"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number used for retrieving the original transaction.",
            "example": "RRN123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Schema representing the details provided by the payment processor for the refund operation."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date and time when the refund was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the refund.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the refund was last updated.",
            "example": "2023-10-01T12:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the refund.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details regarding the refund operation."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related operations.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata related to the refund operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-refund"
        },
        "example": "banking-p2m-openapi-create-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically JWT (JSON Web Tokens) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}