{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Corporate Relation By Param1-spec",
    "description": "The Corporate Relations Retrieval API enables users to access specific corporate relationship details based on the provided parameter. This endpoint supports the retrieval of communication-related information tied to a corporation, facilitating better understanding and engagement with corporate entities. Typical consumers of this API include financial institutions, corporate partners, and analysts looking to access detailed corporate communication insights. By leveraging this API, users can streamline their corporate analytics and enhance relationship management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-communications/{param1}": {
      "get": {
        "tags": [
          "CorporateRelations"
        ],
        "summary": "Retrieve corporate communication details by ID.",
        "description": "Fetches detailed information regarding a specific corporate communication identified by RES-100045. This operation allows users to gain insights into the communication aspect of corporate relations, facilitating better understanding and management of corporate communications.",
        "operationId": "getCorporateRelationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve corporate communication data for the specified resource. It expects a JSON payload that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateRelationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateRelationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateRelationByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to corporate communications operations.",
        "example": "{}"
      },
      "GetCorporateRelationByParam1Response_200": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the communication.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "Date and time when the engagement is scheduled.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the corporate communications operations.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "28aa27d8-e044-504d-a228-b51d47cfcdad",
            "correlationId": "a69e27ef-37d8-582a-ace1-681e218d5a48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing is handled.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking requests through different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-communications-get-corporate-communications"
        },
        "example": "corporate-communications-get-corporate-communications"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This aids in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client sends a JSON Web Token (JWT) as a bearer token in the Authorization header. It is commonly used for securing APIs by providing a means of transmitting claims and ensuring the identity of the client.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}