{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Event Notifications API",
    "description": "The Manage Event Notifications API enables users to update event subscriptions for specific webhooks within the system. It allows clients to configure which events should trigger notifications, facilitating real-time responses to changes or actions in the application. Typical consumers of this API include developers integrating webhook functionality in their applications, ensuring that their systems react appropriately to relevant events. This enhances user engagement and system interactivity by maintaining accurate and up-to-date notification preferences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/events/{eventId}": {
      "put": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update webhook event for RES-100045",
        "description": "This operation allows you to update the details of a specific webhook event associated with the resource RES-100045. Make sure to provide the necessary fields in the request body to apply the changes successfully.",
        "operationId": "updateWebhookEventRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          },
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update events related to the RES-100045 webhook. Ensure that the JSON object adheres to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookEventRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update request was successful, and the resource is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookEventRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookEventRes100045Request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the webhook.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URL to which the webhook will send notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "The conditions under which the webhook is triggered.",
            "$ref": "#/components/schemas/Condition"
          },
          "requestContext": {
            "description": "Contextual information about the request, such as IDs and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating webhooks events.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "ec502529-478c-53bf-92f9-ff9a19cf091b",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "idempotencyKey": "f7b0359e-77aa-5ab3-a322-b60614c8d06d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-682213"
            }
          }
        }
      },
      "Condition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event types the webhook is subscribed to.",
            "example": "string"
          },
          "includes": {
            "type": "array",
            "description": "A list of items that are included in the conditions.",
            "items": {
              "type": "string",
              "description": "An item included in the condition.",
              "example": "string"
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of items that are excluded from the conditions.",
            "items": {
              "type": "string",
              "description": "An item excluded from the condition.",
              "example": "string"
            }
          }
        },
        "description": "Defines the conditions for the webhook trigger."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device making the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateWebhookEventRes100045Response_200": {
        "title": "Webhook Response",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the webhook.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URL where the webhook will send data.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "Defines the condition under which the webhook will be triggered.",
            "$ref": "#/components/schemas/WebhookCondition"
          },
          "metadata": {
            "description": "Contains metadata related to the webhook operation.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Represents the response received when a webhook operation is successfully executed.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "5141395e-2dfa-51e4-a1f5-c53206f3f916",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookCondition": {
        "title": "Webhook Condition",
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "Specifies the event types that the webhook subscribes for.",
            "example": "user.signup"
          },
          "includes": {
            "type": "array",
            "description": "An array of identifiers for the events that should be included.",
            "items": {
              "type": "string",
              "description": "An array of event identifiers that are included."
            }
          },
          "excludes": {
            "type": "array",
            "description": "An array of identifiers for the events that should be excluded.",
            "items": {
              "type": "string",
              "description": "An array of event identifiers that are excluded."
            }
          }
        },
        "description": "Defines the condition for the webhook triggering events."
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the webhook response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating messages.",
            "example": "abcde-67890-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the webhook took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata related to the webhook operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-webhook-subscription-event"
        },
        "example": "open-finance-api-update-webhook-subscription-event"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a JWT (JSON Web Token) to be included in the Authorization header of requests. The JWT must be valid and properly signed to grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}