{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Sbca Location Matches-spec",
    "description": "The Location Match Retrieval API facilitates the identification of location matches within the SBCA framework. This endpoint allows users to access detailed information regarding location data that aligns with specific decisioning criteria. Typical consumers include data analysts and decisioning specialists seeking to enhance their insights for business strategies. By providing streamlined access to location match data, this API aids businesses in optimizing operational efficiency and improving decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/sbca/location-matches": {
      "get": {
        "tags": [],
        "summary": "Retrieve location matches.",
        "description": "This endpoint allows you to retrieve matches for locations based on the specified criteria, providing essential data for location-related functionality within the application.",
        "operationId": "listSbcaLocationMatches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving location matches. This should contain criteria to identify the locations you are interested in.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSbcaLocationMatchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved location matches.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSbcaLocationMatchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSbcaLocationMatchesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the 'location matches' operation of the GET request in the API.",
        "example": "{}"
      },
      "ListSbcaLocationMatchesResponse_200": {
        "type": "object",
        "properties": {
          "locationMatches": {
            "type": "array",
            "description": "An array of location matches with relevant details.",
            "example": [
              {
                "locationId": "e19ddfa2-42a4-3b91-0ce5-b80dad35b48f",
                "matchRank": 1,
                "merchantName": "Northstar Banking Service",
                "streetAddress": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "countryCode": "US"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LocationMatch"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving location match details in a GET operation.",
        "example": {
          "locationMatches": [
            {
              "locationId": "e19ddfa2-42a4-3b91-0ce5-b80dad35b48f",
              "matchRank": 1,
              "merchantName": "Northstar Banking Service",
              "streetAddress": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "countryCode": "US"
            }
          ],
          "metadata": {
            "responseId": "2f15676d-ca21-590d-9b5c-8285a131ba32",
            "correlationId": "6893ef68-edb9-54d7-9471-29c7fc829332",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LocationMatch": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Unique identifier for the location.",
            "example": "location_123"
          },
          "matchRank": {
            "type": "integer",
            "description": "Rank of the match indicating how closely it matches the request.",
            "format": "int32",
            "example": 1
          },
          "merchantName": {
            "type": "string",
            "description": "Name of the merchant associated with the location.",
            "example": "Best Coffee"
          },
          "streetAddress": {
            "type": "string",
            "description": "Street address of the location.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the location is situated.",
            "example": "Metropolis"
          },
          "state": {
            "type": "string",
            "description": "State where the location is situated.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the location.",
            "example": "12345"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "example": "US"
          }
        },
        "description": "Details about a matched location."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across services.",
            "example": "correlation_789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that was called, which can be used for tracking and analytics.",
          "example": "open-finance-api-get-location-matches"
        },
        "example": "open-finance-api-get-location-matches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the runtime application that handled the request, useful for diagnosing which application processed the API call.",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate using a JSON Web Token (JWT). The token must be included in the `Authorization` header of the request, prefixed by the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}