{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Tax Administration API",
    "description": "The Enterprise Tax Administration API provides access to a comprehensive suite of tools for managing enterprise-level tax processes. Users can retrieve information on tax regulations, track payments, and manage compliance across various jurisdictions. This API is designed for financial institutions, enterprises, and tax professionals looking to streamline their tax administration efforts. With this API, developers can integrate essential tax functionalities into their applications, ensuring accurate and timely tax management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/enterprise-tax-administration": {
      "get": {
        "tags": [
          "Tax Management"
        ],
        "summary": "Retrieve enterprise tax administration details.",
        "description": "This endpoint allows users to fetch information related to enterprise tax administration, including relevant regulations, procedures, and important deadlines to ensure compliance.",
        "operationId": "getEnterpriseTaxAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving enterprise tax administration information. This request should provide all necessary parameters in JSON format to ensure a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseTaxAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning enterprise tax administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseTaxAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseTaxAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to enterprise tax administration operations in finance.",
        "example": "{}"
      },
      "GetEnterpriseTaxAdministrationResponse_200": {
        "title": "Enterprise Tax Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of tax administration entries.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TaxAdministrationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response structure for the Enterprise Tax Administration GET operation, including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "55ea886e-fcfb-5ff8-a9a8-278836b637d4",
            "correlationId": "c17ab32e-1e8c-5e47-a192-7583891d5f4b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TaxAdministrationItem": {
        "title": "Tax Administration Item",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "12345"
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger to which the entry belongs.",
            "example": "ledger001"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the entry.",
            "example": "2023-10"
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The numerical value of the amount.",
                "example": 1000.0
              },
              "currency": {
                "type": "string",
                "description": "The currency in which the amount is denominated.",
                "example": "USD"
              }
            },
            "description": "The amount associated with the tax administration entry."
          },
          "postingDate": {
            "type": "string",
            "description": "The date the entry was posted.",
            "example": "2023-10-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., Posted, Draft).",
            "example": "Posted"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the entry was last updated.",
            "example": "2023-10-15"
          }
        },
        "description": "Represents a single entry in the tax administration items list."
      },
      "Pagination": {
        "title": "Pagination Info",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page (number of items per page).",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the request through the system.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-tax-administration-search-enterprise-tax-administration"
        },
        "example": "enterprise-tax-administration-search-enterprise-tax-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT token in the 'Authorization' header using the 'Bearer' scheme to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}