{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_MICROSERVICE_PROD_Systems Help Desk API",
    "description": "The Systems Help Desk API provides a streamlined approach for requesting and managing IT support related to banking systems. This API allows users to retrieve current support tickets, status updates, and available resources to address system issues efficiently. Typical consumers include IT personnel and support staff who need to manage system-related queries and ensure optimal operational performance. By leveraging this API, organizations can enhance their internal support processes, improve response times, and maintain high availability of banking systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve help desk systems information.",
        "description": "This endpoint allows users to fetch the list of help desk systems available in the IT management framework. It provides essential details that can be used for monitoring and managing these systems effectively.",
        "operationId": "getHelpDeskSystems",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information from the systems help desk. It must conform to the defined JSON schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHelpDeskSystemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the help desk data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHelpDeskSystemsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHelpDeskSystemsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the IT Management Systems Help Desk operations using the GET method. It is intended to convey any string data required for the operation.",
        "example": "{}"
      },
      "GetHelpDeskSystemsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of incident records.",
            "example": [
              {
                "incidentId": "STANDARD",
                "affectedSystemId": "STANDARD",
                "impact": "STANDARD",
                "urgency": "STANDARD",
                "summary": "STANDARD",
                "reportedBy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IncidentRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The field by which the results are sorted.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Help Desk operations that provides a list of incidents along with pagination, sort, and metadata.",
        "example": {
          "items": [
            {
              "incidentId": "STANDARD",
              "affectedSystemId": "STANDARD",
              "impact": "STANDARD",
              "urgency": "STANDARD",
              "summary": "STANDARD",
              "reportedBy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "133a08c7-3630-5974-a5ac-cdb0bedec501",
            "correlationId": "659e53c0-c190-5486-b348-da9ce258c0e1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IncidentRecord": {
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "The unique identifier for the incident.",
            "example": "INC001"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "The identifier of the system affected by the incident.",
            "example": "SYS001"
          },
          "impact": {
            "type": "string",
            "description": "The impact level of the incident, e.g., Low, Medium, High.",
            "example": "High"
          },
          "urgency": {
            "type": "string",
            "description": "The urgency level of the incident, e.g., Low, Medium, Critical.",
            "example": "Critical"
          },
          "summary": {
            "type": "string",
            "description": "A brief summary of the incident.",
            "example": "System outage affecting multiple users."
          },
          "reportedBy": {
            "type": "string",
            "description": "The email or identifier of the person who reported the incident.",
            "example": "user@example.com"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the incident record, e.g., Open, Closed.",
            "example": "Open"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the incident.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a record of an incident reported to the help desk."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace requests across services.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-search-systems-help-desk"
        },
        "example": "systems-help-desk-search-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, allowing users to securely authenticate with a JSON Web Token (JWT). Tokens are typically sent in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}