{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Bank Account Management API",
    "description": "The Internal Bank Account Management API facilitates the seamless creation and configuration of internal bank accounts used for operational financial transactions. This API serves as a core component for financial institutions managing inter-account operations, enabling users to establish new accounts efficiently. Typical consumers include financial departments and banking software systems that require automated account setup to streamline operations. With this API, organizations can improve their financial processing capabilities and ensure robust management of their internal banking resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account": {
      "post": {
        "tags": [
          "Banking Services"
        ],
        "summary": "Create a new internal bank account.",
        "description": "This endpoint allows users to create a new internal bank account within the operational services. Provide the necessary account details in the request body to successfully create the account.",
        "operationId": "createInternalBankAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an internal bank account. Ensure that all required fields are provided in the request payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternalBankAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternalBankAccountRequest": {
        "title": "Internal Bank Account Operation Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The ID of the operation to be performed.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the operation.",
            "example": "CUST-603581"
          },
          "accountId": {
            "type": "string",
            "description": "The ID of the bank account involved in the operation.",
            "example": "ACC-533049"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for internal bank account operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-603581",
          "accountId": "ACC-533049",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "d690f81e-72f1-55ee-9008-a37fcad2f215",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "idempotencyKey": "9e82ec84-65e7-53a9-b518-27843bfb79a6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-989657"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request throughout the system.",
            "example": "corr67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "idempABC123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system that generated the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that initiated the request.",
            "example": "appB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual data pertaining to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "deviceXYZ"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateInternalBankAccountResponse_201": {
        "title": "Internal Bank Account Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the operation.",
            "example": "CUST-325133"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the bank account involved in the operation.",
            "example": "ACC-365690"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier of the resource that was affected by the operation.",
            "example": "RES-940434"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation, e.g., 'pending', 'completed', or 'failed'.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created, formatted in ISO 8601.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "This schema defines the structure of the response returned by the internal bank account operation POST request.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-325133",
          "accountId": "ACC-365690",
          "resourceId": "RES-940434",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "74534366-2e5b-5eb8-b021-995525b948ef",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used for correlating multiple related requests.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated, formatted in ISO 8601.",
            "example": "2023-10-01T12:00:05Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the operation took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema defines the metadata associated with an operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for this specific endpoint invocation, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-create-internal-bank-account"
        },
        "example": "internal-bank-account-create-internal-bank-account"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, aiding in debugging and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which allows clients to authenticate by sending a JSON Web Token (JWT) in the Authorization header of requests. The JWT should be issued by a trusted authority and must be included in the format 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}