{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Aggregation API",
    "description": "The Customer Account Aggregation API provides businesses with the ability to retrieve consolidated account information for a specific customer. By invoking this API, users can access a simplified view of all accounts associated with a given customer ID. This functionality is essential for customer service representatives and financial analysts who need to quickly gather insights into customer accounts for support or reporting purposes. Typical use cases include customer inquiries, account management, and performance analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/simple": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve Simple Accounts for a Customer",
        "description": "This endpoint allows you to fetch the simple account details associated with a specific customer using the customer ID. It provides a straightforward way to access essential account information without overwhelming complexity.",
        "operationId": "getCustomerAccountsSimple",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body contains a JSON representation of the parameters needed to retrieve the simplified account data for the specified customer. Ensure that all required fields are included to successfully perform the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccountsSimpleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccountsSimpleResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccountsSimpleRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the accounts of a specific customer. It is expected to be a JSON string that contains customer account details.",
        "example": "{}"
      },
      "GetCustomerAccountsSimpleResponse_200": {
        "title": "Account Details Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "STANDARD"
          },
          "number": {
            "type": "string",
            "description": "Account number.",
            "example": "STANDARD"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display format of the account number.",
            "example": "STANDARD"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "STANDARD"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "Northstar Banking Service"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 100.0
          },
          "type": {
            "type": "string",
            "description": "Type of account (e.g., savings, checking).",
            "example": "STANDARD"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code for aggregation process.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-799284"
          },
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date of the balance record.",
            "format": "int32",
            "example": 1
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when aggregation was successful.",
            "format": "int32",
            "example": 1
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when aggregation was attempted.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32",
            "example": 1
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account details were last updated.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment to which the account belongs.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account balance.",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the most recent transaction.",
            "format": "int32",
            "example": 1
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction.",
            "format": "int32",
            "example": 1
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Login ID for the institution.",
            "format": "int32",
            "example": 1
          },
          "detail": {
            "description": "Detailed information about the account.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Metadata related to the account response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the account details query.",
        "example": {
          "id": "STANDARD",
          "number": "STANDARD",
          "accountNumberDisplay": "STANDARD",
          "realAccountNumberLast4": "STANDARD",
          "name": "Northstar Banking Service",
          "balance": 100.0,
          "type": "STANDARD",
          "aggregationStatusCode": 1,
          "status": "ACTIVE",
          "customerId": "CUST-799284",
          "institutionId": "STANDARD",
          "balanceDate": 1,
          "aggregationSuccessDate": 1,
          "aggregationAttemptDate": 1,
          "createdDate": 1,
          "lastUpdatedDate": 1,
          "marketSegment": "STANDARD",
          "currency": "USD",
          "lastTransactionDate": 1,
          "oldestTransactionDate": 1,
          "institutionLoginId": 1,
          "detail": {
            "dateAsOf": 1,
            "availableBalanceAmount": 100.0,
            "openDate": 1,
            "periodStartDate": 1,
            "periodEndDate": 1,
            "periodInterestRate": 100.0,
            "periodDepositAmount": 100.0,
            "periodInterestAmount": 100.0,
            "interestYtdAmount": 100.0,
            "interestPriorYtdAmount": 100.0,
            "maturityDate": 1,
            "interestRate": "STANDARD",
            "creditAvailableAmount": 100.0,
            "creditMaxAmount": 100.0
          },
          "metadata": {
            "responseId": "d619f4db-4115-5189-9a59-76e2bda9696d",
            "correlationId": "4236390d-f2b8-54ab-9d70-f6e1bdd0a0b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "title": "Account Detail",
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "Date as of when this detail is valid.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "Amount of available balance on the account.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "Date when the account was opened.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date of the interest period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date of the interest period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "The interest rate applicable for the period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Deposit amount made during the interest period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Interest amount accrued during the interest period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest accrued.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Interest accrued in the previous year-to-date.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "Date when the account matures.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "Current interest rate on the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Available credit on the account.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit limit on the account.",
            "example": 0.0
          }
        },
        "description": "Detailed information regarding the account."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response of the account detail request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account"
        },
        "example": "open-finance-api-get-customer-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT) for token-based authentication. The client must include the token in the `Authorization` header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}