{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Document By Param1-spec",
    "description": "The Document Management API allows users to update specific documents in the banking system by utilizing unique parameters. This endpoint supports efficient document modification, enabling businesses to keep their records accurate and up-to-date. Typical use cases include modifying customer account documents or updating loan documents based on new client information. This API is particularly useful for financial institutions seeking to enhance data integrity and streamline their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services/{param1}": {
      "patch": {
        "tags": [
          "Document Services"
        ],
        "summary": "Update Document Service Details",
        "description": "This operation allows clients to update the properties of a specific document service identified by the resource ID 'RES-100045'. It enables modifications to the service's attributes, ensuring that the information is up-to-date and relevant.",
        "operationId": "updateDocumentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the specified document resource with new information. This operation allows partial updates to the document, providing flexibility to modify only the required fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDocumentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDocumentByParam1Request": {
        "title": "Document Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the document.",
            "$ref": "#/components/schemas/DocumentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a document in the system.",
        "example": {
          "changes": {
            "documentId": "DOC-815535",
            "documentType": "STANDARD",
            "classification": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6bfb6923-176f-5de6-818e-1f14c6d04f89",
            "correlationId": "d0c43cfb-b586-5ac9-b744-dfd302bb9a77",
            "idempotencyKey": "009e0799-5f9b-568a-b6a9-3fb61b76739a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-622627"
            }
          }
        }
      },
      "DocumentChanges": {
        "title": "Document Changes",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier of the document to be updated.",
            "example": "doc-123456"
          },
          "documentType": {
            "type": "string",
            "description": "The type of the document being updated.",
            "example": "invoice"
          },
          "classification": {
            "type": "string",
            "description": "The classification of the document (e.g., confidential, public).",
            "example": "confidential"
          }
        },
        "description": "Schema representing the changes to be made to a document."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used to trace the request across services.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "key-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-28T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system generating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application generating the request.",
            "example": "Document Management System"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context in which the request was made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., API, web, mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateDocumentByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "78d8cbb7-4e2c-5806-9db3-d8f9cd8f700a",
            "correlationId": "d0c43cfb-b586-5ac9-b744-dfd302bb9a77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-update-document-services"
        },
        "example": "document-services-update-document-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}