{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Authorization Extension API",
    "description": "The Authorization Extension API allows clients to extend existing authorizations within the payment system. By specifying an authorization ID, users can seamlessly prolong the validity period, ensuring that transactions can be completed without interruptions. This API is primarily aimed at payment processing and transaction management teams, facilitating smoother customer interactions and enhanced service delivery. Common use cases include extending authorizations for recurring payments or handling special customer requests within financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/extend": {
      "post": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Extend an authorization for a specified resource.",
        "description": "This endpoint allows you to extend the authorization period for the resource identified by RES-100045. By making a POST request, you can manage the duration of access to the resource, ensuring continued compliance and availability.",
        "operationId": "extendAuthorizationForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "description": "Request body for extending the authorization for RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendAuthorizationForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendAuthorizationForResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ExtendAuthorizationForResource100045Request": {
        "type": "object",
        "properties": {
          "newExpiresAt": {
            "type": "string",
            "description": "The new expiration date and time for the authorization.",
            "example": "2026-08-11T12:00:00Z"
          },
          "reason": {
            "type": "string",
            "description": "The reason for extending the authorization.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for extending authorization.",
        "example": {
          "newExpiresAt": "2026-08-11T12:00:00Z",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "fd65faea-2be7-520b-a91d-e49e6be77ac8",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "idempotencyKey": "c1a7effe-949f-5466-a257-696a2556d572",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-616061"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp-abcde12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Project Management Tool"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "ExtendAuthorizationForResource100045Response_200": {
        "title": "Authorization Response",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment associated with the authorization.",
            "example": "PAY-799531"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-809252"
          },
          "authorizedAmount": {
            "description": "The amount that has been authorized for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "The amount that has been captured for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The total amount for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code received for the authorization.",
            "example": "CODE-478"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp when the authorization will expire.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information regarding the creation and updates of the authorization.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the authorization.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object for the authorization process, including details such as amounts authorized and captured, statuses, and metadata.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-799531",
          "merchantId": "MER-809252",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-478",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c71b16dc-b4c9-5d8e-bcca-befba5d811be",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "This schema defines the amount structure used in authorization and payment responses, including its currency and value."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the authorization was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the authorization.",
            "example": "user_12345"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the authorization was last updated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the authorization.",
            "example": "user_67890"
          },
          "version": {
            "type": "integer",
            "description": "Version number for the authorization record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "This schema contains audit fields that track the creation and modification of the authorization."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses in the system.",
            "example": "correlation_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata record was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema defines additional information related to the authorization that can be used for tracking and processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-extend-authorization"
        },
        "example": "banking-p2m-openapi-extend-authorization"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a JWT in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}