{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investor Relations Management API",
    "description": "The Investor Relations Management API allows businesses to update and manage investor-related information efficiently. This API enables users to modify the details of specific investor relations entities, enhancing communication and transparency with stakeholders. Typical consumers of this API include corporate finance teams, investor relations departments, and third-party financial services providers who need to maintain up-to-date investor communications. By utilizing this API, organizations can streamline their investor engagement and data management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/investor-relations/{param1}": {
      "patch": {
        "tags": [
          "Investor Relations"
        ],
        "summary": "Update Investor Relations Resource",
        "description": "This endpoint allows you to update the details of the specific investor relations resource identified by RES-100045. Use this operation to modify relevant attributes and ensure that the investor information remains accurate and up-to-date.",
        "operationId": "updateInvestorRelationsResource",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific details related to the investor relations of the corporate entity identified by RES-100045. It allows for partial updates to the resource, enabling modifications to only the needed fields while leaving other fields unchanged.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvestorRelationsResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInvestorRelationsResourceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateInvestorRelationsResourceRequest": {
        "title": "Investor Relations Update Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes that need to be applied to the investor relations operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context relating to the request made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for updating investor relations operations.",
        "example": {
          "changes": {
            "stakeholderId": "STANDARD",
            "engagementId": "STANDARD",
            "subject": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "00089d1f-a78a-5907-94d3-f0f97522f61c",
            "correlationId": "0a6010e4-881e-5a56-b803-1d637f74888f",
            "idempotencyKey": "f0d4345d-ec27-5022-a61f-851c48259298",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-545648"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Information",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The ID of the stakeholder affected by the change.",
            "example": "stakeholder-123"
          },
          "engagementId": {
            "type": "string",
            "description": "The ID of the engagement associated with the change.",
            "example": "engagement-456"
          },
          "subject": {
            "type": "string",
            "description": "The subject or topic of the changes being made.",
            "example": "Change in investment terms"
          }
        },
        "description": "Information related to the changes being made to the investor relations."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests with responses.",
            "example": "correlation-012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "Investment Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Additional context about the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The ID of the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g. web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used for the request.",
            "example": "device-12345"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateInvestorRelationsResourceResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in the corporate relations investor relations API.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3ce11988-eb61-5360-92c1-d650816c38ed",
            "correlationId": "0a6010e4-881e-5a56-b803-1d637f74888f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request-response correlation.",
            "example": "corr-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-20T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing for the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata containing additional context about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request. This value is useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investor-relations-update-investor-relations"
        },
        "example": "investor-relations-update-investor-relations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, which helps in identifying the environment in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication schema using Bearer tokens, specifically designed for JSON Web Tokens (JWT). This security scheme is utilized for token-based authentication, allowing clients to access secure resources by presenting an access token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}