{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Knowledge Assets Intellectual Property Portfolio By Intellectual Property Portfolio Id-v5-spec",
    "description": "This API facilitates the retrieval of banking knowledge assets specifically related to an intellectual property portfolio. By providing the unique identifier for the intellectual property portfolio, users can access detailed information reflecting the portfolio's contents and status. Typical consumers of this API include financial institutions, legal teams, and R&D departments looking to analyze or reference intellectual property assets. It supports informed decision-making and strategic planning within the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio/{intellectualPropertyPortfolioId}": {
      "get": {
        "tags": [],
        "summary": "Retrieve Intellectual Property Portfolio details.",
        "description": "This endpoint allows users to fetch detailed information about a specific Intellectual Property Portfolio identified by its unique identifier (RES-100045). It provides insights into the assets and their attributes within the portfolio.",
        "operationId": "getBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/intellectualPropertyPortfolioId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the intellectual property portfolio associated with the specified resource identifier. It allows the client to request specific details or parameters relevant to the portfolio.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested intellectual property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving information about an intellectual property portfolio in a specific context.",
        "example": "{}"
      },
      "GetBankingKnowledgeAssetsIntellectualPropertyPortfolioByIntellectualPropertyPortfolioIdResponse_200": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the intellectual property asset (e.g., patent, trademark).",
            "example": "STANDARD"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number associated with the intellectual property asset.",
            "example": "NY-4587219"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction where the intellectual property is registered.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity that owns the intellectual property asset.",
            "example": "STANDARD"
          },
          "renewalDate": {
            "type": "string",
            "description": "The date when the intellectual property asset needs to be renewed.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, expired).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the intellectual property asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the asset record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving the intellectual property portfolio.",
        "example": {
          "ipAssetId": "STANDARD",
          "assetType": "STANDARD",
          "registrationNumber": "NY-4587219",
          "jurisdiction": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "renewalDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45d07e91-2841-5ed5-94f1-bcd1c23a2c34",
            "correlationId": "b8fe42b3-5bc7-58cb-af2d-bab6a6e879c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate the request with the response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "intellectualPropertyPortfolioId": {
        "name": "intellectualPropertyPortfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-get-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-get-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token in the HTTP authorization header. This token is typically a JSON Web Token (JWT) that encodes user identity and authorizations.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}