{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Framework Agreement Retrieval API",
    "description": "The Term Deposit Framework Agreement Retrieval API allows users to access detailed information about term deposit framework agreements. This endpoint supports retrieval of specific agreements based on a unique identifier, making it essential for financial institutions and their clients. Typical consumers include banking applications seeking to display agreement terms and conditions, enabling clients to make informed decisions regarding their terminologies. By leveraging this API, developers can integrate comprehensive agreement data into their platforms, enhancing user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement/{param1}": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve a specific term deposit framework agreement.",
        "description": "This operation allows users to retrieve detailed information about a specific term deposit framework agreement identified by its unique ID. It provides essential data required for understanding the terms and conditions associated with the agreement.",
        "operationId": "getTermDepositFrameworkAgreementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the term deposit framework agreement details for the specified resource. It includes necessary parameters to filter and access specific information related to the term deposits.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTermDepositFrameworkAgreementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermDepositFrameworkAgreementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTermDepositFrameworkAgreementByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the Term Deposit Framework Agreement under deposit lending.",
        "example": "{}"
      },
      "GetTermDepositFrameworkAgreementByIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer",
            "example": "CUST-982871"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account",
            "example": "ACC-255224"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount for the term deposit",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the deposit in months",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the deposit",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The total amount to be deposited",
            "$ref": "#/components/schemas/Money"
          },
          "tenorDays": {
            "type": "integer",
            "description": "Tenor duration of the deposit in days",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions for maturity of the deposit",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the agreement record",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this record",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving term deposit framework agreement operations",
        "example": {
          "customerId": "CUST-982871",
          "accountId": "ACC-255224",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "457a1643-3f81-59f7-87e9-f54a1b052649",
            "correlationId": "068089f3-2fcb-564d-ab5e-43458e04910a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount",
            "example": "USD"
          }
        },
        "description": "Represents a monetary value including amount and currency"
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response",
            "example": "RES123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information pertaining to the request/response"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which helps in tracking specific requests in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, useful for identifying the source of the request in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens. This scheme uses JSON Web Tokens (JWT) as the format for the token, which allows for secure transmission of information between parties with a promise of authenticity and integrity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}