{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Institution By Institution Id-spec",
    "description": "The Retrieve Institution Details API allows users to access specific information about a financial institution using its unique identifier. By utilizing the institutionId parameter, clients can fetch comprehensive details such as the institution's name, address, and contact information. This API is particularly useful for application developers and financial service providers that require accurate institution data for compliance, reporting, or customer reference. Integration of this API supports the automation of workflows, enhancing user experience by ensuring reliable institution information is readily available.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/{institutionId}": {
      "get": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Retrieve institution details by ID.",
        "description": "Fetches detailed information about a specific institution identified by its unique ID. This endpoint provides important data that can be used for further processing or display in applications.",
        "operationId": "getInstitutionByInstitutionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for the GET operation on the institution with ID RES-100045. It allows clients to retrieve specific details about the institution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionByInstitutionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the institution details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionByInstitutionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionByInstitutionIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the institutions resource, containing a string payload.",
        "example": "{}"
      },
      "GetInstitutionByInstitutionIdResponse_200": {
        "type": "object",
        "properties": {
          "institution": {
            "$ref": "#/components/schemas/Institution"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving institution details.",
        "example": {
          "institution": {
            "id": 1,
            "name": "Northstar Banking Service",
            "transAgg": true,
            "ach": true,
            "stateAgg": true,
            "voi": true,
            "voa": true,
            "aha": true,
            "availBalance": true,
            "accountOwner": true,
            "studentLoanData": true,
            "loanPaymentDetails": true,
            "displayName": "Northstar Banking Service",
            "liabilityData": true,
            "billPayData": true,
            "accountTypeDescription": "STANDARD",
            "phone": "+1-212-555-0147",
            "urlHomeApp": "STANDARD",
            "urlLogonApp": "STANDARD",
            "oauthEnabled": true,
            "urlForgotPassword": "STANDARD",
            "urlOnlineRegistration": "STANDARD",
            "class": "STANDARD",
            "specialText": "STANDARD",
            "timeZone": "America/New_York",
            "specialInstructions": [
              "STANDARD"
            ],
            "title": "Banking operation completed",
            "address": {
              "city": "New York",
              "state": "STANDARD",
              "country": "STANDARD",
              "postalCode": "10001",
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200"
            },
            "currency": "USD",
            "email": "olivia.bennett@northstar.example"
          },
          "metadata": {
            "responseId": "56518af5-2744-51c4-97fe-d3d7bdb830be",
            "correlationId": "4b053ec3-75be-5ca1-bfa9-7943b2d5f7a9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Name of the institution.",
            "example": "Example Institution"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is available.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH services are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is available.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if Voice of the Institution (VOI) is supported.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if Voice of the Account (VOA) is supported.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if Automated Health Alerts (AHA) are supported.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information is provided.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership data is available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is provided.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available.",
            "example": false
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the institution.",
            "example": "Example Display"
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the type of accounts offered.",
            "example": "Checking"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "123-456-7890"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "Homepage URL for the institution's application.",
            "example": "https://example.com/home"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "Logon URL for the institution's application.",
            "example": "https://example.com/login"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth authentication is enabled.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the password recovery page.",
            "example": "https://example.com/forgot-password"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online registration.",
            "example": "https://example.com/register"
          },
          "class": {
            "type": "string",
            "description": "Classification of the institution.",
            "example": "Financial"
          },
          "specialText": {
            "type": "string",
            "description": "Special text or notes regarding the institution.",
            "example": "Special Notes"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the institution.",
            "example": "UTC"
          },
          "specialInstructions": {
            "type": "array",
            "description": "List of special instructions related to the institution.",
            "example": [
              "Instruction 1",
              "Instruction 2"
            ],
            "items": {
              "type": "string",
              "example": "Instruction 1"
            }
          },
          "title": {
            "type": "string",
            "description": "Title of the institution.",
            "example": "Example Institution Title"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "currency": {
            "type": "string",
            "description": "Currency used by the institution.",
            "example": "USD"
          },
          "email": {
            "type": "string",
            "description": "Contact email for the institution.",
            "example": "contact@example.com"
          }
        },
        "description": "Details of a financial institution."
      },
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City where the institution is located.",
            "example": "Example City"
          },
          "state": {
            "type": "string",
            "description": "State where the institution is located.",
            "example": "Example State"
          },
          "country": {
            "type": "string",
            "description": "Country where the institution is located.",
            "example": "Example Country"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the institution's address.",
            "example": "12345"
          },
          "line1": {
            "type": "string",
            "description": "First line of the institution's address.",
            "example": "123 Example St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the institution's address (optional).",
            "example": "Suite 100"
          }
        },
        "description": "Address details of the institution."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institution"
        },
        "example": "open-finance-api-get-institution"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid token in the 'Authorization' header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}