{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Servicing Mandates-spec",
    "description": "The Servicing Mandate Retrieval API enables users to access detailed information about servicing mandates within the banking sector. This API is designed for financial institutions and service providers to efficiently retrieve data regarding various servicing mandates, which are essential for maintaining regulatory compliance and managing client relationships. Typical consumers include banking personnel and application developers looking to integrate mandate data into their systems for reporting or operational purposes. By leveraging this API, users can enhance their operational capabilities and ensure timely access to critical mandate information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-mandate": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve servicing mandate details.",
        "description": "This endpoint allows clients to fetch the details of a specific servicing mandate, providing essential information for reference or further processing.",
        "operationId": "listServicingServicingMandates",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the servicing mandate operation. This body should conform to the schema defined for handling servicing mandate operations for GET requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingServicingMandatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns the servicing mandate details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingServicingMandatesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingServicingMandatesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on servicing mandates.",
        "example": "{}"
      },
      "ListServicingServicingMandatesResponse_200": {
        "title": "Servicing Mandate Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of servicing mandate items.",
            "example": [
              {
                "customerId": "CUST-282455",
                "caseId": "CASE-281850",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingMandateItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the servicing mandate GET operation, containing a list of items and pagination metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-282455",
              "caseId": "CASE-281850",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cea0bea3-9952-5e5c-a1c0-fb0d10e5a320",
            "correlationId": "edc7ae05-ab7e-5eee-a40a-a1bdf39f0e7e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingMandateItem": {
        "title": "Servicing Mandate Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the mandate.",
            "example": "customer123"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case associated with the mandate.",
            "example": "case456"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request related to the mandate.",
            "example": "category789"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the mandate.",
            "example": "high"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the mandate request originated.",
            "example": "channelABC"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the mandate record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the mandate.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of an individual servicing mandate item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated response.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information necessary for pagination of the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "correlationId456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-mandate-search-servicing-mandate"
        },
        "example": "servicing-mandate-search-servicing-mandate"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication to provide access tokens in the format of JSON Web Tokens (JWT). It is commonly used to authenticate users and secure API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}