{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Unsecured SME Loans Reference API",
    "description": "The Unsecured SME Loans Reference API provides essential information and guidelines regarding unsecured loans available for small and medium enterprises. This API is designed to help developers access the necessary data for evaluating loan options, eligibility criteria, and application processes. Typical consumers of this API include financial institutions, fintech companies, and software developers looking to integrate SME lending solutions into their applications. By facilitating seamless access to loan information, this API empowers users to make informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/unsecured-sme-loans": {
      "get": {
        "tags": [
          "Unsecured Loans"
        ],
        "summary": "Retrieve Unsecured SME Loans",
        "description": "This endpoint allows you to fetch information about unsecured loans available for small and medium-sized enterprises (SMEs) in the open banking sector.",
        "operationId": "getUnsecuredSmeLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving unsecured SME loan options. This should include necessary parameters to specify the loan request details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUnsecuredSmeLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and reliable data on unsecured SME loans is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnsecuredSmeLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetUnsecuredSmeLoansRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving unsecured SME loans operations in Open Banking.",
        "example": "{}"
      },
      "GetUnsecuredSmeLoansResponse_200": {
        "title": "Unsecured SME Loans Response",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "Array of loan data information.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-272",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductName": "Northstar Banking Service",
                "ProductIdentifier": "PROD-909424",
                "ArrearsTreatment": "STANDARD",
                "ProductTypeName": "Northstar Banking Service",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "ProductSegment": [
                  "STANDARD"
                ],
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "CustomerAccessChannels": [
                  "STANDARD"
                ],
                "Currency": [
                  "USD"
                ],
                "MinimumLoanTerm": 1,
                "MaximumLoanTerm": 1,
                "MinimumLoanAmount": "100.00",
                "MaximumLoanAmount": "25000.00",
                "PaymentHoliday": true,
                "LoanItem": [
                  {
                    "ProductState": "STANDARD",
                    "StartPromotionOrFutureTerms": "STANDARD",
                    "StopPromotionOrFutureTerms": "STANDARD",
                    "LengthPromotionalInDays": 1,
                    "DateOfChange": "2026-09-15",
                    "LoanPricing": [
                      {
                        "SizeIncrement": "STANDARD",
                        "LoanLengthIncrement": "STANDARD",
                        "RepaymentFrequency": [
                          "STANDARD"
                        ],
                        "LoanSizeBandLower": "STANDARD",
                        "LoanSizeBandUpper": "STANDARD"
                      }
                    ]
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanData"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the Unsecured SME Loans operation.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-272",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductName": "Northstar Banking Service",
              "ProductIdentifier": "PROD-909424",
              "ArrearsTreatment": "STANDARD",
              "ProductTypeName": "Northstar Banking Service",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "ProductSegment": [
                "STANDARD"
              ],
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "CustomerAccessChannels": [
                "STANDARD"
              ],
              "Currency": [
                "USD"
              ],
              "MinimumLoanTerm": 1,
              "MaximumLoanTerm": 1,
              "MinimumLoanAmount": "100.00",
              "MaximumLoanAmount": "25000.00",
              "PaymentHoliday": true,
              "LoanItem": [
                {
                  "ProductState": "STANDARD",
                  "StartPromotionOrFutureTerms": "STANDARD",
                  "StopPromotionOrFutureTerms": "STANDARD",
                  "LengthPromotionalInDays": 1,
                  "DateOfChange": "2026-09-15",
                  "LoanPricing": [
                    {
                      "SizeIncrement": "STANDARD",
                      "LoanLengthIncrement": "STANDARD",
                      "RepaymentFrequency": [
                        "STANDARD"
                      ],
                      "LoanSizeBandLower": "STANDARD",
                      "LoanSizeBandUpper": "STANDARD"
                    }
                  ]
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "a6771025-2068-5049-8808-ec1bba86803d",
            "correlationId": "cf469e13-c763-5cc7-8242-6a49576689f1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "title": "Meta Data",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The date and time when the data was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results available.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "Terms and conditions agreement related to the loans.",
            "example": "Standard Loan Agreement"
          },
          "License": {
            "type": "string",
            "description": "Licensing information for the service.",
            "example": "123456789"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use associated with the loans.",
            "example": "These loans are subject to the Terms of Use."
          }
        },
        "description": "Contains metadata for the loan response including last updated information and licensing."
      },
      "LoanData": {
        "title": "Loan Data",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Unsecured Business Loan"
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the loan product.",
            "example": "UB123456"
          },
          "ArrearsTreatment": {
            "type": "string",
            "description": "Approach on how arrears will be handled.",
            "example": "Standard treatment applies."
          },
          "ProductTypeName": {
            "type": "string",
            "description": "Type name of the loan product.",
            "example": "Business Loan"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for product details.",
            "items": {
              "type": "string",
              "example": "https://example.com/product"
            }
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments that the product applies to.",
            "items": {
              "type": "string",
              "example": "SME"
            }
          },
          "ProductDescription": {
            "type": "string",
            "description": "Description of the loan product.",
            "example": "A flexible loan for small and medium enterprises."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions associated with the product.",
            "items": {
              "type": "string",
              "example": "All loans are subject to approval."
            }
          },
          "CustomerAccessChannels": {
            "type": "array",
            "description": "Channels through which customers can access the loan.",
            "items": {
              "type": "string",
              "example": "Online"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Currencies accepted for the loan.",
            "items": {
              "type": "string",
              "example": "GBP"
            }
          },
          "MinimumLoanTerm": {
            "type": "integer",
            "description": "Minimum term for the loan in months.",
            "format": "int32",
            "example": 6
          },
          "MaximumLoanTerm": {
            "type": "integer",
            "description": "Maximum term for the loan in months.",
            "format": "int32",
            "example": 60
          },
          "MinimumLoanAmount": {
            "type": "string",
            "description": "Minimum amount that can be borrowed.",
            "example": "10000"
          },
          "MaximumLoanAmount": {
            "type": "string",
            "description": "Maximum amount that can be borrowed.",
            "example": "500000"
          },
          "PaymentHoliday": {
            "type": "boolean",
            "description": "Indicates if a payment holiday is available.",
            "example": false
          },
          "LoanItem": {
            "type": "array",
            "description": "List of loan item details.",
            "items": {
              "$ref": "#/components/schemas/LoanItem"
            }
          }
        },
        "description": "Contains detailed information about the specific loan product."
      },
      "Organisation": {
        "title": "Organisation",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Details about the organisation offering the loan."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the parent organisation.",
            "example": "XYZ1234567890"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) of the parent organisation.",
            "example": "BIC12345"
          },
          "OrganisationName": {
            "type": "object",
            "properties": {
              "LegalName": {
                "type": "string",
                "description": "Legal name of the organisation.",
                "example": "Example Ltd"
              }
            }
          }
        },
        "description": "Information about the parent organisation."
      },
      "Brand": {
        "title": "Brand",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Intellectual Property Organisation code for the trademark.",
            "example": "TM12345"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark.",
            "example": "TrademarkID123456"
          }
        },
        "description": "Details about the brand associated with the organisation."
      },
      "LoanItem": {
        "title": "Loan Item",
        "type": "object",
        "properties": {
          "ProductState": {
            "type": "string",
            "description": "Current state of the loan product.",
            "example": "Active"
          },
          "StartPromotionOrFutureTerms": {
            "type": "string",
            "description": "Details regarding start of promotions or future terms.",
            "example": "Available from April 2023"
          },
          "StopPromotionOrFutureTerms": {
            "type": "string",
            "description": "Details regarding stopping of promotions or future terms.",
            "example": "No promotions currently available"
          },
          "LengthPromotionalInDays": {
            "type": "integer",
            "description": "Length of promotional terms in days.",
            "format": "int32",
            "example": 30
          },
          "DateOfChange": {
            "type": "string",
            "description": "Date on which changes took place.",
            "example": "2023-10-01"
          },
          "LoanPricing": {
            "type": "array",
            "description": "Pricing details for the loan.",
            "items": {
              "$ref": "#/components/schemas/LoanPricing"
            }
          }
        },
        "description": "Details regarding loan item terms and conditions."
      },
      "LoanPricing": {
        "title": "Loan Pricing",
        "type": "object",
        "properties": {
          "SizeIncrement": {
            "type": "string",
            "description": "Incremental size for the loan.",
            "example": "1000"
          },
          "LoanLengthIncrement": {
            "type": "string",
            "description": "Incremental term length for the loan.",
            "example": "1"
          },
          "RepaymentFrequency": {
            "type": "array",
            "description": "Frequency of repayments required.",
            "items": {
              "type": "string",
              "example": "Monthly"
            }
          },
          "LoanSizeBandLower": {
            "type": "string",
            "description": "Lower bound of the loan size band.",
            "example": "10000"
          },
          "LoanSizeBandUpper": {
            "type": "string",
            "description": "Upper bound of the loan size band.",
            "example": "500000"
          }
        },
        "description": "Contains pricing information for the loan."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "EU"
          }
        },
        "description": "Contains metadata related to the response of the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the specific endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-unsecured-sme-loans"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-unsecured-sme-loans"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients should send a JWT (JSON Web Token) in the Authorization header as part of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}