{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Authorization Id-spec",
    "description": "This API endpoint provides access to detailed information about P2M transactions associated with a specific authorization ID. It allows users to seamlessly retrieve data related to payment processing, enhancing visibility and tracking capabilities. Typical consumers include developers integrating payment solutions and businesses needing transaction insights for compliance or reporting. The endpoint ensures quick lookup and retrieval of relevant P2M details to support operational and analytical needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}": {
      "get": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Retrieve authorization details.",
        "description": "Fetches the details of a specific authorization using its unique identifier. This endpoint enables clients to understand the status and information related to the given authorization.",
        "operationId": "getP2mByAuthorizationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving authorization details for the specific resource with ID RES-100045. This body requires a JSON payload conforming to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByAuthorizationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the authorization details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByAuthorizationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByAuthorizationIdRequest": {
        "type": "string",
        "description": "A placeholder for the request body in the GET operation under the specified authorization context.",
        "example": "{}"
      },
      "GetP2mByAuthorizationIdResponse_200": {
        "title": "Authorization Response",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the associated payment.",
            "example": "PAY-580835"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction.",
            "example": "MER-625747"
          },
          "authorizedAmount": {
            "description": "The amount that has been authorized for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "The amount that has been captured for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The total amount of the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "Code provided by the payment gateway or processor to indicate the approval of the transaction.",
            "example": "CODE-474"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit details for the authorization, including creation and update information.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an authorization request including payment details and metadata.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-580835",
          "merchantId": "MER-625747",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-474",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "dfc29b80-a1b3-5ea9-b028-e832bd8b65d8",
            "correlationId": "073d9980-20b6-5659-9f3b-a0a06b178149",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The actual value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency and value."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the authorization was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the authorization.",
            "example": "user-123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the authorization was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the authorization.",
            "example": "user-456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the authorization record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema capturing audit information for the authorization."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the transaction was processed.",
            "example": "NA"
          }
        },
        "description": "Schema encapsulating additional metadata for the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value helps in tracking requests to specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-authorization"
        },
        "example": "banking-p2m-openapi-get-authorization"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently processing the request. This helps identify the context of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, where a JSON Web Token (JWT) is provided in the Authorization header of HTTP requests to authenticate users and authorize access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}