{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Commissions API",
    "description": "The Sales Commissions API provides businesses with access to detailed information about sales commissions associated with transactions. It allows users to retrieve comprehensive data on earned commissions, facilitating performance analysis and accounting reconciliation. Typical consumers of this API include financial analysts, sales managers, and accounting teams who need to assess commission structures and payouts. This endpoint supports informed decision-making and enhances the visibility of commission-related metrics, promoting effective sales strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commissions": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve a list of sales commissions.",
        "description": "This endpoint allows you to fetch the details of sales commissions generated during a specified period. You can use this data to analyze performance and derive insights for sales strategies.",
        "operationId": "getSalesCommissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the sales commissions data. It should conform to the expected JSON schema. Please ensure that the request includes all necessary parameters as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesCommissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of commissions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesCommissionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesCommissionsRequest": {
        "type": "string",
        "description": "Request body for retrieving sales commissions data via GET operation.",
        "example": "{}"
      },
      "GetSalesCommissionsResponse_200": {
        "title": "Sales Commissions Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of sales commission items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "salesPersonId": "STANDARD",
                "commissionPlanId": "STANDARD",
                "eligibleRevenue": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesCommissionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving sales commissions.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "salesPersonId": "STANDARD",
              "commissionPlanId": "STANDARD",
              "eligibleRevenue": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ca8a1fb3-8c20-5aa0-8226-31e322a35e17",
            "correlationId": "0bf6d886-d580-564c-83a0-79646a440378",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesCommissionItem": {
        "title": "Sales Commission Item",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product associated with the sale."
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the product was sold."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson associated with the sale."
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan."
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "The revenue eligible for commission."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          }
        },
        "description": "Details of a sales commission item."
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount expected."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is expressed."
          }
        },
        "description": "Expected value of the commission including amount and currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information for paginating the response results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for traceability."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing was carried out."
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This helps in tracking the specific endpoint's usage across the platform.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commissions-search-commissions"
        },
        "example": "commissions-search-commissions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This provides context on which application is handling the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens as defined in RFC 6750. This security scheme requires clients to send a bearer token in the HTTP Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}