{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Product Management API",
    "description": "The Sales Product Management API enables businesses to efficiently manage and enhance their sales product offerings. This API allows users to create new sales products, providing critical details such as pricing, features, and descriptions. Typical users include sales teams and product managers who seek to streamline product onboarding and updates. With this API, organizations can maintain a robust catalog of sales products, adapt to market needs, and ultimately drive revenue growth.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-product": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a new sales product.",
        "description": "This endpoint allows you to create a new sales product in the system. It requires the product details to be specified in the request body, including the name, price, and description of the product. Upon a successful request, the newly created product will be returned.",
        "operationId": "createSalesProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new sales product. It should contain all necessary details about the product being created, following the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalesProductResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalesProductRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product being sold.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The unique identifier for the relationship manager handling the sale.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected value of the transaction being handled.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "14acf777-f4a8-59fb-88e1-01cc20ad6b29",
            "correlationId": "b5bcb428-0127-517b-aa8c-76482d1b0c34",
            "idempotencyKey": "ade351c9-a66f-5f58-a884-9c63bc21f3d1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-982248"
            }
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected for the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the expected transaction value.",
            "example": "string"
          }
        },
        "description": "Represents the expected value of the transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the transaction.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the sale.",
            "example": "string"
          }
        },
        "description": "Represents the channel details for the request."
      },
      "CreateSalesProductResponse_201": {
        "title": "Sales Product Operation Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific product associated with the operation.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling this prospect.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to this operation.",
            "example": "RES-490631"
          },
          "status": {
            "type": "string",
            "description": "Current status of the sales operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the sales operation.",
            "$ref": "#/components/schemas/SalesMetadata"
          }
        },
        "description": "Response schema for the Sales Product operation, including details about the prospect and operation status.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "resourceId": "RES-490631",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45bd9a9a-1a61-5f34-afb1-b9e09091a48e",
            "correlationId": "b5bcb428-0127-517b-aa8c-76482d1b0c34",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesMetadata": {
        "title": "Sales Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated.",
            "example": "response_1"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation_1"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Contains metadata for sales operations, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with the current request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-create-sales-product"
        },
        "example": "sales-product-create-sales-product"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token. This scheme requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}