{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Statement Details Retrieval API",
    "description": "The Account Statement Details Retrieval API provides detailed information about a specific account statement for a given customer. This endpoint enables users to access historical transaction records, balance information, and any anomalies that may have occurred during the statement period. Typically utilized by financial institutions and customer service representatives, this API supports scenarios such as reviewing account statements, resolving customer inquiries, and facilitating financial analysis. Ensure to provide the correct customer and account identifiers to retrieve the relevant statement details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/statement/statement-details": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve statement details for a specific account.",
        "description": "This endpoint allows you to retrieve detailed statement information for a specified account. It provides insights into transactions, balances, and other relevant data associated with the account's statements.",
        "operationId": "getAccountStatementDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed statement information for a specific account. Ensure that the JSON structure adheres to the defined schema to get accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountStatementDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the statement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountStatementDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountStatementDetailsRequest": {
        "type": "string",
        "description": "The request body for retrieving the statement details of a specific account.",
        "example": "{}"
      },
      "GetAccountStatementDetailsResponse_200": {
        "title": "Statement Details Response",
        "type": "object",
        "properties": {
          "statements": {
            "type": "array",
            "description": "A list of statement objects detailing specific information regarding account statements.",
            "example": [
              {
                "id": "STANDARD",
                "description": "Customer banking request processed successfully",
                "asOfDate": 1,
                "documentDate": "2026-09-15",
                "index": "STANDARD",
                "code": "SUCCESS",
                "message": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Statement"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response object for retrieving statement details associated with a specific account.",
        "example": {
          "statements": [
            {
              "id": "STANDARD",
              "description": "Customer banking request processed successfully",
              "asOfDate": 1,
              "documentDate": "2026-09-15",
              "index": "STANDARD",
              "code": "SUCCESS",
              "message": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "bb0cbfe7-1c60-5ea7-93ec-92850a7067a5",
            "correlationId": "8bd3cf25-a963-571d-bfec-ac58e6cb00d0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Statement": {
        "title": "Statement",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the statement.",
            "example": "1"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the statement.",
            "example": "Monthly statement for account"
          },
          "asOfDate": {
            "type": "integer",
            "description": "The date as of which the statement is relevant, represented as a Unix timestamp.",
            "format": "int32",
            "example": 1633036800
          },
          "documentDate": {
            "type": "string",
            "description": "The date the statement document was created in ISO 8601 format.",
            "example": "2021-10-01"
          },
          "index": {
            "type": "string",
            "description": "An index value associated with the statement.",
            "example": "001"
          },
          "code": {
            "type": "string",
            "description": "A code that represents the type or category of the statement.",
            "example": "STMT001"
          },
          "message": {
            "type": "string",
            "description": "A message associated with the statement, providing additional context.",
            "example": "Successful retrieval"
          }
        },
        "description": "Represents a detailed statement object for an account."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used for tracking requests.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "2021-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata about the response, providing contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account-multiple-statement"
        },
        "example": "open-finance-api-get-customer-account-multiple-statement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism using Bearer tokens, specifically designed for JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}