{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create System Deployment Review-spec",
    "description": "This API facilitates the submission of system deployment reviews within the IT management domain of banking services. It allows users to initiate reviews for specific system deployments identified by the parameter in the URL. Typical consumers of this API include IT managers and deployment teams who are responsible for ensuring deployment quality and compliance. The API streamlines the review process, enhancing oversight and facilitating collaborative feedback to improve deployment outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment/{param1}/reviews": {
      "post": {
        "tags": [
          "System Deployment"
        ],
        "summary": "Create a review for system deployment.",
        "description": "This endpoint allows users to submit a review for the specified system deployment resource. Ensure that all necessary data is included in the request body to successfully create a review.",
        "operationId": "createSystemDeploymentReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new review for the specified system deployment. It should contain all required fields as outlined in the associated schema, ensuring that the review can be properly processed and recorded.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystemDeploymentReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemDeploymentReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSystemDeploymentReviewRequest": {
        "title": "Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "A list of areas covered by the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Individual scope item for the review.",
              "example": "Code quality"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to conduct the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for completing the review in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a review in the system deployment operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "e65a5e0b-15b7-59a7-a2e9-eebb9fb0da2d",
            "correlationId": "33326abc-bef4-5949-bac5-e28e494f9a1f",
            "idempotencyKey": "51c1132c-ee7c-5d82-acea-d83037064bbf",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-521393"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate different requests across services.",
            "example": "cor-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idemp-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information related to the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema containing contextual information for the review request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema containing information about the channel used in the request."
      },
      "CreateSystemDeploymentReviewResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action performed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the system deployment reviews operation, indicating the result of the request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "8a956043-cf70-551d-9f26-b6d69478cadb",
            "correlationId": "33326abc-bef4-5949-bac5-e28e494f9a1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing processing details related to the action."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request. This header helps in tracing and debugging the API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-review-system-deployment-processing"
        },
        "example": "system-deployment-review-system-deployment-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing this request. This header can be useful for monitoring application performance and behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires the client to send a JSON Web Token (JWT) in the Authorization header. The JWT serves as a means of authenticating the user and conveying user information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}