{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Management Reward Points Account-spec",
    "description": "The Account Management Reward Points API facilitates the creation of reward points accounts for customers within the banking system. This service allows businesses to manage customer loyalty and reward programs effectively. Through this endpoint, developers can initiate new accounts that customers can use to accumulate and redeem reward points. Typical consumers include financial institutions and customer loyalty program providers looking to streamline their account management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/reward-points-account": {
      "post": {
        "tags": [
          "Reward Management"
        ],
        "summary": "Create a new reward points account",
        "description": "This endpoint allows users to create a new reward points account, enabling them to accumulate and manage reward points effectively. It is essential for customer engagement and loyalty programs.",
        "operationId": "createAccountManagementRewardPointsAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or managing a reward points account. The payload should include all necessary information pertaining to the reward points account's creation or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountManagementRewardPointsAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reward points account created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountManagementRewardPointsAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountManagementRewardPointsAccountRequest": {
        "title": "Reward Points Account Request",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The unique identifier for the loyalty account.",
            "example": "ACC-914799"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-471753"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity being performed (e.g., earning or redeeming points).",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "The number of points to be added or deducted.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "The code representing the partner associated with the rewards.",
            "example": "CODE-327"
          },
          "requestContext": {
            "description": "A context object containing metadata about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body to manage a reward points account.",
        "example": {
          "loyaltyAccountId": "ACC-914799",
          "customerId": "CUST-471753",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-327",
          "requestContext": {
            "requestId": "15dfaa40-e9d1-57c3-8c86-e3ea82aa2cc8",
            "correlationId": "54c82776-d69d-5f69-ae7b-5f336b271204",
            "idempotencyKey": "18e662b5-bd00-595a-a9e5-ff2cf12315c1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714183"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating logs and operations across systems.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is processed only once.",
            "example": "idempotent789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "systemABC"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "appXYZ"
          },
          "channel": {
            "description": "The communication channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request.",
            "example": "device456"
          }
        },
        "description": "Schema representing the communication channel through which the request is made."
      },
      "CreateAccountManagementRewardPointsAccountResponse_201": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "ACC-505722"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the loyalty account.",
            "example": "CUST-373297"
          },
          "partnerCode": {
            "type": "string",
            "description": "Code representing the partner associated with this account.",
            "example": "CODE-453"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the account.",
            "example": "RES-423406"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loyalty account.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp for when the loyalty account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the account creation process.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of a reward points account.",
        "example": {
          "loyaltyAccountId": "ACC-505722",
          "customerId": "CUST-373297",
          "partnerCode": "CODE-453",
          "resourceId": "RES-423406",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6e346757-90d2-5cbf-8cd3-5071553258eb",
            "correlationId": "54c82776-d69d-5f69-ae7b-5f336b271204",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used to track the request across distributed systems.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the metadata was generated.",
            "example": "2023-01-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the account creation occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the reward points operation. This helps in tracing the request and identifying which endpoint was hit.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-account-create-reward-points-account"
        },
        "example": "reward-points-account-create-reward-points-account"
      },
      "X-Runtime-App": {
        "description": "The versioned name of the application that processed the request. This is useful for monitoring and debugging to ensure the correct application version is in use.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method based on JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}