{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Application Collaterals-spec",
    "description": "The Loan Application Collateral Retrieval API enables users to access details of collaterals associated with specific loan applications. This endpoint is designed for financial institutions and related service providers looking to manage and review collateral details efficiently. By retrieving collateral data, users can make informed decisions regarding loan approvals and risk assessments. Typical consumers include loan officers, underwriters, and compliance teams seeking to evaluate the adequacy of collateral for securing loans.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Collaterals for a Loan Application",
        "description": "This endpoint allows you to fetch the list of collaterals associated with a specific loan application identified by its unique resource identifier. Use this endpoint to gain insight into the collateral details related to the particular loan.",
        "operationId": "listLoanApplicationCollaterals",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the collaterals associated with a specific loan application identified by RES-100045. The payload must conform to the prescribed schema to ensure all necessary data is provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanApplicationCollateralsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of collaterals for the specified loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanApplicationCollateralsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanApplicationCollateralsRequest": {
        "type": "string",
        "description": "This schema represents the request body for loan applications related to collaterals. It is expected to be a JSON string.",
        "example": "{}"
      },
      "ListLoanApplicationCollateralsResponse_200": {
        "title": "Loan Application Collaterals Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of collateral items related to the loan application.",
            "example": [
              {
                "collateralType": "STANDARD",
                "ownershipType": "STANDARD",
                "ownerCustomerIds": [
                  "CUST-665772"
                ],
                "description": "Customer banking request processed successfully",
                "marketValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "forcedSaleValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "valuationDate": "2026-09-15",
                "valuationProvider": "STANDARD",
                "lienPriority": "STANDARD",
                "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
                "status": "ACTIVE",
                "loanToValuePercent": "STANDARD",
                "perfectedAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for collaterals associated with loan applications.",
        "example": {
          "items": [
            {
              "collateralType": "STANDARD",
              "ownershipType": "STANDARD",
              "ownerCustomerIds": [
                "CUST-665772"
              ],
              "description": "Customer banking request processed successfully",
              "marketValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "forcedSaleValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "valuationDate": "2026-09-15",
              "valuationProvider": "STANDARD",
              "lienPriority": "STANDARD",
              "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
              "status": "ACTIVE",
              "loanToValuePercent": "STANDARD",
              "perfectedAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "c9fb132e-5ce3-5a66-9829-431cd2be68a2",
            "correlationId": "15497428-3787-535e-ba9d-9cadbac9f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralItem": {
        "title": "Collateral Item",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "Type of the collateral, e.g., property, vehicle.",
            "example": "property"
          },
          "ownershipType": {
            "type": "string",
            "description": "Type of ownership for the collateral, e.g., sole, joint.",
            "example": "joint"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs that own the collateral.",
            "items": {
              "type": "string",
              "example": "customerId123"
            }
          },
          "description": {
            "type": "string",
            "description": "A brief description of the collateral.",
            "example": "Residential property located at 123 Main St."
          },
          "marketValue": {
            "$ref": "#/components/schemas/Money"
          },
          "forcedSaleValue": {
            "$ref": "#/components/schemas/Money"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued.",
            "example": "2023-01-01"
          },
          "valuationProvider": {
            "type": "string",
            "description": "Entity that provided the valuation.",
            "example": "Appraisal Co."
          },
          "lienPriority": {
            "type": "string",
            "description": "Priority of the lien on the collateral.",
            "example": "first lien"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral item.",
            "example": "collateralId456"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral item, e.g., active, sold.",
            "example": "active"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "Loan to value ratio expressed as a percentage.",
            "example": "80%"
          },
          "perfectedAt": {
            "type": "string",
            "description": "Date when the lien was perfected.",
            "example": "2023-02-01"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Details regarding a collateral item associated with a loan application."
      },
      "Money": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code in which the amount is specified.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of money represented as a string.",
            "example": "250000"
          }
        },
        "description": "Representation of a monetary value including currency and amount."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the collateral was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the collateral.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the collateral was last updated.",
            "example": "2023-02-01T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the collateral.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the collateral record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details for the collateral item."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "responseId789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "correlationId123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-03-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response of the loan application collaterals."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-collaterals"
        },
        "example": "banking-loans-openapi-list-collaterals"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme expects a JWT (JSON Web Token) as the bearer token for authorization in requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}