{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Branch Network Managements-spec",
    "description": "The Channel-Specific Branch Network Management API provides a comprehensive approach to managing branch networks within specific banking channels. This endpoint allows users to access detailed information regarding the operational status, configuration, and performance metrics of various branches. Typical consumers include financial institutions and developers who need to monitor or adjust branch network settings based on consumer needs or operational requirements. Utilize this API to ensure optimized network functionality across different banking channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-network-management": {
      "get": {
        "tags": [
          "Branch Network Management"
        ],
        "summary": "Retrieve branch network management details",
        "description": "Fetches information related to the management of branch networks in the specified channel. This endpoint allows you to obtain essential data for managing and overseeing branch networks efficiently.",
        "operationId": "listChannelSpecificBranchNetworkManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to branch network management for a specific channel. It should contain parameters that define the query for channel and branch details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificBranchNetworkManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the branch network management details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificBranchNetworkManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificBranchNetworkManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation in the branch network management context specific to a channel. It indicates that the payload is expected to be a string.",
        "example": "{}"
      },
      "ListChannelSpecificBranchNetworkManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of branch network management items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchNetworkManagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations of retrieving branch network management details.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "26bdeaf7-72ac-5440-b149-48a65a3c8a5a",
            "correlationId": "875ba7d4-3eb5-5579-afd9-ac76844f8a73",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchNetworkManagementItem": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region."
          },
          "serviceWindow": {
            "type": "object",
            "properties": {
              "opensAt": {
                "type": "string",
                "description": "Opening time of the service window."
              },
              "closesAt": {
                "type": "string",
                "description": "Closing time of the service window."
              }
            },
            "description": "Operating hours for the service."
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Maximum capacity of the branch per day.",
            "format": "int32"
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch."
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch."
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the branch."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the branch record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the branch data was last updated."
          }
        },
        "description": "Represents a branch network management item.",
        "example": {
          "channelId": "string",
          "regionCode": "string",
          "serviceWindow": {
            "opensAt": "08:00",
            "closesAt": "17:00"
          },
          "dailyCapacity": 100,
          "branchId": "string",
          "branchType": "Retail",
          "timeZone": "UTC-5",
          "recordStatus": "Active",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-network-management-search-branch-network-management"
        },
        "example": "branch-network-management-search-branch-network-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. A valid bearer token must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}