{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_IT Systems Direction Management API",
    "description": "The IT Systems Direction Management API facilitates access to crucial information regarding IT systems direction within banking operations. This endpoint allows users to retrieve comprehensive data on existing IT systems, their configurations, and alignment with strategic objectives. Typical consumers include IT administrators, business analysts, and decision-makers actively engaged in managing or optimizing IT infrastructure. With this API, stakeholders can make informed decisions regarding technology investments and system improvements, ensuring compliance with overall business goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT Systems Direction",
        "description": "This endpoint allows you to fetch the current direction and strategic goals for IT systems within the organization, providing insights into the planned initiatives and alignment with business objectives.",
        "operationId": "getItManagementSystemsDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the IT systems direction details for IT management. It contains the necessary parameters required to filter or customize the responses based on the client's needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItManagementSystemsDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the IT systems direction information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItManagementSystemsDirectionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItManagementSystemsDirectionRequest": {
        "type": "string",
        "description": "This schema represents a request body for the Operations GET endpoint in the IT Systems Direction module. It is expected to be a string value.",
        "example": "{}"
      },
      "GetItManagementSystemsDirectionResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of policy items related to IT systems.",
            "example": [
              {
                "policyId": "STANDARD",
                "title": "Banking operation completed",
                "ownerTeam": "STANDARD",
                "effectiveDate": "2026-09-15",
                "reviewDate": "2026-09-15",
                "applicability": [
                  "STANDARD"
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PolicyItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The current sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for retrieving IT system direction operations.",
        "example": {
          "items": [
            {
              "policyId": "STANDARD",
              "title": "Banking operation completed",
              "ownerTeam": "STANDARD",
              "effectiveDate": "2026-09-15",
              "reviewDate": "2026-09-15",
              "applicability": [
                "STANDARD"
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5891ae38-5563-59ee-a8f4-600334978e42",
            "correlationId": "cfc72a3c-10b9-5079-be87-a53e516f16c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PolicyItem": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "policy-123"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "Data Protection Policy"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy.",
            "example": "Compliance Team"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the policy is effective.",
            "example": "2023-01-01"
          },
          "reviewDate": {
            "type": "string",
            "description": "The next review date for the policy.",
            "example": "2024-01-01"
          },
          "applicability": {
            "type": "array",
            "description": "The applicability of the policy to different segments.",
            "items": {
              "type": "string",
              "description": "The segments to which the policy applies.",
              "example": "Customer Data"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the policy record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the policy record.",
            "example": "2023-05-10T12:00:00Z"
          }
        },
        "description": "Represents a policy item with specific attributes."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across services.",
            "example": "corr-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-05-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-search-it-systems-direction"
        },
        "example": "it-systems-direction-search-it-systems-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header using the Bearer scheme for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}