{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Decisioning By Portfolio Id-spec",
    "description": "The Portfolio Decisioning Retrieval API enables users to obtain detailed decisioning information for a specific portfolio identified by its unique ID. This API serves partners and internal teams that require access to decisioning data for analysis, reporting, or operational purposes. By leveraging this endpoint, consumers can efficiently fetch relevant insights regarding portfolio performance and decision-making outcomes. It plays a crucial role in optimizing portfolio management strategies and enhancing data-driven decision processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Portfolio Management"
        ],
        "summary": "Retrieve specific portfolio information.",
        "description": "This endpoint allows clients to fetch detailed information about a specific portfolio identified by its unique ID. The response includes all relevant data associated with the portfolio, enabling users to understand the specifics of their investment.",
        "operationId": "getDecisioningByPortfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details of the portfolio identified by RES-100045. Ensure the JSON object adheres to the specified schema to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDecisioningByPortfolioIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the portfolio details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDecisioningByPortfolioIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDecisioningByPortfolioIdRequest": {
        "type": "string",
        "description": "Request body for the GET operation on portfolios, represented as a JSON string.",
        "example": "{}"
      },
      "GetDecisioningByPortfolioIdResponse_200": {
        "title": "Portfolio Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-764332"
          },
          "consumer": {
            "description": "Details of the consumer associated with the portfolio.",
            "$ref": "#/components/schemas/Consumer"
          },
          "reports": {
            "type": "array",
            "description": "A list of reports related to the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-155591",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "description": "Metadata pertaining to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving portfolio details.",
        "example": {
          "portfolioId": "PORT-764332",
          "consumer": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "customerId": 1,
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "birthday": {
              "year": 1,
              "month": 1,
              "dayOfMonth": 1
            },
            "email": "olivia.bennett@northstar.example",
            "createdDate": 1,
            "suffix": "STANDARD",
            "endUser": {
              "name": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "url": "https://banking.northstar.example/callbacks/status"
            }
          },
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-155591",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "metadata": {
            "responseId": "dd6dcb86-aa50-5125-8e3f-3f6ff6f85687",
            "correlationId": "ceb72080-17d5-5518-bec4-9fee0d232773",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Consumer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier specific to the customer.",
            "format": "int32",
            "example": 0
          },
          "address": {
            "type": "string",
            "description": "Home address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "birthday": {
            "type": "object",
            "properties": {
              "year": {
                "type": "integer",
                "description": "Year of birth.",
                "format": "int32",
                "example": 0
              },
              "month": {
                "type": "integer",
                "description": "Month of birth.",
                "format": "int32",
                "example": 0
              },
              "dayOfMonth": {
                "type": "integer",
                "description": "Day of the month for the birthday.",
                "format": "int32",
                "example": 0
              }
            },
            "description": "Consumer's date of birth."
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the consumer was created.",
            "format": "int32",
            "example": 0
          },
          "suffix": {
            "type": "string",
            "description": "Suffix of the consumer's name, if applicable.",
            "example": "string"
          },
          "endUser": {
            "description": "Details of the end user related to the consumer.",
            "$ref": "#/components/schemas/EndUser"
          }
        },
        "description": "Represents a consumer's personal details."
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Represents an end user's details associated with the consumer."
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the report.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "Portfolio identifier to which the report belongs.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the report.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the report was created.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Represents a report generated for the portfolio."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information accompanying the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint used in this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-path-param-port-folio-id"
        },
        "example": "open-finance-api-get-portfolio-by-path-param-port-folio-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token must be included in the `Authorization` header of the HTTP request in the format: `Authorization: Bearer <token>`. The token is typically a JSON Web Token (JWT) which contains encoded information about the user and may also include expiration and other relevant data.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}