{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Evaluation Retrieval API",
    "description": "The Employee Evaluation Retrieval API enables users to access evaluations of employees within an organization. This allows human resource professionals and managers to review and assess employee performance systematically. Utilizing this API, companies can streamline their evaluation processes, providing insights into employee strengths and areas for improvement. Typical use cases include generating reports for performance reviews and facilitating talent management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve employee evaluation details.",
        "description": "This endpoint allows you to fetch detailed evaluations of employees within the human resource management system. You can use this information to assess employee performance and identify areas for improvement.",
        "operationId": "getEmployeeEvaluation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve employee evaluation details in the human resource management system. It should contain the necessary parameters that define the evaluation criteria being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of employee evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeEvaluationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeEvaluationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the employee evaluation operation in the Human Resource Management system. The content is expected to be a JSON string.",
        "example": "{}"
      },
      "GetEmployeeEvaluationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee evaluation records.",
            "example": [
              {
                "employeeId": "EMP-204408",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeEvaluation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for employee evaluations in the Human Resource Management system.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-204408",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3b8da60c-f6bf-5840-931b-b83db78bc6c4",
            "correlationId": "7cebfba3-c86c-5d28-9f81-92795690b168",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeEvaluation": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the employee's assignment.",
            "example": "98765"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the employee's department.",
            "example": "54321"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the evaluation becomes effective.",
            "format": "date",
            "example": 1696118400000
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code of the country where the employee works.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment, e.g., Full-time, Part-time.",
            "example": "Full-time"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "67890"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "Headquarters"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the evaluation record, e.g., Active, Inactive.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "format": "date-time",
            "example": 1696941296.0
          }
        },
        "description": "Schema representing an employee's evaluation record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "corr-abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "format": "date-time",
            "example": 1696941296.0
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier associated with the API endpoint, which helps track requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-search-employee-evaluation"
        },
        "example": "employee-evaluation-search-employee-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request, providing context about the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}