{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Sale By Param1-spec",
    "description": "This API provides access to commission agreement details by utilizing a specified parameter. It enables users to retrieve information related to sales commissions, streamlining the process of reviewing or validating agreements. Typical consumers of this API include sales teams and financial analysts who need to confirm commission structures for specific transactions. By leveraging this endpoint, businesses can ensure accurate commission calculations and improve operational transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement/{param1}": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve Commission Agreement Details",
        "description": "Fetch the commission agreement details for a specific resource identified by RES-100045. This endpoint allows users to access comprehensive data related to the sales commission agreements, including terms and conditions.",
        "operationId": "getSaleByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the commission agreement details for the provided resource ID. Ensure that the necessary parameters are included in the request for valid responses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSaleByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the commission agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSaleByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSaleByParam1Request": {
        "type": "string",
        "description": "A JSON string that represents the request body for the commission agreement operation.",
        "example": "{}"
      },
      "GetSaleByParam1Response_200": {
        "title": "Commission Agreement Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the commission agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the sale was made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the account.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected value related to the commission agreement.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "The identifier of the salesperson associated with the commission agreement.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "The identifier for the commission plan applicable to this agreement.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "The revenue that is eligible for commission calculation.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the commission agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the commission agreement.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object representing the commission agreement details.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "97c3d1db-df88-5c6a-991c-8e9878b90267",
            "correlationId": "e3fe067f-643b-5866-ac96-b144165b7aae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money that is expected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code representing the currency of the expected amount.",
            "example": "string"
          }
        },
        "description": "Represents the expected monetary value associated with the commission agreement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to trace the request across different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was performed.",
            "example": "string"
          }
        },
        "description": "Contains metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-get-commission-agreement"
        },
        "example": "commission-agreement-get-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that executed the request and provides performance metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a JSON Web Token (JWT) for bearer authentication. Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}