{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Models Fraud Model-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Models Fraud Model-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/fraud-model": {
      "post": {
        "operationId": "createBankingModelsFraudModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingModelsFraudModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingModelsFraudModelResponse_201"
                }
              }
            }
          },
          "422": {
            "description": "422Description",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingModelsFraudModelResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingModelsFraudModelResponse_201": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "example": "PORT-143856"
          },
          "transactionId": {
            "type": "string",
            "example": "TXN-910134"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-586299"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "FhzdwJbDqLIJUVGuObGzsN8kaHN1eME49NIq"
              },
              "correlationId": {
                "type": "string",
                "example": "KWwSiIFIaddcMXw1gL0eHNIHImJVY0w3VRAk"
              },
              "generatedAt": {
                "type": "string",
                "example": "JRXD8phvy0RYQXAcP6dt"
              },
              "processingRegion": {
                "type": "string",
                "example": "BblHUDVBH"
              }
            },
            "example": {
              "responseId": "b38d5bf8-ba10-55f7-9e3b-336f12950ee7",
              "correlationId": "c677b92b-d676-5896-9d29-d5155deeb61a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-143856",
          "transactionId": "TXN-910134",
          "resourceId": "RES-586299",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b38d5bf8-ba10-55f7-9e3b-336f12950ee7",
            "correlationId": "c677b92b-d676-5896-9d29-d5155deeb61a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreateBankingModelsFraudModelRequest": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "example": "PORT-600178"
          },
          "asOfDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "example": "TXN-374907"
          },
          "riskScore": {
            "type": "number",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "HfRu54zauPONo4C6SMHNmWwmr57ORq5Br9SI"
              },
              "correlationId": {
                "type": "string",
                "example": "NuPxEicUXgH46QR3ngjNRrF8fjN19FDRSZIt"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "jSm67vGYIYM98UoTgwkOyGDWMLaE9XvpcDnc"
              },
              "requestedAt": {
                "type": "string",
                "example": "oFwGOVD6Ra1CFEIMyYnj"
              },
              "sourceSystem": {
                "type": "string",
                "example": "8B'aBO-%<D!?d%o"
              },
              "sourceApplication": {
                "type": "string",
                "example": "gOSlzA^d4^"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "BuBbbpF92"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "uonyom"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "UK1X7JLJzX"
                  }
                },
                "example": "{\n  \"channelId\" : \"BuBbbpF92\",\n  \"channelType\" : \"uonyom\",\n  \"deviceId\" : \"UK1X7JLJzX\"\n}"
              }
            },
            "example": {
              "requestId": "1421aea9-0336-5ae1-a4da-fd076a461739",
              "correlationId": "c677b92b-d676-5896-9d29-d5155deeb61a",
              "idempotencyKey": "16ee11fe-5db6-5d3b-8099-6c8acb07332e",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-973822"
              }
            }
          }
        },
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-600178",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "transactionId": "TXN-374907",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "requestContext": {
            "requestId": "1421aea9-0336-5ae1-a4da-fd076a461739",
            "correlationId": "c677b92b-d676-5896-9d29-d5155deeb61a",
            "idempotencyKey": "16ee11fe-5db6-5d3b-8099-6c8acb07332e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-973822"
            }
          }
        }
      },
      "CreateBankingModelsFraudModelResponse_422": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "example": "af275832-840e-44fe-8a44-afe09013af82"
          },
          "message": {
            "type": "string",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "example": "WF-050"
          },
          "code": {
            "type": "string",
            "example": "RISK_REVIEW_REJECTED"
          }
        },
        "example": {
          "correlationId": "af275832-840e-44fe-8a44-afe09013af82",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-050",
          "code": "RISK_REVIEW_REJECTED"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-model-create-fraud-model"
        },
        "example": "fraud-model-create-fraud-model"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-050"
        },
        "example": "WF-050"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Financial Crime Model Review and Deployment"
        },
        "example": "Financial Crime Model Review and Deployment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2a9470a2-ff4a-420c-8a6e-1c0a9939a672"
        },
        "example": "2a9470a2-ff4a-420c-8a6e-1c0a9939a672"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}