{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation API",
    "description": "The Funds Confirmation API enables users to verify the availability of funds for international scheduled payments. This API plays a critical role in the open banking ecosystem by providing payment initiation service providers (PISPs) with the ability to ensure that sufficient funds exist before proceeding with payment actions. It streamlines the payment process for consumers and businesses by enhancing certainty and reducing the likelihood of payment failures due to insufficient funds. Typical consumers include financial institutions and third-party payment services looking to enhance their payment workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Retrieve funds confirmation for an international scheduled payment consent.",
        "description": "This endpoint allows you to check the funds availability for the specified international scheduled payment consent identified by its unique reference. It ensures that the necessary funds are present before proceeding with further transaction steps.",
        "operationId": "getFundsConfirmationForScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for confirming funds availability related to the specified international scheduled payment consent. This body should adhere to the defined schema structure to ensure all necessary information is provided accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationForScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of funds confirmation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationForScheduledPaymentConsentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationForScheduledPaymentConsentRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for funds confirmation in the context of international scheduled payment consents.",
        "example": "{}"
      },
      "GetFundsConfirmationForScheduledPaymentConsentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FundsAvailableResult": {
                "$ref": "#/components/schemas/FundsAvailableResult"
              }
            },
            "description": "Holds the main data related to funds confirmation.",
            "example": {
              "FundsAvailableResult": {
                "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
                "FundsAvailable": true
              }
            }
          },
          "Links": {
            "description": "Contains navigation links related to the funds confirmation response.",
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "description": "Contains metadata for the funds confirmation response.",
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "description": "Holds additional metadata about the API response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the funds confirmation operation in the international scheduled payment consents API.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "e1c718da-034b-5d1a-9908-a9cb4efe59a8",
            "correlationId": "873304ac-0869-5e54-a92e-18d8e5998cf7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsAvailableResult": {
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the funds availability was checked.",
            "example": "2023-10-05T14:30:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether the funds are available.",
            "example": false
          }
        },
        "description": "Schema for the result of the funds availability check."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/funds-confirmation/self"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of the resources.",
            "example": "https://api.example.com/funds-confirmation/first"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of the resources.",
            "example": "https://api.example.com/funds-confirmation/prev"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of the resources.",
            "example": "https://api.example.com/funds-confirmation/next"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of the resources.",
            "example": "https://api.example.com/funds-confirmation/last"
          }
        },
        "description": "Schema for navigation links in the response."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available in the response.",
            "format": "int32",
            "example": 3
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the first fund confirmation is available.",
            "example": "2023-10-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the last fund confirmation is available.",
            "example": "2023-10-15T23:59:59Z"
          }
        },
        "description": "Schema for metadata regarding pagination and resource availability."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across multiple services.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T14:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint handling the request, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-international-scheduled-funds"
        },
        "example": "payment-initiation-openapi-confirm-international-scheduled-funds"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request, which can help identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure API access. This method allows clients to authenticate by including a bearer token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}