{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Paystatement-spec",
    "description": "The Customer Paystatement Management API allows businesses to create and manage pay statements for their customers efficiently. This endpoint supports the generation of pay statements based on customer-specific data, facilitating accurate financial communications. Common users of this API include finance departments and billing service providers who need to generate periodic pay statements for customer accounts. By utilizing this API, organizations can streamline their billing processes and enhance customer service through timely and accurate pay statement deliveries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/paystatements": {
      "post": {
        "tags": [
          "Customer Operations"
        ],
        "summary": "Create a new pay statement for a specific customer.",
        "description": "This operation allows you to generate a new pay statement for the customer identified by CUST-100045. Ensure that all mandatory information is provided in the request body to create the pay statement successfully.",
        "operationId": "createCustomerPaystatement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit pay statements for the customer identified by CUST-100045. It should include all necessary details regarding the pay statements being processed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerPaystatementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerPaystatementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerPaystatementRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "A label to categorize the pay statement.",
            "example": "STANDARD"
          },
          "statement": {
            "type": "string",
            "description": "The content of the pay statement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Details about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating pay statements for a specific customer.",
        "example": {
          "label": "STANDARD",
          "statement": "STANDARD",
          "requestContext": {
            "requestId": "7d8ecb50-c2a7-5845-bb5d-2fc39e345642",
            "correlationId": "713afa3f-3935-504c-9598-ae4c047de718",
            "idempotencyKey": "dc2002e0-3b2e-54fa-a9e2-92419b216afb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-114574"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency in request processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifying information and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information used for customer interactions."
      },
      "CreateCustomerPaystatementResponse_200": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Information related to the response's metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the pay statements operation for customer CUST-100045.",
        "example": {
          "assetId": "STANDARD",
          "metadata": {
            "responseId": "caefa511-085c-5a31-b9b8-276339f4eb5f",
            "correlationId": "713afa3f-3935-504c-9598-ae4c047de718",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains various metadata attributes related to the request and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. It should represent the particular operation instance and is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-store-customer-pay-statement"
        },
        "example": "open-finance-api-store-customer-pay-statement"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application responsible for processing the request. This helps in identifying which part of the system handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token formatted as a JSON Web Token (JWT). This token should be included in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}