{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intent Creation API",
    "description": "The Payment Intent Creation API facilitates the generation of payment intents for transactions. This endpoint allows merchants to initiate the payment process for customers, ensuring a secure and seamless financial transaction. Typical use cases include e-commerce platforms and service providers who require reliable payment handling. By utilizing this API, developers can efficiently manage the lifecycle of payment intents, enhancing user experience and operational flow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a new payment intent.",
        "description": "This endpoint allows you to create a new payment intent which can be used to initiate a payment process. Make sure to include all required parameters to successfully create a payment intent.",
        "operationId": "createPaymentIntent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new payment intent. It contains the necessary details required for processing the payment, including amount, currency, and payment method information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new payment intent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentIntentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentIntentRequest": {
        "title": "PaymentIntentsRequest",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant.",
            "example": "MER-260392"
          },
          "outletId": {
            "type": "string",
            "description": "The identifier of the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier of the terminal.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount to be processed.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The payment channel used for the transaction.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "A list of allowed payment methods.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details of the order being processed.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for creating payment intents.",
        "example": {
          "merchantId": "MER-260392",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-702883",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "e5bcf18e-0801-5744-ba21-1287037d8786",
            "correlationId": "e9b0cfe6-187c-5736-b2f4-aa171e3609c0",
            "idempotencyKey": "d83f9255-a31a-5ccd-98ad-cc874980daa6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-272517"
            }
          }
        }
      },
      "PaymentAmount": {
        "title": "PaymentAmount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the payment amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the payment amount.",
            "example": "100.00"
          }
        },
        "description": "Details of the payment amount including currency and value."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_123456"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "low"
          }
        },
        "description": "Represents the customer information."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the order created by the merchant.",
            "example": "order_123456"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Order description"
          },
          "items": {
            "type": "array",
            "description": "List of items in the order.",
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "Unique identifier for the item.",
                  "example": "item_123456"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item.",
                  "example": "Product 1"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the item.",
                  "example": "Description of Product 1"
                },
                "quantity": {
                  "type": "string",
                  "description": "Quantity of the item ordered.",
                  "example": "2"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/Amount"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/Amount"
                }
              }
            }
          }
        },
        "description": "Details of the order associated with the payment."
      },
      "OrderItem": {
        "title": "OrderItem",
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "The unique identifier for the item.",
            "example": "ITEM123"
          },
          "name": {
            "type": "string",
            "description": "The name of the item.",
            "example": "Laptop"
          },
          "description": {
            "type": "string",
            "description": "A description of the item.",
            "example": "High performance laptop"
          },
          "quantity": {
            "type": "string",
            "description": "The quantity of the item ordered.",
            "example": "1"
          },
          "unitPrice": {
            "description": "The price per unit of the item.",
            "$ref": "#/components/schemas/UnitPrice"
          }
        },
        "description": "An item within an order."
      },
      "UnitPrice": {
        "title": "UnitPrice",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the price.",
            "example": "USD"
          }
        },
        "description": "The price details of an item including currency."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier of the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotency of requests.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "PaymentApp"
          },
          "channel": {
            "description": "Information about the channel used for the transaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel.",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used.",
            "example": "DEVICE123"
          }
        },
        "description": "Details about the channel used for the transaction."
      },
      "CreatePaymentIntentResponse_201": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the payment.",
            "example": "MER-292211"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the payment is being processed.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used in the transaction.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Total amount of the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "Amount that has been authorized for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "Amount that has been captured from the authorized transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "Amount that has been refunded from the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment is processed.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the payment method selected by the customer.",
            "$ref": "#/components/schemas/SelectedPaymentMethod"
          },
          "customer": {
            "description": "Details about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details of the order related to the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Metadata related to the transaction response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of a payment intent.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-292211",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-356",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-540394",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "1c4ab927-6d32-5be1-8d49-f4a063d614f5",
            "correlationId": "e9b0cfe6-187c-5736-b2f4-aa171e3609c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Three-letter currency code (ISO 4217).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents the monetary amount including currency and value."
      },
      "SelectedPaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "tok_123456789"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer of the payment method.",
            "example": "ABC123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method for security.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet if applicable.",
            "example": "Visa"
          }
        },
        "description": "Details of the selected payment method."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response of the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-payment-intent"
        },
        "example": "banking-p2m-openapi-create-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication mechanism, which requires a valid JSON Web Token (JWT) to access protected resources. Clients must include the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}