{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Information Retrieval API",
    "description": "The Branch Information Retrieval API provides access to detailed information about bank branches involved in open banking initiatives. This API allows users to query branch data, including locations, services offered, and operational details. It is designed for developers working with financial services and integrating branch-related functionalities into their applications. Typical consumers include banking apps and fintech platforms looking to enhance user experiences with accurate branch information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/branches": {
      "get": {
        "tags": [
          "Banking Services"
        ],
        "summary": "Retrieve a list of bank branches.",
        "description": "This endpoint allows users to retrieve a comprehensive list of bank branches, providing essential information such as locations, contact details, and services offered. This is useful for customers looking to visit or contact a specific branch.",
        "operationId": "getOpenBankingBranches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving branch information from the open banking API. This body must be formatted as JSON and conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOpenBankingBranchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of branches.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpenBankingBranchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOpenBankingBranchesRequest": {
        "type": "string",
        "description": "A placeholder for the request body in JSON format for operations related to opening banking branches.",
        "example": "{}"
      },
      "GetOpenBankingBranchesResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "Array of branch data.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-667",
                    "TrademarkID": "STANDARD"
                  }
                },
                "BranchName": "Northstar Banking Service",
                "BranchIdentification": "STANDARD",
                "BranchType": "FULL_SERVICE",
                "Address": {
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumberOrName": "Northstar Banking Service",
                  "PostCode": "CODE-537",
                  "OptionalAddressField": "STANDARD",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD"
                },
                "BranchDescription": "STANDARD",
                "BranchPhoto": "https://example.com/resource",
                "TelephoneNumber": "+1-212-555-0147",
                "AlternatePhone": [
                  {
                    "AlternateTelephoneNumber": "+1-212-555-0147",
                    "description": "Customer banking request processed successfully"
                  }
                ],
                "FaxNumber": [
                  "STANDARD"
                ],
                "GeographicLocation": {
                  "Latitude": "STANDARD",
                  "Longitude": "STANDARD"
                },
                "DaysOfTheWeek": "STANDARD",
                "StopName": "Northstar Banking Service",
                "ArrivalTime": "STANDARD",
                "DepartureTime": "STANDARD",
                "ParkingLocation": "STANDARD",
                "OpeningTimes": [
                  {
                    "OpeningDay": "STANDARD",
                    "OpeningTime": "STANDARD"
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operations on branches in the Open Banking API.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-667",
                  "TrademarkID": "STANDARD"
                }
              },
              "BranchName": "Northstar Banking Service",
              "BranchIdentification": "STANDARD",
              "BranchType": "FULL_SERVICE",
              "Address": {
                "StreetName": "Northstar Banking Service",
                "BuildingNumberOrName": "Northstar Banking Service",
                "PostCode": "CODE-537",
                "OptionalAddressField": "STANDARD",
                "TownName": "Northstar Banking Service",
                "CountrySubDivision": "STANDARD",
                "Country": "STANDARD"
              },
              "BranchDescription": "STANDARD",
              "BranchPhoto": "https://example.com/resource",
              "TelephoneNumber": "+1-212-555-0147",
              "AlternatePhone": [
                {
                  "AlternateTelephoneNumber": "+1-212-555-0147",
                  "description": "Customer banking request processed successfully"
                }
              ],
              "FaxNumber": [
                "STANDARD"
              ],
              "GeographicLocation": {
                "Latitude": "STANDARD",
                "Longitude": "STANDARD"
              },
              "DaysOfTheWeek": "STANDARD",
              "StopName": "Northstar Banking Service",
              "ArrivalTime": "STANDARD",
              "DepartureTime": "STANDARD",
              "ParkingLocation": "STANDARD",
              "OpeningTimes": [
                {
                  "OpeningDay": "STANDARD",
                  "OpeningTime": "STANDARD"
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "9909b4d0-bbb4-56df-ab59-22f9f2ccb5b0",
            "correlationId": "9ecf7e21-9e87-5449-b846-8eb23769b490",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The last updated timestamp of the data.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned.",
            "format": "int32",
            "example": 5
          },
          "Agreement": {
            "type": "string",
            "description": "Details of the agreement for data usage.",
            "example": "Terms agreed upon for data usage."
          },
          "License": {
            "type": "string",
            "description": "License information for accessing the data.",
            "example": "License agreement details."
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the data provided.",
            "example": "Conditions under which the data can be used."
          }
        },
        "description": "Meta information about the response."
      },
      "Branch": {
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "BranchName": {
            "type": "string",
            "description": "Name of the branch.",
            "example": "Main Branch"
          },
          "BranchIdentification": {
            "type": "string",
            "description": "Identification code of the branch.",
            "example": "BR123456"
          },
          "BranchType": {
            "type": "string",
            "description": "Type of the branch (e.g., retail, commercial).",
            "example": "Retail"
          },
          "Address": {
            "$ref": "#/components/schemas/Address"
          },
          "BranchDescription": {
            "type": "string",
            "description": "Description of the branch.",
            "example": "This branch services personal banking customers."
          },
          "BranchPhoto": {
            "type": "string",
            "description": "URL to the branch photo.",
            "example": "http://example.com/branch.jpg"
          },
          "TelephoneNumber": {
            "type": "string",
            "description": "Primary telephone number for the branch.",
            "example": "+1234567890"
          },
          "AlternatePhone": {
            "type": "array",
            "description": "List of alternate phone numbers for the branch.",
            "items": {
              "$ref": "#/components/schemas/AlternatePhone"
            }
          },
          "FaxNumber": {
            "type": "array",
            "description": "List of fax numbers for the branch.",
            "items": {
              "type": "string",
              "example": "fax@example.com"
            }
          },
          "GeographicLocation": {
            "$ref": "#/components/schemas/GeographicLocation"
          },
          "DaysOfTheWeek": {
            "type": "string",
            "description": "Operating days of the branch.",
            "example": "Monday to Friday"
          },
          "StopName": {
            "type": "string",
            "description": "The public transport stop nearest to the branch.",
            "example": "Main Street Stop"
          },
          "ArrivalTime": {
            "type": "string",
            "description": "Time of arrival for public transport to the branch.",
            "example": "08:00 AM"
          },
          "DepartureTime": {
            "type": "string",
            "description": "Time of departure for public transport from the branch.",
            "example": "05:00 PM"
          },
          "ParkingLocation": {
            "type": "string",
            "description": "Description of the parking location near the branch.",
            "example": "Parking lot adjacent to the branch."
          },
          "OpeningTimes": {
            "type": "array",
            "description": "Array of the branch's opening times.",
            "items": {
              "$ref": "#/components/schemas/OpeningTime"
            }
          }
        },
        "description": "Details of a branch in the banking system."
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Details about the organization that operates the branches."
      },
      "ParentOrganisation": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the parent organization.",
            "example": "LEI123456789"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code of the parent organization.",
            "example": "BANKUS33"
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Details of the parent organization."
      },
      "OrganisationName": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "Legal name of the organization.",
            "example": "Bank of Example"
          }
        },
        "description": "Name of the organization."
      },
      "Brand": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark registration code.",
            "example": "TRD12345"
          },
          "TrademarkID": {
            "type": "string",
            "description": "ID of the trademark.",
            "example": "TM123456789"
          }
        },
        "description": "Brand details associated with the organization."
      },
      "Address": {
        "type": "object",
        "properties": {
          "StreetName": {
            "type": "string",
            "description": "Street name of the address.",
            "example": "123 Example St"
          },
          "BuildingNumberOrName": {
            "type": "string",
            "description": "Building number or name.",
            "example": "Building A"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "12345"
          },
          "OptionalAddressField": {
            "type": "string",
            "description": "Any optional field for additional address information.",
            "example": "Near the central park."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "Example Town"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country.",
            "example": "State or Province"
          },
          "Country": {
            "type": "string",
            "description": "Country name.",
            "example": "Exampleland"
          }
        },
        "description": "Address details of the branch."
      },
      "AlternatePhone": {
        "type": "object",
        "properties": {
          "AlternateTelephoneNumber": {
            "type": "string",
            "description": "The alternate telephone number.",
            "example": "+9876543210"
          },
          "description": {
            "type": "string",
            "description": "Description of the alternate telephone number.",
            "example": "Customer service number."
          }
        },
        "description": "Details of an alternate phone number for the branch."
      },
      "GeographicLocation": {
        "type": "object",
        "properties": {
          "Latitude": {
            "type": "string",
            "description": "Latitude of the branch location.",
            "example": "34.0522"
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude of the branch location.",
            "example": "-118.2437"
          }
        },
        "description": "Geographic coordinates of the branch."
      },
      "OpeningTime": {
        "type": "object",
        "properties": {
          "OpeningDay": {
            "type": "string",
            "description": "Day of the week the branch is open.",
            "example": "Monday"
          },
          "OpeningTime": {
            "type": "string",
            "description": "Time the branch opens.",
            "example": "09:00 AM"
          }
        },
        "description": "Details of the branch's opening time for a specific day."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-EAST"
          }
        },
        "description": "Additional metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-branches"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-branches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where a JWT (JSON Web Token) is included in the Authorization header of the HTTP request. It is commonly used to verify the authenticity of a user's identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}