{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Product Eligibilities-spec",
    "description": "The Customer Management Product Eligibility API enables organizations to access and evaluate customer eligibility for various banking products. This API serves as a critical resource for financial service providers looking to improve decision-making processes and enhance customer experiences. Typical consumers of this API may include customer service representatives, banking applications, and financial advisors who need to determine product suitability based on customer profiles. By providing detailed eligibility information, this API supports informed product recommendations and streamlined customer interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/product-eligibilities": {
      "get": {
        "tags": [
          "Product Eligibility"
        ],
        "summary": "Retrieve product eligibility information.",
        "description": "This endpoint allows you to fetch eligibility details for products associated with customers. It helps in determining which products a customer qualifies for based on predefined criteria.",
        "operationId": "listCustomerManagementProductEligibilities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve product eligibility information for customers. It enables the client to specify the parameters necessary to filter and obtain the relevant product eligibility data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementProductEligibilitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved product eligibility information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementProductEligibilitiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementProductEligibilitiesRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching product eligibility in the customer management system.",
        "example": "{}"
      },
      "ListCustomerManagementProductEligibilitiesResponse_200": {
        "title": "Product Eligibility Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of product eligibility items.",
            "example": [
              {
                "customerId": "CUST-498516",
                "partyId": "PARTY-985592",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductEligibilityItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the product eligibility query in the customer management operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-498516",
              "partyId": "PARTY-985592",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b49bf26a-d81b-5ac1-8447-d203ebdb9b37",
            "correlationId": "3cf04423-0ec8-5423-8c60-dea9909b97c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductEligibilityItem": {
        "title": "Product Eligibility Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer."
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party associated with the product eligibility."
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product for which eligibility is being assessed."
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the eligibility is effective."
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier representing the customer's relationship level."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the eligibility record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the eligibility record was last updated."
          }
        },
        "description": "Represents an individual product eligibility item associated with a customer."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Contains pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-product-and-service-eligibility-search-customer-product-and-service-eligibility"
        },
        "example": "customer-product-and-service-eligibility-search-customer-product-and-service-eligibility"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security schema utilizes the Bearer authentication method, where a JSON Web Token (JWT) is used to authenticate the user. Clients must include the token in the authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}