{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Supplier Agreements Management API",
    "description": "The Supplier Agreements Management API facilitates the establishment and management of supplier agreements within the banking sector. This API enables businesses to initiate new agreements with external agencies, ensuring compliance with industry regulations and internal policies. Typical consumers include procurement teams and financial institutions that require streamlined processes for contract management. With functionalities to create and customize supplier agreements, the API supports efficient collaboration and oversight of supplier relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/supplier-agreements": {
      "post": {
        "tags": [
          "Supplier Agreements"
        ],
        "summary": "Create a new supplier agreement for an external agency.",
        "description": "This endpoint allows users to create a new supplier agreement associated with an external agency. Ensure that all required fields are filled out correctly to successfully register the agreement.",
        "operationId": "createExternalAgencySupplierAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new supplier agreement with an external agency. It must include all the necessary details about the supplier and the terms of the agreement. Make sure to follow the schema structure as defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencySupplierAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The supplier agreement has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencySupplierAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencySupplierAgreementRequest": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the supplier agreement.",
            "example": "AGR-501800"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the financial institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the agreement is applicable.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the supplier agreement becomes effective.",
            "example": "2026-09-15"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The purchase order identifier associated with the supplier agreement.",
            "example": "ORD-992418"
          },
          "categoryCode": {
            "type": "string",
            "description": "The category code for the types of goods or services provided.",
            "example": "CODE-959"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The level of approval required for the supplier agreement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating supplier agreements under the external agency operations.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-501800",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "purchaseOrderId": "ORD-992418",
          "categoryCode": "CODE-959",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "2be9e7c8-c436-5956-b485-72e277c583d9",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "idempotencyKey": "4b78e7b8-dae4-52b7-8834-4ca4223b0f92",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-263617"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate multiple requests.",
            "example": "corr-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is initiated.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel used to initiate the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request context including identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used in the channel.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel from which the request is made."
      },
      "CreateExternalAgencySupplierAgreementResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-694888"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 code of the country.",
            "example": "US"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The unique identifier for the associated purchase order.",
            "example": "ORD-809555"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the agreement.",
            "example": "RES-887652"
          },
          "status": {
            "type": "string",
            "description": "The current status of the agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Supplier Agreements API under the external agency operations. It contains details about the agreement, institution, and related metadata.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-694888",
          "countryCode": "US",
          "purchaseOrderId": "ORD-809555",
          "resourceId": "RES-887652",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "594e65bd-002f-55c4-9c12-3640d94a8eb6",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata details related to the supplier agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
        },
        "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, typically a JSON Web Token (JWT). This method is often used for authorization in web applications and APIs, allowing clients to securely access resources after being authenticated.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}