{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Travel Expense Management API",
    "description": "The Travel Expense Management API enables organizations to efficiently update and manage employee travel expense reports. Utilizing this endpoint, financial and human resources teams can modify existing entries to reflect changes in employee travel expenditures. This is particularly beneficial for managing reimbursements, tracking company spending on travel, and ensuring compliance with corporate policies. Typical users include finance professionals, HR staff, and travel administrators who rely on real-time data for budgeting and reporting. Enhance your travel budgeting processes by seamlessly updating expense data with this API.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses/{param1}": {
      "patch": {
        "tags": [
          "Travel Expense Management"
        ],
        "summary": "Update Travel Expense Details",
        "description": "This endpoint allows you to update the details for a specific travel expense identified by the unique resource ID. Modify relevant fields as necessary to keep the records accurate and up-to-date.",
        "operationId": "updateTravelExpenseRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates travel expense details for a specific resource. This request body should contain the necessary fields to modify the existing travel expense record identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTravelExpenseRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the travel expenses were updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTravelExpenseRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTravelExpenseRes100045Request": {
        "title": "Travel Expenses Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/TravelExpenseChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the individual requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating travel expenses in the system. It includes details about the changes requested and relevant metadata.",
        "example": {
          "changes": {
            "expenseReportId": "STANDARD",
            "employeeId": "EMP-923206",
            "tripPurpose": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9aa9afc2-256d-5630-a3c9-652de45f7a25",
            "correlationId": "0547f6e7-fead-5590-816c-f38f075fd75b",
            "idempotencyKey": "d66fa20a-98d5-5d73-8323-da05011ea9bb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-928868"
            }
          }
        }
      },
      "TravelExpenseChanges": {
        "title": "Travel Expense Changes",
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report being changed.",
            "example": "EXP-12345"
          },
          "employeeId": {
            "type": "string",
            "description": "Identifier for the employee associated with the expense report.",
            "example": "EMP-67890"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip for which the expenses are being reported.",
            "example": "Business meeting"
          }
        },
        "description": "Schema for the changes related to a travel expense report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "CORR-09876"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "IDEM-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-10T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request is made.",
            "example": "ExpenseManager"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for making the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV-123456789"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "UpdateTravelExpenseRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on travel expenses in the human resource management system.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a1414766-c2f6-5bd8-bb2f-c60780c08766",
            "correlationId": "0547f6e7-fead-5590-816c-f38f075fd75b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate with other related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request. This can be useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-update-travel-and-expenses"
        },
        "example": "travel-and-expenses-update-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This helps in identifying which microservice or application is handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a bearer token in the authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}