{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Equipment Maintenance Management API",
    "description": "The Equipment Maintenance Management API facilitates the retrieval of information related to the maintenance status and history of banking facilities' equipment. This endpoint allows users to access detailed maintenance records for specific equipment, ensuring timely insights into operational readiness. Typical consumers of this API include facility managers, maintenance teams, and financial institutions aiming to enhance equipment reliability and performance. By leveraging this API, organizations can streamline their maintenance operations and improve decision-making regarding asset management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{param1}": {
      "get": {
        "tags": [
          "Equipment Management"
        ],
        "summary": "Retrieve equipment maintenance details",
        "description": "This endpoint allows users to fetch detailed information about a specific equipment maintenance record using its unique identifier. It provides insights into the maintenance status, schedule, and any associated notes or issues.",
        "operationId": "getEquipmentMaintenanceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve maintenance information for the specified equipment. It contains parameters that may be necessary for filtering or controlling the response data related to the equipment's maintenance operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEquipmentMaintenanceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of equipment maintenance details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEquipmentMaintenanceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEquipmentMaintenanceByIdRequest": {
        "type": "string",
        "description": "This schema represents a JSON request body for the operations related to equipment maintenance in facilities.",
        "example": "{}"
      },
      "GetEquipmentMaintenanceByIdResponse_200": {
        "title": "Maintenance Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site where the equipment is located.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset being maintained.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order associated with the maintenance task.",
            "example": "ORD-222632"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date and time when the maintenance is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone of the facility where the maintenance is taking place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being carried out.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration for the maintenance task in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the maintenance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last time the maintenance record was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/MaintenanceMetadata"
          }
        },
        "description": "Schema representing the response for maintenance operations in facilities equipment management.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-222632",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "49447f4a-9672-58ca-881e-01276fcd37f5",
            "correlationId": "85a0ea70-ab36-5f2f-95ce-94af92c7d994",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceMetadata": {
        "title": "Maintenance Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and response.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the maintenance record took place.",
            "example": "us-east"
          }
        },
        "description": "Schema representing additional metadata related to the maintenance record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request, useful for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-get-equipment-maintenance"
        },
        "example": "equipment-maintenance-get-equipment-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name of the application instance that handled the request, aiding in identification of service versions in a distributed system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using Bearer tokens, specifically designed for handling JSON Web Tokens (JWT). Clients must include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}