{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List E Branch Operation Status-spec",
    "description": "The E-Branch Operation Status API provides real-time insights into the operational status of various e-branch services. It allows businesses to monitor and retrieve the current state of e-branch operations, facilitating proactive management and decision-making. Typical consumers of this API include banking professionals and IT teams who need to assess system availability and performance. By using this API, organizations can enhance their service reliability and user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-operations/status": {
      "get": {
        "tags": [
          "e-Branch Operations"
        ],
        "summary": "Retrieve the status of e-branch operations.",
        "description": "This endpoint allows you to fetch the current status of e-branch operations, providing insight into their availability and performance. Use this to monitor the operational health of e-branches.",
        "operationId": "listEBranchOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of specific e-branch operations. It requires a JSON formatted input that conforms to the specified schema, which outlines the necessary parameters and expected structure for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEBranchOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the status information is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEBranchOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEBranchOperationStatusRequest": {
        "title": "Channel Specific e-Branch Operations Status Request Body",
        "type": "string",
        "description": "This schema represents the request body for operations related to the status of channel-specific e-branch operations in a GET request.",
        "example": "{}"
      },
      "ListEBranchOperationStatusResponse_200": {
        "title": "Channel-Specific Branch Operations Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the branch.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operating hours of the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The total number of operations the branch can handle in a day.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "A unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of the branch (e.g., retail, service).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone in which the branch operates.",
            "example": "America/New_York"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the branch's record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the branch operations record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the branch information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the channel-specific branch operations status API.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "342371a5-07cf-5bac-a089-1813bb439a00",
            "correlationId": "15164e3a-1dcf-5032-b09c-899d5adab9a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the branch opens for operations.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the branch closes for operations.",
            "example": "17:00"
          }
        },
        "description": "Represents the operating hours of a branch."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US"
          }
        },
        "description": "Contains additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request. This helps in tracking and managing specific requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-operations-get-e-branch-operations"
        },
        "example": "e-branch-operations-get-e-branch-operations"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the operation. This aids in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens as a means of authentication. The token is in JSON Web Token (JWT) format, which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}