{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Payment By Param1-spec",
    "description": "The Payment Retrieval API allows users to fetch payment details based on a specific identifier known as param1. This capability is essential for applications requiring real-time access to financial transaction data, enabling users to verify payment statuses or details. Typical consumers of this API include banking applications, financial dashboards, and third-party integrators that need to access payment information efficiently. By leveraging this endpoint, developers can enhance transparency and improve user experiences related to financial transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-execution/{param1}": {
      "get": {
        "tags": [
          "Payment Execution"
        ],
        "summary": "Retrieve Payment Execution Details",
        "description": "Fetches the details of a specific payment execution by its unique identifier. This endpoint allows you to view the status and information associated with the payment execution.",
        "operationId": "getPaymentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the execution details of a specific payment identified by PAY-300045. The request should include the necessary parameters formatted in JSON to ensure accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment execution details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentByParam1Request": {
        "type": "string",
        "description": "The request body for the payment execution operation identified by PAY-300045.",
        "example": "{}"
      },
      "GetPaymentByParam1Response_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-996520"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor.",
            "example": "ACC-728203"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor.",
            "example": "ACC-870702"
          },
          "instructedAmount": {
            "description": "The amount specified for the payment transaction.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the payment, often used for remittance purposes.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "The payment rail (payment method) used for executing the payment.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who bears the transaction charge.",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "A code that indicates the purpose of the payment.",
            "example": "CODE-515"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the payment information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment execution.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a payment execution request, which includes the details of the payment made.",
        "example": {
          "paymentId": "PAY-996520",
          "debtorAccountId": "ACC-728203",
          "creditorAccountId": "ACC-870702",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-515",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7367ad6a-57bd-5a4c-ae79-e992083bd8dd",
            "correlationId": "2166f798-b0a1-5948-b69c-0a3a346b14d3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The specific amount to be transferred.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency specified for the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the payment request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment processing occurs.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information regarding the payment execution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This should match the identifier defined in the API documentation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-execution-get-payment-execution"
        },
        "example": "payment-execution-get-payment-execution"
      },
      "X-Runtime-App": {
        "description": "A string indicating the application responsible for processing the request. This may be useful for tracing requests back to the originating application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where the client must present a valid JSON Web Token (JWT) for authorization. The JWT must be included in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}