{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Internal Bank Accounts-spec",
    "description": "The Retrieve Internal Bank Accounts API allows users to access the internal bank accounts managed by the operational service. This endpoint serves financial institutions or internal departments that need to view account details for operational purposes. Key functionalities include listing account balances, statuses, and associated metadata. It is designed for developers looking to integrate banking operational data into financial applications or reporting tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account": {
      "get": {
        "tags": [
          "Banking Services"
        ],
        "summary": "Retrieve Internal Bank Account Information",
        "description": "This endpoint allows you to retrieve detailed information about internal bank accounts within the operational services. It returns relevant account details such as account number, account type, and associated bank details.",
        "operationId": "listOperationalServiceInternalBankAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about internal bank accounts through the operational services. It contains the necessary parameters in JSON format to specify the request details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceInternalBankAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the internal bank account data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceInternalBankAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceInternalBankAccountsRequest": {
        "type": "string",
        "description": "A request body representation for retrieving information about an internal bank account.",
        "example": "{}"
      },
      "ListOperationalServiceInternalBankAccountsResponse_200": {
        "title": "Internal Bank Account Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of bank account operation items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-982552",
                "accountId": "ACC-757443",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BankAccountOperation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing an array of bank account operations along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-982552",
              "accountId": "ACC-757443",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ef1cd73b-0cf0-525a-bfb3-d71cfdaefa4d",
            "correlationId": "502e0755-b4c0-546b-98c7-9684e0e077de",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BankAccountOperation": {
        "title": "Bank Account Operation",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the operation.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account involved in the operation.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the operation was requested.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the operation.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation was last updated.",
            "example": "string"
          }
        },
        "description": "An object representing a single bank account operation."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to pagination in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-search-internal-bank-account"
        },
        "example": "internal-bank-account-search-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, specifically utilizing JSON Web Tokens (JWT) as the format for the tokens. When using this scheme, clients must include a valid JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}