{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Management API",
    "description": "The Customer Management API enables businesses to manage customer data efficiently. This endpoint allows for the addition or update of customer information based on their unique identifier. Typical consumers include customer service representatives and account managers who need to maintain accurate records. By utilizing this API, organizations can ensure that their customer interactions are informed by up-to-date information, enhancing overall service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer record.",
        "description": "This operation allows you to create a new customer record in the system using the provided customer details. Ensure that all required fields are populated correctly before submitting the request.",
        "operationId": "createCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating customer CUST-100045. The provided JSON object must adhere to the defined schema and include all required fields for processing the operation successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the operation was fulfilled.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "institutionLoginId": {
            "type": "string",
            "description": "The login ID of the institution.",
            "example": "STANDARD"
          },
          "receiver": {
            "description": "Details of the receiver for the transaction.",
            "$ref": "#/components/schemas/Receiver"
          },
          "callbackUrl": {
            "type": "string",
            "description": "The URL to call back after processing the request.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the POST operation involving customer operations.",
        "example": {
          "institutionLoginId": "STANDARD",
          "receiver": {
            "routingNumber": "021000021",
            "accountNumber": "STANDARD",
            "accountType": "CHECKING",
            "name": "Northstar Banking Service",
            "memo": "STANDARD"
          },
          "callbackUrl": "https://banking.northstar.example/callbacks/status",
          "requestContext": {
            "requestId": "5e9892f1-f137-50bd-b6c5-b63f628d41e4",
            "correlationId": "018194ac-08cd-5cb5-bca5-565a84979770",
            "idempotencyKey": "5cb76455-f938-584c-9834-7dc09c56ae71",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-289765"
            }
          }
        }
      },
      "Receiver": {
        "type": "object",
        "properties": {
          "routingNumber": {
            "type": "string",
            "description": "The routing number for the receiver's bank.",
            "example": "string"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number of the receiver.",
            "example": "string"
          },
          "accountType": {
            "type": "string",
            "description": "The type of account (e.g., checking, savings).",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the receiver.",
            "example": "string"
          },
          "memo": {
            "type": "string",
            "description": "An optional memo for the transaction.",
            "example": "string"
          }
        },
        "description": "Information regarding the receiver of the funds."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application of the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateCustomerCUST100045Response_200": {
        "title": "Customer Operations Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-479395"
          },
          "status": {
            "type": "string",
            "description": "The current status of the customer's account.",
            "example": "ACTIVE"
          },
          "depositCount": {
            "type": "integer",
            "description": "The number of deposits associated with the account.",
            "format": "int32",
            "example": 1
          },
          "statusDescription": {
            "type": "string",
            "description": "A detailed description of the current status.",
            "example": "STANDARD"
          },
          "railType": {
            "type": "string",
            "description": "The type of rail used for the transactions related to this account.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer operations, detailing the account's state and additional metadata.",
        "example": {
          "accountId": "ACC-479395",
          "status": "ACTIVE",
          "depositCount": 1,
          "statusDescription": "STANDARD",
          "railType": "STANDARD",
          "metadata": {
            "responseId": "4f16354e-7053-50a7-af47-30cae308fe02",
            "correlationId": "018194ac-08cd-5cb5-bca5-565a84979770",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate the request and response.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east"
          }
        },
        "description": "Metadata details related to the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-initiate-micro-amount-deposits"
        },
        "example": "open-finance-api-initiate-micro-amount-deposits"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme using the HTTP Bearer authentication. This method requires a token in JWT format to be included in the Authorization header of requests, ensuring secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}