{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Settlement-spec",
    "description": "The P2M Settlement Management API facilitates the creation of payment-to-merchant (P2M) settlements. This endpoint allows merchants to initiate settlements for received payments, ensuring accurate and timely reconciliation of transactions. The API is primarily used by payment processors and e-commerce platforms to manage financial settlements with merchants effectively. By utilizing this API, developers can streamline their payment workflows and enhance financial reporting capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements": {
      "post": {
        "tags": [
          "Settlements"
        ],
        "summary": "Create a new settlement record.",
        "description": "This operation allows you to create a new settlement by sending the required data. Ensure that all necessary fields are included in the request to successfully create a settlement.",
        "operationId": "createP2mSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create new settlements within the system. The JSON payload must conform to the defined schema, containing all required properties with correctly formatted data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the settlement has been processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mSettlementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mSettlementRequest": {
        "title": "Settlement Request Body",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-860612"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the settlement account.",
            "example": "ACC-315973"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the settlement.",
            "example": "USD"
          },
          "includePendingAdjustments": {
            "type": "boolean",
            "description": "Flag indicating whether to include pending adjustments in the settlement.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the payload for requesting settlement operations.",
        "example": {
          "merchantId": "MER-860612",
          "settlementAccountId": "ACC-315973",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "includePendingAdjustments": true,
          "requestContext": {
            "requestId": "ba92193a-79fd-4f5e-9938-3f4f0566fd55",
            "correlationId": "924ffc5c-d754-4a84-a7d3-bcf46bc8131a",
            "idempotencyKey": "147761da-dbf0-4ef5-b577-8ee711800bf6",
            "requestedAt": "2026-08-27T23:00:36.282Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-759897"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "corr-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idemp-131415"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "SourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the source application making the request.",
            "example": "SourceAppB"
          },
          "channel": {
            "description": "Channel information through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-161718"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device-192021"
          }
        },
        "description": "Schema representing channel details of the request."
      },
      "CreateP2mSettlementResponse_201": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "The unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the settlement.",
            "example": "MER-586105"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The identifier for the settlement account.",
            "example": "ACC-452598"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement is denominated.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the settlement including detailed breakdown.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of lines/items in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference provided by the bank for the payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "The expected time of the payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "The actual time when the payout was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information regarding the creation and updates of the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response schema for creating a settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-586105",
          "settlementAccountId": "ACC-452598",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "f487dd27-7743-5236-91ae-33d6d1e3b6ab",
            "correlationId": "6d0124ef-f71c-559e-adb7-a0cd5e5ed832",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for the gross payments.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of gross payments.",
                "example": "1000.00"
              }
            }
          },
          "refunds": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for refunds.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of refunds.",
                "example": "50.00"
              }
            }
          },
          "reversals": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for reversals.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of reversals.",
                "example": "10.00"
              }
            }
          },
          "disputes": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for disputes.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of disputes.",
                "example": "5.00"
              }
            }
          },
          "fees": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for fees.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of fees.",
                "example": "20.00"
              }
            }
          },
          "taxes": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for taxes.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of taxes.",
                "example": "8.00"
              }
            }
          },
          "reserveHeld": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for held reserves.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of reserves held.",
                "example": "100.00"
              }
            }
          },
          "reserveReleased": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for released reserves.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of reserves released.",
                "example": "50.00"
              }
            }
          },
          "adjustments": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for adjustments.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of adjustments.",
                "example": "3.00"
              }
            }
          },
          "netSettlement": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency for net settlement.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "The total value of net settlement.",
                "example": "882.00"
              }
            }
          }
        },
        "description": "Summary of the settlement including detailed breakdown of payment components."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the settlement was created.",
            "example": "2023-01-31T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the settlement.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the settlement was last updated.",
            "example": "2023-01-31T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the settlement.",
            "example": "admin"
          }
        },
        "description": "Details about the creation and updates for the settlement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-31T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Contains metadata information related to the settlement response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2ab07b35e6580e1c"
        },
        "example": "2ab07b35e6580e1c"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "03c23246-378b-4afc-a0b0-e99afdaa056b"
        },
        "example": "03c23246-378b-4afc-a0b0-e99afdaa056b"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b82ca220-af0d-4783-9593-87c4e689de40"
        },
        "example": "b82ca220-af0d-4783-9593-87c4e689de40"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-settlement"
        },
        "example": "banking-p2m-openapi-create-settlement"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application in which the operation is processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow that was initiated for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-019"
        },
        "example": "WF-019"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the workflow associated with the operation.",
          "example": "Corporate Bulk Payment and Approval"
        },
        "example": "Corporate Bulk Payment and Approval"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The current state of the workflow, indicating its progress.",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the execution of the workflow.",
          "example": "2d718b44-70c8-4c27-a33a-65fe82b845ea"
        },
        "example": "2d718b44-70c8-4c27-a33a-65fe82b845ea"
      }
    }
  }
}