{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Finance Financial Statement-spec",
    "description": "The Financial Statement Management API facilitates the creation of financial statements for banking applications. Designed for finance professionals and developers, this API optimally handles the submission of various financial data, ensuring compliance and accuracy in reporting. With capabilities to support multiple financial scenarios, users can easily integrate this service into their existing systems for streamlined financial operations. Common use cases include generating financial reports, providing insights for audits, or meeting regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-statements": {
      "post": {
        "tags": [
          "Financial Management"
        ],
        "summary": "Create a new financial statement.",
        "description": "This operation allows you to create a new financial statement for your organization, capturing relevant financial data that can be used for reporting and analysis.",
        "operationId": "createFinanceFinancialStatement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit financial statement data for processing. The payload should contain the necessary details about the financial statements being submitted, following the specified schema. Ensure that the data included adheres to the expected structure to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinanceFinancialStatementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the financial statement was successfully generated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinanceFinancialStatementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinanceFinancialStatementRequest": {
        "title": "Financial Statements Request Body",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for which the statements are posted.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The monetary value associated with the financial statements.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date on which the posting is made.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting financial statements operations.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "requestContext": {
            "requestId": "1cd31f58-4995-5f5a-832c-5491f567c5bb",
            "correlationId": "ce1b758e-5915-5e2d-98f2-6f64a622dacf",
            "idempotencyKey": "0095e13a-3f78-5227-bf2b-ef28cccdb6c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-842353"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount with its value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across different systems.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the operation can be repeated without adverse effects.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that initiated the request.",
            "example": "FinanceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that created the request.",
            "example": "AccountingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the request, containing identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "CH123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the transaction.",
            "example": "DEV123456"
          }
        },
        "description": "Schema representing the communication channel information."
      },
      "CreateFinanceFinancialStatementResponse_201": {
        "title": "Financial Statement Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity associated with the financial statement.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier of the ledger that the financial statement belongs to.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource created as part of the financial statement.",
            "example": "RES-703746"
          },
          "status": {
            "type": "string",
            "description": "The current status of the financial statement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the financial statement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the financial statement response.",
            "$ref": "#/components/schemas/FinancialStatementMetadata"
          }
        },
        "description": "Response object for the financial statements operations POST request. It includes information about the financial statement's metadata and its status.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "resourceId": "RES-703746",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0866ba54-3a5c-5b91-a041-e174ca9b5251",
            "correlationId": "ce1b758e-5915-5e2d-98f2-6f64a622dacf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialStatementMetadata": {
        "title": "Financial Statement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking the request through the system.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-10-01T10:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the financial statement was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the financial statement response, providing additional contextual information."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "528003ab-6659-4e3f-b2f7-403880c78b64"
        },
        "example": "528003ab-6659-4e3f-b2f7-403880c78b64"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "aa20ce34-2351-4a5f-a018-e364778cd9c7"
        },
        "example": "aa20ce34-2351-4a5f-a018-e364778cd9c7"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statements-create-financial-statements"
        },
        "example": "financial-statements-create-financial-statements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "description": "Identifies the name of the workflow that is associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "description": "Indicates the current state of the workflow, providing insight into its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "aa20ce34-2351-4a5f-a018-e364778cd9c7"
        },
        "example": "aa20ce34-2351-4a5f-a018-e364778cd9c7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with a JSON Web Token (JWT) to verify the identity of users. When using this system, include the JWT in the Authorization header of your requests in the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}