{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Outlets-spec",
    "description": "The P2M Outlets Lookup API enables users to retrieve a comprehensive list of available outlets for P2M transactions. This functionality is crucial for applications needing to display outlet information or facilitate customer transactions across various locations. With this API, businesses can efficiently manage and showcase their network of outlets, ensuring that users have easy access to the necessary data for informed decision-making. Typical consumers of this API include retail applications, mobile payment systems, and service platforms that utilize P2M outlet services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets": {
      "get": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Retrieve a list of outlets.",
        "description": "This endpoint allows you to fetch all available outlets in the system. The response includes essential details of each outlet, helping you identify locations for further actions or inquiries.",
        "operationId": "listP2mOutlets",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve outlets. It should contain a JSON object that specifies the parameters for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mOutletsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of outlets.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mOutletsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mOutletsRequest": {
        "type": "string",
        "description": "A placeholder for the JSON request body related to the GET operations on outlets.",
        "example": "{}"
      },
      "ListP2mOutletsResponse_200": {
        "title": "Get Outlets Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Links related to the response for further navigation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "The list of outlets.",
            "example": [
              {
                "outletId": "STANDARD",
                "merchantId": "MER-970094",
                "name": "Northstar Banking Service",
                "outletType": "STANDARD",
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "stateOrProvince": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                },
                "contact": {
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "website": "https://example.com/resource"
                },
                "timezone": "America/New_York",
                "currency": "USD",
                "externalReference": "STANDARD",
                "status": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Outlet"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving a list of outlets.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "outletId": "STANDARD",
              "merchantId": "MER-970094",
              "name": "Northstar Banking Service",
              "outletType": "STANDARD",
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "stateOrProvince": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              },
              "contact": {
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "website": "https://example.com/resource"
              },
              "timezone": "America/New_York",
              "currency": "USD",
              "externalReference": "STANDARD",
              "status": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "941bb26d-f8b7-5962-91f3-efad873a58bf",
            "correlationId": "c96a6b63-a132-5251-88ac-3d5d14d83ec1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "The URL to navigate to.",
            "example": "/outlets?page=1"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use when accessing the link.",
            "example": "GET"
          }
        },
        "description": "A link object providing navigation details."
      },
      "Outlet": {
        "title": "Outlet",
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "outlet-123"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier of the merchant associated with the outlet.",
            "example": "merchant-456"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Main Outlet"
          },
          "outletType": {
            "type": "string",
            "description": "The type of outlet (e.g., retail, wholesale).",
            "example": "retail"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone of the outlet.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "The currency used by the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for the outlet.",
            "example": "ext-ref-789"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outlet.",
            "example": "active"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Represents an outlet with its details."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (if applicable).",
            "example": "Suite A"
          },
          "city": {
            "type": "string",
            "description": "The city where the outlet is located.",
            "example": "Metropolis"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province where the outlet is located.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code for the outlet.",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "description": "The country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "Represents the address details of an outlet."
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email contact of the outlet.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone contact number of the outlet.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "The website URL of the outlet.",
            "example": "http://example.com"
          }
        },
        "description": "Represents the contact information of an outlet."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the outlet was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the outlet.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the outlet was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the outlet.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the outlet.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit-related information for an outlet."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-outlets"
        },
        "example": "banking-p2m-openapi-list-outlets"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header to access protected resources. The token should be prefixed with 'Bearer ' to indicate its format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}